Repository grafana/grafana, pull requests merged in 2018-10, with the labels that each got.

#13422 cli: fix reset-admin-password
  pkg/cmd/grafana-cli/commands/commands.go
Labels: cherry-pick needed

#13481 typo in sample.ini
  conf/sample.ini
Labels: type: docs

#13509 Fix issue with updating role permissions #13507
  public/app/features/dashboard/state/actions.ts
  public/app/features/folders/state/actions.ts
Labels: cherry-pick needed

#13511 stackdriver: adds missing nginject attribute
  public/app/plugins/datasource/stackdriver/query_aggregation_ctrl.ts
  public/app/plugins/datasource/stackdriver/query_filter_ctrl.ts
Labels: cherry-pick needed

#13564 stackdriver metric name fix. Fixes #13562
  public/app/plugins/datasource/stackdriver/datasource.ts
  public/app/plugins/datasource/stackdriver/query_filter_ctrl.ts
  public/app/plugins/datasource/stackdriver/specs/datasource.test.ts
Labels: cherry-pick needed, datasource: Stackdriver

#13496 Stackdriver filter wildcards
  docs/sources/features/datasources/stackdriver.md
  pkg/tsdb/stackdriver/stackdriver.go
  pkg/tsdb/stackdriver/stackdriver_test.go
Labels: datasource: Stackdriver

#13550 ux: minor update to look of stackdriver query help
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/__snapshots__/TeamList.test.tsx.snap
  public/app/plugins/datasource/stackdriver/partials/query.editor.html
  public/sass/_variables.dark.scss
Labels: datasource: Stackdriver

#13617 fix phantomjs render of graph panel when legend displayed as table to the right
  public/sass/components/_panel_graph.scss
Labels: cherry-pick needed

#13611 Remove user form org in single org setup improvement
  pkg/api/org_users.go
  pkg/models/org_user.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/org_users.go
  pkg/services/sqlstore/user.go
Labels: comp: backend/user

#13624 Stackdriver: Prevent filter from crashing
  public/app/plugins/datasource/stackdriver/filter_segments.ts
Labels: cherry-pick needed

#13659 fix for graph time formating for Last 24h ranges
  public/app/plugins/panel/graph/graph.ts
Labels: cherry-pick needed

#13651 Make sure to add all variable nodes to directed acyclic graph (dag) before linking variables
  public/app/core/utils/dag.test.ts
  public/app/core/utils/dag.ts
  public/app/features/templating/variable_srv.ts
Labels: cherry-pick needed

#13693 A list of where to make changes when upgrading Go and Node.js
  README.md
  UPGRADING_DEPENDENCIES.md
  docs/sources/project/building_from_source.md
Labels: type: docs

#13735 docs: cleanup of how to build for docker.
  README.md
Labels: comp: docker, type: build & packaging, type: docs

#13742 fix LDAP Grafana admin logic
  pkg/login/ldap.go
Labels: cherry-pick needed

#13760 Add defaultProject to Stackdriver provisioning documentation
  docs/sources/features/datasources/stackdriver.md
Labels: datasource: Stackdriver

#13785 Add debug logging of dashboard permission checks
  pkg/services/guardian/guardian.go
Labels: cherry-pick needed

#13791 fix: Text box variables with empty values should not be considered fa…
  public/app/features/templating/specs/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Labels: cherry-pick needed

#13794 docker: adds curl back into the docker image for utility.
  packaging/docker/Dockerfile
Labels: cherry-pick needed

#13793 Kiosk mode url fix
  public/app/routes/GrafanaCtrl.ts
Labels: cherry-pick needed

#13795 Another fix for kiosk mode handling
  public/app/routes/GrafanaCtrl.ts
Labels: cherry-pick needed

#13784 Resource type filter
  docs/sources/features/datasources/stackdriver.md
  pkg/tsdb/stackdriver/stackdriver.go
  public/app/plugins/datasource/stackdriver/datasource.ts
  public/app/plugins/datasource/stackdriver/filter_segments.ts
  public/app/plugins/datasource/stackdriver/partials/query.filter.html
  public/app/plugins/datasource/stackdriver/query_ctrl.ts
  public/app/plugins/datasource/stackdriver/query_filter_ctrl.ts
Labels: cherry-pick needed

#13801 Move the variable regex to constants to make sure we use the same reg…
  public/app/features/templating/specs/variable.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/templating/variable.ts
Labels: cherry-pick needed

#13827 stackdriver: Remove redundant project name assignment
  public/app/plugins/datasource/stackdriver/datasource.ts
Labels: datasource: Stackdriver

#13720 Add code to flot that plots any datapoints which to not have neighbors
  public/vendor/flot/jquery.flot.js
Labels: comp: panel/graph
