Repository grafana/grafana, pull requests merged in 2018-03, with the labels that each got.

#10838 Thresholds for Right Y axis
  public/app/plugins/panel/graph/specs/threshold_manager_specs.ts
  public/app/plugins/panel/graph/threshold_manager.ts
  public/app/plugins/panel/graph/thresholds_form.ts
Labels: comp: panel/graph

#11127 only use jwt token if it contains an email address
  pkg/social/generic_oauth.go
Labels: cherry-pick needed

#11145 alerting: fixes validation error when saving alerts in dash
  pkg/services/alerting/extractor.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/test-data/panel-with-id-0.json
Labels: cherry-pick needed, comp: alerting/evaluation, type: bug

#9859 (prometheus) support POST for query and query_range
  pkg/api/pluginproxy/ds_proxy.go
  public/app/plugins/datasource/prometheus/config_ctrl.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/module.ts
  public/app/plugins/datasource/prometheus/partials/config.html
  public/app/plugins/datasource/prometheus/specs/datasource_specs.ts
  public/app/plugins/datasource/prometheus/specs/metric_find_query_specs.ts
Labels: datasource: Prometheus

#11105 Second to HH:mm:ss formatter
  public/app/core/specs/kbn.jest.ts
  public/app/core/utils/kbn.ts
Labels: pr_action: changes needed

#8613 support multiple histogram series
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph/histogram.ts
  public/app/plugins/panel/graph/specs/graph_specs.ts
  public/app/plugins/panel/graph/specs/histogram.jest.ts
  public/app/plugins/panel/graph/tab_display.html
Labels: comp: panel/graph, pr_action: needs more tests, pr_action: review

#11236 alerting: supports extracting alerts from collapsed panels
  pkg/services/alerting/extractor.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/test-data/collapsed-panels.json
Labels: cherry-pick needed

#11232 Should be possible to browse dashboard using only uid
  pkg/api/api.go
  public/app/routes/routes.ts
Labels: cherry-pick needed

#11238 middleware: recover and retry on session start
  pkg/services/session/session.go
Labels: cherry-pick needed

#11246 dashboard: fix import dashboard with alert rule(s)
  pkg/plugins/dashboard_importer.go
  pkg/services/dashboards/dashboard_service.go
Labels: cherry-pick needed

#11249 Avoid redirecting internal rendering requests
  pkg/components/renderer/renderer.go
  pkg/middleware/dashboard_redirect.go
Labels: cherry-pick needed

#11260 alertmanager: handle resolved alerts, nodata, and execution errors + cleanups
  pkg/services/alerting/notifiers/alertmanager.go
  pkg/services/alerting/notifiers/base.go
  pkg/services/alerting/notifiers/dingding.go
  pkg/services/alerting/notifiers/email.go
  pkg/services/alerting/notifiers/hipchat.go
  pkg/services/alerting/notifiers/kafka.go
  pkg/services/alerting/notifiers/line.go
  pkg/services/alerting/notifiers/opsgenie.go
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/sensu.go
  pkg/services/alerting/notifiers/slack.go
  pkg/services/alerting/notifiers/teams.go
  pkg/services/alerting/notifiers/telegram.go
  pkg/services/alerting/notifiers/threema.go
  pkg/services/alerting/notifiers/victorops.go
  pkg/services/alerting/notifiers/webhook.go
Labels: datasource: Prometheus

#11319 snapshot: fix legend rendering bug
  public/app/features/panel/metrics_panel_ctrl.ts
Labels: cherry-pick needed

#11310 docs: Using Microsoft SQL Server in Grafana
  docs/sources/features/datasources/index.md
  docs/sources/features/datasources/mssql.md
Labels: datasource: MSSQL, type: docs

#11367 Update graph panel documentation
  docs/sources/features/panels/graph.md
Labels: type: docs

#11405 alert: fixes broken link back to grafana
  pkg/models/dashboards.go
  pkg/models/dashboards_test.go
Labels: cherry-pick needed

#11390 Default value for uploading images in alert notifiers
  pkg/services/alerting/notifiers/base.go
  pkg/services/alerting/notifiers/base_test.go
  public/app/features/alerting/notification_edit_ctrl.ts
Labels: cherry-pick needed
