Repository grafana/grafana, pull requests merged in 2018-04, with the labels that each got.

#11417 removed padding for icons and added margin
  public/sass/pages/_alerting.scss
Labels: pr_action: changes needed

#11439 docker: add users and groups to ldap block
  docker/blocks/openldap/Dockerfile
  docker/blocks/openldap/entrypoint.sh
  docker/blocks/openldap/notes.md
  docker/blocks/openldap/prepopulate/admin.ldif
  docker/blocks/openldap/prepopulate/adminsgroup.ldif
  docker/blocks/openldap/prepopulate/editor.ldif
  docker/blocks/openldap/prepopulate/usersgroup.ldif
  docker/blocks/openldap/prepopulate/viewer.ldif
Labels: type: tech

#11501 migrated metric_segment to ts
  public/app/core/directives/metric_segment.js
  public/app/core/directives/metric_segment.ts
Labels: pr_action: changes needed

#11499 migrated dropdown-typeahead to ts
  public/app/core/directives/dropdown_typeahead.ts
Labels: pr_action: changes needed

#11592 Postgres: improve $__timeFilter macro
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/macros_test.go
  pkg/tsdb/time_range.go
Labels: datasource: Postgres

#11354 External auth refactor
  CHANGELOG.md
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/login/auth.go
  pkg/login/auth_test.go
  pkg/login/brute_force_login_protection.go
  pkg/login/brute_force_login_protection_test.go
  pkg/login/ext_user.go
  pkg/login/grafana_login.go
  pkg/login/grafana_login_test.go
  pkg/login/ldap.go
  pkg/login/ldap_login.go
  pkg/login/ldap_login_test.go
  pkg/login/ldap_test.go
  pkg/middleware/auth_proxy.go
  pkg/middleware/auth_proxy_test.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/models/user_auth.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/user_auth_mig.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_auth.go
  pkg/services/sqlstore/user_auth_test.go
  pkg/social/grafana_com_oauth.go
  pkg/social/social.go
Labels: comp: backend/auth, comp: backend/user, in progress, type: feature, type: refactor

#11683 Fix for default permissions on folder are not shown as inherited in it's dashboards
  pkg/models/dashboard_acl.go
  pkg/services/guardian/guardian.go
  pkg/services/guardian/guardian_test.go
  pkg/services/sqlstore/dashboard_acl.go
  pkg/services/sqlstore/dashboard_acl_test.go
  public/app/core/components/Permissions/PermissionsListItem.tsx
  public/app/stores/PermissionsStore/PermissionsStore.jest.ts
  public/app/stores/PermissionsStore/PermissionsStore.ts
Labels: cherry-pick needed

#11714 sql tsdb: fix value columns conversion to float when using timeseries query
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sql_engine.go
  pkg/tsdb/sql_engine_test.go
Labels: cherry-pick needed

#11736 fix so that google analytics script are cached
  public/app/core/services/analytics.ts
Labels: cherry-pick needed

#11753 revert renaming of unit key ppm
  public/app/core/utils/kbn.ts
  public/app/plugins/panel/graph/graph.ts
Labels: cherry-pick needed
