Repository grafana/grafana, pull requests merged in 2018-11, with the labels that each got.

#13936 Fix minor JSON typo in HTTP API docs
  docs/sources/http_api/alerting.md
Labels: type: docs

#14139 build: docker build for ge.
  .circleci/config.yml
  packaging/docker/build-enterprise.sh
Labels: cherry-pick needed

#14162 docs: signout_redirect_url description in auth overview
  docs/sources/auth/overview.md
Labels: type: docs

#14175 Regression: fix handle of elasticsearch 6.0+ version
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
Labels: cherry-pick needed

#14140 log the actual error if failing to update alert data
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/models/dashboards.go
  pkg/services/dashboards/dashboard_service.go
Labels: cherry-pick needed

#14186 docker: Upgrades the base packages.
  Dockerfile
  packaging/docker/Dockerfile
Labels: cherry-pick needed, comp: docker, type: build & packaging
