Repository grafana/grafana, pull requests merged in 2018-08, with the labels that each got.

#12760 remove alias from postgres $__timeGroup macro, add $__timeGroupAlias macro to all sql datasources
  devenv/dev-dashboards/datasource_tests_mssql_unittest.json
  devenv/dev-dashboards/datasource_tests_mysql_unittest.json
  devenv/dev-dashboards/datasource_tests_postgres_unittest.json
  docs/sources/features/datasources/mssql.md
  docs/sources/features/datasources/mysql.md
  docs/sources/features/datasources/postgres.md
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/macros_test.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/macros_test.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/macros_test.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sql_engine.go
  public/app/plugins/datasource/mssql/partials/query.editor.html
  public/app/plugins/datasource/mysql/partials/query.editor.html
  public/app/plugins/datasource/postgres/partials/query.editor.html
Labels: datasource: Postgres

#12798 Grafana docker
  .circleci/config.yml
  .gitignore
  Makefile
  README.md
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/build-deploy.sh
  packaging/docker/build.sh
  packaging/docker/custom/Dockerfile
  packaging/docker/deploy_to_k8s.sh
  packaging/docker/push_to_docker_hub.sh
  packaging/docker/run.sh
  scripts/build/build.sh
Labels: type: build & packaging

#12753 Add fill mode to fill in previously seen value when point is missing to SQL datasources
  devenv/dev-dashboards/datasource_tests_mssql_unittest.json
  devenv/dev-dashboards/datasource_tests_mysql_unittest.json
  devenv/dev-dashboards/datasource_tests_postgres_unittest.json
  docs/sources/features/datasources/mssql.md
  docs/sources/features/datasources/mysql.md
  docs/sources/features/datasources/postgres.md
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/macros_test.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sql_engine.go
  public/app/plugins/datasource/mssql/partials/query.editor.html
  public/app/plugins/datasource/mysql/partials/query.editor.html
  public/app/plugins/datasource/postgres/partials/query.editor.html
Labels: datasource: MSSQL, datasource: MySQL, datasource: Postgres

#12861 docker: makes it possible to set a specific plugin url.
  packaging/docker/run.sh
Labels: comp: docker

#12880 Refactor setting fillmode
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/sql_engine.go
Labels: datasource: MSSQL, datasource: MySQL, datasource: Postgres

#12680 [postgres] add timescaledb option to postgres datasource
  docs/sources/features/datasources/postgres.md
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/macros_test.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/postgres/postgres_test.go
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/partials/config.html
Labels: datasource: Postgres

#12891 add $__unixEpochGroup and $__unixEpochGroupAlias to sql datasources
  devenv/dev-dashboards/datasource_tests_mssql_unittest.json
  devenv/dev-dashboards/datasource_tests_mysql_unittest.json
  devenv/dev-dashboards/datasource_tests_postgres_unittest.json
  docs/sources/features/datasources/mssql.md
  docs/sources/features/datasources/mysql.md
  docs/sources/features/datasources/postgres.md
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/macros_test.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/macros_test.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/macros_test.go
  public/app/plugins/datasource/mssql/partials/query.editor.html
  public/app/plugins/datasource/mysql/partials/query.editor.html
  public/app/plugins/datasource/postgres/partials/query.editor.html
Labels: datasource: MSSQL, datasource: MySQL, datasource: Postgres
