Repository grafana/grafana, pull requests merged in 2018-07, with the labels that each got.

#12468 [postgres] fix timeGroup macro rounding
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/macros_test.go
  pkg/tsdb/postgres/postgres_test.go
Labels: datasource: Postgres

#12470 [mssql] fix $__timeGroup rounding
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/macros_test.go
  pkg/tsdb/mssql/mssql_test.go
Labels: datasource: MSSQL

#12469 [mysql] fix $__timeGroup rounding
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/macros_test.go
  pkg/tsdb/mysql/mysql_test.go
Labels: datasource: MySQL

#12515 fix diff and percent_diff
  pkg/services/alerting/conditions/reducer.go
  pkg/services/alerting/conditions/reducer_test.go
Labels: pr_action: needs more tests

#11624 CloudWatch GetMetricData support
  Gopkg.lock
  Gopkg.toml
  pkg/metrics/metrics.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/types.go
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/partials/query.parameter.html
  public/app/plugins/datasource/cloudwatch/query_parameter_ctrl.ts
  vendor/github.com/aws/aws-sdk-go/aws/client/client.go
  vendor/github.com/aws/aws-sdk-go/aws/client/logger.go
  vendor/github.com/aws/aws-sdk-go/aws/client/metadata/client_info.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/credentials.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/doc.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/enable.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/metric.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/metricChan.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/reporter.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/logger.go
  vendor/github.com/aws/aws-sdk-go/aws/request/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request_1_7.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request_1_8.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request_pagination.go
  vendor/github.com/aws/aws-sdk-go/aws/session/env_config.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/signer/v4/v4.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/debug.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/decode.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/encode.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/api.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/header.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/header_value.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/message.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/payload.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/rest/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/rest/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatch/service.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/service.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/service.go
  vendor/github.com/aws/aws-sdk-go/service/sts/service.go
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
Labels: pr_action: changes needed

#12678 Escape postgresql parameter
  pkg/tsdb/postgres/postgres.go
Labels: datasource: Postgres

#12679 Use metric column as prefix when returning multiple value columns
  devenv/dev-dashboards/datasource_tests_mssql_unittest.json
  devenv/dev-dashboards/datasource_tests_mysql_unittest.json
  devenv/dev-dashboards/datasource_tests_postgres_unittest.json
  docs/sources/features/datasources/mssql.md
  docs/sources/features/datasources/mysql.md
  docs/sources/features/datasources/postgres.md
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sql_engine.go
  public/app/plugins/datasource/mssql/partials/query.editor.html
  public/app/plugins/datasource/mysql/partials/query.editor.html
  public/app/plugins/datasource/postgres/partials/query.editor.html
Labels: datasource: MSSQL, datasource: MySQL, datasource: Postgres
