Repository grafana/grafana, pull requests merged in 2018-09, with the labels that each got.

#12145 Alerting notification reminder
  docs/sources/alerting/notifications.md
  docs/sources/alerting/rules.md
  docs/sources/http_api/alerting.md
  pkg/api/alerting.go
  pkg/api/dtos/alerting.go
  pkg/api/dtos/alerting_test.go
  pkg/models/alert_notifications.go
  pkg/services/alerting/interfaces.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/notifiers/alertmanager.go
  pkg/services/alerting/notifiers/base.go
  pkg/services/alerting/notifiers/base_test.go
  pkg/services/alerting/notifiers/dingding.go
  pkg/services/alerting/notifiers/discord.go
  pkg/services/alerting/notifiers/email.go
  pkg/services/alerting/notifiers/hipchat.go
  pkg/services/alerting/notifiers/kafka.go
  pkg/services/alerting/notifiers/line.go
  pkg/services/alerting/notifiers/opsgenie.go
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/sensu.go
  pkg/services/alerting/notifiers/slack.go
  pkg/services/alerting/notifiers/teams.go
  pkg/services/alerting/notifiers/telegram.go
  pkg/services/alerting/notifiers/threema.go
  pkg/services/alerting/notifiers/victorops.go
  pkg/services/alerting/notifiers/webhook.go
  pkg/services/alerting/result_handler.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_notification_test.go
  pkg/services/sqlstore/migrations/alert_mig.go
  public/app/features/alerting/notification_edit_ctrl.ts
  public/app/features/alerting/partials/notification_edit.html
Labels: comp: alerting, comp: alerting/notifications

#13208 fix: Dashboard permissions now shows correctly
  public/app/features/dashboard/folder_picker/folder_picker.ts
Labels: cherry-pick needed

#13156 Interpolate $__interval in backend for alerting with sql datasources
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/influxdb/query.go
  pkg/tsdb/interval.go
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sql_engine.go
  pkg/tsdb/sql_engine_test.go
Labels: datasource: MSSQL, datasource: MySQL, datasource: Postgres

#13259 [metrics]enabled = false should disable the /metrics endpoint.
  pkg/api/http_server.go
  pkg/metrics/service.go
  pkg/metrics/settings.go
  pkg/setting/setting.go
Labels: cherry-pick needed

#13269 use pluginName consistently when upgrading plugins
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/cmd/grafana-cli/services/services.go
Labels: cherry-pick needed

#10163 annotations: allows template variables to be used in tag filter
  docs/sources/reference/annotations.md
  pkg/api/annotations.go
  pkg/services/annotations/annotations.go
  pkg/services/sqlstore/annotation.go
  pkg/services/sqlstore/annotation_test.go
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/grafana/partials/annotations.editor.html
  public/app/plugins/datasource/grafana/specs/datasource.test.ts
Labels: comp: annotations, comp: dashboard/templating

#13279 Internal metrics: starts counters at zero
  pkg/metrics/metrics.go
Labels: cherry-pick needed

#13401 Concurrent render limits
  conf/defaults.ini
  conf/sample.ini
  docs/sources/installation/configuration.md
  pkg/api/render.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/result_handler.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/rendering.go
  pkg/setting/setting.go
  public/img/rendering_error.png
  public/img/rendering_limit.png
  public/img/rendering_plugin_not_installed.png
  public/img/rendering_timeout.png
Labels: cherry-pick needed

#13402 alerting: move all notification conditions to defaultShouldNotify
  pkg/models/alert_notifications.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/notifiers/base.go
  pkg/services/alerting/notifiers/base_test.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_notification_test.go
Labels: cherry-pick needed
