Repository grafana/grafana, pull requests merged in 2019-07, with the labels that each got.

#17843 Auth Proxy: Respect auto_sign_up setting
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/middleware/middleware_test.go
Labels: area/backend/auth, area/backend/auth/authproxy, type/bug

#17849 devenv: switch OpenTSDB docker block
  devenv/docker/blocks/opentsdb/docker-compose.yaml
Labels: area/devenv

#17657 Docs upgrading deps
  UPGRADING_DEPENDENCIES.md
  pkg/README.md
Labels: type/docs

#17852 Loki: getHighlighterExpressionsFromQuery returns null if filter term is not quoted
  public/app/plugins/datasource/loki/query_utils.test.ts
  public/app/plugins/datasource/loki/query_utils.ts
Labels: area/explore, datasource/Loki, type/bug

#17845 Explore: Log highlights only update when user stops typing
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/QueryField.tsx
Labels: area/explore, datasource/Loki, type/bug, type/performance

#17865 Explore: Query rows are now reset when changing data sources
  public/app/features/explore/state/reducers.ts
Labels: area/explore, type/bug

#17872 Loki: Adds comment explaining usage of RFC3339Nano string
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/explore, datasource/Loki

#17860 Teams: show proper label for each auth provider
  pkg/api/team_members.go
  pkg/models/team_member.go
  pkg/services/sqlstore/team.go
  pkg/services/sqlstore/team_test.go
Labels: area/backend/auth/oauth

#17894 Build: fixes missing shebang in release tagging script.
  scripts/tag_release.sh
Labels: type/bug, type/build-packaging

#17870 Explore: Adds support for toggling text edit mode in explore
  public/app/features/explore/QueryEditor.tsx
  public/app/features/explore/QueryRow.tsx
  public/sass/pages/_explore.scss
Labels: area/explore, type/feature

#17895 Explore: Adds orgId to URL for sharing purposes
  public/app/core/utils/explore.ts
  public/app/features/explore/state/epics/stateSaveEpic.test.ts
  public/app/features/explore/state/epics/stateSaveEpic.ts
  public/test/mocks/mockExploreState.ts
Labels: add to changelog, area/explore, type/feature

#17927 Expose SystemJS from @grafana/runtime
  package.json
  packages/grafana-runtime/package.json
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/utils/plugin.ts
  public/app/features/plugins/plugin_loader.test.ts
  public/app/features/plugins/plugin_loader.ts
Labels: area/frontend, area/plugins

#17921 Explore: Restricts query text edit toggle to metrics mode
  public/app/features/explore/QueryRow.tsx
Labels: area/datasource, area/explore, type/bug

#17934 Explore: Introduces storage keys for last used data source on per-orgId basis
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/state/actions.ts
Labels: area/explore, type/bug

#17198 AzureMonitor: remove duplicate query logic on the frontend
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_filter_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_filter_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
  scripts/ci-frontend-metrics.sh
Labels: datasource/Azure Monitor, type/refactor

#17896 Docs: Updates documentation regarding logs integration in Explore
  docs/sources/features/explore/index.md
Labels: area/explore, type/docs

#17820 Build: Adds pre-commit check that fails if node versions are not synced
  .circleci/config.yml
  package.json
  packages/grafana-toolkit/src/cli/tasks/nodeVersionChecker.ts
  packages/grafana-toolkit/src/cli/tasks/precommit.ts
Labels: type/build-packaging

#17938 grafana/toolkit: styling support
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/config/utils/pluginValidation.test.ts
  packages/grafana-toolkit/src/config/utils/pluginValidation.ts
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-toolkit/src/config/webpack/loaders.ts
  public/app/features/plugins/plugin_loader.ts
  yarn.lock
Labels: area/frontend, area/plugins

#17932 Auth: SAML login button.
  packages/grafana-runtime/src/config.ts
  pkg/api/login.go
  pkg/models/saml.go
  public/app/core/controllers/login_ctrl.ts
  public/app/partials/login.html
Labels: area/backend/auth

#17960 Auth: saml enabled check
  pkg/api/login.go
  pkg/setting/setting.go
Labels: area/backend/auth

#17980 Api: Fix auth tokens returning wrong seenAt value
  pkg/api/user_token.go
  pkg/api/user_token_test.go
Labels: type/bug

#17512 Explore: Adds support for new loki 'start' and 'end' params for labels endpoint
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/state/actions.ts
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiLabels.test.ts
  public/app/plugins/datasource/loki/components/useLokiLabels.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.test.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/types/explore.ts
Labels: add to changelog, area/explore, datasource/Loki

#17984 Docs: Documents new features available with Loki data source in Explore
  docs/sources/features/datasources/loki.md
Labels: datasource/Loki, type/docs

#17976 refactor: move dom utils
  packages/grafana-ui/src/utils/dom.ts
  packages/grafana-ui/src/utils/index.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/KustoQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
Labels: pr/needs-manual-testing

#17974 Fix: Break redirect loop if oauth_auto_login = true and OAuth login fails
  pkg/api/common_test.go
  pkg/api/login.go
  pkg/api/login_test.go
Labels: area/backend/api, area/backend/auth/oauth, type/bug

#17999 LDAP: Adds back support for single bind.
  pkg/services/ldap/ldap.go
  pkg/services/ldap/ldap_login_test.go
Labels: area/backend/auth/ldap, type/bug

#17187 AnnoList: add alpha annotations list plugin
  packages/grafana-data/src/types/data.ts
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/annolist/AnnoListEditor.tsx
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
  public/app/plugins/panel/annolist/README.md
  public/app/plugins/panel/annolist/img/icn-annolist-panel.svg
  public/app/plugins/panel/annolist/module.ts
  public/app/plugins/panel/annolist/plugin.json
  public/app/plugins/panel/annolist/types.ts
Labels: area/frontend

#18021 grafana-cli: allow installing plugins from a local zip file
  pkg/cmd/grafana-cli/commands/install_command.go
Labels: area/grafana-cli, area/plugins

#18016 Loki: Don't use _ numerical separator
  public/app/plugins/datasource/loki/language_provider.ts
Labels: type/bug

#17869 Users: show badges for each auth provider
  pkg/api/team_members.go
  pkg/api/user.go
  pkg/models/user.go
  public/app/features/admin/AdminEditUserCtrl.ts
  public/app/features/admin/AdminListUsersCtrl.ts
  public/app/features/admin/partials/edit_user.html
  public/app/features/admin/partials/users.html
Labels: area/admin/user

#18023 LDAP: Adds bind before searching LDAP for non-login cases.
  pkg/services/ldap/ldap.go
  pkg/services/ldap/ldap_login_test.go
  pkg/services/ldap/ldap_private_test.go
  pkg/services/ldap/ldap_test.go
  pkg/services/multildap/multildap.go
  pkg/services/multildap/testing.go
Labels: area/backend/auth/ldap, type/bug

#18014 CLI: Fix encrypt-datasource-passwords fails with sql error
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords.go
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords_test.go
Labels: type/bug

#18031 Explore/Loki: Display live tailed logs in correct order
  public/app/core/logs_model.ts
  public/app/core/specs/logs_model.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/utils/ResultProcessor.ts
Labels: area/explore, datasource/Loki, type/bug

#18003 API: Minor fix for nil pointer when trying to log error during creating new dashboard via the API
  pkg/api/dashboard.go
  pkg/api/folder.go
Labels: area/backend/api, cherry-pick needed, type/bug

#18045 provisioning: escape literal '$' with '$$' to avoid interpolation
  docs/sources/administration/provisioning.md
  pkg/services/provisioning/values/values.go
  pkg/services/provisioning/values/values_test.go
Labels: area/provisioning

#18064 Build: Update links to release notes and what's new article for v6.3.x
  scripts/build/publish.sh
Labels: type/build-packaging

#18068 devenv: Fix typo in nginix docker for mac
  devenv/docker/blocks/nginx_proxy_mac/docker-compose.yaml
Labels: area/devenv

#18072 Docs: Move data links down
  docs/sources/features/panels/graph.md
Labels: type/docs

#18032 SQLStore: allow to look for `is_disabled` flag
  pkg/models/user.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
Labels: cherry-pick needed

#18118 Build: detect packages changes based on the git diff
  scripts/circle-release-next-packages.sh
Labels: area/frontend

#18115 grafana/toolkit: update the way config is being passed to jest-cli
  packages/grafana-toolkit/src/cli/tasks/plugin/tests.ts
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
Labels: area/frontend

#18131 grafana/toolkit: prettier and lint fix in dev mode
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.dev.ts
Labels: area/frontend

#18130 @grafana/toolkit: use HtmlWebpackPlugin when in watch mode
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
Labels: area/frontend

#18137 grafana/toolkit: plugin:test improvements
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/bundle.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/tests.ts
Labels: area/frontend

#18111 SQLStore: use bool pointer instead of string
  pkg/models/user.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
Labels: cherry-pick needed

#18069 Docs: SAML
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/saml.md
  docs/sources/guides/whats-new-in-v6-3.md
Labels: add to changelog, cherry-pick needed

#18048 Minor 6.3.0 beta1 changes
  CHANGELOG.md
  packaging/docker/README.md
Labels: area/docker

#18142 datasource: testdata - add predictable square scenerio
  pkg/tsdb/testdata/scenarios.go
  public/app/plugins/datasource/testdata/partials/query.editor.html
  public/app/plugins/datasource/testdata/query_ctrl.ts
Labels: area/datasource, area/datasource/backend

#18133 @grafana/toolkit: improve the circleci task
  lerna.json
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/package.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/ci.ts
  packages/grafana-toolkit/src/cli/utils/fileHelper.ts
  packages/grafana-toolkit/src/config/utils/pluginValidation.ts
  packages/grafana-toolkit/tsconfig.json
  packages/grafana-ui/package.json
Labels: area/frontend

#18181 Docs: SAML idp_metadata_url option
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/saml.md
Labels: cherry-pick needed

#18183 TestData: add predicatable csv wave scenario
  pkg/components/null/float.go
  pkg/tsdb/testdata/scenarios.go
  public/app/plugins/datasource/testdata/partials/query.editor.html
  public/app/plugins/datasource/testdata/query_ctrl.ts
Labels: area/backend, area/datasource

#18164 Plugins: add build info to plugin metadata
  packages/grafana-ui/src/types/plugin.ts
  pkg/plugins/models.go
Labels: cherry-pick needed

#18194 SAML: add metrics
  pkg/infra/metrics/metrics.go
Labels: cherry-pick needed

#18191 Plugins: fix previous commit, output "build" property in json
  pkg/plugins/models.go
Labels: cherry-pick needed

#18128 Plugins: avoid app importDashboards() NPE
  docs/sources/plugins/developing/apps.md
  packages/grafana-ui/src/utils/deprecationWarning.ts
  public/app/features/plugins/wrappers/AppConfigWrapper.tsx
Labels: area/plugins, cherry-pick needed

#18197 SAML: add auth provider label
  pkg/api/user.go
Labels: cherry-pick needed

#17282 Plugin: AzureMonitor - Reapply MetricNamespace support
  docs/sources/features/datasources/azuremonitor.md
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
Labels: add to changelog, datasource/Azure Monitor, priority/important-longterm

#18153 Build: watch and dev mode webpack improvements
  package.json
  packages/grafana-toolkit/src/cli/tasks/core.start.ts
  scripts/webpack/webpack.dev.js
  scripts/webpack/webpack.hot.js
Labels: area/frontend

#18162 PhantomJS: Fixes rendering on Debian Buster
  pkg/services/rendering/phantomjs.go
Labels: add to changelog, cherry-pick needed

#18216 Alerting: fix duplicate alert states when the alert fails to save to the database
  pkg/services/sqlstore/alert.go
Labels: add to changelog, area/alerting, area/backend, type/bug

#18212 Reduce Explore default time range to last hour
  public/app/core/utils/explore.ts
Labels: add to changelog, area/explore

#18214 DataLink: fix time label description
  public/app/features/panel/panellinks/link_srv.ts
Labels: area/panel/graph, cherry-pick needed

#18221 Alerting: More specific error when missing threshold
  pkg/services/alerting/conditions/evaluator.go
  pkg/services/alerting/conditions/query.go
Labels: area/alerting, area/backend

#18228 Typo: fix threshodsWithoutKey
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.test.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.tsx
Labels: area/frontend, effort/small

#18163 Docs: Update documentation with new SAML features
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/saml.md
  docs/sources/enterprise/_index.md
Labels: cherry-pick needed

#18081 Build: Introduce shellcheck
  .circleci/config.yml
  Makefile
  scripts/build/build-all.sh
  scripts/build/build.sh
  scripts/build/ci-build/bootstrap.sh
  scripts/build/ci-msi-build/ci-msi-build-oss.sh
  scripts/build/ci-msi-build/oss/ci-wrapper.sh
  scripts/build/ci-msi-build/oss/wrapper.sh
  scripts/build/prepare-enterprise.sh
  scripts/build/publish.sh
  scripts/build/sign_packages.sh
  scripts/build/update_repo/update-deb.sh
  scripts/build/update_repo/update-rpm.sh
  scripts/build/verify_signed_packages.sh
  scripts/ci-frontend-metrics.sh
  scripts/ci-metrics-publisher.sh
  scripts/circle-release-next-packages.sh
  scripts/circle-test-backend.sh
  scripts/circle-test-cache-servers.sh
  scripts/circle-test-frontend.sh
  scripts/circle-test-mysql.sh
  scripts/circle-test-postgres.sh
  scripts/helpers/exit-if-fail.sh
  scripts/tag_release.sh
  scripts/trigger_docker_build.sh
  scripts/trigger_grafana_packer.sh
  scripts/trigger_windows_build.sh
  scripts/verify-repo-update/verify-repos.sh
Labels: cherry-pick needed, type/build-packaging

#18204 remote_cache: Fix redis connstr parsing
  pkg/infra/remotecache/redis_storage.go
Labels: cherry-pick needed

#18224 Build grafana images consistently
  Dockerfile
  packaging/docker/Dockerfile
  packaging/docker/build.sh
Labels: add to changelog, area/docker, cherry-pick needed, type/build-packaging

#18240 Docs: update links to sample plugins
  docs/sources/plugins/developing/development.md
Labels: type/docs

#18217 Timerange: Fixes a bug where custom time ranges didn't respect UTC
  packages/grafana-data/src/utils/datemath.ts
  packages/grafana-ui/src/components/TimePicker/TimePicker.tsx
  public/app/features/dashboard/components/DashNav/DashNavTimeControls.tsx
Labels: area/dashboard/timerange, type/bug

#18244 TimePicker: Fixed style issue for custom range popover
  packages/grafana-ui/src/components/TimePicker/_TimePicker.scss
Labels: add to changelog, cherry-pick needed

#18247 TimePicker: Increase max height of quick range dropdown
  packages/grafana-ui/src/components/TimePicker/TimePicker.tsx
Labels: add to changelog, cherry-pick needed

#18249 Build: fix use of env vars in parentheses execs
  scripts/build/build-all.sh
  scripts/build/ci-msi-build/ci-msi-build-oss.sh
Labels: cherry-pick needed

#18213 Loki: Remove prefetching of default label values
  public/app/plugins/datasource/loki/language_provider.ts
Labels: datasource/Loki

#18248 Timerange: Fixes a bug where custom time ranges didn't respect UTC
  packages/grafana-data/src/utils/datemath.ts
  packages/grafana-ui/src/components/TimePicker/TimePicker.tsx
  public/app/features/dashboard/components/DashNav/DashNavTimeControls.tsx
Labels: add to changelog, area/dashboard/timerange, cherry-pick needed, type/bug

#18251 DataLinks: Fixes incorrect interpolation of ${__series_name}
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
Labels: add to changelog, cherry-pick needed

#18211 CircleCi: Run End-to-End tests for release builds
  .circleci/config.yml
Labels: cherry-pick needed

#18234 Permissions: Show plugins in nav for non admin users but hide plugin configuration
  pkg/api/index.go
  public/app/features/plugins/PluginPage.tsx
  public/app/plugins/panel/pluginlist/module.html
  public/app/plugins/panel/pluginlist/module.ts
  public/app/routes/ReactContainer.tsx
  public/app/routes/routes.ts
  public/dashboards/home.json
Labels: add to changelog, area/backend/api, area/frontend, area/permissions, area/plugins, area/security, cherry-pick needed

#18270 SAML: Only show SAML login button on Enterprise version
  pkg/api/login.go
Labels: cherry-pick needed

#18239 docs: team sync
  docs/sources/auth/auth-proxy.md
  docs/sources/auth/enhanced_ldap.md
  docs/sources/auth/github.md
  docs/sources/auth/team-sync.md
  docs/sources/enterprise/_index.md
Labels: type/docs

#18263 Chore: Upgrades typescript to version 3.5
  package.json
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  public/app/core/components/Animations/SlideDown.tsx
  public/app/features/plugins/PluginPage.tsx
  yarn.lock
Labels: type/chore

#17551 CLI: Allow installing custom binary plugins
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/commandstest/fake_api_client.go
  pkg/cmd/grafana-cli/commands/commandstest/fake_commandLine.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/install_command_test.go
  pkg/cmd/grafana-cli/commands/listremote_command.go
  pkg/cmd/grafana-cli/commands/listversions_command.go
  pkg/cmd/grafana-cli/commands/testdata/plugin-with-symlink.zip
  pkg/cmd/grafana-cli/commands/upgrade_all_command.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command_test.go
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/cmd/grafana-cli/models/model.go
  pkg/cmd/grafana-cli/services/api_client.go
  pkg/cmd/grafana-cli/services/api_client_test.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/cmd/grafana-cli/utils/command_line.go
  pkg/cmd/grafana-cli/utils/grafana_path.go
  pkg/plugins/plugins.go
  pkg/services/rendering/rendering.go
Labels: area/backend, area/grafana-cli, area/grafana.com, pr/needs-manual-testing

#18298 Auth Proxy: Include additional headers as part of the cache key
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/middleware/auth_proxy/auth_proxy_test.go
  pkg/middleware/middleware_test.go
Labels: add to changelog, area/backend/auth/authproxy, cherry-pick needed
