Repository grafana/grafana, pull requests merged in 2019-06, with the labels that each got.

#17246 Alerting: golint fixes for alerting
  Makefile
  pkg/api/alerting.go
  pkg/services/alerting/conditions/evaluator.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/conditions/reducer.go
  pkg/services/alerting/conditions/reducer_test.go
  pkg/services/alerting/engine.go
  pkg/services/alerting/engine_integration_test.go
  pkg/services/alerting/engine_test.go
  pkg/services/alerting/eval_context.go
  pkg/services/alerting/interfaces.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/notifiers/alertmanager.go
  pkg/services/alerting/notifiers/base.go
  pkg/services/alerting/notifiers/dingding.go
  pkg/services/alerting/notifiers/discord.go
  pkg/services/alerting/notifiers/discord_test.go
  pkg/services/alerting/notifiers/email.go
  pkg/services/alerting/notifiers/googlechat.go
  pkg/services/alerting/notifiers/hipchat.go
  pkg/services/alerting/notifiers/kafka.go
  pkg/services/alerting/notifiers/line.go
  pkg/services/alerting/notifiers/opsgenie.go
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/sensu.go
  pkg/services/alerting/notifiers/slack.go
  pkg/services/alerting/notifiers/teams.go
  pkg/services/alerting/notifiers/telegram.go
  pkg/services/alerting/notifiers/threema.go
  pkg/services/alerting/notifiers/victorops.go
  pkg/services/alerting/notifiers/webhook.go
  pkg/services/alerting/result_handler.go
  pkg/services/alerting/rule.go
  pkg/services/alerting/scheduler.go
  pkg/services/alerting/test_notification.go
  pkg/services/alerting/test_rule.go
  scripts/backend-lint.sh
Labels: area/alerting, type/tech

#17398 InfluxDB: Fixes single quotes are not escaped in label value filters
  public/app/plugins/datasource/influxdb/influx_query.ts
  public/app/plugins/datasource/influxdb/specs/influx_query.test.ts
Labels: add to changelog

#17374 Build: Adds e2e tests back to master workflow with better error messages and with artifacts
  .circleci/config.yml
  public/e2e-test/core/images.ts
  public/e2e-test/install/install.ts
  public/e2e-test/screenShots/theTruth/smoke-test-scenario.png
Labels: type/build-packaging

#17368 Feature: Adds redux action logging toggle from url params
  public/app/core/actions/application.ts
  public/app/core/middlewares/application.ts
  public/app/core/reducers/application.ts
  public/app/core/reducers/index.ts
  public/app/store/configureStore.ts
  public/app/types/application.ts
  public/app/types/store.ts
Labels: area/frontend

#17263 Explore: Queries the datasource once per run query and uses DataStreamObserver
  packages/grafana-ui/src/components/SetInterval/SetInterval.tsx
  packages/grafana-ui/src/types/datasource.ts
  packages/grafana-ui/src/utils/processSeriesData.ts
  pkg/plugins/datasource_plugin.go
  public/app/core/time_series2.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/GraphContainer.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/epics.test.ts
  public/app/features/explore/state/epics.ts
  public/app/features/explore/state/epics/limitMessageRateEpic.ts
  public/app/features/explore/state/epics/processQueryErrorsEpic.test.ts
  public/app/features/explore/state/epics/processQueryErrorsEpic.ts
  public/app/features/explore/state/epics/processQueryResultsEpic.test.ts
  public/app/features/explore/state/epics/processQueryResultsEpic.ts
  public/app/features/explore/state/epics/runQueriesBatchEpic.test.ts
  public/app/features/explore/state/epics/runQueriesBatchEpic.ts
  public/app/features/explore/state/epics/runQueriesEpic.test.ts
  public/app/features/explore/state/epics/runQueriesEpic.ts
  public/app/features/explore/state/epics/stateSaveEpic.test.ts
  public/app/features/explore/state/epics/stateSaveEpic.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/plugin.json
  public/app/plugins/datasource/loki/types.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/types.ts
  public/app/store/configureStore.ts
  public/app/types/explore.ts
  public/test/core/redux/epicTester.ts
  public/test/mocks/mockExploreState.ts
Labels: area/explore, type/refactor

#17357 Database: Initialize xorm with an empty schema for postgres
  pkg/services/sqlstore/sqlstore.go
Labels: area/backend/db/postgres, cherry-pick needed, type/bug

#16932 Prometheus: Correctly escape '|' literals in interpolated PromQL variables
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
Labels: add to changelog

#17423 Explore: Leaves cheat sheet open on empty queries
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: area/explore, type/bug

#17407 Provisioning: Support folder that doesn't exist yet in dashboard provisioning
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/file_reader.go
Labels: add to changelog, area/provisioning

#17241 Cloudwatch: Add AWS DocDB metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch

#17446 Explore: Fixes crash when parsing date math string with whitespace
  packages/grafana-ui/src/utils/datemath.test.ts
  packages/grafana-ui/src/utils/datemath.ts
Labels: area/explore, type/bug

#17427 Perf: Fix slow ACL query
  pkg/services/sqlstore/sqlbuilder.go
  pkg/services/sqlstore/sqlbuilder_test.go
Labels: add to changelog, area/backend/auth, area/backend/db, area/search, type/performance

#17009 Tracing: allow propagation with Zipkin headers
  conf/defaults.ini
  conf/sample.ini
  pkg/infra/tracing/tracing.go
  vendor/github.com/uber/jaeger-client-go/zipkin/README.md
  vendor/github.com/uber/jaeger-client-go/zipkin/doc.go
  vendor/github.com/uber/jaeger-client-go/zipkin/propagation.go
  vendor/modules.txt
Labels: add to changelog, area/backend, area/instrumentation

#17364 PluginConfig: Fixed plugin config page navigation when using subpath
  public/app/features/plugins/PluginPage.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#10989 Alerting: Add tags to alert rules
  docs/sources/alerting/notifications.md
  pkg/models/alert.go
  pkg/models/alert_test.go
  pkg/services/alerting/notifiers/alertmanager.go
  pkg/services/alerting/rule.go
  pkg/services/sqlstore/alert.go
  pkg/services/sqlstore/annotation.go
  pkg/services/sqlstore/annotation_test.go
  pkg/services/sqlstore/migrations/alert_mig.go
  pkg/services/sqlstore/tags.go
  pkg/services/sqlstore/tags_test.go
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/alerting/partials/alert_tab.html
Labels: add to changelog, area/alerting

#17469 metrics: expose stats about roles as metrics
  pkg/infra/metrics/metrics.go
  pkg/infra/usagestats/usage_stats.go
  pkg/models/stats.go
  pkg/services/alerting/models.go
  pkg/services/sqlstore/stats.go
Labels: add to changelog, area/instrumentation

#17404 RxJS: document SetInterval rxjs usage
  packages/grafana-ui/src/components/SetInterval/SetInterval.tsx
Labels: area/frontend

#17369 gtime: some code style refactoring
  pkg/components/gtime/gtime.go
  pkg/components/gtime/gtime_test.go
Labels: area/backend

#17490 Prometheus: Preallocate data for Prometheus backend response parsing
  pkg/tsdb/prometheus/prometheus.go
Labels: area/backend, datasource/Prometheus

#17450 Explore: Adds LogQueryField for InfluxDb
  packages/grafana-ui/src/types/datasource.ts
  public/app/features/explore/AdHocFilter.tsx
  public/app/features/explore/AdHocFilterField.tsx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/module.ts
  public/app/plugins/datasource/influxdb/plugin.json
  public/app/plugins/datasource/influxdb/query_ctrl.ts
  public/app/plugins/datasource/influxdb/specs/influx_query_model.test.ts
  public/app/plugins/datasource/influxdb/types.ts
  public/app/plugins/datasource/input/InputDatasource.ts
  public/sass/utils/_utils.scss
Labels: area/explore, datasource/InfluxDB

#17495 auth_proxy: Non-negative cache TTL
  pkg/middleware/auth_proxy/auth_proxy.go
Labels: add to changelog, area/backend

#17511 Refactor: Adds better logging to e2e tests
  public/e2e-test/core/pageObjects.ts
  public/e2e-test/core/pages.ts
Labels: type/build-packaging

#17527 Singlestat: Add y min/max config to singlestat sparklines
  docs/sources/features/panels/singlestat.md
  public/app/plugins/panel/singlestat/editor.html
  public/app/plugins/panel/singlestat/module.ts
Labels: add to changelog, area/panel/singlestat

#17524 Docs: Adds clarification to the provider name
  docs/sources/administration/provisioning.md
Labels: type/docs

#17532 Docs: Clarifies from which version the Patch VERB is available
  docs/sources/http_api/annotations.md
Labels: type/docs

#17522 Response headers
  conf/defaults.ini
  conf/sample.ini
  docs/sources/installation/configuration.md
  pkg/middleware/middleware.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend/security, area/security, cherry-pick needed

#17541 OAuth: Fix for wrong user token updated on OAuth refresh in DS proxy
  pkg/api/pluginproxy/ds_proxy.go
  pkg/services/sqlstore/user_auth.go
Labels: add to changelog, area/backend/auth, area/backend/auth/oauth, cherry-pick needed

#17521 Influx: Adds start page for logs in Explore
  public/app/plugins/datasource/influxdb/components/InfluxCheatSheet.tsx
  public/app/plugins/datasource/influxdb/components/InfluxStartPage.tsx
  public/app/plugins/datasource/influxdb/module.ts
Labels: area/explore, datasource/InfluxDB, type/feature

#17523 Explore: Runs query when measurement/field and pairs are selected in logs mode for influx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.test.tsx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
Labels: area/explore, datasource/InfluxDB, type/bug

#17549 Influx: Reset logs query field on clear all and clear row in explore
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
Labels: area/explore, datasource/InfluxDB, type/bug

#17562 Chore: Lowered implicit anys limit to 5131
  scripts/ci-frontend-metrics.sh
Labels: type/chore

#17519 codestyle: moves cache package to infra
  pkg/api/http_server.go
  pkg/cmd/grafana-server/server.go
  pkg/infra/localcache/cache.go
  pkg/services/datasources/cache.go
  pkg/services/sqlstore/sqlstore.go
Labels: area/backend

#17553 Explore: Adds ability to remove filter from <AdHocFilterField /> key dropdown
  public/app/features/explore/AdHocFilterField.test.tsx
  public/app/features/explore/AdHocFilterField.tsx
Labels: area/explore, datasource/InfluxDB, type/feature

#17542 Build: Upgrades to golang 1.12.6
  .circleci/config.yml
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
Labels: area/backend, type/tech

#17565 Explore: Fixes implicit any error in AdHocFilterField.test.tsx
  public/app/features/explore/AdHocFilterField.test.tsx
Labels: area/explore, type/bug

#17567 Build: Fix failing e2e tests and implicit any check
  public/app/features/explore/AdHocFilterField.test.tsx
  public/e2e-test/screenShots/theTruth/smoke-test-scenario.png
Labels: type/build-packaging

#17568 Fix: Fixes merge conflict
  public/app/features/explore/AdHocFilterField.test.tsx
Labels: type/chore

#17569 Explore: Instance data now loads when entering explore view from a panel
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: area/explore, type/bug

#17485 AuthProxy: Optimistic lock pattern for remote cache Set
  pkg/infra/remotecache/database_storage.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
Labels: add to changelog, area/backend, area/backend/auth, cherry-pick needed

#17479 LDAP: refactoring
  pkg/api/http_server.go
  pkg/login/ldap_login.go
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/middleware/middleware.go
  pkg/services/ldap/helpers.go
  pkg/services/ldap/ldap.go
  pkg/services/ldap/ldap_helpers_test.go
  pkg/services/ldap/ldap_login_test.go
  pkg/services/ldap/ldap_private_test.go
  pkg/services/ldap/ldap_test.go
  pkg/services/ldap/settings.go
  pkg/services/ldap/test.go
  pkg/services/ldap/test_test.go
  pkg/services/ldap/user.go
  pkg/services/multildap/test_test.go
  pkg/services/user/user.go
Labels: area/backend/auth/ldap, type/refactor

#17552 SinglestatPanel: Remove background color when value turns null
  public/app/plugins/panel/singlestat/module.ts
Labels: add to changelog, type/bug

#17528 Graph: Added new fill gradient option
  devenv/dev-dashboards/panel-graph/graph-gradient-area-fills.json
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/graph/tab_display.html
Labels: add to changelog

#17572 Devenv: Add nginx proxy for mac to devenv
  devenv/docker/blocks/nginx_proxy_mac/Dockerfile
  devenv/docker/blocks/nginx_proxy_mac/docker-compose.yaml
  devenv/docker/blocks/nginx_proxy_mac/htpasswd
  devenv/docker/blocks/nginx_proxy_mac/nginx.conf
Labels: area/devenv

#17576 ldap: makes mocks available for testing.
  pkg/services/ldap/ldap_test_mocks.go
Labels: area/backend/auth/ldap, type/refactor

#17539 Explore: Tag and Values for Influx are filtered by the selected measurement
  packages/grafana-ui/src/types/datasource.ts
  public/app/features/explore/AdHocFilterField.test.tsx
  public/app/features/explore/AdHocFilterField.tsx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: area/explore, datasource/InfluxDB

#17066 Docker: Switch base image to ubuntu:latest from debian:stretch to avoid security issues.
  Dockerfile
  packaging/docker/Dockerfile
  packaging/docker/build.sh
Labels: add to changelog, area/docker, type/build-packaging

#17606 Grafana-CLI: Fix receiving configuration flags from the command line
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/main.go
Labels: add to changelog, area/grafana-cli, cherry-pick needed

#17609 Tests: Replaces e2e tests truth screenshot
  public/e2e-test/screenShots/theTruth/smoke-test-scenario.png
Labels: type/build-packaging

#17620 HTTPServer: Fix X-XSS-Protection header formatting
  pkg/middleware/middleware.go
Labels: add to changelog, cherry-pick needed, type/bug

#17608 #16607 Fix for Json tree not working
  public/app/core/components/jsontree/jsontree.ts
Labels: area/frontend

#17573 Explore: Removes minus button in adhoc query field
  public/app/features/explore/AdHocFilterField.tsx
Labels: area/explore, type/feature

#17625 Typescript: Removes implicit anys
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/prometheus/add_label_to_query.ts
  public/app/plugins/datasource/prometheus/completer.ts
  public/app/plugins/datasource/prometheus/config_ctrl.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/query_ctrl.ts
  public/app/plugins/datasource/prometheus/query_hints.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/datasource/prometheus/specs/completer.test.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
  public/app/plugins/datasource/prometheus/specs/language_provider.test.ts
  public/app/plugins/datasource/prometheus/specs/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/specs/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: type/chore

#17617 Grafana-CLI: Fix receiving flags via command line
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/main.go
Labels: add to changelog, area/grafana-cli, cherry-pick needed

#17628 Build: Update node image for test-frontend job step
  .circleci/config.yml
Labels: type/build-packaging

#17631 Chore: Lowered implicit anys limit to 4599
  scripts/ci-frontend-metrics.sh
Labels: type/chore

#17470 Explore: Prometheus query errors now show
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
Labels: type/bug

#17632 Build: Updates node image for e2e job
  .circleci/config.yml
Labels: type/build-packaging

#17644 HTTP-Server: Fix Strict-Transport-Security header
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
Labels: cherry-pick needed, type/bug

#17646 TablePanel: fix annotations display
  public/app/plugins/panel/table/module.ts
Labels: add to changelog, cherry-pick needed, type/bug

#17659 AddPanel: Fix issue when removing moved add panel widget
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
Labels: type/bug

#17685 Explore: Improves performance of Logs element by limiting re-rendering
  public/app/features/explore/LogsContainer.tsx
Labels: area/explore, type/performance

#17675 Config: fix connstr for remote_cache in defaults.ini which broke the related environment variable
  conf/defaults.ini
  pkg/setting/setting_test.go
Labels: area/backend/config, cherry-pick needed

#17702 remotecache: redis connection string parsing test
  pkg/infra/remotecache/redis_storage_test.go
Labels: area/backend

#17637 Docs: clarified usage of go get and go mod.
  pkg/README.md
Labels: type/docs

#17695 Grafana-CLI: Wrapper for `grafana-cli` within RPM/DEB packages and config/homepath are now global flags
  build.go
  docs/sources/administration/cli.md
  packaging/wrappers/grafana-cli
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/main.go
  pkg/cmd/grafana-cli/utils/command_line.go
Labels: add to changelog, area/grafana-cli, cherry-pick needed

#17731 Panel: Fully escape html in drilldown links (was only sanitized before)
  public/app/core/utils/text.ts
  public/app/features/panel/panel_ctrl.ts
  public/app/plugins/panel/text/module.ts
Labels: add to changelog, cherry-pick needed

#17745 Remove tether and tether-drop deps from grafana/ui
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/grafana/ui

#17741 Explore: Changes LogsContainer from a PureComponent to a Component
  public/app/features/explore/LogsContainer.tsx
Labels: area/explore

#17677 Explore: Parses and updates TimeSrv in one place in Explore
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/GraphContainer.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/epics/runQueriesBatchEpic.ts
  public/app/features/explore/state/epics/runQueriesEpic.test.ts
  public/app/features/explore/state/epics/timeEpic.test.ts
  public/app/features/explore/state/epics/timeEpic.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/store/configureStore.ts
  public/app/types/explore.ts
  public/test/core/redux/epicTester.ts
  public/test/mocks/mockExploreState.ts
Labels: area/explore

#17678 Auth: Allow expiration of API keys
  conf/defaults.ini
  docs/sources/auth/overview.md
  docs/sources/http_api/auth.md
  packages/grafana-ui/src/utils/moment_wrapper.ts
  pkg/api/api.go
  pkg/api/apikey.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/models/apikey.go
  pkg/services/sqlstore/apikey.go
  pkg/services/sqlstore/apikey_test.go
  pkg/services/sqlstore/migrations/apikey_mig.go
  pkg/setting/setting.go
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/api-keys/__mocks__/apiKeysMock.ts
  public/app/features/api-keys/__snapshots__/ApiKeysPage.test.tsx.snap
  public/app/types/apiKeys.ts
Labels: add to changelog

#17782 Devenv: makes the grafana users default for saml
  devenv/docker/blocks/saml/users.php
Labels: area/devenv

#17726 Docs: Adds section on Querying Logs for InfluxDB
  docs/sources/features/datasources/influxdb.md
Labels: type/docs

#17730 Docs: Adds section on Querying Logs for Elasticsearch
  docs/sources/administration/provisioning.md
  docs/sources/features/datasources/elasticsearch.md
Labels: type/docs

#17785 TablePanel: Fix annotations display issue (backport)
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/plugins/panel/table/module.ts
Labels: add to changelog

#17789 TestData: add option to increase the number of test streams
  public/app/plugins/datasource/testdata/StreamHandler.ts
  public/app/plugins/datasource/testdata/partials/query.editor.html
  public/app/plugins/datasource/testdata/types.ts
Labels: area/frontend, effort/small

#17755 Explore: Adds URL support for Mode state (Metrics/Logs)
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/epics/stateSaveEpic.test.ts
  public/app/features/explore/state/epics/stateSaveEpic.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/elasticsearch/components/ElasticsearchQueryField.tsx
  public/app/types/explore.ts
Labels: area/explore, type/feature

#17791 Graphite: Fix for issue with alias function being moved last
  public/app/plugins/datasource/graphite/graphite_query.ts
Labels: add to changelog

#17795 Graphite: Fixes issue with seriesByTag & function with variable param
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/specs/graphite_query.test.ts
Labels: add to changelog

#17813 Explore: Uses RFC3339Nano string to retrieve LogRow contexts from Loki API
  public/app/features/explore/LogRowContext.tsx
  public/app/features/explore/LogRowContextProvider.tsx
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/explore, datasource/Loki

#17793 Explore: Use new TimePicker from Grafana/UI
  public/app/core/utils/timePicker.test.ts
  public/app/core/utils/timePicker.ts
  public/app/features/dashboard/components/DashNav/DashNavTimeControls.tsx
  public/app/features/dashboard/components/TimePicker/TimePickerCtrl.ts
  public/app/features/dashboard/components/TimePicker/index.ts
  public/app/features/dashboard/components/TimePicker/settings.html
  public/app/features/dashboard/components/TimePicker/template.html
  public/app/features/dashboard/components/TimePicker/validation.ts
  public/app/features/dashboard/index.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreTimeControls.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/TimePicker.test.tsx
  public/app/features/explore/TimePicker.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/epics/processQueryResultsEpic.test.ts
  public/app/features/explore/state/epics/processQueryResultsEpic.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/store/configureStore.ts
  public/app/types/explore.ts
  public/sass/pages/_explore.scss
  public/test/core/redux/epicTester.ts
Labels: add to changelog, area/explore, type/chore

#17825 Docs: Add v6.3 version notes and encryption format information
  docs/sources/alerting/notifications.md
  docs/sources/features/panels/graph.md
  docs/sources/installation/configuration.md
  docs/sources/installation/upgrading.md
Labels: type/docs

#17798 Explore: Fix filter by series level in logs graph
  public/app/features/explore/Graph.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/state/actionTypes.ts
Labels: add to changelog, area/explore

#17770 Elasticsearch: Fix default max concurrent shard requests
  docs/sources/installation/upgrading.md
  public/app/plugins/datasource/elasticsearch/config_ctrl.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/partials/config.html
  public/app/plugins/datasource/elasticsearch/specs/datasource.test.ts
Labels: datasource/Elasticsearch, type/bug
