Repository grafana/grafana, pull requests merged in 2019-02, with the labels that each got.

#15219 Fix save provisioned dashboard modal
  public/app/features/dashboard/components/SaveModals/index.ts
Labels: add to change log

#15198 Azure Monitor: refactor #15087
  public/app/features/explore/slate-plugins/prism/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/config_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/query_field.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/slate-plugins/newline.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/slate-plugins/runner.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/version.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/version.ts
Labels: pr_action: changes needed

#15377 Fix error caused by named colors that are not part of named colors palette
  packages/grafana-ui/src/utils/namedColorsPalette.test.ts
  packages/grafana-ui/src/utils/namedColorsPalette.ts
Labels: comp: frontend

#15378 use authTokenService for session quotas restrictions
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/http_server.go
  pkg/login/ext_user.go
  pkg/login/ldap_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/quota.go
  pkg/middleware/quota_test.go
  pkg/models/user_token.go
  pkg/services/auth/auth_token.go
  pkg/services/auth/auth_token_test.go
  pkg/services/quota/quota.go
Labels: cherry-pick needed

#15394 fix: No need to have edit permissions to be able to "Save as"
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
Labels: comp: frontend

#15391 Fixed issues with double page body and husky pre-commit hook
  package.json
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/datasources/settings/ButtonRow.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/app/features/datasources/settings/__snapshots__/ButtonRow.test.tsx.snap
  public/app/features/datasources/settings/__snapshots__/DataSourceSettingsPage.test.tsx.snap
  public/app/features/folders/FolderSettingsPage.tsx
  public/app/features/folders/__snapshots__/FolderSettingsPage.test.tsx.snap
  public/app/features/teams/TeamPages.tsx
  yarn.lock
Labels: cherry-pick needed

#15382 Bug pressing special regexp chars in input fields
  public/app/core/components/FilterInput/FilterInput.tsx
  public/app/core/components/OrgActionBar/OrgActionBar.tsx
  public/app/core/components/OrgActionBar/__snapshots__/OrgActionBar.test.tsx.snap
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/features/alerting/AlertRuleList.test.tsx
  public/app/features/alerting/AlertRuleList.tsx
  public/app/features/alerting/__snapshots__/AlertRuleList.test.tsx.snap
  public/app/features/api-keys/ApiKeysPage.test.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/dashboard/panel_editor/VisualizationTab.tsx
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/teams/TeamList.test.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/TeamMembers.test.tsx
  public/app/features/teams/TeamMembers.tsx
  public/app/features/teams/__snapshots__/TeamList.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamMembers.test.tsx.snap
  public/app/features/users/UsersActionBar.tsx
  public/app/features/users/__snapshots__/UsersActionBar.test.tsx.snap
Labels: add to change log, cherry-pick needed

#15423 Fixed issue with react panel dimensions
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/sass/_variables.scss.d.ts
Labels: cherry-pick needed

#15420 docs: add availability note regarding non-compliant providers
  docs/sources/auth/generic-oauth.md
Labels: type: docs

#15455 Fixed handling of alert urls with true flags
  pkg/services/alerting/eval_context.go
  public/app/features/alerting/AlertRuleItem.tsx
  public/app/features/alerting/__snapshots__/AlertRuleItem.test.tsx.snap
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: add to change log, cherry-pick needed

#15471 Fixed prettier issue
  package.json
  public/app/features/explore/LogMessageAnsi.test.tsx
  public/app/features/explore/LogMessageAnsi.tsx
Labels: cherry-pick needed

#15498 Remove maxDataPoints and interval props from props to remember in panel model
  public/app/features/dashboard/state/PanelModel.ts
Labels: cherry-pick needed

#15502 cli: chmod 755 for backend plugin binaries
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/install_command_test.go
  pkg/cmd/grafana-cli/commands/testdata/grafana-simple-json-datasource-ec18fa4da8096a952608a7e4c7782b4260b41bcf.zip
Labels: cherry-pick needed, comp: grafana-cli

#15514 Fixed navbar backbutton padding
  public/sass/components/_navbar.scss
  public/sass/pages/_explore.scss
Labels: cherry-pick needed

#15553 fix mysql query using __interval_ms variable throws error
  public/app/plugins/datasource/mysql/mysql_query.ts
Labels: cherry-pick needed

#15572 Minor fix/polish to gauge panel and threshold editor
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.tsx
Labels: cherry-pick needed

#15576 Update docs to match current npm scripts
  docs/sources/project/building_from_source.md
Labels: cherry-pick needed, type: docs

#15551 fix: Filter out values not supported by Explore yet #15281
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: cherry-pick needed

#15561 @grafana/ui publishing scripts
  .gitignore
  package.json
  packages/grafana-ui/CHANGELOG.md
  packages/grafana-ui/README.md
  packages/grafana-ui/index.js
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  packages/grafana-ui/src/components/ColorPicker/ColorInput.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsGroup.tsx
  packages/grafana-ui/src/components/ColorPicker/SeriesColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/warnAboutColorPickerPropsDeprecation.ts
  packages/grafana-ui/src/components/CustomScrollbar/CustomScrollbar.tsx
  packages/grafana-ui/src/components/FormField/FormField.tsx
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
  packages/grafana-ui/src/components/Select/Select.tsx
  packages/grafana-ui/src/components/Switch/Switch.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.tsx
  packages/grafana-ui/src/index.ts
  packages/grafana-ui/src/themes/ThemeContext.tsx
  packages/grafana-ui/src/themes/getTheme.ts
  packages/grafana-ui/src/themes/index.ts
  packages/grafana-ui/src/utils/colors.ts
  packages/grafana-ui/src/utils/namedColorsPalette.ts
  packages/grafana-ui/src/utils/processTimeSeries.ts
  packages/grafana-ui/src/utils/storybook/withTheme.tsx
  packages/grafana-ui/tsconfig.build.json
  packages/grafana-ui/tsconfig.json
  public/app/core/utils/explore.ts
  scripts/cli/index.d.ts
  scripts/cli/index.ts
  scripts/cli/tasks/core.start.ts
  scripts/cli/tasks/grafanaui.build.ts
  scripts/cli/tasks/grafanaui.release.ts
  scripts/cli/utils/cwd.ts
  scripts/cli/utils/execTask.ts
  scripts/cli/utils/startSpinner.ts
  yarn.lock
Labels: comp: frontend, comp: grafana/ui

#15579 Bring back plugins page styles
  public/sass/_grafana.scss
  public/sass/pages/_plugins.scss
Labels: cherry-pick needed, comp: frontend

#15589 grafana/ui 1.0.0-alpha.0 release - package version bump
  packages/grafana-ui/package.json
Labels: cherry-pick needed, comp: frontend, comp: grafana/ui

#15604 grafana/ui 6.0.0-alpha.0 release version bump
  packages/grafana-ui/CHANGELOG.md
  packages/grafana-ui/README.md
  packages/grafana-ui/package.json
Labels: cherry-pick needed, comp: frontend, comp: grafana/ui

#15616 Fixed value dropdown not updating when it's current value updates
  public/app/core/directives/value_select_dropdown.ts
  public/app/features/dashboard/components/SubMenu/template.html
Labels: cherry-pick needed
