Repository grafana/grafana, pull requests merged in 2019-04, with the labels that each got.

#16226 Explore: Adds reconnect for failing datasource
  packages/grafana-ui/src/types/plugin.ts
  public/app/features/explore/Error.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiLabels.test.ts
  public/app/plugins/datasource/loki/components/useLokiLabels.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.test.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/sass/components/_buttons.scss
  public/sass/mixins/_buttons.scss
  public/test/core/thunk/thunkTester.ts
Labels: add to changelog

#16327 build: Fix for renamed package for armv6.
  build.go
Labels: cherry-pick needed, type/build-packaging

#16351 Fix: PhantomJS png panel height & title centering
  .browserslistrc
  scripts/webpack/postcss.config.js
  scripts/webpack/sass.rule.js
Labels: add to changelog, cherry-pick needed, type/bug

#16350 build: Script to check that our repos work and what the latest package version is
  scripts/verify-repo-update/Dockerfile.deb
  scripts/verify-repo-update/Dockerfile.rpm
  scripts/verify-repo-update/deb-ee-beta.list
  scripts/verify-repo-update/deb-ee-stable.list
  scripts/verify-repo-update/deb-oss-beta.list
  scripts/verify-repo-update/deb-oss-stable.list
  scripts/verify-repo-update/rpm-ee-beta.list
  scripts/verify-repo-update/rpm-ee-stable.list
  scripts/verify-repo-update/rpm-oss-beta.list
  scripts/verify-repo-update/rpm-oss-stable.list
  scripts/verify-repo-update/sources.list
  scripts/verify-repo-update/verify-repos.sh
Labels: type/build-packaging

#16356 CloudWatch: Fix for dimension value list when changing dimension key
  public/app/plugins/datasource/cloudwatch/query_parameter_ctrl.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16354 Bump typescript and jest
  package.json
  packages/grafana-ui/package.json
  public/app/core/specs/store.test.ts
  public/app/core/store.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
  public/test/jest-setup.ts
  yarn.lock
Labels: area/frontend, type/chore

#16360 build: Fixed incorrect permissions for repo folders in ci-deploy.
  .circleci/config.yml
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
Labels: cherry-pick needed, type/build-packaging

#16369 Docs: Fix typo in Prometheus documentation
  docs/sources/features/datasources/prometheus.md
Labels: type/docs

#16379 Alerting: Notification channel http api fixes
  pkg/api/alerting.go
  pkg/models/alert_notifications.go
  pkg/services/sqlstore/alert_notification.go
Labels: add to changelog, cherry-pick needed, type/bug

#16380 Chore: Update yarn.lockfile
  yarn.lock
Labels: type/chore

#16394 Increase timeout when waiting for datasource toggleEditorMode check
  public/app/features/dashboard/panel_editor/QueryEditorRow.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#16390 Graphite: Editing graphite query function now works again
  public/app/plugins/datasource/graphite/gfunc.ts
  public/app/plugins/datasource/graphite/specs/gfunc.test.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16403 Playlist: Kiosk & auto fit panels modes are working normally again
  public/app/features/playlist/playlist_srv.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16404 Fix: align panel padding between sass & js theme
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/themes/_variables.scss.tmpl.ts
  packages/grafana-ui/src/themes/default.ts
  public/sass/_variables.generated.scss
Labels: cherry-pick needed

#16413 Units: Correctly use the override decimals
  packages/grafana-ui/src/types/displayValue.ts
  packages/grafana-ui/src/utils/displayValue.test.ts
  packages/grafana-ui/src/utils/displayValue.ts
  packages/grafana-ui/src/utils/valueFormats/arithmeticFormatters.ts
  packages/grafana-ui/src/utils/valueFormats/dateTimeFormatters.ts
  packages/grafana-ui/src/utils/valueFormats/symbolFormatters.ts
  packages/grafana-ui/src/utils/valueFormats/valueFormats.test.ts
  packages/grafana-ui/src/utils/valueFormats/valueFormats.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16414 Graph: Allow override decimals to fully override
  public/vendor/flot/jquery.flot.js
Labels: add to changelog, type/bug

#16429 Graph: Fixed tooltip highlight on white theme
  packages/grafana-ui/src/themes/light.ts
  public/sass/_variables.light.generated.scss
Labels: add to changelog, cherry-pick needed, type/bug

#16431 Styles: Fixed menu hover highlight border
  public/sass/mixins/_mixins.scss
Labels: add to changelog, cherry-pick needed, type/bug

#16438 Graph: Fixed series legend color for hidden series
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/themes/dark.ts
  packages/grafana-ui/src/themes/light.ts
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
  public/sass/components/_modals.scss
Labels: add to changelog, cherry-pick needed

#16409 Mixed Datasource: Fix error when one query is disabled
  public/app/plugins/datasource/mixed/datasource.ts
Labels: add to changelog, type/bug

#16451 Singlestat: Use decimals when manually specified
  public/app/plugins/panel/singlestat/module.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16455 Graph: Fixed auto decimals in legend values
  packages/grafana-ui/src/utils/valueFormats/valueFormats.test.ts
  packages/grafana-ui/src/utils/valueFormats/valueFormats.ts
Labels: add to changelog, area/panel/graph, cherry-pick needed, type/bug

#16460 Fix: heatmap is empty if panel is too narrow (#16378)
  public/app/plugins/panel/heatmap/rendering.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16211 Provisioning: Do not allow deletion of provisioned dashboards
  Gopkg.lock
  Gopkg.toml
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/models/dashboards.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/testdata/test-dashboards/unprovision/dashboard1.json
  pkg/services/sqlstore/dashboard_provisioning.go
  pkg/services/sqlstore/dashboard_provisioning_test.go
  pkg/util/math.go
  public/app/core/services/util_srv.ts
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
  public/app/partials/confirm_modal.html
Labels: add to changelog, area/backend, area/dashboard, area/provisioning

#16483 Build: Updates goconvey to work on go1.12
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/jtolds/gls/stack_tags.go
  vendor/github.com/smartystreets/assertions/collections.go
  vendor/github.com/smartystreets/assertions/equality.go
  vendor/github.com/smartystreets/assertions/equality_diff.go
  vendor/github.com/smartystreets/assertions/filter.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/AUTHORS
  vendor/github.com/smartystreets/assertions/internal/go-diff/CONTRIBUTORS
  vendor/github.com/smartystreets/assertions/internal/go-diff/LICENSE
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/diff.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/diffmatchpatch.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/match.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/mathutil.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/operation_string.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/patch.go
  vendor/github.com/smartystreets/assertions/internal/go-diff/diffmatchpatch/stringutil.go
  vendor/github.com/smartystreets/assertions/messages.go
  vendor/github.com/smartystreets/assertions/serializer.go
  vendor/github.com/smartystreets/assertions/time.go
  vendor/github.com/smartystreets/goconvey/convey/assertions.go
  vendor/github.com/smartystreets/goconvey/convey/gotest/utils.go
  vendor/github.com/smartystreets/goconvey/convey/init.go
  vendor/github.com/smartystreets/goconvey/convey/reporting/init.go
  vendor/github.com/smartystreets/goconvey/convey/reporting/printer.go
  vendor/github.com/smartystreets/goconvey/convey/reporting/problems.go
Labels: add to changelog, type/build-packaging

#16494 grafana/ui: Rename ColumnStats type to FieldStats
  packages/grafana-ui/src/utils/statsCalculator.ts
Labels: area/grafana/ui

#16510 Explore: Fixes so intervals are recalculated on run query
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16513 Explore: Adds maxDataPoints to data source query options
  public/app/core/utils/explore.ts
  public/app/features/explore/state/actions.ts
  public/app/types/explore.ts
Labels: add to changelog, cherry-pick needed, type/bug

#16521 Oauth: Update jwt regexp to include `=`
  pkg/login/social/generic_oauth.go
Labels: add to changelog, area/backend/auth/oauth

#16491 Build: Upgrades to go 1.12.3
  .circleci/config.yml
  Dockerfile
  UPGRADING_DEPENDENCIES.md
  pkg/api/dashboard.go
  pkg/models/dashboard_version.go
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
Labels: add to changelog, type/build-packaging

#16514 QueryInspector: Now shows error responses again
  public/app/features/dashboard/panel_editor/QueryInspector.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#16408 CloudWatch: fix color order
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
Labels: datasource/CloudWatch

#16405 CloudWatch: Fix template variable issues
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/types.ts
Labels: datasource/CloudWatch

#16525 Alerting: Pushover alert, support for different sound for OK
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/pushover_test.go
Labels: add to changelog, area/alerting/notifications

#16556 DataPanel: Added missing built-in interval variables to scopedVars
  public/app/features/dashboard/dashgrid/DataPanel.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#16554 Alerting: Adjust label for send on all alerts to default
  docs/sources/alerting/notifications.md
  public/app/features/alerting/partials/notification_edit.html
Labels: add to changelog, area/alerting

#16545 build: upgrades to golang 1.12.4
  .circleci/config.yml
  Dockerfile
  pkg/api/dashboard.go
  pkg/models/dashboard_version.go
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
Labels: add to changelog, type/build-packaging

#16175 Security: Store datasource passwords encrypted in secureJsonData
  devenv/datasources.yaml
  docs/sources/administration/provisioning.md
  docs/sources/installation/upgrading.md
  pkg/api/frontendsettings.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/components/securejsondata/securejsondata.go
  pkg/models/datasource.go
  pkg/services/provisioning/datasources/config_reader.go
  pkg/services/provisioning/datasources/types.go
  pkg/services/sqlstore/datasource.go
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/prometheus/prometheus.go
  public/app/core/angular_wrappers.ts
  public/app/features/datasources/partials/http_settings.html
  public/app/features/datasources/settings/HttpSettingsCtrl.ts
  public/app/features/datasources/utils/passwordHandlers.test.ts
  public/app/features/datasources/utils/passwordHandlers.ts
  public/app/plugins/datasource/influxdb/module.ts
  public/app/plugins/datasource/influxdb/partials/config.html
  public/app/plugins/datasource/mssql/config_ctrl.ts
  public/app/plugins/datasource/mysql/module.ts
  public/app/plugins/datasource/mysql/partials/config.html
  public/app/plugins/datasource/postgres/config_ctrl.ts
Labels: add to changelog, area/backend/plugins, area/plugins, area/security, pr/needs-manual-testing

#16528 fix app support and add an alpha example
  packages/grafana-ui/src/types/plugin.ts
  public/app/features/datasources/state/actions.ts
  public/app/features/plugins/PluginSettingsCache.ts
  public/app/features/plugins/built_in_plugins.ts
  public/app/features/plugins/plugin_component.ts
  public/app/features/plugins/plugin_edit_ctrl.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/features/plugins/plugin_page_ctrl.ts
  public/app/plugins/app/example-app/README.md
  public/app/plugins/app/example-app/img/logo.png
  public/app/plugins/app/example-app/legacy/angular_example_page.html
  public/app/plugins/app/example-app/legacy/angular_example_page.ts
  public/app/plugins/app/example-app/legacy/config.html
  public/app/plugins/app/example-app/legacy/config.ts
  public/app/plugins/app/example-app/module.ts
  public/app/plugins/app/example-app/plugin.json
  public/app/types/plugins.ts
  scripts/ci-frontend-metrics.sh
Labels: area/plugins, type/bug

#16610 build: partially replace gometalinter with golangci-lint
  pkg/api/login.go
  pkg/infra/remotecache/database_storage_test.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/services/auth/auth_token.go
  pkg/services/quota/quota.go
  scripts/backend-lint.sh
  scripts/revive.toml
Labels: type/build-packaging

#16577 Panel Plugins: pass query request/response to react panel plugins
  packages/grafana-ui/src/types/datasource.ts
  packages/grafana-ui/src/types/panel.ts
  public/app/features/dashboard/dashgrid/DataPanel.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/gauge/GaugePanel.tsx
  public/app/plugins/panel/graph2/GraphPanel.tsx
  public/app/plugins/panel/piechart/PieChartPanel.tsx
  public/app/plugins/panel/singlestat2/SingleStatPanel.tsx
  public/app/plugins/panel/table2/TablePanel.tsx
Labels: area/panel/data

#16625 tech: replace bmizerany/assert with stretchr/testify
  go.mod
  go.sum
  pkg/components/simplejson/simplejson_test.go
  pkg/infra/remotecache/database_storage_test.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  vendor/github.com/bmizerany/assert/.gitignore
  vendor/github.com/bmizerany/assert/README.md
  vendor/github.com/bmizerany/assert/assert.go
  vendor/github.com/kr/pretty/.gitignore
  vendor/github.com/kr/pretty/Readme
  vendor/github.com/kr/pretty/diff.go
  vendor/github.com/kr/pretty/formatter.go
  vendor/github.com/kr/pretty/go.mod
  vendor/github.com/kr/pretty/pretty.go
  vendor/github.com/kr/pretty/zero.go
  vendor/github.com/kr/text/License
  vendor/github.com/kr/text/Readme
  vendor/github.com/kr/text/doc.go
  vendor/github.com/kr/text/go.mod
  vendor/github.com/kr/text/indent.go
  vendor/github.com/kr/text/wrap.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/modules.txt
Labels: type/tech

#16668 Chore: Use x/xerrors instead of pkg/errors
  go.mod
  go.sum
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/util/errutil/errors.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor_go1_12.go
  vendor/golang.org/x/xerrors/adaptor_go1_13.go
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format_go1_12.go
  vendor/golang.org/x/xerrors/format_go1_13.go
  vendor/golang.org/x/xerrors/frame_go1_12.go
  vendor/golang.org/x/xerrors/go.mod
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Labels: add to changelog, area/backend, type/tech

#16559 Provisioning: Support FolderUid in Dashboard Provisioning Config
  conf/provisioning/dashboards/sample.yaml
  devenv/dashboards.yaml
  docs/sources/administration/provisioning.md
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/dashboards/config_reader_test.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/testdata/test-configs/dashboards-from-disk/dev-dashboards.yaml
  pkg/services/provisioning/dashboards/testdata/test-configs/version-0/version-0.yaml
  pkg/services/provisioning/dashboards/types.go
Labels: area/provisioning

#16727 Playlist: Fix loading dashboards by tag
  pkg/api/playlist_play.go
Labels: add to changelog, cherry-pick needed, type/bug

#16667 admin: add more stats about roles
  pkg/models/stats.go
  pkg/services/sqlstore/stars_test.go
  pkg/services/sqlstore/stats.go
  pkg/services/sqlstore/stats_test.go
  public/app/features/admin/state/apis.ts
  scripts/circle-test-postgres.sh
Labels: add to changelog, area/backend

#16499 Provisioning: Interpolate env vars in provisioning files
  docs/sources/administration/provisioning.md
  pkg/services/provisioning/dashboards/config_reader_test.go
  pkg/services/provisioning/dashboards/testdata/test-configs/dashboards-from-disk/dev-dashboards.yaml
  pkg/services/provisioning/dashboards/types.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/testdata/all-properties/all-properties.yaml
  pkg/services/provisioning/datasources/types.go
  pkg/services/provisioning/notifiers/alert_notifications.go
  pkg/services/provisioning/notifiers/config_reader.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/provisioning/notifiers/testdata/test-configs/correct-properties/correct-properties.yaml
  pkg/services/provisioning/notifiers/types.go
  pkg/services/provisioning/values/values.go
  pkg/services/provisioning/values/values_test.go
Labels: add to changelog, area/backend, area/provisioning

#16564 Config: Show user-friendly error message instead of stack trace
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  pkg/setting/testdata/invalid.ini
Labels: add to changelog, area/backend/config

#16579 Provisioning: Add API endpoint to reload provisioning configs
  docs/sources/http_api/admin.md
  pkg/api/admin_provisioning.go
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/dashboard_mock.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_test.go
Labels: add to changelog, area/backend, area/backend/api, area/provisioning

#16761 Security: Bump jQuery to 3.4.0
  package.json
  yarn.lock
Labels: add to changelog, area/frontend, cherry-pick needed, type/chore

#16783 UX: Improve Grafana usage for smaller screens
  packages/grafana-ui/src/components/RefreshPicker/_RefreshPicker.scss
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/themes/default.ts
  public/app/features/explore/ExploreToolbar.tsx
  public/sass/_variables.generated.scss
  public/sass/components/_navbar.scss
  public/sass/components/_search.scss
  public/sass/components/_sidemenu.scss
  public/sass/pages/_explore.scss
Labels: add to changelog, type: ux

#16784 Config: Fixes bug where timeouts for alerting was not parsed correctly
  pkg/services/alerting/notifier.go
  pkg/setting/setting.go
Labels: add to changelog, area/alerting, area/backend/config, area/image-rendering

#16724 Prometheus: Adds tracing headers for Prometheus datasource
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
Labels: add to changelog, datasource/Prometheus, type/feature

#16706 Provisioning: Show file path of provisioning file in save/delete dialogs
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/dtos/dashboard.go
  pkg/api/http_server.go
  pkg/models/dashboards.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/services/dashboards/folder_service_test.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/dashboard_mock.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_linux_test.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/provisioning/provisioning_test.go
  pkg/services/sqlstore/dashboard_provisioning.go
  pkg/services/sqlstore/dashboard_provisioning_test.go
  pkg/services/sqlstore/dashboard_service_integration_test.go
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
  public/app/features/dashboard/components/SaveModals/SaveProvisionedDashboardModalCtrl.ts
  public/app/types/dashboard.ts
Labels: area/dashboard, area/provisioning

#16785 Auth: Enable retries and transaction for some db calls for auth tokens
  pkg/api/admin_users.go
  pkg/api/login.go
  pkg/api/user_token.go
  pkg/api/user_token_test.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/middleware/org_redirect_test.go
  pkg/middleware/quota_test.go
  pkg/models/user_token.go
  pkg/services/auth/auth_token.go
  pkg/services/auth/auth_token_test.go
  pkg/services/auth/testing.go
  pkg/services/auth/token_cleanup.go
  pkg/services/auth/token_cleanup_test.go
  pkg/services/quota/quota.go
Labels: add to changelog, area/backend/auth
