Repository grafana/grafana, pull requests merged in 2019-10, with the labels that each got.

#19509 Build: Fix building when $LDFLAGS is set
  build.go
Labels: area/backend/db

#19516 Graph: Fixes minor issue with series override color picker and custom color
  public/app/plugins/panel/graph/series_overrides_ctrl.ts
Labels: area/panel/graph, cherry-pick needed

#19472 Docs: reports feature
  docs/sources/administration/reports.md
  docs/sources/enterprise/_index.md
Labels: type/docs

#19513 Docs: LDAP Debug View documentation
  docs/README.md
  docs/sources/auth/ldap.md
  docs/sources/guides/whats-new-in-v6-4.md
Labels: type/docs

#19518 Panels: Skip re-rendering panel/visualisation in loading state
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/plugins/datasource/mixed/MixedDataSource.test.ts
  public/app/plugins/datasource/mixed/MixedDataSource.ts
  public/test/mocks/datasource_srv.ts
Labels: cherry-pick needed

#19526 ChangeLog: Release 6.4.0 Stable
  CHANGELOG.md
Labels: type/chore

#19523 CloudWatch: Add ap-east-1 to hard-coded region lists
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  public/app/plugins/datasource/cloudwatch/config_ctrl.ts
Labels: datasource/CloudWatch

#19533 Loki: remove live option for logs panel
  docs/sources/features/panels/logs.md
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
Labels: datasource/Loki, type/bug

#19547 Provisioning: Handle empty nested keys on YAML provisioning datasources
  pkg/services/provisioning/values/values.go
  pkg/services/provisioning/values/values_test.go
Labels: add to changelog, cherry-pick needed, type/bug

#19537 Docs: Updates about Loki annotations
  docs/sources/features/datasources/loki.md
  docs/sources/reference/annotations.md
Labels: datasource/Loki, type/docs

#19465 Explore: Move data source loader into the select
  packages/grafana-ui/.storybook/config.ts
  packages/grafana-ui/src/components/Select/Select.tsx
  packages/grafana-ui/src/components/Select/SelectOption.tsx
  packages/grafana-ui/src/components/Select/SingleValue.tsx
  packages/grafana-ui/src/components/Spinner/Spinner.story.tsx
  packages/grafana-ui/src/components/Spinner/Spinner.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/transitions/FadeTransition.tsx
  packages/grafana-ui/src/utils/useDelayedSwitch.story.tsx
  packages/grafana-ui/src/utils/useDelayedSwitch.ts
  public/app/core/components/Select/DataSourcePicker.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/plugins/datasource/stackdriver/components/__snapshots__/QueryEditor.test.tsx.snap
Labels: area/explore, area/ux

#19502 Chore: Upgrade to Go 1.13
  go.mod
  go.sum
  pkg/tsdb/elasticsearch/elasticsearch.go
  scripts/go/go.mod
  scripts/go/go.sum
  vendor/github.com/klauspost/compress/flate/gen.go
  vendor/github.com/klauspost/cpuid/private-gen.go
  vendor/github.com/lib/pq/oid/gen.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/adaptor_go1_13.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/format_go1_13.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Labels: area/backend

#19474 Chore: Migrates HelpModal from angular to react
  public/app/core/angular_wrappers.ts
  public/app/core/components/help/HelpModal.tsx
  public/app/core/components/help/help.html
  public/app/core/components/help/help.ts
  public/app/core/core.ts
Labels: type/angular-2-react

#19594 Migration: Migrates Admin settings from angular to react
  public/app/features/admin/AdminSettings.tsx
  public/app/features/admin/ServerStats.tsx
  public/app/features/admin/index.ts
  public/app/features/admin/partials/settings.html
  public/app/routes/routes.ts
Labels: type/angular-2-react

#19597 Prometheus: Fixes so results in Panel always are sorted by query order
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: add to changelog, area/panel/graph, cherry-pick needed, datasource/Prometheus, type/bug

#19369 UI: Adds Modal component
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Modal/Modal.story.tsx
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/dark.ts
  packages/grafana-ui/src/themes/light.ts
  packages/grafana-ui/src/types/theme.ts
  yarn.lock
Labels: area/grafana/ui

#19591 Show SAML login button if SAML is enabled
  public/app/core/components/Login/LoginPage.tsx
  public/app/core/components/Login/LoginServiceButtons.tsx
Labels: add to changelog, cherry-pick needed

#19578 Fix <react-profile-wrapper> crashing
  public/app/features/profile/ReactProfileWrapper.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#19611 fixed wrong id for Terabits/sec
  packages/grafana-ui/src/utils/valueFormats/categories.ts
Labels: add to changelog, area/panel/graph, cherry-pick needed, type/bug

#19392 Feature: Adds connectWithCleanup HOC
  public/app/core/actions/cleanUp.ts
  public/app/core/components/connectWithCleanUp.tsx
  public/app/core/reducers/root.test.ts
  public/app/core/reducers/root.ts
  public/app/features/teams/TeamList.tsx
  public/app/store/configureStore.ts
  public/app/types/store.ts
  public/test/core/redux/reducerTester.ts
Labels: type/discussion, type/feature-request

#19623 Graph: Switching to series mode should re-render graph
  public/app/plugins/panel/graph/axes_editor.ts
Labels: add to changelog, cherry-pick needed, type/bug

#19618 Graph: Fixes auto decimals logic for y axis ticks that results in too many decimals for high values
  devenv/dev-dashboards/panel-common/auto_decimals.json
  public/vendor/flot/jquery.flot.js
Labels: add to changelog, cherry-pick needed, type/bug

#19621 DataFormats: When transforming TableModel -> DataFrame -> Table preserve the type attribute
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
  packages/grafana-data/src/types/data.ts
Labels: cherry-pick needed, type/bug

#19658 Rename live option in queries
  public/app/features/explore/state/actions.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/types.ts
  public/app/types/explore.ts
Labels: cherry-pick needed, datasource/Loki

#19381 AzureMonitor: Alerting for Azure Application Insights
  docs/sources/features/datasources/azuremonitor.md
  pkg/tsdb/azuremonitor/applicationinsights-datasource.go
  pkg/tsdb/azuremonitor/applicationinsights-datasource_test.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/azuremonitor-time.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/macros.go
  pkg/tsdb/azuremonitor/test-data/applicationinsights/1-application-insights-response-raw-query.json
  pkg/tsdb/azuremonitor/test-data/applicationinsights/2-application-insights-response-raw-query-segmented.json
  pkg/tsdb/azuremonitor/test-data/applicationinsights/3-application-insights-response-metrics-single-value.json
  pkg/tsdb/azuremonitor/test-data/applicationinsights/4-application-insights-response-metrics-no-segment.json
  pkg/tsdb/azuremonitor/test-data/applicationinsights/4-application-insights-response-metrics-segmented.json
  pkg/tsdb/azuremonitor/test-data/azuremonitor/1-azure-monitor-response-avg.json
  pkg/tsdb/azuremonitor/test-data/azuremonitor/2-azure-monitor-response-total.json
  pkg/tsdb/azuremonitor/test-data/azuremonitor/3-azure-monitor-response-maximum.json
  pkg/tsdb/azuremonitor/test-data/azuremonitor/4-azure-monitor-response-minimum.json
  pkg/tsdb/azuremonitor/test-data/azuremonitor/5-azure-monitor-response-count.json
  pkg/tsdb/azuremonitor/test-data/azuremonitor/6-azure-monitor-response-multi-dimension.json
  pkg/tsdb/azuremonitor/types.go
  pkg/util/url.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_querystring_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_querystring_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
Labels: add to changelog, area/datasource, datasource/Azure Monitor, type/feature-request

#19675 De-duplicate `lint-go` step
  .circleci/config.yml
Labels: area/backend

#19648 Metric Units: fix unit symbols and description consistency
  packages/grafana-ui/src/utils/valueFormats/categories.ts
Labels: area/frontend, area/units

#19664 Fix: Fixes plugin page for Grafana Image Renderer
  packages/grafana-ui/src/types/plugin.ts
  public/app/features/plugins/PluginPage.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#19687 SingleStat: Fixes $__name postfix/prefix usage
  public/app/plugins/panel/singlestat/module.ts
Labels: add to changelog, area/panel/singlestat, cherry-pick needed, type/bug

#19610 ShareQuery: Fixed issue when using -- Dashboard -- datasource (to share query result) when dashboard had rows
  public/app/plugins/datasource/dashboard/DashboardQueryEditor.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#19596 Table: Proper handling of json data with dataframes
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
Labels: cherry-pick needed, type/bug

#19677 build: use vendor folder for building
  .bra.toml
  build.go
Labels: area/backend, type/build-packaging

#19696 Chore: Updates Changelog for 6.4.2
  CHANGELOG.md
Labels: type/chore

#19697 Chore: Updates latest.json for 6.4.2
  latest.json
Labels: type/chore

#19694 Chore: Fixes lines that exceeded 150 chars
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
Labels: type/chore

#19698 Docs: Updating to 6.4.0
  docs/versions.json
Labels: type/docs

#19701 Explore/UI: Removes unnecessary grafana-info-box wrapper around InfluxCheatSheet
  public/app/plugins/datasource/influxdb/components/InfluxStartPage.tsx
  public/app/plugins/datasource/loki/components/LokiCheatSheet.tsx
Labels: area/explore, area/grafana/ui

#19582 Explore: Expand template variables when redirecting from dashboard panel
  public/app/core/utils/explore.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/types.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mssql/types.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/mysql/types.ts
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/types.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/types/explore.ts
Labels: area/datasource/frontend, type/bug

#19708 build: use vendored packages for backend tests
  scripts/circle-test-backend.sh
Labels: area/backend, type/build-packaging

#19436 React group by segment poc
  packages/grafana-ui/src/components/Segment/Segment.story.tsx
  packages/grafana-ui/src/components/Segment/Segment.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
  packages/grafana-ui/src/components/Segment/SegmentSelect.tsx
  packages/grafana-ui/src/components/Segment/index.ts
  packages/grafana-ui/src/components/Segment/types.ts
  packages/grafana-ui/src/components/Segment/useExpandableLabel.tsx
  packages/grafana-ui/src/components/index.ts
Labels: type/angular-2-react, type/poc

#19629 Feature: Adds connectWithCleanup HOC
  public/app/core/actions/cleanUp.ts
  public/app/core/components/connectWithCleanUp.tsx
  public/app/core/reducers/root.test.ts
  public/app/core/reducers/root.ts
  public/app/features/teams/TeamList.tsx
  public/app/store/configureStore.ts
  public/app/types/store.ts
  public/test/core/redux/reducerTester.ts
Labels: type/feature

#19689 Singlestat: Fixed issue with mapping null to text
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
Labels: add to changelog, area/panel/singlestat, cherry-pick needed, type/bug

#19713 UX: Fix empty space in select
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SingleValue.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/transitions/SlideOutTransition.tsx
  public/app/plugins/datasource/stackdriver/components/__snapshots__/QueryEditor.test.tsx.snap
Labels: area/ux

#19719 Explore: updates clear all button to responsive button
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/ResponsiveButton.tsx
  public/sass/pages/_explore.scss
Labels: area/explore, type/ux

#19508 Alerting/Datasource: Add custom headers on alerting queries
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/models/datasource_cache.go
  pkg/models/datasource_cache_test.go
  pkg/tsdb/prometheus/prometheus.go
Labels: area/backend

#19766 Docs: Fixes go get command in developer guide
  contribute/developer-guide.md
Labels: type/docs

#19773 fix: export Bus on search service
  pkg/services/search/service.go
Labels: area/backend, area/search

#19782 @grafana/toolkit: TSLint line number off by 1
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
Labels: add to changelog/grafana-ui

#19803 Panels: Fixes default tab for visualizations without Queries Tab
  public/app/features/dashboard/panel_editor/PanelEditor.tsx
  public/app/features/dashboard/panel_editor/state/selectors.test.ts
  public/app/features/dashboard/panel_editor/state/selectors.ts
Labels: add to changelog, area/editor, cherry-pick needed, type/bug

#19748 pkg/bus: Check errors
  pkg/bus/bus_test.go
Labels: area/backend

#17602 Elasticsearch: Adds support for region annotations
  docs/sources/features/datasources/elasticsearch.md
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/partials/annotations.editor.html
Labels: add to changelog

#19809 DataLinks: Fix context menu not showing in singlestat-ish visualisations
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.tsx
Labels: area/dashboard/data-links

#19754 @grafana/toolkit: use http rather than ssh template repos
  packages/grafana-toolkit/src/cli/tasks/plugin/create.ts
Labels: area/grafana/toolkit, cherry-pick needed

#19799 AzureMonitor: Fix slate interference with dropdowns
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/query_field.tsx
Labels: add to changelog, area/datasource/frontend, cherry-pick needed, datasource/Azure Monitor

#19781 grafana/toolkit: Add font file loader
  packages/grafana-toolkit/src/config/utils/getPluginId.ts
  packages/grafana-toolkit/src/config/webpack/loaders.ts
Labels: area/grafana/toolkit, cherry-pick needed

#19822 Fix: clicking outside of some query editors required 2 clicks
  public/app/features/explore/QueryField.test.tsx
  public/app/features/explore/QueryField.tsx
  public/app/plugins/datasource/elasticsearch/components/ElasticsearchQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
Labels: area/dashboard, area/explore, area/ux, cherry-pick needed, datasource/Elasticsearch, datasource/Loki, datasource/Prometheus

#19749 pkg/middleware: Check errors
  pkg/middleware/auth_proxy/auth_proxy_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/util.go
Labels: area/backend

#19821 grafana/toolkit: Don't fail plugin creation when git user.name config is not set
  packages/grafana-toolkit/src/cli/tasks/plugin/create.ts
Labels: add to changelog, area/grafana/toolkit, cherry-pick needed, type/bug

#19807 Alerting: All notification channels should send even if one fails to send
  pkg/services/alerting/notifier.go
Labels: cherry-pick needed, type/bug

#19804 DataLinks: Fix url field not releasing focus
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/types/panel.ts
  public/app/features/dashboard/panel_editor/VisualizationTab.tsx
  public/app/plugins/panel/gauge/GaugePanelEditor.tsx
Labels: area/dashboard/data-links, area/panel/gauge, area/panel/singlestat, area/ux, cherry-pick needed

#19834 build: update scripts go.(mod|sum)
  Makefile
  scripts/go/go.mod
  scripts/go/go.sum
Labels: area/backend

#19788 Fix: Unsubscribe from events in dashboards
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/panel_editor/VisualizationTab.tsx
Labels: area/dashboard, type/bug

#19854 Loki: Update comment
  public/app/plugins/datasource/loki/datasource.ts
Labels: datasource/Loki, type/chore

#19833 dataframe: guess number field when a NaN
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
Labels: area/frontend

#19857 devenv: have bra watch attempt graceful shutdown
  .bra.toml
Labels: area/devenv

#19849 Chore: Bump Angularjs 1.6.6 -> 1.6.9
  package.json
  yarn.lock
Labels: add to changelog

#19874 Forms: Introduce new color variables to GrafanaTheme
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/themes/dark.ts
  packages/grafana-ui/src/themes/default.ts
  packages/grafana-ui/src/themes/light.ts
  packages/grafana-ui/src/types/theme.ts
Labels: area/grafana/ui, area/ui/theme

#19875 Forms: Introduce new spacing variables to GrafanaTheme
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/themes/default.ts
  packages/grafana-ui/src/types/theme.ts
Labels: area/grafana/ui, area/ui/theme

#19858 TemplateVariables: Introduces $__searchFilter to Query Variables
  docs/sources/features/datasources/graphite.md
  docs/sources/features/datasources/mysql.md
  docs/sources/features/datasources/postgres.md
  public/app/core/directives/value_select_dropdown.ts
  public/app/core/specs/value_select_dropdown.test.ts
  public/app/features/templating/query_variable.ts
  public/app/features/templating/specs/variable.test.ts
  public/app/features/templating/variable.ts
  public/app/partials/valueSelectDropdown.html
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/specs/datasource.test.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
  public/app/plugins/datasource/testdata/datasource.ts
  public/app/plugins/datasource/testdata/metricTree.test.ts
  public/app/plugins/datasource/testdata/metricTree.ts
Labels: add to changelog, area/dashboard/templating, type/feature

#19452 Migrate DataSource HTTP Settings to React
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CertificationKey.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/HttpProxySettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/TLSAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/types.ts
  packages/grafana-ui/src/components/FormField/FormField.story.tsx
  packages/grafana-ui/src/components/TagsInput/TagItem.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.story.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/types/datasource.ts
  packages/grafana-ui/src/utils/index.ts
  packages/grafana-ui/src/utils/storybook/UseState.tsx
  packages/grafana-ui/src/utils/tags.ts
  public/app/core/angular_wrappers.ts
  public/app/core/components/TagFilter/TagBadge.tsx
  public/app/core/directives/tags.ts
  public/app/features/admin/AdminListUsersCtrl.ts
  public/app/features/datasources/partials/http_settings.html
  public/app/features/datasources/partials/http_settings_next.html
  public/app/features/datasources/partials/tls_auth_settings.html
  public/app/features/datasources/settings/HttpSettingsCtrl.ts
Labels: add to changelog, area/datasource/frontend, area/frontend

#19895 Chore: Bump storybook to 5.2.4
  package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Graph/GraphLegend.story.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.story.tsx
  packages/grafana-ui/src/components/Switch/Switch.story.tsx
  yarn.lock
Labels: type/chore

#19859 pkg/plugins: Only warn if plugins fail to load
  pkg/plugins/plugins.go
Labels: area/backend/plugins

#19919 Chore: Updates yarn.lock
  packages/grafana-toolkit/src/cli/tasks/plugin/bundle.ts
  public/app/core/components/connectWithCleanUp.tsx
  yarn.lock
Labels: type/chore

#19933 Fix: Correct color on TagItems
  packages/grafana-ui/src/components/TagsInput/TagItem.tsx
Labels: area/grafana/ui

#19930 grafana/ui: Enable storybook docs
  package.json
  packages/grafana-ui/.storybook/config.ts
  packages/grafana-ui/.storybook/presets.ts
  packages/grafana-ui/.storybook/webpack.config.js
  packages/grafana-ui/package.json
  packages/grafana-ui/src/Intro.story.mdx
  packages/grafana-ui/src/components/DataLinks/DataLinksEditor.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/TLSAuthSettings.tsx
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/SecretFormFied/SecretFormField.tsx
  packages/grafana-ui/src/components/Select/SingleValue.tsx
  packages/grafana-ui/src/components/StatsPicker/StatsPicker.tsx
  packages/grafana-ui/src/components/Switch/Switch.story.tsx
  packages/grafana-ui/src/components/Table/Table.story.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.tsx
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.tsx
  packages/grafana-ui/src/utils/storybook/withPaddedStory.tsx
  packages/grafana-ui/src/utils/storybook/withTheme.tsx
  yarn.lock
Labels: area/grafana/ui

#19825 Refactor: Suggestion plugin for slate
  public/app/features/explore/QueryField.tsx
  public/app/features/explore/slate-plugins/suggestions.tsx
Labels: area/explore, datasource/Elasticsearch, datasource/Loki, datasource/Prometheus, type/refactor

#19937 grafana/ui: Enable mdx import in stories
  packages/grafana-ui/.storybook/webpack.config.js
  packages/grafana-ui/src/components/Switch/Switch.mdx
  packages/grafana-ui/src/components/Switch/Switch.story.tsx
  packages/grafana-ui/src/types/mdx.d.ts
Labels: area/grafana/ui

#19935 docs: improved setup instructions for reporting
  docs/sources/enterprise/_index.md
  docs/sources/features/reporting.md
Labels: type/docs

#19900 Docs: Update Apache configuration to work with MPMs as shared modules
  docs/sources/auth/auth-proxy.md
Labels: type/docs

#19706 Cloudwatch: Make it clear that role switching is not supported
  docs/sources/features/datasources/cloudwatch.md
Labels: datasource/CloudWatch

#19644 API: Fix logging of dynamic listening port
  pkg/api/http_server.go
Labels: add to changelog, area/backend, type/bug

#19794 Explore: Add functionality to show/hide query row results
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/QueryRowActions.test.tsx
  public/app/features/explore/QueryRowActions.tsx
  public/app/features/explore/__snapshots__/QueryRowActions.test.tsx.snap
Labels: add to changelog, area/explore, type/feature

#19720 Docs: Document Makefile
  Makefile
Labels: type/docs

#19716 Docs: Clean up contribute docs
  CONTRIBUTING.md
  ISSUE_TRIAGE.md
  contribute/README.md
  contribute/create-pull-request.md
  contribute/developer-guide.md
  contribute/documentation.md
  contribute/style-guides/README.md
  contribute/style-guides/backend.md
  contribute/triage-issues.md
Labels: type/docs

#19879 Forms: Introduce typographic form elements
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.story.tsx
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.tsx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Label.story.tsx
  packages/grafana-ui/src/components/Forms/Label.tsx
  packages/grafana-ui/src/components/Forms/Legend.story.tsx
  packages/grafana-ui/src/components/Forms/Legend.tsx
  packages/grafana-ui/src/components/Forms/getFormStyles.ts
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/default.ts
  packages/grafana-ui/src/types/theme.ts
  public/sass/base/_forms.scss
Labels: area/grafana/ui, area/ui/theme

#19952 grafana/toolkit: Support js plugins
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
  packages/grafana-toolkit/src/config/mocks/jestSetup/overrides/package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  yarn.lock
Labels: area/grafana/toolkit

#19832 pkg/util: Check errors
  pkg/api/admin_users.go
  pkg/api/apikey.go
  pkg/api/dashboard_snapshot.go
  pkg/api/org_invite.go
  pkg/api/password.go
  pkg/api/signup.go
  pkg/api/user.go
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/components/apikeygen/apikeygen.go
  pkg/components/apikeygen/apikeygen_test.go
  pkg/components/imguploader/azureblobuploader.go
  pkg/components/imguploader/gcsuploader.go
  pkg/components/imguploader/imguploader.go
  pkg/components/imguploader/s3uploader.go
  pkg/components/imguploader/webdavuploader.go
  pkg/login/grafana_login.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/render_auth.go
  pkg/services/rendering/http_mode.go
  pkg/services/rendering/phantomjs.go
  pkg/services/rendering/plugin_mode.go
  pkg/services/rendering/rendering.go
  pkg/services/sqlstore/migrations/user_mig.go
  pkg/services/sqlstore/user.go
  pkg/util/encoding.go
  pkg/util/encoding_test.go
  pkg/util/encryption.go
  pkg/util/encryption_test.go
Labels: area/backend

#19956 Grafana frontend: absolute url replaced with relative
  public/app/features/plugins/PluginPage.tsx
Labels: pr/cla-not-signed

#19798 Docker: Build and use musl-based binaries in alpine images to resolve glibc incompatibility issues
  .circleci/config.yml
  Gruntfile.js
  build.go
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  scripts/build/build-all.sh
  scripts/build/build.sh
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/grunt/options/compress.js
  scripts/grunt/release_task.js
Labels: add to changelog, cherry-pick needed, type/bug

#19992 Fix build of enterprise Docker images
  .circleci/config.yml
Labels: area/backend

#19973 Forms: Introduce new Primary, Secondary and Destructive buttons
  package.json
  packages/grafana-ui/.storybook/tsconfig.json
  packages/grafana-ui/.storybook/webpack.config.js
  packages/grafana-ui/src/components/Button/AbstractButton.tsx
  packages/grafana-ui/src/components/Button/Button.story.tsx
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/Button/types.ts
  packages/grafana-ui/src/components/Forms/Button.mdx
  packages/grafana-ui/src/components/Forms/Button.story.tsx
  packages/grafana-ui/src/components/Forms/Button.tsx
  packages/grafana-ui/src/components/Forms/Label.story.tsx
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  packages/grafana-ui/src/components/Forms/getFormStyles.ts
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/default.ts
  packages/grafana-ui/src/types/theme.ts
Labels: area/grafana/ui

#20023 New metric endpoint v2
  pkg/api/api.go
  pkg/api/metrics.go
  pkg/plugins/datasource_plugin.go
  pkg/setting/setting.go
Labels: area/backend/api

#19979 ReactMigration: Migrate Loki and Elastic config pages to React
  packages/grafana-ui/src/types/datasource.ts
  packages/grafana-ui/src/utils/validate.test.ts
  packages/grafana-ui/src/utils/validate.ts
  public/app/features/datasources/mocks.ts
  public/app/features/explore/Explore.tsx
  public/app/plugins/datasource/elasticsearch/config_ctrl.ts
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.tsx
  public/app/plugins/datasource/elasticsearch/configuration/mocks.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/module.ts
  public/app/plugins/datasource/elasticsearch/partials/config.html
  public/app/plugins/datasource/elasticsearch/specs/datasource.test.ts
  public/app/plugins/datasource/input/InputConfigEditor.tsx
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/loki/components/ConfigEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/mocks.ts
  public/app/plugins/datasource/loki/module.ts
  public/app/plugins/datasource/loki/partials/config.html
  public/app/types/explore.ts
Labels: datasource/Elasticsearch, datasource/Loki, type/angular-2-react

#19851 DataLinks: Implement javascript callback
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.tsx
  packages/grafana-ui/src/utils/dataLinks.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/plugins/panel/graph/graph.ts
Labels: area/frontend, datasource/CloudWatch

#19976 Enable errcheck for golangci-lint
  pkg/plugins/datasource_plugin.go
  pkg/plugins/datasource_plugin_test.go
  pkg/plugins/models.go
  scripts/go/configs/.golangci.yml
Labels: area/backend

#20073 Chore: remove logging from panelQueryRunner
  public/app/features/dashboard/state/PanelQueryRunner.ts
Labels: area/frontend

#20038 Chore: Add some typings for react events
  public/app/plugins/datasource/stackdriver/components/AliasBy.tsx
  public/app/plugins/datasource/stackdriver/components/SimpleSelect.tsx
  public/app/plugins/datasource/stackdriver/components/VariableQueryEditor.tsx
  public/app/plugins/panel/graph2/GraphLegendEditor.tsx
Labels: type/chore

#20042 Grafana/ui: Refactor button and add default type
  packages/grafana-ui/src/components/Button/Button.story.tsx
  packages/grafana-ui/src/components/Button/Button.test.tsx
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/Button/ButtonContent.tsx
  packages/grafana-ui/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/grafana-ui/src/components/Button/styles.ts
  packages/grafana-ui/src/components/Button/types.ts
  packages/grafana-ui/src/components/Forms/Button.story.tsx
  packages/grafana-ui/src/components/Forms/Button.tsx
Labels: area/grafana/ui

#19910 Explore: Remove datasource testing on selector
  packages/grafana-ui/src/types/datasource.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiLabels.test.ts
  public/app/plugins/datasource/loki/components/useLokiLabels.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.test.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/types/explore.ts
Labels: area/explore

#19883 DataLinks: Fix blur issues
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
Labels: area/dashboard, area/dashboard/data-links, area/ux, cherry-pick needed, pr/needs-manual-testing, type/bug

#20061 Add data link from panel to cloudwatch console
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
Labels: datasource/CloudWatch

#20081 Docker: makes it possible to parse timezones in the docker image
  Dockerfile
  packaging/docker/Dockerfile
Labels: area/docker, cherry-pick needed

#19823 Docs: Consolidate backend guidelines
  contribute/style-guides/backend.md
  pkg/ARCHITECTURE.md
  pkg/README.md
Labels: area/backend, pr/changes-needed, type/docs

#19678 Chore: Moves QueryField to @grafana/ui
  packages/grafana-ui/src/components/QueryField/QueryField.story.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/components/Typeahead/Typeahead.tsx
  packages/grafana-ui/src/components/Typeahead/TypeaheadInfo.tsx
  packages/grafana-ui/src/components/Typeahead/TypeaheadItem.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/slate-plugins/braces.ts
  packages/grafana-ui/src/slate-plugins/clear.test.tsx
  packages/grafana-ui/src/slate-plugins/clear.ts
  packages/grafana-ui/src/slate-plugins/clipboard.ts
  packages/grafana-ui/src/slate-plugins/indentation.ts
  packages/grafana-ui/src/slate-plugins/index.ts
  packages/grafana-ui/src/slate-plugins/newline.ts
  packages/grafana-ui/src/slate-plugins/runner.test.tsx
  packages/grafana-ui/src/slate-plugins/runner.ts
  packages/grafana-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  packages/grafana-ui/src/themes/ThemeContext.tsx
  packages/grafana-ui/src/types/completion.ts
  packages/grafana-ui/src/types/datasource.ts
  packages/grafana-ui/src/types/index.ts
  packages/grafana-ui/src/utils/typeahead.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/TypeaheadInfo.tsx
  public/app/features/explore/slate-plugins/runner.ts
  public/app/features/explore/state/actionTypes.ts
  public/app/plugins/datasource/elasticsearch/components/ElasticsearchQueryField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/query_field.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/promql.ts
  public/app/plugins/datasource/prometheus/specs/language_provider.test.ts
  public/app/types/explore.ts
Labels: type/chore

#20117 Templating: Adds typings to Variables
  public/app/features/templating/TextBoxVariable.ts
  public/app/features/templating/adhoc_variable.ts
  public/app/features/templating/constant_variable.ts
  public/app/features/templating/custom_variable.ts
  public/app/features/templating/datasource_variable.ts
  public/app/features/templating/interval_variable.ts
  public/app/features/templating/query_variable.ts
  public/app/features/templating/specs/query_variable.test.ts
  public/app/features/templating/variable.ts
Labels: area/dashboard/templating, type/refactor

#20110 Explore: Fix deferred rendering of logs
  packages/grafana-ui/src/components/Logs/LogRows.test.tsx
  packages/grafana-ui/src/components/Logs/LogRows.tsx
Labels: area/explore, type/bug

#20091 docs: Update Azure AD instructions in generic-oauth.md
  docs/sources/auth/generic-oauth.md
Labels: area/backend, area/backend/auth/oauth, type/docs

#19820 Provisioning: Allow saving of provisioned dashboards
  devenv/dashboards.yaml
  docs/sources/administration/provisioning.md
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/http_server.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/dashboard_mock.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/types.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/sqlstore/dashboard_service_integration_test.go
Labels: area/backend, area/provisioning

#19485 Docs: Ordering and formatting of datasources in docs - #19285
  docs/sources/guides/basic_concepts.md
Labels: type/docs

#20115 remove editor keys and null coalescing
  public/app/plugins/datasource/grafana-azure-monitor-datasource/ConfigEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AzureCredentialsForm.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MonitorConfig.tsx
Labels: area/datasource/frontend, type/angular-2-react

#20123 grafana/toolkit: plugins CI, make sure zipped plugin contains root directory with plugin id as name
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
Labels: area/frontend, area/grafana/toolkit

#20102 Docs: Update basic_concepts.md
  docs/sources/guides/basic_concepts.md
Labels: pr/changes-needed, pr/external, type/docs
