Repository grafana/grafana, pull requests merged in 2019-09, with the labels that each got.

#18804 Explore: Introduces PanelData to ExploreItemState
  emails/package.json
  public/app/core/utils/explore.ts
  public/app/features/dashboard/state/PanelQueryState.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/types/explore.ts
Labels: area/explore, pr/needs-manual-testing, type/refactor

#18544 Performance/Webpack: Introduces more aggressive code-splitting and other perf improvements
  .babelrc
  .gitignore
  package.json
  packages/grafana-data/src/utils/fieldReducer.test.ts
  packages/grafana-data/src/utils/rangeutil.ts
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/src/components/Graph/GraphWithLegend.tsx
  public/app/core/components/Footer/Footer.tsx
  public/app/core/components/code_editor/brace.d.ts
  public/app/core/components/code_editor/code_editor.ts
  public/app/features/admin/__snapshots__/ServerStats.test.tsx.snap
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/explore/NoDataSourceCallToAction.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/plugins/PluginPage.tsx
  public/app/features/plugins/built_in_plugins.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/features/users/UsersActionBar.tsx
  public/app/features/users/__snapshots__/UsersActionBar.test.tsx.snap
  public/app/plugins/datasource/graphite/FunctionEditor.tsx
  public/app/plugins/datasource/graphite/add_graphite_func.ts
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
  public/app/plugins/datasource/stackdriver/components/Alignments.tsx
  public/app/plugins/datasource/stackdriver/query_ctrl.ts
  public/app/plugins/datasource/testdata/TestInfoTab.tsx
  public/app/routes/routes.ts
  public/sass/base/_fonts.scss
  public/test/specs/helpers.ts
  public/views/index-template.html
  scripts/webpack/dependencies.js
  scripts/webpack/webpack.common.js
  scripts/webpack/webpack.dev.js
  scripts/webpack/webpack.hot.js
  scripts/webpack/webpack.prod.js
Labels: type/performance

#18836 Explore: Allow pausing and resuming of live tailing
  public/app/features/explore/LiveLogs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/reducers.ts
  public/app/types/explore.ts
Labels: add to changelog, area/explore, area/frontend

#18218 Alerting: Add lock on Job to prevent a race condition
  pkg/services/alerting/engine.go
  pkg/services/alerting/engine_integration_test.go
  pkg/services/alerting/engine_test.go
  pkg/services/alerting/models.go
  pkg/services/alerting/scheduler.go
Labels: area/alerting, area/backend

#18847 Explore: Add typings for queryTransaction.request
  public/app/core/utils/explore.ts
  public/app/features/explore/state/actions.ts
  public/app/types/explore.ts
Labels: area/explore, type/chore

#18879 Explore: elastic small fixes
  packages/grafana-ui/src/types/datasource.ts
  public/app/core/logs_model.ts
  public/app/features/explore/Table.tsx
  public/app/features/explore/state/reducers.ts
Labels: area/explore, datasource/Elasticsearch

#18881 Webpack: Fix accidental double typechecking
  scripts/webpack/webpack.common.js
  scripts/webpack/webpack.dev.js
Labels: type/bug

#18893 Units: Add South African Rand (ZAR) to currencies
  packages/grafana-ui/src/utils/valueFormats/categories.ts
Labels: add to changelog, area/units

#18868 LDAP: Add API endpoint to query the LDAP server(s) status
  pkg/api/api.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/login/ldap_login_test.go
  pkg/services/multildap/multildap.go
  pkg/services/multildap/multildap_test.go
  pkg/services/multildap/testing.go
Labels: area/backend/api, area/backend/auth/ldap

#18707 convert user organizations section to react
  public/app/core/utils/UserProvider.tsx
  public/app/features/profile/ProfileCtrl.ts
  public/app/features/profile/ReactProfileWrapper.tsx
  public/app/features/profile/UserOrganizations.tsx
  public/app/features/profile/partials/profile.html
  public/app/types/user.ts
Labels: area/datasource/frontend, type/angular-2-react

#18709 Loki: support loki with streaming in dashboards
  public/app/core/utils/explore.ts
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/features/dashboard/state/PanelQueryState.ts
  public/app/features/explore/LiveLogs.tsx
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/live_streams.test.ts
  public/app/plugins/datasource/loki/live_streams.ts
  public/app/plugins/datasource/loki/plugin.json
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/loki/types.ts
Labels: area/streaming, datasource/Loki

#17982 Explore: Adds ability to save a panel's query from Explore
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
  packages/grafana-ui/src/components/RefreshPicker/_RefreshPicker.scss
  packages/grafana-ui/src/components/Select/ButtonSelect.tsx
  public/app/core/services/backend_srv.ts
  public/app/core/services/keybindingSrv.ts
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/dashboard/components/SaveModals/SaveDashboardModalCtrl.ts
  public/app/features/dashboard/services/ChangeTracker.ts
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/Wrapper.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/types/dashboard.ts
  public/app/types/explore.ts
Labels: area/explore, type/feature

#18955 grafana/toolkit: Add default mock for stylesheet imports for Jest
  packages/grafana-toolkit/src/cli/tasks/toolkit.build.ts
  packages/grafana-toolkit/src/config/jest.plugin.config.test.ts
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
  packages/grafana-toolkit/src/config/mocks/jestSetup/noOverrides/package.json
  packages/grafana-toolkit/src/config/mocks/jestSetup/overrides/package.json
  packages/grafana-toolkit/src/config/mocks/jestSetup/unsupportedOverrides/package.json
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/duplicates/src/styles/dark.css
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/duplicates/src/styles/dark.scss
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/duplicates/src/styles/light.css
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/missing-theme-file/src/styles/light.css
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/no-theme-files/src/styles/whatever.css
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/ok/src/styles/dark.css
  packages/grafana-toolkit/src/config/mocks/stylesheetsSupport/ok/src/styles/light.css
  packages/grafana-toolkit/src/config/styles.mock.js
  packages/grafana-toolkit/src/config/webpack/loaders.test.ts
Labels: area/grafana/toolkit

#18740 Transformers: configure result transformations after query
  conf/defaults.ini
  packages/grafana-data/src/utils/transformers/filter.ts
  packages/grafana-data/src/utils/transformers/filterByName.test.ts
  packages/grafana-data/src/utils/transformers/filterByName.ts
  packages/grafana-data/src/utils/transformers/ids.ts
  packages/grafana-data/src/utils/transformers/noop.ts
  packages/grafana-data/src/utils/transformers/reduce.ts
  packages/grafana-data/src/utils/transformers/transformers.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.tsx
  packages/grafana-ui/src/components/JSONFormatter/JSONFormatter.tsx
  packages/grafana-ui/src/components/JSONFormatter/json_explorer/helpers.ts
  packages/grafana-ui/src/components/JSONFormatter/json_explorer/json_explorer.ts
  packages/grafana-ui/src/components/PanelOptionsGroup/PanelOptionsGroup.tsx
  packages/grafana-ui/src/components/TransformersUI/FilterByNameTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/ReduceTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/TransformationRow.tsx
  packages/grafana-ui/src/components/TransformersUI/TransformationsEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/transformers.ts
  packages/grafana-ui/src/components/TransformersUI/types.ts
  packages/grafana-ui/src/components/index.ts
  pkg/api/frontendsettings.go
  pkg/setting/setting.go
  public/app/core/components/jsontree/jsontree.ts
  public/app/core/core.ts
  public/app/features/alerting/TestRuleResult.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/panel_editor/QueriesTab.tsx
  public/app/features/dashboard/panel_editor/QueryInspector.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/features/plugins/PluginStateInfo.tsx
  public/app/plugins/datasource/dashboard/SharedQueryRunner.ts
  public/app/plugins/panel/graph/module.ts
Labels: area/frontend

#18945 Annotations: Fix query editor rendering on datasource change
  public/app/features/annotations/editor_ctrl.ts
Labels: add to changelog, area/annotations, area/frontend

#18949 Annotations: Add annotations support to Loki
  docs/sources/plugins/developing/datasources.md
  packages/grafana-data/src/utils/dataFrameView.ts
  packages/grafana-ui/src/types/datasource.ts
  public/app/core/angular_wrappers.ts
  public/app/features/annotations/annotations_srv.ts
  public/app/plugins/datasource/loki/LokiAnnotationsQueryCtrl.tsx
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/module.ts
  public/app/plugins/datasource/loki/partials/annotations.editor.html
  public/app/plugins/datasource/loki/plugin.json
Labels: add to changelog, area/annotations, datasource/Loki

#18986 Explore: Fixes LoadingState and GraphResults between runs
  packages/grafana-ui/src/types/datasource.ts
  public/app/features/dashboard/state/runRequest.test.ts
  public/app/features/dashboard/state/runRequest.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: area/explore, type/refactor

#18991 tsdb: move sql_engine to sub package
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sqleng/sql_engine.go
  pkg/tsdb/sqleng/sql_engine_test.go
Labels: area/backend, type/chore

#18995 Explore: Fixes failing Loki and Prometheus unit tests
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
Labels: area/explore, datasource/Loki, datasource/Prometheus

#19000 Fix: Fixes so queries in Explore are only run if Graph/Table is shown
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/specs/datasource.test.ts
  public/app/plugins/datasource/prometheus/types.ts
  public/test/core/redux/reducerTester.ts
Labels: area/explore, datasource/Prometheus

#19004 API: Add `updatedAt` to api/users/:id
  pkg/api/user_test.go
  pkg/models/user.go
  pkg/services/sqlstore/user.go
Labels: area/backend/api, type/feature

#18195 Packages: update versioning and release process
  .circleci/config.yml
  lerna.json
  package.json
  packages/README.md
  packages/grafana-data/README.md
  packages/grafana-data/package.json
  packages/grafana-runtime/README.md
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/package.json
  packages/grafana-ui/README.md
  packages/grafana-ui/package.json
  scripts/build/release-packages.sh
  scripts/circle-release-next-packages.sh
Labels: area/frontend, type/build-packaging

#19005 TimeSeries: Add data frame index and field name
  public/app/core/time_series2.ts
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/graph/specs/__snapshots__/data_processor.test.ts.snap
Labels: area/dashboard/data-links

#18985 DataLinksInput - change the way enter key is handled
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
Labels: area/dashboard/data-links, area/frontend

#18909 Stackdriver: Add extra alignment period options
  pkg/tsdb/stackdriver/stackdriver.go
  pkg/tsdb/stackdriver/stackdriver_test.go
  public/app/plugins/datasource/stackdriver/constants.ts
Labels: add to changelog, datasource/Stackdriver

#19085 Explore: Add throttling when doing live queries
  public/app/features/explore/state/actions.ts
Labels: area/explore, datasource/Loki

#19092 Prometheus: Fix response state
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus

#19095 Explore: Move throttling before processing
  public/app/features/explore/state/actions.ts
Labels: area/explore

#18976 LDAP: Allow an user to be synchronized against LDAP
  pkg/api/api.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/login_test.go
  pkg/login/ldap_login.go
Labels: area/backend/api, area/backend/auth/ldap

#19089 grafana/toolkit: Find module files correctly
  packages/grafana-toolkit/src/cli/utils/execTask.ts
  packages/grafana-toolkit/src/cli/utils/useSpinner.ts
  packages/grafana-toolkit/src/config/webpack.plugin.config.test.ts
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-toolkit/tslint.json
Labels: area/grafana/toolkit

#19083 Graph: Adds onHorizontalRegionSelected
  packages/grafana-ui/src/components/Graph/Graph.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.tsx
  packages/grafana-ui/src/types/panel.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/explore/ExploreGraphPanel.tsx
  public/app/plugins/panel/graph2/GraphPanel.tsx
  public/app/plugins/panel/graph2/GraphPanelController.tsx
Labels: area/grafana/ui, area/panel/graph

#19124 Fix login page failing when navigating from user send password and reset password views
  pkg/api/frontendsettings.go
  pkg/api/login.go
  public/app/core/components/Login/LoginCtrl.tsx
Labels: area/frontend

#19122 Explore: Fixes crash using back button with a zoomed in graph
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
Labels: area/explore, type/bug

#18897 LDAP: Do not panic when closing the connection if it's not established
  pkg/services/ldap/ldap.go
  pkg/services/ldap/ldap_test.go
  pkg/services/ldap/testing.go
  pkg/services/multildap/multildap.go
  pkg/services/multildap/multildap_test.go
Labels: area/backend/auth/ldap, type/bug

#19142 Metrics: Adds setting for turning off total stats metrics
  conf/defaults.ini
  conf/sample.ini
  docs/sources/installation/configuration.md
  pkg/infra/usagestats/usage_stats.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/setting/setting.go
Labels: cherry-pick needed

#19128 Feature: Encapsulated dynamic imports with error boundary and suspense
  public/app/core/components/PageLoader/PageLoader.tsx
  public/app/core/components/SafeDynamicImport.tsx
  public/app/routes/routes.ts
Labels: type/feature-request

#19154 TimePicker: Fixes hiding time picker dropdown in FireFox
  packages/grafana-ui/src/components/Select/ButtonSelect.tsx
Labels: add to changelog, area/grafana/ui, type/bug, type/ux

#19143 Explore: Update live tail buttons
  package.json
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
  packages/grafana-ui/src/components/RefreshPicker/_RefreshPicker.scss
  packages/grafana-ui/src/themes/ThemeContext.tsx
  packages/grafana-ui/src/themes/index.ts
  public/app/features/explore/ExploreTimeControls.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/LiveTailButton.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/ResponsiveButton.tsx
  public/app/features/explore/RunButton.tsx
  public/sass/pages/_explore.scss
  yarn.lock
Labels: add to changelog/grafana-ui, area/explore, area/ux

#19006 Api: Readonly datasources should not be created via the API
  pkg/api/datasources.go
  pkg/models/datasource.go
Labels: add to changelog

#19115 Azure Monitor: Add support for cross resource queries
  pkg/services/provisioning/datasources/testdata/zero-datasources/placeholder-for-git
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/migrations.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/multi-select.directive.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/multi-select.directive.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
Labels: datasource/Azure Monitor

#19162 Docs: Add docs around feature toggles config
  docs/sources/installation/configuration.md
Labels: type/docs

#19144 Docs: What's new 6.4 draft
  docs/sources/features/panels/graph.md
  docs/sources/guides/whats-new-in-v6-4.md
Labels: type/docs

#18412 Chore: Update Slate to 0.47.8
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/index.ts
  packages/grafana-ui/src/slate-plugins/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/TOKEN_MARK.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/utils/slate.ts
  packages/grafana-ui/tsconfig.json
  public/app/features/explore/QueryField.test.tsx
  public/app/features/explore/QueryField.tsx
  public/app/features/explore/Typeahead.tsx
  public/app/features/explore/TypeaheadInfo.tsx
  public/app/features/explore/TypeaheadItem.tsx
  public/app/features/explore/slate-plugins/braces.test.ts
  public/app/features/explore/slate-plugins/braces.test.tsx
  public/app/features/explore/slate-plugins/braces.ts
  public/app/features/explore/slate-plugins/clear.test.ts
  public/app/features/explore/slate-plugins/clear.test.tsx
  public/app/features/explore/slate-plugins/clear.ts
  public/app/features/explore/slate-plugins/clipboard.ts
  public/app/features/explore/slate-plugins/indentation.ts
  public/app/features/explore/slate-plugins/newline.ts
  public/app/features/explore/slate-plugins/runner.test.tsx
  public/app/features/explore/slate-plugins/runner.ts
  public/app/features/explore/slate-plugins/selection_shortcuts.ts
  public/app/features/explore/slate-plugins/suggestions.tsx
  public/app/features/explore/utils/typeahead.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/elasticsearch/components/ElasticsearchQueryField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/KustoQueryField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/query_field.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiSyntax.test.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/mocks.ts
  public/app/plugins/datasource/loki/syntax.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/prometheus/specs/language_provider.test.ts
  public/app/types/explore.ts
  public/sass/components/_slate_editor.scss
  tsconfig.json
  yarn.lock
Labels: dependencies, type/chore

#19174 Devenv: create slow_proxy_mac
  devenv/docker/blocks/slow_proxy_mac/Dockerfile
  devenv/docker/blocks/slow_proxy_mac/docker-compose.yaml
  devenv/docker/blocks/slow_proxy_mac/main.go
Labels: area/devenv

#19183 Docs: Image rendering
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/image_rendering.md
  docs/sources/alerting/notifications.md
  docs/sources/installation/configuration.md
  docs/sources/reference/sharing.md
Labels: type/docs

#19180 API: adds redirect helper to simplify http redirects
  pkg/api/common.go
Labels: area/backend/api, cherry-pick needed

#19165 Dashboard: Fixes overlapping back button in kiosk mode
  packages/grafana-ui/src/themes/_variables.scss.tmpl.ts
  public/sass/_variables.generated.scss
  public/sass/components/_navbar.scss
  public/sass/components/_view_states.scss
Labels: area/frontend, cherry-pick needed, type/bug, type/ux

#19191 Menu: fix menu button in the mobile view
  public/sass/components/_navbar.scss
  public/sass/components/_view_states.scss
Labels: area/frontend, area/navigation, cherry-pick needed

#19168 LDAP: disable built-in error notifications
  public/app/features/admin/state/actions.ts
  public/app/features/admin/state/apis.ts
Labels: cherry-pick needed

#19203 MSSQL: Revert usage of new connectionstring format introduced by #18384
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/mssql_test.go
Labels: add to changelog, area/backend, cherry-pick needed, type/bug

#19188 Docker: Upgrade packages to resolve reported vulnerabilities
  Dockerfile
  packaging/docker/Dockerfile
Labels: add to changelog, cherry-pick needed

#19185 Docs: Note when using For and No Data in alert rule
  docs/sources/alerting/rules.md
Labels: type/docs

#19217 Gauge/BarGauge: Fix issue with [object Object] in titles
  packages/grafana-ui/src/utils/fieldDisplay.ts
Labels: cherry-pick needed

#19146 Cloudwatch: Fix autocomplete for Gamelift dimensions (#19145)
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: area/backend

#19178 SQL: Rewrite statistics query
  pkg/services/sqlstore/stats.go
Labels: area/backend

#19226 Plugins: expose whole rxjs to plugins
  public/app/features/plugins/plugin_loader.ts
Labels: area/plugins

#19247 Snapshots: store DataFrameDTO instead of MutableDataFrame in snapshot data
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
Labels: area/dashboard/snapshot

#19207 grafana/toolkit: Add plugin:create task
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/bin/grafana-toolkit.js
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.create.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/create.ts
  packages/grafana-toolkit/src/cli/utils/execTask.ts
  packages/grafana-toolkit/src/cli/utils/prompt.ts
  packages/grafana-toolkit/src/cli/utils/rmdir.ts
  packages/grafana-toolkit/src/cli/utils/useSpinner.ts
  yarn.lock
Labels: area/grafana/toolkit

#18730 Alerting: Truncate PagerDuty summary when greater than 1024 characters
  pkg/services/alerting/notifiers/pagerduty.go
Labels: area/backend

#18971 CloudWatch: ContainerInsights metrics support
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: area/backend

#19253 grafana/toolkit: Fix toolkit not building @grafana/toolkit
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/toolkit.build.ts
Labels: cherry-pick needed, type/bug

#19248 Docs: Update themes.md
  style_guides/themes.md
Labels: area/frontend, type/docs

#19187 Explore: live tail UI improvements
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/LiveLogs.tsx
  public/app/features/explore/LiveTailButton.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/ResponsiveButton.tsx
  public/app/features/explore/RunButton.tsx
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/LogsCrossFadeTransition.tsx
Labels: area/explore, area/ux, cherry-pick needed

#19246 Graphite: Time range expansion reduced from 1 minute to 1 second
  public/app/plugins/datasource/graphite/datasource.ts
Labels: add to changelog, cherry-pick needed, datasource/Graphite

#19239 MySQL, Postgres, MSSQL: Only debug log when in development
  pkg/tsdb/sqleng/sql_engine.go
Labels: cherry-pick needed

#19254 Vector: remove toJSON() from interface
  packages/grafana-data/src/dataframe/FieldCache.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/vector.ts
Labels: cherry-pick needed

#19262 grafana/toolkit: Update changelog task to generate toolkit changelog too
  packages/grafana-toolkit/CHANGELOG.md
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/changelog.ts
Labels: area/grafana/toolkit

#19300 Dashboard: Hides alpha icon for visualization that is not in alpha/beta stage
  public/app/features/plugins/PluginStateInfo.tsx
Labels: cherry-pick needed, type/bug

#18861 Build: Split up task in the CI pipeline to ease running outside circleci
  .circleci/config.yml
  scripts/build/load-signing-key.sh
  scripts/build/prepare_signing_key.sh
  scripts/build/sign_packages.sh
  scripts/build/update_repo/README.md
  scripts/build/update_repo/load-signing-key.sh
  scripts/build/update_repo/publish-deb.sh
  scripts/build/update_repo/publish-rpm.sh
  scripts/build/update_repo/test-publish-deb-repo.sh
  scripts/build/update_repo/test-publish-rpm-repo.sh
  scripts/build/update_repo/test-update-deb-repo.sh
  scripts/build/update_repo/update-deb.sh
  scripts/build/update_repo/update-rpm.sh
  scripts/build/verify_signed_packages.sh
Labels: type/build-packaging

#19272 Chore: Upgrades react-redux to version 7.1.1
  package.json
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamMembers.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamPages.test.tsx.snap
  public/app/features/users/__snapshots__/InviteesTable.test.tsx.snap
  public/app/features/users/__snapshots__/UsersListPage.test.tsx.snap
  yarn.lock
Labels: dependencies, type/chore

#19197 Chore: Update Slate to 0.47.8
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  packages/grafana-ui/src/components/DataLinks/DataLinkEditor.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksEditor.tsx
  packages/grafana-ui/src/index.ts
  packages/grafana-ui/src/slate-plugins/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/TOKEN_MARK.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/utils/slate.ts
  packages/grafana-ui/tsconfig.json
  public/app/features/dashboard/panel_editor/GeneralTab.tsx
  public/app/features/explore/QueryField.test.tsx
  public/app/features/explore/QueryField.tsx
  public/app/features/explore/Typeahead.tsx
  public/app/features/explore/TypeaheadInfo.tsx
  public/app/features/explore/TypeaheadItem.tsx
  public/app/features/explore/slate-plugins/braces.test.ts
  public/app/features/explore/slate-plugins/braces.test.tsx
  public/app/features/explore/slate-plugins/braces.ts
  public/app/features/explore/slate-plugins/clear.test.ts
  public/app/features/explore/slate-plugins/clear.test.tsx
  public/app/features/explore/slate-plugins/clear.ts
  public/app/features/explore/slate-plugins/clipboard.ts
  public/app/features/explore/slate-plugins/indentation.ts
  public/app/features/explore/slate-plugins/newline.ts
  public/app/features/explore/slate-plugins/prism/index.tsx
  public/app/features/explore/slate-plugins/runner.test.tsx
  public/app/features/explore/slate-plugins/runner.ts
  public/app/features/explore/slate-plugins/selection_shortcuts.ts
  public/app/features/explore/slate-plugins/suggestions.tsx
  public/app/features/explore/utils/typeahead.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/elasticsearch/components/ElasticsearchQueryField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/KustoQueryField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/editor/query_field.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiSyntax.test.ts
  public/app/plugins/datasource/loki/components/useLokiSyntax.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/mocks.ts
  public/app/plugins/datasource/loki/syntax.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/prometheus/specs/language_provider.test.ts
  public/app/types/explore.ts
  public/sass/components/_dropdown.scss
  public/sass/components/_slate_editor.scss
  tsconfig.json
  yarn.lock
Labels: area/editor

#19250 Alerting: Prevents creating alerts from unsupported queries
  public/app/features/alerting/AlertTab.tsx
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/alerting/getAlertingValidationMessage.test.ts
  public/app/features/alerting/getAlertingValidationMessage.ts
  public/app/features/dashboard/panel_editor/PanelEditor.tsx
  public/app/features/dashboard/panel_editor/state/actions.test.ts
  public/app/features/dashboard/panel_editor/state/actions.ts
  public/app/features/dashboard/panel_editor/state/reducers.test.ts
  public/app/features/dashboard/panel_editor/state/reducers.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/actions.ts
  public/app/features/dashboard/state/reducers.ts
  public/app/types/store.ts
  public/test/core/thunk/thunkTester.ts
Labels: add to changelog, cherry-pick needed, type/bug

#19261 Multi-LDAP: Do not fail-fast on invalid credentials
  pkg/services/multildap/multildap.go
  pkg/services/multildap/multildap_test.go
Labels: add to changelog, area/backend/auth/ldap, cherry-pick needed, type/bug

#19263 Explore: Fix unsubscribing from Loki websocket
  package.json
  public/app/features/dashboard/state/runRequest.ts
  public/app/plugins/datasource/loki/live_streams.test.ts
  public/app/plugins/datasource/loki/live_streams.ts
  yarn.lock
Labels: area/explore, cherry-pick needed, datasource/Loki

#19318 Plugins: Skips existence of module.js for renderer plugins
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
Labels: area/backend/plugins, area/plugins, cherry-pick needed, type/bug

#19308 Chore: Upgrade typescript to version 3.6.3
  package.json
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  public/app/features/datasources/utils/passwordHandlers.test.ts
  public/app/features/explore/Explore.tsx
  yarn.lock
Labels: dependencies

#19346 Azure Monitor: Remove support for cross resource queries (#19115)"
  pkg/services/provisioning/datasources/testdata/zero-datasources/placeholder-for-git
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/migrations.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/multi-select.directive.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/multi-select.directive.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
Labels: cherry-pick needed, datasource/Azure Monitor

#19315 Dashboard: Fix export for sharing when panels use default data source
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
Labels: add to changelog, cherry-pick needed, type/bug

#19356 Explore: Simplify mode selection code
  public/app/features/explore/ExploreToolbar.tsx
Labels: area/explore, type/refactor

#19364 grafana/ui: Timezone picker
  packages/grafana-data/src/datetime/index.ts
  packages/grafana-data/src/datetime/timezones.ts
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker.story.tsx
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker.tsx
Labels: add to changelog/grafana-ui

#19235 Explore: Fix limit in case of Loki logs.
  public/app/features/explore/state/actions.ts
Labels: area/explore, cherry-pick needed

#19237 MySQL, Postgres, MSSQL: Fix validating query with template variables in alert
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mssql/specs/datasource.test.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
Labels: add to changelog, type/bug

#19209 MySQL, Postgres: Update raw sql when query builder updates
  public/app/plugins/datasource/mysql/query_ctrl.ts
  public/app/plugins/datasource/postgres/query_ctrl.ts
Labels: add to changelog, cherry-pick needed

#19373 MySQL: Limit datasource error details returned from the backend
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/macros_test.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/sqleng/sql_engine.go
Labels: cherry-pick needed, type/bug

#19376 ValueFormats: display +- Infinity
  packages/grafana-ui/src/utils/valueFormats/valueFormats.test.ts
  packages/grafana-ui/src/utils/valueFormats/valueFormats.ts
Labels: cherry-pick needed

#19379 Build: Fix correct sort order of merged pr's in cherrypick task
  packages/grafana-toolkit/src/cli/tasks/cherrypick.ts
Labels: cherry-pick needed

#19361 PanelData: Adds timeRange prop to PanelData
  packages/grafana-data/src/types/time.ts
  packages/grafana-ui/src/types/panel.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/panel_editor/QueriesTab.tsx
  public/app/features/dashboard/panel_editor/QueryEditorRow.test.ts
  public/app/features/dashboard/panel_editor/QueryEditorRow.tsx
  public/app/features/dashboard/panel_editor/VisualizationTab.tsx
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/runRequest.test.ts
  public/app/features/dashboard/state/runRequest.ts
  public/app/features/explore/QueryStatus.test.tsx
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/plugins/datasource/dashboard/runSharedRequest.ts
  public/test/core/redux/reducerTester.ts
Labels: area/panel/data, type/refactor

#19362 Docs: Update readme with info about ongoing migration
  docs/README.md
Labels: type/docs

#19395 Dev: Sets `preserveSymlinks` to `false` in top-level tsconfig
  tsconfig.json
Labels: area/devenv

#19396 DataLinks: suggestions menu improvements
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  public/app/features/panel/panellinks/link_srv.ts
Labels: area/dashboard/data-links, area/frontend, cherry-pick needed

#19398 Tests: Adds throwUnhandledRejections to jest setup
  public/app/features/alerting/TestRuleResult.test.tsx
  public/app/features/alerting/TestRuleResult.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/test/jest-setup.ts
Labels: type/chore

#19400 grafana/toolkit: Improve contribution readme
  packages/grafana-toolkit/README.md
Labels: area/grafana/toolkit

#19370 Docs: Update Loki docs with new syntax and features
  docs/sources/features/datasources/loki.md
Labels: datasource/Loki, type/docs

#19411 Docs: Add styling.md with guide to Emotion at Grafana
  CONTRIBUTING.md
  packages/grafana-ui/src/components/BigValue/BigValue.tsx
  packages/grafana-ui/src/components/Button/AbstractButton.tsx
  packages/grafana-ui/src/components/CallToActionCard/CallToActionCard.tsx
  packages/grafana-ui/src/components/Collapse/Collapse.tsx
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkEditor.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkSuggestions.tsx
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/grafana-ui/src/components/Graph/GraphLegendItem.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.tsx
  packages/grafana-ui/src/components/Legend/LegendList.tsx
  packages/grafana-ui/src/components/List/AbstractList.tsx
  packages/grafana-ui/src/components/List/__snapshots__/AbstractList.test.tsx.snap
  packages/grafana-ui/src/themes/index.ts
  packages/grafana-ui/src/themes/stylesFactory.test.ts
  packages/grafana-ui/src/themes/stylesFactory.ts
  style_guides/styling.md
Labels: area/frontend, type/docs

#19402 Release: Make sure packages are released from clean git state
  scripts/build/release-packages.sh
Labels: cherry-pick needed, type/bug, type/build-packaging

#19417 grafana/ui: fix value time zone names to be capitalized
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker.tsx
Labels: add to changelog/grafana-ui, cherry-pick needed

#19443 Refactor: RefreshPicker export things as statics on class
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
  packages/grafana-ui/src/components/SetInterval/SetInterval.tsx
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.ts
Labels: area/explore, area/grafana/ui, type/refactor

#19447 Explore: Take root_url setting into account when redirecting from dashboard to explore
  public/app/core/services/keybindingSrv.ts
  public/app/core/utils/explore.ts
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/features/panel/specs/metrics_panel_ctrl.test.ts
Labels: cherry-pick needed

#19463 Users: revert LDAP admin user page
  public/app/features/admin/partials/users.html
  public/app/routes/routes.ts
Labels: cherry-pick needed

#19467 grafana/toolkit: Remove hack to expose plugin/e2e exports & types
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/tasks/toolkit.build.ts
  packages/grafana-toolkit/src/index.ts
  packages/grafana-toolkit/src/plugins/e2e/commonPluginTests.ts
  packages/grafana-toolkit/tsconfig.json
  public/e2e-test/pages/dashboards/createDashboardPage.ts
  public/e2e-test/pages/dashboards/dashboardsPage.ts
  public/e2e-test/pages/dashboards/saveDashboardModal.ts
  public/e2e-test/pages/datasources/addDataSourcePage.ts
  public/e2e-test/pages/datasources/dataSources.ts
  public/e2e-test/pages/datasources/editDataSourcePage.ts
  public/e2e-test/pages/panels/editPanel.ts
  public/e2e-test/pages/panels/panel.ts
  public/e2e-test/pages/panels/sharePanelModal.ts
  public/e2e-test/scenarios/smoke.test.ts
Labels: area/grafana/toolkit

#19475 API: Add createdAt field to /api/users/:id
  pkg/api/user_test.go
  pkg/models/user.go
  pkg/services/sqlstore/user.go
Labels: add to changelog, area/backend/api, cherry-pick needed

#19321 Docs: Add Live tail section in Explore
  docs/sources/features/explore/index.md
Labels: area/explore, type/docs

#19359 Editor: Brings up suggestions menu after clicking suggestion
  public/app/features/explore/slate-plugins/suggestions.tsx
Labels: area/editor

#18994 Explore: Generate log row uid
  packages/grafana-data/src/dataframe/FieldCache.ts
  packages/grafana-data/src/types/logs.ts
  packages/grafana-ui/src/components/Logs/LogRowContextProvider.test.ts
  packages/grafana-ui/src/components/Logs/LogRows.tsx
  public/app/core/logs_model.ts
  public/app/core/specs/logs_model.test.ts
  public/app/core/utils/explore.test.ts
  public/app/features/explore/LiveLogs.tsx
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/live_streams.test.ts
  public/app/plugins/datasource/loki/live_streams.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
Labels: area/explore, datasource/Loki

#19470 grafana-ui: Moves slate types from devDependencies to dependencies
  packages/grafana-ui/package.json
Labels: area/grafana/ui, dependencies

#19498 CLI: Fix version selection for plugin install
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/install_command_test.go
Labels: area/backend/plugins, area/grafana-cli, cherry-pick needed, type/bug

#19499 Build: Upgrade go to 1.12.10
  .circleci/config.yml
  Dockerfile
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
Labels: add to changelog, cherry-pick needed

#19471 Refactor: Split LogRow component
  packages/grafana-ui/src/components/Logs/LogLabel.tsx
  packages/grafana-ui/src/components/Logs/LogLabels.tsx
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  packages/grafana-ui/src/components/Logs/LogRows.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
Labels: area/explore, type/refactor

#19510 Explore: Update broken link to logql docs
  public/app/plugins/datasource/loki/components/LokiCheatSheet.tsx
Labels: cherry-pick needed

#19504 Logs: Publish logs panel
  docs/sources/features/datasources/loki.md
  docs/sources/features/panels/logs.md
  public/app/plugins/panel/logs/plugin.json
Labels: add to changelog, area/panel/logs, cherry-pick needed

#19496 API: Add `createdAt` and `updatedAt` to api/users/lookup
  docs/sources/http_api/user.md
  pkg/api/user.go
  pkg/api/user_test.go
Labels: add to changelog, area/backend/api
