Repository grafana/grafana, pull requests merged in 2020-12, with the labels that each got.

#29483 Log: Use os.Open to open file for reading
  pkg/infra/log/file.go
Labels: area/backend, area/backend/security, type/chore

#28872 Field overrides: added matcher to match all fields within frame/query
  packages/grafana-data/src/transformations/matchers/ids.ts
  packages/grafana-data/src/transformations/matchers/nameMatcher.test.ts
  packages/grafana-data/src/transformations/matchers/nameMatcher.ts
  packages/grafana-ui/src/components/MatchersUI/FieldsByFrameRefIdMatcher.tsx
  packages/grafana-ui/src/components/MatchersUI/fieldMatchersUI.ts
Labels: add to changelog, area/field/overrides, type/feature-request

#29458 Chore: Enable exhaustive linter
  pkg/api/http_server.go
  pkg/expr/mathexp/funcs.go
  pkg/expr/mathexp/type_series.go
  pkg/models/sigv4.go
  pkg/plugins/backendplugin/grpcplugin/log_wrapper.go
  pkg/services/alerting/notifiers/hipchat.go
  pkg/services/alerting/notifiers/opsgenie.go
  pkg/services/alerting/notifiers/threema.go
  pkg/services/guardian/guardian_test.go
  pkg/services/live/live.go
  pkg/services/login/login.go
  pkg/services/rendering/rendering.go
  pkg/services/sqlstore/org.go
  pkg/tsdb/elasticsearch/client/index_pattern.go
  pkg/tsdb/postgres/macros.go
  scripts/go/configs/.golangci.toml
Labels: area/backend, type/chore

#26884 Transformation: added support for excluding/including rows based on their values.
  docs/sources/panels/transformations/types-options.md
  e2e/suite1/specs/panelEdit_base.spec.ts
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/transformations/matchers.ts
  packages/grafana-data/src/transformations/matchers/ids.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/equalMatchers.test.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/equalMatchers.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/nullMatchers.test.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/nullMatchers.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/numericMatchers.test.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/numericMatchers.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/rangeMatchers.test.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/rangeMatchers.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/regexMatchers.test.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/regexMatchers.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/types.ts
  packages/grafana-data/src/transformations/transformers.ts
  packages/grafana-data/src/transformations/transformers/filterByValue.test.ts
  packages/grafana-data/src/transformations/transformers/filterByValue.ts
  packages/grafana-data/src/transformations/transformers/ids.ts
  packages/grafana-data/src/types/transformations.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/FilterByValueFilterEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/FilterByValueTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/ValueMatchers/BasicMatcherEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/ValueMatchers/NoopMatcherEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/ValueMatchers/RangeMatcherEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/ValueMatchers/types.ts
  public/app/core/components/TransformersUI/FilterByValueTransformer/ValueMatchers/utils.ts
  public/app/core/components/TransformersUI/FilterByValueTransformer/ValueMatchers/valueMatchersUI.ts
  public/app/core/utils/standardTransformers.ts
Labels: add to changelog, area/frontend, area/transformations, pr/external, type/feature-request

#29461 Grunt: Removes grunt dependency and replaces some of its usage
  .eslintrc
  Gruntfile.js
  build.go
  package.json
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/nodeVersionChecker.ts
  packages/grafana-toolkit/src/cli/tasks/precommit.ts
  scripts/grunt/build_task.js
  scripts/grunt/default_task.js
  scripts/grunt/options/clean.js
  scripts/grunt/options/compress.js
  scripts/grunt/options/exec.js
  scripts/grunt/options/sasslint.js
  scripts/grunt/options/webpack.js
  scripts/grunt/release_task.js
  scripts/grunt/style_guide_task.js
  yarn.lock
Labels: type/build-packaging, type/chore

#29441 Prometheus: don't override displayName property
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: backport v7.3.x, datasource/Prometheus, type/bug

#29346 Docs: Fix broken link for plugins
  docs/sources/developers/plugins/_index.md
Labels: type/docs

#29407 Variables: Fixes Constant variable persistence confusion
  public/app/features/dashboard/components/DashExportModal/DashboardExporter.test.ts
  public/app/features/dashboard/components/DashExportModal/DashboardExporter.ts
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/variables/adapters.ts
  public/app/features/variables/constant/adapter.ts
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/editor/VariableHideSelect.tsx
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
Labels: add to changelog, area/dashboard/templating, breaking change, type/bug

#29357 Instrumentation: Add examplars for request histograms
  go.mod
  go.sum
  pkg/api/http_server.go
  pkg/middleware/logger.go
  pkg/middleware/request_metrics.go
  pkg/server/server.go
Labels: area/backend, area/instrumentation, backport v7.3.x

#29377 Bug: trace viewer doesn't show more than 300 spans
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/__snapshots__/index.test.js.snap
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/index.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  public/app/features/explore/TraceView/TraceView.tsx
Labels: backport v7.3.x, type/bug

#29447 DataLinks: Removes getDataSourceSettingsByUid from applyFieldOverrides
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.test.tsx
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/utils/dataLinks.test.ts
  packages/grafana-data/src/utils/dataLinks.ts
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  packages/grafana-ui/src/utils/storybook/data.ts
  public/app/features/alerting/getAlertingValidationMessage.test.ts
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/utils/loadSnapshotData.ts
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/features/explore/state/main.ts
  public/app/features/explore/utils/links.test.ts
  public/app/features/explore/utils/links.ts
  public/app/features/panel/panellinks/linkSuppliers.test.ts
  public/app/features/query/state/PanelQueryRunner.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/panel/live/LivePanel.tsx
Labels: area/dashboard/data-links

#29356 Loki: Add query type and line limit to query editor in dashboard
  public/app/plugins/datasource/loki/components/LokiExploreExtraField.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.test.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/components/__snapshots__/LokiQueryEditor.test.tsx.snap
Labels: datasource/Loki, type/feature-request

#29490 Docs: InfluxDB_V2 datasource: adding an example on how to add InfluxQL as a datasource
  docs/sources/datasources/influxdb.md
Labels: datasource/InfluxDB, pr/external, type/docs

#29521 Chore: Adds Panel Library feature toggle
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/setting/setting.go
Labels: type/chore

#29515 docker: fix Dockerfile after Gruntfile.js removed
  Dockerfile
  Dockerfile.ubuntu
Labels: pr/external, type/build-packaging

#29440 Datasources: fixed long error message overflowing container
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-e2e/src/flows/addDataSource.ts
  packages/grafana-ui/src/components/Alert/Alert.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/sass/components/_alerts.scss
Labels: type/bug

#29511 Docs/Transformations: Add documentation about Binary operations in Add field from calculation
  docs/sources/panels/transformations/types-options.md
Labels: area/transformations, type/docs

#29519 Chore: Enable remaining eslint-plugin-react rules
  .eslintrc
  packages/grafana-ui/src/components/Icon/assets/Import.tsx
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/TimePickerContent.tsx
  public/app/core/components/PluginHelp/PluginHelp.tsx
  public/app/core/services/util_srv.ts
  public/app/features/admin/AdminOrgsTable.tsx
  public/app/features/api-keys/ApiKeysAddedModal.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/variables/pickers/PickerRenderer.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/testdata/QueryEditor.tsx
Labels: pr/external, type/chore

#29525 Devenv: update mysql_tests and postgres_tests blocks for allowing dynamically change of underlying docker image
  devenv/docker/blocks/mysql_tests/.env
  devenv/docker/blocks/mysql_tests/Dockerfile
  devenv/docker/blocks/mysql_tests/docker-compose.yaml
  devenv/docker/blocks/postgres_tests/.env
  devenv/docker/blocks/postgres_tests/Dockerfile
  devenv/docker/blocks/postgres_tests/docker-compose.yaml
Labels: type/build-packaging, type/chore

#29399 AzureMonitor: Fix unit translation for MilliSeconds
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
Labels: area/backend, area/datasource/backend, backport v7.3.x, datasource/Azure/Monitor, pr/external, type/bug

#29500 PanelEdit: making sure the correct datasource query editor is being rendered.
  public/app/features/query/components/QueryEditorRow.tsx
Labels: area/datasource/frontend, area/panel/edit, type/bug

#29482 Alerting: Fix alarm message formatting in Dingding
  pkg/services/alerting/notifiers/dingding.go
Labels: area/alerting/notifications, area/backend, backport v7.3.x, pr/external, type/bug

#29496 GraphNG: simplify effects responsible for plot updates/initialization
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/GraphNG/GraphNG.test.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/uPlot/Plot.test.tsx
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/hooks.ts
  yarn.lock
Labels: area/panel/graph

#29491 Middleware: Simplifications
  pkg/infra/remotecache/testing.go
  pkg/middleware/auth.go
  pkg/middleware/auth_proxy.go
  pkg/middleware/auth_proxy_test.go
  pkg/middleware/authproxy/auth_proxy.go
  pkg/middleware/authproxy/auth_proxy_test.go
  pkg/middleware/cookie.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/registry/registry.go
Labels: area/backend, type/chore

#29529 Insturmentation: fixes bug with invalid handler label value for http request metrics
  pkg/api/routing/route_register.go
  pkg/api/routing/route_register_test.go
Labels: add to changelog, area/backend, area/instrumentation, backport v7.3.x

#29530 Icon: changed the icon for signing in
  packages/grafana-ui/src/types/icon.ts
  public/app/core/components/sidemenu/SignIn.tsx
  public/app/core/components/sidemenu/__snapshots__/SignIn.test.tsx.snap
Labels: type/ux

#29481 Variables: Fixes Textbox current value persistence
  devenv/dev-dashboards/feature-templating/templating-textbox-e2e-scenarios.json
  e2e/suite1/specs/variables/textbox-variables.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard/components/DashboardSettings/template.html
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardButton.tsx
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/variables/adapters.ts
  public/app/features/variables/shared/testing/builders.ts
  public/app/features/variables/shared/testing/textboxVariableBuilder.ts
  public/app/features/variables/textbox/TextBoxVariableEditor.tsx
  public/app/features/variables/textbox/TextBoxVariablePicker.tsx
  public/app/features/variables/textbox/adapter.test.ts
  public/app/features/variables/textbox/adapter.ts
  public/app/features/variables/textbox/reducer.ts
  public/app/features/variables/types.ts
Labels: add to changelog, area/dashboard/templating, type/bug

#29381 IntelliSense: Fix autocomplete and highlighting for Loki, Prometheus, Cloudwatch
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  public/app/plugins/datasource/cloudwatch/components/LogsCheatSheet.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/useCloudwatchSyntax.ts
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiSyntaxAndLabels.ts
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/promql.ts
  scripts/webpack/webpack.common.js
Labels: datasource/CloudWatch Logs, datasource/Loki, datasource/Prometheus, type/bug

#29531 Graph NG: Invalidate uPlot config on timezone changes
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/uPlot/hooks.ts
Labels: area/panel/graph

#29537 Chore: skip flaky tests
  e2e/suite1/specs/variables/textbox-variables.ts
Labels: type/chore

#29538 docker: use yarn to build
  Dockerfile
  Dockerfile.ubuntu
Labels: type/build-packaging

#28992 Dashboards: hide playlist edit functionality from viewers and snapshots link from unauthenticated users
  pkg/api/index.go
  public/app/features/manage-dashboards/components/SnapshotListTable.tsx
  public/app/features/playlist/partials/playlists.html
  public/app/features/playlist/playlists_ctrl.ts
Labels: add to changelog, area/dashboard, area/frontend, type/bug

#29502 Auth proxy: Return standard error type
  pkg/middleware/auth_proxy.go
  pkg/middleware/authproxy/auth_proxy.go
  pkg/middleware/authproxy/auth_proxy_test.go
  pkg/services/ldap/settings.go
Labels: area/backend, type/chore

#29548 Chore: Update dev guide node version for Mac
  contribute/developer-guide.md
Labels: type/chore

#29556 Overrides: show category for override properties
  public/app/features/dashboard/components/PanelEditor/DynamicConfigValueEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
Labels: area/field/overrides

#29535 Middleware: Rewrite tests to use standard library
  pkg/middleware/auth_test.go
  pkg/middleware/dashboard_redirect_test.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/org_redirect_test.go
  pkg/middleware/quota_test.go
  pkg/middleware/recovery_test.go
  pkg/middleware/testing.go
  pkg/services/alerting/notifier_test.go
Labels: area/backend, type/chore

#29523 Chore: upgrading y18n to 4.0.1 for security reasons
  yarn.lock
Labels: area/security, type/chore

#29553 GraphNG: support auto and explicit axis width
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  public/app/plugins/panel/graph3/module.tsx
Labels: area/panel/graph

#29562 Security: Fix gosec G307
  pkg/api/dashboard.go
  pkg/cmd/grafana-server/main.go
  pkg/components/imguploader/azureblobuploader.go
  pkg/components/imguploader/gcs/gcsuploader.go
  pkg/components/imguploader/s3uploader.go
  pkg/infra/log/log.go
  pkg/plugins/dashboards.go
  pkg/plugins/manifest.go
  pkg/plugins/plugins.go
  pkg/services/alerting/notifiers/discord.go
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/slack.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/rendering/http_mode.go
Labels: area/backend/security

#29371 Devenv: Add default db for influxdb
  devenv/docker/blocks/influxdb/docker-compose.yaml
Labels: datasource/InfluxDB, type/chore

#29411 Build: move canary packages to github
  .drone.yml
  packages/README.md
  scripts/circle-release-canary-packages.sh
  scripts/circle-release-next-packages.sh
  scripts/lib.star
  scripts/master.star
Labels: area/frontend, area/grafana/data, area/grafana/e2e, area/grafana/runtime, area/grafana/toolkit, area/grafana/ui, type/build-packaging

#29570 Make build docker full fix
  Dockerfile
  Dockerfile.ubuntu
Labels: pr/external, type/build-packaging, type/chore

#29565 PanelLibrary: Adds library_panel table
  pkg/server/server.go
  pkg/services/librarypanels/librarypanels.go
Labels: area/backend, area/backend/db

#29493 Chore: Upgrade typescript to 4.1
  package.json
  packages/grafana-data/package.json
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/tasks/toolkit.build.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/FormField/__snapshots__/FormField.test.tsx.snap
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Select/utils.ts
  packages/grafana-ui/src/components/ThemeColors/ThemeColors.tsx
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/__snapshots__/TimePickerContent.test.tsx.snap
  packages/jaeger-ui-components/package.json
  public/app/core/components/OrgActionBar/__snapshots__/OrgActionBar.test.tsx.snap
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.test.ts
  public/app/features/alerting/__snapshots__/AlertRuleList.test.tsx.snap
  public/app/features/alerting/__snapshots__/TestRuleResult.test.tsx.snap
  public/app/features/api-keys/__snapshots__/ApiKeysPage.test.tsx.snap
  public/app/features/dashboard/components/AddPanelWidget/__snapshots__/AddPanelWidget.test.tsx.snap
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/datasources/settings/__snapshots__/BasicSettings.test.tsx.snap
  public/app/features/explore/__snapshots__/ErrorContainer.test.tsx.snap
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
  public/app/features/live/scopes.ts
  public/app/features/manage-dashboards/state/selectors.ts
  public/app/features/org/__snapshots__/OrgDetailsPage.test.tsx.snap
  public/app/features/plugins/PluginDashboards.tsx
  public/app/features/query/components/QueryGroupOptions.tsx
  public/app/features/teams/__snapshots__/TeamGroupSync.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamList.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamMemberRow.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamMembers.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamPages.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamSettings.test.tsx.snap
  public/app/features/users/__snapshots__/UsersActionBar.test.tsx.snap
  public/app/features/users/__snapshots__/UsersTable.test.tsx.snap
  public/app/features/variables/state/actions.ts
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/AnalyticsConfig.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/AzureCredentialsForm.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/InsightsConfig.test.tsx.snap
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/components/__snapshots__/LokiQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
  public/app/plugins/datasource/zipkin/utils/transforms.ts
  public/app/plugins/panel/graph/graph.ts
  yarn.lock
Labels: dependencies, type/chore

#29579 @grafana/ui: Add bell-slash to available icons
  packages/grafana-ui/src/types/icon.ts
Labels: area/grafana/ui

#29479 Azure Monitor: Add Microsoft.Network/natGateways
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
Labels: add to changelog, datasource/Azure/Monitor, pr/external

#29584 Docs: Add missing key to enable SigV4 for provisioning Elasticsearch data source
  docs/sources/administration/provisioning.md
Labels: area/backend, area/provisioning, type/docs

#29591 Chore: Rewrite tsdb testdatasource scenarios test to standard library
  pkg/tsdb/testdatasource/scenarios_test.go
Labels: area/backend, pr/external, type/chore

#29578 Security: Add gosec G304 auditing annotations
  pkg/api/avatar/avatar.go
  pkg/api/dashboard.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/services/api_client.go
  pkg/cmd/grafana-cli/services/io_util.go
  pkg/cmd/grafana-cli/utils/grafana_path.go
  pkg/components/imguploader/azureblobuploader.go
  pkg/components/imguploader/gcs/gcsuploader.go
  pkg/components/imguploader/s3uploader.go
  pkg/components/imguploader/webdavuploader.go
  pkg/middleware/recovery.go
  pkg/plugins/dashboards.go
  pkg/plugins/manifest.go
  pkg/plugins/plugins.go
  pkg/services/alerting/notifiers/discord.go
  pkg/services/alerting/notifiers/slack.go
  pkg/services/ldap/ldap.go
  pkg/services/ldap/settings.go
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/datasources/config_reader.go
  pkg/services/provisioning/notifiers/config_reader.go
  pkg/services/provisioning/plugins/config_reader.go
  pkg/setting/expanders.go
Labels: area/backend/security

#29592 Chore: Rewrite tsdb prometheus test to standard library
  pkg/tsdb/prometheus/prometheus_test.go
Labels: area/backend, pr/external, type/chore

#29589 Chore: Rewrite sqlstore migration test to use standard library
  pkg/services/sqlstore/migrations/migrations_test.go
Labels: area/backend, pr/external, type/chore

#29544 Panel: making sure we support all versions of chrome when detecting position of click event.
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
Labels: area/panel/common, type/bug

#29604 Login: Fixes typo in tooltip
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
Labels: backport v7.3.x, pr/external, type/chore

#29574 Grafana/ui: Storybook controls understand component types
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, area/grafana/ui

#29564 middleware: Make scenario test functions take a testing.T argument
  pkg/middleware/auth_test.go
  pkg/middleware/dashboard_redirect_test.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/org_redirect_test.go
  pkg/middleware/quota_test.go
  pkg/middleware/recovery_test.go
  pkg/middleware/testing.go
Labels: area/backend, type/bug

#29585 GraphNG: Fix issues with plugins not retrieving plot instance
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/context.ts
  packages/grafana-ui/src/components/uPlot/geometries/EventsCanvas.tsx
  packages/grafana-ui/src/components/uPlot/geometries/XYCanvas.tsx
  packages/grafana-ui/src/components/uPlot/plugins/SelectionPlugin.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  public/app/plugins/panel/graph3/plugins/AnnotationsPlugin.tsx
  public/app/plugins/panel/graph3/plugins/ExemplarsPlugin.tsx
Labels: area/panel/graph

#29542 QueryGroup & DataSourceSrv & DataSourcePicker changes simplify usage, error handling and reduce duplication, support for uid
  e2e/suite1/specs/variables/new-query-variable.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/components/Select/SingleValue.tsx
  pkg/api/frontendsettings.go
  public/app/core/components/Select/DataSourcePicker.tsx
  public/app/core/utils/richHistory.ts
  public/app/features/alerting/getAlertingValidationMessage.test.ts
  public/app/features/dashboard/components/PanelEditor/PanelEditorQueries.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/selectors.ts
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
  public/app/features/manage-dashboards/components/ImportDashboardOverview.tsx
  public/app/features/manage-dashboards/state/actions.ts
  public/app/features/manage-dashboards/state/reducers.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/specs/datasource_srv.test.ts
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/features/query/components/QueryEditorRows.tsx
  public/app/features/query/components/QueryGroup.tsx
  public/app/features/query/components/QueryGroupOptions.tsx
  public/app/features/sandbox/TestStuffPage.tsx
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/editor/VariableTextAreaField.tsx
  public/app/features/variables/query/QueryVariableDatasourceSelect.tsx
  public/app/features/variables/query/QueryVariableEditor.test.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/query/reducer.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/processVariable.test.ts
  public/app/plugins/datasource/elasticsearch/configuration/DataLink.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  yarn.lock
Labels: area/panel/data, breaking change, type/tech

#29600 API: add ID to snapshot API responses
  docs/sources/http_api/snapshot.md
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
Labels: area/backend/api

#29603 Docs: Update broken aliases
  docs/sources/developers/_index.md
  docs/sources/plugins/installation.md
  docs/sources/plugins/plugin-signatures.md
Labels: type/docs

#29615 Build: Publish next and latest npm channels to Github
  .drone.yml
  scripts/build/release-packages.sh
  scripts/release.star
Labels: area/frontend, type/build-packaging

#29543 Prometheus: Fix link to Prometheus graph in dashboard
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: datasource/Prometheus, type/bug

#29593 GraphNG: add gaps/nulls support to staircase & smooth interpolation modes
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/paths.ts
  yarn.lock
Labels: area/panel/graph

#29590 Chore: Rewrite tsdb sql engine test to standard library
  pkg/tsdb/sqleng/sql_engine_test.go
Labels: pr/external, type/chore

#29613 GraphNG: Fix annotations and exemplars plugins
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/context.ts
  public/app/plugins/panel/graph3/plugins/AnnotationsPlugin.tsx
  public/app/plugins/panel/graph3/plugins/ExemplarsPlugin.tsx
Labels: area/panel/graph

#29438 Loki: Retry web socket connection when connection is closed abnormally
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/live_streams.test.ts
  public/app/plugins/datasource/loki/live_streams.ts
Labels: datasource/Loki, type/feature-request

#29581 Add changelog to docs style guide
  contribute/style-guides/documentation-style-guide.md
Labels: type/docs

#29656 Expressions: Restore showing expression query editor even if main data source is not mixed
  public/app/features/query/components/QueryEditorRow.tsx
Labels: area/expressions

#29653 Expr: fix failure to execute due to OrgID
  pkg/expr/graph.go
  pkg/expr/nodes.go
  pkg/expr/service.go
  pkg/expr/service_test.go
  pkg/expr/transform.go
  pkg/services/ngalert/alert_definition.go
  pkg/services/ngalert/eval/alert_query.go
  pkg/services/ngalert/eval/eval.go
Labels: area/backend, area/expressions

#29663 Expr: fix func argument panic
  pkg/expr/mathexp/exp.go
Labels: area/backend, area/expressions

#29665 Expr: make reduction nan/null more consistent
  pkg/expr/mathexp/reduce.go
Labels: area/backend, area/expressions

#29668 Expr: fix time unit typo in ds queries
  pkg/expr/transform.go
Labels: area/backend, area/expressions

#28232 Docs: Plugin schema updates
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Labels: area/plugins, type/docs

#29514 Instrumentation: align label name with our other projects
  pkg/middleware/request_metrics.go
Labels: area/backend, area/instrumentation, backport v7.3.x

#29677 Docs: Fix Cloudwatch query variables formatting
  docs/sources/datasources/cloudwatch.md
Labels: area/dashboard/templating, datasource/CloudWatch, type/docs

#29645 Adds go dep used by an Enterprise feature.
  go.mod
  go.sum
  pkg/extensions/main.go
Labels: area/backend, backport v7.3.x

#29632 GraphNG: replace bizcharts with uPlot for sparklines
  packages/grafana-data/src/dataframe/frameComparisons.ts
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/vector/IndexVector.ts
  packages/grafana-data/src/vector/index.ts
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/BigValue/BigValue.story.tsx
  packages/grafana-ui/src/components/BigValue/BigValue.tsx
  packages/grafana-ui/src/components/BigValue/BigValueLayout.test.tsx
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/types.ts
  public/app/plugins/panel/stat/StatPanel.tsx
  yarn.lock
Labels: area/panel/graph, area/panel/stat

#29599 GraphNG: simple settings migration from flot panel
  public/app/plugins/panel/graph3/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/graph3/migrations.test.ts
  public/app/plugins/panel/graph3/migrations.ts
  public/app/plugins/panel/graph3/module.tsx
Labels: area/panel/graph

#29534 Bugfix 29848: Remove annotation_tag entries as part of annotations cleanup
  pkg/services/annotations/annotations.go
  pkg/services/cleanup/cleanup.go
  pkg/services/sqlstore/annotation_cleanup.go
  pkg/services/sqlstore/annotation_cleanup_test.go
Labels: add to changelog, area/annotations, area/backend, backport v7.3.x

#29628 fix panel header description inline code wrapping
  public/sass/components/_panel_header.scss
Labels: type/bug

#29693 Alerting: Use correct time series name override from frame fields
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
Labels: area/alerting, area/backend, backport v7.3.x, type/bug

#29650 Auth: Add SigV4 header allowlist to reduce chances of verification issues
  packages/grafana-ui/src/components/DataSourceSettings/SigV4AuthSettings.tsx
  pkg/models/sigv4.go
Labels: area/backend, area/backend/auth, area/datasource/backend, backport v7.3.x

#29704 Variables: Fixes upgrade of legacy queries
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/datasource/actions.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
Labels: area/dashboard/templating, type/bug

#29642 PanelLibrary: Adds api and db to create Library/Shared/Reusable Panel
  pkg/api/common.go
  pkg/registry/registry.go
  pkg/services/librarypanels/api.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
Labels: area/backend, area/backend/api, pr/early-feedback

#29652 Elasticsearch: Fix query initialization action
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/state/reducer.ts
Labels: datasource/Elasticsearch

#29649 Elasticsearch: Deprecate browser access mode
  docs/sources/datasources/elasticsearch.md
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
Labels: add to changelog, datasource/Elasticsearch

#29722 API: add Status() to RedirectResponse
  pkg/api/common.go
Labels: area/backend/api

#29723 [v7.3.x] Fix: Migrate Panel edit uiState percentage strings to number (#29412)
  public/app/features/dashboard/components/PanelEditor/state/reducers.ts
Labels: backport

#29711 [v7.3.x] Fix: Correct panel edit uistate migration (#29413)
  public/app/features/dashboard/components/PanelEditor/state/reducers.ts
Labels: backport

#29727 @grafana/ui: Fix UI issues for cascader button dropdown and query input
  public/sass/components/_slate_editor.scss
  public/sass/pages/_explore.scss
Labels: area/grafana/ui, area/ux

#29735 Docs: added version note for rename by regex transformation.
  docs/sources/panels/transformations/types-options.md
Labels: type/docs

#29567 ChangePassword: improved keyboard navigation
  packages/grafana-ui/src/components/Button/Button.tsx
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
Labels: beginner friendly, effort/small, type/bug

#29345 Logging: log frontend errors caught by ErrorBoundary, including component stack
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.tsx
  pkg/api/frontend_logging.go
  pkg/api/frontend_logging_test.go
Labels: area/backend/logging, area/frontend

#29382 Chore: Disable gosec on certain line
  pkg/api/http_server.go
Labels: area/backend, type/chore

#28764 Elasticsearch: View in context feature for logs
  public/app/features/explore/LogsContainer.tsx
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
Labels: add to changelog, datasource/Elasticsearch

#29748 Chore: update stable and testing versions
  latest.json
Labels: type/chore

#29279 DataSourceSettings: Add servername field to DataSource TLS config
  docs/sources/administration/provisioning.md
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/TLSAuthSettings.tsx
  pkg/models/datasource_cache.go
  pkg/models/datasource_cache_test.go
Labels: area/backend, area/frontend, pr/external

#29741 PanelLibrary: Adds delete Api
  pkg/services/librarypanels/api.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
Labels: area/backend/api, area/dashboard

#29764 AlertListPanel: Add options to sort by Time(asc) and Time(desc)
  public/app/plugins/panel/alertlist/editor.html
  public/app/plugins/panel/alertlist/module.ts
Labels: add to changelog, area/panel/alertlist

#29605 Move middleware context handler logic to service
  pkg/api/admin_users_test.go
  pkg/api/api.go
  pkg/api/common.go
  pkg/api/common_test.go
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/http_server.go
  pkg/api/index.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/login_test.go
  pkg/infra/remotecache/remotecache.go
  pkg/login/auth.go
  pkg/login/auth_test.go
  pkg/login/brute_force_login_protection.go
  pkg/login/brute_force_login_protection_test.go
  pkg/login/ldap_login.go
  pkg/login/ldap_login_test.go
  pkg/middleware/auth.go
  pkg/middleware/auth_proxy.go
  pkg/middleware/auth_test.go
  pkg/middleware/cookies/cookies.go
  pkg/middleware/logger.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/rate_limit_test.go
  pkg/middleware/recovery.go
  pkg/middleware/recovery_test.go
  pkg/middleware/render_auth.go
  pkg/middleware/testing.go
  pkg/models/user_auth.go
  pkg/registry/di.go
  pkg/services/auth/auth_token.go
  pkg/services/auth/testing.go
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/services/contexthandler/authproxy/authproxy.go
  pkg/services/contexthandler/authproxy/authproxy_test.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/contexthandler/contexthandler_test.go
  pkg/services/ldap/settings.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/services/sqlstore/preferences.go
  pkg/services/sqlstore/preferences_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/setting.go
  pkg/setting/setting_quota.go
  pkg/setting/setting_test.go
Labels: area/backend, type/chore

#28419 Chore: Configure go-ruleguard via golangci-lint
  pkg/ruleguard.rules.go
  pkg/services/oauthtoken/oauth_token_util.go
  scripts/go/configs/.golangci.toml
Labels: area/backend, type/build-packaging, type/chore

#29240 Plugins: Add support for signature manifest V2
  pkg/api/dtos/plugins.go
  pkg/api/plugins.go
  pkg/plugins/manifest.go
  pkg/plugins/manifest_test.go
  pkg/plugins/models.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/testdata/invalid-v1-signature/plugin/MANIFEST.txt
  pkg/plugins/testdata/invalid-v1-signature/plugin/plugin.json
  pkg/plugins/testdata/invalid-v2-signature-2/plugin/MANIFEST.txt
  pkg/plugins/testdata/invalid-v2-signature-2/plugin/extraFile
  pkg/plugins/testdata/invalid-v2-signature-2/plugin/plugin.json
  pkg/plugins/testdata/invalid-v2-signature/plugin/MANIFEST.txt
  pkg/plugins/testdata/invalid-v2-signature/plugin/plugin.json
  pkg/plugins/testdata/valid-v2-pvt-signature/plugin/MANIFEST.txt
  pkg/plugins/testdata/valid-v2-pvt-signature/plugin/plugin.json
  pkg/plugins/testdata/valid-v2-signature/plugin/MANIFEST.txt
  pkg/plugins/testdata/valid-v2-signature/plugin/plugin.json
Labels: area/backend, area/plugins

#29755 Expressions: Field names from refID
  pkg/expr/commands.go
  pkg/expr/mathexp/exp.go
  pkg/expr/mathexp/exp_nan_null_val_test.go
  pkg/expr/mathexp/exp_scalar_no_test.go
  pkg/expr/mathexp/exp_series_test.go
  pkg/expr/mathexp/funcs.go
  pkg/expr/mathexp/funcs_test.go
  pkg/expr/mathexp/reduce.go
  pkg/expr/mathexp/reduce_test.go
  pkg/expr/mathexp/resample.go
  pkg/expr/mathexp/resample_test.go
  pkg/expr/mathexp/type_series.go
  pkg/expr/mathexp/types.go
  pkg/expr/service_test.go
Labels: area/backend, area/expressions

#28397 Alerting: Next gen Alerting page
  pkg/api/index.go
  public/app/core/components/PageToolbar/PageToolbar.tsx
  public/app/features/alerting/EditNotificationChannelPage.tsx
  public/app/features/alerting/NewNotificationChannelPage.tsx
  public/app/features/alerting/NextGenAlertingPage.tsx
  public/app/features/alerting/components/AlertDefinitionOptions.tsx
  public/app/features/alerting/components/AlertingQueryEditor.tsx
  public/app/features/alerting/components/AlertingQueryPreview.tsx
  public/app/features/alerting/state/actions.ts
  public/app/features/alerting/state/reducers.ts
  public/app/features/alerting/utils/notificationChannels.ts
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/routes/routes.ts
  public/app/types/alerting.ts
  public/app/types/store.ts
  public/sass/layout/_page.scss
Labels: area/alerting-ng

#29771 Explore: Fix remounting of query row
  public/app/features/explore/state/explorePane.ts
Labels: area/explore, type/bug

#29743 @grafana-runtime: Throw error if health check fails in DataSourceWithBackend
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: add to changelog, area/grafana/runtime

#29780 Docs: Add missing httpMethod field to webhook notification provisioning docs
  docs/sources/administration/provisioning.md
Labels: area/alerting/notifications, type/docs

#29583 CloudWatch: Add support for AWS DirectConnect ConnectionErrorCount metric
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog

#29792 Chore: Rewrite opentsdb test to standard library
  pkg/tsdb/opentsdb/opentsdb_test.go
Labels: area/backend, type/chore

#29803 Style guide: Document avoidance of globals in Go code
  contribute/style-guides/backend.md
Labels: area/backend, type/docs

#29776 Grafana-ui: Fix collapsible children sizing
  packages/grafana-ui/src/components/Collapse/Collapse.tsx
Labels: add to changelog, area/grafana/ui

#29795 Sliders: Update behavior and style tweak
  packages/grafana-ui/src/components/OptionsUI/slider.tsx
  packages/grafana-ui/src/components/Slider/Slider.story.tsx
  packages/grafana-ui/src/components/Slider/Slider.tsx
  packages/grafana-ui/src/components/Slider/styles.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  public/app/plugins/panel/graph3/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/graph3/migrations.ts
  public/app/plugins/panel/graph3/module.tsx
Labels: area/frontend, area/grafana/ui

#29805 Grafana-UI: Support optgroup for MultiSelect
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
Labels: area/grafana/ui

#28159 Dependabot: Check actions daily
  .github/dependabot.yml
Labels: pr/external, priority/nice-to-have, type/build-packaging, type/chore

#29804 Chore: Use Header.Set method instead of Header.Add
  pkg/api/avatar/avatar.go
  pkg/api/basic_auth_test.go
  pkg/api/pluginproxy/access_token_provider.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/middleware/middleware.go
  pkg/middleware/recovery_test.go
  pkg/middleware/testing.go
  pkg/plugins/backendplugin/manager.go
  pkg/services/notifications/webhook.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/util/proxyutil/proxyutil_test.go
Labels: area/backend, type/chore

#29807 Elasticsearch: add datasource's configured timeField to query model
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/ElasticsearchQueryContext.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/ElasticsearchQueryContext.tsx
Labels: datasource/Elasticsearch

#29813 GraphNG: Load uPlot path builders lazily
  packages/grafana-ui/src/components/uPlot/Plot.test.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
Labels: area/frontend, area/panel/graph

#29781 Chore: Enable more go-ruleguard rules
  pkg/bus/bus.go
  pkg/expr/mathexp/exp.go
  pkg/expr/mathexp/funcs.go
  pkg/expr/mathexp/resample.go
  pkg/expr/mathexp/type_series.go
  pkg/expr/mathexp/types_test.go
  pkg/ruleguard.rules.go
  pkg/services/notifications/mailer.go
Labels: area/backend, type/chore

#29819 Expressions: support ${my var} syntax
  pkg/expr/mathexp/parse/lex.go
  pkg/expr/mathexp/parse/lex_test.go
  pkg/expr/mathexp/parse/node.go
  pkg/expr/mathexp/parse/parse.go
Labels: area/backend, area/expressions

#29762 QueryEditor: do not auto refresh on every update
  public/app/features/dashboard/components/PanelEditor/PanelEditorQueries.tsx
Labels: area/editor

#29822 Chore: Upgrade 6.7.x Ubuntu base image to 20.04
  Dockerfile.ubuntu
  packaging/docker/build.sh
  packaging/docker/ubuntu.Dockerfile
Labels: type/chore

#29808 DashboardDS: Fixes display of long queries
  public/app/plugins/datasource/dashboard/DashboardQueryEditor.tsx
  public/app/plugins/datasource/dashboard/DashboardQueryRow.tsx
  public/app/plugins/datasource/dashboard/types.ts
  public/sass/components/_query_editor.scss
Labels: area/dashboard, type/bug

#29752 Explore: Improve Explore performance but removing unnecessary re-renders
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/ReturnToDashboardButton.test.tsx
  public/app/features/explore/ReturnToDashboardButton.tsx
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/query.ts
Labels: area/explore, type/chore

#29684 GraphNG: Enable scale distribution configuration
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  public/app/plugins/panel/graph3/ScaleDistributionEditor.tsx
  public/app/plugins/panel/graph3/module.tsx
Labels: area/panel/graph

#29745 GraphNG: Context menu
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.tsx
  packages/grafana-ui/src/components/ContextMenu/WithContextMenu.tsx
  packages/grafana-ui/src/components/FormattedValueDisplay/FormattedValueDisplay.tsx
  packages/grafana-ui/src/components/Graph/GraphContextMenu.tsx
  packages/grafana-ui/src/components/Menu/Menu.story.internal.tsx
  packages/grafana-ui/src/components/Menu/Menu.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/plugins/ContextMenuPlugin.tsx
  packages/grafana-ui/src/components/uPlot/plugins/index.ts
  packages/grafana-ui/src/utils/dataLinks.ts
  public/app/plugins/panel/graph/GraphContextMenuCtrl.ts
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
  public/app/plugins/panel/graph3/plugins/ContextMenuPlugin.tsx
Labels: area/panel/graph

#29839 Loki: Fix logs context for Loki
  public/app/features/explore/LogsContainer.tsx
Labels: datasource/Loki

#29686 Chore: Remove unused Loki and Cloudwatch syntax providers
  public/app/plugins/datasource/cloudwatch/components/LogsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/useCloudwatchSyntax.ts
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/useLokiLabels.test.ts
  public/app/plugins/datasource/loki/components/useLokiLabels.ts
  public/app/plugins/datasource/loki/components/useLokiSyntaxAndLabels.test.ts
  public/app/plugins/datasource/loki/components/useLokiSyntaxAndLabels.ts
Labels: datasource/CloudWatch, datasource/Loki, type/chore

#29818 Chore: Automatically infer types for dashgrid connected components
  public/app/features/dashboard/components/DashNav/DashNavTimeControls.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
  public/app/features/dashboard/dashgrid/DashboardPanel.tsx
Labels: type/chore

#29837 Select: Changes default menu placement for Select from auto to bottom
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  public/app/core/components/Select/DataSourcePicker.tsx
  public/app/core/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  public/app/core/components/TransformersUI/ConcatenateTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/FilterByValueFilterEditor.tsx
  public/app/core/components/TransformersUI/GroupByTransformerEditor.tsx
  public/app/core/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/ReduceTransformerEditor.tsx
  public/app/core/components/TransformersUI/SeriesToFieldsTransformerEditor.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: add to changelog, area/grafana/ui, breaking change

#29757 Link suppliers: getLinks API update
  packages/grafana-data/src/types/ScopedVars.ts
  packages/grafana-data/src/types/dataLink.ts
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/utils.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderCorner.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/explore/utils/links.test.ts
  public/app/features/explore/utils/links.ts
  public/app/features/panel/panellinks/linkSuppliers.test.ts
  public/app/features/panel/panellinks/linkSuppliers.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/getAllVariableValuesForUrl.test.ts
  public/app/features/variables/getAllVariableValuesForUrl.ts
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
  public/app/plugins/panel/graph3/plugins/ContextMenuPlugin.tsx
  public/test/helpers/initTemplateSrv.ts
  scripts/ci-check-strict.sh
Labels: area/dashboard/data-links, area/dashboard/links

#29541 Explore/Logs: Correctly display newlines in detected fields
  packages/grafana-ui/src/components/Logs/LogDetails.test.tsx
  packages/grafana-ui/src/components/Logs/LogDetails.tsx
  packages/grafana-ui/src/components/Logs/LogDetailsRow.test.tsx
  packages/grafana-ui/src/components/Logs/LogDetailsRow.tsx
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessageDetectedFields.tsx
Labels: area/panel/logs, type/bug

#29844 Variables: Fixes so clicking on Selected in drop down will exclude All value from selection
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
Labels: add to changelog, area/dashboard/templating, type/bug

#29421 Loki: Remove unnecessary deduplication
  public/app/core/logs_model.test.ts
  public/app/core/logs_model.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/LiveLogs.tsx
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
Labels: datasource/Loki, type/bug

#29842 Docs: Add info about typing of connected props to Redux style guide
  contribute/style-guides/redux.md
Labels: type/docs

#29841 Elasticsearch: remove timeSrv dependency for logs context
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/index_pattern.ts
  public/app/plugins/datasource/elasticsearch/specs/index_pattern.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: datasource/Elasticsearch

#29848 Storybook: Display palette and colors for dark and light themes
  packages/grafana-ui/src/components/ThemeColors/Colors.story.tsx
  packages/grafana-ui/src/components/ThemeColors/Colors.tsx
Labels: area/storybook

#29832 MS SQL: Fix MS SQL add data source UI issues
  docs/sources/datasources/mssql.md
  public/app/plugins/datasource/mssql/partials/config.html
Labels: datasource/MSSQL

#29644 Chore: Contexthandler service improvements
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/dashboard_test.go
  pkg/api/frontendsettings_test.go
  pkg/api/http_server.go
  pkg/api/index.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/login_test.go
  pkg/api/render.go
  pkg/middleware/cookies/cookies.go
  pkg/middleware/dashboard_redirect.go
  pkg/middleware/dashboard_redirect_test.go
  pkg/middleware/gziper.go
  pkg/middleware/middleware_test.go
  pkg/middleware/org_redirect.go
  pkg/middleware/quota.go
  pkg/middleware/quota_test.go
  pkg/middleware/recovery_test.go
  pkg/middleware/testing.go
  pkg/middleware/validate_host.go
  pkg/models/context.go
  pkg/models/dashboards.go
  pkg/models/quotas.go
  pkg/services/contexthandler/authproxy/authproxy.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/contexthandler/contexthandler_test.go
  pkg/services/quota/quota.go
  pkg/services/sqlstore/org.go
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  pkg/tsdb/cloudwatch/cloudwatch.go
Labels: area/backend, type/chore

#29838 Docs: Add CloudWatch `resource_arns()` Multiple Tag Example
  docs/sources/datasources/cloudwatch.md
Labels: datasource/CloudWatch, type/docs

#29846 Variables: Fixes so numerical sort order works for null values
  public/app/features/variables/query/reducer.test.ts
  public/app/features/variables/query/reducer.ts
Labels: area/dashboard/templating, type/bug

#29834 MSSQL: Config UI touches
  public/app/plugins/datasource/mssql/partials/config.html
Labels: datasource/MSSQL, type/ux

#29821 Dashboard: Increase folder name size in search dashboard
  public/app/features/search/components/SearchItem.tsx
  public/app/plugins/panel/dashlist/styles.ts
Labels: area/search, area/ux, pr/external

#29873 Storybook: Move colors demo under theme colors
  packages/grafana-ui/src/components/ThemeColors/Colors.story.tsx
Labels: area/storybook

#29865 Fix the broken link of XORM documentation
  contribute/architecture/database.md
Labels: pr/external, type/docs

#29869 DataFrame: add a writable flag to fields
  packages/grafana-data/src/types/dataFrame.ts
Labels: area/grafana/data

#29886 Alerting: Copy frame field labels to time series tags
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
Labels: area/alerting, area/alerting/notifications, area/backend, type/bug

#29855 Explore: Keep query keys consistent when removing query row
  public/app/features/explore/state/query.ts
Labels: area/explore, type/chore

#29871 Backend style guide: Add more guidelines
  contribute/style-guides/backend.md
Labels: area/backend, type/chore

#29879 Field Config API: Add ability to hide field option or disable it from the overrides
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/Forms/Field.tsx
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.tsx
  public/app/features/dashboard/components/PanelEditor/DefaultFieldConfigEditor.test.tsx
  public/app/features/dashboard/components/PanelEditor/DefaultFieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.test.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideFieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/types.ts
  public/app/features/dashboard/state/PanelModel.test.ts
  public/test/helpers/fieldConfig.ts
Labels: add to changelog, area/frontend

#29888 Toolkit: disable react/prop-types eslint rule
  packages/grafana-toolkit/src/config/eslint.plugin.json
Labels: area/frontend, area/grafana/toolkit

#29770 Elasticsearch: Use time range from requests or default one
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/index_pattern.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/elasticsearch/specs/index_pattern.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: datasource/Elasticsearch, type/chore
