Repository grafana/grafana, pull requests merged in 2020-11, with the labels that each got.

#28709 Plugin Signature Badge: Fix typo in unsigned plugin warning
  public/app/features/plugins/PluginSignatureBadge.tsx
Labels: backport v7.3.x

#28686 Templating: Speeds up certain variable queries for Postgres MySql MSSql
  public/app/plugins/datasource/mssql/response_parser.ts
  public/app/plugins/datasource/mysql/response_parser.ts
  public/app/plugins/datasource/postgres/response_parser.ts
Labels: add to changelog, area/dashboard/templating, backport v7.3.x, datasource/MSSQL, datasource/MySQL, datasource/Postgres, type/bug

#28690 TableFilters: Fixes filtering with field overrides
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/Table/utils.ts
Labels: add to changelog, area/panel/table, backport v7.3.x, type/bug

#28728 Drone: Upgrade build-pipeline tool
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#28730 Chore: Pin nginx base image in nginx proxy Dockerfiles
  devenv/docker/blocks/nginx_proxy/Dockerfile
  devenv/docker/blocks/nginx_proxy_mac/Dockerfile
Labels: type/build-packaging, type/chore

#28564 Migration: Remove LegacyForms from dashboard folder permissions
  packages/grafana-ui/src/components/Select/getSelectStyles.ts
  public/app/core/components/PermissionList/AddPermission.tsx
  public/app/core/components/PermissionList/DisabledPermissionListItem.tsx
  public/app/core/components/PermissionList/PermissionListItem.tsx
  public/app/core/components/PermissionList/PermissionsInfo.tsx
  public/app/core/components/Select/TeamPicker.tsx
  public/app/types/acl.ts
Labels: area/frontend, type/debt

#28737 Plugin page: Fix dom validation warning
  public/app/features/plugins/PluginPage.tsx
Labels: backport v7.3.x, type/bug

#28750 Provisioning: Fixed problem with getting started panel being added to custom home dashboard
  pkg/api/dashboard.go
Labels: add to changelog, area/backend, type/bug

#28702 Dashboard: fix view panel mode for Safari / iOS
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/sass/pages/_dashboard.scss
Labels: add to changelog, area/dashboard, area/frontend, backport v7.3.x, type/bug

#28697 Explore: Remove redundant decodeURI and fix urls
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
Labels: area/explore, datasource/Loki

#28525 gtime: Add ParseDuration function
  pkg/components/gtime/gtime.go
  pkg/components/gtime/gtime_test.go
  pkg/middleware/middleware_test.go
  pkg/services/dashboards/dashboard_service.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend, type/bug

#28705 Docs: Add docs for InfoBox component
  packages/grafana-ui/src/components/InfoBox/InfoBox.mdx
  packages/grafana-ui/src/components/InfoBox/InfoBox.story.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.tsx
Labels: area/grafana/ui, type/docs

#28749 devenv: Upgrade MSSQL Docker image
  devenv/docker/blocks/mssql/build/Dockerfile
  devenv/docker/blocks/mssql/build/setup.sh
Labels: type/build-packaging, type/chore

#28769 Drone: Upgrade build pipeline tool
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#28773 grafana/toolkit: Extract CHANGELOG when building plugin
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
Labels: area/grafana/toolkit

#28761 Cloudwatch: Fix issue with field calculation transform not working properly with Cloudwatch data
  go.mod
  go.sum
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
Labels: area/backend, backport v7.3.x, datasource/CloudWatch, type/bug

#27998 Docs: Add NGINX example for using websockets to Loki
  docs/sources/datasources/loki.md
Labels: pr/external, priority/nice-to-have, type/docs

#28736 Dependencies: Update angularjs to 1.8.2
  CHANGELOG.md
  package.json
  public/app/app.ts
  public/app/core/injectorMonkeyPatch.ts
  public/app/features/panel/query_editor_row.ts
  public/app/features/plugins/wrappers/AppConfigWrapper.tsx
  yarn.lock
Labels: area/security, dependencies

#28767 Plugin Dockerfiles: Upgrade Go, golangci-lint, gcloud SDK
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
Labels: type/build-packaging, type/chore

#28784 Docs: added code comments to frontend packages.
  packages/grafana-data/src/types/data.ts
  scripts/ci-reference-docs-lint.sh
Labels: type/docs

#28765 Live: improve broadcast semantics and avoid double posting
  pkg/models/live.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/dashboard.go
  pkg/services/live/features/measurements.go
  pkg/services/live/features/testdata.go
  pkg/services/live/live.go
  pkg/services/live/pluginHandler.go
  pkg/tsdb/cloudwatch/live.go
Labels: area/streaming

#28798 Variables: Fixes URL values for dependent variables
  public/app/features/variables/shared/testing/multiVariableBuilder.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: area/dashboard/templating, backport v7.3.x, type/bug

#28776 grafana/toolkit: Drop console and debugger statements by default when building plugin
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/bundle.ts
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
Labels: add to changelog, area/grafana/toolkit

#28779 Panel inspect: Interpolate variables in panel inspect title
  public/app/features/dashboard/components/Inspector/InspectContent.tsx
Labels: backport v7.3.x, type/bug

#28625 Variables: Adds named capture groups to variable regex
  docs/sources/variables/filter-variables-with-regex.md
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/reducer.test.ts
  public/app/features/variables/query/reducer.ts
Labels: area/dashboard/templating, pr/external

#28011 Dashboard: Add Datetime local (No date if today) option in panel axes' units
  packages/grafana-data/src/valueFormats/categories.ts
  packages/grafana-data/src/valueFormats/dateTimeFormatters.test.ts
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
Labels: area/dashboard, area/frontend, pr/external

#26369 StatPanels: Add new calculation option for percentage difference
  docs/sources/panels/calculations-list.md
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
  public/app/core/time_series2.ts
  public/app/plugins/panel/singlestat/module.ts
Labels: add to changelog, area/frontend, area/panel/stat, pr/external

#28808 Remove homelinks panel
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/homelinks/img/news.svg
  public/app/plugins/panel/homelinks/module.tsx
  public/app/plugins/panel/homelinks/plugin.json
Labels: type/debt, type/tech

#28757 Icon: Replace font awesome icons where possible
  docs/sources/explore/index.md
  packages/grafana-ui/src/components/Input/Input.tsx
  packages/grafana-ui/src/components/LoadingPlaceholder/LoadingPlaceholder.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  public/app/core/angular_wrappers.ts
  public/app/core/components/PermissionList/PermissionList.tsx
  public/app/features/admin/UserSyncInfo.tsx
  public/app/features/admin/ldap/LdapSyncInfo.tsx
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/components/VersionHistory/HistoryListCtrl.ts
  public/app/features/dashboard/components/VersionHistory/template.html
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/explore/RunButton.tsx
  public/app/features/explore/TimeSyncButton.tsx
  public/app/features/variables/pickers/shared/VariableOptions.tsx
  public/app/plugins/datasource/cloudwatch/components/CloudWatchLink.tsx
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
  public/test/mocks/common.ts
Labels: area/grafana/ui

#28816 core and grafana/toolkit: Use latest version of grafana-eslint-conifg
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/grafana/toolkit

#28810 grafana/toolkit: allow builds with lint warnings
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
Labels: add to changelog, area/grafana/toolkit

#28797 Gauge: Improve font size auto sizing
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
Labels: add to changelog, backport v7.3.x

#28831 Snapshots: Increase MySQL Blob column size for encrypted dashboard data
  pkg/services/sqlstore/migrations/dashboard_snapshot_mig.go
Labels: area/backend, area/backend/db/mysql, area/dashboard/snapshot, backport v7.3.x

#28823 Currency: Add Philippine peso currency (PHP)
  packages/grafana-data/src/valueFormats/categories.ts
Labels: area/frontend, pr/external

#25214 Variables: Adds variables inspection
  package.json
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/Modal/ModalHeader.tsx
  public/app/features/variables/editor/VariableEditorContainer.tsx
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/inspect/NetworkGraph.tsx
  public/app/features/variables/inspect/NetworkGraphModal.tsx
  public/app/features/variables/inspect/VariableUsagesButton.tsx
  public/app/features/variables/inspect/VariablesDependenciesButton.tsx
  public/app/features/variables/inspect/VariablesUnknownButton.tsx
  public/app/features/variables/inspect/VariablesUnknownTable.tsx
  public/app/features/variables/inspect/utils.test.ts
  public/app/features/variables/inspect/utils.ts
  yarn.lock
Labels: add to changelog, area/dashboard/templating, pr/early-feedback

#28849 Units: added support to handle negative fractional numbers.
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
Labels: add to changelog, area/units, backport v7.3.x, type/bug

#28664 Chore: Remove dead code
  go.mod
  go.sum
  pkg/api/dtos/alerting.go
  pkg/api/static/static.go
  pkg/bus/bus.go
  pkg/infra/log/log.go
  pkg/infra/log/log_writer.go
  pkg/infra/log/log_writer_test.go
  pkg/login/social/generic_oauth_test.go
  pkg/models/dashboards.go
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/coreplugin/core_plugin_test.go
  pkg/plugins/backendplugin/coreplugin/query_endpoint_adapter.go
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/annotations/annotations.go
  pkg/setting/setting.go
  pkg/tsdb/models.go
  pkg/tsdb/query_endpoint.go
  pkg/tsdb/request.go
  pkg/util/math.go
Labels: area/backend, type/chore

#28802 Chore: Fix issues found by staticcheck
  pkg/api/avatar/avatar.go
  pkg/tsdb/azuremonitor/applicationinsights-datasource.go
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/insights-analytics-datasource.go
  pkg/tsdb/azuremonitor/macros.go
  pkg/tsdb/azuremonitor/time-grain.go
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/macros_test.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/sqleng/sql_engine.go
  pkg/util/encoding.go
  pkg/util/filepath.go
  pkg/util/ip_address.go
  pkg/util/ip_address_test.go
Labels: area/backend, type/chore

#28842 Prometheus: fix missing labels from value
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: backport v7.3.x, datasource/Prometheus, type/bug

#28836 Tempo: fix test data source
  public/app/plugins/datasource/tempo/datasource.ts
Labels: backport v7.3.x, datasource/Tempo

#28758 Disable selecting enterprise plugins with no license
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/frontendsettings.go
  pkg/api/plugins.go
  pkg/services/licensing/oss.go
  pkg/setting/setting.go
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/datasources/state/buildCategories.ts
Labels: area/backend, area/frontend, area/plugins, type/bug

#28854 Chore: Fix staticcheck issues
  pkg/api/ldap_debug_test.go
  pkg/services/alerting/conditions/evaluator.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/test_notification.go
  pkg/services/alerting/test_rule.go
  pkg/services/guardian/guardian.go
  pkg/services/ldap/ldap.go
  pkg/services/login/errors.go
  pkg/services/multildap/multildap.go
  pkg/services/ngalert/eval.go
  pkg/services/notifications/mailer.go
  pkg/services/notifications/notifications.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/rendering/http_mode.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/plugin_mode.go
  pkg/services/sqlstore/alert.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/annotation.go
  pkg/services/sqlstore/login_attempt.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/tls_mysql.go
Labels: area/backend, type/chore

#28860 Chore: Fix staticcheck issues
  pkg/api/admin_users_test.go
  pkg/api/dashboard_snapshot.go
  pkg/api/http_server.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/utils.go
  pkg/api/render.go
  pkg/cmd/grafana-server/diagnostics.go
  pkg/components/apikeygen/apikeygen.go
  pkg/components/dashdiffs/formatter_json.go
  pkg/components/imguploader/imguploader.go
  pkg/components/imguploader/webdavuploader.go
  pkg/infra/log/file.go
  pkg/infra/metrics/settings.go
  pkg/login/auth.go
  pkg/login/ldap_login_test.go
  pkg/login/social/gitlab_oauth.go
  pkg/login/social/social.go
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/middleware/logger.go
  pkg/middleware/testing.go
  pkg/models/alert.go
  pkg/models/alert_notifications.go
  pkg/models/apikey.go
  pkg/models/dashboard_version.go
  pkg/models/datasource.go
  pkg/models/datasource_cache.go
  pkg/models/folders.go
  pkg/models/notifications.go
  pkg/models/org.go
  pkg/models/org_user.go
  pkg/models/playlist.go
  pkg/models/plugin_settings.go
  pkg/models/quotas.go
  pkg/models/star.go
  pkg/models/team.go
  pkg/models/user.go
  pkg/server/server.go
  pkg/services/sqlstore/apikey_test.go
  pkg/setting/setting.go
Labels: area/backend, type/chore

#28853 Variables: added __user.email to global variable
  devenv/dev-dashboards/feature-templating/global-variables-and-interpolation.json
  docs/sources/variables/variable-types/global-variables.md
  e2e/suite1/specs/dashboard-templating.spec.ts
  public/app/core/services/context_srv.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/types.ts
Labels: add to changelog, area/dashboard/templating

#28620 Elasticsearch: Exclude pipeline aggregations from order by options
  public/app/plugins/datasource/elasticsearch/query_def.ts
Labels: add to changelog, datasource/Elasticsearch, type/bug

#28866 Chore: Fix issues reported by staticcheck; enable stylecheck linter
  pkg/api/admin_provisioning.go
  pkg/api/admin_users.go
  pkg/api/dashboard_test.go
  pkg/api/ldap_debug.go
  pkg/api/plugins.go
  pkg/api/user_token.go
  pkg/cmd/grafana-cli/commands/commandstest/fake_ioutil.go
  pkg/models/alert.go
  pkg/models/dashboards.go
  pkg/models/user.go
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/backendplugin/resource_response_stream.go
  pkg/plugins/dashboard_importer.go
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper.go
  pkg/plugins/plugins.go
  pkg/plugins/transform_plugin.go
  pkg/services/alerting/alerting_usage.go
  pkg/services/auth/token_cleanup.go
  pkg/services/guardian/guardian_util_test.go
  pkg/services/sqlstore/migrations/short_url_mig.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/setting/setting.go
  pkg/tsdb/request.go
  pkg/tsdb/sqleng/sql_engine.go
  scripts/go/configs/.golangci.toml
Labels: area/backend, type/chore

#28671 Docs: Plugin signing docs
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/migration-guide.md
  docs/sources/developers/plugins/package-a-plugin.md
  docs/sources/developers/plugins/share-a-plugin.md
  docs/sources/developers/plugins/sign-a-plugin.md
  docs/sources/menu.yaml
  docs/sources/plugins/_index.md
  docs/sources/plugins/installation.md
  docs/sources/plugins/plugin-signature-verification.md
  docs/sources/plugins/plugin-signatures.md
Labels: area/plugins, type/docs

#28682 PanelHeader: show streaming indicator (and allow unsubscribe)
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
  public/app/features/teams/__snapshots__/TeamGroupSync.test.tsx.snap
  public/app/plugins/datasource/testdata/runStreams.ts
Labels: area/streaming

#28822 Git: Fix line endings on Windows
  .gitattributes
Labels: type/build-packaging, type/chore

#28843 Live: update centrifuge and the ChannelHandler api
  go.mod
  go.sum
  pkg/models/live.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/dashboard.go
  pkg/services/live/features/measurements.go
  pkg/services/live/features/testdata.go
  pkg/services/live/live.go
  pkg/services/live/pluginHandler.go
  pkg/tsdb/cloudwatch/live.go
Labels: area/streaming

#28826 Dashboards / Folders: delete related data (permissions, stars, tags, versions, annotations) when deleting a dashboard or a folder
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/migrations/dashboard_acl.go
  pkg/services/sqlstore/migrations/dashboard_mig.go
Labels: add to changelog, area/dashboard, area/dashboard/folders, backport v7.3.x

#28777 API: replace SendLoginLogCommand with LoginHook
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/login_test.go
  pkg/models/user_auth.go
  pkg/services/hooks/hooks.go
Labels: area/backend/api, backport v7.3.x

#28889 Devenv: Fix Prometheus basic auth proxy
  devenv/docker/blocks/prometheus_basic_auth_proxy/Dockerfile
  devenv/docker/blocks/prometheus_basic_auth_proxy/docker-compose.yaml
  devenv/docker/blocks/prometheus_basic_auth_proxy/nginx.conf
Labels: type/bug, type/build-packaging

#28918 Chore: Rewrite playlist sqlstore test from GoConvey to stdlib and testify
  pkg/services/sqlstore/playlist_test.go
Labels: area/backend, type/chore

#28898 Gauge: making sure threshold panel json is correct before render
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.test.tsx
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.tsx
Labels: area/panel/gauge, type/bug

#28874 Grafana-UI: LoadingPlaceholder docs
  packages/grafana-ui/src/components/LoadingPlaceholder/LoadingPlaceholder.mdx
  packages/grafana-ui/src/components/LoadingPlaceholder/LoadingPlaceholder.story.tsx
  packages/grafana-ui/src/components/LoadingPlaceholder/LoadingPlaceholder.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/grafana/ui

#28904 Chore: Fix spelling issue
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
Labels: backport v7.3.x

#28901 Plugins: allow override when allowing unsigned plugins
  pkg/plugins/plugins.go
Labels: area/backend, area/plugins, backport v7.3.x, type/feature

#28928 Remove not released fix from CHANGELOG.md
  CHANGELOG.md
Labels: type/docs

#28818 CodeEditor: added support for javascript language.
  scripts/webpack/webpack.common.js
Labels: add to changelog, area/grafana/ui, pr/external

#28896 Variables: make sure we keep backward compatibility in custom variable options.
  public/app/features/variables/custom/reducer.test.ts
  public/app/features/variables/custom/reducer.ts
Labels: area/dashboard/templating, type/bug

#28875 Field color: handling color changes when switching panel types
  packages/grafana-data/src/field/fieldColor.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-data/src/panel/PanelPlugin.test.tsx
  packages/grafana-data/src/panel/PanelPlugin.ts
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  packages/grafana-ui/src/components/OptionsUI/color.tsx
  packages/grafana-ui/src/components/OptionsUI/fieldColor.tsx
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/graph2/module.tsx
  public/app/plugins/panel/graph3/module.tsx
  public/app/plugins/panel/stat/module.tsx
Labels: add to changelog, area/field/overrides

#28930 Plugins signing: Fix docs urls
  packages/grafana-data/src/types/plugin.ts
  public/app/features/plugins/PluginPage.tsx
  public/app/features/plugins/PluginsErrorsInfo.tsx
Labels: backport v7.3.x, type/bug

#28886 setting: Fix tests on Mac
  pkg/setting/date_formats.go
  pkg/setting/date_formats_test.go
Labels: area/backend, type/bug

#28819 Chore: Split Explore redux code into multiple sections
  public/app/core/reducers/root.ts
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
  public/app/features/explore/RichHistory/RichHistoryContainer.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/features/explore/Wrapper.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/datasource.test.ts
  public/app/features/explore/state/datasource.ts
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/history.ts
  public/app/features/explore/state/main.test.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/state/time.test.ts
  public/app/features/explore/state/time.ts
  public/app/features/explore/state/utils.ts
  public/app/features/explore/useLiveTailControls.ts
  public/app/features/explore/utils/links.ts
  public/app/features/explore/utils/time.ts
  public/test/mocks/mockExploreState.ts
Labels: area/explore, type/chore

#28558 Chore: use jest without grunt
  .drone.yml
  contribute/developer-guide.md
  package.json
  scripts/grunt/options/exec.js
  scripts/lib.star
Labels: area/frontend, type/build-packaging, type/chore

#28912 CloudWatch Logs: Change how we measure query progress
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
Labels: add to changelog, datasource/CloudWatch Logs

#28867 Short URL: Cleanup unvisited/stale short URLs
  docs/sources/explore/index.md
  pkg/models/shorturl.go
  pkg/services/cleanup/cleanup.go
  pkg/services/shorturls/short_url_service.go
  pkg/services/shorturls/short_url_service_test.go
  pkg/services/sqlstore/temp_user_test.go
Labels: add to changelog, area/backend, area/dashboard, backport v7.3.x

#28948 Usage stats: Start tracking tempo
  pkg/models/datasource.go
Labels: area/backend, backport v7.3.x, type/chore

#28952 Tracing: log traceID in request logger
  pkg/middleware/logger.go
Labels: area/backend, area/instrumentation, backport v7.3.x

#28959 [v7.3.x] Tracing: log traceID in request logger
  pkg/middleware/logger.go
Labels: backport

#28617 RFC: change default stats option to "Last (not null)"
  public/app/plugins/panel/stat/types.ts
Labels: add to changelog

#28968 StatPanel: Fixed center of values in edge case scenarios
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  packages/grafana-ui/src/components/BigValue/__snapshots__/BigValue.test.tsx.snap
Labels: type/bug

#28986 Drone: Fix docs building
  .drone.yml
  scripts/lib.star
  scripts/master.star
Labels: backport v7.3.x, type/build-packaging, type/chore

#28972 Logs: Change scroll to auto
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
Labels: area/explore, area/panel/logs

#28983 [v7.3.x] Alerting/Notification channels: Fixed URL for button "Back" if Grafana hosts in sub path
  public/app/features/alerting/components/NotificationChannelForm.tsx
Labels: backport

#28985 [v7.3.x] Variables: make sure we keep backward compatibility in custom variable options.
  public/app/features/variables/custom/reducer.test.ts
  public/app/features/variables/custom/reducer.ts
Labels: backport

#28984 [v7.3.x] Gauge: making sure threshold panel json is correct before render
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.test.tsx
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.tsx
Labels: backport

#28788 Backend: Adds route for well-known change password URL
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/api/user.go
Labels: area/backend

#28958 Variables: Fixes loading with a custom all value in url
  public/app/features/variables/shared/testing/multiVariableBuilder.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/setOptionFromUrl.test.ts
Labels: add to changelog, area/dashboard/data-links, area/dashboard/templating, type/bug

#28809 MSSQL: Support request cancellation properly (Uses new backendSrv.fetch Observable request API)
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mssql/response_parser.ts
  public/app/plugins/datasource/mssql/specs/datasource.test.ts
Labels: datasource/MSSQL, type/tech

#28982 StatPanels: Fixes auto min max when latest value is zero
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: backport v7.3.x, type/bug

#28971 Logs Panel: Fix inconsistent higlighting
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
Labels: area/panel/logs, type/bug

#29011 Tracing: Add setting for sampling server
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/infra/tracing/tracing.go
Labels: area/backend, area/instrumentation, backport v7.3.x, type/chore

#28998 Docs: Fix datasource provisioning documentation for Prometheus
  docs/sources/administration/provisioning.md
Labels: area/provisioning, datasource/Prometheus, type/docs

#28933 Backend: Remove unused function GetAllDataSources
  pkg/models/datasource.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/sqlstore/datasource.go
Labels: area/backend, type/chore

#29010 Thresholds: Fixes color assigned to null values
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/scale.ts
Labels: add to changelog, backport v7.3.x, type/bug

#28909 TraceViewer: Make sure it does not break when no trace is passed
  packages/grafana-data/src/types/trace.ts
  packages/jaeger-ui-components/src/model/transform-trace-data.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
Labels: area/tracing, backport v7.3.x, datasource/Jaeger

#29020 [7.3.x] Backport of traceviewer fix
  packages/grafana-data/src/types/trace.ts
  packages/jaeger-ui-components/src/model/transform-trace-data.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
Labels: backport

#29023 Chore: Bump build pipeline version
  .drone.yml
  scripts/lib.star
Labels: backport v7.3.x, type/build-packaging, type/chore

#28969 Elasticsearch: Interpolate variables in Filters Bucket Aggregation
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: add to changelog, datasource/Elasticsearch

#29025 [v7.3.x] Chore: Bump build pipeline version
  .drone.yml
  scripts/lib.star
Labels: backport, type/build-packaging, type/chore

#28754 Docs: Troubleshoot starting docker containers on Mac
  devenv/README.md
Labels: area/devenv, type/docs

#28707 Dashboard: remove usage of Legacyforms
  packages/grafana-ui/src/components/Switch/Switch.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/components/ShareModal/ShareEmbed.tsx
  public/app/features/dashboard/components/ShareModal/ShareExport.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
Labels: area/dashboard, area/frontend, type/debt

#28975 Docs: Add documentation about log levels
  docs/sources/explore/index.md
  docs/sources/panels/visualizations/logs-panel.md
Labels: area/explore, area/panel/logs, type/docs

#28895 Explore: support ANSI colors in live logs
  packages/grafana-ui/src/components/index.ts
  public/app/features/explore/LiveLogs.test.tsx
  public/app/features/explore/LiveLogs.tsx
Labels: area/explore

#29027 Docs: Fix prometheus docs related to query variables
  docs/sources/datasources/prometheus.md
Labels: datasource/Prometheus, type/docs

#27573 MutableDataFrame: Remove unique field name constraint and values field index and unused/seldom used stuff
  packages/grafana-data/src/dataframe/MutableDataFrame.test.ts
  packages/grafana-data/src/dataframe/MutableDataFrame.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/transformations/transformers.ts
  packages/grafana-data/src/transformations/transformers/append.test.ts
  packages/grafana-data/src/transformations/transformers/append.ts
  packages/grafana-data/src/transformations/transformers/merge.ts
  packages/grafana-runtime/src/measurement/collector.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/testdata/runStreams.ts
Labels: type/discussion

#28131 Elasticsearch: Add Moving Function Pipeline Aggregation
  pkg/tsdb/elasticsearch/models.go
  public/app/plugins/datasource/elasticsearch/metric_agg.ts
  public/app/plugins/datasource/elasticsearch/partials/metric_agg.html
  public/app/plugins/datasource/elasticsearch/query_def.ts
  public/app/plugins/datasource/elasticsearch/specs/query_def.test.ts
Labels: add to changelog, area/datasource/frontend, area/frontend, datasource/Elasticsearch, pr/external

#28919 Chore: Rewrite test helpers from GoConvey to stdlib
  pkg/services/sqlstore/alert_test.go
  pkg/services/sqlstore/dashboard_acl_test.go
  pkg/services/sqlstore/dashboard_folder_test.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/dashboard_version_test.go
  pkg/services/sqlstore/org_test.go
Labels: area/backend, type/chore

#29042 Cloud monitoring: Fix for multi-value template variable for project selector
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
Labels: backport v7.3.x, type/bug

#28073 Logging: Log frontend errors
  conf/defaults.ini
  conf/sample.ini
  go.mod
  go.sum
  package.json
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/services/EchoSrv.ts
  pkg/api/api.go
  pkg/api/dtos/index.go
  pkg/api/frontend_logging.go
  pkg/api/frontend_logging_test.go
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/setting/setting.go
  pkg/setting/setting_sentry.go
  public/app/app.ts
  public/app/core/services/echo/EchoSrv.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.test.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.ts
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.test.ts
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.ts
  public/app/core/services/echo/backends/sentry/transports/EchoSrvTransport.ts
  public/app/core/services/echo/backends/sentry/types.ts
  yarn.lock
Labels: area/backend/logging, area/frontend, area/instrumentation, pr/early-feedback

#28811 Chore: Fix linting issues in pkg/plugins
  pkg/plugins/backendplugin/manager.go
Labels: area/backend, type/chore

#28377 AlertingNG: manage and evaluate alert definitions via the API
  pkg/api/api.go
  pkg/api/dtos/ngalert.go
  pkg/api/http_server.go
  pkg/api/ngalert.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/transform_plugin.go
  pkg/registry/registry.go
  pkg/server/server.go
  pkg/services/ngalert/alert_definition.go
  pkg/services/ngalert/api.go
  pkg/services/ngalert/database.go
  pkg/services/ngalert/database_test.go
  pkg/services/ngalert/eval.go
  pkg/services/ngalert/eval/alert_query.go
  pkg/services/ngalert/eval/alert_query_test.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/middleware.go
  pkg/services/ngalert/models.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/validator.go
  pkg/tsdb/models.go
Labels: area/alerting-ng

#29055 CloudWatch: Add support for AWS/ClientVPN metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch

#28402 CloudWatch: Add 'EventBusName' dimension to CloudWatch 'AWS/Events' namespace
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch, pr/external

#29064 Plugins: Bring back coreplugin package
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/coreplugin/core_plugin_test.go
  pkg/plugins/backendplugin/coreplugin/query_endpoint_adapter.go
Labels: area/backend/plugins, type/chore

#29029 Test Datasource/Bug: Fixes division by zero in csv metric values scenario
  pkg/tsdb/testdatasource/scenarios.go
Labels: area/datasource/backend, backport v7.3.x, type/bug

#28607 Chore: Migrate Dashboard List panel to React
  packages/grafana-data/src/panel/PanelPlugin.ts
  public/app/plugins/panel/dashlist/DashList.tsx
  public/app/plugins/panel/dashlist/editor.html
  public/app/plugins/panel/dashlist/module.html
  public/app/plugins/panel/dashlist/module.ts
  public/app/plugins/panel/dashlist/module.tsx
  public/app/plugins/panel/dashlist/styles.ts
  public/app/plugins/panel/dashlist/types.ts
Labels: type/angular-2-react, type/chore

#29009 Chore: Convert API tests to standard Go lib
  pkg/api/admin_users_test.go
  pkg/api/alerting_test.go
  pkg/api/annotations.go
  pkg/api/annotations_test.go
  pkg/api/common_test.go
  pkg/api/dashboard.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/datasources_test.go
  pkg/api/folder_permission_test.go
  pkg/api/folder_test.go
  pkg/api/frontend_logging_test.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/team_test.go
  pkg/api/user_test.go
  pkg/api/user_token_test.go
  pkg/services/licensing/oss.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/setting/setting.go
Labels: area/backend, type/chore

#29065 Auth: Enable more complete credential chain for SigV4 default SDK auth option
  pkg/models/sigv4.go
Labels: area/backend, area/datasource/backend, backport v7.3.x, datasource/Elasticsearch

#29077 StatPanel: Fixes hanging issue when all values are zero
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: add to changelog, backport v7.3.x, type/bug

#29051 Graph: Fixes stacking issues like floating bars when data is not aligned
  public/app/plugins/panel/graph/graph_tooltip.ts
  public/vendor/flot/jquery.flot.stack.js
Labels: add to changelog, area/panel/graph, backport v7.3.x

#29061 Update react-testing-library
  package.json
  yarn.lock
Labels: type/tech

#28916 Plugins: Implement testDatasource for Jaeger
  public/app/plugins/datasource/jaeger/datasource.test.ts
  public/app/plugins/datasource/jaeger/datasource.ts
Labels: datasource/Jaeger, pr/external

#28962 Data source proxy: Convert 401 from data source to 400
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
Labels: add to changelog, area/backend, area/datasource/proxy, backport v7.3.x, type/bug

#29030 Explore/Logs: Alphabetically sort unique labels, labels and parsed fields
  packages/grafana-ui/src/components/Logs/LogDetails.tsx
  packages/grafana-ui/src/components/Logs/LogLabels.tsx
Labels: area/explore

#28974 LogsPanel: Fix scrolling in dashboards
  packages/grafana-ui/src/components/Logs/LogRows.tsx
Labels: area/panel/logs

#29098 Chore: Bumps types for jest
  package.json
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: type/chore, type/tech

#29095 Data source proxy: Convert 401 from data source to 400 (#28962)
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
Labels: backport

#29071 Drone: Verify Drone config at beginning of pipelines
  .drone.yml
  scripts/lib.star
Labels: backport v7.3.x, type/chore

#29093 Plugin proxy: Handle URL parsing errors
  pkg/api/app_routes.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
Labels: area/backend/api, type/chore

#29118 Drone: Fix Drone config verification for enterprise on Windows
  .drone.yml
  scripts/lib.star
Labels: backport v7.3.x, type/bug, type/build-packaging

#29124 Chore: Upgrade Go dev tools
  scripts/go/go.mod
  scripts/go/go.sum
Labels: area/backend, type/build-packaging, type/chore

#29129 Chore: Rewrite preferences test from GoConvey to stdlib and testify
  pkg/services/sqlstore/preferences_test.go
Labels: area/backend, pr/external, type/chore

#29084 Provisioning: Pin application to the sidebar when it's enabled
  pkg/services/provisioning/plugins/plugin_provisioner.go
Labels: area/provisioning, backport v7.3.x

#29143 Provisioning: build paths in an os independent way
  pkg/services/provisioning/provisioning.go
Labels: add to changelog, area/backend, backport v7.3.x, pr/external, type/bug

#29149 Chore: Fix automation text: remove hyphen
  .github/commands.json
Labels: type/chore

#29031 Snapshots: Fixes so that dashboard snapshots show data when using Stat, Gauge, BarGauge or Table panels
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/utils/loadSnapshotData.ts
Labels: backport v7.3.x, type/bug

#27977 Fix panic when using complex dynamic URLs in app plugin routes
  pkg/api/app_routes.go
  pkg/api/pluginproxy/access_token_provider.go
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_auth_provider_test.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/api/pluginproxy/utils.go
  pkg/api/pluginproxy/utils_test.go
Labels: area/backend, type/bug

#28799 Chore: Fix linting issues caught by ruleguard
  pkg/bus/bus.go
  pkg/middleware/auth_proxy.go
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/postgres/macros.go
Labels: area/backend, type/chore

#29091 API: Rewrite tests from goconvey
  pkg/api/basic_auth_test.go
  pkg/api/dataproxy_test.go
  pkg/api/pluginproxy/access_token_provider.go
  pkg/api/pluginproxy/access_token_provider_test.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/api/pluginproxy/utils_test.go
Labels: area/backend, type/chore

#28852 Chore: Remove unused Go code
  pkg/api/common.go
  pkg/api/datasource/validation.go
  pkg/api/dtos/index.go
  pkg/api/dtos/models.go
  pkg/api/dtos/stream.go
  pkg/api/dtos/user.go
  pkg/cmd/grafana-cli/utils/command_line.go
  pkg/components/imguploader/azureblobuploader.go
  pkg/components/null/float.go
  pkg/components/simplejson/simplejson.go
  pkg/events/events.go
  pkg/events/events_test.go
  pkg/login/auth.go
  pkg/middleware/middleware_test.go
  pkg/middleware/perf.go
  pkg/models/alert.go
  pkg/models/alert_notifications.go
  pkg/models/apikey.go
  pkg/models/context.go
  pkg/models/dashboard_snapshot.go
  pkg/models/dashboards.go
  pkg/models/helpflags.go
  pkg/models/home_dashboard.go
  pkg/models/measurement.go
  pkg/models/org_user.go
  pkg/models/playlist.go
  pkg/models/plugin_setting_cache.go
  pkg/models/plugin_setting_cache_test.go
  pkg/models/preferences.go
  pkg/models/saml.go
  pkg/models/search.go
  pkg/plugins/app_plugin.go
  pkg/plugins/models.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/guardian/guardian.go
  pkg/services/live/channel.go
  pkg/services/rendering/interface.go
  pkg/services/sqlstore/migrator/types.go
  pkg/setting/setting.go
  pkg/setting/setting_quota.go
  pkg/tsdb/azuremonitor/types.go
  pkg/tsdb/cloudwatch/cloudwatch_query.go
  pkg/tsdb/cloudwatch/cloudwatch_query_test.go
  pkg/tsdb/elasticsearch/client/models.go
  pkg/tsdb/influxdb/models.go
  pkg/tsdb/influxdb/query_part.go
  pkg/tsdb/models.go
Labels: area/backend, type/chore

#29157 Chore: Upgrade Go etc in build images
  package.json
  scripts/build/ci-build-windows/Dockerfile
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/build/ci-deploy/Dockerfile
Labels: type/build-packaging, type/chore

#29161 Drone: Upgrade build pipeline tool and build image
  .drone.yml
  scripts/lib.star
Labels: backport v7.3.x, type/build-packaging, type/chore

#29097 Backend: More renaming for standard style conformance
  pkg/api/dashboard_permission.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dtos/acl.go
  pkg/api/folder_permission.go
  pkg/api/folder_permission_test.go
  pkg/cmd/grafana-cli/commands/commandstest/fake_api_client.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/install_command_test.go
  pkg/cmd/grafana-cli/commands/listremote_command.go
  pkg/cmd/grafana-cli/commands/ls_command.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command.go
  pkg/cmd/grafana-cli/models/model.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/infra/log/file.go
  pkg/infra/log/file_test.go
  pkg/infra/metrics/settings.go
  pkg/infra/serverlock/model.go
  pkg/infra/serverlock/serverlock.go
  pkg/infra/serverlock/serverlock_test.go
  pkg/models/dashboard_acl.go
  pkg/services/dashboards/acl_service.go
  pkg/services/guardian/guardian.go
  pkg/services/guardian/guardian_util_test.go
  pkg/services/sqlstore/dashboard_acl.go
  pkg/services/sqlstore/dashboard_acl_test.go
  pkg/services/sqlstore/dashboard_folder_test.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/sqlbuilder_test.go
  pkg/services/sqlstore/team_test.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend, type/chore

#22255 SQL: define primary key for tables without it
  pkg/services/sqlstore/migrations/alert_mig.go
  pkg/services/sqlstore/migrations/annotation_mig.go
Labels: area/backend, area/backend/db, area/backend/db/mysql, pr/external, type/bug

#28780 CloudWatch: added HTTP API Gateway specific metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, datasource/CloudWatch, pr/external

#29162 Drone: Upgrade build pipeline tool and build image (#29161)
  .drone.yml
  scripts/lib.star
Labels: backport v7.3.x

#29040 DashboardLinks: will only refresh dashboard search when changing tags for link.
  e2e/suite1/specs/templating-dashboard-links-and-variables.ts
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.test.tsx
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.tsx
Labels: area/dashboard/links, area/dashboard/templating, backport v7.3.x, type/bug

#29171 Chore: Upgrade grafana/build-ci-deploy image to latest Go
  .drone.yml
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/lib.star
Labels: backport v7.3.x, type/build-packaging, type/chore

#29165 Table: Fix incorrect condtition for rendering table filter
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
Labels: area/panel/table, backport, backport v7.3.x

#29179 Drone: Fix publish-packages invocation
  .drone.yml
  scripts/lib.star
  scripts/release.star
Labels: backport v7.3.x, type/bug, type/build-packaging

#29180 Chore: Upgrade grafana/build-ci-deploy image to latest Go (#29171)
  .drone.yml
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/lib.star
Labels: backport

#29120 playlist: Improve test
  pkg/services/sqlstore/playlist_test.go
Labels: area/backend, type/chore

#29183 Tracing: Tag spans with user login and datasource name instead of id
  pkg/api/pluginproxy/ds_proxy.go
Labels: add to changelog, area/backend, area/instrumentation

#29167 Panels: fix positioning of the header title
  public/sass/components/_panel_header.scss
Labels: area/frontend, area/panel/common, pr/external

#29184 Drone: Fix publish-packages invocation (#29179)
  .drone.yml
  scripts/lib.star
  scripts/release.star
Labels: backport

#29106 Refactor declarative series configuration to a config builder
  packages/grafana-ui/src/components/GraphNG/GraphNG.test.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/context.ts
  packages/grafana-ui/src/components/uPlot/geometries/Area.tsx
  packages/grafana-ui/src/components/uPlot/geometries/Line.tsx
  packages/grafana-ui/src/components/uPlot/geometries/Point.tsx
  packages/grafana-ui/src/components/uPlot/geometries/Scale.tsx
  packages/grafana-ui/src/components/uPlot/geometries/SeriesGeometry.tsx
  packages/grafana-ui/src/components/uPlot/geometries/configGetters.ts
  packages/grafana-ui/src/components/uPlot/geometries/index.ts
  packages/grafana-ui/src/components/uPlot/geometries/types.ts
  packages/grafana-ui/src/components/uPlot/hooks.test.ts
  packages/grafana-ui/src/components/uPlot/hooks.ts
  packages/grafana-ui/src/components/uPlot/types.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
Labels: area/panel/graph

#29053 Proposal: introduce eslint-plugin-react
  .eslintrc
  package.json
  packages/grafana-data/src/panel/PanelPlugin.test.tsx
  packages/grafana-toolkit/package.json
  packages/grafana-ui/src/components/Collapse/CollapsableSection.story.tsx
  packages/grafana-ui/src/components/Graph/Graph.story.tsx
  packages/grafana-ui/src/components/Icon/Icon.story.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.story.tsx
  packages/grafana-ui/src/components/Legend/Legend.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.story.tsx
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/VizLayout/VizLayout.story.tsx
  yarn.lock
Labels: area/frontend, type/tech
