Repository grafana/grafana, pull requests merged in 2020-05, with the labels that each got.

#24129 Minor correction in doc
  docs/sources/plugins/developing/plugin-review-guidelines.md
Labels: pr/external, type/docs

#24111 update new favicon
  public/img/fav32.png
Labels: area/frontend, pr/external

#24126 Minor fix for better readability
  docs/sources/guides/glossary.md
Labels: pr/external, type/docs

#24151 Search: Bring back open search by clicking dashboard name
  public/app/features/dashboard/components/DashNav/DashNav.tsx
Labels: add to changelog, cherry-pick needed

#24144 PanelEditor: Fixes issue changing panel type from graph to stat and thresholds not taking affect after going back to dashboard
  public/app/features/dashboard/components/PanelEditor/state/actions.test.ts
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/state/DashboardModel.ts
Labels: cherry-pick needed, type/bug

#24095 PanelEditor: Only show cache timeout if enabled in data source plugin json
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
Labels: add to changelog, cherry-pick needed

#24071 Changelog: Typo fix
  CHANGELOG.md
Labels: cherry-pick needed, pr/external, type/docs

#24145 ArrayDataFrame: use normal property for fields and length
  packages/grafana-data/src/dataframe/ArrayDataFrame.test.ts
  packages/grafana-data/src/dataframe/ArrayDataFrame.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
Labels: cherry-pick needed

#24165 Plugins: list app dynamics as an enterprise plugin
  public/app/features/datasources/state/buildCategories.test.ts
  public/app/features/datasources/state/buildCategories.ts
Labels: cherry-pick needed

#24141 @grafana/e2e: update datasource dropdown selector
  packages/grafana-e2e/src/flows/addPanel.ts
Labels: area/grafana/e2e, cherry-pick needed, effort/small, type/e2e

#24150 Storybook/fix modal docs
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.mdx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.story.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
  packages/grafana-ui/src/components/Modal/Modal.mdx
  packages/grafana-ui/src/components/Modal/Modal.story.tsx
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/Modal/ModalsContext.tsx
Labels: area/storybook, cherry-pick needed

#24160 Filter by RefId: update options after input changes
  packages/grafana-ui/src/components/TransformersUI/FilterByRefIdTransformerEditor.tsx
Labels: cherry-pick needed

#24169 Inserting a comma for better readability
  docs/sources/variables/repeat-panels-or-rows.md
Labels: pr/external, type/docs

#24162 Graph: Fixed graph tooltip getting stuck / not being cleared when leaving dashboard
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/panel/panel_directive.ts
Labels: cherry-pick needed, type/bug

#24114 Chore: Remove beta references from Query history
  docs/sources/features/explore/index.md
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.tsx
  public/app/features/explore/RichHistory/RichHistoryStarredTab.tsx
Labels: cherry-pick needed, type/chore, type/docs

#24116 Prometheus: Refresh query field metrics on data source change
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
Labels: add to changelog, area/explore, datasource/Prometheus, type/bug

#24075 Plugins: Require signing of external back-end plugins
  conf/defaults.ini
  conf/sample.ini
  docs/sources/installation/configuration.md
  pkg/infra/fs/exists.go
  pkg/infra/fs/exists_test.go
  pkg/plugins/models.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/testdata/invalid-signature/plugin/MANIFEST.txt
  pkg/plugins/testdata/invalid-signature/plugin/plugin.json
  pkg/plugins/testdata/unsigned/plugin/plugin.json
  pkg/setting/setting.go
Labels: add to changelog, area/backend/plugins, cherry-pick needed

#24217 Docs: make sure we always use the latest docs image
  docs/Makefile
Labels: area/devenv

#24204 Chore: changes elastic terms min_doc_count default from 1 to 0
  public/app/plugins/datasource/elasticsearch/bucket_agg.ts
Labels: area/datasource, area/datasource/frontend, cherry-pick needed, datasource/Elasticsearch

#24213 Search: Add filterOption prop to Select
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
Labels: area/frontend, area/search

#24221 Dockerfile: Move Go stage after JS one, since it's faster
  Dockerfile
  Dockerfile.ubuntu
Labels: type/build-packaging, type/chore

#24202 Dashboard: align form switch in graph panel
  public/app/plugins/panel/graph/tab_legend.html
Labels: cherry-pick needed, type/bug

#24192 Gauge: apply decimal limits to gauge min/max labels
  packages/grafana-ui/src/components/Gauge/Gauge.test.tsx
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
Labels: cherry-pick needed

#24211 NewPanelEdit: Copy raw untransformed result from source panel
  public/app/features/dashboard/state/PanelModel.ts
Labels: cherry-pick needed, type/bug

#24146 PanelEditor: Fixed right side options pane moved to top when clicking new radio buttons
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
Labels: cherry-pick needed, type/bug

#24216 PanelInspector: hides Query tab for plugins without Query ability
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
  public/app/features/dashboard/components/Inspector/QueryInspector.tsx
  public/app/features/dashboard/components/PanelEditor/utils.test.ts
  public/app/features/dashboard/components/PanelEditor/utils.ts
Labels: add to changelog, cherry-pick needed, panel/inspect, type/bug

#24149 Dashboard: Go to explore now works even after discarding dashboard changes
  public/app/features/dashboard/services/ChangeTracker.ts
Labels: add to changelog, cherry-pick needed, type/bug

#23978 Math transformer: improve timeseries support
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/utils/binaryOperators.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-data/src/vector/BinaryOperationVector.test.ts
  packages/grafana-data/src/vector/BinaryOperationVector.ts
  packages/grafana-data/src/vector/ScaledVector.ts
  packages/grafana-data/src/vector/index.ts
  packages/grafana-ui/src/components/TransformersUI/CalculateFieldTransformerEditor.tsx
Labels: area/transformations, cherry-pick needed

#24099 e2e: upgrades Cypress to 4.50
  e2e/suite1/specs/queryVariableCrud.spec.ts
  packages/grafana-e2e/package.json
  yarn.lock
Labels: area/grafana/e2e, cherry-pick needed, type/e2e

#24158 Transforms: Adds beta notice and updates transform descriptions
  jest.config.js
  packages/grafana-data/src/transformations/transformers/reduce.ts
  packages/grafana-data/src/types/app.ts
  packages/grafana-data/src/utils/docs.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-runtime/tsconfig.json
  packages/grafana-ui/.storybook/tsconfig.json
  packages/grafana-ui/src/components/Badge/Badge.story.tsx
  packages/grafana-ui/src/components/Badge/Badge.tsx
  packages/grafana-ui/src/components/InfoBox/FeatureInfoBox.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.story.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.tsx
  packages/grafana-ui/src/components/InfoBox/panelArt_dark.svg
  packages/grafana-ui/src/components/InfoBox/panelArt_light.svg
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/components/TransformersUI/FilterByNameTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/FilterByRefIdTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/SeriesToFieldsTransformerEditor.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/tsconfig.json
  public/app/core/utils/docsLinks.ts
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/dashboard/panel_editor/VizTypePickerPlugin.tsx
  public/app/features/plugins/PluginSignatureBadge.tsx
  public/app/types/svg.d.ts
  public/test/mocks/svg.ts
  scripts/webpack/webpack.common.js
  scripts/webpack/webpack.dev.js
Labels: cherry-pick needed

#24237 DashboardManager: Disable editing if there are no folder permissions
  public/app/features/search/components/ManageDashboards.tsx
Labels: add to changelog, area/frontend, cherry-pick needed, type/bug

#23982 Docs: add Usage Insights documentation
  docs/sources/enterprise/_index.md
  docs/sources/enterprise/usage-insights.md
  docs/sources/menu.yaml
Labels: cherry-pick needed, type/docs

#24088 DataLinks: Do not add empty links
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinkEditorModalContent.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.tsx
Labels: add to changelog, area/frontend, cherry-pick needed, type/bug

#24110 Plugins: Only load transform plug-ins if expressions feature on
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/testdata/behind-feature-flag/gel/plugin.json
  pkg/setting/setting.go
Labels: area/backend/plugins, cherry-pick needed

#24190 Loki: Show loki datasource stats in panel inspector
  public/app/core/logs_model.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/loki/types.ts
Labels: add to changelog, cherry-pick needed, datasource/Loki

#24238 Loki: Fix label matcher for log metrics queries
  packages/grafana-ui/src/components/Logs/LogDetailsRow.tsx
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/prometheus/add_label_to_query.test.ts
  public/app/plugins/datasource/prometheus/add_label_to_query.ts
Labels: add to changelog, area/explore, cherry-pick needed, datasource/Loki, type/bug

#24185 Logs: Add log level Fatal
  packages/grafana-data/src/types/logs.ts
  packages/grafana-data/src/utils/logs.test.ts
Labels: add to changelog, area/panel/logs, cherry-pick needed

#24176 Errors: support errors with frame data from backend responses
  packages/grafana-data/src/dataframe/ArrowDataFrame.test.ts
  packages/grafana-data/src/dataframe/ArrowDataFrame.ts
  packages/grafana-data/src/dataframe/__snapshots__/ArrowDataFrame.test.ts.snap
  packages/grafana-runtime/package.json
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  packages/grafana-runtime/src/utils/queryResponse.test.ts
  packages/grafana-runtime/src/utils/queryResponse.ts
  public/app/features/dashboard/state/runRequest.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/testdata/datasource.ts
Labels: cherry-pick needed

#24242 Signing: allow unsigned plugin in dev mode
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
Labels: area/backend/plugins, cherry-pick needed

#23892 LoginPage: New design
  packages/grafana-ui/src/components/Forms/Form.tsx
  packages/grafana-ui/src/themes/ThemeContext.tsx
  packages/grafana-ui/src/themes/index.ts
  public/app/core/components/Branding/Branding.tsx
  public/app/core/components/Login/ChangePassword.tsx
  public/app/core/components/Login/LoginForm.tsx
  public/app/core/components/Login/LoginPage.tsx
  public/app/core/components/Login/LoginServiceButtons.tsx
  public/app/core/components/Login/UserSignup.tsx
  public/app/core/components/sidemenu/__snapshots__/SideMenu.test.tsx.snap
  public/img/login_background_dark.svg
  public/img/login_background_light.svg
  public/sass/pages/_login.scss
Labels: add to changelog, area/frontend, cherry-pick needed

#24252 Minor typo correction in docs
  docs/sources/features/explore/index.md
Labels: pr/external, type/docs

#24251 Fixed a minor issue in documentation
  docs/sources/guides/glossary.md
Labels: pr/external, type/docs

#24244 Plugins: Require backend plugins to be signed when using plugin path
  pkg/plugins/plugins.go
Labels: cherry-pick needed, type/bug

#24254 Added a missing closing bracket
  docs/sources/features/datasources/testdata.md
Labels: pr/external, type/docs

#24262 Runtime: expose angular injector
  packages/grafana-runtime/src/services/index.ts
  packages/grafana-runtime/src/services/legacyAngularInjector.ts
  public/app/routes/GrafanaCtrl.ts
Labels: cherry-pick needed

#23553 Migration: Dashboard links
  docs/Makefile
  packages/grafana-ui/src/types/icon.ts
  public/app/features/dashboard/components/DashLinks/DashLinksContainerCtrl.ts
  public/app/features/dashboard/components/DashLinks/DashLinksEditorCtrl.ts
  public/app/features/dashboard/components/DashLinks/editor.html
  public/app/features/dashboard/components/DashLinks/index.ts
  public/app/features/dashboard/components/SubMenu/AngularDashboardLinks.tsx
  public/app/features/dashboard/components/SubMenu/AngularSubMenu.tsx
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
  public/app/features/dashboard/components/SubMenu/DashboardsDropdown.tsx
  public/app/features/dashboard/components/SubMenu/SubMenu.tsx
  public/app/features/dashboard/components/SubMenu/SubMenuCtrl.ts
  public/app/features/dashboard/components/SubMenu/index.ts
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/index.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/explore/utils/links.test.ts
  public/app/features/panel/panellinks/link_srv.ts
Labels: add to changelog, area/dashboard, cherry-pick needed, type/angular-2-react

#24120 Backend plugins: Send query type to backend plugins
  go.mod
  go.sum
  pkg/api/metrics.go
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper_v2.go
  pkg/plugins/transform_plugin.go
  pkg/tsdb/models.go
Labels: area/backend, area/backend/plugins, cherry-pick needed

#24258 grafana/ui: Enable svg bundle with rollup (fix build)
  packages/grafana-toolkit/src/cli/tasks/package.build.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  yarn.lock
Labels: area/grafana/ui, cherry-pick needed, type/bug

#24106 Explore: No longer changes run button red with "cancel" text when live tailing
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/RunButton.tsx
Labels: area/explore, area/frontend, type/bug

#24136 Docker: Remove another Alpine edge channel usage
  packaging/docker/Dockerfile
Labels: type/build-packaging

#24279 Chore: Remove git add for lint-staged to resolve warning
  package.json
Labels: type/chore

#24243 Backend plugins: Fix incorrect JSON Unmarshal
  pkg/api/plugins.go
Labels: cherry-pick needed, type/bug

#24280 CircleCI: Temporarily ignore failure to publish master Docker images
  .circleci/config.yml
Labels: type/build-packaging, type/chore

#24276 Variables: migrates old tags format for consistency
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
Labels: add to changelog, area/dashboard/templating, cherry-pick needed, type/bug

#24101 Datasource/Loki: Fixes issue where cached log values weren't merged when labels were refreshed
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
Labels: datasource/Loki, type/bug

#24164 Jaeger: Fix how label is created in cascader
  public/app/plugins/datasource/jaeger/QueryField.test.tsx
  public/app/plugins/datasource/jaeger/QueryField.tsx
Labels: add to changelog, area/tracing, cherry-pick needed, datasource/Jaeger

#24284 Stat/Gauge/BarGauge: shows default cursor when missing links
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-ui/src/components/DataLinks/DataLinksContextMenu.tsx
  public/app/features/panel/panellinks/linkSuppliers.test.ts
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/gauge/GaugePanel.tsx
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/stat/StatPanel.tsx
Labels: add to changelog, area/panel/bargauge, area/panel/gauge, area/panel/stat, cherry-pick needed, type/bug

#24283 Storybook: Convert final CSF stories
  packages/grafana-ui/src/components/BigValue/BigValue.story.tsx
  packages/grafana-ui/src/components/Graph/GraphLegend.story.tsx
  packages/grafana-ui/src/components/Graph/GraphLegend.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.story.tsx
  packages/grafana-ui/src/components/Legend/Legend.story.tsx
  packages/grafana-ui/src/components/Legend/Legend.tsx
  packages/grafana-ui/src/components/Legend/LegendTable.tsx
  packages/grafana-ui/src/components/StatsPicker/StatsPicker.story.tsx
Labels: area/grafana/ui, area/storybook, cherry-pick needed

#24261 Dashboard: Variable without a current value in json model causes crash on load
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
Labels: cherry-pick needed, type/bug

#24227 QueryOptions: Fixed min interval placeholder now is real min interval from data source settings
  public/app/features/dashboard/panel_editor/QueriesTab.tsx
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
Labels: cherry-pick needed

#23948 Links: Filter datasources in derived link to tracing only
  docs/sources/features/datasources/loki.md
  public/app/plugins/datasource/loki/configuration/DerivedField.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
Labels: area/explore, cherry-pick needed

#23983 Update data frame docs
  docs/sources/plugins/developing/dataframe.md
Labels: type/docs

#24292 Prometheus: Show "Loading metrics..." when switching sources
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
Labels: datasource/Prometheus, type/bug

#24290 Input: Set theme autofill color
  packages/grafana-ui/src/components/Forms/commonStyles.ts
Labels: area/frontend, area/grafana/ui, cherry-pick needed

#24034 Prometheus: Add off switch for metric/label name lookup
  public/app/plugins/datasource/prometheus/components/PromQueryField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: add to changelog, datasource/Prometheus, type/feature

#24240 CircleCI: Enable plug-in signing
  .circleci/config.yml
  plugins-bundled/internal/input-datasource/src/plugin.json
Labels: cherry-pick needed, type/build-packaging, type/chore

#24309 Toolkit: Docker images/Add grabpl tool for deploys
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/build.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/build.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
Labels: area/grafana/toolkit

#24296 SaveDashboard: Fix for folder picker menu not being visible outside modal
  packages/grafana-ui/src/components/Select/SelectBase.tsx
Labels: add to changelog, area/frontend, area/grafana/ui, cherry-pick needed, type/bug

#24170 Docs: Variable edits
  docs/sources/variables/advanced-variable-format-options.md
  docs/sources/variables/templates-and-variables.md
Labels: type/docs

#24305 Minor change for readability
  docs/sources/installation/rpm.md
Labels: pr/external, type/docs

#24249 Minor correction in documentation
  docs/sources/enterprise/usage-insights.md
Labels: pr/external, type/docs

#24263 Minor correction in documentation
  docs/sources/administration/image_rendering.md
Labels: pr/external, type/docs

#24319 Toolkit: use grabpl for manifest
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/manifest.test.ts
  packages/grafana-toolkit/src/cli/tasks/manifest.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
Labels: cherry-pick needed

#24311 Inspect: Fix typo
  packages/grafana-data/src/utils/csv.test.ts
  public/app/features/dashboard/components/Inspector/InspectJSONTab.tsx
Labels: cherry-pick needed, type/bug

#24317 Dashboard import: enable creating new folders in import
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
Labels: cherry-pick needed, type/bug

#24301 Panel: will fix so the correct links is generated to the panel view.
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/utils.ts
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/plugins/datasource/dashboard/DashboardQueryEditor.tsx
  public/app/plugins/panel/alertlist/module.html
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
Labels: area/dashboard, area/panel/alertlist, cherry-pick needed, type/bug

#24266 Migration: snapshot list
  public/app/features/dashboard/state/reducers.ts
  public/app/features/manage-dashboards/SnapshotListCtrl.ts
  public/app/features/manage-dashboards/SnapshotListPage.tsx
  public/app/features/manage-dashboards/components/SnapshotListTable.tsx
  public/app/features/manage-dashboards/index.ts
  public/app/features/manage-dashboards/partials/snapshot_list.html
  public/app/features/manage-dashboards/state/selectors.ts
  public/app/features/manage-dashboards/types.ts
  public/app/routes/routes.ts
Labels: area/frontend, pr/external, type/angular-2-react

#24298 Devenv: Fix trace id pattern for Loki
  devenv/datasources.yaml
Labels: area/devenv

#24281 Explore/Loki: Removes old query syntax support for regex filter
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/query_utils.test.ts
  public/app/plugins/datasource/loki/query_utils.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/loki/types.ts
Labels: add to changelog, area/explore, area/frontend, cherry-pick needed, datasource/Loki, type/bug

#24295 Field/Overrides: Allow title override for 'time' fields
  packages/grafana-ui/src/utils/standardEditors.tsx
Labels: area/field/overrides, cherry-pick needed

#24230 Search: Support multiple order filters
  pkg/services/search/service.go
  pkg/services/search/sorting.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/searchstore/builder.go
Labels: cherry-pick needed

#24324 Search: folder view improvements
  public/app/core/services/search_srv.ts
  public/app/features/search/components/DashboardActions.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/components/ManageDashboards.tsx
  public/app/features/search/components/SearchResults.tsx
  public/app/features/search/components/SectionHeader.tsx
  public/app/features/search/hooks/useManageDashboards.ts
  public/app/features/search/hooks/useSearch.ts
  public/app/features/search/reducers/actionTypes.ts
  public/app/features/search/reducers/dashboardSearch.test.ts
  public/app/features/search/reducers/dashboardSearch.ts
  public/app/features/search/reducers/manageDashboards.test.ts
  public/app/features/search/reducers/manageDashboards.ts
  public/app/features/search/types.ts
Labels: area/frontend, area/search

#24327 Datasource/CloudWatch: Fix CloudWatch logs dataframe transformation
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
Labels: datasource/CloudWatch

#24328 Publish data frames documentation
  docs/sources/menu.yaml
  docs/sources/plugins/developing/dataframe.md
Labels: type/docs

#24335 Field options: show field name when title option config is empty
  packages/grafana-ui/src/components/OptionsUI/string.tsx
Labels: add to changelog, area/panel/table, type/bug

#24326 Storybook: Fix broken StatsPicker story
  packages/grafana-ui/src/components/Badge/Badge.story.tsx
  packages/grafana-ui/src/components/StatsPicker/StatsPicker.story.tsx
Labels: area/grafana/ui, area/storybook, cherry-pick needed

#24341 Graph: Fixed issue with x-axis labels showing "MM/DD" after viewing dashboard with pie chart
  packages/grafana-ui/src/components/Graph/Graph.tsx
  packages/grafana-ui/src/components/Graph/utils.ts
  packages/grafana-ui/src/components/index.ts
  public/app/plugins/panel/graph/graph.ts
  public/vendor/flot/jquery.flot.time.js
Labels: area/dashboard, area/dashboard/timezone, area/panel/graph, cherry-pick needed, type/bug

#24340 PanelEdit: Fixed re-using query result after leaving panel edit
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/PanelQueryRunner.ts
Labels: cherry-pick needed, type/bug

#24288 Datasource/CloudWatch: Adds more examples to CloudWatch Logs cheatsheet
  public/app/plugins/datasource/cloudwatch/components/LogsCheatSheet.tsx
  public/app/plugins/datasource/cloudwatch/syntax.ts
Labels: add to changelog, cherry-pick needed, datasource/CloudWatch

#24267 Metrics: expose metrics for the number of configured datasources
  pkg/infra/metrics/metrics.go
  pkg/infra/usagestats/usage_stats.go
Labels: area/backend, area/instrumentation, cherry-pick needed

#24347 OverrideEditor: Use field config default value when adding a new override
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
Labels: cherry-pick needed, type/bug

#24349 toDataQueryResponse: check arrow parse errors
  packages/grafana-runtime/src/utils/queryResponse.ts
Labels: cherry-pick needed

#24350 QueryEditor: preserve the datasource attribute if when chaning queries
  public/app/features/dashboard/panel_editor/QueryEditorRows.tsx
Labels: cherry-pick needed

#24346 CloudWatch logs: Fix default region interpolation and reset log groups on region change
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: add to changelog, cherry-pick needed, datasource/CloudWatch

#24348 Loki: Fix query stats display in Explore
  public/app/plugins/datasource/loki/result_transformer.ts
Labels: cherry-pick needed, datasource/Loki

#24265 Docs: Create thresholds.md
  docs/sources/panels/thresholds.md
Labels: type/docs

#24275 Annotations: adds Loki annotation tags deduplication
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: datasource/Loki, type/bug

#24353 TemplateSrv: expose the replace function
  packages/grafana-runtime/src/services/templateSrv.ts
  public/app/features/templating/template_srv.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: cherry-pick needed

#24339 Docs: Fix table of contents link
  contribute/style-guides/frontend.md
Labels: pr/external, type/docs

#24358 @grafana/ui: avoid imports to @grafana/data/src/...
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-ui/src/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
Labels: cherry-pick needed

#24359 @grafana/e2e: added login credential env vars
  packages/grafana-e2e/src/flows/login.ts
  packages/grafana-e2e/src/support/scenario.ts
Labels: cherry-pick needed, effort/medium

#24024 Introduce getFieldTitle as field / series display identity and use it in all field name matchers & field / series name displays
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/fieldState.test.ts
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/field/index.ts
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-data/src/transformations/matchers/nameMatcher.ts
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.test.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  packages/grafana-data/src/transformations/transformers/organize.test.ts
  packages/grafana-data/src/transformations/transformers/rename.test.ts
  packages/grafana-data/src/transformations/transformers/rename.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.ts
  packages/grafana-data/src/types/data.ts
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-ui/src/components/MatchersUI/FieldNameMatcherEditor.tsx
  packages/grafana-ui/src/components/Table/utils.ts
  packages/grafana-ui/src/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/FilterByNameTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  packages/grafana-ui/src/index.ts
  packages/grafana-ui/src/utils/index.ts
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/state/runRequest.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/specs/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/graph2/getGraphSeriesModel.ts
  public/app/plugins/panel/singlestat/module.ts
  public/app/plugins/panel/singlestat/specs/singlestat.test.ts
  public/app/plugins/panel/table/TablePanel.tsx
Labels: area/frontend

#24372 Changelog: added information about the improved time zone support.
  CHANGELOG.md
Labels: cherry-pick needed, type/docs

#24352 Graph: Improves graph edit options in side pane
  packages/grafana-ui/src/components/OptionsUI/units.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.story.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.tsx
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.light.scss.tmpl.ts
  public/app/plugins/panel/graph/axes_editor.html
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/graph/tab_legend.html
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
  public/sass/components/_panel_graph.scss
Labels: cherry-pick needed

#24354 Alerts: set zindex above the panel inspector
  packages/grafana-ui/src/components/Alert/_Alert.scss
  public/app/features/dashboard/components/Inspector/InspectJSONTab.tsx
Labels: cherry-pick needed

#24345 Docs: New whitelabel settings
  docs/sources/enterprise/white-labeling.md
Labels: cherry-pick needed

#24080 Docs: adding documentation for the new time zone functionality
  docs/sources/reference/timerange.md
  packages/grafana-data/src/datetime/common.ts
  packages/grafana-data/src/datetime/formatter.ts
  packages/grafana-data/src/datetime/parser.ts
Labels: area/dashboard/timerange, area/dashboard/timezone, type/docs

#24201 Prometheus: Add metadata for summary metrics
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/language_utils.test.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
Labels: add to changelog, cherry-pick needed, datasource/Prometheus

#24286 Getting started: Welcome banner
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/welcome/README.md
  public/app/plugins/panel/welcome/Welcome.tsx
  public/app/plugins/panel/welcome/img/icn-dashlist-panel.svg
  public/app/plugins/panel/welcome/module.ts
  public/app/plugins/panel/welcome/plugin.json
  public/dashboards/home.json
  public/img/onboarding_art_dark.svg
  public/img/onboarding_art_light.svg
Labels: cherry-pick needed

#24362 CloudWatch/Metrics: Fix query initialisation
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.tsx
Labels: add to changelog, cherry-pick needed, datasource/CloudWatch

#23775 Chore: fixes few strict-null errors
  public/app/core/components/PageHeader/PageHeader.tsx
  public/app/core/components/PermissionList/AddPermission.tsx
  public/app/core/components/PermissionList/PermissionListItem.tsx
  public/app/core/components/Select/MetricSelect.tsx
  public/app/core/utils/flatten.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.ts
  scripts/ci-frontend-metrics.sh
Labels: area/datasource/frontend, area/frontend, datasource/Loki

#24303 Explore: fixes log entries sorting - changes milliseconds to nanoseconds
  packages/grafana-data/src/dataframe/FieldCache.ts
  packages/grafana-data/src/types/logs.ts
  packages/grafana-ui/src/components/Logs/LogDetails.test.tsx
  packages/grafana-ui/src/components/Logs/LogRowContextProvider.test.ts
  packages/grafana-ui/src/components/Logs/LogRows.test.tsx
  public/app/core/logs_model.ts
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/LiveLogs.test.tsx
  public/app/features/explore/utils/ResultProcessor.test.ts
Labels: add to changelog, area/datasource/frontend, area/explore, datasource/Loki, type/bug

#24385 Changelog: spelling
  CHANGELOG.md
Labels: pr/external, type/chore

#24389 Chore: fixes PermissionListItem strict-null-error
  public/app/core/components/PermissionList/PermissionListItem.tsx
Labels: area/frontend

#24388 Field/panel options - do not trigger change events onChange, but onBlur or enter key press
  packages/grafana-ui/src/components/OptionsUI/number.tsx
  packages/grafana-ui/src/components/OptionsUI/string.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
Labels: area/frontend, cherry-pick needed, type/performance

#24332 Docs: Add plugin overview
  docs/sources/developers/plugins.md
  docs/sources/menu.yaml
  docs/sources/plugins/_index.md
Labels: type/docs

#24400 Update version to 7.0.0-beta3
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
Labels: type/chore

#24306 Minor correction in documentation
  docs/sources/installation/troubleshooting.md
Labels: pr/external, type/docs

#24360 TransformersUI: move transformer ui to grafana app
  package.json
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/index.ts
  public/app/app.ts
  public/app/core/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByNameTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByRefIdTransformerEditor.tsx
  public/app/core/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/ReduceTransformerEditor.tsx
  public/app/core/components/TransformersUI/SeriesToFieldsTransformerEditor.tsx
  public/app/core/utils/standardTransformers.ts
Labels: cherry-pick needed

#24397 Field/panel options: Fix numeric option bug
  packages/grafana-ui/src/components/OptionsUI/number.tsx
Labels: area/frontend, cherry-pick needed, type/bug

#24378 Forms: Remove Forms namespace [BREAKING]
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/index.ts
  public/app/features/manage-dashboards/components/ImportDashboardOverview.tsx
Labels: area/frontend, area/grafana/ui

#24403 Elastic: Fix building of raw document queries resulting in error Unknown BaseAggregationBuilder error
  public/app/plugins/datasource/elasticsearch/query_builder.ts
Labels: datasource/Elasticsearch

#24411 @grafana/e2e: only skip password reset on local tests
  packages/grafana-e2e/src/flows/login.ts
Labels: area/grafana/e2e, effort/small, type/e2e

#24407 Prometheus: Fix for prometheus legend formats for instant time series queries
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: add to changelog, cherry-pick needed

#24420 TablePanel: Fix JSON tooltip positioning
  packages/grafana-ui/src/components/Table/JSONViewCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
Labels: area/frontend, area/panel/table, cherry-pick needed, type/bug

#24421 Chore: Update changelog
  CHANGELOG.md
  packages/grafana-ui/CHANGELOG.md
Labels: type/chore

#24371 Minor UI touches
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
  public/app/features/dashboard/panel_editor/VizTypePicker.tsx
  public/app/plugins/panel/alertlist/plugin.json
  public/app/plugins/panel/annolist/plugin.json
  public/app/plugins/panel/bargauge/plugin.json
  public/app/plugins/panel/gauge/module.tsx
  public/app/plugins/panel/graph/tab_display.html
  public/app/plugins/panel/graph2/plugin.json
  public/app/plugins/panel/homelinks/plugin.json
  public/app/plugins/panel/news/plugin.json
  public/app/plugins/panel/piechart/plugin.json
  public/app/plugins/panel/stat/module.tsx
  public/app/plugins/panel/stat/types.ts
Labels: area/frontend, cherry-pick needed

#24424 Chore: Update latest.json
  latest.json
Labels: type/chore

#24422 Reporting: tzdata is needed for reporting
  packaging/docker/ubuntu.Dockerfile
Labels: cherry-pick needed, type/build-packaging

#24428 Docs: Updates transform names and descriptions in whats new blogpost.
  docs/sources/guides/whats-new-in-v7-0.md
Labels: area/transformations, type/docs

#23986 Docs: SAML role and team sync
  docs/sources/enterprise/_index.md
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/enterprise/saml.md
  docs/sources/enterprise/team-sync.md
  docs/sources/menu.yaml
Labels: type/docs

#24429 Storybook: Position panel to right
  packages/grafana-ui/.storybook/preview.ts
Labels: area/frontend, area/storybook, cherry-pick needed

#24443 Chore: move dataFramesReceived event to @grafana/data
  packages/grafana-data/src/types/panelEvents.ts
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/heatmap/heatmap_ctrl.ts
  public/app/plugins/panel/singlestat/module.ts
  public/app/types/events.ts
Labels: cherry-pick needed, type/chore

#24277 Add docs for user management
  docs/sources/manage-users/_index.md
  docs/sources/manage-users/add-or-remove-user-from-team.md
  docs/sources/manage-users/add-or-remove-user.md
  docs/sources/manage-users/create-or-remove-team.md
  docs/sources/manage-users/enable-or-disable-user.md
  docs/sources/menu.yaml
  docs/sources/permissions/dashboard_folder_permissions.md
  docs/sources/permissions/datasource_permissions.md
  docs/sources/permissions/grant-dashboard-and-folder-permissions.md
  docs/sources/permissions/organization_roles.md
  docs/sources/permissions/overview.md
Labels: type/docs

#24444 Explore: Revert QueryRows refactor
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/state/reducers.ts
Labels: type/bug

#24299 Logs: Clicking "Load more" from context overlay doesn't expand log row
  packages/grafana-ui/src/components/Logs/LogRowContext.tsx
Labels: add to changelog, area/panel/logs, cherry-pick needed

#24334 Datasource/CloudWatch: Add data links to CloudWatch logs for deep linking to AWS
  public/app/plugins/datasource/cloudwatch/aws_url.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
Labels: cherry-pick needed, datasource/CloudWatch

#24468 Minor grammatical correction in docs
  docs/sources/enterprise/enterprise-configuration.md
Labels: pr/external, type/docs

#24469 Minor correction in documentation
  docs/sources/permissions/dashboard_folder_permissions.md
Labels: pr/external, type/docs

#24473 Minor change in docs
  docs/sources/enterprise/enterprise-configuration.md
Labels: pr/external, type/docs

#24474 Correction in documentation
  docs/sources/features/panels/singlestat.md
Labels: pr/external, type/docs

#24476 Minor change in Grafana docs
  docs/sources/developers/plugins/legacy/apps.md
Labels: pr/external, type/docs

#24448 Docs: add disable_brute_force_login_protection to configuration document
  docs/sources/installation/configuration.md
Labels: pr/external, type/docs

#24485 OldTable: Make old table options align & look better
  public/app/plugins/panel/table-old/column_options.html
  public/app/plugins/panel/table-old/editor.html
  public/sass/components/_gf-form.scss
Labels: area/panel/table, cherry-pick needed

#24439 Fix: Use correct color for secondary button
  public/sass/components/_buttons.scss
Labels: cherry-pick needed

#24466 Fix typo; systemd service consistency
  docs/sources/installation/rpm.md
Labels: pr/external, type/docs

#24416 Dashboard: Fix for strange "dashboard not found" errors when opening links in dashboard settings
  public/app/features/dashboard/components/DashLinks/editor.html
  public/app/plugins/panel/stat/types.ts
Labels: add to changelog, cherry-pick needed, type/bug

#24489 Packages: Fix cross dependencies version for canary releases
  scripts/circle-release-next-packages.sh
Labels: type/build-packaging

#24402 grafana/toolkit: Support paging in cherrypick task
  packages/grafana-toolkit/src/cli/tasks/cherrypick.ts
Labels: area/grafana/toolkit

#24451 Docs: Added News panel topic
  docs/sources/panels/visualizations/_index.md
  docs/sources/panels/visualizations/news-panel.md
Labels: type/docs
