Repository grafana/grafana, pull requests merged in 2020-08, with the labels that each got.

#26750 Inspector: hide invalid stats
  public/app/features/dashboard/components/Inspector/InspectStatsTab.tsx
Labels: area/frontend, panel/inspect

#26737 Cloud monitoring: do not create deep link if there are no timeseries
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
Labels: area/backend, cherry-pick needed, type/bug

#26754 Docs: Storybook - Spinner
  packages/grafana-ui/src/components/Spinner/Spinner.mdx
  packages/grafana-ui/src/components/Spinner/Spinner.story.tsx
Labels: area/frontend, area/storybook, pr/external, type/docs

#25705 Add toggle to disable alert rendering line and fill on Graph panel
  docs/sources/panels/visualizations/graph-panel.md
  public/app/features/alerting/state/ThresholdMapper.test.ts
  public/app/features/alerting/state/ThresholdMapper.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/graph/tab_display.html
Labels: area/alerting, area/panel/graph

#26775 TimePicker: Fixes app crash when changing custom range to nothing
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/TimePickerCalendar.test.tsx
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/TimePickerCalendar.tsx
Labels: add to changelog, area/dashboard/timerange, cherry-pick needed, type/bug

#26768 Query history: Fix search filtering if null value
  public/app/core/utils/richHistory.test.ts
  public/app/core/utils/richHistory.ts
Labels: add to changelog, area/explore, type/bug

#26405 Explore/Loki: Remove regex parsing errors for huge logs
  packages/grafana-ui/src/components/Logs/LogDetails.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  public/app/features/explore/Logs.tsx
Labels: area/explore, datasource/Loki

#26785 SQL: Fix missing org error messages
  pkg/services/sqlstore/org.go
Labels: area/backend/db/sql, type/bug

#26771 Provisioning: describe which folder caused an error while provisioning from files structure
  docs/sources/administration/provisioning.md
  pkg/models/dashboards.go
  pkg/services/provisioning/dashboards/file_reader.go
Labels: area/backend/db, area/provisioning, pr/external, type/chore

#26779 Chore: Simplify generic OAuth code
  pkg/infra/log/log.go
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
Labels: area/backend, area/backend/auth/oauth, type/chore

#26788 Test datasource: fix query editor html partial
  public/app/plugins/datasource/testdata/partials/query.editor.html
Labels: area/datasource, cherry-pick needed, type/bug

#26531 Fields: __field.name as field name and __field.displayName as displayName
  docs/sources/panels/field-configuration-options.md
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/templateProxies.test.ts
  packages/grafana-data/src/field/templateProxies.ts
  packages/grafana-data/src/utils/labels.ts
Labels: area/dashboard/templating, cherry-pick needed

#26704 Explore: Run queries on Metrics to Logs transition
  public/app/features/explore/state/actions.ts
Labels: add to changelog, area/explore, cherry-pick needed, type/bug

#26800 Chore: Updates Changelog for 7.1.2
  CHANGELOG.md
Labels: type/docs

#26799 Explore: Update tooltips for live tailing buttons
  public/app/features/explore/LiveTailButton.tsx
Labels: area/explore

#26809 Chore: Update latest.json for 7.1.2
  latest.json
Labels: type/chore

#26720 Update plugin metadata schema
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Labels: area/plugins, type/docs

#26818 Templating: Fix undefined error when using raw interpolation format
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  public/app/features/templating/template_srv.ts
Labels: add to changelog, type/bug

#26825 Added missing enterprise plugins in upgrade page
  public/app/features/admin/UpgradePage.tsx
Labels: area/frontend

#26698 Explore: Adds query inspector drawer to explore
  packages/grafana-ui/src/components/TabbedContainer/TabbedContainer.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/components/Inspector/InspectContent.tsx
  public/app/features/dashboard/components/Inspector/InspectStatsTab.tsx
  public/app/features/dashboard/components/Inspector/InspectStatsTable.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreDrawer.test.tsx
  public/app/features/explore/ExploreDrawer.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
  public/app/features/explore/RichHistory/RichHistory.test.tsx
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/RichHistory/RichHistoryContainer.tsx
  public/app/features/explore/SecondaryActions.test.tsx
  public/app/features/explore/SecondaryActions.tsx
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
Labels: area/explore

#26669 Explore: Sort order of log results
  packages/grafana-data/src/types/logs.ts
  packages/grafana-data/src/utils/logs.test.ts
  packages/grafana-data/src/utils/logs.ts
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/Logs/LogRowContextProvider.tsx
  packages/grafana-ui/src/components/Logs/LogRows.test.tsx
  packages/grafana-ui/src/components/Logs/LogRows.tsx
  public/app/core/logs_model.ts
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/core/utils/richHistory.test.ts
  public/app/core/utils/richHistory.ts
  public/app/features/explore/Logs.tsx
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.test.tsx
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.tsx
  public/app/features/explore/RichHistory/RichHistoryStarredTab.test.tsx
  public/app/features/explore/RichHistory/RichHistoryStarredTab.tsx
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/plugins/panel/logs/LogsPanel.tsx
  public/app/plugins/panel/logs/module.tsx
  public/app/plugins/panel/logs/types.ts
  public/sass/components/_panel_logs.scss
Labels: add to changelog, area/explore, type/feature

#26804 Docs: Azure logs - cross reference field configuration display name
  docs/sources/features/datasources/azuremonitor.md
Labels: datasource/Azure/LogAnalytics, type/docs

#26839 Azuremonitor: do not set unit if literal "Unspecified"
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
Labels: add to changelog, cherry-pick needed, datasource/Azure, datasource/Azure/Monitor

#26841 Templating: Fix multi-select keyboard toggle bug
  public/app/features/variables/pickers/shared/VariableInput.tsx
Labels: area/dashboard/templating, pr/external

#26315 Admin: Fix updating organization name not updating configuration subtitle
  public/app/core/actions/index.ts
  public/app/core/reducers/navModel.test.ts
  public/app/core/reducers/navModel.ts
  public/app/core/selectors/navModel.ts
  public/app/features/org/state/actions.test.ts
  public/app/features/org/state/actions.ts
Labels: area/frontend, pr/external

#26850 InfluxDB: Less chatty logging
  pkg/tsdb/influxdb/influxdb.go
Labels: area/backend, datasource/InfluxDB, type/chore

#26853 Orgs: Remove org deprecation notice as we have decided to preserve multi-org support
  public/app/features/admin/AdminListOrgsPage.tsx
Labels: add to changelog

#26835 CloudWatch: Fix sorting of metrics results
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
Labels: datasource/CloudWatch, type/bug

#26855 Chore: Upgrade Volta's pinned Node version
  package.json
Labels: area/frontend, type/build-packaging, type/chore

#26817 Grafana Toolkit: add an option for signing plugins as admin
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
Labels: area/grafana/toolkit

#26561 Docs: Update _index.md
  docs/sources/features/datasources/_index.md
Labels: type/docs

#26838 @grafana/e2e: improvements
  packages/grafana-e2e/src/flows/addDataSource.ts
  packages/grafana-e2e/src/flows/addPanel.ts
  packages/grafana-e2e/src/flows/login.ts
Labels: area/grafana/e2e, type/e2e

#26852 Chore: Added optional Icon to ButtonCascader
  packages/grafana-ui/src/components/ButtonCascader/ButtonCascader.story.tsx
  packages/grafana-ui/src/components/ButtonCascader/ButtonCascader.tsx
Labels: pr/external

#26845 Dashboard Links: Keep links in sync with dashboard time range
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
Labels: area/dashboard/links

#26883 Variables: Fix hide option labels on Safari
  public/app/features/variables/editor/VariableEditorEditor.tsx
Labels: area/frontend, pr/external

#26847 TextPanel: Fixes issue when interpolation of variables stops working
  devenv/dev-dashboards/feature-templating/global-variables-and-interpolation.json
  e2e/suite1/specs/dashboard-templating.spec.ts
  package.json
  packages/grafana-data/src/text/markdown.ts
  public/app/plugins/panel/text/TextPanel.tsx
  public/app/plugins/panel/text/textPanelMigrationHandler.test.ts
  public/app/plugins/panel/text/textPanelMigrationHandler.ts
  public/app/plugins/panel/text/types.ts
  yarn.lock
Labels: area/panel/text

#26888 CI: Upgrade Go and Node versions in CI build image
  .circleci/config.yml
  .drone.yml
  Dockerfile
  Dockerfile.ubuntu
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#26876 Graph: Revert bar centering to fix tooltip issue
  public/app/plugins/panel/graph/graph.ts
Labels: type/bug

#26829 Templating: Adds -- remove filter -- back to incomplete AdHoc filters
  public/app/features/variables/adhoc/picker/AdHocFilterBuilder.tsx
  public/app/features/variables/adhoc/picker/AdHocFilterKey.tsx
  public/app/features/variables/adhoc/picker/AdHocFilterRenderer.tsx
  public/app/features/variables/adhoc/picker/AdHocFilterValue.tsx
  public/app/features/variables/adhoc/picker/AdHocPicker.tsx
Labels: area/dashboard/templating

#26896 Prometheus: Correctly format multi values variables in queries
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: area/dashboard/templating, datasource/Prometheus

#26892 CI: Upgrade golangci-lint and base image
  .circleci/config.yml
  .drone.yml
  Makefile
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/go/configs/.golangci.toml
  scripts/go/go.mod
  scripts/go/go.sum
  scripts/lib.star
  scripts/revive-strict
Labels: type/build-packaging, type/chore

#26904 CI: Upgrade build image
  .circleci/config.yml
  .drone.yml
  scripts/build/ci-build/build-deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#26906 Graphite: Fix test data source query options
  public/app/plugins/datasource/graphite/datasource.ts
Labels: datasource/Graphite, type/bug

#26902 Dashboard/RefreshPicker: Prevents unnecessary redrawing of RefreshPicker
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
Labels: area/dashboard

#26935 Docs: Use relref links for data sources in whats new docs
  docs/sources/guides/whats-new-in-v5-1.md
  docs/sources/guides/whats-new-in-v5-3.md
  docs/sources/guides/whats-new-in-v5-4.md
  docs/sources/guides/whats-new-in-v6-0.md
  docs/sources/guides/whats-new-in-v6-2.md
  docs/sources/guides/whats-new-in-v6-3.md
Labels: type/docs

#26923 Graphite: Show and hide query editor function popup on click
  public/app/plugins/datasource/graphite/FunctionEditor.tsx
Labels: datasource/Graphite

#26932 API: Support paging in the admin orgs list API
  docs/sources/http_api/org.md
  pkg/api/org.go
  pkg/services/sqlstore/org_test.go
Labels: add to changelog, pr/external

#26945 grafana-cli: Fix installing of plugins missing directory entries in zip
  pkg/cmd/grafana-cli/commands/install_command.go
Labels: add to changelog, area/grafana-cli, pr/external

#26926 Panel/BarGauge: Prevent overflow in panel with many series
  packages/grafana-ui/src/components/VizRepeater/VizRepeater.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
Labels: area/frontend, area/panel/bargauge

#26929 Datasource/CloudWatchLogs: Correctly interpolate variables for data links
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: datasource/CloudWatch Logs

#26957 Chore: Fix tests for Go 1.15
  pkg/api/dashboard_test.go
  pkg/components/gtime/gtime_test.go
  pkg/services/sqlstore/alert_notification_test.go
  pkg/services/sqlstore/sqlbuilder_test.go
Labels: area/backend, type/chore

#26903 Dataframe/Alerting: to tsdb.TimeSeriesSlice - accept "empty" time series
  pkg/tsdb/frame_util.go
Labels: add to changelog, area/alerting, area/dataframe, cherry-pick needed, datasource/Azure/Insights

#26907 Chore: Let kbn util infer types
  packages/grafana-data/src/types/data.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
  public/app/core/directives/misc.ts
  public/app/core/services/context_srv.ts
  public/app/core/utils/kbn.test.ts
  public/app/core/utils/kbn.ts
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/playlist/playlist_srv.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/plugins/datasource/cloud-monitoring/components/AlignmentPeriods.tsx
  public/app/plugins/datasource/cloud-monitoring/components/MetricQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/QueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/SLOQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/time_grain_converter.ts
  public/app/plugins/datasource/graphite/MetricTankMetaInspector.tsx
  public/app/plugins/datasource/opentsdb/query_ctrl.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/panel/heatmap/heatmap_ctrl.ts
Labels: type/chore

#26954 grafana-cli: Fix file path processing, returning of errors
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/install_command_test.go
  pkg/cmd/grafana-cli/services/api_client.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/cmd/grafana-cli/utils/grafana_path.go
Labels: area/grafana-cli, type/bug

#26978 optimize size and time using "--no-cache-dir"
  devenv/docker/blocks/collectd/Dockerfile
  devenv/docker/blocks/graphite1/Dockerfile
Labels: pr/external, type/chore

#26724 Tests: Change some GoConvey tests to use testify
  pkg/events/events_test.go
  pkg/util/encoding_test.go
  pkg/util/encryption_test.go
  pkg/util/ip_address_test.go
  pkg/util/strings_test.go
  pkg/util/url_test.go
  pkg/util/validation_test.go
Labels: area/backend, type/chore

#26961 Explore: Capitalize dedup strategy in radio buttons for consistency
  public/app/features/explore/Logs.tsx
Labels: area/explore

#26981 Templating: Fixed recursive url update issue for textbox variable
  devenv/dev-dashboards/feature-templating/global-variables-and-interpolation.json
  devenv/dev-dashboards/feature-templating/testdata-variables-textbox.json
  e2e/suite1/specs/dashboard-templating.spec.ts
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  public/app/core/services/bridge_srv.ts
Labels: area/dashboard/templating, type/bug

#26958 Users: Improve conflict error handling
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/api/org_invite.go
  pkg/api/signup.go
  pkg/models/user.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
Labels: area/admin/user, area/backend/api, priority/important-longterm, type/bug

#26854 Drone/CircleCI: Upgrade build pipeline tool
  .circleci/config.yml
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#26917 InfluxDB: Close Flux query results
  pkg/models/datasource_cache.go
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/flux.go
  pkg/tsdb/influxdb/flux/query_models.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/influxdb_test.go
  pkg/tsdb/influxdb/model_parser.go
  pkg/tsdb/influxdb/query.go
  pkg/tsdb/influxdb/query_part.go
  pkg/tsdb/influxdb/response_parser.go
Labels: area/backend, datasource/InfluxDB, type/bug

#26990 AzureMonitor: map more units
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
Labels: add to changelog, datasource/Azure, datasource/Azure/Monitor

#26937 Prometheus: add $__rate_interval variable
  docs/sources/features/datasources/prometheus.md
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/language_provider.test.ts
  public/app/plugins/datasource/prometheus/promql.ts
Labels: datasource/Prometheus

#26995 Prometheus: Remove brackets from interpolated single variable with multi-select/all
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: add to changelog, area/dashboard/templating, datasource/Prometheus, type/bug

#26898 Docs: Sort log result documentation
  docs/sources/features/explore/index.md
Labels: type/docs

#26968 Loki: Fix refresh on time range change for template variable queries
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/mocks.ts
Labels: area/dashboard/templating, datasource/Loki

#26982 Playlists: Remove API validation for empty playlists and remove redundant API call
  pkg/api/playlist.go
  public/app/features/playlist/playlist_edit_ctrl.ts
Labels: area/backend/api, cherry-pick needed, type/bug

#27006 Docs: document TLS configuration for generic OAuth
  docs/sources/auth/generic-oauth.md
Labels: type/docs

#27012 InfluxDB: Upgrade Go client, use data source HTTP client
  go.mod
  go.sum
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/flux.go
  pkg/tsdb/influxdb/influxdb.go
Labels: add to changelog, area/backend, cherry-pick needed, datasource/InfluxDB/flux, type/bug

#27002 Templating: Fixes so texts show in picker not the values
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
Labels: add to changelog, area/dashboard/templating, cherry-pick needed, type/bug

#27021 InfluxDB: Upgrade to latest InfluxDB Go client
  go.mod
  go.sum
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/flux.go
Labels: area/backend, datasource/InfluxDB, type/chore

#26940 Add skipDataQuery to plugin.json schema
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Labels: area/plugins, type/docs

#26936 Improve validation for grafanaDependency
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Labels: area/plugins, type/docs

#26810 Add guide on adding support for variable queries
  docs/sources/developers/plugins/add-support-for-variables.md
Labels: area/plugins, type/docs

#27034 Drone: Remove intra pipeline caching commands
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#26885 Proxy: Fix updating refresh token in OAuth pass-thru
  pkg/api/pluginproxy/ds_proxy.go
Labels: area/backend/auth/oauth, pr/external

#25926 Dashboard: Use same min refresh interval fallback in the API as in provisioning
  docs/sources/http_api/dashboard.md
  pkg/services/dashboards/dashboard_service.go
Labels: area/backend/api, area/dashboard/import, pr/external

#26974 Dashboard: Panel menu no longer lingers
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
Labels: area/frontend

#27031 UI/RefreshPicker: Change base from PureComponent to Component
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
Labels: area/grafana/ui

#26401 Chore: Reduce TSDB Go code complexity
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  pkg/tsdb/cloudmonitoring/types.go
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/sqleng/sql_engine.go
Labels: area/backend, type/chore

#26375 Prometheus: parse value as number when label is le
  public/app/plugins/datasource/prometheus/add_label_to_query.test.ts
  public/app/plugins/datasource/prometheus/add_label_to_query.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: area/explore, datasource/Prometheus

#26999 Server: Add health check route
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/transactions.go
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/models.go
Labels: area/backend, area/backend/api, type/chore

#27032 Add instructions on how to format multiple variables
  docs/sources/developers/plugins/add-support-for-variables.md
Labels: area/plugins, type/docs

#27046 Loki: Add scopedVars support in legend formatting for repeated variables
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/loki/types.ts
Labels: area/dashboard/templating, datasource/Loki

#27047 Prometheus: Add scopedVars support in legend formatting for repeated variables
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: add to changelog, area/dashboard/templating, datasource/Prometheus

#27024 MixedDatasource: Shows retrieved data even if a data source fails
  public/app/plugins/datasource/mixed/MixedDataSource.test.ts
  public/app/plugins/datasource/mixed/MixedDataSource.ts
  public/test/mocks/datasource_srv.ts
Labels: add to changelog, area/datasource, area/datasource/frontend, area/panel/data

#27043 Add guide for sharing plugins
  docs/sources/developers/plugins/share-a-plugin.md
  docs/sources/menu.yaml
Labels: area/plugins, type/docs

#26983 InfluxDB: Upgrade InfluxDB in devenv
  devenv/docker/blocks/influxdb/.env
  devenv/docker/blocks/influxdb/docker-compose.yaml
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/converters.go
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/flux.go
  pkg/tsdb/influxdb/flux/macros.go
  pkg/tsdb/influxdb/flux/macros_test.go
  pkg/tsdb/influxdb/flux/query_models.go
Labels: area/backend, datasource/InfluxDB, type/chore

#26589 Drone: Add Windows PR pipeline
  .drone.yml
  go.mod
  go.sum
  scripts/build/ci-wix/Dockerfile
  scripts/build/ci-wix/Magefile.go
  scripts/build/ci-wix/README.md
  scripts/lib.star
Labels: type/build-packaging

#27071 Server: Add protocol setting to Cfg struct
  pkg/setting/setting.go
Labels: area/backend, type/chore

#27053 Alerting: copy queryType prop to tsdb.Query
  pkg/services/alerting/conditions/query.go
Labels: area/alerting, cherry-pick needed

#27054 AzureAnalytics: Use fillmode Null with format as time series
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/insights-analytics-datasource.go
Labels: area/backend, cherry-pick needed, datasource/Azure, datasource/Azure/InsightsAnalytics, datasource/Azure/LogAnalytics

#27076 Drone: Fix order of steps
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27056 Overrides: expose byType matcher UI
  packages/grafana-ui/src/components/MatchersUI/FieldTypeMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/fieldMatchersUI.ts
Labels: add to changelog, area/field/overrides, cherry-pick needed

#27083 Rendering: Fixed issue rendering text panel to image via image renderer plugin
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
Labels: add to changelog

#27070 Field overrides: Filter by field name using regex
  docs/sources/panels/field-configuration-options.md
  packages/grafana-ui/src/components/MatchersUI/FieldNameByRegexMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/fieldMatchersUI.ts
Labels: add to changelog, area/field/overrides, area/frontend, cherry-pick needed, type/feature

#27086 InfluxDB: Update Flux placeholder URL with respect to latest Go client
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
Labels: add to changelog, cherry-pick needed, datasource/InfluxDB/flux, type/bug

#26947 BackendSrv: Queues data source requests but passes through api requests
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/frontendsettings.go
  pkg/setting/setting.go
  public/app/core/services/FetchQueue.test.ts
  public/app/core/services/FetchQueue.ts
  public/app/core/services/FetchQueueWorker.test.ts
  public/app/core/services/FetchQueueWorker.ts
  public/app/core/services/ResponseQueue.test.ts
  public/app/core/services/ResponseQueue.ts
  public/app/core/services/backend_srv.ts
  public/app/core/utils/query.ts
  public/app/features/panel/specs/metrics_panel_ctrl.test.ts
  public/app/features/teams/TeamPages.test.tsx
Labels: area/grafana/data, area/panel/data

#26879 Table: Support date unit formats on string values
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
Labels: add to changelog, area/frontend, area/panel/table, type/bug

#27092 FolderPicker: Fixes not being able to create new folder
  public/app/core/components/Select/FolderPicker.test.tsx
  public/app/core/components/Select/FolderPicker.tsx
  public/app/core/services/FetchQueueWorker.ts
  public/app/core/services/backend_srv.ts
Labels: add to changelog, area/dashboard/folders, type/bug

#27072 Testing: Use React Testing Library
  jest.config.js
  package.json
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/mocks.ts
  public/test/setupTests.ts
  yarn.lock
Labels: area/frontend, type/tech

#27074 Alerting: Store sensitive settings encrypted for OpsGenie notifier
  docs/sources/administration/provisioning.md
  pkg/services/alerting/notifiers/opsgenie.go
Labels: area/alerting, area/alerting/notifications, area/backend, type/chore

#26178 Explore/Loki: POC for toggling parsed fields in the list view
  packages/grafana-ui/src/components/Logs/LogDetails.tsx
  packages/grafana-ui/src/components/Logs/LogDetailsRow.tsx
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessageParsed.tsx
  packages/grafana-ui/src/components/Logs/LogRows.tsx
  packages/grafana-ui/src/components/Logs/logParser.ts
  public/app/features/explore/Logs.tsx
Labels: pr/external

#27102 Update changelog
  CHANGELOG.md
Labels: type/chore

#27100 Drone: Upgrade build pipeline tool
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27104 Update latest to v7.1.4
  latest.json
Labels: type/chore

#26939 @grafana/e2e: improvements
  packages/grafana-e2e/package.json
  packages/grafana-e2e/src/flows/addDashboard.ts
  packages/grafana-e2e/src/flows/addDataSource.ts
  packages/grafana-e2e/src/flows/addPanel.ts
  packages/grafana-e2e/src/flows/configurePanel.ts
  packages/grafana-e2e/src/flows/editPanel.ts
  packages/grafana-e2e/src/flows/index.ts
  packages/grafana-e2e/src/flows/openDashboard.ts
  packages/grafana-e2e/src/index.ts
  packages/grafana-e2e/src/support/localStorage.ts
  packages/grafana-e2e/src/support/scenario.ts
  packages/grafana-e2e/src/support/scenarioContext.ts
  yarn.lock
Labels: area/grafana/e2e, type/e2e

#27108 Drone: Always pass --no-pull-enterprise
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27081 InfluxDB: exclude result and table column from Flux table results
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/flux.go
  pkg/tsdb/influxdb/flux/macros.go
  pkg/tsdb/influxdb/flux/testdata/buckets.golden.txt
  pkg/tsdb/influxdb/flux/testdata/grouping.golden.txt
  pkg/tsdb/influxdb/flux/testdata/multiple.golden.txt
  pkg/tsdb/influxdb/flux/testdata/renamed.golden.txt
Labels: datasource/InfluxDB/flux

#27090 Prometheus: Use fetch instead of deprecated datasourceRequest
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
Labels: area/grafana/data, datasource/Prometheus

#27000 Data sources: Use SQL store directly, not via bus
  pkg/services/datasources/cache.go
  pkg/services/datasources/log.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/sqlstore.go
Labels: area/backend, area/backend/db/sql, type/chore

#27066 Server: Support custom TCP listener
  pkg/api/http_server.go
  pkg/cmd/grafana-server/main.go
  pkg/server/server.go
Labels: area/backend, type/chore

#27151 Variables: Fixes issue with All variable not being resolved
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/variables/custom/adapter.ts
  public/app/features/variables/datasource/adapter.ts
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/query/adapter.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: add to changelog, area/dashboard/templating, cherry-pick needed, type/bug

#27073 Field overrides: Overrides UI improvements
  docs/sources/panels/field-configuration-options.md
  packages/grafana-ui/src/components/MatchersUI/FieldNameByRegexMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/FieldNameMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/FieldTypeMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/fieldMatchersUI.ts
  packages/grafana-ui/src/components/MatchersUI/types.ts
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsGroup.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
Labels: area/field/overrides, type/proposal, type/ux

#27152 Grafana-UI: Add docs for AlphaNotice
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.mdx
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.story.tsx
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.tsx
Labels: area/frontend, area/grafana/ui, cherry-pick needed

#27140 Alerting: remove LongToWide call in alerting
  pkg/tsdb/frame_util.go
  pkg/tsdb/frame_util_test.go
Labels: add to changelog, area/alerting, area/backend, area/dataframe, cherry-pick needed, type/bug

#27164 UI/ClickOutsideWrapper: Fix for undesirable timepicker behavior
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
Labels: area/grafana/ui

#27131 Alerting: Store sensitive settings encrypted for Sensu notifier
  docs/sources/administration/provisioning.md
  pkg/services/alerting/notifiers/sensu.go
Labels: area/alerting/notifications, type/chore

#27159 Alerting: Store sensitive settings encrypted for Pushover notifier
  docs/sources/administration/provisioning.md
  pkg/services/alerting/notifiers/pushover.go
Labels: area/alerting/notifications, type/chore

#27160 Alerting: Store sensitive settings encrypted for Threema notifier
  docs/sources/administration/provisioning.md
  pkg/services/alerting/notifiers/threema.go
Labels: area/alerting/notifications, type/chore

#27138 InfluxDB: use converters from SDK
  go.mod
  go.sum
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/converters.go
Labels: area/datasource, datasource/InfluxDB/flux

#27176 BackendSrv: Use uuid v4 as an identifier instead of Date.now()
  package.json
  public/app/core/services/backend_srv.ts
  yarn.lock
Labels: area/grafana/data

#27182 Stats: Correct the number of arguments for SQL call
  pkg/services/sqlstore/stats.go
  pkg/services/sqlstore/stats_integration_test.go
Labels: cherry-pick needed

#27125 Transforms: Labels to fields rewrite that uses merge transform inside it
  packages/grafana-data/src/transformations/transformers/labelsToFields.test.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  packages/grafana-data/src/transformations/transformers/merge.test.ts
  packages/grafana-data/src/transformations/transformers/merge.ts
  public/app/core/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
Labels: area/frontend, area/transformations, pr/needs-docs

#27128 Grafana-UI: Alert components tweaks
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e/src/flows/assertSuccessNotification.ts
  packages/grafana-ui/src/components/Alert/Alert.mdx
  packages/grafana-ui/src/components/Alert/Alert.story.tsx
  packages/grafana-ui/src/components/Alert/Alert.tsx
  packages/grafana-ui/src/components/Alert/_Alert.scss
  packages/grafana-ui/src/components/index.scss
Labels: area/frontend, area/grafana/ui

#27148 Explore/Logs: Allow toggling of derived fields
  packages/grafana-ui/src/components/Logs/LogDetails.tsx
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessageParsed.tsx
  packages/grafana-ui/src/components/Logs/logParser.ts
Labels: area/explore, pr/external

#27124 Core: Add loki/logproto dependency
  go.mod
  go.sum
  pkg/extensions/main.go
  pkg/plugins/backendplugin/grpcplugin/log_wrapper.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend

#27177 Changelog: Release 7.1.5
  CHANGELOG.md
Labels: type/chore

#27192 Chore: Updates latest.json for Release 7.1.5
  latest.json
Labels: type/chore

#27122 Alerting: Store sensitive settings encrypted for Telegram notifier
  docs/sources/administration/provisioning.md
  pkg/services/alerting/notifiers/telegram.go
Labels: area/alerting/notifications, type/chore

#27118 Docs: Add plugin migration guide
  docs/sources/developers/plugins/migration-guide.md
  docs/sources/menu.yaml
Labels: area/plugins, type/docs

#27168 Prometheus: fix rate_interval to use min step properly
  docs/sources/features/datasources/prometheus.md
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, type/bug

#27203 Added aria-label to dashboard timezone picker
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/TimePickerFooter.tsx
Labels: area/grafana/ui, type/e2e

#27211 e2e: Adds error catching to prevent flakiness
  e2e/suite1/specs/inspect-drawer.spec.ts
Labels: type/chore

#27205 CloudWatch: Fix error message returned from tag:GetResources
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: area/backend, pr/external

#26404 Chore: Reduce settings Go code complexity
  pkg/setting/setting.go
Labels: area/backend, type/chore

#27188 Grafana-UI: BarGauge docs
  e2e/suite1/specs/bar-gauge.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/BarGauge/BarGauge.mdx
  packages/grafana-ui/src/components/BarGauge/BarGauge.story.tsx
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  packages/grafana-ui/src/components/BarGauge/_BarGauge.scss
  packages/grafana-ui/src/components/BarGauge/__snapshots__/BarGauge.test.tsx.snap
  packages/grafana-ui/src/components/FormattedValueDisplay/FormattedValueDisplay.tsx
  packages/grafana-ui/src/components/index.scss
  public/app/plugins/panel/bargauge/BarGaugePanel.test.tsx
Labels: area/frontend, area/grafana/ui

#27227 Grafana-UI: Form - inherit HTMLFormElement props
  packages/grafana-ui/src/components/Forms/Form.tsx
Labels: area/grafana/ui

#25545 Update cloud docs link
  docs/sources/_index.md
Labels: stale

#27221 UI/ClickOutsideWrapper: Adds eventType prop for situations where event should be on document
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
Labels: area/grafana/ui

#27213 Loki: Re-introduce running of instant queries
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: datasource/Loki

#27246 Grafana-UI: FieldValidationMessage tweaks
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/datasource/frontend, area/grafana/ui, type/accessibility

#27235 @grafana/e2e: selector improvements
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/TimePickerFooter.tsx
  public/app/features/explore/QueryRow.tsx
Labels: area/explore, area/grafana/e2e, area/grafana/ui, type/e2e

#27250 Docs: Fix SAML config field
  docs/sources/enterprise/saml.md
Labels: type/docs

#27252 Fix Cypress dependency error
  .circleci/config.yml
Labels: type/e2e

#27254 Fix core E2E CI
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy-slim.sh
Labels: area/grafana/toolkit, type/e2e

#27247 Docs: Add docs for updating variables from plugin
  docs/sources/developers/plugins/add-support-for-variables.md
Labels: area/plugins, type/docs

#27231 Core: Add go-grpc-middleware dependency
  go.mod
  go.sum
  pkg/extensions/main.go
Labels: area/backend

#27186 DataFrame: Data source field naming control that does not use field.config.displayName
  packages/grafana-data/src/dataframe/processDataFrame.ts
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/types/dataFrame.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
Labels: area/field/overrides

#27271 Selector improvements for E2E
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-ui/src/components/Graph/Graph.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraphPanel.tsx
  public/app/features/explore/TableContainer.tsx
Labels: area/explore, area/grafana/e2e, area/grafana/ui, type/e2e
