Repository grafana/grafana, pull requests merged in 2020-04, with the labels that each got.

#23231 Alertmanager: Adds support for basic auth
  docs/sources/administration/provisioning.md
  pkg/services/alerting/notifiers/alertmanager.go
Labels: add to changelog, area/alerting/notifications, area/backend, pr/external

#23220 Variables: Fixes issue with too many queries being issued for nested template variables after value change
  public/app/features/templating/variable_srv.ts
Labels: area/dashboard/templating, cherry-pick needed, type/bug

#23237 Typo Correction
  docs/sources/reference/share_dashboard.md
Labels: pr/external, type/docs

#23249 Plugins: Expose promiseToDigest
  public/app/features/plugins/plugin_loader.ts
Labels: add to changelog, cherry-pick needed

#23230 Forms: Add image and description to option
  packages/grafana-ui/src/components/Forms/Select/Select.story.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Forms/Select/getSelectStyles.ts
Labels: area/grafana/ui

#23247 ReactTable: upgrades react table to 7.0.0 and typings
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.ts
  yarn.lock
Labels: area/panel/table, type/chore

#23214 NewPanelEditor: Options/FieldConfig API for defaults and common options selection
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/panel/PanelPlugin.test.tsx
  packages/grafana-data/src/panel/PanelPlugin.ts
  packages/grafana-data/src/types/OptionsUIRegistryBuilder.ts
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/types/panel.ts
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-data/src/utils/deprecationWarning.ts
  packages/grafana-ui/src/components/OptionsUI/string.tsx
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/plugins/panel/bargauge/module.tsx
  public/app/plugins/panel/gauge/module.tsx
  public/app/plugins/panel/piechart/module.tsx
  public/app/plugins/panel/stat/module.tsx
  public/app/plugins/panel/stat/types.ts
  public/app/plugins/panel/table2/module.tsx
  public/app/plugins/panel/table2/types.ts
Labels: area/frontend, area/plugins

#23221 Forms migration: New datasource
  public/app/core/components/FilterInput/FilterInput.tsx
  public/app/core/components/OrgActionBar/__snapshots__/OrgActionBar.test.tsx.snap
  public/app/features/alerting/__snapshots__/AlertRuleList.test.tsx.snap
  public/app/features/dashboard/panel_editor/VizPickerSearch.tsx
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/teams/__snapshots__/TeamList.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamMembers.test.tsx.snap
  public/app/features/users/__snapshots__/UsersActionBar.test.tsx.snap
Labels: area/frontend

#23254 Security: Fix for dashboard snapshot original dashboard link could contain XSS vulnerability in url
  public/app/features/dashboard/components/DashNav/DashNav.tsx
Labels: add to changelog, area/security, cherry-pick needed, type/bug

#23110 Forms migration: User edit
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
  packages/grafana-ui/src/components/Forms/Input/Input.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/core/components/Select/OrgPicker.tsx
  public/app/features/admin/OrgRolePicker.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/admin/UserPermissions.tsx
  public/app/features/admin/UserProfile.tsx
  public/app/types/user.ts
Labels: area/frontend

#23229 TemplateVariable: moved templateSrv dependency from reducer to prevent side effect issues.
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/query/reducer.test.ts
  public/app/features/variables/query/reducer.ts
  public/app/features/variables/state/processVariable.test.ts
Labels: area/dashboard/templating, area/frontend

#23244 Chore: updates CHANGELOG
  CHANGELOG.md
Labels: type/chore

#23208 TemplateVariables: make sure we handle multi/single value with correct data type
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/variables/custom/CustomVariableEditor.tsx
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/datasource/reducer.ts
  public/app/features/variables/editor/SelectionOptionsEditor.tsx
  public/app/features/variables/guard.ts
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/shared/multiOptions.test.ts
  public/app/features/variables/shared/multiOptions.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/processVariable.test.ts
  public/app/features/variables/state/sharedReducer.ts
Labels: area/dashboard/templating, area/frontend

#23258 Support using multiple datasources for testing bulk alerting.
  .gitignore
  devenv/bulk_alerting_dashboards/bulkdash_alerting.jsonnet
  devenv/bulk_alerting_dashboards/dashboard.libsonnet
  devenv/bulk_alerting_dashboards/datasources.jsonnet
  devenv/setup.sh
Labels: area/alerting, area/devenv

#23253 NewPanelEdit: add search, scroll and some layout to vis tab
  public/app/features/dashboard/components/PanelEditor/VisualizationTab.tsx
  public/app/features/dashboard/panel_editor/VizTypePicker.tsx
  public/app/features/dashboard/panel_editor/VizTypePickerPlugin.tsx
  public/sass/components/_panel_editor.scss
Labels: area/frontend

#22753 AzureMonitor: Log Analytics and Application Insights for Azure China
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/plugin.json
Labels: datasource/Azure Monitor, pr/external

#23005 DevEnv: update frontend dependencies - react-hook-form
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23125 Usagestats: Add usage stats about what type of datasource is used in alerting.
  pkg/infra/usagestats/service.go
  pkg/infra/usagestats/usage_stats.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/services/alerting/alerting_usage.go
  pkg/services/alerting/alerting_usage_test.go
  pkg/services/alerting/engine.go
  pkg/services/alerting/testdata/settings/empty.json
  pkg/services/alerting/testdata/settings/invalid_format.json
  pkg/services/alerting/testdata/settings/one_condition.json
  pkg/services/alerting/testdata/settings/three_conditions.json
  pkg/services/alerting/testdata/settings/two_conditions.json
Labels: area/alerting, area/backend

#23280 Grafana UI: Fix fullWidth prop
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
Labels: area/frontend, area/grafana/ui

#22941 Submenu: Changed location for Current Org:
  public/app/core/components/sidemenu/BottomNavLinks.tsx
  public/app/core/components/sidemenu/__snapshots__/BottomNavLinks.test.tsx.snap
Labels: pr/external

#23133 Search/migrate search filter actions
  public/app/core/angular_wrappers.ts
  public/app/core/components/manage_dashboards/manage_dashboards.html
  public/app/core/components/manage_dashboards/manage_dashboards.ts
  public/app/core/specs/manage_dashboards.test.ts
  public/app/features/search/components/SearchResultsFilter.test.tsx
  public/app/features/search/components/SearchResultsFilter.tsx
  public/app/features/search/index.ts
Labels: area/frontend, area/search, type/angular-2-react

#23281 Forms migration: Select namespace remove old exports
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/Select/types.ts
Labels: area/frontend, area/grafana/ui

#23248 Utils: Use 's' as default for unit-less intervals
  public/app/core/utils/kbn.test.ts
  public/app/core/utils/kbn.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreQueryEditor.test.tsx.snap
Labels: area/explore, datasource/CloudWatch, datasource/Prometheus

#23131 Panel Inspect: JSON Model Tab
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
Labels: area/panel/infrastructure

#23286 Forms migration: Input namespace
  packages/grafana-ui/src/components/Input/Input.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/core/components/PasswordInput/PasswordInput.tsx
  public/app/features/admin/UserProfile.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/panel_editor/DataSourceOption.tsx
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
  public/app/features/datasources/settings/BasicSettings.tsx
  public/app/features/folders/FolderSettingsPage.tsx
  public/app/features/org/OrgProfile.tsx
  public/app/features/profile/UserProfileEditForm.tsx
  public/app/features/teams/TeamGroupSync.tsx
  public/app/features/teams/TeamSettings.tsx
  public/app/plugins/datasource/cloudwatch/components/Alias.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AzureCredentialsForm.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/opentsdb/components/OpenTsdbDetails.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
  public/app/plugins/datasource/stackdriver/components/AnnotationQueryEditor.tsx
  public/app/plugins/panel/graph2/GraphLegendEditor.tsx
  scripts/ci-frontend-metrics.sh
Labels: area/frontend, area/grafana/ui

#23279 DashboardSave: fix light theme JSON preview
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
Labels: area/frontend, type/bug

#23299 CloudWatch: Added Cassandra namespace
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, pr/external

#23302 NewPanelEditor Render search results in front of the list of plugins
  public/app/features/dashboard/components/PanelEditor/VisualizationTab.tsx
  public/app/features/dashboard/panel_editor/VizTypePicker.tsx
  public/app/features/dashboard/panel_editor/VizTypePickerPlugin.tsx
Labels: area/frontend

#23272 Variables: turns on newVariables as a new default
  packages/grafana-runtime/src/config.ts
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/dashboard/state/DashboardModel.repeat.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/templating/specs/template_srv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/constant/actions.test.ts
  public/app/features/variables/custom/actions.test.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/selectors.ts
  public/app/features/variables/textbox/actions.test.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/stackdriver/components/VariableQueryEditor.test.tsx
  public/app/store/store.ts
  public/test/helpers/convertToStoreState.ts
  public/test/helpers/getDashboardModel.ts
  public/test/helpers/getTemplateSrvDependencies.ts
Labels: area/dashboard/templating, type/angular-2-react

#23301 Form migrations: Remove input from Forms namespace
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/OptionsUI/number.tsx
  packages/grafana-ui/src/components/OptionsUI/string.tsx
  packages/grafana-ui/src/components/TimePicker/TimePickerContent/TimeRangeForm.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/core/components/FilterInput/FilterInput.tsx
  public/app/features/admin/UserCreatePage.tsx
  public/app/features/admin/UserListAdminPage.tsx
  public/app/features/admin/UserProfile.tsx
  public/app/features/dashboard/components/PanelEditor/GeneralPanelOptions.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/PanelEditor/VisualizationTab.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/folders/components/NewDashboardsFolder.tsx
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
  public/app/features/org/NewOrgPage.tsx
  public/app/features/org/UserInviteForm.tsx
  public/app/features/profile/SignupForm.tsx
  public/app/features/users/SignupInvited.tsx
Labels: area/frontend, area/grafana/ui

#23312 Server: Exit with 0 if no error
  pkg/cmd/grafana-server/main.go
Labels: area/backend, type/bug

#23288 Storybook: update docs for Layout
  packages/grafana-ui/src/components/Layout/Layout.mdx
  packages/grafana-ui/src/components/Layout/Layout.story.tsx
  packages/grafana-ui/src/components/Layout/Layout.tsx
Labels: area/storybook

#23321 Dev: make prometheus compatible with mac and windows
  devenv/docker/blocks/prometheus/docker-compose.yaml
Labels: area/devenv

#23328 services/sqlstore: Order results in UserSearch by username/email
  pkg/services/sqlstore/migrations/user_mig.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/user.go
Labels: area/backend/db

#23314 Fix: Provide folderId when saving JsonModel
  public/app/features/dashboard/services/DashboardSrv.ts
Labels: area/dashboard, type/bug

#21694 TimeSrv: Try to parse 8 and 15 digit numbers as timestamps if parsing as date fails
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
Labels: add to changelog, area/frontend, cherry-pick needed, pr/external, type/bug

#23120 Core: use go-datemath in timerange utility
  pkg/components/gtime/gtime.go
  pkg/components/gtime/gtime_test.go
  pkg/tsdb/time_range.go
  pkg/tsdb/time_range_test.go
Labels: area/backend, type/refactor

#22259 Fix: Shows organization popup in alphabetical order
  pkg/services/sqlstore/user.go
  public/app/core/components/OrgSwitcher.tsx
Labels: area/backend/db, area/frontend, pr/external

#23367 Text Area: Add possibility to add custom style
  packages/grafana-ui/src/components/Forms/TextArea/TextArea.tsx
Labels: area/grafana/ui

#22265 Auth: update cookies' path value to reduce requests and avoid query param truncation
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/middleware/cookie.go
  pkg/middleware/middleware_test.go
Labels: area/backend, pr/external

#23348 delete old dashboard versions in multiple batches
  pkg/services/sqlstore/dashboard_version.go
  pkg/services/sqlstore/dashboard_version_test.go
Labels: add to changelog, area/backend

#23382 Fix: currently we are trying to import input from missing forms namespace
  packages/grafana-ui/src/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
Labels: type/bug

#23357 Form migrations: Switch to LegacyForms namespace
  packages/grafana-ui/src/components/DataLinks/DataLinkEditor.tsx
  packages/grafana-ui/src/components/Switch/Switch.story.internal.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/dashboard/components/ShareModal/ShareEmbed.tsx
  public/app/features/dashboard/components/ShareModal/ShareExport.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/dashboard/components/SubMenu/Annotations.tsx
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
  public/app/features/datasources/settings/BasicSettings.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/variables/editor/SelectionOptionsEditor.tsx
  public/app/features/variables/interval/IntervalVariableEditor.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/AnnotationQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.tsx
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/panel/annolist/AnnoListEditor.tsx
  public/app/plugins/panel/bargauge/BarGaugePanelEditor.tsx
  public/app/plugins/panel/gauge/GaugePanelEditor.tsx
  public/app/plugins/panel/graph2/GraphLegendEditor.tsx
  public/app/plugins/panel/graph2/GraphPanelEditor.tsx
  public/app/plugins/panel/logs/LogsPanelEditor.tsx
  public/app/plugins/panel/table2/TablePanelEditor.tsx
Labels: area/frontend

#20850 Plugins: bundle plugins
  package.json
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/manifest.test.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/bundle.managed.ts
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  pkg/plugins/plugins.go
  plugins-bundled/.gitignore
  plugins-bundled/README.md
  plugins-bundled/internal/input-datasource/LICENSE
  plugins-bundled/internal/input-datasource/README.md
  plugins-bundled/internal/input-datasource/package.json
  plugins-bundled/internal/input-datasource/src/InputConfigEditor.tsx
  plugins-bundled/internal/input-datasource/src/InputDatasource.test.ts
  plugins-bundled/internal/input-datasource/src/InputDatasource.ts
  plugins-bundled/internal/input-datasource/src/InputQueryEditor.tsx
  plugins-bundled/internal/input-datasource/src/img/input.svg
  plugins-bundled/internal/input-datasource/src/module.ts
  plugins-bundled/internal/input-datasource/src/plugin.json
  plugins-bundled/internal/input-datasource/src/testHelpers.ts
  plugins-bundled/internal/input-datasource/src/types.ts
  plugins-bundled/internal/input-datasource/src/utils.ts
  plugins-bundled/internal/input-datasource/tsconfig.json
  public/app/features/plugins/built_in_plugins.ts
  public/app/features/plugins/plugin_loader.test.ts
Labels: type/build-packaging

#23228 @grafana/ui docs: Input
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/src/components/Forms/Legacy/Input/Input.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/ButtonSelect.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.story.internal.tsx
  packages/grafana-ui/src/components/Input/Input.mdx
  packages/grafana-ui/src/components/Input/Input.story.tsx
Labels: area/grafana/ui, type/docs

#23385 Fix: Adding missing named export that made the rollup to fail
  packages/grafana-ui/rollup.config.ts
Labels: type/bug, type/build-packaging

#23389 ReactTable: adds alignment options to TablePanel
  packages/grafana-ui/src/components/Table/Table.tsx
  public/app/plugins/panel/table2/module.tsx
Labels: area/panel/table, type/angular-2-react

#23376 FieldConfig: Set field config defaults based on config registry
  packages/grafana-data/src/field/FieldConfigOptionsRegistry.tsx
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/panel/PanelPlugin.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-ui/src/components/Table/Table.story.tsx
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
Labels: area/frontend

#23365 ReactTable: adds possibility to resize columns
  packages/grafana-ui/src/components/Table/BackgroundColorCell.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/components/Table/types.ts
  public/app/plugins/panel/table2/TablePanel.tsx
  public/app/plugins/panel/table2/TablePanelEditor.tsx
  public/app/plugins/panel/table2/module.tsx
  public/app/plugins/panel/table2/types.ts
Labels: area/panel/table, type/angular-2-react

#23380 Fix: Handle datasource withCredentials option properly (#23338)
  public/app/core/utils/fetch.test.ts
  public/app/core/utils/fetch.ts
Labels: area/frontend, cherry-pick needed, pr/external

#23234 BackendPlugin: Change QueryData response format
  go.mod
  go.sum
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper_v2.go
  pkg/plugins/transform_plugin.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/arrow.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/frame.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/frame_meta.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/genproto/pluginv2/backend.pb.go
  vendor/modules.txt
Labels: area/backend/plugins

#23384 PanelEdit: made the transformers tab re-render on changes
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/dashboard/state/PanelModel.ts
Labels: area/dashboard

#23409 Chore: remove unused go package dynmap
  pkg/components/dynmap/dynmap.go
  pkg/components/dynmap/dynmap_test.go
Labels: area/backend, type/chore

#23392 Chore: More robust identification of time/value fields in makeSeriesForLogs
  public/app/core/logs_model.ts
Labels: type/chore

#23386 Form migrations: Move Switch from Forms namespace
  packages/grafana-ui/src/components/Forms/Switch.mdx
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/explore/RichHistory/RichHistorySettings.test.tsx
  public/app/features/explore/RichHistory/RichHistorySettings.tsx
  public/app/features/org/UserInviteForm.tsx
Labels: area/frontend, area/grafana/ui

#23371 Chore: Upgrade to Go 1.14
  .bra.toml
  .circleci/config.yml
  Dockerfile
  Dockerfile.ubuntu
  devenv/docker/blocks/prometheus_random_data/Dockerfile
  go.mod
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/build/old_appveyor.yml
  scripts/circle-test-backend.sh
  scripts/go/go.mod
  vendor/modules.txt
Labels: type/build-packaging, type/chore

#21594 cloudwatch: Replicate SDK behaviour for WebIdentityRole
  pkg/components/imguploader/s3uploader.go
  pkg/tsdb/cloudwatch/credentials.go
Labels: area/backend, datasource/CloudWatch, pr/external

#23274 Search/refactor dashboard search
  packages/grafana-ui/src/components/Tags/TagList.tsx
  public/app/core/angular_wrappers.ts
  public/app/core/components/manage_dashboards/manage_dashboards.ts
  public/app/core/components/search/search.html
  public/app/core/services/search_srv.ts
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/SearchCheckbox.tsx
  public/app/features/search/components/SearchField.tsx
  public/app/features/search/components/SearchItem.test.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/components/SearchResults.test.tsx
  public/app/features/search/components/SearchResults.tsx
  public/app/features/search/components/SearchWrapper.tsx
  public/app/features/search/components/mocks.ts
  public/app/features/search/constants.ts
  public/app/features/search/index.ts
  public/app/features/search/reducers/actionTypes.ts
  public/app/features/search/reducers/dashboardSearch.test.ts
  public/app/features/search/reducers/dashboardSearch.ts
  public/app/features/search/testData.ts
  public/app/features/search/types.ts
  public/app/features/search/utils.test.ts
  public/app/features/search/utils.ts
  public/app/types/search.ts
  public/views/index-template.html
Labels: area/frontend, area/search, type/angular-2-react

#23433 Dashboard: extend DashNav to add custom content
  public/app/features/dashboard/components/DashNav/DashNav.tsx
Labels: area/dashboard

#23426 DashboardListPanel: Fixed problem with empty panel after going into edit mode (General folder filter being automatically added)
  public/app/core/components/Select/FolderPicker.tsx
Labels: add to changelog, cherry-pick needed

#23268 Add SQL region annotation examples
  docs/sources/features/datasources/mssql.md
  docs/sources/features/datasources/mysql.md
  docs/sources/features/datasources/postgres.md
Labels: datasource/MSSQL, datasource/MySQL, datasource/Postgres, type/docs

#23427 ReactTable: adds color text to field options
  packages/grafana-ui/src/components/Table/BackgroundColorCell.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/types.ts
  packages/grafana-ui/src/components/Table/utils.ts
  packages/grafana-ui/src/components/Table/withTableStyles.tsx
  public/app/plugins/panel/table2/module.tsx
Labels: area/panel/table, type/angular-2-react

#23362 Templating: Fix global variable "__org.id"
  public/app/features/variables/state/actions.ts
Labels: add to changelog, area/dashboard/templating, pr/external

#23452 cloudwatch: prefer webIdentity over EC2 role
  pkg/components/imguploader/s3uploader.go
  pkg/tsdb/cloudwatch/credentials.go
Labels: datasource/CloudWatch

#23436 Form migrations: TextArea from Forms namespace
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/TextArea/TextArea.mdx
  packages/grafana-ui/src/components/TextArea/TextArea.story.tsx
  packages/grafana-ui/src/components/TextArea/TextArea.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
  public/app/features/manage-dashboards/DashboardImportPage.tsx
Labels: area/frontend, area/grafana/ui

#21341 Postgres: Add SSL support for datasource
  docs/sources/administration/provisioning.md
  pkg/tsdb/postgres/postgres.go
  public/app/plugins/datasource/postgres/partials/config.html
Labels: area/backend, area/backend/db/postgres, pr/external

#23346 Instrument backend plugin requests
  pkg/infra/metrics/metrics.go
  pkg/plugins/backendplugin/backend_plugin.go
  pkg/plugins/backendplugin/instrumentation.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper_v2.go
Labels: area/backend, area/instrumentation

#23467 CloudWatch: Added missing Cassandra metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, pr/external

#23446 Toolkit: save a json manifest file for signing
  packages/grafana-toolkit/src/cli/tasks/manifest.test.ts
  packages/grafana-toolkit/src/cli/tasks/manifest.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/test_exclude_image_suffix_in_manifest.png
  packages/grafana-toolkit/src/plugins/types.ts
Labels: area/grafana/toolkit

#23468 Build: removed circular dependencies to make grafana/ui build again
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/transformers/order.ts
  packages/grafana-ui/.storybook/webpack.config.js
  packages/grafana-ui/src/components/Alert/Alert.tsx
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/Button/ButtonContent.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/Icon/assets/Apps.tsx
  packages/grafana-ui/src/components/Icon/assets/Bell.tsx
  packages/grafana-ui/src/components/Icon/assets/Cog.tsx
  packages/grafana-ui/src/components/Icon/assets/Favorite.tsx
  packages/grafana-ui/src/components/Icon/assets/Folder.tsx
  packages/grafana-ui/src/components/Icon/assets/FolderPlus.tsx
  packages/grafana-ui/src/components/Icon/assets/Grafana.tsx
  packages/grafana-ui/src/components/Icon/assets/Import.tsx
  packages/grafana-ui/src/components/Icon/assets/PanelAdd.tsx
  packages/grafana-ui/src/components/Icon/assets/PlusSquare.tsx
  packages/grafana-ui/src/components/Icon/assets/Shield.tsx
  packages/grafana-ui/src/components/Icon/assets/types.ts
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/PanelOptionsGroup/PanelOptionsGroup.tsx
  packages/grafana-ui/src/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/grafana/ui

#23472 Core: Use new Select for TagFilter
  public/app/core/components/TagFilter/TagFilter.tsx
Labels: area/frontend, area/search

#23478 NewPanelEdit: Add unified UI to queries and transformations
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/utils/index.ts
  packages/grafana-ui/src/utils/renderOrCallToRender.ts
  public/app/core/components/QueryOperationRow/QueryOperationAction.test.tsx
  public/app/core/components/QueryOperationRow/QueryOperationAction.tsx
  public/app/core/components/QueryOperationRow/QueryOperationRow.test.tsx
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationEditor.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/dashboard/panel_editor/QueryEditorRow.tsx
  public/app/features/dashboard/panel_editor/QueryEditorRowTitle.tsx
  public/sass/components/_query_editor.scss
Labels: area/frontend, area/panel/common, area/transformations

#23480 BackendPlugins: update to sdk v0.42.0
  go.mod
  go.sum
  pkg/plugins/transform_plugin.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
  pkg/tsdb/frame_util.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/arrow.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/conversion_input.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/field.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/frame.go
  vendor/modules.txt
Labels: area/backend, area/backend/plugins

#22143 DevEnv: update frontend dependencies - redux
  package.json
  public/app/store/configureStore.ts
  public/test/core/redux/reduxTester.ts
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23492 Redux: Added config to redux development middlewares that checks for mutations and serializability
  public/app/store/configureStore.ts
Labels: type/tech

#23150 React generator
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/component.create.ts
  packages/grafana-toolkit/src/cli/tasks/manifest.test.ts
  packages/grafana-toolkit/src/cli/templates/component.test.tsx.template.ts
  packages/grafana-toolkit/src/cli/templates/component.tsx.template.ts
  packages/grafana-toolkit/src/cli/templates/docs.mdx.template.ts
  packages/grafana-toolkit/src/cli/templates/index.ts
  packages/grafana-toolkit/src/cli/templates/story.tsx.template.ts
  packages/grafana-toolkit/src/cli/utils/pascalCase.ts
  packages/grafana-toolkit/src/cli/utils/prompt.ts
Labels: area/grafana/toolkit

#23498 NewPanelEditor: Fix react missing key warnings
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsEditor.tsx
Labels: area/frontend

#23497 NewPanelEdit: Remove legacy editors for thresholds, value mappings and field properties
  packages/grafana-ui/src/components/SingleStatShared/FieldPropertiesEditor.test.tsx
  packages/grafana-ui/src/components/SingleStatShared/FieldPropertiesEditor.tsx
  packages/grafana-ui/src/components/SingleStatShared/index.ts
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.story.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.test.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/_ThresholdsEditor.scss
  packages/grafana-ui/src/components/ThresholdsEditor/__snapshots__/ThresholdsEditor.test.tsx.snap
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyMappingRow.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyValueMappingsEditor.story.internal.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyValueMappingsEditor.test.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyValueMappingsEditor.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/_ValueMappingsEditor.scss
  packages/grafana-ui/src/components/ValueMappingsEditor/__snapshots__/LegacyValueMappingsEditor.test.tsx.snap
  packages/grafana-ui/src/components/index.scss
  packages/grafana-ui/src/components/index.ts
Labels: area/frontend

#23495 Panel options / field config: Add documentation comments for declarative options API
  packages/grafana-data/src/panel/PanelPlugin.ts
  packages/grafana-data/src/types/OptionsUIRegistryBuilder.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/types/panel.ts
Labels: area/frontend, type/docs

#22458 make name unique to fix issue #22426
  public/sass/base/_icons.scss
Labels: area/frontend, pr/external

#23499 Grafana UI: make menuPlacement for Select customizable
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
Labels: area/frontend, area/grafana/ui

#23435 Docs: Document default limit of /api/folders
  docs/sources/http_api/folder.md
Labels: area/backend/api, type/docs

#23502 Transformations: Refactor to use single registry for transformations
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/standardTransformersRegistry.ts
  packages/grafana-data/src/transformations/transformDataFrame.ts
  packages/grafana-data/src/transformations/transformers.test.ts
  packages/grafana-data/src/transformations/transformers.ts
  packages/grafana-data/src/transformations/transformers/append.test.ts
  packages/grafana-data/src/transformations/transformers/filter.test.ts
  packages/grafana-data/src/transformations/transformers/filterByName.test.ts
  packages/grafana-data/src/transformations/transformers/filterByRefId.test.ts
  packages/grafana-data/src/transformations/transformers/order.test.ts
  packages/grafana-data/src/transformations/transformers/organize.test.ts
  packages/grafana-data/src/transformations/transformers/reduce.test.ts
  packages/grafana-data/src/transformations/transformers/rename.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
  packages/grafana-data/src/types/transformations.ts
  packages/grafana-data/src/utils/tests/mockTransformationsRegistry.ts
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/TransformersUI/FilterByNameTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/FilterByRefIdTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/ReduceTransformerEditor.tsx
  packages/grafana-ui/src/components/TransformersUI/transformers.ts
  packages/grafana-ui/src/components/TransformersUI/types.ts
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/utils/index.ts
  packages/grafana-ui/src/utils/standardTransformers.ts
  public/app/app.ts
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
Labels: area/frontend, area/transformations

#23515 Fixes linting errors in datasource provisioning.
  .circleci/config.yml
  Makefile
  go.sum
  pkg/services/provisioning/datasources/config_reader.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/datasources/types.go
Labels: area/backend, area/provisioning, type/tech

#23527 few typo corrections
  docs/sources/features/datasources/stackdriver.md
Labels: pr/external, type/docs

#23441 Storybook: Publish to developers.grafana.com/ui bucket
  .circleci/config.yml
Labels: area/frontend, area/storybook

#23525 Proposing few changes to overcome typos
  docs/sources/features/datasources/elasticsearch.md
Labels: pr/external, type/docs

#23522 Explore: Replace icons for icon buttons in logDetailsRow
  packages/grafana-ui/src/components/Logs/LogDetailsRow.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
Labels: area/explore, area/frontend

#23416 SaveDashboard: Display error message when folder/dashboard name validation fails
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/folders/components/NewDashboardsFolder.tsx
  public/app/features/manage-dashboards/services/ValidationSrv.ts
Labels: area/dashboard, area/dashboard/folders, area/frontend, type/bug

#23517 Lower log level for some startup logs statements
  pkg/api/live/stream_manager.go
  pkg/cmd/grafana-server/server.go
Labels: area/backend, type/tech

#23512 Graphite: Fixed issue switching to edit mode
  public/app/plugins/datasource/graphite/query_ctrl.ts
Labels: cherry-pick needed, type/bug

#23559 Hangouts: fixes notifications for alerts with empty message
  pkg/services/alerting/notifiers/googlechat.go
Labels: add to changelog, area/alerting/notifications, cherry-pick needed, type/bug

#23558 grafana-build-container: Update armv7 musl compiler
  .circleci/config.yml
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
Labels: type/build-packaging

#23569 Storybook: Change deploy bucket
  .circleci/config.yml
Labels: area/frontend, area/storybook

#23556 Form migrations: Last components from Forms namespace
  packages/grafana-ui/src/components/FieldConfigs/FieldConfigItemHeaderTitle.tsx
  packages/grafana-ui/src/components/Forms/Checkbox.mdx
  packages/grafana-ui/src/components/Forms/Field.mdx
  packages/grafana-ui/src/components/Forms/Form.mdx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.mdx
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/InputControl.tsx
  packages/grafana-ui/src/components/TimePicker/TimePickerContent/TimeRangeForm.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/admin/UserCreatePage.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
  public/app/features/explore/RichHistory/RichHistorySettings.tsx
  public/app/features/folders/components/NewDashboardsFolder.tsx
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/manage-dashboards/components/DashboardFileUpload.tsx
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
  public/app/features/manage-dashboards/components/ImportDashboardOverview.tsx
  public/app/features/org/NewOrgPage.tsx
  public/app/features/org/UserInviteForm.tsx
  public/app/features/profile/SignupForm.tsx
  public/app/features/search/components/SearchCheckbox.tsx
  public/app/features/search/components/SearchResultsFilter.tsx
  public/app/features/users/SignupInvited.tsx
Labels: area/frontend, area/grafana/ui

#22898 Provisioning: Validate that dashboard providers have unique names
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/dashboards/types.go
  pkg/services/provisioning/provisioning.go
Labels: add to changelog, area/backend, area/provisioning, pr/external

#23573 Dashboard search: Update input and closing button
  packages/grafana-ui/src/types/icon.ts
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/SearchField.tsx
Labels: area/frontend

#23576 Linting fixes for dashboard provsioning
  Makefile
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/dashboard_mock.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_linux_test.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/provisioning/provisioning_test.go
Labels: area/provisioning, type/tech

#23580 Variables: fixes error when setting adhoc variable values
  public/app/features/templating/variable_srv.ts
Labels: add to changelog, area/dashboard/templating, cherry-pick needed, type/bug

#23516 CloudWatch: Added AWS Chatbot metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, pr/external

#23398 Docs: Select
  packages/grafana-ui/src/components/Select/Select.mdx
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/mockOptions.tsx
  packages/grafana-ui/src/components/Select/types.ts
Labels: area/grafana/ui, type/docs

#23456 Docs: added code comments for everything in the @grafana/runtime package.
  api-extractor.json
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/services/AngularLoader.ts
  packages/grafana-runtime/src/services/EchoSrv.ts
  packages/grafana-runtime/src/services/LocationSrv.ts
  packages/grafana-runtime/src/services/backendSrv.ts
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  packages/grafana-runtime/src/services/templateSrv.ts
  packages/grafana-runtime/src/types/analytics.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  packages/grafana-runtime/src/utils/analytics.ts
  packages/grafana-runtime/src/utils/plugin.ts
Labels: type/docs

#23560 Runtime: make sure we don't lose nested default config values
  e2e/suite1/specs/queryVariableCrud.spec.ts
  packages/grafana-runtime/src/config.ts
Labels: type/bug

#23430 Form migrations: Forms/switch move folders
  packages/grafana-ui/src/components/ColorPicker/SeriesColorPickerPopover.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkEditor.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/HttpProxySettings.tsx
  packages/grafana-ui/src/components/Forms/Field.story.tsx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.mdx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  packages/grafana-ui/src/components/Forms/Switch.mdx
  packages/grafana-ui/src/components/Forms/Switch.tsx
  packages/grafana-ui/src/components/Forms/getFormStyles.ts
  packages/grafana-ui/src/components/Switch/Switch.mdx
  packages/grafana-ui/src/components/Switch/Switch.story.tsx
  packages/grafana-ui/src/components/Switch/Switch.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/utils/standardEditors.tsx
Labels: area/frontend

#21775 Allow API to assign new user to a specific organization
  docs/sources/http_api/admin.md
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/api/dtos/user.go
  pkg/models/user.go
  pkg/services/sqlstore/org.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
Labels: add to changelog, area/backend, area/backend/api, pr/external, type/feature

#23475 CI: scan master and release images oss/enterprise
  .circleci/config.yml
Labels: type/build-packaging

#23582 Toolkit: Update @grafana/toolkit path to fix Windows error
  packages/grafana-toolkit/bin/grafana-toolkit.js
Labels: area/grafana/toolkit, type/bug

#23589 Docs: Remove guides
  docs/sources/installation/behind_proxy.md
  docs/sources/menu.yaml
  docs/sources/tutorials/_index.md
  docs/sources/tutorials/hubot_howto.md
  docs/sources/tutorials/iis.md
Labels: type/docs

#23372 Forms migration: Org users page
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/admin/OrgRolePicker.tsx
  public/app/features/users/InviteeRow.tsx
  public/app/features/users/UsersActionBar.tsx
  public/app/features/users/UsersListPage.test.tsx
  public/app/features/users/UsersListPage.tsx
  public/app/features/users/UsersTable.test.tsx
  public/app/features/users/UsersTable.tsx
  public/app/features/users/__mocks__/userMocks.ts
  public/app/features/users/__snapshots__/UsersActionBar.test.tsx.snap
  public/app/features/users/__snapshots__/UsersTable.test.tsx.snap
  public/app/types/user.ts
Labels: area/frontend

#23595 CircleCI: Upgrade the build pipeline tool
  .circleci/config.yml
Labels: type/bug, type/build-packaging

#23592 @grafana/ui: Remove ColorPallete component
  packages/grafana-ui/src/components/ColorPicker/ColorPalette.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPalette.tsx
  packages/grafana-ui/src/components/ColorPicker/__snapshots__/ColorPalette.test.tsx.snap
Labels: area/frontend, area/grafana/ui

#23572 Storybook: Organizing
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/src/components/ButtonCascader/ButtonCascader.story.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.story.tsx
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.story.internal.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.story.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.story.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeaderSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/Drawer/Drawer.story.tsx
  packages/grafana-ui/src/components/FormField/FormField.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.story.internal.tsx
  packages/grafana-ui/src/components/Graph/Graph.story.tsx
  packages/grafana-ui/src/components/InfoTooltip/InfoTooltip.story.tsx
  packages/grafana-ui/src/components/Layout/Layout.mdx
  packages/grafana-ui/src/components/Layout/Layout.story.tsx
  packages/grafana-ui/src/components/Legend/Legend.story.tsx
  packages/grafana-ui/src/components/List/List.story.internal.tsx
  packages/grafana-ui/src/components/Modal/Modal.story.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.story.tsx
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.story.tsx
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.story.tsx
  packages/grafana-ui/src/components/Segment/Segment.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.story.tsx
  packages/grafana-ui/src/components/Slider/Slider.story.tsx
  packages/grafana-ui/src/components/StatsPicker/StatsPicker.story.tsx
  packages/grafana-ui/src/components/TableInputCSV/TableInputCSV.story.internal.tsx
  packages/grafana-ui/src/components/Tabs/Tabs.story.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.story.tsx
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.story.tsx
  packages/grafana-ui/src/components/ToggleButtonGroup/ToggleButtonGroup.story.internal.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.story.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.story.tsx
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.story.tsx
  packages/grafana-ui/src/utils/useDelayedSwitch.story.internal.tsx
Labels: area/frontend, area/storybook

#23460 Image Rendering: Remove PhantomJS support
  .circleci/config.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.ubuntu
  Gruntfile.js
  build.go
  docs/sources/administration/image_rendering.md
  docs/sources/installation/upgrading.md
  e2e/suite1/screenshots/expected/smoke-test-scenario.png
  e2e/suite1/specs/smoketests.spec.ts
  package.json
  packages/grafana-runtime/src/config.ts
  packaging/docker/Dockerfile
  packaging/docker/custom/ubuntu.Dockerfile
  packaging/docker/ubuntu.Dockerfile
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/notifier_test.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/phantomjs.go
  pkg/services/rendering/rendering.go
  pkg/setting/setting.go
  public/app/core/profiler.ts
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/routes/GrafanaCtrl.ts
  public/sass/components/_panel_graph.scss
  public/sass/components/_scrollbar.scss
  public/sass/layout/_page.scss
  scripts/build/build-all.sh
  scripts/build/download-phantomjs.sh
  scripts/grunt/build_task.js
  scripts/grunt/default_task.js
  scripts/grunt/options/phantomjs.js
  tools/.gitkeep
  tools/phantomjs/render.js
  yarn.lock
Labels: add to changelog

#23600 Linting fixes for provisoning
  .circleci/config.yml
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/dashboards/config_reader_test.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_linux_test.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/types.go
Labels: area/backend, type/tech

#23606 Build: Stricter linting should break the build
  .circleci/config.yml
  Makefile
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/notifiers/opsgenie_test.go
  pkg/services/alerting/rule.go
  scripts/go/configs/revive-strict.toml
Labels: type/tech

#23548 Counter: adds counter component
  packages/grafana-ui/src/components/Tabs/Counter.tsx
  packages/grafana-ui/src/components/Tabs/Tab.tsx
  packages/grafana-ui/src/components/Tabs/Tabs.story.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
Labels: area/frontend

#23642 Transformers: fixes column names generated by seriesToColumn transformer
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.ts
Labels: area/transformations

#23391 SAML role and team sync (open source part)
  conf/defaults.ini
  conf/sample.ini
  pkg/api/login.go
  pkg/api/login_oauth.go
Labels: type/chore

#23623 Forms migration: Change password
  packages/grafana-ui/src/components/Forms/Form.mdx
  public/app/core/components/PasswordInput/PasswordInput.tsx
  public/app/features/profile/ChangePasswordForm.tsx
Labels: area/frontend

#23630 FieldOverrides: UI updates
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItem.tsx
  packages/grafana-ui/src/components/Forms/Field.tsx
  packages/grafana-ui/src/components/Forms/Label.tsx
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.test.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.tsx
  packages/grafana-ui/src/themes/mixins.ts
  public/app/features/dashboard/components/PanelEditor/DynamicConfigValueEditor.tsx
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsGroup.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
Labels: area/frontend

#23530 Search: migrate manage dashboards
  packages/grafana-toolkit/src/cli/templates/component.tsx.template.ts
  public/app/core/components/Select/FolderPicker.tsx
  public/app/core/components/manage_dashboards/manage_dashboards.ts
  public/app/core/selectors/location.ts
  public/app/features/folders/FolderDashboardsCtrl.ts
  public/app/features/folders/partials/folder_dashboards.html
  public/app/features/manage-dashboards/partials/dashboard_list.html
  public/app/features/search/components/ConfirmDeleteModal.tsx
  public/app/features/search/components/DashboardActions.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/ManageDashboards.tsx
  public/app/features/search/components/MoveToFolderModal.tsx
  public/app/features/search/components/SearchField.tsx
  public/app/features/search/components/SearchItem.test.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/components/SearchResults.tsx
  public/app/features/search/components/SearchResultsFilter.test.tsx
  public/app/features/search/components/SearchResultsFilter.tsx
  public/app/features/search/hooks/useDashboardSearch.ts
  public/app/features/search/hooks/useManageDashboards.ts
  public/app/features/search/hooks/useSearch.ts
  public/app/features/search/hooks/useSearchQuery.ts
  public/app/features/search/index.ts
  public/app/features/search/reducers/actionTypes.ts
  public/app/features/search/reducers/dashboardSearch.test.ts
  public/app/features/search/reducers/dashboardSearch.ts
  public/app/features/search/reducers/manageDashboards.test.ts
  public/app/features/search/reducers/manageDashboards.ts
  public/app/features/search/reducers/searchQueryReducer.ts
  public/app/features/search/testData.ts
  public/app/features/search/types.ts
  public/app/features/search/utils.test.ts
  public/app/features/search/utils.ts
  public/app/partials/error.html
  public/app/routes/GrafanaCtrl.ts
  public/app/routes/routes.ts
  public/sass/components/_tags.scss
Labels: area/frontend, area/search, type/angular-2-react

#23645 PanelEditorTabs: adds counter to Query, Alert and Transform
  packages/grafana-ui/src/components/Tabs/Tab.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
Labels: area/panel/common

#23611 Transformers: changes reduce transformer
  packages/grafana-data/src/transformations/transformers/__snapshots__/reduce.test.ts.snap
  packages/grafana-data/src/transformations/transformers/reduce.test.ts
  packages/grafana-data/src/transformations/transformers/reduce.ts
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/SingleStatShared/FieldDisplayEditor.tsx
  packages/grafana-ui/src/components/SingleStatShared/index.ts
  packages/grafana-ui/src/components/StatsPicker/StatsPicker.tsx
  packages/grafana-ui/src/components/Table/utils.ts
  packages/grafana-ui/src/components/TransformersUI/ReduceTransformerEditor.tsx
Labels: area/transformations

#23448 Docs: Grafana internal metrics update
  docs/sources/administration/metrics.md
  docs/sources/features/datasources/graphite.md
  docs/sources/features/datasources/prometheus.md
  docs/sources/installation/configuration.md
Labels: type/docs

#23655 NewPanelEditor: option counters
  packages/grafana-data/src/types/OptionsUIRegistryBuilder.ts
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/dashboard/components/PanelEditor/DynamicConfigValueEditor.tsx
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
Labels: area/frontend

#23647 Dashboard: add fields in DashboardMeta
  public/app/types/dashboard.ts
Labels: area/dashboard

#23691 Alertmanager: Basic auth should not be required.
  pkg/services/alerting/notifiers/alertmanager.go
Labels: add to changelog, area/alerting/notifications, area/backend, type/bug

#23692 Storybook: Change default theme and fix favicon issue
  packages/grafana-ui/.storybook/manager-head.html
  packages/grafana-ui/.storybook/preview.ts
Labels: area/frontend, area/storybook

#23654 Logs: Fix error when non-string log level supplied
  packages/grafana-data/src/utils/logs.test.ts
  packages/grafana-data/src/utils/logs.ts
Labels: area/explore, type/bug

#23650 Store: Error handling for setObject
  public/app/core/components/LocalStorageValueProvider/LocalStorageValueProvider.tsx
  public/app/core/store.ts
  public/app/core/utils/explore.ts
  public/app/core/utils/richHistory.ts
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/explore/RichHistory/RichHistory.tsx
Labels: area/explore

#23694 Drawer: align component style with PanelInspector
  packages/grafana-ui/src/components/Drawer/Drawer.story.tsx
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
  public/app/features/dashboard/components/Inspector/InspectHeader.tsx
  public/app/features/dashboard/components/Inspector/InspectSubtitle.tsx
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
Labels: area/grafana/ui

#23585 Provisioning: Allows specifying uid for datasource and use that in derived fields
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/FormField/FormField.tsx
  pkg/api/datasources.go
  pkg/api/frontendsettings.go
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords_test.go
  pkg/models/datasource.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/datasources/testdata/all-properties/all-properties.yaml
  pkg/services/provisioning/datasources/types.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/datasource_test.go
  pkg/services/sqlstore/migrations/datasource_mig.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/state/actions.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/specs/datasource_srv.test.ts
  public/app/plugins/datasource/jaeger/datasource.test.ts
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/DebugSection.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/loki/types.ts
  public/app/plugins/datasource/testdata/QueryEditor.tsx
  public/app/plugins/datasource/testdata/runStreams.ts
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
  scripts/ci-frontend-metrics.sh
Labels: add to changelog, area/backend, area/datasource, area/provisioning

#23648 Search: Toggle Search based on search query
  public/app/core/selectors/location.ts
  public/app/core/services/keybindingSrv.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/ManageDashboards.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/components/SearchWrapper.tsx
  public/app/features/search/index.ts
  public/app/routes/routes.ts
Labels: area/frontend, area/search

#23635 Add ServerlessDatabaseCapacity to AWS/RDS metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: area/backend, datasource/CloudWatch, pr/external

#23675 Transformers: calculate a new field based on the row values
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/transformers.ts
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/transformations/transformers/ids.ts
  packages/grafana-data/src/vector/RowVector.ts
  packages/grafana-ui/src/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  packages/grafana-ui/src/utils/standardTransformers.ts
Labels: area/frontend, area/transformations

#23696 NewPanelEditor: Move visualisation picker to the sidebar pane
  public/app/features/dashboard/components/PanelEditor/OptionsGroup.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
  public/app/features/dashboard/components/PanelEditor/VisualizationTab.tsx
  public/app/features/dashboard/components/PanelEditor/state/selectors.ts
  public/app/features/dashboard/panel_editor/VizTypePicker.tsx
Labels: area/frontend, area/panel/common

#23720 Minor fix to improve readability of a statement
  docs/sources/installation/configuration.md
Labels: pr/external, type/docs

#23717 Correcting the case of an abbreviation in documentation
  docs/sources/administration/metrics.md
Labels: pr/external, type/docs

#23700 Docs: Datasource uid docs
  docs/sources/administration/provisioning.md
  docs/sources/features/datasources/loki.md
Labels: area/datasource, type/docs

#23707 Form migrations: Final components to LegacyForms
  packages/grafana-ui/src/components/DataLinks/DataLinkEditor.tsx
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.story.internal.tsx
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.tsx
  packages/grafana-ui/src/components/index.ts
  plugins-bundled/internal/input-datasource/src/InputQueryEditor.tsx
  public/app/core/angular_wrappers.ts
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
  public/app/features/admin/ldap/LdapPage.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/dashboard/panel_editor/DataSourceOption.tsx
  public/app/features/dashboard/panel_editor/QueryOptions.tsx
  public/app/features/datasources/settings/BasicSettings.tsx
  public/app/features/expressions/ExpressionQueryEditor.tsx
  public/app/features/profile/UserProfileEditForm.tsx
  public/app/features/teams/CreateTeam.tsx
  public/app/features/teams/TeamSettings.tsx
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/interval/IntervalVariableEditor.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/Forms.tsx
  public/app/plugins/datasource/elasticsearch/configuration/DataLink.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AzureCredentialsForm.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.tsx
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/loki/components/LokiExploreExtraField.tsx
  public/app/plugins/datasource/loki/configuration/DebugSection.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/loki/configuration/MaxLinesField.tsx
  public/app/plugins/datasource/opentsdb/components/OpenTsdbDetails.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
  public/app/plugins/datasource/stackdriver/components/Fields.tsx
  public/app/plugins/datasource/testdata/QueryEditor.tsx
  public/app/plugins/panel/piechart/PieChartOptionsBox.tsx
Labels: area/frontend, area/grafana/ui

#23715 NewPanelEditor: Small update proposal to add panel widget
  e2e/suite1/specs/smoketests.spec.ts
  packages/grafana-e2e/src/flows/addPanel.ts
  packages/grafana-e2e/src/pages/addDashboard.ts
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.test.tsx
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/dashboard/components/AddPanelWidget/__snapshots__/AddPanelWidget.test.tsx.snap
Labels: area/frontend, area/panel/common

#23739 Correcting the case of abbreviation used in documentation
  docs/sources/plugins/developing/datasources.md
Labels: pr/external, type/docs

#23740 Search: raise service init prio
  pkg/services/search/service.go
Labels: area/search

#23722 UI: Adds option to limit number of visible selected options for Select component
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SelectBase.test.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
Labels: area/grafana/ui

#23706 Image Rendering: Make it work using serve_from_sub_path configured
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
Labels: area/image-rendering

#23742 build: revert to clean stale assets
  scripts/webpack/webpack.dev.js
Labels: type/build-packaging

#23591 Dashboard import: Bug fixes
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
  public/app/features/manage-dashboards/components/ImportDashboardOverview.tsx
  public/app/features/manage-dashboards/state/actions.ts
  public/app/features/manage-dashboards/state/reducers.ts
Labels: area/dashboard/import

#23763 Minor correction in documentation
  docs/sources/features/explore/index.md
Labels: pr/external, type/docs

#23768 Search: Load folder page
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/loaders.ts
Labels: area/search

#23770 Drawer: update z-index to show tooltips
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
Labels: area/grafana/ui
