Repository grafana/grafana, pull requests merged in 2020-09, with the labels that each got.

#27265 Loki: Replaces dataSourceRequest with fetch
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/test/helpers/observableTester.ts
Labels: datasource/Loki, type/chore

#27258 OAuth: Increase state cookie max age
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/setting/setting.go
Labels: add to changelog, area/backend, area/backend/auth/oauth

#26946 Docs: Add report settings section
  docs/sources/enterprise/reporting.md
Labels: type/docs

#27267 Docs: Drawer component
  packages/grafana-ui/src/components/Drawer/Drawer.mdx
  packages/grafana-ui/src/components/Drawer/Drawer.story.tsx
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
Labels: area/grafana/ui, type/docs

#27297 Thresholds: Fixed issue with thresholds in overrides not working after save and reload
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-ui/src/components/SingleStatShared/SingleStatBaseOptions.test.ts
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/panel/bargauge/BarGaugeMigrations.test.ts
  public/app/plugins/panel/gauge/GaugeMigrations.test.ts
Labels: add to changelog, type/bug

#27225 Table: Adds column filtering
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
  packages/grafana-ui/src/components/Table/Filter.tsx
  packages/grafana-ui/src/components/Table/FilterList.tsx
  packages/grafana-ui/src/components/Table/FilterPopup.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/Table/utils.ts
  public/app/plugins/panel/table/module.tsx
Labels: area/panel/table, type/feature

#27320 InfluxDB: return a table rather than an error when timeseries is missing time
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/testdata/single.csv
  pkg/tsdb/influxdb/flux/testdata/single.golden.txt
Labels: datasource/InfluxDB/flux

#26156 Annotation: Add clean up job for old annotations
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/services/annotations/annotations.go
  pkg/services/cleanup/cleanup.go
  pkg/services/sqlstore/annotation_cleanup.go
  pkg/services/sqlstore/annotation_cleanup_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/sqlutil/sqlutil.go
  pkg/setting/setting.go
Labels: add to changelog, area/annotations, area/backend, type/feature-request

#27326 Chore: Upgrade to Go 1.15.1
  Dockerfile
  Dockerfile.ubuntu
  devenv/docker/blocks/prometheus_random_data/Dockerfile
  go.mod
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-deploy/Dockerfile
Labels: area/backend, type/build-packaging, type/chore

#27110 Docs: Updated data links content
  docs/sources/best-practices/best-practices-for-managing-dashboards.md
  docs/sources/linking/dashboard-links.md
  docs/sources/linking/data-link-variables.md
  docs/sources/linking/data-links.md
  docs/sources/menu.yaml
  docs/sources/variables/templates-and-variables.md
  docs/sources/variables/variable-types/_index.md
  docs/sources/variables/variable-types/global-variables.md
  docs/sources/variables/variable-types/url-variables.md
Labels: type/docs

#27338 Documentation Update
  docs/sources/features/datasources/mssql.md
Labels: datasource/MSSQL, pr/external, type/docs

#27347 RangeUtils: migrate logic from kbn to grafana/data
  packages/grafana-data/src/datetime/rangeutil.test.ts
  packages/grafana-data/src/datetime/rangeutil.ts
  public/app/core/services/context_srv.ts
  public/app/core/utils/explore.ts
  public/app/core/utils/kbn.ts
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/features/playlist/playlist_srv.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/interval/actions.ts
  public/app/plugins/datasource/cloud-monitoring/components/AlignmentPeriods.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/time_grain_converter.ts
  public/app/plugins/datasource/graphite/MetricTankMetaInspector.tsx
  public/app/plugins/datasource/opentsdb/query_ctrl.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/panel/heatmap/heatmap_ctrl.ts
Labels: add to changelog, area/grafana/data

#27324 Tests: removes unused stuff and replaces monaco transpile with mock
  jest.config.js
  package.json
  public/test/index.ts
  public/test/mocks/monaco.ts
  yarn.lock
Labels: type/chore

#27336 Storybook: Add docs to Cascader
  packages/grafana-ui/src/components/Cascader/Cascader.mdx
Labels: area/grafana/ui, area/storybook, type/docs

#27350 Storybook: Create Label.mdx and add docs
  packages/grafana-ui/src/components/Forms/Label.mdx
Labels: area/grafana/ui, area/storybook, type/docs

#27259 Docs: note about enabling permissions for the default data source
  docs/sources/enterprise/datasource_permissions.md
Labels: type/docs

#27337 CI: Upgrade the build Docker image
  .circleci/config.yml
  .drone.yml
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/README.md
  scripts/build/ci-build/build-deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27358 Build: fixing failing build by adding missing dependency to rollup config
  packages/grafana-ui/rollup.config.ts
Labels: area/grafana/ui, type/build-packaging

#27306 PanelInspector: Adds a Raw display mode but defaults to Formatted display mode
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/index.ts
  packages/grafana-data/src/utils/csv.test.ts
  packages/grafana-data/src/utils/csv.ts
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
Labels: add to changelog, panel/inspect

#27249 API: send Login actions
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/login_test.go
  pkg/login/auth.go
  pkg/login/auth_test.go
  pkg/middleware/middleware.go
  pkg/models/user_auth.go
Labels: area/backend/api

#27393 Docs: Add props documentation to FileUpload component
  packages/grafana-ui/src/components/FileUpload/FileUpload.tsx
Labels: area/grafana/ui, type/docs

#27397 Dependencies: Adds @testing-library/user-event for best practices
  package.json
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.test.tsx
  public/app/features/search/components/DashboardSearch.test.tsx
  yarn.lock
Labels: dependencies, type/chore

#27376 Time format: 0 seconds is a number
  packages/grafana-data/src/valueFormats/dateTimeFormatters.test.ts
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
Labels: pr/external, pr/needs-unit-tests

#27385 BackendSrv: Uses credentials, deprecates withCredentials & defaults to same-origin
  packages/grafana-runtime/src/services/backendSrv.ts
  public/app/core/utils/fetch.test.ts
  public/app/core/utils/fetch.ts
Labels: add to changelog, area/grafana/data, pr/external, type/chore

#26969 OAuth2: GenericOAuth should handle DEFLATE compressed payloads in JWT
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
Labels: add to changelog, area/backend/auth/oauth, pr/external, type/feature

#27395 Drone: Report front-end test metrics
  .circleci/config.yml
  .drone.yml
  package.json
  scripts/ci-frontend-metrics.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#26621 CloudWatch Logs: Adjusts CloudWatch Logs timeout logic
  packages/grafana-data/src/types/datasource.ts
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/features/explore/ErrorContainer.test.tsx
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/utils/rxjs/increasingInterval.ts
Labels: datasource/CloudWatch Logs

#27419 API: return resource ID for auth key creation, folder permissions update and user invite complete endpoints
  docs/sources/http_api/auth.md
  docs/sources/http_api/folder_permissions.md
  pkg/api/apikey.go
  pkg/api/dtos/apikey.go
  pkg/api/folder_permission.go
  pkg/api/folder_permission_test.go
  pkg/api/org_invite.go
Labels: add to changelog, area/backend/api, type/tech

#26263 Fixes signup workflow and UI
  pkg/api/api.go
  public/app/core/components/ForgottenPassword/ForgottenPassword.tsx
  public/app/core/components/Login/LoginPage.tsx
  public/app/core/components/Login/UserSignup.tsx
  public/app/core/components/Signup/Signup.tsx
  public/app/core/components/Signup/SignupPage.tsx
  public/app/core/components/Signup/VerifyEmail.tsx
  public/app/core/components/Signup/VerifyEmailPage.tsx
  public/app/features/profile/SignupForm.test.tsx
  public/app/features/profile/SignupForm.tsx
  public/app/features/profile/SignupPage.tsx
  public/app/routes/routes.ts
Labels: add to changelog, no stalebot, pr/external, type/bug

#27431 CI: Upgrade build pipeline tool
  .circleci/config.yml
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27434 scripts/ci-frontend-metrics.sh: Fix execution
  scripts/ci-frontend-metrics.sh
Labels: type/build-packaging, type/chore

#26840 Image Store: Add support for using signed URLs when uploading images to GCS
  conf/defaults.ini
  docs/sources/administration/configuration.md
  go.mod
  pkg/components/imguploader/gcsuploader.go
  pkg/components/imguploader/imguploader.go
Labels: area/backend, area/imagestore, pr/external, type/feature

#27433 Chore: Upgrade build pipeline tool in scripts
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
Labels: type/build-packaging, type/chore

#26395 Chore: Enable gocyclo linter
  go.sum
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/middleware/request_metrics.go
  pkg/services/alerting/conditions/reducer.go
  pkg/tsdb/interval.go
  pkg/tsdb/postgres/macros.go
  scripts/go/configs/.golangci.toml
Labels: area/backend, type/chore

#27378 Alerting: Change alert rule link in alert notifications to open panel in view mode
  pkg/services/alerting/eval_context.go
Labels: add to changelog

#26976 optimization in git clone using --depth
  devenv/docker/blocks/graphite1/conf/etc/my_init.d/01_conf_init.sh
  docs/sources/tutorials/stack_guide_graphite.md
  packages/grafana-toolkit/config/circleci/config.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/build/prepare_signing_key.sh
Labels: pr/external, type/chore

#27429 Grafana-UI: Add docs for ClickOutsideWrapper
  packages/grafana-ui/src/components/Alert/Alert.mdx
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.mdx
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.story.tsx
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
Labels: area/grafana/ui

#27390 Stats: Use more efficient SQL and add timeouts
  pkg/services/sqlstore/stats.go
  pkg/services/sqlstore/stats_integration_test.go
  pkg/services/sqlstore/stats_test.go
Labels: add to changelog, type/bug

#27411 Explore: table result should not override display property
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
Labels: area/explore

#27440 Search: Replace cog icon
  packages/grafana-ui/src/types/icon.ts
  public/app/features/search/components/SectionHeader.tsx
Labels: area/frontend, area/search

#27420 Settings: Remove unnessary error handling code
  pkg/setting/date_formats.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend, type/chore

#27362 Transformations: merge will properly handle empty frames and frames with multiple rows where values are overlapping.
  packages/grafana-data/src/transformations/transformers/merge.test.ts
  packages/grafana-data/src/transformations/transformers/merge.ts
Labels: add to changelog, area/transformations, type/bug

#27187 Cloud monitoring: fix missing title and text from cloud monitoring annotations
  pkg/tsdb/cloudmonitoring/annotation_query.go
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
Labels: area/backend, datasource/Stackdriver, pr/external, type/bug

#23670 Explore: Transform prometheus query to elasticsearch query
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/elasticsearch/language_provider.ts
Labels: area/explore, datasource/Elasticsearch, datasource/Prometheus, pr/external

#26702 Convert CloudWatch to use dataframes
  pkg/tsdb/cloudwatch/get_metric_data_executor.go
  pkg/tsdb/cloudwatch/get_metric_data_executor_test.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/query_transformer.go
  pkg/tsdb/cloudwatch/request_parser.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
  pkg/tsdb/cloudwatch/types.go
  pkg/tsdb/models.go
Labels: area/backend, area/dataframe, datasource/CloudWatch

#27446 Transformations: make sure that we copy all the values from a field when using MutableDataFrame.
  packages/grafana-data/src/dataframe/MutableDataFrame.ts
  packages/grafana-data/src/transformations/transformers/merge.test.ts
Labels: area/transformations

#27424 Panel view: Make sure repeated panel has inView property set correctly
  public/app/features/dashboard/state/DashboardModel.repeat.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
Labels: area/panel/common, type/bug

#27035 Docs: Add documentation for Explore Query Inspector
  docs/sources/features/explore/index.md
Labels: type/docs

#27444 CI: Add Google Cloud SDK to plugin CI Docker images
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/Dockerfile
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/README.md
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/build.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy-common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/Dockerfile
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/build.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy-common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/Dockerfile
  packages/grafana-toolkit/docker/grafana-plugin-ci/build.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27448 Bugfix: Revert "Convert CloudWatch to use dataframes (#26702)"
  pkg/tsdb/cloudwatch/get_metric_data_executor.go
  pkg/tsdb/cloudwatch/get_metric_data_executor_test.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/query_transformer.go
  pkg/tsdb/cloudwatch/request_parser.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
  pkg/tsdb/cloudwatch/types.go
  pkg/tsdb/models.go
Labels: area/backend, datasource/CloudWatch

#27450 CircleCI: Ensure only 2 Jest workers for frontend tests
  .circleci/config.yml
Labels: type/build-packaging, type/chore

#27455 CircleCI: Fix front-end tests
  .circleci/config.yml
Labels: type/build-packaging, type/chore

#27352 Search: refactor tests to use react-testing-library
  packages/grafana-e2e-selectors/src/selectors/components.ts
  public/app/core/services/__mocks__/search_srv.ts
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/SearchItem.test.tsx
  public/app/features/search/components/SearchResults.test.tsx
  public/app/features/search/components/SearchResults.tsx
  public/app/features/search/components/SearchResultsFilter.test.tsx
  public/app/features/search/components/SectionHeader.tsx
  public/app/features/search/components/mocks.ts
  public/app/features/search/testData.ts
  public/app/features/search/types.ts
Labels: area/frontend, type/tech

#27451 Grafana-UI: Add docs for ClipboardButton
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.mdx
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.story.internal.tsx
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.tsx
Labels: area/grafana/ui

#27311 Chore: fixed text-alignment on hovering tableCells
  packages/grafana-ui/src/components/Table/FilterableTableCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
Labels: area/panel/table, pr/external

#27459 AzureMonitor: change filterDimensions property to match what is stored
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/types.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
Labels: datasource/Azure, datasource/Azure/Monitor

#27016 heatmap: reduce the aggressiveness of hiding ticks/labels when panel is small
  public/app/plugins/panel/heatmap/rendering.ts
Labels: add to changelog

#27453 Transformations: Fixes outer join transformation when frames are missing field to join by
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.ts
Labels: add to changelog, area/transformations, type/bug

#27427 Instrumentation: Adds instrumentation for outgoing datasource requests
  pkg/models/datasource_cache.go
Labels: area/instrumentation, type/tech

#27423 Docs: added version note to the group-by transformation
  docs/sources/panels/transformations.md
Labels: type/docs

#27466 Chore: fixes build errors
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.test.tsx
Labels: type/chore

#27463 InfluxDB/flux: reasonable defaults for interval and maxDataPoints when not specified
  pkg/tsdb/influxdb/flux/query_models.go
Labels: datasource/InfluxDB/flux

#27454 DataSource/CloudWatch: Adds metadata to grouped CW Logs dataframe
  pkg/tsdb/cloudwatch/log_query.go
Labels: datasource/CloudWatch Logs

#27470 Chore: Upgrade build pipeline tool
  .circleci/config.yml
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27457 Drone: Make parallel step for publishing front-end metrics
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#25980 Migration: Edit notification channel
  packages/grafana-ui/src/components/Collapse/CollapsableSection.mdx
  packages/grafana-ui/src/components/Collapse/CollapsableSection.story.tsx
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
  packages/grafana-ui/src/components/index.ts
  pkg/services/alerting/notifier.go
  pkg/services/alerting/notifiers/alertmanager.go
  pkg/services/alerting/notifiers/dingding.go
  pkg/services/alerting/notifiers/discord.go
  pkg/services/alerting/notifiers/email.go
  pkg/services/alerting/notifiers/googlechat.go
  pkg/services/alerting/notifiers/hipchat.go
  pkg/services/alerting/notifiers/kafka.go
  pkg/services/alerting/notifiers/line.go
  pkg/services/alerting/notifiers/opsgenie.go
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/sensu.go
  pkg/services/alerting/notifiers/slack.go
  pkg/services/alerting/notifiers/teams.go
  pkg/services/alerting/notifiers/telegram.go
  pkg/services/alerting/notifiers/threema.go
  pkg/services/alerting/notifiers/victorops.go
  pkg/services/alerting/notifiers/webhook.go
  public/app/features/alerting/EditNotificationChannelPage.tsx
  public/app/features/alerting/NewAlertNotificationPage.tsx
  public/app/features/alerting/NewNotificationChannelPage.tsx
  public/app/features/alerting/components/BasicSettings.tsx
  public/app/features/alerting/components/ChannelSettings.tsx
  public/app/features/alerting/components/NewNotificationChannelForm.tsx
  public/app/features/alerting/components/NotificationChannelForm.tsx
  public/app/features/alerting/components/NotificationChannelOptions.tsx
  public/app/features/alerting/components/NotificationSettings.tsx
  public/app/features/alerting/components/OptionElement.tsx
  public/app/features/alerting/partials/notification_edit.html
  public/app/features/alerting/state/actions.ts
  public/app/features/alerting/state/reducers.test.ts
  public/app/features/alerting/state/reducers.ts
  public/app/features/alerting/state/selectors.ts
  public/app/features/alerting/utils/notificationChannel.test.ts
  public/app/features/alerting/utils/notificationChannels.ts
  public/app/features/all.ts
  public/app/routes/routes.ts
  public/app/types/alerting.ts
  public/app/types/store.ts
Labels: type/angular-2-react

#27475 Chore: Update release notes/what's new for v7.2.
  package.json
Labels: type/chore

#27461 Docs: E2E
  contribute/style-guides/e2e-core.md
  contribute/style-guides/e2e-plugins.md
  contribute/style-guides/e2e.md
Labels: type/docs, type/e2e

#27476 Chore: bumped to next version 7.3.0-pre
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
Labels: type/chore

#27477 Grafana-UI: Add docs for ConfirmButton
  packages/grafana-ui/src/components/Cascader/Cascader.mdx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.mdx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
  packages/grafana-ui/src/components/ConfirmButton/DeleteButton.tsx
Labels: area/frontend, area/grafana/ui, cherry-pick needed

#26226 Update Input.mdx
  packages/grafana-ui/src/components/Input/Input.mdx
Labels: area/grafana/ui, cherry-pick needed

#27480 Chore: change log for v7.2.0-beta1
  CHANGELOG.md
Labels: type/chore

#27481 Chore: latest.json for v7.2.0-beta1
  latest.json
Labels: type/chore

#27511 @grafana/e2e: avoid query data flakiness
  packages/grafana-e2e/src/flows/configurePanel.ts
Labels: area/grafana/e2e, type/e2e

#27484 Alerting: Fix integration key so it's stored encrypted for Pagerduty notifier
  pkg/services/alerting/notifiers/pagerduty.go
Labels: add to changelog, cherry-pick needed, type/bug

#27505 Prometheus: Fix min step variable interpolation
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  yarn.lock
Labels: cherry-pick needed

#27479 Notifications: UX tweak to redesign of form and sections to make it left aligned and cleaner
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
  public/app/features/alerting/EditNotificationChannelPage.tsx
  public/app/features/alerting/NewNotificationChannelPage.tsx
  public/app/features/alerting/components/BasicSettings.tsx
  public/app/features/alerting/components/NotificationChannelForm.tsx
  public/app/features/alerting/components/NotificationChannelOptions.tsx
Labels: area/alerting/notifications, area/ux

#26143 Provisioning: Remove provisioned dashboards without parental reader
  pkg/models/dashboards.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/dashboard_mock.go
  pkg/services/provisioning/provisioning.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_provisioning.go
  pkg/services/sqlstore/dashboard_provisioning_test.go
Labels: area/provisioning, type/feature-request

#27497 Docs: Add 7.2 Enterprise features
  docs/sources/guides/whats-new-in-v7-2.md
Labels: type/docs

#27022 Binary-prefixed data rates
  packages/grafana-data/src/valueFormats/categories.ts
  packages/grafana-data/src/valueFormats/symbolFormatters.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
  public/app/core/logs_model.ts
  public/app/plugins/panel/table-old/specs/renderer.test.ts
Labels: add to changelog, area/units, cherry-pick needed, pr/external

#27504 Docs: "7.2 what's new article" updated with images and information about ADX.
  docs/sources/guides/whats-new-in-v7-2.md
Labels: cherry-pick needed, type/docs

#27531 Revert "Alerting: New feature toggle for enabling standalone alerts (…
  docs/sources/administration/configuration.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/setting/setting.go
Labels: cherry-pick needed

#27501 Transforms: Fix for issue in labels to fields transform where the new option value field name did not work properly
  docs/sources/panels/transformations.md
  packages/grafana-data/src/transformations/transformers/labelsToFields.test.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
Labels: add to changelog, cherry-pick needed

#27533 BootData: Fix nav tree sort regression
  pkg/api/index.go
Labels: cherry-pick needed, type/bug

#27541 Grafana-UI: Expand ConfirmModal docs
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.mdx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
Labels: area/grafana/ui, cherry-pick needed

#27547 grafana/ui: Documenting DataSourceHttpSettings
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeaderSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.mdx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/types.ts
Labels: area/grafana/ui, type/docs

#27375 Annotations: add standard annotations support (and use it for flux queries)
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/types/data.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  public/app/features/annotations/annotations_srv.ts
  public/app/features/annotations/components/AnnotationResultMapper.tsx
  public/app/features/annotations/components/StandardAnnotationQueryEditor.tsx
  public/app/features/annotations/editor_ctrl.ts
  public/app/features/annotations/partials/editor.html
  public/app/features/annotations/standardAnnotationSupport.test.ts
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/annotations/types.ts
  public/app/plugins/datasource/influxdb/components/FluxQueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/partials/query.editor.html
  public/app/plugins/datasource/loki/datasource.test.ts
Labels: area/annotations, cherry-pick needed, datasource/InfluxDB/flux

#27523 OAuth: Fix token refresh failure when custom SSL settings are configured for OAuth provider
  pkg/api/login_oauth.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/login/social/social.go
Labels: area/backend, area/backend/auth/oauth, pr/external

#27550 Alerting API: send 404 not found error and enrich delete with UID endpoint response with alert notification ID
  pkg/api/alerting.go
  pkg/models/alert_notifications.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_notification_test.go
Labels: add to changelog, area/alerting/notifications, area/backend/api, cherry-pick needed

#27508 Docs: Fix Docker docs wrt. master images
  docs/sources/installation/docker.md
Labels: area/docker, type/docs

#27554 Toolkit: clean node_modules/@grafana/data/node_modules in prepare
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
Labels: area/grafana/toolkit, cherry-pick needed

#27394 Templating: global/system variables should be properly replaced in templated values.
  devenv/dev-dashboards/feature-templating/global-variables-and-interpolation.json
  docs/sources/variables/advanced-variable-format-options.md
  e2e/suite1/specs/dashboard-templating.spec.ts
  public/app/features/templating/formatRegistry.ts
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/shared/formatVariable.ts
Labels: area/dashboard/templating, cherry-pick needed, type/bug

#27502 PanelEdit: Drag and drop query order & UI tweaks
  e2e/suite1/specs/panelEdit_queries.spec.ts
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
  public/app/features/dashboard/panel_editor/QueryEditorRow.tsx
  public/app/features/dashboard/panel_editor/QueryEditorRows.tsx
Labels: area/panel/common, type/feature

#27551 Org API: enrich add user to org endpoints with user ID in the response
  docs/sources/http_api/org.md
  pkg/api/org_invite.go
  pkg/api/org_users.go
Labels: add to changelog, area/backend/api, cherry-pick needed

#27557 Annotations: Fixes issue with showing error notice for cancelled annotation queries
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
Labels: cherry-pick needed

#27567 Instrumentation: Fix panicking if there is no response
  pkg/models/datasource_cache.go
Labels: cherry-pick needed, type/bug

#27150 Auth: Add login_maximum_inactive_lifetime_duration and login_maximum_lifetime_duration
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/overview.md
  pkg/api/login.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/services/auth/auth_token.go
  pkg/services/auth/auth_token_test.go
  pkg/services/auth/token_cleanup.go
  pkg/services/auth/token_cleanup_test.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend, pr/external

#27579 Chore: use visualization name in field config header
  packages/grafana-data/src/panel/PanelPlugin.ts
Labels: cherry-pick needed

#27478 Postgres: Support request cancellation properly (Uses new backendSrv.fetch Observable request API)
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/types.ts
  public/test/helpers/observableTester.ts
Labels: add to changelog, cherry-pick needed, datasource/Postgres, type/chore

#27436 Live: check logged-in-user for grafana live
  go.mod
  go.sum
  pkg/services/live/live.go
  public/app/core/core.ts
  public/app/core/live/live_srv.ts
  public/app/features/live/live.ts
Labels: area/streaming

#27525 Variables: Limit rendering of options in dropdown to improve search performance
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
Labels: add to changelog, area/dashboard/templating, cherry-pick needed, pr/external

#27520 Elasticsearch: Allow fields starting with underscore
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: add to changelog, cherry-pick needed

#27539 Elasticsearch: Increase maximum geohash aggregation precision to 12
  public/app/plugins/datasource/elasticsearch/bucket_agg.ts
Labels: add to changelog, cherry-pick needed

#27570 Field config: Add support for paths in default field config setup
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/utils.test.ts
  public/app/features/dashboard/components/PanelEditor/utils.ts
Labels: add to changelog, area/field/overrides, cherry-pick needed, type/bug

#27587 Annotation: use DataFrame[] rather than a single DataFrame
  packages/grafana-data/src/types/annotations.ts
  public/app/features/annotations/annotations_srv.ts
  public/app/features/annotations/components/AnnotationResultMapper.tsx
  public/app/features/annotations/components/StandardAnnotationQueryEditor.tsx
  public/app/features/annotations/standardAnnotationSupport.test.ts
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/annotations/types.ts
Labels: cherry-pick needed

#27404 Dashboard: Add default timezone for preferences
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  docs/sources/administration/preferences.md
  pkg/services/sqlstore/preferences.go
  pkg/services/sqlstore/preferences_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/date_formats.go
  pkg/setting/date_formats_test.go
Labels: pr/external

#27598 Chore(crewjam/saml): go get -u
  go.mod
  go.sum
Labels: dependencies

#27603 Graph: only show range warning when all data is outside time range
  public/app/plugins/panel/graph/module.ts
Labels: cherry-pick needed

#27582 @grafana/e2e: annotation improvements
  packages/grafana-e2e/src/flows/addDashboard.ts
  packages/grafana-e2e/src/flows/selectOption.ts
Labels: area/grafana/e2e, type/e2e

#27612 NewsPanel: Fixed XSS issue when rendering rss links
  public/app/plugins/panel/news/NewsPanel.tsx
Labels: add to changelog, area/security, cherry-pick needed

#27615 InputControl: Fixed using InputControl in unit tests from plugins
  packages/grafana-ui/src/components/InputControl.tsx
Labels: add to changelog, cherry-pick needed

#27430 Docs: Working with data frames guide
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/working-with-data-frames.md
  docs/sources/menu.yaml
Labels: area/plugins, type/docs

#27599 backend-plugins: point to request Headers in the wrapper
  pkg/plugins/backendplugin/coreplugin/query_endpoint_adapter.go
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper_v2.go
Labels: area/backend/plugins, cherry-pick needed

#27628 ImageRendering: Fix rendering panel using shared query in png, PDF reports and embedded scenarios
  e2e/suite1/specs/solo-route.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/datasource/dashboard/runSharedRequest.ts
Labels: add to changelog, cherry-pick needed, type/bug

#27627 SharedQuery: Error when switching to -- Dashboard -- data source caused "no data" no matter what source panel was selected
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/plugins/datasource/dashboard/runSharedRequest.ts
Labels: cherry-pick needed, type/bug

#27625 ApiKeys: Fixes close('X') button layout issue
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/api-keys/__snapshots__/ApiKeysPage.test.tsx.snap
Labels: cherry-pick needed, pr/external, type/bug

#27540 Add new explore/observability related features to whats new docs
  docs/sources/guides/whats-new-in-v7-2.md
Labels: type/docs

#27616 DataLinks: Respects display name and adds field quoting
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
Labels: add to changelog, area/dashboard/data-links, cherry-pick needed, type/bug

#27538 Elasticsearch: Add support for date_nanos type
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: add to changelog, cherry-pick needed

#27591 Timezones: Include IANA timezone canonical name in TimeZoneInfo
  jest.config.js
  packages/grafana-data/src/datetime/timezones.test.ts
  packages/grafana-data/src/datetime/timezones.ts
Labels: add to changelog, area/dashboard/timezone

#27445 Docs: Add missing properties to plugin metadata schema
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Labels: area/plugins, type/docs

#27636 Chore: Update CHANGELOG.md for 7.2.0-beta2
  CHANGELOG.md
Labels: type/chore, type/docs

#27637 Chore: Update latest.json for 7.2.0-beta2
  latest.json
Labels: type/chore

#27577 Explore/Actions: Stop loadExploreDatasourcesAndSetDatasource from running twice
  public/app/features/explore/state/actions.ts
Labels: area/explore

#27578 Alerting: Ensuring notifications displayed correctly in mobile device with Google Chat
  pkg/services/alerting/notifiers/googlechat.go
Labels: add to changelog, area/alerting/notifications, area/backend, cherry-pick needed, pr/external

#27536 Api: Add /healthz endpoint for health checks
  pkg/api/api.go
  pkg/api/http_server.go
Labels: add to changelog, area/backend, area/instrumentation

#27653 DataProxy: Ignore empty URL's in plugin routes
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_proxy_test.go
Labels: add to changelog, area/backend, area/datasource/proxy, area/plugins, type/bug

#27652 Field config: Respect config paths when rendering default value of field config property
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#27472 Elasticsearch: add frozen index search support to elastic datasource
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: add to changelog, cherry-pick needed

#27656 Fix: Apply Thresholds for string values
  packages/grafana-ui/src/utils/standardEditors.tsx
Labels: area/field/overrides, area/grafana/data, cherry-pick needed

#27666 PanelEditor: fix button position when dragging row
  public/app/features/dashboard/panel_editor/QueryEditorRows.tsx
Labels: cherry-pick needed

#27657 FieldConfig: Fix mismatch in field config editor types
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-ui/src/components/OptionsUI/color.tsx
  packages/grafana-ui/src/components/OptionsUI/select.tsx
  packages/grafana-ui/src/components/OptionsUI/string.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#27658 grafana/ui: FieldValidationMessage docs
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.mdx
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.story.tsx
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.tsx
Labels: area/grafana/ui, type/docs

#27204 Proposal to include a `tidy check`
  .circleci/config.yml
  .drone.yml
  Makefile
  scripts/lib.star
  scripts/tidy-check.sh
Labels: type/build-packaging, type/chore, type/proposal

#27675 CircleCI: Execute enterprise tests
  .circleci/config.yml
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#27678 CircleCI: Fix build
  .circleci/config.yml
Labels: type/bug, type/build-packaging

#27671 DashboardRow: Update to use the new replaceWithText method
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
Labels: cherry-pick needed

#27648 Fix queryoptionrow title
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/Layout/Layout.tsx
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/core/components/Select/TeamPicker.test.tsx
  public/app/core/components/Select/TeamPicker.tsx
  public/app/core/components/Select/UserPicker.test.tsx
  public/app/core/components/Select/UserPicker.tsx
  public/app/core/components/Select/__snapshots__/TeamPicker.test.tsx.snap
  public/app/core/components/Select/__snapshots__/UserPicker.test.tsx.snap
  public/app/features/dashboard/panel_editor/QueryEditorRowTitle.tsx
  public/app/plugins/datasource/cloud-monitoring/components/Aggregations.test.tsx
  public/app/plugins/datasource/cloud-monitoring/components/Aggregations.tsx
  public/app/plugins/datasource/cloud-monitoring/components/__snapshots__/Aggregations.test.tsx.snap
  public/app/plugins/datasource/cloudwatch/components/Stats.test.tsx
  public/app/plugins/datasource/cloudwatch/components/Stats.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/Stats.test.tsx.snap
Labels: cherry-pick needed

#27681 CircleCI: Fix master pipeline wrt front-end tests
  .circleci/config.yml
  scripts/circle-test-frontend.sh
Labels: type/bug, type/build-packaging

#27687 @grafana/e2e: flaky chart data workaround
  packages/grafana-e2e/src/flows/configurePanel.ts
Labels: area/grafana/e2e, type/e2e

#27696 Document update
  docs/sources/auth/overview.md
Labels: pr/external, type/docs

#27698 Select: Adds labels to select styles
  packages/grafana-ui/src/components/Select/getSelectStyles.ts
Labels: type/chore

#27667 grafana/ui: Do not bundle jquery
  packages/grafana-ui/rollup.config.ts
Labels: add to changelog, area/grafana/ui, cherry-pick needed

#27700 Server: Don't clutter trace.Stop by exiting
  pkg/cmd/grafana-server/main.go
Labels: area/backend, type/chore

#27026 Explore: Remove not running query for collapsed elements
  packages/grafana-data/src/types/datasource.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraphPanel.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/TableContainer.test.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/features/explore/__snapshots__/TableContainer.test.tsx.snap
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/types.ts
  public/app/types/explore.ts
Labels: area/explore, type/bug

#27712 Annotations: check for null or undefined fields before conversion
  public/app/features/annotations/standardAnnotationSupport.test.ts
  public/app/features/annotations/standardAnnotationSupport.ts
Labels: area/annotations, cherry-pick needed, type/bug

#27711 Fix typos
  CHANGELOG.md
  devenv/docker/blocks/influxdb/telegraf.conf
  docs/sources/variables/variable-value-tags.md
  packages/grafana-data/src/types/plugin.ts
  packages/grafana-runtime/src/services/AngularLoader.ts
  packages/grafana-runtime/src/services/EchoSrv.ts
  packages/grafana-runtime/src/services/LocationSrv.ts
  packages/grafana-runtime/src/services/backendSrv.ts
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  packages/grafana-runtime/src/services/live.ts
  packages/grafana-runtime/src/services/templateSrv.ts
  packages/grafana-toolkit/src/cli/utils/githubClient.ts
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go
Labels: pr/external, type/chore

#27710 TraceView: Show full traceID and better discern multiple stackTraces in span details
  packages/jaeger-ui-components/src/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
Labels: add to changelog, area/explore, area/tracing, cherry-pick needed

#27706 PanelEditor: Prevents adding transformations in panels with alerts
  public/app/features/alerting/AlertTab.tsx
  public/app/features/dashboard/components/PanelEditor/PanelNotSupported.test.tsx
  public/app/features/dashboard/components/PanelEditor/PanelNotSupported.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
Labels: add to changelog, area/alerting, area/transformations, cherry-pick needed, type/bug

#27695 Document Update
  docs/sources/administration/configuration.md
Labels: pr/external, type/docs
