Repository grafana/grafana, pull requests merged in 2020-02, with the labels that each got.

#21863 Fix: Reimplement HideFromTabs in Tabs component
  public/app/core/components/PageHeader/PageHeader.tsx
Labels: area/frontend, cherry-pick needed, type/bug

#21790 Templating: Add new global built-in variables
  docs/sources/reference/templating.md
  public/app/features/templating/specs/variable_srv.test.ts
  public/app/features/templating/specs/variable_srv_init.test.ts
  public/app/features/templating/variable_srv.ts
Labels: add to changelog, area/frontend, pr/external

#21827 Dependencies injected so tests used mocked backendSrv
  public/app/features/datasources/state/actions.test.ts
  public/app/features/datasources/state/actions.ts
Labels: area/datasource, area/datasource/frontend, cherry-pick needed

#21836 Docs: Make upgrading instructions for Docker work
  docs/sources/installation/upgrading.md
Labels: area/docker, pr/external, type/docs

#21200 Docs: Update dashboard.md
  docs/sources/reference/dashboard.md
Labels: needs more detail, stale, type/docs

#21833 Datasource: Show access (Browser/Server) select on the Prometheus datasource
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
Labels: datasource/Prometheus, pr/external

#17846 DatasourceEditor: Add UI to edit custom HTTP headers
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeaderSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/SecretFormFied/SecretFormField.tsx
  public/app/features/datasources/partials/http_settings.html
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
Labels: add to changelog, area/datasource/frontend, area/frontend, pr/external

#21900 Login: Fix issue with login credentials in url
  public/app/core/components/Login/LoginForm.tsx
Labels: area/frontend, type/bug

#21908 Fix/add default props to prom query editor
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: area/datasource/frontend, datasource/Prometheus

#21894 Stackdriver: Fix Help section formatting issue
  public/app/plugins/datasource/stackdriver/components/Help.tsx
Labels: datasource/Stackdriver, type/bug

#21907 delete redundant alias
  pkg/services/sqlstore/migrator/sqlite_dialect.go
  pkg/services/sqlstore/transactions.go
Labels: area/backend, pr/external

#21858 Metrics: Adds back missing summary quantiles
  pkg/infra/metrics/metrics.go
Labels: add to changelog, area/backend, cherry-pick needed, pr/external, type/bug

#21813 Publish from new master pipeline
  .circleci/config.yml
Labels: type/build-packaging, type/chore

#21940 Dashboard edit: Fix 404 when making dashboard editable
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
Labels: area/dashboard, area/frontend, cherry-pick needed, type/bug

#21934 Prometheus: Fixes default step value for annotation query
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/module.test.ts
  public/app/plugins/datasource/prometheus/module.ts
  public/app/plugins/datasource/prometheus/partials/annotations.editor.html
Labels: add to changelog, area/annotations, cherry-pick needed, datasource/Prometheus, type/bug

#21915 Annotations: Change indices and rewrites annotation find query to improve database query performance
  devenv/docker/loadtest/annotations_by_tag_test.js
  pkg/services/sqlstore/annotation.go
  pkg/services/sqlstore/migrations/annotation_mig.go
Labels: add to changelog, cherry-pick needed, type/bug

#21754 Docs: Documentation for 6.6 Explore and Logs panel features
  docs/sources/features/explore/index.md
  docs/sources/features/panels/logs.md
Labels: type/docs

#21949 Quota: Makes LDAP + Quota work for the first login of a new user
  pkg/api/ldap_debug.go
  pkg/login/ldap_login.go
  pkg/services/quota/quota.go
Labels: add to changelog, area/backend/auth/ldap, cherry-pick needed

#21937 Elastic: Limit the number of datapoints for the counts query
  public/app/features/explore/state/actions.ts
Labels: add to changelog, datasource/Elasticsearch, type/bug

#21955 Promethus: Do not show rate hint when increase function is used in query
  public/app/plugins/datasource/prometheus/query_hints.test.ts
  public/app/plugins/datasource/prometheus/query_hints.ts
Labels: datasource/Prometheus, pr/external

#21968 @grafana/ui: Fix displaying of bars in React Graph
  packages/grafana-ui/src/components/Graph/Graph.tsx
Labels: cherry-pick needed, datasource/InfluxDB, datasource/Loki, type/bug

#21497 Explore: Adds Loki explore query editor
  packages/grafana-data/src/types/datasource.ts
  public/app/core/logs_model.ts
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/plugins/datasource/loki/components/LokiCheatSheet.tsx
  public/app/plugins/datasource/loki/components/LokiExploreExtraField.test.tsx
  public/app/plugins/datasource/loki/components/LokiExploreExtraField.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreExtraField.test.tsx.snap
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/module.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/types/explore.ts
Labels: area/explore, area/frontend, datasource/Loki

#21605 Datasource: updates PromExploreQueryEditor to prevent it from throwing error on edit
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreExtraField.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/module.ts
Labels: area/explore, datasource/Prometheus, type/bug

#21861 Datasource: Allow sub-second steps in Prometheus queries
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: area/frontend, datasource/Prometheus

#21965 Chore: Removes Cypress record (#21782)
  .circleci/config.yml
  package.json
Labels: type/chore

#21970 Chore: Resolve random failure with golangci-lint
  pkg/services/multildap/multildap_test.go
  pkg/services/multildap/testing.go
Labels: cherry-pick needed

#22008 Docker: Publish enterprise image with master-commit tag
  .circleci/config.yml
  packaging/docker/build-enterprise.sh
Labels: area/docker, type/build-packaging

#22018 Select: Fixed allow custom value in Select/UnitPicker/Segment/Async
  packages/grafana-ui/src/components/Select/Select.tsx
Labels: type/bug

#21812 Cascader: Add enable custom value
  packages/grafana-ui/src/components/Cascader/Cascader.story.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.test.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.tsx
Labels: area/grafana/ui

#22029 UnitPicker: Use the new Cascader implementation
  packages/grafana-ui/src/components/Cascader/Cascader.story.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.story.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.tsx
Labels: area/frontend, area/grafana/ui

#22039 New Select: Fix the overflow issue and menu positioning
  packages/grafana-ui/src/components/Forms/Select/ButtonSelect.tsx
  packages/grafana-ui/src/components/Forms/Select/Select.story.tsx
  packages/grafana-ui/src/components/Forms/Select/Select.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectBase.test.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Forms/Select/getSelectStyles.ts
  packages/grafana-ui/src/components/Select/ButtonSelect.story.tsx
Labels: area/grafana/ui

#21992 BackendSrv: Returns correct error when a request is cancelled
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
Labels: area/backend_srv, type/angular-2-react, type/bug

#21956 Links: Assure base url when single stat, panel and data links are built
  devenv/dev-dashboards/feature-templating/testdata-datalinks.json
  public/app/core/specs/location_util.test.ts
  public/app/core/utils/location_util.ts
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderCorner.tsx
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
  public/app/plugins/panel/singlestat/module.ts
Labels: area/frontend, type/bug

#21950 Grafana ui/time of day picker ui improvements
  packages/grafana-ui/src/components/TimePicker/TimeOfDayPicker.tsx
Labels: area/grafana/ui

#22063 Chore: Fixes mixed timezone snapshot tests
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.test.tsx
Labels: type/chore

#22061 Update doc on local Grafana plugin installation
  docs/sources/plugins/installation.md
Labels: area/plugins, type/docs

#22066 Chore: Adds cancellation to backendSrv request function
  packages/grafana-runtime/src/services/backendSrv.ts
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
Labels: area/backend_srv, type/chore

#22011 CircleCI: Publish enterprise ARM variants from master pipeline
  .circleci/config.yml
Labels: type/build-packaging

#22078 Backend plugins: Make transform work again
  pkg/plugins/backendplugin/client.go
Labels: area/backend, area/backend/plugins

#22053 Dashboard: Fix bug with NaN in alerting
  pkg/services/alerting/conditions/reducer.go
  pkg/services/alerting/conditions/reducer_test.go
Labels: area/alerting, pr/external

#22013 CircleCI: Include build ID in version for new master pipeline
  .circleci/config.yml
Labels: type/build-packaging

#22091 CircleCI: Publish enterprise Docker dev image for new master pipeline
  .circleci/config.yml
Labels: type/build-packaging

#22092 Docs: fix minor typos in datasources.md
  docs/sources/plugins/developing/datasources.md
Labels: type/docs

#21722 Prometheus: make $__range more precise
  docs/sources/features/datasources/prometheus.md
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, pr/external

#21924 Fix/add width to toggle button group
  packages/grafana-ui/src/components/TimePicker/TimeOfDayPicker.tsx
  packages/grafana-ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  public/sass/components/_toggle_button_group.scss
Labels: area/grafana/ui

#22057 Explore: Fix display of multiline logs in log panel and explore
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
Labels: area/frontend, pr/external

#21832 Documentation: Update behind_proxy.md to include HTTPS and URL rewrite example.
  docs/sources/installation/behind_proxy.md
Labels: pr/external, type/docs

#22093 Forms/RadioButtonGroup: Improves semantics and simplifies CSS
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.story.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
Labels: area/grafana/ui

#21734 Fix mentioning Slack users/groups
  CHANGELOG.md
  docs/sources/administration/provisioning.md
  docs/sources/alerting/notifications.md
  pkg/services/alerting/notifiers/slack.go
  pkg/services/alerting/notifiers/slack_test.go
Labels: area/alerting/notifications, area/backend

#22055 Annotation & Alerts: Makes various annotation and alert requests cancelable
  public/app/features/alerting/StateHistory.tsx
  public/app/features/annotations/annotations_srv.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/grafana/specs/datasource.test.ts
  public/app/plugins/panel/alertlist/module.ts
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
Labels: area/alerting, area/annotations, area/panel/alertlist, type/feature-request

#21944 Loki, Prometheus: Fix PromQL and LogQL syntax highlighting
  public/app/plugins/datasource/loki/syntax.test.ts
  public/app/plugins/datasource/loki/syntax.ts
  public/app/plugins/datasource/prometheus/promql.test.ts
  public/app/plugins/datasource/prometheus/promql.ts
Labels: add to changelog, cherry-pick needed, datasource/Loki, datasource/Prometheus, type/bug

#22128 Datasource/Loki: Fixes issue where live tailing displayed date as invalid
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
Labels: datasource/Loki, type/bug

#22129 Forms/Switch: Simplifies and adjusts CSS/Markup
  packages/grafana-ui/src/components/Forms/Switch.tsx
Labels: area/grafana/ui

#22124 Explore: Refactor active buttons css
  packages/grafana-ui/src/components/TimePicker/TimePicker.tsx
  public/app/features/explore/LiveTailButton.tsx
  public/app/features/explore/TimeSyncButton.tsx
  public/app/features/explore/__snapshots__/TimeSyncButton.test.tsx.snap
  public/sass/pages/_explore.scss
Labels: area/explore, type/refactor

#22113 docs/installations/windows: Fix port config list formatting
  docs/sources/installation/windows.md
Labels: type/docs

#22135 DevEnv: update frontend dependencies - babel
  package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22150 Bugfix: updates cloudwatch query editor test async render to prevent it from throwing error
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/QueryEditor.test.tsx.snap
Labels: area/datasource, area/datasource/frontend, type/bug

#22136 DevEnv: update frontend dependencies - grunt
  package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#20030 Auth: Implement Azure AD oauth
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/azuread.md
  docs/sources/menu.yaml
  go.mod
  go.sum
  packages/grafana-ui/src/themes/_variables.scss.tmpl.ts
  pkg/api/user.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/social.go
  pkg/models/models.go
  public/app/core/components/Login/LoginServiceButtons.tsx
  public/img/microsoft_auth_icon.svg
  public/sass/_variables.generated.scss
  public/sass/components/_buttons.scss
  vendor/gopkg.in/square/go-jose.v2/asymmetric.go
  vendor/gopkg.in/square/go-jose.v2/cipher/ecdh_es.go
  vendor/gopkg.in/square/go-jose.v2/crypter.go
  vendor/gopkg.in/square/go-jose.v2/encoding.go
  vendor/gopkg.in/square/go-jose.v2/jwk.go
  vendor/gopkg.in/square/go-jose.v2/jws.go
  vendor/gopkg.in/square/go-jose.v2/jwt/builder.go
  vendor/gopkg.in/square/go-jose.v2/jwt/claims.go
  vendor/gopkg.in/square/go-jose.v2/jwt/doc.go
  vendor/gopkg.in/square/go-jose.v2/jwt/errors.go
  vendor/gopkg.in/square/go-jose.v2/jwt/jwt.go
  vendor/gopkg.in/square/go-jose.v2/jwt/validation.go
  vendor/gopkg.in/square/go-jose.v2/opaque.go
  vendor/gopkg.in/square/go-jose.v2/shared.go
  vendor/gopkg.in/square/go-jose.v2/signing.go
  vendor/modules.txt
Labels: area/backend, pr/external

#21088 Angular/React: Migrates FolderPicker from angular to react
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Forms/Select/getSelectStyles.ts
  packages/grafana-ui/src/components/Forms/index.ts
  public/app/core/angular_wrappers.ts
  public/app/core/components/Select/FolderPicker.test.tsx
  public/app/core/components/Select/FolderPicker.tsx
  public/app/core/components/Select/__snapshots__/FolderPicker.test.tsx.snap
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
  public/app/features/dashboard/components/DashboardSettings/template.html
  public/app/features/dashboard/components/FolderPicker/index.ts
  public/app/features/dashboard/components/FolderPicker/template.html
  public/app/features/dashboard/components/SaveModals/SaveDashboardAsModalCtrl.ts
  public/app/features/dashboard/index.ts
  public/app/features/manage-dashboards/DashboardImportCtrl.ts
  public/app/features/manage-dashboards/components/MoveToFolderModal/MoveToFolderCtrl.ts
  public/app/features/manage-dashboards/components/MoveToFolderModal/template.html
  public/app/features/manage-dashboards/partials/dashboard_import.html
  public/app/features/manage-dashboards/services/ValidationSrv.ts
  public/app/plugins/panel/alertlist/editor.html
  public/app/plugins/panel/alertlist/module.ts
  public/app/plugins/panel/dashlist/editor.html
  public/app/plugins/panel/dashlist/module.ts
  public/app/types/search.ts
Labels: area/frontend, type/angular-2-react

#22173 Elastic: Replace range in query as number not string
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: area/explore, datasource/Elasticsearch

#22177 BackendSrv: Fixes a stupid mistake with a missing return
  public/app/core/services/backend_srv.ts
Labels: type/chore

#22160 Azure OAuth: enable teamsync
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/azuread.md
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/common.go
  pkg/login/social/gitlab_oauth.go
  pkg/login/social/social.go
Labels: area/backend/auth/oauth

#22120 Inspect: Inspect header design update
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  public/app/features/dashboard/components/Inspector/InspectHeader.tsx
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
Labels: area/panel/infrastructure

#21652 API: Fix redirect issue when configured to use a subpath
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/middleware/auth.go
Labels: add to changelog, area/backend, cherry-pick needed, type/bug

#22139 DevEnv: update frontend dependencies - node
  package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22141 DevEnv: update frontend dependencies - type definitions
  package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22140 DevEnv: update frontend dependencies - tests
  package.json
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.test.tsx
  packages/grafana-ui/src/components/Modal/Modal.test.tsx
  packages/grafana-ui/src/components/TimePicker/__snapshots__/TimePicker.test.tsx.snap
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/explore/__snapshots__/MetaInfoText.test.tsx.snap
  public/app/features/explore/__snapshots__/TableContainer.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamMembers.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamPages.test.tsx.snap
  public/app/features/users/__snapshots__/InviteesTable.test.tsx.snap
  public/app/features/users/__snapshots__/UsersListPage.test.tsx.snap
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22205 Alerting: Update the types of recipient supported by the Slack notifier
  docs/sources/alerting/notifications.md
  pkg/services/alerting/notifiers/slack.go
  pkg/services/alerting/notifiers/slack_test.go
Labels: area/alerting/notifications

#22218 CircleCI: Push master Docker images without revision in tag
  .circleci/config.yml
Labels: type/build-packaging

#22179 Cloudwatch: add Usage Metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch, type/feature-request

#22005 Storybook: Add color theme
  .gitignore
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/.storybook/manager-head.html
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/.storybook/static/fav32.png
  packages/grafana-ui/.storybook/static/grafana_icon.svg
  packages/grafana-ui/.storybook/storybookTheme.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/utils/storybook/withTheme.tsx
  yarn.lock
Labels: area/frontend

#21514 Migrations: Signup page
  package.json
  packages/grafana-runtime/src/config.ts
  pkg/api/frontendsettings.go
  public/app/features/profile/SignupForm.test.tsx
  public/app/features/profile/SignupForm.tsx
  public/app/features/profile/SignupPage.tsx
  public/app/partials/signup_step2.html
  public/app/routes/routes.ts
  public/test/jest-setup.ts
  yarn.lock
Labels: area/frontend, type/angular-2-react

#22246 Sqlstore: guard against getting a dashboard without specifying identi…
  pkg/models/dashboards.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_test.go
Labels: area/backend

#22106 Auth: Don't rotate auth token when requests are cancelled by client
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
Labels: add to changelog, area/backend, area/backend/auth, cherry-pick needed

#20795 Update timeseries.md
  docs/sources/guides/timeseries.md
Labels: pr/external, type/docs

#22253 TimePicker: fixing weird behavior with calendar when switching between months/years
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/TimePicker/TimePickerContent/TimePickerCalendar.tsx
  yarn.lock
Labels: add to changelog, area/grafana/ui, cherry-pick needed, type/bug

#22174 Data proxy: Log proxy errors using Grafana logger
  pkg/api/pluginproxy/ds_proxy.go
Labels: add to changelog, area/backend, area/datasource/proxy, cherry-pick needed

#22225 Prometheus: Implement region annotation
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: add to changelog, area/annotations, datasource/Prometheus, pr/external

#22101 Server: Reorder cipher suites for better security
  pkg/api/http_server.go
Labels: add to changelog, area/backend/security, pr/external

#22278 @grafana/toolkit: lint fix option now writes changes to disk
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
Labels: area/frontend, effort/small

#22256 API: Improve recovery middleware when response already been written
  pkg/middleware/middleware.go
  pkg/middleware/recovery.go
Labels: cherry-pick needed, type/bug

#22303 grafana/ui: Add basic horizontal and vertical layout components
  packages/grafana-ui/src/components/Layout/Layout.story.tsx
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/utils/storybook/withStoryContainer.tsx
Labels: add to changelog, area/grafana/ui

#22283 grafana/data: runtime dependencies moved from devDependencies
  packages/grafana-data/package.json
Labels: area/frontend, effort/small

#22306 Docker: Upgrade Ubuntu to 19.10
  Dockerfile.ubuntu
  packaging/docker/build.sh
  packaging/docker/ubuntu.Dockerfile
Labels: type/build-packaging

#22314 CI: check ubuntu and alpine images with trivy
  .circleci/config.yml
Labels: type/build-packaging

#22268 OAuth: Enforce auto_assign_org_id setting when role mapping enabled using Generic OAuth
  pkg/api/login_oauth.go
  pkg/services/login/login.go
Labels: add to changelog, area/backend/auth/oauth, cherry-pick needed, type/bug

#22168 Metrics: Add gauge for requests currently in flight
  pkg/middleware/request_metrics.go
Labels: add to changelog, area/backend, area/instrumentation, cherry-pick needed

#22031 Image Rendering: Store render key in remote cache to enable renderer to callback to public/load balancer URL when running in HA mode
  pkg/api/common_test.go
  pkg/api/http_server.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/middleware/recovery_test.go
  pkg/middleware/render_auth.go
  pkg/services/alerting/notifier_test.go
  pkg/services/rendering/http_mode.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/phantomjs.go
  pkg/services/rendering/plugin_mode.go
  pkg/services/rendering/rendering.go
Labels: add to changelog

#22297 Typo correction in Line 19
  docs/sources/auth/github.md
Labels: pr/external, type/docs

#22291 Couple of changes to the document
  docs/sources/auth/generic-oauth.md
Labels: pr/external, type/docs

#22323 Annotations: In table panel when setting transform to annotation, they will now show up right away without a manual refresh
  public/app/plugins/panel/table/editor.ts
Labels: add to changelog, type/bug

#22313 Docker: Downgrade to 18.04 LTS base image
  Dockerfile.ubuntu
  packaging/docker/build.sh
  packaging/docker/ubuntu.Dockerfile
Labels: add to changelog, type/bug

#22233 DashLinks: add pull right to dropdown menu
  public/app/features/dashboard/components/DashLinks/DashLinksContainerCtrl.ts
Labels: area/frontend, pr/external

#22305 [Docs] Improvised instructions for adding data source.
  docs/sources/guides/getting_started.md
Labels: pr/external, type/docs

#22324 Docs: Fix "enable" steps formatting
  docs/sources/features/datasources/testdata.md
Labels: pr/external, type/docs

#22292 Correcting Line 22
  docs/sources/auth/google.md
Labels: pr/external, type/docs

#22298 Suggesting couple of changes to the document
  docs/sources/auth/gitlab.md
Labels: pr/external, type/docs

#22328 grafana/ui: Export TextArea under Forms namespace
  packages/grafana-ui/src/components/Forms/index.ts
Labels: area/grafana/ui

#22158 CircleCI: Switch to new master build pipeline
  .circleci/config.yml
Labels: type/build-packaging

#22342 CircleCI: Fix publishing of releases
  .circleci/config.yml
Labels: type/build-packaging

#22197 Docs: Update front end style guide
  contribute/style-guides/frontend.md
Labels: type/docs

#22372 Alerting: Don't include image_url field with Slack message if empty
  pkg/services/alerting/notifiers/slack.go
Labels: add to changelog, type/bug

#22379 @grafana/toolkit: completed support for source maps in plugin builds
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
Labels: area/frontend, effort/small

#22408 Backend Plugin: add a standard function to call the correct resource paths
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: area/backend/plugins

#22413 Admin: fix images on license page
  public/app/features/admin/LicenseChrome.tsx
  public/app/features/admin/UpgradePage.tsx
Labels: cherry-pick needed, type/bug

#22398 makes tag colors more accessible
  packages/grafana-ui/src/utils/tags.ts
Labels: area/ux, pr/external

#21931 Docs: adding API reference documentation support for the packages libraries.
  .gitignore
  api-extractor.json
  contribute/style-guides/code-comments.md
  contribute/style-guides/frontend.md
  package.json
  packages/grafana-data/api-extractor.json
  packages/grafana-data/package.json
  packages/grafana-data/src/dataframe/DataFrameView.ts
  packages/grafana-data/src/datetime/datemath.test.ts
  packages/grafana-data/src/datetime/datemath.ts
  packages/grafana-data/src/datetime/index.ts
  packages/grafana-data/src/datetime/rangeutil.ts
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/text/text.ts
  packages/grafana-data/src/types/appEvents.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/panel.ts
  packages/grafana-data/src/types/panelEvents.ts
  packages/grafana-data/src/types/vector.ts
  packages/grafana-e2e/api-extractor.json
  packages/grafana-e2e/package.json
  packages/grafana-e2e/src/index.ts
  packages/grafana-runtime/api-extractor.json
  packages/grafana-runtime/package.json
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  packages/grafana-ui/api-extractor.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Cascader/Cascader.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.test.tsx
  packages/grafana-ui/src/index.ts
  packages/grafana-ui/src/themes/index.ts
  packages/grafana-ui/src/themes/mixins.ts
  packages/grafana-ui/src/utils/dom.ts
  packages/grafana-ui/src/utils/index.ts
  scripts/build_api_docs.sh
  scripts/generate_api_docs.sh
  yarn.lock
Labels: add to changelog, area/frontend, area/grafana/ui, type/docs

#22418 Fix: Added missing "remove"-icon for light theme.
  public/img/icons_light_theme/icon_remove.svg
Labels: area/grafana/ui, type/bug

#22316 Fix: prevent storybook form crashing when all values are removed in multiselect.
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
Labels: area/grafana/ui, type/bug

#22414 Grafana-UI: update date picker
  packages/grafana-ui/src/components/TimePicker/TimeOfDayPicker.tsx
Labels: area/frontend, area/grafana/ui

#22435 Form: Allow default values updates
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Form.tsx
Labels: area/frontend

#22412 Documentation: Specify usage of datasource whitelist
  docs/sources/installation/configuration.md
Labels: area/backend, pr/external, type/docs

#19928 pkg/api/pluginproxy: Access token provider should handle access tokens without ExpiresOn field
  pkg/api/pluginproxy/access_token_provider.go
  pkg/api/pluginproxy/access_token_provider_test.go
Labels: area/backend, area/plugins, pr/external

#22450 Toolkit: add junit reporting and jest.config.js to plugin build
  packages/grafana-toolkit/src/cli/tasks/plugin/tests.ts
  packages/grafana-toolkit/src/cli/tasks/toolkit.build.ts
  packages/grafana-toolkit/src/config/jest.plugin.config.local.js
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
Labels: area/grafana/toolkit

#22475 Optimized package.json files
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e/README.md
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
Labels: effort/small

#21338 Alerting: Fixed the issue/bug of diff and percent_diff functions *Breaking change*
  pkg/services/alerting/conditions/reducer.go
  pkg/services/alerting/conditions/reducer_test.go
  public/app/features/alerting/state/alertDef.ts
Labels: area/alerting, area/backend, pr/external

#22245 Panel inspect: Horizontal scrolling in Data table
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/Table/utils.ts
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
Labels: area/panel/infrastructure

#22487 Grafana UI: Add missing argument to Table utils test
  packages/grafana-ui/src/components/Table/utils.test.ts
Labels: area/grafana/ui

#19416 Dashboard: Adds support for a global minimum dashboard refresh interval
  conf/defaults.ini
  conf/sample.ini
  docs/sources/installation/configuration.md
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
  pkg/api/dashboard.go
  pkg/api/frontendsettings.go
  pkg/models/dashboards.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/services/sqlstore/dashboard.go
  pkg/setting/setting.go
  public/app/core/services/context_srv.ts
  public/app/features/dashboard/components/DashNav/DashNavTimeControls.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/test/specs/helpers.ts
Labels: add to changelog, area/frontend, pr/external

#22496 Fix Dockerfile lint errors
  Dockerfile
  Dockerfile.ubuntu
Labels: area/docker, area/frontend, area/provisioning, effort/small

#22490 Grafana-UI: add storysource addon to Storybook
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  yarn.lock
Labels: area/frontend, area/grafana/ui

#22499 Chore: Avoid aliasing imports in services
  pkg/services/cleanup/cleanup.go
  pkg/services/datasources/cache.go
  pkg/services/guardian/guardian.go
  pkg/services/guardian/guardian_test.go
  pkg/services/guardian/guardian_util_test.go
  pkg/services/ldap/settings.go
  pkg/services/notifications/codes.go
  pkg/services/notifications/codes_test.go
  pkg/services/notifications/email.go
  pkg/services/notifications/notifications.go
  pkg/services/notifications/notifications_test.go
  pkg/services/notifications/send_email_integration_test.go
  pkg/services/provisioning/notifiers/config_reader.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/quota/quota.go
  pkg/services/sqlstore/alert.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_test.go
  pkg/services/sqlstore/dashboard_acl.go
  pkg/services/sqlstore/dashboard_acl_test.go
  pkg/services/sqlstore/dashboard_snapshot.go
  pkg/services/sqlstore/dashboard_snapshot_test.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/dashboard_version.go
  pkg/services/sqlstore/dashboard_version_test.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/health.go
  pkg/services/sqlstore/login_attempt.go
  pkg/services/sqlstore/login_attempt_test.go
  pkg/services/sqlstore/org.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/org_users.go
  pkg/services/sqlstore/playlist.go
  pkg/services/sqlstore/playlist_test.go
  pkg/services/sqlstore/plugin_setting.go
  pkg/services/sqlstore/preferences.go
  pkg/services/sqlstore/quota.go
  pkg/services/sqlstore/quota_test.go
  pkg/services/sqlstore/search_builder.go
  pkg/services/sqlstore/search_builder_test.go
  pkg/services/sqlstore/sql_test_data.go
  pkg/services/sqlstore/sqlbuilder.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/star.go
  pkg/services/sqlstore/stars_test.go
  pkg/services/sqlstore/stats.go
  pkg/services/sqlstore/temp_user.go
  pkg/services/sqlstore/temp_user_test.go
  pkg/services/sqlstore/user_auth_test.go
  pkg/services/teamguardian/team.go
  pkg/services/teamguardian/teams_test.go
Labels: area/backend
