Repository grafana/grafana, pull requests merged in 2020-10, with the labels that each got.

#27829 Variables: Adds support for key/value mapping in Custom variable
  docs/sources/variables/variable-types/add-custom-variable.md
  public/app/features/variables/custom/CustomVariableEditor.tsx
  public/app/features/variables/custom/reducer.test.ts
  public/app/features/variables/custom/reducer.ts
Labels: add to changelog, area/dashboard/templating, pr/external

#27926 DashboardLinks: values in links are updated when variables change
  devenv/dev-dashboards/feature-templating/templating-dashboard-links-and-variables.json
  e2e/suite1/specs/templating-dashboard-links-and-variables.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.tsx
Labels: add to changelog, area/dashboard/links, area/dashboard/templating, cherry-pick needed, type/bug

#27949 Drone: Upgrade build pipeline tool
  .circleci/config.yml
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
Labels: type/bug, type/build-packaging

#27951 Plugins: Fix loading of backend plugins
  pkg/infra/metrics/metrics.go
  pkg/infra/metrics/metricutil/utils.go
  pkg/infra/metrics/metricutil/utils_test.go
  pkg/models/datasource_cache.go
Labels: area/backend, area/instrumentation, cherry-pick needed

#27724 grafana/toolkit: expose Jest maxWorkers arg for plugin test & build tasks
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/tests.ts
  scripts/webpack/webpack.dev.js
Labels: add to changelog, area/grafana/toolkit

#27753 Explore: Remove ui params from url
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/explore.ts
  packages/grafana-data/src/utils/dataLinks.test.ts
  packages/grafana-data/src/utils/dataLinks.ts
  packages/grafana-data/src/utils/url.ts
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/core/utils/richHistory.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/links.test.ts
  public/app/types/explore.ts
Labels: area/explore

#27954 Loki: Update refId for instant queries
  public/app/plugins/datasource/loki/datasource.ts
Labels: cherry-pick needed, datasource/Loki, type/bug

#27955 Drone: Don't use npx
  scripts/circle-release-next-packages.sh
Labels: type/build-packaging, type/chore

#27737 Prometheus: refactor to DataFrame
  packages/grafana-runtime/src/services/backendSrv.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/metric_find_query.d.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: datasource/Prometheus, type/chore

#27966 Chore: Remove loki version hack in explore
  packages/grafana-data/src/types/datasource.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
  public/app/types/explore.ts
Labels: area/explore, type/chore

#27965 Drone: Fix releasing of next NPM packages
  .circleci/config.yml
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/circle-release-next-packages.sh
  scripts/lib.star
Labels: area/frontend, type/bug, type/build-packaging

#27978 Build: skipping verification of clean workspace when publishing next frontend packages.
  scripts/circle-release-next-packages.sh
Labels: type/bug

#27735 Chore: Remove angular dependency from data sources
  public/app/core/filters/filters.ts
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/utils.ts
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderCorner.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/features/dashboard/utils/panel.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/variableQueryEditorLoader.tsx
  public/app/features/templating/all.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/datasource/actions.ts
  public/app/features/variables/interval/actions.ts
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/actions.ts
  public/app/features/variables/state/actions.ts
  public/app/plugins/datasource/cloud-monitoring/annotations_query_ctrl.ts
  public/app/plugins/datasource/cloud-monitoring/components/AlignmentPeriods.tsx
  public/app/plugins/datasource/cloud-monitoring/components/AnnotationQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/Metrics.tsx
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
  public/app/plugins/datasource/cloud-monitoring/functions.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/query_parameter_ctrl.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/annotations_query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana/datasource.test.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/query_ctrl.ts
  public/app/plugins/datasource/influxdb/specs/datasource.test.ts
  public/app/plugins/datasource/jaeger/datasource.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/mysql/mysql_query.ts
  public/app/plugins/datasource/mysql/query_ctrl.ts
  public/app/plugins/datasource/opentsdb/datasource.ts
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/postgres_query.ts
  public/app/plugins/datasource/postgres/query_ctrl.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/datasource/testdata/datasource.ts
  public/app/plugins/panel/table-old/renderer.ts
  public/app/types/plugins.ts
Labels: type/chore

#27979 Build: restoring temporary commit so we can get lerna to publish the frontend packages.
  scripts/circle-release-next-packages.sh
Labels: type/bug

#27917 Variables: Adds loading state and indicators
  e2e/suite1/specs/queryVariableCrud.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-e2e/src/flows/addDashboard.ts
  public/app/features/variables/adhoc/adapter.ts
  public/app/features/variables/adhoc/reducer.ts
  public/app/features/variables/constant/actions.test.ts
  public/app/features/variables/constant/adapter.ts
  public/app/features/variables/constant/reducer.ts
  public/app/features/variables/custom/actions.test.ts
  public/app/features/variables/custom/adapter.ts
  public/app/features/variables/custom/reducer.ts
  public/app/features/variables/datasource/adapter.ts
  public/app/features/variables/datasource/reducer.ts
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/editor/actions.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/interval/actions.ts
  public/app/features/variables/interval/adapter.ts
  public/app/features/variables/interval/reducer.ts
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/shared/VariableLink.tsx
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/query/adapter.ts
  public/app/features/variables/query/reducer.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
  public/app/features/variables/state/processVariable.test.ts
  public/app/features/variables/state/reducers.test.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
  public/app/features/variables/system/adapter.ts
  public/app/features/variables/textbox/TextBoxVariablePicker.tsx
  public/app/features/variables/textbox/adapter.ts
  public/app/features/variables/textbox/reducer.ts
  public/app/features/variables/types.ts
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/test/core/utils/silenceConsoleOutput.ts
Labels: add to changelog, area/dashboard/templating, type/chore

#27981 Healthchecks should not be rejected due to domain enforcement checks.
  pkg/api/api.go
  pkg/api/http_server.go
Labels: add to changelog, area/backend, area/instrumentation, cherry-pick needed

#27985 Test: Create unit test to SplitEmails
  pkg/util/split_email_test.go
Labels: area/backend, pr/external, type/chore

#27980 Storybook: Fix checkbox spacing
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
Labels: Hacktoberfest, area/grafana/ui, pr/external

#28002 Settings: Rename constants/variables to follow Go naming standards
  pkg/api/common.go
  pkg/api/frontendsettings.go
  pkg/api/http_server.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/middleware/recovery.go
  pkg/middleware/recovery_test.go
  pkg/models/context.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/services/auth/auth_token.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/setting/setting.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/sqleng/sql_engine.go
Labels: area/backend, type/chore

#27915 @grafana/toolkit: avoid race conditions
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/tasks/package.build.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/bundle.managed.ts
  packages/grafana-toolkit/src/cli/utils/cwd.ts
Labels: area/grafana/toolkit, area/grafana/ui

#28003 Cloudwatch: Convert go convey tests to standard test library
  pkg/tsdb/cloudwatch/cloudwatch_query_test.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/query_transformer_test.go
  pkg/tsdb/cloudwatch/request_parser_test.go
  pkg/tsdb/cloudwatch/response_parser_test.go
Labels: area/backend, pr/external, type/chore

#27994 UserPicker: replace legacy AsyncSelect
  public/app/core/components/Select/UserPicker.tsx
Labels: area/frontend

#28004 Fix errors in grafana-ui's storybook files
  .eslintrc
  packages/grafana-ui/src/components/FileUpload/FileUpload.story.tsx
  packages/grafana-ui/src/components/Forms/Checkbox.story.tsx
  packages/grafana-ui/src/components/Forms/Field.story.tsx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.story.internal.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.story.tsx
  packages/grafana-ui/src/components/Icon/Icon.story.tsx
  packages/grafana-ui/src/components/IconButton/IconButton.story.tsx
  packages/grafana-ui/src/components/Input/Input.story.tsx
  packages/grafana-ui/src/components/Modal/Modal.story.tsx
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Switch/Switch.story.tsx
Labels: area/storybook, type/chore

#27909 Stackdriver: fix project name change regression
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.tsx
  public/app/plugins/datasource/cloud-monitoring/components/MetricQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/QueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/SLOQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/partials/config.html
Labels: cherry-pick needed, type/bug

#27974 Loki: Run instant query only in Explore
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: add to changelog, cherry-pick needed, datasource/Loki, type/bug

#28031 Fixed row display in table
  docs/sources/installation/docker.md
Labels: pr/external, type/docs

#27970 Plugins: Let descendant plugins inherit their root's signature
  pkg/plugins/app_plugin.go
  pkg/plugins/datasource_plugin.go
  pkg/plugins/manifest.go
  pkg/plugins/models.go
  pkg/plugins/panel_plugin.go
  pkg/plugins/plugins.go
  pkg/plugins/renderer_plugin.go
  pkg/plugins/transform_plugin.go
Labels: add to changelog, area/backend/plugins, type/bug

#28025 Registry: Fix service shutdown mode trigger location
  pkg/server/server.go
Labels: Hacktoberfest, area/backend, pr/external, type/bug

#28030 Docs: Added $__rate_interval to Prometheus help
  docs/sources/features/datasources/prometheus.md
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: datasource/Prometheus, type/docs

#27907 Toolkit: implement plugin signing in grafana-toolkit
  packages/grafana-toolkit/README.md
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.sign.ts
  packages/grafana-toolkit/src/plugins/manifest.ts
  packages/grafana-toolkit/src/plugins/types.ts
Labels: area/plugins

#27963 FieldDisplayName: Make field display names unique if field name exists more than once
  packages/grafana-data/src/dataframe/ArrowDataFrame.test.ts
  packages/grafana-data/src/field/fieldState.test.ts
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.ts
Labels: area/transformations

#28008 Cloudwatch: Add support for AWS DirectConnect virtual interface metrics and add missing dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch, pr/external

#27861 @grafana/e2e: timing improvements
  packages/grafana-e2e/src/flows/configurePanel.ts
Labels: area/grafana/e2e, type/e2e

#27584 Transformations: Use Observable
  packages/grafana-data/src/transformations/transformDataFrame.ts
  packages/grafana-data/src/transformations/transformers/append.test.ts
  packages/grafana-data/src/transformations/transformers/append.ts
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/transformations/transformers/ensureColumns.test.ts
  packages/grafana-data/src/transformations/transformers/ensureColumns.ts
  packages/grafana-data/src/transformations/transformers/filter.test.ts
  packages/grafana-data/src/transformations/transformers/filter.ts
  packages/grafana-data/src/transformations/transformers/filterByName.test.ts
  packages/grafana-data/src/transformations/transformers/filterByName.ts
  packages/grafana-data/src/transformations/transformers/filterByRefId.test.ts
  packages/grafana-data/src/transformations/transformers/filterByRefId.ts
  packages/grafana-data/src/transformations/transformers/groupBy.test.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.test.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  packages/grafana-data/src/transformations/transformers/merge.test.ts
  packages/grafana-data/src/transformations/transformers/merge.ts
  packages/grafana-data/src/transformations/transformers/noop.ts
  packages/grafana-data/src/transformations/transformers/order.test.ts
  packages/grafana-data/src/transformations/transformers/order.ts
  packages/grafana-data/src/transformations/transformers/organize.test.ts
  packages/grafana-data/src/transformations/transformers/organize.ts
  packages/grafana-data/src/transformations/transformers/reduce.test.ts
  packages/grafana-data/src/transformations/transformers/reduce.ts
  packages/grafana-data/src/transformations/transformers/rename.test.ts
  packages/grafana-data/src/transformations/transformers/rename.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.ts
  packages/grafana-data/src/transformations/transformers/seriesToRows.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToRows.ts
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/types/transformations.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-data/src/utils/tests/observableTester.ts
  public/app/core/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  public/app/features/annotations/annotations_srv.ts
  public/app/features/annotations/standardAnnotationSupport.test.ts
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationEditor.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRows.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/dashboard/components/TransformationsEditor/types.ts
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/ResultProcessor.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
  public/app/plugins/panel/graph3/utils.ts
  public/app/types/explore.ts
Labels: area/transformations, pr/early-feedback

#28029 Security: Add codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: area/security, type/chore

#27972 Graph NG: annotations display
  devenv/dev-dashboards/panel-graph/graph-ng.json
  packages/grafana-ui/src/components/Chart/TooltipContainer.tsx
  packages/grafana-ui/src/components/Tags/Tag.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/hooks.ts
  packages/grafana-ui/src/components/uPlot/plugins/ContextMenuPlugin.tsx
  packages/grafana-ui/src/components/uPlot/plugins/LegendPlugin.tsx
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
  public/app/plugins/panel/graph3/plugins/AnnotationMarker.tsx
  public/app/plugins/panel/graph3/plugins/AnnotationsPlugin.tsx
Labels: area/panel/graph

#27449 Chore: Convert CloudWatch metrics to data frames
  pkg/tsdb/cloudwatch/get_metric_data_executor.go
  pkg/tsdb/cloudwatch/get_metric_data_executor_test.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/query_transformer.go
  pkg/tsdb/cloudwatch/request_parser.go
  pkg/tsdb/cloudwatch/request_parser_test.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
  pkg/tsdb/cloudwatch/types.go
  pkg/tsdb/models.go
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: area/backend, area/datasource/backend, area/datasource/frontend, area/frontend, datasource/CloudWatch

#28061 CloudWatch: Add missing TransitGateway dimension
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: Hacktoberfest, area/backend, datasource/CloudWatch, type/bug

#28040 Cloudwatch: Adding support for Amazon ElastiCache Redis metrics.
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, pr/external, type/chore

#28064 Elasticsearch: Fix ad-hoc filter support for Raw Data query and new table panel
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
Labels: add to changelog, cherry-pick needed, type/bug

#27858 Grafana-UI: Form elements fixes
  packages/grafana-ui/src/components/Forms/Form.tsx
  packages/grafana-ui/src/components/Forms/InlineField.tsx
  packages/grafana-ui/src/components/Forms/InlineLabel.tsx
Labels: area/grafana/ui

#28074 Fix typos
  ISSUE_TRIAGE.md
  devenv/docker/blocks/elastic6/filebeat.yml
  devenv/docker/blocks/elastic7/filebeat.yml
  devenv/docker/blocks/influxdb/telegraf.conf
  devenv/docker/loadtest/README.md
  devenv/docker/loadtest/annotations_by_tag_test.js
  devenv/docker/loadtest/auth_token_slow_test.js
  devenv/docker/loadtest/auth_token_test.js
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  packages/grafana-data/src/types/live.ts
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/Positions.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/index.tsx
  packages/jaeger-ui-components/src/Tween.test.js
  pkg/services/sqlstore/annotation_cleanup_test.go
  public/app/core/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/runRequest.test.ts
  public/app/features/dashboard/state/runRequest.ts
  public/app/features/explore/slate-plugins/prism/index.tsx
  public/app/features/live/dashboard/dashboardWatcher.ts
  public/app/features/templating/formatRegistry.ts
  public/app/plugins/datasource/cloud-monitoring/specs/datasource.test.ts
  public/app/plugins/datasource/influxdb/components/FluxQueryEditor.tsx
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/testdata/TestInfoTab.tsx
  public/app/plugins/panel/text/TextPanel.tsx
  public/vendor/flot/jquery.flot.fillbelow.js
  public/vendor/tagsinput/bootstrap-tagsinput.js
Labels: pr/external, type/chore

#28083 Drone: Add release pipelines
  .circleci/config.yml
  .drone.star
  .drone.yml
  scripts/circle-release-next-packages.sh
  scripts/lib.star
  scripts/master.star
  scripts/pr.star
  scripts/release.star
Labels: type/build-packaging, type/chore

#28084 Drone: Fix release pipelines
  .drone.yml
  scripts/lib.star
Labels: type/bug, type/build-packaging

#28069 CloudWatch: Adding support for additional Amazon CloudFront metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: Hacktoberfest, area/backend, datasource/CloudWatch, pr/external

#28092 @grafana/toolkit: fix plugin test errors with react-testing-library
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
  yarn.lock
Labels: area/grafana/toolkit, area/plugins

#28102 Drone: Fix test-release pipeline
  .drone.yml
  scripts/lib.star
Labels: type/bug, type/build-packaging

#28086 Bugfix: improved the way of checking if browser supports Intl.DateTimeFormat
  packages/grafana-data/src/datetime/formats.ts
Labels: area/frontend, cherry-pick needed, type/bug

#27552 Auth: Add Sigv4 auth option to datasources
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.mdx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/SigV4AuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/types.ts
  pkg/api/frontendsettings.go
  pkg/models/datasource_cache.go
  pkg/models/datasource_cache_test.go
  pkg/models/sigv4.go
  pkg/setting/setting.go
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
Labels: area/backend, area/backend/auth, area/datasource/backend, type/feature

#27945 Elasticsearch: Support multiple pipeline aggregations for a query
  public/app/plugins/datasource/elasticsearch/metric_agg.ts
  public/app/plugins/datasource/elasticsearch/query_def.ts
  public/app/plugins/datasource/elasticsearch/specs/query_def.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: datasource/Elasticsearch, pr/external, type/feature

#28115 Fix: Ensure Notification types loaded before loading notification channel
  public/app/features/alerting/EditNotificationChannelPage.tsx
  public/app/features/alerting/state/actions.ts
Labels: area/alerting/notifications

#28116 Table: don't format React components values
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
Labels: area/panel/table

#27995 SAML Single Logout
  docs/sources/enterprise/saml.md
  go.mod
  pkg/api/login.go
  pkg/extensions/main.go
  pkg/setting/setting.go
Labels: area/backend/auth

#28112 Variables: hides dropdown before refreshing starts
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
Labels: area/dashboard/templating

#28039 FieldColor: Adds new standard color option for color
  docs/sources/panels/field-options/standard-field-options.md
  packages/grafana-data/package.json
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/fieldColor.test.ts
  packages/grafana-data/src/field/fieldColor.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/index.ts
  packages/grafana-data/src/field/scale.test.ts
  packages/grafana-data/src/field/scale.ts
  packages/grafana-data/src/field/thresholds.test.ts
  packages/grafana-data/src/field/thresholds.ts
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-data/src/types/fieldColor.ts
  packages/grafana-data/src/utils/namedColorsPalette.ts
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  packages/grafana-ui/src/components/BarGauge/__snapshots__/BarGauge.test.tsx.snap
  packages/grafana-ui/src/components/Forms/Field.tsx
  packages/grafana-ui/src/components/Graph/Graph.story.tsx
  packages/grafana-ui/src/components/Graph/Graph.test.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.story.tsx
  packages/grafana-ui/src/components/Graph/utils.test.ts
  packages/grafana-ui/src/components/OptionsUI/color.tsx
  packages/grafana-ui/src/components/OptionsUI/fieldColor.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Select/SelectOptionGroup.tsx
  packages/grafana-ui/src/components/Select/types.ts
  packages/grafana-ui/src/components/SingleStatShared/SingleStatBaseOptions.ts
  packages/grafana-ui/src/utils/standardEditors.tsx
  public/app/features/explore/utils/decorators.test.ts
  public/app/plugins/panel/graph2/getGraphSeriesModel.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
  public/app/plugins/panel/graph3/module.tsx
  yarn.lock
Labels: add to changelog

#27284 Panel Inspect: Allow CSV download for Excel
  docs/sources/panels/inspect-panel.md
  packages/grafana-data/src/utils/csv.test.ts
  packages/grafana-data/src/utils/csv.ts
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
Labels: add to changelog, area/panel/table, pr/external

#28027 Docs: Update Elasticsearch and InfluxDB logs info
  docs/sources/features/datasources/elasticsearch.md
  docs/sources/features/datasources/influxdb.md
Labels: pr/external, type/docs

#28126 AzureMonitor: pass through null values instead of setting 0
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/types.go
Labels: add to changelog, area/backend, area/datasource/backend, datasource/Azure, datasource/Azure/Monitor

#28085 Alerting: Add labels to name when converting data frame to series
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
  pkg/tsdb/frame_util.go
  pkg/tsdb/frame_util_test.go
Labels: area/alerting, area/dataframe

#28128 Explore: Fix showing of Prometheus data in Query inspector
  packages/grafana-ui/src/components/Tabs/Tab.tsx
  public/app/features/explore/ExploreQueryInspector.test.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
Labels: datasource/Prometheus, type/bug

#28136 Add docs for IconButton
  packages/grafana-ui/src/components/IconButton/IconButton.mdx
  packages/grafana-ui/src/components/IconButton/IconButton.story.tsx
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
Labels: area/grafana/ui, area/storybook, type/docs

#28143 Docs: Pagination component
  packages/grafana-ui/src/components/Pagination/Pagination.mdx
  packages/grafana-ui/src/components/Pagination/Pagination.tsx
Labels: area/grafana/ui

#28147 Backend: use latest plugin sdk (v0.78.0)
  go.mod
  go.sum
Labels: area/backend

#28144 Docs: Update Permissions documentation
  docs/sources/enterprise/saml.md
  docs/sources/getting-started/getting-started.md
  docs/sources/getting-started/what-is-grafana.md
  docs/sources/manage-users/_index.md
  docs/sources/menu.yaml
  docs/sources/permissions/_index.md
  docs/sources/permissions/dashboard_folder_permissions.md
  docs/sources/permissions/datasource_permissions.md
  docs/sources/permissions/grant-dashboard-and-folder-permissions.md
  docs/sources/permissions/organization_roles.md
  docs/sources/permissions/overview.md
Labels: type/docs

#28168 Chore: Upgrade Node to 12.19.0
  Dockerfile
  Dockerfile.ubuntu
  package.json
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-e2e/Dockerfile
Labels: area/frontend, type/build-packaging, type/chore

#28177 Grammar correction
  docs/sources/developers/plugins/data-frames.md
Labels: pr/external, type/docs

#28178 grafana-toolkit: Remove stale reference to grafana-build-container
  packages/grafana-toolkit/src/cli/tasks/nodeVersionChecker.ts
Labels: area/frontend, type/build-packaging, type/chore

#28179 Grammar correction
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
Labels: pr/external, type/docs

#27814 Docs: Add Storybook docs for BigValue
  packages/grafana-ui/src/components/BigValue/BigValue.mdx
  packages/grafana-ui/src/components/BigValue/BigValue.story.tsx
  packages/grafana-ui/src/components/BigValue/BigValue.tsx
Labels: area/grafana/ui, type/docs

#28185 Grammar correction
  docs/sources/developers/plugins/migration-guide.md
Labels: pr/external, type/docs

#27841 Fix: Add additional settings for dataproxy to help with network proxy timeouts
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/models/datasource_cache.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend, pr/external

#28171 TemplateSrv: Fix interpolating strings with object variables
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Labels: type/bug

#28192 Cloud monitoring: Add REDUCE_MEAN reducer for cumulative metrics
  public/app/plugins/datasource/cloud-monitoring/components/Aggregations.test.tsx
  public/app/plugins/datasource/cloud-monitoring/constants.ts
Labels: datasource/Stackdriver, type/bug

#28180 Azure: Fixes cancellation of requests with different Azure sources
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: add to changelog, datasource/Azure, type/bug

#28195 Datasource: Prefix SigV4 json data keys with sigV4
  packages/grafana-ui/src/components/DataSourceSettings/SigV4AuthSettings.tsx
  pkg/models/datasource_cache.go
Labels: area/backend, area/frontend, datasource/CloudWatch, type/bug

#27922 AlertingNG: POC of evaluator under feature flag.
  docs/sources/administration/configuration.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/api.go
  pkg/api/dtos/ngalert.go
  pkg/api/http_server.go
  pkg/api/ngalert.go
  pkg/models/datasource.go
  pkg/services/ngalert/eval.go
  pkg/setting/setting.go
  pkg/tsdb/models.go
Labels: area/alerting-ng

#28135 Fix: Dynamically add ShowWhen fields to the form watch
  public/app/features/alerting/components/NotificationChannelForm.tsx
Labels: area/alerting/notifications, cherry-pick needed

#28129 Snapshots: Store dashboard data encrypted in the database
  pkg/api/api.go
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/components/securedata/securedata.go
  pkg/models/dashboard_snapshot.go
  pkg/services/sqlstore/dashboard_snapshot.go
  pkg/services/sqlstore/dashboard_snapshot_test.go
  pkg/services/sqlstore/migrations/dashboard_snapshot_mig.go
Labels: add to changelog, area/backend, area/backend/api, area/dashboard/snapshot, type/chore

#27361 Users: Expire old user invites
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/models/temp_user.go
  pkg/services/cleanup/cleanup.go
  pkg/services/sqlstore/migrations/temp_user.go
  pkg/services/sqlstore/temp_user.go
  pkg/services/sqlstore/temp_user_test.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend, area/backend/user, type/chore

#28166 Database: Adds new indices to alert_notification_state and alert_rule_tag tables
  pkg/services/sqlstore/migrations/alert_mig.go
Labels: Hacktoberfest, area/backend/db/sql, hacktoberfest-accepted, pr/external

#28138 Cloudwatch: Fix regression with profile datasource field
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
Labels: datasource/CloudWatch, type/bug

#28213 Docs: Fix typo in cloud monitoring docs
  docs/sources/datasources/cloudmonitoring.md
Labels: type/bug, type/docs

#28204 Tracing: Add Tempo data source
  docs/sources/datasources/_index.md
  docs/sources/datasources/tempo.md
  docs/sources/menu.yaml
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/datasource/tempo/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/img/tempo_logo.svg
  public/app/plugins/datasource/tempo/module.ts
  public/app/plugins/datasource/tempo/plugin.json
Labels: add to changelog, area/datasource

#28227 Build: handles verify-repos failures correctly
  scripts/verify-repo-update/verify-repos.sh
Labels: type/build-packaging, type/chore

#28221 Azure: Fixes merging of requests with different Azure sources
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: datasource/Azure, type/bug

#28235 NamedColors: Named colors refactors
  packages/grafana-data/src/field/fieldColor.test.ts
  packages/grafana-data/src/field/fieldColor.ts
  packages/grafana-data/src/types/fieldColor.ts
  packages/grafana-data/src/utils/namedColorsPalette.test.ts
  packages/grafana-data/src/utils/namedColorsPalette.ts
  packages/grafana-ui/src/components/Badge/Badge.tsx
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsGroup.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsPalette.story.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsPalette.tsx
  packages/grafana-ui/src/components/ColorPicker/SpectrumPalette.tsx
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
  packages/grafana-ui/src/components/Graph/utils.test.ts
  packages/grafana-ui/src/components/OptionsUI/color.tsx
  packages/grafana-ui/src/components/OptionsUI/fieldColor.tsx
  packages/grafana-ui/src/components/uPlot/geometries/configGetters.ts
  packages/grafana-ui/src/components/uPlot/plugins/LegendPlugin.tsx
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/graph/specs/threshold_manager.test.ts
  public/app/plugins/panel/graph/threshold_manager.ts
  public/app/plugins/panel/graph/time_region_manager.ts
  public/app/plugins/panel/heatmap/color_legend.ts
  public/app/plugins/panel/heatmap/rendering.ts
  public/app/plugins/panel/singlestat/module.ts
  public/app/plugins/panel/table-old/module.ts
  public/app/plugins/panel/table-old/renderer.ts
  public/app/plugins/panel/table-old/specs/renderer.test.ts
Labels: add to changelog, area/grafana/ui

#27884 Loki: LogQL v2 support
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/syntax.test.ts
  public/app/plugins/datasource/loki/syntax.ts
Labels: datasource/Loki

#28241 Chore: Add Windows CI build environment Dockerfile
  scripts/build/ci-build-windows/Dockerfile
  scripts/build/ci-build-windows/Magefile.go
  scripts/build/ci-build-windows/README.md
Labels: type/build-packaging, type/chore

#27409 Dashboard: Allow shortlink generation
  docs/sources/http_api/short_url.md
  pkg/api/api.go
  pkg/api/dtos/short_url.go
  pkg/api/http_server.go
  pkg/api/short_url.go
  pkg/models/shorturl.go
  pkg/services/shorturls/short_url_service.go
  pkg/services/shorturls/short_url_service_test.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/short_url_mig.go
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/dashboard/components/ShareModal/utils.ts
Labels: area/backend, area/dashboard, area/explore, pr/external

#28226 Variables: prevent adhoc filters from crashing when they are not loaded properly
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
  public/app/features/variables/adhoc/urlParser.test.ts
  public/app/features/variables/adhoc/urlParser.ts
Labels: area/dashboard/templating, area/frontend, type/bug

#27813 Docker: OpenShift compatability
  packaging/docker/Dockerfile
  packaging/docker/ubuntu.Dockerfile
Labels: add to changelog, area/docker, type/chore

#28249 Dashboard: Do not allow users without edit permission to a folder to see new dashboard page
  public/app/routes/routes.ts
Labels: add to changelog, area/security, type/bug

#27930 Build: added steps to generate packages api documentation.
  .drone.yml
  package.json
  packages/grafana-ui/src/components/BigValue/BigValue.story.tsx
  scripts/ci-reference-docs-build.sh
  scripts/ci-reference-docs-lint.sh
  scripts/lib.star
  scripts/master.star
  scripts/pr.star
  yarn.lock
Labels: area/frontend, type/build-packaging, type/chore

#28254 Graph: Prevent legend from overflowing container
  public/sass/components/_panel_graph.scss
Labels: add to changelog, area/frontend, area/panel/graph, type/bug

#28256 Gauge: Improve text sizing and support non threshold color modes
  packages/grafana-ui/src/components/Gauge/Gauge.test.tsx
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
Labels: add to changelog

#28250 Dashboard: Fixed issue accessing horizontal table scrollbar when placed at bottom of dashboard
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/sass/pages/_dashboard.scss
Labels: add to changelog, type/bug

#27879 Docs: generate packages docs before syncing to website
  .github/workflows/publish.yml
  package.json
Labels: area/frontend, type/docs

#28257 Variables: Fixes so constants set from url get completed state
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/processVariable.test.ts
Labels: add to changelog, area/dashboard/templating, type/bug

#27875 Transformations: improve the reduce transformer
  packages/grafana-data/src/transformations/matchers/predicates.ts
  packages/grafana-data/src/transformations/transformers/reduce.test.ts
  packages/grafana-data/src/transformations/transformers/reduce.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  public/app/core/components/TransformersUI/ReduceTransformerEditor.tsx
Labels: area/transformations

#28264 Chore: clean up Enterprise feature toggles
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  public/app/features/datasources/state/navModel.ts
Labels: type/chore

#28269 Chore: use new Input component in Share Modal
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
Labels: area/ux

#28261 Docs: Added Hyperlink to annotations
  docs/sources/datasources/loki.md
Labels: type/docs

#28229 Explore: Add link to logs from trace span
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/types/trace.ts
  packages/grafana-data/src/utils/dataLinks.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  public/app/features/alerting/getAlertingValidationMessage.test.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/features/explore/state/actions.ts
  public/app/features/explore/utils/links.test.ts
  public/app/features/explore/utils/links.ts
Labels: area/explore, area/tracing

#28276 BackendSrv: Reloads page instead of redirect on Unauthorized Error
  public/app/core/services/backend_srv.ts
Labels: add to changelog, type/bug

#28251 Grafana-UI: export FieldArray
  packages/grafana-ui/src/components/index.ts
Labels: area/grafana/ui

#28268 Docs: Add What's New 7.3
  docs/sources/datasources/cloudmonitoring.md
  docs/sources/menu.yaml
  docs/sources/whatsnew/whats-new-in-v7-3.md
Labels: type/docs

#28283 Drone: Use DRONE_COMMIT_REF to get release tag
  .drone.yml
  scripts/lib.star
  scripts/release.star
Labels: type/bug, type/build-packaging

#28282 Alerting/Notification channels: Fixed URL for button "Back" if Grafana hosts in sub path
  public/app/features/alerting/components/NotificationChannelForm.tsx
Labels: area/alerting/notifications, pr/external

#28289 Drone: Fix enterprise release pipeline
  .drone.yml
  scripts/lib.star
Labels: type/bug, type/build-packaging

#28291 Chore: Update package.json
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
Labels: type/chore

#28293 Update latest.json with latest beta version
  latest.json
Labels: type/chore

#28284 Jaeger: timeline collapser to show icons
  packages/grafana-ui/src/types/icon.ts
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
Labels: cherry-pick needed, datasource/Jaeger, type/bug

#28309 CloudWatch DataSource: Missing Namespace AWS/EC2CapacityReservations
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, cherry-pick needed, datasource/CloudWatch, type/chore

#28300 API: Fix short URLs
  pkg/api/short_url.go
Labels: add to changelog, area/backend/api, cherry-pick needed, type/bug

#28310 Chore: Add cloud-middleware team as code owners
  .github/CODEOWNERS
Labels: type/chore

#28265 SQLStore: Run tests as integration tests
  pkg/services/sqlstore/alert_notification_test.go
  pkg/services/sqlstore/alert_test.go
  pkg/services/sqlstore/annotation_test.go
  pkg/services/sqlstore/apikey_test.go
  pkg/services/sqlstore/dashboard_acl_test.go
  pkg/services/sqlstore/dashboard_folder_test.go
  pkg/services/sqlstore/dashboard_provisioning_test.go
  pkg/services/sqlstore/dashboard_service_integration_test.go
  pkg/services/sqlstore/dashboard_snapshot_test.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/dashboard_version_test.go
  pkg/services/sqlstore/datasource_test.go
  pkg/services/sqlstore/login_attempt_test.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/playlist_test.go
  pkg/services/sqlstore/preferences_test.go
  pkg/services/sqlstore/quota_test.go
  pkg/services/sqlstore/searchstore/search_test.go
  pkg/services/sqlstore/sqlbuilder_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/sqlstore_test.go
  pkg/services/sqlstore/stars_test.go
  pkg/services/sqlstore/stats_test.go
  pkg/services/sqlstore/tags_test.go
  pkg/services/sqlstore/team_test.go
  pkg/services/sqlstore/temp_user_test.go
  pkg/services/sqlstore/transactions_test.go
  pkg/services/sqlstore/user_auth_test.go
  pkg/services/sqlstore/user_test.go
Labels: cherry-pick needed, type/chore

#28308 Drone: Fix grafana-mixin linting
  .drone.yml
  grafana-mixin/Makefile
  grafana-mixin/scripts/build.sh
  grafana-mixin/scripts/common.sh
  grafana-mixin/scripts/format.sh
  grafana-mixin/scripts/lint.sh
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/lib.star
Labels: cherry-pick needed, type/bug, type/build-packaging

#28306 Mixin: Only ignore the file in the grafana mixin root folder
  grafana-mixin/.gitignore
Labels: type/bug

#28314 Graph: Fix for graph size not taking up full height or width
  public/sass/components/_panel_graph.scss
Labels: area/frontend, area/panel/graph, cherry-pick needed, type/bug

#28290 Graph NG: fix toggling queries and extract Graph component from graph3 panel
  packages/grafana-ui/src/components/GraphNG/GraphNG.test.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/geometries/Axis.tsx
  packages/grafana-ui/src/components/uPlot/hooks.test.ts
  packages/grafana-ui/src/components/uPlot/hooks.ts
  packages/grafana-ui/src/components/uPlot/types.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/graph3/GraphPanel.tsx
  public/app/plugins/panel/graph3/plugins/AnnotationsPlugin.tsx
  public/app/plugins/panel/graph3/plugins/ExemplarsPlugin.tsx
Labels: area/panel/graph

#28299 Drone: Use ${DRONE_TAG} in release pipelines, since it should work
  .drone.yml
  scripts/lib.star
  scripts/release.star
Labels: cherry-pick needed, type/bug, type/build-packaging

#27988 Explore: respect min_refresh_interval
  docs/sources/administration/configuration.md
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/components/DashNav/DashNavTimeControls.tsx
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.test.tsx
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.tsx
  public/app/features/explore/RunButton.test.tsx
  public/app/features/explore/RunButton.tsx
Labels: area/explore, cherry-pick needed, pr/external

#28298 Loki: Base maxDataPoints limits on query type
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/explore, datasource/Loki

#28318 Automation: Add backport github action
  .github/workflows/backport.yml
Labels: type/build-packaging, type/chore

#28323 BackendSrv: Fixes queue countdown when unsubscribe is before response
  public/app/core/services/ResponseQueue.test.ts
  public/app/core/services/ResponseQueue.ts
  public/app/core/services/backend_srv.ts
Labels: add to changelog, cherry-pick needed, type/bug, type/chore

#28320 GraphNG: Use AxisSide enum
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/geometries/types.ts
  packages/grafana-ui/src/components/uPlot/types.ts
  public/app/plugins/panel/graph3/module.tsx
Labels: area/panel/graph

#28137 IssueTriage: Needs more info automation and messages
  .github/commands.json
  CONTRIBUTING.md
  grafana-mixin/dashboards/grafana-overview.json
Labels: type/build-packaging, type/chore, type/docs

#28280 SAML: IdP-initiated SSO docs
  docs/sources/enterprise/saml.md
Labels: area/backend/auth, type/docs

#28325 Loki: Run instant query only when doing metric query
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: datasource/Loki

#28334 AlertingNG: remove warn/crit from eval prototype
  pkg/api/api.go
  pkg/api/dtos/ngalert.go
  pkg/api/ngalert.go
  pkg/services/ngalert/eval.go
Labels: area/alerting-ng, area/backend

#28339 Update auth-proxy.md
  docs/sources/auth/auth-proxy.md
Labels: pr/external, type/docs

#28327 Docs: Add basic docs for ValuePicker
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.mdx
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.story.tsx
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.tsx
Labels: area/grafana/ui, type/docs

#28330 Dashboard links: Places drop down list so it's always visible
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.tsx
Labels: add to changelog, area/dashboard/links, cherry-pick needed, pr/external, type/bug

#28352 Automation: Update backport github action trigger
  .github/workflows/backport.yml
Labels: type/build-packaging, type/chore

#28305 ColorSchemes: Adds more color schemes and text colors that depend on the background
  devenv/dev-dashboards/panel-common/color_modes.json
  e2e/suite1/specs/templating-dashboard-links-and-variables.ts
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/fieldColor.test.ts
  packages/grafana-data/src/field/fieldColor.ts
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.test.tsx
  packages/grafana-data/src/field/scale.test.ts
  packages/grafana-data/src/utils/namedColorsPalette.ts
  packages/grafana-data/src/utils/testdata/testTheme.ts
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  packages/grafana-ui/src/components/BigValue/__snapshots__/BigValue.test.tsx.snap
  packages/grafana-ui/src/components/OptionsUI/fieldColor.tsx
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/utils/colors.ts
  packages/grafana-ui/src/utils/measureText.ts
  public/app/features/panel/panellinks/linkSuppliers.test.ts
  public/app/plugins/panel/table-old/specs/renderer.test.ts
Labels: add to changelog, backport v7.3.x

#28369 Fixed capitalization of 'volumes'
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
Labels: datasource/Azure, datasource/Azure/Monitor

#28355 Instrumentation: Adds environment_info metric
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/infra/metrics/metrics.go
  pkg/server/server.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend, area/instrumentation

#28375 Plugins: Compose filesystem paths with filepath.Join
  pkg/api/dashboard.go
  pkg/api/frontendsettings_test.go
  pkg/api/http_server.go
  pkg/plugins/datasource_plugin.go
  pkg/plugins/frontend_plugin.go
  pkg/plugins/plugins.go
  pkg/plugins/renderer_plugin.go
  pkg/plugins/transform_plugin.go
Labels: area/backend, type/bug

#28376 Add unique ids to query editor fields
  public/app/plugins/datasource/testdata/QueryEditor.tsx
  public/app/plugins/datasource/testdata/components/CSVWaveEditor.tsx
  public/app/plugins/datasource/testdata/components/ManualEntryEditor.tsx
  public/app/plugins/datasource/testdata/components/PredictablePulseEditor.tsx
  public/app/plugins/datasource/testdata/components/RandomWalkEditor.tsx
  public/app/plugins/datasource/testdata/components/StreamingClientEditor.tsx
Labels: area/frontend, cherry-pick needed

#28378 CloudWatch: Adding support for additional Amazon CloudFront metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: backport v7.3.x, datasource/CloudWatch, type/bug

#28164 Docs: Make tables formatting more consistent
  docs/sources/datasources/azuremonitor.md
  docs/sources/datasources/cloudmonitoring.md
  docs/sources/datasources/cloudwatch.md
  docs/sources/datasources/elasticsearch.md
  docs/sources/datasources/graphite.md
  docs/sources/datasources/influxdb.md
  docs/sources/datasources/jaeger.md
  docs/sources/datasources/loki.md
  docs/sources/datasources/mssql.md
  docs/sources/datasources/mysql.md
  docs/sources/datasources/opentsdb.md
  docs/sources/datasources/postgres.md
  docs/sources/datasources/prometheus.md
  docs/sources/datasources/zipkin.md
Labels: hacktoberfest-accepted

#28236 Instrumentation: Add counters and histograms for database queries
  go.mod
  go.sum
  pkg/services/sqlstore/database_wrapper.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend/db, area/instrumentation, backport v7.2.x

#28156 Docs: Add activate-license
  docs/sources/enterprise/_index.md
  docs/sources/enterprise/activate-license.md
  docs/sources/menu.yaml
Labels: type/docs

#28374 Webpack: Split out unicons and bizcharts
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  scripts/webpack/webpack.common.js
Labels: type/performance

#28379 Component/NewsPanel: Add rel="noopener" to NewsPanel links
  public/app/plugins/panel/news/NewsPanel.tsx
Labels: type/chore

#28286 OAuth: configurable user name attribute
  conf/defaults.ini
  conf/sample.ini
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
  pkg/login/social/social.go
Labels: add to changelog, area/backend/auth/oauth, cherry-pick needed, type/feature-request

#28387 Instrumentation: Remove status label from database duration histogram
  pkg/services/sqlstore/database_wrapper.go
Labels: area/instrumentation, cherry-pick needed

#28364 Instrumentation: Add histogram for request duration
  pkg/middleware/request_metrics.go
  pkg/server/server.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend, area/instrumentation, cherry-pick needed

#28253 Docs: Adds basic frontend data request concepts
  contribute/architecture/README.md
  contribute/architecture/frontend-data-requests.md
Labels: type/docs

#28391 CloudWatch: Fix custom metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, cherry-pick needed, datasource/CloudWatch, type/bug
