Repository grafana/grafana, pull requests merged in 2020-06, with the labels that each got.

#25148 Explore: Fix very narrow Query fields on mobile
  public/app/plugins/datasource/loki/components/LokiExploreExtraField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreExtraField.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreExtraField.test.tsx.snap
  public/sass/components/_gf-form.scss
  public/sass/components/_slate_editor.scss
  public/sass/pages/_explore.scss
Labels: area/mobile-support, datasource/Loki, datasource/Prometheus

#25215 CircleCI: Upgrade to Go 1.14.3 and Node 12.17.0
  .circleci/config.yml
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
Labels: type/build-packaging, type/chore

#25203 @grafana/e2e: screenshots and panel flow
  packages/grafana-e2e/cli.js
  packages/grafana-e2e/cypress/fixtures/example.json
  packages/grafana-e2e/cypress/plugins/compareScreenshots.js
  packages/grafana-e2e/cypress/plugins/compareSnapshots.js
  packages/grafana-e2e/cypress/plugins/extendConfig.js
  packages/grafana-e2e/cypress/plugins/index.js
  packages/grafana-e2e/cypress/support/commands.ts
  packages/grafana-e2e/package.json
  packages/grafana-e2e/src/flows/addPanel.ts
  yarn.lock
Labels: area/grafana/e2e, type/e2e

#25119 Variables: fix so the variable picker will remember selected options between filtering
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
  public/app/features/variables/pickers/shared/VariableInput.tsx
Labels: area/dashboard/templating, area/frontend, cherry-pick needed, type/bug

#25241 Chore: Fix various spelling errors in back-end code
  pkg/README.md
  pkg/api/admin_provisioning.go
  pkg/api/api.go
  pkg/api/folder_permission_test.go
  pkg/api/index.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/bus/bus.go
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords.go
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords_test.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command_test.go
  pkg/components/null/float.go
  pkg/infra/metrics/graphitebridge/graphite.go
  pkg/infra/metrics/metrics.go
  pkg/infra/serverlock/serverlock.go
  pkg/login/grafana_login_test.go
  pkg/login/social/generic_oauth_test.go
  pkg/middleware/request_metrics.go
  pkg/models/alert_test.go
  pkg/models/dashboards.go
  pkg/models/datasource_cache_test.go
  pkg/models/notifications.go
  pkg/plugins/backend_utils.go
  pkg/plugins/dashboards_test.go
  pkg/plugins/datasource_plugin.go
  pkg/plugins/renderer_plugin.go
  pkg/plugins/transform_plugin.go
  pkg/services/alerting/alerting_usage_test.go
  pkg/services/alerting/conditions/evaluator.go
  pkg/services/alerting/conditions/evaluator_test.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/conditions/reducer.go
  pkg/services/alerting/eval_handler_test.go
  pkg/services/alerting/models.go
  pkg/services/alerting/notifier_test.go
  pkg/services/alerting/notifiers/base.go
  pkg/services/alerting/notifiers/base_test.go
  pkg/services/alerting/notifiers/email.go
  pkg/services/alerting/rule.go
  pkg/services/guardian/guardian_test.go
  pkg/services/ldap/ldap.go
  pkg/services/ldap/ldap_login_test.go
  pkg/services/notifications/email.go
  pkg/services/notifications/mailer.go
  pkg/services/notifications/notifications.go
  pkg/services/notifications/send_email_integration_test.go
  pkg/services/provisioning/dashboards/file_reader_linux_test.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/provisioning/values/values.go
  pkg/services/sqlstore/quota_test.go
  pkg/tsdb/influxdb/model_parser_test.go
  pkg/tsdb/influxdb/response_parser.go
  pkg/tsdb/influxdb/response_parser_test.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/prometheus/prometheus_test.go
  pkg/tsdb/testdatasource/scenarios.go
Labels: area/backend, type/chore

#25123 Azure Monitor: Change response to be dataframes
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  public/app/features/dashboard/state/runRequest.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: area/backend, area/dataframe, datasource/Azure Monitor

#25269 @grafana/e2e: improvements and dumb fixes for #25203
  packages/grafana-e2e/cypress/plugins/compareScreenshots.js
  packages/grafana-e2e/cypress/support/commands.ts
  packages/grafana-e2e/cypress/support/index.d.ts
  packages/grafana-e2e/cypress/support/index.ts
Labels: area/grafana/e2e, type/e2e

#25272 CircleCI: Fix builds of forked PRs
  .circleci/config.yml
Labels: type/bug, type/build-packaging

#24820 Elasticsearch: Adds cumulative sum aggregation support
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_compare.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v2.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v5.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v6.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v6_filebeat.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v7.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v7_filebeat.json
  pkg/tsdb/elasticsearch/models.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
  public/app/plugins/datasource/elasticsearch/partials/metric_agg.html
  public/app/plugins/datasource/elasticsearch/query_def.ts
  public/app/plugins/datasource/elasticsearch/specs/query_def.test.ts
Labels: add to changelog, area/backend, area/frontend, datasource/Elasticsearch, pr/external

#25256 Search: uncheck dashboards after moved
  public/app/features/search/reducers/manageDashboards.ts
Labels: area/search

#23378 Templating: Add bult in __user {name, id, login, email} variable to templating system
  public/app/core/services/context_srv.ts
  public/app/features/templating/variable_srv.ts
  public/app/features/variables/state/actions.ts
Labels: add to changelog, area/dashboard/templating, area/frontend, pr/external

#25276 release_publisher: Fix Debian/RPM naming
  scripts/build/release_publisher/externalrelease.go
  scripts/build/release_publisher/main.go
  scripts/build/release_publisher/publisher.go
  scripts/build/release_publisher/publisher_test.go
Labels: cherry-pick needed, type/bug, type/build-packaging

#25275 Variable: removed __user.name/___.user.email from global variables and added docs for the rest of the __user variable.
  docs/sources/variables/global-variables.md
  public/app/core/services/context_srv.ts
  public/app/features/templating/variable_srv.ts
  public/app/features/variables/state/actions.ts
Labels: area/dashboard/templating, type/docs

#25285 Do not show alerts tab when alerting is disabled
  public/app/features/dashboard/components/PanelEditor/state/selectors.test.ts
  public/app/features/dashboard/components/PanelEditor/state/selectors.ts
Labels: add to changelog, area/frontend, cherry-pick needed, type/bug

#24433 Chore: spelling - pkg - excluding api changes
  pkg/services/alerting/notifiers/base.go
Labels: pr/external, type/chore

#25296 e2e: disables variables tests
  e2e/suite1/specs/queryVariableCrud.spec.ts
Labels: area/grafana/e2e

#25302 Alerting: Ignore obsolete notification channels referenced by alerts
  pkg/services/alerting/rule.go
  pkg/services/alerting/rule_test.go
Labels: cherry-pick needed

#25307 @grafana/e2e: improvements
  packages/grafana-e2e/package.json
  packages/grafana-e2e/src/flows/addPanel.ts
  yarn.lock
Labels: area/grafana/e2e, type/e2e

#25304 backend: use latest Go sdk
  go.mod
  go.sum
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/log_query_test.go
Labels: area/backend, area/dataframe

#25303 Alerting: Add confirmation modals for deleting notifier
  public/app/features/alerting/NotificationsEditCtrl.ts
  public/app/features/alerting/NotificationsListPage.tsx
Labels: area/alerting/notifications, area/frontend, cherry-pick needed

#25317 Cloudwatch: Fix dimensions of of DDoSProtection
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: cherry-pick needed

#25217 Variables: change VariableEditorList row action Icon to IconButton
  public/app/features/variables/editor/VariableEditorList.tsx
Labels: add to changelog, area/dashboard/templating, cherry-pick needed

#25221 Docs: Add upgrade note for modification of the cookie path
  docs/sources/installation/configuration.md
  docs/sources/installation/upgrading.md
Labels: type/docs

#25321 Fix active LDAP sync
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend/auth/ldap

#25315 Query Field: Remove unnecessary scrollbar
  public/sass/components/_slate_editor.scss
Labels: area/editor, type/bug

#25333 Chore: updates latest.json to 7.0.3
  latest.json
Labels: type/chore

#25331 Chore: Updates CHANGELOG.md for 7.0.3
  CHANGELOG.md
Labels: type/chore

#25332 Login Form: Fix typo
  public/app/core/components/Login/LoginForm.tsx
Labels: area/frontend

#24438 Chore: spelling - misc
  .gitignore
  ISSUE_TRIAGE.md
  conf/defaults.ini
  conf/sample.ini
  devenv/dev-dashboards-without-uid/panel_tests_graph.json
  devenv/dev-dashboards/panel-common/shared_queries.json
  devenv/dev-dashboards/panel-graph/graph_tests.json
  devenv/dev-dashboards/panel-singlestat/singlestat_test.json
  devenv/docker/blocks/multiple-openldap/entrypoint.sh
  devenv/docker/blocks/openldap/entrypoint.sh
  devenv/setup.sh
  e2e/suite1/specs/inspect-drawer.spec.ts
  e2e/suite1/specs/panelEdit_base.spec.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  packages/grafana-runtime/src/utils/queryResponse.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.utils.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/create.ts
  packages/grafana-toolkit/src/cli/tasks/searchTestDataSetup.ts
  packages/grafana-toolkit/src/config/utils/pluginValidation.test.ts
  packages/jaeger-ui-components/src/selectors/trace.test.js
  packages/jaeger-ui-components/src/utils/DraggableManager/demo/DividerDemo.tsx
  packages/jaeger-ui-components/src/utils/DraggableManager/demo/DraggableManagerDemo.tsx
  public/emails/alert_notification_example.html
  public/test/specs/helpers.ts
Labels: area/frontend, pr/external, type/build-packaging

#25318 Provide correct field scoped vars for data links interpolation
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: area/dashboard/data-links, type/bug

#24430 Variables: enables cancel for slow query variables queries
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/state/actions.ts
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/dashboard/state/reducers.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/reducers.test.ts
  public/app/features/variables/state/reducers.ts
  public/app/features/variables/state/sharedReducer.ts
  public/app/features/variables/state/transactionReducer.test.ts
  public/app/features/variables/state/transactionReducer.ts
  public/app/features/variables/state/variablesReducer.ts
Labels: add to changelog, area/dashboard, area/dashboard/templating, area/frontend, pr/early-feedback

#25249 Explore: updates key and refId reassignment on query row operations in Explore reducer
  public/app/features/explore/state/reducers.test.ts
  public/app/features/explore/state/reducers.ts
Labels: area/explore, type/bug

#25364 Chore: removes unused e2e packages
  package.json
  yarn.lock
Labels: type/chore

#25363 Search: Only move dashboards into expanded folders UI-wise
  public/app/features/search/reducers/manageDashboards.test.ts
  public/app/features/search/reducers/manageDashboards.ts
  public/app/features/search/testData.ts
Labels: area/frontend, area/search, cherry-pick needed

#25348 Grafana UI: Add FieldSet component
  packages/grafana-toolkit/src/cli/templates/component.tsx.template.ts
  packages/grafana-ui/src/components/Forms/FieldSet.mdx
  packages/grafana-ui/src/components/Forms/FieldSet.story.tsx
  packages/grafana-ui/src/components/Forms/FieldSet.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/grafana/ui

#25368 e2e: waits for requests to minimize flakiness
  e2e/suite1/specs/panelEdit_queries.spec.ts
Labels: area/grafana/e2e

#25150 CloudWatch: Added AWS SDKMetrics metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, datasource/CloudWatch, pr/external

#25371 Docs: Fix loadAsyncOptions usage
  packages/grafana-ui/src/components/Select/Select.mdx
Labels: pr/external, type/docs

#24434 Chore: spelling - theme
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
  public/sass/components/_drop.scss
  public/sass/components/_navs.scss
  public/sass/components/_panel_graph.scss
  public/sass/components/_panel_singlestat.scss
  public/sass/components/_toggle_button_group.scss
  public/vendor/flot/jquery.flot.gauge.js
  public/vendor/flot/jquery.flot.selection.js
Labels: area/frontend, pr/external

#25390 e2e: uses e2e() instead of cy to make things consistent
  e2e/suite1/specs/panelEdit_queries.spec.ts
Labels: area/grafana/e2e

#21064 Elasticsearch: Add support for template variable in date histogram min_doc_count
  public/app/plugins/datasource/elasticsearch/partials/bucket_agg.html
Labels: area/frontend, datasource/Elasticsearch, pr/external

#25391 Docs: updates frontend style guides
  contribute/style-guides/frontend.md
Labels: type/docs

#25387 Grafana UI: Document Table props
  packages/grafana-ui/src/components/Table/Table.mdx
Labels: area/frontend, area/grafana/ui

#25297 Azure Monitor: Logs Analytics response to frames
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/azure-log-analytics-table-frame.go
  pkg/tsdb/azuremonitor/azure-log-analytics-table-frame_test.go
  pkg/tsdb/azuremonitor/testdata/loganalytics/7-log-analytics-all-types-table.json
  pkg/tsdb/azuremonitor/types.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: area/dataframe, datasource/Azure Monitor

#25398 Theme: fix scss variable typo
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.light.scss.tmpl.ts
Labels: area/frontend, area/grafana/ui, type/bug

#25424 ValueFormats: Fix byte-format data rates
  packages/grafana-data/src/valueFormats/categories.ts
Labels: area/frontend, pr/external

#25421 TablePanel: Sort numbers correctly
  packages/grafana-ui/src/components/Table/utils.ts
Labels: add to changelog, cherry-pick needed

#25342 @grafana/e2e: improvements
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-e2e/cypress/plugins/index.js
  packages/grafana-e2e/cypress/support/commands.ts
  packages/grafana-e2e/package.json
  packages/grafana-e2e/src/flows/addDashboard.ts
  packages/grafana-e2e/src/flows/addDataSource.ts
  packages/grafana-e2e/src/flows/addPanel.ts
  packages/grafana-e2e/src/flows/deleteDashboard.ts
  packages/grafana-e2e/src/flows/deleteDataSource.ts
  packages/grafana-e2e/src/flows/index.ts
  packages/grafana-e2e/src/flows/saveNewDashboard.ts
  packages/grafana-e2e/src/support/index.ts
  packages/grafana-e2e/src/support/localStorage.ts
  packages/grafana-e2e/src/support/scenario.ts
  packages/grafana-e2e/src/support/scenarioContext.ts
Labels: area/grafana/e2e, type/e2e

#25446 Explore: Replace link with button component
  public/app/features/explore/Logs.tsx
Labels: area/explore, area/ux, type/feature

#25401 Graph: Fix XSS vulnerability with series overrides
  public/app/plugins/datasource/elasticsearch/partials/query.editor.html
  public/app/plugins/datasource/testdata/partials/query.editor.html
  public/app/plugins/panel/graph/series_overrides_ctrl.ts
Labels: area/frontend, area/panel/graph, area/security, datasource/Elasticsearch

#24310 Convert remaining profile bits to React
  public/app/core/angular_wrappers.ts
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
  public/app/core/utils/UserProvider.tsx
  public/app/features/profile/ReactProfileWrapper.tsx
  public/app/features/profile/UserOrganizations.tsx
  public/app/features/profile/UserProfileEdit.tsx
  public/app/features/profile/UserProfileEditForm.tsx
  public/app/features/profile/UserSessions.tsx
  public/app/features/profile/all.ts
  public/app/features/profile/partials/profile.html
  public/app/routes/routes.ts
Labels: area/frontend, type/angular-2-react

#25225 Correcting abbreviation
  docs/sources/auth/azuread.md
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/guides/whats-new-in-v6-3.md
Labels: pr/external, type/docs

#25247 Typo fix
  docs/sources/features/datasources/stackdriver.md
  docs/sources/features/explore/index.md
  docs/sources/guides/whats-new-in-v2.md
Labels: pr/external, type/docs

#24048 CloudWatch: Added AWS WAFV2 metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, pr/external

#24999 Elastic: prevents datasource from throwing unexpected errors for invalid JSON
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
Labels: area/explore, datasource/Elasticsearch

#25195 Table: Support custom date formats via custom unit
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: add to changelog, cherry-pick needed, type/bug

#25467 Table: Adds adhoc filtering
  packages/grafana-ui/src/components/Table/FilterableTableCell.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/types.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TableContainer.test.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/panel/table/TablePanel.tsx
Labels: add to changelog, area/dashboard/templating, area/frontend, area/panel/table

#25500 InfluxDB: adds policy interpolation in InfluxDB queries
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: area/explore, datasource/InfluxDB, type/bug

#25501 Chore: adds core datasources to codeowners
  .github/CODEOWNERS
Labels: type/chore

#25516 Typo: Fix Open dashboard settings button title
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: pr/external

#24182 Update Bitcoin currency to use proper symbol, add mBTC and μBTC
  devenv/dev-dashboards-without-uid/panel_tests_polystat.json
  devenv/dev-dashboards/panel-polystat/polystat_test.json
  packages/grafana-data/src/valueFormats/categories.ts
Labels: area/frontend, cherry-pick needed, pr/external

#25521 Docs: Updated URL for developing plugins
  CONTRIBUTING.md
Labels: type/docs

#24884 Docs: Update guide on authenticating data source plugins
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
  docs/sources/developers/plugins/authentication.md
  docs/sources/developers/plugins/legacy/review-guidelines.md
  docs/sources/http_api/data_source.md
  docs/sources/menu.yaml
Labels: type/docs

#25542 UI/Switch: Makes Switch ID generation more stable
  packages/grafana-ui/src/components/Switch/Switch.tsx
Labels: area/frontend, area/grafana/ui, cherry-pick needed

#25530 Docs: Fix intro to timeseries URL
  docs/sources/developers/plugins/data-frames.md
Labels: type/docs

#25539 Explore: Add tracing switch
  public/app/features/explore/ExploreToolbar.test.tsx
  public/app/features/explore/ExploreToolbar.tsx
Labels: area/explore, area/tracing

#25535 docs: remove racially charged words
  docs/sources/features/datasources/azuremonitor.md
Labels: datasource/Azure Monitor, type/docs

#25495 Security: Use Header.Set and Header.Del for X-Grafana-User header
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/utils.go
Labels: add to changelog, area/security, cherry-pick needed, type/bug

#25497 @grafana/e2e: improvements
  packages/grafana-e2e/cypress/plugins/extendConfig.js
  packages/grafana-e2e/src/flows/addPanel.ts
  packages/grafana-e2e/src/flows/deleteDashboard.ts
  packages/grafana-e2e/src/flows/deleteDataSource.ts
  packages/grafana-e2e/src/flows/index.ts
  packages/grafana-e2e/src/flows/login.ts
  packages/grafana-e2e/src/flows/openDashboard.ts
  packages/grafana-e2e/src/flows/revertAllChanges.ts
  packages/grafana-e2e/src/support/scenario.ts
  packages/grafana-e2e/src/support/url.ts
Labels: area/grafana/e2e, type/e2e

#25565 InfluxDB: Fix invalid memory address or nil pointer dereference when schema is missing in URL
  pkg/tsdb/influxdb/influxdb.go
Labels: add to changelog, type/bug

#25209 package.json: Upgrade Volta's Node version
  package.json
Labels: area/frontend, type/chore

#25586 Azure Monitor: fixes undefined is not iterable
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/response_parser.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/response_parser.ts
Labels: add to changelog, area/plugins, datasource/Azure Monitor, type/bug

#25587 Chore: Include golangci-lint with grafana/build-container
  scripts/build/ci-build/Dockerfile
Labels: type/build-packaging, type/chore

#25589 TextPanel: Removes text mode
  public/app/plugins/panel/text/module.tsx
  public/app/plugins/panel/text/plugin.json
  public/app/plugins/panel/text/textPanelMigrationHandler.test.ts
  public/app/plugins/panel/text/textPanelMigrationHandler.ts
Labels: add to changelog, area/panel/text

#25593 package.json: Depend on es-check since we need it for CI
  package.json
  yarn.lock
Labels: cherry-pick needed, type/build-packaging, type/chore

#25503 Variables: Fixes maximum call stack bug for empty value
  public/app/core/services/bridge_srv.test.ts
  public/app/core/services/bridge_srv.ts
Labels: add to changelog, area/dashboard/templating, type/bug

#25486 CloudWatch Logs: "limit" query command now respected
  pkg/tsdb/cloudwatch/log_actions.go
Labels: area/backend, datasource/CloudWatch, datasource/CloudWatch Logs

#25591 Chore: Upgrade Jest to latest
  package.json
  public/app/core/components/QueryOperationRow/QueryOperationRow.test.tsx
  public/app/core/components/Select/MetricSelect.test.tsx
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.test.tsx
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/panel_editor/QueryEditorRow.test.ts
  public/app/features/dashboard/state/PanelQueryRunner.test.ts
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/useDetailState.test.ts
  public/app/features/explore/TraceView/useSearch.test.ts
  yarn.lock
Labels: area/frontend, type/build-packaging, type/chore

#25581 GraphPanel: Make legend values clickable series toggles
  public/app/plugins/panel/graph/Legend/LegendSeriesItem.tsx
Labels: add to changelog, pr/external

#25490 Transform: added merge transform that will merge multiple series/tables into one table
  docs/sources/panels/transformations.md
  packages/grafana-data/src/dataframe/processDataFrame.ts
  packages/grafana-data/src/datetime/moment_wrapper.ts
  packages/grafana-data/src/field/fieldComparers.ts
  packages/grafana-data/src/transformations/transformers.ts
  packages/grafana-data/src/transformations/transformers/ids.ts
  packages/grafana-data/src/transformations/transformers/merge/DataFrameBuilder.ts
  packages/grafana-data/src/transformations/transformers/merge/DataFramesStackedByTime.ts
  packages/grafana-data/src/transformations/transformers/merge/TimeFieldsByFrame.ts
  packages/grafana-data/src/transformations/transformers/merge/merge.test.ts
  packages/grafana-data/src/transformations/transformers/merge/merge.ts
  public/app/core/components/TransformersUI/MergeTransformerEditor.tsx
  public/app/core/utils/standardTransformers.ts
Labels: add to changelog, area/transformations

#25599 Alerting: Replace icons on for alerting
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/Icon/assets/Heart.tsx
  packages/grafana-ui/src/components/Icon/assets/HeartBreak.tsx
  packages/grafana-ui/src/components/Icon/assets/index.ts
Labels: area/alerting, area/frontend, area/panel/alertlist

#25544 Explore/Logs: Fix tooltip display for log graph
  public/app/core/logs_model.ts
Labels: area/explore, area/panel/graph, cherry-pick needed

#25609 Build: fixed strict null errors to get master green.
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/gauge/GaugePanel.tsx
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/news/module.tsx
  public/app/plugins/panel/singlestat/specs/singlestat.test.ts
  public/app/plugins/panel/stat/StatPanel.tsx
  scripts/ci-frontend-metrics.sh
Labels: area/frontend, type/chore

#25619 Build: fixed failing test
  public/app/plugins/panel/graph/specs/graph_ctrl.test.ts
Labels: type/chore

#25617 Slider: Update rc-slider dependency to 9.3.1
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Slider/Slider.test.tsx
  yarn.lock
Labels: add to changelog, area/frontend, area/grafana/ui, type/chore

#25590 Chore: Upgrade CI build Dockerfile to latest Debian Stretch
  scripts/build/ci-build/Dockerfile
Labels: type/build-packaging, type/chore

#24876 Build: scripts to build and measure packages reference docs
  package.json
  scripts/ci-reference-docs-build.sh
  scripts/ci-reference-docs-metrics.sh
  scripts/generate_api_docs.sh
  yarn.lock
Labels: type/build-packaging, type/docs

#25541 Search: support URL query params
  public/app/core/components/Select/SortPicker.tsx
  public/app/core/services/keybindingSrv.ts
  public/app/features/search/components/ActionRow.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/ManageDashboards.tsx
  public/app/features/search/components/SearchWrapper.tsx
  public/app/features/search/connect.ts
  public/app/features/search/hooks/useSearchQuery.ts
  public/app/features/search/reducers/manageDashboards.test.ts
  public/app/features/search/reducers/searchQueryReducer.ts
  public/app/features/search/types.ts
  public/app/features/search/utils.test.ts
  public/app/features/search/utils.ts
Labels: add to changelog, area/frontend, area/search

#25627 Docs: Fix typos in the issue triage doc
  ISSUE_TRIAGE.md
Labels: type/docs

#25413 Stackdriver: Use default project name if project name isn't set on the query
  pkg/tsdb/stackdriver/stackdriver.go
Labels: add to changelog, cherry-pick needed

#25606 GraphPanel: Fix annotations overflowing panels
  public/app/plugins/panel/graph/jquery.flot.events.ts
Labels: add to changelog, area/frontend, area/panel/graph, type/bug

#25610 @grafana/e2e: improvements
  packages/grafana-e2e/cypress/support/commands.ts
  packages/grafana-e2e/cypress/tsconfig.json
  packages/grafana-e2e/package.json
  packages/grafana-e2e/src/flows/addPanel.ts
  yarn.lock
Labels: area/grafana/e2e, type/e2e

#24919 Settings: Add setting for hiding version number for anonymous users
  conf/defaults.ini
  conf/sample.ini
  packages/grafana-data/src/types/config.ts
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/http_server.go
  pkg/api/index.go
  pkg/setting/setting.go
  public/app/core/components/Footer/Footer.tsx
  public/app/plugins/panel/homelinks/module.tsx
Labels: area/backend

#25647 Chore: cleans up unused files
  public/app/features/templating/variable_srv.ts
  public/e2e-test/screenShots/theOutput/smoke-test-scenario.png
  public/e2e-tests/videos/queryVariableCrud.spec.ts.mp4
  public/e2e-tests/videos/smoketests.spec.ts.mp4
Labels: type/chore

#25624 CircleCI: Upgrade Grafana build image
  .circleci/config.yml
  scripts/build/ci-build/build-deploy.sh
Labels: type/build-packaging, type/chore

#25392 Elasticsearch: Support using a variable for histogram and terms min doc count
  public/app/plugins/datasource/elasticsearch/partials/bucket_agg.html
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
Labels: datasource/Elasticsearch

#25250 Explore: updates ExploreItemState type, reduces strict null errors count to 702
  public/app/features/explore/state/reducers.ts
  public/app/types/explore.ts
  scripts/ci-frontend-metrics.sh
Labels: area/explore

#25633 Stackdriver: Fix creating Label Values datasource query variable
  public/app/plugins/datasource/stackdriver/components/VariableQueryEditor.tsx
Labels: add to changelog, cherry-pick needed

#25629 API: Recognize MSSQL data source URLs
  pkg/api/datasource/validation.go
  pkg/api/datasources.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/tsdb/mssql/mssql.go
Labels: area/backend/api, cherry-pick needed, datasource/MSSQL

#25154 Chore: upgrade to typescript 3.9.3
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.story.internal.tsx
  packages/grafana-ui/src/components/Segment/useExpandableLabel.tsx
  packages/jaeger-ui-components/package.json
  public/app/core/components/Page/PageContents.tsx
  public/app/core/components/help/HelpModal.tsx
  public/app/core/services/backend_srv.ts
  public/app/core/utils/emitter.ts
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/app/features/folders/state/navModel.ts
  public/app/features/folders/state/reducers.test.ts
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/loaders.ts
  public/app/features/teams/TeamList.tsx
  public/app/features/users/SignupInvited.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/gauge/GaugePanel.tsx
  public/app/plugins/panel/graph/Legend/Legend.tsx
  public/app/plugins/panel/graph/Legend/LegendSeriesItem.tsx
  public/app/plugins/panel/stat/StatPanel.tsx
  public/app/routes/routes.ts
  public/app/types/appEvent.ts
  public/app/types/folders.ts
  scripts/ci-frontend-metrics.sh
  yarn.lock
Labels: area/frontend, type/chore

#25653 Dashboard: Redirects for old (pre 7.0) edit & view panel urls
  pkg/api/api.go
  pkg/middleware/dashboard_redirect.go
  pkg/middleware/dashboard_redirect_test.go
Labels: add to changelog, area/backend/api

#25655 Docs: Remove GrafanaCONline info from readme
  README.md
Labels: type/docs

#25656 Footer: Add back footer to login page
  public/app/core/components/Login/LoginPage.tsx
Labels: add to changelog

#23979 Auth proxy: Ignore stale cache entries
  pkg/bus/bus.go
  pkg/middleware/auth_proxy.go
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/middleware/auth_proxy/auth_proxy_test.go
  pkg/middleware/auth_proxy_test.go
Labels: area/backend/auth/authproxy, type/bug

#25677 @grafana/e2e: improvements
  packages/grafana-e2e/src/flows/addPanel.ts
Labels: area/grafana/e2e, type/e2e

#25660 Datasource/Influx: Fixes issue where toggling editor mode would cause error
  public/app/plugins/datasource/influxdb/query_ctrl.ts
Labels: datasource/InfluxDB

#25663 Datasources: add new tab and feature toggle
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  public/app/features/datasources/state/navModel.ts
Labels: area/datasource/frontend

#25651 Chore: Upgrades jQuery and @types/jQuery
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  public/app/core/reducers/root.test.ts
  public/app/features/dashboard/components/DashExportModal/DashboardExporter.test.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/explore/utils/links.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/configuration/DataLinks.test.tsx
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana/specs/datasource.test.ts
  public/app/plugins/datasource/graphite/func_editor.ts
  public/app/plugins/datasource/graphite/specs/datasource.test.ts
  public/app/plugins/datasource/graphite/specs/gfunc.test.ts
  public/app/plugins/datasource/influxdb/specs/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/mssql/specs/datasource.test.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/opentsdb/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/stackdriver/api.test.ts
  public/app/plugins/datasource/stackdriver/specs/datasource.test.ts
  yarn.lock
Labels: area/security, type/chore, type/debt, type/tech

#25665 Influx/flux: include interpolated query with error for query inspector
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/flux.go
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: area/backend, datasource/InfluxDB

#24480 Refactor panel inspector
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  public/app/features/dashboard/components/Inspector/InspectContent.tsx
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/components/Inspector/InspectErrorTab.tsx
  public/app/features/dashboard/components/Inspector/InspectMetadataTab.tsx
  public/app/features/dashboard/components/Inspector/InspectStatsTab.tsx
  public/app/features/dashboard/components/Inspector/InspectStatsTable.tsx
  public/app/features/dashboard/components/Inspector/InspectSubtitle.tsx
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
  public/app/features/dashboard/components/Inspector/hooks.ts
  public/app/features/dashboard/components/Inspector/types.ts
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/PanelEditor/usePanelLatestData.ts
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderCorner.tsx
  public/app/features/dashboard/state/PanelQueryRunner.test.ts
Labels: area/frontend, panel/inspect, type/debt

#25693 Grafana UI: Apply disabled styles to LinkButton
  packages/grafana-ui/src/components/Button/Button.story.tsx
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
Labels: area/frontend, area/grafana/ui

#25604 CloudWatch Logs: Adds template variable support to log groups
  public/app/plugins/datasource/cloudwatch/components/LogsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/PanelQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
Labels: datasource/CloudWatch Logs

#25720 Docs: Fix broken link to Slack documentation
  docs/sources/alerting/notifications.md
Labels: pr/external, type/docs

#25631 Chore: use fork-ts-checker plugin for eslint check
  .gitignore
  package.json
  scripts/webpack/dependencies.js
  scripts/webpack/webpack.dev.js
  scripts/webpack/webpack.prod.js
  yarn.lock
Labels: type/chore

#25742 Datasources: Handle URL parsing error
  pkg/tsdb/azuremonitor/applicationinsights-datasource.go
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/stackdriver/stackdriver.go
Labels: add to changelog, cherry-pick needed, type/bug

#25649 Provisioning: Adds support for enabling app plugins
  conf/provisioning/plugins/sample.yaml
  docs/sources/administration/provisioning.md
  docs/sources/http_api/admin.md
  packaging/deb/control/postinst
  packaging/rpm/control/postinst
  pkg/api/admin_provisioning.go
  pkg/api/api.go
  pkg/plugins/queries.go
  pkg/services/provisioning/plugins/config_reader.go
  pkg/services/provisioning/plugins/config_reader_test.go
  pkg/services/provisioning/plugins/plugin_provisioner.go
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
  pkg/services/provisioning/plugins/testdata/test-configs/broken-yaml/broken.yaml
  pkg/services/provisioning/plugins/testdata/test-configs/broken-yaml/not.yaml.text
  pkg/services/provisioning/plugins/testdata/test-configs/correct-properties/correct-properties.yaml
  pkg/services/provisioning/plugins/testdata/test-configs/empty_folder/.gitignore
  pkg/services/provisioning/plugins/testdata/test-configs/incorrect-settings/incorrect-settings.yaml
  pkg/services/provisioning/plugins/testdata/test-configs/unknown-app/unknown-app.yaml
  pkg/services/provisioning/plugins/types.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/provisioning/provisioning_test.go
Labels: add to changelog, area/provisioning

#25595 Dashboards: Make path to default dashboard configurable
  conf/defaults.ini
  conf/sample.ini
  docs/sources/installation/configuration.md
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend, area/provisioning

#25748 Notifications: use reply-to option for emails
  pkg/services/notifications/mailer.go
  pkg/services/notifications/notifications.go
Labels: area/backend

#25725 InfluxDB: use released client 1.3.0
  go.mod
  go.sum
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/flux.go
Labels: datasource/InfluxDB

#25727 DataSourceWithBackend: remove unused function
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: area/frontend, effort/small

#25710 Units: Custom unit suffix and docs for custom units
  docs/sources/panels/field-configuration-options.md
  packages/grafana-data/src/valueFormats/valueFormats.test.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
Labels: add to changelog

#25723 InfluxDB: different config UI for 1x vs 2x
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.tsx
  pkg/tsdb/influxdb/influxdb.go
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/FluxQueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/module.ts
  public/app/plugins/datasource/influxdb/partials/query.editor.html
  public/app/plugins/datasource/influxdb/query_ctrl.ts
  public/app/plugins/datasource/influxdb/specs/query_ctrl.test.ts
  public/app/plugins/datasource/influxdb/types.ts
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
Labels: area/datasource/frontend, datasource/InfluxDB

#25726 InfluxDB: support aggregate results
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/builder_test.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/testdata/aggregate.csv
Labels: datasource/InfluxDB

#25762 Grafana UI: Unbind Graph element only if initialised
  packages/grafana-ui/src/components/Graph/Graph.tsx
Labels: area/frontend, area/grafana/ui

#25366 ForgottenPassword: Move view to login screen
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
  public/app/core/components/ForgottenPassword/ChangePasswordPage.tsx
  public/app/core/components/ForgottenPassword/ForgottenPassword.tsx
  public/app/core/components/ForgottenPassword/SendResetMailPage.tsx
  public/app/core/components/Login/LoginCtrl.tsx
  public/app/core/components/Login/LoginForm.tsx
  public/app/core/components/Login/LoginLayout.tsx
  public/app/core/components/Login/LoginPage.tsx
  public/app/core/components/Login/UserSignup.tsx
  public/app/routes/routes.ts
Labels: add to changelog, area/frontend

#25741 CircleCI: Upgrade build pipeline tool
  .circleci/config.yml
Labels: cherry-pick needed, type/build-packaging, type/chore

#25772 Chore: Remove es-check as dev dependency
  package.json
  yarn.lock
Labels: area/frontend, type/chore

#25739 Panel edit: Clicking twice on a visualization closes the VizPicker
  public/app/features/dashboard/components/PanelEditor/OptionsGroup.tsx
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
  public/app/features/dashboard/components/PanelEditor/VisualizationTab.tsx
  public/app/features/dashboard/panel_editor/VizTypePickerPlugin.tsx
Labels: area/panel/edit

#25768 Instrumentation: Fix setting Jaeger tracing address through Grafana config
  go.mod
  go.sum
Labels: add to changelog, type/bug

#25770 Templating: Fixes query variable with ${__searchFilter} value selection not causing refresh & url update
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/actions.ts
  public/test/core/redux/reduxTester.ts
Labels: add to changelog, cherry-pick needed

#25732 Rich history: Updates for default settings and starred queries deletion
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
Labels: add to changelog, area/explore

#25492 CloudWatch: Added AWS MediaStore metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, datasource/CloudWatch, pr/external

#24741 Migration: Settings forms
  packages/grafana-ui/src/components/index.ts
  public/app/features/org/OrgDetailsPage.tsx
  public/app/features/org/OrgProfile.test.tsx
  public/app/features/org/OrgProfile.tsx
  public/app/features/org/__snapshots__/OrgDetailsPage.test.tsx.snap
  public/app/features/org/__snapshots__/OrgProfile.test.tsx.snap
  public/app/features/teams/TeamSettings.test.tsx
  public/app/features/teams/TeamSettings.tsx
  public/app/features/teams/__snapshots__/TeamPages.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamSettings.test.tsx.snap
Labels: area/datasource/frontend, type/angular-2-react

#25773 Chore: Improve yarn start output
  packages/grafana-toolkit/src/cli/tasks/core.start.ts
Labels: area/frontend, type/tech

#25790 Google OAuth Docs: Fix typos
  docs/sources/auth/google.md
Labels: type/docs

#25546 Tab: Make active tab clickable and add hyperlink functionality
  packages/grafana-ui/src/components/Tabs/Tab.tsx
  packages/grafana-ui/src/components/Tabs/TabsBar.mdx
  public/app/core/components/PageHeader/PageHeader.tsx
Labels: add to changelog, area/frontend, area/grafana/ui

#25810 Data: Prefix trace types in data package
  packages/grafana-data/src/types/trace.ts
  packages/jaeger-ui-components/src/ScrollManager.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/ReferencesButton.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBar.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianKeyValues.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianLogs.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianReferences.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/DetailState.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/utils.tsx
  packages/jaeger-ui-components/src/model/link-patterns.tsx
  packages/jaeger-ui-components/src/model/span.tsx
  packages/jaeger-ui-components/src/model/trace-viewer.ts
  packages/jaeger-ui-components/src/model/transform-trace-data.tsx
  packages/jaeger-ui-components/src/url/ReferenceLink.tsx
  packages/jaeger-ui-components/src/utils/filter-spans.tsx
  packages/jaeger-ui-components/src/utils/span-ancestor-ids.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/useChildrenState.test.ts
  public/app/features/explore/TraceView/useChildrenState.ts
  public/app/features/explore/TraceView/useDetailState.test.ts
  public/app/features/explore/TraceView/useDetailState.ts
  public/app/features/explore/TraceView/useSearch.test.ts
  public/app/features/explore/TraceView/useSearch.ts
  public/app/plugins/datasource/jaeger/QueryField.tsx
  public/app/plugins/datasource/zipkin/utils/testData.ts
  public/app/plugins/datasource/zipkin/utils/transforms.ts
Labels: area/grafana/data

#25791 Typo Correction
  docs/sources/alerting/create-alerts.md
Labels: pr/external, type/docs

#25698 Templating: fixes variables not being interpolated after dashboard refresh
  packages/grafana-data/src/types/templateVars.ts
  public/app/features/dashboard/components/SubMenu/SubMenu.tsx
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/adapters.ts
  public/app/features/variables/editor/VariableEditorContainer.tsx
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/selectors.ts
  public/app/features/variables/system/adapter.ts
  public/app/features/variables/types.ts
Labels: add to changelog, area/dashboard/templating, cherry-pick needed

#25805 Build: Let building of Go code work even if $GOPATH isn't set
  build.go
Labels: type/bug, type/build-packaging

#25566 Dashboard: fix promql query editor resolution field's position to prevent overflow
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: area/dashboard, pr/external

#25731 Explore/Loki: Fix context menu log line highlighting
  packages/grafana-ui/src/components/Logs/LogRowContext.tsx
Labels: area/explore, datasource/Loki, type/bug

#25692 Provisioning: Apply settings expanders
  pkg/services/provisioning/values/values.go
  pkg/services/provisioning/values/values_test.go
Labels: area/provisioning

#25823 Update changelog 7.0.4
  CHANGELOG.md
  packages/grafana-ui/CHANGELOG.md
Labels: type/chore

#25829 Couple of changes
  docs/sources/variables/templates-and-variables.md
Labels: pr/external, type/docs

#25801 Template variable filters: Hide overflowing text
  public/app/features/variables/pickers/shared/VariableLink.tsx
  public/sass/components/_submenu.scss
Labels: add to changelog, area/dashboard/templating, area/frontend

#25833 Update latest.json(7.0.4)
  latest.json
Labels: type/chore

#25826 DatatLinks: Fix open in new tab state mismatch
  packages/grafana-ui/src/components/DataLinks/DataLinkEditor.tsx
Labels: add to changelog, area/dashboard/data-links, area/datasource/frontend

#25843 CircleCI: Install Google Cloud SDK from versioned archive
  .circleci/config.yml
Labels: type/build-packaging, type/chore

#25844 Fix: preventing the click outside wrapper from throwing errors due to listening to unmounted nodes.
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
Labels: area/frontend, area/grafana/ui, type/bug
