Repository grafana/grafana, pull requests merged in 2020-03, with the labels that each got.

#21596 API: Include IP address when logging request error
  pkg/api/common.go
Labels: area/backend, pr/external

#22318 Elastic: To get fields, start with today's index and go backwards
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: add to changelog, datasource/Elasticsearch, pr/external

#22503 Grafana-UI: Select - scroll into view when navigate with up/down arrows
  packages/grafana-ui/src/components/CustomScrollbar/CustomScrollbar.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Select/Select.tsx
  packages/grafana-ui/src/components/Select/SelectOption.tsx
  packages/grafana-ui/src/components/Select/withSelectArrowNavigation.tsx
  public/app/features/teams/__snapshots__/TeamMemberRow.test.tsx.snap
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/AnalyticsConfig.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/AzureCredentialsForm.test.tsx.snap
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: area/grafana/ui

#22509 Docs: removed menu links to SDK Reference until we are ready for 7.0
  docs/sources/menu.yaml
Labels: type/bug, type/docs

#22395 Migration: Save dashboard modals
  packages/grafana-e2e/src/pages/saveDashboardModal.ts
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
  packages/grafana-ui/src/components/Forms/Button.tsx
  packages/grafana-ui/src/components/Forms/Form.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Forms/TextArea/TextArea.tsx
  packages/grafana-ui/src/components/Forms/index.ts
  packages/grafana-ui/src/components/Icon/types.ts
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/Modal/ModalsContext.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/core/angular_wrappers.ts
  public/app/core/components/CopyToClipboard/CopyToClipboard.tsx
  public/app/core/components/Select/FolderPicker.test.tsx
  public/app/core/components/Select/FolderPicker.tsx
  public/app/core/components/modals/AngularModalProxy.tsx
  public/app/core/services/keybindingSrv.ts
  public/app/core/services/util_srv.ts
  public/app/core/utils/connectWithReduxStore.tsx
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
  public/app/features/dashboard/components/DashboardSettings/template.html
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardAsModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardButton.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardErrorProxy.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardModalProxy.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveProvisionedDashboard.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
  public/app/features/dashboard/components/SaveDashboard/types.ts
  public/app/features/dashboard/components/SaveDashboard/useDashboardSave.tsx
  public/app/features/dashboard/components/SaveModals/SaveDashboardAsModalCtrl.test.ts
  public/app/features/dashboard/components/SaveModals/SaveDashboardAsModalCtrl.ts
  public/app/features/dashboard/components/SaveModals/SaveDashboardModalCtrl.test.ts
  public/app/features/dashboard/components/SaveModals/SaveDashboardModalCtrl.ts
  public/app/features/dashboard/components/SaveModals/SaveProvisionedDashboardModalCtrl.test.ts
  public/app/features/dashboard/components/SaveModals/SaveProvisionedDashboardModalCtrl.ts
  public/app/features/dashboard/components/SaveModals/index.ts
  public/app/features/dashboard/components/UnsavedChangesModal/UnsavedChangesModalCtrl.ts
  public/app/features/dashboard/components/VersionHistory/HistoryListCtrl.test.ts
  public/app/features/dashboard/components/VersionHistory/HistoryListCtrl.ts
  public/app/features/dashboard/index.ts
  public/app/features/dashboard/services/ChangeTracker.ts
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/routes/ReactContainer.tsx
  public/app/types/events.ts
Labels: area/frontend, type/angular-2-react

#22459 Form migrations: Dashboard- and TimeZonePicker
  packages/grafana-ui/src/components/Forms/Select/ButtonSelect.tsx
  packages/grafana-ui/src/components/Forms/Select/Select.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Forms/Select/types.ts
  packages/grafana-ui/src/components/Forms/Select/utils.test.ts
  packages/grafana-ui/src/components/Forms/Select/utils.ts
  packages/grafana-ui/src/components/Select/Select.tsx
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker.story.tsx
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker.tsx
  public/app/core/components/Select/DashboardPicker.tsx
Labels: area/frontend, area/grafana/ui

#22536 Old AsyncSelect: Add story
  packages/grafana-ui/src/components/Select/Select.story.tsx
Labels: area/grafana/ui

#22425 Docs: Adding a Markdown Style Guide
  contribute/style-guides/documentation-markdown-guide.md
Labels: pr/external, type/docs

#21263 Add fallback to search_base_dns if group_search_base_dns is undefined.
  docs/sources/auth/ldap.md
  pkg/services/ldap/ldap.go
Labels: area/backend, pr/external

#22546 @grafana/e2e: added support for plugin repositories
  packages/grafana-e2e/bin/grafana-e2e.js
  packages/grafana-e2e/cypress/plugins/cy-extend-config.js
  packages/grafana-e2e/cypress/plugins/index.js
  packages/grafana-e2e/package.json
  packages/grafana-e2e/rollup.config.ts
  packages/grafana-e2e/src/bin/grafana-e2e.ts
  packages/grafana-e2e/src/cli/index.ts
  packages/grafana-e2e/tsconfig.json
  yarn.lock
Labels: area/frontend, area/grafana/e2e, effort/x-large, type/e2e

#22492 Chore: Avoid aliasing importing models in api package
  pkg/api/admin.go
  pkg/api/admin_users_test.go
  pkg/api/annotations.go
  pkg/api/annotations_test.go
  pkg/api/app_routes.go
  pkg/api/common.go
  pkg/api/common_test.go
  pkg/api/dashboard.go
  pkg/api/dashboard_permission.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/dataproxy.go
  pkg/api/datasources.go
  pkg/api/dtos/acl.go
  pkg/api/dtos/datasource.go
  pkg/api/dtos/models.go
  pkg/api/folder.go
  pkg/api/folder_permission.go
  pkg/api/folder_permission_test.go
  pkg/api/folder_test.go
  pkg/api/frontendsettings.go
  pkg/api/grafana_com_proxy.go
  pkg/api/index.go
  pkg/api/live/stream_manager.go
  pkg/api/login_oauth.go
  pkg/api/metrics.go
  pkg/api/org.go
  pkg/api/org_invite.go
  pkg/api/password.go
  pkg/api/playlist.go
  pkg/api/playlist_play.go
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/api/pluginproxy/utils.go
  pkg/api/preferences.go
  pkg/api/quota.go
  pkg/api/render.go
  pkg/api/search.go
  pkg/api/signup.go
  pkg/api/stars.go
  pkg/api/team.go
  pkg/api/team_members.go
  pkg/api/user.go
  pkg/api/user_token_test.go
  pkg/login/brute_force_login_protection.go
  pkg/login/brute_force_login_protection_test.go
  pkg/login/grafana_login.go
  pkg/login/grafana_login_test.go
Labels: area/backend

#22566 Chore: Avoid aliased import in CLI
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/ls_command.go
  pkg/cmd/grafana-cli/commands/ls_command_test.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command.go
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/cmd/grafana-cli/services/services.go
Labels: area/backend

#22568 Grafana-UI: Use value for radio group id
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
Labels: area/frontend, area/grafana/ui

#22554 Azure Monitor: config editor updates, update sameas switch, fix test snaps
  packages/grafana-data/src/utils/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MonitorConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/InsightsConfig.test.tsx.snap
Labels: area/datasource/frontend, datasource/Azure Monitor

#22594 Fix: when reloading page make sure that time picker history is converted to dateTime.
  public/app/core/components/TimePicker/TimePickerWithHistory.tsx
Labels: area/dashboard/timezone, area/grafana/ui, type/bug

#22222 CloudWatch: Surround dimension names with double quotes
  pkg/tsdb/cloudwatch/metric_data_query_builder.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
Labels: datasource/CloudWatch, pr/external

#22593 Stackdriver: Migrate GCE default project
  pkg/tsdb/stackdriver/stackdriver.go
  public/app/plugins/datasource/stackdriver/components/Metrics.tsx
  public/app/plugins/datasource/stackdriver/components/QueryEditor.test.tsx
  public/app/plugins/datasource/stackdriver/components/QueryEditor.tsx
  public/app/plugins/datasource/stackdriver/components/__snapshots__/QueryEditor.test.tsx.snap
  public/app/plugins/datasource/stackdriver/datasource.ts
Labels: datasource/Stackdriver

#22601 UI: Segment improvements
  packages/grafana-ui/src/components/Segment/SegmentSelect.tsx
  packages/grafana-ui/src/components/Segment/useExpandableLabel.tsx
Labels: area/grafana/ui

#22604 CloudWatch: updated metrics and dimensions for Athena, DocDB, and Route53Resolver
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog

#22584 Adds signed in user to backend v2 plugins requests
  pkg/api/metrics.go
  pkg/api/plugins.go
  pkg/plugins/backendplugin/backend_plugin.go
  pkg/plugins/backendplugin/contracts.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper_v2.go
  pkg/tsdb/models.go
Labels: area/backend, area/backend/plugins

#22607 @grafana/e2e: fix empty bundle files
  packages/grafana-e2e/bin/grafana-e2e.js
  packages/grafana-e2e/cli.js
  packages/grafana-e2e/package.json
  packages/grafana-e2e/rollup.config.ts
  packages/grafana-e2e/src/bin/grafana-e2e.ts
  packages/grafana-e2e/tsconfig.json
Labels: area/frontend, area/grafana/e2e, effort/large

#22648 FieldOverrides: Add value mappings editor to standard config properties registry
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-ui/src/components/FieldConfigs/mappings.tsx
  packages/grafana-ui/src/components/FieldConfigs/standardFieldConfigEditors.tsx
Labels: area/editor, area/frontend

#22646 StatPanel: Fixes base color is being used for null values
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/scale.ts
Labels: add to changelog

#21879 Azure Monitor: Fix app insights source to allow for new __timeFrom and __timeTo
  pkg/tsdb/azuremonitor/macros.go
Labels: add to changelog, datasource/Azure Monitor, pr/external, type/bug

#22647 Grafana UI: Fix Forms.Select onChangeWithEmpty
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
Labels: area/frontend, area/grafana/ui

#22654 Storybook: Forms.Form docs
  packages/grafana-ui/src/components/Forms/Form.mdx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Form.tsx
Labels: area/storybook

#22619 Core: DashboardPicker improvements
  public/app/core/components/Select/DashboardPicker.tsx
Labels: area/frontend

#22660 Alerting: Fixed bad background color for default notifications in alert tab
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/alerting/partials/alert_tab.html
Labels: add to changelog

#22281 Docs: Plugin.json: Fix property descriptions, add missing properties, add example
  docs/sources/plugins/developing/plugin.json.md
Labels: pr/external, type/docs

#22673 Make sure commit hook in FieldPropertiesEditor is invalidated when value changes
  packages/grafana-ui/src/components/SingleStatShared/FieldPropertiesEditor.test.tsx
  packages/grafana-ui/src/components/SingleStatShared/FieldPropertiesEditor.tsx
Labels: type/bug

#22653 Notification Channel: Make test button wider
  public/app/features/alerting/partials/notification_edit.html
Labels: area/frontend

#22656 on update for checkbox and switch
  packages/grafana-data/src/utils/datasource.ts
Labels: area/datasource/frontend

#22473 CloudWatch: Credentials cache invalidation fix
  pkg/tsdb/cloudwatch/credentials.go
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
Labels: datasource/CloudWatch, type/bug

#22570 Explore: Rich History
  package.json
  packages/grafana-ui/src/components/Slider/Slider.tsx
  public/app/core/utils/explore.ts
  public/app/core/utils/richHistory.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
  public/app/features/explore/RichHistory/RichHistoryContainer.tsx
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.tsx
  public/app/features/explore/RichHistory/RichHistorySettings.tsx
  public/app/features/explore/RichHistory/RichHistoryStarredTab.tsx
  public/app/features/explore/state/actionTypes.ts
  public/app/features/explore/state/actions.ts
  public/app/features/explore/state/reducers.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/types/explore.ts
  public/test/mocks/mockExploreState.ts
  yarn.lock
Labels: area/explore, type/feature-request

#22681 Send jsondata for Datasources on DatasourceConfig for backend plugins
  go.mod
  go.sum
  pkg/api/datasources.go
  pkg/api/plugins.go
  pkg/plugins/backendplugin/backend_plugin.go
  pkg/plugins/backendplugin/contracts.go
  pkg/plugins/datasource/wrapper/datasource_plugin_wrapper_v2.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/genproto/pluginv2/backend.pb.go
  vendor/modules.txt
Labels: area/backend, area/backend/plugins

#22690 StatPanel: Return base color when there is no value
  packages/grafana-data/src/field/fieldDisplay.ts
Labels: area/frontend

#22688 @grafana/e2e: fix runtime ts-loader errors with Cypress support files
  packages/grafana-e2e/cypress/plugins/compareSnapshots.js
  packages/grafana-e2e/cypress/plugins/cy-ts-preprocessor.js
  packages/grafana-e2e/cypress/plugins/extendConfig.js
  packages/grafana-e2e/cypress/plugins/index.js
  packages/grafana-e2e/cypress/plugins/typescriptPreprocessor.js
  packages/grafana-e2e/cypress/tsconfig.json
Labels: area/grafana/e2e, effort/small, type/e2e

#22553 Graphite: Update config editor
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.styles.ts
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/graphite/configuration/GraphiteDetails.tsx
Labels: area/datasource/frontend, datasource/Graphite

#22698 @grafana/e2e: include Cypress tsconfig in published package
  packages/grafana-e2e/rollup.config.ts
Labels: area/grafana/e2e, effort/small, type/e2e

#22700 Dependency: sdk's dataframe package renamed to data
  go.mod
  go.sum
  pkg/plugins/transform_plugin.go
  pkg/tsdb/frame_util.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/backend/plugin/setup.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/README.md
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/arrow.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/arrow_column_builders.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/dataframe_warning.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/field_config.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/frame.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/generic_nullable_vector.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/generic_vector.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/nullable_vector.gen.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/query_result_meta.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/sql.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/time_series.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/vector.gen.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/vector.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/dataframe/vector.go
  vendor/modules.txt
Labels: area/backend/plugins

#22695 CloudWatch: Expand alias variables when query yields no result
  pkg/tsdb/cloudwatch/cloudwatch_query.go
  pkg/tsdb/cloudwatch/cloudwatch_query_test.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
Labels: datasource/CloudWatch, type/bug

#22639 Replace "API" by "Integration" key for PagerDuty
  docs/sources/alerting/notifications.md
Labels: needs investigation, type/docs

#22701 UX: Update new form styles to dark inputs
  packages/grafana-data/src/types/theme.ts
  packages/grafana-ui/src/components/ButtonCascader/_ButtonCascader.scss
  packages/grafana-ui/src/components/Forms/Input/Input.tsx
  packages/grafana-ui/src/components/Forms/Label.tsx
  packages/grafana-ui/src/components/Forms/Select/IndicatorsContainer.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Forms/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Forms/Select/getSelectStyles.ts
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  packages/grafana-ui/src/components/TimePicker/__snapshots__/TimePicker.test.tsx.snap
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/dark.ts
  packages/grafana-ui/src/themes/default.ts
  packages/grafana-ui/src/themes/light.ts
  public/sass/_variables.dark.generated.scss
Labels: area/ux

#22699 Graphite: Don't issue empty "select metric" queries
  pkg/tsdb/graphite/graphite.go
Labels: add to changelog, area/alerting, area/backend, datasource/Graphite

#22708 Modals: Unify angular/react modals backdrop color
  packages/grafana-ui/src/components/Modal/getModalStyles.ts
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  public/sass/_variables.dark.generated.scss
Labels: area/frontend

#22438 Explore: adds QueryRowErrors component, moves error display to QueryRow
  public/app/core/utils/explore.ts
  public/app/features/explore/ErrorContainer.test.tsx
  public/app/features/explore/ErrorContainer.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/__snapshots__/ErrorContainer.test.tsx.snap
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
  public/app/plugins/datasource/elasticsearch/components/ElasticsearchQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
Labels: area/datasource/frontend, area/editor, area/explore, area/frontend

#22285 API: Fix redirect issues
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/login_test.go
  pkg/middleware/auth.go
  pkg/setting/setting_test.go
  public/app/core/components/Login/LoginCtrl.tsx
  public/sass/components/_buttons.scss
Labels: Epic, add to changelog, type/bug

#22714 Build: reverting changes that made the e2e tests fail.
  packages/grafana-e2e/cypress/plugins/typescriptPreprocessor.js
  packages/grafana-e2e/cypress/tsconfig.json
Labels: area/grafana/e2e, type/bug, type/e2e

#22725 backend_plugin_sdk: use v0.26.0
  go.mod
  go.sum
  vendor/github.com/grafana/grafana-plugin-sdk-go/LICENSE
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/arrow.go
  vendor/modules.txt
Labels: area/backend/plugins, area/dataframe

#22719 Stackdriver: Update docs
  docs/sources/features/datasources/stackdriver.md
Labels: datasource/Stackdriver, type/docs

#22732 @grafana/e2e: correctly exclude dependencies from TypeScript builds
  packages/grafana-e2e/cypress/plugins/typescriptPreprocessor.js
  packages/grafana-e2e/cypress/tsconfig.json
Labels: area/grafana/e2e, effort/medium, type/e2e

#22739 @grafana/e2e: cherry picked 4fecf5a7a65f5b7b4c03fefb9a3da15cee938f02
  packages/grafana-e2e/cypress/plugins/typescriptPreprocessor.js
  packages/grafana-e2e/cypress/tsconfig.json
Labels: area/grafana/e2e, type/e2e

#22744 Chore: reduces strict null errors to 824
  public/app/core/logs_model.test.ts
  public/app/core/specs/flatten.test.ts
  public/app/core/utils/errors.test.ts
  public/app/core/utils/explore.test.ts
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.test.tsx
  public/app/features/dashboard/components/VersionHistory/HistorySrv.test.ts
  public/app/features/dashboard/panel_editor/QueryEditorRow.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelQueryRunner.test.ts
  public/app/features/dashboard/state/runRequest.test.ts
  public/app/features/dashboard/utils/panel.test.ts
  public/app/features/explore/state/actions.test.ts
  public/app/features/explore/utils/ResultProcessor.test.ts
  public/app/features/panel/panellinks/linkSuppliers.test.ts
  public/app/features/playlist/specs/playlist_edit_ctrl.test.ts
  public/app/features/templating/pickers/OptionsPicker/actions.test.ts
  public/app/features/templating/query/actions.test.ts
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.test.tsx
  public/app/plugins/datasource/dashboard/runSharedRequest.test.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.test.tsx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
  public/app/plugins/datasource/influxdb/specs/influx_query_model.test.ts
  public/app/plugins/datasource/input/InputDatasource.test.ts
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/live_streams.test.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.test.tsx
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  scripts/ci-frontend-metrics.sh
Labels: type/chore

#22748 DashboardSave: Autofocus save dashboard form input
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
Labels: area/frontend, cherry-pick needed

#22755 Update changelog
  CHANGELOG.md
Labels: type/chore

#22761 Update latest.json with version 6.7.0-beta1
  latest.json
Labels: type/chore

#22718 Datasource: making sure we are having the same data field order when using mixed data sources.
  public/app/plugins/datasource/mixed/MixedDataSource.ts
Labels: area/datasource, area/datasource/frontend, cherry-pick needed, type/bug

#20817 Docs: update Developer guide
  contribute/developer-guide.md
Labels: pr/external

#22754 grafana/data: PanelTypeChangedHandler API update to use PanelModel instead of panel options object [BREAKING]
  packages/grafana-data/src/types/panel.ts
  packages/grafana-ui/src/components/SingleStatShared/SingleStatBaseOptions.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/panel/annolist/module.ts
  public/app/plugins/panel/gauge/GaugeMigrations.ts
  public/app/plugins/panel/text2/module.tsx
Labels: add to changelog, area/frontend, area/grafana/data, cherry-pick needed

#22768 Explore: removes handling onBlur action in Explore for Loki and Prometheus
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreQueryEditor.test.tsx.snap
Labels: area/datasource/frontend, datasource/Loki, datasource/Prometheus

#22771 Add support for sending health check to datasource plugins.
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/datasources.go
  pkg/api/http_server.go
  pkg/api/plugins.go
  pkg/plugins/backendplugin/backend_plugin.go
  pkg/plugins/backendplugin/client.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/plugins.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/frame.go
  vendor/modules.txt
Labels: area/backend, area/backend/plugins, cherry-pick needed, type/feature-request

#22776 Core: Pass the rest of to props to Select
  public/app/core/components/Select/DashboardPicker.tsx
Labels: area/frontend

#22779 Aligns the severity dropdown with other fields
  pkg/services/alerting/notifiers/pagerduty.go
Labels: area/alerting, area/alerting/notifications

#22693 Migrate: Create new folder page
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Forms/Form.mdx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Form.tsx
  public/app/features/folders/CreateFolderCtrl.ts
  public/app/features/folders/components/NewDashboardsFolder.tsx
  public/app/features/folders/partials/create_folder.html
  public/app/features/folders/state/actions.ts
  public/app/routes/routes.ts
  yarn.lock
Labels: type/angular-2-react

#22764 Chore: remove expressions flag and allow
  pkg/api/metrics.go
Labels: area/backend/plugins, cherry-pick needed

#22789 DataSourceWithBackend: use /health endpoint for test
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: cherry-pick needed

#22794 DevEnv: update frontend dependencies - rollup
  packages/grafana-data/package.json
  packages/grafana-data/rollup.config.ts
  packages/grafana-e2e/package.json
  packages/grafana-e2e/rollup.config.ts
  packages/grafana-runtime/package.json
  packages/grafana-runtime/rollup.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22778 BackendSrv: makes sure provided headers are correctly recognized and set
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
Labels: add to changelog, area/backend_srv, cherry-pick needed, type/bug

#22796 AngularPanels: Fixed inner height calculation for angular panels
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
  public/app/plugins/panel/graph/graph.ts
Labels: add to changelog, cherry-pick needed

#22759 Chore: migrate admin/users from angular to react + redux
  packages/grafana-ui/src/components/Pagination/Pagination.mdx
  packages/grafana-ui/src/components/Pagination/Pagination.story.tsx
  packages/grafana-ui/src/components/Pagination/Pagination.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/admin/AdminListUsersCtrl.ts
  public/app/features/admin/UserListAdminPage.tsx
  public/app/features/admin/index.ts
  public/app/features/admin/partials/users.html
  public/app/features/admin/state/actions.ts
  public/app/features/admin/state/reducers.ts
  public/app/routes/routes.ts
  public/app/types/store.ts
  public/app/types/user.ts
Labels: area/admin/user, type/angular-2-react

#22144 DevEnv: update frontend dependencies - webpack
  package.json
  packages/grafana-e2e/package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22800 DevEnv: updates import of CleanWebpackPlugin to named import
  scripts/webpack/webpack.dev.js
  scripts/webpack/webpack.hot.js
Labels: area/devenv, area/frontend, type/bug

#22788 Migrate PR pipeline
  .circleci/config.yml
Labels: type/build-packaging, type/chore

#22147 DevEnv: update frontend dependencies - mixed 1/2
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22148 DevEnv: update frontend dependencies - mixed 2/2
  package.json
  packages/grafana-data/package.json
  public/app/core/utils/emitter.ts
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22797 Variables: migrates interval variable type to React/Redux
  public/app/features/templating/all.ts
  public/app/features/variables/adapters.ts
  public/app/features/variables/constant/actions.test.ts
  public/app/features/variables/custom/actions.test.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/interval/IntervalVariableEditor.tsx
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/interval/actions.ts
  public/app/features/variables/interval/adapter.ts
  public/app/features/variables/interval/reducer.test.ts
  public/app/features/variables/interval/reducer.ts
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/processVariable.test.ts
  public/app/features/variables/textbox/actions.test.ts
  public/test/core/redux/reduxTester.ts
Labels: area/dashboard/templating, type/angular-2-react

#22780 Forms: Fix input suffix position
  packages/grafana-ui/src/components/Forms/Input/Input.tsx
  packages/grafana-ui/src/components/Forms/Select/IndicatorsContainer.tsx
Labels: cherry-pick needed

#22439 FieldOverrides: Apply field overrides in PanelQueryRunner
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/types/data.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/types/panel.ts
  public/app/features/dashboard/components/PanelEditor/DynamicConfigValueEditor.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.test.ts
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/PanelChrome.test.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/PanelQueryRunner.test.ts
  public/app/features/dashboard/state/PanelQueryRunner.ts
  public/app/plugins/panel/table2/TablePanel.tsx
  scripts/ci-frontend-metrics.sh
Labels: area/frontend

#22795 E2E: Add new run modes for e2e tests
  .circleci/config.yml
  .gitignore
  contribute/style-guides/e2e.md
  e2e/run-suite
  e2e/suite1/screenshots/bar-gauge.spec.ts/bar-gauge-gradient (1).png
  e2e/suite1/screenshots/bar-gauge.spec.ts/bar-gauge-gradient.png
  e2e/suite1/screenshots/expected/bar-gauge-gradient.png
  e2e/suite1/specs/bar-gauge.spec.ts
  jest.config.e2e.js
  package.json
  packages/grafana-e2e/cypress/fixtures/example.json
  yarn.lock
Labels: type/e2e

#22145 DevEnv: update frontend dependencies - npm, nodemon, typescript
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22810 SaveDashboard: Updated modal design/layout a bit
  packages/grafana-ui/src/components/Forms/index.ts
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
Labels: area/dashboard, area/frontend

#22809 DevEnv: updates build-ci-deploy dockerfile and CI config to include yarn
  .circleci/config.yml
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
Labels: area/devenv, area/docker

#21901 Plugins: Hide plugins page from viewers, and limit /api/plugins to only core plugins when called by viewer role
  pkg/api/index.go
  pkg/api/plugins.go
Labels: add to changelog

#22806 Infra: Add relative node_modules path to webpack config
  scripts/webpack/webpack.common.js
Labels: area/frontend, type/tech

#22823 Variables: fixes so single value picker closes dropdown on select
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
Labels: area/dashboard/templating, type/angular-2-react

#22775 Grafana-UI: Add invalid state to Forms.Textarea
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Input/Input.tsx
  packages/grafana-ui/src/components/Forms/TextArea/TextArea.tsx
Labels: area/frontend, area/grafana/ui

#22828 CircleCI: Download grabpl from GCS
  .circleci/config.yml
Labels: type/build-packaging

#22815 Core: Fix dashboard picker's props
  packages/grafana-ui/src/components/Forms/Select/Select.tsx
  public/app/core/components/Select/DashboardPicker.tsx
Labels: area/frontend

#22833 TablePanel: Enable new units picker
  public/app/plugins/panel/table/column_options.html
  public/app/plugins/panel/table/column_options.ts
Labels: add to changelog, cherry-pick needed

#22837 CircleCI: Install build pipeline tool from GitHub repo
  .circleci/config.yml
Labels: type/build-packaging

#22805 Variables: fixes order of variables when saving dashboard
  public/app/features/dashboard/state/DashboardModel.ts
Labels: area/dashboard/templating, type/angular-2-react

#22827 Storybook: Deploy on PR, master and release
  .circleci/config.yml
Labels: area/frontend, area/storybook

#22821 Variables: adds onTimeRangeUpdated to newVariables
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/templating/variable.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/helpers.ts
  public/test/core/redux/reduxTester.ts
Labels: area/dashboard/templating, type/angular-2-react

#22846 Upgrade backend plugin SDK to 0.30.0
  go.mod
  go.sum
  pkg/plugins/backendplugin/contracts.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/backend/plugin/setup.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/genproto/pluginv2/backend.pb.go
  vendor/modules.txt
Labels: area/backend, area/backend/plugins, cherry-pick needed

#22848 Datasource config was not mapped for datasource healthcheck
  pkg/plugins/backendplugin/backend_plugin.go
Labels: area/backend, area/backend/plugins, cherry-pick needed

#22849 Chore: Support Volta in package.json
  package.json
Labels: area/frontend, type/build-packaging

#22818 @grafana/runtime: Add cancellation of queries to DataSourceWithBackend
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: cherry-pick needed

#22836 Stackdriver: Fix GCE auth bug when creating new data source
  public/app/plugins/datasource/stackdriver/config_ctrl.ts
  public/app/plugins/datasource/stackdriver/datasource.ts
  public/app/plugins/datasource/stackdriver/partials/config.html
Labels: datasource/Stackdriver, type/bug

#22830 Improves visibility of Tags within Dashboard Search
  public/sass/components/_search.scss
Labels: area/frontend, area/ux, pr/external

#22854 Metrics: Storybook documented components
  scripts/ci-frontend-metrics.sh
Labels: area/frontend, area/storybook

#22856 Graphite: Fixed issue with query editor and next select metric now showing after selecting metric node
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/graphite/specs/query_ctrl.test.ts
Labels: add to changelog, cherry-pick needed, type/bug

#22857 Backend plugins: Exclude plugin metrics in Grafana's metrics endpoint
  pkg/api/api.go
  pkg/api/plugins.go
  pkg/plugins/backendplugin/backend_plugin.go
  pkg/plugins/backendplugin/collector/collector.go
  pkg/plugins/backendplugin/contracts.go
  pkg/plugins/backendplugin/manager.go
Labels: area/backend, area/backend/plugins, cherry-pick needed

#22859 Plugins: Return jsondetails as an json object instead of raw json on datasource healthchecks.
  pkg/api/datasources.go
Labels: area/backend, area/backend/plugins, cherry-pick needed

#19882 AlertNotifications: Translate notifications IDs to UIDs in Rule builder
  pkg/models/alert_notifications.go
  pkg/services/alerting/rule.go
  pkg/services/alerting/rule_test.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_notification_test.go
  pkg/services/sqlstore/sqlstore.go
Labels: add to changelog, area/backend, pr/external

#22812 Alerting: support alerting on data.Frame (that can be time series)
  go.mod
  go.sum
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
  pkg/tsdb/frame_util.go
  pkg/tsdb/frame_util_test.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/frame.go
  vendor/github.com/grafana/grafana-plugin-sdk-go/data/vector.go
  vendor/github.com/xorcare/pointer/.gitignore
  vendor/github.com/xorcare/pointer/LICENSE
  vendor/github.com/xorcare/pointer/Makefile
  vendor/github.com/xorcare/pointer/README.md
  vendor/github.com/xorcare/pointer/go.mod
  vendor/github.com/xorcare/pointer/pointer.go
  vendor/modules.txt
Labels: area/alerting, area/backend/plugins, type/feature-request

#22867 Devenv: adds grafana block with a customizeable version
  devenv/README.md
  devenv/datasources_docker.yaml
  devenv/docker/blocks/grafana/.env
  devenv/docker/blocks/grafana/docker-compose.yaml
  devenv/docker/blocks/prometheus2/docker-compose.yaml
Labels: area/devenv

#22868 Variables: adds missing feature toggle in DashboardModel
  public/app/features/dashboard/state/DashboardModel.ts
Labels: area/dashboard/templating, type/angular-2-react

#22876 SQLStore: Add migration for adding index on annotation.alert_id
  pkg/services/sqlstore/migrations/annotation_mig.go
Labels: area/backend/db, cherry-pick needed

#22355 Prometheus: Render missing labels in legend formats as an empty string
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/prometheus_test.go
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: add to changelog, datasource/Prometheus, pr/external

#22882 AzureMonitor: support workspaces function for template variables
  docs/sources/features/datasources/azuremonitor.md
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
Labels: add to changelog, datasource/Azure Monitor

#22886 Rich history: Design updates
  public/app/features/explore/RichHistory/RichHistoryCard.test.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
Labels: area/explore, cherry-pick needed

#22600 Move FieldConfigSource from fieldOptions to PanelModel.fieldConfig
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/types/panel.ts
  packages/grafana-ui/src/components/FieldConfigs/fieldOverrides.test.ts
  packages/grafana-ui/src/components/FieldConfigs/mappings.tsx
  packages/grafana-ui/src/components/SingleStatShared/FieldDisplayEditor.tsx
  packages/grafana-ui/src/components/SingleStatShared/SingleStatBaseOptions.test.ts
  packages/grafana-ui/src/components/SingleStatShared/SingleStatBaseOptions.ts
  packages/grafana-ui/src/components/SingleStatShared/__snapshots__/SingleStatBaseOptions.test.ts.snap
  packages/grafana-ui/src/components/StatsPicker/StatsPicker.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyMappingRow.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyValueMappingsEditor.story.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyValueMappingsEditor.test.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/LegacyValueMappingsEditor.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.story.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/__snapshots__/LegacyValueMappingsEditor.test.tsx.snap
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/panel_editor/VisualizationTab.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/panel/bargauge/BarGaugeMigrations.test.ts
  public/app/plugins/panel/bargauge/BarGaugePanel.test.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/bargauge/BarGaugePanelEditor.tsx
  public/app/plugins/panel/bargauge/__snapshots__/BarGaugeMigrations.test.ts.snap
  public/app/plugins/panel/bargauge/module.tsx
  public/app/plugins/panel/gauge/GaugeMigrations.test.ts
  public/app/plugins/panel/gauge/GaugePanel.tsx
  public/app/plugins/panel/gauge/GaugePanelEditor.tsx
  public/app/plugins/panel/gauge/__snapshots__/GaugeMigrations.test.ts.snap
  public/app/plugins/panel/gauge/module.tsx
  public/app/plugins/panel/graph2/GraphPanel.tsx
  public/app/plugins/panel/graph2/GraphPanelController.tsx
  public/app/plugins/panel/graph2/GraphPanelEditor.tsx
  public/app/plugins/panel/graph2/getGraphSeriesModel.ts
  public/app/plugins/panel/piechart/PieChartPanel.tsx
  public/app/plugins/panel/piechart/PieChartPanelEditor.tsx
  public/app/plugins/panel/piechart/module.tsx
  public/app/plugins/panel/piechart/types.ts
  public/app/plugins/panel/stat/StatPanel.tsx
  public/app/plugins/panel/stat/StatPanelEditor.tsx
  public/app/plugins/panel/stat/module.tsx
  public/app/plugins/panel/stat/types.ts
  public/app/plugins/panel/table2/types.ts
  public/e2e-tests/videos/queryVariableCrud.spec.ts.mp4
  public/e2e-tests/videos/smoketests.spec.ts.mp4
Labels: area/frontend

#22808 NewPanelEdit: Refactor value mappings UI to work better with new panel edit
  packages/grafana-ui/src/components/FieldConfigs/FieldConfigItemHeaderTitle.tsx
  packages/grafana-ui/src/components/FieldConfigs/mappings.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/MappingRow.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.story.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.test.tsx
  packages/grafana-ui/src/components/ValueMappingsEditor/ValueMappingsEditor.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/mixins.ts
  public/app/features/dashboard/components/PanelEditor/DynamicConfigValueEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OverrideHeader.tsx
Labels: area/frontend

#22910 BackendSrv: only add content-type on POST, PUT requests
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/core/utils/fetch.test.ts
  public/app/core/utils/fetch.ts
Labels: add to changelog, area/backend_srv, cherry-pick needed, type/bug

#22913 Fix: all tests are green when running on non english os
  public/app/core/utils/richHistory.ts
Labels: area/frontend

#22914 Azure: Fixed dropdowns not showing current value
  public/app/core/components/form_dropdown/form_dropdown.ts
Labels: add to changelog, cherry-pick needed, type/bug

#22912 Panels: Fixed size issue with panel internal size when exiting panel edit mode
  public/app/features/dashboard/dashgrid/DashboardPanel.tsx
Labels: add to changelog, cherry-pick needed, type/bug

#21163 Query components unsafe lifecycle methods
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: area/grafana/ui, pr/external

#22870 NewPanelEdit: Experimenting with tabs in the sidebar
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.tsx
  packages/grafana-ui/src/components/FieldConfigs/standardFieldConfigEditors.tsx
  packages/grafana-ui/src/components/Layout/Layout.tsx
  packages/grafana-ui/src/components/Tabs/Tab.tsx
  packages/grafana-ui/src/components/TimePicker/__snapshots__/TimePicker.test.tsx.snap
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/dark.ts
  public/app/features/admin/__snapshots__/ServerStats.test.tsx.snap
  public/app/features/dashboard/components/PanelEditor/FieldConfigEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneContent.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
  public/app/features/dashboard/components/PanelEditor/state/selectors.ts
  public/app/features/dashboard/components/PanelEditor/types.ts
  public/app/plugins/panel/bargauge/BarGaugePanelEditor.tsx
  public/app/plugins/panel/gauge/GaugePanelEditor.tsx
  public/app/plugins/panel/graph2/GraphPanelEditor.tsx
  public/app/plugins/panel/stat/StatPanelEditor.tsx
  scripts/ci-frontend-metrics.sh
Labels: area/frontend

#22919 Docs: Update email notifier documentation
  docs/sources/administration/provisioning.md
  docs/sources/alerting/notifications.md
Labels: type/docs

#22926 AuthProxy: Fixes bug where long username could not be cached.
  pkg/middleware/auth_proxy/auth_proxy.go
  pkg/middleware/auth_proxy/auth_proxy_test.go
  pkg/middleware/middleware_test.go
Labels: add to changelog, area/backend, area/backend/auth/authproxy

#22784 Variables: migrates ad hoc variable type to react/redux.
  public/app/features/templating/all.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/adhoc/AdHocVariableEditor.tsx
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/adhoc/actions.ts
  public/app/features/variables/adhoc/adapter.ts
  public/app/features/variables/adhoc/picker/AdHocFilterBuilder.tsx
  public/app/features/variables/adhoc/picker/AdHocPicker.tsx
  public/app/features/variables/adhoc/picker/ConditionSegment.tsx
  public/app/features/variables/adhoc/picker/OperatorSegment.tsx
  public/app/features/variables/adhoc/reducer.test.ts
  public/app/features/variables/adhoc/reducer.ts
  public/app/features/variables/adhoc/urlParser.test.ts
  public/app/features/variables/adhoc/urlParser.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/editor/actions.ts
  public/app/features/variables/guard.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/shared/testing/adHocVariableBuilder.ts
  public/app/features/variables/shared/testing/builders.ts
  public/app/features/variables/shared/testing/datasourceVariableBuilder.ts
  public/app/features/variables/shared/testing/intervalVariableBuilder.ts
  public/app/features/variables/shared/testing/multiVariableBuilder.ts
  public/app/features/variables/shared/testing/optionsVariableBuilder.ts
  public/app/features/variables/shared/testing/variableBuilder.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/processVariable.test.ts
  public/app/features/variables/state/reducers.ts
  public/app/features/variables/state/selectors.ts
  public/app/plugins/panel/table/module.ts
  public/test/core/redux/reduxTester.ts
Labels: area/dashboard, area/dashboard/templating, type/angular-2-react

#22906 CircleCI: Pin build pipeline tool to v0.2.0
  .circleci/config.yml
Labels: type/build-packaging

#22952 Select: Fixed select text positition
  packages/grafana-ui/src/components/Select/_Select.scss
Labels: cherry-pick needed, type/bug

#22940 Align Prefences
  public/sass/components/_dropdown.scss
Labels: area/frontend, pr/external

#22959 Chore: Storybook cleanup
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeaderSettings.story.tsx
  packages/grafana-ui/src/components/Forms/Form.story.tsx
  packages/grafana-ui/src/components/Forms/Label.story.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.story.tsx
  packages/grafana-ui/src/components/Tabs/Tabs.story.tsx
  packages/grafana-ui/src/components/Tabs/TabsBar.story.tsx
Labels: area/frontend, area/storybook

#22909 Upgrade golangci-lint and fixes some linting errors.
  go.sum
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/org_invite.go
  pkg/api/signup.go
  pkg/services/alerting/notifier_test.go
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/transactions.go
  pkg/services/sqlstore/transactions_test.go
  pkg/services/sqlstore/user_test.go
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/credentials_test.go
  pkg/tsdb/cloudwatch/query_transformer.go
  scripts/go/configs/.golangci.yml
  scripts/go/go.mod
  scripts/go/go.sum
Labels: area/backend, type/tech

#22951 Typo Corrections in the document
  docs/sources/tutorials/ha_setup.md
Labels: pr/external, type/docs

#22866 Variables: replaces homegrown variableAdapters with Registry
  public/app/app.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/templating/all.ts
  public/app/features/variables/adapters.ts
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/adhoc/adapter.ts
  public/app/features/variables/constant/actions.test.ts
  public/app/features/variables/constant/adapter.ts
  public/app/features/variables/custom/actions.test.ts
  public/app/features/variables/custom/adapter.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/datasource/adapter.ts
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/interval/adapter.ts
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/adapter.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
  public/app/features/variables/state/processVariable.test.ts
  public/app/features/variables/state/reducers.test.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/variablesReducer.ts
  public/app/features/variables/textbox/actions.test.ts
  public/app/features/variables/textbox/adapter.ts
Labels: area/dashboard/templating, type/angular-2-react

#22974 Toolkit: pin babel presets version
  packages/grafana-toolkit/package.json
Labels: area/grafana/toolkit, cherry-pick needed, effort/small

#22970 CircleCI: Reduce memory usage of golangci-lint
  .circleci/config.yml
Labels: type/build-packaging

#22975 Storybook: Fix broken stories
  packages/grafana-data/src/types/displayValue.ts
  packages/grafana-data/src/types/thresholds.ts
  packages/grafana-ui/src/components/Forms/Select/Select.story.tsx
  packages/grafana-ui/src/components/Forms/Select/mockOptions.tsx
  packages/grafana-ui/src/components/PieChart/PieChart.story.tsx
  packages/grafana-ui/src/components/ThresholdsEditor/ThresholdsEditor.story.tsx
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.story.tsx
Labels: area/frontend, area/storybook

#22736 Alerting: Enable Alert rule tags to override PagerDuty Severity setting
  docs/sources/alerting/notifications.md
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pagerduty_test.go
Labels: add to changelog, area/alerting, area/alerting/notifications, type/feature-request

#22987 DevEnv: update frontend dependencies - pretty-format
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23008 DevEnv: update frontend dependencies - react-color
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23002 DevEnv: update frontend dependencies - react-sizeme
  package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22988 DevEnv: update frontend dependencies - ts-node & node-sass
  package.json
  packages/grafana-e2e/package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22981 DataLinks: make sure we use the correct datapoint when dataset contains null value.
  public/app/plugins/panel/graph/graph.ts
  scripts/ci-frontend-metrics.sh
Labels: area/dashboard/data-links, area/frontend, cherry-pick needed, type/bug

#22976 DevEnv: update frontend dependencies - storybook
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23007 DevEnv: update frontend dependencies - react-dev-utils
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#22990 DevEnv: update frontend dependencies - eslint
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23001 DevEnv: update frontend dependencies - react-use
  package.json
  yarn.lock
Labels: area/devenv, area/frontend, dependencies

#23016 Chore: adds report.xxxx.json to gitignore
  .gitignore
Labels: type/chore

#23015 Chore: Fix golangci-lint timeout config, disable govet
  .circleci/config.yml
  scripts/go/configs/.golangci.yml
Labels: type/chore

#22964 Granfana ui/tag components
  packages/grafana-ui/src/components/Tags/Tag.mdx
  packages/grafana-ui/src/components/Tags/Tag.story.tsx
  packages/grafana-ui/src/components/Tags/Tag.tsx
  packages/grafana-ui/src/components/Tags/TagList.mdx
  packages/grafana-ui/src/components/Tags/TagList.story.tsx
  packages/grafana-ui/src/components/Tags/TagList.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/frontend, area/grafana/ui

#23021 CircleCI: Run golangci-lint in two batches
  .circleci/config.yml
  public/app/core/components/FilterInput/FilterInput.tsx
  public/app/core/time_series2.ts
  scripts/go/configs/ci/.golangci.yml
Labels: type/build-packaging

#22733 Update documentation-style-guide.md
  contribute/style-guides/documentation-style-guide.md
Labels: type/docs

#23026 TemplateSrv: deprecates templateSrv.variables and adds getVariables
  public/app/core/services/segment_srv.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/specs/datasource_srv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/query_parameter_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/annotations_query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/influxdb/query_ctrl.ts
  public/app/plugins/datasource/mysql/query_ctrl.ts
  public/app/plugins/datasource/postgres/query_ctrl.ts
  public/app/plugins/datasource/stackdriver/components/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/stackdriver/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/stackdriver/datasource.ts
Labels: area/dashboard/templating, type/angular-2-react

#21622 Variable: Support more variable formatting.
  docs/sources/reference/templating.md
  public/app/features/templating/specs/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Labels: add to changelog, area/frontend, pr/external

#22980 Docs: Add ServiceNow link
  docs/sources/enterprise/_index.md
Labels: type/docs
