Repository grafana/grafana, pull requests merged in 2021-02, with the labels that each got.

#30777 CDN: Fix passing correct prefix to GetContentDeliveryURL
  pkg/api/index.go
Labels: backport v7.4.x

#30554 TableInputCSV: migrated styles from sass to emotion
  packages/grafana-ui/src/components/TableInputCSV/TableInputCSV.story.internal.tsx
  packages/grafana-ui/src/components/TableInputCSV/TableInputCSV.test.tsx
  packages/grafana-ui/src/components/TableInputCSV/TableInputCSV.tsx
  packages/grafana-ui/src/components/TableInputCSV/_TableInputCSV.scss
  packages/grafana-ui/src/components/index.scss
Labels: area/grafana/ui

#30740 Menu: Mark menu components as internal
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/Menu/Menu.tsx
  packages/grafana-ui/src/components/uPlot/types.ts
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Labels: backport v7.4.x

#30514 Expressions: Measure total transformation requests and elapsed time
  pkg/expr/transform.go
Labels: area/alerting-ng, backport v7.4.x

#30499 GraphNG: add bar alignment option
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/Icon/custom/index.tsx
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  public/app/plugins/panel/timeseries/config.ts
Labels: area/panel/graph, backport v7.4.x

#30713 Auth: Use SigV4 lib from grafana-aws-sdk
  go.mod
  go.sum
  pkg/models/datasource_cache.go
  pkg/models/datasource_cache_test.go
  pkg/models/sigv4.go
Labels: area/backend, area/datasource/backend, type/chore

#30752 Chore: Remove warning when calling resource
  pkg/plugins/backendplugin/manager.go
Labels: area/backend/plugins, type/chore

#30791 InfluxDB: Fix width of variable query editor
  public/app/features/variables/query/QueryVariableEditor.tsx
Labels: add to changelog, backport v7.4.x, datasource/InfluxDB, datasource/InfluxDB/flux, type/bug

#30796 GraphNG: improve behavior when switching between solid/dash/dots
  public/app/plugins/panel/timeseries/LineStyleEditor.tsx
Labels: backport v7.4.x

#30770 PanelLibrary: Adds library panel meta information to dashboard json
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
Labels: area/backend, area/backend/api, area/dashboard

#30797 Variable editor: Add missing callback dependency
  public/app/features/variables/editor/SelectionOptionsEditor.tsx
Labels: type/bug

#30304 Grafana-UI: Add story/docs for ErrorBoundary
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.mdx
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.story.tsx
Labels: area/grafana/ui

#30810 Variables: Clears drop down state when leaving dashboard
  public/app/features/variables/editor/reducer.test.ts
  public/app/features/variables/editor/reducer.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
Labels: add to changelog, area/dashboard/templating, backport v7.4.x, type/bug

#30781 AlertingNG: change API permissions
  pkg/services/ngalert/api.go
  pkg/services/ngalert/database.go
  pkg/services/ngalert/middleware.go
Labels: area/alerting-ng, backport v7.4.x

#30392 FormField: migrated sass styling to emotion
  packages/grafana-ui/src/components/FormField/FormField.tsx
  packages/grafana-ui/src/components/FormField/_FormField.scss
  packages/grafana-ui/src/components/FormField/__snapshots__/FormField.test.tsx.snap
  packages/grafana-ui/src/components/index.scss
Labels: area/alerting, area/alerting-ng, area/grafana/ui

#30700 TraceViewer: Fix lazy loading
  e2e/suite1/specs/trace-view-scrolling.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-e2e/cypress/fixtures/long-trace-response.json
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/plugins/datasource/jaeger/QueryField.tsx
  public/app/plugins/datasource/tempo/QueryField.tsx
  public/app/plugins/datasource/zipkin/QueryField.tsx
Labels: area/tracing, backport v7.4.x, type/bug

#30822 CDN: Fixes cdn path when Grafana is under sub path
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  public/views/index-template.html
Labels: backport v7.4.x

#30122 Elasticsearch: Display errors with text responses
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: datasource/Elasticsearch, pr/external

#30712 Chore: Fix typo in TransformerRegistyItem
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/standardTransformersRegistry.ts
  packages/grafana-data/src/transformations/transformDataFrame.ts
  public/app/core/components/TransformersUI/CalculateFieldTransformerEditor.tsx
  public/app/core/components/TransformersUI/ConcatenateTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByNameTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByRefIdTransformerEditor.tsx
  public/app/core/components/TransformersUI/FilterByValueTransformer/FilterByValueTransformerEditor.tsx
  public/app/core/components/TransformersUI/GroupByTransformerEditor.tsx
  public/app/core/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/MergeTransformerEditor.tsx
  public/app/core/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/ReduceTransformerEditor.tsx
  public/app/core/components/TransformersUI/RenameByRegexTransformer.tsx
  public/app/core/components/TransformersUI/SeriesToFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/SeriesToRowsTransformerEditor.tsx
  public/app/core/components/TransformersUI/SortByTransformerEditor.tsx
  public/app/core/utils/standardTransformers.ts
  public/app/features/dashboard/components/TransformationsEditor/TransformationEditor.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
Labels: type/chore

#30716 GrafanaUI: Add a way to persistently close InfoBox
  packages/grafana-ui/src/components/InfoBox/DismissableFeatureInfoBox.tsx
  packages/grafana-ui/src/components/InfoBox/FeatureInfoBox.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.story.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
Labels: area/grafana/ui, area/panel/edit

#30831 Prometheus: Fix showing of wrong label values in table
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: backport v7.4.x, datasource/Prometheus, type/bug

#30833 Update prometheus.md with image link fix
  docs/sources/datasources/prometheus.md
Labels: type/docs

#30825 Prometheus: Add tooltip to explain possibility to use patterns in text and title fields in annotations
  public/app/plugins/datasource/prometheus/partials/annotations.editor.html
Labels: area/annotations, backport v7.4.x, datasource/Prometheus, type/docs

#30802 Transforms: allow boolean in field calculations
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/vector/AsNumberVector.ts
  packages/grafana-data/src/vector/index.ts
  public/app/core/components/TransformersUI/CalculateFieldTransformerEditor.tsx
Labels: backport v7.4.x

#30847 Chore: add more docs annotations
  packages/grafana-data/src/vector/ArrayVector.ts
  packages/grafana-data/src/vector/AsNumberVector.ts
  packages/grafana-data/src/vector/BinaryOperationVector.ts
  packages/grafana-data/src/vector/CircularVector.ts
  packages/grafana-data/src/vector/ConstantVector.ts
  packages/grafana-data/src/vector/FormattedVector.ts
Labels: backport v7.4.x

#30780 Docs: Time series panel, bar alignment docs
  docs/sources/panels/visualizations/time-series/graph-time-series-as-bars.md
Labels: area/panel/graph, type/docs

#30569 DashboardLinks: Support variable expression in to tooltip - Issue #30409
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
Labels: add to changelog, area/dashboard/links, backport v7.4.x

#30169 Alerting: Customise OK notification priorities for Pushover notifier
  docs/sources/administration/provisioning.md
  docs/sources/alerting/notifications.md
  pkg/services/alerting/notifiers/pushover.go
  pkg/services/alerting/notifiers/pushover_test.go
Labels: add to changelog, area/alerting, area/alerting/notifications, area/backend, pr/external

#30151 Pagination: improved pagination for large number of pages
  packages/grafana-ui/src/components/Pagination/Pagination.tsx
Labels: add to changelog, area/grafana/ui

#30821 Grafana-ui: fixes no data message in Table component
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/styles.ts
Labels: area/frontend, area/grafana/ui, area/panel/table, backport v7.4.x, type/bug

#30824 Chart/Tooltip: refactored style declaration
  packages/grafana-ui/src/components/Chart/Tooltip.tsx
Labels: area/grafana/ui

#30827 InfluxDB: Add http configuration when selecting InfluxDB v2 flavor
  devenv/docker/blocks/influxdb2/docker-compose.yaml
  devenv/docker/blocks/influxdb2/influxdb.conf
  devenv/docker/blocks/influxdb2/telegraf.conf
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
Labels: datasource/InfluxDB, datasource/InfluxDB/flux

#30745 Grafana-ui: fixes closing modals with escape key
  packages/grafana-ui/src/components/Modal/Modal.tsx
Labels: area/frontend, backport v7.4.x, type/bug

#30445 Plugins: Requests validator
  pkg/api/dataproxy.go
  pkg/api/http_server.go
  pkg/api/metrics.go
  pkg/extensions/main.go
  pkg/mocks/mock_gcsifaces/mocks.go
  pkg/models/validations.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/backendplugin/manager_test.go
  pkg/plugins/backendplugin/pluginextensionv2/rendererv2.pb.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/engine.go
  pkg/services/alerting/eval_context.go
  pkg/services/alerting/eval_context_test.go
  pkg/services/alerting/eval_handler_test.go
  pkg/services/alerting/notifier_test.go
  pkg/services/alerting/notifiers/alertmanager_test.go
  pkg/services/alerting/notifiers/base_test.go
  pkg/services/alerting/notifiers/dingding_test.go
  pkg/services/alerting/notifiers/opsgenie_test.go
  pkg/services/alerting/notifiers/pagerduty_test.go
  pkg/services/alerting/notifiers/pushover_test.go
  pkg/services/alerting/notifiers/telegram_test.go
  pkg/services/alerting/test_notification.go
  pkg/services/alerting/test_rule.go
  pkg/services/validations/oss.go
Labels: area/datasource/proxy, area/plugins, backport v7.4.x

#30874 bump grabpl version to 0.5.36
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
Labels: backport v7.4.x

#30590 Logging: sourcemap support for frontend stacktraces
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/frontend_logging.go
  pkg/api/frontend_logging_test.go
  pkg/api/frontendlogging/sentry.go
  pkg/api/frontendlogging/source_maps.go
  pkg/api/frontendlogging/test-data/foo.js.map
Labels: area/backend/logging

#30877 Security: Request validator (#30445)
  pkg/api/dataproxy.go
  pkg/api/http_server.go
  pkg/api/metrics.go
  pkg/extensions/main.go
  pkg/mocks/mock_gcsifaces/mocks.go
  pkg/models/validations.go
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/backendplugin/manager_test.go
  pkg/plugins/backendplugin/pluginextensionv2/rendererv2.pb.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/engine.go
  pkg/services/alerting/eval_context.go
  pkg/services/alerting/eval_context_test.go
  pkg/services/alerting/eval_handler_test.go
  pkg/services/alerting/notifier_test.go
  pkg/services/alerting/notifiers/alertmanager_test.go
  pkg/services/alerting/notifiers/base_test.go
  pkg/services/alerting/notifiers/dingding_test.go
  pkg/services/alerting/notifiers/opsgenie_test.go
  pkg/services/alerting/notifiers/pagerduty_test.go
  pkg/services/alerting/notifiers/pushover_test.go
  pkg/services/alerting/notifiers/telegram_test.go
  pkg/services/alerting/test_notification.go
  pkg/services/alerting/test_rule.go
  pkg/services/validations/oss.go
Labels: backport

#30676 AlertingNG: Edit Alert Definition
  pkg/api/index.go
  pkg/services/ngalert/api.go
  pkg/services/ngalert/common_test.go
  pkg/services/ngalert/database.go
  pkg/services/ngalert/database_test.go
  pkg/services/ngalert/models.go
  public/app/features/alerting/AlertRuleList.test.tsx
  public/app/features/alerting/AlertRuleList.tsx
  public/app/features/alerting/NextGenAlertingPage.tsx
  public/app/features/alerting/__snapshots__/AlertRuleList.test.tsx.snap
  public/app/features/alerting/components/AlertDefinitionItem.tsx
  public/app/features/alerting/components/AlertDefinitionOptions.tsx
  public/app/features/alerting/state/actions.ts
  public/app/features/alerting/state/reducers.ts
  public/app/routes/routes.ts
  public/app/types/alerting.ts
Labels: area/alerting-ng, backport v7.4.x

#30840 Alerting: Fixes alert panel header icon not showing
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/panel/panel_directive.ts
Labels: backport v7.4.x

#30868 Panels: Remove value mapping of values that have been formatted #26763
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
Labels: area/panel/data

#28400 OAuth: custom username docs
  docs/sources/auth/generic-oauth.md
Labels: type/docs

#30891 DataSourceSettings: Adds info box and link to Grafana Cloud
  packages/grafana-data/src/types/config.ts
  packages/grafana-ui/src/components/InfoBox/FeatureInfoBox.tsx
  public/app/core/services/echo/backends/sentry/SentryBackend.test.ts
  public/app/features/datasources/settings/CloudInfoBox.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/app/features/datasources/settings/__snapshots__/DataSourceSettingsPage.test.tsx.snap
Labels: backport v7.4.x

#30892 CloudMonitoring: Increase service api page size
  public/app/plugins/datasource/cloud-monitoring/api.test.ts
  public/app/plugins/datasource/cloud-monitoring/api.ts
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
Labels: datasource/GoogleCloudMonitoring

#30897 Dashboard: Ignore changes to dashboard when the user session expires
  public/app/core/services/backend_srv.ts
  public/app/core/services/context_srv.ts
  public/app/features/dashboard/services/ChangeTracker.ts
Labels: area/frontend

#30893 Make value mappings correctly interpret numeric-like strings
  packages/grafana-data/src/utils/valueMappings.test.ts
  packages/grafana-data/src/utils/valueMappings.ts
Labels: area/frontend, area/value-mapping

#30911 Docs: Fix bad image path for alert notification template
  docs/sources/alerting/add-notification-template.md
Labels: type/bug

#27685 Docs: use selinux relabelling on docker containers to build docs
  docs/Makefile
Labels: pr/external, type/build-packaging, type/chore

#30910 Exemplars: change api to reflect latest changes
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: backport v7.4.x, type/bug

#30858 Variables: Adds queryparam formatting option
  devenv/dev-dashboards/feature-templating/global-variables-and-interpolation.json
  docs/sources/linking/data-link-variables.md
  docs/sources/variables/advanced-variable-format-options.md
  e2e/suite1/specs/dashboard-templating.spec.ts
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  public/app/features/templating/formatRegistry.ts
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/guard.ts
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: add to changelog, area/dashboard/data-links, area/dashboard/templating, backport v7.4.x, priority/support-subscription

#29978 Docs: updated developer guide
  contribute/developer-guide.md
Labels: type/docs

#30932 e2e: extends selector factory to plugins
  packages/grafana-e2e/src/index.ts
Labels: area/grafana/e2e, backport v7.4.x, type/e2e

#30645 Chore: Add Cloud Datasources to codeowners
  .github/CODEOWNERS
Labels: type/chore

#30900 Cloud Monitoring: Show Service and SLO display name in SLO Query editor
  public/app/plugins/datasource/cloud-monitoring/components/SLOQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
  public/app/plugins/datasource/cloud-monitoring/types.ts
Labels: add to changelog, datasource/GoogleCloudMonitoring

#30980 Elasticsearch: Show Size setting for raw_data metric
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/utils.ts
Labels: add to changelog, backport v7.4.x, datasource/Elasticsearch, type/bug

#30981 GraphNG: make time series panel work with string time stamps
  packages/grafana-ui/src/components/uPlot/Plot.tsx
Labels: area/panel/timeseries, type/bug

#30982 Units: Fixes formatting of duration units
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
  packages/grafana-data/src/valueFormats/valueFormats.test.ts
Labels: backport v7.4.x

#30979 StatPanel: Fixes issue formatting date values using unit option
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-ui/src/utils/standardEditors.tsx
Labels: backport v7.4.x

#30988 Grafana/UI: Remove DismissableFeatureInfoBox and replace with LocalSt…
  packages/grafana-ui/src/components/InfoBox/DismissableFeatureInfoBox.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.story.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/datasources/settings/CloudInfoBox.tsx
Labels: area/datasource/frontend, area/editor, area/grafana/ui

#30995 Instrumentation: Make the first database histogram bucket smaller
  pkg/services/sqlstore/database_wrapper.go
Labels: area/backend, area/instrumentation

#30884 TextPanel: Fixes so panel title is updated when variables change
  packages/grafana-data/src/types/geometry.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-ui/src/components/uPlot/plugins/ClickPlugin.tsx
  public/app/features/dashboard/dashgrid/DashboardPanel.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.test.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderLoadingIndicator.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuProvider.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuTrigger.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuWrapper.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderNotice.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderNotices.tsx
Labels: add to changelog, area/dashboard, area/panel/common, area/panel/text, backport v7.4.x, type/bug

#31006 Build: Releases e2e and e2e-selectors too
  scripts/build/release-packages.sh
Labels: backport v7.4.x, type/tech

#30901 CloudMonitoring: Prevent resource type variable function from crashing
  public/app/plugins/datasource/cloud-monitoring/CloudMonitoringMetricFindQuery.ts
  public/app/plugins/datasource/cloud-monitoring/components/VariableQueryEditor.tsx
Labels: add to changelog, datasource/GoogleCloudMonitoring, type/bug

#30972 Graph: Fixes so graph is shown for non numeric time values
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/graph/specs/__snapshots__/data_processor.test.ts.snap
  public/app/plugins/panel/graph/specs/data_processor.test.ts
Labels: add to changelog, area/panel/graph, backport v7.4.x, priority/important-soon

#30966 Prometheus: Min step defaults to seconds when no unit is set to prevent errors when running alerts.
  pkg/tsdb/interval.go
  pkg/tsdb/interval_test.go
Labels: add to changelog, area/backend, datasource/Prometheus, pr/external

#30914 Dashboard: Migrate general settings to react
  public/app/core/angular_wrappers.ts
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.test.tsx
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/SettingsCtrl.ts
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/index.ts
  public/app/features/dashboard/components/DashboardSettings/template.html
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardButton.tsx
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/dashboard/components/DeleteDashboard/useDashboardDelete.tsx
  public/app/features/dashboard/components/VersionHistory/RevertDashboardModal.tsx
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/SoloPanelPage.test.tsx
  public/app/features/dashboard/index.ts
Labels: area/dashboard, area/frontend, type/angular-2-react

#30909 ColorPicker: migrated styles from sass to emotion
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/SeriesColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/_ColorPicker.scss
  packages/grafana-ui/src/components/index.scss
  public/sass/components/_drop.scss
Labels: area/grafana/ui

#31027 Drone: Fix deployment image
  .drone.yml
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/lib.star
Labels: backport v7.4.x, type/bug, type/build-packaging

#31029 Drone: Fix deployment image (#31027)
  .drone.yml
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/lib.star
Labels: backport

#30990 BarGauge: Improvements to value sizing and table inner width calculations
  packages/grafana-ui/src/components/BarGauge/BarGauge.test.tsx
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  packages/grafana-ui/src/components/BarGauge/__snapshots__/BarGauge.test.tsx.snap
  packages/grafana-ui/src/components/Table/BarGaugeCell.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/components/Table/types.ts
  packages/grafana-ui/src/utils/scrollbar.ts
Labels: add to changelog, backport v7.4.x, type/bug

#30879 CDN: Adds uppload to CDN step to drone CI
  .drone.yml
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/lib.star
  scripts/master.star
Labels: type/build-packaging

#30992 Elasticsearch: Fix alias field value not being shown in query editor
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
Labels: add to changelog, backport v7.4.x, datasource/Elasticsearch, type/bug

#31026 Explore: Remove emotion error when displaying logs
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
Labels: backport v7.4.x, type/tech

#31040 Alerting: Fixes so notification channels are properly deleted
  public/app/features/alerting/AlertTabCtrl.test.ts
  public/app/features/alerting/AlertTabCtrl.ts
Labels: add to changelog, area/alerting, backport v7.4.x, type/bug

#31008 DashboardLinks: Fixes crash when link has no title
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItem.test.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItem.tsx
Labels: area/dashboard/links

#31045 Plugins: Fix issue related to plugin signature validation on Windows
  pkg/plugins/plugins.go
Labels: area/backend, area/plugins, backport v7.4.x, os/windows, type/bug

#31030 Chore: Replace native select with grafana ui select
  public/app/plugins/datasource/cloud-monitoring/components/Fields.tsx
  public/app/plugins/datasource/cloud-monitoring/components/SimpleSelect.tsx
  public/app/plugins/datasource/cloud-monitoring/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/index.ts
  public/app/plugins/datasource/cloud-monitoring/functions.ts
  public/app/plugins/datasource/cloud-monitoring/types.ts
Labels: datasource/GoogleCloudMonitoring, type/chore

#31039 Usage stats: Adds source/distributor setting
  conf/defaults.ini
  conf/sample.ini
  pkg/infra/usagestats/usage_stats.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/setting/setting.go
Labels: area/instrumentation, backport v7.4.x

#31074 Docs: Group id should be 0 instead of 1 in Docker upgrade notes
  docs/sources/installation/docker.md
Labels: type/docs

#31081 PluginManager: Remove some global state
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/index.go
  pkg/api/plugins.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/update_checker.go
  pkg/setting/setting.go
Labels: area/backend, area/backend/plugins, type/chore

#31075 Drone: Make sure CDN upload is ok before pushing docker images
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#31019 LogsPanel: Add deduplication option for logs
  public/app/plugins/panel/logs/LogsPanel.tsx
  public/app/plugins/panel/logs/module.tsx
  public/app/plugins/panel/logs/types.ts
Labels: add to changelog, area/panel/logs, type/feature-request

#30931 Prometheus: Fix issues with ad-hoc filters
  public/app/plugins/datasource/prometheus/add_label_to_query.test.ts
  public/app/plugins/datasource/prometheus/add_label_to_query.ts
Labels: datasource/Prometheus, type/bug

#31088 Elasticsearch: fix log row context erroring out
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: backport v7.4.x, datasource/Elasticsearch, type/bug

#31093 test: update configurePanel for 7.4.0 changes
  packages/grafana-e2e/src/flows/configurePanel.ts
Labels: backport v7.4.x

#30937 Docs: request security
  docs/sources/enterprise/_index.md
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/enterprise/request-security.md
  docs/sources/whatsnew/whats-new-in-v7-4.md
Labels: type/docs

#31025 Influx: Make max series limit configurable and show the limiting message if applied
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/flux.go
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/store/configureStore.ts
Labels: add to changelog, backport v7.4.x, datasource/InfluxDB

#30880 Exemplars: Change CTA style
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-ui/src/components/DataLinks/DataLinkButton.tsx
  packages/grafana-ui/src/components/DataLinks/FieldLinkList.tsx
  packages/grafana-ui/src/components/Logs/LogDetailsRow.tsx
  packages/grafana-ui/src/components/index.ts
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  public/app/plugins/datasource/prometheus/components/PromExemplarField.tsx
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
Labels: backport v7.4.x

#30609 Search: add sort information in dashboard results
  pkg/api/alerting.go
  pkg/api/alerting_test.go
  pkg/api/playlist_play.go
  pkg/api/search.go
  pkg/services/dashboards/folder_service.go
  pkg/services/search/hits.go
  pkg/services/search/service.go
  pkg/services/search/service_test.go
  pkg/services/search/sorting.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_folder_test.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/searchstore/builder.go
  pkg/services/sqlstore/searchstore/filters.go
  pkg/services/sqlstore/searchstore/search_test.go
Labels: area/search, type/feature-request

#31115 Logging: sourcemap transform asset urls from CDN in logged stacktraces
  pkg/api/frontend_logging_test.go
  pkg/api/frontendlogging/source_maps.go
Labels: area/backend, backport v7.4.x

#31119 MuxWriter: Handle error for already closed file
  pkg/infra/log/file.go
Labels: add to changelog, area/backend, backport v7.4.x, type/bug

#31121 Transforms: Fixes Outer join issue with duplicate field names not getting the same unique field names as before
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/transformations/transformers/ensureColumns.test.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.test.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.test.ts
Labels: add to changelog, backport v7.4.x, type/bug

#31087 NGAlert: Refactoring that handles cleaning up state
  public/app/features/alerting/AlertRuleList.test.tsx
  public/app/features/alerting/AlertRuleList.tsx
  public/app/features/alerting/NextGenAlertingPage.tsx
  public/app/features/alerting/components/AlertingQueryEditor.tsx
  public/app/features/alerting/components/AlertingQueryPreview.tsx
  public/app/features/alerting/components/PreviewQueryTab.tsx
  public/app/features/alerting/state/actions.ts
  public/app/features/alerting/state/reducers.ts
  public/app/types/alerting.ts
Labels: type/chore

#31079 Alerting: Fixes so that sending an alert with the Alertmanager notifier doesn't fail when one of multiple configured URL's are down
  pkg/services/alerting/notifiers/alertmanager.go
Labels: area/backend, pr/external

#31122 Prometheus: Add documentation for ad-hoc filters
  docs/sources/datasources/prometheus.md
Labels: datasource/Prometheus, type/docs

#31124 Add author name and pr number in drone pipeline notifications
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#31160 DashboardListPanel: Fixes issue with folder picker always showing All and using old form styles
  public/app/plugins/panel/dashlist/module.tsx
Labels: add to changelog, backport v7.4.x, type/bug

#31143 Prometheus: Multiply exemplars timestamp to follow api change
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: backport v7.4.x, datasource/Prometheus

#31173 Update prometheus.md
  docs/sources/datasources/prometheus.md
Labels: type/docs

#31172 CloudWatch: Ensure empty query row errors are not passed to the panel
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: datasource/CloudWatch, type/bug

#31132 Permissions: Fix team and role permissions on folders/dashboards not displayed for non Grafana Admin users
  pkg/api/dashboard_permission.go
  pkg/api/dtos/models.go
  pkg/api/dtos/models_test.go
  pkg/api/folder_permission.go
  pkg/setting/setting.go
Labels: add to changelog, area/permissions, backport v7.4.x, type/bug

#31145 Alert: update story to use controls
  packages/grafana-ui/src/components/Alert/Alert.story.tsx
Labels: area/grafana/ui

#31177 Replace PR with Commit truncated hash when build fails
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging, type/chore

#31178 DashboardLinks: Fixes links always cause full page reload
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
Labels: add to changelog, backport v7.4.x, type/bug

#29173 Explore/Refactor: Simplify URL handling
  packages/grafana-data/src/utils/index.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExplorePaneContainer.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/NodeGraphContainer.tsx
  public/app/features/explore/QueryRow.tsx
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/ReturnToDashboardButton.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/Wrapper.tsx
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
  public/app/features/explore/state/datasource.ts
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/main.test.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/selectors.ts
  public/app/features/explore/state/time.test.ts
  public/app/features/explore/state/time.ts
  public/app/features/explore/state/utils.ts
  public/app/types/explore.ts
Labels: area/explore

#31126 StatPanels: Fixes to palette color scheme is not cleared when loading panel
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.test.ts
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.ts
Labels: add to changelog, type/bug

#31156 Variables: Fixes missing empty elements from regex filters
  public/app/features/variables/query/reducer.test.ts
  public/app/features/variables/query/reducer.ts
Labels: add to changelog, area/dashboard/templating, backport v7.4.x, type/bug

#31175 GraphNG: unified legend for BarChart, GraphNG & other uPlot based visualizations
  packages/grafana-ui/src/components/BarChart/BarChart.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/VizLayout/VizLayout.story.tsx
  packages/grafana-ui/src/components/VizLayout/VizLayout.tsx
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
Labels: area/panel/barchart, area/panel/timeseries

#31171 Alerting: Fix modal text when deleting obsolete notifier
  public/app/features/alerting/AlertTabCtrl.ts
Labels: backport v7.4.x, type/bug

#31182 Chore: report eslint no-explicit-any errors to metrics
  scripts/ci-frontend-metrics.sh
Labels: area/frontend, type/build-packaging, type/chore

#31193 QueryEditors: Fixes issue that happens after moving queries then editing would update other queries
  public/app/features/query/components/QueryEditorRow.tsx
Labels: type/bug

#31144 Explore: Do not show non queryable data sources in data source picker
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/specs/datasource_srv.test.ts
Labels: add to changelog, backport v7.4.x

#31213 [v7.4.x]: Sync drone config from master to stable release branch
  .drone.yml
  scripts/lib.star
  scripts/master.star
  scripts/release.star
Labels: backport, type/chore

#31215 Chore: Use 0.1.0 for grafana-aws-sdk
  go.mod
  go.sum
Labels: dependencies, type/chore

#31146 Docs: Update Influx config options
  docs/sources/administration/provisioning.md
  docs/sources/datasources/influxdb.md
Labels: datasource/InfluxDB, type/docs

#30886 AlertingNG: Test definition
  public/app/features/alerting/AlertRuleList.test.tsx
  public/app/features/alerting/AlertRuleList.tsx
  public/app/features/alerting/NextGenAlertingPage.tsx
  public/app/features/alerting/components/AlertDefinitionOptions.tsx
  public/app/features/alerting/components/AlertingQueryEditor.tsx
  public/app/features/alerting/components/AlertingQueryPreview.tsx
  public/app/features/alerting/components/PreviewInstancesTab.tsx
  public/app/features/alerting/components/PreviewQueryTab.tsx
  public/app/features/alerting/state/actions.ts
  public/app/features/alerting/state/reducers.ts
  public/app/types/alerting.ts
Labels: area/alerting-ng

#30975 Chore: Upgrade grafana-plugin-sdk-go to v0.88.0
  go.mod
  go.sum
Labels: area/backend, area/backend/plugins

#30984 Remove last synchronisation field from LDAP debug view
  public/app/features/admin/UserLdapSyncInfo.tsx
  public/app/features/admin/ldap/LdapSyncInfo.tsx
  public/app/types/ldap.ts
Labels: backport v7.4.x

#31179 Postgres: Fix timeGroup macro converts long intervals to invalid numbers when TimescaleDB is enabled
  pkg/tsdb/postgres/macros.go
  pkg/tsdb/postgres/macros_test.go
Labels: area/backend, area/backend/db/postgres, backport v7.4.x, datasource/Postgres, pr/external, type/bug

#31226 IPv6: Support host address configured with enclosing square brackets
  pkg/api/http_server.go
  pkg/services/ldap/ldap.go
Labels: add to changelog, area/backend, backport v7.4.x, type/bug

#31208 Variables: Adds back default option for data source variable
  packages/grafana-data/src/types/datasource.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/datasource/actions.ts
  public/app/features/variables/datasource/reducer.test.ts
  public/app/features/variables/datasource/reducer.ts
  public/app/features/variables/shared/testing/helpers.ts
Labels: add to changelog, area/dashboard/templating, backport v7.4.x, type/bug

#27886 Profile: Prevent OAuth users from changing user details or password
  public/app/core/utils/UserProvider.tsx
  public/app/features/profile/ChangePasswordForm.tsx
  public/app/features/profile/ChangePasswordPage.tsx
  public/app/features/profile/UserOrganizations.tsx
  public/app/features/profile/UserProfileEdit.tsx
  public/app/features/profile/UserProfileEditForm.tsx
  public/app/features/profile/UserSessions.tsx
Labels: add to changelog, area/backend/auth/oauth, pr/external, type/feature-request

#31235 LibraryPanels: Disconnect before connect during dashboard save
  pkg/api/dashboard.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_test.go
Labels: area/backend, area/dashboard

#31227 Devenv: Remove deprecated and breaking loki config field
  devenv/docker/blocks/loki/config.yaml
Labels: area/devenv, datasource/Loki, type/bug, type/tech

#31183 Loki: Add line limit for annotations
  public/app/core/angular_wrappers.ts
  public/app/plugins/datasource/loki/LokiAnnotationsQueryCtrl.tsx
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/partials/annotations.editor.html
Labels: add to changelog, area/annotations, datasource/Loki, type/feature-request

#31225 UI/Card: Fix handling of 'onClick' callback
  packages/grafana-ui/src/components/Card/Card.test.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
Labels: area/grafana/ui

#31055 Prometheus: Fix enabling of disabled queries when editing in dashboard
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
Labels: add to changelog, backport v7.4.x, datasource/Prometheus, type/bug

#31230 Grafana-UI: Add id to Select to make it easier to test
  package.json
  packages/grafana-ui/src/components/Forms/Field.test.tsx
  packages/grafana-ui/src/components/Forms/Field.tsx
  packages/grafana-ui/src/components/Forms/InlineField.test.tsx
  packages/grafana-ui/src/components/Forms/InlineField.tsx
  packages/grafana-ui/src/components/Select/Select.mdx
  packages/grafana-ui/src/components/Select/SelectBase.test.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
  packages/grafana-ui/src/utils/children.ts
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/SearchResultsFilter.test.tsx
  yarn.lock
Labels: area/grafana/ui

#30701 Chore: grafana-toolkit uses grafana-ui and grafana-data workspaces
  packages/grafana-toolkit/package.json
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  packages/grafana-ui/src/components/Tooltip/Popover.tsx
  packages/grafana-ui/src/components/Tooltip/PopoverController.tsx
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
  yarn.lock
Labels: area/frontend, area/grafana/toolkit, dependencies

#31131 Only update usagestats every 30min
  pkg/infra/usagestats/service.go
Labels: area/backend/db/sql, backport v7.4.x

#31263 Snapshots: Disallow anonymous user to create snapshots
  pkg/middleware/auth.go
  pkg/middleware/auth_test.go
  public/app/features/dashboard/components/ShareModal/ShareModal.tsx
Labels: backport v7.4.x

#31269 [v7.4.x] Chore: grafana-toolkit uses grafana-ui and grafana-data workspaces
  packages/grafana-toolkit/package.json
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  packages/grafana-ui/src/components/Tooltip/Popover.tsx
  packages/grafana-ui/src/components/Tooltip/PopoverController.tsx
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
  yarn.lock
Labels: backport

#31274 Make Datetime local (No date if today) working
  packages/grafana-data/src/field/displayProcessor.ts
Labels: area/panel/stat, backport v7.4.x, type/bug

#31242 Folders: Editors should be able to edit name and delete folders
  public/app/features/folders/services/FolderPageLoader.ts
  public/app/features/folders/state/navModel.ts
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/loaders.ts
Labels: add to changelog

#31167 Search: display sort metadata
  packages/grafana-ui/src/components/Card/Card.story.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
  pkg/services/search/hits.go
  pkg/services/sqlstore/dashboard.go
  public/app/core/components/Select/SortPicker.tsx
  public/app/features/search/components/DashboardSearch.test.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/components/SearchResultsFilter.test.tsx
  public/app/features/search/components/SectionHeader.tsx
  public/app/features/search/constants.ts
  public/app/features/search/hooks/useSearchQuery.ts
  public/app/features/search/reducers/searchQueryReducer.ts
  public/app/features/search/types.ts
Labels: area/search

#30993 Introduce LibrarySrv for interacting with library panels API
  public/app/features/library-panels/state/api.ts
Labels: area/frontend

#31240 BigValue: updates story from knobs to controls
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/src/components/BigValue/BigValue.story.tsx
Labels: area/storybook

#31271 Docs: Clarifies custom date formats for variables
  docs/sources/variables/variable-types/global-variables.md
Labels: type/docs

#31277 Chore: Correct the name of Discord notifier tests
  pkg/services/alerting/notifiers/discord_test.go
Labels: area/backend, type/chore

#31296 update latest release version
  latest.json
Labels: type/chore

#31241 Chore: reduce strict errors for variables
  public/app/features/variables/adapters.ts
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/adhoc/picker/AdHocFilterValue.tsx
  public/app/features/variables/adhoc/picker/AdHocPicker.tsx
  public/app/features/variables/constant/ConstantVariableEditor.tsx
  public/app/features/variables/constant/actions.test.ts
  public/app/features/variables/constant/adapter.ts
  public/app/features/variables/custom/CustomVariableEditor.tsx
  public/app/features/variables/custom/actions.test.ts
  public/app/features/variables/custom/adapter.ts
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/datasource/adapter.ts
  public/app/features/variables/editor/SelectionOptionsEditor.tsx
  public/app/features/variables/editor/VariableEditorContainer.tsx
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/guard.ts
  public/app/features/variables/interval/IntervalVariableEditor.tsx
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/interval/adapter.ts
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
  public/app/features/variables/pickers/index.ts
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/adapter.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
  public/app/features/variables/state/transactionReducer.test.ts
  public/app/features/variables/state/variablesReducer.ts
  public/app/features/variables/system/adapter.ts
  public/app/features/variables/textbox/TextBoxVariableEditor.tsx
  public/app/features/variables/textbox/actions.test.ts
  scripts/ci-check-strict.sh
Labels: type/debt, type/tech

#31285 Add `--tries 3` arg when triggering e2e-tests upon releasing
  .drone.yml
  scripts/lib.star
  scripts/release.star
Labels: type/build-packaging, type/chore

#31310 Grafana-UI: Update tooltip type in SecretFormField
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.tsx
Labels: area/grafana/ui

#31223 BarGuage: updates story from knobs to controls
  packages/grafana-ui/src/components/BarGauge/BarGauge.story.tsx
Labels: area/storybook

#31316 Table: Fixes issue with fixed min and auto max with bar gauge cell
  packages/grafana-data/src/field/scale.ts
Labels: add to changelog, backport v7.4.x

#31330 Chore: Upgrade golangci-lint
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/build/ci-build-windows/Dockerfile
  scripts/build/ci-build-windows/Magefile.go
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/go/go.mod
  scripts/go/go.sum
Labels: type/build-packaging, type/chore

#31311 LibraryPanels: Syncs panel title with name
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels_test.go
Labels: area/backend, area/backend/api, backport v7.4.x

#31334 DashboardLinks: Fixes another issue where dashboard links cause full page reload
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.tsx
Labels: add to changelog, backport v7.4.x, type/bug

#31325 SAML: only activate single logout in enterprise
  pkg/api/login.go
Labels: backport v7.4.x

#31278 Grafana/UI: Add basic legend to the PieChart
  devenv/dev-dashboards/panel-piechart/panel_test_piechart.json
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
  packages/grafana-ui/src/components/PieChart/PieChartWithLegend.tsx
Labels: area/grafana/ui

#31347 DatasourceSrv: Fix instance retrieval when datasource variable value set to "default"
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/specs/datasource_srv.test.ts
Labels: area/dashboard/templating, area/datasource/frontend, area/frontend, backport v7.4.x, type/bug
