Repository grafana/grafana, pull requests merged in 2021-05, with the labels that each got.

#33596 Live: expose publish on live interfaces
  packages/grafana-runtime/src/services/live.ts
  public/app/features/live/dashboard/dashboardWatcher.ts
  public/app/features/live/live.ts
  public/app/plugins/panel/live/LivePanel.tsx
  yarn.lock
Labels: area/frontend

#33597 Alerting: Avoid panic by not loading instances without rule
  pkg/services/ngalert/schedule/schedule.go
Labels: area/alerting, area/alerting-ng, area/backend

#31359 Omit empty message in PagerDuty notifier
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pagerduty_test.go
Labels: area/alerting/notifications, pr/external, type/bug

#33604 Revert "Omit empty message in PagerDuty notifier (#31359)"
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pagerduty_test.go
Labels: area/backend

#33601 Theme: Fix for Graph tooltip background
  packages/grafana-ui/src/themes/mixins.ts
Labels: area/frontend

#33606 Chore: Fix mysql integration tests
  pkg/services/sqlstore/migrator/mysql_dialect.go
Labels: area/backend

#33600 Graph: Fixes threshold handles not rendering when graph thresholds section is open
  public/app/plugins/panel/graph/threshold_manager.ts
Labels: area/frontend

#33605 Modals: Make text left aligned in save & delete modals
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardErrorProxy.tsx
Labels: area/frontend

#33609 Tooltip: eliminate flashing when repaint can't keep up
  packages/grafana-ui/src/themes/mixins.ts
Labels: area/frontend

#33598 GraphNG: uPlot 1.6.9
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, area/panel/timeseries, backport v7.5.x

#33607 Icons: unfork react-inlinesvg
  package.json
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  yarn.lock
Labels: area/frontend

#33602 SaveDashboard: Fixes issue with saving dashboard form and enter key
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
Labels: area/frontend

#33614 PagerDuty: Omit empty message
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pagerduty_test.go
Labels: add to changelog, area/alerting/notifications, area/backend, type/bug

#33608 Alerting: Support for alerting for react panels, and lots of fixes to alert annotations for both react and angular
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/types/data.ts
  public/app/features/alerting/AlertTab.tsx
  public/app/features/dashboard/components/PanelEditor/state/selectors.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/query/state/DashboardQueryRunner/utils.ts
  public/app/features/query/state/PanelQueryRunner.test.ts
  public/app/features/query/state/PanelQueryRunner.ts
  public/app/features/sandbox/TestStuffPage.tsx
  public/app/plugins/panel/timeseries/module.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationMarker.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationsPlugin.tsx
  public/app/plugins/panel/timeseries/plugins/types.ts
  public/sass/components/_panel_graph.scss
Labels: area/frontend

#33618 LibraryPanels: Adds Panels Page to Manage Folder tabs
  public/app/features/folders/FolderLibraryPanelsPage.tsx
  public/app/features/folders/state/navModel.ts
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.tsx
  public/app/routes/routes.tsx
Labels: area/frontend, area/frontend/library-panels

#33603 Table: Fixes not data warning style
  packages/grafana-ui/src/components/Table/Table.test.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  public/app/plugins/panel/table/TablePanel.tsx
Labels: area/frontend

#33532 Access control: Clean up users scopes
  pkg/api/api.go
  pkg/api/index.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
  pkg/services/accesscontrol/roles.go
Labels: area/backend

#33494 InfluxDB: Improve measurement-autocomplete behavior
  public/app/plugins/datasource/influxdb/partials/query.editor.html
Labels: area/frontend, backport v7.5.x, datasource/InfluxDB

#33624 FilterPill: updates component with the new theme model
  packages/grafana-ui/src/components/FilterPill/FilterPill.tsx
Labels: area/frontend

#33631 Fix adjustMetaInfo limit retrieval
  public/app/core/logs_model.ts
Labels: area/frontend

#33587 Alerting: Create instanceStore
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/models/instance.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/tests/instance_database_test.go
  pkg/services/ngalert/tests/schedule_test.go
Labels: area/alerting, area/alerting-ng, area/backend, type/chore

#32820 PluginProxy: Split implementations of token providers
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/token_provider.go
  pkg/api/pluginproxy/token_provider_gce.go
  pkg/api/pluginproxy/token_provider_generic.go
  pkg/api/pluginproxy/token_provider_jwt.go
  pkg/api/pluginproxy/token_provider_test.go
Labels: area/backend, pr/cla-not-signed, pr/external, type/refactor

#33617 DashboardLink: Fixes double escaping of > in dashboard link
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
Labels: area/frontend

#33634 Forms/Field: updates component with the new theme model
  packages/grafana-ui/src/components/Forms/Field.tsx
Labels: area/frontend

#33637 Table: Fixes wrong value for auto
  public/app/plugins/panel/table/module.tsx
Labels: area/frontend

#33633 PanelEdit: Improves viz picker ux, auto close on click
  e2e/suite1/specs/panelEdit_base.spec.ts
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-ui/src/components/Tabs/TabsBar.tsx
  pkg/api/frontendsettings.go
  pkg/plugins/panel_plugin.go
  public/app/features/dashboard/components/PanelEditor/VisualizationSelectPane.tsx
  public/app/features/dashboard/components/VizTypePicker/PanelTypeCard.tsx
  public/app/features/dashboard/components/VizTypePicker/VizTypePicker.tsx
  public/app/features/dashboard/components/VizTypePicker/VizTypePickerPlugin.tsx
  public/app/features/panel/query_ctrl.ts
  public/app/plugins/datasource/mssql/query_ctrl.ts
Labels: area/backend, area/frontend, datasource/MSSQL

#33611 VizLegend: move onSeriesColorChanged to PanelContext (breaking change)
  packages/grafana-ui/src/components/BarChart/BarChart.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
  packages/grafana-ui/src/components/PieChart/types.ts
  packages/grafana-ui/src/components/Timeline/TimelineChart.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegend.story.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegend.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendList.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendListItem.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendSeriesIcon.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendTable.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendTableItem.tsx
  packages/grafana-ui/src/components/VizLegend/types.ts
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/piechart/PieChartPanel.tsx
  public/app/plugins/panel/timeline/TimelinePanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/xychart/XYChartPanel.tsx
Labels: area/frontend, area/grafana/ui, breaking change

#33641 AlertingMigration: Separate info into multiple annos
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: area/alerting, area/alerting-ng, area/backend, area/backend/db/migration

#33648 better handle metrics for state transitions
  pkg/services/ngalert/state/cache.go
Labels: area/backend

#33644 Chore: Fix alerting migration code owners typo
  .github/CODEOWNERS
Labels: type/chore

#33650 Schema: Change Subsume check so optionality is respected
  pkg/schema/load/panel.go
  public/app/plugins/panel/dashlist/models.cue
  public/app/plugins/panel/news/models.cue
  public/app/plugins/panel/text/models.cue
Labels: area/backend, area/frontend

#33642 Live: client connection concurrency
  pkg/services/live/live.go
  pkg/services/live/live_test.go
Labels: area/backend, area/streaming

#33259 Explore: Add logs navigation to request more logs
  packages/grafana-ui/src/components/Logs/LogRows.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/LogsNavigation.test.tsx
  public/app/features/explore/LogsNavigation.tsx
  public/app/features/explore/Wrapper.test.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: area/explore, area/frontend, type/feature-request

#33638 Alerting: remove State cache entries on Ruler DEL
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/store/alert_rule.go
Labels: area/alerting, area/alerting-ng, area/backend

#33658 <Documentation>: Fix link in alert docs
  docs/sources/http_api/alerting_notification_channels.md
Labels: backport v7.5.x, pr/external, type/docs

#33561 frontend for trim/apply defaults and some bug fixing
  cue/data/gen.cue
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/plugins.go
  pkg/schema/load/applydefault_test.go
  pkg/schema/load/generic.go
  pkg/schema/load/testdata/artifacts/dashboards/trimdefault/test4
  public/app/features/dashboard/components/ShareModal/ShareExport.tsx
Labels: area/backend, area/frontend

#33643 Fix dockerfiles to use embed.go and Go 1.16
  Dockerfile
  Dockerfile.ubuntu
Labels: type/build-packaging

#33671 Instrumentation: Don't consider invalid email address a failed email
  pkg/services/notifications/mailer.go
Labels: area/backend, area/instrumentation, backport v7.5.x

#33357 TimeSeries: Render thresholds as lines and areas
  devenv/dev-dashboards/panel-graph/graph-ng-thresholds.json
  packages/grafana-data/src/utils/namedColorsPalette.ts
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerTrigger.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorSwatch.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsGroup.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsPalette.story.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsPalette.test.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsPalette.tsx
  packages/grafana-ui/src/components/ColorPicker/SeriesColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/SpectrumPalette.tsx
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/Input/Input.tsx
  packages/grafana-ui/src/components/OptionsUI/color.tsx
  packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.tsx
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotThresholds.ts
  public/app/plugins/panel/timeseries/config.ts
  public/app/plugins/panel/timeseries/migrations.test.ts
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/frontend

#33684 Alerting: Updates the new alerting rule table to use new theme
  packages/grafana-data/src/themes/createV1Theme.ts
  public/app/features/alerting/unified/components/StateColoredText.tsx
  public/app/features/alerting/unified/components/StateTag.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/styles/table.ts
Labels: area/frontend

#33678 RadioButtonGroup: Change background to background.primary
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
Labels: area/frontend

#33489 NGAlert: Send list of available ngalert notification channels via API
  pkg/api/alerting.go
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/services/alerting/notifier.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/available_channels.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pagerduty_test.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/tests/api/alerting/api_available_channel_test.go
Labels: area/backend

#33560 LibraryPanels: Adds folder filter to manage library panel page
  pkg/api/index.go
  pkg/services/librarypanels/api.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels_get_all_test.go
  pkg/services/librarypanels/models.go
  pkg/services/librarypanels/writers.go
  public/app/app.ts
  public/app/core/components/FolderFilter/FolderFilter.tsx
  public/app/core/components/PanelTypeFilter/PanelTypeFilter.tsx
  public/app/core/components/Select/SortPicker.tsx
  public/app/core/constants.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/dashboard/components/VizTypePicker/PanelTypeCard.tsx
  public/app/features/folders/FolderLibraryPanelsPage.tsx
  public/app/features/folders/state/navModel.ts
  public/app/features/library-panels/LibraryPanelsPage.tsx
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.test.tsx
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.tsx
  public/app/features/library-panels/components/LibraryPanelsSearch/reducer.test.ts
  public/app/features/library-panels/components/LibraryPanelsSearch/reducer.ts
  public/app/features/library-panels/components/LibraryPanelsView/LibraryPanelsView.tsx
  public/app/features/library-panels/components/LibraryPanelsView/actions.ts
  public/app/features/library-panels/state/api.ts
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, area/frontend/library-panels

#33690 Chore: Adds better logging and longer timeout threshold
  e2e/run-suite
  e2e/start-server
  packages/grafana-e2e/cypress/support/commands.ts
Labels: area/frontend, area/grafana/e2e, type/e2e

#33622 CI: Lint backend after testing, to let the test step catch build failures
  .drone.yml
  scripts/lib.star
  scripts/master.star
  scripts/pr.star
  scripts/release.star
Labels: type/build-packaging, type/chore

#33179 Alerting: Add alerting routes
  public/app/features/alerting/unified/AmRoutes.test.tsx
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/components/DynamicTable.tsx
  public/app/features/alerting/unified/components/EmptyArea.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRoute.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRouteForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRouteRead.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedRead.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.tsx
  public/app/features/alerting/unified/components/amroutes/AmSpecificRouting.tsx
  public/app/features/alerting/unified/components/amroutes/formStyles.ts
  public/app/features/alerting/unified/components/amroutes/gridStyles.ts
  public/app/features/alerting/unified/components/rule-editor/ConditionsStep.tsx
  public/app/features/alerting/unified/types/amroutes.ts
  public/app/features/alerting/unified/types/rule-form.ts
  public/app/features/alerting/unified/types/time.ts
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/dynamicTable.ts
  public/app/features/alerting/unified/utils/rule-form.ts
  public/app/features/alerting/unified/utils/time.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/alerting-ng, area/frontend

#33423 Alerting: Run queries
  packages/grafana-data/src/datetime/rangeutil.test.ts
  packages/grafana-data/src/datetime/rangeutil.ts
  packages/grafana-data/src/types/time.ts
  public/app/features/alerting/components/AlertingQueryEditor.tsx
  public/app/features/alerting/components/AlertingQueryRows.tsx
  public/app/features/alerting/state/AlertingQueryRunner.test.ts
  public/app/features/alerting/state/AlertingQueryRunner.ts
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/mocks/grafana-queries.ts
  public/app/features/alerting/unified/utils/rule-form.ts
  public/app/features/alerting/unified/utils/timeRange.test.ts
  public/app/features/alerting/unified/utils/timeRange.ts
  public/app/features/expressions/components/ClassicConditions.tsx
  public/app/features/expressions/components/Condition.tsx
  public/app/features/expressions/guards.ts
  public/app/features/query/state/QueryRunner.ts
  public/app/features/query/state/processing/canceler.ts
  public/app/features/query/state/processing/revision.ts
  public/app/features/query/state/runRequest.ts
  public/app/types/unified-alerting-dto.ts
Labels: area/frontend

#33632 FormField: removes the theme model since its not used in styles
  packages/grafana-ui/src/components/FormField/FormField.tsx
Labels: area/frontend

#33696 Piechart: update story to use controls
  packages/grafana-ui/src/components/PieChart/PieChart.story.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/frontend, area/panel/piechart

#33640 FieldSet: updates components with the new theme model
  packages/grafana-ui/src/components/Forms/FieldSet.tsx
Labels: area/frontend

#33175 Chore: remove usages of `FunctionComponent` in elasticsearch plugin
  public/app/plugins/datasource/elasticsearch/components/AddRemove.tsx
  public/app/plugins/datasource/elasticsearch/components/IconButton.tsx
  public/app/plugins/datasource/elasticsearch/components/MetricPicker.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/BucketAggregationEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/ElasticsearchQueryContext.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/ElasticsearchQueryContext.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/MovingAverageSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/QueryEditorRow.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/SettingsEditorContainer.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/hooks/useFields.test.tsx
  public/app/plugins/datasource/elasticsearch/hooks/useNextId.test.tsx
  public/app/plugins/datasource/elasticsearch/hooks/useStatelessReducer.test.tsx
Labels: area/frontend, datasource/Elasticsearch

#33647 FieldValidationMessage: updates component with the new theme model
  packages/grafana-data/src/themes/index.ts
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.tsx
  packages/grafana-ui/src/components/Forms/getFormStyles.ts
Labels: area/frontend

#33654 Live: remove feature toggle and enable by default
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/services/live/live.go
  pkg/services/live/pushhttp/push.go
  pkg/setting/setting.go
  public/app/features/live/live.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/routes/GrafanaCtrl.ts
Labels: area/backend, area/frontend, datasource/CloudWatch

#33656 Docs: Update installation.md
  docs/sources/plugins/installation.md
Labels: backport v7.5.x, type/docs

#33283 [Alerting]: Extend quota service to optionally set limits on alerts
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/middleware/quota_test.go
  pkg/models/quotas.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/ngalert.go
  pkg/services/quota/quota.go
  pkg/services/sqlstore/quota.go
  pkg/services/sqlstore/quota_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/setting_quota.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend, type/docs

#33667 Alerting allow saving pending alerts
  pkg/services/ngalert/models/instance.go
Labels: area/backend

#33666 Alerting nested state cache
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/tests/manager_test.go
  pkg/services/ngalert/tests/schedule_test.go
Labels: area/backend

#33663 Alerting return evaluation errors to /rules
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/tests/manager_test.go
Labels: area/backend

#33664 Toolkit: add deprecation notice to toolkit/ci commands
  packages/grafana-toolkit/src/cli/index.ts
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
Labels: area/frontend

#33699 PanelEdit: Do not show override option for panel with no field config options
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneOptions.test.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneOptions.tsx
  public/app/features/dashboard/components/PanelEditor/getFieldOverrideElements.tsx
Labels: area/frontend

#33451 Azure Monitor: Show loading indicators for dropdowns
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/AggregationField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNameField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/metrics.ts
Labels: area/frontend, datasource/Azure

#33488 Docs: share tooltip mode description between TimeSeries and PieChart
  docs/sources/panels/visualizations/pie-chart-panel.md
  docs/sources/panels/visualizations/time-series/_index.md
  docs/sources/shared/visualizations/tooltip-mode.md
Labels: area/panel/piechart, type/docs

#33718 Theme: Fix saas files
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
Labels: area/frontend

#33727 e2e: refactors the most flaky tests
  e2e/suite1/specs/panelEdit_queries.spec.ts
  e2e/suite1/specs/variables/set-options-from-ui.ts
Labels: area/frontend, area/grafana/e2e, type/e2e

#33717 PanelEdit: Highlight matched words when searching options
  package.json
  packages/grafana-data/src/text/text.ts
  packages/grafana-ui/src/components/Forms/Label.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  packages/grafana-ui/src/components/Typeahead/TypeaheadItem.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneCategoryDescriptor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneItemDescriptor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneOptions.tsx
  yarn.lock
Labels: area/frontend

#33408 Docs: Add documentation for inspector in Explore
  docs/sources/explore/_index.md
  docs/sources/explore/explore-inspector.md
  docs/sources/panels/inspect-panel.md
Labels: area/explore, area/frontend, panel/inspect, type/docs

#33720 Fix data source picker width issue
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.tsx
  public/app/core/components/TraceToLogsSettings.tsx
  public/app/plugins/datasource/prometheus/configuration/ExemplarSetting.tsx
Labels: area/frontend, datasource/Prometheus, type/bug

#33680 Dashboard: prevent error when sharing a dashboard.
  public/app/features/dashboard/components/ShareModal/ShareModal.tsx
Labels: area/dashboard, area/frontend, type/bug

#33348 GraphNG: cleanup
  packages/grafana-ui/src/components/BarChart/bars.ts
  packages/grafana-ui/src/components/BarChart/utils.ts
  packages/grafana-ui/src/components/GraphNG/GraphNG.story.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/utils.test.ts
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/TimeSeries/TimeSeries.tsx
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/Timeline/TimelineChart.tsx
  packages/grafana-ui/src/components/Timeline/types.ts
  packages/grafana-ui/src/components/Timeline/utils.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/context.ts
  packages/grafana-ui/src/components/uPlot/geometries/EventsCanvas.tsx
  packages/grafana-ui/src/components/uPlot/geometries/XYCanvas.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  public/app/features/explore/ExploreGraphNGPanel.tsx
  public/app/features/sandbox/TestStuffPage.tsx
  public/app/plugins/panel/timeline/TimelinePanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationsPlugin.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
  public/app/plugins/panel/xychart/XYChartPanel.tsx
Labels: area/explore, area/frontend

#33697 LibraryPanels: Adds folder name to Library Panel card
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_get_all_test.go
  pkg/services/librarypanels/librarypanels_get_test.go
  pkg/services/librarypanels/librarypanels_permissions_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
  public/app/features/dashboard/components/VizTypePicker/PanelTypeCard.tsx
  public/app/features/folders/FolderLibraryPanelsPage.tsx
  public/app/features/folders/state/navModel.ts
  public/app/features/library-panels/components/LibraryPanelCard/LibraryPanelCard.tsx
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.test.tsx
  public/app/features/library-panels/components/LibraryPanelsView/reducer.test.ts
  public/app/features/library-panels/types.ts
Labels: area/backend, area/frontend, area/frontend/library-panels

#33682 Enable tracing when jaeger host and port are set
  pkg/infra/tracing/tracing.go
  pkg/infra/tracing/tracing_test.go
Labels: area/backend

#32625 Add default support
  public/app/features/variables/datasource/reducer.test.ts
  public/app/features/variables/datasource/reducer.ts
Labels: area/dashboard/templating, area/frontend, pr/external

#33639 TimeSeries: Make timeseries the default panel and remove beta state
  e2e/shared/smokeTestScenario.ts
  e2e/suite1/specs/panelEdit_base.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/VizLegend/VizLegendListItem.tsx
  pkg/api/frontendsettings.go
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/VizTypePicker/VizTypePickerPlugin.tsx
  public/app/plugins/panel/barchart/plugin.json
  public/app/plugins/panel/bargauge/plugin.json
  public/app/plugins/panel/gauge/plugin.json
  public/app/plugins/panel/graph/plugin.json
  public/app/plugins/panel/heatmap/plugin.json
  public/app/plugins/panel/news/plugin.json
  public/app/plugins/panel/piechart/plugin.json
  public/app/plugins/panel/stat/plugin.json
  public/app/plugins/panel/table/plugin.json
  public/app/plugins/panel/text/plugin.json
  public/app/plugins/panel/timeline/plugin.json
  public/app/plugins/panel/timeseries/plugin.json
Labels: area/backend, area/frontend

#33740 GraphNG: display original values in the tooltip when stacking
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Labels: area/frontend, area/panel/timeseries, type/bug

#33579 Routing: refresh plugin module when pluginId changes
  public/app/core/components/Page/Page.tsx
  public/app/features/plugins/AppRootPage.tsx
Labels: area/frontend, area/plugins, type/bug

#33737 Pie Chart: add e2e test
  e2e/suite1/specs/pie-chart.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
Labels: area/frontend, area/grafana/e2e, area/panel/piechart, type/e2e

#33739 NGAlert: Fix some TODOs in notification channels
  pkg/services/ngalert/notifier/channels/dingding.go
  pkg/services/ngalert/notifier/channels/dingding_test.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/services/ngalert/notifier/channels/teams.go
  pkg/services/ngalert/notifier/channels/teams_test.go
Labels: area/backend

#33545 Fix dead key issue in slate
  package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/editor, area/frontend, type/bug

#33314 InfluxDB: Fix the ordering of results for influxql queries
  public/app/plugins/datasource/influxdb/response_parser.ts
  public/app/plugins/datasource/influxdb/specs/response_parser.test.ts
Labels: area/frontend, datasource/InfluxDB

#33707 Graphite: Pass date range to auto-complete for metrics
  public/app/features/explore/QueryEditor.tsx
Labels: area/explore, area/frontend, datasource/Graphite

#32257 SQL data sources: Convert to data frames
  pkg/services/sqlstore/sqlstore.go
  pkg/tsdb/interval/interval.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/postgres/postgres_test.go
  pkg/tsdb/sqleng/resample.go
  pkg/tsdb/sqleng/resample_test.go
  pkg/tsdb/sqleng/sql_engine.go
  pkg/tsdb/sqleng/sql_engine_test.go
  pkg/tsdb/sqleng/trim.go
  pkg/tsdb/sqleng/trim_test.go
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mssql/module.ts
  public/app/plugins/datasource/mssql/query_ctrl.ts
  public/app/plugins/datasource/mssql/response_parser.ts
  public/app/plugins/datasource/mssql/specs/datasource.test.ts
  public/app/plugins/datasource/mssql/types.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/mysql/module.ts
  public/app/plugins/datasource/mysql/mysql_query_model.ts
  public/app/plugins/datasource/mysql/query_ctrl.ts
  public/app/plugins/datasource/mysql/response_parser.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/mysql/types.ts
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/meta_query.ts
  public/app/plugins/datasource/postgres/module.ts
  public/app/plugins/datasource/postgres/postgres_query_model.ts
  public/app/plugins/datasource/postgres/query_ctrl.ts
  public/app/plugins/datasource/postgres/response_parser.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/specs/postgres_query.test.ts
  public/app/plugins/datasource/postgres/types.ts
Labels: area/backend, area/frontend, datasource/MSSQL, datasource/MySQL, datasource/Postgres, type/chore

#33750 Access control: Fix scopes in the API routes
  pkg/api/api.go
Labels: area/backend

#33651 Azure Monitor: Read only App Insights page in React
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ApplicationInsightsEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
Labels: area/frontend, datasource/Azure

#33412 Explore: Add error tab and rename query tab in inspector
  public/app/features/explore/ExploreQueryInspector.test.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
Labels: area/explore, area/frontend, type/chore

#33635 Tempo: Show graph view of the trace
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/graphTransform.test.ts
  public/app/plugins/datasource/tempo/graphTransform.ts
  public/app/plugins/datasource/tempo/testResponse.ts
Labels: area/frontend, area/panel/node-graph, datasource/Tempo

#33736 CloudWatch: Fix AWS/Connect dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, datasource/CloudWatch, type/bug

#33723 Unredact/secret
  pkg/services/ngalert/api/tooling/Makefile
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test_artifact.json
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test_artifact.yaml
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend

#33687 Routing NG: persist state on partial updates
  packages/grafana-runtime/src/services/LocationService.test.ts
  packages/grafana-runtime/src/services/LocationService.ts
Labels: area/frontend, area/routing

#33743 ConfirmButton: Add preventDefault
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
Labels: area/frontend, area/grafana/ui

#33405 Explore: Map Graphite queries to Loki
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/Alert/Alert.tsx
  public/app/features/explore/state/query.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/graphite/configuration/MappingsConfiguration.tsx
  public/app/plugins/datasource/graphite/configuration/MappingsHelp.tsx
  public/app/plugins/datasource/graphite/configuration/parseLokiLabelMappings.ts
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/graphite/types.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/importing/fromGraphite.ts
  public/app/plugins/datasource/loki/importing/importing.test.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
Labels: add to changelog, area/explore, area/frontend, datasource/Elasticsearch, datasource/Graphite, datasource/Loki

#33593 Alerting: Create and edit silences
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/features/alerting/unified/components/AlertLabel.tsx
  public/app/features/alerting/unified/components/AlertLabels.tsx
  public/app/features/alerting/unified/components/silences/Matchers.tsx
  public/app/features/alerting/unified/components/silences/MatchersField.tsx
  public/app/features/alerting/unified/components/silences/NoSilencesCTA.tsx
  public/app/features/alerting/unified/components/silences/SilencePeriod.tsx
  public/app/features/alerting/unified/components/silences/SilenceTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/features/alerting/unified/types/silence-form.ts
  public/app/routes/routes.tsx
Labels: area/frontend

#33734 Alerting: miscllaneous UI fixes & improvements
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/components/AlertManagerPicker.tsx
  public/app/features/alerting/unified/components/StateTag.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRouteForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversSection.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaAlertStatePicker.tsx
  public/app/features/alerting/unified/components/rules/AlertInstanceDetails.tsx
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
  public/app/features/alerting/unified/components/rules/AlertStateTag.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/components/rules/RuleQuery.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/silences/AmAlertStateTag.tsx
  public/app/features/alerting/unified/components/silences/SilenceStateTag.tsx
  public/app/features/alerting/unified/components/silences/SilenceTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/types/rule-form.ts
  public/app/features/alerting/unified/utils/rule-form.ts
  public/app/types/unified-alerting-dto.ts
  public/app/types/unified-alerting.ts
Labels: area/frontend

#33320 Chore: use dynamic ID in test assertion for sqlstore/search
  pkg/services/sqlstore/searchstore/search_test.go
Labels: area/backend, area/backend/db/sql

#33570 Alerting: edit cloud receivers
  public/app/features/alerting/components/OptionElement.tsx
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/features/alerting/unified/components/AlertManagerPicker.tsx
  public/app/features/alerting/unified/components/receivers/EditReceiverView.tsx
  public/app/features/alerting/unified/components/receivers/NewReceiverView.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversSection.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.test.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/components/receivers/form/ChannelOptions.tsx
  public/app/features/alerting/unified/components/receivers/form/ChannelSubForm.tsx
  public/app/features/alerting/unified/components/receivers/form/CloudCommonChannelSettings.tsx
  public/app/features/alerting/unified/components/receivers/form/CloudReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/CollapsibleSection.tsx
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/OptionElement.tsx
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/SubformOptionElement.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/DeletedSubform.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/KeyValueMapInput.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/OptionField.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/StringArrayInput.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/SubformArrayField.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/SubformField.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/styles.ts
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/silences/SilenceTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
  public/app/features/alerting/unified/hooks/useControlledFieldArray.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/mocks/grafana-notifiers.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/types/receiver-form.ts
  public/app/features/alerting/unified/utils/alertmanager-config.ts
  public/app/features/alerting/unified/utils/cloud-alertmanager-notifier-types.ts
  public/app/features/alerting/unified/utils/receiver-form.test.ts
  public/app/features/alerting/unified/utils/receiver-form.ts
  public/app/features/alerting/unified/utils/redux.ts
  public/app/types/alerting.ts
Labels: area/frontend

#33677 Alerting: implement deleting templates & receivers
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleEditorSection.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/utils/alertmanager-config.ts
Labels: area/frontend

#33777 Alerting: Fix state cache getOrCreate panic
  pkg/services/ngalert/state/cache.go
Labels: area/alerting, area/alerting-ng, area/backend

#33781 Access control: Add reporting permissions
  public/app/core/services/context_srv.ts
Labels: area/frontend

#33782 Alerting: fix links to folder settings
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
Labels: area/frontend

#33768 Grafana-UI: fix field validation error text color
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.tsx
Labels: area/frontend, area/grafana/ui, type/bug

#33785 CI: Fix triggering of enterprise
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging

#33784 Chore : Version bump for AWS SDK v1.38.34
  go.mod
  go.sum
Labels: area/backend, dependencies

#33523 Scuemata: Add grafana-cli command to validate basic scuemata
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/scuemata_validation_command.go
  pkg/cmd/grafana-cli/commands/scuemata_validation_command_test.go
  pkg/cmd/grafana-cli/commands/testdata/invalid_scuemata_missing_family/cue/data/gen.cue
  pkg/cmd/grafana-cli/commands/testdata/invalid_scuemata_missing_family/cue/scuemata/panel-plugin.cue
  pkg/cmd/grafana-cli/commands/testdata/invalid_scuemata_missing_family/cue/scuemata/scuemata.cue
  pkg/cmd/grafana-cli/commands/testdata/invalid_scuemata_missing_panel/cue/data/gen.cue
  pkg/cmd/grafana-cli/commands/testdata/invalid_scuemata_missing_panel/cue/scuemata/panel-plugin.cue
  pkg/cmd/grafana-cli/commands/testdata/invalid_scuemata_missing_panel/cue/scuemata/scuemata.cue
  pkg/cmd/grafana-cli/commands/testdata/public/dashlist/models.cue
  pkg/cmd/grafana-cli/commands/testdata/public/dashlist/plugin.json
  pkg/cmd/grafana-cli/commands/testdata/valid_scuemata/cue/data/gen.cue
  pkg/cmd/grafana-cli/commands/testdata/valid_scuemata/cue/scuemata/panel-plugin.cue
  pkg/cmd/grafana-cli/commands/testdata/valid_scuemata/cue/scuemata/scuemata.cue
  pkg/schema/load/common.go
Labels: area/backend

#33722 Alerting: remove instances from db and cache on rule update
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/store/alert_rule.go
Labels: area/alerting, area/alerting-ng, area/backend

#33719 AzureMonitor: Create read-only React view for Insights Analytics
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsAnalyticsEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/Space.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
Labels: area/frontend, datasource/Azure

#33789 DashboardSettings: Fixing container styles for the json mode view
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/JsonEditorSettings.tsx
Labels: area/frontend

#33786 Live: streamId in path for ws push endpoint
  pkg/services/live/live.go
  pkg/services/live/livecontext/context.go
  pkg/services/live/pushws/push.go
Labels: area/backend

#33674 Plugins: AuthType in route configuration and params interpolation
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_auth_provider_test.go
  pkg/api/pluginproxy/token_provider_gce.go
  pkg/api/pluginproxy/token_provider_generic.go
  pkg/api/pluginproxy/token_provider_jwt.go
  pkg/api/pluginproxy/token_provider_test.go
  pkg/plugins/app_plugin.go
Labels: add to changelog, area/backend, pr/external

#33797 Docs: Add Grafana basics card to landing page
  docs/sources/_index.md
Labels: backport v7.5.x, type/docs

#33783 Chore: Swap out use of backend plugin SDK's backend.Logger
  pkg/expr/nodes.go
Labels: area/backend, area/backend/logging

#33812 Drone: Make PRs pass when website docs step fail
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging

#33818 DataSource: show the uid in edit url, not the local id
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  plugins-bundled/internal/input-datasource/src/InputQueryEditor.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/datasources/DataSourceDashboards.test.tsx
  public/app/features/datasources/DataSourceDashboards.tsx
  public/app/features/datasources/DataSourcesList.tsx
  public/app/features/datasources/__mocks__/dataSourcesMocks.ts
  public/app/features/datasources/mocks.ts
  public/app/features/datasources/settings/DataSourceSettingsPage.test.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/app/features/datasources/state/actions.test.ts
  public/app/features/datasources/state/actions.ts
  public/app/features/datasources/state/navModel.ts
  public/app/features/datasources/state/selectors.ts
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/influxdb/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/routes/routes.tsx
Labels: area/frontend, datasource/Azure, datasource/CloudWatch, datasource/InfluxDB

#33826 PanelEditor: leave table view when changing the other display modes
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: area/frontend

#33555 Clarify active user restrictions
  docs/sources/enterprise/license/license-restrictions.md
Labels: type/docs

#33787 Access control: Add a role for provisioning admins
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
Labels: area/backend

#33800 PieChart: move the pie chart component into the panel
  packages/grafana-ui/src/components/PieChart/PieChart.story.tsx
  packages/grafana-ui/src/components/PieChart/types.ts
  packages/grafana-ui/src/components/index.ts
  public/app/plugins/panel/piechart/PieChart.tsx
  public/app/plugins/panel/piechart/PieChartOptionsBox.tsx
  public/app/plugins/panel/piechart/PieChartPanel.tsx
  public/app/plugins/panel/piechart/migrations.test.ts
  public/app/plugins/panel/piechart/migrations.ts
  public/app/plugins/panel/piechart/module.tsx
  public/app/plugins/panel/piechart/types.ts
Labels: area/frontend

#33835 Bump github.com/go-sql-driver/mysql from 1.5.0 to 1.6.0
  go.mod
  go.sum
Labels: area/backend

#33841 Change look of highlighted pie slices
  public/app/plugins/panel/piechart/PieChart.tsx
Labels: area/frontend, area/panel/piechart

#33171 CloudWatch: Add Amplify Console metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, area/backend, datasource/CloudWatch, pr/external, type/feature-request

#33433 GraphNG - shared cursor
  devenv/dev-dashboards/panel-graph/graph-shared-tooltip-cursor-position.json
  devenv/dev-dashboards/panel-graph/graph-shared-tooltips.json
  packages/grafana-data/src/events/common.ts
  packages/grafana-data/src/events/types.ts
  packages/grafana-data/src/types/dashboard.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/legacyEvents.ts
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/GraphNG/utils.test.ts
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  packages/grafana-ui/src/components/TimeSeries/TimeSeries.tsx
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/Timeline/TimelineChart.tsx
  packages/grafana-ui/src/components/Timeline/utils.ts
  packages/grafana-ui/src/components/VizTooltip/VizTooltipContainer.tsx
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/context.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  packages/grafana-ui/src/components/uPlot/types.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  packages/grafana-ui/src/utils/logger.ts
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/plugins/panel/debug/CursorView.tsx
  public/app/plugins/panel/debug/DebugPanel.tsx
  public/app/plugins/panel/debug/module.tsx
  public/app/plugins/panel/debug/types.ts
  public/app/plugins/panel/graph/graph_tooltip.ts
  public/app/plugins/panel/heatmap/rendering.ts
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Labels: area/frontend, area/panel/timeseries

#33645 CloudMonitoring: Migrate config editor from angular to react
  public/app/plugins/datasource/cloud-monitoring/components/ConfigEditor/ConfigEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/ConfigEditor/JWTConfig.tsx
  public/app/plugins/datasource/cloud-monitoring/config_ctrl.ts
  public/app/plugins/datasource/cloud-monitoring/module.ts
  public/app/plugins/datasource/cloud-monitoring/partials/config.html
  public/app/plugins/datasource/cloud-monitoring/types.ts
Labels: add to changelog, area/frontend, datasource/GoogleCloudMonitoring, type/chore, type/refactor

#33827 Docs: delete from high availability docs references to removed configurations related to session storage
  docs/sources/administration/set-up-for-high-availability.md
Labels: backport v7.5.x, pr/external, type/docs

#33854 DataSource : Use ids for Enterprise nav model items
  public/app/features/datasources/state/navModel.ts
Labels: area/frontend

#33794 Alerting: Disable dashboard alerting if NG enabled
  pkg/services/alerting/engine.go
Labels: area/alerting, area/alerting-ng, area/backend

#33798 Scuemata: Add grafana-cli cue schema validation to CI
  .drone.yml
  scripts/lib.star
  scripts/main.star
  scripts/pr.star
  scripts/release.star
Labels: type/build-packaging

#33308 Tempo: Search for Traces by querying Loki directly from Tempo
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/tempo/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/resultTransformer.test.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
Labels: area/frontend, datasource/Loki, datasource/Tempo

#33803 Timeline: move grafana/ui elements to the panel folder
  packages/grafana-ui/src/components/PanelChrome/index.ts
  packages/grafana-ui/src/components/index.ts
  public/app/plugins/panel/timeline/TimelineChart.tsx
  public/app/plugins/panel/timeline/TimelinePanel.tsx
  public/app/plugins/panel/timeline/module.tsx
  public/app/plugins/panel/timeline/timeline.ts
  public/app/plugins/panel/timeline/types.ts
  public/app/plugins/panel/timeline/utils.ts
Labels: area/frontend

#33863 Live: move connection endpoint to api scope, fixes #33861
  pkg/services/live/live.go
  public/app/features/live/live.ts
Labels: area/backend, area/frontend

#33870 Removed content in topic Set up Grafana for high availability
  docs/sources/administration/set-up-for-high-availability.md
Labels: backport v7.5.x, type/docs

#33871 Fixed grammar usage.
  docs/sources/auth/generic-oauth.md
Labels: type/docs

#33752 New Panel: Histogram
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/transformers.ts
  packages/grafana-data/src/transformations/transformers/histogram.test.ts
  packages/grafana-data/src/transformations/transformers/histogram.ts
  packages/grafana-data/src/transformations/transformers/ids.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
  public/app/core/components/TransformersUI/HistogramTransformerEditor.tsx
  public/app/core/utils/standardTransformers.ts
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/histogram/Histogram.tsx
  public/app/plugins/panel/histogram/HistogramPanel.tsx
  public/app/plugins/panel/histogram/img/histogram.svg
  public/app/plugins/panel/histogram/models.cue
  public/app/plugins/panel/histogram/models.gen.ts
  public/app/plugins/panel/histogram/module.tsx
  public/app/plugins/panel/histogram/plugin.json
  public/app/plugins/panel/histogram/utils.ts
Labels: area/frontend

#33874 Prometheus: Sanitize PromLink button
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
Labels: area/frontend, backport v7.5.x, datasource/Prometheus, type/bug

#33867 Refactor and unify option creation between new visualizations
  packages/grafana-ui/src/components/BarChart/utils.ts
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  packages/grafana-ui/src/components/uPlot/models.cue
  packages/grafana-ui/src/components/uPlot/models.gen.ts
  packages/grafana-ui/src/index.ts
  packages/grafana-ui/src/options/builder/axis.tsx
  packages/grafana-ui/src/options/builder/hideSeries.tsx
  packages/grafana-ui/src/options/builder/index.ts
  packages/grafana-ui/src/options/builder/legend.tsx
  packages/grafana-ui/src/options/index.ts
  packages/grafana-ui/src/options/models.gen.ts
  public/app/plugins/panel/barchart/module.tsx
  public/app/plugins/panel/histogram/Histogram.tsx
  public/app/plugins/panel/piechart/module.tsx
  public/app/plugins/panel/timeseries/HideSeriesConfigEditor.tsx
  public/app/plugins/panel/timeseries/ScaleDistributionEditor.tsx
  public/app/plugins/panel/timeseries/config.ts
  public/app/plugins/panel/timeseries/module.tsx
  public/app/plugins/panel/timeseries/types.ts
  public/app/plugins/panel/xychart/module.tsx
  public/app/plugins/panel/xychart/types.ts
Labels: area/frontend, area/panel/barchart, area/panel/piechart, area/panel/timeseries

#33865 Live: do not show connection warning when on the login page
  public/app/AppWrapper.tsx
  public/app/features/live/LiveConnectionWarning.tsx
Labels: area/frontend

#33877 enforce receivers align with backend type when posting AM config
  pkg/services/ngalert/api/forked_am.go
Labels: area/backend

#33670 Docs: Detail `hide_version` flag
  docs/sources/auth/grafana.md
Labels: backport v7.5.x, pr/external, type/docs

#33884 GraphNG: always use "x" as scaleKey for x axis
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/TimeSeries/utils.ts
Labels: area/frontend

#33882 Timeline: add support for strings & booleans
  devenv/dev-dashboards/panel-timeline/timeline-modes.json
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/timeline/TimelineChart.tsx
Labels: area/frontend

#32168 InfluxDB: Convert the InfluxQL Query Editor from Angular to React
  public/app/plugins/datasource/influxdb/components/FluxQueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/QueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/QueryEditorModeSwitcher.tsx
  public/app/plugins/datasource/influxdb/components/RawInfluxQLEditor.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/AddButton.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.test.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/FormatAsSection.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/FromSection.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/InputSection.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/OrderByTimeSection.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/PartListSection.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/SectionFill.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/SectionLabel.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Seg.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/TagsSection.test.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/TagsSection.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/partListUtils.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/styles.ts
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/tagUtils.test.ts
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/tagUtils.ts
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/toSelectableValue.ts
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/unwrap.ts
  public/app/plugins/datasource/influxdb/components/constants.ts
  public/app/plugins/datasource/influxdb/components/queryUtils.test.ts
  public/app/plugins/datasource/influxdb/components/queryUtils.ts
  public/app/plugins/datasource/influxdb/influxQLMetadataQuery.ts
  public/app/plugins/datasource/influxdb/module.ts
  public/app/plugins/datasource/influxdb/partials/query.editor.html
  public/app/plugins/datasource/influxdb/query_ctrl.ts
  public/app/plugins/datasource/influxdb/registerRawInfluxQLEditor.ts
  public/app/plugins/datasource/influxdb/specs/query_ctrl.test.ts
  public/app/plugins/datasource/influxdb/types.ts
Labels: area/frontend, datasource/InfluxDB

#33694 Graphite: Expand metric names for variables
  docs/sources/datasources/graphite.md
  public/app/plugins/datasource/graphite/datasource.test.ts
  public/app/plugins/datasource/graphite/datasource.ts
Labels: add to changelog, area/frontend, datasource/Graphite, type/docs

#33843 [Alerting]: Alertmanager API apply permissions
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: area/backend

#33646 Elasticsearch: use semver strings to identify ES version
  docs/sources/administration/provisioning.md
  docs/sources/datasources/elasticsearch.md
  go.mod
  go.sum
  package.json
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/client/search_request_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/configuration/mocks.ts
  public/app/plugins/datasource/elasticsearch/configuration/utils.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
  public/app/plugins/datasource/elasticsearch/utils.ts
Labels: add to changelog, area/backend, area/frontend, datasource/Elasticsearch, type/docs

#33907 TagsInput: Fix layout issue with tags input
  packages/grafana-ui/src/components/TagsInput/TagsInput.tsx
Labels: area/frontend

#33902 DashboardPage: Makes slug parameter optional
  public/app/routes/routes.tsx
Labels: area/frontend, area/frontend/library-panels

#33912 DataLinksModal: Update buttons to use new styling
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinkEditorModalContent.tsx
Labels: area/frontend

#33562 Docs: Improve plugin signing docs
  docs/sources/developers/plugins/sign-a-plugin.md
Labels: area/plugins, type/docs

#33919 DatasourceSettings: align Alert title
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
Labels: area/frontend

#33922 Stop hoisting @icons/material
  package.json
  yarn.lock
Labels: area/frontend, type/chore

#33924 Variables: Clear query when data source type changes
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/actions.ts
Labels: add to changelog, area/dashboard/templating, area/frontend, type/bug

#33928 Migrate timeseries hideFrom graph->viz (#33806)
  public/app/plugins/panel/timeseries/migrations.test.ts
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/frontend, area/panel/timeseries

#33923 v8: Update login page design
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  public/app/core/components/Branding/Branding.tsx
  public/app/core/components/Login/LoginLayout.tsx
  public/app/core/components/Login/UserSignup.tsx
  public/app/features/users/SignupInvited.tsx
  public/app/plugins/panel/gettingstarted/GettingStarted.tsx
  public/app/plugins/panel/gettingstarted/components/DocsCard.tsx
  public/app/plugins/panel/gettingstarted/components/TutorialCard.tsx
  public/app/plugins/panel/gettingstarted/components/sharedStyles.ts
  public/app/plugins/panel/welcome/Welcome.tsx
  public/img/g8_home_v2.svg
  public/img/g8_login_dark.svg
  public/img/g8_login_light.svg
  public/sass/base/_forms.scss
  public/sass/components/_footer.scss
Labels: area/frontend
