Repository grafana/grafana, pull requests merged in 2021-08, with the labels that each got.

#37437 Alerting: put alerting admin page under ngalert flag
  pkg/api/index.go
Labels: area/backend, area/unified-alerting, backport v8.1.x, type/bug

#37444 PasswordField: Don't show password on enter
  public/app/core/components/PasswordField/PasswordField.tsx
Labels: area/frontend, backport v8.1.x

#37449 Chore: Update TypeScript strict error check now some others have been fixed
  scripts/ci-check-strict.sh
Labels: area/frontend, type/build-packaging, type/chore

#37420 Connor/jaeger misc sync
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/utils.tsx
  packages/jaeger-ui-components/src/constants/tag-keys.tsx
  packages/jaeger-ui-components/src/utils/date.test.js
  packages/jaeger-ui-components/src/utils/date.tsx
  packages/jaeger-ui-components/src/utils/filter-spans.test.js
  packages/jaeger-ui-components/src/utils/filter-spans.tsx
Labels: area/frontend

#37447 Put back signature in drone.yml
  .drone.yml
Labels: type/build-packaging

#37305 Explore: use GrafanaTheme2
  public/app/features/explore/Logs.tsx
Labels: area/explore, area/frontend, type/refactor

#37418 Jaeger: Sync refactor UNSAFE_component... from SpanGraph and VirtualizedTraceView
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.test.js
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
Labels: area/frontend

#37408 Jaeger: Sync getTraceName improvements from upstream
  packages/jaeger-ui-components/src/model/find-trace-name.test.js
  packages/jaeger-ui-components/src/model/trace-viewer.ts
  packages/jaeger-ui-components/src/model/transform-trace-data.test.js
  packages/jaeger-ui-components/src/model/transform-trace-data.tsx
Labels: area/frontend, datasource/Jaeger

#37285 TooltipPlugin: add crosshair exception
  packages/grafana-ui/src/components/uPlot/Plot.scss
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Labels: add to changelog, area/frontend, area/panel/timeseries

#37457 Annotations: Fix hidden label typo
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
Labels: area/frontend, backport v8.1.x, type/chore

#37454 Annotation: Fix "Enabled" button disappear after Grafana v8.0.6 upgrade
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
Labels: area/annotations, area/frontend, type/bug

#37067 AzureMonitor: Refactor query state and fetching data for Metrics
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ArgQueryEditor/ArgQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsAnalyticsEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/FormatAsField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/QueryField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/ResourceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/AggregationField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/LegendFormatField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNameField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceGroupsField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceNameField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceTypeField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/TimeGrainField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/TopField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryTypeField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/SubscriptionField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/metrics.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/types.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/common.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/common.ts
Labels: area/frontend, datasource/Azure

#37456 Select: Expose `menuPortalTarget` on `SelectBase`
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
Labels: area/frontend, backport v8.1.x, type/bug

#36913 Style: Fix for Flex compatibility in lower versions of browsers
  public/app/features/explore/Explore.tsx
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
Labels: area/explore, area/frontend, pr/external

#37476 AzureMonitor: Fix annotations query editor not loading
  public/app/plugins/datasource/grafana-azure-monitor-datasource/annotations_query_ctrl.ts
Labels: add to changelog, area/frontend, backport v8.0.x, backport v8.1.x, datasource/Azure

#37481 [v8.0.x] Sign Drone's configuration YAML file
  .drone.star
  .drone.yml
  Makefile
Labels: type/build-packaging

#37453 InfluxDB: better query-has-variable check
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: area/frontend, backport v8.1.x, datasource/InfluxDB

#37432 Docs: fix wrong formula
  docs/sources/variables/variable-types/global-variables.md
Labels: backport v8.0.x, backport v8.1.x, pr/external, type/docs

#37464 GraphNG: fix y axis autosizing
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
Labels: area/frontend, area/panel/timeseries, backport v8.1.x, type/bug

#36766 Docs: Documents caching encryption in enterprise config
  docs/sources/enterprise/enterprise-configuration.md
Labels: backport v8.1.x, type/docs

#37314 Docs: Update docs for enterprise reporting
  docs/sources/enterprise/reporting.md
Labels: backport v8.1.x, type/docs

#37492 [v8.1.x] Encryption: Convert functions into global variables (#37240)
  pkg/util/encryption.go
Labels: area/backend, area/backend/security, backport

#37506 Annotations: Fix Datasource as template variable not available for annotations
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
Labels: area/annotations, area/frontend, backport v8.1.x, type/bug

#37505 Doc: Syncing 8.1 from main into v8.1.x branch.
  docs/sources/alerting/unified-alerting/troubleshoot-alerts.md
  docs/sources/alerting/unified-alerting/view-alerts.md
  docs/sources/auth/grafana.md
  docs/sources/auth/overview.md
  docs/sources/dashboards/time-range-controls.md
  docs/sources/datasources/elasticsearch.md
  docs/sources/datasources/jaeger.md
  docs/sources/datasources/loki.md
  docs/sources/datasources/prometheus.md
  docs/sources/explore/logs-integration.md
  docs/sources/panels/visualizations/annotations.md
  docs/sources/panels/visualizations/geomap.md
  docs/sources/panels/visualizations/logs-panel.md
  docs/sources/release-notes/_index.md
  docs/sources/whatsnew/whats-new-in-v8-1.md
Labels: type/docs

#37459 Portal: optimizations
  packages/grafana-ui/src/components/Portal/Portal.tsx
Labels: area/frontend, backport v8.1.x

#37450 Explore: use GrafanaTheme2 (ExploreGraphNGPanel component)
  public/app/features/explore/ExploreGraphNGPanel.tsx
Labels: area/explore, area/frontend, type/refactor

#37333 GraphNG: make sure we update when children changes
  packages/grafana-ui/src/components/uPlot/Plot.tsx
Labels: area/frontend

#37434 Explore: use GrafanaTheme2 (AdHocFilter component)
  public/app/features/explore/AdHocFilter.tsx
  public/app/features/explore/AdHocFilterField.test.tsx
  public/app/features/explore/AdHocFilterField.tsx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.test.tsx
  public/app/plugins/datasource/influxdb/components/InfluxLogsQueryField.tsx
Labels: area/explore, area/frontend, datasource/InfluxDB, type/refactor

#37480 Remove _url from loading logo
  docs/sources/enterprise/white-labeling.md
Labels: backport v8.1.x, type/docs

#36912 TimeRangePicker: Accessiblity improvements
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e/src/flows/setTimeRange.ts
  packages/grafana-ui/src/components/Button/ToolbarButton.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerCalendar.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerContent.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerFooter.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerTitle.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeForm.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeForm.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeList.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeOption.tsx
Labels: add to changelog, area/frontend, backport v8.1.x, type/accessibility

#37493 influxdb: more robust query-has-variables check
  public/app/plugins/datasource/influxdb/components/QueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/queryUtils.test.ts
  public/app/plugins/datasource/influxdb/queryUtils.ts
Labels: area/frontend, backport v8.1.x, datasource/InfluxDB

#37490 DashboardPrompt: Implement `beforeunload` handler
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
Labels: area/dashboard, area/frontend, backport v8.1.x, type/bug

#37496 Fix: Wrong annotations show on a given dashboard. Correct annotations show on page refresh. #37160
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/dashboard/state/initDashboard.ts
Labels: area/annotations, area/frontend, backport v8.1.x, type/bug

#37531 Catalog: Fix InstallControls for externally managed users
  public/app/features/plugins/admin/components/InstallControls.tsx
Labels: area/frontend, area/plugins, backport v8.1.x

#37520 Loki: Update labels in log browser when time range changes
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.test.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/language_utils.ts
Labels: add to changelog, area/frontend, backport v8.1.x, datasource/Loki, type/bug

#37535 Accesscontrol: Revert Revert Implement a way to register fixed role…
  pkg/api/admin_provisioning_test.go
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/http_server.go
  pkg/api/roles.go
  pkg/server/server.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/errors.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
  pkg/services/accesscontrol/roles.go
  pkg/services/accesscontrol/roles_test.go
  pkg/services/provisioning/provisioning.go
Labels: area/backend

#37350 Plugins: Update Catalog Card UI
  packages/grafana-data/src/types/plugin.ts
  packages/grafana-ui/src/types/icon.ts
  public/app/features/plugins/admin/api.ts
  public/app/features/plugins/admin/components/Card.tsx
  public/app/features/plugins/admin/components/Grid.tsx
  public/app/features/plugins/admin/components/PluginBadges.test.tsx
  public/app/features/plugins/admin/components/PluginBadges.tsx
  public/app/features/plugins/admin/components/PluginList.tsx
  public/app/features/plugins/admin/components/PluginListCard.test.tsx
  public/app/features/plugins/admin/components/PluginListCard.tsx
  public/app/features/plugins/admin/components/PluginLogo.tsx
  public/app/features/plugins/admin/helpers.ts
  public/app/features/plugins/admin/hooks/usePlugins.tsx
  public/app/features/plugins/admin/pages/Browse.test.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
  public/app/features/plugins/admin/pages/PluginDetails.tsx
  public/app/features/plugins/admin/types.ts
Labels: area/frontend, area/plugins, backport v8.1.x

#37541 Loki: Update labels in log browser when time range changes in dashboard
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiQueryEditor.test.tsx.snap
Labels: area/frontend, backport v8.1.x, datasource/Loki, type/bug

#37527 [docs] small typo fix
  docs/sources/panels/transformations/rows-to-fields.md
Labels: type/docs

#37550 Grafana UI: fix TimeRangePicker DOM nesting
  packages/grafana-ui/src/components/DateTimePickers/TimeRangeInput.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerContent.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeForm.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeList.tsx
Labels: area/frontend, area/grafana/ui, backport v8.1.x

#36786 Docs: Added missing enterprise plugins
  docs/sources/enterprise/_index.md
  public/app/features/admin/UpgradePage.tsx
  public/app/features/datasources/state/buildCategories.test.ts
  public/app/features/datasources/state/buildCategories.ts
  public/img/plugins/gitlab.svg
  public/img/plugins/jira_logo.png
  public/img/plugins/salesforce.svg
  public/img/plugins/signalfx-logo.svg
Labels: area/frontend, type/docs

#37546 Dependency: update collector to v.31.0
  go.mod
  go.sum
  pkg/tsdb/tempo/tempo.go
  pkg/tsdb/tempo/trace_transform.go
  pkg/tsdb/tempo/trace_transform_test.go
Labels: area/backend, backport v8.1.x, datasource/Tempo

#37547 Catalog: Update enterprise license messaging in PluginDetails
  public/app/features/plugins/admin/components/InstallControls.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
Labels: area/frontend, area/plugins, backport v8.1.x

#37509 Geomap: Use set to order labels in reducer
  packages/grafana-data/src/transformations/transformers/reduce.ts
Labels: area/frontend, backport v8.1.x

#37557 Plugins: Update plugin catalog docs
  docs/sources/plugins/catalog.md
Labels: area/plugins, backport v8.1.x, type/docs

#37563 Field: use 0-based field.state.seriesIndex
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: area/frontend, backport v8.1.x, priority/important-soon, type/bug

#37513 XYCanvas: useMemo() for className gen
  packages/grafana-ui/src/components/uPlot/geometries/XYCanvas.tsx
Labels: area/frontend, backport v8.1.x, type/performance

#37460 GraphNG: optimize cursor
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
Labels: area/frontend, area/panel/timeseries, backport v8.1.x

#36796 Prometheus: Implement stepMode for alerting queries
  docs/sources/datasources/prometheus.md
  pkg/tsdb/calculator.go
  pkg/tsdb/calculator_test.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/influxdb/query.go
  pkg/tsdb/interval/interval.go
  pkg/tsdb/interval/interval_test.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/prometheus_test.go
  pkg/tsdb/sqleng/sql_engine.go
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
Labels: area/backend, area/frontend, datasource/Elasticsearch, datasource/GoogleCloudMonitoring, datasource/Loki, datasource/Prometheus, type/docs

#37400 Chore: Refactor loki to use SDK contracts
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/loki_test.go
  pkg/tsdb/service.go
Labels: area/backend, datasource/Loki, type/chore

#37483 Zipkin: add ability to upload trace json
  docs/sources/datasources/zipkin.md
  public/app/plugins/datasource/zipkin/QueryField.test.tsx
  public/app/plugins/datasource/zipkin/QueryField.tsx
  public/app/plugins/datasource/zipkin/datasource.test.ts
  public/app/plugins/datasource/zipkin/datasource.ts
  public/app/plugins/datasource/zipkin/mockJsonResponse.json
  public/app/plugins/datasource/zipkin/types.ts
Labels: add to changelog, area/frontend, datasource/Zipkin, type/docs

#37532 AzureMonitor: Remove Angular query editor
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/useDefaultQuery.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/module.ts
Labels: area/frontend, datasource/Azure

#37440 Chore: Refactor tempo using SDK contracts
  pkg/tsdb/service.go
  pkg/tsdb/tempo/tempo.go
  pkg/tsdb/tempo/tempo_test.go
Labels: area/backend, datasource/Tempo, type/chore

#37523 Explore: use GrafanaTheme (LogsNavigationPages component)
  public/app/features/explore/LogsNavigationPages.tsx
Labels: area/explore, area/frontend, type/refactor

#37518 Explore: use GrafanaTheme2 (LogsNavigation component)
  public/app/features/explore/LogsNavigation.tsx
Labels: area/explore, area/frontend, type/refactor

#37579 Updated "react-use" package to newest version
  package.json
  packages/grafana-ui/src/components/VizLayout/VizLayout.tsx
  public/app/core/components/Select/SortPicker.tsx
  public/app/features/dashboard/components/Inspector/hooks.ts
  public/app/features/dashboard/components/PanelEditor/OptionsPaneCategory.tsx
  public/app/features/folders/FolderLibraryPanelsPage.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Seg.tsx
  public/app/plugins/datasource/testdata/QueryEditor.tsx
  yarn.lock
Labels: area/frontend

#37591 Docs: Add 8.1.0 release notes link
  docs/sources/release-notes/_index.md
Labels: type/docs

#37407 Tempo: add ability to upload trace json
  docs/sources/datasources/tempo.md
  package.json
  pkg/tsdb/tempo/trace_transform.go
  public/app/plugins/datasource/tempo/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/mockJsonResponse.json
  public/app/plugins/datasource/tempo/resultTransformer.ts
  yarn.lock
Labels: add to changelog, area/backend, area/frontend, datasource/Tempo, type/docs

#37399 Chore: Reduce Elasticsearch data source plugin strict errors
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/BucketAggregationEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/DateHistogramSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/state/actions.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/state/types.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/TermsSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/state/actions.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/state/types.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/actions.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/types.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/MovingAverageSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/SettingField.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/TopMetricsSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/state/actions.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/state/types.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/state.ts
  public/app/plugins/datasource/elasticsearch/hooks/useStatelessReducer.ts
  scripts/ci-check-strict.sh
Labels: datasource/Elasticsearch, type/build-packaging, area/frontend

#37601 Doc: Remove section "Support for AES-GCM encryption algorithm" from 8.1 What's new
  docs/sources/whatsnew/whats-new-in-v8-1.md
Labels: type/docs, backport v8.1.x

#37606 Update publish.yml for 8.1.0
  .github/workflows/publish.yml
Labels: type/docs, type/chore

#37615 Tooltip: fix time label mismatched with cursor & hover points
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Labels: type/bug, priority/important-soon, area/frontend, area/panel/timeseries, type/regression, backport v8.1.x

#37578 Prometheus: Add browser access mode deprecation warning
  docs/sources/datasources/prometheus.md
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
Labels: type/docs, datasource/Prometheus, area/frontend, add to changelog

#37577 Datasource: Pass access type to data source instance settings
  packages/grafana-data/src/types/datasource.ts
  pkg/api/frontendsettings.go
  plugins-bundled/internal/input-datasource/src/InputDatasource.test.ts
  public/app/features/alerting/unified/RedirectToRuleViewer.test.tsx
  public/app/features/alerting/unified/RuleViewer.test.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/utils/query.test.ts
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/expressions/ExpressionDatasource.ts
  public/app/features/variables/shared/testing/helpers.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/instanceSettings.ts
  public/app/plugins/datasource/jaeger/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/zipkin/datasource.test.ts
Labels: area/dashboard/templating, datasource/Elasticsearch, area/backend, area/explore, area/frontend, datasource/Azure, datasource/Zipkin, datasource/Tempo

#37583 Plugins: Fix plugin signature status
  public/app/features/plugins/admin/helpers.ts
Labels: type/bug, area/plugins, area/frontend, backport v8.1.x

#37472 Build: bump fork-ts-checker-webpack-plugin to 6.3.1
  package.json
  yarn.lock
Labels: type/build-packaging, area/frontend, dependencies

#37630 Toolkit: rename deprecated tsConfig to tsconfig
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
Labels: area/frontend, area/grafana/toolkit

#37639 CloudWatch Logs: Fix crash when no region is selected
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: type/bug, add to changelog, datasource/CloudWatch Logs, backport v8.0.x, backport v8.1.x

#37652 live: add ha with redis to what's new
  docs/sources/live/live-ha-setup.md
  docs/sources/whatsnew/whats-new-in-v8-1.md
Labels: type/docs, backport v8.1.x

#37543 Explore: use GrafanaTheme2 (SecondaryActions component)
  public/app/features/explore/SecondaryActions.tsx
Labels: type/refactor, area/explore, area/frontend

#37593 Dashboard: Accessible text for search links
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
Labels: type/bug, area/dashboard, area/frontend, type/accessibility

#37358 Prometheus: Migrate to use SDK contracts
  CHANGELOG.md
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/prometheus_test.go
  pkg/tsdb/service.go
Labels: datasource/Prometheus, area/backend

#37676 DatePicker: Use TZ independent formatter
  packages/grafana-ui/src/components/DateTimePickers/DatePickerWithInput/DatePickerWithInput.tsx
Labels: area/frontend, area/grafana/ui, backport v8.1.x

#37634 Logs panel: Set default scrolling for ascending order to bottom
  public/app/plugins/panel/logs/LogsPanel.test.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: type/feature-request, area/frontend, area/panel/logs

#37654 Accesscontrol: Update API examples
  docs/sources/http_api/access_control.md
Labels: type/docs

#37688 Plugins: Use file extension allowlist when serving plugin assets instead of checking for UNIX executable
  pkg/api/plugins.go
  pkg/api/plugins_test.go
Labels: area/plugins, area/backend/api, area/backend, add to changelog, backport v8.1.x

#37697 Doc: Fix issue 37381
  docs/sources/datasources/cloudwatch.md
Labels: type/docs, backport v8.0.x, backport v8.1.x

#37696 Docs: Clarify how to enable "Forward OAuth Identity" for data sources
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
Labels: type/docs, backport v8.1.x

#37602 Strip nulls from all latest devenv dashboards
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_compare.json
  devenv/dev-dashboards/datasource-opentsdb/opentsdb_v2.3.json
  devenv/dev-dashboards/datasource-testdata/new_features_in_v8.json
  devenv/dev-dashboards/home.json
  devenv/dev-dashboards/panel-barchart/barchart-autosizing.json
  devenv/dev-dashboards/panel-graph/graph-ng-by-value-color-schemes.json
  devenv/dev-dashboards/panel-graph/graph-ng-nulls.json
  devenv/dev-dashboards/panel-histogram/histogram_tests.json
  devenv/dev-dashboards/panel-timeline/timeline-demo.json
  devenv/dev-dashboards/panel-timeline/timeline-modes.json
  devenv/dev-dashboards/transforms/config-from-query.json
  devenv/dev-dashboards/transforms/rows-to-fields.json
Labels: area/frontend, area/devenv, area/scuemata

#37707 Docs: Updated note in Share a panel topic
  docs/sources/sharing/share-panel.md
Labels: backport v8.0.x, backport v8.1.x

#37712 ReleaseNotes: Updated changelog and release notes for 8.1.1 (#37692)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-1-1.md
Labels: type/docs

#37713 Docs: Updated note in "Alertmanager data source" topic
  docs/sources/datasources/alertmanager.md
  docs/sources/datasources/elasticsearch.md
  docs/sources/datasources/google-cloud-monitoring/_index.md
Labels: type/docs, backport v8.1.x

#37643 Toolkit: Fix matchMedia not found error
  packages/grafana-toolkit/src/config/jest.plugin.config.ts
  packages/grafana-toolkit/src/config/matchMedia.js
  public/app/features/alerting/unified/AmRoutes.test.tsx
Labels: type/bug, area/frontend, add to changelog, area/grafana/toolkit, backport v8.0.x, backport v8.1.x

#37702 Run builds on single-build agents
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging

#37442 Explore: Fix showing of full log context
  packages/grafana-ui/src/components/Logs/LogRowContext.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
  public/app/features/explore/Logs.tsx
Labels: type/bug, area/explore, area/frontend, add to changelog, area/logs, backport v8.1.x

#37677 Truncate float64 values to a lower precision to look the same on all platforms
  pkg/tsdb/testdatasource/testdata/usa-timeseries-wide.txt
  pkg/tsdb/testdatasource/testdata/usa-timeseries.txt
  pkg/tsdb/testdatasource/testdata/usa-values-as-fields.txt
  pkg/tsdb/testdatasource/testdata/usa-values-as-labeled-fields.txt
  pkg/tsdb/testdatasource/testdata/usa-values-as-rows.txt
  pkg/tsdb/testdatasource/usa_stats.go
Labels: area/backend

#37672 Macaron: convert CSP middleware
  pkg/api/http_server.go
  pkg/middleware/csp.go
  pkg/middleware/middleware_test.go
Labels: area/backend

#37701 InfluxDB: InfluxQL: update provisioning example
  docs/sources/datasources/influxdb/provision-influxdb.md
Labels: type/docs, backport v8.1.x

#37201 Alerting: interpolate variables when creating alert rule from dashboard panel
  pkg/expr/nodes.go
  public/app/features/alerting/unified/PanelAlertTabContent.test.tsx
  public/app/features/alerting/unified/components/panel-alerts-tab/NewRuleFromPanelButton.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/utils/rule-form.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/types/unified-alerting-dto.ts
Labels: datasource/InfluxDB, area/backend, area/frontend, area/unified-alerting

#37685 UI: FileDropzone component to handle file list overwrite
  packages/grafana-ui/src/components/FileDropzone/FileDropzone.story.tsx
  packages/grafana-ui/src/components/FileDropzone/FileDropzone.test.tsx
  packages/grafana-ui/src/components/FileDropzone/FileDropzone.tsx
  packages/grafana-ui/src/components/FileDropzone/FileListItem.test.tsx
  packages/grafana-ui/src/components/FileDropzone/FileListItem.tsx
Labels: area/frontend, area/grafana/ui, backport v8.1.x

#37723 [v8.1.x] Explore: Fix showing of full log context
  packages/grafana-ui/src/components/Logs/LogRowContext.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
  public/app/features/explore/Logs.tsx
Labels: area/explore, area/frontend, backport

#37717 Accesscontrol fix permission name
  docs/sources/enterprise/access-control/permissions.md
  docs/sources/http_api/admin.md
Labels: type/docs, backport v8.1.x

#37730 TimeRangeOption: Make entire list item clickable
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeOption.tsx
Labels: area/frontend, backport v8.1.x

#37627 Macaron: Strip down renderer middleware
  pkg/api/avatar/avatar.go
  pkg/api/common_test.go
  pkg/api/frontendsettings_test.go
  pkg/api/http_server.go
  pkg/macaron/context.go
  pkg/macaron/macaron.go
  pkg/macaron/render.go
  pkg/middleware/gziper.go
  pkg/middleware/middleware_test.go
  pkg/middleware/org_redirect.go
  pkg/middleware/rate_limit_test.go
  pkg/middleware/recovery.go
  pkg/middleware/recovery_test.go
  pkg/models/context.go
Labels: area/backend

#37682 DashboardLinks: Screen reader accessibility
  packages/grafana-e2e-selectors/src/selectors/components.ts
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.tsx
Labels: type/bug, area/frontend, type/accessibility, backport v8.1.x

#37737 Doc: Fix typo in exemplar topic
  docs/sources/basics/exemplars/_index.md
Labels: type/docs, backport v8.0.x, backport v8.1.x

#37744 Alerting: fix saving LINE contact point
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Labels: area/backend, add to changelog, pr/external, backport v8.1.x

#37721 Add differentiating test
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.test.tsx
Labels: area/frontend

#37569 Tooltip: display ms within minute time range
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.test.tsx
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
  packages/grafana-ui/src/components/Graph/utils.test.ts
Labels: area/frontend, add to changelog, area/panel/timeseries, backport v8.1.x

#37539 Explore: use GrafanaTheme2 (MetaInfoText component)
  public/app/features/explore/MetaInfoText.tsx
Labels: type/refactor, area/explore, area/frontend

#37309 Graphite: Migrate to React (part 3: migrate segments)
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
  packages/grafana-ui/src/components/Segment/SegmentSelect.tsx
  public/app/core/angular_wrappers.ts
  public/app/plugins/datasource/graphite/components/MetricSegment.tsx
  public/app/plugins/datasource/graphite/components/MetricsSection.tsx
  public/app/plugins/datasource/graphite/components/SeriesSection.tsx
  public/app/plugins/datasource/graphite/components/TagEditor.tsx
  public/app/plugins/datasource/graphite/components/TagsSection.tsx
  public/app/plugins/datasource/graphite/components/helpers.ts
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/partials/query.editor.html
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/graphite/specs/query_ctrl.test.ts
  public/app/plugins/datasource/graphite/state/actions.ts
  public/app/plugins/datasource/graphite/state/helpers.ts
  public/app/plugins/datasource/graphite/state/providers.ts
  public/app/plugins/datasource/graphite/state/store.ts
  public/app/plugins/datasource/graphite/types.ts
Labels: datasource/Graphite, area/frontend

#37771 Timeseries: migrate log scale
  public/app/plugins/panel/timeseries/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/timeseries/migrations.test.ts
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/frontend, area/panel/timeseries

#37766 Chore: define base panel type in @grafana/data
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/types/dashboard.ts
  packages/grafana-data/src/types/data.ts
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/logs.ts
  packages/grafana-data/src/types/panel.ts
  packages/grafana-data/src/types/query.ts
  packages/grafana-data/src/types/queryRunner.ts
  packages/grafana-data/src/types/variables.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/panel/graph/GraphMigrations.test.ts
Labels: area/frontend

#37750 Chore: Fix some more typescript strict errors
  public/app/features/manage-dashboards/components/ImportDashboardOverview.tsx
  public/app/features/plugins/admin/hooks/usePlugins.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/InsightsConfig.tsx
  public/app/plugins/datasource/testdata/components/USAQueryEditor.tsx
  scripts/ci-check-strict.sh
Labels: type/chore, type/build-packaging, datasource/CloudWatch, area/frontend, datasource/Azure

#37780 Transformations: support a synchronous transformation pattern
  packages/grafana-data/src/transformations/transformers/ensureColumns.ts
  packages/grafana-data/src/transformations/transformers/histogram.ts
  packages/grafana-data/src/transformations/transformers/seriesToColumns.ts
  packages/grafana-data/src/types/transformations.ts
  public/app/core/components/TransformersUI/prepareTimeSeries/prepareTimeSeries.test.ts
  public/app/core/components/TransformersUI/prepareTimeSeries/prepareTimeSeries.ts
Labels: area/frontend, area/transformations

#37790 Remove debug log from gzipper
  pkg/middleware/gziper.go
Labels: area/backend

#37797 Plugins: Fix TLS datasource settings
  go.mod
  go.sum
Labels: area/plugins, area/backend, add to changelog, area/datasource, area/datasource/backend, backport v8.1.x

#37799 prometheus: alerting: respect datasource.scrapeInterval
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/prometheus_test.go
Labels: datasource/Prometheus, area/backend

#37734 Alerting: improve rule list error message
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/components/rules/RuleListErrors.tsx
Labels: area/frontend, area/unified-alerting

#37708 CloudWatch/Logs: Fix crash when time column has nil values
  pkg/tsdb/cloudwatch/sort_frame.go
  pkg/tsdb/cloudwatch/sort_frame_test.go
Labels: type/bug, datasource/CloudWatch, area/backend, datasource/CloudWatch Logs

#37821 Chore: Remove `pkg-archive` command from Makefile
  Makefile
Labels: type/chore, type/build-packaging, backport v8.1.x

#37816 PasswordField: Fix button role
  public/app/core/components/PasswordField/PasswordField.test.tsx
  public/app/core/components/PasswordField/PasswordField.tsx
Labels: area/frontend, type/accessibility

#37783 Chore: Low hanging a11y fruits
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderCorner.tsx
  public/app/plugins/panel/gettingstarted/GettingStarted.tsx
  public/app/plugins/panel/gettingstarted/components/DocsCard.tsx
  public/app/plugins/panel/news/NewsPanel.tsx
Labels: area/frontend, type/accessibility

#37746 Chore: Update `optimize-css-assets-webpack-plugin` to 5.0.5
  package.json
  yarn.lock
Labels: area/security, type/chore, type/build-packaging, area/frontend

#37806 Explore: Add span duration to left panel in trace viewer
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
Labels: area/explore, area/frontend, add to changelog, backport v8.1.x

#37414 Alerting: modify DB table, accessors and migration to restrict org access
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/models/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager_test.go
  pkg/services/ngalert/store/alertmanager.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/channel.go
  pkg/services/sqlstore/migrations/ualert/permissions.go
  pkg/services/sqlstore/migrations/ualert/silences.go
  pkg/services/sqlstore/migrations/ualert/tables.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
  pkg/services/sqlstore/migrator/migrations.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/types.go
  pkg/tests/api/alerting/api_alertmanager_configuration_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_available_channel_test.go
  pkg/tests/api/alerting/api_notification_channel_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
Labels: area/backend, area/backend/db/migration

#37810 One-off schema support for old graph and row plugins
  cue/data/gen.cue
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_compare.json
Labels: area/backend, area/scuemata

#37412 Annotations: Fix alerting annotation coloring
  pkg/services/ngalert/state/manager.go
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/query/state/DashboardQueryRunner/utils.ts
Labels: type/bug, area/annotations, area/backend, area/frontend, add to changelog, area/unified-alerting, backport v8.1.x

#37445 Explore: use GrafanaTheme2 (Explore component)
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
Labels: type/refactor, area/explore, area/frontend

#37776 Variables: Fix issue with empty drop downs on navigation
  public/app/features/variables/guard.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
  public/app/features/variables/state/templateVarsChangedInUrl.test.ts
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: type/bug, area/dashboard/templating, area/frontend, add to changelog, backport v8.1.x

#37847 Select: Add `menuShouldPortal` to a couple that got missed
  packages/grafana-ui/src/components/OptionsUI/multiSelect.tsx
  packages/grafana-ui/src/components/OptionsUI/select.tsx
Labels: area/frontend

#37633 AzureMonitor: Add support for annotations from Azure Monitor Metrics and Azure Resource Graph
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/useDefaultQuery.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/module.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateAnnotation.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateAnnotation.ts
Labels: area/frontend, datasource/Azure, add to changelog

#37860 [docs] : fix broken link
  docs/sources/developers/plugins/sign-a-plugin.md
Labels: type/docs, backport v8.0.x, backport v8.1.x

#37866 Remove 'other variables'
  docs/sources/variables/variable-types/add-custom-variable.md
Labels: type/docs, backport v7.5.x, backport v8.0.x, backport v8.1.x

#37834 Slack: Remove duplicated title from Slack notification
  pkg/services/alerting/notifiers/slack.go
Labels: area/alerting, type/chore, area/backend, backport v8.1.x

#37632 Alerting: Introduces `/api/v1/ngalert/alertmanagers` to expose discovered and dropped Alertmanager(s)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_admin.go
  pkg/services/ngalert/api/generated_base_api_configuration.go
  pkg/services/ngalert/api/tooling/definitions/admin.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/testing.go
  pkg/setting/setting.go
  pkg/tests/api/alerting/api_admin_configuration_test.go
  pkg/tests/api/alerting/testing.go
  pkg/tests/testinfra/testinfra.go
Labels: type/docs, area/backend, area/backend/db/migration, event/unified-alerting-launch

#37852 Alerting: Fix API spec generation
  pkg/services/ngalert/api/tooling/Makefile
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend

#37883 Annotations: fixes variable values not displaying in annotations.
  public/app/features/dashboard/state/initDashboard.ts
Labels: type/bug, area/dashboard/templating, area/annotations, area/frontend, backport v8.1.x

#37133 Config: Fix alternative Azure cloud names
  pkg/setting/setting_azure.go
  pkg/setting/setting_azure_test.go
Labels: area/backend, pr/external

#37670 GraphNG: refactor by-value color schemes
  devenv/dev-dashboards/panel-graph/graph-ng-by-value-color-schemes.json
  packages/grafana-data/src/themes/colorManipulator.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotThresholds.ts
  packages/grafana-ui/src/components/uPlot/config/gradientFills.ts
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/barchart/bars.ts
  public/app/plugins/panel/histogram/Histogram.tsx
  yarn.lock
Labels: type/bug, area/frontend, area/panel/timeseries, backport v8.1.x

#35591 AzureMonitor: Add data links to deep link to Azure Portal Azure Resource Graph
  pkg/tsdb/azuremonitor/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/azure-resource-graph-datasource_test.go
Labels: area/backend, area/frontend, datasource/Azure, add to changelog, pr/external

#37889 [v8.1.x] GraphNG: refactor by-value color schemes
  devenv/dev-dashboards/panel-graph/graph-ng-by-value-color-schemes.json
  packages/grafana-data/src/themes/colorManipulator.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotThresholds.ts
  packages/grafana-ui/src/components/uPlot/config/gradientFills.ts
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/barchart/bars.ts
  public/app/plugins/panel/histogram/Histogram.tsx
  yarn.lock
Labels: area/frontend, backport

#37759 Added note on pagerduty alert notification
  docs/sources/alerting/old-alerting/notifications.md
Labels: type/docs, pr/external, backport v8.1.x

#37755 Services: Add prometheus remote write client
  go.mod
  go.sum
  pkg/extensions/main.go
Labels: area/backend

#37901 Tooltip: bring back optimized hoverpoint code
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Labels: area/frontend, area/panel/timeseries, backport v8.1.x

#37903 doc: add missing LoadingState.Streaming
  docs/sources/developers/plugins/build-a-streaming-data-source-plugin.md
Labels: type/docs, pr/external, backport v8.0.x, backport v8.1.x

#37814 Toolkit: return original stack trace for webpack errors
  packages/grafana-toolkit/src/cli/tasks/plugin/bundle.ts
  packages/grafana-toolkit/src/cli/utils/useSpinner.ts
Labels: area/frontend, pr/external

#37910 Annotations: Fix typo in types.ts
  public/app/features/annotations/types.ts
Labels: area/frontend, pr/external

#37824 Loki: Add pattern parser to syntax
  public/app/plugins/datasource/loki/syntax.ts
Labels: area/frontend, datasource/Loki, backport v8.1.x

#37895 Datasource: Change HTTP status code for failed datasource health check to 400
  pkg/api/datasources.go
Labels: area/backend, add to changelog, backport v8.1.x

#37839 Alerting: remove visual guidelines from rule list state table
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
Labels: area/frontend, area/unified-alerting, backport v8.1.x

#37888 prometheus: alerting: handle datasource.timeRange is nil case
  pkg/tsdb/prometheus/prometheus.go
Labels: datasource/Prometheus, area/backend

#37427 CloudWatch: Add AWS/EC2 MetadataNoToken metric
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, area/backend, pr/external

#37871 Elasticsearch: Fix metric names for alert queries
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/time_series_query.go
Labels: type/bug, datasource/Elasticsearch, area/backend, add to changelog, area/dataframe, backport v8.1.x

#36710 Loki: add support for resolution
  CHANGELOG.md
  docs/sources/datasources/alertmanager.md
  docs/sources/http_api/access_control.md
  docs/sources/release-notes/release-notes-8-1-1.md
  pkg/tsdb/loki/loki.go
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/components/__snapshots__/LokiQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/types.ts
Labels: type/feature-request, type/docs, area/panel/graph, area/backend, area/frontend, datasource/Loki

#37927 Chore: Update channel to where failed Docker nightly builds are posted
  .drone.yml
  scripts/job.star
Labels: type/chore, type/build-packaging

#36953 Navigation: Add aria-label to top section links to improve a11y for screen readers
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/core/components/sidemenu/SideMenu.tsx
  public/app/core/components/sidemenu/TopSectionItem.test.tsx
  public/app/core/components/sidemenu/TopSectionItem.tsx
  public/app/core/components/sidemenu/__snapshots__/TopSectionItem.test.tsx.snap
  public/app/features/explore/ExplorePaneContainer.tsx
Labels: area/explore, area/frontend, type/accessibility, area/navigation, backport v8.1.x

#37865 Search: Make search icon keyboard navigable
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
  public/app/core/components/sidemenu/TopSection.test.tsx
  public/app/core/components/sidemenu/TopSection.tsx
  public/app/core/components/sidemenu/TopSectionItem.tsx
  public/app/core/components/sidemenu/__snapshots__/TopSection.test.tsx.snap
Labels: area/frontend, add to changelog, type/accessibility, backport v8.1.x

#37885 PanelEdit: Fix 'Actual' size by passing the correct panel size to Das…
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/utils.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/edit, backport v8.1.x

#37768 Add missing AWS/Cognito metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, area/backend, pr/external
