Repository grafana/grafana, pull requests merged in 2021-12, with the labels that each got.

#42454 Upgrade build container to 1.4.3-1
  .drone.yml
  grafana-mixin/scripts/lint.sh
  scripts/drone/steps/lib.star
Labels: type/ci

#42532 A11y: Add missing aria labels in Graphite QueryEditor
  public/app/plugins/datasource/graphite/components/AddGraphiteFunction.tsx
  public/app/plugins/datasource/graphite/components/GraphiteQueryEditor.tsx
  public/app/plugins/datasource/graphite/components/PlayButton.tsx
  public/app/plugins/datasource/graphite/components/TagsSection.tsx
Labels: datasource/Graphite, area/frontend, backport v8.3.x

#42390 Chore: Update developer guide with instructions building from Windows
  Dockerfile
  contribute/developer-guide.md
Labels: type/docs, type/build-packaging

#41712 Serviceaccounts: Add serviceaccount docs
  docs/sources/http_api/serviceaccount.md
  docs/sources/manage-users/serviceaccount/_index.md
  docs/sources/manage-users/serviceaccount/serviceaccount.md
Labels: type/docs

#42479 Alerting: Fix Annotation Creation when the alerting state changes
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/testing.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/backend

#42493 Alerting: Update alert rule migration to use expanded queries
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
  pkg/tsdb/graphite/graphite.go
Labels: datasource/Graphite, area/backend, area/alerting/unified, area/backend/db/migration, backport v8.3.x

#42501 Kiosk: Fixes graph zoom issue clearing kiosk mode
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
Labels: area/frontend, backport v8.3.x

#42505 KeybindingSrv: Prevent dashboard save modal when dashboard cannot be saved
  public/app/core/services/keybindingSrv.ts
Labels: type/bug, area/permissions, area/frontend, backport v8.3.x

#42574 E2E: forcing dashboard title type
  packages/grafana-e2e/src/flows/addDashboard.ts
Labels: area/frontend, type/e2e, area/grafana/e2e

#42488 Docs: Adding panel suggestions initial documentation for 8.3
  docs/sources/panels/add-a-panel.md
  docs/sources/visualizations/_index.md
Labels: type/docs, backport v8.3.x

#42570 Alerting: Fix panic while proxying 4xx responses of requests to cortex/loki
  pkg/services/ngalert/api/util.go
Labels: type/bug, area/backend, add to changelog, area/alerting/unified, backport v8.3.x

#42548 Docs: small recorded queries format fix
  docs/sources/enterprise/recorded-queries.md
Labels: type/docs, backport v8.3.x

#42582 Bra: Run wire re-gen on code change (attempt #2)
  .bra.toml
Labels: area/backend

#42585 Chore: Replace AddHandler with AddHandlerCtx in tests
  pkg/api/admin_users_test.go
  pkg/api/alerting_test.go
  pkg/api/annotations_test.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/datasources_test.go
  pkg/api/ldap_debug_test.go
  pkg/api/login_test.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/team_members_test.go
  pkg/api/team_test.go
  pkg/api/user_test.go
  pkg/bus/bus_test.go
  pkg/infra/usagestats/service/usage_stats_test.go
  pkg/login/brute_force_login_protection_test.go
  pkg/login/grafana_login_test.go
  pkg/middleware/auth_test.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/org_redirect_test.go
  pkg/middleware/quota_test.go
  pkg/services/alerting/alerting_usage_test.go
  pkg/services/alerting/engine_test.go
  pkg/services/alerting/extractor_test.go
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/services/contexthandler/authproxy/authproxy_test.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/services/dashboards/folder_service_test.go
  pkg/services/guardian/guardian_test.go
  pkg/services/guardian/guardian_util_test.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/validator_test.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
  pkg/services/teamguardian/teams_test.go
Labels: area/backend

#42527 Manage dashboards: Can now delete empty folders
  public/app/features/search/components/ConfirmDeleteModal.tsx
  public/app/features/search/hooks/useManageDashboards.test.ts
  public/app/features/search/hooks/useManageDashboards.ts
Labels: type/bug, area/dashboard/folders, area/frontend, add to changelog, backport v8.3.x

#40492 Improve handling of old/slow-to-start remote renderer
  pkg/services/rendering/http_mode.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
Labels: area/backend, enterprise-partnerships-team

#41963 Add interface Tracer, add Opentelemetry
  conf/defaults.ini
  conf/sample.ini
  go.mod
  go.sum
  pkg/api/http_server.go
  pkg/infra/tracing/opentelemetry_tracing.go
  pkg/infra/tracing/tracing.go
  pkg/server/backgroundsvcs/background_services.go
Labels: area/backend

#42491 Docs: New documentation for the Grafana 8.3 Candlestick panel
  docs/sources/visualizations/_index.md
  docs/sources/visualizations/candlestick.md
Labels: type/docs, backport v8.3.x

#42551 Docs: What's new 8.3 with additions and image links
  docs/sources/whatsnew/_index.md
  docs/sources/whatsnew/whats-new-in-v8-3.md
Labels: type/docs, backport v8.3.x

#42589 Create 'runner' directory within grafana-cli
  pkg/cmd/grafana-cli/runner/.gitkeep
Labels: type/chore

#42443 Encryption: Store 'alertmanager_configuration' as JSON string instead of raw bytes
  pkg/cmd/grafana-cli/commands/secretsmigrations/reencrypt_secrets.go
Labels: area/security, area/backend/security, type/chore, area/grafana-cli, area/backend, backport v8.3.x

#42578 Chore: Add context to notifications
  pkg/api/org_invite.go
  pkg/api/password.go
  pkg/services/notifications/notifications.go
  pkg/services/notifications/notifications_test.go
  pkg/services/notifications/send_email_integration_test.go
Labels: area/backend

#42609 Docs: Grafana 8.3 Release Docs - Minor updates
  docs/sources/visualizations/_index.md
  docs/sources/whatsnew/whats-new-in-v8-3.md
Labels: type/docs, backport v8.3.x

#42262 Docs alerting doc updates
  docs/sources/administration/configuration.md
  docs/sources/alerting/_index.md
  docs/sources/alerting/old-alerting/_index.md
  docs/sources/alerting/unified-alerting/_index.md
  docs/sources/alerting/unified-alerting/alerting-rules/_index.md
  docs/sources/alerting/unified-alerting/difference-old-new.md
  docs/sources/alerting/unified-alerting/fundamentals/alertmanager.md
  docs/sources/alerting/unified-alerting/opt-in.md
  docs/sources/whatsnew/whats-new-in-v8-2.md
Labels: type/docs, backport v8.3.x

#42611 CloudWatch: Fix broken queries for users migrating from 8.2.4/8.2.5 to 8.3.0
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, backport v8.3.x

#42421 Chore: Report frontend metrics for JS/CSS load time
  pkg/api/frontend_metrics.go
  pkg/infra/metrics/frontendmetrics.go
  public/app/app.ts
Labels: type/performance, area/backend, area/frontend

#42622 E2E: adds recordings
  .drone.yml
  packages/grafana-e2e/package.json
  scripts/drone/steps/lib.star
Labels: area/frontend, type/ci

#42628 Docs: Update publish.yml for 8.3.0
  .github/workflows/publish.yml
Labels: type/docs, type/chore

#42626 Docs: Remove docs publish GitHub action for 8.2.x
  .github/workflows/publish.yml
Labels: type/chore

#42631 Chore: updated latest.json to 8.3.0
  latest.json
Labels: type/chore

#42430 Explore: Fix timezone not changing for graph and table
  public/app/features/dashboard/components/Inspector/InspectContent.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraph.tsx
  public/app/features/explore/ExploreQueryInspector.test.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
  public/app/features/explore/TableContainer.test.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/features/explore/__snapshots__/TableContainer.test.tsx.snap
  public/app/features/inspector/InspectDataTab.tsx
Labels: type/bug, area/explore, area/frontend, add to changelog, backport v8.3.x

#42636 E2E: revert recordings
  .drone.yml
  packages/grafana-e2e/package.json
  scripts/drone/steps/lib.star
Labels: area/frontend, type/e2e, area/grafana/e2e, type/ci

#42633 Chore: Fix flaky serverlock integration test
  pkg/infra/serverlock/serverlock_integration_test.go
Labels: area/backend

#42621 CloudWatch: Make sure MatchExact flag gets the right value
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/MetricStatEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/MetricStatEditor.tsx
Labels: type/bug, datasource/CloudWatch, area/frontend, add to changelog, backport v8.3.x

#42637 Prometheus: Interpolate template variables in interval
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: type/bug, datasource/Prometheus, area/frontend, add to changelog, backport v8.3.x

#42640 CI: Remove e2e tests for `enteprise2` tag
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x

#42646 [v8.2.x] Chore: Fix flaky serverlock integration test (#42633)
  pkg/infra/serverlock/serverlock_integration_test.go
Labels: area/backend, backport

#42558 Update aws-authentication.md to fix toml
  docs/sources/datasources/aws-cloudwatch/aws-authentication.md
Labels: type/docs, backport v8.3.x

#42649 [v8.3.x] Remove e2e tests on enterprise2 (#42640)
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci

#42571 Drawer: apply react-aria for a11y support
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
Labels: area/frontend, type/accessibility

#42658 CloudWatch: Fix duplicated IDs
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/MetricStatEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLBuilderSelectRow.tsx
Labels: datasource/CloudWatch, area/frontend, backport v8.3.x

#42169 Alerting: improve error on failure to remove query referenced by legacy alerting
  pkg/api/dashboard.go
  pkg/services/alerting/extractor.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/testdata/panel-with-bad-query-id.json
Labels: area/alerting, area/backend, area/alerting/unified

#42641 Docs: Dedicated section for Grouping in Alerting
  docs/sources/alerting/unified-alerting/notification-policies.md
Labels: type/docs, backport v8.2.x, backport v8.3.x

#42665 Build: Fix windows build on merge to main
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci

#42677 Docker: Upgrade changelog v8.2.6
  packaging/docker/README.md
Labels: type/build-packaging, backport v8.3.x

#42603 Chore: Remove Dispatch and AddHandler
  pkg/api/admin_provisioning.go
  pkg/api/dashboard.go
  pkg/api/dashboard_snapshot.go
  pkg/api/plugins.go
  pkg/api/stars.go
  pkg/api/team.go
  pkg/api/team_members.go
  pkg/bus/bus.go
  pkg/bus/bus_test.go
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/middleware/org_redirect.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/dashboards.go
  pkg/plugins/manager/dashboards_test.go
  pkg/plugins/plugindashboards/service.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/folder_service.go
  pkg/services/guardian/guardian.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/notifiers/alert_notifications.go
  pkg/services/provisioning/plugins/plugin_provisioner.go
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/teamguardian/team.go
  pkg/services/teamguardian/teams_test.go
Labels: area/backend

#42562 Canvas: refactor layer editor
  .github/CODEOWNERS
  public/app/core/components/Layers/AddLayerButton.tsx
  public/app/core/components/Layers/LayerDragDropList.tsx
  public/app/core/components/Layers/LayerName.test.tsx
  public/app/core/components/Layers/LayerName.tsx
  public/app/core/components/Layers/types.ts
  public/app/features/canvas/element.ts
  public/app/features/canvas/registry.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/group.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/editor/LayerElementListEditor.tsx
  public/app/plugins/panel/canvas/editor/elementEditor.tsx
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/editor/LayersEditor.tsx
  public/app/plugins/panel/geomap/editor/LayersEditor/AddLayerButton.tsx
  public/app/plugins/panel/geomap/editor/LayersEditor/LayerList.tsx
  public/app/plugins/panel/geomap/editor/LayersEditor/LayersEditor.tsx
  public/app/plugins/panel/geomap/module.tsx
  public/app/plugins/panel/geomap/types.ts
  public/app/plugins/panel/icon/models.gen.ts
Labels: area/frontend, area/panel/geomap, area/panel/canvas

#42661 Add maildev to docker blocks
  devenv/docker/blocks/maildev/README.md
  devenv/docker/blocks/maildev/docker-compose.yaml
Labels: area/devenv

#42642 Dashlist: use defaultChecked for IconToggle
  public/app/plugins/panel/dashlist/DashList.tsx
Labels: area/frontend, backport v8.3.x

#42630 Alerting: Add Ref ID to DatasourceNoData and DatasourceError alerts
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/backend, backport v8.3.x

#42676 BarGauge: Unfilled area shown with data links
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
Labels: area/frontend, area/panel/bargauge, backport v8.3.x

#42480 TraceView: Fixes virtualized scrolling when trace view is opened in right pane in Explore
  packages/grafana-ui/src/components/CustomScrollbar/CustomScrollbar.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
Labels: area/explore, area/frontend, pr/external, area/tracing, backport v8.3.x

#41226 Explore: Fix ANSI dim style being unreadable in dark mode
  packages/grafana-ui/src/components/Logs/LogMessageAnsi.test.tsx
  packages/grafana-ui/src/components/Logs/LogMessageAnsi.tsx
Labels: area/frontend, pr/external

#42668 Fix flaky tests in several notifiers
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/sensugo_test.go
  pkg/services/ngalert/notifier/channels/slack_test.go
Labels: area/backend, backport v8.2.x, backport v8.3.x

#42664 A11y: Add missing aria labels in Loki QueryEditor
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
Labels: area/frontend, datasource/Loki, backport v8.3.x

#42671 A11y: Add missing aria labels in Prometheus QueryEditor and Config
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
Labels: datasource/Prometheus, area/frontend, area/datasource/frontend, backport v8.3.x

#42728 Prometheus: Fix passing of custom params when running queries
  pkg/tsdb/prometheus/custom_query_params_middleware.go
  pkg/tsdb/prometheus/custom_query_params_middleware_test.go
Labels: type/bug, datasource/Prometheus, area/backend, backport v8.3.x

#42700 ButtonSelect: add react-aria for better accessibility
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Dropdown/ButtonSelect.tsx
  yarn.lock
Labels: area/frontend, type/accessibility

#42681 Dependencies: Jest 27
  jest.config.js
  package.json
  packages/grafana-data/package.json
  packages/grafana-data/src/transformations/transformers/reduce.test.ts
  packages/grafana-data/src/valueFormats/dateTimeFormatters.test.ts
  packages/grafana-runtime/package.json
  packages/grafana-ui/package.json
  public/app/core/components/TransformersUI/lookupGazetteer/fieldLookup.test.ts
  public/app/core/hooks/useQueryParams.ts
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/explore/state/utils.test.ts
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLBuilderEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/graphite/specs/store.test.ts
  public/app/plugins/datasource/loki/live_streams.test.ts
  public/app/plugins/panel/graph/specs/graph_ctrl.test.ts
  public/app/plugins/panel/graph/specs/graph_tooltip.test.ts
  yarn.lock
Labels: datasource/Graphite, type/chore, datasource/CloudWatch, area/explore, area/frontend, datasource/Loki, dependencies

#42604 Update service graph docs
  docs/sources/datasources/tempo.md
Labels: type/docs, datasource/Tempo, backport v8.3.x

#41618 Navigation: Implement Keyboard Navigation
  package.json
  packages/grafana-data/src/types/navModel.ts
  public/app/core/components/NavBar/NavBar.tsx
  public/app/core/components/NavBar/NavBarDropdown.test.tsx
  public/app/core/components/NavBar/NavBarDropdown.tsx
  public/app/core/components/NavBar/NavBarItem.test.tsx
  public/app/core/components/NavBar/NavBarItem.tsx
  public/app/core/components/NavBar/NavBarItemMenu.tsx
  public/app/core/components/NavBar/NavBarItemMenuItem.tsx
  public/app/core/components/NavBar/NavBarItemMenuTrigger.tsx
  public/app/core/components/NavBar/NavBarItemWithoutMenu.tsx
  public/app/core/components/NavBar/NavBarMenu.tsx
  public/app/core/components/NavBar/NavBarMenuItem.tsx
  public/app/core/components/NavBar/NavBarNext.tsx
  public/app/core/components/NavBar/NavBarSection.tsx
  public/app/core/components/NavBar/context.tsx
  public/app/core/components/NavBar/utils.ts
  yarn.lock
Labels: area/frontend, type/accessibility, area/navigation

#42762 Runtime: support driving grafana app from the console
  public/app/app.ts
  public/app/features/runtime/init.ts
Labels: area/frontend

#42289 Add grafana/experimental package
  package.json
  public/app/plugins/datasource/cloudwatch/components/AnnotationQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/Dimensions.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/FilterItem.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/MetricStatEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryHeader.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLBuilderEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLBuilderSelectRow.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLFilter.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLGroupBy.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLOrderByGroup.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/AccessoryButton.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/EditorField.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/EditorFieldGroup.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/EditorHeader.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/EditorList.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/EditorRow.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/EditorRows.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/FlexItem.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/InlineSelect.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/InputGroup.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/Space.tsx
  public/app/plugins/datasource/cloudwatch/components/ui/Stack.tsx
  yarn.lock
Labels: datasource/CloudWatch, area/frontend

#42503 Variables: Adds drag and drop in variables list
  docs/sources/variables/manage-variable.md
  public/app/features/variables/adhoc/actions.ts
  public/app/features/variables/adhoc/picker/AdHocFilter.test.tsx
  public/app/features/variables/editor/VariableEditorContainer.tsx
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/editor/VariableEditorListRow.tsx
  public/app/features/variables/editor/actions.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/selectors.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
Labels: type/docs, area/dashboard/templating, area/frontend, add to changelog

#42634 Grafana UI: Bump storybook to 6.4.4
  .yarnrc.yml
  package.json
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/.storybook/storybookTheme.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/utils/storybook/ThemedDocsContainer.tsx
  public/img/grafana_text_logo-dark.svg
  public/img/grafana_text_logo-light.svg
  yarn.lock
Labels: area/frontend, area/grafana/ui, dependencies, area/storybook

#42742 Variables: Fix so queryparam option works for scoped variables
  public/app/features/templating/formatRegistry.ts
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Labels: type/bug, area/dashboard/templating, area/frontend, add to changelog, backport v8.3.x

#42657 Elasticsearch: Fix fastpass A11y issues
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/DateHistogramSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/TermsSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/MovingAverageSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.tsx
Labels: datasource/Elasticsearch, area/frontend, type/accessibility, backport v8.3.x

#42783 Update SearchItem.tsx
  public/app/features/search/components/SearchItem.tsx
Labels: type/bug, area/search, area/frontend, backport v8.3.x

#42785 Build: don't run release builds on grafana/grafana repo
  .drone.yml
  scripts/drone/pipelines/release.star
Labels: type/ci

#42789 Build: Correct syntax for directing release builds
  .drone.yml
  scripts/drone/pipelines/release.star
Labels: type/ci

#42791 Chore: Add renovate[bot] to the ignore list
  .github/pr-commands.json
Labels: type/chore

#42085 Chore(dependencies): Tidy up deps in our packages
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Icon/Icon.mdx
  packages/jaeger-ui-components/package.json
  yarn.lock
Labels: type/chore, area/frontend, dependencies

#42696 Canvas: use name as UID
  public/app/core/components/Layers/LayerDragDropList.tsx
  public/app/core/components/Layers/LayerName.tsx
  public/app/features/canvas/registry.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/group.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/editor/LayerElementListEditor.tsx
  public/app/plugins/panel/canvas/module.tsx
Labels: area/frontend, area/panel/canvas

#42794 loki: rename ResponseModel to QueryModel
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_query.go
Labels: area/backend, datasource/Loki

#42799 Alerting: add documentation about alertmanager contactpoint support
  docs/sources/alerting/unified-alerting/contact-points.md
Labels: type/docs, backport v8.3.x

#42663 Grafana Toolkit: Prevent installation of outdated FE dependencies
  packages/grafana-toolkit/src/cli/tasks/plugin.create.ts
  packages/grafana-toolkit/src/cli/tasks/plugin/create.ts
Labels: area/plugins, area/frontend, dependencies, area/grafana/toolkit, backport v8.3.x

#42797 Autobreakdown: Create graphs and breakdown data frames
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraph.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, area/explore, area/frontend

#42741 StateTimeline: Fix toolitp not showing when for frames with multiple fields
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/state-timeline, backport v8.3.x

#42745 Azure Monitor: Added Microsoft.Cdn/profiles to supported namespace list
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
Labels: area/frontend, datasource/Azure, pr/external, backport v8.3.x

#42800 CloudWatch: Allow queries to have no dimensions specified
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, add to changelog, backport v8.3.x

#42546 CloudMonitor: Iterate over pageToken for resources
  pkg/tsdb/cloudmonitoring/resource_handler.go
  pkg/tsdb/cloudmonitoring/resource_handler_test.go
  pkg/tsdb/cloudmonitoring/types.go
Labels: area/backend, datasource/GoogleCloudMonitoring, add to changelog, backport v8.3.x

#42831 Autobreakdowns: ignore high cardinality labels
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, area/frontend

#42793 Hackathon: lib credentials backend wip
  pkg/api/api.go
  pkg/api/dtos/library_credential.go
  pkg/api/http_server.go
  pkg/api/librarycredentials.go
  pkg/models/librarycredential.go
  pkg/server/wire.go
  pkg/services/librarycredentials/librarycredentials.go
  pkg/services/sqlstore/migrations/library_credential_mig.go
  pkg/services/sqlstore/migrations/migrations.go
Labels: area/backend, area/backend/db/migration

#42827 Autobreakdowns: Add medians for exemplars withon and outside of range
  public/app/features/explore/ExploreGraph.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: datasource/Prometheus, area/explore, area/frontend

#42845 [v8.2.x] Security: Fix directory traversal issue
  pkg/api/plugins.go
  pkg/api/plugins_test.go
Labels: area/security, area/backend

#42846 Security: Fix directory traversal issue
  pkg/api/plugins.go
  pkg/api/plugins_test.go
Labels: area/security, area/backend

#42839 [v8.0.x] Security: Fix directory traversal issue
  pkg/api/plugins.go
Labels: area/backend

#42844 ReleaseNotes: Update 8.3.1 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-3-1.md
Labels: type/docs

#42842 ReleaseNotes: Update 8.1.8 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-1-8.md
Labels: type/docs

#42841 ReleaseNotes: Update 8.0.7 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-0-7.md
Labels: type/docs

#42848 ReleaseNotes: Updated changelog and release notes
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-0-7.md
  docs/sources/release-notes/release-notes-8-1-8.md
  docs/sources/release-notes/release-notes-8-2-7.md
  docs/sources/release-notes/release-notes-8-3-1.md
  latest.json
Labels: type/docs

#42843 ReleaseNotes: Update 8.2.7 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-2-7.md
Labels: type/docs

#42838 [v8.3.x] Security: Fix directory traversal issue
  pkg/api/plugins.go
  pkg/api/plugins_test.go
Labels: area/security, area/backend

#42840 [v8.1.x] Security: Fix directory traversal issue
  .drone.yml
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  scripts/lib.star
  scripts/release.star
Labels: area/security, area/backend, type/ci

#42857 Runtime: remove updateLocation from window context
  public/app/features/runtime/init.ts
Labels: area/frontend

#42828 Variables: Fix repeating panels for on time range changed variables
  public/app/features/dashboard/state/DashboardModel.refresh.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/types.ts
Labels: type/bug, area/dashboard/templating, area/frontend, add to changelog, area/templating/repeating, backport v8.3.x

#42802 Variables: Adds user interaction reports
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/editor/VariableEditorListRow.tsx
  public/app/features/variables/inspect/VariableUsagesButton.tsx
  public/app/features/variables/inspect/VariablesDependenciesButton.tsx
Labels: area/dashboard/templating, area/frontend

#42863 Navigation: fix navigation when appSubUrl is configured
  public/app/core/components/NavBar/NavBarItem.test.tsx
  public/app/core/components/NavBar/NavBarItem.tsx
Labels: type/bug, area/frontend, area/navigation

#42474 BarChart: Use new data error view component to show actions in panel edit
  packages/grafana-runtime/src/components/PanelDataErrorView.tsx
  public/app/features/panel/components/PanelDataErrorView.tsx
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/barchart/utils.test.ts
  public/app/plugins/panel/barchart/utils.ts
Labels: area/frontend, backport v8.3.x

#42873 [v8.2.x] ReleaseNotes: Updated changelog and release notes for 8.2.6 (#42655)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-2-6.md
Labels: type/docs, type/chore, backport

#42851 Select: Fix issue with placeholder and auto width
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/resetSelectStyles.ts
  public/app/core/components/FolderFilter/FolderFilter.tsx
  public/app/core/components/PanelTypeFilter/PanelTypeFilter.tsx
  public/app/core/components/TagFilter/TagFilter.tsx
Labels: area/frontend

#42858 Hackathon: Frontend bits for creating, reading, updating, deleting a library cre…
  pkg/api/api.go
  pkg/api/index.go
  public/app/core/reducers/navModel.ts
  public/app/core/reducers/root.ts
  public/app/features/library-credentials/LibraryCredential.tsx
  public/app/features/library-credentials/LibraryCredentialsPage.tsx
  public/app/features/library-credentials/state/actions.ts
  public/app/features/library-credentials/state/reducers.ts
  public/app/features/library-credentials/state/selectors.ts
  public/app/routes/routes.tsx
  public/app/types/index.ts
  public/app/types/libraryCredentials.ts
Labels: area/backend, area/frontend

#42885 Field: fix typo in fieldOverrides.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: area/frontend, pr/external

#42882 Autobreakdowns: Refactor
  public/app/features/explore/AutoBreakdowns.tsx
  public/app/features/explore/Explore.tsx
Labels: area/explore, area/frontend

#42850 Dashlist: options cleanup
  public/app/plugins/panel/dashlist/DashList.tsx
  public/app/plugins/panel/dashlist/module.tsx
  public/app/plugins/panel/dashlist/types.ts
Labels: area/frontend

#42899 Hackathon: Mask values if data attribute and libcredential is present.
  public/app/features/datasources/settings/PluginSettings.tsx
Labels: area/frontend

#42787 Elasticsearch: Fix fastpass A11y issues (#42657)
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/DateHistogramSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/TermsSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/MovingAverageSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.tsx
Labels: datasource/Elasticsearch, area/frontend, backport

#42749 Prometheus: Fix running of exemplar queries for non-histogram metrics
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: type/bug, datasource/Prometheus, area/frontend, add to changelog, backport v8.3.x

#42878 LogsPanel: Show message and actions if panel cannot visualize data
  public/app/features/panel/components/PanelDataErrorView.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: area/frontend

#42909 loki: remove unused variable
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_query.go
  pkg/tsdb/loki/parse_query_test.go
Labels: area/backend, datasource/Loki

#42912 Autobreakdowns: separate button and breakdown state
  public/app/core/utils/explore.ts
  public/app/features/explore/AutoBreakdowns.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraphLabel.tsx
  public/app/features/explore/exploreGraphStyleUtils.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/utils.ts
  public/app/types/explore.ts
Labels: area/explore, area/frontend

#42516 explore: store failed queries too
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
Labels: area/explore, area/frontend

#42923 Toggle autobreakdown on/off
  public/app/features/explore/AutoBreakdowns.tsx
  public/app/features/explore/Explore.tsx
Labels: area/explore, area/frontend

#42914 Build: allow building releases from other repositories
  .drone.yml
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x

#42924 Autobreakdowns: wide tile for lots of values
  public/app/features/explore/AutoBreakdowns.tsx
Labels: area/explore, area/frontend

#42927 Prometheus: Interpolate variables with curly brackets syntax
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/time_series_query_test.go
Labels: type/bug, datasource/Prometheus, area/backend, add to changelog, backport v8.3.x

#42933 loki: alerting: handle curly-braces-style variables
  pkg/tsdb/loki/parse_query.go
  pkg/tsdb/loki/parse_query_test.go
Labels: area/backend, datasource/Loki

#42926 [v8.3.x] Build: allow building releases from other repositories (#42914)
  .drone.yml
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: type/ci

#42932 Autobreakdowns: dont show selected median if no selection
  public/app/features/explore/AutoBreakdowns.tsx
  public/app/features/explore/Explore.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, area/explore, area/frontend

#42942 [v8.3.x] Build: Correct syntax for directing release builds
  .drone.yml
  scripts/drone/pipelines/release.star
Labels: backport, type/ci

#42949 Autobreakdowns: Updates
  public/app/features/explore/AutoBreakdowns.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraph.tsx
  public/app/features/explore/ExploreGraphLabel.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
  public/app/plugins/panel/timeseries/types.ts
Labels: datasource/Prometheus, area/explore, area/frontend

#42941 Autobreakdowns: cleanly toggle off breakdowns
  public/app/features/explore/Explore.tsx
Labels: area/explore, area/frontend

#42954 Docs: Fix issue 42951
  docs/sources/alerting/unified-alerting/opt-in.md
  docs/sources/visualizations/_index.md
  docs/sources/whatsnew/whats-new-in-v8-3.md
Labels: type/docs, backport v8.3.x

#42956 Docs: Fix candlestick image link in what's new 8.3
  docs/sources/whatsnew/whats-new-in-v8-3.md
Labels: type/docs, backport v8.3.x

#42959 Fixed candlestick image link. (#42956)
  docs/sources/whatsnew/whats-new-in-v8-3.md
Labels: type/docs

#42930 Docs: Clarify relative time range overrides
  docs/sources/dashboards/time-range-controls.md
  docs/sources/panels/queries.md
Labels: type/docs, backport v8.3.x

#42960 Hackathon:http lib credentials frontend
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/HttpProxySettings.tsx
  packages/grafana-ui/src/components/FormField/FormField.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.tsx
  public/app/features/datasources/settings/PluginSettings.tsx
Labels: area/frontend

#42967 Autobreakdowns: clear selection when toggle
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
Labels: area/frontend

#42970 Chore: lint for 832 release
  pkg/api/plugins.go
Labels: datasource/Graphite, type/docs, area/dashboard/templating, datasource/Elasticsearch, type/build-packaging, datasource/Prometheus, datasource/CloudWatch, area/backend, area/explore, area/frontend, datasource/GoogleCloudMonitoring, datasource/Loki, datasource/Azure, datasource/Zipkin, datasource/Tempo, area/backend/db/migration, type/ci

#42972 [v7.5.x] Add no-parallel nodes
  .drone.yml
  scripts/lib.star
Labels: type/ci

#42973 Macaron: Prevent WriteHeader invalid HTTP status code panic
  pkg/macaron/go.mod
  pkg/macaron/go.sum
  pkg/macaron/response_writer.go
  pkg/macaron/response_writer_test.go
Labels: area/backend, add to changelog, backport v8.3.x

#42979 Backport fix to main
  pkg/api/plugins.go
  pkg/tsdb/testdatasource/csv_data.go
Labels: area/backend, backport v8.3.x

#42987 chore(release-notes): add release notes for 8.2.3 and 7.5.12
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-7-5-12.md
  docs/sources/release-notes/release-notes-8-3-2.md
  latest.json
Labels: type/docs, backport v8.3.x

#42992 [v8.3.x] chore(release-notes): add release notes for 8.3.2 and 7.5.12 (#42987)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-7-5-12.md
  docs/sources/release-notes/release-notes-8-3-2.md
  latest.json
Labels: type/docs, backport

#42600 Alerting: Refactor API handlers to use web.Bind
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/fork_ruler.go
  pkg/services/ngalert/api/forked_admin.go
  pkg/services/ngalert/api/forked_am.go
  pkg/services/ngalert/api/forked_prom.go
  pkg/services/ngalert/api/forked_testing.go
  pkg/services/ngalert/api/generated_base_api_alertmanager.go
  pkg/services/ngalert/api/generated_base_api_configuration.go
  pkg/services/ngalert/api/generated_base_api_prometheus.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/generated_base_api_testing.go
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/api/tooling/swagger-codegen/templates/controller-api.mustache
Labels: area/backend

#42922 Build: Publish canary packages to NPM registry
  .drone.yml
  packages/README.md
  scripts/circle-release-canary-packages.sh
  scripts/drone/steps/lib.star
Labels: type/build-packaging, area/frontend, area/grafana/ui, area/grafana/toolkit, area/grafana/data, area/grafana/e2e, area/grafana/runtime, type/ci

#43020 npm/canary: Fix typo in publish script
  scripts/circle-release-canary-packages.sh
Labels: type/build-packaging

#42550 Alerting: Add label and state filters to alert instance components
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
  public/app/features/alerting/unified/components/alert-groups/MatcherFilter.tsx
  public/app/features/alerting/unified/components/rules/AlertInstanceStateFilter.tsx
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsMatchingInstances.tsx
  public/app/features/alerting/unified/utils/alertmanager.test.ts
  public/app/features/alerting/unified/utils/alertmanager.ts
  public/app/features/alerting/unified/utils/misc.test.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/plugins/panel/alertlist/AlertInstances.tsx
  public/app/plugins/panel/alertlist/UnifiedAlertList.tsx
  public/app/plugins/panel/alertlist/module.tsx
  public/app/plugins/panel/alertlist/types.ts
Labels: area/frontend, pr/external, area/alerting/unified

#43022 Dependencies: Bump monaco to 0.31.0
  package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Monaco/CodeEditor.tsx
  yarn.lock
Labels: area/frontend

#42834 Dashboards: Use IntersectionObserver to manage lazy loading of panels
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/SoloPanelPage.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.test.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
  public/app/features/dashboard/dashgrid/DashboardPanel.tsx
  public/app/features/dashboard/dashgrid/LazyLoader.tsx
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
Labels: area/dashboard, area/frontend

#43016 AppPlugins: Support app plugins with only default nav
  pkg/api/index.go
Labels: area/backend, add to changelog, backport v8.3.x

#42446 Select: Infer dropdown menu position
  packages/grafana-ui/src/components/Select/SelectBase.tsx
Labels: area/frontend, backport v8.3.x

#42958 Improve bridge for Alertmanager logger
  pkg/services/ngalert/logging/logging.go
  pkg/services/ngalert/logging/logging_test.go
  pkg/services/ngalert/notifier/alertmanager.go
Labels: area/backend, area/alerting/unified

#43018 Chore: Move remaining web framework code to pkg/web, remove macaron binding module
  go.mod
  pkg/api/dashboard.go
  pkg/api/login_oauth_test.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/macaron/LICENSE.txt
  pkg/macaron/binding/LICENSE
  pkg/macaron/binding/binding.go
  pkg/macaron/binding/errors.go
  pkg/macaron/binding/go.mod
  pkg/macaron/binding/go.sum
  pkg/macaron/go.mod
  pkg/macaron/go.sum
  pkg/services/serviceaccounts/api/api_test.go
  pkg/web/binding.go
  pkg/web/binding_test.go
  pkg/web/context.go
  pkg/web/inject.go
  pkg/web/macaron.go
  pkg/web/render.go
  pkg/web/response_writer.go
  pkg/web/response_writer_test.go
  pkg/web/router.go
  pkg/web/tree.go
  pkg/web/web.go
Labels: area/backend

#43041 Provisioning: log provisioning errors
  pkg/services/provisioning/provisioning.go
Labels: area/backend, area/provisioning

#43044 Alerting: make state duration column wider
  public/app/features/alerting/unified/components/alert-groups/AlertGroupAlertsTable.tsx
Labels: area/frontend, area/alerting/unified

#43017 Live: Query rename to data
  go.mod
  go.sum
  pkg/services/live/features/plugin.go
  pkg/services/live/runstream/manager.go
Labels: area/backend

#43029 Dashboard: Remove "flash" of grid placeholder when moving panel
  public/sass/components/_dashboard_grid.scss
Labels: area/dashboard, area/frontend

#42898 Alerting: fix sqlstore.GetFolderByTitle to search for folder
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_folder_test.go
Labels: area/backend/db, area/backend, backport v8.3.x

#42999 Populate missing UID of provisioned data source only for new records
  pkg/services/provisioning/datasources/config_reader.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/datasources/types.go
  pkg/services/provisioning/datasources/types_test.go
Labels: area/backend, area/datasource, backport v8.3.x
