Repository grafana/grafana, pull requests merged in 2021-07, with the labels that each got.

#36274 Web compat: polyfill MediaQueryList.addEventListener() for Safari < 14
  public/app/app.ts
  public/app/polyfills/old-mediaquerylist.ts
Labels: area/frontend, area/panel/timeseries, backport v8.0.x, type/bug

#36318 Live: add allowed_origins option
  conf/defaults.ini
  conf/sample.ini
  pkg/services/live/live.go
  pkg/services/live/live_test.go
  pkg/setting/setting.go
Labels: area/backend, backport v8.0.x

#36299 [v8.0.x] Graph: Workaround for DashboardQueryRunner race condition (#36254)
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/plugins/panel/graph/module.ts
Labels: area/frontend

#35633 Legend: Updates display name for Last (not null) to just Last*
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-data/src/types/displayValue.ts
  packages/grafana-ui/src/components/VizLegend/VizLegendStatsList.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendTable.tsx
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
Labels: add to changelog, area/frontend

#36331 Profile: Fix failing FE reducer test
  public/app/features/profile/state/reducers.test.ts
Labels: area/frontend, backport v8.0.x

#36332 Chore: Replace util.DynMap with structs
  pkg/api/annotations.go
  pkg/services/annotations/annotations.go
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/models.go
  pkg/services/sqlstore/annotation.go
Labels: area/backend, area/backend/api, type/chore

#36140 VariableSettings: fix tool-tip hyperlink color
  packages/grafana-ui/src/components/Tooltip/_Tooltip.scss
Labels: area/dashboard/templating, area/frontend, pr/external

#36214 Dashboards: Add IsFolder field into models.GetDashboardQuery
  pkg/services/dashboards/folder_service.go
  pkg/services/dashboards/folder_service_test.go
Labels: area/backend

#35546 Alerting: view to display alert rule and its underlying data.
  public/app/features/alerting/unified/RedirectToRuleViewer.test.tsx
  public/app/features/alerting/unified/RedirectToRuleViewer.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/RuleViewer.test.tsx
  public/app/features/alerting/unified/RuleViewer.tsx
  public/app/features/alerting/unified/components/PanelPluginsButtonGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerLayout.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerVisualization.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsAnnotations.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsDataSources.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsExpression.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsMatchingInstances.tsx
  public/app/features/alerting/unified/hooks/useCombinedRule.ts
  public/app/features/alerting/unified/hooks/useCombinedRuleNamespaces.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/query.test.ts
  public/app/features/alerting/unified/utils/query.ts
  public/app/features/alerting/unified/utils/rule-id.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/app/routes/routes.tsx
  public/app/types/unified-alerting.ts
Labels: add to changelog, area/alerting, area/frontend, area/unified-alerting

#36250 Update bar-gauge-panel.md
  docs/sources/panels/visualizations/bar-gauge-panel.md
Labels: pr/external, type/docs

#36327 live: add allowed_origins option (#36318)
  conf/defaults.ini
  conf/sample.ini
  pkg/services/live/live.go
  pkg/services/live/live_test.go
  pkg/setting/setting.go
  public/app/app.ts
Labels: area/backend, area/frontend, backport

#36335 TimeSeries: Fixes x-axis time format when tick increment is larger than a year
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
Labels: add to changelog, area/frontend, backport v8.0.x

#36166 Logs panel: Add option to show common labels
  docs/sources/panels/visualizations/logs-panel.md
  public/app/core/logs_model.test.ts
  public/app/core/logs_model.ts
  public/app/plugins/panel/logs/LogsPanel.test.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
  public/app/plugins/panel/logs/module.tsx
  public/app/plugins/panel/logs/types.ts
Labels: add to changelog, area/frontend, area/logs, area/panel/logs, type/docs, type/feature-request

#36120 Prometheus: use TimeSeries instead of Graph in Prometheus 2.0 Stats dashboards
  public/app/plugins/datasource/prometheus/dashboards/grafana_stats.json
  public/app/plugins/datasource/prometheus/dashboards/prometheus_2_stats.json
  public/app/plugins/datasource/prometheus/dashboards/prometheus_stats.json
Labels: area/frontend, datasource/Prometheus, type/refactor

#36308 Docs: Add security warning about using Grafana 8 alerts with multiple organisations
  docs/sources/alerting/_index.md
  docs/sources/alerting/unified-alerting/contact-points.md
  docs/sources/alerting/unified-alerting/message-templating/_index.md
  docs/sources/alerting/unified-alerting/notification-policies.md
  docs/sources/alerting/unified-alerting/silences.md
Labels: backport v8.0.x, type/docs

#36307 Team Sync: Add group mapping to support team sync in the Generic OAuth provider
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/generic-oauth.md
  pkg/login/social/common.go
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
  pkg/login/social/okta_oauth.go
  pkg/login/social/social.go
  pkg/setting/setting_oauth.go
Labels: area/backend, type/docs

#36311 Remove AWS CW client cache
  pkg/tsdb/cloudwatch/cloudwatch.go
Labels: area/backend, backport v8.0.x, datasource/CloudWatch

#36371 DashboardQueryRunner: Fixes unrestrained subscriptions being created
  public/app/features/query/state/DashboardQueryRunner/DashboardQueryRunner.test.ts
  public/app/features/query/state/DashboardQueryRunner/DashboardQueryRunner.ts
  public/app/features/query/state/mergePanelAndDashData.test.ts
  public/app/features/query/state/mergePanelAndDashData.ts
Labels: area/annotations, area/frontend, backport v8.0.x, pr/needs-manual-testing, type/bug, type/performance

#36350 Snapshots: Fixes snapshots absolute time range issue
  public/app/features/dashboard/utils/loadSnapshotData.ts
Labels: add to changelog, area/frontend, backport v8.0.x

#36203 Chore: migrate away from goconvey pull request 1
  pkg/components/imguploader/azureblobuploader_test.go
  pkg/components/imguploader/imguploader_test.go
  pkg/components/imguploader/localuploader_test.go
  pkg/components/imguploader/s3uploader_test.go
  pkg/components/imguploader/webdavuploader_test.go
Labels: area/backend

#36174 Allow white labeling loading logo
  docs/sources/enterprise/white-labeling.md
  pkg/api/dtos/index.go
  pkg/api/index.go
  public/views/index-template.html
Labels: area/backend, area/frontend, backport v8.0.x, type/docs

#35883 Access Control: Add fine-grained access control to explore
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
  docs/sources/enterprise/access-control/permissions.md
  pkg/api/api.go
  pkg/api/index.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
  public/app/core/services/context_srv.ts
  public/app/features/explore/ReturnToDashboardButton.test.tsx
  public/app/features/explore/ReturnToDashboardButton.tsx
  public/app/features/explore/utils/links.test.ts
  public/app/features/explore/utils/links.ts
  public/app/routes/routes.tsx
  public/app/types/accessControl.ts
Labels: area/backend, area/explore, area/frontend, type/docs

#36378 Docs: Add $__rate_interval variable to global variables
  docs/sources/variables/variable-types/global-variables.md
Labels: backport v8.0.x, datasource/Prometheus, type/docs

#36380 Docs: Improve title and documentation for share shortened link in Explore
  docs/sources/explore/_index.md
  public/app/features/explore/ExploreToolbar.tsx
Labels: area/explore, area/frontend, area/short-url, backport v8.0.x, type/docs

#36389 Azure OAuth: debug logs for user information
  pkg/login/social/azuread_oauth.go
Labels: area/backend, area/backend/auth/oauth, backport v8.0.x

#35371 AzureMonitor: Refresh documentation
  docs/sources/datasources/azuremonitor.md
  docs/sources/datasources/azuremonitor/_index.md
  docs/sources/datasources/azuremonitor/deprecated-application-insights.md
  docs/sources/datasources/azuremonitor/provisioning.md
  docs/sources/datasources/azuremonitor/template-variables.md
Labels: backport v8.0.x, datasource/Azure, type/docs

#36363 Contribute: Document ongoing refactoring of using context.Context "everywhere"
  contribute/architecture/backend/communication.md
  contribute/architecture/backend/database.md
  contribute/architecture/backend/services.md
  pkg/README.md
Labels: area/backend, type/docs

#36367 fix: #36322 HistoryWrapper constructor history param not work
  packages/grafana-runtime/src/services/LocationService.ts
Labels: area/frontend, backport v8.0.x, pr/external

#36412 Monaco: fix typo in types.ts
  packages/grafana-ui/src/components/Monaco/types.ts
Labels: area/frontend, pr/external

#36407 Transformations: Skip merge when there is only a single data frame
  packages/grafana-data/src/transformations/transformers/merge.test.ts
  packages/grafana-data/src/transformations/transformers/merge.ts
Labels: add to changelog, area/frontend, pr/external

#36415 Theme: Add margin-bottom to .markdown-html tables
  public/sass/base/_type.scss
Labels: area/frontend

#36301 Alerting: Fix prometheus API to check folder permissions
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/tests/api/alerting/api_prometheus_test.go
Labels: area/backend, backport v8.0.x

#36353 TimeSeries: Do not show series in tooltip if it's hidden in the viz
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Labels: add to changelog, area/frontend, area/panel/timeseries, backport v8.0.x

#35250 Grafana-ui: disables storybook controls that are irrelevant
  packages/grafana-ui/src/components/Alert/Alert.story.tsx
  packages/grafana-ui/src/components/ButtonCascader/ButtonCascader.story.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.story.tsx
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.story.internal.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/Drawer/Drawer.story.tsx
  packages/grafana-ui/src/components/Forms/Field.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Input/Input.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.story.internal.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.story.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.story.internal.tsx
  packages/grafana-ui/src/components/InfoBox/InfoBox.story.tsx
  packages/grafana-ui/src/components/Select/Select.story.tsx
Labels: area/frontend, area/storybook

#36402 fix route error for plugins accessing from grafana serving from subpath
  pkg/api/api.go
Labels: area/backend, pr/external

#36394 Azure OAuth: debug logs for user information (#36389)
  pkg/login/social/azuread_oauth.go
Labels: area/backend, area/backend/auth/oauth

#36256 AzureMonitor: Add a button to clear Logs credentials
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AzureCredentialsForm.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AzureCredentialsForm.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/__snapshots__/AnalyticsConfig.test.tsx.snap
Labels: area/frontend, datasource/Azure

#36430 Chore: Fix AWS auth assuming role with workspace IAM
  go.mod
  go.sum
Labels: add to changelog, area/backend, area/backend/auth, type/bug

#36284 AzureMonitor: strongly-typed AzureCredentials and correct resolution of auth type and cloud
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/token_provider_azure.go
  pkg/tsdb/azuremonitor/azcredentials/credentials.go
  pkg/tsdb/azuremonitor/aztokenprovider/middleware.go
  pkg/tsdb/azuremonitor/aztokenprovider/token_cache.go
  pkg/tsdb/azuremonitor/aztokenprovider/token_cache_test.go
  pkg/tsdb/azuremonitor/aztokenprovider/token_provider.go
  pkg/tsdb/azuremonitor/aztokenprovider/token_provider_test.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/azuremonitor_test.go
  pkg/tsdb/azuremonitor/credentials.go
  pkg/tsdb/azuremonitor/credentials_test.go
  pkg/tsdb/azuremonitor/httpclient.go
  pkg/tsdb/azuremonitor/httpclient_test.go
  pkg/tsdb/azuremonitor/routes.go
Labels: area/backend, datasource/Azure, pr/external

#36428 DateFormats: Fix reading correct setting key for use_browser_locale
  pkg/setting/date_formats.go
Labels: add to changelog, area/backend, backport v8.0.x, type/bug

#36426 DataSource: change status code to 404 if datasource and plugin is not found
  pkg/services/datasourceproxy/datasourceproxy.go
Labels: area/backend, pr/external

#36277 CloudwatchLogs: send error down to client
  pkg/tsdb/cloudwatch/live.go
Labels: add to changelog, area/backend, backport v8.0.x, datasource/CloudWatch

#36366 Dashboards: load dashboards from a data source
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
Labels: area/dashboard, area/frontend

#36175 Loki: Add $__range variable
  docs/sources/datasources/loki.md
  docs/sources/variables/variable-types/global-variables.md
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: add to changelog, area/frontend, datasource/Loki, type/docs, type/feature-request

#36393 Loki: Add support for ad-hoc filtering in dashboard
  docs/sources/datasources/loki.md
  docs/sources/variables/variable-types/add-ad-hoc-filters.md
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: add to changelog, area/frontend, datasource/Loki, type/docs, type/feature-request

#34543 Dashboard: avoid and correct invalid date ranges (i.e. to < from)
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeForm.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeForm.tsx
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
Labels: area/frontend, pr/external

#36381 Toolkit: Improve error messages when tasks fail
  packages/grafana-toolkit/src/cli/utils/useSpinner.ts
Labels: add to changelog, area/frontend, area/grafana/toolkit

#36429 Folders: Return `409 Conflict` status when folder already exists
  docs/sources/http_api/folder.md
  pkg/api/folder.go
  pkg/api/folder_test.go
Labels: add to changelog, area/backend, area/dashboard/folders, backport v8.0.x, type/docs

#36400 AzureMonitor: Fix issue where resource group name is missing on the resource picker button
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/utils.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
Labels: add to changelog, area/frontend, backport v8.0.x, datasource/Azure, type/bug

#36260 TooltipPlugin: Prevent Tooltip render if field is undefined
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Labels: add to changelog, area/frontend, area/panel/timeseries, backport v8.0.x, type/bug

#36377 Annotations: Add typeahead support for tags in builtin annotations
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/core/components/TagFilter/TagOption.tsx
  public/app/features/annotations/api.ts
  public/app/features/annotations/components/StandardAnnotationQueryEditor.tsx
  public/app/features/annotations/types.ts
  public/app/plugins/datasource/grafana/annotation_ctrl.ts
  public/app/plugins/datasource/grafana/components/AnnotationQueryEditor.test.tsx
  public/app/plugins/datasource/grafana/components/AnnotationQueryEditor.tsx
  public/app/plugins/datasource/grafana/datasource.test.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/grafana/module.ts
  public/app/plugins/datasource/grafana/partials/annotations.editor.html
  public/app/plugins/datasource/grafana/types.ts
Labels: add to changelog, area/annotations, area/frontend

#33679 Respect hour12 settings when formatting local date
  packages/grafana-data/src/datetime/formats.test.ts
  packages/grafana-data/src/datetime/formats.ts
Labels: area/frontend, pr/external

#36458 Docs: Fix Azure Monitor refs
  docs/sources/_index.md
  docs/sources/datasources/_index.md
  docs/sources/datasources/azuremonitor/_index.md
  docs/sources/datasources/azuremonitor/template-variables.md
  docs/sources/variables/variable-types/global-variables.md
  docs/sources/whatsnew/whats-new-in-v7-4.md
  docs/sources/whatsnew/whats-new-in-v7-5.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: backport v8.0.x, type/docs

#36469 Transformation: show message if not applied on single frame
  public/app/core/components/TransformersUI/MergeTransformerEditor.tsx
  public/app/core/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
Labels: area/frontend, pr/external

#36431 [v8.0.x] Chore: Fix AWS auth assuming role with workspace IAM
  go.mod
  go.sum
Labels: area/backend, backport

#36463 PanelEditor: Fixes issue minor UI issue with editing non data panels
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: area/frontend

#36001 Use filepath.Abs in testinfra
  pkg/infra/fs/exists_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend

#36487 Removed folder and 3 files within.
  docs/sources/panels/field-options/_index.md
  docs/sources/panels/field-options/configure-all-fields.md
  docs/sources/panels/field-options/configure-specific-fields.md
Labels: type/docs

#36494 Remove extra "only"
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
Labels: area/frontend, pr/external

#36433 Live: document allowed_origins
  docs/sources/administration/configuration.md
  docs/sources/live/configure-grafana-live.md
Labels: backport v8.0.x, type/docs

#36446 Table: Fixes color for data links
  packages/grafana-ui/src/components/Table/styles.ts
Labels: add to changelog, area/frontend, pr/external

#36468 grafana/ui: Add aria label to TimeZonePicker
  packages/grafana-ui/src/components/DateTimePickers/TimeZonePicker.tsx
Labels: area/frontend, area/grafana/ui

#36437 Prometheus: interpolate variable for step field
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: add to changelog, area/frontend, datasource/Prometheus

#35403 Chore: Refactor OAuth/social package to service
  pkg/api/http_server.go
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/api/login_test.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/infra/usagestats/service.go
  pkg/login/social/social.go
  pkg/server/server.go
  pkg/services/datasourceproxy/datasourceproxy.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/setting/setting_oauth.go
  pkg/tsdb/data_plugin_adapter.go
  pkg/tsdb/service.go
Labels: area/backend, type/chore

#36441 PanelOptions: Don't mutate panel options/field config object when updating
  public/app/features/dashboard/components/PanelEditor/getVizualizationOptions.tsx
  public/app/features/dashboard/components/PanelEditor/utils.test.ts
  public/app/features/dashboard/components/PanelEditor/utils.ts
Labels: add to changelog, area/frontend

#36360 Dev: include vscode launcher / debugger
  .gitignore
  .vscode/launch.json
Labels: area/devenv

#36439 Chore: Fixed a typo in AnalyticsConfig.test.tsx file
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/AnalyticsConfig.test.tsx
Labels: area/frontend, datasource/Azure, pr/external

#36465 Bump babel to 7.14.x for typescript 4.3 support
  package.json
  scripts/webpack/babel.config.js
  yarn.lock
Labels: area/frontend, dependencies, type/build-packaging

#35864 HTTP Client: Introduce `dataproxy_max_idle_connections` config variable
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/models/datasource_cache.go
  pkg/setting/setting.go
Labels: add to changelog, area/backend, area/backend/api, type/docs

#36352 Plugins: Improve API response for plugin assets
  pkg/api/api.go
  pkg/api/plugins.go
Labels: area/backend, area/backend/api, area/plugins, area/security, backport v8.0.x

#35910 TimeSeries: Support coloring series and line by thresholds or gradient color scales
  devenv/dev-dashboards/panel-graph/graph-ng-by-value-color-schemes.json
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/gradientFills.ts
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.test.ts
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.ts
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/timeseries/config.ts
Labels: area/frontend

#36358 CloudWatch Logs: If Grafana Live isn't enabled, don't use the Live Channel
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: area/frontend, datasource/CloudWatch, pr/external

#36498 Links: Fix links to other apps outside Grafana when under sub path
  packages/grafana-data/src/utils/location.test.ts
  packages/grafana-data/src/utils/location.ts
  public/app/core/navigation/patch/interceptLinkClicks.ts
Labels: add to changelog, area/frontend, backport v8.0.x

#36507 Alerting API: Restrict access to Alertmanager configuration
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: area/backend, backport v8.0.x, type/bug

#36517 Dev: ignore vscode folder except launch.json
  .gitignore
Labels: area/devenv

#36501 Image Renderer: update env variable in docs and custom Docker files
  docs/sources/administration/image_rendering.md
  packaging/docker/custom/Dockerfile
  packaging/docker/custom/ubuntu.Dockerfile
Labels: area/docker, area/image-rendering, type/build-packaging, type/docs

#36513 Alerting: Refactor state manager as a dependency
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/backend

#36460 DashboardPage: Refactor state to fix state timing bugs and reduce unnecessary re-renders
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.test.ts
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/SoloPanelPage.tsx
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/sass/_grafana.scss
  public/sass/components/_panel_editor.scss
Labels: area/frontend

#36526 include URL arguments in dashboard resource request
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
Labels: area/frontend

#35916 UsageStats: Expose what ds types should be reported
  pkg/infra/usagestats/service.go
  pkg/infra/usagestats/usage_stats.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
Labels: area/backend, area/meta-analytics, go

#35759 Alerting: Add alertmanager notifications tab
  pkg/api/index.go
  public/app/features/alerting/unified/AmNotifications.test.tsx
  public/app/features/alerting/unified/AmNotifications.tsx
  public/app/features/alerting/unified/components/AlertLabels.tsx
  public/app/features/alerting/unified/components/DynamicTable.tsx
  public/app/features/alerting/unified/components/DynamicTableWithGuidelines.tsx
  public/app/features/alerting/unified/components/amnotifications/AmNotificationsAlertDetails.tsx
  public/app/features/alerting/unified/components/amnotifications/AmNotificationsAlertsTable.tsx
  public/app/features/alerting/unified/components/amnotifications/AmNotificationsGroup.tsx
  public/app/features/alerting/unified/components/amnotifications/AmNotificationsGroupHeader.tsx
  public/app/features/alerting/unified/components/rules/RuleState.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/features/alerting/unified/utils/constants.ts
  public/app/plugins/datasource/alertmanager/types.ts
  public/app/routes/routes.tsx
Labels: add to changelog, area/backend, area/frontend, area/unified-alerting

#36220 TimeSeries panel: Allow adding annotations from the panel
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-ui/src/components/Menu/MenuGroup.tsx
  packages/grafana-ui/src/components/Menu/MenuItem.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/geometries/Marker.tsx
  packages/grafana-ui/src/components/uPlot/plugins/AnnotationsEditorPlugin.tsx
  packages/grafana-ui/src/components/uPlot/plugins/ZoomPlugin.tsx
  packages/grafana-ui/src/components/uPlot/types.ts
  packages/grafana-ui/src/themes/mixins.ts
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationEditorPlugin.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationMarker.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationsPlugin.tsx
  public/app/plugins/panel/timeseries/plugins/ContextMenuPlugin.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationEditor.tsx
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationEditorForm.tsx
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationMarker.tsx
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationTooltip.tsx
  public/app/plugins/panel/timeseries/plugins/styles.ts
  public/app/plugins/panel/timeseries/plugins/types.ts
Labels: area/annotations, area/frontend, area/panel/timeseries

#36514 Timeseries Panel: Retain alerts when migrating from old graph
  packages/grafana-data/src/types/panel.ts
  public/app/plugins/panel/timeseries/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/alerting, area/frontend, area/panel/timeseries, backport v8.0.x

#36543 SDK: update plugin-sdk to v0.106.0
  go.mod
  go.sum
Labels: area/backend

#36545 Plugins: Fix Content-Type on static asset HTTP response
  pkg/api/plugins.go
Labels: area/backend, area/backend/api, area/plugins, backport v8.0.x

#35798 Graphite: Convert to use grafana-plugin-sdk-go contracts
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/graphite/graphite_test.go
  pkg/tsdb/service.go
Labels: area/backend, area/frontend, datasource/Azure, datasource/Graphite

#36454 Docs: added an accessibility section in the pull request guide
  contribute/create-pull-request.md
Labels: type/docs

#36164 grafana/ui: Refactor Checkbox to fix alignment issues
  packages/grafana-ui/src/components/Forms/Checkbox.story.tsx
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
  public/app/features/search/components/SearchCheckbox.tsx
  public/app/features/search/components/SearchItem.test.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/components/SectionHeader.tsx
Labels: area/frontend

#36325 Gradually remove Macaron web framework
  go.mod
  pkg/api/dashboard.go
  pkg/macaron/LICENSE.txt
  pkg/macaron/context.go
  pkg/macaron/go.mod
  pkg/macaron/inject.go
  pkg/macaron/macaron.go
  pkg/macaron/render.go
  pkg/macaron/response_writer.go
  pkg/macaron/return_handler.go
  pkg/macaron/router.go
  pkg/macaron/tree.go
  pkg/services/live/pushhttp/push.go
Labels: area/backend

#35120 Datasources: Improve error handling for error messages
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-runtime/src/utils/queryResponse.test.ts
  packages/grafana-runtime/src/utils/queryResponse.ts
  public/app/core/services/backend_srv.ts
  public/app/features/datasources/state/actions.test.ts
  public/app/features/datasources/state/actions.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/postgres/datasource.ts
Labels: add to changelog, area/frontend, datasource/CloudWatch, datasource/Graphite, datasource/MSSQL, datasource/MySQL, datasource/Postgres, type/bug

#36549 Alerting: Allow space in label and annotation names
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager_test.go
Labels: area/unified-alerting, backport v8.0.x

#35125 AzureMonitor: Resource Picker alignment/spacing tweaks
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/NestedRows.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/styles.ts
Labels: area/frontend, datasource/Azure

#36026 Plugins: converted the plugins admin app to a core feature in grafana
  pkg/api/index.go
  pkg/plugins/manager/manager_test.go
  plugins-bundled/internal/plugin-admin-app/CHANGELOG.md
  plugins-bundled/internal/plugin-admin-app/README.md
  plugins-bundled/internal/plugin-admin-app/jest.config.js
  plugins-bundled/internal/plugin-admin-app/package.json
  plugins-bundled/internal/plugin-admin-app/src/RootPage.tsx
  plugins-bundled/internal/plugin-admin-app/src/config/Settings.tsx
  plugins-bundled/internal/plugin-admin-app/src/constants.ts
  plugins-bundled/internal/plugin-admin-app/src/hooks/usePlugins.tsx
  plugins-bundled/internal/plugin-admin-app/src/module.ts
  plugins-bundled/internal/plugin-admin-app/src/pages/Browse.tsx
  plugins-bundled/internal/plugin-admin-app/src/pages/Discover.tsx
  plugins-bundled/internal/plugin-admin-app/src/pages/Library.tsx
  plugins-bundled/internal/plugin-admin-app/src/pages/NotEnabed.tsx
  plugins-bundled/internal/plugin-admin-app/src/pages/PluginDetails.tsx
  plugins-bundled/internal/plugin-admin-app/src/pages/index.ts
  plugins-bundled/internal/plugin-admin-app/src/plugin.json
  plugins-bundled/internal/plugin-admin-app/tsconfig.json
  public/app/features/plugins/PluginListPage.tsx
  public/app/features/plugins/admin/api.ts
  public/app/features/plugins/admin/components/Card.tsx
  public/app/features/plugins/admin/components/Grid.tsx
  public/app/features/plugins/admin/components/HorizontalGroup.tsx
  public/app/features/plugins/admin/components/InstallControls.tsx
  public/app/features/plugins/admin/components/Loader.tsx
  public/app/features/plugins/admin/components/Page.tsx
  public/app/features/plugins/admin/components/PluginList.tsx
  public/app/features/plugins/admin/components/PluginLogo.tsx
  public/app/features/plugins/admin/components/PluginTypeIcon.tsx
  public/app/features/plugins/admin/components/SearchField.tsx
  public/app/features/plugins/admin/components/VersionList.tsx
  public/app/features/plugins/admin/constants.ts
  public/app/features/plugins/admin/guards.ts
  public/app/features/plugins/admin/helpers.ts
  public/app/features/plugins/admin/hooks/useHistory.tsx
  public/app/features/plugins/admin/hooks/usePlugins.tsx
  public/app/features/plugins/admin/img/logo.svg
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/plugins/admin/pages/Discover.tsx
  public/app/features/plugins/admin/pages/Library.tsx
  public/app/features/plugins/admin/pages/NotEnabed.tsx
  public/app/features/plugins/admin/pages/PluginDetails.tsx
  public/app/features/plugins/admin/pages/nav.ts
  public/app/features/plugins/admin/types.ts
  public/app/features/plugins/routes.ts
  public/app/plugins/panel/pluginlist/PluginList.tsx
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, area/plugins, type/docs

#36506 live: better overview in docs
  docs/sources/live/_index.md
  docs/sources/live/configure-grafana-live.md
  docs/sources/live/live-feature-overview.md
Labels: backport v8.0.x, type/docs

#36270 Alerting: Fixed typo in the delete dashboard modal confirmation prompt
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
Labels: area/alerting, area/frontend, area/unified-alerting, type/bug

#36561 Docs: Document which data sources work with caching
  docs/sources/enterprise/query-caching.md
Labels: type/docs

#36567 User analytics: Add Rudderstack integration
  conf/defaults.ini
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/services/EchoSrv.ts
  packages/grafana-runtime/src/types/analytics.ts
  packages/grafana-runtime/src/utils/analytics.ts
  pkg/api/frontendsettings.go
  pkg/setting/setting.go
  public/app/app.ts
  public/app/core/navigation/GrafanaRoute.test.tsx
  public/app/core/navigation/GrafanaRoute.tsx
  public/app/core/services/all.ts
  public/app/core/services/analytics.ts
  public/app/core/services/echo/Echo.ts
  public/app/core/services/echo/backends/analytics/GABackend.ts
  public/app/core/services/echo/backends/analytics/RudderstackBackend.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.test.ts
  public/app/core/services/echo/backends/sentry/types.ts
  public/app/core/services/echo/utils.ts
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/plugins/AppRootPage.test.tsx
Labels: area/backend, area/explore, area/frontend

#36521 QueryVariable: Default to first option when none is set
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
Labels: area/dashboard/templating, area/frontend

#36558 CloudWatch/Logs: Fix log alerts in new unified alerting
  pkg/expr/graph.go
  pkg/expr/nodes.go
  pkg/expr/transform.go
  pkg/services/ngalert/eval/eval.go
  pkg/tsdb/cloudwatch/annotation_query.go
  pkg/tsdb/cloudwatch/request_parser.go
Labels: area/backend, area/unified-alerting, backport v8.0.x, datasource/CloudWatch

#36527 Config: remove unused Enterprise feature toggles
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
Labels: area/configuration, area/frontend

#36477 grafana/ui: Date time picker
  packages/grafana-ui/src/components/DateTimePickers/DatePicker/DatePicker.story.tsx
  packages/grafana-ui/src/components/DateTimePickers/DatePickerWithInput/DatePickerWithInput.story.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.mdx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.story.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeOfDayPicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerCalendar.tsx
  packages/grafana-ui/src/components/DateTimePickers/utils.ts
Labels: area/frontend, area/grafana/ui

#36573 CloudWatch Metrics: Add AWS/AmazonMQ dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: area/backend, backport v8.0.x, datasource/CloudWatch

#36537 Testdata: generate data that can link to USA state codes
  pkg/tsdb/testdatasource/scenarios.go
  pkg/tsdb/testdatasource/testdata/usa-timeseries-wide.txt
  pkg/tsdb/testdatasource/testdata/usa-timeseries.txt
  pkg/tsdb/testdatasource/testdata/usa-values-as-fields.txt
  pkg/tsdb/testdatasource/testdata/usa-values-as-labeled-fields.txt
  pkg/tsdb/testdatasource/testdata/usa-values-as-rows.txt
  pkg/tsdb/testdatasource/usa_stats.go
  pkg/tsdb/testdatasource/usa_stats_test.go
  public/app/plugins/datasource/testdata/QueryEditor.tsx
  public/app/plugins/datasource/testdata/components/USAQueryEditor.tsx
  public/app/plugins/datasource/testdata/types.ts
Labels: area/backend, area/frontend

#36603 InfluxDB: Flux: fix backward compatibility for some queries
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/testdata/aggregate.golden.txt
  pkg/tsdb/influxdb/flux/testdata/boolean_data.golden.txt
  pkg/tsdb/influxdb/flux/testdata/boolean_tag.golden.txt
  pkg/tsdb/influxdb/flux/testdata/grouping.golden.txt
  pkg/tsdb/influxdb/flux/testdata/multiple.golden.txt
  pkg/tsdb/influxdb/flux/testdata/simple.golden.txt
  pkg/tsdb/influxdb/flux/testdata/table.golden.txt
  pkg/tsdb/influxdb/flux/testdata/time_first.golden.txt
Labels: add to changelog, area/backend, backport v8.0.x, datasource/InfluxDB

#36188 Geomap: add initial openlayers alpha panel
  package.json
  packages/grafana-data/src/geo/layer.ts
  packages/grafana-data/src/index.ts
  public/app/features/dashboard/components/PanelEditor/getVizualizationOptions.tsx
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/geomap/GeomapOverlay.tsx
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/README.md
  public/app/plugins/panel/geomap/components/DebugOverlay.tsx
  public/app/plugins/panel/geomap/components/NumberInput.tsx
  public/app/plugins/panel/geomap/components/SimpleLegend.tsx
  public/app/plugins/panel/geomap/editor/BaseLayerEditor.tsx
  public/app/plugins/panel/geomap/editor/DataLayersEditor.tsx
  public/app/plugins/panel/geomap/editor/LayerEditor.tsx
  public/app/plugins/panel/geomap/editor/MapCenterEditor.tsx
  public/app/plugins/panel/geomap/editor/MapZoomEditor.tsx
  public/app/plugins/panel/geomap/globalStyles.ts
  public/app/plugins/panel/geomap/img/icn-geomap.svg
  public/app/plugins/panel/geomap/layers/basemaps/carto.ts
  public/app/plugins/panel/geomap/layers/basemaps/esri.ts
  public/app/plugins/panel/geomap/layers/basemaps/generic.ts
  public/app/plugins/panel/geomap/layers/basemaps/index.ts
  public/app/plugins/panel/geomap/layers/basemaps/osm.ts
  public/app/plugins/panel/geomap/layers/data/geojsonMapper.ts
  public/app/plugins/panel/geomap/layers/data/index.ts
  public/app/plugins/panel/geomap/layers/data/lastPointTracker.ts
  public/app/plugins/panel/geomap/layers/data/worldmapBehavior.tsx
  public/app/plugins/panel/geomap/layers/registry.ts
  public/app/plugins/panel/geomap/migrations.test.ts
  public/app/plugins/panel/geomap/migrations.ts
  public/app/plugins/panel/geomap/module.tsx
  public/app/plugins/panel/geomap/plugin.json
  public/app/plugins/panel/geomap/types.ts
  public/app/plugins/panel/geomap/view.ts
  yarn.lock
Labels: area/backend, area/frontend

#36497 Stat: use shared data min/max for y auto-ranging
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
Labels: area/frontend, area/panel/stat, backport v8.0.x

#36565 Database: Fix incorrect format of isolation level configuration parameter for MySQL
  pkg/services/sqlstore/sqlstore.go
Labels: add to changelog, area/backend, backport v8.0.x, type/bug

#36530 Theme: Update theme style guide and docs with new theme info and variable picking guide
  contribute/style-guides/themes.md
Labels: type/docs

#36601 live: better error logging in push API
  pkg/services/live/pushhttp/push.go
  pkg/services/live/pushws/push.go
Labels: area/backend, area/live, area/streaming, backport v8.0.x

#36591 DashboardList: Fix issue not re-fetching dashboard list after variable change
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
Labels: area/frontend, backport v8.0.x

#36628 Select: Minor style and usability improvements
  packages/grafana-ui/src/components/Select/InputControl.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/getSelectStyles.ts
Labels: area/frontend

#36562 Alerting: Fix potential panic in Alertmanager when starting up
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alerts.go
Labels: area/backend, area/unified-alerting, backport v8.0.x

#36570 InfluxDB: InfluxQL: fix tag value filtering
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/influxQLMetadataQuery.ts
Labels: add to changelog, area/frontend, backport v8.0.x, datasource/InfluxDB, type/bug

#35351 Table: Add minimum column width field for auto resizing
  docs/sources/panels/visualizations/table/_index.md
  packages/grafana-ui/src/components/Table/types.ts
  packages/grafana-ui/src/components/Table/utils.ts
  public/app/plugins/panel/table/models.cue
  public/app/plugins/panel/table/models.gen.ts
  public/app/plugins/panel/table/module.tsx
Labels: area/frontend, pr/external

#36599 Plugins: display enterprise plugins in the plugins catalog
  public/app/features/plugins/admin/components/PluginList.tsx
  public/app/features/plugins/admin/hooks/usePlugins.tsx
  public/app/features/plugins/admin/pages/Browse.test.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/plugins/admin/pages/Discover.tsx
  public/app/features/plugins/admin/pages/Library.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
  public/app/features/plugins/admin/pages/PluginDetails.tsx
  public/app/features/plugins/admin/pages/nav.ts
  public/app/features/plugins/admin/types.ts
Labels: area/frontend, area/plugins

#36642 A11y: ARIA hide image/link duplicate in news panel
  public/app/plugins/panel/news/NewsPanel.tsx
Labels: area/frontend, type/accessibility

#36631 Links: Fixes issue with some links causing full page reload
  public/app/core/navigation/patch/interceptLinkClicks.ts
Labels: add to changelog, area/frontend, backport v8.0.x

#34995 Tracing: add way to configure trace to logs start and end time
  docs/sources/datasources/jaeger.md
  docs/sources/datasources/tempo.md
  docs/sources/datasources/zipkin.md
  packages/grafana-data/src/datetime/rangeutil.test.ts
  packages/grafana-data/src/datetime/rangeutil.ts
  public/app/core/components/TraceToLogsSettings.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/plugins/datasource/loki/datasource.ts
Labels: add to changelog, area/explore, area/frontend, datasource/Loki, type/docs

#36471 Tempo: Show hex strings instead of uints for IDs
  pkg/tsdb/tempo/trace_transform.go
  pkg/tsdb/tempo/trace_transform_test.go
Labels: add to changelog, area/backend, backport v8.0.x, datasource/Tempo, type/bug

#36655 Cloudwatch: Add StreamName dimension for AWS/KinesisVideo namespace
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: area/backend, backport v8.0.x, datasource/CloudWatch, pr/external

#36659 Alerting: A better and cleaner way to know if Alertmanager is initialised
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alerts.go
Labels: area/backend, area/unified-alerting, backport v8.0.x

#36604 Explore: Refactor QueryRow to use ConnectedProps
  public/app/features/explore/QueryRow.test.tsx
  public/app/features/explore/QueryRow.tsx
Labels: area/explore, area/frontend, type/chore, type/refactor

#36650 BottomNavLinks: Accessible text for image and icon
  packages/grafana-ui/src/components/Icon/Icon.mdx
  public/app/core/components/sidemenu/BottomNavLinks.tsx
Labels: area/frontend, type/accessibility

#36630 Transformations: State feature (alpha/beta) and more
  e2e/suite1/specs/panelEdit_transforms.spec.ts
  packages/grafana-data/src/transformations/standardTransformersRegistry.ts
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.mdx
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.story.tsx
  packages/grafana-ui/src/components/AlphaNotice/AlphaNotice.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/InfoBox/panelArt_dark.svg
  packages/grafana-ui/src/components/InfoBox/panelArt_light.svg
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/GlobalStyles/GlobalStyles.tsx
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
  packages/grafana-ui/src/themes/GlobalStyles/markdownStyles.ts
  public/app/core/components/QueryOperationRow/OperationRowHelp.tsx
  public/app/core/components/QueryOperationRow/QueryOperationAction.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/dashboard/components/VizTypePicker/PanelTypeCard.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.test.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/app/features/plugins/PluginStateInfo.tsx
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsCheatSheet.tsx
  public/sass/base/_type.scss
Labels: area/frontend, datasource/CloudWatch

#36440 TimeSeries: Improve tooltip positioning when tooltip overflows
  packages/grafana-ui/src/components/VizTooltip/VizTooltip.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipContainer.tsx
Labels: add to changelog, area/frontend, area/panel/timeseries, backport v8.0.x, type/bug

#36600 Explore: Fix running of log queries with shift-enter shortcut
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/time.ts
Labels: add to changelog, area/explore, area/frontend, area/logs, backport v8.0.x, type/bug

#36654 Add ValueString to the documentation for alerts
  docs/sources/alerting/unified-alerting/message-templating/template-data.md
Labels: backport v8.0.x, type/docs

#36653 Plugins: adding possibility to install enterprise plugins if you have a valid license.
  public/app/features/plugins/admin/components/InstallControls.tsx
Labels: area/frontend, area/plugins

#36030 Alerting: better detect cortex/loki ruler api
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/api/prometheus.ts
  public/app/features/alerting/unified/api/ruler.ts
  public/app/features/alerting/unified/components/rule-editor/AlertTypeStep.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/CloudRulesSourcePicker.tsx
  public/app/features/alerting/unified/components/rule-editor/ExpressionEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/GroupAndNamespaceFields.tsx
  public/app/features/alerting/unified/components/rule-editor/LabelsField.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/hooks/useIsRuleEditable.ts
  public/app/features/alerting/unified/hooks/useRuleSourcesWithRuler.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/features/alerting/unified/utils/redux.ts
  public/app/features/alerting/unified/utils/rule-id.ts
Labels: area/frontend

#36552 Alerting: add toggle in Loki/Prom datasource config to opt out of alerting ui
  docs/sources/alerting/unified-alerting/alerting-rules/create-cortex-loki-managed-rule.md
  docs/sources/alerting/unified-alerting/alerting-rules/rule-list.md
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/DataSourceSettings/AlertingSettings.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
Labels: add to changelog, area/frontend, area/unified-alerting, datasource/Loki, datasource/Prometheus, type/docs

#36680 Implement circle overlays for GeoMap Panel Plugin
  public/app/plugins/datasource/testdata/components/CSVFileEditor.tsx
  public/app/plugins/panel/geomap/layers/data/circlesOverlay.ts
  public/app/plugins/panel/geomap/layers/data/index.ts
  public/app/plugins/panel/geomap/layers/data/utils.ts
  public/app/plugins/panel/geomap/layers/data/worldmapBehavior.tsx
  public/app/plugins/panel/geomap/migrations.test.ts
  public/app/plugins/panel/geomap/migrations.ts
  public/app/plugins/panel/geomap/types.ts
  public/testdata/flight_info_by_state.csv
Labels: area/frontend, pr/external

#36160 Password Field Improvements
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
  public/app/core/components/ForgottenPassword/ChangePasswordPage.test.tsx
  public/app/core/components/Login/LoginForm.tsx
  public/app/core/components/PasswordField/PasswordField.test.tsx
  public/app/core/components/PasswordField/PasswordField.tsx
  public/app/core/components/Signup/SignupPage.tsx
  public/app/features/profile/ChangePasswordForm.tsx
Labels: area/frontend, pr/external

#36648 Fix Postgres query handling null values for smallint
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/postgres/postgres_test.go
Labels: area/backend, backport v8.0.x, datasource/Postgres

#36668 Transformations: Enable / disable toggle for transformation rows
  packages/grafana-data/src/transformations/transformDataFrame.test.ts
  packages/grafana-data/src/transformations/transformDataFrame.ts
  packages/grafana-data/src/types/transformations.ts
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
Labels: area/frontend

#36666 Dashboard: Avoid migration breaking on fieldConfig without defaults field in folded panel
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
Labels: area/frontend, backport v8.0.x, pr/external

#36556 Plugins: Improve grafana-cli UX + API response messaging for plugin install incompatibility scenario
  pkg/api/plugins.go
  pkg/plugins/manager/installer/installer.go
  pkg/tests/api/plugins/api_install_test.go
Labels: area/backend, area/grafana-cli, area/plugins, backport v8.0.x

#36548 Visualizations: Dynamically set any config (min, max, unit, color, thresholds) from query results
  devenv/dev-dashboards/home.json
  devenv/dev-dashboards/transforms/config-from-query.json
  devenv/dev-dashboards/transforms/rows-to-fields.json
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-data/src/transformations/transformers/ids.ts
  packages/grafana-ui/src/components/Gauge/Gauge.tsx
  pkg/tsdb/testdatasource/csv_data.go
  public/app/core/components/TransformersUI/GroupByTransformerEditor.tsx
  public/app/core/components/TransformersUI/OrganizeFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/SeriesToFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/SortByTransformerEditor.tsx
  public/app/core/components/TransformersUI/configFromQuery/ConfigFromQueryTransformerEditor.test.tsx
  public/app/core/components/TransformersUI/configFromQuery/ConfigFromQueryTransformerEditor.tsx
  public/app/core/components/TransformersUI/configFromQuery/configFromQuery.test.ts
  public/app/core/components/TransformersUI/configFromQuery/configFromQuery.ts
  public/app/core/components/TransformersUI/fieldToConfigMapping/FieldToConfigMappingEditor.test.tsx
  public/app/core/components/TransformersUI/fieldToConfigMapping/FieldToConfigMappingEditor.tsx
  public/app/core/components/TransformersUI/fieldToConfigMapping/fieldToConfigMapping.ts
  public/app/core/components/TransformersUI/rowsToFields/RowsToFieldsTransformerEditor.test.tsx
  public/app/core/components/TransformersUI/rowsToFields/RowsToFieldsTransformerEditor.tsx
  public/app/core/components/TransformersUI/rowsToFields/rowsToFields.test.ts
  public/app/core/components/TransformersUI/rowsToFields/rowsToFields.ts
  public/app/core/components/TransformersUI/utils.ts
  public/app/core/utils/standardTransformers.ts
  public/app/features/dashboard/components/PanelEditor/getFieldOverrideElements.tsx
  public/app/features/plugins/PluginStateInfo.tsx
  public/app/plugins/panel/barchart/bars.ts
Labels: area/backend, area/frontend

#36691 Annotations: Add custom label for custom values in builtin annotations
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/plugins/datasource/grafana/components/AnnotationQueryEditor.tsx
Labels: area/annotations, area/frontend

#35850 Documentation: Update image_rendering.md to include libgbm1
  docs/sources/administration/image_rendering.md
Labels: pr/external, type/docs

#34952 Legacy Alerting: Replace simplejson with a struct in webhook notification channel
  pkg/services/alerting/notifiers/webhook.go
Labels: add to changelog, area/alerting, area/alerting/notifications, area/backend, pr/external, type/feature-request

#36699 Explore: page title indicates which datasource is being used
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/Wrapper.tsx
Labels: area/explore, area/frontend

#36667 Chore: Sync yarn.lock file with package.json
  yarn.lock
Labels: area/frontend, dependencies

#36679 Alerting: change template expansion missing value handling
  pkg/services/ngalert/state/cache.go
Labels: area/backend, area/unified-alerting, backport v8.0.x

#36716 grafana-plugin-ci-e2e: Fix README and bump version
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/README.md
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/common.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
Labels: area/frontend, type/build-packaging

#36664 Live: handle influx input with incomplete/asymmetrical field set
  pkg/services/live/telemetry/telegraf/convert.go
  pkg/services/live/telemetry/telegraf/convert_test.go
  pkg/services/live/telemetry/telegraf/testdata/changing_types_NaN.golden.txt
  pkg/services/live/telemetry/telegraf/testdata/incomplete_fields.txt
  pkg/services/live/telemetry/telegraf/testdata/incomplete_fields_2.txt
  pkg/services/live/telemetry/telegraf/testdata/incomplete_fields_full.txt
Labels: area/backend, backport v8.0.x

#36671 Plugins: Don't show uninstall button for core plugins in catalog
  public/app/features/plugins/admin/components/InstallControls.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
Labels: area/frontend, area/plugins

#36682 DataLinks: support 'onClick' from table panels
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-ui/src/utils/table.ts
  public/app/features/panel/panellinks/link_srv.ts
Labels: area/frontend

#36535 Alerting: annotation on state change
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/state.go
Labels: area/backend, area/unified-alerting, backport v8.0.x

#36723 Live: avoid panic when type changes (#35394)
  go.mod
  go.sum
  pkg/services/live/convert/convert.go
  pkg/services/live/telemetry/converter.go
  pkg/services/live/telemetry/telegraf/convert.go
  pkg/services/live/telemetry/telegraf/convert_test.go
  pkg/services/live/telemetry/telegraf/testdata/changing_types_NaN.golden.txt
  pkg/services/live/telemetry/telegraf/testdata/changing_types_NaN.txt
  pkg/services/live/telemetry/telegraf/testdata/golden_labels_column.json
  pkg/services/live/telemetry/telegraf/testdata/golden_wide.json
  pkg/services/live/telemetry/telegraf/testdata/mixed_number_types.txt
  pkg/services/live/telemetry/telegraf/testdata/part_metrics_different_labels_different_time.txt
  pkg/services/live/telemetry/telegraf/testdata/same_metrics_different_labels_different_time.txt
  pkg/services/live/telemetry/telegraf/testdata/same_metrics_different_labels_same_time.txt
  pkg/services/live/telemetry/telegraf/testdata/same_metrics_same_labels_different_time.txt
  pkg/services/live/telemetry/telegraf/testdata/single_metric.txt
  pkg/services/live/telemetry/telegraf/testdata/single_metric_different_field_order.txt
Labels: area/backend, backport

#36575 live: channel rule provisioning
  conf/provisioning/channel-rules/sample.yaml
  pkg/api/live_channel_rule.go
  pkg/api/live_channel_rule_mock.go
  pkg/models/live.go
  pkg/services/live/database/channel_rule.go
  pkg/services/live/database/migrations.go
  pkg/services/live/database/tests/channel_rule_storage_test.go
  pkg/services/live/managedstream/runner.go
  pkg/services/provisioning/channelrule/config_reader.go
  pkg/services/provisioning/channelrule/config_reader_test.go
  pkg/services/provisioning/channelrule/provision.go
  pkg/services/provisioning/channelrule/testdata/all-properties/all-properties.yaml
  pkg/services/provisioning/channelrule/testdata/all-properties/not.yaml.txt
  pkg/services/provisioning/channelrule/testdata/all-properties/sample.yaml
  pkg/services/provisioning/channelrule/testdata/all-properties/second.yaml
  pkg/services/provisioning/channelrule/testdata/appliedDefaults/without-defaults.yaml
  pkg/services/provisioning/channelrule/testdata/broken-yaml/broken.yaml
  pkg/services/provisioning/channelrule/testdata/broken-yaml/commented.yaml
  pkg/services/provisioning/channelrule/testdata/insert-two-delete-two/one-channelRules.yaml
  pkg/services/provisioning/channelrule/testdata/insert-two-delete-two/two-channelRules.yml
  pkg/services/provisioning/channelrule/testdata/multiple-org/config.yaml
  pkg/services/provisioning/channelrule/testdata/two-channelRules/two-channelRules.yaml
  pkg/services/provisioning/channelrule/types.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/provisioning/provisioning_test.go
Labels: area/backend, area/streaming
