Repository grafana/grafana, pull requests merged in 2021-11, with the labels that each got.

#41102 Chore: Change ES client creation log level to debug
  pkg/tsdb/elasticsearch/client/client.go
Labels: datasource/Elasticsearch, type/chore, area/backend

#41105 Chore: Fix NodeGraph useCallback dependencies
  public/app/plugins/panel/nodeGraph/useZoom.ts
Labels: area/frontend, area/panel/node-graph

#40892 Chore: Refactor GoConvey in provisioning package
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/provisioning/utils/utils_test.go
  pkg/services/provisioning/values/values_test.go
Labels: area/backend

#41136 Grafana-UI: Editor UI components
  packages/grafana-data/src/themes/createSpacing.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-data/src/utils/selectUtils.ts
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/SelectContainer.tsx
  packages/grafana-ui/src/components/Select/test-utils.ts
  packages/grafana-ui/src/components/Select/types.ts
  public/app/plugins/datasource/cloud-monitoring/components/AnnotationQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/LabelFilter.tsx
  public/app/plugins/datasource/cloud-monitoring/components/QueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/functions.ts
Labels: area/frontend, datasource/GoogleCloudMonitoring

#41140 Chore: Fix $HOME_PATH for enterprise e2e tests
  e2e/variables
Labels: type/chore, area/frontend

#41138 Build container: Add `isl` and `expat` libs as tarballs explicitly
  scripts/build/ci-build/Dockerfile
Labels: type/build-packaging

#41146 Chore: Remove GoConvey dependency
  go.mod
  go.sum
Labels: area/backend

#41014 Tooltips : Add ability to flag anchor tag as external link in a tooltip
  packages/grafana-ui/src/components/Tooltip/_Tooltip.scss
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.light.scss.tmpl.ts
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
  public/sass/components/_tooltip.scss
Labels: area/dashboard/templating, area/frontend, enterprise-partnerships-team

#41148 Docs: Fixed broken link in the plugin migration guide
  docs/sources/developers/plugins/migration-guide.md
Labels: type/bug, type/docs, backport v8.2.x

#41088 A11y: Fix misc. fastpass issues
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-ui/src/components/Alert/Alert.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
  packages/grafana-ui/src/components/MatchersUI/FieldNameMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/FieldTypeMatcherEditor.tsx
  packages/grafana-ui/src/components/MatchersUI/types.ts
  public/app/core/components/Card/Card.tsx
  public/app/core/components/Select/OrgPicker.tsx
  public/app/features/dashboard/components/PanelEditor/getFieldOverrideElements.tsx
  public/app/features/inspector/InspectDataOptions.tsx
  public/app/features/inspector/InspectJSONTab.tsx
  public/app/features/variables/editor/VariableSelectField.tsx
  public/app/features/variables/editor/VariableSwitchField.tsx
  public/app/plugins/panel/graph/axes_editor.html
  public/sass/_variables.dark.generated.scss
Labels: area/dashboard/templating, area/frontend, type/accessibility

#41139 Chore: Remove call to fmt.Printf()
  pkg/services/alerting/extractor.go
Labels: type/chore, area/backend

#41141 Live: adopt latest fixes from gin route tree
  pkg/services/live/pipeline/rule_cache_segmented.go
  pkg/services/live/pipeline/tree/tree.go
  pkg/services/live/pipeline/tree/tree_test.go
Labels: area/backend

#41046 Resource Picker: update design and layout
  packages/grafana-ui/src/types/icon.ts
  public/app/features/dimensions/editors/ResourceCards.tsx
  public/app/features/dimensions/editors/ResourceDimensionEditor.tsx
  public/app/features/dimensions/editors/ResourcePicker.tsx
Labels: area/frontend

#41143 Variables: Adds change tracking
  public/app/features/variables/state/selectors.ts
  public/app/features/variables/state/transactionReducer.test.ts
  public/app/features/variables/state/transactionReducer.ts
Labels: area/dashboard/templating, area/frontend

#41152 DataSourceWithBackend: implement interpolateVariablesInQueries by default
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: area/frontend

#41174 PanelEditor: remove showCategory on exit
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: area/frontend

#41078 Chore: Don't to show console errors in grafana-toolkit tests
  packages/grafana-toolkit/src/config/jest.plugin.config.test.ts
  packages/grafana-toolkit/src/config/webpack/loaders.test.ts
Labels: type/chore, area/frontend

#41178 MixedDatasource: fix datasource selection after edit
  public/app/features/query/components/QueryGroup.tsx
Labels: type/bug, area/frontend

#41144 Unified Alerting: Change 'Save' button style to primary
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
Labels: area/frontend, pr/external, backport v8.2.x

#41137 Chore: Amend log statement structure for log15
  pkg/tsdb/prometheus/time_series_query.go
Labels: type/chore, datasource/Prometheus, area/backend

#41179 Chore: Upgrade grafana-eslint to latest
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: type/chore, area/frontend, dependencies

#40800 Chore: Bump rollup and rollup plugins to latest
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: type/build-packaging, area/frontend, area/grafana/ui, dependencies, area/grafana/data, area/grafana/e2e, area/grafana/runtime

#40797 Chore: bump Husky to v7
  .github/renovate.json5
  .husky/pre-commit
  package.json
  yarn.lock
Labels: area/frontend, dependencies

#40700 Elastic: Full range logs volume
  public/app/core/logs_model.test.ts
  public/app/core/logs_model.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/loki/dataProviders/logsVolumeProvider.test.ts
  public/app/plugins/datasource/loki/dataProviders/logsVolumeProvider.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: datasource/Elasticsearch, area/frontend, datasource/Loki

#41187 Chore: Disable "Queries with new datasource ref object" subtest in `graph_test.go` file
  pkg/expr/graph_test.go
Labels: type/chore, area/backend

#40459 Chore(Linting): Remove js/ts files from prettier as they're already l…
  package.json
Labels: type/chore, area/frontend, type/ci

#41184 prometheus: monaco editor: visual fixes
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
Labels: datasource/Prometheus, area/frontend

#41186 InfluxDB: Fix regular expression to parse aliases according to documentation
  pkg/tsdb/influxdb/response_parser.go
  pkg/tsdb/influxdb/response_parser_test.go
Labels: datasource/InfluxDB, area/backend, backport v8.2.x

#41159 PluginsCatalog: Fix so we display the correct badges when a plugin is disabled
  public/app/features/plugins/admin/components/PluginDetailsDisabledError.tsx
  public/app/features/plugins/admin/components/PluginDetailsHeaderSignature.tsx
  public/app/features/plugins/admin/components/PluginDetailsSignature.tsx
  public/app/features/plugins/admin/helpers.ts
  public/app/features/plugins/admin/pages/PluginDetails.tsx
Labels: type/bug, area/frontend, area/plugins-catalog, backport v8.2.x

#41167 Chore: Propagate context for preferences
  pkg/api/api.go
  pkg/api/preferences.go
  pkg/api/team.go
  pkg/services/sqlstore/preferences.go
  pkg/services/sqlstore/preferences_test.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend

#41166 Chore: Propagate context for plugin settings
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/api/plugins.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/plugins/plugindashboards/service.go
  pkg/services/live/liveplugin/plugin.go
  pkg/services/pluginsettings/service.go
  pkg/services/sqlstore/plugin_setting.go
Labels: area/backend

#41062 Fix issues with invalid Slack contact points
  pkg/api/alerting.go
  pkg/services/alerting/service.go
  pkg/services/alerting/service_test.go
  pkg/services/alerting/test_notification.go
Labels: area/backend

#41160 CloudWatch: Fix strict Typescript errors
  public/app/plugins/datasource/cloudwatch/components/AnnotationQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/migration.test.ts
  public/app/plugins/datasource/cloudwatch/migrations.ts
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/cloudwatch/utils/rxjs/increasingInterval.ts
  scripts/ci-check-strict.sh
Labels: type/build-packaging, datasource/CloudWatch, area/frontend

#41191 CI: Update `grafana/build-container` version
  .drone.yml
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/drone/steps/lib.star
Labels: type/build-packaging, type/ci

#41079 prometheus: query-editor: refactor: rename intent to situation
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/index.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.ts
Labels: datasource/Prometheus, area/frontend

#41091 Alerting: fix copying grafana queries in the alert rule editor
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
Labels: type/bug, area/frontend, area/alerting/unified, backport v8.2.x

#41195 [v8.2.x] PluginsCatalog: Fix so we display the correct badges when a plugin is disabled
  public/app/features/plugins/admin/components/PluginDetailsDisabledError.tsx
  public/app/features/plugins/admin/components/PluginDetailsHeaderSignature.tsx
  public/app/features/plugins/admin/components/PluginDetailsSignature.tsx
  public/app/features/plugins/admin/helpers.ts
  public/app/features/plugins/admin/pages/PluginDetails.tsx
Labels: type/bug, area/frontend, backport, area/plugins-catalog

#41064 CloudMonitoring: use CallResourceHandler instead of PluginProxy
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  pkg/tsdb/cloudmonitoring/httpclient.go
  pkg/tsdb/cloudmonitoring/resource_handler.go
  pkg/tsdb/cloudmonitoring/resource_handler_test.go
  pkg/tsdb/cloudmonitoring/time_series_filter.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
  public/app/plugins/datasource/cloud-monitoring/plugin.json
Labels: area/backend, area/frontend, datasource/GoogleCloudMonitoring

#41197 removing the log function after enterprise repo update
  pkg/infra/log/log.go
Labels: area/backend

#41196 LibraryPanels: Ensure the list can be fully scrolled when adding a library panel
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.tsx
Labels: type/bug, area/frontend, add to changelog, area/frontend/library-panels, backport v8.2.x

#41198 Chore: Enable strict Typescript checks
  .drone.yml
  package.json
  scripts/ci-check-strict.sh
  scripts/drone/steps/lib.star
  tsconfig.json
Labels: type/build-packaging, area/frontend, type/ci

#41154 A11y: Fix various fastpass accessibility issues
  public/app/features/admin/OrgRolePicker.tsx
  public/app/features/admin/UserCreatePage.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/admin/UserProfile.tsx
  public/app/features/alerting/unified/AmRoutes.test.tsx
  public/app/features/alerting/unified/components/CollapseToggle.tsx
  public/app/features/alerting/unified/components/DynamicTable.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRouteForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.tsx
  public/app/features/alerting/unified/components/receivers/form/ChannelSubForm.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertTypeStep.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationKeyInput.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/ConditionField.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaConditionsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/SelectWIthAdd.tsx
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsDataSources.tsx
Labels: area/frontend, type/accessibility

#41115 Annotations: Ensure legacy annotation editors are cleaned up properly when switching datasource
  public/app/features/dashboard/components/AnnotationSettings/AngularEditorLoader.tsx
Labels: type/bug, area/annotations, area/frontend, add to changelog, backport v8.2.x

#41059 Prometheus: Run annotation queries trough backend
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: type/tech, area/annotations, datasource/Prometheus, area/frontend

#40882 Elasticsearch: Add time zone setting to Date Histogram aggregation
  packages/grafana-data/src/datetime/timezones.ts
  packages/grafana-ui/src/components/DateTimePickers/TimeZonePicker.tsx
  pkg/tsdb/elasticsearch/client/models.go
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/DateHistogramSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/aggregations.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
Labels: type/feature-request, datasource/Elasticsearch, area/backend, area/frontend, add to changelog

#40841 Azure Monitor: Add Resource Picker to Template Variable Query Editor
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/app_insights/app_insights_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/LogsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/ResourceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/VariableEditor/VariableEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/VariableEditor/VariableEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/grafanaTemplateVariableFns.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/templateVariables.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/types.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/variables.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/variables.ts
Labels: area/frontend, datasource/Azure

#40238 Alerting: Rule evaluation loop refactoring
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/backend, area/alerting/unified

#41205 Update Select.mdx
  packages/grafana-ui/src/components/Select/Select.mdx
Labels: area/frontend, area/storybook

#41232 Chore: fixes DataSourceRef for adhoc variables
  public/app/features/variables/adhoc/AdHocVariableEditor.tsx
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/adhoc/actions.ts
  public/app/features/variables/adhoc/adapter.ts
  public/app/features/variables/adhoc/reducer.ts
  public/app/features/variables/guard.ts
Labels: type/bug, area/dashboard/templating, area/frontend

#41168 CloudWatch: Add AWS Transfer metrics and dimension
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external

#41142 Barchart/Time series: Allow x axis label
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  public/app/plugins/panel/barchart/utils.ts
Labels: area/frontend, add to changelog

#41236 CloudWatch: Adde AWS Global Accelerator metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external

#41112 prometheus: query-field: monaco: implement open-help-by-default
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/getOverrideServices.ts
Labels: datasource/Prometheus, area/frontend

#41212 prometheus: monaco: autocomplete: offer function-names in functions
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/completions.ts
Labels: datasource/Prometheus, area/frontend

#41233 prometheus: monaco: allow listing label names + values without a metric
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/completions.ts
Labels: datasource/Prometheus, area/frontend

#40685 Chore: Add context to org
  pkg/api/admin_provisioning.go
  pkg/api/admin_provisioning_test.go
  pkg/api/dashboard_test.go
  pkg/api/org.go
  pkg/services/live/live.go
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/dashboards/config_reader_test.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/datasources/config_reader.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/notifiers/alert_notifications.go
  pkg/services/provisioning/notifiers/config_reader.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/provisioning/provisioning_test.go
  pkg/services/provisioning/utils/utils.go
  pkg/services/provisioning/utils/utils_test.go
  pkg/services/sqlstore/org.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/quota_test.go
  pkg/services/sqlstore/stats_test.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend

#41033 Graph panel: listen to events from timeseries panel
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph/utils.ts
Labels: area/frontend, area/panel/timeseries

#41249 Dashboard: Disable image renderer link for unsaved dashboards
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
Labels: type/bug, add to changelog, area/image-rendering, mob session, backport v8.2.x

#41251 [v8.2.x] Dashboard: Disable image renderer link for unsaved dashboards (#41249)
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
Labels: area/frontend, backport

#41255 Chore: Fix for query variables using DataSourceRef
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/actions.test.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/query/adapter.ts
  public/app/features/variables/shared/testing/queryVariableBuilder.ts
  public/app/features/variables/state/upgradeLegacyQueries.test.ts
  public/app/features/variables/types.ts
Labels: type/bug, area/dashboard/templating, area/frontend

#41252 Navigation: remove redundant config nav link
  pkg/api/index.go
Labels: area/backend, area/navigation

#41161 Chore: Add alert ctx
  pkg/api/dashboard.go
  pkg/dashboards/ifaces.go
  pkg/infra/usagestats/mock.go
  pkg/infra/usagestats/service.go
  pkg/infra/usagestats/service/usage_stats.go
  pkg/infra/usagestats/service/usage_stats_test.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/alerting/alerting_usage.go
  pkg/services/alerting/alerting_usage_test.go
  pkg/services/alerting/engine.go
  pkg/services/alerting/reader.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/dashboards/dashboard_service_integration_test.go
  pkg/services/dashboards/dashboard_service_test.go
  pkg/services/dashboards/folder_service_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/live/live.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/sqlstore/alert.go
  pkg/services/sqlstore/alert_test.go
  pkg/services/sqlstore/sqlstore.go
Labels: area/backend

#41193 NewsPanel: Prevent titles being split onto multiple lines
  public/app/plugins/panel/news/NewsPanel.tsx
Labels: type/bug, area/frontend, pr/external, area/panel/news, backport v8.2.x

#41216 Update opt-in.md
  docs/sources/alerting/unified-alerting/opt-in.md
Labels: type/docs, backport v8.2.x

#41268 [v8.2.x] ReleaseNotes: Update release notes for v8.2.3
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-2-3.md
Labels: type/docs

#41250 Settings: Add a method to Provider interface to check if a feature is enabled
  pkg/setting/provider.go
Labels: area/backend

#41269 ReleaseNotes: Update release notes for v8.2.3
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-2-3.md
  latest.json
Labels: type/docs

#41215 Fix bug that was breaking aws-sdk ConnectionConfig
  packages/grafana-data/src/utils/datasource.ts
Labels: area/frontend

#41283 [v8.2.x] Sanitized NavBar children links to remove angular interpolation
  packages/grafana-data/src/text/index.ts
  packages/grafana-data/src/text/sanitize.ts
  public/app/core/components/NavBar/DropdownChild.tsx
  public/app/core/components/NavBar/NavBarItem.tsx
Labels: area/frontend, backport

#41286 Chore: Fix blog post link for v8.2.3
  docs/sources/release-notes/release-notes-8-2-3.md
Labels: type/docs, type/chore

#40491 Alerting: Add UI for contact point testing with custom annotations and labels
  docs/sources/alerting/unified-alerting/contact-points.md
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/TestContactPointModal.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: type/docs, area/backend, area/frontend, add to changelog

#41289 Stats: Add monthlyActiveUsers to stats API and usage report
  pkg/infra/usagestats/service/usage_stats.go
  pkg/models/stats.go
  pkg/services/sqlstore/stats.go
Labels: area/backend

#41275 grafana/ui: Enable slider marks display
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/slider.ts
  packages/grafana-ui/src/components/OptionsUI/slider.tsx
  packages/grafana-ui/src/components/Slider/Slider.story.tsx
  packages/grafana-ui/src/components/Slider/Slider.tsx
  packages/grafana-ui/src/components/Slider/styles.ts
  packages/grafana-ui/src/components/Slider/types.ts
  public/app/plugins/panel/barchart/module.tsx
Labels: area/frontend, add to changelog, area/grafana/ui

#41100 Access control: Redirect non-API calls from middleware
  pkg/services/accesscontrol/middleware/middleware.go
Labels: area/backend

#41260 NewsPanel: Prevent date and title collapsing to single row
  public/app/plugins/panel/news/NewsPanel.tsx
Labels: area/frontend, backport

#40299 BarChart: rotate barchart x axis labels
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/slider.ts
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/OptionsUI/slider.tsx
  packages/grafana-ui/src/components/Slider/Slider.story.tsx
  packages/grafana-ui/src/components/Slider/Slider.tsx
  packages/grafana-ui/src/components/Slider/styles.ts
  packages/grafana-ui/src/components/Slider/types.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  public/app/plugins/panel/barchart/BarChart.tsx
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/barchart/module.tsx
  public/app/plugins/panel/barchart/types.ts
  public/app/plugins/panel/barchart/utils.test.ts
  public/app/plugins/panel/barchart/utils.ts
Labels: area/frontend

#41284 Chore: Add context to temp user
  pkg/api/org_invite.go
  pkg/api/signup.go
  pkg/services/searchusers/searchusers.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/temp_user.go
  pkg/services/sqlstore/temp_user_test.go
Labels: type/chore, area/backend

#41287 Chore: Fix flaky test
  pkg/services/ngalert/tests/util.go
Labels: area/backend

#41209 Prometheus: Rename step in explore to min step
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
Labels: datasource/Prometheus, area/frontend, area/ux

#41132 ValueMappings: Value mappings field config defaults should not apply to time fields
  packages/grafana-ui/src/utils/standardEditors.tsx
Labels: type/discussion, area/frontend, add to changelog

#41296 Docker: Add support for local Makefile on Dockerfile
  .dockerignore
  Dockerfile
Labels: type/build-packaging

#41310 Chore: Bump prismjs from 1.24.0 to 1.25.0 in grafana/ui
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, area/grafana/ui, dependencies, javascript, backport v8.2.x

#41281 Docker: Fix grafana-cli path on binaries COPY step
  Dockerfile
Labels: type/build-packaging

#41020 Transformations: support a rows mode in labels to fields
  docs/sources/panels/transformations/types-options.md
  packages/grafana-data/src/transformations/transformers/labelsToFields.test.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  public/app/core/components/TransformersUI/LabelsToFieldsTransformerEditor.tsx
Labels: type/docs, area/frontend, add to changelog

#40251 Encryption: Use secrets service
  pkg/api/app_routes.go
  pkg/api/datasources.go
  pkg/api/http_server.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/services/dashboardsnapshots/dashboardsnapshots.go
  pkg/services/dashboardsnapshots/dashboardsnapshots_test.go
  pkg/services/datasources/service.go
  pkg/services/datasources/service_test.go
  pkg/services/encryption/encryption.go
  pkg/services/encryption/ossencryption/ossencryption.go
  pkg/services/login/authinfoservice/database.go
  pkg/services/login/authinfoservice/service.go
  pkg/services/login/authinfoservice/user_auth_test.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/alertmanager_test.go
  pkg/services/ngalert/notifier/channels/alertmanager.go
  pkg/services/ngalert/notifier/channels/alertmanager_test.go
  pkg/services/ngalert/notifier/channels/line.go
  pkg/services/ngalert/notifier/channels/line_test.go
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/opsgenie_test.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pagerduty_test.go
  pkg/services/ngalert/notifier/channels/pushover.go
  pkg/services/ngalert/notifier/channels/pushover_test.go
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/sensugo_test.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/telegram_test.go
  pkg/services/ngalert/notifier/channels/threema.go
  pkg/services/ngalert/notifier/channels/threema_test.go
  pkg/services/ngalert/notifier/channels/webhook.go
  pkg/services/ngalert/notifier/channels/webhook_test.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/pluginsettings/service.go
  pkg/services/pluginsettings/service_test.go
  pkg/services/secrets/manager/helpers.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/manager_test.go
  pkg/services/secrets/secrets.go
  pkg/services/sqlstore/dashboard_snapshot_test.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
  pkg/tsdb/service_test.go
  pkg/util/encryption.go
Labels: area/backend, area/backend/db/migration

#41319 Graphite: Add from and until params to tag handling methods
  public/app/plugins/datasource/graphite/specs/store.test.ts
  public/app/plugins/datasource/graphite/state/providers.ts
Labels: datasource/Graphite, area/frontend

#40626 Encryption: Extend secrets service to support registering key providers
  conf/defaults.ini
  conf/sample.ini
  pkg/server/wire.go
  pkg/services/secrets/fakes/fake_service.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/manager_test.go
  pkg/services/secrets/secrets.go
Labels: area/backend

#41291 Alerting: Tests for State Manager
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/testing.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/backend, area/alerting/unified

#41248 DataSourceVariables: Fix storing uninterpolated datasource in ds ref uid prop
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/specs/datasource_srv.test.ts
Labels: area/frontend

#40540 Alerting: Special alert instance if rule is in state NoData
  pkg/services/ngalert/schedule/compat.go
  pkg/services/ngalert/schedule/compat_test.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/state/state_test.go
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/silences.go
Labels: area/backend, area/alerting/unified, area/backend/db/migration

#41307 Context: alert_notification.go
  pkg/api/alerting.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/rule_test.go
  pkg/services/alerting/service.go
  pkg/services/alerting/service_test.go
  pkg/services/provisioning/notifiers/alert_notifications.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_notification_test.go
Labels: area/backend

#41253 prometheus: monaco: do not show automatic suggestions
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/index.ts
Labels: datasource/Prometheus, area/frontend

#40147 Live: crud for remote write backends
  pkg/api/api.go
  pkg/api/dashboard_test.go
  pkg/services/live/live.go
  pkg/services/live/pipeline/config.go
  pkg/services/live/pipeline/devdata.go
  pkg/services/live/pipeline/frame_output_remote_write.go
  pkg/services/live/pipeline/frame_output_remote_write_test.go
  pkg/services/live/pipeline/storage_file.go
Labels: area/backend, area/live

#41262 prometheus: monaco: better suggestions inside quotes
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/index.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.ts
Labels: datasource/Prometheus, area/frontend

#41343 [v8 .2.x] Update CHANGELOG.md to include 8.2.3 entry
  CHANGELOG.md
Labels: type/docs

#41344 Dashboards: Prevent 'Copy' from being appended to new dashboard titles
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
Labels: type/bug, area/dashboard, area/frontend, add to changelog, backport v8.2.x

#41335 Azure monitor: Make sure alert rule editor is not enabled when template variables are being used
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/variables.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_resource_graph/azure_resource_graph_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: type/bug, area/frontend, datasource/Azure, add to changelog

#41302 CloudMonitoring: Ignore min and max aggregation in MQL queries
  pkg/tsdb/cloudmonitoring/cloudmonitoring_test.go
  pkg/tsdb/cloudmonitoring/test-data/8-series-response-mql-multiple-point-descriptors.json
  pkg/tsdb/cloudmonitoring/time_series_filter_test.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  pkg/tsdb/cloudmonitoring/time_series_query_test.go
Labels: type/bug, area/backend, datasource/GoogleCloudMonitoring, add to changelog

#41258 Elasticsearch: use field configured in query editor as field for date_histogram aggregations
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
Labels: type/bug, datasource/Elasticsearch, area/frontend, add to changelog, backport v8.2.x

#41066 streamline kbn.addSlashes and add a test, streamline escaping in angular tip() function
  public/app/angular/misc.ts
  public/app/core/utils/kbn.test.ts
  public/app/core/utils/kbn.ts
Labels: area/frontend

#41333 Update config-from-query.md
  docs/sources/panels/transformations/config-from-query.md
Labels: type/docs, pr/external, backport v8.2.x

#41342 API: return resource ID when deleting datasource with UID and library element
  docs/sources/http_api/data_source.md
  docs/sources/http_api/library_element.md
  pkg/api/datasources.go
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements_delete_test.go
  pkg/services/libraryelements/models.go
Labels: type/docs, area/backend/api, area/backend

#41352 Plugins: Add OAuth pass-through logic to api/ds/query endpoint
  pkg/api/metrics.go
Labels: type/bug, area/plugins, area/backend/api, area/backend/plugins, area/backend, area/backend/auth/oauth, add to changelog, backport v8.2.x

#41346 Plugins: Ensure consistent plugin settings list response
  pkg/api/frontendsettings.go
Labels: type/bug, area/backend, add to changelog, backport v8.2.x

#41345 prometheus: monaco: fix a corner-case with quotes
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.ts
Labels: datasource/Prometheus, area/frontend

#41351 influxdb: improved explanation texts
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
Labels: datasource/InfluxDB, area/frontend

#41321 A11y/UserAdminPage: Improves tab navigation and focus management
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
  public/app/core/components/Select/OrgPicker.tsx
  public/app/features/admin/OrgRolePicker.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/admin/UserPermissions.tsx
  public/app/features/admin/UserProfile.tsx
  public/app/features/admin/UserSessions.tsx
  public/app/features/api-keys/ApiKeysPage.test.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.test.tsx
Labels: area/admin/user, area/frontend, type/accessibility

#41172 api/ds/query: simplify data sources lookup for queries and expressions
  packages/grafana-runtime/src/utils/DataSourceWithBackend.test.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  pkg/api/metrics.go
  pkg/expr/graph.go
  pkg/expr/graph_test.go
  pkg/expr/nodes.go
  pkg/expr/service.go
  pkg/expr/transform.go
  pkg/expr/translate/translate.go
  pkg/services/ngalert/models/alert_query.go
  public/app/core/utils/query.ts
  public/app/features/expressions/ExpressionDatasource.ts
  public/app/features/expressions/guards.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/query/components/QueryGroup.tsx
  public/app/features/query/state/runRequest.ts
Labels: area/backend, area/frontend, area/expressions

#41365 Plugins: Ensure consistent plugin settings list response
  pkg/plugins/manager/queries.go
Labels: area/backend, backport

#41358 [8.2.x] Elasticsearch: use field configured in query editor as field for date_histogram aggregations
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
Labels: datasource/Elasticsearch, area/frontend, backport

#41356 Prometheus: Fix showing of errors
  pkg/tsdb/prometheus/time_series_query.go
Labels: type/bug, datasource/Prometheus, area/backend

#41360 Chore: cleanup ES query_builder test
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
Labels: datasource/Elasticsearch, type/chore, area/frontend

#41038 StateTimeline: Share cursor with rest of the panels
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/state-timeline/TimelineChart.tsx
  public/app/plugins/panel/state-timeline/types.ts
  public/app/plugins/panel/state-timeline/utils.ts
Labels: area/frontend, add to changelog, area/panel/state-timeline

#40909 MarketTrend: add new alpha panel
  packages/grafana-schema/src/scuemata/dashboard/dist/family.cue
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/TimeSeries/TimeSeries.tsx
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  pkg/cmd/grafana-cli/commands/cuetsify_command.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/tsdb/grafanads/testdata/list.golden.txt
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/datasource/testdata/components/CSVFileEditor.tsx
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/barchart/utils.ts
  public/app/plugins/panel/market-trend/MarketTrendPanel.tsx
  public/app/plugins/panel/market-trend/img/candlestick.svg
  public/app/plugins/panel/market-trend/models.cue
  public/app/plugins/panel/market-trend/models.gen.ts
  public/app/plugins/panel/market-trend/module.tsx
  public/app/plugins/panel/market-trend/plugin.json
  public/app/plugins/panel/market-trend/utils.ts
  public/app/plugins/panel/state-timeline/utils.ts
  public/testdata/ohlc_dogecoin.csv
  scripts/stripnulls.sh
Labels: type/build-packaging, area/backend, area/frontend

#41334 MarketTrend: add devenv dashboard
  devenv/dev-dashboards/panel-market/market-trend.json
  public/app/plugins/panel/market-trend/models.cue
Labels: type/build-packaging, area/backend, area/frontend

#40244 NodeGraph: Fix subTitle and secondaryStat being truncated in some cases
  public/app/plugins/panel/nodeGraph/Node.tsx
Labels: area/frontend, pr/external

#40250 PanelEdit: Show when field options have override rules or data config that overrides the default
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/stylelint/bin/stylelint.js
  .yarn/sdks/stylelint/lib/index.js
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  e2e/suite1/specs/dashboard-time-zone.spec.ts
  public/app/features/dashboard/components/PanelEditor/OptionsPaneItemDescriptor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneItemOverrides.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneOptions.test.tsx
  public/app/features/dashboard/components/PanelEditor/getVizualizationOptions.tsx
  public/app/features/dashboard/components/PanelEditor/state/getOptionOverrides.ts
  public/app/features/dashboard/components/PanelEditor/types.ts
Labels: area/frontend

#41357 prometheus: enable new monaco-based query field
  e2e/suite1/specs/exemplars.spec.ts
  e2e/suite1/specs/query-editor.spec.ts
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditorByApp.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditorForAlerting.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
Labels: datasource/Prometheus, area/frontend

#41403 Alerting: fix bug where user is able to access rules from namespaces user is not part of
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
Labels: area/backend, backport v8.2.x

#41359 Docs: Added note that only string type is supported for query variables.
  docs/sources/variables/variable-types/add-query-variable.md
Labels: type/docs, backport v8.2.x

#41316 Chore: add context to login
  pkg/api/admin_users.go
  pkg/api/ldap_debug.go
  pkg/api/login.go
  pkg/api/org_invite.go
  pkg/api/password.go
  pkg/api/signup.go
  pkg/login/auth.go
  pkg/login/auth_test.go
  pkg/login/brute_force_login_protection.go
  pkg/login/brute_force_login_protection_test.go
  pkg/login/grafana_login.go
  pkg/login/grafana_login_test.go
  pkg/login/ldap_login.go
  pkg/login/ldap_login_test.go
  pkg/services/cleanup/cleanup.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/login/authinfoservice/database.go
  pkg/services/login/authinfoservice/service.go
  pkg/services/notifications/notifications.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/sqlstore/login_attempt.go
  pkg/services/sqlstore/login_attempt_test.go
Labels: type/chore, area/backend

#41347 Chore: Prevent loading error from showing too early
  public/app/app.ts
  public/app/index.ts
  public/app/types/window.d.ts
  public/views/index-template.html
Labels: type/bug, area/plugins, area/frontend, backport v8.2.x

#41394 update centrifuge to v0.18.8
  go.mod
  go.sum
Labels: area/backend

#41417 Chore: Fixed failing e2e due to day light saving time.
  e2e/suite1/specs/dashboard-time-zone.spec.ts
Labels: type/bug, area/frontend, type/e2e, area/grafana/e2e, backport v8.0.x, backport v8.1.x, backport v8.2.x

#41106 Docs: Remove references to Hosted Grafana
  docs/sources/installation/debian.md
  docs/sources/installation/docker.md
  docs/sources/installation/mac.md
  docs/sources/installation/rpm.md
  docs/sources/whatsnew/whats-new-in-v7-5.md
Labels: type/docs, backport v8.2.x

#41404 remove the global log error/warn etc functions
  pkg/api/app_routes.go
  pkg/api/avatar/avatar.go
  pkg/api/dtos/models.go
  pkg/api/frontendsettings.go
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/components/imguploader/s3uploader.go
  pkg/infra/log/log.go
  pkg/login/social/common.go
  pkg/plugins/manager/loader/finder/finder.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/update_checker.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/alerting/eval_context.go
  pkg/services/alerting/notifiers/telegram.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/live/live.go
  pkg/services/live/pushws/push.go
  pkg/services/login/loginservice/loginservice.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/searchusers/filters/filters.go
  pkg/services/sqlstore/migrations/ualert/securejsondata.go
  pkg/services/sqlstore/transactions.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  pkg/tests/api/plugins/api_plugins_test.go
Labels: area/backend, area/backend/db/migration

#41415 AngularJS: Move angular stuff into app/angular
  public/app/angular/AngularApp.ts
  public/app/angular/angular_wrappers.ts
  public/app/angular/components/code_editor/brace.d.ts
  public/app/angular/components/code_editor/code_editor.ts
  public/app/angular/components/code_editor/theme-grafana-dark.js
  public/app/angular/components/form_dropdown/form_dropdown.ts
  public/app/angular/components/info_popover.ts
  public/app/angular/components/jsontree.ts
  public/app/angular/components/query_part.ts
  public/app/angular/components/query_part_editor.ts
  public/app/angular/components/scroll.ts
  public/app/angular/components/spectrum_picker.ts
  public/app/angular/components/sql_part/sql_part.ts
  public/app/angular/components/sql_part/sql_part_editor.ts
  public/app/angular/components/switch.ts
  public/app/angular/filters/filters.ts
  public/app/angular/index.ts
  public/app/angular/injectorMonkeyPatch.ts
  public/app/angular/services.ts
  public/app/angular/services/alert_srv.ts
  public/app/angular/services/dynamic_directive_srv.ts
  public/app/angular/services/nav_model_srv.ts
  public/app/angular/services/ng_react.ts
  public/app/angular/services/popover_srv.ts
  public/app/angular/services/segment_srv.ts
  public/app/angular/services/timer.ts
  public/app/app.ts
  public/app/core/components/dashboard_selector.ts
  public/app/core/core.ts
  public/app/core/hooks/useNavModel.ts
  public/app/core/services/all.ts
  public/app/core/services/search_srv.ts
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/alerting/state/alertDef.ts
  public/app/features/org/UserInvitePage.tsx
  public/app/features/plugins/AppRootPage.tsx
  public/app/features/plugins/PluginPage.tsx
  public/app/features/plugins/plugin_page_ctrl.ts
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/partListUtils.tsx
  public/app/plugins/datasource/influxdb/query_part.ts
  public/app/plugins/datasource/mysql/query_ctrl.ts
  public/app/plugins/datasource/mysql/sql_part.ts
  public/app/plugins/datasource/postgres/query_ctrl.ts
  public/app/plugins/datasource/postgres/sql_part.ts
Labels: datasource/InfluxDB, datasource/MySQL, datasource/Postgres, area/frontend

#40163 Docs: Update data source provisioning in regards to HTTP specific settings
  docs/sources/administration/provisioning.md
Labels: type/docs, backport v8.2.x

#41355 Devenv: Fix fake data gen docker to use same network
  devenv/docker/blocks/elastic2/docker-compose.yaml
  devenv/docker/blocks/graphite/docker-compose.yaml
  devenv/docker/blocks/graphite09/docker-compose.yaml
  devenv/docker/blocks/graphite1/docker-compose.yaml
  devenv/docker/blocks/mssql/docker-compose.yaml
  devenv/docker/blocks/mysql/docker-compose.yaml
  devenv/docker/blocks/opentsdb/docker-compose.yaml
  devenv/docker/blocks/postgres/docker-compose.yaml
Labels: datasource/Graphite, datasource/OpenTSDB, datasource/Elasticsearch, datasource/MySQL, datasource/Postgres, datasource/MSSQL, area/docker, area/devenv

#41326 Canvas: add multi layer functionality
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
  public/app/plugins/panel/canvas/editor/LayerElementListEditor.tsx
  public/app/plugins/panel/canvas/editor/MultiSelectionEditor.tsx
  public/app/plugins/panel/canvas/editor/elementEditor.tsx
  public/app/plugins/panel/canvas/editor/elementsEditor.tsx
  public/app/plugins/panel/canvas/editor/layerEditor.tsx
  public/app/plugins/panel/canvas/module.tsx
Labels: area/frontend, area/panel/canvas

#41450 CloudWatch: Add AWS RoboMaker metrics and dimension
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external

#41408 Dashboard: Separate SoloPanel rendering logic
  public/app/features/dashboard/containers/SoloPanelPage.tsx
Labels: area/dashboard, area/frontend

#41309 [v8.0.x] Navbar: Add sanitize validation to urls
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-data/src/text/index.ts
  packages/grafana-data/src/text/sanitize.ts
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  pkg/api/index.go
  plugins-bundled/internal/input-datasource/package.json
  plugins-bundled/internal/plugin-admin-app/package.json
  public/app/core/components/sidemenu/BottomNavLinks.tsx
  public/app/core/components/sidemenu/DropDownChild.tsx
  public/app/core/components/sidemenu/SideMenuDropDown.tsx
  public/app/core/components/sidemenu/SignIn.tsx
  public/app/core/components/sidemenu/TopSectionItem.tsx
  public/app/core/components/sidemenu/__snapshots__/BottomNavLinks.test.tsx.snap
Labels: area/backend, area/frontend

#41311 [v8.1.x] Navbar: Add sanitize validation to urls
  packages/grafana-data/src/text/index.ts
  packages/grafana-data/src/text/sanitize.ts
  pkg/api/index.go
  public/app/core/components/sidemenu/BottomNavLinks.tsx
  public/app/core/components/sidemenu/DropDownChild.tsx
  public/app/core/components/sidemenu/SideMenuDropDown.tsx
  public/app/core/components/sidemenu/SignIn.tsx
  public/app/core/components/sidemenu/TopSectionItem.tsx
  public/app/core/components/sidemenu/__snapshots__/BottomNavLinks.test.tsx.snap
Labels: area/backend, area/frontend

#41426 [v8.2.x] Chore: Prevent loading error from showing too early
  public/app/app.ts
  public/app/index.ts
  public/app/types/window.d.ts
  public/views/index-template.html
Labels: type/bug, area/plugins, area/frontend, backport

#40816 Alerting: Fix accessibility issues for alert list
  packages/grafana-ui/src/components/Alert/Alert.tsx
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
Labels: area/frontend

#41407 A11y/Dashboard: Change settings nav items from buttons to links
  packages/grafana-data/src/utils/location.ts
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
Labels: area/dashboard, area/frontend, type/accessibility

#41272 Live: pipeline Loki output
  pkg/services/live/pipeline/config.go
  pkg/services/live/pipeline/data_output_loki.go
  pkg/services/live/pipeline/devdata.go
  pkg/services/live/pipeline/frame_output_loki.go
  pkg/services/live/pipeline/registry.go
  pkg/services/live/pipeline/rule_cache_segmented_test.go
Labels: area/backend, area/live

#41373 Chore: Go mod tidy
  go.mod
  go.sum
Labels: area/backend

#39420 Variables: Only update panels that are impacted by variable change
  packages/grafana-data/src/datetime/datemath.ts
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/DashboardModel.refresh.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/variables/inspect/utils.test.ts
  public/app/features/variables/inspect/utils.ts
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
  public/app/features/variables/state/templateVarsChangedInUrl.test.ts
  public/app/features/variables/types.ts
  public/app/plugins/panel/graph/specs/graph.test.ts
  public/test/jest-setup.ts
Labels: area/dashboard/templating, pr/early-feedback, area/explore, area/frontend

#41165 Chore: Remove FocusConvey check
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/chore, type/ci

#41096 Alerting: remove CTA button from read-only notification policy page
  public/app/features/alerting/unified/AmRoutes.test.tsx
  public/app/features/alerting/unified/components/EmptyArea.tsx
  public/app/features/alerting/unified/components/EmptyAreaWithCTA.tsx
  public/app/features/alerting/unified/components/amroutes/AmSpecificRouting.tsx
Labels: type/bug, area/frontend, area/alerting/unified, backport v8.2.x

#41213 Prometheus: Add custom query parameters when creating PromLink url
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
Labels: datasource/Prometheus, area/frontend, add to changelog, pr/external

#41364 DataProxy: Fix overriding response body when response is a websocket upgrade
  pkg/infra/httpclient/httpclientprovider/datasource_metrics_middleware.go
  pkg/infra/httpclient/httpclientprovider/response_limit_middleware.go
Labels: type/bug, area/backend, add to changelog, backport v8.2.x

#41308 Navigation: Refactor mobile menu into it's own component
  package.json
  public/app/core/components/NavBar/DropdownChild.tsx
  public/app/core/components/NavBar/NavBar.tsx
  public/app/core/components/NavBar/NavBarDropdown.test.tsx
  public/app/core/components/NavBar/NavBarDropdown.tsx
  public/app/core/components/NavBar/NavBarItem.tsx
  public/app/core/components/NavBar/NavBarMenu.test.tsx
  public/app/core/components/NavBar/NavBarMenu.tsx
  public/app/core/components/NavBar/NavBarMenuItem.test.tsx
  public/app/core/components/NavBar/NavBarMenuItem.tsx
  public/app/core/components/NavBar/NavBarNext.tsx
  public/app/core/components/NavBar/NavBarSection.tsx
  public/app/core/components/NavBar/utils.test.ts
  public/app/core/components/NavBar/utils.ts
  public/app/routes/GrafanaCtrl.ts
  public/app/types/events.ts
  public/sass/components/_dropdown.scss
  yarn.lock
Labels: type/refactor, area/frontend, area/navigation

#41387 Chore: Add current provider test for secrets service
  pkg/services/secrets/manager/manager_test.go
Labels: area/backend

#41464 grafana-ui: Style disabled option for Select
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Select/getSelectStyles.ts
Labels: area/frontend, area/grafana/ui

#41372 DataSourceRef: use reference rather than id where possible
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mysql/datasource.ts
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, datasource/CloudWatch, datasource/MySQL, datasource/Postgres, datasource/MSSQL, area/frontend, datasource/GoogleCloudMonitoring, datasource/Azure

#41466 Icons: Add missing icons and sync with grafana/icons and re-generate iconBundle
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  packages/grafana-ui/src/types/icon.ts
Labels: area/frontend

#41435 Alerting: Fix flaky TestAlertInstanceOperations
  pkg/services/ngalert/tests/util.go
Labels: area/backend, area/alerting/unified
