Repository grafana/grafana, pull requests merged in 2021-03, with the labels that each got.

#31036 Grafana-data: bump markedjs to v2.x to resolve vulnerability
  packages/grafana-data/package.json
  yarn.lock
Labels: area/frontend, area/grafana/data, dependencies

#31254 Docs: Add guide on custom option editors
  docs/sources/developers/plugins/custom-panel-option-editors.md
Labels: area/plugins, type/docs

#31473 LibraryPanels: Adds folder checks and permissions
  pkg/services/librarypanels/api.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/guard.go
  pkg/services/librarypanels/librarypanels_connections_test.go
  pkg/services/librarypanels/librarypanels_create_test.go
  pkg/services/librarypanels/librarypanels_delete_test.go
  pkg/services/librarypanels/librarypanels_get_all_test.go
  pkg/services/librarypanels/librarypanels_get_test.go
  pkg/services/librarypanels/librarypanels_patch_test.go
  pkg/services/librarypanels/librarypanels_permissions_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
Labels: area/backend/api, pr/early-feedback

#31509 Loki: Refactor line limit to use grafana/ui component
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
Labels: area/explore, datasource/Loki, type/bug

#31560 Plugins: Propagate plugin unavailable message to users
  pkg/plugins/backendplugin/manager.go
Labels: area/backend, area/backend/plugins, area/plugins, type/chore

#31498 CloudWatch: Added AWS Network Firewall metrics and dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch, type/feature-request

#31573 TestData: Fixes never ending annotations scenario
  public/app/plugins/datasource/testdata/datasource.ts
Labels: type/chore

#31518 Elasticsearch: Fix impossibility to perform non-logs queries after importing queries from loki or prometheus in explore
  public/app/features/alerting/getAlertingValidationMessage.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/elasticsearch/language_provider.ts
  public/app/plugins/datasource/elasticsearch/query_def.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: add to changelog, backport v7.4.x, datasource/Elasticsearch, type/bug

#31549 chore: bump lodash to 4.17.21
  package.json
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  yarn.lock
Labels: area/frontend, backport v7.4.x, dependencies

#31572 LibraryPanels: Deletes library panels during folder deletion
  pkg/api/api.go
  pkg/api/folder.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_permissions_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
Labels: area/backend/api

#31257 Alerting: Fix bug in Discord for when name for metric value is absent
  pkg/services/alerting/notifiers/discord.go
Labels: add to changelog, area/alerting/notifications, area/backend, pr/external, type/bug

#31581 [v7.4.x] Elasticsearch: Fix impossibility to perform non-logs queries after im…
  public/app/features/alerting/getAlertingValidationMessage.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/elasticsearch/language_provider.ts
  public/app/plugins/datasource/elasticsearch/query_def.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: backport

#31582 Bring back correct legend sizing afer PlotLegend refactor
  packages/grafana-ui/src/components/BarChart/BarChart.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/VizLayout/VizLayout.tsx
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
Labels: area/frontend, backport v7.4.x, type/bug

#31558 Explore: keep enabled/disabled state in angular based QueryEditors correctly
  public/app/features/explore/QueryEditor.tsx
Labels: add to changelog, area/explore, type/bug

#31588 PieChart: Add color changing options to pie chart
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
  public/app/plugins/panel/piechart/PieChartPanel.tsx
Labels: area/frontend

#31590 LibraryPanels: Adds version column
  pkg/services/librarypanels/api.go
  pkg/services/librarypanels/database.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_create_test.go
  pkg/services/librarypanels/librarypanels_get_all_test.go
  pkg/services/librarypanels/librarypanels_get_test.go
  pkg/services/librarypanels/librarypanels_patch_test.go
  pkg/services/librarypanels/librarypanels_permissions_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/librarypanels/models.go
  public/app/features/library-panels/components/SaveLibraryPanelModal/SaveLibraryPanelModal.tsx
  public/app/features/library-panels/state/api.ts
Labels: area/backend/api, area/frontend/library-panels

#31465 Tracing: Specify type of the data frame that is expected for TraceView
  packages/grafana-data/src/dataframe/MutableDataFrame.ts
  packages/grafana-data/src/types/trace.ts
  packages/jaeger-ui-components/src/ScrollManager.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.tsx
  packages/jaeger-ui-components/src/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/ReferencesButton.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBar.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianKeyValues.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianLogs.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianReferences.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/DetailState.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/types.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/utils.tsx
  packages/jaeger-ui-components/src/model/link-patterns.tsx
  packages/jaeger-ui-components/src/model/span.tsx
  packages/jaeger-ui-components/src/model/trace-viewer.ts
  packages/jaeger-ui-components/src/model/transform-trace-data.tsx
  packages/jaeger-ui-components/src/types/index.tsx
  packages/jaeger-ui-components/src/types/trace.ts
  packages/jaeger-ui-components/src/url/ReferenceLink.tsx
  packages/jaeger-ui-components/src/utils/filter-spans.tsx
  packages/jaeger-ui-components/src/utils/span-ancestor-ids.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/features/explore/TraceView/useChildrenState.test.ts
  public/app/features/explore/TraceView/useChildrenState.ts
  public/app/features/explore/TraceView/useDetailState.test.ts
  public/app/features/explore/TraceView/useDetailState.ts
  public/app/features/explore/TraceView/useSearch.test.ts
  public/app/features/explore/TraceView/useSearch.ts
  public/app/plugins/datasource/jaeger/QueryField.tsx
  public/app/plugins/datasource/jaeger/datasource.test.ts
  public/app/plugins/datasource/jaeger/datasource.ts
  public/app/plugins/datasource/jaeger/responseTransform.test.ts
  public/app/plugins/datasource/jaeger/responseTransform.ts
  public/app/plugins/datasource/jaeger/testResponse.ts
  public/app/plugins/datasource/jaeger/types.ts
  public/app/plugins/datasource/zipkin/utils/testData.ts
  public/app/plugins/datasource/zipkin/utils/transforms.ts
Labels: add to changelog, area/explore, area/tracing

#31424 Loki: Add support for alerting
  pkg/cmd/grafana-server/main.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/loki_test.go
  pkg/tsdb/loki/types.go
  public/app/plugins/datasource/loki/plugin.json
Labels: add to changelog, datasource/Loki, type/feature-request

#31603 Bug: adding resolution for `react-use-measure` to prevent plugin tests from failing.
  package.json
  yarn.lock
Labels: area/frontend, area/grafana/ui, area/plugins

#31606 LibraryPanels: No save modal when user is on same dashboard
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/library-panels/components/LibraryPanelCard/LibraryPanelCard.tsx
  public/app/features/library-panels/components/LibraryPanelsView/LibraryPanelsView.tsx
  public/app/features/library-panels/components/PanelLibraryOptionsGroup/PanelLibraryOptionsGroup.tsx
  public/app/features/library-panels/components/SaveLibraryPanelModal/SaveLibraryPanelModal.tsx
  public/app/features/library-panels/guard.ts
  public/app/features/library-panels/state/api.ts
  public/app/features/library-panels/types.ts
  public/app/features/library-panels/utils.ts
  public/app/features/library-panels/utils/usePanelSave.ts
Labels: area/frontend/library-panels

#30351 Loki: Label browser
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiLabel.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.test.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryFieldForm.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/components/useLokiLabels.test.ts
  public/app/plugins/datasource/loki/components/useLokiLabels.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/mocks.ts
Labels: datasource/Loki

#31589 devenv: Fix typo
  devenv/setup.sh
Labels: type/build-packaging, type/chore

#29270 Alerting: PagerDuty: adding current state to the payload
  docs/sources/alerting/notifications.md
  pkg/services/alerting/notifiers/pagerduty.go
  pkg/services/alerting/notifiers/pagerduty_test.go
Labels: area/backend, pr/external, type/feature-request

#31259 InfluxDB: Improve maxDataPoints error-message in Flux-mode, raise limits
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/testdata/max_data_points_exceeded.csv
Labels: add to changelog, datasource/InfluxDB

#31511 SSE: Add "Classic Condition"
  go.mod
  go.sum
  pkg/expr/classic/classic.go
  pkg/expr/classic/classic_test.go
  pkg/expr/classic/evaluator.go
  pkg/expr/classic/evaluator_test.go
  pkg/expr/classic/reduce.go
  pkg/expr/classic/reduce_test.go
  pkg/expr/commands.go
  pkg/expr/nodes.go
Labels: area/expressions

#31605 DashList: Sort starred and searched dashboard alphabetically
  public/app/plugins/panel/dashlist/DashList.tsx
Labels: area/dashboard

#31583 Chore: Fix devenv dashboard content typo
  devenv/dev-dashboards/datasource-testdata/new_features_in_v74.json
Labels: area/devenv, type/chore

#31595 CloudWatch: Add RDS Proxy metrics
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch, type/feature-request

#31624 CloudWatch: Add AWS Timestream Metrics and Dimensions
  pkg/tsdb/cloudwatch/metric_find_query.go
Labels: add to changelog, datasource/CloudWatch, pr/external

#31477 Library Panels: Change unsaved change detection logic
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorQueries.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/library-panels/components/PanelLibraryOptionsGroup/PanelLibraryOptionsGroup.tsx
  public/app/features/library-panels/state/api.ts
  public/app/features/library-panels/utils.ts
Labels: area/frontend/library-panels

#31633 Docs: Remove format for plugin routes
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Labels: area/plugins, type/docs

#31169 Chore: Remove pkill gpg-agent from release pipeline
  scripts/build/update_repo/load-signing-key.sh
  scripts/build/update_repo/update-deb.sh
  scripts/build/update_repo/update-rpm.sh
Labels: type/build-packaging, type/chore

#30787 AlertingNG: code refactoring
  pkg/services/ngalert/api.go
  pkg/services/ngalert/common_test.go
  pkg/services/ngalert/database.go
  pkg/services/ngalert/database_test.go
  pkg/services/ngalert/fetcher.go
  pkg/services/ngalert/instance_api.go
  pkg/services/ngalert/instance_database.go
  pkg/services/ngalert/instance_database_test.go
  pkg/services/ngalert/middleware.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule.go
  pkg/services/ngalert/schedule_test.go
  pkg/services/ngalert/validator.go
Labels: area/alerting-ng

#31646 Tracing: Small improvements to trace types
  packages/grafana-data/src/types/trace.ts
Labels: area/tracing

#31352 Explore/Logs: Escaping of incorrectly escaped log lines
  packages/grafana-data/src/types/logs.ts
  packages/grafana-data/src/utils/logs.test.ts
  packages/grafana-data/src/utils/logs.ts
  packages/grafana-ui/src/components/Logs/LogDetails.test.tsx
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  packages/grafana-ui/src/components/Logs/LogRowContextProvider.test.tsx
  packages/grafana-ui/src/components/Logs/LogRows.test.tsx
  packages/grafana-ui/src/components/Logs/LogRows.tsx
  public/app/core/logs_model.ts
  public/app/features/explore/LiveLogs.test.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/MetaInfoText.tsx
  public/app/features/explore/utils/decorators.test.ts
Labels: area/panel/logs, type/feature-request

#31630 Live: Use pure WebSocket transport
  package.json
  pkg/services/live/live.go
  public/app/features/live/live.ts
  yarn.lock
Labels: area/streaming

#31611 Color: Fix issue where colors are reset to gray when switching panels
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.test.ts
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.ts
Labels: add to changelog, type/bug

#30633 AzureMonitor: Add deprecation message for App Insights/Insights Analytics
  docs/sources/datasources/azuremonitor.md
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
Labels: add to changelog, datasource/Azure, type/docs

#31637 Docs: document report template variables
  docs/sources/enterprise/reporting.md
Labels: type/docs

#31434 Docs: Update doc for PostgreSQL authentication
  docs/sources/administration/provisioning.md
  docs/sources/datasources/postgres.md
Labels: type/docs

#31636 Admin: Keeps expired api keys visible in table after delete
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/core/components/EmptyListCTA/EmptyListCTA.tsx
  public/app/features/api-keys/ApiKeysActionBar.tsx
  public/app/features/api-keys/ApiKeysController.tsx
  public/app/features/api-keys/ApiKeysForm.tsx
  public/app/features/api-keys/ApiKeysPage.test.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/api-keys/ApiKeysTable.tsx
  public/app/features/api-keys/__snapshots__/ApiKeysPage.test.tsx.snap
  public/app/features/api-keys/state/reducers.ts
  public/app/features/api-keys/state/selectors.test.ts
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.test.tsx
  public/app/types/apiKeys.ts
Labels: add to changelog, area/configuration, type/bug

#31643 Library Panels: Choosing library panel now updates plugin type
  public/app/features/dashboard/components/PanelEditor/PanelOptionsTab.tsx
  public/app/features/dashboard/components/PanelEditor/VisualizationTab.tsx
  public/app/features/library-panels/components/PanelLibraryOptionsGroup/PanelLibraryOptionsGroup.tsx
Labels: area/frontend, area/frontend/library-panels

#31649 FeatureToggles: Add index signature
  packages/grafana-data/src/types/config.ts
Labels: area/grafana/data

#31545 Usage Stats: Report usage for all signed plugins
  pkg/infra/usagestats/usage_stats.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/models/datasource.go
  pkg/plugins/models.go
Labels: area/backend

#31618 Tempo: convert to backend data source
  go.mod
  go.sum
  pkg/cmd/grafana-server/main.go
  pkg/tsdb/tempo/tempo.go
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: add to changelog, datasource/Tempo

#31699 Tempo: set authentication header properly
  pkg/tsdb/tempo/tempo.go
Labels: backport v7.5.x, datasource/Tempo, type/bug

#31260 GraphNG: Fix Tooltip mode 'All' for XYChart
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Labels: add to changelog, pr/external, type/bug

#31709 Elasticsearch: revert to isoWeek when resolving weekly indices
  packages/grafana-data/src/datetime/moment_wrapper.ts
  public/app/plugins/datasource/elasticsearch/index_pattern.ts
  public/app/plugins/datasource/elasticsearch/specs/index_pattern.test.ts
Labels: add to changelog, backport v7.4.x, backport v7.5.x, type/bug

#31692 DataLinks: Bring back single click links for Stat, Gauge and BarGauge panel
  devenv/dev-dashboards/panel-common/linked-viz.json
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/DataLinks/DataLinksContextMenu.test.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksContextMenu.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/gauge/GaugePanel.tsx
  public/app/plugins/panel/stat/StatPanel.tsx
Labels: add to changelog, area/frontend, area/panel/bargauge, area/panel/gauge, area/panel/stat, backport v7.5.x

#31704 FieldDisplay: Smarter naming of stat values when visualising row values (all values) in stat panels
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldDisplay.ts
Labels: add to changelog

#31651 Docs: Add info about Prometheus http method
  docs/sources/datasources/prometheus.md
Labels: datasource/Prometheus, type/docs

#31650 Docs: Add Loki to list of data sources that support alerting
  docs/sources/alerting/_index.md
Labels: area/alerting, datasource/Loki, type/docs

#31644 Docs/Tracing: Add sections about schema of the trace data
  docs/sources/explore/trace-integration.md
Labels: area/tracing, type/docs

#31681 Elasticsearch: Fix script fields in query editor
  public/app/plugins/datasource/elasticsearch/components/MetricPicker.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/SettingField.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/aggregations.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/utils.ts
Labels: add to changelog, backport v7.4.x, backport v7.5.x, datasource/Elasticsearch, type/bug

#31723 Tempo: Convert tempo to backend data source2
  go.mod
  go.sum
  pkg/cmd/grafana-server/main.go
  pkg/tsdb/tempo/tempo.go
  public/app/plugins/datasource/tempo/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: backport v7.5.x, datasource/Tempo

#31733 [v7.5.x] Tempo: Convert tempo to backend data source2
  pkg/tsdb/tempo/tempo.go
  public/app/plugins/datasource/tempo/ConfigEditor.tsx
Labels: backport

#31729 Grafana/ui: display all selected levels for Cascader
  packages/grafana-ui/src/components/Cascader/Cascader.story.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.test.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.tsx
Labels: area/grafana/ui

#31741 Docs: add query caching to Enterprise docs
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/enterprise/query-caching.md
Labels: type/docs

#31710 loki_datasource: add documentation to label_format and line_format
  public/app/plugins/datasource/loki/syntax.ts
Labels: backport v7.5.x, datasource/Loki, pr/external, type/docs

#31734 Search: Make items more compact
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/constants.ts
Labels: area/frontend, area/search, backport v7.5.x

#31722 Instrumentation: log skipped, performed and duration for migrations
  pkg/services/sqlstore/migrator/migrator.go
Labels: area/backend, area/backend/db, area/instrumentation, backport v7.5.x

#31508 Docs: update license restrictions doc
  docs/sources/enterprise/license-expiration.md
  docs/sources/enterprise/license-restrictions.md
Labels: type/docs

#31761 UsageStatsService: Make initialization more robust
  go.mod
  go.sum
  pkg/infra/usagestats/service.go
Labels: area/backend, type/chore

#31715 Docs: Update plugin docs for annotation support
  docs/sources/developers/plugins/add-support-for-annotations.md
Labels: area/plugins, type/docs

#31731 Explore/Logs: Fix escaping in ANSI logs
  packages/grafana-ui/src/components/Logs/LogRow.tsx
  public/app/features/explore/Logs.tsx
Labels: add to changelog, area/explore, area/panel/logs, backport v7.5.x

#31487 Annotations: Make the annotation clean up batch size configurable
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/setting.go
Labels: area/annotations, backport v7.5.x

#31772 Docs: update whatsnew 7.5 with Tempo changes
  docs/sources/datasources/tempo.md
  docs/sources/whatsnew/whats-new-in-v7-5.md
Labels: datasource/Tempo, type/docs

#31138 Devenv: Add tempo data source
  devenv/datasources.yaml
  devenv/docker/blocks/loki/README.md
  devenv/docker/blocks/tempo/README.md
  devenv/docker/blocks/tempo/docker-compose.yaml
  devenv/docker/blocks/tempo/tempo.yaml
Labels: area/devenv, type/chore

#31763 ReduceTransform: Include series with numeric string names
  packages/grafana-data/src/transformations/transformers/reduce.test.ts
  packages/grafana-data/src/transformations/transformers/reduce.ts
Labels: add to changelog, area/transformations, backport v7.5.x, type/bug

#31797 Change piechart plugin state to beta
  public/app/plugins/panel/piechart/plugin.json
Labels: area/panel/piechart, backport v7.5.x

#31721 Templating: use dashboard timerange when variables are set to refresh 'On Dashboard Load'
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/query/queryRunners.test.ts
  public/app/features/variables/utils.ts
Labels: add to changelog, backport v7.5.x

#31811 Variables: Improves inspection performance and unknown filtering
  public/app/features/variables/editor/VariableEditorContainer.tsx
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/editor/actions.ts
  public/app/features/variables/inspect/VariableUsagesButton.tsx
  public/app/features/variables/inspect/VariablesUnknownButton.tsx
  public/app/features/variables/inspect/VariablesUnknownTable.tsx
  public/app/features/variables/inspect/reducer.test.ts
  public/app/features/variables/inspect/reducer.ts
  public/app/features/variables/inspect/utils.test.ts
  public/app/features/variables/inspect/utils.ts
  public/app/features/variables/state/reducers.ts
Labels: add to changelog, area/dashboard/templating, backport v7.5.x, type/bug, type/performance

#31738 Panel/PluginList: Migrate to React
  public/app/plugins/panel/pluginlist/PluginList.tsx
  public/app/plugins/panel/pluginlist/components/UpdatePluginModal.tsx
  public/app/plugins/panel/pluginlist/module.html
  public/app/plugins/panel/pluginlist/module.ts
  public/app/plugins/panel/pluginlist/module.tsx
Labels: type/angular-2-react

#31647 Library Panels: Add "Discard" button to panel save modal
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/library-panels/components/SaveLibraryPanelModal/SaveLibraryPanelModal.tsx
Labels: area/frontend, area/frontend/library-panels

#31804 CloudWatch: Add support for EC2 IAM role
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/session.go
  pkg/tsdb/cloudwatch/session_test.go
Labels: add to changelog, backport v7.5.x, datasource/CloudWatch, type/feature-request

#31805 CloudWatch: Restrict auth provider and assume role usage according to Grafana configuration
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  docs/sources/datasources/cloudwatch.md
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/query_transformer_test.go
  pkg/tsdb/cloudwatch/session_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Labels: add to changelog, backport v7.5.x, datasource/CloudWatch, type/feature-request

#31788 Cloudwatch: ListMetrics API page limit
  conf/defaults.ini
  docs/sources/administration/configuration.md
  docs/sources/datasources/cloudwatch.md
  go.sum
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/test_utils.go
Labels: add to changelog, backport v7.5.x, datasource/CloudWatch, type/feature-request

#31845 CloudWatch: Restrict auth provider and assume role usage according to…
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  docs/sources/datasources/cloudwatch.md
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/query_transformer_test.go
  pkg/tsdb/cloudwatch/session_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Labels: backport

#31848 UserInviteForm: remove "invalid" attribute from the Switch field
  public/app/features/org/UserInviteForm.tsx
Labels: area/frontend

#31849 UsageStatsService: Don't use global state
  pkg/infra/usagestats/service.go
  pkg/infra/usagestats/usage_stats.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/setting/setting.go
Labels: area/backend, type/chore

#31856 Backend: Migrate to using non-global configuration
  pkg/api/api.go
  pkg/api/avatar/avatar.go
  pkg/api/health_test.go
  pkg/api/http_server.go
  pkg/api/index.go
  pkg/api/login.go
  pkg/api/plugins.go
  pkg/api/user.go
  pkg/middleware/recovery.go
  pkg/plugins/app_plugin.go
  pkg/plugins/frontend_plugin.go
  pkg/plugins/frontend_plugin_test.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_test.go
  pkg/services/notifications/notifications.go
  pkg/services/notifications/notifications_test.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/setting/setting.go
Labels: area/backend, type/chore

#31858 Backend: Tidy go.sum
  go.sum
Labels: area/backend, type/chore

#31807 CloudWatch: Consume the grafana/aws-sdk
  package.json
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/PanelQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/types.ts
  yarn.lock
Labels: add to changelog, backport v7.5.x, datasource/CloudWatch, type/feature-request

#31859 Chore: Update go.mod and go.sum
  go.sum
Labels: type/chore

#31830 Zipkin: Use new trace data format
  packages/grafana-data/src/types/trace.ts
  public/app/plugins/datasource/zipkin/datasource.test.ts
  public/app/plugins/datasource/zipkin/datasource.ts
  public/app/plugins/datasource/zipkin/utils/testData.ts
  public/app/plugins/datasource/zipkin/utils/transforms.test.ts
  public/app/plugins/datasource/zipkin/utils/transforms.ts
Labels: area/tracing, datasource/Zipkin, type/chore

#31515 Plugins: Remove pre-existing plugin installs when installing with grafana-cli
  pkg/cmd/grafana-cli/commands/install_command.go
Labels: area/grafana-cli, area/plugins, type/bug

#31870 Chore: type backendSrv.datasourceRequest
  packages/grafana-runtime/src/services/backendSrv.ts
  yarn.lock
Labels: area/frontend

#31642 Add datalinks support to PieChart v2
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-ui/src/components/DataLinks/DataLinksContextMenu.tsx
  packages/grafana-ui/src/components/PieChart/PieChart.story.tsx
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendList.tsx
  packages/grafana-ui/src/components/VizLegend/types.ts
  public/app/plugins/panel/piechart/PieChartPanel.tsx
Labels: area/frontend, area/grafana/ui, area/panel/piechart

#31835 Tempo: Add test for backend data source
  pkg/tsdb/tempo/tempo.go
  pkg/tsdb/tempo/tempo_test.go
Labels: backport v7.5.x, datasource/Tempo

#31825 Loki: Remove $__rate_interval from LogQL autocomplete
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/prometheus/promql.ts
Labels: datasource/Loki

#31882 [v7.5.x] Tempo: Add test for backend data source (#31835)
  pkg/tsdb/tempo/tempo.go
  pkg/tsdb/tempo/tempo_test.go
Labels: backport

#31881 Update scripts and Dockerfiles to use Go 1.16.1
  .drone.yml
  Dockerfile
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci-e2e/scripts/deploy.sh
  packages/grafana-toolkit/docker/grafana-plugin-ci/scripts/deploy.sh
  scripts/build/ci-build-windows/Dockerfile
  scripts/build/ci-build/Dockerfile
  scripts/build/ci-build/build-deploy.sh
  scripts/build/ci-deploy/Dockerfile
  scripts/lib.star
Labels: backport v7.5.x, type/build-packaging, type/chore

#31888 AnnotationList: Adds spacing to UI
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/plugins/panel/annolist/AnnoListPanel.test.tsx
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
  public/app/plugins/panel/annolist/AnnotationListItem.tsx
  public/app/plugins/panel/annolist/AnnotationListItemTags.tsx
Labels: area/annotations, backport v7.5.x, type/bug

#31234 Docker: Update custom image Dockerfile for install plugin from URL
  docs/sources/installation/docker.md
  packaging/docker/custom/Dockerfile
  packaging/docker/custom/ubuntu.Dockerfile
Labels: pr/external, type/build-packaging, type/chore

#30783 AzureMonitor: Migrate Metrics query editor to React
  public/app/core/angular_wrappers.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/Field.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/AggregationField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/LegendFormatField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNameField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/NamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceGroupsField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceNameField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/TimeGrainField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/TopField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryTypeField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/SubscriptionField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/common.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/metrics.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/partials/query.editor.html
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types.ts
Labels: add to changelog, datasource/Azure, type/angular-2-react, type/refactor

#31854 Chore: upgrade eslint and fork-ts-checker-webpack-plugin
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: backport v7.5.x, type/tech

#31896 [v7.5.x] Chore: upgrade eslint and fork-ts-checker-webpack-plugin
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: backport

#31898 Routing NG: Add deprecation warnings to $location patch
  public/app/angular/AngularLocationWrapper.ts
  public/app/angular/bridgeReactAngularRouting.ts
Labels: area/routing, type/angular-2-react, type/tech

#31872 Migration/AlertList: Migrates AlertList from AngularJS to React
  packages/grafana-ui/src/components/Card/Card.tsx
  public/app/plugins/panel/alertlist/AlertList.tsx
  public/app/plugins/panel/alertlist/AlertListMigration.test.ts
  public/app/plugins/panel/alertlist/AlertListMigrationHandler.ts
  public/app/plugins/panel/alertlist/editor.html
  public/app/plugins/panel/alertlist/module.html
  public/app/plugins/panel/alertlist/module.ts
  public/app/plugins/panel/alertlist/module.tsx
  public/app/plugins/panel/alertlist/types.ts
  public/app/types/alerting.ts
Labels: area/panel/alertlist, type/angular-2-react

#29079 Elasticseach: Add support for histogram fields
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: add to changelog, backport v7.5.x, datasource/Elasticsearch, pr/external

#31765 influxdb: flux-editor: fix html.onchange bug with angular, improve types
  public/app/plugins/datasource/influxdb/components/FluxQueryEditor.tsx
  public/app/plugins/datasource/influxdb/partials/query.editor.html
Labels: datasource/InfluxDB, datasource/InfluxDB/flux

#31267 Licensing docs: Add docs about usage billing option
  docs/sources/enterprise/license-restrictions.md
Labels: type/docs

#31900 Plugins: exposing the `getTimeZone` function to be able to get the current selected timeZone.
  packages/grafana-data/src/datetime/common.ts
  packages/grafana-data/src/datetime/index.ts
Labels: area/dashboard/timerange, area/dashboard/timezone, area/frontend, area/grafana/runtime

#31924 ValueMappings: Fixes value 0 not being mapped
  packages/grafana-data/src/utils/valueMappings.test.ts
  packages/grafana-data/src/utils/valueMappings.ts
Labels: add to changelog, backport v7.5.x

#31894 [v7.5.x] AnnotationList: Adds spacing to UI
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/dashgrid/__snapshots__/DashboardGrid.test.tsx.snap
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/plugins/panel/annolist/AnnoListPanel.test.tsx
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
  public/app/plugins/panel/annolist/AnnotationListItem.tsx
  public/app/plugins/panel/annolist/AnnotationListItemTags.tsx
Labels: backport

#31823 Loki: Prevent submitting the datasource form in Loki's datasource configuration page
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
Labels: datasource/Loki

#31931 Chore: Give backend platform ownership over backend architecture docs
  .github/CODEOWNERS
Labels: type/chore

#31802 Bug: Update `react-use-measure` dependency to fix docker-build-full f…
  Dockerfile
  package.json
  yarn.lock
Labels: type/bug

#31886 DashboardService: Consolidate constructors
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/plugins/manager/dashboard_import.go
  pkg/services/dashboards/dashboard_service.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/provisioning/dashboards/file_reader_linux_test.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/sqlstore/dashboard_service_integration_test.go
Labels: area/backend, area/provisioning, type/chore

#31933 Variables: Do not reset description on variable type change
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
  public/test/core/redux/reducerTester.ts
Labels: area/dashboard/templating, backport v7.5.x

#29550 Cloudwatch: use shared library for aws auth
  go.mod
  go.sum
  package.json
  pkg/plugins/backendplugin/manager/manager.go
  pkg/plugins/backendplugin/manager/manager_test.go
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/query_transformer_test.go
  pkg/tsdb/cloudwatch/session.go
  pkg/tsdb/cloudwatch/session_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
  yarn.lock
Labels: add to changelog, backport v7.5.x, datasource/CloudWatch, type/chore

#31902 Loki: Fix type errors in language_provider
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/language_provider.ts
Labels: backport v7.5.x, datasource/Loki, type/bug, type/tech

#31943 Chore: Add more context to dashboard diff unknown delta log
  pkg/components/dashdiffs/formatter_json.go
Labels: area/backend, area/dashboard, type/chore

#31897 Chore: Move tsdbifaces.RequestHandler to plugins.DataRequestHandler
  pkg/plugins/ifaces.go
  pkg/plugins/manager/dashboard_import.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/eval_handler.go
  pkg/services/alerting/eval_handler_test.go
  pkg/services/alerting/interfaces.go
  pkg/services/alerting/rule_test.go
  pkg/tsdb/tsdbifaces/ifaces.go
Labels: area/backend, type/chore

#31956 Chore: Tidy up Go deps
  go.mod
  go.sum
Labels: dependencies, go, type/chore

#31946 Cloudwatch: use shared library for aws auth (#29550)
  go.mod
  go.sum
  package.json
  pkg/plugins/backendplugin/manager.go
  pkg/plugins/backendplugin/manager_test.go
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/query_transformer_test.go
  pkg/tsdb/cloudwatch/session.go
  pkg/tsdb/cloudwatch/session_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
  yarn.lock
Labels: backport

#31936 PanelInspect: Interpolates variables in CSV file name
  public/app/features/dashboard/components/Inspector/InspectDataTab.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.test.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeader.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
Labels: add to changelog, backport v7.5.x, panel/inspect, type/bug

#31942 Variables: Ensures all variable values are strings
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
  public/app/features/variables/state/setOptionFromUrl.test.ts
  public/app/features/variables/state/sharedReducer.ts
  public/app/features/variables/textbox/actions.ts
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: area/dashboard/templating, type/bug

#31978 RoutingNG: fix locationSrv.update when query is provided
  packages/grafana-runtime/src/services/LocationService.ts
Labels: area/routing, type/bug

#31808 Docs: Clarify plugin annotations docs
  docs/sources/developers/plugins/add-support-for-annotations.md
Labels: area/plugins, type/docs

#31281 AlertingNG: Refactor the query preview component
  public/app/features/alerting/NextGenAlertingPage.tsx
  public/app/features/alerting/components/AlertingQueryPreview.tsx
  public/app/features/alerting/components/EmptyState.tsx
  public/app/features/alerting/components/PreviewInstancesTab.tsx
  public/app/features/alerting/components/PreviewQueryTab.tsx
Labels: area/alerting-ng

#31949 Query editor: avoid avoiding word wrap on query editor components
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
Labels: area/frontend, backport v7.5.x

#31828 Loki: Fix autocomplete when re-editing Loki label values
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
Labels: add to changelog, backport v7.5.x, datasource/Loki, type/bug

#31864 Replace AppEvents with notifyApp in Explore
  public/app/core/utils/richHistory.ts
  public/app/core/utils/shortLinks.ts
  public/app/features/explore/ExploreQueryInspector.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
  public/app/features/explore/RichHistory/RichHistorySettings.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/jaeger/QueryField.tsx
  public/app/plugins/datasource/zipkin/QueryField.tsx
Labels: datasource/CloudWatch Logs, datasource/Jaeger, datasource/Zipkin, type/refactor

#31526 InfluxDB: Support region annotations
  public/app/plugins/datasource/influxdb/influx_series.ts
  public/app/plugins/datasource/influxdb/partials/annotations.editor.html
Labels: add to changelog, area/annotations, datasource/InfluxDB

#31937 TooltipContainer - use resize observer instead of getClientBoundingRect
  packages/grafana-data/src/types/geometry.ts
  packages/grafana-ui/src/components/Chart/TooltipContainer.tsx
Labels: area/panel/timeseries, backport v7.5.x, type/performance

#31952 RoutingNG: Fix infinite loop caused by history state not being cleaned up
  packages/grafana-runtime/src/services/LocationService.ts
  public/app/core/navigation/GrafanaRoute.test.tsx
  public/app/core/navigation/GrafanaRoute.tsx
  public/app/core/navigation/utils.ts
  public/app/features/dashboard/components/VersionHistory/useDashboardRestore.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: area/routing, type/bug

#31969 Chore: Jaeger ds to use new fetch api
  public/app/plugins/datasource/jaeger/datasource.test.ts
  public/app/plugins/datasource/jaeger/datasource.ts
Labels: datasource/Jaeger, type/chore

#32011 Fix red master
  packages/grafana-ui/src/components/Chart/Tooltip.test.tsx
  packages/grafana-ui/src/components/Graph/Graph.test.tsx
Labels: backport v7.5.x

#31930 Docs: Document backend package hierarchy model
  contribute/architecture/backend/package-hierarchy.md
Labels: area/backend, type/chore, type/docs

#31680 Graphite: fix autocomplete when tags are not available
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/graphite/specs/datasource.test.ts
  public/app/plugins/datasource/graphite/specs/query_ctrl.test.ts
  public/app/plugins/datasource/graphite/versions.ts
Labels: datasource/Graphite

#31673 Exemplars: always query exemplars
  public/app/plugins/datasource/prometheus/components/PromExemplarField.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: backport v7.5.x, datasource/Prometheus

#32023 Routing NG: Fix time range zoom not working when refresh enabled
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: area/routing, type/bug

#31986 Snapshots: Fix usage of sign in link from the snapshot page
  pkg/api/api.go
  pkg/middleware/auth.go
Labels: add to changelog, area/dashboard/snapshot, backport v7.5.x, type/bug

#32033 Routing NG: Fix persistent modal after dashboard delete
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/dashboard/components/DeleteDashboard/useDashboardDelete.tsx
Labels: area/routing

#31601 Auth: Allow soft token revocation
  pkg/api/login.go
  pkg/api/user_token.go
  pkg/middleware/auth.go
  pkg/models/user_token.go
  pkg/services/auth/auth_token.go
  pkg/services/auth/auth_token_test.go
  pkg/services/auth/model.go
  pkg/services/auth/testing.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/sqlstore/migrations/user_auth_token_mig.go
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/features/users/TokenRevokedModal.tsx
Labels: add to changelog, area/backend/api, area/backend/auth, area/backend/user, area/frontend, area/frontend/login, area/grafana/ui, backport v7.5.x

#31928 Graphite: Support request cancellation properly (Uses new backendSrv.fetch Observable request API)
  public/app/plugins/datasource/graphite/datasource.test.ts
  public/app/plugins/datasource/graphite/datasource.ts
Labels: add to changelog, area/grafana/data, datasource/Graphite, type/chore

#31787 Chore: Collect elasticsearch version usage stats
  pkg/infra/usagestats/usage_stats.go
  pkg/infra/usagestats/usage_stats_test.go
  pkg/models/datasource.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/datasource_test.go
Labels: backport v7.5.x

#30597 Data proxy: Fix encoded characters in URL path should be proxied encoded
  devenv/docker/blocks/slow_proxy/Dockerfile
  devenv/docker/blocks/slow_proxy_mac/Dockerfile
  pkg/api/dataproxy.go
  pkg/api/dataproxy_test.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
Labels: add to changelog, area/datasource/proxy, backport v7.5.x, type/bug

#32064 GraphNG: Fix PlotLegend field display name being outdated
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
Labels: area/panel/timeseries, backport v7.5.x, type/bug

#32053 [v7.5.x] Chore: Tidy up Go deps
  go.sum
Labels: backport, dependencies, go, type/chore

#32065 Chore: Downgrade to node:14.16.0-alpine3.13 version
  Dockerfile
Labels: type/bug, type/chore

#32062 TimePicker: Fixes hidden time picker shown in kiosk TV mode
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
Labels: add to changelog, type/bug

#32055 [v7.5.x] TimePicker: Fixes hidden time picker shown in kiosk TV mode
  public/app/features/dashboard/components/DashNav/DashNav.tsx
Labels: type/bug

#32082 Updated broken link for Graph panel documentation.
  docs/sources/whatsnew/whats-new-in-v5-1.md
Labels: type/docs

#31713 Live: use StreamingDataSource for live measurments
  packages/grafana-data/src/dataframe/StreamingDataFrame.ts
  packages/grafana-runtime/src/measurement/collector.test.ts
  packages/grafana-runtime/src/measurement/collector.ts
  packages/grafana-runtime/src/measurement/types.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
Labels: area/backend, area/frontend

#31948 Prometheus: Convert Prometheus query response to dataframes
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/prometheus_test.go
Labels: area/backend, area/backend/plugins, datasource/Prometheus

#32084 DashNav: Pass typed event through the DashNav button onClick handler
  public/app/features/dashboard/components/DashNav/DashNavButton.tsx
Labels: area/frontend, pr/external

#31628 Plugins: moving the DataSourcePicker to grafana/runtime so it can be reused in plugins
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/pluginSignature.ts
  packages/grafana-runtime/package.json
  packages/grafana-runtime/rollup.config.ts
  packages/grafana-runtime/src/components/DataSourcePicker.tsx
  packages/grafana-runtime/src/index.ts
  packages/grafana-ui/src/components/PluginSignatureBadge/PluginSignatureBadge.story.tsx
  packages/grafana-ui/src/components/PluginSignatureBadge/PluginSignatureBadge.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/core/components/TraceToLogsSettings.tsx
  public/app/features/dashboard/components/VizTypePicker/VizTypePickerPlugin.tsx
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
  public/app/features/plugins/PluginListItem.tsx
  public/app/features/plugins/PluginPage.tsx
  public/app/features/plugins/PluginsErrorsInfo.tsx
  public/app/features/query/components/QueryGroup.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/DataLink.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/prometheus/configuration/ExemplarSetting.tsx
Labels: add to changelog, area/datasource/frontend, area/explore, area/frontend, area/plugins

#31910 Docs: Add mention of preferredVisualisationType in logs datasource guide
  docs/sources/developers/plugins/build-a-logs-data-source-plugin.md
Labels: area/explore, pr/external, type/docs
