Repository grafana/grafana, pull requests merged in 2021-06, with the labels that each got.

#34930 Collapse: Fixes icon (angle down/right) positioning
  packages/grafana-ui/src/components/Collapse/Collapse.tsx
Labels: area/frontend, backport v8.0.x

#34740 Reporting: update docs
  docs/sources/enterprise/reporting.md
Labels: backport v8.0.x, type/docs

#34531 Logs: Use GraphNG to plot log histograms
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/types/logs.ts
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  public/app/core/logs_model.test.ts
  public/app/core/logs_model.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreGraphNGPanel.tsx
  public/app/features/explore/ExploreGraphPanel.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/features/inspector/InspectDataTab.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: area/explore, area/frontend, backport v8.0.x, datasource/Elasticsearch, datasource/Loki

#35015 Drone: Sync with main
  .drone.star
  .drone.yml
  scripts/job.star
  scripts/lib.star
Labels: type/build-packaging, type/chore

#35014 Chore: Remove CircleCI
  .circleci/config.yml
Labels: area/backend, backport v8.0.x, type/build-packaging, type/chore

#34997 TimeSeries: Migration from old graph legend values
  public/app/plugins/panel/timeseries/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/timeseries/migrations.test.ts
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/frontend, area/panel/timeseries, backport v8.0.x, type/bug

#35013 NodeGraph: Make web worker inline fixing error when assets are loaded with different origin
  scripts/webpack/webpack.common.js
Labels: area/panel/node-graph, backport v8.0.x

#34842 Alerting: check upstream response content type in lotex proxy (#34760) backport
  pkg/services/ngalert/api/promql_compat.go
  pkg/services/ngalert/api/util.go
  public/app/features/alerting/unified/api/ruler.ts
Labels: area/backend, area/frontend, backport

#34751 Docs: Add query caching to enterprise docs page
  docs/sources/enterprise/_index.md
Labels: backport v7.5.x, backport v8.0.x, type/docs

#34635 Table: datalink to have text underline and support for image datalink
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/ImageCell.tsx
  packages/grafana-ui/src/components/Table/Table.test.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/utils/index.ts
  packages/grafana-ui/src/utils/table.ts
Labels: area/frontend, backport v8.0.x

#35020 Chore: Add Circle CI empty config
  .circleci/config.yml
Labels: area/backend, backport v8.0.x, type/build-packaging

#34526 Add docs for Tempo search
  docs/sources/datasources/tempo.md
Labels: backport v8.0.x, type/docs

#34889 Fix enterprise autodeploy
  .drone.yml
  scripts/lib.star
Labels: type/build-packaging

#34998 Dashboard: Fix Table view when editing causes the panel data to not update
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTableView.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
Labels: add to changelog, area/frontend, backport

#34696 Short URL: Fix so that orgId is included in generated short URL
  docs/sources/http_api/short_url.md
  pkg/api/short_url.go
  pkg/api/short_url_test.go
Labels: add to changelog, area/backend, backport v8.0.x, pr/external, type/bug, type/docs

#34595 Chore: Reduce number of strict typescript errors
  public/app/core/components/PermissionList/AddPermission.tsx
  public/app/core/components/Select/OrgPicker.tsx
  public/app/core/components/Select/TeamPicker.tsx
  public/app/core/components/Signup/SignupPage.tsx
  public/app/core/navigation/parseKeyValue.ts
  public/app/features/admin/UserOrgs.tsx
  public/app/features/dashboard/components/FolderPicker/FolderPickerCtrl.ts
  public/app/features/explore/Logs.tsx
  public/app/features/explore/QueryEditor.tsx
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/features/panel/query_editor_row.ts
  public/app/plugins/panel/graph/Legend/Legend.tsx
  public/app/plugins/panel/graph/Legend/LegendSeriesItem.tsx
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/heatmap/heatmap_ctrl.ts
  public/app/plugins/panel/heatmap/rendering.ts
Labels: area/explore, area/frontend, type/chore

#34814 Chore: Refactor Prometheus custom query parameters middleware
  pkg/tsdb/prometheus/custom_query_params_middleware.go
  pkg/tsdb/prometheus/custom_query_params_middleware_test.go
  pkg/tsdb/prometheus/prometheus.go
Labels: area/backend, datasource/Prometheus, type/chore

#34739 Access control: Document global role and assignment for provisioning
  docs/sources/enterprise/access-control/provisioning.md
Labels: backport v8.0.x, type/docs

#35022 Checkbox: Fixes vertical layout isssue with Checkboxes due to fixed height
  packages/grafana-ui/src/components/Forms/Checkbox.story.tsx
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
Labels: area/frontend

#35050 Chore: Updates latest.json
  latest.json
Labels: type/chore

#35033 Search: Debounce location update
  public/app/features/search/hooks/useSearchQuery.ts
Labels: area/frontend, area/search, backport v8.0.x

#35043 Add fine-grained-access-control-references.md file.
  docs/sources/alerting/unified-alerting/rule-list.md
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
  docs/sources/enterprise/access-control/roles.md
Labels: type/docs

#35047 NodeGraph: Make grid view responsive
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.tsx
  public/app/plugins/panel/nodeGraph/layout.ts
Labels: area/frontend, area/panel/node-graph

#35045 VizLegendTable: fixes column spacing to span to the right side
  packages/grafana-ui/src/components/VizLegend/VizLegendTable.tsx
Labels: area/frontend

#34948 State timeline: remove use of tinycolor2 for setAlpha()
  packages/grafana-data/src/themes/colorManipulator.test.ts
  packages/grafana-data/src/themes/colorManipulator.ts
  public/app/plugins/panel/state-timeline/timeline.ts
Labels: area/frontend, area/panel/state-timeline, type/performance

#35051 Chore: Refactor short URL API test
  pkg/api/http_server.go
  pkg/api/short_url_test.go
  pkg/services/cleanup/cleanup.go
  pkg/services/shorturls/short_url_service.go
Labels: area/short-url, backport v8.0.x, type/chore

#35062 Docs: Add docs links for what's new in Enterprise
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35046 Docs: Initial docs for State timeline visualization
  docs/Makefile
  docs/sources/panels/visualizations/state-timeline.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#34727 Variables: Support raw values of boolean type
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: add to changelog, area/dashboard/templating, area/frontend, backport v8.0.x, pr/external, type/bug

#35069 Docs: Update panel-editor.md
  docs/sources/panels/panel-editor.md
Labels: type/docs

#35076 Chore: Make docker failed nightly checks send slack messages to #grafa…
  .drone.yml
  scripts/job.star
Labels: area/backend, backport v8.0.x, type/build-packaging, type/chore

#34956 Docs: Add data links provisioning example to ElasticSearch documentation
  docs/sources/datasources/elasticsearch.md
Labels: backport v8.0.x, pr/external, type/docs

#34664 Grafana-UI: Allow Card consumers to override disabled prop for actions
  packages/grafana-ui/src/components/Card/Card.test.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
Labels: area/frontend

#35064 Docs: Add Volta to Grafana dev setup instructions
  contribute/developer-guide.md
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  plugins-bundled/internal/plugin-admin-app/package.json
Labels: area/frontend, type/docs

#34982 Access Control: Provisioning docs cleanup
  docs/sources/enterprise/access-control/provisioning.md
Labels: type/docs

#35080 AzureMonitor: cleanup initialization of configuration editor
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.tsx
Labels: area/frontend, backport v8.0.x, datasource/Azure, pr/external

#34989 ChangeTracker: Unified unsaved changes handling with library panels
  packages/grafana-e2e/src/flows/addDashboard.ts
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.test.tsx
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/components/SaveDashboard/UnsavedChangesModal.tsx
  public/app/features/dashboard/components/SaveDashboard/useDashboardSave.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/__snapshots__/DashboardPage.test.tsx.snap
  public/app/features/dashboard/services/ChangeTracker.ts
  public/app/features/dashboard/services/__mocks__/ChangeTracker.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/library-panels/components/SaveLibraryPanelModal/SaveLibraryPanelModal.tsx
Labels: add to changelog, area/frontend, backport v8.0.x

#35060 AzureMonitor: Use resource type display names in the UI
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azureMetadata/index.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azureMetadata/locations.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azureMetadata/resourceTypes.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceTypeField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/locationDisplayNames.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resouceTypeDisplayNames.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/supportedResources.ts
Labels: area/frontend, datasource/Azure

#35087 DevEnv: Fix docker-driver plugin installation direction url
  devenv/README.md
Labels: area/devenv

#35052 Alerting/Docs: Silence documentation
  docs/sources/alerting/unified-alerting/silences.md
Labels: area/alerting, area/unified-alerting, backport v8.0.x, type/docs

#35048 Library Panels: Fix refresh when changing to angular library panel
  public/app/features/library-panels/components/PanelLibraryOptionsGroup/PanelLibraryOptionsGroup.tsx
  public/app/features/panel/panel_directive.ts
  public/app/types/events.ts
Labels: area/frontend, area/frontend/library-panels

#35096 VizLegend: add readonly prop
  packages/grafana-ui/src/components/VizLegend/VizLegend.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendList.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendListItem.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendSeriesIcon.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendTable.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendTableItem.tsx
  packages/grafana-ui/src/components/VizLegend/types.ts
  public/app/plugins/panel/state-timeline/TimelineChart.tsx
Labels: add to changelog, area/frontend, backport v8.0.x

#35102 Chore: Upgrade prometheus/alertmanager dependency to v0.22.2
  go.mod
  go.sum
Labels: area/backend, backport v8.0.x, type/chore

#35105 InfluxDB: deprecate direct browser access in data source
  docs/sources/datasources/influxdb/_index.md
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
Labels: add to changelog, area/frontend, backport v8.0.x, datasource/InfluxDB, type/docs

#35004 Tempo: search fixes
  public/app/plugins/datasource/tempo/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
Labels: area/frontend, backport v8.0.x, datasource/Tempo, type/bug

#35112 Access control: change weight of references, so they display last
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
Labels: backport v8.0.x, type/docs

#35095 Live: log error on dashboard subscribe
  pkg/services/live/features/dashboard.go
Labels: area/backend, backport v8.0.x

#35063 SSE: Refactor to simplify Series type
  pkg/expr/classic/reduce.go
  pkg/expr/classic/reduce_test.go
  pkg/expr/mathexp/exp.go
  pkg/expr/mathexp/exp_nan_null_val_test.go
  pkg/expr/mathexp/exp_series_test.go
  pkg/expr/mathexp/exp_test.go
  pkg/expr/mathexp/funcs.go
  pkg/expr/mathexp/funcs_test.go
  pkg/expr/mathexp/reduce.go
  pkg/expr/mathexp/reduce_test.go
  pkg/expr/mathexp/resample.go
  pkg/expr/mathexp/resample_test.go
  pkg/expr/mathexp/type_series.go
  pkg/expr/mathexp/types_test.go
  pkg/expr/mathexp/union_test.go
  pkg/expr/service_test.go
Labels: area/backend, area/expressions, backport v8.0.x, type/chore

#35072 FieldDisplay: add cache to reuse field value calculations
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: area/frontend, backport v8.0.x, type/performance

#35118 Docs: unified alerting notification policies
  docs/sources/alerting/unified-alerting/notification-policies.md
Labels: area/unified-alerting, type/docs

#35128 Plugin: add signature status to plugin_build_info
  pkg/infra/metrics/metrics.go
  pkg/plugins/manager/manager.go
Labels: area/backend, area/backend/plugins, area/instrumentation, backport v8.0.x

#35122 Live: fix field filtering and survive reconnect
  packages/grafana-data/src/dataframe/StreamingDataFrame.ts
  public/app/features/live/live.ts
Labels: area/frontend, area/streaming, backport v8.0.x

#35071 State-Timeline: support migrating from the discrete panel
  public/app/plugins/panel/state-timeline/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/state-timeline/migrations.test.ts
  public/app/plugins/panel/state-timeline/migrations.ts
  public/app/plugins/panel/state-timeline/module.tsx
Labels: area/frontend, backport v8.0.x

#35135 Docs: Update whats new 8.0
  docs/sources/panels/DRAFT.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#33218 Docs: Update annotations.md
  docs/sources/dashboards/annotations.md
Labels: backport v7.5.x, type/docs

#35141 Docs: Update whats-new-in-v8-0.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35005 Timeline/Status grid panel: Add tooltip support
  packages/grafana-ui/src/components/VizTooltip/SeriesTable.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipContainer.tsx
  packages/grafana-ui/src/components/VizTooltip/index.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  packages/grafana-ui/src/components/uPlot/types.ts
  packages/grafana-ui/src/options/builder/text.tsx
  packages/grafana-ui/src/options/builder/tooltip.tsx
  packages/grafana-ui/src/options/models.gen.ts
  public/app/plugins/panel/barchart/bars.ts
  public/app/plugins/panel/barchart/utils.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/state-timeline/StateTimelineTooltip.tsx
  public/app/plugins/panel/state-timeline/TimelineChart.tsx
  public/app/plugins/panel/state-timeline/module.tsx
  public/app/plugins/panel/state-timeline/timeline.ts
  public/app/plugins/panel/state-timeline/types.ts
  public/app/plugins/panel/state-timeline/utils.test.ts
  public/app/plugins/panel/state-timeline/utils.ts
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
  public/app/plugins/panel/status-history/module.tsx
  public/app/plugins/panel/status-history/types.ts
Labels: area/frontend, area/panel/state-timeline

#35088 Chore: Bump sanitize-url to 5.0.2
  package.json
  packages/grafana-data/package.json
  yarn.lock
Labels: area/dashboard/data-links, area/frontend, backport v8.0.x, type/bug

#35150 Plugins: Fix bad log format
  pkg/plugins/manager/manager.go
Labels: area/backend, area/plugins, backport v8.0.x, type/bug

#35145 Timeline/Status: tooltip fixups
  public/app/plugins/panel/state-timeline/timeline.ts
  public/app/plugins/panel/state-timeline/utils.ts
Labels: area/frontend, backport v8.0.x

#35146 GraphNG: uPlot 1.6.11
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, backport v8.0.x

#35116 NodeGraph: Don't check for preferredVisualisationType
  public/app/features/explore/NodeGraphContainer.test.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
  public/app/plugins/panel/nodeGraph/__mocks__/layout.worker.js
  public/app/plugins/panel/nodeGraph/useCategorizeFrames.ts
  public/app/plugins/panel/nodeGraph/utils.ts
Labels: area/explore, area/frontend, area/panel/node-graph, backport v8.0.x

#35170 Chore: Update drone pipeline failure message to include target branch
  .drone.yml
  scripts/lib.star
Labels: area/backend, backport v8.0.x, type/build-packaging, type/chore

#34944 Chore: Refactor backend plugin manager/tsdb query data
  pkg/expr/service_test.go
  pkg/plugins/app_plugin.go
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/coreplugin/query_endpoint_adapter.go
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/ifaces.go
  pkg/plugins/backendplugin/manager/manager.go
  pkg/plugins/backendplugin/manager/manager_test.go
  pkg/plugins/datasource_plugin.go
  pkg/plugins/datasource_plugin_wrapper_v2.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_test.go
  pkg/plugins/renderer_plugin.go
  pkg/plugins/tsdb.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/data_plugin_adapter.go
  pkg/tsdb/service.go
  pkg/tsdb/service_test.go
Labels: area/backend, area/backend/plugins, backport v8.0.x, datasource/CloudWatch, type/chore

#35148 [v8.0.x] PanelEdit: Add data source label to data source picker dropdown
  packages/grafana-runtime/src/components/DataSourcePicker.tsx
  public/app/features/query/components/QueryGroup.tsx
Labels: area/frontend, backport

#35124 Grafana-UI: Fix checkbox vertical alignment
  packages/grafana-ui/src/components/Forms/Checkbox.story.tsx
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
Labels: area/frontend, area/grafana/ui, backport v8.0.x

#34741 Add verbose version flag to list dependencies as well as the version
  pkg/cmd/grafana-server/main.go
Labels: area/backend, backport v8.0.x

#35119 Alerting: Don't save Alertmanager config on migration when 0 channels
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: area/backend, area/backend/db/migration, area/unified-alerting, backport v8.0.x

#35104 Chore: Remove endpoints that contain the slug field
  docs/sources/http_api/dashboard.md
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_permission.go
  pkg/api/dashboard_test.go
  pkg/middleware/dashboard_redirect.go
  pkg/middleware/dashboard_redirect_test.go
  public/app/core/services/backend_srv.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/routes/routes.tsx
Labels: area/backend, area/backend/api, area/frontend, breaking change, type/docs

#35188 Chore: Upgrade golangci-lint
  scripts/go/configs/.golangci.toml
  scripts/go/go.mod
  scripts/go/go.sum
Labels: area/backend, backport v8.0.x, type/build-packaging, type/chore

#35165 Alerting: Do not hard fail on templating errors in channels
  pkg/services/ngalert/notifier/channels/dingding.go
  pkg/services/ngalert/notifier/channels/dingding_test.go
  pkg/services/ngalert/notifier/channels/discord.go
  pkg/services/ngalert/notifier/channels/discord_test.go
  pkg/services/ngalert/notifier/channels/email.go
  pkg/services/ngalert/notifier/channels/googlechat.go
  pkg/services/ngalert/notifier/channels/kafka.go
  pkg/services/ngalert/notifier/channels/line.go
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pagerduty_test.go
  pkg/services/ngalert/notifier/channels/pushover.go
  pkg/services/ngalert/notifier/channels/pushover_test.go
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/sensugo_test.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/services/ngalert/notifier/channels/teams.go
  pkg/services/ngalert/notifier/channels/teams_test.go
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/telegram_test.go
  pkg/services/ngalert/notifier/channels/template_data.go
  pkg/services/ngalert/notifier/channels/threema.go
  pkg/services/ngalert/notifier/channels/utils.go
  pkg/services/ngalert/notifier/channels/victorops.go
  pkg/services/ngalert/notifier/channels/webhook.go
Labels: area/backend, area/unified-alerting, backport v8.0.x

#35181 AzureMonitor: Require default subscription for workspaces() template variable query
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/credentials.ts
Labels: add to changelog, area/frontend, backport v8.0.x, datasource/Azure

#35137 Docs: Update Dashboard list and Bar gauge
  docs/sources/panels/visualizations/dashboard-list-panel.md
  docs/sources/panels/visualizations/gauge-panel.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35136 Docs: Update bar-gauge-panel.md
  docs/sources/panels/visualizations/alert-list-panel.md
  docs/sources/panels/visualizations/bar-gauge-panel.md
Labels: type/docs

#35184 Annotations: Fix so adds, updates and deletes are shown correctly
  public/app/features/annotations/event_editor.ts
Labels: area/annotations, area/frontend, backport v8.0.x, type/bug

#34642 Live: adding docs
  docs/sources/administration/configuration.md
  docs/sources/live/_index.md
  docs/sources/live/configure-grafana-live.md
  docs/sources/live/live-channel.md
  docs/sources/live/live-feature-overview.md
  docs/sources/live/live-ha-setup.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: backport v8.0.x, type/docs

#35156 influxdb: docs: add new screenshot
  docs/sources/datasources/influxdb/_index.md
Labels: backport v8.0.x, datasource/InfluxDB, type/docs

#35190 Alerting/Docs: Non-timeseries / numeric alerting
  docs/sources/alerting/unified-alerting/create-grafana-managed-rule.md
  docs/sources/alerting/unified-alerting/grafana-managed-numeric-rule.md
Labels: area/alerting, area/unified-alerting, type/docs

#35067 Docs: Document new value mappings
  docs/sources/_index.md
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
  docs/sources/panels/panel-editor.md
  docs/sources/panels/value-mappings.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#34945 Alerting: unified alerting docs state and health
  docs/sources/alerting/unified-alerting/_index.md
  docs/sources/alerting/unified-alerting/alerting-rules/_index.md
  docs/sources/alerting/unified-alerting/alerting-rules/create-cortex-loki-managed-rule.md
  docs/sources/alerting/unified-alerting/alerting-rules/create-grafana-managed-rule.md
  docs/sources/alerting/unified-alerting/alerting-rules/rule-list.md
  docs/sources/alerting/unified-alerting/alerting-rules/state-and-health.md
  docs/sources/alerting/unified-alerting/contact-points.md
Labels: type/docs

#35159 Alerting: Expand `{{$labels.xyz}}` template in labels and annotations
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/backend, area/unified-alerting, backport v8.0.x

#35152 Docs: Prometheus metrics browser
  docs/sources/datasources/loki.md
  docs/sources/datasources/prometheus.md
Labels: type/docs

#34683 Fix Markdown syntax in enterprise/license/_index.md
  docs/sources/enterprise/license/_index.md
Labels: backport v7.5.x, type/docs

#35212 Docs: More panel options updates for Grafana 8.0
  docs/sources/panels/visualizations/gauge-panel.md
  docs/sources/panels/visualizations/heatmap.md
  docs/sources/panels/visualizations/news-panel.md
  docs/sources/panels/visualizations/pie-chart-panel.md
Labels: type/docs

#35211 Docs: Add GCM update to what's new
  docs/sources/datasources/google-cloud-monitoring/_index.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35214 Docs: Table update 8.0
  docs/sources/panels/visualizations/table/_index.md
  docs/sources/panels/visualizations/table/table-field-options.md
Labels: type/docs

#35200 NodeGraph: Fix sorting markers in grid view
  public/app/plugins/datasource/testdata/testData/serviceMapResponse.ts
  public/app/plugins/panel/nodeGraph/Legend.tsx
  public/app/plugins/panel/nodeGraph/layout.ts
Labels: add to changelog, area/frontend, area/panel/node-graph, backport v8.0.x

#35217 Timeseries: move join field to index zero
  packages/grafana-data/src/transformations/transformers/joinDataFrames.test.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
Labels: backport v8.0.x

#35220 Histogram: enable ui-only zoom (with bucket snapping)
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  public/app/plugins/panel/histogram/Histogram.tsx
Labels: area/frontend, area/panel/histogram, backport v8.0.x

#34385 Scuemata: Checking json validity by enabling skipped tests
  pkg/schema/load/dashboard.go
  pkg/schema/load/load_test.go
  pkg/schema/load/testdata/artifacts/dashboards/basic.json
  pkg/schema/load/testdata/artifacts/panels/basic-table.json
  pkg/schema/load/testdata/malformed_cue/cue/data/gen.cue
  pkg/schema/load/testdata/malformed_cue/cue/scuemata/panel-plugin.cue
  pkg/schema/load/testdata/malformed_cue/cue/scuemata/scuemata.cue
  pkg/schema/load/testdata/mergefs/b/z/foo.cue
  pkg/schema/schema.go
Labels: area/backend, backport v8.0.x

#35196 Docs: Update node graph docs
  docs/sources/explore/trace-integration.md
  docs/sources/panels/visualizations/node-graph.md
Labels: type/docs

#35195 Annotations: Fix so annotations work in panel edit
  public/app/features/query/state/DashboardQueryRunner/DashboardQueryRunner.ts
  public/app/features/query/state/PanelQueryRunner.ts
Labels: area/annotations, area/frontend, backport v8.0.x, type/bug

#35228 Chore: Remove incorrect use of grafana-cli logger
  pkg/infra/metrics/graphitebridge/graphite.go
Labels: area/backend, backport v8.0.x, type/chore

#35178 Storybook: Add missing select options for controls
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.story.tsx
Labels: area/frontend, area/storybook, backport v8.0.x

#33041 Elasticsearch: Add Top Metrics Aggregation and X-Pack support
  devenv/docker/blocks/elastic77/docker-compose.yaml
  devenv/docker/blocks/elastic77/elasticsearch.yml
  devenv/docker/blocks/elastic77/filebeat.yml
  devenv/docker/blocks/elastic77/metricbeat.yml
  docs/sources/datasources/elasticsearch.md
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/models.go
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/models.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/aggregations.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/TopMetricsSettingsEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/aggregations.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/SettingsEditorContainer.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/elasticsearch/hooks/useFields.test.tsx
  public/app/plugins/datasource/elasticsearch/hooks/useFields.ts
  public/app/plugins/datasource/elasticsearch/query_builder.ts
  public/app/plugins/datasource/elasticsearch/specs/elastic_response.test.ts
  public/app/plugins/datasource/elasticsearch/specs/query_builder.test.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: area/backend, area/frontend, datasource/Elasticsearch, pr/external, type/docs

#35155 Docs: Initial bar chart docs
  docs/sources/panels/visualizations/bar-chart.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35169 Search: Remove extra margin for checkboxes
  public/app/features/search/components/SearchItem.tsx
Labels: area/frontend, area/search, backport v8.0.x

#35235 AzureMonitor: fix Azure Resource Graph queries in Azure China
  pkg/tsdb/azuremonitor/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/routes.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/api/routes.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/plugin.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
Labels: add to changelog, area/backend, area/frontend, backport v8.0.x, datasource/Azure, pr/external

#35215 Docs: Time series panel update 8.0
  docs/sources/panels/visualizations/text-panel.md
  docs/sources/panels/visualizations/time-series/_index.md
  docs/sources/panels/visualizations/time-series/graph-time-series-as-bars.md
  docs/sources/panels/visualizations/time-series/graph-time-series-as-lines.md
  docs/sources/panels/visualizations/time-series/graph-time-series-as-points.md
  docs/sources/panels/visualizations/time-series/graph-time-series-stacking.md
Labels: type/docs

#34964 Renderer: add version information
  packages/grafana-runtime/src/config.ts
  pkg/api/frontendsettings.go
  pkg/services/alerting/notifier_test.go
  pkg/services/rendering/http_mode.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/rendering.go
Labels: area/backend, area/frontend, area/image-rendering, backport v8.0.x

#35238 Alerting: Update docs for templating in rule labels
  docs/sources/alerting/unified-alerting/alerting-rules/create-grafana-managed-rule.md
Labels: area/unified-alerting, backport v8.0.x, type/docs

#35204 Card: Defend against conditional action buttons
  packages/grafana-ui/src/components/Card/Card.test.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
  public/app/features/playlist/PlaylistPage.tsx
Labels: area/frontend, area/grafana/ui, area/playlist, backport v8.0.x, type/bug

#35086 Alerting: Fix notification channel migration and handle case when Alertmanager default configuration is absent
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/models/alertmanager.go
  pkg/services/sqlstore/migrations/ualert/dash_alert.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: area/backend, area/backend/db/migration, backport v8.0.x, type/bug

#35149 Expressions: updating copy from experimental to beta.
  public/app/features/alerting/unified/components/rule-editor/QueryEditor.tsx
  public/app/features/query/components/QueryGroup.tsx
Labels: area/alerting, area/expressions, area/frontend, area/unified-alerting, backport v8.0.x

#35241 Docs: Adds docs for histogram visualization
  docs/sources/panels/visualizations/histogram.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35251 Graph: fixes storybook crashing when using the story
  packages/grafana-ui/src/components/Graph/Graph.story.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.story.tsx
Labels: area/frontend, backport v8.0.x

#35256 [v8.0.x] Card: Defend against conditional action buttons
  packages/grafana-ui/src/components/Card/Card.test.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
  public/app/features/playlist/PlaylistPage.tsx
Labels: area/frontend, backport

#35254 Elasticsearch: Fix min_doc_count value when alerting
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: area/backend, backport v8.0.x, datasource/Elasticsearch

#35035 Prometheus: Metrics browser layout
  public/app/plugins/datasource/prometheus/components/PrometheusMetricsBrowser.tsx
Labels: area/frontend, backport v8.0.x, datasource/Prometheus

#35189 Caching: document memory limit settings
  docs/sources/enterprise/enterprise-configuration.md
Labels: backport v8.0.x, type/docs

#35265 Grafana-ui: explicitly set storybook control types
  packages/grafana-ui/src/components/Badge/Badge.story.tsx
  packages/grafana-ui/src/components/ValuePicker/ValuePicker.story.tsx
Labels: area/frontend, area/storybook, backport v8.0.x

#35263 AccessControl: Update permissions and scopes in docs
  docs/sources/enterprise/access-control/permissions.md
Labels: backport v8.0.x, type/docs

#35271 Catalog: Show message prompting user to refresh browser
  plugins-bundled/internal/plugin-admin-app/src/components/InstallControls.tsx
Labels: area/frontend, area/plugins, backport v8.0.x

#35218 Histogram: support units on the x axis
  packages/grafana-data/src/transformations/transformers/histogram.test.ts
  packages/grafana-data/src/transformations/transformers/histogram.ts
  public/app/plugins/panel/histogram/HistogramPanel.tsx
Labels: area/frontend, backport v8.0.x

#35270 Alerting: Allow rules with same title across folders
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/tables.go
  pkg/tests/api/alerting/api_ruler_test.go
Labels: area/backend, area/backend/db/migration, backport v8.0.x

#35277 Alerting: Redact html error responses
  pkg/services/ngalert/api/util.go
Labels: area/backend, backport v8.0.x

#35272 Docs: library panel
  docs/sources/alerting/unified-alerting/_index.md
  docs/sources/menu.yaml
  docs/sources/panels/panel-library.md
  docs/sources/panels/visualizations/table/filter-table-columns.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35284 Docs lib panel 2: Added Petros's comments
  docs/sources/panels/panel-library.md
Labels: type/docs

#35286 Panels: avoid crash while switching between panels types
  public/app/features/dashboard/state/getPanelOptionsWithDefaults.ts
Labels: area/frontend, backport v8.0.x, type/bug

#35070 Docs: Need connect null values content
  docs/sources/panels/visualizations/time-series/graph-time-series-as-lines.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35285 Docs: Update alerting opt-in page
  docs/sources/alerting/unified-alerting/opt-in.md
Labels: type/docs

#35288 Added content for Azure Monitor changes.
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35283 Docs: Update whats-new-in-v8-0.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35243 Docs: Adds initial status history docs
  docs/sources/panels/visualizations/state-timeline.md
  docs/sources/panels/visualizations/status-history.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35291 Docs update share panel
  docs/sources/panels/panel-library.md
  docs/sources/sharing/share-panel.md
Labels: type/docs

#35294 Histogram: reduce default bucket size, fix rendering
  packages/grafana-data/src/transformations/transformers/histogram.ts
  packages/grafana-ui/package.json
  public/app/plugins/panel/histogram/Histogram.tsx
  public/app/plugins/panel/histogram/HistogramPanel.tsx
  yarn.lock
Labels: area/frontend, area/panel/histogram, backport v8.0.x

#35302 PanelChrome: title styling changed to be semi bold
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Labels: area/frontend, area/panel/common, area/panel/infrastructure

#34983 Docs: document contact points for unified alerting
  docs/sources/alerting/unified-alerting/contact-points.md
  docs/sources/alerting/unified-alerting/create-alert-rule.md
  docs/sources/alerting/unified-alerting/message-templating.md
Labels: area/unified-alerting, type/docs

#35311 Login: Fixes Unauthorized message showing when on login page or snapshot page
  public/app/app.ts
Labels: add to changelog, area/frontend, backport v8.0.x

#35185 [Scuemeta] Fix cue schema load on windows
  pkg/schema/load/common.go
  pkg/schema/load/constant.go
  pkg/schema/load/constant_windows.go
  pkg/schema/load/dashboard.go
  pkg/schema/load/generic.go
  pkg/schema/load/load_test.go
  pkg/schema/load/panel.go
Labels: area/backend, backport v8.0.x

#35023 Docs: unified alerting message templating
  docs/sources/alerting/unified-alerting/_index.md
  docs/sources/alerting/unified-alerting/contact-points.md
  docs/sources/alerting/unified-alerting/message-templating.md
  docs/sources/alerting/unified-alerting/message-templating/_index.md
  docs/sources/alerting/unified-alerting/message-templating/template-data.md
Labels: area/unified-alerting, type/docs

#35187 Docs: improve reporting doc
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/enterprise/reporting.md
Labels: type/docs

#34729 AzureMonitor: Use plugin SDK contracts
  pkg/tsdb/azuremonitor/applicationinsights-datasource.go
  pkg/tsdb/azuremonitor/applicationinsights-datasource_test.go
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/azure-resource-graph-datasource_test.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/credentials.go
  pkg/tsdb/azuremonitor/insights-analytics-datasource.go
  pkg/tsdb/azuremonitor/macros.go
  pkg/tsdb/azuremonitor/macros_test.go
  pkg/tsdb/azuremonitor/types.go
  pkg/tsdb/service.go
Labels: area/backend, datasource/Azure, type/chore

#35317 ManageDashboard: fixes dashboard list overflowing its parent container
  public/app/features/search/components/ManageDashboards.tsx
Labels: area/frontend, area/search

#35308 Docs: Fix misspellings
  docs/sources/alerting/unified-alerting/notification-policies.md
  docs/sources/alerting/unified-alerting/opt-in.md
Labels: type/docs

#35332 Docs: expand unified alerting silences docs page
  docs/sources/alerting/unified-alerting/silences.md
Labels: area/unified-alerting, type/docs

#35321 [v7.5.x] HTTP Client: Introduce `go-conntrack`
  go.mod
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/models/datasource_cache.go
  pkg/models/datasource_cache_test.go
  pkg/tsdb/tempo/tempo_test.go
Labels: area/backend

#35103 Logs: Add documentation for log details and caching
  docs/sources/explore/logs-integration.md
  docs/sources/panels/visualizations/logs-panel.md
  public/app/plugins/datasource/prometheus/partials/annotations.editor.html
Labels: area/frontend, datasource/Loki, datasource/Prometheus, type/docs

#35340 Fix alerting docs
  docs/sources/alerting/_index.md
  docs/sources/alerting/difference-old-new.md
  docs/sources/alerting/old-alerting/_index.md
  docs/sources/alerting/unified-alerting/_index.md
  docs/sources/alerting/unified-alerting/alerting-rules/_index.md
  docs/sources/alerting/unified-alerting/opt-in.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: backport v8.0.x, type/docs

#35275 AzureMonitor: Update documentation and v8 Whats New
  docs/sources/datasources/azuremonitor.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: backport v8.0.x, type/docs

#35330 Angular cleanup: Move directives
  public/app/angular/array_join.ts
  public/app/angular/autofill_event_fix.ts
  public/app/angular/diff-view.ts
  public/app/angular/dropdown_typeahead.ts
  public/app/angular/give_focus.ts
  public/app/angular/metric_segment.ts
  public/app/angular/misc.ts
  public/app/angular/ng_model_on_blur.ts
  public/app/angular/rebuild_on_change.ts
  public/app/angular/services.ts
  public/app/angular/tags.ts
  public/app/core/controllers/all.ts
  public/app/core/controllers/json_editor_ctrl.ts
  public/app/core/core.ts
Labels: area/frontend, type/angular-2-react

#35353 Chore: Update go sum
  go.sum
Labels: type/chore

#35359 Docs: Fix publishing path
  .github/workflows/publish.yml
  docs/sources/_index.md
Labels: type/docs

#35361 Chore: fix docs publish branch for v8
  .github/workflows/publish.yml
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs

#35365 HTTP Client: Add `max_idle_connections_per_host` to dataproxy settings
  conf/defaults.ini
  conf/sample.ini
  pkg/models/datasource_cache.go
  pkg/setting/setting.go
Labels: area/backend

#35366 Dashboard: Removed console log prompt
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
Labels: area/frontend

#35334 Docs: Fix image paths
  docs/sources/alerting/unified-alerting/alerting-rules/create-cortex-loki-managed-rule.md
  docs/sources/alerting/unified-alerting/alerting-rules/create-grafana-managed-rule.md
  docs/sources/alerting/unified-alerting/alerting-rules/rule-list.md
  docs/sources/panels/field-overrides.md
Labels: backport v8.0.x, type/docs

#35335 Search: minor UI fixes
  packages/grafana-ui/src/components/Card/Card.tsx
  public/app/features/search/components/ManageDashboards.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/constants.ts
Labels: area/frontend, area/search, backport v8.0.x

#35377 [8.0.x] Search: minor UI fixes
  packages/grafana-ui/src/components/Card/Card.tsx
  public/app/features/search/components/ManageDashboards.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/features/search/constants.ts
Labels: area/frontend, backport

#35040 Chore: Remove global setting var from azure ad oath
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/social.go
  pkg/server/server.go
  pkg/setting/setting.go
Labels: area/backend, type/chore
