Repository grafana/grafana, pull requests merged in 2021-04, with the labels that each got.

#32562 TimeSrv: Refactor service to have no dependency on angular
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/utils/location.test.ts
  packages/grafana-data/src/utils/location.ts
  public/app/angular/AngularApp.ts
  public/app/app.ts
  public/app/features/all.ts
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/actions.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
  public/app/features/templating/all.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/getAllVariableValuesForUrl.test.ts
  public/app/features/variables/getAllVariableValuesForUrl.ts
  public/app/plugins/panel/heatmap/heatmap_ctrl.ts
  public/app/routes/GrafanaCtrl.ts
Labels: area/dashboard/templating, area/frontend

#32582 Chore: Fix broken gtime tests
  pkg/components/gtime/gtime_test.go
Labels: area/backend, type/chore

#32583 Devenv: Fix prometheus config so that it scrapes your dev instance like before
  devenv/docker/blocks/prometheus/prometheus.yml
  devenv/docker/blocks/prometheus2/prometheus.yml
Labels: area/frontend

#32483 AlertingNG: show threshold rules in the rule list
  pkg/services/ngalert/api/api_prometheus_mock.go
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/api/prometheus.ts
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
  public/app/features/alerting/unified/components/rules/SystemOrApplicationRules.tsx
  public/app/features/alerting/unified/components/rules/ThresholdRules.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/types/unified-alerting-dto.ts
Labels: area/alerting-ng, area/backend, area/frontend

#32567 Backporting grafana AWS sdk bump to 0.4.0
  go.mod
  go.sum
Labels: backport

#32537 [Alerting]: Grafana managed ruler API implementation
  go.mod
  go.sum
  pkg/services/dashboards/folder_service.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_base.go
  pkg/services/ngalert/api/api_ruler_mock.go
  pkg/services/ngalert/api/fork_ruler.go
  pkg/services/ngalert/api/lotex.go
  pkg/services/ngalert/api/test-data/post-rulegroup-101.json
  pkg/services/ngalert/api/test-data/post-rulegroup-42.json
  pkg/services/ngalert/api/test-data/post-rulegroup-data.json
  pkg/services/ngalert/api/test-data/ruler.http
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/legacy.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/database.go
  pkg/services/ngalert/store/database_mig.go
Labels: area/backend, area/backend/db/migration

#32573 Babel: Target more modern browsers, updates browserlistrc
  .babelrc
  .browserslistrc
  package.json
  public/app/app.ts
  public/app/features/panel/panel_directive.ts
  public/app/features/panel/query_editor_row.ts
  public/app/features/variables/adapters.ts
  public/app/features/variables/adhoc/reducer.test.ts
  public/app/features/variables/adhoc/reducer.ts
  public/app/features/variables/constant/reducer.test.ts
  public/app/features/variables/constant/reducer.ts
  public/app/features/variables/custom/reducer.test.ts
  public/app/features/variables/custom/reducer.ts
  public/app/features/variables/datasource/reducer.test.ts
  public/app/features/variables/datasource/reducer.ts
  public/app/features/variables/interval/reducer.test.ts
  public/app/features/variables/interval/reducer.ts
  public/app/features/variables/query/reducer.test.ts
  public/app/features/variables/query/reducer.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/reducers.test.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/sharedReducer.ts
  public/app/features/variables/state/types.ts
  public/app/features/variables/state/variablesReducer.ts
  public/app/features/variables/textbox/reducer.test.ts
  public/app/features/variables/textbox/reducer.ts
  scripts/webpack/babel.config.js
  scripts/webpack/webpack.common.js
  scripts/webpack/webpack.dev.js
  yarn.lock
Labels: area/dashboard/templating, area/frontend

#32449 Chore: Upgrade tslib
  package.json
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/frontend, dependencies, type/chore

#32543 chore: bump execa to v2.1.0
  packages/grafana-toolkit/package.json
  packages/grafana-toolkit/src/cli/tasks/plugin.utils.ts
  yarn.lock
Labels: area/frontend, area/grafana/toolkit, backport v7.5.x, dependencies

#32558 Explore: Fix bug where navigating to explore would result in wrong query and datasource to be shown
  public/app/features/explore/ExplorePaneContainer.tsx
Labels: add to changelog, area/explore, type/bug

#32594 Fix access control store init
  pkg/services/accesscontrol/manager/manager.go
Labels: area/backend

#32546 Configuration: Prevent browser hanging / crashing with large number of org users
  public/app/features/users/UsersListPage.test.tsx
  public/app/features/users/UsersListPage.tsx
  public/app/features/users/__snapshots__/UsersListPage.test.tsx.snap
  public/app/features/users/state/reducers.ts
  public/app/features/users/state/selectors.ts
  public/app/types/user.ts
Labels: add to changelog, area/frontend, backport v7.5.x, type/bug

#32387 Icons: use plain SVG files, load on-demand
  package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/Icon/assets/Apps.tsx
  packages/grafana-ui/src/components/Icon/assets/Bell.tsx
  packages/grafana-ui/src/components/Icon/assets/Circle.tsx
  packages/grafana-ui/src/components/Icon/assets/Cog.tsx
  packages/grafana-ui/src/components/Icon/assets/Favorite.tsx
  packages/grafana-ui/src/components/Icon/assets/Folder.tsx
  packages/grafana-ui/src/components/Icon/assets/FolderPlus.tsx
  packages/grafana-ui/src/components/Icon/assets/Grafana.tsx
  packages/grafana-ui/src/components/Icon/assets/Heart.tsx
  packages/grafana-ui/src/components/Icon/assets/HeartBreak.tsx
  packages/grafana-ui/src/components/Icon/assets/Import.tsx
  packages/grafana-ui/src/components/Icon/assets/PanelAdd.tsx
  packages/grafana-ui/src/components/Icon/assets/PlusSquare.tsx
  packages/grafana-ui/src/components/Icon/assets/ReusablePanel.tsx
  packages/grafana-ui/src/components/Icon/assets/Shield.tsx
  packages/grafana-ui/src/components/Icon/assets/SquareShape.tsx
  packages/grafana-ui/src/components/Icon/assets/index.ts
  packages/grafana-ui/src/components/Icon/assets/types.ts
  packages/grafana-ui/src/components/Icon/custom/index.tsx
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  public/app/app.ts
  public/app/core/components/sidemenu/__snapshots__/TopSectionItem.test.tsx.snap
  public/img/icons/.gitignore
  public/img/icons/custom/gf-bar-alignment-after.svg
  public/img/icons/custom/gf-bar-alignment-before.svg
  public/img/icons/custom/gf-bar-alignment-center.svg
  public/img/icons/custom/gf-interpolation-linear.svg
  public/img/icons/custom/gf-interpolation-smooth.svg
  public/img/icons/custom/gf-interpolation-step-after.svg
  public/img/icons/custom/gf-interpolation-step-before.svg
  public/img/icons/custom/gf-logs.svg
  public/img/icons/mono/apps.svg
  public/img/icons/mono/bell.svg
  public/img/icons/mono/circle.svg
  public/img/icons/mono/cog.svg
  public/img/icons/mono/favorite.svg
  public/img/icons/mono/folder-plus.svg
  public/img/icons/mono/folder.svg
  public/img/icons/mono/grafana.svg
  public/img/icons/mono/heart-break.svg
  public/img/icons/mono/heart.svg
  public/img/icons/mono/import.svg
  public/img/icons/mono/panel-add.svg
  public/img/icons/mono/plus-square.svg
  public/img/icons/mono/reusable-panel.svg
  public/img/icons/mono/shield.svg
  public/img/icons/mono/square-shape.svg
  scripts/webpack/webpack.common.js
  yarn.lock
Labels: area/frontend, type/build-packaging

#32605 Influx/Azure: Fix issue in query editors due to babel upgrade
  public/app/plugins/datasource/grafana-azure-monitor-datasource/query_ctrl.ts
  public/app/plugins/datasource/influxdb/query_ctrl.ts
Labels: area/frontend, datasource/Azure, datasource/InfluxDB

#32520 Edit dashboard UI text
  public/app/features/dashboard/components/DashboardPermissions/DashboardPermissions.tsx
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.tsx
  public/app/features/dashboard/components/DashboardSettings/JsonEditorSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/dashboard/components/FolderPicker/FolderPickerCtrl.ts
  public/app/features/dashboard/components/LinksSettings/LinkSettingsEdit.tsx
  public/app/features/dashboard/components/LinksSettings/LinkSettingsHeader.tsx
  public/app/features/dashboard/components/LinksSettings/LinkSettingsList.tsx
  public/app/features/dashboard/components/PanelEditor/AngularPanelOptions.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneOptions.tsx
  public/app/features/dashboard/components/PanelEditor/VisualizationButton.tsx
  public/app/features/dashboard/components/PanelEditor/getFieldOverrideElements.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/components/PanelEditor/types.ts
  public/app/features/dashboard/components/PanelEditor/usePanelLatestData.ts
  public/app/features/dashboard/components/RowOptions/RowOptionsModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardErrorProxy.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
  public/app/features/dashboard/components/ShareModal/ShareEmbed.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/dashboard/components/VersionHistory/DiffViewer.tsx
  public/app/features/dashboard/components/VersionHistory/VersionHistoryButtons.tsx
  public/app/features/dashboard/components/VersionHistory/VersionHistoryTable.tsx
  public/app/features/dashboard/components/VizTypePicker/PanelTypeCard.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
  public/app/features/dashboard/dashgrid/DashboardPanel.tsx
  public/app/features/dashboard/dashgrid/PanelPluginError.tsx
  public/app/features/dashboard/services/ChangeTracker.ts
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/dashboard/utils/panel.test.ts
  public/app/features/dashboard/utils/panel.ts
Labels: area/frontend

#32523 Variables UI text edits
  public/app/features/templating/formatRegistry.ts
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/adhoc/actions.ts
  public/app/features/variables/adhoc/adapter.ts
  public/app/features/variables/constant/ConstantVariableEditor.tsx
  public/app/features/variables/constant/adapter.ts
  public/app/features/variables/custom/CustomVariableEditor.tsx
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/datasource/adapter.ts
  public/app/features/variables/editor/SelectionOptionsEditor.tsx
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/inspect/NetworkGraphModal.tsx
  public/app/features/variables/interval/IntervalVariableEditor.tsx
  public/app/features/variables/query/QueryVariableRefreshSelect.tsx
  public/app/features/variables/query/VariableQueryRunner.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/query/operators.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/textbox/TextBoxVariableEditor.tsx
Labels: area/dashboard/templating, area/frontend

#32595 [Alerting]: Delete obsolete database table and code
  pkg/services/ngalert/models/silence.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/store/database.go
  pkg/services/ngalert/store/silence.go
Labels: area/backend

#32575 Arrow: move arrow support from frontend to backend only
  packages/grafana-data/package.json
  packages/grafana-data/rollup.config.ts
  packages/grafana-data/src/dataframe/ArrowDataFrame.test.ts
  packages/grafana-data/src/dataframe/ArrowDataFrame.ts
  packages/grafana-data/src/dataframe/__snapshots__/ArrowDataFrame.test.ts.snap
  packages/grafana-data/src/dataframe/index.ts
  packages/grafana-runtime/src/utils/queryResponse.test.ts
  packages/grafana-runtime/src/utils/queryResponse.ts
  pkg/services/ngalert/api/api.go
  pkg/tsdb/testdatasource/scenarios.go
  public/app/features/alerting/state/actions.ts
  public/app/plugins/datasource/cloudwatch/specs/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/postgres/specs/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/testdata/datasource.ts
  scripts/webpack/webpack.common.js
  yarn.lock
Labels: area/backend, area/frontend, datasource/CloudWatch, datasource/Postgres, datasource/Tempo

#32593 FrontendMetrics: Adds new backend api that frontend can use to push frontend measurements and counters to prometheus
  devenv/docker/blocks/prometheus2/docker-compose.yaml
  devenv/docker/blocks/prometheus2/prometheus.yml
  pkg/api/api.go
  pkg/api/frontend_metrics.go
  pkg/infra/metrics/frontendmetrics.go
  pkg/infra/metrics/service.go
  public/app/app.ts
  public/app/core/services/echo/EchoSrv.ts
  public/app/core/services/echo/backends/PerformanceBackend.ts
  public/views/index-template.html
Labels: area/backend, area/frontend

#32608 SSE: Support time series frames with non-Nullable float64 values
  pkg/expr/classic/classic.go
  pkg/expr/classic/reduce.go
  pkg/expr/mathexp/reduce.go
  pkg/expr/mathexp/reduce_test.go
  pkg/expr/mathexp/resample.go
  pkg/expr/mathexp/resample_test.go
  pkg/expr/mathexp/types.go
Labels: area/alerting-ng, area/backend, area/expressions

#32612 Added note to clarify PostgreSQL version 10 and above.
  docs/sources/datasources/postgres.md
Labels: type/docs

#32616 Chore: update centrifuge import (avoid protobuf)
  go.mod
  go.sum
  package.json
  public/app/features/live/channel.ts
  public/app/features/live/live.ts
  yarn.lock
Labels: area/backend, area/frontend

#32613 GettingStarted: Fixes backgrounds in welcome and getting started
  public/app/plugins/panel/gettingstarted/GettingStarted.tsx
  public/app/plugins/panel/welcome/Welcome.tsx
  public/img/getting_started_bg_dark.svg
  public/img/getting_started_bg_light.svg
Labels: area/frontend

#32622 Live: remove measurement controller
  packages/grafana-data/src/types/live.test.ts
  packages/grafana-data/src/types/live.ts
  packages/grafana-runtime/src/measurement/collector.test.ts
  packages/grafana-runtime/src/measurement/collector.ts
  packages/grafana-runtime/src/measurement/index.ts
  packages/grafana-runtime/src/measurement/query.ts
  packages/grafana-runtime/src/measurement/types.ts
  pkg/tsdb/testdatasource/stream_handler.go
  public/app/features/live/channel.ts
  public/app/features/live/features.ts
  public/app/features/live/measurements/measurementsSupport.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/grafana/types.ts
  public/app/plugins/datasource/testdata/datasource.ts
  public/app/plugins/panel/live/LivePanel.tsx
Labels: area/backend, area/frontend

#32619 MySQL/Postgres/CloudMonitoring: Fixes issues related to babel upgrade
  public/app/plugins/datasource/cloud-monitoring/config_ctrl.ts
  public/app/plugins/datasource/mssql/config_ctrl.ts
  public/app/plugins/datasource/postgres/config_ctrl.ts
Labels: area/frontend, datasource/GoogleCloudMonitoring, datasource/MSSQL, datasource/Postgres

#32601 DataSourceList: expands the clickable area of the DataSource card to be the entire container.
  packages/grafana-ui/src/components/Card/Card.tsx
Labels: area/frontend

#32618 ReactSelect: Upgrades react-select from v3 to v4 and switches from fork to main npm package
  package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Forms/Legacy/Select/IndicatorsContainer.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/NoOptionsMessage.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/SelectOption.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/__snapshots__/SelectOption.test.tsx.snap
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/SelectOptionGroup.tsx
  packages/grafana-ui/src/components/Select/SingleValue.tsx
  packages/grafana-ui/src/components/TimePicker/TimeZonePicker/TimeZoneOffset.tsx
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/core/components/TagFilter/TagOption.tsx
  yarn.lock
Labels: area/frontend

#32279 Elasticsearch: Disable Alias field for non-timeseries queries
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
Labels: area/frontend, datasource/Elasticsearch

#32446 TablePanel: Add solid background cell display mode
  docs/sources/panels/visualizations/table/table-field-options.md
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/types.ts
  public/app/plugins/panel/table/module.tsx
Labels: area/frontend, area/panel/table, type/docs

#32615 SSE/Alerting: Fix classic condition logic and some more tests
  pkg/expr/classic/classic.go
  pkg/expr/classic/classic_test.go
Labels: area/alerting-ng, area/backend, area/expressions

#32596 Live: Streaming Plugins, stage #2
  go.mod
  go.sum
  pkg/models/live.go
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/grpcplugin/client_v1.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/manager/manager_test.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/dashboard.go
  pkg/services/live/features/measurements.go
  pkg/services/live/features/mock.go
  pkg/services/live/features/plugin.go
  pkg/services/live/features/stream.go
  pkg/services/live/features/stream_test.go
  pkg/services/live/live.go
  pkg/services/live/plugin_helpers.go
  pkg/services/live/schema/cache.go
  pkg/services/live/schema/cache_test.go
  pkg/tsdb/cloudwatch/live.go
  pkg/tsdb/testdatasource/stream_handler.go
Labels: area/backend

#32646 SSE/docs: Add note on not working with dash vars
  docs/sources/panels/expressions.md
Labels: area/expressions, type/docs

#32576 Alerting: Persist alerts on evaluation and shutdown. Warm cache from DB on startup
  pkg/services/ngalert/models/instance.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/compat.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/state/state_tracker.go
  pkg/services/ngalert/state/state_tracker_test.go
  pkg/services/ngalert/store/database.go
  pkg/services/ngalert/store/database_mig.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/tests/schedule_test.go
Labels: area/backend, area/backend/db/migration

#32645 [Alerting] Remove more dead code
  pkg/services/ngalert/store/database_mig.go
Labels: area/backend, area/backend/db/migration

#32650 Alerting: Fix persistence migration
  pkg/services/ngalert/store/database_mig.go
Labels: area/alerting-ng, area/backend, area/backend/db/migration, area/backend/db/sql

#32561 Live: update Streaming plugin definitions, put frame schema in subscribe result data
  go.mod
  go.sum
  packages/grafana-data/src/dataframe/StreamingDataFrame.ts
  pkg/models/live.go
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/grpcplugin/client_v1.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/manager/manager_test.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/dashboard.go
  pkg/services/live/features/measurements.go
  pkg/services/live/features/mock.go
  pkg/services/live/features/plugin.go
  pkg/services/live/features/stream.go
  pkg/services/live/features/stream_test.go
  pkg/services/live/live.go
  pkg/services/live/plugin_helpers.go
  pkg/tsdb/cloudwatch/live.go
  pkg/tsdb/testdatasource/stream_handler.go
  public/app/features/live/channel.ts
Labels: area/backend, area/frontend, datasource/CloudWatch

#32620 Configure the Jaeger data source with provisioning
  docs/sources/datasources/jaeger.md
Labels: pr/external, type/docs

#32652 ngalerting: represent nil/empty labels the same
  go.sum
  pkg/services/ngalert/models/instance_labels.go
  pkg/services/ngalert/tests/instance_database_test.go
Labels: area/alerting-ng, area/backend

#32656 Reducers: minor reducer cleanup
  packages/grafana-data/src/transformations/fieldReducer.ts
Labels: area/frontend

#32627 Live: throttle messages when FPS decreases
  packages/grafana-data/src/dataframe/StreamingDataFrame.ts
  packages/grafana-runtime/src/measurement/perf.ts
  packages/grafana-runtime/src/measurement/query.ts
  public/app/plugins/datasource/testdata/runStreams.ts
Labels: area/frontend

#32589 [Alerting]: Update scheduler to evaluate rules created by the unified API
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/test-data/post-rulegroup-101.json
  pkg/services/ngalert/api/test-data/post-rulegroup-42.json
  pkg/services/ngalert/models/instance.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/tests/database_test.go
  pkg/services/ngalert/tests/schedule_test.go
  pkg/services/ngalert/tests/util.go
Labels: area/backend

#32668 Panel Editor: avoid updates when schema is the same
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPane.tsx
  public/app/features/dashboard/components/PanelEditor/usePanelLatestData.ts
Labels: area/frontend

#32686 CloudWarch: Fix service quotas link
  public/app/plugins/datasource/cloudwatch/components/ThrottlingErrorMessage.tsx
Labels: area/frontend, backport v7.5.x, datasource/CloudWatch

#32651 [Alerting]: Return 404 error status when there is no alertmanager configuration
  pkg/services/ngalert/api/api_alertmanager.go
Labels: area/backend

#32690 Update documentation-style-guide.md
  contribute/style-guides/documentation-style-guide.md
Labels: type/docs

#32311 Live: expose HTTP push endpoint that will read influx line protocol and publish to websocket
  go.mod
  go.sum
  packages/grafana-data/src/dataframe/DataFrameJSON.ts
  packages/grafana-data/src/types/live.ts
  packages/grafana-runtime/src/measurement/query.ts
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/InfoBox/InfoBox.tsx
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/services/live/channel.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/measurements.go
  pkg/services/live/live.go
  pkg/services/live/log.go
  pkg/services/live/managed.go
  pkg/services/live/managed_test.go
  pkg/services/live/plugin_helpers.go
  pkg/services/live/push/push.go
  pkg/services/live/scope.go
  public/app/features/live/channel.ts
  public/app/features/live/live.ts
  public/app/features/live/scopes.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/grafana/types.ts
Labels: area/backend, area/frontend, type/docs

#32693 Docs: add Grafana basics section
  docs/sources/_index.md
  docs/sources/alerting/notifications.md
  docs/sources/basics/_index.md
  docs/sources/basics/glossary.md
  docs/sources/basics/intro-histograms.md
  docs/sources/basics/timeseries-dimensions.md
  docs/sources/basics/timeseries.md
  docs/sources/best-practices/_index.md
  docs/sources/developers/plugins/data-frames.md
  docs/sources/getting-started/_index.md
  docs/sources/panels/_index.md
  docs/sources/panels/expressions.md
  docs/sources/panels/visualizations/graph-panel.md
  docs/sources/panels/visualizations/heatmap.md
  docs/sources/shared/basics/grafana-cloud.md
  docs/sources/shared/basics/grafana-enterprise.md
  docs/sources/shared/basics/what-is-grafana.md
  docs/sources/whatsnew/whats-new-in-v7-4.md
Labels: type/docs

#32654 Alerting: Return cached alerts for prometheus/api/v1/alerts
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_prometheus_mock.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/state_tracker.go
  pkg/services/ngalert/state/state_tracker_test.go
Labels: area/backend

#32700 Data: frame compare refactor, drop unused skipProperties
  packages/grafana-data/src/dataframe/frameComparisons.test.ts
  packages/grafana-data/src/dataframe/frameComparisons.ts
Labels: area/frontend

#32632 NgAlerting: bootstrap routes page & alertmanager datasource
  .github/CODEOWNERS
  pkg/api/index.go
  pkg/services/ngalert/api/util.go
  public/app/core/hooks/useQueryParams.ts
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/features/alerting/unified/components/AlertManagerPicker.tsx
  public/app/features/alerting/unified/components/AlertingPageWrapper.tsx
  public/app/features/alerting/unified/hooks/useAlertManagerSourceName.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/datasource/alertmanager/ConfigEditor.tsx
  public/app/plugins/datasource/alertmanager/DataSource.ts
  public/app/plugins/datasource/alertmanager/img/logo.svg
  public/app/plugins/datasource/alertmanager/module.ts
  public/app/plugins/datasource/alertmanager/plugin.json
  public/app/plugins/datasource/alertmanager/types.ts
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend

#32701 Search: update item padding
  public/app/features/search/components/SearchItem.tsx
Labels: area/frontend, area/search

#32586 Variables: Confirms selection before opening new picker
  e2e/suite1/specs/variables/load-options-from-url.ts
  public/app/features/variables/pickers/OptionsPicker/OptionPicker.test.tsx
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
Labels: add to changelog, area/dashboard/templating, area/frontend, backport v7.5.x, type/bug

#32629 Babel: @babel/plugin-transform-react-constant-elements to babel config to optimize react performance
  scripts/webpack/babel.config.js
Labels: area/frontend

#32698 [Alerting]: Fix proxied alertmanager API requests
  go.mod
  go.sum
  pkg/services/ngalert/api/lotex_am.go
  pkg/services/ngalert/api/test-data/am-alertmanager-recipient.http
  pkg/services/ngalert/api/util.go
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/backend, area/frontend

#32273 AzureMonitor: Add support for deep links to Azure Portal for Metrics
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/NamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceGroupsField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/ResourceNameField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/SubscriptionField.tsx
Labels: add to changelog, area/frontend, datasource/Azure, pr/external

#32591 AlertingNG: delete rules
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/api/prometheus.ts
  public/app/features/alerting/unified/api/ruler.ts
  public/app/features/alerting/unified/components/RuleQuery.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/rules/SystemOrApplicationRules.tsx
  public/app/features/alerting/unified/components/rules/ThresholdRules.tsx
  public/app/features/alerting/unified/hooks/useCombinedRuleNamespaces.ts
  public/app/features/alerting/unified/hooks/useHasRuler.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/features/alerting/unified/utils/constants.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/redux.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/app/types/unified-alerting-dto.ts
  public/app/types/unified-alerting.ts
Labels: area/frontend

#32445 Datasource config: correctly remove single custom http header
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.tsx
Labels: add to changelog, area/datasource, area/frontend

#32702 Card: add missing padding
  packages/grafana-ui/src/components/Card/Card.story.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
Labels: area/frontend, area/grafana/ui

#32706 Alerting: make am plugin "alpha"
  public/app/plugins/datasource/alertmanager/plugin.json
Labels: area/frontend

#32372 AzureMonitor: fix migration error from older versions of App Insights queries
  pkg/tsdb/azuremonitor/applicationinsights-datasource.go
  pkg/tsdb/azuremonitor/applicationinsights-datasource_test.go
Labels: add to changelog, area/backend, datasource/Azure

#32710 [v7.5.x] Variables: Confirms selection before opening new picker (#32586)
  e2e/suite1/specs/variables/load-options-from-url.ts
  public/app/features/variables/pickers/OptionsPicker/OptionPicker.test.tsx
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/pickers/shared/VariableLink.tsx
Labels: backport

#32713 [grafana/UI] Normalize color string before using them as IDs
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
Labels: area/frontend, area/grafana/ui, area/panel/piechart

#32705 Elasticsearch: Fix bucket script variable duplication in UI
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/utils.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/utils.ts
Labels: add to changelog, area/frontend, backport v7.5.x, datasource/Elasticsearch

#32638 chore: Bump storybook to 6.2
  package.json
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/.storybook/manager-head.html
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/.storybook/static/fav32.png
  packages/grafana-ui/.storybook/static/grafana_icon.svg
  packages/grafana-ui/.storybook/storybookTheme.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/BarGauge/BarGauge.story.tsx
  packages/grafana-ui/src/components/BigValue/BigValue.story.tsx
  packages/grafana-ui/src/components/Button/Button.mdx
  packages/grafana-ui/src/components/ButtonCascader/ButtonCascader.story.tsx
  packages/grafana-ui/src/components/CallToActionCard/CallToActionCard.story.internal.tsx
  packages/grafana-ui/src/components/Cascader/Cascader.story.tsx
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.story.internal.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.story.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsPalette.story.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.story.tsx
  packages/grafana-ui/src/components/Dropdown/ButtonSelect.story.internal.tsx
  packages/grafana-ui/src/components/FormField/FormField.story.internal.tsx
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Input/Input.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.mdx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.story.internal.tsx
  packages/grafana-ui/src/components/Forms/Legend.story.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.story.tsx
  packages/grafana-ui/src/components/Graph/Graph.story.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.story.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.story.tsx
  packages/grafana-ui/src/utils/storybook/ThemedDocsContainer.tsx
  packages/grafana-ui/src/utils/storybook/noopControl.tsx
  yarn.lock
Labels: area/frontend, area/grafana/ui, area/storybook, dependencies

#32664 Plugins: Support es5 plugins extending es6 core classes
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-data/src/utils/makeClassES5Compatible.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  public/app/features/annotations/event_editor.ts
  public/app/features/annotations/event_manager.ts
  public/app/features/dashboard/components/PanelEditor/AngularPanelOptions.tsx
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/sdk.ts
  scripts/webpack/webpack.dev.js
Labels: area/frontend, priority/critical

#32714 Elasticsearch: Fix bucket script variable duplication in UI (#32705)
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/reducer.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/state/reducer.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/utils.test.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/SettingsEditor/BucketScriptSettingsEditor/utils.ts
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/utils.ts
Labels: backport

#32715 Emotion: Remove emotion import
  packages/grafana-ui/src/index.ts
Labels: area/frontend

#32716 [Alerting]: Add /api prefix to all routes
  pkg/models/context.go
  pkg/services/ngalert/api/api_alertmanager_base.go
  pkg/services/ngalert/api/api_prometheus_base.go
  pkg/services/ngalert/api/api_ruler_base.go
  pkg/services/ngalert/api/test-data/am-alertmanager-recipient-unauthorized.http
  pkg/services/ngalert/api/test-data/am-grafana-recipient-unauthorized.http
  pkg/services/ngalert/api/test-data/am-grafana-recipient.http
  pkg/services/ngalert/api/test-data/am-unsupported-backends.http
  pkg/services/ngalert/api/test-data/ruler-cortex-recipient.http
  pkg/services/ngalert/api/test-data/ruler-grafana-recipient-unauthorized.http
  pkg/services/ngalert/api/test-data/ruler-grafana-recipient.http
  pkg/services/ngalert/api/test-data/ruler-loki-recipient.http
  pkg/services/ngalert/api/test-data/ruler-lotex-recipient-unauthorized.http
Labels: area/backend

#32640 Access Control: move features to Enterprise
  pkg/api/http_server.go
  pkg/extensions/main.go
  pkg/server/server.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/database/common_test.go
  pkg/services/accesscontrol/database/database.go
  pkg/services/accesscontrol/database/database_bench_test.go
  pkg/services/accesscontrol/database/database_mig.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/evaluator/evaluator.go
  pkg/services/accesscontrol/manager/manager.go
  pkg/services/accesscontrol/manager/manager_test.go
  pkg/services/accesscontrol/middleware/middleware.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/ossaccesscontrol/builtin_roles.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
  pkg/services/accesscontrol/seeder/seeder.go
  pkg/services/accesscontrol/seeder/seeder_test.go
  pkg/services/accesscontrol/testing/common.go
  pkg/services/accesscontrol/testing/common_bench.go
Labels: area/backend, area/backend/db/migration

#32617 add redis integration test for enterprise
  .drone.yml
  scripts/lib.star
  scripts/master.star
  scripts/pr.star
  scripts/release.star
Labels: type/build-packaging

#32688 [Alerting]: Require login for alerting API routes
  pkg/services/ngalert/api/api_alertmanager_base.go
  pkg/services/ngalert/api/api_prometheus_base.go
  pkg/services/ngalert/api/api_ruler_base.go
  pkg/services/ngalert/api/api_testing_base.go
  pkg/services/ngalert/api/swagger-codegen/templates/controller-api.mustache
  pkg/services/ngalert/api/test-data/am-alertmanager-recipient-unauthorized.http
  pkg/services/ngalert/api/test-data/am-grafana-recipient-unauthorized.http
  pkg/services/ngalert/api/test-data/am-grafana-recipient.http
  pkg/services/ngalert/api/test-data/am-unsupported-backends.http
  pkg/services/ngalert/api/test-data/ruler-cortex-recipient.http
  pkg/services/ngalert/api/test-data/ruler-grafana-recipient-unauthorized.http
  pkg/services/ngalert/api/test-data/ruler-grafana-recipient.http
  pkg/services/ngalert/api/test-data/ruler-loki-recipient.http
  pkg/services/ngalert/api/test-data/ruler-lotex-recipient-unauthorized.http
Labels: area/backend

#32508 Prometheus: Fix instant query to run two times when exemplars enabled
  public/app/plugins/datasource/prometheus/components/PromExemplarField.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: area/frontend, backport v7.5.x, datasource/Prometheus, datasource/Tempo, type/bug

#32631 Docs: Rephrase Alert execution section in Alerting
  docs/sources/alerting/_index.md
Labels: type/docs

#32736 Timeline: Renames component to avoid casing conflicts
  packages/grafana-ui/src/components/Timeline/TimelineChart.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/plugins/panel/timeline/TimelinePanel.tsx
Labels: area/frontend, type/chore

#32721 SingleStat: Fixes issue with panel links
  public/app/plugins/panel/singlestat/module.ts
Labels: add to changelog, area/frontend, backport v7.5.x, pr/external

#32726 [v7.5.x] Prometheus: Fix instant query to run two times when exemplars enabled
  public/app/plugins/datasource/prometheus/components/PromExemplarField.tsx
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/components/__snapshots__/PromQueryEditor.test.tsx.snap
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: backport

#32738 AngularPanels: Fixes issue with angular panels caused by resent babel upgrade
  public/app/features/panel/metrics_panel_ctrl.ts
  public/app/plugins/panel/singlestat/module.ts
Labels: area/frontend

#32611 Chore: Refactor Server Run and Shutdown
  pkg/cmd/grafana-server/main.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend

#32603 FolderPicker: Prevent dropdown menu from disappearing off screen
  public/app/core/components/Select/FolderPicker.tsx
  public/app/core/components/Select/__snapshots__/FolderPicker.test.tsx.snap
Labels: add to changelog, area/dashboard/folders, area/frontend, area/panel/alertlist, area/panel/dashboard-list, backport v7.5.x, type/bug

#32416 AzureMonitor: Refactor datasource.query to fix --strict error
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: area/frontend, datasource/Azure, type/chore

#32691 Update email template for AlertingNG
  emails/templates/ng_alert_notification.html
  pkg/services/ngalert/notifier/channels/email.go
  public/emails/ng_alert_notification.html
Labels: area/backend, area/frontend

#32719 LibraryPanels: Add search input back to add panel widget
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/dashboard/components/AddPanelWidget/__snapshots__/AddPanelWidget.test.tsx.snap
Labels: area/frontend, area/frontend/library-panels

#32489 Prometheus: Show only graph for range queries in Explore
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: datasource/Prometheus, type/tech

#32694 AlertingNG: Temp endpoint to translate dashboard alert into rule group
  go.sum
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_trans_dev.go
Labels: area/alerting-ng, area/backend

#32729 add memcached integration test steps in starlark
  .drone.yml
  scripts/lib.star
  scripts/master.star
  scripts/pr.star
  scripts/release.star
Labels: type/build-packaging

#32435 TablePanel: Makes sorting case-insensitive
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.ts
Labels: add to changelog, area/frontend, area/panel/table, backport v7.5.x

#32571 Table: Fixes table data links so they refer to correct row after sorting
  packages/grafana-ui/src/components/Table/Table.test.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
Labels: add to changelog, area/frontend, backport v7.5.x, priority/important-soon, type/bug

#32754 SSE: fix casing on classic conditions model.
  pkg/expr/classic/classic.go
  pkg/expr/translate/translate.go
Labels: area/backend, area/expressions

#32753 Chore: move access control errors to enterprise
  pkg/services/accesscontrol/models.go
Labels: area/backend

#31871 Add timeout option to datasource config
  docs/sources/administration/provisioning.md
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  pkg/models/datasource_cache.go
  pkg/models/datasource_cache_test.go
Labels: area/datasource, area/datasource/backend, area/datasource/proxy, pr/external

#32557 Explore: correctly cleanup state on unmount
  public/app/features/explore/state/main.ts
Labels: area/explore, area/frontend, type/chore

#32712 Input: updates story from knobs to control
  packages/grafana-ui/src/components/Input/Input.story.tsx
  public/app/plugins/datasource/alertmanager/plugin.json
Labels: area/frontend, area/storybook

#32342 Themes: V8 Theme model
  packages/grafana-data/package.json
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/themes/breakpoints.ts
  packages/grafana-data/src/themes/colorManipulator.test.ts
  packages/grafana-data/src/themes/colorManipulator.ts
  packages/grafana-data/src/themes/colors.ts
  packages/grafana-data/src/themes/createComponents.ts
  packages/grafana-data/src/themes/createPalette.test.ts
  packages/grafana-data/src/themes/createPalette.ts
  packages/grafana-data/src/themes/createShadows.ts
  packages/grafana-data/src/themes/createShape.ts
  packages/grafana-data/src/themes/createSpacing.test.ts
  packages/grafana-data/src/themes/createSpacing.ts
  packages/grafana-data/src/themes/createTheme.test.ts
  packages/grafana-data/src/themes/createTheme.ts
  packages/grafana-data/src/themes/createTypography.ts
  packages/grafana-data/src/themes/index.ts
  packages/grafana-data/src/themes/types.ts
  packages/grafana-data/src/themes/zIndex.ts
  packages/grafana-data/src/types/theme.ts
  packages/grafana-ui/.storybook/storybookTheme.ts
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  packages/grafana-ui/src/components/Input/Input.tsx
  packages/grafana-ui/src/components/ThemeDemos/Colors.story.tsx
  packages/grafana-ui/src/components/ThemeDemos/Colors.tsx
  packages/grafana-ui/src/components/ThemeDemos/NewThemeDemo.story.tsx
  packages/grafana-ui/src/components/ThemeDemos/NewThemeDemo.tsx
  packages/grafana-ui/src/components/ThemeDemos/ThemeColors.story.tsx
  packages/grafana-ui/src/components/ThemeDemos/ThemeColors.tsx
  packages/grafana-ui/src/components/uPlot/plugins/ClickPlugin.tsx
  packages/grafana-ui/src/themes/ThemeContext.tsx
  packages/grafana-ui/src/themes/dark.ts
  packages/grafana-ui/src/themes/light.ts
  packages/grafana-ui/src/themes/selectThemeVariant.ts
  packages/grafana-ui/src/themes/stylesFactory.ts
  scripts/ci-reference-docs-lint.sh
Labels: area/frontend, type/build-packaging

#32774 Toolkit: catch errors in version output
  packages/grafana-toolkit/src/cli/tasks/plugin.build.ts
Labels: area/frontend, area/grafana/toolkit

#32770 Alerting: temporarily add old ng routes
  public/app/features/alerting/AlertRuleList.tsx
  public/app/features/alerting/NextGenAlertingPage.tsx
  public/app/features/alerting/components/AlertDefinitionItem.tsx
  public/app/features/alerting/state/actions.ts
  public/app/routes/routes.tsx
Labels: area/frontend

#32767 Buttons: Refactor & use new theme
  .eslintrc
  packages/grafana-data/src/themes/createPalette.ts
  packages/grafana-data/src/themes/createSpacing.ts
  packages/grafana-data/src/themes/createTheme.test.ts
  packages/grafana-ui/.storybook/storybookTheme.ts
  packages/grafana-ui/src/components/Button/Button.story.tsx
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/Button/ToolbarButton.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/FileUpload/FileUpload.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  packages/grafana-ui/src/components/Forms/getFormStyles.ts
  packages/grafana-ui/src/components/ThemeDemos/EmotionPerfTest.tsx
  packages/grafana-ui/src/components/ThemeDemos/NewThemeDemo.story.tsx
  packages/grafana-ui/src/components/ThemeDemos/NewThemeDemo.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/themes/mixins.ts
  public/app/features/sandbox/BenchmarksPage.tsx
  public/app/routes/routes.tsx
Labels: area/frontend

#32614 Alerting: Allow querying of Alerts from notifications
  go.mod
  go.sum
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/test-data/am-alertmanager-recipient.http
  pkg/services/ngalert/api/util.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alerts.go
  pkg/services/ngalert/notifier/silences.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend

#32759 DataSourceSettings: use details from HealthCheckResult
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  public/app/features/datasources/settings/DataSourceSettingsPage.test.tsx
  public/app/features/datasources/settings/DataSourceSettingsPage.tsx
  public/app/features/datasources/settings/__snapshots__/DataSourceSettingsPage.test.tsx.snap
  public/app/features/datasources/state/actions.ts
  public/app/features/datasources/state/reducers.ts
  public/app/types/datasources.ts
Labels: area/frontend

#32763 Grafana-UI: allow pass through of monaco options
  packages/grafana-ui/src/components/Monaco/CodeEditor.tsx
  packages/grafana-ui/src/components/Monaco/types.ts
Labels: area/frontend, area/frontend/code-editor, area/grafana/ui

#32788 Server: Disambiguate redirects to server relative paths
  pkg/api/static/static.go
Labels: area/backend

#32761 Layout: updates story from knobs to control
  packages/grafana-ui/src/components/Layout/Layout.story.tsx
Labels: area/frontend, area/storybook

#32760 Docs: Update release-notes-7-5-3.md
  docs/sources/release-notes/release-notes-7-5-3.md
Labels: type/docs

#32634 DataLinks: Ensure window origin to be stripped from url when using absolute urls
  packages/grafana-data/src/utils/location.test.ts
  packages/grafana-data/src/utils/location.ts
  public/app/core/navigation/patch/interceptLinkClicks.ts
Labels: area/dashboard/data-links, area/frontend, area/routing

#32802 Prometheus: Allow exemplars endpoint in data source proxy
  pkg/api/pluginproxy/ds_proxy.go
Labels: add to changelog, area/backend, backport v7.5.x, datasource/Prometheus, type/bug

#32703 Docs: Document plugin authentication in metadata schema
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
  metadata.md
Labels: area/plugins, type/docs

#32781 AlertingNG: Add registry for notification channels
  pkg/services/ngalert/notifier/alertmanager.go
Labels: area/backend

#32604 AlertingNG: PagerDuty notification channel
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/channels/email.go
  pkg/services/ngalert/notifier/channels/email_test.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pagerduty_test.go
  pkg/services/ngalert/notifier/channels/templates/default.tmpl
Labels: area/backend

#32808 Live: push scope to demultiplex incoming data to stream channels
  pkg/models/live.go
  pkg/services/live/channel.go
  pkg/services/live/demultiplexer.go
  pkg/services/live/live.go
  pkg/services/live/managed.go
  pkg/services/live/scope.go
Labels: area/backend

#32817 Fix style guide: web server
  contribute/style-guides/documentation-style-guide.md
Labels: pr/external, type/docs

#32825 Bugfix: fix url query parser treating empty string as a number
  packages/grafana-data/src/utils/url.test.ts
  packages/grafana-data/src/utils/url.ts
Labels: area/frontend, type/bug

#32830 API: Fix paths starting with double leading slash or slash and backslash
  pkg/api/static/static.go
Labels: area/backend, area/backend/security

#32803 Alerting: Cleanup and move legacy to a legacy file
  go.sum
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager_base.go
  pkg/services/ngalert/api/api_ruler_base.go
  pkg/services/ngalert/api/fork_ruler.go
  pkg/services/ngalert/api/forked_am.go
  pkg/services/ngalert/api/forked_prom.go
  pkg/services/ngalert/api/generated_base_api_alertmanager.go
  pkg/services/ngalert/api/generated_base_api_prometheus.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/generated_base_api_testing.go
  pkg/services/ngalert/api/instance_api.go
  pkg/services/ngalert/api/legacy_api_routes.go
  pkg/services/ngalert/api/legacy_trans_dev.go
  pkg/services/ngalert/api/lotex_ruler.go
  pkg/services/ngalert/api/middleware.go
  pkg/services/ngalert/api/swagger-codegen/Makefile
  pkg/services/ngalert/api/swagger-codegen/move-and-rename.py
  pkg/services/ngalert/api/swagger-codegen/templates/controller-api.mustache
  pkg/services/ngalert/api/swagger-codegen/templates/partial_header.mustache
Labels: area/backend

#32810 Alerting: bootstrap silences page
  pkg/api/index.go
  public/app/core/components/Page/Page.tsx
  public/app/core/components/PageHeader/PageHeader.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/state/reducers.ts
  public/app/plugins/datasource/alertmanager/types.ts
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend

#32286 Generic OAuth: Prevent adding duplicated users
  pkg/services/sqlstore/user_auth.go
  pkg/services/sqlstore/user_auth_test.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend, area/backend/auth/oauth, type/bug

#32256 SSE: Add Classic conditions editor
  packages/grafana-ui/src/components/Dropdown/ButtonSelect.tsx
  public/app/features/alerting/state/alertDef.ts
  public/app/features/expressions/ExpressionDatasource.ts
  public/app/features/expressions/ExpressionQueryEditor.tsx
  public/app/features/expressions/components/ClassicConditions.tsx
  public/app/features/expressions/components/Condition.tsx
  public/app/features/expressions/components/Math.tsx
  public/app/features/expressions/components/Reduce.tsx
  public/app/features/expressions/components/Resample.tsx
  public/app/features/expressions/types.ts
  public/app/features/expressions/utils/expressionTypes.ts
Labels: area/expressions, area/frontend

#32813 Removed references to dev env. Added reference to Uche's blog about u…
  docs/sources/getting-started/getting-started-sql.md
Labels: type/docs

#32844 Alerting: Add ability to include aliases with dashes (/) and at (@) signs in InfluxDB
  pkg/tsdb/influxdb/response_parser.go
  pkg/tsdb/influxdb/response_parser_test.go
Labels: area/backend, datasource/InfluxDB, type/bug, type/chore

#32848 Fix deserialisation issue of AlertRule For field
  go.mod
  go.sum
  pkg/services/ngalert/api/legacy_trans_dev.go
  pkg/services/ngalert/api/test-data/post-rulegroup-42.json
  pkg/services/ngalert/models/alert_rule.go
Labels: area/backend

#31935 Update time-range-controls.md
  docs/sources/dashboards/time-range-controls.md
Labels: pr/external

#32639 Graphite: Display an error message when finding metrics fails
  public/app/plugins/datasource/graphite/query_ctrl.ts
  public/app/plugins/datasource/graphite/specs/query_ctrl.test.ts
Labels: area/frontend, datasource/Graphite

#32793 AlertingNG: Add For+Annotations to Grafana_Alert
  go.mod
  go.sum
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/legacy_trans_dev.go
  pkg/services/ngalert/api/test-data/post-rulegroup-42.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/database_mig.go
Labels: area/alerting-ng, area/backend, area/backend/db/migration

#32730 Adding a sentence to the index to point people towards the "activate …
  docs/sources/installation/_index.md
Labels: type/docs

#32822 Icons: expand static cache to include all internally used icons
  packages/grafana-ui/src/components/Icon/iconBundle.ts
Labels: area/frontend

#32827 Live: cleanups and tests
  pkg/services/live/channel.go
  pkg/services/live/channel_test.go
  pkg/services/live/demultiplexer.go
  pkg/services/live/live.go
  pkg/services/live/managed.go
  pkg/services/live/scope.go
Labels: area/backend

#32855 testData: (backend) restore null/nan in predicatable scenarios
  pkg/tsdb/testdatasource/scenarios.go
Labels: area/backend, datasource/TestDataDB

#32821 Live: support streaming results out-of-the-box
  go.mod
  go.sum
  packages/grafana-data/src/types/data.ts
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/measurement/index.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.test.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  packages/grafana-runtime/src/utils/liveQuery.ts
  packages/grafana-runtime/src/utils/perf.ts
  pkg/services/live/channel.go
  pkg/services/live/channel_test.go
  pkg/services/live/features/plugin.go
  pkg/services/live/live.go
  pkg/services/live/managed.go
  pkg/services/live/scope.go
  public/app/features/live/channel.ts
  public/app/features/live/live.ts
  public/app/features/live/scopes.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/plugins/datasource/testdata/runStreams.ts
Labels: area/backend, area/frontend

#32635 Graphite: Handle unknown Graphite functions without breaking the visual editor
  public/app/plugins/datasource/graphite/FunctionEditor.test.tsx
  public/app/plugins/datasource/graphite/FunctionEditor.tsx
  public/app/plugins/datasource/graphite/FunctionEditorControls.tsx
  public/app/plugins/datasource/graphite/func_editor.ts
  public/app/plugins/datasource/graphite/gfunc.test.ts
  public/app/plugins/datasource/graphite/gfunc.ts
  public/sass/components/_query_part.scss
Labels: area/frontend, datasource/Graphite

#32859 GraphNG: uPlot 1.6.8
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend

#32876 LibraryPanels: Adds initial section and Page to Dashboard submenu
  pkg/api/index.go
  public/app/core/components/PageActionBar/PageActionBar.test.tsx
  public/app/core/components/PageActionBar/PageActionBar.tsx
  public/app/core/components/PageActionBar/__snapshots__/PageActionBar.test.tsx.snap
  public/app/core/constants.ts
  public/app/features/datasources/DataSourcesListPage.tsx
  public/app/features/datasources/__snapshots__/DataSourcesListPage.test.tsx.snap
  public/app/features/library-panels/LibraryPanelsPage.tsx
  public/app/features/library-panels/components/LibraryPanelsView/LibraryPanelsView.tsx
  public/app/features/playlist/PlaylistPage.tsx
  public/app/features/plugins/PluginListPage.tsx
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, area/frontend/library-panels

#31950 DashboardSettings: Migrates annotations list & edit view from angular to react and new forms styles
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/utils/arrayUtils.ts
  packages/grafana-data/src/utils/index.ts
  packages/grafana-runtime/src/components/DataSourcePicker.tsx
  packages/grafana-ui/src/components/CallToActionCard/CallToActionCard.tsx
  packages/grafana-ui/src/components/CallToActionCard/__snapshots__/CallToActionCard.test.tsx.snap
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
  packages/grafana-ui/src/components/OptionsUI/color.tsx
  packages/grafana-ui/src/components/index.ts
  public/app/features/annotations/annotations_srv.ts
  public/app/features/annotations/components/StandardAnnotationQueryEditor.tsx
  public/app/features/annotations/editor_ctrl.ts
  public/app/features/annotations/partials/editor.html
  public/app/features/dashboard/components/AnnotationSettings/AngularEditorLoader.tsx
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsList.tsx
  public/app/features/dashboard/components/AnnotationSettings/index.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/DashboardSettingsHeader.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/ListNewButton.tsx
  public/app/features/dashboard/components/LinksSettings/LinkSettingsEdit.tsx
  public/app/features/dashboard/components/LinksSettings/LinkSettingsHeader.tsx
  public/app/features/dashboard/components/LinksSettings/LinkSettingsList.tsx
  public/app/features/dashboard/components/LinksSettings/index.tsx
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
  public/app/features/dashboard/components/SubMenu/SubMenu.tsx
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/types/events.ts
  public/sass/components/_panel_editor.scss
Labels: area/frontend, datasource/Loki

#32854 [Alerting]: Fix YAML encoding/decoding issues when proxying lotex requests
  pkg/services/ngalert/api/lotex_am.go
  pkg/services/ngalert/api/lotex_ruler.go
Labels: area/backend

#32840 Modal: updates story from knobs to control
  packages/grafana-ui/src/components/Modal/Modal.story.tsx
Labels: area/frontend, area/storybook

#32832 List: updates story from knobs to controls
  packages/grafana-ui/src/components/List/List.story.internal.tsx
Labels: area/frontend, area/storybook

#31904 v8: remove singlestat panel
  devenv/dev-dashboards/panel-singlestat/singlestat_test.json
  public/app/core/constants.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/actions.ts
  public/app/features/dashboard/utils/panel.ts
  public/app/features/plugins/built_in_plugins.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/panel/singlestat/README.md
  public/app/plugins/panel/singlestat/editor.html
  public/app/plugins/panel/singlestat/img/icn-singlestat-panel.svg
  public/app/plugins/panel/singlestat/mappings.html
  public/app/plugins/panel/singlestat/module.html
  public/app/plugins/panel/singlestat/module.ts
  public/app/plugins/panel/singlestat/plugin.json
  public/app/plugins/panel/singlestat/specs/singlestat.test.ts
  public/app/plugins/panel/singlestat/specs/singlestat_panel.test.ts
Labels: area/frontend, area/panel/singlestat, area/panel/stat, type/tech

#32889 Grafana-UI: Fix Storybook Docs prop tables reporting "Args unsupported" in custom MDX
  packages/grafana-ui/package.json
  packages/grafana-ui/src/utils/storybook/ThemedDocsContainer.tsx
  yarn.lock
Labels: area/frontend, area/grafana/ui, area/storybook, type/bug

#32801 VizLegend: updates story from knobs to controls
  packages/grafana-ui/src/components/VizLegend/VizLegend.story.tsx
Labels: area/frontend, area/storybook

#32829 Makes pie chart component accept data frames
  packages/grafana-ui/src/components/PieChart/PieChart.story.tsx
  packages/grafana-ui/src/components/PieChart/PieChart.tsx
  packages/grafana-ui/src/components/PieChart/types.ts
  packages/grafana-ui/src/components/index.ts
  public/app/plugins/panel/piechart/PieChartPanel.tsx
Labels: area/frontend

#32477 Alerting: Add checks for non supported units - disable defaulting to seconds
  pkg/services/alerting/extractor.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/rule.go
  pkg/services/alerting/rule_test.go
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/alerting/partials/alert_tab.html
Labels: area/alerting, area/alerting/evaluation, area/backend, area/frontend, type/bug

#32748 PanelChrome: adding support to display error messages.
  packages/grafana-ui/src/components/PanelChrome/ErrorIndicator.tsx
  packages/grafana-ui/src/components/PanelChrome/LoadingIndicator.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.story.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/index.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/types/icon.ts
Labels: area/frontend, area/grafana/ui, area/panel/common

#32764 Inspector: Download logs for manual processing
  public/app/features/inspector/InspectDataOptions.tsx
  public/app/features/inspector/InspectDataTab.test.tsx
  public/app/features/inspector/InspectDataTab.tsx
Labels: add to changelog, area/explore, area/frontend, area/panel/logs, panel/inspect, type/feature-request

#32905 Theme: V8 theme updates to text colors and buttons
  packages/grafana-data/src/themes/colors.ts
  packages/grafana-data/src/themes/createPalette.ts
  packages/grafana-ui/src/components/Button/Button.tsx
  packages/grafana-ui/src/components/Button/ToolbarButton.tsx
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  packages/grafana-ui/src/components/TimePicker/TimeRangePicker/TimePickerFooter.tsx
  packages/grafana-ui/src/themes/dark.ts
  packages/grafana-ui/src/themes/light.ts
  public/app/features/dashboard/components/PanelEditor/OptionsPaneCategory.tsx
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
Labels: area/frontend

#32915 Docs: Update pie-chart-panel.md
  docs/sources/panels/visualizations/pie-chart-panel.md
Labels: type/docs

#32914 Docs: Update pie-chart-panel.md
  docs/sources/panels/visualizations/pie-chart-panel.md
Labels: type/docs

#32900 PanelEditor: Fixes issue with unmount of option editor components
  public/app/features/dashboard/components/PanelEditor/OptionsPaneItemDescriptor.tsx
  public/app/features/dashboard/components/PanelEditor/getFieldOverrideElements.tsx
  public/app/features/dashboard/components/PanelEditor/getPanelFrameOptions.tsx
  public/app/features/dashboard/components/PanelEditor/getVizualizationOptions.tsx
  public/app/features/dashboard/components/PanelEditor/state/OptionSearchEngine.test.ts
Labels: area/frontend

#32123 Added Azure Monitor support for Microsoft.AppConfiguration/configurationStores namespace
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
Labels: area/frontend, datasource/Azure, pr/external

#32929 Docs: fix export issue to prevent docs generation from failing.
  packages/grafana-data/src/themes/colorManipulator.ts
  packages/grafana-data/src/themes/index.ts
  packages/grafana-data/src/types/dataFrame.ts
  scripts/ci-reference-docs-lint.sh
Labels: area/frontend, area/grafana/ui, area/ui/theme, type/build-packaging, type/docs

#32903 Annotations: Fixes issues loading angular annotation query editors and updating annotation query model
  public/app/features/dashboard/components/AnnotationSettings/AngularEditorLoader.tsx
  public/app/plugins/datasource/cloudwatch/annotations_query_ctrl.ts
  public/app/plugins/datasource/grafana/annotation_ctrl.ts
Labels: area/annotations, area/frontend, datasource/CloudWatch

#32851 Alerting: Use a default configuration and periodically poll for new ones
  go.mod
  go.sum
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager_test.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/notifier/config_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: area/backend

#32923 LibraryPanels: Adds back library panel information to panel edit
  public/app/features/dashboard/components/PanelEditor/getPanelFrameOptions.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/library-panels/components/LibraryPanelInfo/LibraryPanelInfo.tsx
Labels: area/frontend, area/frontend/library-panels

#32892 LibraryPanels: Adds warning when changing to/between library panels
  public/app/features/library-panels/components/ChangeLibraryPanelModal/ChangeLibraryPanelModal.tsx
  public/app/features/library-panels/components/PanelLibraryOptionsGroup/PanelLibraryOptionsGroup.tsx
Labels: area/frontend, area/frontend/library-panels
