Repository grafana/grafana, pull requests merged in 2022-12, with the labels that each got.

#59598 RBAC: Add config option to reset basic roles on start up
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/roles-and-permissions/access-control/configure-rbac/index.md
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
  pkg/setting/setting.go
Labels: type/docs, area/backend, add to changelog, no-backport, enterprise-failed

#59371 Variables: Url sync for MultiValueVariable
  public/app/features/scenes/core/types.ts
  public/app/features/scenes/services/SceneObjectUrlSyncConfig.ts
  public/app/features/scenes/services/UrlSyncManager.test.ts
  public/app/features/scenes/services/UrlSyncManager.ts
  public/app/features/scenes/variables/variants/MultiValueVariable.test.ts
  public/app/features/scenes/variables/variants/MultiValueVariable.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog, area/scenes

#59581 Accessibility: Use `button` instead of `div` in `ColorPicker` story
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.story.tsx
Labels: type/chore, area/frontend, type/accessibility, no-backport, no-changelog, enterprise-failed

#59600 GoogleCloudMonitoring: Remove duplicated code from buildDeepLink
  pkg/tsdb/cloudmonitoring/time_series_filter.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  pkg/tsdb/cloudmonitoring/utils.go
Labels: area/backend, datasource/GoogleCloudMonitoring, no-backport, no-changelog

#59504 Docs: Improve documentation for notifications
  docs/sources/alerting/fundamentals/contact-points/index.md
  docs/sources/alerting/fundamentals/notifications/index.md
  docs/sources/alerting/fundamentals/silences/index.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.2.x, backport v9.3.x

#59627 Nested folders: Fix delete
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#59628 Build: Adds a fallback script to fix package.json main and types fields before packaging
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  scripts/prepare-packagejson.js
Labels: type/bug, type/build-packaging, area/frontend, backport, no-changelog, enterprise-failed, backport v9.2.x, backport v9.3.x

#59578 Elasticsearch: Migrate frontend query builder tests to backend
  .betterer.results
  pkg/tsdb/elasticsearch/time_series_query_test.go
  public/app/plugins/datasource/elasticsearch/QueryBuilder.test.ts
Labels: datasource/Elasticsearch, area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#59595 GoogleCloudMonitoring: Refactor parseResponse
  pkg/tsdb/cloudmonitoring/time_series_filter.go
  pkg/tsdb/cloudmonitoring/time_series_filter_test.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  pkg/tsdb/cloudmonitoring/types.go
  pkg/tsdb/cloudmonitoring/utils.go
Labels: area/backend, datasource/GoogleCloudMonitoring, no-backport, enterprise-ok, no-changelog

#59412 Tracing: Add keyboard accessibility to SpanDetailRow
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
Labels: add to changelog, area/tracing, no-backport

#59544 Theme: Use `Inter` font by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/themes/createTypography.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/themes/default.ts
  packages/grafana-ui/src/utils/measureText.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/fonts/roboto/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2
  public/fonts/roboto/1hZf02POANh32k2VkgEoUBTbgVql8nDJpwnrE27mub0.woff2
  public/fonts/roboto/CWB0XYA8bzo0kSThX0UTuA.woff2
  public/fonts/roboto/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2
  public/fonts/roboto/K23cxWVTrIFD6DJsEVi07RTbgVql8nDJpwnrE27mub0.woff2
  public/fonts/roboto/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2
  public/fonts/roboto/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0SYE0-AqJ3nfInTTiDXDjU4.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0TTOQ_MqJVwkKsUn0wKzc2I.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0TUj_cnvWIuuBMVgbX098Mw.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0UbcKLIaa1LC45dFaAfauRA.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0Wo_sUJ8uO4YLWRInS22T3Y.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2
  public/fonts/roboto/OLffGBTaF0XFOW1gnuHF0b6up8jxqWt8HVA3mDhkV_0.woff2
  public/fonts/roboto/OpXUqTo0UgQQhGj_SFdLWBTbgVql8nDJpwnrE27mub0.woff2
  public/fonts/roboto/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2
  public/fonts/roboto/WxrXJa0C3KdtC7lMafG4dRTbgVql8nDJpwnrE27mub0.woff2
  public/fonts/roboto/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2
  public/fonts/roboto/cDKhRaXnQTOVbaoxwdOr9xTbgVql8nDJpwnrE27mub0.woff2
  public/fonts/roboto/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2
  public/fonts/roboto/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2
  public/fonts/roboto/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2
  public/fonts/roboto/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2
  public/fonts/roboto/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2
  public/fonts/roboto/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2
  public/fonts/roboto/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2
  public/fonts/roboto/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2
  public/fonts/roboto/vSzulfKSK0LLjjfeaxcREhTbgVql8nDJpwnrE27mub0.woff2
  public/sass/_variables.generated.scss
  public/sass/base/_fonts.scss
Labels: type/docs, area/backend, area/frontend, add to changelog, area/ui/theme, no-backport, levitate breaking change, enterprise-failed

#59434 FolderPicker: Fixes issue with typing to search for folder
  public/app/core/components/Select/FolderPicker.test.tsx
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/library-panels/components/OpenLibraryPanelModal/OpenLibraryPanelModal.tsx
Labels: type/bug, area/frontend, enterprise-ok, no-changelog, backport v9.3.x

#59520 kindsys: Fix loading on windows (backport of #59519 to v9.3.x)
  pkg/kindsys/load.go
Labels: area/backend, no-backport, no-changelog

#59382 Accessibility: Improved keyboard accessibility in BarGauge
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
Labels: type/bug, area/frontend, add to changelog, type/accessibility, enterprise-ok, backport v9.3.x

#59619 Docs: removes dashboard images
  docs/sources/dashboards/build-dashboards/manage-library-panels/index.md
  docs/sources/dashboards/create-manage-playlists/index.md
  docs/sources/dashboards/create-reports/index.md
  docs/sources/dashboards/manage-dashboards/index.md
  docs/sources/dashboards/share-dashboards-panels/index.md
  docs/sources/developers/http_api/auth.md
  docs/sources/developers/plugins/legacy/apps.md
  docs/sources/explore/_index.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#59324 PublicDashboards: add time picker enabled column
  pkg/services/publicdashboards/database/database.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/publicdashboards/models/models.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/sqlstore/migrations/dashboard_public_mig.go
Labels: area/backend, area/backend/db/migration, no-backport, enterprise-ok, no-changelog

#59654 Chore: Make getUserOrgList private to sqlstore
  pkg/services/dashboards/database/acl_test.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/serviceaccounts/database/database_test.go
  pkg/services/sqlstore/org.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/org_users.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/user.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#59200 Alerting: Add alert rule cloning action
  public/app/features/alerting/unified/CloneRuleEditor.test.tsx
  public/app/features/alerting/unified/CloneRuleEditor.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.test.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rules/RuleActionsButtons.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.test.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/mocks/grafanaApi.ts
  public/app/features/alerting/unified/mocks/rulerApi.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/app/features/alerting/unified/utils/url.ts
Labels: area/frontend, add to changelog, no-backport, enterprise-ok, add to what's new

#58926 PublicDashboards: Modal warns when using unsupported datasources
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  pkg/services/publicdashboards/commands/generate_datasources/main.go
  pkg/services/publicdashboards/supported_datasources_gen.go
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboard.test.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboard.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboardUtils.test.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboardUtils.ts
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SupportedPubdashDatasources.ts
Labels: area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#59661 Navigation: Remember expanded sections in megamenu
  public/app/core/components/MegaMenu/NavBarMenuSection.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog, enterprise-failed

#59319 Alerting: Reduce number of buildinfo calls
  packages/grafana-runtime/src/components/DataSourcePicker.test.tsx
  packages/grafana-runtime/src/components/DataSourcePicker.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/CloudRulesSourcePicker.tsx
  public/app/features/alerting/unified/components/rule-editor/rule-types/RuleTypePicker.tsx
  public/app/features/alerting/unified/state/actions.ts
Labels: type/bug, area/alerting, area/frontend, enterprise-ok, no-changelog, backport v9.2.x, backport v9.3.x

#59615 Build: Unify custom dockerfiles, fix missing semicolon
  docs/sources/setup-grafana/installation/docker/index.md
  packaging/docker/custom/Dockerfile
  packaging/docker/custom/ubuntu.Dockerfile
Labels: type/bug, type/docs, type/build-packaging, enterprise-ok, no-changelog, backport v9.3.x

#59242 Schema: Add `Team` structured core kind
  kinds/structured/team/team_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/team/x/team_types.gen.ts
  pkg/kinds/team/team_kind_gen.go
  pkg/kinds/team/team_types_gen.go
  pkg/registry/corekind/base_gen.go
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#59662 FeatureFlags: enable i18n flag in the registry
  conf/defaults.ini
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
Labels: type/docs, type/chore, area/backend, no-backport, enterprise-ok, no-changelog

#59506 Add a separate grafana.com API URL setting
  conf/defaults.ini
  conf/sample.ini
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#59620 EntityStore: Move slug+folder to summary metadata
  pkg/models/entity.go
  pkg/services/playlist/playlistimpl/entity_store.go
  pkg/services/store/entity/dummy/dummy_server.go
  pkg/services/store/entity/dummy/dummy_server_test.go
  pkg/services/store/entity/dummy/fake_store.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/httpentitystore/service.go
  pkg/services/store/entity/json.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/sqlstash/summary_handler.go
  pkg/services/store/entity/tests/server_integration_test.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog, storage backend

#58600 Chore: Change fmt.Errorf to errors.New when there is no formatting required
  pkg/api/http_server.go
  pkg/api/metrics_test.go
  pkg/api/playlist_play.go
  pkg/api/plugin_dashboards_test.go
  pkg/api/pluginproxy/ds_proxy_test.go
Labels: type/chore, area/backend, pr/external, no-backport, no-changelog

#59070 Dataplane: Deprecate timeseries-many in favor of timeseries-multi
  packages/grafana-data/src/types/dataFrameTypes.ts
  public/app/features/transformers/prepareTimeSeries/PrepareTimeSeriesEditor.tsx
  public/app/features/transformers/prepareTimeSeries/prepareTimeSeries.test.ts
  public/app/features/transformers/prepareTimeSeries/prepareTimeSeries.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, add to changelog, area/dataframe, no-backport, enterprise-ok, area/dataplane

#59682 Chore: update latest.json to 9.3.1
  latest.json
Labels: no-backport, no-changelog

#59444 TimeSeries: Fix rendering when zooming to time ranges between datapoints
  .betterer.results
  devenv/dev-dashboards/panel-timeseries/timeseries-nulls.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/heatmap/utils.ts
  yarn.lock
Labels: type/bug, area/frontend, add to changelog, enterprise-ok, backport v9.3.x

#59608 Graphite: Process multiple queries to Graphite plugin
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/graphite/graphite_test.go
Labels: datasource/Graphite, area/backend, add to changelog, no-backport, enterprise-ok

#58901 Schema: Refactor plugin code generation
  Makefile
  kinds/gen.go
  pkg/codegen/pluggen.go
  pkg/codegen/tmpl.go
  pkg/kindsys/slot.go
  pkg/plugins/codegen/jenny_plugingotypes.go
  pkg/plugins/codegen/jenny_plugintreelist.go
  pkg/plugins/codegen/jenny_plugintstypes.go
  pkg/plugins/codegen/tmpl.go
  pkg/plugins/codegen/tmpl/plugin_registry.tmpl
  pkg/plugins/codegen/util_go.go
  pkg/plugins/codegen/util_ts.go
  pkg/plugins/pfs/corelist/corelist.go
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  pkg/plugins/pfs/decl.go
  pkg/plugins/pfs/decl_parser.go
  public/app/plugins/gen.go
  public/app/plugins/igen.go
  public/app/plugins/panel/annolist/models.gen.ts
  public/app/plugins/panel/barchart/models.gen.ts
  public/app/plugins/panel/bargauge/models.gen.ts
  public/app/plugins/panel/dashlist/models.gen.ts
  public/app/plugins/panel/gauge/models.gen.ts
  public/app/plugins/panel/histogram/models.gen.ts
  public/app/plugins/panel/news/models.gen.ts
  public/app/plugins/panel/piechart/models.gen.ts
  public/app/plugins/panel/stat/models.gen.ts
  public/app/plugins/panel/text/models.gen.ts
Labels: type/build-packaging, area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#59591 Pubdash: Verify affected rows count in database 'create' call
  pkg/services/publicdashboards/service/service.go
Labels: area/backend, no-backport, team/grafana-partners, enterprise-ok, no-changelog, public-dashboards

#59584 CloudWatch: Return with error message for empty logs query string
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, enterprise-ok, no-changelog

#59663 Cloudwatch: Backend cleanup
  pkg/tsdb/cloudwatch/client_factory.go
  pkg/tsdb/cloudwatch/clients/metrics.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/cloudwatch_integration_test.go
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/get_metric_data_error_codes.go
  pkg/tsdb/cloudwatch/live.go
  pkg/tsdb/cloudwatch/live_test.go
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_alert.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/models/api.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query_test.go
  pkg/tsdb/cloudwatch/models/gmd_errors.go
  pkg/tsdb/cloudwatch/models/query_row_response.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/routes/accounts.go
  pkg/tsdb/cloudwatch/services/accounts.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/testdata/multiple-outputs3.json
Labels: type/refactor, datasource/CloudWatch, area/backend, datasource/CloudWatch Logs, no-backport, enterprise-ok, no-changelog

#59572 Accessibility: Add the correct role to the modal backdrop
  packages/grafana-ui/src/components/Modal/Modal.tsx
Labels: type/chore, area/frontend, type/accessibility, no-backport, enterprise-ok, no-changelog

#59664 Chore: remove preloading roboto font
  public/views/index-template.html
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#59685 Docs: Consolidate Templating labels and annotations docs into a single page
  docs/sources/alerting/fundamentals/annotation-label/example-template-functions.md
  docs/sources/alerting/fundamentals/annotation-label/template-functions.md
  docs/sources/alerting/fundamentals/annotation-label/variables-label-annotation.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#59673 Docs: Reference Alertmanagers in Notifications docs and move Alertmanager docs
  docs/sources/alerting/fundamentals/notifications.md
  docs/sources/alerting/manage-notifications/alertmanager.md
  docs/sources/alerting/manage-notifications/images-in-notifications.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#59163 Alerting: Upload images to Slack via files.upload
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Labels: area/backend, add to changelog, no-backport, enterprise-failed

#59660 Table: Fixes row border style not showing and colored rows blending together
  packages/grafana-ui/src/components/Table/styles.ts
Labels: type/bug, area/frontend, add to changelog, enterprise-ok, backport v9.3.x

#59646 CloudWatch: Create deeplinks from log group ARNs
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, enterprise-ok, no-changelog, backport v9.3.x

#58647 Datasource settings: Add deprecation notice for database field
  packages/grafana-data/src/types/datasource.ts
Labels: area/backend, area/frontend, add to changelog, no-backport, enterprise-failed

#59690 Themes: Re-init graph on theme change
  packages/grafana-ui/src/components/TimeSeries/TimeSeries.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#59691 AzureMonitor: Fix panic from empty response in ARG
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
Labels: type/bug, area/backend, datasource/Azure, add to changelog, enterprise-failed, backport v9.2.x, backport v9.3.x

#59700 AzureMonitor: Fix bad request when setting dimensions
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/types/types.go
Labels: type/bug, area/backend, datasource/Azure, add to changelog, enterprise-ok, backport v9.3.x

#59694 DataSourcePermissions: Handle licensing properly for ds permissions
  pkg/api/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/database/database.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/middleware.go
  pkg/services/accesscontrol/resourcepermissions/options.go
  public/app/features/datasources/state/navModel.ts
Labels: type/bug, area/backend, area/frontend, add to changelog, enterprise-failed, backport v9.2.x, backport v9.3.x

#59190 Plugins: Unexport PluginDir field from PluginDTO
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  pkg/plugins/backendplugin/provider/provider.go
  pkg/plugins/manager/dashboards/filestore.go
  pkg/plugins/manager/dashboards/filestore_test.go
  pkg/plugins/manager/installer.go
  pkg/plugins/manager/installer_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/signature/signature.go
  pkg/plugins/models.go
  pkg/plugins/plugins.go
  pkg/services/plugindashboards/service/service.go
  pkg/services/plugindashboards/service/service_test.go
Labels: area/plugins, type/chore, area/backend, no-backport, enterprise-ok, no-changelog

#59703 Alerting: Move modal buttons before the rules table
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
Labels: area/alerting, area/frontend, no-backport, enterprise-ok, no-changelog

#59711 [v9.2.x] DataSourcePermissions: Handle licensing properly for ds permissions
  pkg/api/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/database/database.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/middleware.go
  pkg/services/accesscontrol/resourcepermissions/options.go
  public/app/features/datasources/state/navModel.ts
Labels: type/bug, area/backend, area/frontend, backport, no-changelog

#59602 AzureMonitor: Automate location retrieval
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/resourcePickerRows.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azureMetadata/index.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azureMetadata/locations.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/types.ts
Labels: type/bug, area/frontend, datasource/Azure, add to changelog, enterprise-ok, backport v9.3.x

#59716 Alerting: Reduce number of buildinfo calls (#59319)
  packages/grafana-runtime/src/components/DataSourcePicker.test.tsx
  packages/grafana-runtime/src/components/DataSourcePicker.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/CloudRulesSourcePicker.tsx
  public/app/features/alerting/unified/components/rule-editor/rule-types/RuleTypePicker.tsx
  public/app/features/alerting/unified/state/actions.ts
Labels: area/alerting, area/frontend, backport, no-changelog

#59624 SAML: Add teamsync details and example
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#59457 DataLinks: Backport 58934 to v9.2.x
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
Labels: area/frontend, backport, no-changelog

#59720 Docs: updates based on customer feedbak
  docs/sources/whatsnew/whats-new-in-v9-3.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.3.x

#59745 Docs: removes email templating
  docs/sources/whatsnew/whats-new-in-v9-3.md
Labels: type/docs, no-changelog, backport v9.3.x

#59648 Prometheus: Send time range params when requesting labels
  public/app/plugins/datasource/prometheus/datasource.tsx
Labels: datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#59740 Restrict workflow to grafana/grafana repository
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: backport v8.3.x, backport v8.4.x, enterprise-ok, backport v8.5.x, no-changelog, backport v9.0.x, backport v9.1.x, backport v9.2.x, backport v9.3.x, product-approved

#59735 Alerting: Simplify scheduler configuration and remove dependency on Grafana-wide settings
  pkg/services/ngalert/metrics/ngalert.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/alerting, area/backend, type/debt, no-backport, enterprise-ok, no-changelog

#59253 Docs: Fix typo in docs for the mssql datasource
  docs/sources/datasources/mssql/template-variables/index.md
Labels: type/docs, pr/external, no-backport, no-changelog

#59712 elastic: remove unused debug-code
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/models.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/testdata/trimedges_string.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_complex.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_multi.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_multi.b.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_simple.a.golden.jsonc
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: datasource/Elasticsearch, area/backend, no-backport, enterprise-ok, no-changelog

#59785 Delete broken links in notifications doc
  docs/sources/alerting/_index.md
  docs/sources/alerting/fundamentals/notifications.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.3.x

#57043 Docs: Document Prometheus-Alertmanager integration settings
  docs/sources/datasources/alertmanager/_index.md
  docs/sources/datasources/prometheus/_index.md
Labels: type/docs, area/alerting, pr/external, no-backport, no-changelog, enterprise-failed

#59723 Package: @grafana/e2e updates
  packages/grafana-e2e/cypress.json
  packages/grafana-e2e/src/flows/addDashboard.ts
Labels: type/bug, area/frontend, enterprise-ok, no-changelog, backport v9.3.x

#59625 Datasource: Fix - apply default query also to queries in new panels
  public/app/core/utils/query.test.ts
  public/app/core/utils/query.ts
  public/app/features/query/components/QueryGroup.tsx
  public/app/features/query/state/runRequest.ts
  public/app/features/query/state/updateQueries.test.ts
  public/app/features/query/state/updateQueries.ts
Labels: type/bug, area/frontend, add to changelog, enterprise-failed, backport v9.3.x, missing-labels

#59827 CI: Add `identify-runner` step for publish images
  .drone.yml
  scripts/drone/pipelines/publish_images.star
Labels: area/frontend, type/ci, no-backport, enterprise-ok, no-changelog

#59355 Accessibility: Make QueryEditorHelp examples keyboard interactive
  public/app/plugins/datasource/cloudwatch/components/LogsCheatSheet.tsx
  public/app/plugins/datasource/loki/components/LokiCheatSheet.tsx
  public/app/plugins/datasource/prometheus/components/PromCheatSheet.tsx
  public/sass/pages/_explore.scss
Labels: datasource/Prometheus, datasource/CloudWatch, area/frontend, datasource/Loki, add to changelog, type/accessibility, no-backport, enterprise-ok

#59704 Elasticsearch: Fix removing of empty settings from query in backend implementation
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
  public/app/plugins/datasource/elasticsearch/QueryBuilder.test.ts
Labels: datasource/Elasticsearch, type/chore, area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#59828 docs: fixes broken link and spelling error
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-grafana-provisioning/index.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.3.x

#59736 Tempo: Fix traceQL suggestions for tag names with dots
  public/app/plugins/datasource/tempo/traceql/autocomplete.ts
Labels: type/bug, area/frontend, datasource/Tempo, enterprise-ok, no-changelog, backport v9.3.x

#59729 Chore: Update SDK to v0.145.0 with TimeSeriesMulti Constant
  go.mod
  go.sum
  pkg/tsdb/loki/frame_test.go
  pkg/tsdb/loki/testdata/matrix_gap.golden.jsonc
  pkg/tsdb/loki/testdata/matrix_inf.golden.jsonc
  pkg/tsdb/loki/testdata/matrix_name.golden.jsonc
  pkg/tsdb/loki/testdata/matrix_nan.golden.jsonc
  pkg/tsdb/loki/testdata/matrix_simple.golden.jsonc
  pkg/tsdb/loki/testdata/matrix_small_step.golden.jsonc
  pkg/tsdb/loki/testdata/matrix_with_stats.golden.jsonc
  pkg/tsdb/loki/testdata/vector_simple.golden.jsonc
  pkg/tsdb/loki/testdata/vector_special_values.golden.jsonc
  pkg/tsdb/prometheus/buffered/time_series_query.go
  pkg/tsdb/prometheus/testdata/range_auto.result.golden.jsonc
  pkg/tsdb/prometheus/testdata/range_infinity.result.golden.jsonc
  pkg/tsdb/prometheus/testdata/range_missing.result.golden.jsonc
  pkg/tsdb/prometheus/testdata/range_nan.result.golden.jsonc
  pkg/tsdb/prometheus/testdata/range_simple.result.golden.jsonc
  pkg/util/converter/prom.go
  pkg/util/converter/testdata/loki-streams-a-frame.jsonc
  pkg/util/converter/testdata/loki-streams-a-wide-frame.jsonc
  pkg/util/converter/testdata/loki-streams-b-frame.jsonc
  pkg/util/converter/testdata/loki-streams-b-wide-frame.jsonc
  pkg/util/converter/testdata/loki-streams-c-frame.jsonc
  pkg/util/converter/testdata/loki-streams-c-wide-frame.jsonc
  pkg/util/converter/testdata/prom-exemplars-a-frame.jsonc
  pkg/util/converter/testdata/prom-exemplars-a-wide-frame.jsonc
  pkg/util/converter/testdata/prom-exemplars-b-frame.jsonc
  pkg/util/converter/testdata/prom-exemplars-b-wide-frame.jsonc
  pkg/util/converter/testdata/prom-labels-frame.jsonc
  pkg/util/converter/testdata/prom-labels-wide-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-histogram-no-labels-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-histogram-no-labels-wide-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-histogram-partitioned-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-histogram-partitioned-wide-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-wide-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-with-nans-frame.jsonc
  pkg/util/converter/testdata/prom-matrix-with-nans-wide-frame.jsonc
  pkg/util/converter/testdata/prom-scalar-frame.jsonc
  pkg/util/converter/testdata/prom-scalar-wide-frame.jsonc
  pkg/util/converter/testdata/prom-series-frame.jsonc
  pkg/util/converter/testdata/prom-series-wide-frame.jsonc
  pkg/util/converter/testdata/prom-string-frame.jsonc
  pkg/util/converter/testdata/prom-string-wide-frame.jsonc
  pkg/util/converter/testdata/prom-vector-frame.jsonc
  pkg/util/converter/testdata/prom-vector-histogram-no-labels-frame.jsonc
  pkg/util/converter/testdata/prom-vector-histogram-no-labels-wide-frame.jsonc
  pkg/util/converter/testdata/prom-vector-wide-frame.jsonc
  pkg/util/converter/testdata/prom-warnings-frame.jsonc
  pkg/util/converter/testdata/prom-warnings-wide-frame.jsonc
Labels: datasource/Prometheus, area/backend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#59852 kindsys: Change "Meta" to "Properties"
  kinds/gen.go
  pkg/codegen/generators.go
  pkg/codegen/jenny_corestructkind.go
  pkg/codegen/jenny_eachmajor.go
  pkg/codegen/jenny_rawkind.go
  pkg/codegen/jenny_tsveneerindex.go
  pkg/codegen/latest_jenny.go
  pkg/codegen/tmpl/kind_corestructured.tmpl
  pkg/codegen/tmpl/kind_raw.tmpl
  pkg/codegen/tmpl/kind_registry.tmpl
  pkg/kinds/dashboard/dashboard_kind_gen.go
  pkg/kinds/playlist/playlist_kind_gen.go
  pkg/kinds/svg/svg_kind_gen.go
  pkg/kinds/team/team_kind_gen.go
  pkg/kindsys/kind.go
  pkg/kindsys/kindmetas.go
  pkg/kindsys/load.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog, area/kindsys

#59851 CI: Add enterprise2 mode in `versions.go`
  pkg/build/cmd/genversions.go
  pkg/build/cmd/genversions_test.go
  pkg/build/cmd/grafanacom.go
  pkg/build/cmd/uploadpackages.go
  pkg/build/config/version_mode.go
  pkg/build/config/versions.go
Labels: area/backend, type/ci, no-backport, no-changelog, enterprise-failed

#59833 [v9.3.x] Datasource: Fix - apply default query also to queries in new panels
  public/app/core/utils/query.test.ts
  public/app/core/utils/query.ts
  public/app/features/query/components/QueryGroup.tsx
  public/app/features/query/state/runRequest.ts
  public/app/features/query/state/updateQueries.test.ts
  public/app/features/query/state/updateQueries.ts
Labels: area/frontend, backport, no-changelog

#59838 Chore: Remote cache key prefix
  conf/defaults.ini
  conf/sample.ini
  pkg/infra/remotecache/remotecache.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/setting/setting.go
Labels: area/backend, backport, enterprise-ok, no-changelog, backport v9.2.x, product-approved

#59876 [v9.3.x] Loki: Fix wrongly escaped label values when using LabelFilter
  public/app/plugins/datasource/loki/languageUtils.test.ts
  public/app/plugins/datasource/loki/languageUtils.ts
  public/app/plugins/datasource/loki/modifyQuery.test.ts
  public/app/plugins/datasource/loki/modifyQuery.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.test.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
Labels: type/bug, area/frontend, datasource/Loki, backport, no-changelog

#59875 API: Fix delete user failure due to quota not enabled
  pkg/services/quota/quotaimpl/quota.go
Labels: type/bug, area/backend, add to changelog, enterprise-ok, backport v9.3.x

#59878 FIX: Remove service accounts from quota count
  pkg/services/sqlstore/quota.go
Labels: area/backend, add to changelog, no-backport

#59722 Chore: Refactor the `packages/jaeger-ui-components/src/TracePageHeader` folder to TS
  .betterer.results
  packages/jaeger-ui-components/package.json
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/CanvasSpanGraph.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/GraphTicks.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/GraphTicks.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/Scrubber.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/Scrubber.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/ViewingLayer.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/ViewingLayer.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/render-into-canvas.test.ts
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.tsx
  yarn.lock
Labels: type/refactor, area/frontend, no-backport, enterprise-ok, no-changelog

#59871 Chore: Add encryption codec to the remote cache
  conf/defaults.ini
  conf/sample.ini
  pkg/infra/remotecache/database_storage.go
  pkg/infra/remotecache/database_storage_test.go
  pkg/infra/remotecache/memcached_storage.go
  pkg/infra/remotecache/redis_storage.go
  pkg/infra/remotecache/remotecache.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/infra/remotecache/testing.go
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/setting/setting.go
Labels: area/backend, backport, enterprise-ok, no-changelog, backport v9.2.x, missing-labels

#59877 [v9.2.x] Chore: Remote cache key prefix (#59838)
  conf/defaults.ini
  conf/sample.ini
  pkg/infra/remotecache/remotecache.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/setting/setting.go
Labels: area/backend, no-backport, no-changelog

#59882 [9.2.x] Instrumentation: Log plugin and datasource info for each plugin request.
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/metrics_test.go
  pkg/plugins/backendplugin/instrumentation/instrumentation.go
  pkg/plugins/config/config.go
  pkg/plugins/manager/client/client.go
  pkg/plugins/manager/client/client_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#59896 [v9.2.x] Chore: Add encryption codec to the remote cache (#59871)
  conf/defaults.ini
  conf/sample.ini
  pkg/infra/remotecache/database_storage.go
  pkg/infra/remotecache/database_storage_test.go
  pkg/infra/remotecache/memcached_storage.go
  pkg/infra/remotecache/redis_storage.go
  pkg/infra/remotecache/remotecache.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/infra/remotecache/testing.go
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/setting/setting.go
Labels: area/backend, no-backport, no-changelog

#59904 CI: Add `enterprise2` flag to unblock enterprise2 image deployments
  pkg/build/cmd/main.go
  pkg/build/cmd/uploadpackages.go
Labels: type/bug, area/backend, type/ci, no-backport, no-changelog

#59892 Users: Add option to use remote cache for SignedInUsers
  pkg/api/org_users_test.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
  pkg/services/user/userimpl/user.go
Labels: area/backend, no-backport, no-changelog

#59859 PanelEdit: Fixes broken panel edit splitter logic
  public/app/core/components/SplitPaneWrapper/SplitPaneWrapper.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: type/bug, no-backport, enterprise-ok, no-changelog

#59901 JavaScript Unit Tests: Enable shouldFailOnLog only for CI environments
  public/test/setupTests.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#59903 Fix incorrect start time for DatasourceError alerts
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#59905 EntityStore: support filtering by labels
  pkg/services/store/entity/sqlstash/querybuilder.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/tests/server_integration_test.go
  pkg/services/store/entity/tests/testdata/dashboard-with-tags-b-g.json
  pkg/services/store/entity/tests/testdata/dashboard-with-tags-r-g.json
Labels: area/backend, no-backport, no-changelog, enterprise-failed, storage backend

#59914 Loki: Add tracking for on dashboard load
  public/app/plugins/datasource/loki/module.test.ts
  public/app/plugins/datasource/loki/module.ts
  public/app/plugins/datasource/loki/tracking.ts
Labels: type/chore, area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#59897 Chore: Replace yaml.v2 with yaml.v3
  go.mod
  pkg/services/featuremgmt/settings.go
  pkg/services/ngalert/notifier/channels/util.go
  pkg/services/provisioning/alerting/config_reader.go
  pkg/services/provisioning/alerting/contact_point_types_test.go
  pkg/services/provisioning/alerting/notification_policy_types_test.go
  pkg/services/provisioning/dashboards/config_reader.go
  pkg/services/provisioning/datasources/config_reader.go
  pkg/services/provisioning/notifiers/config_reader.go
  pkg/services/provisioning/plugins/config_reader.go
  pkg/services/provisioning/values/values.go
  pkg/services/provisioning/values/values_test.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#59887 Loki: Add tracking of executed queries
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
  public/app/plugins/datasource/loki/tracking.ts
Labels: area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#59923 Hackathon: add multi-tenant context
  go.mod
  go.sum
  pkg/api/http_server.go
  pkg/plugins/manager/client/client.go
  pkg/server/wire.go
  pkg/services/auth/jwt/plugin_auth.go
  pkg/services/grpcserver/interceptors/auth.go
  pkg/services/mtctx/middleware.go
  pkg/services/mtctx/service.go
  pkg/services/mtctx/service_impl.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/user/model.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend

#59925 Hackathon: Add HGMT devenv
  devenv/docker/blocks/hgmt/core.ini
  devenv/docker/blocks/hgmt/docker-compose.yaml
  devenv/docker/blocks/hgmt/entity.ini
  pkg/cmd/grafana-server/commands/cli.go
  pkg/setting/setting.go
Labels: area/backend

#59919 Build: Drone starlark file cleanup
  .drone.star
  Makefile
  scripts/drone/events/cron.star
  scripts/drone/events/main.star
  scripts/drone/events/pr.star
  scripts/drone/events/release.star
  scripts/drone/pipelines/build.star
  scripts/drone/pipelines/docs.star
  scripts/drone/pipelines/integration_tests.star
  scripts/drone/pipelines/lint_backend.star
  scripts/drone/pipelines/lint_frontend.star
  scripts/drone/pipelines/publish_images.star
  scripts/drone/pipelines/shellcheck.star
  scripts/drone/pipelines/test_backend.star
  scripts/drone/pipelines/test_frontend.star
  scripts/drone/pipelines/trigger_downstream.star
  scripts/drone/pipelines/verify_drone.star
  scripts/drone/pipelines/windows.star
  scripts/drone/services/services.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
  scripts/drone/vault.star
  scripts/drone/version.star
Labels: type/tech, type/build-packaging, type/ci, no-backport, no-changelog, enterprise-failed

#59928 CI: Move `verify-storybook` command from grabpl
  .drone.yml
  pkg/build/cmd/main.go
  pkg/build/cmd/verifystorybook.go
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, enterprise-ok, no-changelog

#59883 FeatureToggle: for storing signed in user object in a Remote Cache
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/org_users_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
  pkg/services/user/userimpl/user.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#59713 Elasticsearch: Fix adding correct min_doc_count to all aggregation types in backend implementation
  pkg/tsdb/elasticsearch/testdata_request/metric_complex.request.line1.json
  pkg/tsdb/elasticsearch/testdata_request/metric_simple.request.line1.json
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog, enterprise-failed

#59907 Auth: Session cache [v9.2.x]
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/auth/auth_token.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#59935 Auth: Session cache [main]
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/auth/authimpl/auth_token.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/quota/quotaimpl/quota_test.go
Labels: type/docs, area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#59873 Chore: Refactor `packages/jaeger-ui-components/src/TraceTimelineViewer/ListView` to TS
  .betterer.results
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/Positions.test.ts
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/__snapshots__/index.test.tsx.snap
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/index.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/ListView/index.tsx
Labels: type/refactor, area/frontend, no-backport, enterprise-ok, no-changelog

#59934 Users: Use Remote Cache for storing signed in users [v9.3.x] (#59883)
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/common_test.go
  pkg/api/org_users_test.go
  pkg/api/user_test.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/userimpl/user_test.go
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog, enterprise-failed

#59888 Chore: Remove unused/deprecated @types definitions
  .github/renovate.json5
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  yarn.lock
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#59826 Navigation: handle case where navIndex is undefined
  public/app/core/components/Page/usePageTitle.ts
Labels: type/bug, area/frontend, area/navigation, enterprise-ok, no-changelog, backport v9.3.x

#59894 Alerting: Change resultError in preparation for supporting ForError duration
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#59255 Dashboard: Making a dashboard editable does not allow resizing of panels
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.test.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
Labels: type/bug, area/dashboard, area/frontend, no-changelog, enterprise-failed, backport v9.3.x

#59900 Scenes: Fix flaky scenes time range test
  public/app/features/scenes/core/SceneTimeRange.test.tsx
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#59866 Hackathon: Enable plugins to emit AppNotifications
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/notification.ts
  packages/grafana-runtime/src/services/appEvents.ts
  public/app/core/components/AppNotifications/AppNotificationItem.tsx
  public/app/core/components/AppNotifications/AppNotificationList.tsx
  public/app/core/components/AppNotifications/StoredNotificationItem.tsx
  public/app/core/components/Page/usePageTitle.ts
  public/app/core/copy/appNotification.ts
  public/app/core/reducers/appNotification.test.ts
  public/app/core/reducers/appNotification.ts
  public/app/features/admin/ldap/LdapConnectionStatus.tsx
  public/app/features/admin/ldap/LdapPage.tsx
  public/app/features/alerting/AlertTab.tsx
  public/app/features/connections/pages/DataSourceDetailsPage.tsx
  public/app/features/dashboard/components/DashboardLoading/DashboardFailed.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/library-panels/utils.ts
  public/app/features/notifications/StoredNotifications.tsx
  public/app/features/panel/components/PanelPluginError.tsx
  public/app/features/plugins/admin/components/PluginDetailsPage.tsx
  public/app/features/variables/state/actions.ts
  public/app/types/appNotifications.ts
Labels: area/dashboard/templating, area/frontend

#59893 Plugins: Add username to datasource plugin logging
  pkg/infra/log/requestTiming.go
  pkg/middleware/logger.go
  pkg/plugins/backendplugin/instrumentation/instrumentation.go
Labels: area/instrumentation, area/backend/plugins, area/backend, backport, no-changelog, enterprise-failed, backport v9.2.x, backport v9.3.x, product-approved, missing-labels

#59951 [9.3.x] Backport Contexthandler: Add uname as response header #59930
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/contexthandler/contexthandler.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#59952 ServiceAccounts: Do not display warnings about secret scanner when scanner is disabled
  pkg/services/serviceaccounts/manager/service.go
Labels: type/bug, area/backend, enterprise-ok, no-changelog, backport v9.3.x

#59942 Hackathon: Add notification at the topnav
  public/app/core/components/AppChrome/Notification/Notification.tsx
  public/app/core/components/AppChrome/TopSearchBar.tsx
Labels: area/frontend

#59950 [9.2.x] Backport Contexthandler: Add uname as response header #59930
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/common_test.go
  pkg/api/login_oauth_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/recovery_test.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/quota/quotaimpl/storage/storage.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#59961 Auth: Logger for user remote cache
  pkg/services/user/userimpl/user.go
Labels: area/backend, no-backport, no-changelog

#59780 Alerting: Fix RuleEditor flaky test for existing grafana managed alert
  .betterer.results
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/RuleEditorCloudOnlyAllowed.test.tsx
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
  public/app/features/alerting/unified/RuleEditorGrafanaRules.test.tsx
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
  public/test/helpers/alertingRuleEditor.tsx
  public/test/helpers/selectOptionInTest.ts
Labels: area/alerting, area/frontend, no-backport, enterprise-ok, no-changelog

#59960 Loki: Do not track samples
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/tracking.ts
Labels: type/chore, area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#59747 CloudMonitor: Improve detail of MQL series labels
  pkg/tsdb/cloudmonitoring/time_series_filter.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  pkg/tsdb/cloudmonitoring/time_series_query_test.go
  pkg/tsdb/cloudmonitoring/types.go
Labels: area/backend, datasource/GoogleCloudMonitoring, add to changelog, no-backport, enterprise-ok

#59701 CloudWatch: return silently in case of missing log groups or incomplete query
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/types.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, enterprise-ok, no-changelog

#59970 Docs: corrects relref
  docs/sources/administration/data-source-management/index.md
Labels: type/docs, no-changelog, backport v9.3.x

#59809 CloudWatch: Fix deeplinks to still be able to pass log group names
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, backport, enterprise-ok, no-changelog

#59968 feature (user service): Add a validation check after the user record is created in the sqlstore.
  pkg/services/user/userimpl/store.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#59967 CI: add a quick test, set enterprise2 when the enterprise2 flag is added
  pkg/build/cmd/uploadpackages.go
  pkg/build/packaging/grafana_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#59981 Hackathon: HGMT remove dependency on secret store
  devenv/docker/blocks/hgmt/core.ini
  devenv/docker/blocks/hgmt/entity.ini
  pkg/services/auth/jwt/plugin_auth.go
  pkg/services/auth/jwt/plugin_auth_test.go
  pkg/services/grpcserver/interceptors/auth_test.go
  pkg/setting/setting.go
Labels: area/backend

#59983 Hackathon: background services registration
  pkg/registry/registry.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/modules/modules.go
Labels: area/backend, no-backport, no-changelog

#59931 UsageInsights: Record events for Explore queries
  docs/sources/setup-grafana/configure-security/export-logs.md
  packages/grafana-runtime/src/analytics/types.ts
  public/app/features/query/state/queryAnalytics.test.ts
  public/app/features/query/state/queryAnalytics.ts
Labels: type/docs, area/frontend, add to changelog, area/meta-analytics, enterprise-failed, backport v9.2.x, add to what's new, product-approved

#59993 Hackathon 2022 12 hgmt configmap
  go.mod
  pkg/services/mtctx/middleware.go
  pkg/services/mtctx/service.go
  pkg/services/mtctx/service_impl.go
  pkg/services/mtctx/service_impl_test.go
  pkg/setting/setting.go
Labels: area/backend

#59992 [v9.2.x] UsageInsights: Record events for Explore queries
  docs/sources/setup-grafana/configure-security/export-logs.md
  packages/grafana-runtime/src/types/analytics.ts
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/query/state/queryAnalytics.test.ts
  public/app/features/query/state/queryAnalytics.ts
Labels: type/docs, type/build-packaging, area/backend, area/explore, area/frontend, area/meta-analytics, backport, type/ci, no-changelog

#58795 Datasource Onboarding: Create initial data source onboarding page
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/dashboard/containers/DatasourceOnboarding.tsx
  public/app/features/dashboard/containers/NewDashboardPage.tsx
  public/app/routes/routes.tsx
Labels: area/dashboard, area/backend, area/frontend, onboarding, no-backport, no-changelog, enterprise-failed

#59986 Hackathon: The Notifier - Adds more robust system notifications page
  public/app/core/components/AppChrome/Notification/Notification.tsx
  public/app/core/components/NavBar/navBarItem-translations.ts
  public/app/core/components/SystemNotifications/SystemNotificationsItem.tsx
  public/app/core/components/SystemNotifications/SystemNotificationsPage.tsx
  public/app/features/profile/routes.tsx
  public/app/routes/routes.tsx
  public/img/plugins/grafana-easystart-app.svg
  public/img/plugins/grafana-synthetic-monitoring-app.svg
  public/img/plugins/kubernetes.png
Labels: area/frontend

#59962 Loki: Remove annotation, context and volume tracking
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/tracking.ts
Labels: type/chore, area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#58986 Alerting: Improve rule validation to check if rule uses backend datasources
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/quota/quotaimpl/quota_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#59954 Elasticsearch: Add tracking for plugin adoption stats
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/module.test.ts
  public/app/plugins/datasource/elasticsearch/module.ts
  public/app/plugins/datasource/elasticsearch/tracking.ts
Labels: datasource/Elasticsearch, type/chore, area/frontend, no-backport, no-changelog, enterprise-failed

#60010 Dashboard: Run requests with correct app type
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/query/state/PanelQueryRunner.ts
Labels: area/dashboard, area/frontend, no-backport, no-changelog, enterprise-failed

#60007 Hackathon: Add Tag status to dropdown
  public/app/core/components/AppChrome/Notification/Notification.tsx
  public/app/core/components/SystemNotifications/SystemNotificationsItem.tsx
Labels: area/frontend

#60012 Hackathon: Fix system notifications
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/core/components/SystemNotifications/SystemNotificationsItem.tsx
  public/app/core/components/SystemNotifications/SystemNotificationsPage.tsx
  public/app/core/reducers/appNotification.ts
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend

#60017 Loki: Usage for queries not from dashboards
  public/app/plugins/datasource/elasticsearch/tracking.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/tracking.ts
Labels: datasource/Elasticsearch, type/chore, area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#60024 Fix feature toggle test main
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
Labels: type/bug, type/docs, no-backport, no-changelog

#59832 [Nested Folder] Block move operation that could introduce more than 8 level of depth,…
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/folder/folderimpl/sqlstore_test.go
  pkg/services/folder/folderimpl/store.go
  pkg/services/folder/folderimpl/store_fake.go
  pkg/services/folder/model.go
Labels: area/backend, area/backend/db/migration, no-backport, enterprise-ok, no-changelog

#59920 Prometheus: Add traceID field on top of the exemplar popover
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
Labels: datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#60026 Alerting: Use the QuotaTargetSrv instead of the QuotaTarget in quota check
  pkg/services/ngalert/provisioning/alert_rules.go
Labels: type/bug, area/alerting, area/backend, add to changelog, enterprise-ok, backport v9.3.x

#60037 Add mailbox with raised flag to Icon library
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/components/Icon/cached.json
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/core/components/AppChrome/TopSearchBar.tsx
  public/app/core/components/SystemNotifications/SystemNotificationsPage.tsx
  public/img/icons/unicons/mailbox-with-raised-flag.svg
Labels: area/backend, area/frontend

#59938 Update docs regarding Grafana as an alert receiver
  docs/sources/alerting/performance-limitations/index.md
Labels: type/docs, no-changelog, enterprise-failed, backport v9.0.x, backport v9.1.x, backport v9.2.x, backport v9.3.x

#59829 Panel Edit: Fix data links edit icons being off screen when provided title is too long
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItem.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/edit, backport, enterprise-ok, backport v9.3.x

#59743 Prometheus: Fix exemplars not respecting corresponding series display status.
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  public/app/plugins/panel/candlestick/CandlestickPanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.test.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, add to changelog, enterprise-failed, backport v9.3.x

#59749 Prometheus: Tweak query builder select component
  public/app/plugins/datasource/prometheus/querybuilder/components/LabelFilterItem.tsx
Labels: datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#60039 Prometheus: Add traceID link to heatmap exemplar popover
  public/app/plugins/panel/geomap/components/DataHoverView.tsx
  public/app/plugins/panel/heatmap/HeatmapHoverView.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap/fields.ts
Labels: datasource/Prometheus, area/frontend, no-changelog, enterprise-failed, backport v9.3.x, product-approved

#60044 Alerting: skip flaky test `RuleEditor recording rules.can create a new cloud recording rule`
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#59988 Update heatmap exemplar popover styles
  public/app/plugins/panel/geomap/components/DataHoverRow.tsx
  public/app/plugins/panel/geomap/components/DataHoverView.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
Labels: area/frontend, enterprise-ok, no-changelog, backport v9.3.x, product-approved

#60049 Git: Update experimental workflow POC
  pkg/api/api.go
  pkg/services/navtree/models.go
  pkg/services/store/service.go
  public/app/features/dashboard/components/SaveDashboard/forms/SaveToStorageForm.tsx
  public/app/features/storage/RootView.tsx
  public/app/features/storage/StoragePage.tsx
Labels: type/chore, area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#59977 Alerting: Better define how we set states
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/state/state_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed
