Repository grafana/grafana, pull requests merged in 2022-06, with the labels that each got.

#49976 Dependencies: Fix vuln CVE-2018-1098
  go.mod
  go.sum
  pkg/infra/tracing/opentelemetry_tracing.go
Labels: area/backend, dependencies, no-changelog, backport v9.0.x

#49508 ServiceAccounts: refactor UI
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
  pkg/api/index.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/models.go
  public/app/features/admin/OrgRolePicker.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/serviceaccounts/ServiceAccountCreatePage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountCreatePage.tsx
  public/app/features/serviceaccounts/ServiceAccountPage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountPage.tsx
  public/app/features/serviceaccounts/ServiceAccountProfile.tsx
  public/app/features/serviceaccounts/ServiceAccountRoleRow.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/components/CreateTokenModal.tsx
  public/app/features/serviceaccounts/components/ServiceAccountProfile.tsx
  public/app/features/serviceaccounts/components/ServiceAccountProfileRow.tsx
  public/app/features/serviceaccounts/components/ServiceAccountRoleRow.tsx
  public/app/features/serviceaccounts/components/ServiceAccountTokensTable.tsx
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/serviceaccounts/state/actionsServiceAccountPage.ts
  public/app/features/serviceaccounts/state/reducers.ts
  public/app/types/serviceaccount.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#49682 Docs: Clarify how PR titles should be formatted
  contribute/create-pull-request.md
  contribute/merge-pull-request.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.0.x

#48426 CI: Trigger `pr-test-*` pipelines on different cases
  .drone.yml
  scripts/drone/pipelines/pr.star
Labels: type/ci, enterprise-ok, no-changelog, backport v9.0.x

#49945 UI: Remove deprecated getFormStyles function
  packages/grafana-ui/src/components/Forms/getFormStyles.ts
  packages/grafana-ui/src/components/index.ts
Labels: area/frontend, add to changelog, area/grafana/ui, breaking change, oss-user-essentials, enterprise-ok, levitate breaking change, backport v9.0.x

#49143 Docs: Add clarification note about full range histogram in Loki
  docs/sources/explore/logs-integration.md
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#49920 Alerting: Do not overwrite existing alert rule condition
  public/app/features/alerting/unified/components/rule-editor/ConditionField.test.tsx
  public/app/features/alerting/unified/components/rule-editor/ConditionField.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndAlertConditionStep.tsx
Labels: type/bug, area/frontend, add to changelog, area/alerting/unified, backport v8.5.x, enterprise-failed, backport v9.0.x

#49767 Traces: Feature tracking
  public/app/plugins/datasource/tempo/QueryEditor/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: area/frontend, datasource/Tempo, no-backport, enterprise-ok, no-changelog

#49928 Usage stats: Divide collection into multiple functions to isolate failures
  pkg/infra/usagestats/service/usage_stats.go
  pkg/infra/usagestats/service/usage_stats_test.go
  pkg/infra/usagestats/statscollector/concurrent_users.go
  pkg/infra/usagestats/statscollector/concurrent_users_test.go
  pkg/infra/usagestats/statscollector/prometheus_flavor.go
  pkg/infra/usagestats/statscollector/service.go
  pkg/infra/usagestats/statscollector/service_test.go
Labels: type/bug, area/backend, add to changelog, enterprise-failed, backport v9.0.x

#49944 Settings: Sunset non-duration based login lifetime config
  docs/sources/auth/auth-proxy.md
  docs/sources/installation/upgrading.md
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: type/docs, area/backend, add to changelog, enterprise-failed, backport v9.0.x

#49893 Alerting: Re-render panel's tabs on variables change
  public/app/features/alerting/unified/PanelAlertTabContent.test.tsx
  public/app/features/alerting/unified/components/panel-alerts-tab/NewRuleFromPanelButton.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
Labels: type/bug, area/frontend, area/alerting/unified, enterprise-ok, no-changelog, backport v9.0.x

#49916 Plugins: Remove deprecated /api/tsdb/query metrics endpoint
  devenv/docker/loadtest/annotations_by_tag_test.js
  devenv/docker/loadtest/auth_key_test.js
  devenv/docker/loadtest/auth_token_slow_test.js
  devenv/docker/loadtest/auth_token_test.js
  docs/sources/developers/http_api/data_source.md
  pkg/api/api.go
  pkg/api/docs/definitions/datasources.go
  pkg/api/metrics.go
  public/api-merged.json
  public/api-spec.json
  public/app/core/utils/query.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/test/helpers/createFetchResponse.ts
Labels: type/docs, area/plugins, datasource/Elasticsearch, area/backend/api, area/backend, area/frontend, add to changelog, breaking change, enterprise-ok, backport v9.0.x

#49983 Table: Reorder panel options
  e2e/panels-suite/panelEdit_base.spec.ts
  public/app/plugins/panel/table/module.tsx
Labels: area/panel/table, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#49957 [v9.0.x] Azure Monitor: Include datasource ref when interpolating variables
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
Labels: area/frontend, datasource/Azure, no-backport, enterprise-ok, no-changelog

#49913 Loki: Run query when pressing Enter on line-filters
  packages/grafana-ui/src/components/Input/AutoSizeInput.test.tsx
  packages/grafana-ui/src/components/Input/AutoSizeInput.tsx
  public/app/plugins/datasource/loki/querybuilder/operations.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationParamEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/types.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, add to changelog, enterprise-ok, backport v9.0.x

#49946 RBAC: Include alert.rules action when setting folder permissions
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/sqlstore/migrations/accesscontrol/dashboard_permissions.go
  pkg/services/sqlstore/migrations/migrations.go
Labels: area/backend, area/backend/db/migration, enterprise-ok, no-changelog, area/auth/rbac, backport v9.0.x

#49980 Alerting: Fix external alertmanager duplication
  public/app/features/alerting/unified/hooks/useExternalAMSelector.test.ts
  public/app/features/alerting/unified/hooks/useExternalAmSelector.ts
Labels: type/bug, area/frontend, area/alerting/unified, enterprise-ok, no-changelog, backport v9.0.x

#49719 Secrets: Fix unified secrets backwards compatibility
  pkg/services/datasources/service/datasource_service.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x

#50010 SearchV2: Fix scroll issue in folder folder view page
  public/app/features/search/page/components/FolderSection.tsx
Labels: area/search, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#49731 license: Make coremodels all Apache v2
  LICENSING.md
Labels: no-backport, enterprise-ok, no-changelog, licensing

#49909 Azure OAuth: silent fail on getting groups
  pkg/login/social/azuread_oauth.go
Labels: area/backend, backport v8.4.x, enterprise-ok, backport v8.5.x, no-changelog, backport v9.0.x

#48142 Alerting: Ticker to support stopping
  pkg/services/alerting/engine.go
  pkg/services/alerting/ticker.go
  pkg/services/alerting/ticker_test.go
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/schedule/schedule.go
Labels: area/alerting, area/backend, no-backport, no-changelog, enterprise-failed

#50015 [WIP] Remove references to datasource password and basic auth password fields
  .betterer.results
  conf/provisioning/datasources/sample.yaml
  docs/sources/administration/provisioning.md
  docs/sources/datasources/alertmanager.md
  docs/sources/datasources/loki.md
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.test.tsx
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/testdata/all-properties/all-properties.yaml
  pkg/services/provisioning/datasources/testdata/all-properties/sample.yaml
  pkg/services/provisioning/datasources/testdata/broken-yaml/commented.yaml
  pkg/services/provisioning/datasources/testdata/version-0/version-0.yaml
  pkg/services/provisioning/datasources/types.go
  public/app/features/datasources/__mocks__/dataSourcesMocks.ts
  public/app/features/datasources/__snapshots__/DataSourcesListPage.test.tsx.snap
  public/app/features/datasources/mocks.ts
  public/app/features/datasources/state/navModel.ts
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
Labels: datasource/InfluxDB, type/docs, datasource/CloudWatch, area/backend, area/frontend, datasource/Azure, no-backport, no-changelog

#49890 DashList: Remove star z-index
  public/app/plugins/panel/dashlist/DashList.tsx
Labels: area/frontend, pr/external, no-changelog, backport v9.0.x

#49737 CloudWatch: Add multi-value template variable support for log group names in logs query builder
  .betterer.results
  public/app/plugins/datasource/cloudwatch/__mocks__/CloudWatchDataSource.ts
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.ts
Labels: datasource/CloudWatch, area/frontend, add to changelog, enterprise-ok, backport v8.5.x, backport v9.0.x

#50030 Tempo: Consider tempo search out of beta and remove beta badge and feature flags
  docs/sources/datasources/tempo.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/tempo/QueryEditor/QueryField.tsx
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/datasource.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, datasource/Tempo, no-backport, enterprise-ok

#50028 Tracing: Fix trace links in traces panel
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanLinks.tsx
Labels: type/bug, area/frontend, add to changelog, area/tracing, enterprise-ok, backport v9.0.x

#49962 sqlstore split: dashboard permissions
  pkg/api/alerting_test.go
  pkg/api/annotations_test.go
  pkg/api/api.go
  pkg/api/dashboard_public_config.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/index.go
  pkg/middleware/auth.go
  pkg/models/dashboards.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/acl.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/store_mock.go
  pkg/services/guardian/guardian.go
  pkg/services/guardian/guardian_test.go
  pkg/services/guardian/guardian_util_test.go
  pkg/services/guardian/provider.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_acl.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/store.go
  pkg/services/sqlstore/team_test.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#50038 Alerting: Remove double quotes from matchers
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
Labels: area/backend, add to changelog, backport v8.3.x, backport v8.4.x, enterprise-ok, backport v8.5.x, backport v9.0.x

#50043 Alerting: Remove double quotes from matchers
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, area/alerting/unified, backport

#50042 Alerting: Remove double quotes from matchers
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, area/alerting/unified, backport

#50044 Alerting: Remove double quotes from matchers
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, area/alerting/unified, backport

#50046 Alerting: Remove double quotes from matchers
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, area/alerting/unified, backport, enterprise-ok

#50034 API: Fix swagger specification
  Makefile
  pkg/api/docs/definitions/annotations.go
  pkg/api/docs/definitions/datasources.go
  public/api-merged.json
  public/api-spec.json
Labels: type/bug, type/build-packaging, area/backend, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#50024 devenv: loki: better fake logs
  devenv/docker/blocks/loki/data/data.js
Labels: no-backport, enterprise-ok, no-changelog

#49994 Convert packages/jaeger-ui-components/src/common/UiFindInput.test.js to RTL
  .betterer.results
  packages/jaeger-ui-components/src/common/UiFindInput.test.js
  packages/jaeger-ui-components/src/common/__snapshots__/UiFindInput.test.js.snap
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#50041 Convert packages/jaeger-ui-components/src/TraceTimelineViewer/Ticks.test.js to RTL
  .betterer.results
  packages/jaeger-ui-components/src/TraceTimelineViewer/Ticks.test.js
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#49790 Docs: minor fixes to developer docs
  contribute/architecture/backend/services.md
  contribute/architecture/frontend-data-requests.md
  contribute/developer-guide.md
Labels: type/docs, area/backend, no-backport, no-changelog, enterprise-failed

#50019 Loki: Do not produce histogram for instant queries
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, add to changelog, enterprise-ok, backport v9.0.x

#50062 Alerting: Remove Image Upload code from Slack notifier.
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/slack_test.go
Labels: area/alerting, area/backend, add to changelog, area/alerting/unified, enterprise-ok, backport v9.0.x

#50011 [v8.5.x]Encryption: Fix decrypting secrets with inactive DEKs
  pkg/services/secrets/database/database.go
Labels: area/backend, no-backport, no-changelog

#49887 Loki: Fix uncaught errors if `labelKey` contains special characters
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/mocks.ts
Labels: area/frontend, datasource/Loki, add to changelog, enterprise-ok, backport v9.0.x

#49978 Loki: add cookie-handling functionality
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/api_mock.go
  pkg/tsdb/loki/auth_test.go
  pkg/tsdb/loki/loki.go
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#50068 Update owners of Alert List panel
  .github/CODEOWNERS
Labels: no-backport, enterprise-ok, no-changelog

#50025 Draggable: only set drag handle props on the drag handle itself
  .betterer.results
  public/app/core/components/QueryOperationRow/QueryOperationRow.test.tsx
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/core/components/QueryOperationRow/QueryOperationRowHeader.tsx
  public/app/features/transformers/editors/OrganizeFieldsTransformerEditor.tsx
Labels: type/bug, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#50031 Alerting: Fix notification policy "Override grouping" form save
  public/app/features/alerting/unified/components/amroutes/AmRootRouteForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.test.ts
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.tsx
  public/app/features/alerting/unified/types/amroutes.ts
  public/app/features/alerting/unified/utils/amroutes.test.ts
  public/app/features/alerting/unified/utils/amroutes.ts
Labels: area/frontend, add to changelog, area/alerting/unified, enterprise-ok, backport v9.0.x

#50007 Prometheus: Show raw query by default in the builder
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderContainer.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderContainer.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
  public/app/plugins/datasource/loki/querybuilder/state.ts
  public/app/plugins/datasource/loki/types.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderContainer.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/state.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, enterprise-ok, no-changelog, backport v9.0.x

#50070 Prometheus/Loki: Add raw query and syntax highlight in explain mode
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderExplained.tsx
  public/app/plugins/datasource/loki/querybuilder/components/QueryPreview.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderExplained.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/QueryPreview.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationExplainedBox.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationListExplained.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/RawQuery.tsx
Labels: datasource/Prometheus, datasource/Loki, add to changelog, enterprise-ok, backport v9.0.x

#50058 Tracing: Deprecate opentracing
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/infra/tracing/tracing.go
Labels: type/docs, area/backend, add to changelog, enterprise-ok, backport v9.0.x

#49730 RBAC: Make RBAC action names more consistent
  docs/sources/developers/http_api/access_control.md
  docs/sources/developers/http_api/admin.md
  docs/sources/developers/http_api/licensing.md
  docs/sources/developers/http_api/org.md
  docs/sources/developers/http_api/user.md
  docs/sources/enterprise/access-control/about-rbac.md
  docs/sources/enterprise/access-control/custom-role-actions-scopes.md
  docs/sources/enterprise/access-control/manage-rbac-roles.md
  docs/sources/enterprise/access-control/plan-rbac-rollout-strategy.md
  docs/sources/enterprise/access-control/rbac-fixed-basic-role-definitions.md
  pkg/api/api.go
  pkg/api/org_users_test.go
  pkg/api/user.go
  pkg/models/team.go
  pkg/services/accesscontrol/filter.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
  pkg/services/guardian/guardian.go
  pkg/services/licensing/accesscontrol.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/database/database_test.go
  pkg/services/sqlstore/migrations/accesscontrol/action_migrator.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/team.go
  pkg/services/sqlstore/team_test.go
  pkg/services/sqlstore/user.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  public/app/features/admin/UserOrgs.tsx
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
  public/app/features/users/UsersTable.tsx
  public/app/types/accessControl.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, breaking change, area/backend/db/migration, enterprise-ok, backport v9.0.x

#47930 Alerting: Provisioning API - Alert rules
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/forked_provisioning.go
  pkg/services/ngalert/api/generated_base_api_alertmanager.go
  pkg/services/ngalert/api/generated_base_api_configuration.go
  pkg/services/ngalert/api/generated_base_api_prometheus.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/generated_base_api_testing.go
  pkg/services/ngalert/api/tooling/Makefile
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/testing.go
  pkg/services/ngalert/tests/util.go
Labels: area/backend, add to changelog, area/alerting/unified, enterprise-failed, backport v9.0.x

#49663 Add a section to the alerting documents for performance considerations
  docs/sources/alerting/_index.md
  docs/sources/alerting/performance.md
Labels: type/docs, area/alerting, area/alerting/unified, no-changelog, enterprise-failed, backport v9.0.x

#50069 Alerting: Fix alert list panel showing firing alerts with no instances
  public/app/plugins/panel/alertlist/AlertInstances.tsx
  public/app/plugins/panel/alertlist/UnifiedAlertList.tsx
Labels: area/alerting, area/frontend, add to changelog, area/alerting/unified, enterprise-ok, backport v8.5.x, backport v9.0.x

#49802 Explore: Integration test for editing query history comment
  public/app/features/explore/spec/helper/assert.ts
  public/app/features/explore/spec/helper/interactions.ts
  public/app/features/explore/spec/queryHistory.test.tsx
Labels: type/tech, area/explore, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#49899 Query History: Do not show "load more" button when query history item is deleted
  public/app/features/explore/state/history.ts
Labels: area/explore, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#49896 Query History: Hide query history when anonymous user uses Explore
  public/app/core/history/richHistoryStorageProvider.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/SecondaryActions.test.tsx
  public/app/features/explore/SecondaryActions.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
Labels: area/explore, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#48120 API: Migrate CSRF to service and support additional options
  pkg/api/http_server.go
  pkg/middleware/csrf.go
  pkg/middleware/csrf/csrf.go
  pkg/middleware/csrf/csrf_test.go
  pkg/server/wire.go
Labels: area/backend, add to changelog, enterprise-ok, backport v8.5.x

#49967 Dashboards: Split GetDashboardVersions method
  pkg/api/dashboard.go
  pkg/services/dashboardversion/dashver.go
  pkg/services/dashboardversion/dashverimpl/dashver.go
  pkg/services/dashboardversion/dashverimpl/dashver_test.go
  pkg/services/dashboardversion/dashverimpl/store.go
  pkg/services/dashboardversion/dashverimpl/store_test.go
  pkg/services/dashboardversion/dashvertest/fake.go
  pkg/services/dashboardversion/model.go
  pkg/services/preference/pref.go
  pkg/services/sqlstore/dashboard_thumbs_test.go
  pkg/services/sqlstore/dashboard_version.go
  pkg/services/sqlstore/dashboard_version_test.go
  pkg/services/sqlstore/db/db.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#50091 backend/sqlstore: move GetDashboardTags to dashboard service
  pkg/api/dashboard.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#50104 [v8.5.x]: API: Migrate CSRF to service and support additional options
  pkg/api/http_server.go
  pkg/middleware/csrf.go
  pkg/middleware/csrf/csrf.go
  pkg/middleware/csrf/csrf_test.go
  pkg/server/wire.go
Labels: backport, no-changelog

#49698 Alerting: Filter folders based on users' permissions
  public/app/core/components/Select/FolderPicker.test.tsx
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/DetailsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleFolderPicker.tsx
  public/app/features/alerting/unified/hooks/useIsRuleEditable.test.tsx
  public/app/features/alerting/unified/hooks/useIsRuleEditable.ts
  public/app/features/manage-dashboards/state/actions.ts
  public/app/features/search/types.ts
Labels: area/frontend, area/alerting/unified, enterprise-ok, no-changelog, backport v9.0.x

#50059 SearchV2: include appSubUrl in the response URL
  pkg/services/searchV2/bluge.go
  pkg/services/searchV2/index_test.go
  pkg/services/searchV2/service.go
  pkg/services/searchV2/testdata/basic-search.txt
  pkg/services/searchV2/testdata/dashboard-create.txt
  pkg/services/searchV2/testdata/dashboard-update.txt
  pkg/services/searchV2/testdata/multiple-tokens-beginning-lower.txt
  pkg/services/searchV2/testdata/multiple-tokens-beginning.txt
  pkg/services/searchV2/testdata/multiple-tokens-middle-lower.txt
  pkg/services/searchV2/testdata/multiple-tokens-middle.txt
  pkg/services/searchV2/testdata/prefix-search-beginning-lower.txt
  pkg/services/searchV2/testdata/prefix-search-beginning.txt
  pkg/services/searchV2/testdata/prefix-search-middle-lower.txt
  pkg/services/searchV2/testdata/prefix-search-middle.txt
  pkg/services/searchV2/testdata/prefix-search-ngram-exceeded.txt
  pkg/services/searchV2/testdata/scattered-tokens-match-reversed.txt
  pkg/services/searchV2/testdata/scattered-tokens-match.txt
  pkg/services/searchV2/testdata/sort-asc.txt
  pkg/services/searchV2/testdata/sort-desc.txt
Labels: area/search, area/backend, no-changelog, enterprise-failed, backport v9.0.x

#49637 TestData: Add schema-based form for simulation
  public/app/plugins/datasource/testdata/components/SimulationQueryEditor.tsx
  public/app/plugins/datasource/testdata/components/SimulationSchemaForm.tsx
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#50120 Chore: Remove last build tag
  pkg/services/accesscontrol/accesscontrol_bench_test.go
Labels: area/backend, no-backport, no-changelog

#50121 Search (SQL): support dashboardUID query parameter
  pkg/api/search.go
  pkg/models/search.go
  pkg/services/dashboards/database/database.go
  pkg/services/search/service.go
  pkg/services/sqlstore/searchstore/filters.go
  public/app/features/search/service/sql.ts
Labels: area/search, area/backend, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#46606 Docs: Add documentation for reporting.enabled config option
  docs/sources/enterprise/reporting.md
Labels: type/docs, backport v8.5.x, no-changelog, enterprise-failed

#50124 Search: exclude rows from search index
  pkg/services/searchV2/bluge.go
Labels: area/search, area/backend, enterprise-ok, no-changelog, backport v9.0.x

#49131 public dashboards: insert default public dashboard config into database on save
  pkg/api/api.go
  pkg/api/dashboard_public.go
  pkg/api/dashboard_public_config.go
  pkg/api/dashboard_public_config_test.go
  pkg/api/dashboard_public_test.go
  pkg/models/dashboards.go
  pkg/models/dashboards_public.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_dashboard_public.go
  pkg/services/dashboards/database/database_dashboard_public_test.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_public.go
  pkg/services/dashboards/service/dashboard_public_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
  pkg/services/sqlstore/migrations/dashboard_public_config_mig.go
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard.test.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboardUtils.test.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboardUtils.ts
Labels: area/backend, area/frontend, area/backend/db/migration, no-backport, enterprise-ok, no-changelog

#48946 AzureMonitor: add NewDimension component using experimental UI
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/NewDimensionFields.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.tsx
Labels: area/frontend, datasource/Azure, no-changelog, enterprise-failed, backport v9.0.x

#50092 SearchV2: Use location to remove index entities
  pkg/api/folder.go
  pkg/services/searchV2/bluge.go
  pkg/services/searchV2/index.go
  pkg/services/searchV2/index_test.go
  pkg/services/store/entity_events.go
Labels: area/backend

#50048 Chore: Remove Wrap
  pkg/api/login.go
  pkg/api/plugin_resource.go
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/services/api_client.go
  pkg/cmd/grafana-cli/utils/grafana_path.go
  pkg/expr/nodes.go
  pkg/infra/remotecache/redis_storage.go
  pkg/login/ldap_login.go
  pkg/login/social/common.go
  pkg/login/social/generic_oauth.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/manager/client.go
  pkg/plugins/manager/installer/installer.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/services/alerting/conditions/query.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/ldap/settings.go
  pkg/services/live/liveplugin/plugin.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/values/values.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/sqlstore.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/cloudwatch/annotation_query.go
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/sqleng/sql_engine.go
Labels: datasource/CloudWatch, area/backend, datasource/Azure, no-backport, no-changelog, enterprise-failed

#50100 Cloudwatch: Add template variable query function for listing log groups
  docs/sources/datasources/aws-cloudwatch/template-queries-cloudwatch.md
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableTextField.tsx
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/cloudwatch/variables.test.ts
  public/app/plugins/datasource/cloudwatch/variables.ts
Labels: type/docs, datasource/CloudWatch, area/frontend, add to changelog, mob session, backport v8.5.x, enterprise-failed

#49997 Plugins Catalog: Make tabs position consistent with other Grafana pages
  public/app/features/plugins/admin/pages/PluginDetails.tsx
Labels: type/bug, area/frontend, area/plugins-catalog, enterprise-ok, no-changelog, backport v9.0.x

#50140 Service accounts: Use new icon
  pkg/api/index.go
  public/img/icons/custom/gf-service-account.svg
Labels: area/backend, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#50089 Alerting: allow custom UID for contact points through API
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_contactpoints.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x

#50135 loki: handle ad hoc filters in backend mode
  devenv/docker/blocks/loki/data/data.js
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, enterprise-ok, no-changelog, backport v9.0.x

#49776 Tempo: Add link to Tempo Search with node service selected
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: area/explore, area/frontend, add to changelog, datasource/Tempo, no-backport, enterprise-ok

#50142 Alerting: Prevent query wrapper recreation on drag/drop
  public/app/features/alerting/unified/components/rule-editor/QueryRows.tsx
Labels: type/bug, area/frontend, area/alerting/unified, enterprise-ok, no-changelog, backport v9.0.x

#50139 [v9.0.x] Query History: Hide query history when anonymous user uses Explore (#49896)
  public/app/core/history/richHistoryStorageProvider.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/SecondaryActions.test.tsx
  public/app/features/explore/SecondaryActions.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
Labels: area/explore, area/frontend, backport, enterprise-ok, no-changelog

#50071 API: Fix swagger generation
  Makefile
  public/api-merged.json
  public/api-spec.json
Labels: type/build-packaging, area/frontend, no-backport, enterprise-ok, no-changelog

#50088 gitlab oauth: account for role_attribute_path_strict
  pkg/login/social/gitlab_oauth.go
  pkg/login/social/social.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x

#47200 Plugins: Introduce Plugin Registry
  pkg/plugins/backendplugin/errors.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/client.go
  pkg/plugins/manager/dashboard_file_store_test.go
  pkg/plugins/manager/installer/ifaces.go
  pkg/plugins/manager/installer/installer.go
  pkg/plugins/manager/loader/ifaces.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/manager_test.go
  pkg/plugins/manager/registry/ifaces.go
  pkg/plugins/manager/registry/in_memory.go
  pkg/plugins/manager/registry/in_memory_test.go
  pkg/plugins/manager/store.go
  pkg/server/wire.go
Labels: area/plugins, area/backend/plugins, area/backend, no-backport, enterprise-ok, no-changelog

#49147 Add role_attribute_path and role_attribute_path_strict to auth.gitlab
  conf/defaults.ini
Labels: pr/external, no-changelog, backport v9.0.x

#50156 Alerting: Fix folder filtering for existing alert rule
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/DetailsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleFolderPicker.tsx
  public/app/features/alerting/unified/types/rule-form.ts
Labels: area/frontend, area/alerting/unified, enterprise-ok, no-changelog, backport v9.0.x

#50159 Alerting: Use correct permission scope for external AM updates
  pkg/services/ngalert/api/authorization.go
Labels: type/bug, area/alerting, area/backend, add to changelog, area/alerting/unified, enterprise-ok, area/auth/rbac, backport v9.0.x

#50093 Alerting: Make folder filter clearable in Alert list panel
  public/app/core/components/Select/FolderPicker.tsx
  public/app/plugins/panel/alertlist/module.tsx
Labels: area/panel/alertlist, area/frontend, add to changelog, area/alerting/unified, enterprise-ok, backport v9.0.x

#50161 [v8.5.x] Cloudwatch: Add template variable query function for listing log grou…
  docs/sources/datasources/aws-cloudwatch/template-queries-cloudwatch.md
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableTextField.tsx
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/cloudwatch/variables.test.ts
  public/app/plugins/datasource/cloudwatch/variables.ts
Labels: type/docs, datasource/CloudWatch, area/frontend, no-backport, no-changelog

#50090 Encryption: Stop decrypting EE encrypted secrets with legacy encryption
  pkg/services/secrets/manager/manager.go
Labels: area/backend, enterprise-ok, backport v8.5.x, no-changelog

#50175 SearchV2: add CTA and reporting to new search UI
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/page/components/SearchView.tsx
  public/app/features/search/page/reporting.ts
  public/app/features/search/service/bluge.ts
  public/app/features/search/service/sql.ts
  public/app/features/search/service/utils.ts
Labels: area/search, area/frontend, no-changelog, backport v9.0.x

#49524 SearchV2: Fix Move and Delete not updating list in folder view
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/page/components/SearchView.tsx
  public/app/features/search/page/components/columns.tsx
Labels: area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#50176 [v8.5.x] Encryption: Stop decrypting EE encrypted secrets with legacy encryption
  pkg/services/secrets/manager/manager.go
Labels: area/backend, no-backport, no-changelog

#49987 Datasource: Remove support for unencrypted passwords
  .betterer.results
  conf/provisioning/datasources/sample.yaml
  docs/sources/administration/provisioning.md
  docs/sources/datasources/alertmanager.md
  docs/sources/datasources/loki.md
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.test.tsx
  pkg/api/datasources.go
  pkg/api/dtos/datasource.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/models/datasource.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/testdata/all-properties/all-properties.yaml
  pkg/services/provisioning/datasources/testdata/all-properties/sample.yaml
  pkg/services/provisioning/datasources/testdata/broken-yaml/commented.yaml
  pkg/services/provisioning/datasources/testdata/version-0/version-0.yaml
  pkg/services/provisioning/datasources/types.go
  pkg/services/sqlstore/datasource.go
  public/api-merged.json
  public/api-spec.json
  public/app/features/datasources/__mocks__/dataSourcesMocks.ts
  public/app/features/datasources/__snapshots__/DataSourcesListPage.test.tsx.snap
  public/app/features/datasources/mocks.ts
  public/app/features/datasources/state/navModel.ts
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
Labels: datasource/InfluxDB, type/docs, type/build-packaging, datasource/CloudWatch, area/backend, area/frontend, datasource/Azure, add to changelog, breaking change, enterprise-ok, backport v9.0.x

#50184 [9.0.x] Backport of 49987 to v9.0.x
  .betterer.results
  conf/provisioning/datasources/sample.yaml
  docs/sources/administration/provisioning.md
  docs/sources/datasources/alertmanager.md
  docs/sources/datasources/loki.md
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.story.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.test.tsx
  pkg/api/datasources.go
  pkg/api/dtos/datasource.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/models/datasource.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/testdata/all-properties/all-properties.yaml
  pkg/services/provisioning/datasources/testdata/all-properties/sample.yaml
  pkg/services/provisioning/datasources/testdata/broken-yaml/commented.yaml
  pkg/services/provisioning/datasources/testdata/version-0/version-0.yaml
  pkg/services/provisioning/datasources/types.go
  pkg/services/sqlstore/datasource.go
  public/api-merged.json
  public/api-spec.json
  public/app/features/datasources/__mocks__/dataSourcesMocks.ts
  public/app/features/datasources/__snapshots__/DataSourcesListPage.test.tsx.snap
  public/app/features/datasources/mocks.ts
  public/app/features/datasources/state/navModel.ts
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/ConfigEditor.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/__snapshots__/ConfigEditor.test.tsx.snap
Labels: datasource/InfluxDB, type/docs, datasource/CloudWatch, area/backend, area/frontend, datasource/Azure, backport, no-backport, no-changelog

#50181 Revert "[v9.0.x] Loki: Do not produce histogram for instant queries"
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, backport, enterprise-ok, no-changelog

#50149 Alerting: add mute timings provenance to config api
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_mute_timings.go
  pkg/services/ngalert/notifier/alertmanager_config.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x

#49921 Prometheus: Migrate metadata queries to use resource calls
  pkg/tsdb/prometheus/client/client.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/resource/resource.go
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
Labels: datasource/Prometheus, area/backend, area/frontend, add to changelog, no-backport, enterprise-failed

#50192 Alerting: Update alert rule diff to not see difference between nil and empty map
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
Labels: area/backend, area/alerting/unified, no-changelog, backport v9.0.x

#50001 SearchV2: instant local updates, folder events
  pkg/api/folder.go
  pkg/services/searchV2/bluge.go
  pkg/services/searchV2/index.go
  pkg/services/searchV2/index_test.go
  pkg/services/searchV2/testdata/folders-dashboard-removed-on-folder-removed.jsonc
  pkg/services/searchV2/testdata/folders-indexed.jsonc
  pkg/services/searchV2/testdata/panels-panel-removed-on-dashboard-removed.jsonc
  pkg/services/store/entity_events.go
  pkg/services/store/entity_events_mock.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x

#50054 State Timeline: Fix Null Value Filling and Value Transformation
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.test.ts
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.ts
  packages/grafana-ui/src/components/GraphNG/nullToValue.test.ts
  packages/grafana-ui/src/components/GraphNG/nullToValue.ts
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/Sparkline/utils.ts
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/state-timeline/utils.test.ts
  public/app/plugins/panel/state-timeline/utils.ts
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
Labels: area/frontend, add to changelog, backport v8.5.x, enterprise-failed, backport v9.0.x

#50198 [9.0.x] Alerting: Update alert rule diff to not see difference between nil and empty map
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
Labels: area/backend, add to changelog, backport, enterprise-ok

#47774 SQLStore: Prevent migration_id duplicates
  pkg/services/sqlstore/migrations/datasource_mig.go
  pkg/services/sqlstore/migrator/migrator.go
Labels: area/backend, area/backend/db/sql, area/backend/db/migration, no-backport, enterprise-ok, no-changelog

#49969 HeatmapNG: add log scale calculation
  devenv/dev-dashboards/panel-heatmap/heatmap-calculate-log.json
  packages/grafana-ui/src/options/builder/axis.tsx
  public/app/features/transformers/calculateHeatmap/HeatmapTransformerEditor.tsx
  public/app/features/transformers/calculateHeatmap/editor/AxisEditor.tsx
  public/app/features/transformers/calculateHeatmap/editor/helper.ts
  public/app/features/transformers/calculateHeatmap/heatmap.test.ts
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/features/transformers/calculateHeatmap/models.gen.ts
  public/app/plugins/panel/heatmap-new/HeatmapHoverView.tsx
  public/app/plugins/panel/heatmap-new/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap-new/fields.ts
  public/app/plugins/panel/heatmap-new/migrations.test.ts
  public/app/plugins/panel/heatmap-new/migrations.ts
  public/app/plugins/panel/heatmap-new/models.gen.ts
  public/app/plugins/panel/heatmap-new/module.tsx
  public/app/plugins/panel/heatmap-new/utils.ts
Labels: area/panel/heatmap, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#50193 Alerting: only delete mute time if not used by route
  pkg/services/ngalert/provisioning/mute_timings.go
  pkg/services/ngalert/provisioning/mute_timings_test.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x

#49848 Encryption: Fix multiple data keys migration
  pkg/services/datasources/datasources.go
  pkg/services/secrets/database/database.go
  pkg/services/secrets/fakes/fake_store.go
  pkg/services/secrets/manager/cache.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/manager_test.go
  pkg/services/secrets/secrets.go
  pkg/services/secrets/types.go
  pkg/services/sqlstore/migrations/secrets_mig.go
Labels: area/backend, area/backend/db/migration, enterprise-ok, no-changelog, backport v9.0.x

#50208 strip null from new heatmap dashboard definition
  devenv/dev-dashboards/panel-heatmap/heatmap-calculate-log.json
Labels: enterprise-ok, no-changelog, backport v9.0.x

#50147 Alerting: Add provenance guard to config api
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/api_alertmanager_guards.go
  pkg/services/ngalert/api/api_alertmanager_guards_test.go
Labels: area/backend, add to changelog, enterprise-ok, backport v9.0.x

#50167 Alerting: remove feature toggle for provisioning API
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_contactpoints.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_mute_timings.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_policies.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_templates.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/notifier/alertmanager_config.go
  pkg/services/ngalert/tests/util.go
  pkg/tests/api/alerting/api_provisioning_test.go
Labels: area/backend, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#50216 Prometheus: Fix resource call panic
  pkg/tsdb/prometheus/resource/resource.go
Labels: datasource/Prometheus, area/backend, enterprise-ok, no-changelog, backport v9.0.x

#50210 SearchV2: explicit dashboard loading order and cleanups
  pkg/services/searchV2/bluge.go
  pkg/services/searchV2/index.go
  public/app/features/search/page/components/columns.tsx
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
Labels: area/backend, area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#50223 Chore: uPlot 1.6.21
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/panel/heatmap, area/frontend, area/panel/timeseries, enterprise-ok, no-changelog, backport v9.0.x

#50182 Revert "Loki: Do not produce histogram for instant queries"
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#50130 Previews: update docs for the new search layout
  docs/sources/dashboards/previews.md
Labels: type/docs, area/dashboard/previews, no-changelog, enterprise-failed, backport v9.0.x

#50204 HeatmapNG: cell value filtering and color clamping
  devenv/dev-dashboards/panel-heatmap/heatmap-calculate-log.json
  public/app/core/components/ColorScale/ColorScale.tsx
  public/app/features/transformers/calculateHeatmap/editor/AxisEditor.tsx
  public/app/features/transformers/calculateHeatmap/heatmap.test.ts
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/plugins/panel/heatmap-new/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap-new/fields.ts
  public/app/plugins/panel/heatmap-new/img/icn-heatmap-panel.svg
  public/app/plugins/panel/heatmap-new/migrations.test.ts
  public/app/plugins/panel/heatmap-new/migrations.ts
  public/app/plugins/panel/heatmap-new/models.gen.ts
  public/app/plugins/panel/heatmap-new/module.tsx
  public/app/plugins/panel/heatmap-new/plugin.json
  public/app/plugins/panel/heatmap-new/utils.ts
Labels: area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#49619 Loki: Add user analytics for query editor mode
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
Labels: area/frontend, datasource/Loki, enterprise-ok, no-changelog, backport v9.0.x

#50218 Expression: Filter query, mixed mode fixes and panel error message
  packages/grafana-runtime/src/components/DataSourcePicker.tsx
  packages/grafana-runtime/src/utils/toDataQueryError.ts
  public/app/features/expressions/ExpressionDatasource.ts
  public/app/features/expressions/ExpressionQueryEditor.tsx
  public/app/features/expressions/components/Math.tsx
Labels: area/frontend, enterprise-ok, backport v8.5.x, no-changelog, backport v9.0.x

#50228 SaveDashboardForm: Ensure saveTimerange is a boolean
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
Labels: area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#50187 RBAC: change migration logic
  pkg/services/sqlstore/migrations/accesscontrol/action_migrator.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/migrations/accesscontrol/test/action_migrator_test.go
Labels: area/backend, area/backend/db/migration, no-changelog, enterprise-failed, backport v9.0.x

#50253 Dependencies: Update to Golang version `1.17.11`
  .drone.yml
  Dockerfile
  Dockerfile.ubuntu
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: add to changelog, enterprise-failed, backport v9.0.x

#50252 Chore: convert DashboardsTable test to RTL
  .betterer.results
  public/app/features/datasources/DashboardsTable.test.tsx
  public/app/features/datasources/DashboardsTable.tsx
  public/app/features/datasources/__snapshots__/DashboardsTable.test.tsx.snap
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#50256 Chore: remove exported test globals from `test/lib/common`
  .betterer.results
  e2e/panels-suite/panelEdit_queries.spec.ts
  packages/grafana-ui/src/components/CallToActionCard/CallToActionCard.test.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.test.tsx
  public/app/core/components/Select/MetricSelect.test.tsx
  public/app/core/history/RichHistoryLocalStorage.test.ts
  public/app/core/reducers/root.test.ts
  public/app/core/services/FetchQueueWorker.test.ts
  public/app/core/services/ResponseQueue.test.ts
  public/app/core/specs/search_srv.test.ts
  public/app/features/dashboard/components/SubMenu/DashboardLinksDashboard.test.tsx
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardModel.refresh.test.ts
  public/app/features/dashboard/state/DashboardModel.repeat.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/variables/interval/actions.test.ts
  public/app/features/variables/query/QueryVariableEditor.test.tsx
  public/app/features/variables/query/actions.test.tsx
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/panel/heatmap/specs/heatmap_data_converter.test.ts
  public/test/lib/common.ts
Labels: area/dashboard/templating, type/chore, datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#49992 Convert packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.test.js to RTL
  .betterer.results
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.markers.tsx
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.test.js
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.tsx
  public/app/features/explore/TraceView/TraceViewContainer.test.tsx
Labels: area/explore, area/frontend, no-backport, enterprise-ok, no-changelog

#50074 Traces: Do not use red in span colors as this looks like an error
  packages/jaeger-ui-components/src/utils/color-generator.test.js
  packages/jaeger-ui-components/src/utils/color-generator.tsx
Labels: area/frontend, add to changelog, datasource/Tempo, no-backport, enterprise-ok

#50128 Chore: Remove Wrapf
  pkg/api/http_server.go
  pkg/cmd/grafana-cli/commands/datamigrations/encrypt_datasource_passwords.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/infra/filestorage/db_filestorage.go
  pkg/infra/log/log.go
  pkg/login/social/azuread_oauth.go
  pkg/login/social/common.go
  pkg/login/social/okta_oauth.go
  pkg/plugins/manager/installer/installer.go
  pkg/services/alerting/conditions/query.go
  pkg/services/dashboards/database/database_dashboard_public.go
  pkg/services/notifications/smtp.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/transactions.go
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/testdatasource/scenarios.go
  pkg/util/errutil/errors.go
  pkg/util/ip_address.go
Labels: datasource/CloudWatch, datasource/Postgres, area/backend, no-backport, enterprise-ok, no-changelog

#50269 Owensmallwood/pubdash get public dashboard definition
  pkg/api/dashboard_public.go
  pkg/api/dashboard_public_test.go
  public/app/core/services/backend_srv.ts
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
  public/app/features/dashboard/state/initDashboard.ts
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#50264 Fix Reporter GetDiffsForField
  pkg/util/cmputil/reporter.go
  pkg/util/cmputil/reporter_test.go
Labels: area/backend, no-backport, no-changelog

#50227 Search: fix clear filter button
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/ManageDashboardsNew.tsx
  public/app/features/search/page/components/SearchView.tsx
Labels: area/search, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#50005 Prometheus, Loki: Update run queries button
  docs/sources/datasources/loki.md
  docs/sources/datasources/prometheus.md
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
Labels: type/docs, datasource/Prometheus, area/frontend, datasource/Loki, enterprise-ok, no-changelog, backport v9.0.x

#50110 RBAC: Add scope resolvers for dashboards
  pkg/api/common_test.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder_permission_test.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/scope.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/dashboards/accesscontrol_test.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/service/folder_service.go
  pkg/services/dashboards/service/folder_service_test.go
  pkg/services/dashboards/store_mock.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog, area/auth/rbac

#49517 devenv: elastic: fixed docker-compose syntax
  devenv/docker/blocks/elastic/docker-compose.yaml
Labels: no-backport, enterprise-ok, no-changelog

#49463 CloudWatch: Dynamic label documentation
  docs/sources/datasources/aws-cloudwatch/_index.md
Labels: type/docs, datasource/CloudWatch, no-changelog, enterprise-failed, backport v9.0.x

#50285 `DashboardList`: Add back a lower z-index to the stars
  public/app/plugins/panel/dashlist/DashList.tsx
Labels: area/frontend, enterprise-ok, no-changelog, backport v9.0.x

#49334 Docs: update license restrictions
  docs/sources/enterprise/license/license-restrictions.md
Labels: type/docs, no-changelog, backport v9.0.x

#50117 Formatting: Make SI number formats more robust
  packages/grafana-data/src/valueFormats/symbolFormatters.test.ts
  packages/grafana-data/src/valueFormats/symbolFormatters.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
Labels: area/frontend, add to changelog, oss-user-essentials, enterprise-failed, backport v9.0.x

#49986 docs: describe cookie handling in backend data source plugins
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
Labels: type/docs, no-changelog, backport v9.0.x

#50291 RBAC: Remove workaround to check permissions on folders for dashboard actions
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/accesscontrol/resourcepermissions/options.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog, area/auth/rbac

#50248 Loki: Add more query patterns
  public/app/plugins/datasource/loki/querybuilder/LokiQueryModeller.ts
Labels: area/frontend, datasource/Loki, add to changelog, enterprise-ok, backport v9.0.x

#50283 [v9.0.x] Search: fix 'Clear filters' button (#50227)
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/ManageDashboardsNew.tsx
  public/app/features/search/page/components/SearchView.tsx
Labels: area/frontend, backport, no-changelog, enterprise-failed

#49931 Logs: handle clicks on legend labels in histogram
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/Logs.test.tsx
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/LogsVolumePanel.test.tsx
  public/app/features/explore/LogsVolumePanel.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog, enterprise-failed, backport v9.0.x

#50113 Tracing: Fix links to traces in Explore
  .betterer.results
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianReferences.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianReferences.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  packages/jaeger-ui-components/src/url/ReferenceLink.test.js
  packages/jaeger-ui-components/src/url/ReferenceLink.tsx
  packages/jaeger-ui-components/src/url/externalLinkContext.tsx
  public/app/features/explore/TraceView/TraceView.tsx
Labels: type/bug, area/explore, area/frontend, add to changelog, area/tracing, enterprise-ok, backport v9.0.x

#50300 Chore: ignore deps blocked by react 18 for now
  .github/renovate.json5
Labels: no-backport, enterprise-ok, no-changelog

#50321 ReleaseNotes: Updated changelog and release notes for 9.0.0-beta3 (#5…
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-9-0-0-beta3.md
Labels: type/docs, no-backport, no-changelog

#50178 clean up duplicated user creation code
  pkg/api/org_users_test.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/sqlstore/org.go
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/plugins/api_plugins_test.go
Labels: type/cleanup, area/backend, no-changelog, enterprise-failed, backport v9.0.x

#50324 Chore: update latest testing version in latest.json
  latest.json
Labels: no-backport, no-changelog

#50304 RBAC: docs, update alerting.rules write permission
  docs/sources/enterprise/access-control/rbac-fixed-basic-role-definitions.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#49874 Alerting: Fix database unavailable removes rules from scheduler
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/metrics/ngalert.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/schedule/fetcher_test.go
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/registry_test.go
  pkg/services/ngalert/schedule/schedule.go
Labels: area/backend, add to changelog, enterprise-failed, backport v9.0.x

#50338 Chore: Convert ReferenceLink.test.js to RTL
  .betterer.results
  packages/jaeger-ui-components/src/url/ReferenceLink.test.tsx
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#50313 Plugins: Separate manager read/write components
  pkg/api/http_server.go
  pkg/api/plugins.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/registry/in_memory_test.go
  pkg/server/wire.go
Labels: area/plugins, type/refactor, area/backend, no-backport, enterprise-ok, no-changelog

#50355 Backport 50340 to v8.5.x
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-5-5.md
Labels: type/docs, no-backport, no-changelog

#50357 Chore: update latest stable 8.5.5
  latest.json
Labels: no-backport, no-changelog

#50333 Alerting: Logs should not be capitalized and the errors key should be "err"
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/channels/alertmanager.go
  pkg/services/ngalert/notifier/channels/dingding.go
  pkg/services/ngalert/notifier/channels/discord.go
  pkg/services/ngalert/notifier/channels/email.go
  pkg/services/ngalert/notifier/channels/googlechat.go
  pkg/services/ngalert/notifier/channels/kafka.go
  pkg/services/ngalert/notifier/channels/line.go
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pushover.go
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/threema.go
  pkg/services/ngalert/notifier/channels/utils.go
  pkg/services/ngalert/notifier/channels/victorops.go
  pkg/services/ngalert/notifier/channels/wecom.go
  pkg/services/ngalert/notifier/crypto.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/store/alert_rule.go
Labels: area/backend, enterprise-ok, no-changelog, backport v9.0.x
