Repository grafana/grafana, pull requests merged in 2022-03, with the labels that each got.

#45996 Histogram: auto-skip x tick labels to avoid overlap
  public/app/plugins/panel/histogram/Histogram.tsx
Labels: type/bug, area/frontend, area/panel/histogram, backport v8.3.x, backport v8.4.x

#45929 Service Accounts: Link final components in service accounts detail page
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/token.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  public/app/features/serviceaccounts/ServiceAccountPage.tsx
  public/app/features/serviceaccounts/ServiceAccountProfile.tsx
  public/app/features/serviceaccounts/ServiceAccountRoleRow.tsx
  public/app/features/serviceaccounts/state/actions.ts
Labels: area/backend, area/frontend, no-backport

#45968 Access control: Filter users and teams by read permissions
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/database/resource_permissions.go
  pkg/services/accesscontrol/database/resource_permissions_test.go
  pkg/services/accesscontrol/filter.go
  pkg/services/accesscontrol/mock/service_mock.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/types/models.go
Labels: area/backend, area/accesscontrol, no-backport

#46018 Switching to github.event.number as issue.number not always work
  .github/workflows/pr-checks.yml
  .github/workflows/pr-commands-closed.yml
  .github/workflows/pr-commands.yml
Labels: backport v8.3.x, backport v8.4.x

#46016 Making yarn.lock bump work
  .github/workflows/bump-version.yml
Labels: backport v8.3.x, backport v8.4.x

#45745 Chore: Add function documentation for new functions (Prometheus visual query editor)
  public/app/plugins/datasource/prometheus/promql.ts
Labels: datasource/Prometheus, area/frontend, no-backport

#46017 Prometheus: Tweaks to operation boxes
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationName.tsx
Labels: datasource/Prometheus, area/frontend, no-backport

#46006 Prometheus: Query builder operation docs popover improvements
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationInfoButton.tsx
Labels: datasource/Prometheus, area/frontend, no-backport

#46023 Alerting: Revert "Alerting: Calculate diff for two AlertRules"
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/services/ngalert/models/testing.go
  pkg/util/cmputil/reporter.go
Labels: area/backend, no-backport

#45957 [v8.4.x] CloudWatch: Remove error message when using multi-valued template vars in region field
  public/app/plugins/datasource/cloudwatch/__mocks__/CloudWatchDataSource.ts
  public/app/plugins/datasource/cloudwatch/components/QueryHeader.tsx
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: datasource/CloudWatch, area/frontend, backport

#46029 ReleaseNotes: Updated changelog and release notes for 8.3.7 (#46028)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-3-7.md
Labels: type/docs

#45990 (GitHubActions) Add grafana-partners team label to team board
  .github/commands.json
Labels: no-backport, team/grafana-partners

#46036 Docs update default.ini file description
  docs/sources/administration/configuration.md
  docs/sources/alerting/unified-alerting/alerting-rules/alert-annotation-label.md
  docs/sources/alerting/unified-alerting/notifications/_index.md
  docs/sources/alerting/unified-alerting/notifications/mute-timings.md
Labels: backport v8.4.x

#46034 Alerting: Revert Revert "Alerting: Calculate diff for two AlertRules"
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/services/ngalert/models/testing.go
  pkg/util/cmputil/reporter.go
Labels: area/backend, area/alerting/unified, no-backport

#43484 Alerting: Add integration tests for dual-stage email templating
  pkg/services/ngalert/notifier/channels/email_test.go
  pkg/services/notifications/notifications.go
Labels: area/backend, stale, area/alerting/unified, no-backport

#46011 Alerting: Fix use of > instead of >= when checking the For duration
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/alerting, area/backend, add to changelog, backport v8.4.x

#46043 Docs: Fix typo in Forward OAuth identity for the logged-in user section
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
Labels: type/docs, backport v8.4.x

#42804 Loki: support live streaming
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_query.go
  pkg/tsdb/loki/streaming.go
  pkg/tsdb/loki/streaming_frame.go
  pkg/tsdb/loki/streaming_frame_test.go
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/streaming.ts
  public/app/plugins/datasource/loki/types.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport

#46069 Graph (old): use timeField.config.interval to apply null insertion logic
  public/app/plugins/panel/graph/data_processor.ts
Labels: type/bug, prio/high, area/panel/graph, area/frontend, type/regression, backport v8.4.x

#46071 FileStore: add dummy implementation
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/infra/filestorage/api.go
  pkg/infra/filestorage/api_test.go
  pkg/infra/filestorage/dummy.go
  pkg/infra/filestorage/filestorage.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/sqlstore/sqlstore.go
Labels: area/backend, area/frontend, no-backport

#45926 use alerting service instead of store in provisioning
  pkg/services/provisioning/notifiers/alert_notifications.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/provisioning/provisioning.go
Labels: area/backend, no-backport

#46024 Dashboard Extractor: Don't fail when using default OSS implementation
  pkg/api/datasources.go
  pkg/services/alerting/extractor.go
  pkg/services/alerting/extractor_test.go
  pkg/services/datasources/permissions/datasource_permissions.go
  pkg/services/datasources/permissions/datasource_permissions_mocks.go
Labels: area/backend, no-backport

#45824 CI: Introduce `build-frontend-packages` step
  .drone.yml
  scripts/drone/pipelines/docs.star
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: area/frontend, type/ci, backport v8.3.x, backport v8.4.x

#46082 Chore: Update stale.yml
  .github/workflows/stale.yml
Labels: type/chore, no-backport

#46031 Alerting: Fix silence url in notifications
  pkg/services/ngalert/notifier/channels/default_template_test.go
  pkg/services/ngalert/notifier/channels/dingding_test.go
  pkg/services/ngalert/notifier/channels/discord_test.go
  pkg/services/ngalert/notifier/channels/email_test.go
  pkg/services/ngalert/notifier/channels/googlechat_test.go
  pkg/services/ngalert/notifier/channels/kafka_test.go
  pkg/services/ngalert/notifier/channels/line_test.go
  pkg/services/ngalert/notifier/channels/opsgenie_test.go
  pkg/services/ngalert/notifier/channels/pagerduty_test.go
  pkg/services/ngalert/notifier/channels/pushover_test.go
  pkg/services/ngalert/notifier/channels/sensugo_test.go
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/services/ngalert/notifier/channels/teams_test.go
  pkg/services/ngalert/notifier/channels/telegram_test.go
  pkg/services/ngalert/notifier/channels/template_data.go
  pkg/services/ngalert/notifier/channels/threema_test.go
  pkg/services/ngalert/notifier/channels/victorops_test.go
  pkg/services/ngalert/notifier/channels/webhook_test.go
  pkg/services/ngalert/notifier/channels/wecom_test.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Labels: area/alerting/notifications, area/backend, area/alerting/unified, backport v8.4.x

#45962 Loki: Update syntax highlighting to colorize strings
  public/app/plugins/datasource/loki/syntax.ts
Labels: area/frontend, datasource/Loki, no-backport

#45913 Chore: Remove several 'as' type assertions
  public/app/core/components/Footer/Footer.tsx
  public/app/core/components/PageActionBar/PageActionBar.tsx
  public/app/core/components/PermissionList/AddPermission.tsx
  public/app/core/components/RolePicker/RolePickerInput.tsx
  public/app/core/components/Select/SortPicker.tsx
  public/app/core/components/SplitPaneWrapper/SplitPaneWrapper.tsx
  public/app/core/history/RichHistoryLocalStorage.test.ts
  public/app/core/store.ts
  public/app/features/canvas/runtime/root.tsx
  public/app/features/explore/state/utils.ts
Labels: type/chore, area/explore, area/frontend, type/debt, no-backport

#45559 Plugins: Adding support for traceID field to accept variables.
  public/app/plugins/datasource/jaeger/datasource.test.ts
  public/app/plugins/datasource/jaeger/datasource.ts
Labels: area/frontend, add to changelog, pr/external, datasource/Jaeger, no-backport

#46080 Dashboard: Add feature reporting for dashboard import
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/manage-dashboards/components/ImportDashboardOverview.tsx
Labels: area/frontend, mob session, backport v8.4.x

#45834 AzureMonitor: Move Application Insights and Insight Analytics to a deprecated package
  pkg/tsdb/azuremonitor/azlog/azlog.go
  pkg/tsdb/azuremonitor/azuremonitor-resource-handler.go
  pkg/tsdb/azuremonitor/azuremonitor-resource-handler_test.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/azuremonitor_test.go
  pkg/tsdb/azuremonitor/deprecated/applicationinsights-datasource.go
  pkg/tsdb/azuremonitor/deprecated/applicationinsights-datasource_test.go
  pkg/tsdb/azuremonitor/deprecated/applicationinsights-metrics.go
  pkg/tsdb/azuremonitor/deprecated/applicationinsights-metrics_test.go
  pkg/tsdb/azuremonitor/deprecated/httpclient.go
  pkg/tsdb/azuremonitor/deprecated/insights-analytics-datasource.go
  pkg/tsdb/azuremonitor/deprecated/insights-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/deprecated/routes.go
  pkg/tsdb/azuremonitor/deprecated/types.go
  pkg/tsdb/azuremonitor/httpclient.go
  pkg/tsdb/azuremonitor/httpclient_test.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame_test.go
  pkg/tsdb/azuremonitor/macros/macros.go
  pkg/tsdb/azuremonitor/macros/macros_test.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/metrics/url-builder.go
  pkg/tsdb/azuremonitor/metrics/url-builder_test.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource_test.go
  pkg/tsdb/azuremonitor/routes.go
  pkg/tsdb/azuremonitor/time/azuremonitor-time.go
  pkg/tsdb/azuremonitor/time/time-grain.go
  pkg/tsdb/azuremonitor/time/time-grain_test.go
  pkg/tsdb/azuremonitor/types/types.go
Labels: area/backend, datasource/Azure, no-backport

#45860 AzureMonitor: Remove deprecated configuration parameters
  .betterer.results
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ConfigEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/AnalyticsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/AnalyticsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/InsightsConfig.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/InsightsConfig.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/__snapshots__/InsightsConfig.test.tsx.snap
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/utils.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/credentials.ts
Labels: area/frontend, datasource/Azure, no-backport

#45946 Update README.md
  README.md
Labels: type/docs, pr/external, no-backport

#46074 Prometheus: Save query editor mode default
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/types.ts
  public/app/plugins/datasource/prometheus/querybuilder/state.test.ts
  public/app/plugins/datasource/prometheus/querybuilder/state.ts
  public/app/plugins/datasource/prometheus/querybuilder/types.ts
Labels: datasource/Prometheus, area/frontend, no-backport

#45933 UI: Add focus styles to QueryField component
  .betterer.results
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
Labels: area/frontend, no-backport

#45571 Heatmap: add scale display to legend
  public/app/plugins/panel/heatmap-new/ColorScale.tsx
  public/app/plugins/panel/heatmap-new/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap-new/module.tsx
Labels: area/panel/heatmap, area/frontend, no-backport

#46081 Document available Alerting annotations
  docs/sources/alerting/unified-alerting/alerting-rules/alert-annotation-label.md
Labels: type/docs, no-backport, backport v8.4.x

#46122 update latest.json to 8.4.3
  latest.json
Labels: backport v8.4.x

#45553 docs: modify user preferences refactor
  docs/sources/administration/manage-user-preferences/_index.md
  docs/sources/administration/preferences/change-grafana-name.md
  docs/sources/manage-users/user-admin/_index.md
  docs/sources/manage-users/user-admin/change-your-password.md
  docs/sources/manage-users/user-admin/switch-org.md
  docs/sources/manage-users/user-admin/user-profile.md
Labels: type/docs, no-backport

#46121 Docs: Include ID token example in Forward OAuth identity for the logged-in user section
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
Labels: type/docs, backport v8.4.x

#46123 chore: update latest.json (#46122)
  latest.json
Labels: backport

#46128 Docs: Update ldap authentication topic
  docs/sources/administration/preferences/change-grafana-name.md
  docs/sources/auth/ldap.md
  docs/sources/enterprise/enterprise-encryption/using-aws-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-azure-key-vault-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-google-cloud-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-hashicorp-key-vault-to-encrypt-database-secrets.md
Labels: type/docs, backport v8.4.x

#46130 Docs: Update ldap authentication topic (#46128)
  docs/sources/administration/preferences/change-grafana-name.md
  docs/sources/auth/ldap.md
  docs/sources/enterprise/enterprise-encryption/using-aws-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-azure-key-vault-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-google-cloud-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-hashicorp-key-vault-to-encrypt-database-secrets.md
Labels: type/docs, no-backport

#45262 Add missing option "OK" for Error state
  pkg/models/alert.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
Labels: area/backend, area/backend/db/migration, no-backport

#45997 StateTimeline: insert trailing null value at +interval
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.test.ts
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.ts
  packages/grafana-ui/src/components/GraphNG/utils.ts
  public/app/plugins/panel/state-timeline/utils.ts
Labels: area/frontend, area/panel/state-timeline, backport v8.4.x

#46051 FileStore: add basic file storage API
  .github/CODEOWNERS
  go.mod
  go.sum
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/infra/filestorage/api.go
  pkg/infra/filestorage/api_test.go
  pkg/infra/filestorage/cdk_blob_filestorage.go
  pkg/infra/filestorage/db_filestorage.go
  pkg/infra/filestorage/dummy.go
  pkg/infra/filestorage/filestorage.go
  pkg/infra/filestorage/filestorage_test.go
  pkg/infra/filestorage/fs_integration_test.go
  pkg/infra/filestorage/test_utils.go
  pkg/infra/filestorage/wrapper.go
  pkg/plugins/manager/signature/manifest.go
  pkg/server/wire.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/sqlstore/migrations/db_file_storage.go
Labels: area/backend, area/frontend, area/backend/db/migration, no-backport

#46139 Graph (old): fix null interval insertion, again (follow-up to #46069)
  public/app/plugins/panel/graph/data_processor.ts
Labels: prio/high, area/panel/graph, area/frontend, backport v8.4.x

#46127 upgrade grabpl
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport

#45993 Postgres: Fix aggregate dropdown when TimescaleDB is enabled
  public/app/plugins/datasource/postgres/query_ctrl.ts
  public/app/plugins/datasource/postgres/sql_part.ts
Labels: type/bug, datasource/Postgres, area/frontend, area/query-editor, no-backport

#46107 CloudWatch: Unexport mocks, use aws-sdk-go helpers, rename test utilities file
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
  pkg/tsdb/cloudwatch/utils_test.go
Labels: datasource/CloudWatch, area/backend, backport v8.4.x

#45148 Explore: allow users to save Explore state to a new panel in a new dashboard
  .betterer.results
  pkg/models/dashboards.go
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/explore/AddToDashboard/AddToDashboardModal.test.tsx
  public/app/features/explore/AddToDashboard/AddToDashboardModal.tsx
  public/app/features/explore/AddToDashboard/addToDashboard.ts
  public/app/features/explore/AddToDashboard/index.test.tsx
  public/app/features/explore/AddToDashboard/index.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/ExploreQueryInspector.test.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/ResponseErrorContainer.test.tsx
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/utils.ts
  public/app/types/explore.ts
Labels: area/backend, area/explore, area/frontend, add to changelog, no-backport

#46084 Prometheus: Improved the function selector with search
  packages/grafana-ui/src/components/Cascader/Cascader.tsx
  public/app/plugins/datasource/loki/querybuilder/LokiQueryModeller.test.ts
  public/app/plugins/datasource/loki/querybuilder/operations.ts
  public/app/plugins/datasource/prometheus/querybuilder/PromQueryModeller.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/operations.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/LokiAndPromQueryModellerBase.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationList.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationListExplained.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationName.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/types.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, no-backport

#45967 Plugins: Refactor plugin settings service
  pkg/api/http_server.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/plugindashboards/plugindashboards.go
  pkg/services/plugindashboards/plugindashboards_test.go
  pkg/services/pluginsettings/ifaces.go
  pkg/services/pluginsettings/service.go
  pkg/services/pluginsettings/service/service.go
  pkg/services/pluginsettings/service/service_test.go
Labels: area/plugins, type/refactor, area/backend, no-backport

#46149 Provisioning: Fix plugin provisioning storing SecureJsonData
  pkg/services/provisioning/plugins/plugin_provisioner.go
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
  pkg/services/provisioning/provisioning.go
Labels: area/backend, no-backport

#46151 Fix: Add missing store in test rule
  pkg/services/alerting/test_rule.go
Labels: area/backend, no-backport

#46162 Resolve merge conflict breaking pluginsetting.Service mock
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
Labels: area/backend, no-backport

#46076 Loki: Initial loki builder tests
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.test.tsx
Labels: area/frontend, datasource/Loki, no-backport

#46047 NodeGraph: Include frames with name edges or nodes in node graph
  docs/sources/visualizations/node-graph.md
  public/app/plugins/panel/nodeGraph/utils.ts
Labels: type/bug, type/docs, area/frontend, area/panel/node-graph, backport v8.4.x

#45094 Access control: Dashboard and folder permissions frontend
  .betterer.results
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/DashboardPermissions/AccessControlDashboardPermissions.tsx
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
  public/app/features/dashboard/components/SaveDashboard/useDashboardSave.tsx
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/folders/AccessControlFolderPermissions.tsx
  public/app/features/folders/FolderSettingsPage.test.tsx
  public/app/features/folders/FolderSettingsPage.tsx
  public/app/features/folders/state/actions.ts
  public/app/features/folders/state/navModel.ts
  public/app/features/folders/state/reducers.test.ts
  public/app/features/folders/state/reducers.ts
  public/app/routes/routes.tsx
  public/app/types/accessControl.ts
  public/app/types/folders.ts
Labels: area/frontend, no-backport

#46152 CI: Rename build variants - bump grabpl version
  .drone.yml
  scripts/drone/pipelines/pr.star
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x, backport v8.4.x

#46170 CI: Change variants for `pr_pipelines`
  .drone.yml
  scripts/drone/pipelines/pr.star
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x, backport v8.4.x

#46169 Fixing docs comma
  docs/sources/panels/library-panels/_index.md
Labels: type/docs, backport v8.4.x

#46109 AzureMonitor: Move rest of deprecated code
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryTypeField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/app_insights/app_insights_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/app_insights/app_insights_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/app_insights/response_parser.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/ApplicationInsightsEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/components/InsightsAnalyticsEditor/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/insights_analytics/insights_analytics_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/types/index.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/deprecated/types/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateQuery.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/variables.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/variables.ts
Labels: area/frontend, datasource/Azure, no-backport

#46077 Trace view scroll to top button
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/explore/__snapshots__/Explore.test.tsx.snap
Labels: area/explore, area/frontend, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, no-backport

#46174 Chore: Remove deprecated no-op option PreferServerCipherSuites
  pkg/api/http_server.go
Labels: type/chore, area/backend, no-backport

#46166 TextPanel: Sanitize after markdown has been rendered to html
  e2e/dashboards-suite/dashboard-templating.spec.ts
  public/app/plugins/panel/text/TextPanel.tsx
Labels: type/bug, area/frontend, area/panel/text, add to changelog, backport v8.4.x

#44882 BarChart: fix hovered series highlight in tooltip
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
  public/app/plugins/panel/barchart/bars.ts
Labels: area/frontend, area/panel/barchart, backport v8.4.x

#46171 Docs: Add documentation for dashboard and folder roles
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
  docs/sources/enterprise/access-control/permissions.md
Labels: type/docs, no-backport

#46177 Access Control: Filter out hidden permissions in access control dashboard guardian
  pkg/services/accesscontrol/mock/permissions_services_mock.go
  pkg/services/guardian/accesscontrol_guardian.go
  pkg/services/guardian/accesscontrol_guardian_test.go
Labels: area/backend, no-backport

#46191 Docs: Fix spelling in access control doc
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
Labels: type/docs, no-backport

#46192 upgrade grabpl to 2.9.13
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport

#46209 CI: linux-x64 -> linux-amd64
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport

#46217 CI: upgrade grabpl to 2.9.20
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport

#46219 CI: upgrade grabpl to 2.9.21
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport

#46167 Datasource: Fixes changing default data source causes inconsistency between panel data source and query data source
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/dashboard/state/DashboardModel.ts
Labels: area/frontend, backport v8.4.x

#45964 Chore: Move Typescript cache file to root
  .gitignore
  packages/grafana-data/tsconfig.json
  packages/grafana-e2e-selectors/tsconfig.json
  packages/grafana-e2e/tsconfig.json
  packages/grafana-runtime/tsconfig.json
  packages/grafana-schema/tsconfig.json
  packages/grafana-ui/tsconfig.json
  tsconfig.json
Labels: area/frontend, no-backport

#46005 Add Intent API implementation that proxies to underlying kube-apiserver
  conf/defaults.ini
  conf/sample.ini
  devenv/docker/blocks/intentapi/Makefile
  devenv/docker/blocks/intentapi/README.md
  devenv/docker/blocks/intentapi/pki/intentapi-csr.json
  docs/sources/administration/configuration.md
  go.mod
  go.sum
  internal/components/datasource/controller.go
  internal/intentapi/apiserver_proxy.go
  internal/intentapi/http_server.go
  internal/k8sbridge/bridge.go
  internal/k8sbridge/clientset.go
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend/api, area/backend, area/frontend, no-backport, area/intent-api

#45963 loki: backend-mode: add nanosecond-timestamps
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/testdata/streams_simple.golden.txt
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/backendResultTransformer.ts
  public/app/plugins/datasource/loki/makeTableFrames.test.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport

#46148 Plugins: allow using both Function and Class components for app plugins
  packages/grafana-data/src/types/app.ts
  packages/grafana-data/src/types/plugin.ts
Labels: area/plugins, area/frontend, add to changelog, area/plugins/app, backport v8.4.x

#45754 Postgres: Return tables with hyphenated schemes
  public/app/plugins/datasource/postgres/meta_query.ts
Labels: type/bug, datasource/Postgres, area/frontend, add to changelog, area/query-editor, no-backport

#46037 Alerting: adds support for federated rules
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler_test.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/api-spec.json
  public/app/features/alerting/unified/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsFederatedSources.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
  public/app/features/alerting/unified/hooks/useCombinedRuleNamespaces.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/app/types/unified-alerting-dto.ts
  public/app/types/unified-alerting.ts
Labels: area/backend, area/frontend, area/alerting/unified, backport v8.4.x

#45910 Chore: Remove prettier-plugin from ESLint
  .betterer.ts
  .eslintignore
  .prettierignore
  package.json
  public/app/plugins/panel/geomap/layers/data/index.ts
  public/app/plugins/panel/geomap/layers/data/markersLayer.tsx
  yarn.lock
Labels: area/frontend, dependencies, no-backport

#44797 Auth Proxy: encoding of non-ASCII headers
  conf/defaults.ini
  conf/sample.ini
  docs/sources/auth/auth-proxy.md
  pkg/services/contexthandler/authproxy/authproxy.go
  pkg/services/contexthandler/authproxy/authproxy_test.go
  pkg/setting/setting.go
  pkg/util/encoding.go
  pkg/util/encoding_test.go
Labels: type/docs, area/backend, pr/external, backport v8.4.x

#46086 Live: Fix support for `StreamingFrameAction.Replace`
  public/app/features/live/centrifuge/LiveDataStream.test.ts
  public/app/features/live/centrifuge/LiveDataStream.ts
  public/app/features/live/data/StreamingDataFrame.test.ts
  public/app/features/live/data/StreamingDataFrame.ts
Labels: area/frontend, area/live, backport v8.3.x, backport v8.4.x

#46212 CloudWatch: Add tests for input region in executeLogAlertQuery
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
  pkg/tsdb/cloudwatch/utils_test.go
Labels: datasource/CloudWatch, area/backend, backport v8.4.x

#46235 Scripts : Added test coverage commands to package.json
  package.json
Labels: area/frontend, backport v8.4.x

#45844 Searchable service accounts
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/serviceaccounts/state/reducers.ts
  public/app/features/serviceaccounts/state/selectors.ts
  public/app/types/serviceaccount.ts
Labels: area/backend, area/frontend, no-backport

#46241 Prometheus: Support more binary operations in visual builder
  public/app/plugins/datasource/prometheus/querybuilder/binaryScalarOperations.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/NestedQuery.tsx
  public/app/plugins/datasource/prometheus/querybuilder/operations.ts
  public/app/plugins/datasource/prometheus/querybuilder/parsing.test.ts
  public/app/plugins/datasource/prometheus/querybuilder/parsing.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/LokiAndPromQueryModellerBase.ts
  public/app/plugins/datasource/prometheus/querybuilder/types.ts
Labels: datasource/Prometheus, area/frontend, no-backport

#46242 Plugins: Move backend plugin utils to provider package
  pkg/plugins/backend_utils.go
  pkg/plugins/backendplugin/provider/provider.go
Labels: area/plugins, type/refactor, area/backend/plugins, area/backend, no-backport

#46105 Trace view: Reduce whitespace in KeyValuesTable
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
Labels: area/frontend, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, backport v8.4.x

#46249 Prometheus: Add text to Add operation button
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationList.tsx
Labels: datasource/Prometheus, no-backport

#46253 CI: Update `grabpl` version
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x, backport v8.4.x

#46246 Plugins: Plugin settings refactor
  pkg/api/app_routes.go
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/services/pluginsettings/pluginsettings.go
  pkg/services/pluginsettings/service/service.go
  pkg/services/pluginsettings/service/service_test.go
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
Labels: area/plugins, type/refactor, area/backend, no-backport

#46100 DataLinks: Encode variable params for data link URLs
  devenv/dev-dashboards/feature-templating/templating-dashboard-links-and-variables.json
  e2e/dashboards-suite/templating-dashboard-links-and-variables.spec.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: area/frontend, area/dashboard/data-links, backport, oss-user-essentials, backport v8.4.x

#46255 APIKeys: Add AC controls for legacy API keys
  pkg/api/accesscontrol.go
  pkg/api/api.go
  pkg/services/accesscontrol/models.go
Labels: area/backend, no-backport

#45980 Alerting: Do not update rule in database if it was not changed
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: area/backend, area/alerting/unified, no-backport

#45932 Query history: Add search functionality
  docs/sources/http_api/query_history.md
  pkg/services/queryhistory/api.go
  pkg/services/queryhistory/database.go
  pkg/services/queryhistory/models.go
  pkg/services/queryhistory/queryhistory.go
  pkg/services/queryhistory/queryhistory_create_test.go
  pkg/services/queryhistory/queryhistory_delete_test.go
  pkg/services/queryhistory/queryhistory_patch_test.go
  pkg/services/queryhistory/queryhistory_search_test.go
  pkg/services/queryhistory/queryhistory_star_test.go
  pkg/services/queryhistory/queryhistory_test.go
  pkg/services/queryhistory/queryhistory_unstar_test.go
  pkg/services/queryhistory/writers.go
Labels: type/feature-request, type/docs, area/backend, no-backport

#46238 Adding migration guide for dashboard and fixing signing doc
  docs/sources/developers/plugins/migration-guide.md
  docs/sources/developers/plugins/sign-a-plugin.md
Labels: type/docs, backport v8.4.x

#46282 Access control: Always append all permissions to role admin in oss
  pkg/api/common_test.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/guardian/accesscontrol_guardian_test.go
Labels: area/backend, area/accesscontrol, no-backport

#46285 ServiceAccounts: Add API key migration to ensure fk is null
  pkg/api/accesscontrol.go
  pkg/services/sqlstore/migrations/apikey_mig.go
Labels: area/backend, area/backend/db/migration, backport v8.4.x

#46211 Docs: Fix link to instructions for backporting a PR
  contribute/merge-pull-request.md
Labels: type/docs, no-backport

#46260 LegacyBrowser: fix Safari 13.1 (lacks logical nullish assignent)
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/plugins/panel/heatmap-new/module.tsx
Labels: area/frontend, backport v8.4.x

#46295 Access control: Ingore permissions in json serialization
  pkg/models/user.go
Labels: area/backend, no-backport

#44731 ValidatedQueries: start of validated queries API
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/metrics.go
  pkg/api/metrics_test.go
  pkg/api/org_test.go
  pkg/api/org_users_test.go
  pkg/api/quota_test.go
  pkg/api/team_members_test.go
  pkg/components/simplejson/simplejson.go
  pkg/components/simplejson/simplejson_test.go
  pkg/models/dashboards.go
  pkg/services/teamguardian/database/database.go
Labels: area/backend, no-backport, team/grafana-partners

#46300 [v8.4.x] LegacyBrowser: fix Safari 13.1 (lacks logical nullish assignent)
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  public/app/features/dashboard/state/DashboardModel.ts
Labels: area/frontend, backport

#46309 HeatmapNG: fix Prometheus frame-per-bucket heatmap response rendering
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/plugins/panel/heatmap-new/fields.ts
Labels: area/panel/heatmap, area/frontend, no-backport

#46291 loki: switch to a monaco-based query field, step 1
  package.json
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryFieldLazy.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryFieldProps.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryFieldWrapper.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/getOverrideServices.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/index.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/util.ts
  public/app/plugins/datasource/loki/language_utils.test.ts
  public/app/plugins/datasource/loki/language_utils.ts
  yarn.lock
Labels: datasource/Prometheus, area/frontend, datasource/Loki, no-backport

#45132 DataSource: Default data source is no longer a persisted state but just the default data source for new panels
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/utils/datasource.ts
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsList.tsx
  public/app/features/dashboard/components/AnnotationSettings/index.tsx
  public/app/features/dashboard/components/DashExportModal/DashboardExporter.test.ts
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorQueries.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/templating/template_srv.ts
  public/app/plugins/datasource/dashboard/DashboardQueryEditor.test.tsx
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/postgres/config_ctrl.ts
  public/app/types/query.ts
Labels: area/dashboard/templating, datasource/Postgres, area/frontend, breaking change, no-backport

#46254 TagsInput: fix tags remove button accessibility issues
  packages/grafana-ui/src/components/TagsInput/TagItem.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.test.tsx
  packages/grafana-ui/src/components/TagsInput/TagsInput.tsx
Labels: type/bug, area/frontend, add to changelog, type/accessibility, backport v8.4.x

#46258 Service Accounts: Display name to ID
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/api/token_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/database/database_test.go
  pkg/services/serviceaccounts/database/errors.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/services/sqlstore/user.go
Labels: area/backend, no-backport

#46292 A11y : Updated EmptyListCTA to switch between Button and LinkButton
  public/app/core/components/EmptyListCTA/EmptyListCTA.test.tsx
  public/app/core/components/EmptyListCTA/EmptyListCTA.tsx
Labels: type/bug, area/frontend, type/accessibility, backport v8.4.x

#46296 A11y : Variables table - Updated span for Button to be accessible
  public/app/features/variables/editor/VariableEditorListRow.tsx
Labels: type/bug, area/dashboard/templating, area/frontend, type/accessibility, backport v8.4.x

#46317 Access control: Support permission filter in access control search filter
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/permissions/dashboard.go
Labels: area/backend, area/accesscontrol, no-backport

#46318 loki: use monaco-logql
  package.json
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryField.tsx
  yarn.lock
Labels: area/frontend, datasource/Loki, no-backport

#46259 Service Accounts: Add enabled/disabled status to list
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/models.go
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
Labels: area/backend, area/frontend, no-backport

#45748 Alerting: declare authorization actions, scopes and roles for fine-grained access
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/tests/util.go
Labels: area/backend, area/alerting/unified, no-backport

#46302 Prometheus: Fix timestamp truncation
  pkg/tsdb/prometheus/testdata/range_simple.result.golden.txt
  pkg/tsdb/prometheus/testdata/range_simple.result.json
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/time_series_query_test.go
Labels: datasource/Prometheus, area/backend, backport v8.3.x, backport v8.4.x

#45438 Sync GitHub OAuth user name to Grafana if it's set
  pkg/login/social/github_oauth.go
Labels: area/backend, add to changelog, pr/external, breaking change, no-backport

#46331 [v8.3.x] Prometheus: Fix timestamp truncation (#46302)
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/time_series_query_test.go
Labels: datasource/Prometheus, area/backend, no-backport

#46332 [v8.4.x] Prometheus: Fix timestamp truncation (#46302)
  pkg/tsdb/prometheus/testdata/range_simple.result.golden.txt
  pkg/tsdb/prometheus/testdata/range_simple.result.json
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/time_series_query_test.go
Labels: datasource/Prometheus, area/backend, no-backport

#46339 Perf: don't re-init plots when changing dashboard timeRange
  packages/grafana-data/src/dataframe/frameComparisons.ts
Labels: type/bug, type/performance, area/frontend, backport v8.4.x

#46327 loki: fix remaining tests
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.ts
Labels: area/frontend, datasource/Loki, no-backport

#46360 Documentation: Add using mock explanation for testing
  contribute/style-guides/backend.md
Labels: type/docs, area/backend, no-backport

#46330 A11y: Fix accessibility of 'Set color' button in Value Mappings modal
  public/app/features/dimensions/editors/ValueMappingsEditor/ValueMappingEditRow.tsx
Labels: type/bug, area/frontend, type/accessibility, area/value-mapping, backport v8.4.x

#45187 Azure Monitor: Add 2 more Curated Dashboards for VM Insights
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/appInsights.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/vMInsightsRG.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/vMInsightsWorkspace.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/plugin.json
Labels: area/frontend, datasource/Azure, add to changelog, pr/external, no-backport

#46359 Chore: Fix failing lerna publish commands
  package.json
Labels: type/build-packaging, area/frontend, no-backport

#46370 CloudWatch: Use default http client from aws-sdk-go
  pkg/tsdb/cloudwatch/cloudwatch.go
Labels: type/bug, datasource/CloudWatch, area/backend, add to changelog, backport v8.4.x

#46334 Move datasource scopes and actions to access control package
  pkg/api/accesscontrol.go
  pkg/api/api.go
  pkg/api/datasources_test.go
  pkg/api/index.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/scope.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/dashboards/manager/dashboard_service.go
  pkg/services/datasources/accesscontrol.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/guardian/accesscontrol_guardian.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/migrations/accesscontrol/dashboard_permissions.go
  pkg/services/sqlstore/permissions/dashboard.go
Labels: area/backend, area/backend/db/migration, no-backport

#46376 Logging: Helper to create NopLogger
  pkg/infra/log/log.go
Labels: area/backend, backport v8.4.x

#45970 Alerting: Include annotations in prometheus Alert response.
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_prometheus_test.go
  pkg/services/ngalert/api/testing.go
  pkg/services/ngalert/state/manager.go
Labels: area/backend, backport v8.4.x

#46382 update exemplars and azure authentication topics.
  docs/sources/auth/azuread.md
  docs/sources/basics/exemplars/_index.md
Labels: type/docs, backport v8.4.x

#46293 A11y : Fixed new variable button keyboard clickable
  public/app/features/variables/editor/VariableEditorContainer.tsx
Labels: type/bug, area/dashboard/templating, area/frontend, type/accessibility, backport v8.4.x

#46346 Prometheus/Loki: Improve operations header UX
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationHeader.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationName.tsx
Labels: datasource/Prometheus, area/frontend, no-backport

#46324 Loki: Adds more options to make line filter UX better
  public/app/plugins/datasource/loki/querybuilder/operations.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationParamEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/types.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, no-backport

#46402 Docs: Fix formatting of docs file
  docs/sources/auth/azuread.md
Labels: type/docs, no-backport

#46186 Access control: Move call to create default permissions into folder and dashboard service
  pkg/api/common_test.go
  pkg/api/dashboard.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder.go
  pkg/api/folder_permission_test.go
  pkg/services/dashboardimport/service/service.go
  pkg/services/dashboardimport/service/service_test.go
  pkg/services/dashboards/manager/dashboard_service.go
  pkg/services/dashboards/manager/dashboard_service_integration_test.go
  pkg/services/dashboards/manager/folder_service.go
  pkg/services/dashboards/manager/folder_service_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_linux_test.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/validator_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_test.go
Labels: type/chore, area/backend, area/accesscontrol, no-backport

#46362 loki: recommend parser
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/index.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/syntax.ts
Labels: area/frontend, datasource/Loki, no-backport

#46336 Card: make elements in metadata clickable
  packages/grafana-ui/src/components/Card/Card.mdx
  packages/grafana-ui/src/components/Card/Card.tsx
Labels: type/bug, area/frontend, backport v8.4.x

#46190 Tempo: Add search info to tempo docs
  docs/sources/datasources/tempo.md
Labels: type/docs, datasource/Tempo, no-backport

#46414 loki: more smart features
  package.json
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/index.ts
  yarn.lock
Labels: area/frontend, datasource/Loki, no-backport

#46406 Prometheus: Add title to metrics in the metric select with metric help text
  packages/grafana-data/src/types/select.ts
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  public/app/plugins/datasource/prometheus/language_provider.mock.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
Labels: datasource/Prometheus, area/frontend, no-backport

#46419 Docs: Fix formatting of docs file
  docs/sources/datasources/tempo.md
Labels: type/docs, no-backport

#46401 Storage: s3 + gcs
  go.mod
  go.sum
  pkg/infra/filestorage/cdk_blob_filestorage.go
  pkg/infra/filestorage/filestorage.go
  pkg/infra/filestorage/s3_filestorage_test.go
  pkg/services/store/config.go
  pkg/services/store/service.go
  pkg/services/store/storage_disk.go
  pkg/services/store/storage_gcs.go
  pkg/services/store/storage_git.go
  pkg/services/store/storage_github.go
  pkg/services/store/storage_s3.go
  pkg/services/store/tree.go
Labels: area/backend

#46380 Folder name scope resolver
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder_permission_test.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/dashboards/accesscontrol_test.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/database_mock.go
  pkg/services/dashboards/manager/dashboard_service_test.go
  pkg/services/dashboards/manager/folder_service.go
  pkg/services/dashboards/manager/folder_service_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
Labels: area/backend, no-backport

#46316 Plugins: Refactor GetPluginDashboards/LoadPluginDashboard
  pkg/api/common_test.go
  pkg/api/http_server.go
  pkg/api/plugin_dashboards.go
  pkg/api/plugin_dashboards_test.go
  pkg/api/plugins.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/dashboard_file_store.go
  pkg/plugins/manager/dashboard_file_store_test.go
  pkg/plugins/manager/dashboards.go
  pkg/plugins/manager/dashboards_test.go
  pkg/plugins/manager/manager.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/dashboardimport/api/api_test.go
  pkg/services/dashboardimport/service/service.go
  pkg/services/dashboardimport/service/service_test.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_dashboard_test.go
  pkg/services/dashboards/database_mock.go
  pkg/services/dashboards/manager/dashboard_service.go
  pkg/services/plugindashboards/plugindashboards.go
  pkg/services/plugindashboards/service/dashboard_updater.go
  pkg/services/plugindashboards/service/dashboard_updater_test.go
  pkg/services/plugindashboards/service/service.go
  pkg/services/plugindashboards/service/service_test.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/web/webtest/webtest.go
  pkg/web/webtest/webtest_test.go
Labels: type/refactor, area/backend, no-backport

#46409 Accesscontrol: fix data source name resolver and add uid name resolver
  pkg/services/datasources/service/datasource_service.go
  pkg/services/datasources/service/datasource_service_test.go
Labels: area/backend, backport v8.4.x

#46437 Accesscontrol: fix data source name resolver and add uid name resolver (#46409)
  pkg/services/datasources/service.go
  pkg/services/datasources/service_test.go
Labels: area/backend, backport

#46420 Build: Bump grabpl to 2.9.24
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/build-packaging, dependencies, type/ci, no-backport

#46341 A11y: Make the Library Panel "clear filter" buttons accessible
  public/app/core/components/FolderFilter/FolderFilter.tsx
  public/app/core/components/PanelTypeFilter/PanelTypeFilter.tsx
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.tsx
Labels: type/bug, area/frontend, type/accessibility, area/frontend/library-panels, no-backport

#46387 A11y: add copy button to API Key modal
  public/app/features/api-keys/ApiKeysAddedModal.tsx
  public/app/features/api-keys/__snapshots__/ApiKeysAddedModal.test.tsx.snap
Labels: type/bug, area/admin/user, area/frontend, type/accessibility, no-backport

#46335 Gauge: Fixes blank viz when data link exists and orientation was horizontal
  packages/grafana-ui/src/components/DataLinks/DataLinksContextMenu.tsx
Labels: add to changelog, backport v8.4.x
