Repository grafana/grafana, pull requests merged in 2022-08, with the labels that each got.

#52588 Annotations: Migrate dashboardId to dashboardUID
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/dashboard/dashgrid/PanelChrome.test.tsx
  public/app/features/dashboard/dashgrid/PanelChrome.tsx
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/plugins/datasource/grafana/datasource.test.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/panel/annolist/AnnoListPanel.test.tsx
  public/app/plugins/panel/annolist/AnnoListPanel.tsx
  public/app/plugins/panel/graph/event_editor.ts
  public/app/plugins/panel/graph/event_manager.ts
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationMarker.tsx
  public/app/plugins/panel/timeseries/plugins/types.ts
Labels: area/annotations, area/frontend, add to changelog, no-backport, enterprise-failed

#52081 Alerting: Configure alert manager data source as an external AM
  .betterer.results
  pkg/services/ngalert/sender/router.go
  pkg/services/ngalert/sender/router_test.go
  public/app/features/alerting/unified/Admin.tsx
  public/app/features/alerting/unified/components/admin/ExternalAlertmanagerDataSources.tsx
  public/app/features/alerting/unified/components/admin/ExternalAlertmanagers.tsx
  public/app/features/alerting/unified/components/rules/RuleListErrors.tsx
  public/app/features/alerting/unified/hooks/useExternalAMSelector.test.ts
  public/app/features/alerting/unified/hooks/useExternalAMSelector.test.tsx
  public/app/features/alerting/unified/hooks/useExternalAmSelector.ts
  public/app/features/alerting/unified/hooks/useIsRuleEditable.test.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/plugins/datasource/alertmanager/ConfigEditor.tsx
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/alerting, area/backend, area/frontend, add to changelog, no-backport, enterprise-failed

#53024 CI: Trigger `pr-integration-tests` pipeline only on backend changes
  .drone.yml
  scripts/drone/events/pr.star
Labels: type/ci, no-backport, no-changelog, enterprise-failed

#52665 GrafanaUI: Improved ClipboardButton success state
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.tsx
  packages/grafana-ui/src/components/InlineToast/InlineToast.mdx
  packages/grafana-ui/src/components/InlineToast/InlineToast.story.internal.tsx
  packages/grafana-ui/src/components/InlineToast/InlineToast.tsx
  packages/grafana-ui/src/components/index.ts
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#53027 [v9.0.x] Update dependency moment to v2.29.4 [SECURITY]
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  yarn.lock
Labels: area/security, area/frontend, dependencies, backport, enterprise-ok, no-changelog

#53029 CI: Make `compile-build-cmd` depend on `init-enterprise`
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport, no-changelog, enterprise-failed

#53028 Search: add request metrics
  pkg/services/searchV2/service.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#52985 Import: prevent recursion blowup in redux + reintroduce import e2e test
  e2e/dashboards-suite/import-dashboard.spec.ts
  e2e/tsconfig.json
  packages/grafana-e2e/src/flows/importDashboard.ts
  public/app/core/selectors/navModel.test.ts
  public/app/core/selectors/navModel.ts
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#53007 Chaging log level when the secret is not found in the database
  pkg/services/secrets/kvstore/sql.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#52008 public dashboards: check to see if dashboard state is different from persisted on save
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog, public-dashboards

#52942 Alerting: Show evaluation interval global limit warning
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/types/icon.ts
  pkg/api/frontendsettings.go
  public/app/features/alerting/unified/PanelAlertTabContent.test.tsx
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rules/RuleConfigStatus.tsx
  public/app/features/alerting/unified/components/rules/RuleHealth.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/utils/config.ts
  public/app/features/alerting/unified/utils/time.ts
Labels: area/alerting, area/backend, area/frontend, add to changelog, levitate breaking change, enterprise-failed, backport v9.0.x

#53037 Chore: Cleanup Makefile
  Makefile
Labels: type/build-packaging, no-backport, enterprise-ok, no-changelog

#53033 Navigation: split logic, reenable unit test, copy whole node to prevent recursion error
  public/app/core/selectors/navModel.test.ts
  public/app/core/selectors/navModel.ts
Labels: area/frontend, area/navigation, no-backport, enterprise-ok, no-changelog

#52955 CloudWatch: the variable editor should accept custom values
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.tsx
Labels: datasource/CloudWatch, area/frontend, no-changelog, enterprise-failed, backport v9.0.x

#52956 CloudWatch: add CloudWatchSynthetics namespace
  pkg/tsdb/cloudwatch/metrics.go
Labels: datasource/CloudWatch, area/backend, no-changelog, enterprise-failed, backport v9.0.x

#52970 Public Dashboards: add e2e tests for public dashboards
  e2e/dashboards-suite/dashboard-public-create.spec.ts
  e2e/dashboards-suite/dashboard-public-templating.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard.tsx
  scripts/grafana-server/custom.ini
Labels: area/frontend, no-backport, no-changelog, enterprise-failed, public-dashboards

#52876 TimeSeriesPanel: Tooltip works properly when changing modes
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Labels: type/bug, area/frontend, backport v8.5.x, no-changelog, enterprise-failed, backport v9.0.x

#52982 Azure Monitor: (Components) deprecate ResourceURI
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/LogsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/AggregationField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/usePreparedQuery.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourceField/ResourceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/Advanced.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/Advanced.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/utils.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/utils.ts
Labels: area/frontend, datasource/Azure, no-backport, no-changelog

#52897 Azure Monitor: Restore Metrics query parameters: subscription, resourceGroup, metricNamespace and resourceName
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/url_builder.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/LogsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/LogsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/AggregationField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricNamespaceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/dataHooks.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/usePreparedQuery.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourceField/ResourceField.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/Advanced.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/Advanced.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/utils.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/utils.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateQuery.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateQuery.ts
Labels: area/frontend, datasource/Azure, add to changelog, no-backport, enterprise-failed

#52394 Search: Move entity events to transaction
  pkg/api/common_test.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/folder.go
  pkg/api/http_server.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_provisioning_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/publicdashboards/api/api_test.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/publicdashboards/service/service_test.go
  pkg/services/searchV2/index.go
  pkg/services/sqlstore/annotation_test.go
  pkg/services/store/entity_events.go
  pkg/services/store/entity_events_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#51924 Alerting: Add file provisioning for contact points
  pkg/api/admin_provisioning.go
  pkg/api/admin_provisioning_test.go
  pkg/services/provisioning/alerting/config_reader.go
  pkg/services/provisioning/alerting/config_reader_test.go
  pkg/services/provisioning/alerting/contact_point_provisioner.go
  pkg/services/provisioning/alerting/contact_point_types.go
  pkg/services/provisioning/alerting/contact_point_types_test.go
  pkg/services/provisioning/alerting/provisioner.go
  pkg/services/provisioning/alerting/rules/config_reader_test.go
  pkg/services/provisioning/alerting/rules_provisioner.go
  pkg/services/provisioning/alerting/rules_types.go
  pkg/services/provisioning/alerting/rules_types_test.go
  pkg/services/provisioning/alerting/testdata/alert_rules/correct-properties-with-org/rules.yml
  pkg/services/provisioning/alerting/testdata/alert_rules/correct-properties/rules.yml
  pkg/services/provisioning/alerting/testdata/alert_rules/multiple-files/rules.yml
  pkg/services/provisioning/alerting/testdata/alert_rules/multiple-files/rules2.yml
  pkg/services/provisioning/alerting/testdata/alert_rules/multiple-rules/rules.yml
  pkg/services/provisioning/alerting/testdata/common/broken-yaml/rules.yml
  pkg/services/provisioning/alerting/testdata/common/empty-file/rules.yml
  pkg/services/provisioning/alerting/testdata/common/supported-filetypes/rules.json
  pkg/services/provisioning/alerting/testdata/common/supported-filetypes/rules.yaml
  pkg/services/provisioning/alerting/testdata/common/supported-filetypes/rules.yml
  pkg/services/provisioning/alerting/testdata/contact_points/correct-properties-with-org/contact_points.yml
  pkg/services/provisioning/alerting/testdata/contact_points/correct-properties/contact_points.yml
  pkg/services/provisioning/alerting/testdata/contact_points/empty-uid/contact_points.yml
  pkg/services/provisioning/alerting/testdata/contact_points/missing-uid/contact_points.yml
  pkg/services/provisioning/alerting/testdata/contact_points/multiple-contact-points/contact_points.yml
  pkg/services/provisioning/alerting/testdata/contact_points/whitespace-uid/contact_points.yml
  pkg/services/provisioning/alerting/types.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
Labels: area/alerting, area/backend, add to changelog, no-backport, enterprise-failed

#52877 Alerting: Add file provisioning for notification policies
  pkg/services/provisioning/alerting/config_reader_test.go
  pkg/services/provisioning/alerting/notification_policy_provisioner.go
  pkg/services/provisioning/alerting/notification_policy_types.go
  pkg/services/provisioning/alerting/provisioner.go
  pkg/services/provisioning/alerting/testdata/notificiation_policies/correct-properties-with-org/policies.yml
  pkg/services/provisioning/alerting/testdata/notificiation_policies/correct-properties/policies.yml
  pkg/services/provisioning/alerting/testdata/notificiation_policies/multiple-policies/policies.yml
  pkg/services/provisioning/alerting/types.go
  pkg/services/provisioning/provisioning.go
Labels: area/alerting, area/backend, add to changelog, no-backport, enterprise-failed

#52771 Canvas: Inline element settings
  .betterer.results
  public/app/features/canvas/runtime/ables.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#52936 Alerting: Add file provisioning for mute timings
  pkg/services/provisioning/alerting/config_reader_test.go
  pkg/services/provisioning/alerting/mute_times_provisioner.go
  pkg/services/provisioning/alerting/mute_times_types.go
  pkg/services/provisioning/alerting/provisioner.go
  pkg/services/provisioning/alerting/testdata/mute_times/correct-properties-with-org/mute_times.yml
  pkg/services/provisioning/alerting/testdata/mute_times/correct-properties/mute_times.yml
  pkg/services/provisioning/alerting/testdata/mute_times/multiple-mute-times/mute_times.yml
  pkg/services/provisioning/alerting/types.go
  pkg/services/provisioning/provisioning.go
Labels: area/alerting, area/backend, add to changelog, no-backport, enterprise-failed

#52952 Alerting: Add file provisioning for text templates
  pkg/services/provisioning/alerting/config_reader_test.go
  pkg/services/provisioning/alerting/provisioner.go
  pkg/services/provisioning/alerting/testdata/templates/correct-properties-with-org/mute_times.yml
  pkg/services/provisioning/alerting/testdata/templates/correct-properties/mute_times.yml
  pkg/services/provisioning/alerting/testdata/templates/multiple-templates/mute_times.yml
  pkg/services/provisioning/alerting/text_templates.go
  pkg/services/provisioning/alerting/text_templates_types.go
  pkg/services/provisioning/alerting/types.go
  pkg/services/provisioning/provisioning.go
Labels: area/alerting, area/backend, add to changelog, no-backport

#53058 Storage: move file quota check to service
  pkg/services/store/http.go
  pkg/services/store/service.go
  pkg/services/store/service_test.go
Labels: type/bug, area/backend, no-backport, enterprise-ok, no-changelog

#53068 Canvas: Clear text button
  public/app/core/components/OptionsUI/string.tsx
  public/app/features/dimensions/editors/TextDimensionEditor.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#52958 Canvas: Cleanup default elements
  .betterer.results
  public/app/features/canvas/element.ts
  public/app/features/canvas/elements/button.tsx
  public/app/features/canvas/elements/droneFront.tsx
  public/app/features/canvas/elements/droneSide.tsx
  public/app/features/canvas/elements/droneTop.tsx
  public/app/features/canvas/elements/icon.tsx
  public/app/features/canvas/elements/textBox.tsx
  public/app/features/canvas/elements/windTurbine.tsx
  public/app/features/canvas/registry.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
  public/app/plugins/panel/canvas/editor/TreeNavigationEditor.tsx
  public/app/plugins/panel/canvas/editor/elementEditor.tsx
  public/app/plugins/panel/canvas/models.gen.ts
  public/app/plugins/panel/canvas/module.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#53069 Alerting: Increase alert rule operation perf by replacing subquery with threshold calculation
  pkg/services/ngalert/store/alertmanager.go
Labels: type/bug, area/alerting, area/backend, add to changelog, area/backend/db/mysql, no-backport, enterprise-failed

#53070 public dashboards: fix audit log prefix for public dashboards
  pkg/services/publicdashboards/database/database.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed, public-dashboards

#53013 Alerting: Update rules version when folder title is updated
  pkg/events/events.go
  pkg/services/dashboards/service/folder_service.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/ngalert_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_mock.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/testing.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#53080 Canvas: Unable to add fixed text in textbox element
  public/app/features/dimensions/editors/TextDimensionEditor.tsx
Labels: type/bug, area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#53082 Docs: Remove documentation for feature not yet ready for launch
  docs/sources/enterprise/_index.md
  docs/sources/introduction/grafana-enterprise.md
  docs/sources/setup-grafana/configure-security/configure-database-encryption/store-secrets-using-aws-secrets-manager-plugin.md
Labels: type/docs, no-backport, no-changelog

#53083 Alerting: Extract alert rule diff logic into separate file with exported API
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/store/deltas.go
  pkg/services/ngalert/store/deltas_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog, enterprise-failed

#53052 Chore: Bump terser to fix security vulnerability
  yarn.lock
Labels: area/security, area/frontend, dependencies, enterprise-ok, no-changelog, backport v9.0.x

#53062 Docs: Update prometheus docs
  docs/sources/datasources/prometheus.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#53095 Chore: update latest.json to 9.0.6
  latest.json
Labels: no-backport, no-changelog

#53051 Navigation: Hide `Dashboards`/`Starred items` from navbar when unauthenticated
  pkg/api/index.go
  public/app/core/components/NavBar/NavBar.tsx
Labels: type/bug, area/backend, area/frontend, add to changelog, area/navigation, no-backport, enterprise-ok

#52981 Typed variables pt1: Use discriminated union for variable model
  .betterer.results
  packages/grafana-data/src/types/templateVars.ts
  packages/grafana-runtime/src/services/templateSrv.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/plugins/datasource_srv.ts
  public/app/features/templating/template_srv.mock.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/guard.ts
  public/app/features/variables/query/QueryVariableEditor.test.tsx
  public/app/features/variables/shared/testing/datasourceVariableBuilder.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/types.ts
Labels: area/dashboard/templating, area/frontend, no-backport, levitate breaking change, no-changelog, enterprise-failed

#53096 I18n: Create crowdin config file
  crowdin.yml
Labels: no-backport, no-changelog

#52878 Search: Backups MVP
  go.mod
  go.sum
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/searchV2/allowed_actions_test.go
  pkg/services/searchV2/compress.go
  pkg/services/searchV2/config.go
  pkg/services/searchV2/index_dashboard.go
  pkg/services/searchV2/index_dashboard_test.go
  pkg/services/searchV2/manager.go
  pkg/services/searchV2/service.go
  pkg/services/store/entity_events.go
  pkg/services/store/service.go
  pkg/services/store/validate.go
Labels: area/backend, no-backport, no-changelog

#52807 Search: Force reindex and re-index check
  go.mod
  go.sum
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/searchV2/allowed_actions_test.go
  pkg/services/searchV2/compress.go
  pkg/services/searchV2/config.go
  pkg/services/searchV2/index.go
  pkg/services/searchV2/index_dashboard.go
  pkg/services/searchV2/index_dashboard_bluge.go
  pkg/services/searchV2/index_dashboard_test.go
  pkg/services/searchV2/manager.go
  pkg/services/searchV2/service.go
  pkg/services/searchV2/stub.go
  pkg/services/searchV2/types.go
  pkg/services/store/entity_events.go
  pkg/services/store/service.go
  pkg/services/store/validate.go
Labels: area/backend, enterprise-failed

#53102 I18n: Add X-Crowdin-SourceKey to messages.po files
  public/locales/en-US/messages.po
  public/locales/es-ES/messages.po
  public/locales/fr-FR/messages.po
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#53040 Chore: remove `UseState` + add support for controls in `TimeOfDayPicker`/`TimeRangeInput` story
  .betterer.results
  packages/grafana-ui/src/components/DateTimePickers/TimeOfDayPicker.story.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangeInput.story.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangeInput.tsx
Labels: type/chore, area/frontend, area/storybook, no-backport, no-changelog, enterprise-failed, area/design-system

#52472 Encryption: De-duplicate encryption code with extensible service
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/cmd/grafana-cli/runner/wireexts_oss.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
  pkg/services/alerting/engine_integration_test.go
  pkg/services/alerting/engine_test.go
  pkg/services/alerting/notifiers/alertmanager_test.go
  pkg/services/alerting/notifiers/dingding_test.go
  pkg/services/alerting/notifiers/discord_test.go
  pkg/services/alerting/notifiers/email_test.go
  pkg/services/alerting/notifiers/googlechat_test.go
  pkg/services/alerting/notifiers/hipchat_test.go
  pkg/services/alerting/notifiers/kafka_test.go
  pkg/services/alerting/notifiers/line_test.go
  pkg/services/alerting/notifiers/opsgenie_test.go
  pkg/services/alerting/notifiers/pagerduty_test.go
  pkg/services/alerting/notifiers/pushover_test.go
  pkg/services/alerting/notifiers/sensu_test.go
  pkg/services/alerting/notifiers/sensugo_test.go
  pkg/services/alerting/notifiers/slack_test.go
  pkg/services/alerting/notifiers/teams_test.go
  pkg/services/alerting/notifiers/telegram_test.go
  pkg/services/alerting/notifiers/threema_test.go
  pkg/services/alerting/notifiers/victorops_test.go
  pkg/services/alerting/notifiers/webhook_test.go
  pkg/services/alerting/service_test.go
  pkg/services/encryption/encryption.go
  pkg/services/encryption/encryption_test.go
  pkg/services/encryption/ossencryption/ossencryption.go
  pkg/services/encryption/ossencryption/ossencryption_test.go
  pkg/services/encryption/provider/cipher_aescfb.go
  pkg/services/encryption/provider/cipher_aescfb_test.go
  pkg/services/encryption/provider/decipher_aes.go
  pkg/services/encryption/provider/decipher_aes_test.go
  pkg/services/encryption/provider/provider.go
  pkg/services/encryption/service/helpers.go
  pkg/services/encryption/service/service.go
  pkg/services/encryption/service/service_test.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/secrets/manager/helpers.go
  pkg/services/secrets/manager/manager_test.go
Labels: datasource/Graphite, type/docs, area/dashboard/templating, area/backend/security, datasource/Prometheus, area/backend, area/frontend, datasource/GoogleCloudMonitoring, datasource/Loki, datasource/Azure, datasource/Tempo, go, no-backport, no-changelog, enterprise-failed

#52987 Typed variables pt2: Use type-accurate mock variables in tests
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/state/__tests__/fixtures.ts
  public/app/features/variables/state/helpers.ts
  public/app/features/variables/state/reducers.test.ts
  public/app/features/variables/state/sharedReducer.test.ts
  public/app/features/variables/state/templateVarsChangedInUrl.test.ts
  public/app/features/variables/state/upgradeLegacyQueries.test.ts
Labels: area/dashboard/templating, area/frontend, no-backport, enterprise-ok, no-changelog

#52986 Azure Monitor: Clarify removed query methods
  docs/sources/datasources/azuremonitor/deprecated-application-insights.md
Labels: type/docs, no-changelog, enterprise-failed, backport v9.0.x, backport v9.1.x

#53126 Chore: Enable React strict mode
  public/app/AppWrapper.tsx
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#52983 Docs: Remove limitation for Azure Monitor template variables
  docs/sources/datasources/azuremonitor/template-variables.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.1.x

#53106 Azure Monitor: Early error if the client secret is not set
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/credentials.go
  pkg/tsdb/azuremonitor/credentials_test.go
  pkg/tsdb/azuremonitor/httpclient.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/credentials.ts
Labels: area/backend, area/frontend, datasource/Azure, enterprise-ok, no-changelog, backport v9.0.x, backport v9.1.x

#52442 Chore: Split get user by ID
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/api/common_test.go
  pkg/api/dashboard.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/api/user_token.go
  pkg/api/user_token_test.go
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/cmd/grafana-cli/runner/runner.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/cmd/grafana-cli/runner/wireexts_oss.go
  pkg/server/wire.go
  pkg/services/login/authinfoservice/database/database.go
  pkg/services/login/authinfoservice/database/stats.go
  pkg/services/login/authinfoservice/user_auth_test.go
  pkg/services/login/model.go
  pkg/services/login/userprotection.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/userimpl/user_test.go
  pkg/services/user/usertest/fake.go
  public/api-merged.json
Labels: area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#53113 Loki: Add tests for explain section in builder and code editor
  .betterer.results
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderExplained.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryCodeEditor.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.test.tsx
Labels: area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#53107 Docs: Update explain section in Loki docs
  docs/sources/datasources/loki.md
Labels: type/docs, datasource/Loki, enterprise-ok, no-changelog, backport v9.1.x

#53160 ReleaseNotes: Updated changelog and release notes for 9.1.0-beta1
  CHANGELOG.md
  docs/sources/developers/rbac_dev_docs.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-9-1-0-beta1.md
Labels: type/docs, backport, no-changelog

#53157 Chore: update latest.json testing version
  latest.json
Labels: no-backport, enterprise-ok, no-changelog

#53061 ref experimental query editor
  .betterer.results
  package.json
  public/app/features/plugins/sql/components/index.ts
  public/app/features/plugins/sql/components/query-editor-raw/QueryEditorRaw.tsx
  public/app/features/plugins/sql/components/query-editor-raw/SQLEditor.tsx
  public/app/features/plugins/sql/components/query-editor-raw/index.ts
  public/app/features/plugins/sql/index.ts
  public/app/features/plugins/sql/mocks/Monaco.ts
  public/app/features/plugins/sql/mocks/TextModel.ts
  public/app/features/plugins/sql/mocks/queries/multiLineFullQuery.ts
  public/app/features/plugins/sql/mocks/queries/multiLineFullQueryWithAggregation.ts
  public/app/features/plugins/sql/mocks/queries/multiLineMultipleColumns.ts
  public/app/features/plugins/sql/mocks/queries/singleLineEmptyQuery.ts
  public/app/features/plugins/sql/mocks/queries/singleLineFullQuery.ts
  public/app/features/plugins/sql/mocks/queries/singleLineFullQueryWithAggregation.ts
  public/app/features/plugins/sql/mocks/queries/singleLineMultipleColumns.ts
  public/app/features/plugins/sql/mocks/queries/singleLineTwoQueries.ts
  public/app/features/plugins/sql/mocks/queries/singleLineTwoQueriesWithAggregation.ts
  public/app/features/plugins/sql/mocks/testData.ts
  public/app/features/plugins/sql/standardSql/definition.ts
  public/app/features/plugins/sql/standardSql/getStandardSuggestions.test.ts
  public/app/features/plugins/sql/standardSql/getStandardSuggestions.ts
  public/app/features/plugins/sql/standardSql/getStatementPosition.test.ts
  public/app/features/plugins/sql/standardSql/getStatementPosition.ts
  public/app/features/plugins/sql/standardSql/language.ts
  public/app/features/plugins/sql/standardSql/macros.ts
  public/app/features/plugins/sql/standardSql/standardSuggestionsRegistry.ts
  public/app/features/plugins/sql/standardSql/statementPositionResolversRegistry.ts
  public/app/features/plugins/sql/standardSql/suggestionsKindRegistry.ts
  public/app/features/plugins/sql/standardSql/types.ts
  public/app/features/plugins/sql/test-utils/index.ts
  public/app/features/plugins/sql/test-utils/statementPosition.ts
  public/app/features/plugins/sql/test-utils/testQueries.txt
  public/app/features/plugins/sql/test-utils/types.ts
  public/app/features/plugins/sql/types.ts
  public/app/features/plugins/sql/utils/LinkedToken.ts
  public/app/features/plugins/sql/utils/commands.ts
  public/app/features/plugins/sql/utils/debugger.ts
  public/app/features/plugins/sql/utils/getSuggestionKind.test.ts
  public/app/features/plugins/sql/utils/getSuggestionKind.ts
  public/app/features/plugins/sql/utils/linkedTokenBuilder.test.ts
  public/app/features/plugins/sql/utils/linkedTokenBuilder.ts
  public/app/features/plugins/sql/utils/toCompletionItem.ts
  public/app/features/plugins/sql/utils/tokenUtils.ts
  public/app/features/plugins/sql/utils/types.ts
  public/app/plugins/datasource/mssql/sqlCompletionProvider.ts
  public/app/plugins/datasource/mysql/sqlCompletionProvider.ts
  yarn.lock
Labels: datasource/MySQL, datasource/MSSQL, area/frontend, no-backport, no-changelog, enterprise-failed

#53167 Chore: Update versions
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#53158 [9.0.x] Alerting: Remove user input from error response
  pkg/services/ngalert/api/util.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#53165 Chore: Fix Makefile target dependency
  Makefile
Labels: type/bug, type/build-packaging, no-backport, no-changelog, enterprise-failed

#53164 [9.1.x] Alerting: Remove user input from error response
  pkg/services/ngalert/api/util.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#53066 Docs: Add What's New in v9.1
  docs/sources/whatsnew/whats-new-in-v9-1.md
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#53175 [v9.1.x] Add What's New in Grafana v9.1
  docs/sources/whatsnew/_index.md
  docs/sources/whatsnew/whats-new-in-v9-1.md
Labels: type/docs, backport, enterprise-ok, no-changelog

#53147 [8.5.x] Alerting: Remove user input from error response
  pkg/services/ngalert/api/lotex_am.go
  pkg/services/ngalert/api/lotex_prom.go
  pkg/services/ngalert/api/lotex_ruler.go
  pkg/services/ngalert/api/lotex_ruler_test.go
  pkg/services/ngalert/api/util.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#53166 Alerting: Fix crash when viewing alert group without interval
  public/app/features/alerting/unified/components/rules/RuleConfigStatus.tsx
  public/app/features/alerting/unified/utils/config.ts
Labels: type/bug, area/alerting, area/frontend, enterprise-ok, no-changelog, backport v9.1.x

#53169 Docs: update Alerting configuration
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, area/alerting, no-changelog, enterprise-failed, backport v9.0.x, backport v9.1.x

#53181 Update LokiQueryCodeEditor test title
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryCodeEditor.test.tsx
Labels: area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#52644 Docs: Update annotations API docs to include required field
  docs/sources/developers/http_api/annotations.md
  pkg/api/dtos/annotations.go
  public/api-merged.json
  public/api-spec.json
Labels: type/docs, area/backend, area/frontend, add to changelog, pr/external, no-backport, no-changelog

#53002 RBAC: Add an additional check on UserID before fetching the permissions
  pkg/services/accesscontrol/database/database.go
  pkg/services/accesscontrol/database/database_test.go
Labels: area/backend, no-backport, no-changelog, area/auth/rbac, enterprise-failed

#52728 Tempo: Devenv update to support all features
  .gitignore
  devenv/docker/blocks/tempo/README.md
  devenv/docker/blocks/tempo/docker-compose.yaml
  devenv/docker/blocks/tempo/prometheus.yaml
  devenv/docker/blocks/tempo/tempo.yaml
Labels: datasource/Tempo, no-backport, enterprise-ok, no-changelog

#51659 Chore: rename table_model.ts => TableModel.ts; update references
  .betterer.results
  public/app/core/TableModel.ts
  public/app/core/specs/TableModel.test.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/elasticsearch/elastic_response.ts
  public/app/plugins/datasource/influxdb/influx_series.ts
  public/app/plugins/datasource/influxdb/response_parser.ts
  public/app/plugins/panel/table-old/specs/renderer.test.ts
  public/app/plugins/panel/table-old/transformers.ts
  public/app/plugins/panel/table-old/types.ts
Labels: datasource/InfluxDB, datasource/Elasticsearch, area/backend, area/explore, area/frontend, pr/external, no-backport, no-changelog

#53170 Chore: Prettier ignore api-merged & api-spec swagger api specs
  .prettierignore
  public/api-merged.json
  public/api-spec.json
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#53168 Loki: Remove hardcoded values for LokiOperationId
  public/app/plugins/datasource/loki/querybuilder/parsing.test.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
  public/app/plugins/datasource/loki/querybuilder/types.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#52770 MegaMenu: Fix broken hamburger toggle
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/AppChromeService.tsx
  public/app/core/components/MegaMenu/MegaMenu.test.tsx
  public/app/core/components/MegaMenu/NavBarMenu.tsx
Labels: area/frontend, area/navigation, pr/external, no-backport, no-changelog

#53205 Chore: reformat swagger specs, again
  public/api-merged.json
  public/api-spec.json
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#53015 Typed variables pt3: Type VariableState with TypedVariableModel
  .betterer.results
  public/app/features/templating/template_srv.ts
  public/app/features/variables/state/selectors.ts
  public/app/features/variables/state/types.ts
  public/app/features/variables/state/variablesReducer.ts
Labels: area/dashboard/templating, area/frontend, no-backport, enterprise-ok, no-changelog

#53206 Chore: Change var keyword to const in addTooltipSupport
  packages/grafana-ui/src/components/uPlot/config/addTooltipSupport.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#53171 Drone: Add retries for pipelines
  .drone.yml
  scripts/drone/events/cron.star
  scripts/drone/utils/utils.star
Labels: type/ci, no-backport, no-changelog, enterprise-failed

#53026 CI: Run `main-docs` pipeline only, when a docs PR is merged
  .drone.yml
  scripts/drone/events/main.star
  scripts/drone/events/pr.star
  scripts/drone/pipelines/docs.star
Labels: type/ci, no-backport, no-changelog, enterprise-failed

#53197 Chore: Remove apikey store methods from sqlstore
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/api/token_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/database/database_test.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/sqlstore/apikey.go
  pkg/services/sqlstore/apikey_test.go
  pkg/services/sqlstore/stats_test.go
  pkg/services/sqlstore/transactions_test.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#53191 CI: Make `retrieve` and `release` `npm packages` allowed to fail
  .drone.yml
  scripts/drone/events/release.star
Labels: type/ci, enterprise-ok, no-changelog, backport v9.1.x

#53201 RolePicker: Fix RolePicker menu positioning
  public/app/core/components/RolePicker/RolePicker.tsx
Labels: area/frontend, enterprise-ok, no-changelog, area/auth/serviceaccount, backport v9.0.x, backport v9.1.x

#53190 Search: rename `remove search constraints`
  public/app/features/search/page/components/SearchView.test.tsx
  public/app/features/search/page/components/SearchView.tsx
Labels: area/search, area/frontend, enterprise-ok, no-changelog, backport v9.1.x

#52444 Correlations: Add UpdateCorrelation HTTP API
  docs/sources/developers/http_api/correlations.md
  pkg/services/correlations/api.go
  pkg/services/correlations/correlations.go
  pkg/services/correlations/database.go
  pkg/services/correlations/models.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/correlations/correlations_update_test.go
  public/api-merged.json
  public/api-spec.json
Labels: type/docs, area/backend, area/frontend, add to changelog, enterprise-failed, area/glue, backport v9.1.x

#53135 Plugins: Only pass `rootUrls` field in request when not empty
  packages/grafana-toolkit/src/cli/tasks/plugin.sign.ts
Labels: area/plugins, type/chore, area/frontend, add to changelog, enterprise-ok, backport v8.5.x, backport v9.0.x, backport v9.1.x

#53214 Access Control: Fix permission error during dashboard creation flow
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/guard.go
Labels: type/bug, area/backend, add to changelog, enterprise-failed, backport v9.1.x

#53182 Prometheus: Add tests for new explain section
  .betterer.results
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderExplained.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryCodeEditor.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.test.tsx
Labels: datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#53114 Loki: Remove some of any assertions from tests
  .betterer.results
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderContainer.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.test.tsx
Labels: type/chore, area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#53223 Loki: Fix types in querybuilder state test
  .betterer.results
  public/app/plugins/datasource/loki/querybuilder/state.test.ts
Labels: area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#53221 Alerting: set dashboard and panel id using annotations in provisioning api
  pkg/services/ngalert/api/api_ruler_validation.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/provisioning/alert_rules.go
Labels: area/alerting, area/backend, enterprise-ok, no-changelog, backport v9.1.x

#52998 API: Fix snapshot responses
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/services/dashboardsnapshots/database/database.go
  pkg/services/dashboardsnapshots/errors.go
  public/api-merged.json
  public/api-spec.json
Labels: area/backend, area/frontend, add to changelog, enterprise-failed, backport v9.1.x

#53180 Metrics: Refactor usage of lezer nodes to reference ID instead of name (add_label_to_query)
  public/app/plugins/datasource/prometheus/add_label_to_query.ts
Labels: datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#53177 Metrics: Refactor use of lezer nodes to reference ID instead of name (parsing.ts)
  public/app/plugins/datasource/prometheus/querybuilder/parsing.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/parsingUtils.ts
Labels: datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#53239 Plugins: Only pass rootUrls field in request when not empty (part 2)
  packages/grafana-toolkit/src/cli/tasks/plugin.ci.ts
Labels: area/plugins, type/chore, area/frontend, area/grafana/toolkit, enterprise-ok, backport v8.5.x, no-changelog, backport v9.0.x, backport v9.1.x

#52901 Chore: Sql store split for legacy alerting
  pkg/api/alerting.go
  pkg/api/alerting_test.go
  pkg/api/common_test.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/server/wire.go
  pkg/services/alerting/alerting_usage.go
  pkg/services/alerting/alerting_usage_test.go
  pkg/services/alerting/conditions/query.go
  pkg/services/alerting/conditions/query_interval_test.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/engine.go
  pkg/services/alerting/engine_integration_test.go
  pkg/services/alerting/engine_test.go
  pkg/services/alerting/eval_context.go
  pkg/services/alerting/eval_context_test.go
  pkg/services/alerting/eval_handler_test.go
  pkg/services/alerting/extractor.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/notifier_test.go
  pkg/services/alerting/notifiers/alertmanager_test.go
  pkg/services/alerting/notifiers/base_test.go
  pkg/services/alerting/notifiers/dingding_test.go
  pkg/services/alerting/notifiers/opsgenie_test.go
  pkg/services/alerting/notifiers/pagerduty_test.go
  pkg/services/alerting/notifiers/pushover_test.go
  pkg/services/alerting/notifiers/telegram_test.go
  pkg/services/alerting/notifiers/victorops_test.go
  pkg/services/alerting/rule_test.go
  pkg/services/alerting/service.go
  pkg/services/alerting/service_test.go
  pkg/services/alerting/store.go
  pkg/services/alerting/store_notification.go
  pkg/services/alerting/store_notification_test.go
  pkg/services/alerting/store_test.go
  pkg/services/alerting/test_notification.go
  pkg/services/alerting/test_rule.go
  pkg/services/provisioning/notifiers/config_reader_test.go
  pkg/services/sqlstore/db/db.go
  pkg/services/sqlstore/store.go
Labels: type/chore, area/backend, no-backport, enterprise-ok, no-changelog

#53219 Storybook: remove `UseState` + add controls support to `TimeZonePicker` story
  packages/grafana-ui/src/components/DateTimePickers/TimeZonePicker.story.tsx
Labels: type/chore, area/frontend, area/storybook, no-backport, enterprise-ok, no-changelog

#53252 Chore: Add missing package to @grafana/schema
  packages/grafana-schema/package.json
  yarn.lock
Labels: type/chore, area/frontend, no-backport, no-changelog

#53253 Alerting: Fix migration failure
  pkg/services/sqlstore/migrations/ualert/permissions.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: type/bug, area/backend, add to changelog, area/backend/db/migration, backport v9.1.x

#53176 InfluxDB Datasource: Ensure that tooltip and legend have same parameters to calculate label
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/ContextMenuPlugin.tsx
Labels: type/bug, datasource/InfluxDB, area/frontend, area/datasource/frontend, area/panel/timeseries, no-backport, no-changelog, enterprise-failed

#53184 Canvas: Fix duplicated option editors functionality
  public/app/features/dimensions/editors/BackgroundSizeEditor.tsx
  public/app/plugins/panel/canvas/editor/options.ts
Labels: area/frontend, area/panel/canvas, no-backport, enterprise-ok, no-changelog

#53246 coremodels: Combine static and generic registries
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/http_server.go
  pkg/codegen/coremodel.go
  pkg/framework/coremodel/gen.go
  pkg/framework/coremodel/registry/assignability_test.go
  pkg/framework/coremodel/registry/provide.go
  pkg/framework/coremodel/registry/registry.go
  pkg/framework/coremodel/registry/registry_gen.go
Labels: area/backend, no-backport, area/schema, area/component-sys, enterprise-ok, no-changelog

#53262 Canvas: Fix inconsistent border behavior
  public/app/features/canvas/runtime/element.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#51608 Geomap: Add measuring tools
  .betterer.results
  packages/grafana-ui/src/types/icon.ts
  public/app/plugins/panel/geomap/GeomapOverlay.tsx
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/components/MeasureOverlay.tsx
  public/app/plugins/panel/geomap/components/MeasureVectorLayer.ts
  public/app/plugins/panel/geomap/globalStyles.ts
  public/app/plugins/panel/geomap/module.tsx
  public/app/plugins/panel/geomap/types.ts
  public/app/plugins/panel/geomap/utils/measure.test.ts
  public/app/plugins/panel/geomap/utils/measure.ts
Labels: area/frontend, add to changelog, area/panel/geomap, no-backport, enterprise-ok

#53274 [v9.0.x] Geomap: Fix tooltip offset bug
  public/app/plugins/panel/geomap/GeomapPanel.tsx
Labels: area/frontend, backport, area/panel/geomap, enterprise-ok, no-changelog, backport v9.0.x

#53230 Data Connections: Remove the placeholder for Recorded Queries
  pkg/api/index.go
  public/app/features/data-connections/DataConnectionsPage.tsx
  public/app/features/data-connections/constants.ts
  public/app/features/data-connections/tabs/RecordedQueries/RecordedQueries.tsx
  public/app/features/data-connections/tabs/RecordedQueries/index.tsx
Labels: area/plugins, area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#53266 Encryption: Fall back to AES-CFB on empty algorithm metadata
  pkg/services/encryption/service/service.go
Labels: area/security, area/backend/security, area/backend, go, no-backport, enterprise-ok, no-changelog

#53088 Build: Replace the file-loader loader with asset module in webpack config
  package.json
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  scripts/copy-unicons.js
  scripts/webpack/plugins/CopyUniconsPlugin.js
  scripts/webpack/webpack.common.js
Labels: area/frontend, add to changelog, enterprise-failed, backport v9.1.x

#53226 Remove GetUserById from store interface
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#53285 GrafanaUI: Render PageToolbar's leftItems regardless of title's presence
  packages/grafana-ui/src/components/PageLayout/PageToolbar.test.tsx
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
Labels: type/bug, area/frontend, add to changelog, enterprise-ok, backport v9.0.x, backport v9.1.x

#53204 Chore: Add user service method GetByLogin
  pkg/api/common_test.go
  pkg/api/org_invite.go
  pkg/api/org_invite_test.go
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/api/password.go
  pkg/api/signup.go
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/login/auth.go
  pkg/login/auth_test.go
  pkg/login/grafana_login.go
  pkg/login/grafana_login_test.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/services/login/authinfoservice/database/database.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
Labels: datasource/InfluxDB, type/docs, area/dashboard/templating, datasource/Elasticsearch, type/build-packaging, datasource/Prometheus, datasource/CloudWatch, datasource/MySQL, area/backend, datasource/MSSQL, area/explore, area/frontend, datasource/Loki, datasource/Azure, area/backend/db/migration, type/ci, no-backport, enterprise-ok, no-changelog

#53298 Chore: Add user service method GetByEmail
  pkg/services/login/authinfoservice/database/database.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#53241 Chore: Move api key models into apikey service package
  pkg/api/apikey.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/middleware/middleware_test.go
  pkg/models/apikey.go
  pkg/services/apikey/apikey.go
  pkg/services/apikey/apikeyimpl/apikey.go
  pkg/services/apikey/apikeyimpl/store.go
  pkg/services/apikey/apikeyimpl/store_test.go
  pkg/services/apikey/apikeytest/fake.go
  pkg/services/apikey/model.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/serviceaccounts/api/token.go
  pkg/services/serviceaccounts/api/token_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/database/stats_test.go
  pkg/services/serviceaccounts/database/token_store.go
  pkg/services/serviceaccounts/database/token_store_test.go
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/sqlstore/mockstore/mockstore.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#53300 Chore: Add user service method Update
  pkg/api/user.go
  pkg/services/login/loginservice/loginservice.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#53303 Chore: Add user service method ChangePassword
  pkg/api/admin_users.go
  pkg/api/password.go
  pkg/api/user.go
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#53309 Chore: Add user service method UpdateLastSeenAt
  pkg/api/common_test.go
  pkg/middleware/middleware_test.go
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#53307 Chore: Convert FolderSettingsPage.test.tsx to RTL
  .betterer.results
  public/app/features/folders/FolderSettingsPage.test.tsx
  public/app/features/folders/__snapshots__/FolderSettingsPage.test.tsx.snap
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#53120 Alerting: Adds support for editing group details for Grafana managed rules
  public/app/features/alerting/unified/components/InvalidIntervalWarning.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rules/CloudRules.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/GrafanaRules.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.test.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/utils/config.ts
  public/app/features/alerting/unified/utils/misc.ts
Labels: area/alerting, area/frontend, add to changelog, no-backport, enterprise-failed

#53297 i18n: Translates the Share Panel modal
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/dashboard/components/ShareModal/ShareEmbed.tsx
  public/app/features/dashboard/components/ShareModal/ShareLibraryPanel.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/dashboard/components/ShareModal/ShareModal.tsx
  public/app/features/dashboard/components/ShareModal/ThemePicker.tsx
  public/app/features/library-panels/components/AddLibraryPanelModal/AddLibraryPanelModal.tsx
  public/app/features/library-panels/utils/usePanelSave.ts
  public/locales/en-US/messages.po
  public/locales/es-ES/messages.po
  public/locales/fr-FR/messages.po
  public/locales/pseudo-LOCALE/messages.po
Labels: area/frontend, area/internationalization, no-backport, enterprise-ok, no-changelog

#53254 Loki: Fix producing correct log volume query for query with comments
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/modifyQuery.test.ts
  public/app/plugins/datasource/loki/modifyQuery.ts
Labels: type/bug, prio/medium, area/frontend, datasource/Loki, add to changelog, enterprise-failed, backport v9.1.x

#53301 [v8.5.x] API: Fix snapshot responses
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/docs/definitions/snapshot.go
  public/api-merged.json
  public/api-spec.json
Labels: area/backend, area/frontend, backport, no-changelog

#53312 [v9.0.x] API: Fix snapshot responses
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/docs/definitions/snapshot.go
  public/api-merged.json
  public/api-spec.json
Labels: area/backend, area/frontend, backport, enterprise-ok, no-changelog

#53071 CI: move `grabpl build-plugins` from grabpl to grafana
  .drone.yml
  pkg/build/cmd/buildinternalplugins.go
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/config/version.go
  pkg/build/grafana/variant.go
  pkg/build/plugins/build.go
  pkg/build/plugins/download.go
  pkg/build/plugins/manifest.go
  pkg/build/plugins/zip.go
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, enterprise-ok, no-changelog

#53243 Implementing OpenApi 3 (converted from Swagger2)
  .prettierignore
  Makefile
  pkg/api/api.go
  pkg/api/openapi3.go
  public/openapi3.json
  public/views/openapi3.html
  scripts/openapi3/openapi3conv.go
Labels: type/build-packaging, area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#53308 Adding hint about not being mandatory
  docs/sources/developers/http_api/data_source.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#53330 Geomap: Do not show markers with empty coordinates
  public/app/features/geo/format/utils.ts
Labels: area/frontend, backport, area/panel/geomap, no-changelog, enterprise-failed, backport v9.0.x

#53247 Access Control: Set permissions for Grafana's test data source
  pkg/api/accesscontrol.go
Labels: type/bug, area/backend, add to changelog, enterprise-failed, backport v9.1.x

#53178 Alerting: Remove mention of host name from Alerting HA docs
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, area/alerting, no-changelog, backport v9.0.x, backport v9.1.x

#53017 Typed variables pt4: Remove generics from getVariable
  .betterer.results
  .eslintrc
  public/app/features/variables/datasource/actions.ts
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/interval/actions.ts
  public/app/features/variables/pickers/OptionsPicker/actions.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
  public/app/features/variables/query/VariableQueryRunner.ts
  public/app/features/variables/query/actions.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/selectors.ts
  public/app/features/variables/textbox/actions.ts
Labels: area/dashboard/templating, area/frontend, no-backport, no-changelog, enterprise-failed

#53347 Chore: Remove pluginsettings methods from store and mockstore
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#52331 Login: Allow basic users to reset password when LDAP or Auth Proxy is enabled
  pkg/api/password.go
  pkg/api/user.go
  pkg/models/user_auth.go
  public/app/core/components/Login/LoginCtrl.tsx
  public/app/core/components/Login/LoginPage.tsx
  public/app/features/profile/ChangePasswordForm.tsx
  public/app/features/profile/ChangePasswordPage.test.tsx
Labels: area/auth, area/backend, area/frontend, add to changelog, pr/external, no-backport, team/grafana-authnz

#53342 E2E: Make Cypress recordings higher res + quality
  packages/grafana-e2e/cypress.json
  packages/grafana-e2e/cypress/plugins/index.js
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#50362 Azure Monitor: Add Network Insights Dashboard
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/networkInsightsDashboard.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/plugin.json
Labels: area/frontend, datasource/Azure, add to changelog, pr/external, backport v9.1.x

#53314 BarGauge: Show empty bar when value, minValue and maxValue are all equal
  packages/grafana-ui/src/components/BarGauge/BarGauge.test.tsx
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
Labels: type/bug, area/frontend, add to changelog, enterprise-failed, backport v9.1.x

#53287 Prometheus: Use lezer-promql types instead of hardcoded strings
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/situation.ts
  public/app/plugins/datasource/prometheus/querybuilder/parsing.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog, enterprise-failed

#53242 Oauth: Reduce error scope on upsert
  pkg/api/login_oauth.go
  pkg/services/login/loginservice/loginservice.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#53260 Chore: remove any from test
  .betterer.results
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.test.tsx
Labels: area/frontend, datasource/Loki, no-backport, enterprise-ok, no-changelog

#53380 Dashboard: Fix color of bold and italics text in panel description tooltip
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Labels: type/bug, area/frontend, add to changelog, backport v9.1.x

#53386 CI: Replace logging with anonymous defer functions
  pkg/build/plugins/manifest.go
Labels: type/bug, area/backend, type/ci, no-backport, no-changelog

#53319 Loki: Fix showing of unusable labels field in detected fields
  .betterer.results
  packages/grafana-ui/src/components/Logs/LogDetails.test.tsx
  packages/grafana-ui/src/components/Logs/LogRowContextProvider.test.tsx
  packages/grafana-ui/src/components/Logs/LogRows.test.tsx
  packages/grafana-ui/src/components/Logs/__mocks__/logRow.ts
  packages/grafana-ui/src/components/Logs/logParser.test.ts
  packages/grafana-ui/src/components/Logs/logParser.ts
Labels: area/frontend, add to changelog, enterprise-failed, backport v9.1.x

#53402 Backport release notes of 8.5.10
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-5-10.md
Labels: type/docs, no-backport, no-changelog

#53403 Chore: Update version of `@grafana/eslint-config`
  package.json
  packages/grafana-data/src/utils/url.ts
  packages/grafana-toolkit/bin/grafana-toolkit.js
  packages/grafana-toolkit/docker/grafana-plugin-ci-alpine/install/bin/githubRelease.js
  packages/jaeger-ui-components/src/utils/color-generator.tsx
  public/app/angular/bsTooltip.ts
  public/app/angular/bsTypeahead.ts
  public/app/angular/components/code_editor/theme-grafana-dark.js
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/core/navigation/parseKeyValue.ts
  public/app/core/services/echo/backends/analytics/ApplicationInsightsBackend.ts
  public/app/core/services/echo/backends/analytics/RudderstackBackend.ts
  public/app/core/utils/isShallowEqual.ts
  public/app/features/alerting/unified/utils/rule-id.ts
  public/app/features/dashboard/components/PanelEditor/state/OptionSearchEngine.ts
  public/app/features/variables/state/selectors.ts
  public/app/plugins/datasource/cloudwatch/datasource.d.ts
  public/app/plugins/datasource/influxdb/response_parser.ts
  public/app/plugins/datasource/jaeger/components/SearchForm.test.tsx
  public/app/plugins/datasource/opentsdb/datasource.d.ts
  public/app/plugins/datasource/postgres/mode-sql.js
  public/app/plugins/datasource/tempo/QueryEditor/NativeSearch.test.tsx
  public/app/plugins/panel/graph/graph_tooltip.d.ts
  public/dashboards/scripted.js
  public/dashboards/scripted_async.js
  public/dashboards/scripted_templated.js
  yarn.lock
Labels: datasource/InfluxDB, datasource/OpenTSDB, area/dashboard/templating, type/chore, datasource/CloudWatch, datasource/Postgres, area/frontend, datasource/Tempo, no-backport, enterprise-ok, no-changelog

#53121 Chore: Make "why-did-you-render" a dynamic import
  public/app/dev.ts
Labels: type/chore, type/performance, area/frontend, no-backport, no-changelog, enterprise-failed

#53256 Alerting: Fix alert detail layout issue
  public/app/features/alerting/unified/components/AnnotationDetailsField.tsx
  public/app/features/alerting/unified/components/Tokenize.tsx
Labels: type/bug, area/alerting, area/frontend, enterprise-ok, no-changelog, backport v9.1.x

#53404 Change LDAP configuration to secure connections
  docs/sources/setup-grafana/configure-security/configure-authentication/ldap.md
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#53408 Chore: e2e add timeout to avoid race condition with db saving
  e2e/dashboards-suite/dashboard-public-create.spec.ts
Labels: area/frontend, enterprise-ok, no-changelog, backport v9.1.x

#53076 CI: move `grabpl shellcheck` from grabpl to grafana
  .drone.yml
  pkg/build/cmd/main.go
  pkg/build/cmd/shellcheck.go
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, enterprise-ok, no-changelog

#53245 Chore: Reduce usage of v1 theme
  packages/grafana-data/src/field/scale.test.ts
  packages/grafana-data/src/themes/types.ts
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/utils/namedColorsPalette.test.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/components/Badge/Badge.tsx
  packages/grafana-ui/src/components/BrowserLabel/Label.tsx
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
  packages/grafana-ui/src/components/ColorPicker/SeriesColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/SpectrumPalette.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.tsx
  packages/grafana-ui/src/components/DataLinks/FieldLinkList.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DateTimePickers/DatePickerWithInput/DatePickerWithInput.tsx
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeOfDayPicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangeInput.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/CalendarBody.tsx
  packages/grafana-ui/src/components/Forms/commonStyles.ts
  packages/grafana-ui/src/components/Gauge/utils.ts
  packages/grafana-ui/src/components/Input/Input.tsx
  packages/grafana-ui/src/components/Segment/Segment.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.tsx
  packages/grafana-ui/src/components/Segment/styles.ts
  packages/grafana-ui/src/components/TextArea/TextArea.tsx
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.light.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.scss.tmpl.ts
  packages/grafana-ui/src/themes/mixins.ts
  public/app/plugins/panel/nodeGraph/Marker.tsx
  public/app/plugins/panel/nodeGraph/ViewControls.tsx
  public/app/plugins/panel/nodeGraph/useContextMenu.tsx
  public/app/plugins/panel/table-old/module.ts
  public/app/plugins/panel/table-old/renderer.ts
  public/app/plugins/panel/table/TablePanel.tsx
  public/app/plugins/panel/text/TextPanelEditor.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
  public/app/plugins/panel/welcome/Welcome.tsx
  public/app/plugins/panel/xychart/XYDimsEditor.tsx
Labels: type/chore, area/frontend, area/ui/theme, no-backport, no-changelog, enterprise-failed

#53415 Chore: Remove the sqlstore playlist methods
  pkg/services/export/export_sys_playlists.go
  pkg/services/export/git_export_job.go
  pkg/services/export/service.go
  pkg/services/playlist/playlistimpl/store_test.go
  pkg/services/sqlstore/playlist.go
  pkg/services/sqlstore/playlist_test.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#53369 CI: Update `grabpl` to v3.0.1
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/chore, type/ci, no-backport, no-changelog, enterprise-failed

#53277 Chore: Enable ANSI_QUOTES for Mysql Database
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/sqlstore_test.go
  pkg/services/sqlstore/sqlutil/sqlutil.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#53361 Graphite Plugin: fix annotation migration regression with ref-ids
  public/app/plugins/datasource/graphite/datasource.ts
Labels: datasource/Graphite, area/frontend, area/datasource/frontend, type/regression, enterprise-ok, no-changelog, backport v9.1.x
