Repository grafana/grafana, pull requests merged in 2022-01, with the labels that each got.

#43608 [v8.3.x] GraphNG: uPlot 1.6.18 (#43255)
  package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, backport

#43333 Graphite: Make Graphite config page more accessible
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
Labels: datasource/Graphite, area/frontend, type/accessibility, backport v8.3.x

#42534 Loki: Improve log volume error handling
  public/app/core/logs_model.ts
  public/app/features/explore/LogsVolumePanel.test.tsx
  public/app/features/explore/LogsVolumePanel.tsx
Labels: area/explore, area/frontend, datasource/Loki

#43616 Alerting: fix tooltip placement
  public/app/features/alerting/unified/components/rules/RuleListErrors.tsx
Labels: area/frontend, area/alerting/unified

#43619 Alerting: adds missing type info to the `FieldConfigSource`
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
Labels: area/frontend, area/alerting/unified

#43624 devenv: fix maildev block
  devenv/docker/blocks/maildev/docker-compose.yaml
Labels: area/devenv

#43632 Previews: check feature flag on dashboard manage page
  public/app/features/search/components/ManageDashboards.tsx
Labels: area/dashboard, area/search, area/frontend

#43635 Docs: Added note that alert notifications no longer include images
  docs/sources/alerting/unified-alerting/difference-old-new.md
Labels: type/docs, backport v8.3.x

#43601 AccessControl: Reduce tone of access error
  pkg/services/accesscontrol/middleware/middleware.go
Labels: area/backend, area/accesscontrol

#43566 Chore: Rename AddEventListenerCtx to AddEventListener and PublishCtx to Publish
  pkg/api/org_invite.go
  pkg/api/signup.go
  pkg/bus/bus.go
  pkg/bus/bus_test.go
  pkg/plugins/plugindashboards/service.go
  pkg/services/notifications/notifications.go
  pkg/services/sqlstore/datasource_test.go
  pkg/services/sqlstore/transactions.go
Labels: area/backend

#43642 Docs: Fix formatting of markdown file
  docs/sources/alerting/unified-alerting/difference-old-new.md
Labels: type/docs

#43621 Github Actions: update the reporting for the levitate workflow
  .github/workflows/detect-breaking-changes-report.yml
  .github/workflows/scripts/get-workflow-run-artifact.js
Labels: type/bug, type/chore, type/ci

#43646 Github Actions: another fix for the levitate workflow
  .github/workflows/detect-breaking-changes-report.yml
Labels: type/bug, type/chore, type/ci

#43648 Access Control: Fix slow query
  pkg/services/accesscontrol/database/resource_permissions.go
Labels: area/backend, area/accesscontrol

#43626 Dashboards: Improve query time
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/sqlbuilder.go
Labels: area/backend

#43652 Access control: Quote reserved keyword in query
  pkg/services/accesscontrol/database/resource_permissions.go
Labels: area/backend, area/accesscontrol

#43659 Github Actions: another fix for the levitate workflow
  .github/workflows/detect-breaking-changes-build.yml
  .github/workflows/detect-breaking-changes-report.yml
Labels: type/bug, type/chore, type/ci

#43558 Datemath: Support fiscal years
  go.mod
  go.sum
  pkg/extensions/main.go
  pkg/tsdb/legacydata/time_range.go
  pkg/tsdb/legacydata/time_range_test.go
Labels: area/backend, backport v8.3.x

#43663 CI: Remove `initialize` step from integration tests pipeline
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
Labels: type/ci

#43634 refactor promethueus package into sub packages
  pkg/tsdb/prometheus/client/provider.go
  pkg/tsdb/prometheus/client/provider_test.go
  pkg/tsdb/prometheus/middleware/custom_query_params.go
  pkg/tsdb/prometheus/middleware/custom_query_params_test.go
  pkg/tsdb/prometheus/middleware/force_http_get.go
  pkg/tsdb/prometheus/middleware/force_http_get_test.go
  pkg/tsdb/prometheus/prometheus.go
Labels: datasource/Prometheus, area/backend

#43168 Tempo: Fix Otel span kind mapping in trace upload resultTransformer
  public/app/plugins/datasource/tempo/resultTransformer.ts
  public/app/plugins/datasource/tempo/testResponse.ts
Labels: type/bug, area/frontend, datasource/Tempo, backport v8.3.x

#43667 Chore: Remove cypress cache volumes
  .drone.yml
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: type/ci

#42659 Accesscontrol: Apply FGAC to APIKey endpoints
  pkg/api/api.go
  pkg/services/serviceaccounts/manager/roles.go
  pkg/services/serviceaccounts/manager/service.go
Labels: area/backend

#43344 fix(time series): first point in a series can show context menu on click
  public/app/plugins/panel/timeseries/plugins/ContextMenuPlugin.tsx
Labels: area/frontend, pr/external, backport v8.3.x

#43633 NodeGraph: Fix empty state to display 'No Data' message
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.tsx
Labels: area/frontend, datasource/Tempo, area/panel/node-graph, backport v8.3.x

#43668 Remove height/width to fix safari issue
  public/app/features/search/components/SearchCard.tsx
Labels: area/frontend

#43655 BarGuage: Fixes vertical view flip and bar misalignment when used with datalinks
  packages/grafana-ui/src/components/BarGauge/BarGauge.test.tsx
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  packages/grafana-ui/src/components/BarGauge/__snapshots__/BarGauge.test.tsx.snap
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
Labels: area/frontend, area/panel/bargauge, backport v8.3.x

#43466 docs: aws marketplace
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/enterprise/license/_index.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/_index.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/about-ge-license-through-aws.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/activate-license-on-ecs.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/activate-license-on-eks.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/activate-license-on-instance-outside-aws.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/manage-license-in-aws-marketplace.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/transfer-ge-license.md
  docs/sources/enterprise/license/license-restrictions.md
  docs/sources/panels/transformations/_index.md
Labels: type/docs, backport v8.3.x

#43630 Import: fix dashboard imports with expressions
  pkg/plugins/manager/dashboard_import.go
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
Labels: area/backend, area/dashboard/import, area/frontend, area/expressions, backport v8.3.x

#43653 Docs: Add info about yarn pnp to developer guide
  contribute/developer-guide.md
Labels: type/docs

#41836 docs: contributing updates
  CONTRIBUTING.md
  contribute/README.md
  contribute/documentation.md
  contribute/documentation/README.md
  contribute/documentation/documentation-markdown-guide.md
  contribute/documentation/edit-file.png
  contribute/documentation/request-change.png
  contribute/documentation/templates/doc-concept-template.md
  contribute/documentation/templates/doc-reference-template.md
  contribute/documentation/templates/doc-task-template.md
  contribute/style-guides/documentation-style-guide.md
  contribute/templates/README.md
Labels: type/docs

#43689 Docs: Updated Opt-in topic for unified alerting.
  docs/sources/alerting/unified-alerting/opt-in.md
Labels: type/docs, backport v8.3.x

#43580 CloudWatch: a11y: Add missing aria labels on explore metrics/logs editor
  public/app/plugins/datasource/cloudwatch/components/Alias.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricStatEditor/MetricStatEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryHeader.tsx
Labels: datasource/CloudWatch, area/frontend

#43602 AccessControl: Present user edit actions according to AC metadata
  pkg/api/api.go
  pkg/api/org_users.go
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/models/user.go
  public/app/features/admin/UserProfile.tsx
  public/app/features/admin/state/actions.ts
  public/app/types/user.ts
Labels: area/backend, area/frontend, area/accesscontrol

#43678 Alerting: fix notification channel test
  pkg/services/alerting/test_notification.go
Labels: type/bug, area/backend, backport v8.3.x

#43693 PieChart: Respect percent labels and legends decimal setting
  public/app/plugins/panel/piechart/PieChart.tsx
  public/app/plugins/panel/piechart/PieChartPanel.tsx
Labels: area/frontend, area/panel/piechart

#43584 Transformations: groupBy transformation now preserves data order
  packages/grafana-data/src/transformations/transformers/groupBy.test.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
Labels: area/frontend, pr/external

#43696 Package: Add `packages:publishTest` command
  package.json
  packages/README.md
Labels: type/build-packaging, area/frontend, backport v8.3.x

#43622 Prometheus: Fill missing steps with null values
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/time_series_query_test.go
Labels: type/bug, datasource/Prometheus, area/backend, add to changelog, backport v8.3.x

#43613 InfoTooltip: refactor component to be accessible
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/InfoTooltip/InfoTooltip.tsx
Labels: area/frontend, type/accessibility

#43451 ImportDashboard: Fixes issue with importing dashboard and name ending up in uid
  public/app/features/manage-dashboards/components/ImportDashboardForm.tsx
  public/app/features/manage-dashboards/state/actions.test.ts
  public/app/features/manage-dashboards/state/actions.ts
Labels: type/bug, area/dashboard/import, area/frontend, add to changelog, backport v8.3.x

#43704 Hide previews behind toggle properly
  public/app/features/search/components/DashboardSearch.tsx
Labels: area/frontend

#43681 [v8.3.x] docs: aws marketplace
  docs/sources/enterprise/enterprise-configuration.md
  docs/sources/enterprise/license/_index.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/_index.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/about-ge-license-through-aws.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/activate-license-on-ecs.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/activate-license-on-eks.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/activate-license-on-instance-outside-aws.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/manage-license-in-aws-marketplace.md
  docs/sources/enterprise/license/activate-aws-marketplace-license/transfer-ge-license.md
  docs/sources/panels/transformations/_index.md
Labels: type/docs

#43568 Alerting: Allow customization of Google chat message
  pkg/services/ngalert/notifier/available_channels.go
  pkg/services/ngalert/notifier/channels/default_template.go
  pkg/services/ngalert/notifier/channels/default_template_test.go
  pkg/services/ngalert/notifier/channels/dingding.go
  pkg/services/ngalert/notifier/channels/discord.go
  pkg/services/ngalert/notifier/channels/email.go
  pkg/services/ngalert/notifier/channels/googlechat.go
  pkg/services/ngalert/notifier/channels/googlechat_test.go
  pkg/services/ngalert/notifier/channels/kafka.go
  pkg/services/ngalert/notifier/channels/line.go
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pushover.go
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/teams.go
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/threema.go
  pkg/services/ngalert/notifier/channels/victorops.go
  pkg/services/ngalert/notifier/channels/webhook.go
  pkg/services/ngalert/notifier/channels/wecom.go
  pkg/tests/api/alerting/api_available_channel_test.go
  public/app/features/alerting/unified/mocks/grafana-notifiers.ts
Labels: area/backend, area/frontend, add to changelog, area/alerting/unified, backport v8.3.x

#43710 AccessControl: Remove unused error from `GetResourcesMetadata`
  pkg/api/datasources.go
  pkg/api/org_users.go
  pkg/api/user.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/accesscontrol_bench_test.go
  pkg/services/accesscontrol/accesscontrol_test.go
Labels: area/backend

#43637 StreamingDataFrame: support legend format and prometheus style labels
  packages/grafana-runtime/src/services/live.ts
  public/app/features/live/data/StreamingDataFrame.test.ts
  public/app/features/live/data/StreamingDataFrame.ts
Labels: area/frontend, area/live

#43723 Alerting: Allow customization of Google chat message (#43568)
  pkg/services/ngalert/notifier/available_channels.go
  pkg/services/ngalert/notifier/channels/default_template.go
  pkg/services/ngalert/notifier/channels/default_template_test.go
  pkg/services/ngalert/notifier/channels/dingding.go
  pkg/services/ngalert/notifier/channels/discord.go
  pkg/services/ngalert/notifier/channels/email.go
  pkg/services/ngalert/notifier/channels/googlechat.go
  pkg/services/ngalert/notifier/channels/googlechat_test.go
  pkg/services/ngalert/notifier/channels/kafka.go
  pkg/services/ngalert/notifier/channels/line.go
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pushover.go
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/teams.go
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/threema.go
  pkg/services/ngalert/notifier/channels/victorops.go
  pkg/services/ngalert/notifier/channels/webhook.go
  pkg/tests/api/alerting/api_available_channel_test.go
  public/app/features/alerting/unified/mocks/grafana-notifiers.ts
Labels: area/backend, area/frontend, add to changelog, area/alerting/unified, backport

#41578 Alerting: UI for mute timings
  docs/sources/alerting/unified-alerting/_index.md
  docs/sources/alerting/unified-alerting/alert-groups.md
  docs/sources/alerting/unified-alerting/contact-points.md
  docs/sources/alerting/unified-alerting/notifications/_index.md
  docs/sources/alerting/unified-alerting/notifications/mute-timings.md
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/AmRoutes.test.tsx
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/MuteTimings.test.tsx
  public/app/features/alerting/unified/MuteTimings.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedRead.tsx
  public/app/features/alerting/unified/components/amroutes/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/amroutes/MuteTimingTimeInterval.tsx
  public/app/features/alerting/unified/components/amroutes/MuteTimingTimeRange.tsx
  public/app/features/alerting/unified/components/amroutes/MuteTimingsTable.tsx
  public/app/features/alerting/unified/hooks/useMuteTimingOptions.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/types/amroutes.ts
  public/app/features/alerting/unified/types/mute-timing-form.ts
  public/app/features/alerting/unified/utils/alertmanager.test.ts
  public/app/features/alerting/unified/utils/alertmanager.ts
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/mute-timings.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: type/docs, area/frontend, area/alerting/unified

#43714 A11y: Fix a11y issues in OpenTSDB
  public/app/plugins/datasource/opentsdb/components/OpenTsdbDetails.tsx
  public/app/plugins/datasource/opentsdb/partials/query.editor.html
Labels: datasource/OpenTSDB, area/frontend, type/accessibility, backport v8.3.x

#43676 Tempo: Don't show error when running query without traceId
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: area/explore, area/frontend, add to changelog, datasource/Tempo

#43686 Forward oauth tokens after prometheus datasource migration
  pkg/tsdb/prometheus/client/provider.go
  pkg/tsdb/prometheus/client/provider_test.go
  pkg/tsdb/prometheus/promclient/cache.go
  pkg/tsdb/prometheus/promclient/cache_test.go
  pkg/tsdb/prometheus/promclient/provider.go
  pkg/tsdb/prometheus/promclient/provider_test.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/types.go
Labels: datasource/Prometheus, area/backend

#43739 Login: Page no longer overflows on mobile
  public/app/core/components/Login/LoginLayout.tsx
Labels: type/bug, area/frontend, add to changelog, area/frontend/login, backport v8.3.x

#43743 AccessControl: verify metadata map is not null
  pkg/api/org_users.go
Labels: area/backend

#43742 Github Actions: another fix for the levitate workflow
  .github/workflows/detect-breaking-changes-build.yml
  scripts/check-breaking-changes.sh
Labels: type/bug, type/chore, type/build-packaging, type/ci

#43746 TimePicker: fixes focus restoration on narrow screens
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerCalendar.tsx
Labels: area/frontend, timepicker

#43753 Fix deprecated sass
  public/sass/base/_forms.scss
  public/sass/base/_type.scss
  public/sass/base/font-awesome/_fixed-width.scss
  public/sass/base/font-awesome/_larger.scss
  public/sass/base/font-awesome/_list.scss
  public/sass/base/font-awesome/_variables.scss
  public/sass/components/_dropdown.scss
  public/sass/components/_gf-form.scss
  public/sass/components/_modals.scss
  public/sass/components/_panel_gettingstarted.scss
  public/sass/components/_panel_pluginlist.scss
  public/sass/components/_tabs.scss
  public/sass/mixins/_grid-framework.scss
  public/sass/mixins/_grid.scss
  public/sass/mixins/_mixins.scss
Labels: type/chore, area/frontend

#43745 ColorPicker: Makes tab order left to right
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/NamedColorsGroup.tsx
  packages/grafana-ui/src/utils/reverseMap.test.ts
  packages/grafana-ui/src/utils/reverseMap.ts
Labels: area/frontend, area/grafana/ui, type/accessibility

#43726 Input: Fix margins when not using prefix/suffix
  packages/grafana-ui/src/components/Input/Input.tsx
Labels: area/frontend, backport v8.3.x

#43728 Tempo: Filter available service graph filter values to most relevant options
  public/app/features/variables/adhoc/picker/AdHocFilter.tsx
  public/app/features/variables/adhoc/picker/AdHocFilterBuilder.tsx
  public/app/features/variables/adhoc/picker/AdHocFilterKey.tsx
  public/app/features/variables/adhoc/picker/AdHocFilterRenderer.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/tempo/QueryEditor/ServiceGraphSection.tsx
Labels: area/dashboard/templating, datasource/Prometheus, area/frontend, datasource/Tempo

#43734 Add record-audio icon for recorded queries
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  packages/grafana-ui/src/types/icon.ts
Labels: area/frontend, breaking change

#41636 Logger migration from log15 to gokit/log
  pkg/api/frontend_logging.go
  pkg/api/frontend_logging_test.go
  pkg/api/frontendlogging/sentry.go
  pkg/infra/log/file.go
  pkg/infra/log/file_test.go
  pkg/infra/log/interface.go
  pkg/infra/log/level/level.go
  pkg/infra/log/log.go
  pkg/infra/log/syslog.go
  pkg/infra/log/syslog_windows.go
  pkg/infra/remotecache/remotecache.go
  pkg/infra/usagestats/service/service.go
  pkg/login/social/generic_oauth_test.go
  pkg/middleware/recovery.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/services/ngalert/logging/logging_test.go
Labels: datasource/Graphite, type/docs, datasource/OpenTSDB, datasource/Prometheus, datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, datasource/Loki, add to changelog, datasource/Tempo

#43598 [v8.0.x] Chore: Prevent loading error from showing too early (#41347)
  public/app/app.ts
  public/app/index.ts
  public/app/types/window.d.ts
  public/views/index-template.html
Labels: type/bug, area/frontend, backport

#43597 [v8.1.x] Chore: Prevent loading error from showing too early (#41347)
  public/app/app.ts
  public/app/index.ts
  public/app/types/window.d.ts
  public/views/index-template.html
Labels: type/bug, area/plugins, area/frontend, backport

#41890 UI/Card: Refactor Card component for improved accessibility
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-e2e/src/flows/addDataSource.ts
  packages/grafana-ui/src/components/Button/Button.story.tsx
  packages/grafana-ui/src/components/Card/Card.mdx
  packages/grafana-ui/src/components/Card/Card.story.tsx
  packages/grafana-ui/src/components/Card/Card.test.tsx
  packages/grafana-ui/src/components/Card/Card.tsx
  packages/grafana-ui/src/components/Card/CardContainer.tsx
  packages/grafana-ui/src/components/ThemeDemos/ThemeDemo.tsx
  public/app/core/components/Card/Card.tsx
  public/app/features/alerting/AlertRuleItem.tsx
  public/app/features/alerting/unified/RedirectToRuleViewer.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
  public/app/features/datasources/DataSourceList.test.tsx
  public/app/features/datasources/DataSourcesList.tsx
  public/app/features/datasources/NewDataSourcePage.tsx
  public/app/features/playlist/PlaylistPageList.tsx
  public/app/features/search/components/SearchItem.tsx
  public/app/plugins/panel/alertlist/AlertList.tsx
Labels: area/frontend, area/grafana/ui, type/accessibility

#43245 Refactor: Change sqlstore.inTransaction to .WithTransactionalDBSession
  pkg/services/sqlstore/alert_notification.go
  pkg/services/sqlstore/alert_notification_test.go
Labels: area/backend

#43735 Chore: remove graph(NG) from storybook
  packages/grafana-ui/src/components/Graph/Graph.story.internal.tsx
  packages/grafana-ui/src/components/Graph/Graph.tsx
  packages/grafana-ui/src/components/GraphNG/GraphNG.story.internal.tsx
Labels: area/frontend, area/storybook

#43757 Fixed incorrect link to text panel page
  docs/sources/visualizations/_index.md
Labels: type/docs, pr/external, backport v8.3.x

#43769 Alerting: Remove bridge between log15 and go-kit logger
  pkg/services/ngalert/logging/logging.go
  pkg/services/ngalert/logging/logging_test.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager_test.go
  pkg/services/ngalert/notifier/channels/template_data.go
  pkg/services/ngalert/notifier/multiorg_alertmanager.go
  pkg/services/ngalert/sender/sender.go
Labels: area/backend, area/alerting/unified

#43625 fix(40639): datasource should not be visible after uninstall
  public/app/features/plugins/pluginCacheBuster.ts
  public/app/features/plugins/pluginSettings.test.ts
  public/app/features/plugins/pluginSettings.ts
  public/app/features/plugins/tests/pluginCacheBuster.test.ts
Labels: area/plugins, area/frontend

#43749 Modal: Fix restore focus behavior
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/Modal/getModalStyles.ts
Labels: area/frontend, area/grafana/ui, type/accessibility

#43694 Chore: Remove duplication in npm script
  scripts/build/release-npm-packages.sh
Labels: type/chore, type/build-packaging, type/ci, backport v8.3.x

#43376 Table: Fixes issue with field config applied to wrong fields when hiding columns
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/types.ts
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/Table/utils.ts
Labels: area/panel/table, area/frontend, add to changelog, backport v8.3.x

#43445 PostgreSQL: include numeric column type in Query Builder metaquery
  public/app/plugins/datasource/postgres/meta_query.ts
Labels: datasource/Postgres, area/frontend, pr/external

#43762 Postgres: Fix test datasource always returns success
  public/app/plugins/datasource/postgres/datasource.test.ts
  public/app/plugins/datasource/postgres/datasource.ts
Labels: type/bug, datasource/Postgres, area/frontend, backport v8.3.x

#43795 Dependencies: Enable patch updates in renovate
  .github/renovate.json5
Labels: type/chore, dependencies

#43665 Datemath: Remove unused functions
  pkg/tsdb/legacydata/time_range.go
Labels: area/backend

#43796 Dependencies: Add a group name to ensure patch updates are grouped in the same PR
  .github/renovate.json5
Labels: type/chore, dependencies

#43576 docs(static): add plugin submission how-to
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs

#43640 Usage Stats: Add metrics to count enabled kms providers per kind
  conf/defaults.ini
  conf/sample.ini
  pkg/services/kmsproviders/kmsproviders.go
  pkg/services/kmsproviders/osskmsproviders/osskmsproviders.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/manager_test.go
  pkg/services/secrets/secrets.go
  pkg/services/secrets/types.go
Labels: area/security, area/backend/security, area/backend, area/meta-analytics

#43797 Chore: Upgrade go version to 1.17.6
  scripts/build/ci-build/Dockerfile
Labels: type/build-packaging

#42996 UI/ClipboardButton: Remove ClipboardJS in favor of native Clipboard API
  package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.tsx
  public/app/angular/angular_wrappers.ts
  public/app/angular/misc.ts
  public/app/core/components/CopyToClipboard/CopyToClipboard.tsx
  public/app/features/alerting/TestRuleResult.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
  public/app/features/inspector/QueryInspector.tsx
  yarn.lock
Labels: area/frontend, area/grafana/ui

#43779 Units: Fixed VAr (Volt-Ampere reactive), VA and kVA capitalization
  devenv/dev-dashboards-without-uid/panel_tests_polystat.json
  devenv/dev-dashboards/panel-polystat/polystat_test.json
  packages/grafana-data/src/valueFormats/categories.ts
Labels: area/units, area/frontend, pr/external

#43486 Prometheus: Fix processing of all annotation frames
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, area/frontend, pr/external, backport v8.3.x

#43800 Package: Add `packages:publishPrevious` command
  package.json
Labels: area/frontend, backport v8.3.x

#43807 Upgrade go version to 1.17.6 (#43797)
  scripts/build/ci-build/Dockerfile
Labels: type/build-packaging, backport

#43802 Hotkeys: Make time range permanent
  public/app/core/components/help/HelpModal.tsx
  public/app/core/services/keybindingSrv.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/state/time.ts
  public/app/types/events.ts
Labels: area/explore, area/frontend

#43801 Chore: Upgrade go and alpine
  .drone.yml
  Dockerfile
  Dockerfile.ubuntu
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  scripts/drone/steps/lib.star
Labels: type/build-packaging, type/ci, backport v8.3.x

#43772 Refactor: Change sqlstore.inTransaction to SQLStore.WithTransactional…
  pkg/services/dashboardsnapshots/dashboardsnapshots.go
  pkg/services/sqlstore/dashboard_snapshot.go
  pkg/services/sqlstore/dashboard_snapshot_test.go
Labels: area/backend

#43731 Chore: convert settings page to function component
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/admin/AdminListOrgsPage.tsx
  public/app/features/admin/AdminOrgsTable.tsx
  public/app/features/admin/AdminSettings.tsx
  public/app/features/admin/LicenseChrome.tsx
  public/app/features/admin/OrgRolePicker.tsx
  public/app/features/admin/UpgradePage.tsx
Labels: area/frontend

#43776 Alerting: only show datasources that support alerting in query editor
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/features/query/components/QueryEditorRowHeader.tsx
Labels: area/frontend, area/alerting/unified

#43727 Loki: use queryType rather than range|instant flags
  pkg/tsdb/loki/loki.go
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/components/__snapshots__/LokiQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/types.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
Labels: datasource/Prometheus, area/backend, area/frontend, datasource/Loki

#43818 [v8.3.x] Forward oauth tokens after prometheus datasource migration (#43686)
  pkg/tsdb/prometheus/middleware/custom_query_params.go
  pkg/tsdb/prometheus/middleware/custom_query_params_test.go
  pkg/tsdb/prometheus/middleware/force_http_get.go
  pkg/tsdb/prometheus/middleware/force_http_get_test.go
  pkg/tsdb/prometheus/promclient/cache.go
  pkg/tsdb/prometheus/promclient/cache_test.go
  pkg/tsdb/prometheus/promclient/provider.go
  pkg/tsdb/prometheus/promclient/provider_test.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/types.go
Labels: datasource/Prometheus, area/backend, backport

#43812 Propagate all headers
  pkg/services/query/query.go
  pkg/services/query/query_test.go
  pkg/tsdb/prometheus/promclient/cache.go
  pkg/tsdb/prometheus/promclient/cache_test.go
  pkg/tsdb/prometheus/promclient/provider.go
  pkg/tsdb/prometheus/promclient/provider_test.go
  pkg/tsdb/prometheus/prometheus.go
Labels: datasource/Prometheus, area/backend, backport v8.3.x

#41559 switch to using featureEnabled for enterprise features
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/utils/licensing.ts
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/api/login.go
  pkg/api/team_members.go
  pkg/models/licensing.go
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/services/licensing/oss.go
  public/app/core/components/Footer/Footer.tsx
  public/app/core/components/ForgottenPassword/ChangePasswordPage.test.tsx
  public/app/core/components/ForgottenPassword/SendResetMailPage.test.tsx
  public/app/core/components/Login/LoginPage.test.tsx
  public/app/core/components/Signup/SignupPage.test.tsx
  public/app/core/components/Signup/VerifyEmailPage.test.tsx
  public/app/core/services/context_srv.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.test.ts
  public/app/core/specs/OrgSwitcher.test.tsx
  public/app/features/admin/UserAdminPage.tsx
  public/app/features/admin/ldap/LdapPage.tsx
  public/app/features/admin/state/actions.ts
  public/app/features/datasources/state/buildCategories.ts
  public/app/features/datasources/state/navModel.ts
  public/app/features/plugins/admin/components/Badges/PluginEnterpriseBadge.tsx
  public/app/features/plugins/admin/components/InstallControls/InstallControls.tsx
  public/app/features/plugins/admin/components/PluginListItemBadges.test.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
  public/app/features/teams/TeamPages.test.tsx
  public/app/features/teams/TeamPages.tsx
  public/app/features/teams/state/navModel.ts
Labels: area/backend, area/frontend

#43447 Variables: Fix for flickering repeat panels
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/types.ts
Labels: type/bug, area/dashboard/templating, area/frontend, backport v8.3.x

#43456 Chore: Update code ownership for SQL data sources
  .github/CODEOWNERS
Labels: stale

#43713 TimeSeries: Use configured unit instead of % in tooltip/context menu when percentage stacking is enabled
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  public/app/plugins/panel/timeseries/utils.ts
Labels: area/frontend, add to changelog, area/panel/timeseries, area/panel/barchart

#43814 [v8.3.x] Chore: Replace `publish` keyword with `store` (#43340)
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci

#43615 TimeSeries/BarChart: Add support for sorting series in the tooltip
  devenv/dev-dashboards/all-panels.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_compare.json
  devenv/dev-dashboards/datasource-testdata/new_features_in_v8.json
  devenv/dev-dashboards/panel-barchart/barchart-autosizing.json
  devenv/dev-dashboards/panel-graph/graph-ng-by-value-color-schemes.json
  devenv/dev-dashboards/panel-graph/graph-ng-nulls.json
  devenv/dev-dashboards/panel-timeline/timeline-demo.json
  devenv/dev-dashboards/panel-timeline/timeline-modes.json
  devenv/dev-dashboards/transforms/config-from-query.json
  packages/grafana-data/src/utils/arrayUtils.test.ts
  packages/grafana-data/src/utils/arrayUtils.ts
  packages/grafana-schema/src/schema/graph.gen.ts
  packages/grafana-schema/src/schema/tooltip.cue
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  packages/grafana-ui/src/options/builder/tooltip.tsx
  pkg/schema/testdata/devenvgoldenfiles/all-panels.json
  pkg/schema/testdata/devenvgoldenfiles/barchart-autosizing.json
  pkg/schema/testdata/devenvgoldenfiles/config-from-query.json
  pkg/schema/testdata/devenvgoldenfiles/elasticsearch_compare.json
  pkg/schema/testdata/devenvgoldenfiles/graph-ng-by-value-color-schemes.json
  pkg/schema/testdata/devenvgoldenfiles/graph-ng-nulls.json
  pkg/schema/testdata/devenvgoldenfiles/new_features_in_v8.json
  pkg/schema/testdata/devenvgoldenfiles/timeline-demo.json
  pkg/schema/testdata/devenvgoldenfiles/timeline-modes.json
  public/app/features/explore/ExploreGraph.tsx
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/barchart/utils.test.ts
  public/app/plugins/panel/geomap/components/DataHoverView.tsx
  public/app/plugins/panel/histogram/models.gen.ts
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/timeseries/migrations.test.ts
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/frontend, add to changelog, area/panel/timeseries, area/panel/barchart

#43522 AzureMonitor: Filter list of resources by resourceType
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
Labels: area/frontend, datasource/Azure, add to changelog

#43846 [v8.3.x] Chore: Upgrade go and alpine (#43801)
  .drone.yml
  Dockerfile
  Dockerfile.ubuntu
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  scripts/drone/steps/lib.star
Labels: type/build-packaging, type/ci

#43470 AzureAD OAuth: Add support for fetching user groups
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
Labels: area/backend

#43367 Alerting: add support for absolute URLs in ActionIcon
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
Labels: area/frontend, area/alerting/unified, backport v8.3.x

#43721 Alerting: run validation before testing contact point
  public/app/features/alerting/unified/components/receivers/form/ChannelSubForm.tsx
Labels: area/frontend, area/alerting/unified

#43851 Docs: Update Add support for annotations for backend data sources
  docs/sources/developers/plugins/add-support-for-annotations.md
Labels: type/docs, area/plugins

#43850 Explore: Don't change query status to Done if there was Error
  public/app/features/explore/state/query.ts
Labels: type/bug, area/explore

#43858 Add tests to ensure infinite value mappings work
  packages/grafana-data/src/utils/valueMappings.test.ts
Labels: area/frontend, area/value-mapping

#40154 Docs: Add plugin publishing and signing criteria
  docs/sources/developers/plugins/publishing-and-signing-criteria.md
Labels: type/docs, area/plugins

#43773 Tempo: Provide tag value completion items while typing value
  public/app/plugins/datasource/tempo/language_provider.ts
Labels: area/frontend, datasource/Tempo, backport v8.3.x

#43811 Tempo: Add time range to tempo search query behind a feature flag
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  public/app/plugins/datasource/tempo/QueryEditor/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: area/frontend, datasource/Tempo

#43515 Crawler: use existing render service to generate dashboard thumbnails
  contribute/architecture/backend/communication.md
  pkg/api/api.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/services/thumbs/crawler.go
  pkg/services/thumbs/crawler_http.go
  pkg/services/thumbs/dummy.go
  pkg/services/thumbs/models.go
  pkg/services/thumbs/service.go
  public/app/features/admin/CrawlerStartButton.tsx
  public/app/features/admin/CrawlerStatus.tsx
  public/app/features/admin/ServerStats.tsx
Labels: type/docs, area/backend, area/frontend

#43823 Refactor: Change sqlstore.inTransaction to SQLStore.WithTransactional…
  pkg/services/sqlstore/org_test.go
  pkg/services/sqlstore/stats_test.go
  pkg/services/sqlstore/user.go
  pkg/services/sqlstore/user_test.go
Labels: area/backend

#43506 Access control: permissions for team creation
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/team.go
  pkg/api/team_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
  public/app/features/teams/TeamList.test.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/__snapshots__/TeamList.test.tsx.snap
  public/app/types/accessControl.ts
Labels: area/backend, area/frontend

#43481 CloudMonitoring: separate out google auth docs
  docs/sources/datasources/google-cloud-monitoring/_index.md
  docs/sources/datasources/google-cloud-monitoring/google-authentication.md
Labels: type/docs, backport v8.3.x

#43510 BarChart: show x tick picker
  public/app/plugins/panel/barchart/TickSpacingEditor.tsx
  public/app/plugins/panel/barchart/models.gen.ts
  public/app/plugins/panel/barchart/module.tsx
Labels: area/frontend

#43880 Live: centrifuge error when navigating to d-solo link with queryOverLive feature flag
  public/app/features/live/centrifuge/service.ts
  public/app/features/query/state/runRequest.ts
Labels: area/frontend, area/live

#43673 Alerting: Add delete to rule edit
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
Labels: area/frontend, area/alerting/unified

#43419 Chore: Split release pipelines
  .drone.yml
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x

#43804 [v8.3.x] Prometheus: Fix processing of all frames in annotations
  public/app/plugins/datasource/prometheus/datasource.ts
Labels: datasource/Prometheus, backport

#43893 Chore: Split release pipelines (#43419)
  .drone.yml
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci

#43867 Access control: allow granting a fixed role dynamically based on the startup settings
  pkg/api/api.go
  pkg/api/roles.go
  pkg/api/team_test.go
  pkg/services/accesscontrol/roles.go
Labels: area/backend

#43856 TraceView: Refactor theming to use Grafana theme directly
  packages/jaeger-ui-components/src/Theme.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/CanvasSpanGraph.test.js
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/CanvasSpanGraph.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/GraphTicks.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/Scrubber.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/TickLabels.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/ViewingLayer.test.js
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/ViewingLayer.tsx
  packages/jaeger-ui-components/src/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/ReferencesButton.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBar.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianKeyValues.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianLogs.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianReferences.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/AccordianText.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/KeyValuesTable.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/TextList.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanTreeOffset.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/Ticks.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineColumnResizer.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineViewingLayer.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  packages/jaeger-ui-components/src/common/BreakableText.tsx
  packages/jaeger-ui-components/src/common/CopyIcon.tsx
  packages/jaeger-ui-components/src/common/LabeledList.tsx
  packages/jaeger-ui-components/src/common/LoadingIndicator.tsx
  packages/jaeger-ui-components/src/common/NewWindowIcon.tsx
  packages/jaeger-ui-components/src/common/TraceName.tsx
  packages/jaeger-ui-components/src/utils/color-generator.test.js
  packages/jaeger-ui-components/src/utils/color-generator.tsx
  public/app/features/explore/TraceView/TraceView.tsx
Labels: type/refactor, area/explore, area/frontend, area/tracing

#43346 Docs: Update required access control permissions for data source permission api
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
  docs/sources/enterprise/access-control/permissions.md
  docs/sources/http_api/datasource_permissions.md
Labels: type/docs

#43897 CI: Automate Grafana releases
  .drone.star
  .drone.yml
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: type/ci

#43883 Fix typo in contact-points documentation
  docs/sources/alerting/unified-alerting/contact-points.md
Labels: type/docs, pr/external, backport v8.3.x

#43885 UsersTable: Render remove modal only once
  public/app/features/users/UsersTable.test.tsx
  public/app/features/users/UsersTable.tsx
  public/app/features/users/__snapshots__/UsersTable.test.tsx.snap
Labels: area/frontend

#43462 CodeQL: Try to fix uncontrolled data used in path expression
  pkg/plugins/manager/dashboards.go
  pkg/plugins/plugins.go
  pkg/util/filepath.go
  pkg/util/filepath_test.go
Labels: area/backend

#39975 Alerting: Stop firing of alert when it is updated
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/schedule/compat.go
  pkg/services/ngalert/schedule/compat_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/testing.go
Labels: area/backend, area/alerting/unified

#43861 API: Fix storing dashboard with static UID
  pkg/api/dashboard.go
  pkg/tests/api/dashboards/api_dashboards_test.go
Labels: type/bug, area/backend

#43852 Chore: Use ReactNode type for Field error prop
  packages/grafana-ui/src/components/Forms/Field.tsx
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.story.tsx
  packages/grafana-ui/src/components/Forms/FieldValidationMessage.tsx
  packages/grafana-ui/src/components/LoadingPlaceholder/LoadingPlaceholder.tsx
Labels: area/frontend

#43457 Chore: Add some e2e tests for repeating behaviour
  devenv/dev-dashboards/all-panels.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_compare.json
  devenv/dev-dashboards/datasource-opentsdb/opentsdb_v2.3.json
  devenv/dev-dashboards/datasource-testdata/new_features_in_v8.json
  devenv/dev-dashboards/e2e-repeats/Repeating-Kitchen-Sink.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-panel-horizontally.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-panel-vertically.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-row-with-a-non-repeating-panel-and-horizontal-repeating-panel.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-row-with-a-non-repeating-panel-and-vertical-repeating-panel.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-row-with-a-non-repeating-panel.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-row-with-a-repeating-horizontal-panel.json
  devenv/dev-dashboards/e2e-repeats/Repeating-a-row-with-a-repeating-vertical-panel.json
  devenv/dev-dashboards/e2e-repeats/Repeating-an-empty-row.json
  devenv/dev-dashboards/home.json
  devenv/dev-dashboards/panel-barchart/barchart-autosizing.json
  devenv/dev-dashboards/panel-geomap/geomap_multi-layers.json
  devenv/dev-dashboards/panel-geomap/panel-geomap.json
  devenv/dev-dashboards/panel-graph/graph-ng-by-value-color-schemes.json
  devenv/dev-dashboards/panel-graph/graph-ng-nulls.json
  devenv/dev-dashboards/panel-histogram/histogram_tests.json
  devenv/dev-dashboards/panel-timeline/timeline-demo.json
  devenv/dev-dashboards/panel-timeline/timeline-modes.json
  devenv/dev-dashboards/transforms/config-from-query.json
  devenv/dev-dashboards/transforms/rows-to-fields.json
  e2e/dashboards-suite/Repeating_a_panel_horizontally.spec.ts
  e2e/dashboards-suite/Repeating_a_panel_vertically.spec.ts
  e2e/dashboards-suite/Repeating_an_empty_row.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-schema/src/scuemata/dashboard/dashboard.cue
  pkg/schema/load/load_test.go
  pkg/schema/testdata/devenvgoldenfiles/all-panels.json
  pkg/schema/testdata/devenvgoldenfiles/barchart-autosizing.json
  pkg/schema/testdata/devenvgoldenfiles/config-from-query.json
  pkg/schema/testdata/devenvgoldenfiles/elasticsearch_compare.json
  pkg/schema/testdata/devenvgoldenfiles/graph-ng-by-value-color-schemes.json
  pkg/schema/testdata/devenvgoldenfiles/graph-ng-nulls.json
  pkg/schema/testdata/devenvgoldenfiles/histogram_tests.json
  pkg/schema/testdata/devenvgoldenfiles/home.json
  pkg/schema/testdata/devenvgoldenfiles/new_features_in_v8.json
  pkg/schema/testdata/devenvgoldenfiles/opentsdb_v2.3.json
  pkg/schema/testdata/devenvgoldenfiles/panel-geomap.json
  pkg/schema/testdata/devenvgoldenfiles/rows-to-fields.json
  pkg/schema/testdata/devenvgoldenfiles/timeline-demo.json
  pkg/schema/testdata/devenvgoldenfiles/timeline-modes.json
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  scripts/stripnulls.sh
Labels: type/chore, type/build-packaging, area/backend, area/frontend, type/e2e, mob session

#43865 Service Accounts: Fix issue in UserTable and ServiceAccountsTable
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/ServiceAccountsTable.tsx
Labels: area/frontend

#43902 Chore: Update grabpl version to `v2.8.1`
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/chore, type/ci, backport v8.3.x

#43917 [v8.3.x] Update grabpl version to 2.8.1 (#43902)
  .drone.yml
  scripts/drone/steps/lib.star
Labels: backport, type/ci

#43544 Alerting: [Docs] Clarifications regarding what's supported in alerting message templates
  docs/sources/alerting/unified-alerting/message-templating/_index.md
Labels: type/docs, area/alerting/unified, backport v8.3.x

#43922 [v8.3.x] Propagate all headers (#43812)
  pkg/api/metrics.go
  pkg/api/metrics_test.go
  pkg/tsdb/prometheus/promclient/cache.go
  pkg/tsdb/prometheus/promclient/cache_test.go
  pkg/tsdb/prometheus/promclient/provider.go
  pkg/tsdb/prometheus/promclient/provider_test.go
  pkg/tsdb/prometheus/prometheus.go
Labels: datasource/Prometheus, area/backend

#43925 FeatureToggles: typed as optional booleans
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-runtime/src/config.ts
  public/app/AppWrapper.tsx
  public/app/core/components/NavBar/NavBarSection.tsx
  public/app/core/services/context_srv.ts
Labels: area/frontend

#43832 Prometheus: Create name fields based on targets length
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: type/bug, datasource/Prometheus, area/frontend, backport v8.3.x

#43706 Elasticsearch: fix a11y issues in datasource settings
  packages/grafana-ui/src/components/Forms/InlineField.tsx
  public/app/core/components/TransformersUI/configFromQuery/ConfigFromQueryTransformerEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.tsx
  public/app/plugins/datasource/elasticsearch/configuration/mocks.ts
  public/app/plugins/datasource/testdata/QueryEditor.test.tsx
Labels: datasource/Elasticsearch, area/frontend

#43911 [v8.3.x] CI: Automate Grafana releases (#43897)
  .drone.star
  .drone.yml
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: backport, type/ci

#43881 Variables: Fix so data source variables are added to adhoc configuration
  public/app/features/variables/adhoc/actions.ts
Labels: type/bug, area/dashboard/templating, add to changelog, backport v8.3.x

#43949 Chore: Update `grabpl` version to `2.8.2`
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/chore, type/ci, backport v8.3.x

#43954 [v8.3.x] Update grabpl version to 2.8.2 (#43949)
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/chore, backport, type/ci

#43948 Dashboard: fix typo in reducer
  public/app/features/dashboard/state/reducers.ts
Labels: area/frontend, pr/external

#43916 Chore: Add PR Check action enforcing backport decision
  .github/pr-checks.json
  .github/workflows/pr-checks.yml
  contribute/merge-pull-request.md
Labels: type/docs

#43672 List serviceaccounts
  pkg/models/org_user.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/sqlstore/org_users.go
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/ServiceAccountsTable.tsx
  public/app/types/serviceaccount.ts
Labels: area/backend, area/frontend

#43854 Alerting: manual backport of #43367
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
Labels: area/frontend, area/alerting/unified

#43900 Accesscontrol: Remove service account creation code from addapikey
  pkg/api/apikey.go
  pkg/models/apikey.go
Labels: area/backend

#43888 Build: Add MSSQL devenv for ARM64 processors
  devenv/docker/blocks/mssql_arm64/README.md
  devenv/docker/blocks/mssql_arm64/build/Dockerfile
  devenv/docker/blocks/mssql_arm64/build/entrypoint.sh
  devenv/docker/blocks/mssql_arm64/docker-compose.yaml
Labels: area/devenv

#43890 Postgres/MySQL/MSSQL: Cancel in-flight SQL query if user cancels query in grafana
  pkg/tsdb/sqleng/sql_engine.go
Labels: datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, add to changelog, backport v8.3.x
