Repository grafana/grafana, pull requests merged in 2022-09, with the labels that each got.

#54530 Loki: Fix wrong LogQL parsing leading to errors in ad-hoc filters
  package.json
  yarn.lock
Labels: area/frontend, add to changelog, no-backport, enterprise-failed

#54525 Fix a typo on the Manage dashboard links page
  docs/sources/dashboards/manage-dashboard-links/index.md
Labels: type/docs, pr/external, no-backport, no-changelog

#54298 TestData DB: Fix node graph not showing when the `Data type` field is set to `random`
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
Labels: area/explore, area/frontend, add to changelog, area/datasource/frontend, datasource/TestDataDB, enterprise-ok, backport v9.1.x

#54543 Navigation: Don't round app plugin icon images
  .betterer.results
  packages/grafana-data/src/types/navModel.ts
  packages/grafana-ui/src/components/Icon/Icon.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/types/icon.ts
  pkg/api/dtos/index.go
  pkg/api/index.go
  public/app/core/components/NavBar/NavBar.tsx
  public/app/core/components/NavBar/NavBarItemIcon.tsx
  public/app/core/components/NavBar/NavBarItemMenuTrigger.tsx
  public/app/core/components/NavBar/NavBarItemWithoutMenu.tsx
  public/app/core/components/NavBar/NavBarMenu.tsx
  public/app/core/components/NavBar/NavBarMenuItem.tsx
Labels: area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#54549 Chore: Add controls to Label stories
  packages/grafana-ui/src/components/Forms/Label.story.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#54511 Correlations: Use correct fallback handlers
  pkg/services/correlations/api.go
Labels: type/bug, area/backend, add to changelog, enterprise-ok, backport v9.1.x

#53553 Add package publishing step
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
  scripts/drone/vault.star
Labels: type/ci, no-backport, no-changelog, enterprise-failed

#54572 Chore: Remove Nav + story IconName type assertions
  .betterer.results
  packages/grafana-ui/src/components/Input/AutoSizeInput.story.tsx
  packages/grafana-ui/src/components/Input/Input.story.tsx
  packages/grafana-ui/src/components/Input/storyUtils.tsx
  packages/grafana-ui/src/components/Select/Select.story.tsx
  public/app/core/components/Login/LoginServiceButtons.tsx
  public/app/core/components/NavBar/NavBarItem.tsx
  public/app/core/components/NavBar/NavBarMenu.tsx
  public/app/core/components/PageHeader/PageHeader.tsx
  public/app/core/components/PageNew/PageTabs.tsx
  public/app/core/components/PageNew/SectionNav.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54573 Chore: Remove Dashboard IconName type assertions
  .betterer.results
  public/app/features/dashboard/components/LinksSettings/LinkSettingsEdit.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
  public/app/features/dashboard/components/SubMenu/DashboardLinks.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuItem.tsx
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#54570 Revert 54400
  .betterer.results
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: type/bug, area/frontend, enterprise-ok, no-changelog, backport v9.1.x

#54393 CI: Generate Grafana version (and metadata) when the build binary is built
  .drone.yml
  pkg/build/cmd/genversions.go
  pkg/build/cmd/main.go
  pkg/build/config/version.go
  pkg/build/config/version_mode.go
  scripts/drone/events/release.star
  scripts/drone/pipelines/build.star
  scripts/drone/pipelines/docs.star
  scripts/drone/pipelines/publish.star
  scripts/drone/pipelines/test_backend.star
  scripts/drone/pipelines/test_frontend.star
  scripts/drone/pipelines/windows.star
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, no-changelog, enterprise-failed

#54569 [v9.1.x] Correlations: Use correct fallback handlers (#54511)
  pkg/services/correlations/api.go
Labels: area/backend, backport, enterprise-ok, no-changelog

#54551 Prometheus: Fix the flow to create a dashboard from Explorer and edit panel
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#54545 docs: adds video to service account topic
  docs/sources/administration/service-accounts/index.md
Labels: type/docs, no-changelog, enterprise-failed, backport v9.1.x

#54497 docs/refactors usage insights topics
  docs/sources/best-practices/dashboard-management-maturity-levels.md
  docs/sources/dashboards/assess-dashboard-usage/index.md
  docs/sources/enterprise/_index.md
  docs/sources/enterprise/usage-insights/_index.md
  docs/sources/enterprise/usage-insights/dashboard-datasource-insights.md
  docs/sources/enterprise/usage-insights/improved-search.md
  docs/sources/enterprise/usage-insights/presence-indicator.md
  docs/sources/introduction/grafana-enterprise.md
  docs/sources/whatsnew/whats-new-in-v7-0.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.1.x

#54515 Fix: Adjusting plugin.json schema regex
  docs/sources/developers/plugins/plugin.schema.json
  pkg/coremodel/pluginmeta/coremodel.cue
Labels: type/docs, area/plugins, add to changelog, no-backport, enterprise-failed

#54474 Plugins Catalog: Allow to filter plugins using special characters
  public/app/features/plugins/admin/pages/Browse.test.tsx
  public/app/features/plugins/admin/state/hooks.ts
  public/app/features/plugins/admin/state/selectors.ts
Labels: area/plugins, area/frontend, add to changelog, pr/external, backport v9.1.x

#54429 Dashboard: Fix typos in feedback request sentence
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54558 Chore: Downgrade Selecto to 1.17.0
  package.json
  yarn.lock
Labels: type/chore, area/frontend, area/panel/canvas, no-backport, enterprise-ok, no-changelog

#54517 [Tooltip]: Fixed tooltip does not change data when hovering over other datapoints
  packages/grafana-ui/src/components/uPlot/config/addTooltipSupport.ts
Labels: area/frontend, area/tooltip, no-changelog, enterprise-failed, backport v9.0.x, backport v9.1.x

#54479 Chore: Move login attempt methods to separate service
  pkg/api/http_server.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/login/auth.go
  pkg/login/auth_test.go
  pkg/login/brute_force_login_protection.go
  pkg/middleware/middleware_basic_auth_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/services/cleanup/cleanup.go
  pkg/services/login_attempt/loginattemptimpl/store.go
  pkg/services/login_attempt/loginattemptimpl/store_test.go
  pkg/services/loginattempt/login_attempt.go
  pkg/services/loginattempt/loginattemptimpl/login_attempt.go
  pkg/services/loginattempt/loginattemptimpl/store.go
  pkg/services/loginattempt/loginattemptimpl/store_test.go
  pkg/services/sqlstore/login_attempt.go
  pkg/services/sqlstore/login_attempt_test.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#54473 Docs: Deprecating packages_api and removing it from our pipelines
  .drone.yml
  .github/CODEOWNERS
  api-extractor.json
  contribute/architecture/frontend-data-requests.md
  docs/Makefile
  docs/sources/developers/plugins/add-support-for-explore-queries.md
  docs/sources/developers/plugins/migration-guide.md
  docs/sources/explore/trace-integration.md
  docs/sources/whatsnew/whats-new-in-v7-0.md
  package.json
  packages/grafana-data/api-extractor.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/api-extractor.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/api-extractor.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/api-extractor.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/api-extractor.json
  packages/grafana-schema/package.json
  packages/grafana-ui/api-extractor.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/BigValue/BigValue.mdx
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/schedule.go
  scripts/ci-reference-docs-build.sh
  scripts/ci-reference-docs-lint.sh
  scripts/drone/pipelines/docs.star
  scripts/drone/steps/lib.star
  yarn.lock
Labels: type/docs, type/build-packaging, area/backend, area/frontend, add to changelog, type/ci, no-backport, enterprise-failed

#54597 Chore/fix publish docs GitHub action
  .github/workflows/publish.yml
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#54599 Secrets: Improve log statement
  pkg/services/secrets/kvstore/kvstore.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#54435 Tempo: Add an options component under the TraceQL query field
  public/app/plugins/datasource/tempo/traceql/QueryEditor.tsx
  public/app/plugins/datasource/tempo/traceql/TempoQueryBuilderOptions.tsx
Labels: area/explore, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, enterprise-ok, no-changelog

#54607 Alerting: Fix UI bug when setting custom notification policy group by
  public/app/features/alerting/unified/components/amroutes/AmRootRouteForm.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, enterprise-failed, backport v9.1.x

#54588 Fix: Make sure grafana/e2e cypress config file is in correct location
  packages/grafana-e2e/package.json
  packages/grafana-e2e/rollup.config.ts
  yarn.lock
Labels: type/bug, area/plugins, area/frontend, area/grafana/e2e, no-backport, enterprise-ok, no-changelog

#54620 Chore: Refresh out of date yarn lock file
  yarn.lock
Labels: no-backport, no-changelog, enterprise-failed

#52909 Footer: Add release notes url to version label
  public/app/core/components/Footer/Footer.tsx
  public/app/features/teams/TeamPages.test.tsx
  public/sass/components/_footer.scss
Labels: area/frontend, add to changelog, pr/external, no-backport

#54234 Chore: Replace deprecated toPromise() calls with lastValueFrom
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: type/chore, onboarding, datasource/Tempo, no-backport, enterprise-ok, no-changelog

#54624 CI: Run `gen-version` in windows pipelines
  .drone.yml
  scripts/drone/pipelines/windows.star
Labels: type/bug, type/ci, no-backport, no-changelog

#54623 Chore: Remove grafana-ui IconName type assertions
  .betterer.results
  packages/grafana-ui/src/components/Alert/Alert.tsx
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButtonGroup.tsx
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButton.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54593 Tempo: Map the `status` tag to `status.code` for autocomplete
  public/app/plugins/datasource/tempo/traceql/autocomplete.ts
Labels: area/explore, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog, enterprise-failed

#54636 Chore: convert `ConfigEditor` test to RTL
  .betterer.results
  public/app/plugins/datasource/loki/configuration/ConfigEditor.test.tsx
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#54634 Plugins: Fix plugin registered startup log line
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/process/process.go
  pkg/plugins/manager/process/process_test.go
Labels: type/bug, area/plugins, area/backend, area/logs, no-backport, no-changelog, enterprise-failed

#54629 Plugins: Make Renderer and Secret plugin types available on startup
  pkg/api/admin_encryption.go
  pkg/api/fakes.go
  pkg/api/frontendsettings.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_test.go
  pkg/plugins/manager/store/store.go
  pkg/plugins/manager/store/store_test.go
  pkg/server/wire.go
  pkg/services/alerting/notifier_test.go
  pkg/services/rendering/capabilities.go
  pkg/services/rendering/capabilities_test.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/mock.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/services/secrets/kvstore/kvstore.go
  pkg/services/secrets/kvstore/migrations/from_plugin_mig.go
  pkg/services/secrets/kvstore/migrations/from_plugin_mig_test.go
  pkg/services/secrets/kvstore/migrations/to_plugin_mig.go
  pkg/services/secrets/kvstore/plugin.go
  pkg/services/secrets/kvstore/plugin_test.go
  pkg/services/secrets/kvstore/test_helpers.go
  pkg/services/thumbs/crawler.go
  pkg/services/thumbs/service.go
Labels: type/bug, area/plugins, area/backend, area/backend/db/migration, no-backport, no-changelog, enterprise-failed

#54585 Add monaco-editor section in grafana-toolkit faq
  packages/grafana-toolkit/README.md
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54633 Auth: Extend auth token errors with user ID
  pkg/services/auth/auth_token.go
Labels: area/backend, add to changelog, no-backport, enterprise-failed

#54644 Chore: update `LokiExploreQueryEditor` test to RTL
  .betterer.results
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#54639 Chore: convert `LokiQueryEditor` test to RTL
  .betterer.results
  public/app/plugins/datasource/loki/components/LokiQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiQueryEditor.test.tsx.snap
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#54197 TimeSeries: fix padding, force 0-100% y range when % stacked
  .betterer.results
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
Labels: area/frontend, area/panel/timeseries, no-changelog, enterprise-failed, backport v9.1.x

#54640 CI: Default events to `pull_request` for custom and invalid target branches
  pkg/build/config/version.go
Labels: type/bug, area/backend, type/ci, no-backport, no-changelog, enterprise-failed

#53075 CI: move `grabpl e2e tests` from grabpl to grafana
  .drone.yml
  pkg/build/cmd/e2etests.go
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/e2eutil/grafana_server.go
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, no-changelog, enterprise-failed

#54626 RBAC: Disable RBACPermissionValidation by default
  conf/provisioning/access-control/sample.yaml
  pkg/setting/setting.go
Labels: area/auth, area/backend/config, area/backend, no-backport, no-changelog, enterprise-failed

#54627 Chore: Remove @ts-ignore for react-highlight-words
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/BrowserLabel/Label.tsx
  packages/grafana-ui/src/components/Logs/LogMessageAnsi.tsx
  packages/grafana-ui/src/components/Logs/LogRowMessage.tsx
  packages/grafana-ui/src/components/Typeahead/TypeaheadItem.tsx
  public/app/features/alerting/AlertRuleItem.tsx
  public/app/features/dashboard/components/PanelEditor/DynamicConfigValueEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneItemDescriptor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  yarn.lock
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog, enterprise-failed

#54496 Secrets: Implement secrets manager plugin fallback store
  pkg/services/secrets/kvstore/cache.go
  pkg/services/secrets/kvstore/kvstore.go
  pkg/services/secrets/kvstore/migrations/to_plugin_mig.go
  pkg/services/secrets/kvstore/migrations/to_plugin_mig_test.go
  pkg/services/secrets/kvstore/plugin.go
  pkg/services/secrets/kvstore/plugin_test.go
  pkg/services/secrets/kvstore/sql.go
  pkg/services/secrets/kvstore/test_helpers.go
Labels: area/backend, add to changelog, area/backend/db/migration, no-backport, team/grafana-partners, enterprise-ok

#54203 Grafana/toolkit: Update README.md to include an alternative way to run local grafana/toolkit
  packages/grafana-toolkit/README.md
Labels: area/plugins, area/frontend, no-backport, no-changelog, enterprise-failed

#54534 Login: Remove single admin team restriction
  pkg/services/sqlstore/team.go
  pkg/services/sqlstore/team_test.go
  public/app/core/components/AccessControl/Permissions.tsx
  public/app/features/teams/TeamPermissions.tsx
Labels: area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#54661 Chore: fixing some `any`s/type assertions
  .betterer.results
  packages/grafana-data/src/types/logs.ts
  packages/grafana-data/src/types/logsVolume.ts
  packages/grafana-data/src/types/query.ts
  packages/grafana-data/src/utils/Registry.ts
  packages/grafana-data/src/utils/anyToNumber.ts
  packages/grafana-data/src/utils/arrayUtils.ts
  packages/grafana-data/src/utils/logs.ts
  packages/grafana-data/src/utils/object.ts
  packages/grafana-e2e/src/index.ts
  packages/grafana-ui/src/components/JSONFormatter/json_explorer/helpers.ts
  packages/grafana-ui/src/components/Select/MultiValue.tsx
  packages/grafana-ui/src/components/SingleStatShared/SingleStatBaseOptions.test.ts
  packages/grafana-ui/src/components/TableInputCSV/TableInputCSV.tsx
  packages/grafana-ui/src/components/Typeahead/TypeaheadItem.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/utils/colors.ts
  public/app/core/components/TagFilter/TagBadge.tsx
  public/app/core/components/TagFilter/TagValue.tsx
  public/app/core/logsModel.test.ts
  public/app/core/services/keybindingSrv.ts
  public/app/core/utils/dag.ts
  public/app/features/teams/TeamMemberRow.tsx
  public/app/features/teams/TeamMembers.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog, enterprise-failed

#54598 Chore: Upgrade Selecto to v1.19.1
  package.json
  yarn.lock
Labels: type/chore, area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#54660 Geomap: Fix duplicate layer bug
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/components/MeasureOverlay.tsx
Labels: area/frontend, area/panel/geomap, no-backport, no-changelog, enterprise-failed

#54559 Chore: Upgrade Moveable to v0.35.4
  package.json
  yarn.lock
Labels: type/chore, area/frontend, area/panel/canvas, no-backport, enterprise-ok, no-changelog

#54667 Histogram: ensure y axis is unit-less
  packages/grafana-data/src/transformations/transformers/histogram.ts
Labels: type/bug, area/frontend, area/panel/histogram, enterprise-ok, no-changelog, backport v9.1.x

#54673 Canvas: Phantom mouse down fix
  public/app/features/canvas/runtime/scene.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, enterprise-failed

#54675 [Doc][Tempo] Backport 54120 to v9.1.x
  docs/sources/datasources/tempo.md
Labels: type/docs, backport, enterprise-ok, no-changelog

#54417 Panels: Add troubleshooting snapshot
  public/app/features/dashboard/components/DebugWizard/DebugWizard.tsx
  public/app/features/dashboard/components/DebugWizard/randomizer.test.ts
  public/app/features/dashboard/components/DebugWizard/randomizer.ts
  public/app/features/dashboard/components/DebugWizard/utils.ts
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/inspector/InspectJSONTab.tsx
  public/app/features/inspector/types.ts
  public/app/plugins/panel/text/textPanelMigrationHandler.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54647 Instrumentation: log the total number of db queries per request
  pkg/infra/log/databaseCounter.go
  pkg/infra/log/databaseCounter_test.go
  pkg/middleware/logger.go
  pkg/services/sqlstore/database_wrapper.go
Labels: area/instrumentation, area/backend, enterprise-ok, no-changelog, backport v9.1.x

#54040 Add JWT url auth documentation
  conf/sample.ini
  devenv/docker/blocks/auth/jwt_proxy/readme.md
  docs/sources/setup-grafana/configure-security/configure-authentication/jwt.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.1.x

#54220 XYPanel: Improvements
  .betterer.results
  public/app/plugins/datasource/testdata/datasource.ts
  public/app/plugins/panel/xychart/AutoEditor.tsx
  public/app/plugins/panel/xychart/ExplicitEditor.tsx
  public/app/plugins/panel/xychart/ManualEditor.tsx
  public/app/plugins/panel/xychart/TooltipView.tsx
  public/app/plugins/panel/xychart/XYChartPanel2.tsx
  public/app/plugins/panel/xychart/config.ts
  public/app/plugins/panel/xychart/models.gen.ts
  public/app/plugins/panel/xychart/module.tsx
  public/app/plugins/panel/xychart/scatter.ts
  public/app/plugins/panel/xychart/types.ts
Labels: area/backend, area/frontend, area/panel/xychart, no-backport, enterprise-ok, no-changelog

#54689 Add JWT url auth documentation (#54040)
  conf/sample.ini
  devenv/docker/blocks/jwt_proxy/readme.md
  docs/sources/setup-grafana/configure-security/configure-authentication/jwt.md
Labels: type/docs, backport, no-changelog

#54576 Navigation: Landing pages behind feature toggles
  pkg/api/index.go
  public/app/core/components/AppChrome/NavLandingPage.tsx
  public/app/core/components/AppChrome/NavLandingPageCard.tsx
  public/app/features/alerting/routes.tsx
  public/app/routes/routes.tsx
  public/app/routes/utils.ts
Labels: area/backend, area/frontend, area/navigation, no-backport, no-changelog, enterprise-failed

#54697 [StateTimeline/StatusHistory]: Fix duration bug and add hidden tooltip option
  packages/grafana-ui/src/components/uPlot/config/addTooltipSupport.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
Labels: area/frontend, area/panel/state-timeline, area/panel/status-history, enterprise-ok, no-changelog, backport v9.1.x

#54698 Navigation: Add scrolling to `SectionNav`
  public/app/core/components/PageNew/SectionNav.tsx
Labels: area/frontend, area/navigation, no-backport, enterprise-ok, no-changelog

#53174 TopNav: Plugin page layouts / information architecture
  .betterer.results
  packages/grafana-data/src/types/app.ts
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/types/navModel.ts
  packages/grafana-runtime/src/components/PluginPage.tsx
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/index.ts
  pkg/api/plugins.go
  public/app/app.ts
  public/app/core/actions/cleanUp.ts
  public/app/core/components/Page/Page.tsx
  public/app/core/components/Page/types.ts
  public/app/core/components/PageNew/Page.tsx
  public/app/core/components/PageNew/PluginPage.tsx
  public/app/core/components/connectWithCleanUp.tsx
  public/app/core/hooks/useCleanup.ts
  public/app/core/reducers/navModel.ts
  public/app/core/reducers/root.test.ts
  public/app/core/reducers/root.ts
  public/app/core/services/keybindingSrv.ts
  public/app/features/alerting/EditNotificationChannelPage.tsx
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/components/receivers/GlobalConfigForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/datasources/state/hooks.ts
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/plugins/components/AppRootPage.test.tsx
  public/app/features/plugins/components/AppRootPage.tsx
  public/app/features/plugins/components/PluginPageContext.tsx
  public/app/features/plugins/utils.test.ts
  public/app/features/plugins/utils.ts
  public/app/features/scenes/components/Scene.tsx
  public/app/features/teams/TeamList.tsx
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#53483 API: Do not expose user input in datasource error responses
  pkg/api/datasources.go
Labels: area/backend, add to changelog, backport v8.5.x, enterprise-failed, backport v9.0.x, backport v9.1.x

#54600 LibraryElements: Fix inability to delete library panels under MySQL
  pkg/services/libraryelements/database.go
Labels: area/backend, add to changelog, area/backend/db/mysql, area/frontend/library-panels, oss-user-essentials, enterprise-failed, backport v9.1.x

#54700 influxdb integration tests for http header handling
  pkg/tests/api/influxdb/influxdb_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#54712 Revert: Loki: Ad-Hoc filters are added to the wrong place in query
  package.json
  yarn.lock
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54414 Alerting: Display alert's 'Created' time in local time instead of UTC
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
Labels: area/frontend, add to changelog, pr/external, no-backport

#54662 Library Panel: Allow to delete them when deprecated
  public/app/features/panel/components/VizTypePicker/PanelTypeCard.tsx
Labels: area/frontend, add to changelog, no-backport, enterprise-ok

#54621 Tempo: Move interfaces & `TempoQueryType` from `datasource.ts` to `types.ts`
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/plugins/datasource/tempo/QueryEditor/NativeSearch.test.tsx
  public/app/plugins/datasource/tempo/QueryEditor/NativeSearch.tsx
  public/app/plugins/datasource/tempo/QueryEditor/QueryField.tsx
  public/app/plugins/datasource/tempo/QueryEditor/ServiceGraphSection.tsx
  public/app/plugins/datasource/tempo/configuration/LokiSearchSettings.tsx
  public/app/plugins/datasource/tempo/configuration/SearchSettings.tsx
  public/app/plugins/datasource/tempo/configuration/ServiceGraphSettings.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/traceql/QueryEditor.tsx
  public/app/plugins/datasource/tempo/traceql/TempoQueryBuilderOptions.tsx
  public/app/plugins/datasource/tempo/traceql/autocomplete.test.ts
  public/app/plugins/datasource/tempo/types.ts
Labels: type/chore, area/explore, area/frontend, onboarding, datasource/Tempo, no-backport, no-changelog, enterprise-failed

#54716 54570 manual backport
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: area/frontend, backport, enterprise-ok, no-changelog

#54544 PublicDashboards: Add RBAC to secured endpoints
  pkg/api/accesscontrol.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/api_test.go
  pkg/services/publicdashboards/api/common_test.go
Labels: area/backend, add to changelog, no-backport, enterprise-failed, public-dashboards

#54349 Plugins: Add feature toggles for long running queries
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#54373 Chore: Added controls to ContextMenu story
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.story.tsx
  packages/grafana-ui/src/components/ContextMenu/ContextMenuStoryHelper.tsx
  packages/grafana-ui/src/components/ContextMenu/WithContextMenu.tsx
Labels: area/frontend, pr/external, area/storybook, no-backport, no-changelog

#54238 GraphPanel: Panel Description box does not expand to fit markdown table
  public/sass/components/_panel_header.scss
Labels: area/frontend, add to changelog, pr/external, no-backport, enterprise-ok

#54704 Loki/Prometheus: Make sections in log/metrics browser resizable
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.tsx
  public/app/plugins/datasource/prometheus/components/PrometheusMetricsBrowser.tsx
Labels: datasource/Prometheus, area/frontend, datasource/Loki, add to changelog, no-backport, enterprise-failed

#54714 RBAC: Move service and evaluator to acimpl package
  pkg/api/common_test.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/cmd/grafana-cli/runner/wireexts_oss.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/accesscontrol/acimpl/accesscontrol_test.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/publicdashboards/api/common_test.go
Labels: type/chore, area/backend, no-backport, enterprise-ok, no-changelog

#54726 Fix nil logger in SqlStore
  pkg/services/datasources/service/cache.go
  pkg/services/datasources/service/store.go
  pkg/services/secrets/kvstore/migrations/datasource_mig_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#54635 Update graphite datasource testing query
  .betterer.results
  public/app/plugins/datasource/graphite/datasource.ts
Labels: datasource/Graphite, area/frontend, no-backport, no-changelog, enterprise-failed

#54125 Playlists: Migrate to UIDs and load dashboards in the frontend
  .betterer.results
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  pkg/api/playlist_play.go
  public/app/core/components/OptionsUI/DashboardPicker.tsx
  public/app/core/components/Select/DashboardPicker.tsx
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/org/OrgDetailsPage.test.tsx
  public/app/features/playlist/PlaylistEditPage.test.tsx
  public/app/features/playlist/PlaylistEditPage.tsx
  public/app/features/playlist/PlaylistForm.test.tsx
  public/app/features/playlist/PlaylistForm.tsx
  public/app/features/playlist/PlaylistNewPage.test.tsx
  public/app/features/playlist/PlaylistNewPage.tsx
  public/app/features/playlist/PlaylistPage.test.tsx
  public/app/features/playlist/PlaylistPage.tsx
  public/app/features/playlist/PlaylistPageList.tsx
  public/app/features/playlist/PlaylistSrv.test.ts
  public/app/features/playlist/PlaylistSrv.ts
  public/app/features/playlist/PlaylistStartPage.tsx
  public/app/features/playlist/PlaylistTable.tsx
  public/app/features/playlist/PlaylistTableRow.tsx
  public/app/features/playlist/PlaylistTableRows.tsx
  public/app/features/playlist/ShareModal.tsx
  public/app/features/playlist/StartModal.tsx
  public/app/features/playlist/api.ts
  public/app/features/playlist/types.ts
  public/app/features/playlist/usePlaylist.tsx
  public/app/features/playlist/usePlaylistItems.tsx
  public/app/features/search/service/types.ts
Labels: area/playlist, area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#54692 [v9.1.x] RBAC: Fix resolver issue on wildcard resulting in wrong status code
  pkg/services/accesscontrol/errors.go
  pkg/services/accesscontrol/mock/mock.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
  pkg/services/accesscontrol/resolvers.go
  pkg/services/accesscontrol/resolvers_test.go
Labels: area/backend, backport, no-changelog, enterprise-failed

#54730 Alerting: Fix boolean comparison on PostgreSQL
  pkg/services/ngalert/store/alert_rule.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#54658 Chore: Remove remaining IconName type assertions
  .betterer.results
  packages/grafana-ui/src/types/icon.ts
  public/app/features/alerting/AlertRuleItem.test.tsx
  public/app/features/alerting/AlertRuleItem.tsx
  public/app/features/alerting/AlertTab.tsx
  public/app/features/api-keys/ApiKeysTable.tsx
  public/app/features/plugins/admin/pages/PluginDetails.tsx
  public/app/features/search/page/components/ManageActions.tsx
  public/app/features/storage/StoragePage.tsx
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/timeseries/plugins/ContextMenuPlugin.tsx
  public/app/types/alerting.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54723 Chore: Use the DEFAULT_LIMIT variable for the default value of the TraceQL Limit field
  public/app/plugins/datasource/tempo/traceql/TempoQueryBuilderOptions.tsx
Labels: type/chore, area/explore, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, enterprise-ok, no-changelog

#54547 Navigation: add breadcrumbs in Explore page
  public/app/features/explore/Wrapper.tsx
Labels: area/explore, area/frontend, area/ux, area/navigation, no-backport, no-changelog, enterprise-failed

#54760 CI: Sync CI changes for `v9.0.x`
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport, no-changelog

#54764 Chore: update latest.json to 9.1.3
  latest.json
Labels: no-backport, no-changelog

#54745 Fix docker compose for `openldap` and `oauth`
  devenv/docker/blocks/auth/oauth/docker-compose.yaml
  devenv/docker/blocks/auth/openldap/docker-compose.yaml
Labels: no-backport, enterprise-ok, no-changelog

#54582 Elasticsearch: fix types in test and add mock factory
  .betterer.results
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/language_provider.test.ts
  public/app/plugins/datasource/elasticsearch/mocks.ts
Labels: datasource/Elasticsearch, area/frontend, no-backport, no-changelog, enterprise-failed

#54770 Plugins: Remove unused config field from Finder test
  pkg/plugins/manager/loader/finder/finder_test.go
Labels: area/plugins, type/chore, area/backend, no-backport, no-changelog

#54765 Swagger: restore missing enterprise endpoints
  public/api-merged.json
  public/api-spec.json
  public/openapi3.json
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54781 Update `auth/jwt_proxy` and `auth/oauth` reference
  devenv/docker/blocks/auth/jwt_proxy/readme.md
  devenv/docker/blocks/auth/oauth/readme.md
Labels: no-backport, no-changelog

#54606 Storybook: Add controls to QueryField story
  packages/grafana-ui/src/components/QueryField/QueryField.story.tsx
Labels: area/frontend, pr/external, area/storybook, no-backport, no-changelog

#54604 Storybook: Add controls to InlineLabel story
  packages/grafana-ui/src/components/Forms/InlineLabel.story.tsx
Labels: area/frontend, pr/external, area/storybook, no-backport, no-changelog

#54733 graphite and opentsdb integration tests for http header handling
  pkg/tests/api/graphite/graphite_test.go
  pkg/tests/api/opentdsb/opentdsb_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#54566 Chore: Update slate and related packages
  .betterer.results
  .github/renovate.json5
  .gitignore
  .yarn/patches/slate-dev-environment-npm-0.2.5-9aeb7da7b5.patch
  .yarnrc.yml
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/slate-plugins/braces.ts
  packages/grafana-ui/src/slate-plugins/clear.test.tsx
  packages/grafana-ui/src/slate-plugins/clear.ts
  packages/grafana-ui/src/slate-plugins/clipboard.ts
  packages/grafana-ui/src/slate-plugins/indentation.ts
  packages/grafana-ui/src/slate-plugins/newline.ts
  packages/grafana-ui/src/slate-plugins/runner.test.tsx
  packages/grafana-ui/src/slate-plugins/runner.ts
  packages/grafana-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.test.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  packages/grafana-ui/src/types/completion.ts
  packages/grafana-ui/tsconfig.build.json
  packages/jaeger-ui-components/package.json
  public/app/features/alerting/unified/components/Expression.tsx
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  yarn.lock
Labels: type/chore, datasource/Prometheus, datasource/CloudWatch, area/frontend, datasource/Loki, dependencies, area/query-editor, no-changelog, enterprise-failed, backport v9.1.x

#54451 Navigation: use navId and pageNav on Alerting - Contact Points page
  pkg/api/index.go
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/components/AlertingPageWrapper.tsx
  public/app/features/alerting/unified/components/receivers/GlobalConfigForm.tsx
Labels: area/backend, area/frontend, area/navigation, no-backport, no-changelog, enterprise-failed

#54795 [v9.1.x] Chore: Update slate and related packages
  .betterer.results
  .github/renovate.json5
  .gitignore
  .yarn/patches/slate-dev-environment-npm-0.2.5-9aeb7da7b5.patch
  .yarnrc.yml
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/slate-plugins/braces.ts
  packages/grafana-ui/src/slate-plugins/clear.test.tsx
  packages/grafana-ui/src/slate-plugins/clear.ts
  packages/grafana-ui/src/slate-plugins/clipboard.ts
  packages/grafana-ui/src/slate-plugins/indentation.ts
  packages/grafana-ui/src/slate-plugins/newline.ts
  packages/grafana-ui/src/slate-plugins/runner.test.tsx
  packages/grafana-ui/src/slate-plugins/runner.ts
  packages/grafana-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.test.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  packages/grafana-ui/src/types/completion.ts
  packages/grafana-ui/tsconfig.build.json
  packages/jaeger-ui-components/package.json
  public/app/features/alerting/unified/components/Expression.tsx
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  yarn.lock
Labels: datasource/Prometheus, datasource/CloudWatch, area/frontend, datasource/Loki, backport, no-changelog

#54785 Navigation: add unit tests for `buildBreadcrumbs`
  public/app/core/components/Breadcrumbs/utils.test.ts
Labels: area/frontend, area/navigation, no-backport, no-changelog, enterprise-failed

#54339 Alerting: Telegram: truncate long messages
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/telegram_test.go
Labels: area/backend, add to changelog, pr/external, backport v9.1.x

#54720 Navigation: Adds profile menu to top nav bar
  public/app/core/components/AppChrome/TopBar/TopNavBarMenu.tsx
  public/app/core/components/AppChrome/TopSearchBar.tsx
Labels: area/frontend, area/navigation, no-backport, enterprise-ok, no-changelog

#54706 Dashboard: Unsaved changes warning fixes
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/state/actions.test.ts
  public/app/features/dashboard/components/PanelEditor/state/actions.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/library-panels/utils.ts
  public/app/features/panel/state/actions.ts
Labels: area/frontend, add to changelog, enterprise-ok, backport v9.1.x

#53072 CI: move grabpl `build-frontend-packages` from grabpl to grafana
  .drone.yml
  pkg/build/cmd/buildfrontendpackages.go
  pkg/build/cmd/main.go
  pkg/build/config/version.go
  pkg/build/frontend/build.go
  pkg/build/lerna/lerna.go
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, no-changelog, enterprise-failed

#54804 Docs: changes _index files to index, adds aliases
  docs/sources/administration/api-keys/index.md
  docs/sources/administration/data-source-management/index.md
  docs/sources/administration/organization-management/index.md
  docs/sources/administration/organization-preferences/index.md
  docs/sources/administration/plugin-management/index.md
  docs/sources/administration/provisioning/index.md
  docs/sources/administration/stats-and-license/index.md
  docs/sources/administration/team-management/index.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#54603 Alerting: Fix incorrect propagation of org ID and other fields in rule provisioning endpoints
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, enterprise-failed, backport v9.1.x

#54679 TimeSeries: omit non-integer y ticks when decimals: 0
  devenv/dev-dashboards/panel-graph/graph-ng-y-ticks-zero-decimals.json
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
Labels: area/frontend, area/panel/timeseries, no-changelog, enterprise-failed, backport v9.1.x

#54810 Docs: restructures aws marketplace docs
  docs/sources/administration/enterprise-licensing/_index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/_index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-ecs/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-eks/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-instance-outside-aws/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/manage-license-in-aws-marketplace/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/transfer-ge-license/index.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#54538 Geomap: Cleanup GeomapPanel component
  .betterer.results
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/components/DataHoverRows.tsx
  public/app/plugins/panel/geomap/components/MarkersLegend.tsx
  public/app/plugins/panel/geomap/editor/LayersEditor.tsx
  public/app/plugins/panel/geomap/editor/MapViewEditor.tsx
  public/app/plugins/panel/geomap/module.tsx
  public/app/plugins/panel/geomap/style/markers.ts
  public/app/plugins/panel/geomap/types.ts
  public/app/plugins/panel/geomap/utils/actions.ts
  public/app/plugins/panel/geomap/utils/layers.ts
  public/app/plugins/panel/geomap/utils/tootltip.ts
  public/app/plugins/panel/geomap/utils/utils.ts
  public/app/plugins/panel/geomap/utils/view.ts
Labels: type/chore, area/frontend, area/panel/geomap, no-backport, no-changelog, enterprise-failed

#54782 Navigation: make `Browse` the root item of `Dashboards` when topnav is enabled
  pkg/api/index.go
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: area/backend, area/frontend, area/navigation, no-backport, enterprise-ok, no-changelog

#54828 Fix paths for `auth/` build and volume paths
  devenv/docker/blocks/auth/apache_proxy/docker-compose.yaml
  devenv/docker/blocks/auth/apache_proxy_mac/docker-compose.yaml
  devenv/docker/blocks/auth/jwt_proxy/docker-compose.yaml
  devenv/docker/blocks/auth/nginx_proxy/docker-compose.yaml
  devenv/docker/blocks/auth/nginx_proxy_mac/docker-compose.yaml
  devenv/docker/blocks/auth/openldap-mac/docker-compose.yaml
  devenv/docker/blocks/auth/openldap-multiple/docker-compose.yaml
  devenv/docker/blocks/auth/prometheus_basic_auth_proxy/docker-compose.yaml
  devenv/docker/blocks/auth/saml/docker-compose.yaml
Labels: no-backport, no-changelog, enterprise-failed

#54729 Loki: migrate test to Testing Library and fix type issues.
  .betterer.results
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
Labels: area/frontend, datasource/Loki, no-backport, no-changelog, enterprise-failed

#54696 Navigation: Add basic unit tests for landing pages
  public/app/core/components/AppChrome/NavLandingPage.test.tsx
  public/app/core/components/AppChrome/NavLandingPageCard.test.tsx
Labels: area/frontend, area/navigation, no-backport, enterprise-ok, no-changelog

#54833 CI: Trigger `*-storybook` steps on UI changes
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport, enterprise-ok, no-changelog

#54806 Storybook: Add controls to Date Picker story
  packages/grafana-ui/src/components/DateTimePickers/DatePicker/DatePicker.story.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#54840 elastic: explain why moving_avg is 7.x only
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/utils.ts
Labels: datasource/Elasticsearch, area/frontend, no-backport, enterprise-ok, no-changelog

#54363 Admin: Add support to configure default admin email
  conf/defaults.ini
  conf/sample.ini
  pkg/services/sqlstore/sqlstore.go
  pkg/setting/setting.go
Labels: area/backend, add to changelog, pr/external, no-backport

#54681 Fix typo
  docs/sources/datasources/aws-cloudwatch/preconfig-cloudwatch-dashboards.md
Labels: type/docs, pr/external, no-backport, no-changelog

#54846 [v9.1.x] CI: Add package publishing step
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
  scripts/drone/vault.star
Labels: backport, type/ci, no-changelog

#54674 Chore: Add controls to InlineField
  packages/grafana-ui/src/components/Forms/InlineField.story.tsx
Labels: area/frontend, pr/external, area/storybook, no-backport, no-changelog

#54801 Chore: Add a README for the Node Graph plugin
  public/app/plugins/panel/nodeGraph/README.md
Labels: type/chore, area/frontend, onboarding, area/panel/node-graph, no-backport, enterprise-ok, no-changelog

#54827 ToolbarButtonRow: reobserve elements when children change
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButtonRow.tsx
Labels: area/mobile-support, area/frontend, area/navigation, no-backport, enterprise-ok, no-changelog

#54608 Alerting: Resetting the notification policy tree to the default policy will also restore default contact points
  pkg/services/ngalert/provisioning/notification_policies.go
  pkg/services/ngalert/provisioning/notification_policies_test.go
  pkg/services/ngalert/provisioning/testing.go
Labels: type/bug, area/alerting, area/backend, add to changelog, enterprise-failed, backport v9.1.x

#54820 BarChart: fix stale colorByField being used in value mappings
  public/app/plugins/panel/barchart/BarChartPanel.tsx
Labels: type/bug, area/frontend, area/panel/barchart, type/regression, enterprise-ok, no-changelog, backport v9.0.x, backport v9.1.x

#54537 Alerting: Sanitize invalid label/annotation names for external alertmanagers
  docs/sources/alerting/fundamentals/annotation-label/how-to-use-labels.md
  pkg/services/ngalert/sender/sender.go
  pkg/services/ngalert/sender/sender_test.go
Labels: type/docs, area/alerting, area/backend, add to changelog, enterprise-ok, backport v9.1.x

#54365 Heatmap: Add option to reverse color scheme
  public/app/plugins/panel/heatmap/migrations.test.ts
  public/app/plugins/panel/heatmap/migrations.ts
  public/app/plugins/panel/heatmap/models.gen.ts
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/heatmap/palettes.ts
Labels: area/panel/heatmap, area/frontend, add to changelog, enterprise-ok, backport v9.1.x

#54596 Public Dashboards: Only use queries from dashboard for caching
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/internal/test_helpers.go
  pkg/services/publicdashboards/models/models.go
  pkg/services/publicdashboards/models/models_test.go
  pkg/services/publicdashboards/public_dashboard_service_mock.go
  pkg/services/publicdashboards/publicdashboard.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
  pkg/services/publicdashboards/validation/validator.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog, public-dashboards

#54865 Docs: adjusts access control directory structure
  docs/sources/administration/roles-and-permissions/_index.md
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/administration/roles-and-permissions/access-control/assign-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/configure-rbac/index.md
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/plan-rbac-rollout-strategy/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-provisioning/index.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#54666 Geomap: Layer types e2e
  e2e/geomap-suite/geomap-layer-types.spec.ts
  e2e/geomap-suite/geomap-spatial-operations-transform.spec.ts
Labels: area/frontend, type/e2e, area/panel/geomap, no-backport, enterprise-ok, no-changelog

#54501 GH Actions: change the action for `bot/no-new-info` label
  .github/commands.json
Labels: no-backport, enterprise-ok, no-changelog

#54853 PublicDashboards: Disable form when user does not has permissions
  pkg/api/accesscontrol.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/api_test.go
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard.tsx
  public/app/types/accessControl.ts
Labels: add to changelog, no-backport, enterprise-ok, public-dashboards

#54612 CI: Update Drone MySQL version to 5.7 to match database policy.
  .drone.yml
  devenv/docker/blocks/mysql/.env
  devenv/docker/blocks/mysql_tests/.env
  devenv/docker/blocks/mysql_tests/Dockerfile
  devenv/docker/ha-test-unified-alerting/docker-compose.yaml
  devenv/docker/ha_test/docker-compose.yaml
  scripts/drone/services/services.star
Labels: type/ci, no-backport, enterprise-ok, no-changelog

#54878 Chore: Upgrade `@grafana/lezer-logql` to `0.1.0`
  package.json
  yarn.lock
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#54879 [v9.1.x] Chore: Upgrade `@grafana/lezer-logql` to `0.0.19`
  package.json
  yarn.lock
Labels: area/frontend, backport, no-changelog

#54880 Instrumentation: Fixes bug where database queries were instrumented twice
  pkg/services/sqlstore/database_wrapper.go
Labels: type/bug, area/instrumentation, area/backend, enterprise-ok, no-changelog, backport v9.1.x

#54780 OAuth: Allow assigning Server Admin
  conf/defaults.ini
  conf/sample.ini
  devenv/docker/blocks/auth/oauth/cloak.sql
  devenv/docker/blocks/auth/oauth/readme.md
  docs/sources/setup-grafana/configure-security/configure-authentication/azuread.md
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth.md
  docs/sources/setup-grafana/configure-security/configure-authentication/github.md
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta.md
  pkg/api/login_oauth.go
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/errors.go
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
  pkg/login/social/github_oauth.go
  pkg/login/social/github_oauth_test.go
  pkg/login/social/gitlab_oauth.go
  pkg/login/social/okta_oauth.go
  pkg/login/social/social.go
Labels: type/docs, area/backend, add to changelog, no-backport, enterprise-ok

#54520 Alerting: Change the rule yaml data to reflect Prom-based rule format
  .betterer.results
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/ExpressionEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/LabelsField.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleInspector.tsx
  public/app/features/alerting/unified/utils/rule-form.ts
Labels: area/alerting, area/frontend, no-changelog, enterprise-failed, backport v9.1.x

#54899 Build: Refactor cron_job_pipeline to take the cron name as a parameter
  scripts/drone/events/cron.star
Labels: no-backport, enterprise-ok, no-changelog

#54694 Storybook: Add controls to `UnitPicker`
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.story.tsx
  packages/grafana-ui/src/components/UnitPicker/UnitPicker.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#54864 PublicDashboards: Fix flaky e2e test
  e2e/dashboards-suite/dashboard-public-create.spec.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog, public-dashboards

#54819 Loki: Rename public/app/plugins/datasource/loki/language_provider.ts file to follow convention
  .betterer.results
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/components/LokiCheatSheet.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.test.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.test.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/prometheus/promql.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, pr/external, no-backport, no-changelog

#54586 A11y: Make tooltip dismissible in Toolbar and Icon buttons
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Labels: area/frontend, type/accessibility, no-backport, enterprise-ok, no-changelog

#54896 Alerting: make sure to update contact point references when updating the name
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
Labels: type/bug, area/alerting, area/backend, area/provisioning, no-changelog, enterprise-failed, backport v9.1.x

#54871 Docs: restructures user management docs
  docs/sources/administration/user-management/manage-dashboard-permissions/index.md
  docs/sources/administration/user-management/manage-org-users/index.md
  docs/sources/administration/user-management/server-user-management/_index.md
  docs/sources/administration/user-management/server-user-management/add-remove-user-to-org/index.md
  docs/sources/administration/user-management/server-user-management/assign-remove-server-admin-privileges/index.md
  docs/sources/administration/user-management/server-user-management/change-user-org-permissions/index.md
  docs/sources/administration/user-management/server-user-management/grant-editor-admin-permissions/index.md
  docs/sources/administration/user-management/user-preferences/index.md
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#54591 Docs: moves reporting docs per customer request
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/dashboards/_index.md
  docs/sources/dashboards/create-reports/index.md
  docs/sources/developers/http_api/reporting.md
  docs/sources/enterprise/_index.md
  docs/sources/introduction/grafana-enterprise.md
  docs/sources/setup-grafana/image-rendering/_index.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.1.x

#54526 Docs: Mention queryparam function
  docs/sources/panels/configure-data-links/index.md
Labels: type/docs, area/dashboard/templating, no-backport, enterprise-ok, no-changelog

#54812 TimeSeries: Support for log scale and negative numbers
  packages/grafana-schema/src/schema/mudball.cue
  packages/grafana-schema/src/schema/mudball.gen.ts
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  packages/grafana-ui/src/options/builder/axis.tsx
  public/app/plugins/panel/barchart/__snapshots__/utils.test.ts.snap
Labels: type/feature-request, area/frontend, add to changelog, area/panel/timeseries, no-backport, enterprise-ok

#54923 DisplayProcessor: Handle reverse-ordered data when auto-showing millis
  packages/grafana-data/src/field/displayProcessor.test.ts
  packages/grafana-data/src/field/displayProcessor.ts
Labels: area/panel/common, area/frontend, add to changelog, enterprise-failed, backport v9.1.x

#54877 DebugSnapshot: Change to use exisiting localstorage prop and open in new tab
  public/app/features/dashboard/components/DebugWizard/DebugWizard.tsx
  public/app/features/dashboard/state/initDashboard.ts
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#54811 Secrets: Improve error handling for secrets manager plugin
  pkg/services/secrets/kvstore/kvstore.go
  pkg/services/secrets/kvstore/migrations/from_plugin_mig.go
  pkg/services/secrets/kvstore/migrations/migrator.go
  pkg/services/secrets/kvstore/migrations/to_plugin_mig.go
  pkg/services/secrets/kvstore/plugin.go
Labels: area/backend, add to changelog, area/backend/db/migration, no-backport, enterprise-failed
