Repository grafana/grafana, pull requests merged in 2022-02, with the labels that each got.

#44685 Chore: update grafana-plugin-sdk-go to v0.125.0
  go.mod
  go.sum
Labels: area/backend, no-backport

#44612 Cloudwatch : Fixed reseting metric name when changing namespace in Metric Query
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLBuilderSelectRow.test.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/SQLBuilderSelectRow.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLBuilderEditor/utils.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, add to changelog, no-backport

#44656 Chore: use the latest version of @grafana/levitate
  scripts/check-breaking-changes.sh
Labels: type/chore, type/build-packaging, no-backport

#44549 Azure monitor Logs: Optimize data fetching in resource picker
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/argResourcePickerResponse.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/resourcePickerData.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/resourcePickerRows.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/NestedResourceTable.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/NestedRows.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/index.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/types.ts
Labels: type/refactor, area/frontend, datasource/Azure, add to changelog, no-backport

#44307 Alerting: Show affected alert rules when creating Silence
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/components/silences/MatchedSilencedRules.tsx
  public/app/features/alerting/unified/components/silences/MatchersField.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/utils/matchers.test.ts
  public/app/features/alerting/unified/utils/matchers.ts
Labels: area/frontend, area/alerting/unified, no-backport

#42165 LDAP: Use an interface instead of a bus to get group teams
  pkg/api/common_test.go
  pkg/api/http_server.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/models/user_auth.go
  pkg/server/wireexts_oss.go
  pkg/services/ldap/ldap_groups.go
Labels: area/backend, no-backport

#44700 loki: alerting: better error-handling
  pkg/tsdb/loki/loki.go
Labels: area/backend, datasource/Loki, no-backport

#44704 Loki: Query builder, hook up instant toggle and improve inline switch
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryHeaderSwitch.tsx
Labels: datasource/Prometheus, area/frontend, datasource/Loki, no-backport

#44705 [v8.3.x] Docs: Add links between encryption docs (#42549)
  docs/sources/administration/database-encryption.md
  docs/sources/administration/envelope-encryption.md
  docs/sources/enterprise/kms-integration/_index.md
Labels: type/docs, backport

#44694 Add store interface
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/store.go
  pkg/services/sqlstore/transactions.go
Labels: area/backend, no-backport

#44065 AccessControl: Team membership migration
  pkg/services/sqlstore/migrations/accesscontrol/errors.go
  pkg/services/sqlstore/migrations/accesscontrol/team_membership.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/migrations/accesscontrol/util_test.go
  pkg/services/sqlstore/migrations/migrations.go
Labels: area/backend, area/backend/db/migration, no-backport

#44683 TestData: support dropping points from random walk data and send interval
  packages/grafana-e2e-selectors/src/selectors/components.ts
  pkg/tsdb/testdatasource/scenarios.go
  public/app/plugins/datasource/testdata/components/RandomWalkEditor.tsx
Labels: area/backend, area/frontend, no-backport

#44668 CloudWatch: Use metrics query header for logs
  public/app/plugins/datasource/cloudwatch/components/LogsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryHeader.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryHeader.tsx
  public/app/plugins/datasource/cloudwatch/components/PanelQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryHeader.test.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryHeader.tsx
Labels: datasource/CloudWatch, area/frontend, no-backport

#44727 AccessControl: Read team permissions from db
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
Labels: area/backend, no-backport

#44671 Tempo: Add request histogram to service graph datalink
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/graphTransform.ts
Labels: area/frontend, add to changelog, datasource/Tempo, backport v8.3.x

#44574 FeatureToggls: remove IsFeatureToggleEnabled from SettingsProvider
  pkg/cmd/grafana-cli/commands/secretsmigrations/reencrypt_secrets.go
  pkg/cmd/grafana-cli/runner/runner.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/cmd/grafana-cli/runner/wireexts_oss.go
  pkg/services/kmsproviders/osskmsproviders/osskmsproviders.go
  pkg/services/secrets/manager/helpers.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/manager_test.go
  pkg/setting/provider.go
Labels: area/backend, no-backport

#44675 Fix one more typo in data rate unit names
  packages/grafana-data/src/valueFormats/categories.ts
Labels: area/frontend, pr/external, no-backport

#44732 [v8.3.x] Tempo: Add request histogram to service graph datalink
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/graphTransform.ts
Labels: area/frontend, datasource/Tempo

#44684 Tempo: Show error if transformTrace() is passed bad data to parse to JSON
  public/app/plugins/datasource/tempo/resultTransformer.test.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
  public/app/plugins/datasource/tempo/testResponse.ts
Labels: area/frontend, datasource/Tempo, backport v8.3.x

#44688 Geomap: fix casing for panel options
  public/app/plugins/panel/geomap/layers/data/StyleEditor.tsx
  public/app/plugins/panel/geomap/layers/data/geojsonLayer.ts
  public/app/plugins/panel/geomap/layers/data/heatMap.tsx
  public/app/plugins/panel/geomap/layers/data/markersLayer.tsx
  public/app/plugins/panel/geomap/module.tsx
Labels: area/frontend, area/panel/geomap, no-backport

#40341 Alerting: send alerts to external, internal, or both alertmanagers
  pkg/services/ngalert/api/api_admin.go
  pkg/services/ngalert/api/tooling/definitions/admin.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/admin_configuration.go
  pkg/services/ngalert/models/admin_configuration_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/sqlstore/migrations/ualert/tables.go
  pkg/tests/api/alerting/api_admin_configuration_test.go
Labels: area/backend, area/backend/db/migration, no-backport

#44740 Geomap: Improve tooltip UX and fix data links
  packages/grafana-data/src/geo/layer.ts
  packages/grafana-ui/src/components/VizTooltip/VizTooltipContainer.tsx
  public/app/core/components/CloseButton/CloseButton.tsx
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/GeomapTooltip.tsx
  public/app/plugins/panel/geomap/components/ComplexDataHoverView.tsx
  public/app/plugins/panel/geomap/components/DataHoverRow.tsx
  public/app/plugins/panel/geomap/components/DataHoverRows.tsx
  public/app/plugins/panel/geomap/components/DataHoverTabs.tsx
  public/app/plugins/panel/geomap/components/DataHoverView.tsx
  public/app/plugins/panel/geomap/event.ts
Labels: area/frontend, area/panel/geomap, no-backport

#43985 Cloudwatch: Add syntax highlighting and autocomplete for "Metric Search"
  packages/grafana-ui/src/components/Monaco/theme.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql-test-data/index.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql-test-data/multiLineFullQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql-test-data/multiLineIncompleteQueryWithoutNamespace.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql-test-data/singleLineEmptyQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql-test-data/singleLineFullQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql-test-data/singleLineTwoQueries.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-sql/Monaco.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/afterFunctionQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/index.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/secondArgAfterSearchQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/secondArgQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/singleLineEmptyQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/thirdArgAfterSearchQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/metric-math-test-data/withinStringQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/monarch/Monaco.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/monarch/TextModel.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/linkedTokenBuilder.test.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/statementPosition.test.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/suggestionKind.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/tokenUtils.test.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/tokenUtils.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/completion/types.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/definition.ts
  public/app/plugins/datasource/cloudwatch/cloudwatch-sql/register.ts
  public/app/plugins/datasource/cloudwatch/components/MathExpressionQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/SQLCodeEditor.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/CompletionItemProvider.test.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/statementPosition.test.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/suggestionKind.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/types.ts
  public/app/plugins/datasource/cloudwatch/metric-math/definition.ts
  public/app/plugins/datasource/cloudwatch/metric-math/language.ts
  public/app/plugins/datasource/cloudwatch/monarch/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/monarch/LinkedToken.ts
  public/app/plugins/datasource/cloudwatch/monarch/commands.ts
  public/app/plugins/datasource/cloudwatch/monarch/linkedTokenBuilder.test.ts
  public/app/plugins/datasource/cloudwatch/monarch/linkedTokenBuilder.ts
  public/app/plugins/datasource/cloudwatch/monarch/register.ts
  public/app/plugins/datasource/cloudwatch/monarch/types.ts
Labels: datasource/CloudWatch, area/frontend, no-backport

#44748 Geomap: clear features when no-data is returned
  public/app/plugins/panel/geomap/layers/data/markersLayer.tsx
Labels: area/frontend, area/panel/geomap, no-backport

#44745 Geomap: initialization fixes
  packages/grafana-data/src/geo/layer.ts
  pkg/tsdb/grafanads/grafana.go
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/editor/layerEditor.tsx
  public/app/plugins/panel/geomap/layers/data/geojsonLayer.ts
Labels: area/backend, area/frontend, area/panel/geomap, no-backport

#44743 Library Elements API GET by name returns array
  docs/sources/http_api/library_element.md
Labels: type/docs, pr/external, backport v8.3.x

#44739 Analytics: Add more properties to the `dashboard_list_viewed` event
  public/app/features/search/hooks/useDashboardSearch.ts
  public/app/features/search/hooks/useManageDashboards.ts
Labels: area/frontend, no-backport

#44664 Logs Panel: fix timestamp parsing for string dates without timezone
  public/app/core/logs_model.ts
Labels: type/bug, area/frontend, add to changelog, backport v8.3.x

#44641 Alerting: Split legacy and unified routing configuration
  pkg/api/index.go
  public/app/features/alerting/AlertRuleListIndex.tsx
  public/app/features/alerting/NotificationsIndex.tsx
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
Labels: area/alerting, area/backend, area/frontend, backport v8.3.x

#44713 TimeSeries/Barchart: Only show default label for y axis
  docs/sources/visualizations/time-series/change-axis-display.md
  packages/grafana-ui/src/options/builder/axis.tsx
Labels: type/docs, area/frontend, area/panel/timeseries, area/panel/barchart, area/panel/xychart, no-backport

#44757 Alerting: Split legacy and unified routing configuration (#44641)
  pkg/api/index.go
  public/app/features/alerting/AlertRuleListIndex.tsx
  public/app/features/alerting/NotificationsIndex.tsx
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
Labels: area/backend, area/frontend

#44647 CI: Make e2e tests depend on binary builds
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
  scripts/grafana-server/start-server
  scripts/grafana-server/variables
Labels: type/ci, backport v8.3.x

#44721 Encryption: Keep legacy default provider id on providers map
  pkg/services/secrets/manager/manager.go
Labels: area/security, area/backend/security, area/backend, no-backport

#44604 Docs: Add documentation for the new encryption providers
  docs/sources/enterprise/kms-integration/_index.md
  docs/sources/enterprise/kms-integration/using-google-cloud-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/kms-integration/using-hashicorp-key-vault-to-encrypt-database-secrets.md
Labels: type/docs, no-backport

#44718 Docs: Refactor encryption docs
  docs/sources/administration/database-encryption-enterprise.md
  docs/sources/administration/database-encryption.md
  docs/sources/administration/envelope-encryption.md
  docs/sources/enterprise/enterprise-encryption/_index.md
  docs/sources/enterprise/enterprise-encryption/using-aws-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-azure-key-vault-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-google-cloud-kms-to-encrypt-database-secrets.md
  docs/sources/enterprise/enterprise-encryption/using-hashicorp-key-vault-to-encrypt-database-secrets.md
  docs/sources/enterprise/kms-integration/_index.md
Labels: type/docs, no-backport

#44758 doc: snapshots: fix JSON response
  docs/sources/http_api/snapshot.md
Labels: type/docs, pr/external, no-backport

#44763 Fix Discord Webhook URL for invalid template
  pkg/services/ngalert/notifier/channels/discord.go
  pkg/services/ngalert/notifier/channels/discord_test.go
Labels: area/alerting, area/backend, backport v8.3.x

#44706 Panel: Embed URL is now correctly generated for a panel in the home dashboard
  public/app/features/dashboard/components/ShareModal/ShareEmbed.test.tsx
  public/app/features/dashboard/components/ShareModal/ShareEmbed.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/dashboard/components/ShareModal/utils.ts
  public/app/routes/routes.tsx
  public/app/routes/utils.test.ts
  public/app/routes/utils.ts
Labels: type/bug, area/frontend, mob session, no-backport

#43583 SSE: Add Mode to drop NaN/Inf/Null in Reduction operations
  docs/sources/panels/query-a-data-source/use-expressions-to-manipulate-data/about-expressions.md
  pkg/expr/classic/reduce_test.go
  pkg/expr/commands.go
  pkg/expr/commands_test.go
  pkg/expr/mathexp/exp.go
  pkg/expr/mathexp/exp_scalar_no_test.go
  pkg/expr/mathexp/exp_test.go
  pkg/expr/mathexp/funcs.go
  pkg/expr/mathexp/reduce.go
  pkg/expr/mathexp/reduce_test.go
  pkg/expr/mathexp/resample.go
  pkg/expr/mathexp/type_series.go
  public/app/features/expressions/components/Reduce.tsx
  public/app/features/expressions/types.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, area/expressions, no-backport

#44593 SectionHeader: Fix "Go to Folder" link not working
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
Labels: type/bug, area/dashboard/folders, area/frontend, no-backport

#44788 fix: remove migrated, and /org endpoint
  pkg/api/index.go
  pkg/services/featuremgmt/registry.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/serviceaccounts.go
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/state/actions.ts
Labels: area/backend, area/frontend, no-backport

#44782 Chore: Update what's new link
  package.json
Labels: area/frontend, no-backport

#44622 DataFrame: insert null values along interval
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.test.ts
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.ts
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/Sparkline/utils.ts
  public/app/plugins/panel/state-timeline/timeline.ts
  public/app/plugins/panel/state-timeline/utils.test.ts
  public/app/plugins/panel/state-timeline/utils.ts
Labels: area/frontend, no-backport

#44234 Instrumentation: Fix HTTP request instrumentation of authentication failures
  pkg/api/http_server.go
  pkg/api/routing/route_register.go
  pkg/middleware/request_metrics.go
Labels: type/bug, area/backend, add to changelog, backport v8.4.x

#44606 Do not store EvaluationString in Evaluation.
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/schedule/compat.go
  pkg/services/ngalert/schedule/compat_test.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/backend, area/alerting/unified, backport v8.4.x

#44747 Chore: E2E tests for various variables types
  devenv/dev-dashboards/feature-templating/testdata-test-variable-output.json
  e2e/dashboards-suite/new-constant-variable.spec.ts
  e2e/dashboards-suite/new-custom-variable.spec.ts
  e2e/dashboards-suite/new-query-variable.spec.ts
  e2e/dashboards-suite/new-text-box-variable.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/variables/custom/CustomVariableEditor.tsx
  public/app/features/variables/editor/VariableTextAreaField.tsx
Labels: area/dashboard/templating, area/frontend, no-backport

#44804 Use latest Thema; fix up `DataSource` schema, tests, and panics
  go.mod
  go.sum
  internal/components/datasource/controller.go
  internal/components/datasource/datasource.cue
  internal/components/datasource/schema.go
  internal/components/datasource/schema_test.go
  pkg/schema/di.go
Labels: area/backend, no-backport, area/intent-api

#44493 LibraryElement: update docs library element http api
  docs/sources/http_api/library_element.md
Labels: type/docs, pr/external, backport v8.4.x

#43548 Encryption: Add support for data keys re-encryption
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/secretsmigrations/reencrypt_deks.go
  pkg/services/secrets/database/database.go
  pkg/services/secrets/fakes/fake_service.go
  pkg/services/secrets/fakes/fake_store.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/manager_test.go
  pkg/services/secrets/secrets.go
Labels: type/docs, area/security, area/backend/security, area/grafana-cli, area/backend, backport v8.4.x

#44762 Remove bus from quota, preferences, plugins, user_token
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/api/alerting_test.go
  pkg/api/annotations_test.go
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/datasources_test.go
  pkg/api/folder_permission_test.go
  pkg/api/http_server.go
  pkg/api/org_users_test.go
  pkg/api/plugins.go
  pkg/api/preferences.go
  pkg/api/quota.go
  pkg/api/team.go
  pkg/api/team_members_test.go
  pkg/api/team_test.go
  pkg/api/user_test.go
  pkg/api/user_token.go
  pkg/api/user_token_test.go
  pkg/server/wire.go
  pkg/services/accesscontrol/middleware/middleware.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/user.go
Labels: area/backend, backport v8.4.x

#44759 [docs] Clarify legacy alerting deprecation
  docs/sources/alerting/_index.md
  docs/sources/alerting/old-alerting/_index.md
Labels: type/docs, backport v8.4.x

#44778 Revert fixed roles and service accounts
  pkg/api/api.go
  pkg/services/serviceaccounts/manager/roles.go
  pkg/services/serviceaccounts/manager/service.go
Labels: area/backend, backport v8.4.x

#44535 grafana/ui: Fix RelativeTimeRange supported formats
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
Labels: area/frontend, area/grafana/ui, area/alerting/unified, backport v8.4.x

#44785 Loki: add helper function to handle instant/range queries
  public/app/plugins/datasource/loki/query_utils.test.ts
  public/app/plugins/datasource/loki/query_utils.ts
Labels: area/frontend, datasource/Loki, no-backport

#44482 Chore: Remove bus from password
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/api/password.go
  pkg/services/notifications/codes.go
  pkg/services/notifications/notifications.go
  pkg/services/notifications/notifications_test.go
Labels: area/backend, no-backport

#44541 API: Serve swagger UI behind a feature toggle
  Dockerfile
  Dockerfile.ubuntu
  Makefile
  internal/components/register.go
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/api.go
  pkg/api/docs/.env
  pkg/api/docs/Makefile
  pkg/api/docs/README.md
  pkg/api/docs/definitions/meta.go
  pkg/api/docs/docker-compose.yml
  pkg/api/docs/merge/merge_specs.go
  pkg/api/docs/merged.json
  pkg/api/http_server.go
  pkg/api/static/static.go
  pkg/api/swagger.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/api-merged.json
  public/api-spec.json
  public/views/swagger.html
Labels: type/build-packaging, area/backend, area/frontend, no-backport

#44784 Prometheus: Show variable options in query builder
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_provider.test.ts
  public/app/plugins/datasource/loki/language_provider.ts
  public/app/plugins/datasource/loki/mocks.ts
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/language_provider.test.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/LabelFilterItem.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/LabelFilters.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/LabelFilters.tsx
Labels: type/feature-request, datasource/Prometheus, area/frontend, datasource/Loki, no-backport

#44780 Feature Highlights: move setting to a feature toggle
  docs/sources/enterprise/enterprise-configuration.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/frontendsettings.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/datasources/state/navModel.ts
  public/app/features/teams/TeamPages.tsx
  public/app/features/teams/state/navModel.ts
Labels: type/docs, area/backend, area/frontend, backport v8.4.x

#44794 Alerting: load correct unified alerting tab
  public/app/features/dashboard/components/PanelEditor/PanelEditorTabs.tsx
Labels: type/bug, area/frontend, area/alerting/unified, backport v8.3.x, backport v8.4.x

#44802 Prometheus: Set interval on time field
  pkg/tsdb/prometheus/framing_test.go
  pkg/tsdb/prometheus/prometeus_bench_test.go
  pkg/tsdb/prometheus/testdata/range_infinity.result.golden.txt
  pkg/tsdb/prometheus/testdata/range_missing.result.golden.txt
  pkg/tsdb/prometheus/testdata/range_nan.result.golden.txt
  pkg/tsdb/prometheus/testdata/range_simple.result.golden.txt
  pkg/tsdb/prometheus/time_series_query.go
  pkg/tsdb/prometheus/time_series_query_test.go
Labels: datasource/Prometheus, area/backend, backport v8.4.x

#44761 Alerting: Fix alert notification template
  emails/templates/ng_alert_notification.html
  public/emails/ng_alert_notification.html
Labels: area/alerting, area/frontend, area/alerting/unified, backport v8.3.x, backport v8.4.x

#44790 Explore: avoid locking timepicker when range is inverted
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/Wrapper.tsx
Labels: type/bug, area/explore, area/frontend, add to changelog, backport v8.4.x

#44826 Loki: use generic grafana null-insertion mechanism
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
Labels: area/frontend, datasource/Loki, backport v8.4.x

#44836 Rename build-e2e-publish pipelines
  .drone.yml
  scripts/drone/pipelines/release.star
Labels: type/ci, backport v8.3.x, backport v8.4.x

#44681 Chore: Fix log filters
  pkg/api/frontend_logging_test.go
  pkg/infra/log/composite_logger.go
  pkg/infra/log/interface.go
  pkg/infra/log/log.go
  pkg/infra/log/syslog.go
  pkg/infra/usagestats/service/service.go
  pkg/login/social/generic_oauth_test.go
  pkg/middleware/recovery.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/setting/setting.go
Labels: area/backend, backport v8.4.x

#44673 Access control: FGAC for team sync endpoints
  pkg/api/team_members.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/database/resource_permissions.go
  pkg/services/accesscontrol/database/resource_permissions_bench_test.go
  pkg/services/accesscontrol/database/resource_permissions_test.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/accesscontrol/resourcepermissions/options.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/service_mock.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/types/hook.go
  pkg/services/accesscontrol/resourceservices/resource_services.go
Labels: area/backend, backport v8.4.x

#44777 AccessControl: Frontend function to check accesscontrol is licensed
  public/app/core/services/context_srv.ts
  public/app/features/admin/UserOrgs.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/users/UsersTable.test.tsx
  public/app/features/users/UsersTable.tsx
Labels: area/frontend, backport v8.4.x

#44854 Chore: Update latest.json
  latest.json
Labels: backport v8.4.x

#44855 Chore: Update pre version
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Labels: area/frontend, no-backport

#44843 AccessControl: Show UserPicker based on `canListUsers`
  public/app/core/components/AccessControl/AddPermission.tsx
Labels: area/frontend, backport v8.4.x

#44407 Prometheus: Fix Azure authentication support
  pkg/tsdb/prometheus/promclient/provider.go
  pkg/tsdb/prometheus/promclient/provider_azure.go
  pkg/tsdb/prometheus/promclient/provider_test.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/util/maputil/maputil.go
Labels: datasource/Prometheus, area/backend, pr/external, backport v8.4.x

#43971 AccessControl: Change teams permissions page when accesscontrol is enabled
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/index.go
  pkg/api/roles.go
  pkg/api/team.go
  pkg/models/team.go
  public/app/core/services/context_srv.ts
  public/app/features/teams/TeamGroupSync.test.tsx
  public/app/features/teams/TeamGroupSync.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/TeamPages.test.tsx
  public/app/features/teams/TeamPages.tsx
  public/app/features/teams/TeamPermissions.tsx
  public/app/features/teams/TeamSettings.test.tsx
  public/app/features/teams/TeamSettings.tsx
  public/app/features/teams/__snapshots__/TeamGroupSync.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamPages.test.tsx.snap
  public/app/features/teams/__snapshots__/TeamSettings.test.tsx.snap
  public/app/features/teams/state/actions.ts
  public/app/features/teams/state/navModel.ts
  public/app/routes/routes.tsx
  public/app/types/accessControl.ts
  public/app/types/teams.ts
Labels: area/backend, area/frontend, backport v8.4.x

#42952 Logging: Fix don't return an error trying to initialize the file logger
  pkg/infra/log/log.go
Labels: type/bug, area/backend, pr/external, backport v8.4.x

#44851 Chore: Remove bus from index
  pkg/api/index.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_folder_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend/api, area/backend, no-backport

#44835 AuthService: Move database logic to its own class and package
  pkg/api/http_server.go
  pkg/api/user_test.go
  pkg/server/wire.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfoservice/database/database.go
  pkg/services/login/authinfoservice/service.go
  pkg/services/login/authinfoservice/user_auth_test.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/services/login/userprotection.go
Labels: area/backend, no-backport

#44825 remove bus from search service
  pkg/api/api.go
  pkg/api/search.go
  pkg/services/search/service.go
Labels: area/backend, no-backport

#44559 Alerting: add custom grouping to Alert Panel
  public/app/features/alerting/unified/components/DynamicTable.tsx
  public/app/features/alerting/unified/utils/redux.ts
  public/app/plugins/panel/alertlist/AlertInstances.tsx
  public/app/plugins/panel/alertlist/GroupByWithLoading.tsx
  public/app/plugins/panel/alertlist/UnifiedAlertList.tsx
  public/app/plugins/panel/alertlist/module.tsx
  public/app/plugins/panel/alertlist/types.ts
  public/app/plugins/panel/alertlist/unified-alerting/GroupedView.tsx
  public/app/plugins/panel/alertlist/unified-alerting/UngroupedView.tsx
  public/app/plugins/panel/alertlist/util.ts
  public/app/types/unified-alerting.ts
Labels: area/frontend, add to changelog, area/alerting/unified, backport v8.4.x

#44801 Chore: Move variable field selectors to data-testid
  e2e/dashboards-suite/new-constant-variable.spec.ts
  e2e/dashboards-suite/new-custom-variable.spec.ts
  e2e/dashboards-suite/new-query-variable.spec.ts
  e2e/dashboards-suite/new-text-box-variable.spec.ts
  e2e/dashboards-suite/textbox-variables.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-e2e/src/flows/addDashboard.ts
  public/app/features/variables/constant/ConstantVariableEditor.tsx
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/editor/SelectionOptionsEditor.tsx
  public/app/features/variables/editor/VariableEditorEditor.tsx
  public/app/features/variables/editor/VariableHideSelect.tsx
  public/app/features/variables/editor/VariableSelectField.tsx
  public/app/features/variables/editor/VariableTextField.tsx
  public/app/features/variables/editor/VariableTypeSelect.tsx
  public/app/features/variables/query/QueryVariableEditor.test.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/QueryVariableRefreshSelect.tsx
  public/app/features/variables/query/QueryVariableSortSelect.tsx
  public/app/features/variables/textbox/TextBoxVariableEditor.tsx
Labels: area/dashboard/templating, area/frontend, type/e2e, no-backport

#44629 Chore: Suppress messages and logs from tests
  public/app/core/components/Select/UserPicker.test.tsx
  public/app/features/alerting/unified/components/alert-groups/GroupBy.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedForm.tsx
  public/app/features/alerting/unified/components/rules/ActionIcon.tsx
Labels: type/chore, area/frontend, backport v8.4.x

#44803 Chore: More variable e2e tests
  e2e/dashboards-suite/new-constant-variable.spec.ts
  e2e/dashboards-suite/new-custom-variable.spec.ts
  e2e/dashboards-suite/new-datasource-variable.spec.ts
  e2e/dashboards-suite/new-interval-variable.spec.ts
  e2e/dashboards-suite/new-text-box-variable.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/variables/interval/IntervalVariableEditor.tsx
Labels: area/dashboard/templating, area/frontend, type/e2e, no-backport

#44833 [v8.3.x] CI: Make e2e tests depend on binary builds (#44647)
  .drone.yml
  scripts/drone/pipelines/main.star
  scripts/drone/pipelines/pr.star
  scripts/drone/pipelines/release.star
  scripts/drone/steps/lib.star
  scripts/grafana-server/start-server
  scripts/grafana-server/variables
Labels: backport, type/ci

#39088 vscode: proposal to add current workdir to vscode config
  .vscode/launch.json
Labels: no-backport

#44389 Fix crash on no service accounts
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/sqlstore/org_users.go
Labels: area/backend, no-backport

#44858 Loki: Use explore query field unless new query builder feature toggle is enabled
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiExploreQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditorByApp.test.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditorByApp.tsx
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/module.ts
  public/app/plugins/datasource/prometheus/module.test.ts
  public/app/plugins/datasource/prometheus/module.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, backport v8.4.x

#44770 Accessibility: Fix text selection when using FocusScope
  package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/CalendarBody.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerCalendar.tsx
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
  packages/grafana-ui/src/components/Dropdown/ButtonSelect.tsx
  packages/grafana-ui/src/components/Modal/Modal.tsx
  public/app/core/components/NavBar/NavBarItemMenuTrigger.tsx
  public/app/core/components/NavBar/NavBarMenu.tsx
  public/app/features/dimensions/editors/ResourcePickerPopover.tsx
  public/app/plugins/panel/geomap/GeomapTooltip.tsx
  yarn.lock
Labels: type/bug, area/frontend, type/accessibility, backport v8.4.x

#44545 Query History: Refactor persistence layer
  public/app/core/history/RichHistoryLocalStorage.test.ts
  public/app/core/history/RichHistoryLocalStorage.ts
  public/app/core/history/RichHistoryStorage.ts
  public/app/core/history/richHistoryLocalStorageUtils.ts
  public/app/core/history/richHistoryStorageProvider.ts
  public/app/core/utils/richHistory.test.ts
  public/app/core/utils/richHistory.ts
  public/app/core/utils/richHistoryTypes.ts
  public/app/features/explore/QueryRows.test.tsx
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/RichHistory/RichHistoryContainer.tsx
  public/app/features/explore/RichHistory/RichHistorySettings.tsx
  public/app/features/explore/Wrapper.tsx
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/history.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.ts
  public/app/types/explore.ts
Labels: type/refactor, area/explore, area/frontend, backport v8.4.x

#44863 Documentation for granting and revoking access for teams.
  docs/sources/enterprise/access-control/fine-grained-access-control-references.md
  docs/sources/enterprise/access-control/manage-role-assignments/_index.md
  docs/sources/enterprise/access-control/manage-role-assignments/manage-team-role-assignments.md
  docs/sources/enterprise/access-control/manage-role-assignments/manage-user-role-assignments.md
  docs/sources/enterprise/access-control/permissions.md
  docs/sources/http_api/access_control.md
Labels: type/docs, no-backport

#44894 Chore: Remove bus from Alerting API
  pkg/api/admin_users_test.go
  pkg/api/alerting.go
  pkg/api/alerting_test.go
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/api/team_test.go
  pkg/api/user_token_test.go
  pkg/services/search/service.go
  pkg/services/sqlstore/mockstore/mockstore.go
Labels: area/backend/api, area/backend, no-backport

#44897 Chore: Remove bus from health api
  pkg/api/health.go
  pkg/api/health_test.go
  pkg/services/sqlstore/health.go
  pkg/services/sqlstore/health_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend/api, area/backend, no-backport

#44905 Access control: Reduce number of API calls for role picker
  public/app/core/components/RolePicker/TeamRolePicker.tsx
  public/app/core/components/RolePicker/UserRolePicker.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/serviceaccounts/ServiceAccountsTable.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/users/UsersTable.tsx
Labels: area/frontend, area/accesscontrol, backport v8.4.x

#44862 Fix evaluation of alert rules for datasources with custom headers
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/api/util.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/alerting, area/backend, backport v8.3.x

#44653 Query history: Create API to delete query from query history
  docs/sources/http_api/query_history.md
  pkg/services/queryhistory/api.go
  pkg/services/queryhistory/database.go
  pkg/services/queryhistory/models.go
  pkg/services/queryhistory/queryhistory.go
  pkg/services/queryhistory/queryhistory_create_test.go
  pkg/services/queryhistory/queryhistory_delete_test.go
  pkg/services/queryhistory/queryhistory_test.go
Labels: type/feature-request, type/docs, area/backend/api, area/backend, no-backport

#44904 Query History: Remove unused properties
  public/app/core/history/RichHistoryLocalStorage.test.ts
  public/app/core/utils/richHistory.test.ts
  public/app/core/utils/richHistory.ts
  public/app/features/explore/RichHistory/RichHistoryCard.test.tsx
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/state/query.ts
  public/app/types/explore.ts
Labels: type/refactor, area/explore, area/frontend, no-backport

#44890 Remove unused GetDashboard method
  pkg/services/dashboards/dashboard_service_integration_test.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/dashboard_version_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport

#44899 Chore: Remove bus from plugin proxy api
  pkg/api/app_routes.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
Labels: area/backend/api, area/backend, no-backport

#44920 Chore: Remove bus from admin
  pkg/api/admin.go
  pkg/api/admin_test.go
  pkg/api/api.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/stats.go
  pkg/services/sqlstore/stats_integration_test.go
  pkg/services/sqlstore/stats_test.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport

#44921 Chore: Remove bus from frontend settings
  pkg/api/frontendsettings.go
Labels: area/backend, no-backport

#44866 Plugins: Remove grafana specific config (appSubURL) from plugins package
  pkg/api/index.go
  pkg/api/plugins.go
  pkg/plugins/config.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/plugins.go
Labels: area/plugins, area/backend, area/plugins/app, no-backport

#44742 Alerting: Split grafana and lotex routes
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/fork_ruler.go
  pkg/services/ngalert/api/forked_admin.go
  pkg/services/ngalert/api/forked_am.go
  pkg/services/ngalert/api/forked_prom.go
  pkg/services/ngalert/api/forked_testing.go
  pkg/services/ngalert/api/generated_base_api_alertmanager.go
  pkg/services/ngalert/api/generated_base_api_configuration.go
  pkg/services/ngalert/api/generated_base_api_prometheus.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/generated_base_api_testing.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/definitions/prom.go
  pkg/services/ngalert/api/tooling/definitions/testing.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/api/tooling/swagger-codegen/templates/controller-api.mustache
  pkg/services/ngalert/api/util.go
Labels: area/backend, area/alerting/unified, backport v8.4.x

#44869 Chore: Remove bus from admin users
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport

#44679 Alerting: Create basic storage layer for provisioning
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/provisioning.go
  pkg/services/ngalert/store/provisioning_store.go
  pkg/services/ngalert/store/provisioning_store_test.go
  pkg/services/sqlstore/migrations/ualert/tables.go
Labels: area/backend, area/backend/db/migration, backport v8.4.x

#44811 StateTimeline: add spanNulls editor
  packages/grafana-ui/src/components/GraphNG/utils.ts
  public/app/plugins/panel/state-timeline/module.tsx
  public/app/plugins/panel/state-timeline/utils.ts
Labels: area/frontend, area/panel/state-timeline, backport v8.4.x

#44932 BarChart: Add support for data links
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/barchart/config.ts
  public/app/plugins/panel/geomap/GeomapTooltip.tsx
Labels: area/frontend, area/panel/barchart, area/tooltip, backport v8.4.x

#44930 Docs: Add changes for 44342
  docs/sources/http_api/_index.md
Labels: type/docs, backport v8.3.x, backport v8.4.x

#44729 loki: run some queries through backend
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport

#44813 Deprecation: use locationService in favor of getLocationSrv
  docs/sources/developers/plugins/add-support-for-variables.md
  docs/sources/developers/plugins/migration-guide.md
  packages/grafana-runtime/src/services/LocationService.ts
  packages/grafana-runtime/src/services/LocationSrv.ts
  packages/grafana-runtime/src/services/appEvents.ts
  public/app/features/dashboard/components/PanelEditor/PanelEditorQueries.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderCorner.tsx
  public/app/features/plugins/admin/hooks/useHistory.tsx
  public/app/features/search/components/ConfirmDeleteModal.tsx
  public/app/features/search/hooks/useDashboardSearch.ts
  public/app/plugins/panel/graph/module.ts
Labels: type/docs, area/dashboard/templating, area/explore, area/frontend, backport v8.4.x

#44303 CI: Update `GCP_GRAFANA_UPLOAD_KEY` var name
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x, backport v8.4.x

#44966 Bug: Update `upload-cdn` command args
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, backport v8.3.x, backport v8.4.x

#44923 Remove bus from dashboard api
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_permission.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/dashboard_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/store.go
Labels: area/backend, no-backport

#44965 loki: backend-queries: set interval-value in dataframe
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/loki_test.go
  pkg/tsdb/loki/testdata/matrix_gap.golden.txt
  pkg/tsdb/loki/testdata/matrix_inf.golden.txt
  pkg/tsdb/loki/testdata/matrix_nan.golden.txt
  pkg/tsdb/loki/testdata/matrix_simple.golden.txt
Labels: area/backend, datasource/Loki, no-backport

#44915 Prometheus: Adds missing options to the new query builder
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/PromQueryModeller.test.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/QueryPreview.tsx
  public/app/plugins/datasource/prometheus/querybuilder/operations.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryOptionGroup.tsx
  public/app/plugins/datasource/prometheus/querybuilder/types.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: datasource/Prometheus, area/frontend, no-backport

#44975 Query History: Fix incorrectly resolved conflicts
  public/app/features/explore/Wrapper.tsx
Labels: area/explore, area/frontend, no-backport

#44913 feat: creation of service account
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/models.go
  public/app/features/serviceaccounts/ServiceAccountCreatePage.tsx
  public/app/features/serviceaccounts/ServiceAccountProfile.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/routes/routes.tsx
  public/app/types/accessControl.ts
Labels: area/backend, area/frontend, no-backport

#44955 remove dispatch from apikey
  pkg/api/api.go
  pkg/api/apikey.go
Labels: area/backend/api, area/backend, no-backport

#44907 remove bus from loginservice
  pkg/api/admin_users_test.go
  pkg/api/login_oauth.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfoservice/database/database.go
  pkg/services/login/authinfoservice/service.go
  pkg/services/login/loginservice/loginservice.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
Labels: area/backend, no-backport

#44982 Chore(dependencies): Update eslint
  .github/renovate.json5
  package.json
  yarn.lock
Labels: type/chore, area/frontend, dependencies, no-backport

#44871 Add/Delete API keys to Service accounts
  pkg/api/api.go
  pkg/api/apikey.go
  pkg/models/apikey.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/api/token.go
  pkg/services/serviceaccounts/api/token_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/models.go
  pkg/services/sqlstore/apikey.go
  pkg/services/sqlstore/apikey_test.go
Labels: area/backend, no-backport

#44906 Prometheus: Add multi-word search and higlight to metric selector
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.test.tsx
Labels: datasource/Prometheus, area/frontend, no-backport

#44925 Chore: Logging improvements
  pkg/api/frontend_logging_test.go
  pkg/infra/log/composite_logger_test.go
  pkg/infra/log/log.go
  pkg/infra/log/log_test.go
  pkg/login/social/generic_oauth_test.go
  pkg/server/server.go
  pkg/services/login/loginservice/loginservice_test.go
Labels: type/bug, area/backend, backport v8.4.x

#44645 Feature Highlights: add highlight to toolbar button and add upgrade modal
  packages/grafana-ui/src/components/Button/ToolbarButton.tsx
  public/app/core/components/Upgrade/UpgradeModal.tsx
Labels: area/frontend, backport v8.4.x

#44887 AccessControl: Use an SQLFilter struct
  pkg/services/accesscontrol/filter.go
  pkg/services/accesscontrol/filter_bench_test.go
  pkg/services/accesscontrol/filter_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/sqlstore/org_users.go
Labels: area/backend, backport v8.4.x

#44768 Access Control: Add function to set several permissions on a resource in one transaction
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/database/resource_permissions.go
  pkg/services/accesscontrol/database/resource_permissions_bench_test.go
  pkg/services/accesscontrol/database/resource_permissions_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/types/hook.go
  pkg/services/accesscontrol/resourcepermissions/types/models.go
Labels: area/backend, area/accesscontrol, no-backport

#44992 github: add issues to observability squad projects
  .github/commands.json
Labels: no-backport

#45010 Access control: Update permission service mock
  pkg/services/accesscontrol/resourcepermissions/service_mock.go
Labels: area/backend, area/accesscontrol, no-backport

#45017 BarChart: Fix Sticky Tooltip
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/barchart/config.ts
Labels: area/frontend, area/panel/barchart, backport v8.4.x

#44749 Variables: Explicitly type variable editor extended state
  public/app/features/variables/adhoc/AdHocVariableEditor.test.tsx
  public/app/features/variables/adhoc/AdHocVariableEditor.tsx
  public/app/features/variables/adhoc/reducer.ts
  public/app/features/variables/datasource/DataSourceVariableEditor.test.tsx
  public/app/features/variables/datasource/DataSourceVariableEditor.tsx
  public/app/features/variables/datasource/reducer.ts
  public/app/features/variables/editor/reducer.test.ts
  public/app/features/variables/editor/reducer.ts
  public/app/features/variables/editor/selectors.test.ts
  public/app/features/variables/editor/selectors.ts
  public/app/features/variables/query/QueryVariableEditor.test.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/actions.ts
  public/app/features/variables/query/reducer.ts
Labels: area/dashboard/templating, area/frontend, no-backport

#44957 Variables: Fix crash when changing query variable datasource
  public/app/features/variables/adhoc/actions.test.ts
  public/app/features/variables/adhoc/actions.ts
  public/app/features/variables/datasource/actions.test.ts
  public/app/features/variables/datasource/actions.ts
  public/app/features/variables/editor/reducer.test.ts
  public/app/features/variables/editor/reducer.ts
  public/app/features/variables/query/actions.test.tsx
  public/app/features/variables/query/actions.ts
Labels: area/dashboard/templating, type/refactor, area/frontend, add to changelog, no-backport

#45033 LibraryPanels: Fix for Error while cleaning library panels
  public/app/features/panel/state/actions.ts
Labels: type/bug, area/frontend, add to changelog, backport v8.3.x, backport v8.4.x

#44765 Feature Highlights: Refactor report nav highlight
  public/app/core/components/NavBar/NavBarItemMenuItem.tsx
  public/app/core/components/NavBar/NavBarItemMenuTrigger.tsx
  public/app/core/components/Page/Page.tsx
  public/app/core/components/PageHeader/PageHeader.tsx
  public/app/core/components/Upgrade/UpgradeBox.tsx
Labels: area/frontend, backport v8.4.x

#45037 Chore: uPlot 1.6.19
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, backport v8.4.x

#45043 Yarn: Updates to SDK packages
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/stylelint/bin/stylelint.js
  .yarn/sdks/stylelint/lib/index.js
  .yarn/sdks/stylelint/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
Labels: type/chore, no-backport

#45004 Alerting: Add context.Context to RuleStore
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/testing.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/instance_database_test.go
  pkg/services/ngalert/tests/util.go
Labels: area/alerting, area/backend, backport v8.4.x

#45042 devenv: Adding gitignore entry for the saml-enterprise block
  .gitignore
Labels: no-backport

#44699 Chore: send a notification to Slack when there is a breaking change
  .github/workflows/detect-breaking-changes-report.yml
Labels: area/plugins, type/ci, backport v8.4.x

#45005 Chore: Make detect breaking changes workflow backport compatible
  .github/workflows/detect-breaking-changes-build.yml
  scripts/check-breaking-changes.sh
Labels: area/plugins, type/build-packaging, type/ci, backport v8.4.x

#45013 Add token view for Service Accounts
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/manager/roles.go
  public/app/features/serviceaccounts/ServiceAccountPage.tsx
  public/app/features/serviceaccounts/ServiceAccountProfile.tsx
  public/app/features/serviceaccounts/ServiceAccountTokensTable.tsx
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/serviceaccounts/state/reducers.ts
  public/app/routes/routes.tsx
  public/app/types/serviceaccount.ts
Labels: area/backend, area/frontend, no-backport

#44696 Toolkit: Bump react-dev-utils to 12.0.0
  .yarnrc.yml
  packages/grafana-toolkit/package.json
  yarn.lock
Labels: area/frontend, dependencies, backport v8.4.x

#45056 Plugins: Remove unused update checking config
  pkg/plugins/config.go
Labels: type/refactor, area/backend, no-backport

#44993 fix: scoping for service accoutns
  pkg/services/serviceaccounts/api/api.go
Labels: area/backend, no-backport

#44919 Add number of tokens to the service accounts view
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/common.go
  public/app/features/serviceaccounts/ServiceAccountProfile.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/serviceaccounts/state/selectors.ts
  public/app/types/serviceaccount.ts
Labels: area/backend, area/frontend, no-backport

#45046 Backport a9399ab to v8.4.x
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/testing.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/instance_database_test.go
  pkg/services/ngalert/tests/util.go
Labels: area/alerting, area/backend, backport

#45054 Auth: Guarantee consistency of signed SigV4 headers
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  go.mod
  go.sum
  pkg/infra/httpclient/httpclientprovider/http_client_provider.go
  pkg/infra/httpclient/httpclientprovider/sigv4_middleware.go
  pkg/infra/httpclient/httpclientprovider/sigv4_middleware_test.go
  pkg/setting/setting.go
Labels: type/bug, type/docs, area/backend/auth, area/backend, add to changelog, backport v8.3.x

#45049 Add context.Context to InstanceStore
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/testing.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/store/instance_database_test.go
Labels: area/alerting, area/backend, backport v8.4.x

#44999 AccessControl: Use an SQLFilter struct (#44887)
  pkg/services/accesscontrol/filter.go
  pkg/services/accesscontrol/filter_bench_test.go
  pkg/services/accesscontrol/filter_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/sqlstore/org_users.go
Labels: area/backend, no-backport

#44939 Reuse opened session in the context
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/transactions.go
  pkg/services/sqlstore/transactions_test.go
Labels: area/backend, no-backport

#44935 Explore: Reduce spacing for Logs switches
  packages/grafana-ui/src/components/Switch/Switch.tsx
  public/app/features/explore/Logs.tsx
Labels: area/explore, area/frontend, area/grafana/ui, no-backport

#45067 [v8.3.x] Sync security changes
  docs/sources/http_api/team.md
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/api/team.go
  pkg/api/team_members.go
  pkg/macaron/binding.go
  pkg/middleware/auth.go
  pkg/middleware/csrf.go
  pkg/models/team.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_test.go
  pkg/services/sqlstore/team.go
  pkg/util/proxyutil/proxyutil.go
  plugins-bundled/internal/input-datasource/package.json
  scripts/drone/pipelines/release.star
  yarn.lock
Labels: type/docs, type/build-packaging, area/backend, area/frontend, type/ci

#45041 logs-volume: remove custom timeout
  public/app/core/logs_model.ts
  public/app/features/explore/LogsVolumePanel.test.tsx
  public/app/features/explore/LogsVolumePanel.tsx
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/explore, area/frontend, datasource/Loki, no-backport

#45070 Alerting: Add missing option for Error state
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend, area/alerting/unified, no-backport

#45086 [v8.3.x] Update changelog for 8.3.5 and 7.5.15 (#45078)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-7-5-15.md
  docs/sources/release-notes/release-notes-8-3-5.md
  latest.json
Labels: type/docs, backport
