Repository grafana/grafana, pull requests merged in 2022-05, with the labels that each got.

#48543 Access control: Fix permission query for older postgres version
  pkg/services/accesscontrol/database/resource_permissions.go
Labels: type/bug, area/backend, area/accesscontrol, backport v8.5.x

#48202 Access Control: Refactor scope resolvers with support to resolve into several scopes
  pkg/api/annotations.go
  pkg/api/annotations_test.go
  pkg/api/http_server.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/evaluator.go
  pkg/services/accesscontrol/evaluator_test.go
  pkg/services/accesscontrol/mock/mock.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
  pkg/services/accesscontrol/resolvers.go
  pkg/services/accesscontrol/resolvers_test.go
  pkg/services/accesscontrol/scope.go
  pkg/services/accesscontrol/scope_test.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/dashboards/accesscontrol_test.go
  pkg/services/dashboards/manager/folder_service.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/datasources/service/datasource_service_test.go
Labels: area/backend, area/accesscontrol, no-backport

#48396 Swagger: Add integrity attributes
  pkg/services/ngalert/api/tooling/index.html
  public/views/swagger.html
Labels: area/security, area/frontend, no-backport

#48484 [v8.4.x] Making FileUpload component accessible via keyboard (#47497)
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/FileUpload/FileUpload.test.tsx
  packages/grafana-ui/src/components/FileUpload/FileUpload.tsx
Labels: area/frontend, backport

#48537 Cloudwatch: Refactor metrics query editor
  public/app/plugins/datasource/cloudwatch/__mocks__/CloudWatchDataSource.ts
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/PanelQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/PanelQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/usePreparedMetricsQuery.test.ts
  public/app/plugins/datasource/cloudwatch/components/usePreparedMetricsQuery.ts
  public/app/plugins/datasource/cloudwatch/guards.ts
Labels: type/refactor, datasource/CloudWatch, area/backend, area/frontend, no-backport

#48526 Alerting: add safeguard for migrations that might cause dataloss
  conf/defaults.ini
  conf/sample.ini
  docs/sources/administration/configuration.md
  pkg/services/sqlstore/migrations/ualert/migration_test.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
  pkg/setting/setting.go
Labels: type/docs, area/backend, add to changelog, area/backend/db/migration, backport v8.5.x

#48404 Chore: Transfer TimeSyncButton.test to testing-library
  .betterer.results
  public/app/features/explore/TimeSyncButton.test.tsx
Labels: area/explore, area/frontend, no-backport

#48481 Chore : Replace dashboardid with dashboardUID in annotation API
  docs/sources/http_api/annotations.md
  pkg/api/annotations.go
  pkg/api/annotations_test.go
  pkg/api/dtos/annotations.go
  pkg/services/annotations/annotations.go
  public/api-merged.json
  public/api-spec.json
Labels: type/docs, area/backend, area/frontend, no-backport

#48443 SSE: Add constant for data source name
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  public/app/features/expressions/ExpressionDatasource.ts
Labels: area/frontend, area/expressions, area/query-editor, no-backport

#47110 Auth Proxy: non-ASCII headers encoding tests
  pkg/util/encoding_test.go
Labels: area/backend, pr/external, no-backport

#48395 Shortcuts: Add shortcut to show shortcuts to the list of shortcuts
  public/app/core/components/help/HelpModal.tsx
Labels: type/feature-request, area/frontend, add to changelog, area/shortcuts, no-backport

#48391 Command Palette - use same focus overlay as modals, override monaco keybinding for prometheus
  public/app/features/commandPalette/CommandPalette.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
Labels: datasource/Prometheus, area/frontend, no-backport

#48376 A11y: Fix remaining focus issues with Switch
  packages/grafana-ui/src/components/DataSourceSettings/AlertingSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/HttpProxySettings.tsx
  public/app/features/dashboard/components/PanelEditor/getPanelFrameOptions.tsx
  public/app/features/datasources/settings/BasicSettings.tsx
  public/app/features/datasources/settings/__snapshots__/BasicSettings.test.tsx.snap
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryHeaderSwitch.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, area/grafana/ui, type/accessibility, backport v8.5.x

#48557 DataSource: Fix secure json data reset on datasource update
  pkg/api/datasources.go
  pkg/services/datasources/service/datasource_service.go
Labels: area/backend, no-backport

#48413 Logs: Fix pagination skipping entries
  packages/grafana-data/src/types/logs.ts
  public/app/features/explore/Logs.tsx
Labels: type/bug, area/explore, area/frontend, area/logs, no-backport

#48506 Elasticsearch: Add deprecation notice for < 7.10 versions
  docs/sources/datasources/elasticsearch.md
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/utils.ts
Labels: type/docs, datasource/Elasticsearch, area/frontend, add to changelog, backport v8.5.x

#48462 SaveDashboard: remove feature flag for save drawer
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/core/services/keybindingSrv.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardAsModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardButton.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDiff.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDrawer.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardProxy.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveProvisionedDashboard.tsx
Labels: area/dashboard, area/backend, area/frontend, no-backport

#47663 Graphite Datasource: add responseType: 'text' to http options to return full list of functions
  public/app/plugins/datasource/graphite/datasource.test.ts
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/datasource_integration.test.ts
Labels: type/bug, datasource/Graphite, area/frontend, backport v8.5.x

#48560 Variables: allow Regex tooltip links to be clickable
  public/app/features/variables/editor/VariableTextField.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
Labels: type/bug, area/dashboard/templating, area/frontend, backport v8.5.x

#48587 CloudWatch: fix variable query tag migration in v8.5.x
  public/app/plugins/datasource/cloudwatch/migration.test.ts
  public/app/plugins/datasource/cloudwatch/migrations.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, add to changelog, no-backport

#48589 Search: remove dev-mode from the feature flag
  pkg/services/featuremgmt/registry.go
Labels: area/backend, no-backport

#48593 CloudWatch: remove references to json in template variable docs
  docs/sources/datasources/aws-cloudwatch/template-queries-cloudwatch.md
Labels: type/docs, no-backport

#48599 Docs: Add alias to fix 404 error
  docs/sources/alerting/unified-alerting/alerting-rules/create-mimir-loki-managed-rule.md
Labels: type/docs, no-backport

#48601 Docs manually back port 48599
  docs/sources/alerting/unified-alerting/alerting-rules/create-mimir-loki-managed-rule.md
Labels: type/docs, no-backport

#48582 Secrets: Add unified secrets table to reencryption
  pkg/cmd/grafana-cli/commands/secretsmigrations/reencrypt_secrets.go
  pkg/cmd/grafana-cli/commands/secretsmigrations/rollback_secrets.go
  pkg/cmd/grafana-cli/commands/secretsmigrations/secretsmigrations.go
Labels: area/backend, no-backport

#48234 Azure Monitor: add search feature to resource picker.
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/resourcePickerRows.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azureMetadata/resourceTypes.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/NestedEntry.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/NestedEntry.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/NestedRow.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/ResourcePicker.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/Search.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/ResourcePicker/styles.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/locationDisplayNames.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resouceTypeDisplayNames.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/resourcePicker/resourcePickerData.ts
Labels: area/frontend, datasource/Azure, add to changelog, no-backport

#48486 Loki: backend: use json-field
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/frame_test.go
  pkg/tsdb/loki/parse_response.go
  pkg/tsdb/loki/testdata/streams_simple.golden.txt
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/backendResultTransformer.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport

#48448 Docs: Add api keys roles, actions and scopes documentation
  docs/sources/enterprise/access-control/custom-role-actions-scopes.md
  docs/sources/enterprise/access-control/rbac-fixed-basic-role-definitions.md
Labels: type/docs, area/accesscontrol, no-backport

#48291 Chore: convert `TypeaheadInfo` test to RTL
  .betterer.results
  packages/grafana-ui/src/components/Typeahead/TypeaheadInfo.test.tsx
Labels: type/chore, area/frontend, no-backport

#48548 Alerting: updated alerting creation order
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertTypeStep.tsx
  public/app/features/alerting/unified/components/rule-editor/CloudEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/ConditionField.tsx
  public/app/features/alerting/unified/components/rule-editor/DetailsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/AlertType.test.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/AlertType.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/Query.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndAlertConditionStep.tsx
Labels: area/frontend, area/alerting/unified, no-backport

#46303 chore: remove executable permissions of source files and docs
  docs/sources/_index.md
  docs/sources/auth/auth-proxy.md
  docs/sources/auth/enhanced_ldap.md
  docs/sources/auth/generic-oauth.md
  docs/sources/http_api/auth.md
  docs/sources/installation/docker.md
  docs/sources/installation/mac.md
  docs/sources/installation/rpm.md
  docs/sources/installation/upgrading.md
  packages/grafana-toolkit/src/cli/tasks/plugin.utils.ts
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
  packages/grafana-ui/src/components/uPlot/Plot.tsx
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
  packages/grafana-ui/src/components/uPlot/types.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  pkg/services/sqlstore/migrations/short_url_mig.go
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/barchart/module.tsx
  public/app/plugins/panel/barchart/plugin.json
  public/app/plugins/panel/live/LivePanel.tsx
  public/app/plugins/panel/live/module.tsx
  public/app/plugins/panel/live/plugin.json
  public/app/plugins/panel/live/types.ts
  public/app/plugins/panel/news/NewsPanel.tsx
  public/app/plugins/panel/news/module.tsx
  public/app/plugins/panel/news/plugin.json
  public/app/plugins/panel/news/types.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/state-timeline/TimelineChart.tsx
  public/app/plugins/panel/state-timeline/module.tsx
  public/app/plugins/panel/state-timeline/plugin.json
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
  public/app/plugins/panel/status-history/module.tsx
  public/app/plugins/panel/status-history/plugin.json
  public/fonts/grafana-icons.eot
  public/fonts/grafana-icons.ttf
  public/fonts/grafana-icons.woff
Labels: type/docs, type/chore, area/backend, area/frontend, pr/external, area/backend/db/migration, no-backport

#48596 Chore: uPlot 1.6.20
  package.json
  packages/grafana-data/package.json
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
  packages/grafana-ui/package.json
  public/app/plugins/panel/barchart/bars.ts
  yarn.lock
Labels: area/frontend, area/panel/timeseries, no-backport

#48590 Fix command palette casing
  public/app/features/explore/ExploreActions.tsx
Labels: type/tech, area/explore, area/frontend, no-backport

#48579 Cloudwatch: Dynamic labels frontend migration
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/usePreparedMetricsQuery.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/migrations/dashboardMigrations.test.ts
  public/app/plugins/datasource/cloudwatch/migrations/dashboardMigrations.ts
  public/app/plugins/datasource/cloudwatch/migrations/metricQueryMigrations.test.ts
  public/app/plugins/datasource/cloudwatch/migrations/metricQueryMigrations.ts
  public/app/plugins/datasource/cloudwatch/migrations/variableQueryMigrations.test.ts
  public/app/plugins/datasource/cloudwatch/migrations/variableQueryMigrations.ts
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/cloudwatch/variables.ts
Labels: datasource/CloudWatch, area/frontend, no-backport

#48628 CI: Split main tests pipeline
  .drone.yml
  scripts/drone/pipelines/main.star
Labels: type/ci, no-backport

#48519 AccessControl: Rename builtin role roles to basic roles
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol_test.go
  pkg/services/accesscontrol/roles.go
Labels: area/backend, no-backport

#48551 Cloudwatch: Add new DynamoDB metrics & dimensions
  pkg/tsdb/cloudwatch/metrics.go
Labels: datasource/CloudWatch, area/backend, backport v8.5.x

#48262 Chore: convert `Slider` tests to RTL
  .betterer.results
  packages/grafana-ui/src/components/Slider/Slider.test.tsx
Labels: type/chore, area/frontend, no-backport

#48468 AzureMonitor: Updates allowed namespaces
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/supported_namespaces.ts
Labels: area/frontend, datasource/Azure, add to changelog, pr/external, backport v8.5.x

#48555 CloudWatch: Migrate alias to dynamic labels
  pkg/tsdb/cloudwatch/request_parser.go
  pkg/tsdb/cloudwatch/request_parser_test.go
Labels: datasource/CloudWatch, area/backend, no-backport

#48523 Loki: Add documentation for query builder
  docs/sources/datasources/loki.md
Labels: type/docs, datasource/Loki, no-backport

#48303 Query history: Cleanup
  pkg/services/cleanup/cleanup.go
  pkg/services/queryhistory/database.go
  pkg/services/queryhistory/queryhistory.go
  pkg/services/queryhistory/queryhistory_delete_stale_test.go
  pkg/services/queryhistory/queryhistory_enforce_limit_test.go
  pkg/services/sqlstore/migrations/query_history_star_mig.go
  pkg/services/sqlstore/org_users.go
Labels: area/backend, area/backend/db/migration, no-backport

#48580 Loki, Prometheus: Remember preferred editor
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
  public/app/plugins/datasource/loki/querybuilder/state.test.ts
  public/app/plugins/datasource/prometheus/components/PromQueryEditorByApp.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/state.test.ts
  public/app/plugins/datasource/prometheus/querybuilder/state.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, no-backport

#48620 Backport 48077 to v8.5.x
  docs/sources/datasources/azuremonitor/_index.md
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/__mocks__/panelData.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/types.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateQuery.ts
Labels: backport

#48464 docs: backport alias fixes
  docs/sources/administration/manage-organizations/_index.md
  docs/sources/administration/manage-user-preferences/_index.md
  docs/sources/administration/manage-users-and-permissions/_index.md
  docs/sources/administration/manage-users-and-permissions/about-users-and-permissions.md
  docs/sources/administration/manage-users-and-permissions/manage-dashboard-permissions/_index.md
  docs/sources/administration/manage-users-and-permissions/manage-org-users/_index.md
  docs/sources/administration/manage-users-and-permissions/manage-org-users/change-user-org-permissions.md
  docs/sources/administration/manage-users-and-permissions/manage-org-users/invite-user-join-org.md
  docs/sources/administration/manage-users-and-permissions/manage-org-users/manage-pending-invites.md
  docs/sources/administration/manage-users-and-permissions/manage-org-users/remove-user-from-org.md
  docs/sources/administration/manage-users-and-permissions/manage-org-users/view-list-org-users.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/_index.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/add-remove-user-to-org.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/add-user.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/assign-remove-server-admin-privileges.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/change-user-org-permissions.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/force-user-logout.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/grant-editor-admin-permissions.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/view-edit-user-account.md
  docs/sources/administration/manage-users-and-permissions/manage-server-users/view-list-users.md
  docs/sources/administration/manage-users-and-permissions/manage-teams/_index.md
  docs/sources/administration/preferences/_index.md
Labels: type/docs, no-backport

#48447 Navigation: Enable new navigation by default
  conf/defaults.ini
  e2e/various-suite/trace-view-scrolling.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-ui/src/components/CustomScrollbar/CustomScrollbar.tsx
  public/app/core/components/NavBar/Next/NavBarNext.tsx
  public/app/core/components/NavBar/Next/NavBarScrollContainer.tsx
  public/app/features/explore/Explore.tsx
Labels: area/explore, area/frontend, no-backport

#48643 Chore: Fix lockfile...
  yarn.lock
Labels: type/chore, no-backport

#48612 API: add stars HTTP endpoint
  pkg/api/api.go
  pkg/api/stars.go
Labels: area/backend/api, area/backend, no-backport

#48550 Plugins: Introduce HTTP 207 Multi Status response to api/ds/query
  docs/sources/http_api/data_source.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/docs/definitions/ds.go
  pkg/api/metrics.go
  pkg/api/metrics_test.go
  pkg/api/plugins_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/api-merged.json
  public/api-spec.json
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: type/docs, area/plugins, area/backend/api, datasource/CloudWatch, area/backend/plugins, area/backend, area/frontend, add to changelog, backport v8.5.x

#47534 Traces Panel: Add new Traces Panel visualization
  .betterer.results
  docs/sources/visualizations/_index.md
  docs/sources/visualizations/traces.md
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.test.js
  packages/jaeger-ui-components/src/TracePageHeader/TracePageSearchBar.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  pkg/plugins/manager/manager_integration_test.go
  pkg/tests/api/plugins/data/expectedListResp.json
  public/app/features/explore/AddToDashboard/addToDashboard.test.ts
  public/app/features/explore/AddToDashboard/addToDashboard.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/TraceViewContainer.test.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/datasource/tempo/QueryEditor/NativeSearch.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/panel/traces/TracesPanel.test.tsx
  public/app/plugins/panel/traces/TracesPanel.tsx
  public/app/plugins/panel/traces/img/traces-panel.svg
  public/app/plugins/panel/traces/module.tsx
  public/app/plugins/panel/traces/plugin.json
Labels: type/docs, area/backend, area/explore, area/frontend, add to changelog, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, no-backport

#48656 [v8.5.x] Backport 48550 to v8.5.x
  docs/sources/http_api/data_source.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/docs/definitions/ds.go
  pkg/api/metrics.go
  pkg/api/metrics_test.go
  pkg/api/plugins_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/api-merged.json
  public/api-spec.json
  public/app/plugins/datasource/cloudwatch/datasource.ts
Labels: type/docs, datasource/CloudWatch, area/backend, area/frontend, backport

#48641 Geomap: Legend style update
  public/app/plugins/panel/geomap/layers/data/MarkersLegend.tsx
Labels: area/frontend, area/panel/geomap, no-backport

#48470 public dashboards: add public dashboard table
  pkg/services/sqlstore/migrations/dashboard_public_config_mig.go
  pkg/services/sqlstore/migrations/migrations.go
Labels: area/backend, area/backend/db/migration, backport v8.5.x

#48663 documentation: don't put migrations behind feature flags
  contribute/architecture/backend/database.md
  pkg/services/sqlstore/migrations/migrations.go
Labels: type/docs, area/backend, area/backend/db/migration, backport v8.5.x

#48563 Canvas: Group constraint support
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/group.tsx
  public/app/features/canvas/runtime/root.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/editor/LayerElementListEditor.tsx
  public/app/plugins/panel/canvas/editor/layerEditor.tsx
Labels: area/frontend, area/panel/canvas, no-backport

#48614 CloudWatch: Display dynamic label field in case feature is enabled
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/Alias.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryHeader.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryHeader.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/usePreparedMetricsQuery.test.ts
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/usePreparedMetricsQuery.ts
  public/app/plugins/datasource/cloudwatch/components/PanelQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryHeader.tsx
  public/app/plugins/datasource/cloudwatch/components/__snapshots__/MetricsQueryEditor.test.tsx.snap
  public/app/plugins/datasource/cloudwatch/components/index.ts
Labels: datasource/CloudWatch, area/frontend, no-backport

#48671 Canvas: Refactor group to frame
  public/app/core/components/Layers/LayerDragDropList.tsx
  public/app/features/canvas/frame.ts
  public/app/features/canvas/group.ts
  public/app/features/canvas/index.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/frame.tsx
  public/app/features/canvas/runtime/root.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
  public/app/plugins/panel/canvas/editor/LayerElementListEditor.tsx
  public/app/plugins/panel/canvas/editor/layerEditor.tsx
  public/app/plugins/panel/canvas/models.gen.ts
  public/app/plugins/panel/canvas/module.tsx
Labels: area/frontend, area/panel/canvas, no-backport

#48568 [v8.5.x] Access control: Fix permission query for postgres (#48543)
  pkg/services/accesscontrol/database/resource_permissions.go
Labels: area/backend, backport, area/accesscontrol

#37188 LDAP: validate organization role during parsing
  pkg/models/org_user.go
  pkg/services/ldap/settings.go
  public/app/features/admin/ldap/LdapUserGroups.tsx
Labels: area/backend, area/frontend, pr/external, no-backport

#48355 DashboardModel: Tidy up some of the older code
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/dashboard/state/utils.test.ts
Labels: type/chore, area/frontend, type/debt, oss-user-essentials, no-backport

#48571 GraphNG: Fix thresholds by color not following data update
  packages/grafana-ui/src/components/GraphNG/utils.test.ts
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotSeriesBuilder.ts
Labels: type/bug, area/frontend, add to changelog, no-backport

#48405 Templating: Prefix variable picker element IDs
  e2e/dashboards-suite/new-text-box-variable.spec.ts
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/pickers/PickerRenderer.tsx
  public/app/features/variables/textbox/TextBoxVariablePicker.tsx
Labels: area/dashboard/templating, area/frontend, oss-user-essentials, backport v8.5.x

#48684 Alerting: correctly show all alerts in a folder
  public/app/features/alerting/unified/AlertsFolderView.test.tsx
  public/app/features/alerting/unified/AlertsFolderView.tsx
Labels: type/bug, area/frontend, add to changelog, area/alerting/unified, backport v8.5.x

#48657 TimeRange: Fixes updating time range from url and browser history
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/utils/getRefreshFromUrl.test.ts
  public/app/features/dashboard/utils/getRefreshFromUrl.ts
Labels: area/frontend, add to changelog, backport v8.5.x

#48690 update latest.json to 8.5.2
  latest.json
Labels: no-backport

#47412 Escape backslashes in regexps in Loki label browser (#45809, #47039).
  packages/grafana-ui/src/components/Typeahead/TypeaheadItem.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/language_utils.ts
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.tsx
Labels: area/frontend, datasource/Loki, pr/external, no-backport

#48415 I18n: Developer documentation
  contribute/localisation.md
Labels: type/docs, no-backport

#48644 Variables: Fixes issue with null variables breaking the dropdown
  public/app/features/variables/state/sharedReducer.ts
Labels: type/bug, area/dashboard/templating, area/frontend, area/frontend/library-variables, backport v8.5.x

#48559 Alerting: remove hidden flag for data source during migrating alert rules
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
Labels: area/backend, area/alerting/unified, area/backend/db/migration, backport v8.5.x

#48658 AzureMonitor: add feature toggle azureMonitorExperimentalUI for migrating to experimental UI
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryHeader.tsx
Labels: area/backend, area/frontend, datasource/Azure, no-backport

#48704 Docs: Hide What’s new in Grafana alerting topic
  docs/sources/alerting/_index.md
  docs/sources/alerting/difference-old-new.md
Labels: no-backport

#48717 PanelEdit: Refactor to GrafanaTheme2
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: area/frontend, no-backport

#48183 grafana/ui: Add default type="button" to <Button>
  packages/grafana-ui/src/components/Button/Button.tsx
  public/app/core/components/ForgottenPassword/ForgottenPassword.tsx
  public/app/core/components/Login/LoginForm.tsx
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
  public/app/core/components/Signup/VerifyEmail.tsx
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/admin/CrawlerStartButton.tsx
  public/app/features/alerting/unified/components/admin/AddAlertManagerModal.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversSection.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/api-keys/ApiKeysForm.tsx
  public/app/features/canvas/elements/button.tsx
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/JsonEditorSettings.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
  public/app/features/profile/ChangePasswordForm.tsx
  public/app/features/profile/UserProfileEditForm.tsx
Labels: area/frontend, add to changelog, area/storybook, breaking change, no-backport

#46942 chore: update contribution docs
  contribute/architecture/backend/communication.md
Labels: type/docs, area/backend, backport v8.5.x

#48653 Transformations: Add an All Unique Values Reducer
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
Labels: area/frontend, add to changelog, area/transformations, backport v8.5.x

#48721 Converter: Add support for parsing error & warning from prometheus results
  pkg/util/converter/prom.go
  pkg/util/converter/prom_test.go
  pkg/util/converter/testdata/prom-error-frame.json
  pkg/util/converter/testdata/prom-error-golden.txt
  pkg/util/converter/testdata/prom-error.json
  pkg/util/converter/testdata/prom-warnings-frame.json
  pkg/util/converter/testdata/prom-warnings-golden.txt
  pkg/util/converter/testdata/prom-warnings.json
Labels: area/backend, no-backport

#48222 Canvas: Inline edit
  package.json
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
  public/app/plugins/panel/canvas/InlineEdit.tsx
  public/app/plugins/panel/canvas/InlineEditBody.tsx
  public/app/plugins/panel/canvas/globalStyles.ts
  public/sass/components/_dashboard_grid.scss
  yarn.lock
Labels: area/frontend, area/panel/canvas, no-backport

#48725 Converter: Add support for parsing prometheus scalar values
  pkg/util/converter/prom.go
  pkg/util/converter/prom_test.go
  pkg/util/converter/testdata/prom-scalar-frame.json
  pkg/util/converter/testdata/prom-scalar-golden.txt
  pkg/util/converter/testdata/prom-scalar.json
Labels: area/backend, no-backport

#48735 Search: add actions row header to new search layout
  public/app/features/search/page/SearchPage.tsx
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/page/components/columns.tsx
  public/app/features/search/service/types.ts
  public/app/features/search/types.ts
Labels: area/search, area/frontend, no-backport

#48727 Converter: Add support for parsing prometheus string
  pkg/util/converter/prom.go
  pkg/util/converter/prom_test.go
  pkg/util/converter/testdata/prom-string-frame.json
  pkg/util/converter/testdata/prom-string-golden.txt
  pkg/util/converter/testdata/prom-string.json
Labels: area/backend, no-backport

#48678 Chore: transfer LiveLogs.test to testing-library
  .betterer.results
  public/app/features/explore/LiveLogs.test.tsx
  public/app/features/explore/LiveLogs.tsx
Labels: area/explore, area/frontend, no-backport

#47656 Loki: backend: use streaming JSON parser
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/frame_test.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_response.go
  pkg/tsdb/loki/parse_response_test.go
  pkg/util/converter/prom.go
  pkg/util/converter/testdata/loki-streams-a-frame.json
  pkg/util/converter/testdata/loki-streams-a-golden.txt
  pkg/util/converter/testdata/loki-streams-b-frame.json
  pkg/util/converter/testdata/loki-streams-b-golden.txt
  pkg/util/converter/testdata/prom-matrix-frame.json
  pkg/util/converter/testdata/prom-matrix-golden.txt
  pkg/util/converter/testdata/prom-vector-frame.json
  pkg/util/converter/testdata/prom-vector-golden.txt
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport

#48431 Loki: use metadataRequest in testDatasource
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, no-backport

#48577 Chore: add Folderuid into panel-library API
  docs/sources/http_api/library_element.md
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements_create_test.go
  pkg/services/libraryelements/libraryelements_patch_test.go
  pkg/services/libraryelements/models.go
  public/api-merged.json
  public/api-spec.json
Labels: type/docs, area/backend, area/frontend, no-backport

#46288 make @grafana/ui run properly in SSR environments
  packages/grafana-ui/rollup.config.ts
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  packages/grafana-ui/src/components/JSONFormatter/json_explorer/json_explorer.ts
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/utils/debug.ts
  packages/grafana-ui/src/utils/dom.ts
  packages/grafana-ui/src/utils/measureText.ts
Labels: datasource/Graphite, datasource/OpenTSDB, datasource/Elasticsearch, type/build-packaging, datasource/Prometheus, datasource/CloudWatch, datasource/Postgres, area/explore, area/frontend, datasource/Loki, datasource/Azure, area/grafana/ui, datasource/Zipkin, datasource/Tempo, type/ci, no-backport

#47987 Add OTLP exporter for OpenTelemetry
  conf/defaults.ini
  conf/sample.ini
  go.mod
  go.sum
  pkg/infra/tracing/opentelemetry_tracing.go
  pkg/infra/tracing/test_helper.go
  pkg/infra/tracing/tracing.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Labels: area/backend, no-backport

#48718 PanelEditor: Add spacing between variables
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
Labels: area/frontend, no-backport

#48701 Explore: simplify support for multiple query editors
  docs/sources/developers/plugins/add-query-editor-help.md
  docs/sources/developers/plugins/add-support-for-explore-queries.md
  packages/grafana-data/src/types/datasource.ts
  public/app/plugins/datasource/cloudwatch/module.tsx
Labels: type/docs, datasource/CloudWatch, area/frontend, add to changelog, no-backport

#48728 Chore: Add PR Check action enforcing changelog decision
  .github/pr-checks.json
  .github/workflows/pr-checks.yml
  contribute/merge-pull-request.md
Labels: type/docs, no-backport, no-changelog

#48747 Revert "Loki: backend: use streaming JSON parser"
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/frame_test.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_response.go
  pkg/tsdb/loki/parse_response_test.go
  pkg/util/converter/prom.go
  pkg/util/converter/testdata/loki-streams-a-frame.json
  pkg/util/converter/testdata/loki-streams-a-golden.txt
  pkg/util/converter/testdata/loki-streams-b-frame.json
  pkg/util/converter/testdata/loki-streams-b-golden.txt
  pkg/util/converter/testdata/prom-matrix-frame.json
  pkg/util/converter/testdata/prom-matrix-golden.txt
  pkg/util/converter/testdata/prom-vector-frame.json
  pkg/util/converter/testdata/prom-vector-golden.txt
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport, no-changelog

#48743 TagsInput: Do not trigger submit on Enter
  packages/grafana-ui/src/components/TagsInput/TagsInput.tsx
Labels: area/frontend, no-backport

#48401 loki backend mode forward-oauth
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/api_mock.go
  pkg/tsdb/loki/framing_test.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/loki_bench_test.go
  pkg/tsdb/loki/oauth_test.go
Labels: area/backend, datasource/Loki, no-backport, no-changelog

#48675 AccessControl: don't pull builtin role assignments when refactor is enabled
  public/app/core/services/context_srv.ts
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/users/UsersTable.tsx
Labels: area/frontend, no-backport

#48752 Loki: backend: use streaming JSON parser, try2
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/frame_test.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_response.go
  pkg/tsdb/loki/parse_response_test.go
  pkg/util/converter/prom.go
  pkg/util/converter/testdata/loki-streams-a-frame.json
  pkg/util/converter/testdata/loki-streams-a-golden.txt
  pkg/util/converter/testdata/loki-streams-b-frame.json
  pkg/util/converter/testdata/loki-streams-b-golden.txt
  pkg/util/converter/testdata/prom-matrix-frame.json
  pkg/util/converter/testdata/prom-matrix-golden.txt
  pkg/util/converter/testdata/prom-vector-frame.json
  pkg/util/converter/testdata/prom-vector-golden.txt
  pkg/util/converter/testdata/prom-warnings-frame.json
  pkg/util/converter/testdata/prom-warnings-golden.txt
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
Labels: no-backport, no-changelog

#48617 Chore: Remove `packaging/publish` folder
  packaging/publish/publish_both.sh
  packaging/publish/publish_testing.sh
Labels: type/chore, type/build-packaging, no-backport

#48344 Alerting: Improved RBAC for Alert managers
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/AlertGroups.tsx
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/MuteTimings.tsx
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/components/AlertManagerPicker.tsx
  public/app/features/alerting/unified/components/NoAlertManagerWarning.tsx
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.tsx
  public/app/features/alerting/unified/components/alert-groups/AlertGroupFilter.tsx
  public/app/features/alerting/unified/components/amroutes/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/receivers/form/CloudReceiverForm.tsx
  public/app/features/alerting/unified/hooks/useAlertManagerSourceName.test.tsx
  public/app/features/alerting/unified/hooks/useAlertManagerSourceName.ts
  public/app/features/alerting/unified/hooks/useAlertManagerSources.ts
  public/app/features/alerting/unified/hooks/useMuteTimingOptions.ts
  public/app/features/alerting/unified/utils/access-control.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/plugins/panel/alertGroups/module.tsx
Labels: area/frontend, area/alerting/unified, backport v8.5.x, no-changelog

#48046 Alerting: modify ruler endpoints for proxying using the datasource UID
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/fork_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/lotex_ruler.go
  pkg/services/ngalert/api/lotex_ruler_test.go
  pkg/services/ngalert/api/test-data/ruler-cortex-recipient.http
  pkg/services/ngalert/api/test-data/ruler-loki-recipient.http
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/app/features/alerting/unified/api/ruler.test.ts
  public/app/features/alerting/unified/api/ruler.ts
Labels: area/backend, area/frontend, add to changelog, breaking change, no-backport

#48574 CloudWatch: Pass label in GetMetricData API request when dynamic label feature toggle is enabled
  pkg/tsdb/cloudwatch/cloudwatch_query.go
  pkg/tsdb/cloudwatch/metric_data_query_builder.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/request_parser.go
  pkg/tsdb/cloudwatch/request_parser_test.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
  pkg/tsdb/cloudwatch/utils_test.go
Labels: datasource/CloudWatch, area/backend, no-backport, no-changelog

#48723 Trace to logs: Only show Loki and Splunk data sources in settings
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
Labels: type/bug, area/frontend, area/tracing, no-backport, no-changelog

#48748 Tooltip: Fix links not legible in Tooltips when using light theme
  packages/grafana-data/src/themes/createComponents.ts
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
  public/sass/components/_panel_header.scss
Labels: type/bug, area/frontend, add to changelog, area/ui/theme, backport v8.5.x

#48762 Chore: Generate JSON theme files
  public/sass/theme.dark.generated.json
  public/sass/theme.light.generated.json
  scripts/cli/generateSassVariableFiles.ts
Labels: area/frontend, no-backport, no-changelog

#48745 Laura/chore/refactor test of secondary actions
  .betterer.results
  public/app/features/explore/SecondaryActions.test.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#48734 QueryEditor: Set data source type in mixed query data source ref
  public/app/features/query/components/QueryEditorRows.tsx
Labels: area/frontend, backport v8.5.x

#48715 Elasticsearch: Remove support for versions after their end of the life (<7.10.0)
  docs/sources/datasources/elasticsearch.md
  pkg/tsdb/elasticsearch/elasticsearch.go
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.test.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/utils.ts
Labels: type/docs, datasource/Elasticsearch, area/backend, area/frontend, add to changelog, breaking change, no-backport

#48769 Converter: Add result type to frame meta
  pkg/util/converter/prom.go
  pkg/util/converter/testdata/prom-exemplars-frame.json
  pkg/util/converter/testdata/prom-exemplars-golden.txt
  pkg/util/converter/testdata/prom-matrix-frame.json
  pkg/util/converter/testdata/prom-matrix-golden.txt
  pkg/util/converter/testdata/prom-matrix-with-nans-frame.json
  pkg/util/converter/testdata/prom-matrix-with-nans-golden.txt
  pkg/util/converter/testdata/prom-scalar-frame.json
  pkg/util/converter/testdata/prom-scalar-golden.txt
  pkg/util/converter/testdata/prom-string-frame.json
  pkg/util/converter/testdata/prom-string-golden.txt
  pkg/util/converter/testdata/prom-vector-frame.json
  pkg/util/converter/testdata/prom-vector-golden.txt
  pkg/util/converter/testdata/prom-warnings-frame.json
  pkg/util/converter/testdata/prom-warnings-golden.txt
Labels: area/backend, no-backport, no-changelog

#48753 schemas: Update to cuetsy v0.0.1
  go.mod
  go.sum
  pkg/cmd/grafana-cli/commands/cuetsify_command.go
  public/app/plugins/panel/barchart/models.cue
  public/app/plugins/panel/bargauge/models.cue
  public/app/plugins/panel/candlestick/models.cue
  public/app/plugins/panel/canvas/models.cue
  public/app/plugins/panel/dashlist/models.cue
  public/app/plugins/panel/gauge/models.cue
  public/app/plugins/panel/heatmap-new/models.cue
  public/app/plugins/panel/histogram/models.cue
  public/app/plugins/panel/news/models.cue
  public/app/plugins/panel/news/models.gen.ts
  public/app/plugins/panel/stat/models.cue
  public/app/plugins/panel/state-timeline/models.cue
  public/app/plugins/panel/status-history/models.cue
  public/app/plugins/panel/table/models.cue
  public/app/plugins/panel/text/models.cue
  public/app/plugins/panel/timeseries/models.cue
Labels: area/backend, area/frontend, no-backport, area/schema, no-changelog

#48766 FileUpload: associate the label with the input
  packages/grafana-ui/src/components/FileUpload/FileUpload.test.tsx
  packages/grafana-ui/src/components/FileUpload/FileUpload.tsx
Labels: type/bug, area/frontend, backport v8.4.x, backport v8.5.x, no-changelog

#48755 DashboardSettings: Update active tab to use new brand gradient
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.light.scss.tmpl.ts
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
Labels: area/frontend, no-backport, no-changelog

#48660 Prometheus: make parsing of Infinity variants case-insensitive
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: datasource/Prometheus, area/frontend, backport v8.5.x, no-changelog

#48665 Alerting: Provisioning message templates
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forked_provisioning.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_templates.go
  pkg/services/ngalert/api/tooling/definitions/shared.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/provisioning/persist.go
  pkg/services/ngalert/provisioning/provisioning_store_mock.go
  pkg/services/ngalert/provisioning/templates.go
  pkg/services/ngalert/provisioning/templates_test.go
Labels: area/backend, area/alerting/unified, backport v8.5.x, no-changelog

#48786 Geomap: Fix ability to edit geomap
  public/app/core/components/Layers/LayerDragDropList.tsx
  public/app/plugins/panel/geomap/editor/LayersEditor.tsx
Labels: type/bug, area/frontend, area/panel/geomap, no-backport, no-changelog

#46298 Tracing: Add trace to metrics config behind feature toggle
  .betterer.results
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/jaeger-ui-components/src/TraceTimelineViewer/ReferencesButton.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/ReferencesButton.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.test.js
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanLinks.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/types/links.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/core/components/TraceToMetrics/TraceToMetricsSettings.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/plugins/datasource/jaeger/components/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/ServiceGraphSettings.tsx
  public/app/plugins/datasource/zipkin/ConfigEditor.tsx
Labels: area/backend, area/explore, area/frontend, add to changelog, no stalebot, datasource/Zipkin, datasource/Tempo, no-backport

#48780 chore: Added datamapping function and tests
  public/app/plugins/panel/heatmap-new/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap-new/fields.test.ts
  public/app/plugins/panel/heatmap-new/fields.ts
  public/app/plugins/panel/heatmap-new/suggestions.ts
  public/app/plugins/panel/heatmap-new/utils.test.ts
Labels: area/frontend, no-backport, no-changelog

#48774 Alerting: Fix notification route removal
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.test.ts
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.tsx
Labels: area/frontend, area/alerting/unified, backport v8.5.x, no-changelog

#48768 Navigation: Add create icons to expanded menu
  pkg/api/index.go
  public/app/core/components/NavBar/Next/NavBarMenu.tsx
  public/app/core/components/NavBar/navBarItem-translations.ts
  public/locales/en/messages.po
Labels: area/backend, area/frontend, area/navigation, no-backport, no-changelog

#48793 Search: manage selection in state
  packages/grafana-ui/src/components/Table/TableCell.tsx
  public/app/features/search/page/SearchPage.tsx
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/page/components/ManageActions.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/page/components/columns.tsx
  public/app/features/search/page/selection.test.ts
  public/app/features/search/page/selection.ts
  public/app/features/search/service/minisearcher.ts
  public/app/features/search/service/searcher.test.ts
Labels: area/search, area/frontend, no-backport, no-changelog

#48275 Access control: Allow users with permission to update team, dashboard and folder permissions to list users in OSS
  pkg/api/api.go
  pkg/services/sqlstore/org_users.go
  pkg/services/sqlstore/org_users_test.go
  public/app/core/components/AccessControl/AddPermission.tsx
  public/app/core/components/AccessControl/Permissions.tsx
  public/app/core/components/AccessControl/types.ts
  public/app/features/dashboard/components/DashboardPermissions/AccessControlDashboardPermissions.tsx
  public/app/features/folders/AccessControlFolderPermissions.tsx
  public/app/features/teams/TeamPermissions.tsx
Labels: area/backend, area/frontend, area/accesscontrol, no-backport, no-changelog

#48775 [v8.5.x] Access control: further reduce access control feature toggle checks
  pkg/api/common_test.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
  pkg/services/dashboards/manager/dashboard_service.go
  pkg/services/dashboards/manager/dashboard_service_integration_test.go
  pkg/services/dashboards/manager/folder_service.go
  pkg/services/dashboards/manager/folder_service_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/serviceaccounts/database/database.go
  pkg/services/sqlstore/annotation.go
  pkg/services/sqlstore/dashboard.go
  pkg/services/sqlstore/org_users.go
  pkg/services/sqlstore/team.go
Labels: area/backend, backport, no-changelog

#48782 Access control: fix a bug
  pkg/services/accesscontrol/ossaccesscontrol/ossaccesscontrol.go
Labels: area/backend, backport v8.5.x, no-changelog

#48798 Cloudwatch: Add support for new AWS/RDS EBS* metrics
  pkg/tsdb/cloudwatch/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external, backport v8.5.x

#48773 Logs: simpler nanoscecond timestamp handling
  public/app/core/logs_model.ts
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/backendResultTransformer.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#48754 Plugins: Refactor plugin resource call with and without data source
  pkg/api/datasources.go
  pkg/api/plugin_resource.go
  pkg/api/plugins.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/services/live/live.go
  pkg/services/live/liveplugin/plugin.go
Labels: area/plugins, type/chore, area/backend/plugins, area/backend, no-backport, no-changelog

#48802 Chore: Generate missing theme JSON
  public/sass/theme.dark.generated.json
  public/sass/theme.light.generated.json
Labels: area/frontend, no-backport, no-changelog

#47556 DashboardPickerById: Add optionLabel prop
  public/app/core/components/editors/DashboardPickerByID.tsx
  public/app/features/playlist/usePlaylistItems.tsx
Labels: area/frontend, add to changelog, no-backport

#47300 Doc: correct grammar in labels description
  docs/sources/basics/timeseries-dimensions.md
Labels: type/docs, pr/external, stale, no-backport, no-changelog

#48787 Alerting: automatically select last expression
  public/app/features/alerting/unified/components/rule-editor/ConditionField.tsx
Labels: area/frontend, area/alerting/unified, backport v8.5.x, no-changelog

#48818 [v8.5.x] Alerting: automatically select last expression (#48787)
  public/app/features/alerting/unified/components/rule-editor/ConditionField.tsx
Labels: area/frontend, area/alerting/unified, backport, no-changelog

#48795 Heatmap (new): exemplars tooltip stub
  public/app/plugins/panel/heatmap-new/HeatmapHoverView.tsx
  public/app/plugins/panel/heatmap-new/fields.test.ts
  public/app/plugins/panel/heatmap-new/fields.ts
Labels: area/panel/heatmap, area/frontend, no-backport, no-changelog

#48788 Add new features to DiffReport and Diff
  pkg/util/cmputil/reporter.go
  pkg/util/cmputil/reporter_test.go
Labels: area/backend, no-backport, no-changelog

#48822 Logging: Unify logging fakes
  pkg/api/login_test.go
  pkg/api/plugins_test.go
  pkg/api/team_test.go
  pkg/infra/log/logtest/fake.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_test.go
  pkg/services/updatechecker/plugins_test.go
  pkg/setting/setting_session_test.go
Labels: area/backend, no-backport, no-changelog

#48826 Docs:Cleanup alerting docs
  docs/sources/alerting/_index.md
  docs/sources/alerting/alert-groups.md
  docs/sources/alerting/alerting-rules/alert-annotation-label.md
  docs/sources/alerting/contact-points/_index.md
  docs/sources/alerting/contact-points/message-templating/_index.md
  docs/sources/alerting/contact-points/message-templating/template-data.md
  docs/sources/alerting/contact-points/message-templating/template-functions.md
  docs/sources/alerting/migrating-legacy-alerts.md
  docs/sources/alerting/notifications/_index.md
  docs/sources/alerting/silences.md
  docs/sources/introduction/oss-details.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
Labels: type/docs, no-backport, no-changelog

#48694 Alerting: check provenance of alert rules in current API
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
Labels: area/backend, area/alerting/unified, backport v8.5.x, no-changelog

#48052 Alerting: Modify prometheus endpoints for proxying using the datasource UID
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forked_prom.go
  pkg/services/ngalert/api/generated_base_api_prometheus.go
  pkg/services/ngalert/api/lotex_prom.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/prom.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/api/util.go
  public/api-merged.json
  public/app/features/alerting/unified/api/prometheus.ts
Labels: area/backend, area/frontend, add to changelog, breaking change, no-backport

#48828 Alerting: Change method on endpoint to provision routes
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forked_provisioning.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_policies.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/tests/api/alerting/api_provisioning_test.go
Labels: area/backend, area/alerting/unified, backport v8.5.x, no-changelog

#48831 Alerting: Change path on endpoint to provision contact points
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forked_provisioning.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_contactpoints.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend, area/alerting/unified, backport v8.5.x, no-changelog

#48815 CloudWatch: Refactor tests, remove unused parameters
  pkg/tsdb/cloudwatch/query_row_response.go
  pkg/tsdb/cloudwatch/request_parser.go
  pkg/tsdb/cloudwatch/request_parser_test.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/test-data/multiple-outputs-query-a.json
  pkg/tsdb/cloudwatch/test-data/multiple-outputs-query-b.json
Labels: datasource/CloudWatch, area/backend, no-backport, no-changelog

#48606 Search: create bluge based index
  go.mod
  go.sum
  pkg/services/searchV2/bluge.go
  pkg/services/searchV2/filter.go
  pkg/services/searchV2/index.go
  pkg/services/searchV2/service.go
  pkg/services/searchV2/types.go
Labels: area/search, area/backend, area/frontend, no-backport, no-changelog

#47860 Alerting: Apply Custom Headers to datasource queries.
  pkg/tsdb/legacydata/service/service.go
  pkg/tsdb/legacydata/service/service_test.go
Labels: type/bug, area/backend, add to changelog, backport v8.5.x

#48746 Dashboard: Fix dashboard update permission check
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/manager/dashboard_service.go
  pkg/services/dashboards/manager/dashboard_service_integration_test.go
Labels: type/bug, area/backend, add to changelog, backport v8.5.x

#48646 CloudMonitoring: Allow to set a custom value or disable graph_period
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  pkg/tsdb/cloudmonitoring/time_series_query.go
  pkg/tsdb/cloudmonitoring/time_series_query_test.go
  pkg/tsdb/cloudmonitoring/types.go
  public/app/plugins/datasource/cloud-monitoring/components/Alignment.tsx
  public/app/plugins/datasource/cloud-monitoring/components/GraphPeriod.test.tsx
  public/app/plugins/datasource/cloud-monitoring/components/GraphPeriod.tsx
  public/app/plugins/datasource/cloud-monitoring/components/MetricQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/PeriodSelect.tsx
  public/app/plugins/datasource/cloud-monitoring/components/SLO/SLOQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/index.ts
  public/app/plugins/datasource/cloud-monitoring/constants.ts
  public/app/plugins/datasource/cloud-monitoring/types.ts
Labels: area/backend, area/frontend, datasource/GoogleCloudMonitoring, add to changelog, no-backport

#48855 Loki: framing_test: more infinity/nan test cases
  pkg/tsdb/loki/testdata/matrix_inf.golden.txt
  pkg/tsdb/loki/testdata/matrix_inf.json
  pkg/tsdb/loki/testdata/matrix_nan.golden.txt
  pkg/tsdb/loki/testdata/matrix_nan.json
Labels: datasource/Loki, no-backport, no-changelog

#48851 [v8.5.x] Alerting: Apply Custom Headers to datasource queries.
  pkg/tsdb/legacydata/service/service.go
  pkg/tsdb/legacydata/service/service_test.go
Labels: area/backend, backport, no-changelog

#48871 AccessControl: Create own interface and impl for each permission service
  pkg/api/common_test.go
  pkg/api/dashboard_permission.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder_permission_test.go
  pkg/api/http_server.go
  pkg/api/metrics_test.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/team_members.go
  pkg/api/team_test.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/mock/permissions_services_mock.go
  pkg/services/accesscontrol/mock/service_mock.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/dashboards/manager/dashboard_service.go
  pkg/services/dashboards/manager/dashboard_service_integration_test.go
  pkg/services/dashboards/manager/folder_service.go
  pkg/services/dashboards/manager/folder_service_test.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/datasources/service/datasource_service_test.go
  pkg/services/guardian/accesscontrol_guardian.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/guardian/provider.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/query/query_test.go
  pkg/tsdb/legacydata/service/service_test.go
Labels: type/chore, area/backend, area/accesscontrol, no-backport, no-changelog

#48650 AzureMonitor: Add support for selecting multiple options when using the equals and not equals dimension filters
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/metrics/migrations.go
  pkg/tsdb/azuremonitor/metrics/migrations_test.go
  pkg/tsdb/azuremonitor/types/types.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/DimensionFields.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/types/query.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateQuery.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/utils/migrateQuery.ts
Labels: area/backend, area/frontend, datasource/Azure, add to changelog, no-backport

#48888 Encryption: Add Prometheus metrics (#48603)
  pkg/infra/metrics/metrics.go
  pkg/infra/usagestats/statscollector/service.go
  pkg/infra/usagestats/statscollector/service_test.go
  pkg/models/stats.go
  pkg/services/secrets/manager/cache.go
  pkg/services/secrets/manager/manager.go
  pkg/services/secrets/manager/metrics.go
  pkg/services/sqlstore/stats.go
Labels: area/backend, backport, no-backport, no-changelog

#48887 Convert `packages/grafana-ui/src/components/Logs/LogLabels.test.tsx` to RTL
  .betterer.results
  packages/grafana-ui/src/components/Logs/LogLabels.test.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#48394 Encryption: Split database transactions within migration/rollback commands
  pkg/cmd/grafana-cli/commands/secretsmigrations/reencrypt_secrets.go
  pkg/cmd/grafana-cli/commands/secretsmigrations/rollback_secrets.go
Labels: area/backend/security, area/backend, backport v8.5.x, no-changelog

#48873 Loki: backend-mode: handle derived fields
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/backendResultTransformer.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/getDerivedFields.test.ts
  public/app/plugins/datasource/loki/getDerivedFields.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#48863 Search (Playground) Implement Delete and Move actions in New Search
  public/app/features/search/constants.ts
  public/app/features/search/page/components/ConfirmDeleteModal.test.tsx
  public/app/features/search/page/components/ConfirmDeleteModal.tsx
  public/app/features/search/page/components/ManageActions.tsx
  public/app/features/search/page/components/MoveToFolderModal.test.tsx
  public/app/features/search/page/components/MoveToFolderModal.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/types.ts
Labels: area/search, area/frontend, no-backport, no-changelog

#48847 Search: use bluge index for frontend search (playground)
  package.json
  public/app/features/search/page/SearchPage.tsx
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/page/components/ConfirmDeleteModal.tsx
  public/app/features/search/page/components/FolderSection.tsx
  public/app/features/search/page/components/FolderView.tsx
  public/app/features/search/page/components/SearchResultsGrid.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/page/components/columns.tsx
  public/app/features/search/service/backend.ts
  public/app/features/search/service/bluge.ts
  public/app/features/search/service/minisearcher.ts
  public/app/features/search/service/searcher.test.ts
  public/app/features/search/service/searcher.ts
  public/app/features/search/service/types.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
  public/app/plugins/datasource/grafana/types.ts
  yarn.lock
Labels: area/backend, area/frontend, no-backport, no-changelog
