Repository grafana/grafana, pull requests merged in 2023-04, with the labels that each got.

#65698 Docs: Deprecate dashboard previews
  docs/sources/search/dashboard-previews/index.md
Labels: type/docs, add to changelog, no-backport

#65715 Docs: Add info how to do multiple sorting in table panel
  docs/sources/panels-visualizations/visualizations/table/index.md
Labels: type/docs, no-backport, no-changelog

#65704 [v9.2.x] CI: Partial backport of #59615
  local/.gitkeep
Labels: type/ci, no-backport, no-changelog

#65327 UI extensions: Refactor the registry and remove the `"command"` type
  .betterer.results
  packages/grafana-data/src/types/app.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/index.ts
  packages/grafana-runtime/src/services/pluginExtensions/contexts.ts
  packages/grafana-runtime/src/services/pluginExtensions/extensions.test.ts
  packages/grafana-runtime/src/services/pluginExtensions/extensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.test.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/registry.ts
  packages/grafana-runtime/src/services/pluginExtensions/utils.test.ts
  packages/grafana-runtime/src/services/pluginExtensions/utils.ts
  public/app/app.ts
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/plugins/extensions/constants.ts
  public/app/features/plugins/extensions/createPluginExtensionRegistry.test.ts
  public/app/features/plugins/extensions/createPluginExtensionRegistry.ts
  public/app/features/plugins/extensions/errorHandling.test.ts
  public/app/features/plugins/extensions/errorHandling.ts
  public/app/features/plugins/extensions/getModalWrapper.tsx
  public/app/features/plugins/extensions/getPluginExtensions.test.ts
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/placementsPerPlugin.ts
  public/app/features/plugins/extensions/registryFactory.test.ts
  public/app/features/plugins/extensions/registryFactory.ts
  public/app/features/plugins/extensions/types.ts
  public/app/features/plugins/extensions/utils.test.tsx
  public/app/features/plugins/extensions/utils.tsx
  public/app/features/plugins/extensions/validateLink.test.ts
  public/app/features/plugins/extensions/validateLink.ts
  public/app/features/plugins/extensions/validators.test.ts
  public/app/features/plugins/extensions/validators.ts
  public/app/features/plugins/pluginPreloader.ts
  public/app/features/sandbox/TestStuffPage.tsx
Labels: area/plugins, type/refactor, area/frontend, no-backport, levitate breaking change, no-changelog

#65755 Angular: Prevent angular from loading when disabled
  public/app/angular/services/nav_model_srv.ts
  public/app/core/navigation/errorModels.ts
  public/app/features/plugins/components/AppRootPage.tsx
Labels: area/frontend, add to changelog, missing-labels, backport v9.4.x

#65169 Alerting: Add limits to the Prometheus Rules API
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_prometheus_test.go
  pkg/services/ngalert/api/tooling/definitions/prom.go
  pkg/services/ngalert/api/tooling/definitions/prom_test.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/web/context.go
Labels: area/backend, no-changelog, missing-labels, backport v9.4.x

#65794 [v9.2.x] Alerting: Fix integration test for creating silences (#65722)
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: type/bug, area/backend, backport, no-changelog

#65711 TablePanel: Fix table cells overflowing when there are multiple data links
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
Labels: type/bug, area/panel/table, area/frontend, add to changelog, no-backport

#65787 CI: Move release integration pipeline to standalone promotion pipeline
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
Labels: type/ci, backport v8.5.x, no-changelog, backport v9.2.x, backport v9.3.x, product-approved, backport v9.4.x

#65762 PanelChrome: Add option to show actions on the right side (actions = leftItems)
  packages/grafana-ui/src/components/PanelChrome/HoverWidget.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.mdx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.story.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelDescription.tsx
  packages/grafana-ui/src/utils/storybook/DashboardStoryCanvas.tsx
Labels: area/frontend, add to changelog, no-backport

#65796 Plugins: Tracing: Disable distributed tracing for plugins by default
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
Labels: area/plugins, area/backend, go, no-backport, no-changelog

#65797 CI: Make `init-enterprise` depend on `grabpl`
  .drone.yml
  scripts/drone/pipelines/test_frontend.star
  scripts/drone/steps/lib.star
Labels: type/bug, type/ci, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x

#65464 Dashboard: Enable feature toggle emptyDashboardPage by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  e2e/shared/smokeTestScenario.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  public/app/features/dashboard/components/AddPanelButton/AddPanelButton.tsx
  public/app/features/dashboard/components/AddPanelButton/AddPanelMenu.tsx
Labels: type/docs, area/dashboard, area/backend, area/frontend, no-backport, no-changelog

#65800 [v9.4.x] CI: Move release integration pipeline to standalone promotion pipeline (#65787)
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
Labels: backport, type/ci, no-changelog

#65593 Dashboards: Enable feature flag `newPanelChromeUI` by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  e2e/panels-suite/panelEdit_base.spec.ts
  e2e/various-suite/inspect-drawer.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e/src/flows/importDashboard.ts
  packages/grafana-e2e/src/flows/openPanelMenuItem.ts
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelMenu.tsx
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/dashboard, area/backend, area/frontend, add to changelog, no-backport

#63997 Governance: Update workplace
  GOVERNANCE.md
Labels: stale, no-backport, no-changelog

#65630 Loki Query Splitting: Rename from "chunk" to "splitting"
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/logsTimeSplitting.test.ts
  public/app/plugins/datasource/loki/logsTimeSplitting.ts
  public/app/plugins/datasource/loki/metricTimeSplitting.test.ts
  public/app/plugins/datasource/loki/metricTimeSplitting.ts
  public/app/plugins/datasource/loki/querySplitting.test.ts
  public/app/plugins/datasource/loki/querySplitting.ts
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.tsx
  public/app/plugins/datasource/loki/types.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#65829 Prometheus: Remove unused editorSrc
  public/app/plugins/datasource/prometheus/datasource.tsx
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#65439 elasticsearch: removed code related to removed esVersion field
  pkg/infra/usagestats/statscollector/service.go
  pkg/infra/usagestats/statscollector/service_test.go
  pkg/tests/api/elasticsearch/elasticsearch_test.go
Labels: area/backend, no-backport, no-changelog

#65804 remove docs for raw query as it no longer exists
  docs/sources/datasources/loki/query-editor/index.md
Labels: type/docs, no-backport, no-changelog

#65806 CI: Exclude cloud related tags from tag events
  .drone.yml
  scripts/drone/events/release.star
Labels: type/ci, no-changelog, backport v9.2.x, backport v9.3.x, product-approved, backport v9.4.x

#65495 CloudWatch: Fix cachedQueries insights not being updated for metric queries
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs/CloudWatchLogsLanguageProvider.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchAnnotationQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchMetricsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchRequest.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, add to changelog, no-backport

#65674 Alerting: Add label filters to the logic of showing hidden instances
  public/app/features/alerting/unified/mocks.ts
  public/app/plugins/panel/alertlist/UnifiedAlertList.tsx
  public/app/plugins/panel/alertlist/util.test.tsx
  public/app/plugins/panel/alertlist/util.ts
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v9.4.x

#60711 Prometheus: Browser resource caching
  docs/sources/administration/provisioning/index.md
  docs/sources/datasources/prometheus/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/tsdb/prometheus/resource/resource.go
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditorByApp.test.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/language_provider.test.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/language_utils.test.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/LabelFilterItem.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/LabelFilters.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/LabelFilters.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricEncyclopediaModal.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/types.ts
Labels: type/docs, datasource/Prometheus, area/backend, area/frontend, add to changelog, no-backport

#65651 Build: Add CloudMode to build versions
  pkg/build/cmd/uploadpackages.go
  pkg/build/config/version.go
  pkg/build/config/version_mode.go
  pkg/build/config/versions.go
  pkg/build/packaging/grafana.go
Labels: area/backend, no-backport, no-changelog

#65567 CloudMonitoring: Add project selector for MQL editor[fix]
  public/app/plugins/datasource/cloud-monitoring/components/MetricQueryEditor.test.tsx
  public/app/plugins/datasource/cloud-monitoring/components/MetricQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/Project.tsx
Labels: type/bug, area/frontend, datasource/GoogleCloudMonitoring, add to changelog, backport v9.4.x

#65843 Prometheus: browser cache unit test bug
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#65290 Remove two PR reviewer checklist items
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-backport, no-changelog

#65842 Revert "Alerting: Add limits to the Prometheus Rules API"
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_prometheus_test.go
  pkg/services/ngalert/api/tooling/definitions/prom.go
  pkg/services/ngalert/api/tooling/definitions/prom_test.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/web/context.go
Labels: area/backend, no-backport, no-changelog

#65573 docs: updates for empty dashboard state
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/dashboards/build-dashboards/manage-library-panels/index.md
  docs/sources/getting-started/build-first-dashboard.md
  docs/sources/tutorials/grafana-fundamentals/index.md
Labels: type/docs, no-backport, no-changelog

#65854 [v9.2.x] Backport `#65797` and `#65806` to v9.2.x
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/pipelines/test_frontend.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#65860 Alerting: Add limits to the Prometheus Rules API
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_prometheus_test.go
  pkg/services/ngalert/api/tooling/definitions/prom.go
  pkg/services/ngalert/api/tooling/definitions/prom_test.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/web/context.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#65841 UI Extensions: Rename `placement` to `extensionPointId`
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.test.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/plugins/extensions/constants.ts
  public/app/features/plugins/extensions/createPluginExtensionRegistry.test.ts
  public/app/features/plugins/extensions/createPluginExtensionRegistry.ts
  public/app/features/plugins/extensions/extensionsPerPlugin.ts
  public/app/features/plugins/extensions/getPluginExtensions.test.ts
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/placementsPerPlugin.ts
  public/app/features/plugins/extensions/utils.tsx
  public/app/features/plugins/extensions/validators.test.ts
  public/app/features/plugins/extensions/validators.ts
  public/app/features/sandbox/TestStuffPage.tsx
Labels: area/plugins, area/frontend, no-backport, levitate breaking change, no-changelog

#65687 update enhanced-ldap
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Labels: type/docs, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, Q1CX

#65870 Docker: Allow to get commit sha when using root Dockerfile
  Dockerfile
Labels: type/build-packaging, no-backport, no-changelog

#65868 Alerting: Add tests for timestamp of first firing alert
  pkg/services/ngalert/api/api_prometheus_test.go
Labels: area/backend, no-backport, no-changelog

#65873 docs: nav updates for data sources
  docs/sources/datasources/azure-monitor/_index.md
  docs/sources/datasources/elasticsearch/_index.md
  docs/sources/datasources/google-cloud-monitoring/_index.md
  docs/sources/datasources/influxdb/_index.md
  docs/sources/datasources/jaeger/_index.md
  docs/sources/datasources/loki/_index.md
  docs/sources/datasources/mssql/_index.md
  docs/sources/datasources/mysql/_index.md
  docs/sources/datasources/opentsdb/_index.md
  docs/sources/datasources/postgres/_index.md
  docs/sources/datasources/prometheus/_index.md
  docs/sources/datasources/tempo/_index.md
  docs/sources/datasources/testdata/_index.md
  docs/sources/datasources/zipkin/_index.md
Labels: type/docs, no-backport, no-changelog

#65861 PluginExtensions: Adding full targets to the panel menu context
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/plugins/extensions/getPluginExtensions.test.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugin-extensions

#65856 [v9.3.x] Backport #65797 and #65806 to v9.3.x
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/pipelines/test_frontend.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#65857 [v9.4.x] Backport #65797 and #65806 to v9.4.x
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/pipelines/test_frontend.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#65803 [v9.2.x] CI: Move release integration pipeline to standalone promotion pipeline (#65787)
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
Labels: backport, type/ci, no-changelog

#65789 Feature Flags: Remove dev-mode and alpha from grpc server feature flag
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, type/ci, no-backport, no-changelog

#65780 [v9.4.x] Alerting: Disable alerting incompatible panels in the dashboard picke…
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.test.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.tsx
Labels: area/alerting, area/frontend, backport, no-changelog

#65838 Loki docs: Use images instead of text description for operation settings
  docs/sources/datasources/loki/query-editor/index.md
Labels: type/docs, no-backport, no-changelog

#64292 Scenes: Add refresh picker to demos and dashboard loader
  public/app/features/scenes/dashboard/DashboardsLoader.ts
  public/app/features/scenes/scenes/gridMultiTimeRange.tsx
  public/app/features/scenes/scenes/gridMultiple.tsx
  public/app/features/scenes/scenes/gridWithMultipleData.tsx
  public/app/features/scenes/scenes/queryVariableDemo.tsx
  public/app/features/scenes/scenes/sceneWithRows.tsx
  public/app/features/scenes/scenes/transformations.tsx
  public/app/features/scenes/scenes/variablesDemo.tsx
Labels: area/dashboard, area/frontend, no-backport, no-changelog, area/scenes

#65886 Scenes: update to v0.3
  package.json
  public/app/features/scenes/apps/SceneRadioToggle.tsx
  public/app/features/scenes/apps/SceneSearchBox.tsx
  public/app/features/scenes/dashboard/DashboardScene.tsx
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#65887 Packaging: Remove chkconfig dependency
  pkg/build/packaging/grafana.go
Labels: type/chore, area/backend, add to changelog, no-backport

#63554 [v8.4.x] Add --init to all podman invocations to ensure ^C works on MacOS (#61745)
  docs/Makefile
Labels: type/docs, backport, no-changelog

#63555 [v8.5.x] Add --init to all podman invocations to ensure ^C works on MacOS (#61745)
  docs/Makefile
Labels: type/docs, backport, no-changelog

#65595 Use latest version of doc-validator
  .github/workflows/doc-validator.yml
Labels: no-backport, no-changelog

#63556 [v9.2.x] Add --init to all podman invocations to ensure ^C works on MacOS (#61745)
  docs/Makefile
Labels: type/docs, backport, no-changelog

#65910 PluginExtensions: Fixed issue with incorrect type being exposed when configuring an extension
  packages/grafana-data/src/types/app.ts
Labels: type/bug, area/plugins, area/frontend, add to changelog, area/plugins/app, levitate breaking change, area/plugin-extensions, backport v9.5.x

#65782 Docs: define RBAC n/a for a scope
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
Labels: type/docs, no-backport, no-changelog

#65924 CI: Allow X.Y.Z-pre in bump-version workflow
  .github/workflows/bump-version.yml
Labels: type/ci, no-backport, no-changelog

#65467 Dropdown: Stop Dropdown accepting a function as children
  packages/grafana-ui/src/components/Dropdown/Dropdown.tsx
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
Labels: type/chore, area/frontend, add to changelog, breaking change, no-backport

#65925 Loki Query Splitting: Fix bug for mixed split durations
  public/app/plugins/datasource/loki/querySplitting.test.ts
  public/app/plugins/datasource/loki/querySplitting.ts
Labels: type/bug, area/frontend, datasource/Loki, no-changelog, backport v9.5.x

#65082 Page: Remove bottom page margin
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/PageNew/Page.tsx
  public/app/core/components/PageNew/SectionNav.tsx
Labels: area/frontend, no-backport, no-changelog

#65929 Plugins: Remove unnecessary CDN code
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
Labels: area/plugins, area/backend, no-backport, no-changelog

#65911 Service accounts: Fix service account role picker on reload of profile page
  public/app/features/serviceaccounts/ServiceAccountPage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountPage.tsx
  public/app/features/serviceaccounts/components/ServiceAccountProfile.tsx
Labels: area/frontend, no-backport, no-changelog

#65882 chore: automatically add relevant items to dataviz / bi projects
  .github/commands.json
Labels: type/chore, no-backport, no-changelog

#65739 Rickywhitaker/verify repos update
  scripts/verify-repo-update/verify-repos.sh
Labels: no-backport, no-changelog

#65235 Docs: Added note to contact Support
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, Q1CX, backport v9.5.x

#58392 Row-repeats: Fix disappearing panel when viewed panel is refreshed
  .betterer.results
  public/app/features/dashboard/state/DashboardModel.repeat.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
Labels: area/dashboard, area/frontend, area/templating/repeating, no-changelog, enterprise-failed, backport v9.3.x, missing-labels, backport v9.4.x

#64989 Alerting: Use a completely isolated context for state history writes
  pkg/infra/tracing/opentelemetry_tracing.go
  pkg/infra/tracing/test_helper.go
  pkg/infra/tracing/tracing.go
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/core.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/model/rule.go
Labels: type/bug, area/alerting, area/backend, add to changelog, kata:state-history, backport v9.5.x

#65973 Chore: Reuse findFieldIndex from findField
  public/app/features/dimensions/utils.ts
Labels: area/frontend, no-backport, no-changelog

#65740 TrendPanel: Add new trend panel (Alpha)
  .betterer.results
  .github/CODEOWNERS
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  pkg/plugins/plugindef/plugindef.cue
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/timeseries/module.tsx
  public/app/plugins/panel/timeseries/utils.ts
  public/app/plugins/panel/trend/TrendPanel.tsx
  public/app/plugins/panel/trend/img/trend.svg
  public/app/plugins/panel/trend/module.tsx
  public/app/plugins/panel/trend/panelcfg.cue
  public/app/plugins/panel/trend/panelcfg.gen.ts
  public/app/plugins/panel/trend/plugin.json
  public/app/plugins/panel/trend/suggestions.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#65978 PluginExtensions: Fixed issue in typings for the onClick link callback
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/plugins/extensions/getPluginExtensions.ts
Labels: type/bug, area/plugins, area/frontend, area/plugins/app, no-changelog, area/plugin-extensions, backport v9.5.x

#64903 Show traceids for failing and successful requests
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/panel.ts
  packages/grafana-runtime/src/services/backendSrv.ts
  packages/grafana-runtime/src/utils/queryResponse.test.ts
  packages/grafana-runtime/src/utils/queryResponse.ts
  pkg/middleware/middleware.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/features/inspector/InspectErrorTab.tsx
  public/app/features/inspector/InspectStatsTab.tsx
  public/app/features/inspector/InspectStatsTraceIdsTable.tsx
  public/app/features/query/components/QueryErrorAlert.tsx
  public/app/features/query/state/runRequest.test.ts
  public/app/features/query/state/runRequest.ts
  public/app/plugins/datasource/graphite/datasource_integration.test.ts
  public/app/plugins/datasource/loki/responseUtils.ts
Labels: datasource/Graphite, type/docs, area/backend, area/frontend, datasource/Loki, no-backport, no-changelog

#65413 Scenes: Add support for shared query results of other panel
  devenv/dev-dashboards/panel-common/shared_queries.json
  public/app/features/scenes/dashboard/DashboardsLoader.test.ts
  public/app/features/scenes/dashboard/DashboardsLoader.ts
  public/app/features/scenes/dashboard/ShareQueryDataProvider.test.ts
  public/app/features/scenes/dashboard/ShareQueryDataProvider.ts
  public/app/features/scenes/dashboard/utils.ts
  public/app/plugins/datasource/dashboard/types.ts
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#65913 Admin/Plugins: Change alert about Connections to subtitle
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.tsx
  public/app/features/datasources/pages/DataSourcesListPage.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: type/bug, area/frontend, no-changelog, product-approved, backport v9.5.x

#65699 PieChart: Show long labels properly
  public/app/plugins/panel/piechart/PieChart.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/piechart, no-backport

#65980 Badge: Fix alignment and simplify markup and styles
  packages/grafana-ui/src/components/Badge/Badge.tsx
Labels: area/frontend, area/grafana/ui, no-backport, no-changelog

#65553 [v9.4.x] Auth: Fix orgrole picker disabled if isSynced user
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/frontendsettings.go
  pkg/api/ldap_debug_test.go
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/api/user.go
  pkg/infra/usagestats/service/usage_stats_test.go
  pkg/infra/usagestats/statscollector/service_test.go
  pkg/login/ldap_login_test.go
  pkg/login/social/social.go
  pkg/middleware/middleware_test.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/usage_stats.go
  pkg/services/contexthandler/authproxy/authproxy.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/ldap/ldap_private_test.go
  pkg/services/ldap/settings.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfo_test.go
  pkg/services/navtree/navtreeimpl/admin.go
  pkg/services/org/model.go
  pkg/services/user/model.go
  pkg/setting/setting.go
  public/app/features/users/UsersTable.tsx
  public/app/types/user.ts
Labels: type/docs, area/backend, area/frontend, backport, enterprise-ok, no-changelog

#64298 Build: Fix Redis/Memcached integration tests
  .drone.yml
  Makefile
  pkg/infra/remotecache/memcached_storage_integration_test.go
  pkg/infra/remotecache/redis_storage_integration_test.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/services/live/managedstream/cache_redis_test.go
  scripts/drone/events/release.star
  scripts/drone/pipelines/integration_tests.star
  scripts/drone/services/services.star
  scripts/drone/steps/lib.star
Labels: type/build-packaging, area/backend, type/ci, no-backport, no-changelog

#65324 Templating: Replace __data , __field and __cell_n with macros
  .betterer.results
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/types/ScopedVars.ts
  public/app/features/inspector/InspectJSONTab.tsx
  public/app/features/templating/dataMacros.test.ts
  public/app/features/templating/dataMacros.ts
  public/app/features/templating/fieldAccessorCache.ts
  public/app/features/templating/macroRegistry.ts
  public/app/features/templating/templateProxies.test.ts
  public/app/features/templating/templateProxies.ts
  public/app/features/templating/template_srv.ts
Labels: area/dashboard/templating, area/frontend, no-backport, no-changelog

#65757 DashlistPanel: Add options to include time range and variable values
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  public/app/plugins/panel/dashlist/DashList.tsx
  public/app/plugins/panel/dashlist/module.tsx
  public/app/plugins/panel/dashlist/panelcfg.cue
  public/app/plugins/panel/dashlist/panelcfg.gen.ts
Labels: type/docs, area/frontend, add to changelog, pr/external, no-backport

#65983 Grafana UI: Ignore internal stories when compiling
  packages/grafana-ui/tsconfig.build.json
Labels: type/build-packaging, area/frontend, area/grafana/ui, no-backport, no-changelog

#65738 Supplementary Query Error: Align buttons to the right / Update timeout message
  public/app/features/explore/LogsVolumePanelList.test.tsx
  public/app/features/explore/LogsVolumePanelList.tsx
  public/app/features/explore/SupplementaryResultError.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#65716 Plugins: Move config factory to pluginsintegration package
  pkg/api/plugin_resource_test.go
  pkg/infra/tracing/opentelemetry_tracing.go
  pkg/plugins/config/config.go
  pkg/plugins/config/tracing.go
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/services/pluginsintegration/config/config_test.go
  pkg/services/pluginsintegration/config/tracing.go
  pkg/services/pluginsintegration/config/tracing_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
Labels: area/plugins, type/chore, area/backend, area/frontend, no-backport, no-changelog

#65930 Devenv: Create new Elasticsearch dashboards for data in data source
  devenv/datasources.yaml
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_compare.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_complex.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_migration.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_simple.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v7.json
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_v7_filebeat.json
  devenv/docker/blocks/elastic/data/data.js
  devenv/jsonnet/dev-dashboards.libsonnet
Labels: area/devenv, no-backport, no-changelog

#62711 Docs: Add example to extract a specific label value
  docs/sources/alerting/manage-notifications/template-notifications/using-go-templating-language.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.4.x

#66004 Docs: Updated Grafana OSS Introduction
  docs/sources/introduction/_index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, Q1SE, backport v9.5.x

#66014 PublicDashboards: fix collapsed rows queries
  pkg/services/publicdashboards/service/query.go
  pkg/services/publicdashboards/service/query_test.go
Labels: type/bug, area/backend, no-changelog, backport v9.5.x

#65996 Fix: DataLinks from data sources override user defined data link
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
Labels: type/bug, area/frontend, add to changelog, area/dashboard/data-links, area/field/overrides, backport v9.5.x

#65864 Explore: Run test datasource default selection when mounted
  e2e/various-suite/exemplars.spec.ts
  e2e/various-suite/explore.spec.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/testdata/datasource.ts
Labels: area/frontend, add to changelog, no-backport

#64702 Docs: role and permission section for planning docs
  docs/sources/auth/planning/index.md
Labels: type/docs, no-backport, no-changelog

#65902 GenericOAuth: Set sub as auth id
  pkg/login/social/generic_oauth.go
Labels: area/backend, no-backport, no-changelog

#66042 fixe broken data source tables
  docs/sources/datasources/influxdb/_index.md
  docs/sources/datasources/prometheus/_index.md
  docs/sources/datasources/tempo/_index.md
  docs/sources/datasources/testdata/_index.md
  docs/sources/datasources/zipkin/_index.md
Labels: type/docs, no-changelog, backport v9.5.x

#65977 TrendPanel: use isLikelyAscendingVector rather than brute force
  public/app/plugins/panel/trend/TrendPanel.tsx
Labels: area/frontend, no-backport, no-changelog

#65805 Elasticsearch: Run log context queries through backend
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/client/search_request_test.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/data_query_test.go
  public/app/plugins/datasource/elasticsearch/IndexPattern.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: datasource/Elasticsearch, type/chore, area/backend, area/frontend, no-backport, no-changelog

#65961 [v9.3] Docs: Added note to contact Support (#65235)
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Labels: type/docs, backport, no-changelog

#66050 Docs: Add traceQuery setting to Tempo provisioning example
  docs/sources/datasources/tempo/_index.md
Labels: type/docs, datasource/Tempo, no-backport, no-changelog

#66054 Chore: Use latest go-sdk (v0.158.0)
  go.mod
  go.sum
  pkg/tsdb/influxdb/flux/testdata/grouping.golden.jsonc
  pkg/tsdb/influxdb/flux/testdata/multiple.golden.jsonc
  pkg/tsdb/influxdb/flux/testdata/non_standard_time_column.golden.jsonc
  pkg/tsdb/influxdb/flux/testdata/simple.golden.jsonc
  pkg/tsdb/influxdb/flux/testdata/table.golden.jsonc
  pkg/tsdb/loki/testdata/streams_simple.golden.jsonc
Labels: area/backend, datasource/Loki, area/dataframe, no-backport, no-changelog

#65746 Alerting: Choose a previous valid AM configuration in case of error
  public/app/features/alerting/unified/api/alertmanager.ts
  public/app/features/alerting/unified/api/alertmanagerApi.ts
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.test.tsx
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.tsx
  public/app/features/alerting/unified/components/admin/AlertmanagerConfigSelector.tsx
  public/app/features/alerting/unified/components/admin/ConfigEditor.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/alerting, area/frontend, add to changelog, no-backport, add to what's new

#66059 POC/k8s: Update entity_api to support k8s native objects
  pkg/api/api.go
  pkg/api/http_server.go
  pkg/server/wire.go
  pkg/services/export/commit_helper.go
  pkg/services/export/dummy_job.go
  pkg/services/export/entity_store.go
  pkg/services/export/export_alerts.go
  pkg/services/export/export_anno.go
  pkg/services/export/export_auth.go
  pkg/services/export/export_dash.go
  pkg/services/export/export_dash_thumbs.go
  pkg/services/export/export_ds.go
  pkg/services/export/export_files.go
  pkg/services/export/export_kv_store.go
  pkg/services/export/export_live.go
  pkg/services/export/export_plugins.go
  pkg/services/export/export_snapshots.go
  pkg/services/export/export_sys_playlists.go
  pkg/services/export/export_sys_preferences.go
  pkg/services/export/export_sys_short_url.go
  pkg/services/export/export_sys_stars.go
  pkg/services/export/export_usage.go
  pkg/services/export/git_export_job.go
  pkg/services/export/service.go
  pkg/services/export/stopped_job.go
  pkg/services/export/stub.go
  pkg/services/export/types.go
  pkg/services/export/utils.go
  pkg/services/sqlstore/migrations/entity_store_mig.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/httpentitystore/service.go
  pkg/services/store/entity/json.go
  pkg/services/store/entity/json_test.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/tests/server_integration_test.go
  public/app/features/storage/ExportPage.tsx
  public/app/features/storage/RootView.tsx
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, area/backend/db/migration

#66006 Correlations: Don't show Add button in empty call-to-action page when user has no sufficient permissions
  public/app/features/correlations/CorrelationsPage.tsx
  public/app/features/correlations/components/EmptyCorrelationsCTA.tsx
Labels: area/frontend, no-backport, no-changelog, area/glue

#66009 Correlations: Show variables used in the target query
  public/app/features/correlations/Forms/ConfigureCorrelationSourceForm.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog, area/glue

#65027 XYChart: Add all dataset columns in tooltip
  public/app/plugins/panel/xychart/TooltipView.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/xychart, backport v9.5.x

#66051 docs: fixes link
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Labels: type/docs, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, backport v9.5.x

#66072 Flaky E2E: Wait for the data to be loaded before switch to table view
  e2e/panels-suite/panelEdit_base.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
Labels: area/frontend, no-backport, no-changelog

#64529 DataFrame: Handle nanosecond-precision timestamp fields
  packages/grafana-data/src/dataframe/DataFrameJSON.test.ts
  packages/grafana-data/src/dataframe/DataFrameJSON.ts
  packages/grafana-data/src/types/dataFrame.ts
Labels: area/frontend, add to changelog, no-backport

#65760 Table: Fix migrations from old angular table for cell color modes
  public/app/plugins/panel/table/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/table/migrations.test.ts
  public/app/plugins/panel/table/migrations.ts
Labels: type/bug, area/panel/table, area/frontend, add to changelog, backport v9.5.x

#65985 Cloudwatch: Add missing AWS/IVS namespace metrics
  pkg/tsdb/cloudwatch/constants/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#63275 Search v1: Add support for inherited folder permissions if nested folders are enabled
  pkg/infra/db/sqlbuilder.go
  pkg/infra/db/sqlbuilder_test.go
  pkg/services/alerting/conditions/query_interval_test.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/extractor_test.go
  pkg/services/alerting/store.go
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/cleanup.go
  pkg/services/annotations/annotationsimpl/cleanup_test.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
  pkg/services/dashboards/database/acl.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/publicdashboards/service/query_test.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/sqlstore/permissions/dashboards_bench_test.go
  pkg/services/sqlstore/searchstore/builder.go
  pkg/services/sqlstore/searchstore/filters.go
  pkg/services/sqlstore/searchstore/search_test.go
Labels: area/backend, no-backport, no-changelog

#66105 Plugins: Skip instrumenting plugin build info for core and bundled plugins
  pkg/plugins/manager/loader/loader.go
Labels: type/bug, area/plugins, area/instrumentation, area/backend, add to changelog, backport v9.5.x

#65991 [v9.5.x] Admin/Plugins: Change alert about Connections to subtitle
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.tsx
  public/app/features/datasources/pages/DataSourcesListPage.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: area/frontend, no-backport, no-changelog

#65895 Docs: Add content to what's new 9.4
  docs/sources/whatsnew/whats-new-in-v9-4.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x

#66124 Chore: remove console.log from search
  public/app/features/search/service/utils.ts
Labels: type/bug, area/frontend, no-changelog, backport v9.5.x

#64919 Design System: Remove unused type parameter in `SegmentProps` and `SegmentInput`
  packages/grafana-ui/src/components/Segment/Segment.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.tsx
  packages/grafana-ui/src/components/Segment/types.ts
Labels: area/frontend, area/grafana/ui, pr/external, no-backport, no-changelog, design-system

#66109 [v8.4.x] Fix website build errors
  .github/workflows/publish-technical-documentation-release.yml
  docs/sources/administration/preferences/change-grafana-name.md
  docs/sources/dashboards/_index.md
  docs/sources/manage-users/server-admin/server-admin-manage-orgs.md
  docs/sources/shared/manage-users/view-server-org-list-and-edit.md
  docs/sources/shared/manage-users/view-server-user-list-search.md
  docs/sources/whatsnew/whats-new-in-v8-0.md
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: type/docs, area/backend, no-backport, no-changelog

#64763 Restructure the org upsert method
  pkg/services/sqlstore/user.go
Labels: type/bug, area/backend, no-changelog, backport v9.4.x

#66130 Alerting: Tiny refactor on the eval and schedule packages
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/eval/context.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/models/alert_query.go
  pkg/services/ngalert/schedule/schedule.go
Labels: area/backend, backport v8.5.x, no-changelog, product-approved

#65976 Alerting: Remove and revert flag alertingBigTransactions
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/persist.go
  pkg/services/ngalert/state/testing.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/store/instance_database_test.go
Labels: type/docs, area/alerting, area/backend, area/frontend, add to changelog, type/debt, no-backport, levitate breaking change, type/feature-toggle-removal

#65947 Docs: Small fixes for Template Variables Doc
  docs/sources/dashboards/variables/add-template-variables/index.md
Labels: type/docs, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, Q1CX, backport v9.5.x

#66103 Docs: Correct contributing.md i18n message
  CONTRIBUTING.md
Labels: area/frontend, no-backport, no-changelog

#66080 docs: nav related updates for data sources
  docs/sources/administration/data-source-management/index.md
  docs/sources/datasources/alertmanager/_index.md
  docs/sources/datasources/aws-cloudwatch/_index.md
  docs/sources/datasources/graphite/_index.md
  docs/sources/datasources/parca.md
  docs/sources/datasources/phlare.md
Labels: type/docs, no-changelog, backport v9.5.x

#66078 docs: nav updates for dashboards
  docs/sources/dashboards/build-dashboards/manage-library-panels/index.md
  docs/sources/dashboards/build-dashboards/manage-version-history/index.md
  docs/sources/dashboards/create-manage-playlists/index.md
  docs/sources/dashboards/manage-dashboards/index.md
  docs/sources/dashboards/share-dashboards-panels/index.md
Labels: type/docs, no-changelog, backport v9.5.x

#65742 Build URL params and include requestId
  e2e/dashboards-suite/dashboard-public-create.spec.ts
  e2e/dashboards-suite/load-options-from-url.spec.ts
  e2e/dashboards-suite/set-options-from-ui.spec.ts
  e2e/panels-suite/panelEdit_base.spec.ts
  e2e/sql-suite/mysql.spec.ts
  e2e/various-suite/exemplars.spec.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.test.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: area/frontend, no-backport, no-changelog

#65572 Docs/fix cross account section in cloudwatch doc
  docs/sources/datasources/aws-cloudwatch/_index.md
  docs/sources/datasources/aws-cloudwatch/query-editor/index.md
Labels: type/docs, no-backport, no-changelog

#66151 docs: nav updates for use dashboard topic
  docs/sources/administration/plugin-management/index.md
  docs/sources/dashboards/use-dashboards/index.md
Labels: type/docs, no-changelog, backport v9.5.x

#65982 Transformations: Improve UX and fix refId issues
  packages/grafana-ui/src/components/MatchersUI/FieldsByFrameRefIdMatcher.test.tsx
  packages/grafana-ui/src/components/MatchersUI/FieldsByFrameRefIdMatcher.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationFilter.tsx
  public/app/plugins/panel/geomap/editor/FrameSelectionEditor.tsx
Labels: area/frontend, add to changelog, backport

#66161 Query Splitting: Fix for handling queries with no requestId
  public/app/plugins/datasource/loki/querySplitting.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v9.5.x

#66019 Alerting: Fix docs link when creating or editing rules
  public/app/features/alerting/unified/components/rule-editor/DetailsStep.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v9.4.x, backport v9.5.x

#66106 Alerting: Fix explore link in alert detail view
  public/app/features/alerting/unified/GrafanaRuleQueryViewer.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerVisualization.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v9.4.x, backport v9.5.x

#65232 Docs: updates Grafana installation for Red Hat, Fedora, RHEL, SUSE, and OpenSUSE
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/rpm/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/shared/upgrade/upgrade-common-tasks.md
Labels: type/docs, no-changelog, backport v9.5.x

#65878 Plugins: add env variables needed for the secure socks proxy in the plugins sdk
  go.mod
  go.sum
  pkg/infra/proxy/secure_socks_proxy_test.go
  pkg/plugins/config/config.go
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/services/pluginsintegration/config/config.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#66120 [v9.2] docs: fixes link (#66051)
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced_ldap.md
Labels: type/docs, backport, no-changelog

#66170 Plugins: Refactoring: Move plugins tracing env vars to separate func
  pkg/plugins/manager/loader/initializer/initializer.go
Labels: area/plugins, type/refactor, area/backend/plugins, area/backend, go, no-backport, no-changelog

#66172 Docs: removes start server content, updates links
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Labels: type/docs, no-changelog, backport v9.5.x

#66146 Previews: remove dashboard previews UI
  public/app/features/search/components/PreviewsSystemRequirements.tsx
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/page/components/SearchResultsGrid.test.tsx
  public/app/features/search/page/components/SearchResultsGrid.tsx
  public/app/features/search/page/components/SearchView.tsx
  public/app/features/search/page/reporting.ts
  public/app/features/search/types.ts
  public/app/plugins/panel/dashlist/DashList.tsx
  public/app/plugins/panel/dashlist/module.tsx
  public/app/plugins/panel/dashlist/panelcfg.cue
  public/app/plugins/panel/dashlist/panelcfg.gen.ts
Labels: area/frontend, no-backport, no-changelog

#66186 k8s/POC: add meta+status to entity api search response
  pkg/services/sqlstore/migrations/entity_store_mig.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/sqlstash/utils.go
  pkg/services/store/entity/utils.go
Labels: area/backend, area/backend/db/migration

#66188 Prometheus: Fix flaky unit test
  public/app/plugins/datasource/prometheus/language_utils.test.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#65237 Dataplane: Support prometheus dataplane contract for transformations and name matchers
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/transformations/matchers/nameMatcher.test.ts
  packages/grafana-data/src/transformations/matchers/nameMatcher.ts
  packages/grafana-data/src/transformations/transformers/groupingToMatrix.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/dashboard/components/TransformationsEditor/TransformationFilter.tsx
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: type/docs, datasource/Prometheus, area/backend, area/frontend, no-backport, no-changelog

#66116 [v9.3.x] Fix website build errors
  docs/sources/alerting/performance-limitations/index.md
  docs/sources/getting-started/get-started-grafana-influxdb.md
  docs/sources/getting-started/get-started-grafana-ms-sql-server.md
  docs/sources/getting-started/get-started-grafana-prometheus.md
  docs/sources/setup-grafana/configure-security/configure-database-encryption/_index.md
Labels: type/docs, no-backport, no-changelog

#66114 [v9.2.x] Fix website build errors
  docs/sources/administration/provisioning/index.md
  docs/sources/administration/roles-and-permissions/_index.md
  docs/sources/administration/roles-and-permissions/access-control/assign-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-grafana-provisioning/index.md
  docs/sources/alerting/fundamentals/annotation-label/_index.md
  docs/sources/alerting/images-in-notifications.md
  docs/sources/dashboards/build-dashboards/add-organize-panels/index.md
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/add-support-for-annotations.md
  docs/sources/developers/plugins/add-support-for-explore-queries.md
  docs/sources/developers/plugins/build-a-logs-data-source-plugin.md
  docs/sources/developers/plugins/build-a-streaming-data-source-plugin.md
  docs/sources/enterprise/_index.md
  docs/sources/fundamentals/timeseries-dimensions/index.md
  docs/sources/getting-started/get-started-grafana-influxdb.md
  docs/sources/getting-started/get-started-grafana-ms-sql-server.md
  docs/sources/getting-started/get-started-grafana-prometheus.md
  docs/sources/setup-grafana/configure-grafana/enterprise-configuration.md
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced_ldap.md
Labels: type/docs, no-backport, no-changelog

#66173 Chore: Update emails README
  emails/README.md
Labels: pr/external, no-backport, no-changelog

#66167 Grafana Cloud: Add `VariantLinuxAmd64` in build variants
  pkg/build/config/versions.go
Labels: area/backend, type/ci, no-backport, no-changelog

#66168 Grafana Cloud: Put cloud artifacts to `*/release` dir
  pkg/build/cmd/uploadpackages.go
  pkg/build/cmd/uploadpackages_test.go
Labels: area/backend, type/ci, no-backport, no-changelog

#66204 Search: Add clear search button to the input bar
  public/app/features/search/components/ManageDashboardsNew.tsx
Labels: area/search, area/frontend, add to changelog, pr/external, no-backport

#66184 K8s: Simplify apiserver
  Makefile
  go.mod
  go.sum
  pkg/cmd/grafana/main.go
  pkg/modules/dependencies.go
  pkg/modules/registry/registry.go
  pkg/services/k8s/README.md
  pkg/services/k8s/apiserver/aggregator.go
  pkg/services/k8s/apiserver/apiextensions.go
  pkg/services/k8s/apiserver/service.go
  pkg/services/k8s/apiserver/storage.go
  pkg/services/k8s/cmd/kubectl.go
  pkg/services/k8s/kine/service.go
  pkg/services/k8s/kine/wire.go
  pkg/services/k8s/wire.go
Labels: type/build-packaging, area/backend

#65747 K8s: apiextensions-apiserver fork
  go.sum
  pkg/services/k8s/apiserver/conversions.go
  pkg/services/k8s/apiserver/log.go
  pkg/services/k8s/apiserver/service.go
  pkg/services/k8s/apiserver/storage.go
  pkg/services/k8s/apiserver/version.go
  pkg/services/k8s/apiserver/watchset.go
  pkg/services/k8s/apiserver/wire.go
  pkg/services/k8s/authnz/service.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/utils.go
  pkg/services/store/kind/registry.go
  test-dashboard.json
Labels: area/backend

#66222 Panels: GeomapPanel edit mode fix
  public/app/plugins/panel/geomap/editor/FrameSelectionEditor.tsx
Labels: area/frontend, no-changelog, missing-labels, backport v9.5.x

#66191 Correlations: Show correct number of variables
  public/app/features/explore/utils/links.test.ts
  public/app/features/explore/utils/links.ts
Labels: area/explore, area/frontend, no-backport, no-changelog

#66021 Correlations: Add usage stats about correlations
  pkg/infra/metrics/metrics.go
  pkg/infra/usagestats/statscollector/service.go
  pkg/infra/usagestats/statscollector/service_test.go
  pkg/services/correlations/correlationstest/fake.go
  pkg/services/stats/models.go
  pkg/services/stats/statsimpl/stats.go
  pkg/services/stats/statsimpl/stats_test.go
Labels: area/backend, no-backport, no-changelog

#65599 Docs: updates to error handling
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
Labels: type/docs, enterprise-ok, no-changelog, backport v9.5.x

#64356 Explore: Align multiple log volumes
  packages/grafana-data/src/types/logs.ts
  public/app/core/logsModel.test.ts
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/Graph/exploreGraphStyleUtils.ts
  public/app/features/explore/LogsVolumePanel.test.tsx
  public/app/features/explore/LogsVolumePanel.tsx
  public/app/features/explore/LogsVolumePanelList.tsx
  public/app/features/explore/state/query.ts
  public/app/features/logs/utils.test.ts
  public/app/features/logs/utils.ts
Labels: area/explore, area/frontend, add to changelog, no-backport

#65601 PanelHeaderMenuTrigger: Store `clickCoordinates` in a ref instead of state
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuTrigger.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog

#66127 Remove "Open source" label from "Recorded queries" page
  docs/sources/administration/recorded-queries/index.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x

#65936 Logs: Move components to dedicated directory
  .betterer.results
  public/app/features/explore/Logs.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRowMessage.tsx
  public/app/features/logs/components/LogRows.tsx
  public/app/features/logs/components/log-context/LogRowContext.test.tsx
  public/app/features/logs/components/log-context/LogRowContext.tsx
  public/app/features/logs/components/log-context/LogRowContextProvider.test.tsx
  public/app/features/logs/components/log-context/LogRowContextProvider.tsx
  public/app/features/logs/components/log-context/types.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: datasource/Elasticsearch, datasource/CloudWatch, area/explore, area/frontend, datasource/Loki, no-backport, no-changelog

#65993 prometheus: slightly different approach for dataplane compatibility
  pkg/tsdb/prometheus/querydata/response.go
  pkg/util/converter/prom.go
Labels: datasource/Prometheus, area/backend, no-backport, no-changelog
