Repository grafana/grafana, pull requests merged in 2023-12, with the labels that each got.

#78821 sql: remove pkg/util dependency
  pkg/tsdb/grafana-postgresql-datasource/proxy.go
  pkg/tsdb/mssql/proxy.go
  pkg/tsdb/mysql/proxy.go
Labels: datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, no-changelog

#78820 DashboardScene: Pass hashed panelId to query runner if a panel is a clone
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  public/app/features/dashboard-scene/utils/djb2Hash.ts
  public/app/features/dashboard-scene/utils/utils.ts
Labels: type/bug, area/frontend, no-backport, no-changelog, area/scenes

#78918 DeleteDashboard: Redirect to home after deleting a dashboard
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/dashboard/components/DeleteDashboard/useDashboardDelete.tsx
Labels: type/bug, area/frontend, add to changelog, backport v10.2.x

#78942 [v9.4.x] Alerting: Only warm alert state cache if execute_alerts=true
  pkg/services/ngalert/ngalert.go
Labels: type/bug, area/backend, backport, no-changelog, product-approved

#78945 [v10.2.x] Alerting: Only warm alert state cache if execute_alerts=true.
  pkg/services/ngalert/ngalert.go
Labels: type/bug, area/backend, backport, no-changelog, product-approved

#78944 [v10.1.x] Alerting: Only warm alert state cache if execute_alerts=true.
  pkg/services/ngalert/ngalert.go
Labels: type/bug, area/backend, backport, no-changelog, product-approved

#78943 [v10.0.x] Alerting: Only warm alert state cache if execute_alerts=true.
  pkg/services/ngalert/ngalert.go
Labels: type/bug, area/backend, backport, no-changelog, product-approved

#78950 Fix: Use dashboard time range in prometheus variable editor
  public/app/plugins/datasource/prometheus/components/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/components/VariableQueryEditor.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, add to changelog, no-changelog, backport v10.2.x

#78495 Auth: Load ini/env vars settings in the fallback strategy
  pkg/login/social/azuread_oauth.go
  pkg/login/social/common.go
  pkg/login/social/commont_test.go
  pkg/login/social/generic_oauth.go
  pkg/login/social/github_oauth.go
  pkg/login/social/gitlab_oauth.go
  pkg/login/social/google_oauth.go
  pkg/login/social/grafana_com_oauth.go
  pkg/login/social/okta_oauth.go
  pkg/login/social/social.go
  pkg/services/ssosettings/models/models.go
  pkg/services/ssosettings/ssosettings.go
  pkg/services/ssosettings/ssosettingsimpl/service.go
  pkg/services/ssosettings/ssosettingsimpl/service_test.go
  pkg/services/ssosettings/ssosettingstests/fallback_strategy_fake.go
  pkg/services/ssosettings/ssosettingstests/store_fake.go
  pkg/services/ssosettings/strategies/oauth_strategy.go
  pkg/services/ssosettings/strategies/oauth_strategy_test.go
Labels: area/auth, area/backend, add to changelog, no-backport

#78755 Internationalization: Add information about the process to send feedback to Crowdin
  contribute/internationalization.md
Labels: type/docs, area/internationalization, no-backport, no-changelog

#77863 Plugins: Add grafana/user/profile/tab plugin extension point
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  public/app/features/profile/UserProfileEditPage.test.tsx
  public/app/features/profile/UserProfileEditPage.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, add to changelog, no-backport, add to what's new, area/plugin-extensions

#78930 Alerting: Decouple quota configuration logic from API interfaces and add tests
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/limits.go
  pkg/services/ngalert/limits_test.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/tests/fakes/rules.go
Labels: area/alerting, area/backend, type/debt, no-backport, no-changelog

#78967 Hackathon big tent logs app infinite scroll
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  public/app/features/logs/components/InfiniteScroll.tsx
  public/app/features/logs/components/getLogRowStyles.ts
  public/app/features/logs/logsModel.ts
  public/app/features/logsApp/Logs/Logs.test.tsx
  public/app/features/logsApp/Logs/Logs.tsx
  public/app/features/logsApp/Logs/LogsContainer.tsx
  public/app/features/logsApp/Logs/LogsNavigation.tsx
  public/app/features/logsApp/Logs/LogsSamplePanel.tsx
  public/app/features/logsApp/state/query.ts
  public/app/features/logsApp/state/time.ts
  public/app/features/logsApp/utils/decorators.ts
Labels: type/docs, area/backend, area/frontend

#78902 Alerting: Add note to the docs that GMA rules are evaluated concurrently
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
  docs/sources/alerting/fundamentals/alert-rules/organising-alerts.md
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
Labels: type/docs, area/alerting, area/frontend, no-changelog

#78272 Correlations: Add error logging
  public/app/features/correlations/types.ts
  public/app/features/correlations/useCorrelations.ts
Labels: area/frontend, no-backport, no-changelog

#78911 Transformations: Fill array with `undefined` to prevent mismatching length
  public/app/features/transformers/extractFields/extractFields.test.ts
  public/app/features/transformers/extractFields/extractFields.ts
Labels: type/bug, area/frontend, no-changelog

#78958 CloudWatch: Correctly quote metric names with special characters
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-sql/SQLGenerator.test.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-sql/SQLGenerator.ts
Labels: type/bug, datasource/CloudWatch, area/frontend, add to changelog, backport v10.2.x

#78976 Alerting: Fix migration that is brittle to version downgrades
  pkg/services/sqlstore/migrations/ualert/org_upgrade_state_mig.go
Labels: area/alerting, area/backend, area/backend/db/migration, no-backport, no-changelog

#78284 Alerting: Update rule access control to return errutil errors
  pkg/services/ngalert/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol/rules.go
  pkg/services/ngalert/accesscontrol/rules_test.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_export.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/api/errors.go
  pkg/services/ngalert/api/testing.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_backtesting_test.go
Labels: area/alerting, area/backend, add to changelog, no-backport, no-changelog

#78935 Navigation: add application-observability icon
  pkg/services/navtree/navtreeimpl/applinks.go
Labels: area/backend, area/navigation, no-backport, no-changelog

#78698 Flamegraph: Refactor css styling
  .betterer.results
  packages/grafana-flamegraph/src/FlameGraph/FlameGraph.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraphCanvas.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
  packages/grafana-flamegraph/src/TopTable/FlameGraphTopTableContainer.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog, area/panel/flame-graph

#78686 Plugins: Rename `externalServiceAuthentication` to `iam`
  docs/sources/developers/plugins/plugin.schema.json
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  pkg/plugins/auth/models.go
  pkg/plugins/envvars/envvars_test.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/testdata/external-registration/plugin.json
  pkg/plugins/manager/testdata/oauth-external-registration/plugin.json
  pkg/plugins/plugindef/plugindef.cue
  pkg/plugins/plugindef/plugindef_types_gen.go
  pkg/plugins/plugins.go
  pkg/services/pluginsintegration/loader/loader_test.go
  pkg/services/pluginsintegration/pipeline/steps.go
  pkg/services/pluginsintegration/serviceregistration/serviceregistration.go
Labels: type/docs, area/backend, no-backport, no-changelog

#78965 [v10.2.x] Auth: Add anonymous users view and stats
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  pkg/api/admin.go
  pkg/api/admin_test.go
  pkg/api/http_server.go
  pkg/services/anonymous/anonimpl/anonstore/database.go
  pkg/services/anonymous/anonimpl/api/api.go
  pkg/services/anonymous/anonimpl/client_test.go
  pkg/services/anonymous/anonimpl/impl.go
  pkg/services/anonymous/anonimpl/impl_test.go
  pkg/services/anonymous/anontest/fake.go
  pkg/services/anonymous/service.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/stats/models.go
  pkg/services/stats/statstest/stats.go
  public/api-merged.json
  public/app/core/services/backend_srv.ts
  public/app/features/admin/ServerStats.test.tsx
  public/app/features/admin/ServerStats.tsx
  public/app/features/admin/UserListAnonymousPage.tsx
  public/app/features/admin/UserListPage.tsx
  public/app/features/admin/Users/AnonUsersTable.tsx
  public/app/features/admin/state/actions.ts
  public/app/features/admin/state/apis.tsx
  public/app/features/admin/state/reducers.ts
  public/app/types/user.ts
  public/openapi3.json
Labels: type/docs, area/backend, area/frontend, add to changelog, backport, product-approved

#78226 Swagger: Rename `Spec` to `Preferences`
  docs/sources/developers/kinds/core/preferences/schema-reference.md
  kinds/preferences/preferences_kind.cue
  packages/grafana-schema/src/raw/preferences/x/preferences_types.gen.ts
  pkg/kinds/preferences/preferences_spec_gen.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#78507 Chore: Remove unused CacheService dependency from sqlstore
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/user/userimpl/store_test.go
Labels: area/backend, area/backend/db/sql, no-backport, no-changelog

#78221 Swagger: Fix `getLibraryElementByName` response
  pkg/services/libraryelements/api.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#77957 K8s: Refactor metrics to share k8s registry
  pkg/api/http_server.go
  pkg/cmd/grafana-server/commands/buildinfo.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/cmd/grafana-server/commands/target.go
  pkg/infra/metrics/frontendmetrics.go
  pkg/infra/metrics/metrics.go
  pkg/infra/metrics/service.go
  pkg/infra/metrics/service_test.go
  pkg/infra/metrics/wireset.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
Labels: area/backend, no-backport, no-changelog

#79044 Chore: Fix flaky test by removing the extsvcauth background service
  pkg/registry/backgroundsvcs/background_services.go
  pkg/services/extsvcauth/registry/service.go
Labels: area/backend, no-backport, no-changelog

#78021 Alerting: Fix export of notification policy to JSON
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_policies.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_policies_test.go
Labels: area/alerting, area/backend, add to changelog, pr/external, no-backport

#79050 K8s: Add grafana metadata accessor
  pkg/kinds/general.go
  pkg/kinds/general_test.go
Labels: area/backend, no-backport, no-changelog

#78815 Frontend: Foundations for multi tenant frontend
  .gitignore
  package.json
  pkg/api/dtos/index.go
  pkg/api/index.go
  pkg/api/login_test.go
  pkg/api/webassets/testdata/sample-assets-manifest.json
  pkg/api/webassets/webassets.go
  pkg/api/webassets/webassets_test.go
  pkg/middleware/middleware_test.go
  pkg/middleware/recovery.go
  pkg/middleware/recovery_test.go
  pkg/tests/testinfra/testinfra.go
  public/app/app.ts
  public/app/core/utils/browser.ts
  public/views/error.html
  public/views/index.html
  scripts/webpack/plugins/HTMLWebpackCSSChunks.js
  scripts/webpack/webpack.dev.js
  scripts/webpack/webpack.hot.js
  scripts/webpack/webpack.prod.js
  yarn.lock
Labels: area/backend, area/frontend, no-backport, no-changelog

#78940 Chore: Improve typings
  .betterer.results
  packages/grafana-data/src/dataframe/DataFrameView.test.ts
  packages/grafana-data/src/dataframe/MutableDataFrame.ts
  packages/grafana-data/src/dataframe/StreamingDataFrame.ts
  packages/grafana-data/src/events/common.ts
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-data/src/field/scale.ts
  packages/grafana-data/src/panel/getPanelOptionsWithDefaults.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
  packages/grafana-data/src/transformations/transformers/groupingToMatrix.ts
  packages/grafana-data/src/transformations/transformers/histogram.ts
  packages/grafana-data/src/transformations/transformers/merge.ts
  packages/grafana-data/src/transformations/transformers/nulls/nullToUndefThreshold.ts
  packages/grafana-data/src/types/plugin.ts
  packages/grafana-data/src/utils/datasource.ts
  packages/grafana-data/src/utils/fieldParser.ts
  packages/grafana-data/src/utils/location.ts
  packages/grafana-data/src/utils/url.ts
  packages/grafana-data/src/vector/CircularVector.ts
  packages/grafana-data/src/vector/FunctionalVector.ts
  public/app/plugins/panel/geomap/layers/data/dayNightLayer.tsx
  public/app/plugins/panel/geomap/layers/data/routeLayer.tsx
Labels: type/chore, area/frontend, area/panel/geomap, no-backport, levitate breaking change, no-changelog

#79060 [v9.4.x] RBAC: Fix permissions for dashboard import
  public/app/routes/routes.tsx
Labels: type/bug, area/frontend, backport, no-changelog, area/auth/rbac

#79027 Pyroscope: Decouple config editor
  public/app/plugins/datasource/grafana-pyroscope-datasource/ConfigEditor.tsx
Labels: area/frontend, area/datasource/frontend, no-backport, no-changelog, datasource/grafana-pyroscope

#79011 [v10.2.x] Alerting: Fix deleting rules in a folder with matching UID in another organization
  pkg/api/apierrors/folder.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/errors.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/model.go
  pkg/services/ngalert/migration/store/testing.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: type/bug, area/backend, add to changelog, backport

#79007 [v10.1.x] Alerting: Fix deleting rules in a folder with matching UID in another organization
  pkg/api/apierrors/folder.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/errors.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/model.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: type/bug, area/backend, add to changelog, backport

#78376 Team LBAC: Limit access to data source
  pkg/api/datasources.go
  pkg/api/datasources_test.go
  pkg/services/datasources/models.go
  pkg/services/datasources/models_test.go
Labels: area/backend, no-backport, no-changelog

#79067 Interactive logs volume
  .betterer.results
  public/app/features/logs/logsModel.ts
  public/app/features/logsApp/Logs/Logs.tsx
  public/app/features/logsApp/Logs/LogsVolumePanelList.tsx
Labels: area/frontend

#79058 [hackathon: wizardDS] Don't always show tutorial
  public/app/core/reducers/root.ts
  public/app/features/tutorial/TutorialOverlay.tsx
  public/app/features/tutorial/TutorialProvider.tsx
  public/app/features/tutorial/TutorialTooltip.tsx
  public/app/features/tutorial/slice.ts
  public/app/features/tutorial/tutorialProvider.utils.ts
  public/app/features/tutorial/tutorialpage/TutorialItem.tsx
  public/app/features/tutorial/tutorialpage/TutorialPage.tsx
  public/app/features/tutorial/tutorials/using-prometheusds.tsx
  public/app/features/tutorial/types.ts
  public/app/routes/routes.tsx
Labels: area/frontend

#78997 WizarDS Drawer + LLM WIP: Add templates to caller, add link, comment out unused code
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/SuggestionContainer.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/SuggestionItem.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/WizarDS.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/WizarDS.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/prompts.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/helpers.test.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/helpers.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/state.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/templates.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/types.ts
Labels: datasource/Prometheus, area/frontend

#79056 QueryVariable: Always run queries with dashboard time range
  public/app/features/variables/query/VariableQueryRunner.ts
Labels: area/dashboard/templating, area/frontend, no-backport, no-changelog

#79079 Revert "K8s: Refactor metrics to share k8s registry (#77957)"
  pkg/api/http_server.go
  pkg/cmd/grafana-server/commands/buildinfo.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/cmd/grafana-server/commands/target.go
  pkg/infra/metrics/frontendmetrics.go
  pkg/infra/metrics/metrics.go
  pkg/infra/metrics/service.go
  pkg/infra/metrics/service_test.go
  pkg/infra/metrics/wireset.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
Labels: area/backend, no-backport, no-changelog

#78465 Folders: Show dashboards and folders with directly assigned permissions in "Shared" folder
  packages/grafana-data/src/types/config.ts
  pkg/api/dashboard_test.go
  pkg/api/dtos/frontend_settings.go
  pkg/api/folder_bench_test.go
  pkg/api/frontendsettings.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/annotations/annotationsimpl/annotations_test.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/service/metrics.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/folderimpl/metrics.go
  pkg/services/folder/model.go
  pkg/services/guardian/guardian.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/migration/store/testing.go
  pkg/services/ngalert/testutil/testutil.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/sqlstore/permissions/dashboards_bench_test.go
Labels: area/dashboard/folders, area/backend, area/frontend, no-backport, no-changelog

#79042 Hackathon: add resizeable log details
  public/app/features/logsApp/Logs/Logs.tsx
Labels: area/frontend

#79012 PluginList: Add plugin list loading skeleton
  .betterer.results
  packages/grafana-ui/src/components/Badge/Badge.tsx
  public/app/features/plugins/admin/components/PluginList.tsx
  public/app/features/plugins/admin/components/PluginListItem.tsx
  public/app/features/plugins/admin/components/PluginLogo.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: area/plugins, area/frontend, no-backport, no-changelog

#79097 Trace ids
  packages/grafana-data/src/types/logs.ts
  public/app/features/logs/components/getLogRowStyles.ts
  public/app/features/logs/logsModel.test.ts
  public/app/features/logs/logsModel.ts
  public/app/features/logsApp/Graph/exploreGraphStyleUtils.ts
  public/app/features/logsApp/Logs/LogDetails.tsx
  public/app/features/logsApp/Logs/Logs.tsx
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
Labels: area/frontend, datasource/Loki

#79095 Unified Alerting: Set `max_attempts` to 1 by default
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/setting/setting_unified_alerting.go
  pkg/setting/setting_unified_alerting_test.go
Labels: type/docs, area/backend, add to changelog, product-approved, backport v9.4.x, backport v9.5.x, backport v10.0.x, backport v10.1.x, backport v10.2.x

#79110 Hackathon: properly handle pane size
  public/app/features/logsApp/Logs/Logs.tsx
Labels: area/frontend

#79089 readable log lines
  public/app/features/logs/components/getLogRowStyles.ts
Labels: area/frontend

#79085 Hackathon: Trash frontend section
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/search/service/sql.ts
  public/app/features/search/service/types.ts
  public/app/features/search/state/SearchStateManager.ts
  public/app/features/search/types.ts
  public/app/features/trash-dashboards/TrashDashboardsPage.tsx
  public/app/features/trash-dashboards/api/browseDashboardsAPI.ts
  public/app/features/trash-dashboards/components/BrowseActions/DeleteModal.tsx
  public/app/features/trash-dashboards/components/BrowseActions/RestoreModal.tsx
  public/app/features/trash-dashboards/components/BrowseActions/TrashActions.tsx
  public/app/features/trash-dashboards/components/BrowseFilters.tsx
  public/app/features/trash-dashboards/hooks/useTrashStateManager.ts
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog

#79020 Chore: Use dashboard service to retrieve dashboards
  pkg/services/publicdashboards/api/query_test.go
  pkg/services/publicdashboards/database/database.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/publicdashboards/public_dashboard_store_mock.go
  pkg/services/publicdashboards/publicdashboard.go
  pkg/services/publicdashboards/service/query_test.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#79080 Clean up job deleted dashboards
  pkg/services/cleanup/cleanup.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
Labels: area/backend, no-backport, no-changelog

#79052 K8s: fix standalone command and add hack scripts
  .github/CODEOWNERS
  .gitignore
  .vscode/launch.json
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  hack/README.md
  hack/boilerplate.go.txt
  hack/update-codegen.sh
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/cmd/grafana/apiserver/README.md
  pkg/cmd/grafana/apiserver/cmd.go
  pkg/cmd/grafana/apiserver/server.go
  pkg/components/simplejson/simplejson.go
  pkg/registry/apis/example/register.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/grafana-apiserver/endpoints/request/namespace.go
  pkg/services/grafana-apiserver/openapi.go
  pkg/services/grafana-apiserver/request_handler.go
  pkg/services/grafana-apiserver/service.go
  pkg/services/grafana-apiserver/utils/clientConfig.go
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#79125 Change default traceview collapsible to open
  public/app/features/logsApp/Logs/LogDetails.tsx
Labels: area/frontend

#79075 Chore: Add comments to RAQB config
  public/app/features/plugins/sql/components/visual-query-builder/AwesomeQueryBuilder.tsx
Labels: area/frontend, no-changelog

#77870 sql: remove `xorm` dependency from postgres/mysql/mssql
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
  pkg/tsdb/grafana-postgresql-datasource/proxy.go
  pkg/tsdb/grafana-postgresql-datasource/proxy_test.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mssql/proxy.go
  pkg/tsdb/mssql/proxy_test.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/mysql/proxy.go
  pkg/tsdb/sqleng/sql_engine.go
Labels: datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, no-backport, no-changelog

#79120 Chore: remove unused math function
  pkg/util/math.go
Labels: type/chore, area/backend, no-backport, no-changelog

#79022 Dashboard: Scene Migration: Add variable `definition` prop to serialization
  package.json
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.test.ts
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  yarn.lock
Labels: area/dashboard/templating, area/dashboard, area/frontend, no-backport, no-changelog

#79129 Wizards split view
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
Labels: datasource/Prometheus, area/explore, area/frontend, no-backport, no-changelog

#76934 InfluxDB: Implement InfluxQL json streaming parser
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/tsdb/influxdb/healthcheck.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/influxql/buffered/response_parser.go
  pkg/tsdb/influxdb/influxql/buffered/response_parser_test.go
  pkg/tsdb/influxdb/influxql/converter/converter.go
  pkg/tsdb/influxdb/influxql/converter/converter_test.go
  pkg/tsdb/influxdb/influxql/influxql.go
  pkg/tsdb/influxdb/influxql/parser_bench_test.go
  pkg/tsdb/influxdb/influxql/querydata/stream_parser.go
  pkg/tsdb/influxdb/influxql/querydata/stream_parser_test.go
  pkg/tsdb/influxdb/influxql/response_parser_bench_test.go
  pkg/tsdb/influxdb/influxql/testdata/influx_select_all_from_cpu.json
  pkg/tsdb/influxdb/influxql/testdata/influx_select_all_from_cpu.table.golden.jsonc
  pkg/tsdb/influxdb/influxql/testdata/influx_select_all_from_cpu.time_series.golden.jsonc
  pkg/tsdb/influxdb/influxql/util/util.go
  pkg/tsdb/influxdb/mocks_test.go
Labels: datasource/InfluxDB, type/docs, area/backend, area/frontend, add to changelog, no-backport

#79133 Add helper for log lines
  public/app/features/logsApp/ExplainLogLine.tsx
  public/app/features/logsApp/Logs/LogDetails.tsx
Labels: area/frontend

#79081 Auth: encrypt secrets for oauth providers in SSO settings API service
  pkg/services/secrets/fakes/mock_service.go
  pkg/services/secrets/secrets.go
  pkg/services/ssosettings/ssosettingsimpl/service.go
  pkg/services/ssosettings/ssosettingsimpl/service_test.go
Labels: area/backend, no-changelog

#78188 Revert "Team LBAC: Able to configure default rule (#77946)"
  pkg/services/datasources/models.go
Labels: type/bug, area/backend, no-backport, no-changelog

#79094 [hackathon] wizarDS tutorial edge cases clean up
  public/app/features/tutorial/TutorialOverlay.tsx
  public/app/features/tutorial/TutorialProvider.tsx
  public/app/features/tutorial/constants.ts
  public/app/features/tutorial/slice.ts
  public/app/features/tutorial/tutorialProvider.utils.ts
  public/app/features/tutorial/tutorialpage/TutorialItem.tsx
  public/app/features/tutorial/tutorials/using-prometheusds.tsx
  public/app/features/tutorial/types.ts
Labels: area/frontend

#79015 Restore me delete api
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
Labels: area/backend, area/frontend, area/backend/db/migration, no-backport, no-changelog

#79138 Server Stats: Add skeleton loader
  .betterer.results
  public/app/features/admin/ServerStats.tsx
  public/app/features/admin/ServerStatsCard.tsx
Labels: area/frontend, no-backport, no-changelog

#79132 Teams: Add skeleton for teamlist
  public/app/features/teams/TeamList.tsx
Labels: area/frontend, area/teams, no-backport, no-changelog

#79141 Orgs: Add skeleton loader
  public/app/features/admin/AdminListOrgsPage.tsx
  public/app/features/admin/AdminOrgsTable.tsx
Labels: area/frontend, no-backport, no-changelog

#78477 Scenes: Add ability to change panel viz type
  .betterer.results
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  public/app/features/dashboard-scene/panel-edit/PanelVizTypePicker.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/utils/utils.ts
  public/app/features/dashboard/components/PanelEditor/VisualizationSelectPane.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/panel/components/VizTypePicker/VisualizationSuggestions.tsx
  public/app/features/panel/components/VizTypePicker/VizTypePicker.tsx
  public/app/features/panel/state/util.ts
  public/app/features/panel/state/utils.test.ts
Labels: area/frontend, no-backport, no-changelog, area/scenes

#79032 Alerting: Support for `condition` field in /api/v1/eval
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/api/tooling/definitions/testing.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/useAlertQueryRunner.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.tsx
  public/app/features/alerting/unified/state/AlertingQueryRunner.test.ts
  public/app/features/alerting/unified/state/AlertingQueryRunner.ts
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#79151 Hackathon : Trash Actions - Restore and delete
  pkg/api/dashboard.go
  public/app/features/browse-dashboards/components/BrowseActions/DeleteModal.tsx
  public/app/features/trash-dashboards/api/browseDashboardsAPI.ts
  public/app/features/trash-dashboards/components/BrowseActions/DeleteModal.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog

#79158 Revert "Alerting: Attempt to retry retryable errors"
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/backend, no-backport, no-changelog

#79166 Hackathon: adjust query editor
  public/app/core/components/QueryOperationRow/QueryOperationRow.tsx
  public/app/features/logsApp/Explore.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderContainer.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryCodeEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryEditorModeToggle.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryOptionGroup.tsx
Labels: type/docs, area/backend, area/explore, area/frontend

#79159 WizarDS: UI design updates
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/SuggestionContainer.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/WizarDS.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/state.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/templates.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/types.ts
  public/img/ai-icons/AI_Logo_bw.svg
  public/img/ai-icons/AI_Logo_color.svg
Labels: datasource/Prometheus, area/explore, area/frontend, datasource/Loki, area/datasource/frontend, no-backport, no-changelog

#79161 Alerting: Attempt to retry retryable errors
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/backend, add to changelog, product-approved, backport v9.4.x, backport v9.5.x, backport v10.0.x, backport v10.1.x, backport v10.2.x

#79171 fixed hard delete and add getsoftdeleteddashboard
  pkg/api/dashboard.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
Labels: area/backend, no-backport, no-changelog

#79180 [v9.4.x] Alerting: Attempt to retry retryable errors
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/backend, add to changelog, backport, product-approved

#79106 K8s: Refactor metrics to share k8s registry
  pkg/api/http_server.go
  pkg/cmd/grafana-server/commands/buildinfo.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/cmd/grafana-server/commands/target.go
  pkg/infra/metrics/frontendmetrics.go
  pkg/infra/metrics/metrics.go
  pkg/infra/metrics/service.go
  pkg/infra/metrics/service_test.go
  pkg/infra/metrics/wireset.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
Labels: area/backend, no-backport, no-changelog

#79122 Duck: simplify expression model
  pkg/expr/commands.go
  public/app/features/alerting/unified/components/expressions/Expression.tsx
  public/app/features/dashboard/state/PanelModel.ts
  public/app/features/expressions/ExpressionQueryEditor.tsx
  public/app/features/expressions/components/PRQLExpr.tsx
  public/app/features/expressions/types.ts
Labels: area/backend, area/frontend

#79178 Chore: remove the entity kind registry
  pkg/server/wire.go
  pkg/services/store/entity/models.go
  pkg/services/store/kind/dashboard/summary.go
  pkg/services/store/kind/dataframe/summary.go
  pkg/services/store/kind/dataframe/summary_test.go
  pkg/services/store/kind/dummy/doc.go
  pkg/services/store/kind/dummy/summary.go
  pkg/services/store/kind/folder/summary.go
  pkg/services/store/kind/geojson/summary.go
  pkg/services/store/kind/geojson/summary_test.go
  pkg/services/store/kind/jsonobj/summary.go
  pkg/services/store/kind/jsonobj/summary_test.go
  pkg/services/store/kind/png/summary.go
  pkg/services/store/kind/png/summary_test.go
  pkg/services/store/kind/preferences/summary.go
  pkg/services/store/kind/registry.go
  pkg/services/store/kind/registry_test.go
  pkg/services/store/kind/snapshot/summary.go
  pkg/services/store/kind/svg/summary.go
  pkg/services/store/validate.go
  pkg/util/svg.go
Labels: type/chore, area/backend, no-backport, no-changelog

#79181 Storage: remove git backing for storage
  go.mod
  go.sum
  pkg/services/store/config.go
  pkg/services/store/github_helper.go
  pkg/services/store/service.go
  pkg/services/store/storage_git.go
Labels: area/backend, no-backport, no-changelog

#79088 Menu: Progress bar
  public/app/core/components/AppChrome/TopBar/TopNavBarMenu.tsx
  public/app/core/components/AppChrome/TopBar/TopNavBarMenuProgressBar.tsx
  public/app/features/achievements/Achievements.ts
  public/app/features/achievements/AchievementsList.tsx
  public/app/features/achievements/types.ts
Labels: area/frontend, no-backport, no-changelog, area/dataviz, hackathon-2023-12-ggg

#79182 K8s: Build openapi defs in production
  pkg/services/grafana-apiserver/service.go
Labels: area/backend, no-backport, no-changelog

#79167 [hackathon] wizarDS Tutorial preview first pass
  public/app/features/tutorial/TutorialOverlay.tsx
  public/app/features/tutorial/TutorialProgress.tsx
  public/app/features/tutorial/TutorialProvider.tsx
  public/app/features/tutorial/TutorialTooltip.tsx
  public/app/features/tutorial/slice.ts
  public/app/features/tutorial/slice.utils.ts
  public/app/features/tutorial/tutorialpage/TutorialItem.tsx
  public/app/features/tutorial/tutorialpage/TutorialList.tsx
  public/app/features/tutorial/tutorialpage/TutorialPage.tsx
  public/app/features/tutorial/tutorialpage/TutorialPreview.tsx
  public/app/features/tutorial/tutorials/tutorial-page.tsx
  public/app/features/tutorial/tutorials/using-prometheusds.tsx
  public/app/features/tutorial/types.ts
Labels: area/frontend

#79187 Remove logs header
  .betterer.results
  public/app/features/logsApp/ExplainLogLine.tsx
  public/app/features/logsApp/Logs/LogRowMenu.tsx
  public/app/features/logsApp/Logs/Logs.tsx
  public/app/features/logsApp/Logs/LogsVolumePanelList.tsx
Labels: area/frontend

#79130 DashboardScene: Skeleton for Panel edit data tabs
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataPane.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/types.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard/components/PanelEditor/state/selectors.ts
Labels: area/frontend, no-backport, no-changelog, area/scenes

#79087 Library panels: Add loading skeleton
  .betterer.results
  public/app/features/library-panels/components/LibraryPanelCard/LibraryPanelCard.tsx
  public/app/features/library-panels/components/LibraryPanelsView/LibraryPanelsView.tsx
  public/app/features/panel/components/VizTypePicker/PanelTypeCard.tsx
Labels: area/frontend, area/frontend/library-panels, no-backport, no-changelog

#79162 BrowseDashboards: Fix alerts folder view cards not stacking correctly
  public/app/features/alerting/unified/AlertsFolderView.tsx
Labels: type/bug, area/frontend, no-changelog

#79208 Hackathon WizarDS: Add support for other data sources
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/wizarDS/state/templatesLoki.ts
Labels: area/explore, area/frontend, datasource/Loki

#79134 Snapshots: Add loading skeleton
  public/app/features/manage-dashboards/components/SnapshotListTable.tsx
  public/app/features/manage-dashboards/components/SnapshotListTableRow.test.tsx
  public/app/features/manage-dashboards/components/SnapshotListTableRow.tsx
  public/app/features/playlist/PlaylistCard.tsx
Labels: area/dashboard/snapshot, area/frontend, no-backport, no-changelog

#78319 Chore: Deprecate FieldConfigEditorProps in favor of StandardEditorProps
  .betterer.results
  packages/grafana-data/src/field/standardFieldConfigEditorRegistry.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-ui/src/options/builder/hideSeries.tsx
  packages/grafana-ui/src/options/builder/stacking.tsx
  public/app/core/components/OptionsUI/fieldColor.tsx
  public/app/core/components/OptionsUI/links.tsx
  public/app/core/components/OptionsUI/multiSelect.tsx
  public/app/core/components/OptionsUI/number.tsx
  public/app/core/components/OptionsUI/registry.tsx
  public/app/core/components/OptionsUI/select.tsx
  public/app/core/components/OptionsUI/slider.tsx
  public/app/core/components/OptionsUI/stats.tsx
  public/app/core/components/OptionsUI/strings.tsx
  public/app/core/components/OptionsUI/units.tsx
  public/app/features/dimensions/editors/ThresholdsEditor/thresholds.tsx
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/nodeGraph/editor/ArcOptionsEditor.tsx
  public/app/plugins/panel/timeseries/InsertNullsEditor.tsx
  public/app/plugins/panel/timeseries/LineStyleEditor.tsx
  public/app/plugins/panel/timeseries/SpanNullsEditor.tsx
  public/app/plugins/panel/timeseries/ThresholdsStyleEditor.tsx
Labels: area/panel/heatmap, area/frontend, area/panel/timeseries, no-backport, levitate breaking change, no-changelog

#79148 mysql: refactor logs handling
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/mysql_test.go
Labels: datasource/MySQL, area/backend, no-changelog

#79207 Fix capitalising Folder structs
  pkg/api/dtos/folder.go
  pkg/api/folder.go
  pkg/api/folder_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#79147 postgres: refactor logs-handling
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
Labels: datasource/Postgres, area/backend, no-backport, no-changelog

#79021 Upgrade sdk to v0.196.0
  go.mod
  go.sum
Labels: area/backend, no-changelog

#79217 Stats logs
  .betterer.results
  packages/grafana-data/src/utils/labels.ts
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
  public/app/features/logs/components/LogDetailsRow.tsx
  public/app/features/logs/components/LogLabelStats.tsx
  public/app/features/logs/components/LogLabelStatsRow.tsx
  public/app/features/logs/logsModel.ts
  public/app/features/logsApp/Logs/LogStats.tsx
  public/app/features/logsApp/Logs/Logs.tsx
Labels: area/frontend

#79172 Add show/hide of similar log rows
  package.json
  packages/grafana-data/src/types/icon.ts
  public/app/features/logs/components/LogRows.tsx
  public/app/features/logsApp/Logs/LogDetails.tsx
  public/app/features/logsApp/Logs/LogRowMenu.tsx
  public/app/features/logsApp/Logs/Logs.tsx
  yarn.lock
Labels: area/frontend

#79209 [v9.5.x] Alerting: Attempt to retry retryable errors
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/backend, add to changelog, backport, product-approved

#79220 DashboardScene: Use query options for relative time range calculation of the panel embed url
  public/app/features/dashboard-scene/sharing/SharePanelEmbedTab.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog, area/scenes

#79188 [hackathon] wizarDS tutorial tooltip upgrades
  public/app/features/tutorial/TutorialOverlay.tsx
  public/app/features/tutorial/TutorialTooltip.tsx
Labels: area/frontend

#79224 Service accounts: Add skeleton loader
  .betterer.results
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
Labels: area/frontend, no-backport, no-changelog, area/auth/serviceaccount

#79179 Soft delete dashboards inside folders
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/ngalert/migration/service_test.go
Labels: area/backend

#79205 AnnotationsMarker: Fix non-null assertion operator usage
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationMarker.tsx
Labels: type/bug, area/frontend, area/panel/timeseries, no-backport, no-changelog

#79174 Hackathon : Show remaining days and disable click on row
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_provisioning_mock.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
  pkg/services/search/model/model.go
  pkg/services/sqlstore/searchstore/builder.go
  pkg/util/strings.go
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/page/components/columns.tsx
  public/app/features/search/service/sql.ts
  public/app/features/search/service/types.ts
  public/app/features/search/types.ts
Labels: area/backend, area/frontend

#78501 Chore: Remove FolderId from DashboardMeta
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
Labels: area/backend, no-backport, no-changelog

#79228 feat(toast): add more animations
  public/app/features/achievements/AchievementNotification.tsx
  public/app/features/achievements/AchievementsService.tsx
  public/app/features/achievements/GrotIcon.tsx
Labels: area/frontend, no-backport, no-changelog, area/dataviz, hackathon-2023-12-ggg

#78861 Pyroscope: Improve label suggestions in query editor
  go.mod
  go.sum
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
  pkg/tsdb/grafana-pyroscope-datasource/pyroscopeClient.go
  pkg/tsdb/grafana-pyroscope-datasource/query_test.go
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/LabelsEditor.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/autocomplete.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/pyroscopeql/pyroscopeql.ts
Labels: area/backend, area/frontend, add to changelog

#79238 Hackathon : Column and filter text
  public/app/features/search/page/components/columns.tsx
  public/app/features/trash-dashboards/TrashDashboardsPage.tsx
Labels: area/frontend

#78962 Flamegraph: Add table filtering for Flamegraph panel
  packages/grafana-flamegraph/src/FlameGraph/FlameGraph.test.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraph.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraphCanvas.tsx
  packages/grafana-flamegraph/src/FlameGraph/rendering.ts
  packages/grafana-flamegraph/src/FlameGraphContainer.test.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
  packages/grafana-flamegraph/src/FlameGraphHeader.tsx
  packages/grafana-flamegraph/src/TopTable/FlameGraphTopTableContainer.tsx
Labels: area/frontend, add to changelog, area/panel/flame-graph

#79240 Soft delete dashboards add org
  pkg/api/dashboard.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
  pkg/services/folder/folderimpl/folder.go
Labels: area/backend

#79244 Add a logs view for trace or correlated logs
  packages/grafana-data/src/types/logs.ts
  public/app/features/logs/logsModel.ts
  public/app/features/logsApp/Logs/LogDetails.tsx
Labels: area/frontend

#79239 Alerting: Fix fine-grained rule access control to use 403 for authorization error
  pkg/services/ngalert/accesscontrol/models.go
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_export_test.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/api_testing_test.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/definitions/shared.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_backtesting_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#79245 Hackathon: adjust and display rendering resolution
  public/app/features/logs/components/LogRows.tsx
  public/app/features/logsApp/Logs/LogStats.tsx
  public/app/features/logsApp/Logs/Logs.tsx
Labels: area/frontend

#79242 toast: Long label handle
  public/app/features/achievements/AchievementNotification.tsx
Labels: area/frontend, hackathon-2023-12-ggg

#79096 CloudWatch: remove usage of TimeSrv
  public/app/plugins/datasource/cloudwatch/__mocks__/CloudWatchDataSource.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/LogsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/ResourcesAPI.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/logsTestContext.ts
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#79061 Tempo: Update the embedded flame graph labelSelector
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/SpanFlameGraph.tsx
  public/app/features/explore/TraceView/createSpanLink.tsx
Labels: area/explore, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog

#79005 Auth: Use SSO settings service to load social connectors + refactor
  pkg/api/admin_users_test.go
  pkg/api/frontendsettings_test.go
  pkg/api/user_test.go
  pkg/login/social/connectors/azuread_jwks.go
  pkg/login/social/connectors/azuread_oauth.go
  pkg/login/social/connectors/azuread_oauth_test.go
  pkg/login/social/connectors/common.go
  pkg/login/social/connectors/errors.go
  pkg/login/social/connectors/generic_oauth.go
  pkg/login/social/connectors/generic_oauth_test.go
  pkg/login/social/connectors/github_oauth.go
  pkg/login/social/connectors/github_oauth_test.go
  pkg/login/social/connectors/gitlab_oauth.go
  pkg/login/social/connectors/gitlab_oauth_test.go
  pkg/login/social/connectors/google_oauth.go
  pkg/login/social/connectors/google_oauth_test.go
  pkg/login/social/connectors/grafana_com_oauth.go
  pkg/login/social/connectors/grafana_com_oauth_test.go
  pkg/login/social/connectors/okta_oauth.go
  pkg/login/social/connectors/okta_oauth_test.go
  pkg/login/social/connectors/social_base.go
  pkg/login/social/social.go
  pkg/login/social/socialimpl/service.go
  pkg/login/social/socialimpl/service_test.go
  pkg/login/social/socialimpl/support_bundle.go
  pkg/login/social/socialtest/social_connector_mock.go
  pkg/login/social/socialtest/social_service_fake.go
  pkg/server/wire.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
  pkg/services/authn/clients/oauth.go
  pkg/services/oauthtoken/oauth_token_test.go
  pkg/services/ssosettings/api/api.go
  pkg/services/ssosettings/ssosettings.go
  pkg/services/ssosettings/ssosettingsimpl/service.go
  pkg/services/ssosettings/ssosettingsimpl/service_test.go
  pkg/services/ssosettings/ssosettingstests/service_mock.go
  pkg/services/ssosettings/ssosettingstests/store_mock.go
  pkg/services/ssosettings/strategies/oauth_strategy.go
Labels: area/auth, area/backend, area/auth/oauth, add to changelog, no-backport

#79232 Prometheus: improved PromQAIL v1 prompt
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/prompts.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/state/helpers.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#79262 Strip out auth token from shared URL when sharing a dashboard
  public/app/features/dashboard/components/ShareModal/utils.test.ts
  public/app/features/dashboard/components/ShareModal/utils.ts
Labels: type/bug, area/frontend, no-backport, no-changelog

#79254 Service account: Update last used timestamp when token is used
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/api_key_test.go
Labels: type/bug, area/backend, no-backport, no-changelog

#79268 Levels: Achievement levels
  public/app/core/components/AppChrome/TopBar/TopNavBarMenuProgressBar.tsx
Labels: area/frontend, hackathon-2023-12-ggg

#79261 Auth: Log a warning on unparsable team ids for GitHub OAuth
  docs/sources/setup-grafana/configure-security/configure-authentication/github/index.md
  pkg/login/social/connectors/github_oauth.go
Labels: type/docs, area/auth, area/backend, area/auth/oauth, no-backport, no-changelog

#79271 Auth: check that oauthProvider is not nil in Logout() func
  pkg/api/login.go
Labels: area/backend, no-changelog

#79274 Docs: add missing alt text (1/3)
  docs/sources/dashboards/assess-dashboard-usage/index.md
  docs/sources/dashboards/build-dashboards/annotate-visualizations/index.md
  docs/sources/dashboards/build-dashboards/manage-dashboard-links/index.md
  docs/sources/dashboards/build-dashboards/manage-library-panels/index.md
  docs/sources/dashboards/create-reports/index.md
  docs/sources/dashboards/manage-dashboards/index.md
  docs/sources/dashboards/use-dashboards/index.md
  docs/sources/dashboards/variables/_index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  docs/sources/panels-visualizations/visualizations/gauge/index.md
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/shared/visualizations/disconnect-values.md
  docs/sources/whatsnew/whats-new-in-v10-2.md
  docs/sources/whatsnew/whats-new-in-v7-2.md
  docs/sources/whatsnew/whats-new-in-v7-4.md
Labels: type/docs, no-changelog, backport v10.2.x

#79214 mssql: prepare logs-handling for decouple-datasource changes
  pkg/api/datasource/validation.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/mssql_test.go
Labels: area/backend, datasource/MSSQL, no-changelog

#78883 [v10.1.x] Auth: id response header
  conf/defaults.ini
  conf/sample.ini
  pkg/services/contexthandler/contexthandler.go
  pkg/setting/setting.go
Labels: area/backend, backport, no-changelog, missing-labels

#78882 [v10.0.x] Auth: id response header
  conf/defaults.ini
  conf/sample.ini
  pkg/services/contexthandler/contexthandler.go
  pkg/setting/setting.go
Labels: area/backend, backport, no-changelog, missing-labels

#78879 [v9.5.x] Auth: id response header
  conf/defaults.ini
  conf/sample.ini
  pkg/services/contexthandler/contexthandler.go
  pkg/setting/setting.go
Labels: area/backend, backport, no-changelog, missing-labels

#79009 News: Add loading skeleton
  .betterer.results
  public/app/core/components/AppChrome/News/NewsWrapper.tsx
  public/app/plugins/panel/news/component/News.tsx
Labels: area/frontend, no-backport, no-changelog

#78954 Navigation: Independent docked state
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/AppChromeMenu.tsx
  public/app/core/components/AppChrome/AppChromeService.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.test.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenuItem.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/utils.ts
  public/app/core/components/AppChrome/MegaMenu/MegaMenu.test.tsx
  public/app/core/components/AppChrome/MegaMenu/NavBarMenu.tsx
  public/app/core/components/AppChrome/NavToolbar/NavToolbar.tsx
Labels: area/frontend, no-backport, no-changelog

#79068 Pyroscope: Decouple from templateSrv
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryLinkExtension.test.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/datasource.test.ts
Labels: area/frontend, area/datasource, no-backport, no-changelog, datasource/grafana-pyroscope

#79272 Chore: Migrate from aria-label to data-testid in plugin-related tests
  .betterer.results
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-ui/src/components/Alert/Alert.tsx
  public/app/features/datasources/components/BasicSettings.test.tsx
  public/app/features/datasources/components/BasicSettings.tsx
  public/app/features/datasources/components/DataSourceReadOnlyMessage.tsx
  public/app/features/datasources/components/DataSourceTestingStatus.tsx
  public/app/features/plugins/admin/components/PluginDetailsDisabledError.tsx
  public/app/features/plugins/admin/components/PluginDetailsSignature.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
  public/app/features/plugins/components/PluginsErrorsInfo.tsx
Labels: area/plugins, area/frontend, area/datasource/frontend, no-backport, no-changelog

#79113 InspectDataTab: Use templateSrv.replace with getProcessedData
  public/app/features/inspector/InspectDataTab.tsx
Labels: type/bug, area/dashboard/templating, area/dashboard, area/frontend, area/datasource/frontend, no-changelog, backport v10.2.x

#79307 Auth: Fix anonymous user table useragent not parsable
  public/app/features/admin/Users/AnonUsersTable.tsx
Labels: type/bug, area/frontend, no-changelog, backport v10.2.x

#79314 Anon: Enable anon stats by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, backport, no-changelog, product-approved

#79312 Anon: Enable anon stats by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, no-backport, no-changelog

#79295 Alerting: Fix UI inheriting mute timings from parent when calculating the polic…
  public/app/features/alerting/unified/components/notification-policies/Policy.test.tsx
  public/app/features/alerting/unified/utils/notification-policies.test.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog

#79288 InfluxDB: Interpolate tag keys in influxql queries
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/datasource_backend_mode.test.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#79327 Alerting: Fix for data source filter on cloud rules.
  public/app/features/alerting/unified/hooks/useFilteredRules.test.ts
  public/app/features/alerting/unified/hooks/useFilteredRules.ts
  public/app/features/alerting/unified/mocks.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v9.4.x, backport v10.2.x

#79331 Chore: Bump k8s dependencies to v0.28.4
  go.mod
  go.sum
Labels: area/backend, no-backport, no-changelog

#79335 Navigation: Fix showing command palette when menu is docked
  public/app/core/components/AppChrome/AppChrome.tsx
Labels: area/frontend, no-backport, no-changelog

#79250 Storage: Switch from tenant to namespace & remove GRN
  .github/CODEOWNERS
  Makefile
  pkg/infra/grn/doc.go
  pkg/infra/grn/errors.go
  pkg/infra/grn/generate.sh
  pkg/infra/grn/grn.go
  pkg/infra/grn/grn.pb.go
  pkg/infra/grn/grn.proto
  pkg/infra/grn/grn_test.go
  pkg/services/grafana-apiserver/storage/entity/storage.go
  pkg/services/grafana-apiserver/storage/entity/utils.go
  pkg/services/store/entity/client_wrapper.go
  pkg/services/store/entity/dummy/fake_store.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/key.go
  pkg/services/store/entity/migrations/entity_store_mig.go
  pkg/services/store/entity/models.go
  pkg/services/store/entity/sqlstash/folder_support.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/tests/server_integration_test.go
  pkg/services/store/entity/utils.go
  pkg/services/store/resolver/service.go
Labels: type/build-packaging, area/backend, area/backend/db/migration, no-backport, no-changelog

#78970 Add Loki alert state history annotations feature toggle
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#78709 PublicDashboards: Revoke all public dashboards access to a specific user
  public/app/features/admin/UserListPublicDashboardPage/DeleteUserModalButton.tsx
  public/app/features/dashboard/api/publicDashboardApi.ts
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ConfigPublicDashboard/EmailSharingConfiguration.tsx
Labels: area/frontend, no-backport, no-changelog

#79344 K8s: Add resource type helper to avoid so many hardcoded names
  pkg/api/playlist.go
  pkg/apis/example/v0alpha1/types.go
  pkg/apis/playlist/v0alpha1/types.go
  pkg/apis/types.go
  pkg/registry/apis/example/dummy_storage.go
  pkg/registry/apis/example/register.go
  pkg/registry/apis/example/storage.go
  pkg/registry/apis/playlist/legacy_storage.go
  pkg/registry/apis/playlist/register.go
  pkg/registry/apis/playlist/storage.go
  pkg/services/grafana-apiserver/endpoints/request/namespace.go
Labels: area/backend, no-backport, no-changelog

#79350 [v10.2.x] Alerting: Fix for data source filter on cloud rules. (#79327)
  public/app/features/alerting/unified/hooks/useFilteredRules.test.ts
  public/app/features/alerting/unified/hooks/useFilteredRules.ts
  public/app/features/alerting/unified/mocks.ts
Labels: type/bug, area/frontend, add to changelog, backport

#79353 [v9.4.x] Alerting: Fix for data source filter on cloud rules. (#79327)
  public/app/features/alerting/unified/hooks/useFilteredRules.test.ts
  public/app/features/alerting/unified/hooks/useFilteredRules.ts
  public/app/features/alerting/unified/mocks.ts
Labels: type/bug, area/frontend, add to changelog, backport

#79157 SSE: Add utility methods for HysteresisCommand
  pkg/expr/graph.go
  pkg/expr/graph_test.go
  pkg/expr/hysteresis.go
  pkg/expr/hysteresis_test.go
  pkg/expr/nodes.go
  pkg/expr/threshold.go
  pkg/expr/threshold_test.go
Labels: area/backend, area/expressions, no-backport, no-changelog

#79225 Alerting: Add export of mute timings to file provisioning formats
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/provisioning.go
  pkg/services/ngalert/api/test-data/alertmanager_default_mutetimings-export.hcl
  pkg/services/ngalert/api/test-data/alertmanager_default_mutetimings-export.json
  pkg/services/ngalert/api/test-data/alertmanager_default_mutetimings-export.yaml
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/provisioning.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_mute_timings.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/provisioning, area/frontend, no-backport, no-changelog

#79083 Heatmap: Fix null options migration
  public/app/plugins/panel/heatmap/migrations.test.ts
  public/app/plugins/panel/heatmap/migrations.ts
Labels: area/panel/heatmap, area/frontend, add to changelog, pr/external, no-backport
