Repository grafana/grafana, pull requests merged in 2023-11, with the labels that each got.

#77453 grafana/ui: Rename Flex component to Stack
  packages/grafana-ui/src/components/Layout/Box/Box.mdx
  packages/grafana-ui/src/components/Layout/Box/Box.story.tsx
  packages/grafana-ui/src/components/Layout/Box/Box.tsx
  packages/grafana-ui/src/components/Layout/Flex/Flex.internal.story.tsx
  packages/grafana-ui/src/components/Layout/Flex/Flex.mdx
  packages/grafana-ui/src/components/Layout/Flex/Flex.tsx
  packages/grafana-ui/src/components/Layout/Grid/Grid.mdx
  packages/grafana-ui/src/components/Layout/Stack/HorizontalStack.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.internal.story.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.mdx
  packages/grafana-ui/src/components/Layout/Stack/Stack.tsx
  packages/grafana-ui/src/components/Layout/Stack/index.ts
  packages/grafana-ui/src/unstable.ts
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/features/admin/Users/OrgUnits.tsx
  public/app/features/admin/Users/OrgUsersTable.tsx
  public/app/features/admin/Users/UsersTable.tsx
  public/app/features/dashboard/dashgrid/DashboardEmpty.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/teams/TeamList.tsx
Labels: area/frontend, no-backport, no-changelog

#76942 Pyroscope: Simplify and update query options to include max nodes in summary
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryOptions.tsx
Labels: area/frontend, area/datasource/frontend, no-backport, no-changelog, datasource/grafana-pyroscope

#77485 Alerting: Update Alertmanager to latest main (70c52bf)
  go.mod
  go.sum
Labels: area/alerting, area/backend, no-backport, no-changelog

#77463 Loki: Update developers docs with QueryEditor component
  public/app/plugins/datasource/loki/docs/app_plugin_developer_documentation.md
Labels: type/docs, area/frontend, datasource/Loki, no-backport, no-changelog

#77435 GrafanaUI: Make sure ContextMenu does not get cut off at the top
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.tsx
Labels: type/bug, area/frontend, area/grafana/ui, no-backport, no-changelog

#76670 Tracing: Trace to profiles
  docs/sources/developers/kinds/composable/grafanapyroscope/dataquery/schema-reference.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  go.mod
  go.sum
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-schema/src/raw/composable/grafanapyroscope/dataquery/x/GrafanaPyroscopeDataQuery_types.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
  pkg/tsdb/grafana-pyroscope-datasource/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/grafana-pyroscope-datasource/pyroscopeClient.go
  pkg/tsdb/grafana-pyroscope-datasource/pyroscopeClient_test.go
  pkg/tsdb/grafana-pyroscope-datasource/query.go
  pkg/tsdb/grafana-pyroscope-datasource/query_test.go
  public/app/core/components/TraceToProfiles/TraceToProfilesSettings.test.tsx
  public/app/core/components/TraceToProfiles/TraceToProfilesSettings.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
  public/app/features/explore/TraceView/components/types/links.ts
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/ProfileTypesCascader.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryOptions.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/dataquery.cue
  public/app/plugins/datasource/grafana-pyroscope-datasource/dataquery.gen.ts
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
Labels: type/docs, area/backend, area/explore, area/frontend, add to changelog, area/datasource/frontend, area/tracing, datasource/Tempo, no-backport

#77489 Navigation: Make page container automatically scroll when overflowing
  public/app/core/components/AppChrome/AppChrome.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#77307 Storybook: Formatted SegmentAsync story
  packages/grafana-ui/src/components/Segment/Segment.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.story.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.story.tsx
Labels: area/frontend, pr/external, area/storybook, no-backport, no-changelog

#77297 RolePicker: Optimise rendering inside lists of items
  .betterer.results
  public/app/core/components/RolePicker/RolePicker.tsx
  public/app/core/components/RolePicker/RolePickerInput.tsx
  public/app/core/components/RolePicker/TeamRolePicker.tsx
  public/app/core/components/RolePicker/UserRolePicker.tsx
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/admin/Users/OrgUsersTable.tsx
  public/app/features/admin/api.ts
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/serviceaccounts/state/reducers.ts
  public/app/features/teams/TeamList.test.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/state/actions.ts
  public/app/features/teams/state/reducers.ts
  public/app/features/users/UsersListPage.test.tsx
  public/app/features/users/UsersListPage.tsx
  public/app/features/users/state/actions.ts
  public/app/features/users/state/reducers.ts
  public/app/types/serviceaccount.ts
  public/app/types/teams.ts
  public/app/types/user.ts
Labels: area/frontend, no-backport, no-changelog

#77031 Move datagrid e2e tests to panels-suite
  e2e/panels-suite/datagrid-data-change.spec.ts
  e2e/panels-suite/datagrid-editing-features.spec.ts
Labels: area/frontend, no-backport, no-changelog

#77493 Navigation: Minor tweak to `dockedMegaMenu` to make it slightly tighter
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenuItem.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenuItemText.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#77482 Loki: Add `supportingQueryType` to datasample queries
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#77337 ValueFormats: Use plural for time units
  packages/grafana-data/src/valueFormats/dateTimeFormatters.test.ts
  packages/grafana-data/src/valueFormats/valueFormats.test.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
  public/app/core/utils/kbn.test.ts
Labels: area/frontend, add to changelog, pr/external, no-backport

#77008 Page: Remove Canvas background from primary background pages
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/Page/Page.tsx
Labels: area/frontend, no-backport, no-changelog

#77123 Update workflow that synchronizes the `make docs` procedure
  .github/workflows/update-make-docs.yml
Labels: type/docs, type/ci, no-backport, no-changelog

#77501 Dashboards: Fix creating dashboard under folder using deprecated API
  pkg/api/dashboard.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/service.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  public/api-merged.json
  public/openapi3.json
Labels: type/bug, area/backend, area/frontend, no-backport, no-changelog

#77486 Explore: Fix support for angular based datasource editors
  public/app/features/explore/hooks/useStateSync/index.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/main.ts
Labels: type/bug, area/explore, area/frontend, add to changelog, backport v10.2.x

#77308 AzureMonitor: Add missing namespaces
  public/app/plugins/datasource/azuremonitor/azureMetadata/resourceTypes.ts
Labels: effort/small, area/frontend, datasource/Azure, no-backport, no-changelog

#77304 Chore: Upgrade Go to 1.21.3
  .drone.yml
  .github/CODEOWNERS
  .github/workflows/alerting-swagger-gen.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ox-code-coverage.yml
  .github/workflows/pr-codeql-analysis-go.yml
  .github/workflows/publish-kinds-next.yml
  .github/workflows/publish-kinds-release.yml
  .github/workflows/verify-kinds.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
  pkg/api/frontendsettings.go
  pkg/expr/ml/outlier_test.go
  pkg/login/social/google_oauth.go
  pkg/login/social/social.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/extsvcauth/oauthserver/oasimpl/service_test.go
  pkg/services/grafana-apiserver/openapi.go
  pkg/services/ngalert/notifier/redis_peer.go
  pkg/services/ngalert/state/historian/encode.go
  pkg/services/ngalert/state/template/funcs.go
  pkg/services/query/query.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/web/macaron.go
  scripts/build/ci-build/Dockerfile
  scripts/drone/variables.star
Labels: datasource/Elasticsearch, type/chore, type/build-packaging, area/backend, add to changelog, type/ci, no-backport

#77460 Loki: Add maxLines option to getParserAndLabelKeys
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/docs/app_plugin_developer_documentation.md
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#76315 chore: canvas cleanup betterer styles object notation edition
  .betterer.results
  public/app/features/canvas/elements/droneFront.tsx
  public/app/features/canvas/elements/droneSide.tsx
  public/app/features/canvas/elements/droneTop.tsx
  public/app/features/canvas/elements/ellipse.tsx
  public/app/features/canvas/elements/icon.tsx
  public/app/features/canvas/elements/metricValue.tsx
  public/app/features/canvas/elements/server/server.tsx
  public/app/features/canvas/elements/text.tsx
  public/app/features/canvas/elements/windTurbine.tsx
  public/app/plugins/panel/canvas/components/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/components/CanvasTooltip.tsx
  public/app/plugins/panel/canvas/components/SetBackground.tsx
  public/app/plugins/panel/canvas/components/connections/ConnectionAnchors.tsx
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
  public/app/plugins/panel/canvas/editor/connectionEditor.tsx
  public/app/plugins/panel/canvas/editor/element/ConstraintSelectionBox.tsx
  public/app/plugins/panel/canvas/editor/element/QuickPositioning.tsx
  public/app/plugins/panel/canvas/editor/inline/InlineEdit.tsx
  public/app/plugins/panel/canvas/editor/inline/InlineEditBody.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNodeTitle.tsx
Labels: type/chore, area/frontend, area/panel/canvas, no-backport, no-changelog

#77504 CI: Fix race condition when building docker on main
  .drone.yml
  scripts/drone/pipelines/build.star
Labels: type/ci, no-changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x, backport v10.1.x, backport v10.2.x

#76414 Storage: Add maxFiles to list functions
  pkg/infra/filestorage/api.go
  pkg/infra/filestorage/cdk_blob_filestorage.go
  pkg/infra/filestorage/db_filestorage.go
  pkg/infra/filestorage/fs_integration_test.go
  pkg/infra/filestorage/test_utils.go
  pkg/infra/filestorage/wrapper.go
  pkg/services/store/http.go
  pkg/services/store/service.go
  pkg/services/store/service_test.go
  pkg/services/store/tree.go
  pkg/services/store/types.go
  pkg/tsdb/grafanads/grafana.go
  public/app/features/canvas/elements/icon.tsx
  public/app/features/dimensions/editors/FolderPickerTab.tsx
  public/app/features/dimensions/editors/ResourceDimensionEditor.tsx
  public/app/features/dimensions/editors/ResourcePicker.tsx
  public/app/features/dimensions/editors/ResourcePickerPopover.tsx
  public/app/features/dimensions/types.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/panel/geomap/editor/StyleEditor.tsx
Labels: type/bug, area/backend, area/frontend, area/panel/geomap, area/panel/canvas, no-backport, no-changelog

#77508 [v9.5.x] CI: Fix race condition when building docker on main
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#77510 [v10.1.x] CI: Fix race condition when building docker on main
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#77511 [v10.2.x] CI: Fix race condition when building docker on main
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#77512 CI: Sign drone yaml
  .drone.yml
Labels: type/ci, no-backport, no-changelog

#77507 [v9.4.x] CI: Fix race condition when building docker on main
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#68439 Policies: Adds deprecation policy
  contribute/deprecation-policy.md
Labels: type/docs, add to changelog, stale, no-backport

#77273 docs: provisioning: Added NixOS module link.
  docs/sources/administration/provisioning/index.md
Labels: type/docs, pr/external, no-changelog, backport v10.2.x

#77514 Docs: Remove reliance on oneshell multiline feature for building transformation docs
  docs/Makefile
Labels: type/docs, area/transformations, no-backport, no-changelog, internal

#77176 Cloudwatch: Use context in aws DescribeLogGroupsWithContext
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/cloudwatch/mocks/logs.go
  pkg/tsdb/cloudwatch/models/api.go
  pkg/tsdb/cloudwatch/routes/log_groups.go
  pkg/tsdb/cloudwatch/routes/log_groups_test.go
  pkg/tsdb/cloudwatch/services/log_groups.go
  pkg/tsdb/cloudwatch/services/log_groups_test.go
  pkg/tsdb/cloudwatch/test_utils.go
Labels: datasource/CloudWatch, area/backend, pr/external, no-backport, no-changelog

#75709 K8s/Playlist: Support full CRUD from k8s to existing storage
  pkg/apis/playlist/conversions.go
  pkg/apis/playlist/legacy_storage.go
  pkg/services/grafana-apiserver/registry/generic/strategy.go
  pkg/tests/apis/helper.go
  pkg/tests/apis/playlist/playlist_test.go
  pkg/tests/apis/playlist/testdata/playlist-generate.yaml
  pkg/tests/apis/playlist/testdata/playlist-test-apply.yaml
  pkg/tests/apis/playlist/testdata/playlist-test-create.yaml
  pkg/tests/apis/playlist/testdata/playlist-test-replace.yaml
  public/app/features/playlist/api.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#77519 Alerting: Fix flaky test TestExportRules
  pkg/services/ngalert/api/api_ruler_export_test.go
  pkg/services/ngalert/models/testing.go
Labels: type/bug, area/alerting, area/backend, no-changelog, backport v10.2.x

#77522 Chore: Prepare to remove <Graph /> from @grafana/ui
  packages/grafana-ui/src/components/Graph/Graph.tsx
  packages/grafana-ui/src/components/Graph/GraphTooltip/MultiModeGraphTooltip.tsx
  packages/grafana-ui/src/components/Graph/types.ts
  packages/grafana-ui/src/components/VizTooltip/VizTooltip.tsx
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph/utils.test.ts
  public/app/plugins/panel/graph/utils.ts
Labels: area/panel/graph, area/frontend, add to changelog, no-backport

#77525 Chore: Move internal GraphNG+Timeseries components into core
  .betterer.results
  .github/CODEOWNERS
  packages/grafana-data/src/transformations/index.ts
  packages/grafana-data/src/transformations/transformers/nulls/nullInsertThreshold.test.ts
  packages/grafana-data/src/transformations/transformers/nulls/nullInsertThreshold.ts
  packages/grafana-data/src/transformations/transformers/nulls/nullToUndefThreshold.ts
  packages/grafana-data/src/transformations/transformers/nulls/nullToValue.test.ts
  packages/grafana-data/src/transformations/transformers/nulls/nullToValue.ts
  packages/grafana-ui/src/components/Sparkline/utils.ts
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/components/uPlot/internal.ts
  packages/grafana-ui/src/components/uPlot/types.ts
  packages/grafana-ui/src/components/uPlot/utils.test.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  packages/grafana-ui/src/graveyard/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/graveyard/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/graveyard/GraphNG/hooks.ts
  packages/grafana-ui/src/graveyard/GraphNG/nullInsertThreshold.test.ts
  packages/grafana-ui/src/graveyard/GraphNG/nullInsertThreshold.ts
  packages/grafana-ui/src/graveyard/GraphNG/nullToUndefThreshold.ts
  packages/grafana-ui/src/graveyard/GraphNG/nullToValue.test.ts
  packages/grafana-ui/src/graveyard/GraphNG/nullToValue.ts
  packages/grafana-ui/src/graveyard/GraphNG/types.ts
  packages/grafana-ui/src/graveyard/GraphNG/utils.test.ts
  packages/grafana-ui/src/graveyard/GraphNG/utils.ts
  packages/grafana-ui/src/graveyard/README.md
  packages/grafana-ui/src/graveyard/TimeSeries/TimeSeries.tsx
  packages/grafana-ui/src/graveyard/TimeSeries/utils.test.ts
  packages/grafana-ui/src/graveyard/TimeSeries/utils.ts
  public/app/core/components/GraphNG/GraphNG.tsx
  public/app/core/components/GraphNG/__snapshots__/utils.test.ts.snap
  public/app/core/components/GraphNG/hooks.ts
  public/app/core/components/GraphNG/types.ts
  public/app/core/components/GraphNG/utils.test.ts
  public/app/core/components/GraphNG/utils.ts
  public/app/core/components/TimeSeries/TimeSeries.tsx
  public/app/core/components/TimeSeries/utils.test.ts
  public/app/core/components/TimeSeries/utils.ts
  public/app/core/components/TimelineChart/TimelineChart.tsx
  public/app/core/components/TimelineChart/timeline.ts
  public/app/core/components/TimelineChart/utils.ts
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/candlestick/CandlestickPanel.tsx
  public/app/plugins/panel/graph/data_processor.ts
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
  public/app/plugins/panel/timeseries/plugins/ThresholdControlsPlugin.tsx
  public/app/plugins/panel/timeseries/utils.ts
  public/app/plugins/panel/trend/TrendPanel.tsx
  public/app/plugins/panel/xychart/dims.ts
Labels: area/panel/graph, area/frontend, area/panel/timeseries, area/panel/barchart, area/panel/xychart, area/panel/candlestick, no-backport, no-changelog, area/panel/trend

#77456 Loki: Remove duplicated methods in languageProvider
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/components/LokiCheatSheet.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.test.tsx
  public/app/plugins/datasource/loki/components/LokiLabelBrowser.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.ts
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog

#77495 Grafana/ui: Move the Stack component out of unstable
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/unstable.ts
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/features/admin/Users/OrgUnits.tsx
  public/app/features/admin/Users/OrgUsersTable.tsx
  public/app/features/admin/Users/UsersTable.tsx
  public/app/features/dashboard/dashgrid/DashboardEmpty.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/teams/TeamList.tsx
Labels: area/frontend, add to changelog, no-backport

#77428 Bug Fix: Respect data source version when provisioning
  docs/sources/administration/provisioning/index.md
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/datasources/types.go
  pkg/services/provisioning/datasources/types_test.go
Labels: type/bug, type/docs, area/backend, add to changelog, backport v10.2.x

#76167 Grafana-UI: Create fast path in Text component
  packages/grafana-ui/src/components/Text/Text.tsx
  packages/grafana-ui/src/components/Text/TruncatedText.tsx
Labels: area/frontend, area/grafana/ui, pr/external, no-backport, no-changelog

#77547 Adds alerts from panels feature to cloud whats new
  docs/sources/whatsnew/whats-new-next/index.md
Labels: type/docs, no-backport, no-changelog

#77455 Chore: Add app URL to the plugin config
  go.mod
  go.sum
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
Labels: area/backend, no-backport, no-changelog

#76925 Documentation: Update Hubot Integration documentation
  docs/sources/tutorials/integrate-hubot/index.md
Labels: type/docs, pr/external, no-changelog, backport v9.5.x, backport v10.0.x, backport v10.1.x, backport v10.2.x

#77549 Ignore dist folder for core plugin
  pkg/plugins/manager/loader/finder/local.go
  pkg/plugins/manager/loader/finder/local_test.go
  pkg/util/filepath.go
Labels: area/backend, no-backport, no-changelog

#77500 Navigation: Updates to the docs for admin subsections
  docs/sources/administration/api-keys/index.md
  docs/sources/administration/enterprise-licensing/_index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-ecs/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-eks/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/manage-license-in-aws-marketplace/index.md
  docs/sources/administration/organization-management/index.md
  docs/sources/administration/organization-preferences/index.md
  docs/sources/administration/plugin-management/index.md
  docs/sources/administration/roles-and-permissions/access-control/assign-rbac-roles/index.md
  docs/sources/administration/stats-and-license/index.md
  docs/sources/administration/team-management/index.md
  docs/sources/administration/user-management/manage-org-users/index.md
  docs/sources/administration/user-management/server-user-management/_index.md
  docs/sources/administration/user-management/server-user-management/add-remove-user-to-org/index.md
  docs/sources/administration/user-management/server-user-management/assign-remove-server-admin-privileges/index.md
  docs/sources/administration/user-management/server-user-management/change-user-org-permissions/index.md
Labels: type/docs, no-backport, no-changelog

#77498 CustomScrollbar: Remove chevrons from scroll indicators
  packages/grafana-ui/src/components/CustomScrollbar/ScrollIndicators.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#77415 Timeseries to table transformation: Update Output Changes
  public/app/features/transformers/timeSeriesTable/TimeSeriesTableTransformEditor.tsx
  public/app/features/transformers/timeSeriesTable/timeSeriesTableTransformer.test.ts
  public/app/features/transformers/timeSeriesTable/timeSeriesTableTransformer.ts
Labels: area/frontend, no-backport, no-changelog

#77249 Dashboards: Remove dummy trim dashboard api
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/dtos/dashboard.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/usage_stats_test.go
  public/api-merged.json
  public/app/features/dashboard-scene/sharing/ShareExportTab.tsx
  public/app/features/dashboard/components/ShareModal/ShareExport.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
  public/openapi3.json
Labels: type/docs, datasource/Prometheus, area/backend, area/frontend, add to changelog, no-backport

#77569 Transformations: Deduplicate names when using `extract fields` transformation.
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/field/index.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/transformers/extractFields/extractFields.ts
  public/app/features/transformers/extractFields/fieldExtractor.test.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, area/transformations, breaking change, no-backport

#77550 Alerting: Add an empty Forked Alertmanager struct
  pkg/services/ngalert/remote/forked_alertmanager.go
Labels: area/alerting, area/backend, no-backport, no-changelog, kata:am_unify

#77581 Chore: avoid using deprecated ArrayVector
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/Filters.test.tsx
  public/app/plugins/panel/datagrid/DataGridPanel.test.tsx
  public/app/plugins/panel/timeseries/utils.ts
Labels: type/chore, area/frontend, datasource/Azure, area/panel/timeseries, no-backport, no-changelog

#76950 Alerting: Update 'Create alert' to 'New alert rule' in the panel and docs
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
  docs/sources/tutorials/create-alerts-with-logs/index.md
  docs/sources/tutorials/grafana-fundamentals/index.md
  public/app/core/utils/navBarItem-translations.ts
  public/app/features/alerting/unified/components/panel-alerts-tab/NewRuleFromPanelButton.test.tsx
  public/app/features/alerting/unified/components/panel-alerts-tab/NewRuleFromPanelButton.tsx
  public/app/features/connections/__mocks__/store.navIndex.mock.ts
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/datasources/__mocks__/store.navIndex.mock.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: type/docs, area/alerting, area/frontend, add to changelog, no-backport

#77582 Alerting: Separate the forked Alertmanager into two implementations
  pkg/services/ngalert/remote/forked_alertmanager.go
  pkg/services/ngalert/remote/remote_primary_forked_alertmanager.go
  pkg/services/ngalert/remote/remote_secondary_forked_alertmanager.go
Labels: area/alerting, area/backend, no-backport, no-changelog, kata:am_unify

#77578 Canvas: Refactor ConnectionSVG utils
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: type/refactor, area/frontend, area/panel/canvas, no-backport, no-changelog

#76890 Alerting: Handle edge cases without panicking during template migration
  pkg/services/ngalert/migration/template.go
  pkg/services/ngalert/migration/template_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#77229 AzureMonitor: Add Container Insights Syslog Dashboard
  public/app/plugins/datasource/azuremonitor/dashboards/containerInsightsSyslog.json
  public/app/plugins/datasource/azuremonitor/plugin.json
Labels: area/frontend, datasource/Azure, add to changelog, pr/external, no-backport

#76748 DashboardScene: Viewer role only support
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditorRenderer.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.test.tsx
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/sharing/ShareLinkTab.test.tsx
  public/app/features/dashboard-scene/sharing/ShareLinkTab.tsx
  public/app/features/dashboard-scene/utils/test-utils.ts
  public/app/features/dashboard-scene/utils/urlBuilders.test.ts
  public/app/features/dashboard-scene/utils/urlBuilders.ts
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.test.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.tsx
  public/app/features/dashboard/containers/types.ts
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/routes/routes.tsx
  public/dashboards/home.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#77479 Alerting: Remove unused Accesscontrol dependency from DbStore
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/ngalert/store/database.go
  pkg/services/ngalert/tests/util.go
  pkg/services/provisioning/provisioning.go
  pkg/services/quota/quotaimpl/quota_test.go
Labels: type/refactor, area/backend, no-backport, no-changelog

#75930 Correlations: Add transformations to Explore Editor
  packages/grafana-data/src/types/explore.ts
  packages/grafana-data/src/valueFormats/valueFormats.test.ts
  public/app/features/correlations/Forms/TransformationsEditor.tsx
  public/app/features/correlations/Forms/types.ts
  public/app/features/correlations/utils.ts
  public/app/features/explore/CorrelationEditorModeBar.tsx
  public/app/features/explore/CorrelationHelper.tsx
  public/app/features/explore/CorrelationTransformationAddModal.tsx
  public/app/features/explore/CorrelationUnsavedChangesModal.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/QueryRows.test.tsx
  public/app/features/explore/correlationEditLogic.test.ts
  public/app/features/explore/correlationEditLogic.ts
  public/app/features/explore/state/correlations.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/selectors.ts
  public/app/features/explore/utils/decorators.ts
  public/app/types/explore.ts
Labels: area/explore, area/frontend, add to changelog, no-backport

#77529 CloudWatch Logs: Add labels to alert and expression queries
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/log_query_test.go
Labels: type/bug, datasource/CloudWatch, area/backend, add to changelog, backport v10.2.x

#77178 Azure Monitor: buildResourceURI function incorrectly migrating
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/url-builder.go
  pkg/tsdb/azuremonitor/metrics/url-builder_test.go
Labels: area/backend, datasource/Azure, no-backport, no-changelog

#77573 Canvas: Fix ability to draw arrows
  public/app/plugins/panel/canvas/components/connections/ConnectionAnchors.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, type/regression, area/panel/canvas, no-backport, no-changelog

#77591 K8s/Playlist: Reuse single version as internal
  pkg/apis/playlist/doc.go
  pkg/apis/playlist/types.go
  pkg/apis/playlist/v0alpha1/types_test.go
  pkg/apis/playlist/v0alpha1/zz_generated.conversion.go
  pkg/apis/playlist/zz_generated.deepcopy.go
  pkg/registry/apis/apis.go
  pkg/registry/apis/playlist/conversions.go
  pkg/registry/apis/playlist/legacy_storage.go
  pkg/registry/apis/playlist/register.go
  pkg/registry/apis/playlist/storage.go
  pkg/registry/apis/playlist/v0alpha1/register.go
  pkg/registry/apis/wireset.go
Labels: area/backend, no-backport, no-changelog

#77487 Theme: Update old css class add-data-source-item to use card styling
  public/sass/components/_add_data_source.scss
Labels: area/frontend, no-backport, no-changelog

#77499 RolePicker: Use portal to render menu
  .betterer.results
  public/app/core/components/RolePicker/RoleMenuGroupsSection.tsx
  public/app/core/components/RolePicker/RolePicker.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/core/components/RolePicker/constants.ts
  public/app/core/components/RolePicker/styles.ts
Labels: area/frontend, no-backport, no-changelog

#77215 auth: wire service account proxy
  pkg/server/wire.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/proxy/service.go
Labels: area/backend, no-backport, no-changelog

#77506 Navigation: Use `LoadingBar` in `CommandPalette`
  public/app/features/commandPalette/CommandPalette.tsx
Labels: area/frontend, no-backport, no-changelog

#77291 Docs: Reduce `location` indentation to match time_interval_spec
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
Labels: type/docs, pr/external, no-changelog, backport v10.0.x, backport v10.1.x, backport v10.2.x

#77112 DashboardGrid: Add support to filter panels using variable
  .betterer.results
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/dashboard/dashgrid/DashboardGrid.test.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
  public/app/features/variables/state/actions.ts
  public/app/features/variables/types.ts
Labels: area/dashboard/templating, area/backend, area/frontend, pr/external, no-backport, no-changelog

#77609 Chore: Replace grafana-authnz-team with identity-access-team as code owners
  .github/CODEOWNERS
  pkg/api/org_users.go
  pkg/services/featuremgmt/codeowners.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  scripts/modowners/README.md
  scripts/modowners/modowners.go
Labels: area/backend, no-backport, no-changelog

#77492 Plugins: Add API for creating pluginv2 proto client
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/plugins/backendplugin/grpcplugin/client_proto.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
Labels: area/plugins, area/backend/plugins, area/backend, no-backport, no-changelog

#77615 Docs: Improve our mocks section (backend style guide)
  contribute/backend/style-guide.md
Labels: type/docs, area/backend, no-backport, no-changelog

#77612 Team LBAC: Fix backend validation
  pkg/api/datasources.go
  pkg/api/datasources_test.go
Labels: area/backend, no-backport, no-changelog

#77590 Chore: Deprecate folderIDs in FolderFilter
  pkg/services/libraryelements/writers.go
Labels: area/backend, no-backport, no-changelog

#77575 OpenTSDB: Use refid to support alerting on multiple queries
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/opentsdb/opentsdb_test.go
Labels: datasource/OpenTSDB, area/backend, area/datasource/backend, no-backport, no-changelog

#77503 Prometheus: Set httpMethod as POST for new query client when not defined
  pkg/tsdb/prometheus/querydata/request.go
Labels: datasource/Prometheus, area/backend, area/datasource/backend, no-backport, no-changelog

#77408 Chore: add/update sqlstore-related helper functions
  pkg/infra/db/db.go
  pkg/infra/db/dbtest/dbtest.go
  pkg/services/sqlstore/logger.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/dialect_test.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/session/session.go
  pkg/services/store/entity/sqlstash/querybuilder.go
Labels: area/backend, no-backport, no-changelog

#77029 Transformations: Cumulative and window modes for `Add field from calculation`
  .betterer.results
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/transformers/docs/content.ts
  public/app/features/transformers/editors/CalculateFieldTransformerEditor.tsx
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport, add to what's new

#77600 EntityStore: Use protobuf for summary objects
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/models.go
  pkg/services/store/kind/dashboard/summary.go
  pkg/services/store/kind/dashboard/testdata/gdev-walk-graph-gradient-area-fills.json
  pkg/services/store/kind/dashboard/testdata/gdev-walk-graph-shared-tooltips.json
  pkg/services/store/kind/dashboard/testdata/gdev-walk-graph-time-regions.json
  pkg/services/store/kind/dashboard/testdata/gdev-walk-graph_tests.json
  pkg/services/store/kind/dashboard/testdata/gdev-walk-graph_y_axis.json
  pkg/services/store/kind/dashboard/testdata/with-library-panels-info.json
  pkg/services/store/kind/dataframe/summary.go
  pkg/services/store/kind/dataframe/summary_test.go
  pkg/services/store/kind/dummy/summary.go
  pkg/services/store/kind/geojson/summary.go
  pkg/services/store/kind/geojson/summary_test.go
  pkg/services/store/kind/jsonobj/summary_test.go
  pkg/services/store/kind/png/summary.go
  pkg/services/store/kind/png/summary_test.go
  pkg/services/store/kind/snapshot/summary.go
Labels: area/backend, no-backport, no-changelog

#77586 K8s/Playlist: Refactor apis packages so the types and registry are in different packages
  pkg/api/playlist.go
  pkg/apis/example/v0alpha1/zz_generated.openapi..go
  pkg/apis/playlist/doc.go
  pkg/apis/playlist/types.go
  pkg/apis/playlist/v0alpha1/register.go
  pkg/apis/playlist/v0alpha1/zz_generated.conversion.go
  pkg/apis/playlist/v0alpha1/zz_generated.openapi.go
  pkg/apis/playlist/zz_generated.deepcopy.go
  pkg/apis/wireset.go
  pkg/registry/apis/apis.go
  pkg/registry/apis/example/register.go
  pkg/registry/apis/example/storage.go
  pkg/registry/apis/playlist/conversions.go
  pkg/registry/apis/playlist/conversions_test.go
  pkg/registry/apis/playlist/legacy_storage.go
  pkg/registry/apis/playlist/register.go
  pkg/registry/apis/playlist/storage.go
  pkg/registry/apis/wireset.go
  pkg/services/grafana-apiserver/service.go
Labels: area/backend, no-backport, no-changelog

#77601 Azure monitor/remove reference to core config
  public/app/plugins/datasource/azuremonitor/components/ConfigEditor.tsx
Labels: area/frontend, datasource/Azure, no-backport, no-changelog

#77622 Alerting: Fix export with modifications URL when mounted on subpath
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, no-backport

#77580 Feature Management: Define HideFromAdminPage and AllowSelfServe configs
  pkg/api/featuremgmt.go
  pkg/api/featuremgmt_test.go
  pkg/services/featuremgmt/models.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen_test.go
Labels: area/backend, no-backport, no-changelog

#77603 Azure Monitor: Select all Event Types by default
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TraceTypeField.test.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TraceTypeField.tsx
Labels: area/frontend, datasource/Azure, no-backport, no-changelog

#77534 [DOC] Add videos for Tempo data source
  docs/sources/datasources/tempo/configure-tempo-data-source.md
  docs/sources/explore/trace-integration.md
  docs/sources/shared/datasources/tempo-editor-traceql.md
  docs/sources/shared/datasources/tempo-search-traceql.md
Labels: type/docs, no-changelog, backport v10.2.x

#77596 Playlist: Implement the entire API with k8s client
  pkg/api/playlist.go
  pkg/registry/apis/playlist/conversions.go
  pkg/tests/apis/helper.go
  pkg/tests/apis/playlist/playlist_test.go
Labels: area/backend, no-backport, no-changelog

#77620 Dashboards: Fix issue causing crashes when saving new dashboard
  .betterer.results
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
  public/app/features/dashboard/state/__fixtures__/dashboardFixtures.ts
Labels: type/bug, area/dashboard, area/frontend, add to changelog, backport v10.2.x

#77634 ServiceAccounts: Use `isManaged` in DTO instead of `isExternal`
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/proxy/service.go
  pkg/services/serviceaccounts/proxy/service_test.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#76965 Navigation: Hide `Undock menu` button when docked
  packages/grafana-e2e-selectors/src/selectors/components.ts
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/NavToolbar/NavToolbar.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, area/navigation, no-backport, no-changelog

#77642 [v9.4.x] Alerting: During legacy migration do not create one silence per rule
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
  pkg/services/sqlstore/migrations/ualert/silences.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: area/alerting, area/backend, add to changelog, backport, area/backend/db/migration

#77654 Update navigation e2e tests
  e2e/various-suite/navigation.spec.ts
Labels: area/frontend, area/navigation, type/e2e, no-backport, no-changelog

#77605 Swagger: Rename annotations model
  pkg/services/annotations/models.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, add to changelog, no-backport

#77631 Alerting: Avoid alert list view component being unmounted every time we fetch new data
  public/app/plugins/panel/alertlist/UnifiedAlertList.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#77386 Elasticsearch: Add error source for DataQuery
  go.sum
  pkg/tests/api/elasticsearch/elasticsearch_test.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/data_query_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/error_handling_test.go
  pkg/tsdb/elasticsearch/response_parser.go
  public/dashboards/home.json
Labels: datasource/Elasticsearch, area/backend, area/frontend, no-backport, no-changelog

#77618 Chore: type fixes
  .betterer.results
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/gfunc.ts
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/parser.ts
  public/app/plugins/datasource/graphite/state/store.ts
  public/app/plugins/datasource/graphite/utils.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/query_part.ts
  public/app/plugins/datasource/jaeger/datasource.ts
  public/app/plugins/datasource/jaeger/util.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/streaming.ts
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PrometheusMetricsBrowser.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/panel/geomap/utils/selection.ts
  public/app/plugins/panel/histogram/Histogram.tsx
  public/app/plugins/panel/nodeGraph/utils.ts
  public/app/types/templates.ts
  public/test/core/redux/mocks.ts
  public/test/core/redux/reducerTester.ts
  public/test/core/thunk/thunkTester.ts
  public/test/helpers/convertToStoreState.ts
  public/test/matchers/index.ts
  public/test/matchers/utils.ts
  public/test/mocks/workers.ts
  public/test/specs/helpers.ts
Labels: datasource/InfluxDB, datasource/Graphite, type/chore, datasource/Prometheus, area/frontend, datasource/Loki, datasource/Tempo, area/panel/histogram, area/panel/geomap, no-backport, no-changelog

#77694 Use versioned action to update `make-docs` procedure
  .github/workflows/update-make-docs.yml
Labels: type/docs, type/ci, no-changelog, backport v10.0.x, backport v10.1.x, backport v10.2.x

#77693 [v9.4.x] fix(alerting): fallback to dashboard to get the full targets
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_graphite.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_graphite_test.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#77576 Search: Modify query for better performance
  pkg/api/folder_bench_test.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/permissions/dashboard_filter_no_subquery.go
  pkg/services/sqlstore/searchstore/search_test.go
Labels: type/bug, area/backend, add to changelog, product-approved, backport v10.2.x

#76452 Feature Flag: Add pdfTables
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#77355 QueryRows: Fix being able to reorder rows with keyboard
  public/app/core/components/QueryOperationRow/QueryOperationRowHeader.tsx
Labels: area/frontend, type/accessibility, no-backport, no-changelog

#77678 Alerting: Disable cache in rktq when fetching export data.
  public/app/features/alerting/unified/api/alertRuleApi.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, no-backport

#77713 [v10.2.x] Search: Modify query for better performance
  pkg/api/folder_bench_test.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/permissions/dashboard_filter_no_subquery.go
  pkg/services/sqlstore/searchstore/search_test.go
Labels: type/bug, area/backend, add to changelog, backport, product-approved

#77705 Navigation: Report megamenu state when clicking a navigation item
  public/app/core/components/AppChrome/AppChromeService.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/utils.ts
Labels: area/frontend, area/navigation, no-backport, no-changelog

#77707 Role picker: Remove unnecessary table wrapper
  public/app/features/admin/Users/OrgUsersTable.tsx
  public/app/features/admin/Users/TableWrapper.tsx
  public/app/features/teams/TeamList.tsx
Labels: area/frontend, no-backport, no-changelog

#77710 Alerting: Do not show missing integration while loading oncall plugin status
  public/app/features/alerting/unified/components/contact-points/useContactPoints.tsx
  public/app/features/alerting/unified/components/contact-points/utils.ts
  public/app/features/alerting/unified/components/receivers/grafanaAppReceivers/useReceiversMetadata.ts
Labels: area/alerting, area/frontend, no-backport, no-changelog

#77706 instrumentation: remove live endpoints from slo
  pkg/services/live/live.go
Labels: area/instrumentation, area/backend, no-backport, no-changelog

#77672 Snapshots: Do not return internal database ids
  pkg/services/dashboardsnapshots/models.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/features/manage-dashboards/types.ts
  public/openapi3.json
Labels: area/backend, area/frontend, add to changelog, no-backport

#77716 Log Row: memoize row processing
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/utils.test.ts
Labels: type/bug, area/frontend, no-changelog, missing-labels, backport v10.2.x

#77388 Chore: Use vendored xorm instead of a fork
  go.mod
  pkg/util/xorm/dialect_mssql.go
  pkg/util/xorm/engine.go
  pkg/util/xorm/go.mod
  pkg/util/xorm/session_cols.go
  pkg/util/xorm/xorm.go
Labels: area/backend, no-backport, no-changelog

#77732 PanelInspector: Always use the latest panel data
  public/app/features/dashboard/components/Inspector/PanelInspector.tsx
Labels: type/bug, area/frontend, panel/inspect, no-changelog, backport v10.2.x

#77734 Chore: Update google.golang.org/grpc
  go.mod
Labels: no-backport, no-changelog

#77730 Teams: Search by team ids
  pkg/services/team/model.go
  pkg/services/team/teamapi/team.go
  pkg/services/team/teamimpl/store.go
  pkg/services/team/teamimpl/store_test.go
Labels: area/backend, area/teams, no-backport, no-changelog

#77471 Chore: Deprecate FolderID in LibraryElementDTO
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/model/model.go
  pkg/services/librarypanels/librarypanels_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#77472 Chore: Deprecate FolderID in PatchLibraryElementCommand
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/libraryelements_patch_test.go
  pkg/services/libraryelements/libraryelements_permissions_test.go
  pkg/services/libraryelements/model/model.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#77473 Chore: Deprecate FolderID in libraryElement struct in tests
  pkg/services/libraryelements/libraryelements_create_test.go
  pkg/services/libraryelements/libraryelements_get_all_test.go
  pkg/services/libraryelements/libraryelements_get_test.go
  pkg/services/libraryelements/libraryelements_patch_test.go
  pkg/services/libraryelements/libraryelements_test.go
Labels: area/backend, no-backport, no-changelog

#77626 Chore: Deprecate FolderId in DashboardMeta
  pkg/api/dashboard.go
  pkg/api/dtos/dashboard.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#77627 Chore: Deprecate FolderId in ImportDashboardRequest and ImportDashboardResponse
  pkg/services/dashboardimport/dashboardimport.go
  pkg/services/dashboardimport/service/service.go
  pkg/services/dashboardimport/service/service_test.go
  pkg/services/plugindashboards/service/dashboard_updater.go
  pkg/services/plugindashboards/service/dashboard_updater_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#77643 Chore: Create `newVizTooltips` feature flag
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, type/chore, area/backend, area/frontend, no-backport, no-changelog

#77720 Update _index.md - adding new unified_alerting parameters
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, no-changelog, backport v10.1.x, backport v10.2.x

#77316 Prometheus: Remove unsupported browser access mode related code
  .betterer.results
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
  public/app/plugins/datasource/prometheus/configuration/mocks.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/query_hints.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.test.tsx
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#75311 Geomap: Add more countries ISO 3166 Alpha-3-code to the gazetteer/countries.json
  public/gazetteer/countries.json
Labels: area/frontend, add to changelog, pr/external, area/panel/geomap, no-backport

#77749 Chore: Reassign some code ownership
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#77760 InfluxDB: Fix query call with flux and sql when backend migration disbaled
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, backport v10.2.x

#77676 Tooltip: Fixes tooltip positioning when using lazy content
  packages/grafana-ui/src/components/Tooltip/Tooltip.story.tsx
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Labels: area/frontend, no-backport, no-changelog

#76255 Sandbox: Patch history.replaceState to make it work inside the sandbox
  public/app/features/plugins/sandbox/distortion_map.ts
  public/app/features/plugins/sandbox/document_sandbox.ts
  public/app/features/plugins/sandbox/sandbox_plugin_loader.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#77198 Tempo: Update the traces data in the testdata data source
  public/app/plugins/datasource/grafana-testdata-datasource/datasource.ts
Labels: type/chore, area/frontend, datasource/Tempo, no-backport, no-changelog

#77701 Tempo: Update tag in span based on Pyroscope API
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/plugins/datasource/tempo/resultTransformer.ts
Labels: area/explore, area/frontend, area/datasource/frontend, area/tracing, datasource/Tempo, no-backport, no-changelog, datasource/grafana-pyroscope

#77755 Fix incorrect example for PanelURL in template docs
  docs/sources/alerting/manage-notifications/template-notifications/reference.md
Labels: type/docs, area/alerting, no-changelog, backport v10.0.x, backport v10.1.x, backport v10.2.x

#77700 Table: Fix `no data` message alignment and table selector name
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-ui/src/components/Table/Table.tsx
Labels: area/frontend, no-backport, no-changelog

#77637 Provisioning: Set `dashboard.folder_uid` column for provisioned dashboards
  pkg/services/provisioning/dashboards/file_reader.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/types.go
  pkg/services/provisioning/dashboards/validator_test.go
Labels: type/bug, area/backend, no-backport, no-changelog

#77062 ShareModal: Implement panel embed tab for scenes
  public/app/features/dashboard-scene/sharing/ShareModal.tsx
  public/app/features/dashboard-scene/sharing/SharePanelEmbedTab.tsx
  public/app/features/dashboard/components/ShareModal/ShareEmbed.tsx
  public/app/features/dashboard/components/ShareModal/utils.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, no-backport, no-changelog, area/scenes

#77708 Logs: Update logic to process logs dataPlane frame with labels field
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/testdata_dataplane/streams_parse_errors.golden.jsonc
  pkg/tsdb/loki/testdata_dataplane/streams_simple.golden.jsonc
  pkg/tsdb/loki/testdata_logs_dataplane/streams_parse_errors.golden.jsonc
  pkg/tsdb/loki/testdata_logs_dataplane/streams_simple.golden.jsonc
  public/app/features/explore/Logs/LogsTable.test.tsx
  public/app/features/explore/Logs/LogsTable.tsx
  public/app/features/explore/Logs/LogsTableWrap.tsx
  public/app/features/explore/Logs/utils/testMocks.test.ts
  public/app/features/logs/components/logParser.test.ts
  public/app/features/logs/legacyLogsFrame.ts
  public/app/features/logs/logsFrame.test.ts
  public/app/features/logs/logsFrame.ts
  public/app/features/logs/logsModel.ts
  public/app/features/logs/logsModel_parse.test.ts
Labels: area/backend, area/explore, area/frontend, datasource/Loki, add to changelog, missing-labels, backport v10.1.x, backport v10.2.x

#76012 Docs: Invert logo color for dark theme in README
  README.md
  docs/logo-horizontal-dark.png
Labels: type/docs, pr/external, no-backport, no-changelog

#77390 Alerting: Adds contact point sorting and searching
  public/app/features/alerting/unified/components/contact-points/ContactPoints.v2.test.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.v2.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPointsFilter.tsx
  public/app/features/alerting/unified/components/contact-points/__mocks__/grafanaManagedServer.ts
  public/app/features/alerting/unified/components/contact-points/__mocks__/mimirFlavoredServer.ts
  public/app/features/alerting/unified/components/contact-points/__snapshots__/useContactPoints.test.tsx.snap
  public/app/features/alerting/unified/components/contact-points/useContactPoints.test.tsx
  public/app/features/alerting/unified/components/contact-points/useContactPoints.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.test.tsx
  public/app/features/alerting/unified/mockApi.ts
  public/app/plugins/panel/alertlist/UnifiedalertList.test.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport, add to what's new

#77773 Plugins: Bump go plugin sdk to 0.191.0
  go.mod
  go.sum
Labels: area/plugins, area/backend, dependencies, no-backport, no-changelog

#77779 [v9.4.x] fix(alerting): fallback to dashboard to get the full targets…
  pkg/services/sqlstore/migrations/ualert/alert_rule_graphite.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
Labels: area/backend, backport, area/backend/db/migration, no-changelog

#77434 Correlations: Fix incorrect state transitions in transformations editor
  .betterer.results
  public/app/features/correlations/Forms/TransformationEditorRow.tsx
  public/app/features/correlations/Forms/TransformationsEditor.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#77785 Plugins: Only track metrics for grafana packages and core packages
  public/app/features/plugins/loader/packageMetrics.test.ts
  public/app/features/plugins/loader/packageMetrics.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog

#77789 Docs: Remove expectations and old discussion link
  docs/sources/dashboards/dashboard-public/index.md
Labels: type/docs, no-backport, no-changelog

#77468 Logs Panel: Table UI - Add time and body fields to column selection in logs table visualization
  public/app/features/explore/Logs/LogsTable.tsx
  public/app/features/explore/Logs/LogsTableNavColumn.tsx
  public/app/features/explore/Logs/LogsTableWrap.test.tsx
  public/app/features/explore/Logs/LogsTableWrap.tsx
Labels: type/feature-request, area/explore, area/frontend, area/panel/logs, no-backport, no-changelog

#77777 Transformations: Convert calculate field transformer editor to functional component
  .betterer.results
  public/app/features/transformers/editors/CalculateFieldTransformerEditor.tsx
Labels: type/refactor, area/frontend, no-backport, no-changelog

#77649 Chore: Deprecate folderIDs from testCases
  pkg/services/dashboards/database/database_test.go
Labels: area/backend, no-backport, no-changelog

#77624 Chore: Deprecate FolderIds in Query
  pkg/api/alerting.go
  pkg/api/folder.go
  pkg/api/search.go
  pkg/services/search/service.go
Labels: area/backend, no-backport, no-changelog

#77623 Chore: Deprecate FolderID in Hit
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/search/model/model.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#77766 Stars: Remove sqlx storage implementation
  pkg/services/star/starimpl/sqlx_store.go
  pkg/services/star/starimpl/sqlx_store_test.go
  pkg/services/star/starimpl/star.go
Labels: type/chore, area/backend, no-backport, no-changelog

#77561 BrowseDashboards: Add `RadioButtonGroup` to be able to chose between 'Browse' or 'List' view
  public/app/features/browse-dashboards/components/BrowseFilters.tsx
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/state/SearchStateManager.test.ts
  public/app/features/search/state/SearchStateManager.ts
Labels: area/frontend, add to changelog, no-backport

#77653 Logs Panel: Table UI - Query with few rows renders short table
  public/app/features/explore/Logs/LogsTableWrap.tsx
Labels: area/explore, area/frontend, area/panel/logs, no-backport, no-changelog

#77768 Grafana/ui: Unify flex shorthand props
  packages/grafana-ui/src/components/Layout/Box/Box.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.story.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.tsx
  packages/grafana-ui/src/components/Layout/types.ts
  public/app/features/dashboard/dashgrid/DashboardEmpty.tsx
Labels: area/frontend, add to changelog, no-backport

#77780 Alerting: Attempt to fix flakey selector
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#74052 Transformations: Build help content for all standard transformers
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  e2e/panels-suite/panelEdit_base.spec.ts
  public/app/core/components/QueryOperationRow/OperationRowHelp.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationEditorHelperModal.test.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationEditorHelperModal.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRows.tsx
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.tsx
  public/app/features/transformers/calculateHeatmap/HeatmapTransformerEditor.tsx
  public/app/features/transformers/configFromQuery/ConfigFromQueryTransformerEditor.tsx
  public/app/features/transformers/docs/content.ts
  public/app/features/transformers/docs/getTransformationContent.ts
  public/app/features/transformers/editors/CalculateFieldTransformerEditor.tsx
  public/app/features/transformers/editors/ConcatenateTransformerEditor.tsx
  public/app/features/transformers/editors/ConvertFieldTypeTransformerEditor.tsx
  public/app/features/transformers/editors/FilterByNameTransformerEditor.tsx
  public/app/features/transformers/editors/FilterByRefIdTransformerEditor.tsx
  public/app/features/transformers/editors/FormatTimeTransformerEditor.tsx
  public/app/features/transformers/editors/GroupByTransformerEditor.tsx
  public/app/features/transformers/editors/GroupingToMatrixTransformerEditor.tsx
  public/app/features/transformers/editors/HistogramTransformerEditor.tsx
  public/app/features/transformers/editors/JoinByFieldTransformerEditor.tsx
  public/app/features/transformers/editors/LabelsToFieldsTransformerEditor.tsx
  public/app/features/transformers/editors/LimitTransformerEditor.tsx
  public/app/features/transformers/editors/MergeTransformerEditor.tsx
  public/app/features/transformers/editors/OrganizeFieldsTransformerEditor.tsx
  public/app/features/transformers/editors/ReduceTransformerEditor.tsx
  public/app/features/transformers/editors/RenameByRegexTransformer.tsx
  public/app/features/transformers/editors/SeriesToRowsTransformerEditor.tsx
  public/app/features/transformers/editors/SortByTransformerEditor.tsx
  public/app/features/transformers/extractFields/ExtractFieldsTransformerEditor.tsx
  public/app/features/transformers/joinByLabels/JoinByLabelsTransformerEditor.tsx
  public/app/features/transformers/lookupGazetteer/FieldLookupTransformerEditor.tsx
  public/app/features/transformers/partitionByValues/PartitionByValuesEditor.tsx
  public/app/features/transformers/prepareTimeSeries/PrepareTimeSeriesEditor.tsx
  public/app/features/transformers/rowsToFields/RowsToFieldsTransformerEditor.tsx
  public/app/features/transformers/spatial/SpatialTransformerEditor.tsx
  public/app/features/transformers/timeSeriesTable/TimeSeriesTableTransformEditor.tsx
Labels: type/docs, area/frontend, area/transformations, no-backport, no-changelog, internal
