Repository grafana/grafana, pull requests merged in 2023-05, with the labels that each got.

#67222 CloudWatch: Deprecate dynamic labels feature toggle, remove support for Alias in frontend
  .betterer.results
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/Alias.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/migrations/metricQueryMigrations.test.ts
  public/app/plugins/datasource/cloudwatch/migrations/metricQueryMigrations.ts
  public/app/plugins/datasource/cloudwatch/migrations/useMigratedMetricsQuery.test.ts
Labels: datasource/CloudWatch, area/frontend, add to changelog, no-backport

#67552 Datasource: Move the Delete data source button back to the bottom
  .betterer.results
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/datasources/components/ButtonRow.test.tsx
  public/app/features/datasources/components/ButtonRow.tsx
  public/app/features/datasources/components/EditDataSource.tsx
  public/app/features/datasources/components/EditDataSourceActions.tsx
Labels: area/frontend, area/grafana/ui, area/datasource, area/datasource/frontend, javascript, no-backport, no-changelog

#66918 Alert: Redesign with tinted background
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-data/src/themes/palette.ts
  packages/grafana-ui/src/components/Alert/Alert.tsx
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.tsx
  public/app/features/live/LiveConnectionWarning.tsx
Labels: area/backend, area/frontend, add to changelog, no-backport

#67451 Alerting: Mention title of alert rule that caused migration to fail
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: area/backend, area/backend/db/migration, area/alerting-legacy, no-backport, no-changelog

#67589 Alert: Fixes a minor issue with new Alert design and updated scss files
  packages/grafana-ui/src/components/Alert/Alert.tsx
  packages/grafana-ui/src/components/Alert/InlineBanner.story.tsx
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
Labels: area/frontend, no-backport, no-changelog

#67592 Alert: Remove fix for custom content close button
  packages/grafana-ui/src/components/Alert/Alert.tsx
Labels: area/frontend, no-backport, no-changelog

#67593 docs: nav updates for assess dashboards topic
  docs/sources/dashboards/assess-dashboard-usage/index.md
Labels: type/docs, no-changelog, backport v9.5.x

#67594 docs: add link to dashboard insights page
  docs/sources/dashboards/use-dashboards/index.md
Labels: type/docs, no-changelog, backport v9.5.x

#67568 Add Grafana Free as supporting Enterprise features
  docs/sources/introduction/grafana-enterprise.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x

#67598 fixed merge conflict for backport
  docs/sources/dashboards/assess-dashboard-usage/index.md
Labels: type/docs, backport, no-changelog

#67596 docs: reverse what's new order in TOC
  docs/sources/whatsnew/whats-new-in-v9-3.md
  docs/sources/whatsnew/whats-new-in-v9-4.md
  docs/sources/whatsnew/whats-new-in-v9-5.md
Labels: type/docs, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, backport v9.5.x

#67244 GH Issues: replace markdown-based Bug Report form w/ YAML-based form
  .github/ISSUE_TEMPLATE/0-bug-report.yaml
  .github/ISSUE_TEMPLATE/1-bug_report.md
  .github/ISSUE_TEMPLATE/1-staff_issues.md
Labels: no-backport, no-changelog

#67084 Prometheus: Metric encyclopedia improvements
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricEncyclopediaModal.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderContainer.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/FeedbackLink.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/LetterSearch.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/MetricsModal.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/MetricsModal.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/ResultsTable.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/state/helpers.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/state/state.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/styles.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/types.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/uFuzzy.ts
  public/app/plugins/datasource/prometheus/querybuilder/types.ts
  public/app/plugins/datasource/prometheus/types.ts
Labels: datasource/Prometheus, area/frontend, onboarding, no-backport, no-changelog, interview-generated

#67605 [9.4.x] docs: reverse what's new order in TOC
  docs/sources/whatsnew/whats-new-in-v9-3.md
  docs/sources/whatsnew/whats-new-in-v9-4.md
Labels: type/docs, backport, no-changelog

#67569 DataFrame: Deprecate MutableDataFrame
  .betterer.results
  packages/grafana-data/src/dataframe/MutableDataFrame.ts
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.ts
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.test.tsx
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/transformers/groupingToMatrix.ts
  packages/grafana-data/src/utils/flotPairs.test.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.test.ts
  packages/grafana-ui/src/components/GraphNG/nullInsertThreshold.test.ts
  packages/grafana-ui/src/components/GraphNG/nullToValue.test.ts
  public/app/plugins/datasource/loki/LogContextProvider.test.ts
  public/app/plugins/datasource/loki/getDerivedFields.test.ts
  public/app/plugins/datasource/mssql/datasource.test.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/datasource.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/graphTransform.test.ts
  public/app/plugins/datasource/tempo/resultTransformer.test.ts
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
  public/app/plugins/datasource/zipkin/datasource.ts
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.test.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraphMetadata.test.ts
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraphTooltip.test.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/dataTransform.test.ts
  public/app/plugins/panel/flamegraph/components/FlameGraph/rendering.test.ts
  public/app/plugins/panel/flamegraph/components/FlameGraphContainer.test.tsx
  public/app/plugins/panel/flamegraph/components/TopTable/FlameGraphTopTableContainer.test.tsx
  public/app/plugins/panel/logs/LogsPanel.test.tsx
  public/app/plugins/panel/nodeGraph/utils.test.ts
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.test.tsx
  public/app/plugins/panel/timeseries/utils.test.ts
Labels: datasource/Prometheus, datasource/MySQL, datasource/Postgres, datasource/MSSQL, area/frontend, datasource/Loki, area/dataframe, datasource/Zipkin, datasource/Tempo, no-backport, no-changelog

#67607 [9.3.x] docs: reverse what's new order in TOC
  docs/sources/whatsnew/whats-new-in-v9-3.md
Labels: type/docs, backport, no-changelog

#67397 Elastic: Create legacy runner for proxy queries
  .betterer.results
  public/app/plugins/datasource/elasticsearch/LegacyQueryRunner.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: datasource/Elasticsearch, type/refactor, area/frontend, no-backport, no-changelog

#67371 CloudWatch: Remove dynamic labels feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/cloudwatch/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/migrations/metricQueryMigrations.test.ts
  public/app/plugins/datasource/cloudwatch/migrations/useMigratedMetricsQuery.test.ts
Labels: type/docs, datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport

#66813 Connections: Simplify connections nav
  pkg/api/api.go
  pkg/services/navtree/navtreeimpl/applinks_test.go
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/connections/Connections.test.tsx
  public/app/features/connections/Connections.tsx
  public/app/features/connections/__mocks__/store.navIndex.mock.ts
  public/app/features/connections/constants.ts
  public/app/features/connections/hooks/useDataSourceSettingsNav.ts
  public/app/features/connections/pages/AddNewConnectionPage.tsx
  public/app/features/connections/pages/ConnectDataPage.tsx
  public/app/features/connections/pages/DataSourceDetailsPage.tsx
  public/app/features/connections/pages/DataSourcesListPage.tsx
  public/app/features/connections/pages/NewDataSourcePage.tsx
  public/app/features/connections/pages/index.tsx
  public/app/features/connections/tabs/ConnectData/ConnectData.test.tsx
  public/app/features/connections/tabs/ConnectData/ConnectData.tsx
  public/app/features/connections/tabs/ConnectData/NoAccessModal/NoAccessModal.tsx
  public/app/features/datasources/components/DataSourceCategories.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: area/backend, area/frontend, add to changelog, product-approved, backport v10.0.x

#67493 Frontend logging: Remove Sentry javascript agent support
  .github/renovate.json5
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  go.mod
  go.sum
  package.json
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/package.json
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/services/EchoSrv.ts
  packages/grafana-runtime/src/utils/logging.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.tsx
  pkg/api/dtos/frontend_settings.go
  pkg/api/dtos/index.go
  pkg/api/frontend_logging.go
  pkg/api/frontend_logging_test.go
  pkg/api/frontendlogging/grafana_javascript_agent.go
  pkg/api/frontendlogging/grafana_javascript_agent_sourcemaps.go
  pkg/api/frontendlogging/sentry.go
  pkg/api/frontendlogging/source_maps.go
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/setting/setting.go
  pkg/setting/setting_grafana_javascript_agent.go
  pkg/setting/setting_sentry.go
  public/app/app.ts
  public/app/core/services/echo/EchoSrv.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.test.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.ts
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.test.ts
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.ts
  public/app/core/services/echo/backends/sentry/transports/EchoSrvTransport.ts
  public/app/core/services/echo/backends/sentry/types.ts
  public/app/features/alerting/unified/Analytics.ts
  yarn.lock
Labels: type/docs, area/backend, area/frontend, add to changelog, breaking change, no-backport

#67337 NestedFolders: Indicate when folders have mixed-selection children
  public/app/features/browse-dashboards/BrowseDashboardsPage.test.tsx
  public/app/features/browse-dashboards/components/BrowseView.test.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/CheckboxHeaderCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.test.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/state/hooks.ts
  public/app/features/browse-dashboards/state/reducers.test.ts
  public/app/features/browse-dashboards/state/reducers.ts
  public/app/features/browse-dashboards/types.ts
Labels: area/frontend, no-backport, no-changelog

#67423 NestedFolders: Add empty states for Browse and Search
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/browse-dashboards/state/hooks.test.ts
  public/app/features/browse-dashboards/state/hooks.ts
  public/app/features/browse-dashboards/state/reducers.ts
  public/app/features/browse-dashboards/state/slice.ts
  public/app/features/browse-dashboards/types.ts
  public/app/features/search/state/SearchStateManager.ts
Labels: area/frontend, no-changelog, product-approved, backport v10.0.x

#67643 fix shadow log in service accounts
  pkg/services/serviceaccounts/manager/service.go
Labels: type/bug, area/backend, no-changelog, backport v10.0.x

#67647 Authentication UI: Remove auth settings
  public/app/features/auth-config/AuthConfigPage.tsx
  public/app/features/auth-config/utils.ts
Labels: area/frontend, no-changelog, product-approved, backport v10.0.x

#61086 Docs, update README to explain local build
  docs/README.md
Labels: type/docs, no-backport, no-changelog

#67597 docs: move misplaced Configure legend page
  docs/sources/panels-visualizations/configure-legend/index.md
Labels: type/docs, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#67666 Search: Fix Folder View not loading dashboards
  public/app/features/search/state/SearchStateManager.ts
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#67648 Nested folders: hook up move/delete logic properly
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/BrowseActions/BrowseActions.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/state/actions.ts
  public/app/features/browse-dashboards/state/hooks.ts
  public/app/features/browse-dashboards/state/reducers.ts
  public/app/features/browse-dashboards/state/utils.ts
  public/app/features/search/service/folders.ts
Labels: area/frontend, no-changelog, product-approved, backport v10.0.x

#67416 NestedFolders: Use new Browse Dashboards UI behind feature flag
  pkg/api/api.go
  public/app/features/browse-dashboards/components/NameCell.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/routes/routes.tsx
Labels: area/backend, area/frontend, add to changelog, product-approved, backport v10.0.x

#67642 chore: fix link to docs
  public/app/features/datasources/components/DataSourcesList.tsx
  public/app/features/explore/NoDataSourceCallToAction.tsx
Labels: type/bug, area/explore, area/frontend, no-changelog, backport v10.0.x

#67663 Create 8-Saga_contribution.yaml
  .github/ISSUE_TEMPLATE/8-Saga_contribution.yaml
Labels: no-backport, no-changelog

#67674 docs: add nav and users info for public dashboards
  docs/sources/dashboards/dashboard-public/index.md
Labels: type/docs, no-changelog, backport v10.0.x

#67677 Nested folders: hook up `getAffectedItems` to the backend count route
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/BrowseActions/MoveModal.test.tsx
  public/app/features/browse-dashboards/state/actions.ts
  public/app/types/folders.ts
Labels: area/frontend, no-changelog, area/manage-dashboards, product-approved, backport v10.0.x

#67695 Alerting: Fix bottom links(useful links) at contact points fundamentals page
  docs/sources/alerting/fundamentals/contact-points/index.md
Labels: type/bug, type/docs, area/alerting, area/frontend, no-backport, no-changelog

#67662 Connections: Rename "Your data source" to "Data source" page
  pkg/api/api.go
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/connections/Connections.test.tsx
  public/app/features/connections/__mocks__/store.navIndex.mock.ts
  public/app/features/connections/constants.ts
  public/app/features/connections/hooks/useDataSourceSettingsNav.ts
  public/app/features/connections/pages/DataSourcesListPage.tsx
  public/app/features/connections/pages/NewDataSourcePage.tsx
  public/app/features/connections/tabs/ConnectData/NoAccessModal/NoAccessModal.tsx
Labels: area/backend, area/frontend, no-changelog, product-approved, backport v10.0.x

#67664 PluginCatalog: Update message about insufficient permissions
  public/app/features/plugins/admin/components/InstallControls/InstallControlsWarning.tsx
Labels: type/bug, area/frontend, area/plugins-catalog, no-changelog, backport v10.0.x

#67696 grafana-data: improved field-config docs
  packages/grafana-data/src/types/dataFrame.ts
Labels: area/frontend, no-backport, no-changelog

#67253 Docs: Add callout for variables behavior with classic conditions
  docs/sources/alerting/fundamentals/annotation-label/variables-label-annotation.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#67685 [9.5.x] Alerting: Update grafana/alerting to ce9fba9
  go.mod
  go.sum
Labels: area/backend, backport, no-changelog

#67712 RBAC: remove rbac disabled from preferences tests
  pkg/api/preferences_test.go
Labels: area/backend, no-backport, no-changelog

#67517 Gauge: Set min and max for percent unit
  public/app/plugins/panel/gauge/GaugePanel.tsx
Labels: type/bug, area/frontend, add to changelog, backport v10.0.x

#67705 CI: Fix broken nightly builds
  pkg/build/gcloud/storage/gsutil.go
Labels: area/backend, type/ci, no-backport, no-changelog

#67684 Alerting: Allow to tab onto elements for a11y
  public/app/features/alerting/unified/components/HoverCard.tsx
  public/app/features/alerting/unified/components/Tokenize.tsx
  public/app/features/alerting/unified/components/rules/RulesFilter.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#67711 Plugins: Remove dead CLI code and use pkg/plugins for uninstall process
  pkg/cmd/grafana-cli/commands/cli.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/remove_command.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command.go
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/cmd/grafana-cli/services/api_client.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/cmd/grafana-cli/utils/command_line.go
Labels: type/chore, area/backend, no-backport, no-changelog

#67722 InfluxDB: Fix querying retention policies on flux mode
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, backport v9.4.x, backport v9.5.x

#67172 Update index.md
  docs/sources/setup-grafana/configure-grafana/settings-updates-at-runtime/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x

#67734 Page: Remove toolbar prop as it's no longer needed
  public/app/core/components/Page/Page.tsx
  public/app/core/components/Page/types.ts
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/PublicDashboardPage.tsx
  public/app/features/scenes/dashboard/DashboardScene.tsx
Labels: area/frontend, no-backport, no-changelog

#67707 Maintain column widths when deleting columns
  public/app/plugins/panel/datagrid/state.ts
Labels: type/bug, area/frontend, no-changelog, area/panel/datagrid, backport v10.0.x

#67742 Alerting: Fix export button variant
  public/app/features/alerting/unified/RuleList.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, missing-labels, backport v10.0.x

#67559 docs: add semi relative time ranges
  docs/sources/dashboards/use-dashboards/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#67735 PageHeader: Set h1 style from wrapping element
  public/app/core/components/Page/PageHeader.tsx
Labels: area/frontend, no-changelog, product-approved, backport v10.0.x

#66117 Explore: move panes into a keyed object
  .betterer.results
  packages/grafana-data/src/types/explore.ts
  public/app/core/utils/explore.test.ts
  public/app/features/explore/AddToDashboard/index.test.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExplorePage.tsx
  public/app/features/explore/ExplorePaneContainer.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/NodeGraphContainer.test.tsx
  public/app/features/explore/NodeGraphContainer.tsx
  public/app/features/explore/QueryRows.test.tsx
  public/app/features/explore/RawPrometheusContainer.test.tsx
  public/app/features/explore/RawPrometheusContainer.tsx
  public/app/features/explore/ResponseErrorContainer.test.tsx
  public/app/features/explore/ResponseErrorContainer.tsx
  public/app/features/explore/RichHistory/RichHistory.test.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.test.tsx
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
  public/app/features/explore/RichHistory/RichHistoryContainer.test.tsx
  public/app/features/explore/RichHistory/RichHistoryContainer.tsx
  public/app/features/explore/RichHistory/RichHistoryStarredTab.test.tsx
  public/app/features/explore/TableContainer.test.tsx
  public/app/features/explore/TableContainer.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
  public/app/features/explore/state/datasource.ts
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/helpers.ts
  public/app/features/explore/state/history.ts
  public/app/features/explore/state/main.test.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/selectors.ts
  public/app/features/explore/state/time.test.ts
  public/app/features/explore/state/time.ts
  public/app/types/explore.ts
Labels: type/refactor, area/explore, area/frontend, no-backport, levitate breaking change, no-changelog

#67759 [v9.3.x] docs: add semi relative time ranges
  docs/sources/dashboards/use-dashboards/index.md
Labels: type/docs, backport, no-changelog

#67687 Link to config exemplars leads goes to top of page
  docs/sources/fundamentals/exemplars/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x

#67679 Elasticsearch: Run version check thorugh backend if enableElasticsearchBackendQuerying enabled
  pkg/tsdb/elasticsearch/elasticsearch.go
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: type/tech, datasource/Elasticsearch, area/backend, area/frontend, no-backport, no-changelog

#67699 Theme: Change dark theme borders to improve contrast on primary background
  packages/grafana-data/src/themes/createColors.ts
  public/sass/_variables.dark.generated.scss
Labels: area/frontend, add to changelog, backport, backport v10.0.x

#67744 Cloudwatch: Fix description of plugin
  public/app/plugins/datasource/cloudwatch/README.md
Labels: type/bug, datasource/CloudWatch, area/frontend, no-changelog, backport v10.0.x

#67341 adding backup ubuntu mirrors into Dockerfile
  Dockerfile
Labels: type/build-packaging, no-backport, no-changelog

#66991 CI: Add rgm to drone
  .drone.star
  .drone.yml
  scripts/drone/rgm.star
  scripts/drone/vault.star
Labels: type/ci, no-backport, no-changelog

#67778 CI: set RGM deps on main merge not on tag
  .drone.yml
  scripts/drone/rgm.star
Labels: type/ci, no-backport, no-changelog

#67646 AzureMonitor: Update Azure E2E test
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
Labels: type/bug, type/chore, area/frontend, datasource/Azure, no-changelog, backport v10.0.x

#67780 rolling back sed command to add ubuntu mirrors
  Dockerfile
Labels: type/build-packaging, no-backport, no-changelog

#67792 Canvas: Add gdev dashboard for connections
  devenv/dev-dashboards/panel-canvas/canvas-connection-examples.json
  devenv/jsonnet/dev-dashboards.libsonnet
Labels: area/panel/canvas, no-backport, no-changelog

#67752 [v10.0.x] Chore: Upgrade Go to 1.20.4
  .drone.yml
  Dockerfile
  Makefile
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: type/docs, type/build-packaging, area/backend, area/explore, area/frontend, backport, type/ci, no-changelog

#67757 [v9.5.x] Chore: Upgrade Go to 1.20.4
  .drone.yml
  Dockerfile
  Makefile
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#67762 [v9.3.x] Chore: Upgrade Go to 1.20.4
  .drone.yml
  Dockerfile
  Makefile
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#67761 [v9.2.x] Chore: Upgrade Go to 1.20.4
  .drone.yml
  Dockerfile
  Makefile
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#67746 RBAC: Do not search for parents of the root folder
  pkg/services/dashboards/accesscontrol.go
Labels: type/bug, area/backend, no-changelog, product-approved, backport v10.0.x

#57926 ServiceAccounts: Add secret scan service docs
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/secret-scan.md
Labels: type/docs, add to changelog, enterprise-failed, backport v10.0.x

#67723 Plugins: Tidy up CLI code
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/commandstest/fake_api_client.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/listremote_command.go
  pkg/cmd/grafana-cli/commands/listversions_command.go
  pkg/cmd/grafana-cli/commands/ls_command.go
  pkg/cmd/grafana-cli/commands/ls_command_test.go
  pkg/cmd/grafana-cli/commands/remove_command.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command.go
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/cmd/grafana-cli/services/api_client.go
Labels: area/plugins, type/chore, area/grafana-cli, area/backend, no-backport, no-changelog

#67786 NestedFolders: Fetch access control metadata for folder view
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#66095 BackendSrv: Restructure response stream to resolve a retried request correctly
  .betterer.results
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
Labels: area/frontend, no-backport, no-changelog

#67422 Improve empty state when no ds picker were found
  lerna.json
  public/app/features/datasources/components/picker/AddNewDataSourceButton.tsx
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
  public/app/features/datasources/components/picker/DataSourceList.tsx
  public/app/features/datasources/components/picker/DataSourceModal.tsx
Labels: area/backend, area/frontend, area/datasource, no-changelog, missing-labels, backport v10.0.x

#67817 [v8.5.x] Chore: Upgrade Go to 1.19.9
  .drone.yml
  Dockerfile
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#67802 Connections: Fix create new datasource route
  public/app/features/connections/Connections.tsx
Labels: type/bug, area/frontend, area/datasource, no-changelog, backport v10.0.x

#65614 TraceToLogs: Enable trace-to-log feature for cloud-logging-data-source-plugin
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
Labels: area/explore, area/frontend, pr/external, area/tracing, no-backport, no-changelog

#67787 Alerting: Use standard validation/error pattern on group selection
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v10.0.x

#63382 grafana-mixin: Fix expression for GrafanaRequestsFailing alert
  grafana-mixin/alerts/alerts.libsonnet
Labels: area/instrumentation, pr/external, no-backport, no-changelog

#67708 Navigation: more nav interface cleanup
  packages/grafana-data/src/types/navModel.ts
  public/app/core/components/PageHeader/PageHeader.test.tsx
  public/app/core/components/PageHeader/PageHeader.tsx
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/admin/UserAdminPage.tsx
  public/app/features/admin/UserCreatePage.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerLayout.tsx
  public/app/features/alerting/unified/hooks/useSilenceNavData.test.tsx
  public/app/features/alerting/unified/hooks/useSilenceNavData.ts
  public/app/features/datasources/__mocks__/store.navIndex.mock.ts
  public/app/features/datasources/state/navModel.ts
  public/app/features/folders/components/NewDashboardsFolder.tsx
  public/app/features/folders/state/navModel.ts
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/org/NewOrgPage.tsx
  public/app/features/plugins/admin/hooks/usePluginDetailsTabs.tsx
  public/app/features/serviceaccounts/ServiceAccountPage.tsx
  public/app/features/teams/CreateTeam.tsx
  public/app/features/teams/state/navModel.ts
Labels: type/chore, area/frontend, area/navigation, no-backport, no-changelog

#67827 InfluxDB: Fix adding FROM statement when the measurement is an empty string
  public/app/plugins/datasource/influxdb/query_builder.ts
  public/app/plugins/datasource/influxdb/specs/query_builder.test.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, backport v9.4.x, backport v9.5.x

#67830 Alerting: Change order of buttons bellow payload data editor
  public/app/features/alerting/unified/components/receivers/PayloadEditor.tsx
  public/app/features/alerting/unified/components/receivers/form/GenerateAlertDataModal.tsx
Labels: type/bug, area/backend/api, area/frontend, no-changelog, backport v10.0.x

#67833 Alerting: Fix "show all instances"
  public/app/features/alerting/unified/components/rules/RuleDetailsMatchingInstances.test.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsMatchingInstances.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v10.0.x

#67838 All: Remove make gen-cue from main dev flow
  Makefile
Labels: type/build-packaging, no-backport, no-changelog, area/kindsys

#67799 Alerting: Fix action buttons label and placement in several views following standard and being consistent with the rest of the ui
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/components/admin/ConfigEditor.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/notification-policies/Modals.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.test.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/test/helpers/alertingRuleEditor.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v10.0.x

#67067 add types for parser
  .betterer.results
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/parser.ts
  public/app/plugins/datasource/graphite/specs/parser.test.ts
Labels: datasource/Graphite, type/chore, area/frontend, no-backport, no-changelog

#67841 [Docs v9.3]: Manual backport - Link to config exemplars leads goes to top of page (#67687)
  docs/sources/fundamentals/exemplars/index.md
Labels: type/docs, backport, no-changelog

#67856 [Docs v9.4x] Manual backport - Link to config exemplars leads goes to top of page (#67687)
  docs/sources/fundamentals/exemplars/index.md
Labels: type/docs, backport, no-changelog

#67857 [Docs v9.5x] Backport 67687 to v9.5.x
  docs/sources/fundamentals/exemplars/index.md
Labels: type/docs, backport, no-changelog

#67865 [v9.4.x] docs: fix create dashboard steps
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/getting-started/build-first-dashboard.md
Labels: type/docs, backport, no-changelog

#67767 Elasticsearch: Fix processing of logs with not-recognized time format
  devenv/docker/blocks/elastic/data/data.js
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/testdata_request/logs.request.line1.json
  pkg/tsdb/elasticsearch/testdata_response/logs.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/logs.response.json
Labels: type/bug, datasource/Elasticsearch, area/backend, add to changelog, backport v10.0.x

#67604 Grafana: Upgrades mysql images from 5.7 to 8
  .drone.yml
  devenv/docker/blocks/mysql/.env
  devenv/docker/blocks/mysql_tests/.env
  devenv/docker/blocks/mysql_tests/Dockerfile
  devenv/docker/ha-test-unified-alerting/docker-compose.yaml
  devenv/docker/ha_test/docker-compose.yaml
  scripts/drone/events/release.star
  scripts/drone/pipelines/integration_tests.star
  scripts/drone/services/services.star
  scripts/drone/steps/lib.star
Labels: area/frontend, add to changelog, type/ci, no-backport

#67793 docs: Canvas: Update docs for v10
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Labels: type/docs, area/panel/canvas, no-changelog, product-approved, backport v10.0.x

#66623 Faro: Adding Faro data source selector feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#67815 Connections: Show core datasource plugins as well
  public/app/features/connections/tabs/ConnectData/ConnectData.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/plugins/admin/state/hooks.ts
  public/app/features/plugins/admin/state/selectors.test.ts
  public/app/features/plugins/admin/state/selectors.ts
Labels: type/bug, area/plugins, area/frontend, add to changelog, backport v9.5.x, backport v10.0.x

#67884 InspectDrawer: Fixes issue with double scrollbars
  packages/grafana-ui/src/components/Table/Table.tsx
  public/app/features/inspector/InspectDataTab.tsx
  public/app/features/inspector/styles.ts
Labels: type/bug, area/frontend, add to changelog, missing-labels, backport v10.0.x

#67809 Drawer: Introduce a size property that set's width percentage and minWidth
  packages/grafana-ui/src/components/Drawer/Drawer.mdx
  packages/grafana-ui/src/components/Drawer/Drawer.story.tsx
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
  public/app/core/components/AppChrome/News/NewsContainer.tsx
  public/app/features/dashboard/components/HelpWizard/HelpWizard.tsx
  public/app/features/dashboard/components/Inspector/InspectContent.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDrawer.tsx
Labels: area/frontend, add to changelog, no-backport

#67826 [v10.0.x] Improve ds picker empty state when no results were found
  public/app/features/datasources/components/picker/AddNewDataSourceButton.tsx
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
  public/app/features/datasources/components/picker/DataSourceList.tsx
  public/app/features/datasources/components/picker/DataSourceModal.tsx
Labels: area/frontend, backport, no-changelog

#67825 Elasticsearch: Run requestAllIndices trough resource call if enableElasticsearchBackendQuerying enabled
  pkg/tsdb/elasticsearch/elasticsearch.go
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: type/tech, datasource/Elasticsearch, area/backend, area/frontend, no-backport, no-changelog

#67895 Update error message when Alertmanager configuration override
  public/app/features/alerting/unified/state/actions.ts
Labels: area/frontend, no-backport, no-changelog

#67877 Docs: Add a note about disabling SAML UI
  docs/sources/setup-grafana/configure-security/configure-authentication/saml-ui/index.md
Labels: type/docs, no-changelog, backport v10.0.x

#67901 Optional team filter when sending issue notification on Slack
  .github/teams.yml
  .github/workflows/issue-labeled.yml
Labels: no-backport, no-changelog

#67905 Change GitHub token in issue-labeled.yml workflow
  .github/workflows/issue-labeled.yml
Labels: no-backport, no-changelog

#67477 TablePanel: Do not allow auto-reset
  packages/grafana-ui/src/components/Table/Table.tsx
  public/app/plugins/panel/table/TablePanel.tsx
Labels: type/bug, area/panel/table, area/frontend, no-changelog, backport v10.0.x

#63402 Elasticsearch: Improve query type selection
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/QueryEditorSpecialMetricRow.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/QueryTypeSelector.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.test.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
Labels: datasource/Elasticsearch, area/frontend, add to changelog, no-backport

#67386 CloudWatch: Update docs for cloudWatchDynamicLabels feature toggle removal and alias deprecation
  docs/sources/datasources/aws-cloudwatch/query-editor/index.md
Labels: type/docs, datasource/CloudWatch, no-backport, no-changelog

#67858 Prometheus: (Chore/Instrumentation) add trace spans for result proces…
  pkg/tsdb/prometheus/querydata/response.go
Labels: type/chore, datasource/Prometheus, area/instrumentation, area/backend, no-changelog, backport v10.0.x

#67915 Chore: Remove 'PerformanceBackend: flushing' log
  public/app/core/services/echo/backends/PerformanceBackend.ts
Labels: area/frontend, no-backport, no-changelog

#64304 Chore: change default log level
  pkg/util/errutil/status.go
Labels: type/chore, area/backend, stale, no-backport, no-changelog

#67736 Correlations: Add links to prometheus dataframe where labels are split out
  public/app/features/correlations/utils.ts
  public/app/features/explore/PrometheusListView/ItemLabels.tsx
Labels: area/explore, area/frontend, add to changelog, no-backport

#67916 AzureMonitor: Clear queries if header value changes
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryHeader.tsx
Labels: type/bug, datasource/Azure, add to changelog, backport v10.0.x

#67914 AzureMonitor: Fix logs query multi-resource and timespan values
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/time/azuremonitor-time.go
  pkg/tsdb/azuremonitor/time/time-grain.go
  pkg/tsdb/azuremonitor/time/time-grain_test.go
Labels: type/bug, area/backend, datasource/Azure, add to changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x

#67924 Alerting: Migration to not fail if alert_configuration table is not empty
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: type/bug, area/alerting, area/backend, area/backend/db/migration, no-changelog, backport v9.5.x, backport v10.0.x

#67935 Schema: Fix dimension schemas
  .betterer.results
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/dimensions.cue
  packages/grafana-schema/src/veneer/common.types.ts
  public/app/features/canvas/element.ts
  public/app/features/canvas/elements/button.tsx
  public/app/features/canvas/elements/droneFront.tsx
  public/app/features/canvas/elements/droneSide.tsx
  public/app/features/canvas/elements/droneTop.tsx
  public/app/features/canvas/elements/icon.tsx
  public/app/features/canvas/elements/metricValue.tsx
  public/app/features/canvas/elements/server/server.tsx
  public/app/features/canvas/elements/windTurbine.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/features/canvas/types.ts
  public/app/features/dimensions/color.ts
  public/app/features/dimensions/context.ts
  public/app/features/dimensions/editors/ColorDimensionEditor.tsx
  public/app/features/dimensions/editors/ResourceDimensionEditor.tsx
  public/app/features/dimensions/editors/ScalarDimensionEditor.tsx
  public/app/features/dimensions/editors/ScaleDimensionEditor.tsx
  public/app/features/dimensions/editors/TextDimensionEditor.tsx
  public/app/features/dimensions/resource.test.ts
  public/app/features/dimensions/resource.ts
  public/app/features/dimensions/scalar.test.ts
  public/app/features/dimensions/scalar.ts
  public/app/features/dimensions/scale.ts
  public/app/features/dimensions/text.ts
  public/app/features/dimensions/types.ts
  public/app/features/dimensions/utils.ts
  public/app/plugins/panel/canvas/SetBackground.tsx
  public/app/plugins/panel/geomap/editor/StyleEditor.tsx
  public/app/plugins/panel/geomap/layers/data/heatMap.tsx
  public/app/plugins/panel/geomap/migrations.ts
  public/app/plugins/panel/geomap/style/types.ts
  public/app/plugins/panel/geomap/style/utils.test.ts
  public/app/plugins/panel/geomap/style/utils.ts
  public/app/plugins/panel/icon/IconPanel.tsx
  public/app/plugins/panel/icon/models.gen.ts
  public/app/plugins/panel/xychart/models.gen.ts
  public/app/plugins/panel/xychart/scatter.ts
Labels: type/bug, area/frontend, area/schema, no-changelog, backport v10.0.x

#67683 Google Cloud Monitor: Fix mem usage for dropdown
  public/app/plugins/datasource/cloud-monitoring/__mocks__/cloudMonitoringDatasource.ts
  public/app/plugins/datasource/cloud-monitoring/components/VisualMetricQueryEditor.test.tsx
  public/app/plugins/datasource/cloud-monitoring/components/VisualMetricQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
Labels: type/bug, area/frontend, datasource/GoogleCloudMonitoring, add to changelog, backport v9.4.x, backport v9.5.x

#67848 Elasticsearch: Run getTerms trough resource call if enableElasticsearchBackendQuerying enabled
  devenv/dev-dashboards/datasource-elasticsearch/elasticsearch_complex.json
  pkg/tsdb/elasticsearch/elasticsearch.go
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Labels: type/tech, datasource/Elasticsearch, area/backend, area/frontend, no-backport, no-changelog

#67947 Docs: Add DataFrame notice to plugin migration guide
  docs/sources/developers/plugins/migration-guide/v9.x-v10.x/_index.md
Labels: type/docs, no-changelog, backport v10.0.x

#67919 Prometheus: Fix Query Inspector expression range value
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: type/bug, datasource/Prometheus, area/frontend, no-changelog, backport v9.5.x

#67768 PanelQueryRunner: Return previous processed (transform+field config) series for loading state
  .betterer.results
  public/app/features/query/state/PanelQueryRunner.ts
  public/app/plugins/panel/barchart/BarChartPanel.tsx
  public/app/plugins/panel/candlestick/CandlestickPanel.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap/fields.ts
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/heatmap/suggestions.ts
  public/app/plugins/panel/histogram/HistogramPanel.tsx
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/trend/TrendPanel.tsx
  public/app/plugins/panel/xychart/XYChartPanel2.tsx
Labels: type/bug, area/frontend, area/panel/data, no-changelog, backport v10.0.x

#67887 Docs: adds not on stale alerts
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#67903 Docs: Adds preview notification template docs
  docs/sources/alerting/manage-notifications/template-notifications/create-notification-templates.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#67863 Navigation: Fix 'Page not found' when sending or going back from 'Invitate user' page
  public/app/features/org/UserInviteForm.tsx
Labels: type/bug, area/frontend, add to changelog, area/navigation, backport v10.0.x

#67966 Log Context: Add feature tracking of limit change
  public/app/features/logs/components/log-context/LogRowContextModal.tsx
Labels: area/frontend, area/logs, no-changelog, product-approved, backport v10.0.x

#67813 Plugins: Tidy up CLI code
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/commands/listremote_command.go
  pkg/cmd/grafana-cli/commands/listversions_command.go
  pkg/cmd/grafana-cli/commands/ls_command.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command.go
  pkg/cmd/grafana-cli/commands/upgrade_all_command_test.go
  pkg/cmd/grafana-cli/commands/upgrade_command.go
  pkg/cmd/grafana-cli/services/api_client.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/plugins/manager/loader/finder/local.go
  pkg/plugins/manager/loader/finder/local_test.go
  pkg/plugins/manager/loader/finder/util.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/storage/fs.go
  pkg/plugins/storage/models.go
Labels: area/plugins, type/chore, area/grafana-cli, area/backend, no-backport, no-changelog

#67967 Alerting: Make two boxes in template form adaptative to the screen
  public/app/features/alerting/unified/components/receivers/PayloadEditor.test.tsx
  public/app/features/alerting/unified/components/receivers/PayloadEditor.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplatePreview.test.tsx
Labels: area/alerting, area/frontend, no-changelog, missing-labels, backport v10.0.x

#67984 GrafanaUI: Export Toggletip
  packages/grafana-ui/src/components/index.ts
Labels: type/bug, area/frontend, area/grafana/ui, no-changelog, backport v9.5.x

#68005 [v10.0.x] CI: Add Windows backend tests in more places (#66438)
  .drone.star
  .drone.yml
  scripts/build/ci-windows-test/Dockerfile
  scripts/drone/events/main.star
  scripts/drone/events/pr.star
  scripts/drone/events/release.star
  scripts/drone/pipelines/ci_images.star
  scripts/drone/pipelines/windows.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#68006 [v9.5.x] CI: Add Windows backend tests in more places (#66438)
  .drone.star
  .drone.yml
  scripts/build/ci-windows-test/Dockerfile
  scripts/drone/events/main.star
  scripts/drone/events/pr.star
  scripts/drone/events/release.star
  scripts/drone/pipelines/ci_images.star
  scripts/drone/pipelines/windows.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: type/build-packaging, type/ci, no-backport, no-changelog

#68008 [v9.4.x] CI: Add Windows backend tests in more places (#66438)
  .drone.star
  .drone.yml
  scripts/build/ci-windows-test/Dockerfile
  scripts/drone/events/main.star
  scripts/drone/events/pr.star
  scripts/drone/events/release.star
  scripts/drone/pipelines/ci_images.star
  scripts/drone/pipelines/windows.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#67975 Docs: Update API keys docs to mark that api keys will be service account tokens
  docs/sources/administration/api-keys/index.md
Labels: type/docs, no-backport, no-changelog

#68010 [v9.2.x] CI: Add Windows backend tests in more places (#66438)
  .drone.star
  .drone.yml
  scripts/build/ci-windows-test/Dockerfile
  scripts/drone/events/main.star
  scripts/drone/events/pr.star
  scripts/drone/events/release.star
  scripts/drone/pipelines/ci_images.star
  scripts/drone/pipelines/windows.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/utils.star
Labels: type/build-packaging, backport, type/ci, no-changelog

#68004 Dashboard: Change add panel button to fill to remove outline border
  public/app/features/dashboard/components/AddPanelButton/AddPanelButton.tsx
Labels: area/frontend, add to changelog, product-approved, backport v10.0.x

#67482 Feature: Add TLS version configurability for grafana server
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/api/http_server.go
  pkg/services/ldap/settings.go
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  pkg/util/tls.go
  pkg/util/tls_test.go
Labels: type/docs, area/backend, pr/external, no-backport, no-changelog

#64649 Chore: Add missing tls_skip_verify_insecure for GitLab Oauth
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
Labels: type/docs, pr/external, no-backport, no-changelog

#67842 Datagrid: Refactor header column delete/clear
  e2e/datagrid-suite/datagrid-data-change.spec.ts
  e2e/datagrid-suite/datagrid-editing-features.spec.ts
  public/app/plugins/panel/datagrid/DataGridPanel.test.tsx
  public/app/plugins/panel/datagrid/DataGridPanel.tsx
  public/app/plugins/panel/datagrid/components/DatagridContextMenu.tsx
Labels: type/bug, area/frontend, no-changelog, area/panel/datagrid, backport v10.0.x

#68003 Prometheus: bug in creating autocomplete queries with labels
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, no-changelog, backport v9.2.x

#68019 [v9.5.x] Prometheus: Fix Query Inspector expression range value
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
Labels: type/bug, datasource/Prometheus, area/frontend, backport, no-changelog

#68024 Alerting: Fix condition on invalid interval dropdown
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v10.0.x

#68021 Navigation: Fixes issue where kiosk mode was not being exited
  public/app/core/components/AppChrome/AppChromeService.test.tsx
  public/app/core/components/AppChrome/AppChromeService.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#67588 docs: add empty dashboard & Add dropdown screenshots
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/getting-started/build-first-dashboard.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
Labels: type/docs, no-changelog, backport v9.5.x, backport v10.0.x

#68029 [v9.3.x] Prometheus: bug in creating autocomplete queries with labels
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, backport, no-changelog

#68031 [v9.4.x] Prometheus: bug in creating autocomplete queries with labels
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, backport, no-changelog

#67070 Docs: Plugin doc review for chunk 1-A
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/build-a-logs-data-source-plugin.md
  docs/sources/developers/plugins/build-a-streaming-data-source-plugin.md
  docs/sources/developers/plugins/create-a-grafana-plugin/_index.md
  docs/sources/developers/plugins/data-frames.md
  docs/sources/developers/plugins/get-started-with-plugins/_index.md
  docs/sources/developers/plugins/introduction-to-plugin-development/_index.md
  docs/sources/developers/plugins/migration-guide/_index.md
  docs/sources/developers/plugins/publish-a-plugin.md
  docs/sources/developers/plugins/publish-a-plugin/_index.md
  docs/sources/developers/plugins/publishing-and-signing-criteria.md
  docs/sources/developers/plugins/reference/_index.md
  docs/sources/developers/plugins/sign-a-plugin.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#67970 Docs: Fix routes in provisioning
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
Labels: type/docs, no-backport, enterprise-ok, no-changelog

#68056 CI: Remove custom enterprise2 pipelines
  .drone.star
  .drone.yml
Labels: type/ci, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#67812 Chore: Bump yaml package >=2.0.0 to 2.2.2
  yarn.lock
Labels: area/security, area/frontend, dependencies, no-backport, no-changelog

#68058 [v9.5.x] CI: Remove custom enterprise2 pipelines (#68056)
  .drone.star
  .drone.yml
Labels: backport, type/ci, no-changelog

#68057 [v10.0.x] CI: Remove custom enterprise2 pipelines (#68056)
  .drone.star
  .drone.yml
Labels: backport, type/ci, no-changelog

#67954 DashboardPage: Remove file drop code
  public/app/features/dashboard/containers/DashboardPage.tsx
Labels: area/frontend, no-backport, no-changelog

#68020 Docs: Clarify precedence of Grafana settings
  docs/sources/setup-grafana/configure-security/configure-authentication/saml-ui/index.md
Labels: type/docs, no-changelog, backport v10.0.x

#68059 [v9.4.x] CI: Remove custom enterprise2 pipelines (#68056)
  .drone.star
  .drone.yml
Labels: backport, type/ci, no-changelog
