Repository grafana/grafana, pull requests merged in 2023-06, with the labels that each got.

#69354 k8s/poc: Dual write from UI
  pkg/services/k8s/apiserver/admission/add_default_fields.go
  pkg/services/k8s/apiserver/entitystorage.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  public/app/features/dashboard/components/DashboardSettings/VersionsSettings.tsx
  public/app/features/dashboard/components/SaveDashboard/useDashboardSave.tsx
  public/app/features/dashboard/components/VersionHistory/K8sResourceHistory.tsx
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/dashboard/services/k8service.ts
  public/app/features/manage-dashboards/state/actions.ts
Labels: area/backend, area/frontend

#69298 Alerting: Smaller fixes for long namespace / group names (#69095)
  public/app/features/alerting/unified/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
Labels: area/alerting, area/frontend, backport, no-changelog

#69356 Reword JWT config claim
  docs/sources/setup-grafana/configure-security/configure-authentication/jwt/index.md
Labels: type/docs, no-backport, no-changelog

#63384 Metrics: Update Help to mention active viewers
  pkg/infra/metrics/metrics.go
Labels: area/backend, add to changelog, pr/external, no-backport

#69310 Nested folders: add skeleton scaffolding
  package.json
  public/app/core/utils/ConfigProvider.tsx
  public/app/features/browse-dashboards/components/BrowseActions/DescendantCount.tsx
  yarn.lock
Labels: area/frontend, no-backport, no-changelog, area/manage-dashboards

#69362 TempoQueryEDitor: Respect onRunQuery updates
  public/app/plugins/datasource/tempo/traceql/TraceQLEditor.tsx
Labels: type/bug, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog

#69363 Chore: Update codeowners for api-keys frontend
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#69307 Pyroscope: Fix wrong defaults when importing query from different datasource
  public/app/plugins/datasource/phlare/datasource.ts
Labels: type/bug, area/frontend, add to changelog, backport v10.0.x, datasource/grafana-pyroscope

#69368 Fix plugin metric
  pkg/plugins/backendplugin/instrumentation/instrumentation.go
Labels: type/bug, area/plugins, area/backend, no-backport, no-changelog, backport v9.5.x, backport v10.0.x

#68544 Dashboards: Improve delete dashboard performance due to slow annotations query
  pkg/services/dashboards/database/database.go
Labels: type/bug, area/backend, add to changelog, pr/external, area/backend/db/migration, no-backport

#69378 Revert "[v9.5.x] Update cascading front matter to use sequence form"
  docs/sources/_index.md
  docs/sources/administration/_index.md
  docs/sources/administration/enterprise-licensing/_index.md
  docs/sources/administration/organization-management/index.md
  docs/sources/administration/provisioning/index.md
  docs/sources/administration/recorded-queries/index.md
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/administration/stats-and-license/index.md
  docs/sources/alerting/_index.md
  docs/sources/breaking-changes/_index.md
  docs/sources/dashboards/_index.md
  docs/sources/datasources/_index.md
  docs/sources/explore/_index.md
  docs/sources/fundamentals/_index.md
  docs/sources/introduction/grafana-cloud.md
  docs/sources/introduction/grafana-enterprise.md
  docs/sources/panels-visualizations/_index.md
  docs/sources/release-notes/_index.md
  docs/sources/search/_index.md
  docs/sources/setup-grafana/configure-security/audit-grafana.md
  docs/sources/setup-grafana/configure-security/configure-authentication/_index.md
  docs/sources/setup-grafana/configure-security/configure-request-security.md
  docs/sources/setup-grafana/configure-security/configure-team-sync.md
  docs/sources/setup-grafana/configure-security/export-logs.md
  docs/sources/troubleshooting/_index.md
  docs/sources/whatsnew/_index.md
Labels: type/docs, no-backport, no-changelog

#69194 Schema: Remove ServiceAccount kind
  kinds/serviceaccount/serviceaccount_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/serviceaccount/x/serviceaccount_types.gen.ts
  pkg/kinds/serviceaccount/serviceaccount_gen.go
  pkg/kinds/serviceaccount/serviceaccount_kind_gen.go
  pkg/kinds/serviceaccount/serviceaccount_metadata_gen.go
  pkg/kinds/serviceaccount/serviceaccount_spec_gen.go
  pkg/kinds/serviceaccount/serviceaccount_status_gen.go
  pkg/registry/corekind/base_gen.go
Labels: area/backend, area/frontend, no-backport, area/schema, no-changelog

#68764 Tracing: Upgrade tracing data source configuration editors
  package.json
  public/app/core/components/ConfigDescriptionLink.tsx
  public/app/core/components/Divider.tsx
  public/app/core/components/DocsLinkButton.tsx
  public/app/core/components/NodeGraphSettings.tsx
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/core/components/TraceToMetrics/TraceToMetricsSettings.tsx
  public/app/features/explore/TraceView/components/settings/SpanBarSettings.tsx
  public/app/plugins/datasource/jaeger/components/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/LokiSearchSettings.tsx
  public/app/plugins/datasource/tempo/configuration/QuerySettings.tsx
  public/app/plugins/datasource/tempo/configuration/SearchSettings.tsx
  public/app/plugins/datasource/tempo/configuration/ServiceGraphSettings.tsx
  public/app/plugins/datasource/tempo/configuration/TraceQLSearchSettings.tsx
  public/app/plugins/datasource/zipkin/ConfigEditor.tsx
  yarn.lock
Labels: area/explore, area/frontend, add to changelog, area/datasource, area/datasource/frontend, datasource/Jaeger, area/tracing, datasource/Zipkin, datasource/Tempo, no-backport

#69381 i18n: Sync extraction with main
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, no-backport, no-changelog

#69385 AuthN: Make clientTokenRotation work when Grafana is accessible on a sub url
  devenv/docker/blocks/auth/nginx_proxy_mac/docker-compose.yaml
  devenv/docker/blocks/auth/nginx_proxy_mac/nginx.conf
  devenv/docker/blocks/auth/nginx_proxy_mac/nginx_login_only.conf
  pkg/services/authn/clients/grafana.go
  public/app/core/services/context_srv.ts
Labels: area/auth, area/backend, area/frontend, area/auth/authproxy, no-backport, no-changelog, team/grafana-authnz

#69392 logs: context: removed unused code
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRows.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#69370 Devenv: Update auth devenv versions
  devenv/docker/blocks/auth/jwt_proxy/docker-compose.yaml
  devenv/docker/blocks/auth/oauth/docker-compose.yaml
Labels: type/chore, no-backport, no-changelog, team/grafana-authnz

#69411 Add watch implementation to entity storage
  pkg/services/k8s/apiserver/entitystorage.go
Labels: area/backend

#69335 update prometheus template variables doc
  docs/sources/datasources/prometheus/template-variables/index.md
Labels: type/docs, no-changelog, backport v9.5.x, backport v10.0.x

#69369 Log Context: Fix split view button using the wrong query
  public/app/features/logs/components/log-context/LogRowContextModal.test.tsx
  public/app/features/logs/components/log-context/LogRowContextModal.tsx
Labels: type/bug, area/frontend, add to changelog, area/logs, backport v10.0.x

#69408 Secure socks proxy: allow for UI to be disabled
  conf/defaults.ini
  conf/sample.ini
  pkg/api/frontendsettings.go
  pkg/setting/setting_secure_socks_proxy.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#69426 K8s: Fix proxy for subresources
  go.sum
  pkg/services/k8s/apiserver/service.go
  pkg/web/response_writer.go
Labels: area/backend

#69389 Chore: remove i18n toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/index.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/preference/prefimpl/pref.go
  pkg/services/preference/prefimpl/pref_test.go
  public/app/core/components/SharedPreferences/SharedPreferences.test.tsx
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
  public/app/features/org/OrgDetailsPage.test.tsx
Labels: type/docs, type/chore, area/backend, area/frontend, no-backport, no-changelog

#68064 Datasources: Make the datasources config extendable by plugins
  .betterer.results
  packages/grafana-data/src/events/common.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/datasources/components/EditDataSource.test.tsx
  public/app/features/datasources/components/EditDataSource.tsx
  public/app/features/datasources/pages/EditDataSourcePage.test.tsx
Labels: area/plugins, area/frontend, area/datasource, no-backport, no-changelog

#69430 Plugin Extensions: Custom limits for extensions-per-plugin
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/plugins/extensions/constants.ts
  public/app/features/plugins/extensions/createPluginExtensionRegistry.test.ts
  public/app/features/plugins/extensions/createPluginExtensionRegistry.ts
  public/app/features/plugins/extensions/extensionsPerPlugin.ts
  public/app/features/plugins/extensions/getPluginExtensions.test.ts
  public/app/features/plugins/extensions/getPluginExtensions.ts
Labels: area/plugins, area/frontend, add to changelog, no-backport

#69441 Loki: Fix e2e flakiness
  e2e/various-suite/loki-query-builder.spec.ts
Labels: area/frontend, no-backport, no-changelog

#69377 Loki: Exclude queries using DISTINCT from query splitting
  public/app/plugins/datasource/loki/querySplitting.test.ts
  public/app/plugins/datasource/loki/querySplitting.ts
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#69379 Loki: Add predefined operations functionality behind feature flag
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/MaxLinesField.tsx
  public/app/plugins/datasource/loki/configuration/QuerySettings.tsx
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/types.ts
Labels: type/feature-request, type/docs, area/backend, area/frontend, datasource/Loki, no-backport, no-changelog

#69427 Document remaining props and deprecate others for Dashboard schema
  .betterer.results
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/dashboard/state/DashboardMigrator.test.ts
Labels: type/docs, area/backend, area/frontend, area/dashboard/schemas, no-backport, no-changelog

#69445 Loki: Remove unused datasource prop from LokiQueryBuilderOptions
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.tsx
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog

#69351 MSSQL: Change encrypt default value to false
  public/app/plugins/datasource/mssql/configuration/ConfigurationEditor.tsx
Labels: datasource/MSSQL, area/frontend, pr/external, no-backport, no-changelog

#65785 remove incorrect state changes statement
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
Labels: type/docs, stale, no-changelog, backport v9.4.x

#66596 Docs: Added disableResolveMessage parameter
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
Labels: type/docs, pr/external, backport, enterprise-ok, no-changelog, backport v10.0.x

#69434 Docs: Bring back the alias for external group sync HTTP API page
  docs/sources/developers/http_api/team_sync.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69417 Secure socks proxy: update show_ui default in default.ini
  conf/defaults.ini
Labels: no-backport, no-changelog

#69432 Chore: Update featuremgmt codeowners
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#69413 Alerting: Display error if repeat interval is lower than group interval
  public/app/features/alerting/unified/components/notification-policies/EditDefaultPolicyForm.test.tsx
  public/app/features/alerting/unified/components/notification-policies/EditDefaultPolicyForm.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.test.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.tsx
  public/app/features/alerting/unified/utils/amroutes.ts
Labels: area/frontend, add to changelog, no-backport, no-changelog

#67259 Nested folders: Add alert rule counts and deletion to folder registry
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/registry.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/store/database.go
  pkg/services/ngalert/store/testing.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/services/ngalert/tests/util.go
  pkg/services/ngalert/testutil/testutil.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/services/store/entity/models.go
  public/app/features/browse-dashboards/state/actions.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#69433 fix minor grammatical error
  docs/sources/whatsnew/whats-new-in-v10-0.md
Labels: type/docs, no-changelog, backport v10.0.x

#69436 Docs: update what's new for exploreMixedDatasource toggle
  docs/sources/whatsnew/whats-new-in-v10-0.md
Labels: type/docs, no-changelog, backport v10.0.x

#69424 Prometheus: Fix bug when adding a query in mixed datasource
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.test.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, area/datasource/frontend, no-changelog, backport v10.0.x

#67867 Plugins: Support changing plugin IDs (hardcoded)
  packages/grafana-data/src/types/plugin.ts
  pkg/api/datasources.go
  pkg/api/frontendsettings.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/registry/in_memory.go
  pkg/plugins/manager/registry/in_memory_test.go
  pkg/plugins/models.go
  pkg/plugins/plugins.go
  public/app/features/plugins/importPanelPlugin.ts
Labels: area/plugins, area/backend, area/frontend, no-backport, no-changelog

#69472 docs: update TestData screenshots
  docs/sources/datasources/testdata/_index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69484 Don't display stackTraces list if passed an empty array
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#69475 Chore: Typo fixes in comments
  packages/grafana-data/src/panel/PanelPlugin.ts
  packages/grafana-data/src/transformations/matchers/ids.ts
  packages/grafana-data/src/transformations/matchers/nameMatcher.ts
  packages/grafana-data/src/transformations/matchers/refIdMatcher.ts
  packages/grafana-data/src/transformations/transformers/filter.ts
  packages/grafana-data/src/transformations/transformers/filterByName.ts
  packages/grafana-data/src/transformations/transformers/filterByRefId.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  packages/grafana-data/src/transformations/transformers/order.ts
  packages/grafana-data/src/transformations/transformers/organize.ts
  packages/grafana-data/src/transformations/transformers/reduce.ts
  packages/grafana-data/src/transformations/transformers/rename.ts
  packages/grafana-data/src/transformations/transformers/renameByRegex.ts
  packages/grafana-data/src/transformations/transformers/sortBy.ts
  packages/grafana-data/src/types/annotations.ts
  public/app/features/transformers/configFromQuery/configFromQuery.ts
  public/app/features/transformers/rowsToFields/rowsToFields.ts
Labels: area/frontend, no-backport, no-changelog

#69485 Alerting: Fix provisioned templates being ignored by alertmanager
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/notifier/config_test.go
  pkg/services/ngalert/provisioning/templates.go
Labels: type/bug, area/backend, add to changelog, backport v10.0.x

#69488 [v10.0.x] Alerting: Fix provisioned templates being ignored by alertmanager
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/notifier/config_test.go
  pkg/services/ngalert/provisioning/templates.go
Labels: area/alerting, area/backend, backport, no-changelog

#67360 docs: update use dashboards descriptions
  docs/sources/dashboards/use-dashboards/index.md
Labels: type/docs, stale, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#65763 docs: fix grafana play link
  docs/sources/dashboards/build-dashboards/create-dashboard-url-variables/index.md
Labels: type/docs, stale, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#65682 docs: update add-template-variables docs
  docs/sources/dashboards/variables/add-template-variables/index.md
Labels: type/docs, stale, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#65665 [docs] typo fixes in expression queries
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
Labels: type/docs, stale, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69469 InfluxDB: Strong types and backend migration preparation
  .betterer.results
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#68889 Plugins: Add Initial implementation for frontend plugins sandboxing
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  jest.config.js
  package.json
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/plugin.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/plugins.go
  pkg/api/plugins.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/plugins/importPanelPlugin.ts
  public/app/features/plugins/pluginPreloader.ts
  public/app/features/plugins/plugin_loader.ts
  public/app/features/plugins/sandbox/distortion_map.ts
  public/app/features/plugins/sandbox/plugin_dependencies.ts
  public/app/features/plugins/sandbox/sandbox_plugin_loader.ts
  public/test/mocks/nearMembraneDom.ts
  yarn.lock
Labels: type/docs, area/plugins, area/backend, area/frontend, no-backport, no-changelog

#69476 Util: Fix panic when generating UIDs concurrently
  pkg/util/shortid_generator.go
  pkg/util/shortid_generator_test.go
Labels: type/bug, area/backend, add to changelog, backport v10.0.x

#69460 Loki: Add comment explaining interpolation of some variables at backend
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog

#69386 Chore: Remove unused code/dependencies in testdata datasource
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/tsdb/testdatasource/csv_data_test.go
  pkg/tsdb/testdatasource/testdata.go
  pkg/tsdb/testdatasource/usa_stats_test.go
Labels: area/backend, no-backport, no-changelog

#69329 Alerting: Add heuristics back to datasource healthchecks
  pkg/tsdb/prometheus/healthcheck.go
  pkg/tsdb/prometheus/heuristics.go
  pkg/tsdb/prometheus/heuristics_test.go
Labels: type/bug, datasource/Prometheus, area/backend, add to changelog, backport v10.0.x

#67929 Chore: Change dev sourcemaps to work around firefox warning
  scripts/webpack/webpack.dev.js
Labels: area/frontend, no-backport, no-changelog

#68617 NestedFolders: Improve performance of Browse Dashboards by loading one page at a time
  public/app/features/browse-dashboards/BrowseDashboardsPage.test.tsx
  public/app/features/browse-dashboards/api/services.ts
  public/app/features/browse-dashboards/components/BrowseActions/BrowseActions.tsx
  public/app/features/browse-dashboards/components/BrowseView.test.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.test.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/components/FolderActionsButton.tsx
  public/app/features/browse-dashboards/components/NameCell.tsx
  public/app/features/browse-dashboards/components/TagsCell.tsx
  public/app/features/browse-dashboards/fixtures/dashboardsTreeItem.fixture.ts
  public/app/features/browse-dashboards/fixtures/state.fixtures.ts
  public/app/features/browse-dashboards/state/actions.ts
  public/app/features/browse-dashboards/state/hooks.test.ts
  public/app/features/browse-dashboards/state/hooks.ts
  public/app/features/browse-dashboards/state/reducers.test.ts
  public/app/features/browse-dashboards/state/reducers.ts
  public/app/features/browse-dashboards/state/slice.ts
  public/app/features/browse-dashboards/state/utils.ts
  public/app/features/browse-dashboards/types.ts
  public/app/features/search/service/folders.ts
  public/app/features/search/service/sql.ts
  public/app/features/search/types.ts
Labels: area/frontend, add to changelog, no-backport

#69523 [v9.3.x] Docs: Backport of plugin doc review chunk 1-A
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/build-a-logs-data-source-plugin.md
  docs/sources/developers/plugins/build-a-streaming-data-source-plugin.md
  docs/sources/developers/plugins/create-a-grafana-plugin/_index.md
  docs/sources/developers/plugins/data-frames.md
  docs/sources/developers/plugins/get-started-with-plugins/_index.md
  docs/sources/developers/plugins/introduction-to-plugin-development/_index.md
  docs/sources/developers/plugins/migration-guide/_index.md
  docs/sources/developers/plugins/publish-a-plugin.md
  docs/sources/developers/plugins/publish-a-plugin/_index.md
  docs/sources/developers/plugins/publishing-and-signing-criteria.md
  docs/sources/developers/plugins/reference/_index.md
  docs/sources/developers/plugins/sign-a-plugin.md
Labels: type/docs, backport, no-changelog

#69533 Chore: update `user-essentials` to `frontend-platform`
  pkg/kindsysreport/codegen/report.json
  pkg/services/featuremgmt/codeowners.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/chore, area/backend, no-backport, no-changelog

#69518 Documentation: modify postgres ssl_mode possible values
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, pr/external, no-backport, no-changelog

#69535 Elasticsearch: Fix Typescript errors
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/useDescription.ts
Labels: datasource/Elasticsearch, area/frontend, no-backport, no-changelog

#69542 Chore: Move useUniqueId to a general place
  public/app/features/dashboard/dashgrid/LazyLoader.tsx
  public/app/features/search/page/components/FolderSection.tsx
  public/app/features/variables/editor/VariableSelectField.tsx
  public/app/plugins/datasource/influxdb/components/RawInfluxQLEditor.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/components/useUniqueId.test.ts
  public/app/plugins/datasource/influxdb/components/useUniqueId.ts
  public/app/plugins/datasource/opentsdb/components/OpenTsdbDetails.tsx
Labels: datasource/InfluxDB, datasource/OpenTSDB, area/dashboard/templating, area/frontend, no-backport, no-changelog

#69373 Loki: Fix error when empty template variables response
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v10.0.x

#69519 devenv: add healthcheck to loki block
  devenv/docker/blocks/loki/docker-compose.yaml
Labels: area/docker, area/devenv, no-backport, no-changelog

#69570 CloudWatch: remove code coverage report comments
  .github/workflows/cloud-data-sources-code-coverage.yml
Labels: no-backport, no-changelog

#69573 CloudMonitoring: Correctly set new query on type change
  public/app/plugins/datasource/cloud-monitoring/components/MetricQueryEditor.tsx
Labels: type/bug, effort/small, area/frontend, datasource/GoogleCloudMonitoring, no-changelog, backport v10.0.x

#69280 docs: add datasource selector content
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/getting-started/build-first-dashboard.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/tutorials/grafana-fundamentals/index.md
  docs/sources/tutorials/stream-metrics-from-telegraf-to-grafana/index.md
Labels: type/docs, no-changelog, backport v10.0.x

#69420 Docs: Plugin migration guide - chunk 9
  docs/sources/developers/plugins/migration-guide/angular-react/_index.md
  docs/sources/developers/plugins/migration-guide/v6.x-v7.x/_index.md
  docs/sources/developers/plugins/migration-guide/v7.x-v8.x/_index.md
  docs/sources/developers/plugins/migration-guide/v8.3.x-8.4.x/_index.md
  docs/sources/developers/plugins/migration-guide/v8.x-v9.x/_index.md
  docs/sources/developers/plugins/migration-guide/v9.1.x-v9.2.x/_index.md
  docs/sources/developers/plugins/migration-guide/v9.3.x-9.4.x/_index.md
  docs/sources/developers/plugins/migration-guide/v9.x-v10.x/_index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69204 Fix: Fixed a typo in reference.md
  docs/sources/alerting/manage-notifications/template-notifications/reference.md
Labels: type/docs, pr/external, backport, enterprise-ok, no-changelog, backport v10.0.x

#69544 Use doc-validator v3.0.0
  .github/workflows/doc-validator.yml
Labels: type/ci, no-changelog, backport v10.0.x

#69384 CI: Add i18n verification step
  .drone.yml
  public/locales/psuedo.js
  scripts/drone/pipelines/lint_frontend.star
  scripts/drone/steps/lib.star
Labels: area/frontend, type/ci, no-backport, no-changelog

#69605 Changelog: Updated changelog for 8.5.26 (#69603)
  CHANGELOG.md
Labels: type/docs, backport, no-changelog

#69609 [v9.2.x] Changelog: Updated changelog for 9.2.19
  CHANGELOG.md
Labels: backport, no-changelog

#69487 QueryField: Set default value for onBlur prop
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/SettingsEditor/FiltersSettingsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
  public/app/plugins/datasource/jaeger/components/QueryEditor.tsx
Labels: datasource/Elasticsearch, datasource/CloudWatch, area/frontend, add to changelog, no-backport

#69613 [v9.3.x] Changelog: Updated changelog for 9.3.15
  CHANGELOG.md
Labels: backport, no-changelog

#69584 Loki: Fix parsing of escaped quotes in LogQL
  public/app/plugins/datasource/loki/querybuilder/parsing.test.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v10.0.x

#69585 [v10.0.x] Log Row: Fix menu styling and dimensions (#69569)
  public/app/features/logs/components/LogRowMessage.tsx
  public/app/features/logs/components/getLogRowStyles.ts
Labels: type/bug, area/frontend, backport, no-changelog

#69615 [v10.0.x] Loki: Fix parsing of escaped quotes in LogQL (#69584)
  public/app/plugins/datasource/loki/querybuilder/parsing.test.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
Labels: type/bug, area/frontend, datasource/Loki, backport, no-changelog

#69619 [v9.4.x] Changelog: Updated changelog for 9.4.12
  CHANGELOG.md
Labels: backport, no-changelog

#64803 Docs: api keys
  docs/sources/auth/planning/index.md
Labels: type/docs, no-backport, no-changelog

#69391 PanelChrome: Show pointer when hovering cancel query button
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/utils/DelayRender.tsx
Labels: type/bug, area/dashboard, area/frontend, no-changelog, backport v9.5.x

#69630 [v9.5.x] Changelog: Updated changelog for 9.5.3
  CHANGELOG.md
Labels: backport, no-changelog

#69537 Login: Show additional information when prompting to change password
  .pa11yci-pr.conf.js
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
  public/app/core/components/ForgottenPassword/ChangePasswordPage.tsx
  public/app/core/components/Login/LoginCtrl.tsx
  public/app/core/components/Login/LoginLayout.tsx
  public/app/core/components/Login/LoginPage.tsx
Labels: type/chore, area/frontend, area/frontend/login, no-backport, no-changelog

#69634 Docs: removes screenshots
  docs/sources/alerting/manage-notifications/template-notifications/create-notification-templates.md
Labels: type/docs, backport, enterprise-ok, no-changelog, backport v10.0.x

#69558 Loki: Add step parameter to Loki query
  docs/sources/developers/kinds/composable/loki/dataquery/schema-reference.md
  packages/grafana-schema/src/raw/composable/loki/dataquery/x/LokiDataQuery_types.gen.ts
  pkg/tsdb/loki/kinds/dataquery/types_dataquery_gen.go
  public/app/plugins/datasource/loki/dataquery.cue
  public/app/plugins/datasource/loki/dataquery.gen.ts
Labels: type/docs, type/chore, area/backend, area/frontend, datasource/Loki, no-backport, no-changelog

#69550 InfluxDB: Refactor query_builder and metadata_query
  .betterer.results
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tags.test.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.test.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influxql_metadata_query.ts
  public/app/plugins/datasource/influxdb/influxql_query_builder.test.ts
  public/app/plugins/datasource/influxdb/influxql_query_builder.ts
  public/app/plugins/datasource/influxdb/specs/mocks.ts
  public/app/plugins/datasource/influxdb/types.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#69359 Schema: Improve Dashboard kind docs and remove deprecated props
  .betterer.results
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/dashboard/state/DashboardMigrator.test.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, area/dashboard/schemas, backport v10.0.x

#69554 Chore: InfluxDB - Restructure the folders
  .betterer.results
  public/app/plugins/datasource/influxdb/components/editor/annotation/AnnotationEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/config/ConfigEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/config/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/constants.ts
  public/app/plugins/datasource/influxdb/components/editor/query/QueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/flux/FluxQueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/hooks/useShadowedState.test.ts
  public/app/plugins/datasource/influxdb/components/editor/query/hooks/useShadowedState.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/InfluxCheatSheet.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/InfluxStartPage.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/QueryEditorModeSwitcher.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/code/RawInfluxQLEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/code/RawInfluxQLEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/utils/partListUtils.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/utils/tagUtils.test.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/utils/tagUtils.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/utils/toSelectableValue.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/utils/unwrap.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/AddButton.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/FormatAsSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/FromSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/InputSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/OrderByTimeSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/PartListSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/Seg.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/TagsSection.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/TagsSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/VisualInfluxQLEditor.tags.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/VisualInfluxQLEditor.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/VisualInfluxQLEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/styles.ts
  public/app/plugins/datasource/influxdb/components/editor/variable/VariableQueryEditor.tsx
  public/app/plugins/datasource/influxdb/datasource.mock.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influxql_query_builder.test.ts
  public/app/plugins/datasource/influxdb/module.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#66965 Dashboards: Variables - Improve slow template variable loading due same variable loaded multiple times on time range change
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/onTimeRangeUpdated.test.ts
Labels: type/bug, area/dashboard/templating, area/backend, area/frontend, add to changelog, backport v10.0.x

#68923 [DOC] Tracing: Add doc for Tempo Search query
  docs/sources/datasources/tempo/query-editor/index.md
  docs/sources/explore/trace-integration.md
  docs/sources/shared/datasources/tempo-search-traceql.md
Labels: type/docs, no-changelog, backport v9.5.x, backport v10.0.x

#69564 Docs: Update references in `contribute/` dir
  contribute/architecture/README.md
  contribute/backend/README.md
  contribute/backend/errors.md
  contribute/backend/instrumentation.md
  contribute/developer-guide.md
Labels: type/docs, area/backend, no-backport, no-changelog

#66286 Explore: Refactor & centralize URL/state sync
  .betterer.results
  e2e/various-suite/explore.spec.ts
  packages/grafana-data/src/types/explore.ts
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreActions.tsx
  public/app/features/explore/ExplorePage.test.tsx
  public/app/features/explore/ExplorePage.tsx
  public/app/features/explore/ExplorePaneContainer.tsx
  public/app/features/explore/ExploreQueryInspector.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/ResponseErrorContainer.test.tsx
  public/app/features/explore/hooks/useExploreCorrelations.ts
  public/app/features/explore/hooks/useExplorePageTitle.ts
  public/app/features/explore/hooks/useStateSync.ts
  public/app/features/explore/hooks/useStopQueries.ts
  public/app/features/explore/hooks/useTimeSrvFix.ts
  public/app/features/explore/spec/datasourceState.test.tsx
  public/app/features/explore/spec/helper/setup.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
  public/app/features/explore/state/datasource.ts
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/main.test.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/selectors.test.ts
  public/app/features/explore/state/selectors.ts
  public/app/features/explore/state/time.test.ts
  public/app/features/explore/state/time.ts
  public/app/features/explore/state/utils.test.ts
  public/app/features/explore/state/utils.ts
  public/app/features/explore/useLiveTailControls.ts
  public/app/features/explore/utils/queries.ts
  public/app/features/explore/utils/time.ts
  public/app/store/configureStore.ts
  public/app/types/explore.ts
  public/app/types/store.ts
Labels: type/tech, area/backend, area/explore, area/frontend, no-backport, no-changelog

#69225 Plugins: Forbid loading Angular plugins when Angular is disabled
  pkg/api/plugin_resource_test.go
  pkg/plugins/config/config.go
  pkg/plugins/manager/loader/angulardetector/angulardetector.go
  pkg/plugins/manager/loader/angulardetector/angulardetector_test.go
  pkg/plugins/manager/loader/angulardetector/fakes.go
  pkg/plugins/manager/loader/angulardetector/service.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/services/pluginsintegration/pluginsintegration.go
Labels: area/plugins, area/backend/plugins, area/backend, add to changelog, go, no-backport, add to what's new

#69638 Fix: Fix dashboards not showing in folders with search v2 enabled
  public/app/features/browse-dashboards/api/services.test.ts
  public/app/features/browse-dashboards/api/services.ts
  public/app/features/search/service/sql.test.ts
  public/app/features/search/service/sql.ts
Labels: type/bug, area/frontend, no-backport, no-changelog

#65659 SQL Datasources: Reinstate SQL data source behavior around database selection when default configured databases already exist
  docs/sources/datasources/mssql/query-editor/index.md
  docs/sources/datasources/mysql/_index.md
  docs/sources/datasources/postgres/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/frontendsettings.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/plugins/sql/components/DatasetSelector.tsx
  public/app/features/plugins/sql/components/QueryEditor.tsx
  public/app/features/plugins/sql/components/QueryEditorFeatureFlag.utils.ts
  public/app/features/plugins/sql/components/QueryHeader.tsx
  public/app/features/plugins/sql/components/SqlComponents.test.tsx
  public/app/features/plugins/sql/components/SqlComponents.testHelpers.ts
  public/app/features/plugins/sql/components/TableSelector.tsx
  public/app/features/plugins/sql/datasource/SqlDatasource.ts
  public/app/features/query/components/QueryGroup.tsx
  public/app/plugins/datasource/mssql/datasource.ts
  public/app/plugins/datasource/mysql/MySqlDatasource.ts
  public/app/plugins/datasource/postgres/PostgresQueryEditor.tsx
  public/app/plugins/datasource/postgres/datasource.ts
  public/app/plugins/datasource/postgres/module.ts
Labels: type/bug, type/docs, datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, area/frontend, add to changelog, no-backport

#69490 Legend: Sort by name
  docs/sources/panels-visualizations/configure-legend/index.md
  packages/grafana-ui/src/components/VizLegend/VizLegend.tsx
  packages/grafana-ui/src/components/VizLegend/VizLegendTable.tsx
  packages/grafana-ui/src/components/VizLegend/types.ts
  packages/grafana-ui/src/components/uPlot/PlotLegend.tsx
  public/app/plugins/panel/barchart/utils.test.ts
  public/app/plugins/panel/barchart/utils.ts
Labels: type/docs, area/frontend, add to changelog, area/panel/timeseries, area/panel/barchart, no-backport, area/legend

#69592 Docs: Remove duplicate word in edit panel of configure panel options
  docs/sources/panels-visualizations/configure-panel-options/index.md
Labels: type/docs, pr/external, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69643 Explore: Run remaining queries when one is removed from a pane
  public/app/features/explore/state/query.test.ts
Labels: type/bug, area/explore, area/frontend, add to changelog, backport v10.0.x

#68859 Pyroscope: Rename phlare to grafana-pyroscope-datasource
  .github/CODEOWNERS
  pkg/plugins/backendplugin/coreplugin/registry.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/server/wire.go
  pkg/tests/api/plugins/data/expectedListResp.json
  pkg/tsdb/grafana-pyroscope-datasource/client.go
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
  pkg/tsdb/grafana-pyroscope-datasource/instance_test.go
  pkg/tsdb/grafana-pyroscope-datasource/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/grafana-pyroscope-datasource/phlareClient.go
  pkg/tsdb/grafana-pyroscope-datasource/phlareClient_test.go
  pkg/tsdb/grafana-pyroscope-datasource/pyroscopeClient.go
  pkg/tsdb/grafana-pyroscope-datasource/query.go
  pkg/tsdb/grafana-pyroscope-datasource/query_test.go
  pkg/tsdb/grafana-pyroscope-datasource/service.go
  pkg/tsdb/grafana-pyroscope-datasource/testdata/profile_response.json
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/ConfigEditor.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/EditorField.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/EditorRow.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/EditorRows.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/LabelsEditor.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/QueryOptions.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/Stack.tsx
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/autocomplete.test.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/QueryEditor/autocomplete.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/dataquery.cue
  public/app/plugins/datasource/grafana-pyroscope-datasource/dataquery.gen.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/datasource.test.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/datasource.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/img/grafana_pyroscope_icon.svg
  public/app/plugins/datasource/grafana-pyroscope-datasource/module.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/phlareql/index.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/phlareql/phlareql.ts
  public/app/plugins/datasource/grafana-pyroscope-datasource/plugin.json
  public/app/plugins/datasource/grafana-pyroscope-datasource/types.ts
Labels: type/chore, area/backend, area/frontend, add to changelog, no-backport, datasource/grafana-pyroscope

#69620 Auth: Use auth broker by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/http_server.go
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/setting/setting.go
  pkg/tests/testinfra/testinfra.go
  pkg/tests/web/index_view_test.go
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#69650 Alerting: Fix broken UI because of query being optional for some ExpressionQuer…
  public/app/features/alerting/unified/components/rule-editor/util.test.ts
  public/app/features/alerting/unified/components/rule-editor/util.ts
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v10.0.x

#69576 CloudMonitoring: Remove excess logs
  pkg/tsdb/cloud-monitoring/utils.go
Labels: type/bug, effort/small, area/backend, datasource/GoogleCloudMonitoring, no-changelog, backport v10.0.x

#69679 Plugins: Forbid loading Angular plugins when Angular is disabled
  pkg/api/plugin_resource_test.go
  pkg/plugins/config/config.go
  pkg/plugins/manager/loader/angulardetector/angulardetector.go
  pkg/plugins/manager/loader/angulardetector/angulardetector_test.go
  pkg/plugins/manager/loader/angulardetector/fakes.go
  pkg/plugins/manager/loader/angulardetector/service.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/services/pluginsintegration/pluginsintegration.go
Labels: area/plugins, area/backend/plugins, area/backend, go, no-backport, no-changelog

#66409 docs revamp: synchronisation planning
  docs/sources/auth/planning/index.md
Labels: type/docs, no-backport, no-changelog

#69556 Nested folders: Improve loading states
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Tags/Tag.tsx
  packages/grafana-ui/src/components/Tags/TagList.tsx
  public/app/core/components/Page/EditableTitle.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.test.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/components/NameCell.tsx
  public/app/features/browse-dashboards/components/TagsCell.tsx
  public/app/features/browse-dashboards/components/TypeCell.tsx
  public/app/features/browse-dashboards/fixtures/dashboardsTreeItem.fixture.ts
  public/app/features/browse-dashboards/state/hooks.ts
  yarn.lock
Labels: area/frontend, add to changelog, no-backport, area/manage-dashboards

#69685 Azure: Fix Kusto auto-completion for Azure datasources
  .github/CODEOWNERS
  package.json
  public/lib/monaco-languages/kusto.ts
  scripts/webpack/webpack.common.js
  yarn.lock
Labels: type/bug, area/frontend, datasource/Azure, add to changelog, effort/medium, backport v9.5.x, backport v10.0.x

#69640 Lower Drag and Drop file size limit to 500kb
  public/app/features/dataframe-import/constants.ts
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#69698 Loki: Fix including of template variables in variable query editor
  public/app/plugins/datasource/loki/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/loki/migrations/variableQueryMigrations.test.ts
  public/app/plugins/datasource/loki/migrations/variableQueryMigrations.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v10.0.x

#68295 Docker: Add ARM64 architecture for Docker, for PRs
  pkg/build/config/versions.go
Labels: area/backend, type/ci, no-changelog, backport v9.2.x, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69452 Alerting: Support newer http_config struct
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/util.test.ts
  public/app/features/alerting/unified/components/receivers/form/util.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v9.5.x, backport v10.0.x

#69514 Alerting: Use monaco editor for admin page
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.test.tsx
  public/app/features/alerting/unified/components/admin/ConfigEditor.tsx
  public/app/features/alerting/unified/components/admin/__snapshots__/AlertmanagerConfig.test.tsx.snap
Labels: area/alerting, area/frontend, add to changelog, no-backport

#69695 [v10.0.x] Azure: Fix Kusto auto-completion for Azure datasources (#69685)
  .github/CODEOWNERS
  package.json
  public/lib/monaco-languages/kusto.ts
  scripts/webpack/webpack.common.js
  yarn.lock
Labels: type/bug, area/frontend, backport, no-changelog

#69448 Plugins: Optimize creation of Golang errors and slices
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/plugins/manager/client/client.go
  pkg/plugins/manager/client/decorator.go
  pkg/plugins/manager/dashboards/filestore.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/loader/finder/local.go
  pkg/plugins/manager/loader/finder/local_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/registry/in_memory.go
  pkg/plugins/manager/store/store.go
  pkg/plugins/repo/client.go
Labels: area/plugins, type/chore, area/backend, no-backport, no-changelog

#69717 docs: add product labels for reporting page
  docs/sources/dashboards/create-reports/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69503 docs: improvements to visualizations docs
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/visualizations/news/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#68509 [v9.5.x] Docs: Plugin doc review for chunk 1-A
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/build-a-logs-data-source-plugin.md
  docs/sources/developers/plugins/build-a-streaming-data-source-plugin.md
  docs/sources/developers/plugins/create-a-grafana-plugin/_index.md
  docs/sources/developers/plugins/data-frames.md
  docs/sources/developers/plugins/get-started-with-plugins/_index.md
  docs/sources/developers/plugins/introduction-to-plugin-development/_index.md
  docs/sources/developers/plugins/migration-guide/_index.md
  docs/sources/developers/plugins/publish-or-update-a-plugin.md
  docs/sources/developers/plugins/publishing-and-signing-criteria.md
  docs/sources/developers/plugins/reference/_index.md
  docs/sources/developers/plugins/sign-a-plugin.md
  lerna.json
Labels: type/docs, area/frontend, backport, no-changelog

#69735 Prometheus: variable query editor interpolate variables in label values
  public/app/plugins/datasource/prometheus/components/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/migrations/variableMigration.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#69739 [v9.3x] docs: improvements to visualizations docs
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/visualizations/news/index.md
Labels: type/docs, backport, no-changelog

#69740 [v9.4.x] docs: improvements to visualizations docs
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/visualizations/news/index.md
Labels: type/docs, backport, no-changelog

#64565 Docs/docker compose update
  docs/sources/setup-grafana/configure-docker.md
  docs/sources/setup-grafana/installation/docker/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69745 [v9.3] Backport 64565 to v9.3.x
  docs/sources/setup-grafana/configure-docker.md
  docs/sources/setup-grafana/installation/docker/index.md
Labels: type/docs, backport, no-changelog

#69746 [9.4.x] Backport 64565 to v9.4.x
  docs/sources/setup-grafana/configure-docker.md
  docs/sources/setup-grafana/installation/docker/index.md
Labels: type/docs, backport, no-changelog

#69743 Authorization using authorizer in apiserver
  pkg/services/k8s/apiserver/authorization/grafana_authorizer.go
  pkg/services/k8s/apiserver/service.go
Labels: area/backend

#69749 docs: Azure doc link update
  docs/sources/setup-grafana/configure-security/configure-authentication/azuread/index.md
Labels: type/docs, pr/external, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#69621 DataFrame: Align frame (__series.name) and field naming (__field.name)
  packages/grafana-data/src/field/fieldState.test.ts
  packages/grafana-data/src/field/fieldState.ts
Labels: area/frontend, add to changelog, breaking change, no-backport

#68789 Service accounts: UI migration results
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/database/token_store.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/store.go
  pkg/services/serviceaccounts/models.go
  public/app/features/api-keys/ApiKeysPage.test.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/api-keys/state/actions.ts
  public/app/features/api-keys/state/reducers.ts
  public/app/types/apiKeys.ts
Labels: type/bug, type/docs, area/backend, area/frontend, no-changelog, backport v10.0.x

#69536 Drag&Drop: Dynamically load sheets module
  public/app/features/dataframe-import/utils.ts
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#67419 Docs/update mssql data source config
  docs/sources/administration/provisioning/index.md
  docs/sources/datasources/mssql/_index.md
Labels: type/docs, stale, no-backport, no-changelog

#66233 [Chore] Dashboard: Tests for dashboard's add content buttons and menu
  e2e/shared/smokeTestScenario.ts
  e2e/smoke-tests-suite/panels_smokescreen.spec.ts
  packages/grafana-e2e/src/flows/addDashboard.ts
  packages/grafana-e2e/src/flows/configurePanel.ts
  public/app/features/dashboard/components/AddPanelButton/AddPanelButton.test.tsx
  public/app/features/dashboard/components/AddPanelButton/AddPanelButton.tsx
  public/app/features/dashboard/components/AddPanelButton/AddPanelMenu.test.tsx
  public/app/features/dashboard/components/AddPanelButton/AddPanelMenu.tsx
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/dashgrid/DashboardEmpty.test.tsx
  public/app/features/dashboard/dashgrid/DashboardEmpty.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
Labels: area/dashboard, type/chore, area/backend, area/frontend, no-backport, no-changelog, missing-labels

#69449 Plugins: Standardize Golang enum naming convention
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/infra/usagestats/statscollector/service.go
  pkg/plugins/manager/installer.go
  pkg/plugins/manager/installer_test.go
  pkg/plugins/manager/loader/assetpath/assetpath.go
  pkg/plugins/manager/loader/assetpath/assetpath_test.go
  pkg/plugins/manager/loader/finder/local_test.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/process/process_test.go
  pkg/plugins/manager/signature/authorizer.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/signature/manifest_test.go
  pkg/plugins/manager/signature/signature.go
  pkg/plugins/manager/sources/source_local_disk.go
  pkg/plugins/manager/sources/sources.go
  pkg/plugins/manager/sources/sources_test.go
  pkg/plugins/manager/store/store_test.go
  pkg/plugins/models.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/services/navtree/navtreeimpl/applinks.go
  pkg/services/navtree/navtreeimpl/applinks_test.go
  pkg/services/store/kind/dashboard/summary.go
  pkg/services/updatechecker/plugins_test.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
Labels: area/plugins, type/chore, area/backend, no-backport, no-changelog

#69304 Alerting: Fix notification policies inheritance algorithm
  public/app/features/alerting/unified/components/Strong.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.test.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/types/amroutes.ts
  public/app/features/alerting/unified/utils/amroutes.test.ts
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/notification-policies.test.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v10.0.x

#66451 Plugins: Refactor creation of plugin context to dedicated service
  pkg/api/datasources.go
  pkg/api/http_server.go
  pkg/api/metrics.go
  pkg/api/metrics_test.go
  pkg/api/plugin_resource.go
  pkg/api/plugin_resource_test.go
  pkg/api/plugins.go
  pkg/expr/dataplane_test.go
  pkg/expr/nodes.go
  pkg/expr/service.go
  pkg/expr/service_test.go
  pkg/expr/transform.go
  pkg/services/live/features/plugin.go
  pkg/services/live/features/plugin_mock.go
  pkg/services/live/liveplugin/plugin.go
  pkg/services/live/runstream/manager.go
  pkg/services/live/runstream/manager_test.go
  pkg/services/live/runstream/mock.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/pluginsintegration/plugincontext/plugincontext.go
  pkg/services/publicdashboards/api/common_test.go
  pkg/services/query/query.go
  pkg/services/query/query_test.go
  pkg/tsdb/legacydata/service/service.go
  pkg/tsdb/legacydata/service/service_test.go
Labels: area/plugins, type/chore, area/backend/plugins, area/backend, no-backport, no-changelog

#69572 Loki: Fix showing of correct line limit in options
  public/app/plugins/datasource/loki/components/LokiOptionFields.test.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.tsx
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, no-backport

#69782 Alerting: Fix notification policies inheritance algorithm (#69304)
  public/app/features/alerting/unified/components/Strong.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.test.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/types/amroutes.ts
  public/app/features/alerting/unified/utils/amroutes.test.ts
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/notification-policies.test.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
Labels: area/alerting, area/frontend, backport, no-changelog

#69489 docs: whats new breaking changes updates
  docs/sources/breaking-changes/breaking-changes-v10-0.md
  docs/sources/whatsnew/whats-new-in-v10-0.md
Labels: type/docs, no-changelog, backport v10.0.x

#69731 Prometheus: fix icons that are only visible on hover
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationHeader.tsx
Labels: datasource/Prometheus, area/frontend, type/accessibility, no-backport, no-changelog

#69737 Prometheus: Fix numeric values in raw prometheus view which are being formatted as text
  public/app/features/explore/PrometheusListView/RawListItem.tsx
  public/app/features/explore/utils/getRawPrometheusListItemsFromDataFrame.ts
Labels: area/explore, area/frontend, no-backport, no-changelog

#69343 Prometheus: Fix series to rows frame name issue for custom name from legend option
  packages/grafana-data/src/transformations/transformers/seriesToRows.test.ts
  packages/grafana-data/src/transformations/transformers/seriesToRows.ts
Labels: type/bug, datasource/Prometheus, area/backend, area/frontend, no-changelog, area/dataplane, backport v10.0.x

#69803 Authentication UI: Enable by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, area/frontend, area/auth/saml, no-changelog, backport v10.0.x

#69422 FeatureFlags: Change alpha/beta language to align with release staging language
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/features.go
  pkg/services/featuremgmt/manager.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/service.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen_test.go
Labels: type/docs, type/chore, area/backend, no-backport, no-changelog

#69810 [v10.0.x] Authentication UI: Enable by default (#69803)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, backport, no-changelog

#69800 CloudMonitoring: Improve parsing of GCM labels
  pkg/tsdb/cloud-monitoring/test-data/7-series-response-mql.json
  pkg/tsdb/cloud-monitoring/time_series_query_test.go
  pkg/tsdb/cloud-monitoring/types.go
Labels: type/bug, effort/small, area/backend, datasource/GoogleCloudMonitoring, add to changelog, backport v10.0.x

#69811 Plugins: Account for nil user when constructing plugin context
  pkg/api/plugin_resource.go
  pkg/api/plugins.go
  pkg/services/live/liveplugin/plugin.go
  pkg/services/pluginsintegration/plugincontext/plugincontext.go
Labels: type/bug, area/plugins, area/backend, no-backport, no-changelog

#69678 grafana/schema: Make composable types part of the package
  packages/grafana-schema/package.json
  packages/grafana-schema/rollup.config.ts
  packages/grafana-schema/tsconfig.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#69528 Prometheus: Metrics explorer usability test improvements
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/AdditionalSettings.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/MetricsModal.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/MetricsModal.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/ResultsTable.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/state/helpers.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/state/state.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/styles.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/metrics-modal/types.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#69814 [DOC][Traces] Add second page where include file is called
  docs/sources/shared/datasources/tempo-search-traceql.md
Labels: type/docs, no-backport, no-changelog

#69786 Variables: Show description instead of definition in table
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/variables/editor/VariableEditorList.tsx
  public/app/features/variables/editor/VariableEditorListRow.tsx
Labels: area/dashboard/templating, area/frontend, add to changelog, no-backport

#69816 CloudWatch: Add missing AWS/FSx metrics
  pkg/tsdb/cloudwatch/constants/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport
