Repository grafana/grafana, pull requests merged in 2023-01, with the labels that each got.

#60435 CloudWatch: Add macro for resolving period in SEARCH expressions
  docs/sources/datasources/aws-cloudwatch/query-editor/index.md
  pkg/tsdb/cloudwatch/metric_data_query_builder.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
  public/app/plugins/datasource/cloudwatch/metric-math/completion/CompletionItemProvider.test.ts
  public/app/plugins/datasource/cloudwatch/metric-math/completion/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/metric-math/language.ts
Labels: type/docs, datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#60817 grafana/data: Move useFieldOverrides from core
  packages/grafana-data/package.json
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/index.ts
  public/app/features/panel/components/PanelRenderer.tsx
  public/app/features/scenes/components/VizPanel/VizPanelRenderer.tsx
  yarn.lock
Labels: area/frontend, area/grafana/data, no-backport, enterprise-ok, no-changelog, area/scenes

#60869 grafana/data: Deprecate kbn.regexEscape and move to grafana/data
  packages/grafana-data/src/text/string.ts
  public/app/core/utils/kbn.ts
  public/app/features/scenes/variables/interpolation/formatRegistry.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/query_builder.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog, enterprise-failed, area/scenes

#60849 Docs: Removing outdated plugin_dev doc
  PLUGIN_DEV.md
  docs/sources/developers/plugins/legacy/_index.md
Labels: type/docs, area/plugins, no-backport, enterprise-ok, no-changelog

#60875 Oauth: Remove extra decoding of redirect url
  pkg/api/login_oauth.go
Labels: type/bug, area/backend, add to changelog, enterprise-ok, backport v9.3.x

#60853 Docs: Updating plugin publishing docs
  docs/sources/developers/plugins/publish-a-plugin.md
Labels: type/docs, area/plugins-catalog, no-backport, no-changelog, enterprise-failed

#60883 Codegen: Add support for optional maps
  kinds/structured/team/team_kind.cue
  packages/grafana-schema/src/raw/team/x/team_types.gen.ts
  pkg/codegen/util_go.go
  pkg/kinds/team/team_types_gen.go
Labels: area/backend, area/frontend, type/codegen, no-backport, enterprise-ok, no-changelog, area/kindsys

#60882 Devenv: Remove abandoned environment
  devenv/docker/blocks/auth/saml/docker-compose.yaml
  devenv/docker/blocks/auth/saml/notes.md
  devenv/docker/blocks/auth/saml/users.php
Labels: no-backport, enterprise-ok, no-changelog

#60619 Cloudwatch: Add feedback labels to log groups selector
  public/app/plugins/datasource/cloudwatch/Search.tsx
  public/app/plugins/datasource/cloudwatch/components/CrossAccountLogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/components/CrossAccountLogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/SelectedLogsGroups.test.tsx
  public/app/plugins/datasource/cloudwatch/components/SelectedLogsGroups.tsx
  public/app/plugins/datasource/cloudwatch/components/styles.ts
Labels: datasource/CloudWatch, area/frontend, add to changelog, no-backport, enterprise-ok

#60877 AuthN: Add client to perform basic authentication
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/usersync/orgsync.go
  pkg/services/authn/authnimpl/usersync/usersync.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/basic.go
  pkg/services/authn/clients/basic_test.go
  pkg/services/authn/clients/constants.go
  pkg/services/contexthandler/contexthandler.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#60881 Devenv: Add SAML authentik devenv
  devenv/docker/blocks/auth/authentik/README.md
  devenv/docker/blocks/auth/authentik/cert.crt
  devenv/docker/blocks/auth/authentik/cloak.sql
  devenv/docker/blocks/auth/authentik/docker-compose.yaml
  devenv/docker/blocks/auth/authentik/key.pem
Labels: no-backport, no-changelog, enterprise-failed

#60891 CloudWatch: Decrease log group picker viewport size
  public/app/plugins/datasource/cloudwatch/components/styles.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, enterprise-ok, no-changelog

#60217 Phlare: Transition from LogQL/PromQL to Phlare should keep the query
  public/app/plugins/datasource/phlare/datasource.test.ts
  public/app/plugins/datasource/phlare/datasource.ts
Labels: area/frontend, add to changelog, area/datasource/frontend, no-backport, enterprise-ok, datasource/Phlare

#60844 A11y: Fix accessibility in menu icon on small screens
  public/app/core/components/NavBar/NavBar.tsx
Labels: type/bug, area/frontend, type/accessibility, no-backport, enterprise-ok, no-changelog

#60874 Alerting: Fix missing edit/delete/copy link in alert view
  public/app/features/alerting/unified/RuleViewer.test.tsx
  public/app/features/alerting/unified/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.test.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.test.tsx
  public/app/features/alerting/unified/mocks.ts
Labels: area/alerting, area/frontend, enterprise-ok, no-changelog, backport v9.3.x, missing-labels

#60696 Schema: Use the latest cuetsy version
  go.mod
  go.sum
  kinds/structured/team/team_kind.cue
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/raw/team/x/team_types.gen.ts
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#60521 Connections: Update datasource details url
  public/app/features/connections/constants.ts
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#60200 Chore: Convert `SpanGraph/index.test.tsx` to RTL
  .betterer.results
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/CanvasSpanGraph.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/TickLabels.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.tsx
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#60485 Plugins: Fix plugin query help markdown
  pkg/api/plugins.go
  public/app/core/components/PluginHelp/PluginHelp.tsx
  public/app/features/query/components/QueryGroup.tsx
Labels: type/bug, area/plugins, area/backend, area/frontend, add to changelog, area/query-editor, enterprise-ok, backport v9.3.x

#60351 Chore: Refactor the `TraceTimelineViewer/TimelineHeaderRow` folder to TypeScript
  .betterer.results
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineColumnResizer.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineColumnResizer.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineViewingLayer.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineViewingLayer.tsx
Labels: type/chore, type/refactor, area/frontend, no-backport, enterprise-ok, no-changelog

#60906 Chore: Delete duplicate models for user
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/models/user.go
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/services/notifications/notifications_test.go
  pkg/services/org/orgimpl/store.go
  pkg/services/sqlstore/mockstore/mockstore.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#59748 Chore: Refactor the root of the `packages/jaeger-ui-components/src/TraceTimelineViewer` folder to TS
  .betterer.results
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBar.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBar.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanTreeOffset.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/Ticks.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.test.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/utils.test.ts
Labels: type/refactor, area/frontend, no-backport, enterprise-ok, no-changelog

#60887 [v9.3.x] remove _build param from whatsnew (#59236)
  docs/sources/whatsnew/whats-new-in-v9-2.md
  docs/sources/whatsnew/whats-new-in-v9-3.md
Labels: type/docs, backport, no-changelog

#60888 [v9.2.x] remove _build param from whatsnew (#59236)
  docs/sources/whatsnew/whats-new-in-v9-2.md
Labels: type/docs, backport, no-changelog

#59576 Prometheus: Code editor - upgrade /series API endpoints to use label/values and /labels for supported prometheus clients
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/prometheus/language_provider.test.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
Labels: datasource/Prometheus, area/frontend, add to changelog, enterprise-ok, backport v9.3.x, missing-labels

#60644 PublicDashboards: Enterprise email sharing feature flag
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#60926 Alerting: Fix missing dashboard/panelID links in annotations
  pkg/services/ngalert/state/historian/annotation.go
Labels: type/bug, area/alerting, area/backend, add to changelog, enterprise-failed, backport v9.3.x

#60873 Cloudwatch: Refactor log group model
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_alert.go
  pkg/tsdb/cloudwatch/models/logs_query.go
  public/app/plugins/datasource/cloudwatch/api.ts
  public/app/plugins/datasource/cloudwatch/components/CloudWatchLink.test.tsx
  public/app/plugins/datasource/cloudwatch/components/CloudWatchLink.tsx
  public/app/plugins/datasource/cloudwatch/components/CrossAccountLogsQueryField.test.tsx
  public/app/plugins/datasource/cloudwatch/components/CrossAccountLogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/LogGroupSelection.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/SelectedLogsGroups.test.tsx
  public/app/plugins/datasource/cloudwatch/components/SelectedLogsGroups.tsx
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.ts
Labels: datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport, enterprise-ok

#60523 Connections: Show only data source plugins on Connect Data page
  public/app/features/connections/tabs/ConnectData/ConnectData.test.tsx
  public/app/features/connections/tabs/ConnectData/ConnectData.tsx
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#60128 Remove packages path from branch filter
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: type/docs, backport v8.3.x, backport v8.4.x, backport v8.5.x, no-changelog, enterprise-failed, backport v9.0.x, backport v9.1.x, backport v9.2.x, backport v9.3.x

#60911 Phlare: Add devenv block
  devenv/docker/blocks/phlare/docker-compose.yaml
  devenv/docker/blocks/phlare/phlare.yaml
Labels: type/chore, no-backport, enterprise-ok, no-changelog, datasource/Phlare

#57637 Alerting Docs: Clarify feature flag for Grafana Cloud users
  docs/sources/alerting/images-in-notifications.md
  docs/sources/alerting/manage-notifications/images-in-notifications.md
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#60923 A11y: Improve accessibility of ColorPickerInput
  packages/grafana-ui/src/components/ColorPicker/ColorInput.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerInput.tsx
Labels: type/chore, area/frontend, area/grafana/ui, type/accessibility, no-backport, enterprise-ok, no-changelog

#60914 AuthN: Add render auth client
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/clients/render.go
  pkg/services/authn/clients/render_test.go
  pkg/services/contexthandler/contexthandler.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#59760 Dashboard: .txt file extension is not supported in /dashboard/import file upload
  public/app/features/manage-dashboards/DashboardImportPage.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#60855 Dashboard loader supports transformations & unit tests
  public/app/features/dashboard/state/__fixtures__/dashboardFixtures.ts
  public/app/features/scenes/dashboard/DashboardsLoader.test.ts
  public/app/features/scenes/dashboard/DashboardsLoader.ts
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#60868 Alerting: Add pagination in group modal alert table
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
Labels: area/alerting, area/frontend, no-backport, enterprise-ok, no-changelog

#60895 Chore: group visx updates together
  .github/renovate.json5
Labels: type/chore, no-backport, no-changelog, enterprise-failed

#60643 [v9.3.x] Plugins: add option to proxy ds connections through a secure socks proxy (#59254)
  conf/defaults.ini
  conf/sample.ini
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/infra/httpclient/httpclientprovider/http_client_provider.go
  pkg/infra/httpclient/httpclientprovider/secure_socks_proxy.go
  pkg/infra/httpclient/httpclientprovider/secure_socks_proxy_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/setting/setting.go
  pkg/setting/setting_secure_socks_proxy.go
Labels: area/backend, area/frontend, backport, no-changelog

#60933 Alerting: Fix conversion of alert state from db state during manager warmup
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, backport v9.3.x

#60973 Navigation: use "Home" instead of "Grafana" as the default Breadcrumb text
  public/app/core/components/AppChrome/AppChromeService.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog, enterprise-failed

#60894 AuthN: Add session client
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/usersync/orgsync.go
  pkg/services/authn/authnimpl/usersync/orgsync_test.go
  pkg/services/authn/authnimpl/usersync/usersync.go
  pkg/services/authn/authnimpl/usersync/usersync_test.go
  pkg/services/authn/clients/session.go
  pkg/services/authn/clients/session_test.go
  pkg/services/contexthandler/contexthandler.go
  pkg/web/context.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#60964 SupportBundles: Improve UX
  pkg/infra/supportbundles/supportbundlesimpl/store.go
  public/app/features/support-bundles/SupportBundles.tsx
  public/app/features/support-bundles/SupportBundlesCreate.tsx
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#60750 Plugins: add UI for secure socks proxy feature toggle
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/types.ts
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/prometheus/types.ts
Labels: datasource/Prometheus, area/frontend, datasource/Loki, enterprise-ok, no-changelog, backport v9.3.x, product-approved

#60940 Chore: Delete org model duplicates
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/api/org.go
  pkg/api/user.go
  pkg/models/org.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/authn/authnimpl/usersync/orgsync.go
  pkg/services/login/loginservice/loginservice.go
  pkg/services/org/model.go
  pkg/services/org/org.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgimpl/org_test.go
  pkg/services/org/orgimpl/store.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/org/orgtest/fake.go
  pkg/services/provisioning/dashboards/config_reader_test.go
  pkg/services/provisioning/plugins/mocks/Store.go
  pkg/services/provisioning/plugins/plugin_provisioner_test.go
  pkg/services/provisioning/utils/utils.go
  pkg/services/sqlstore/migrations/ualert/migration_test.go
  pkg/services/sqlstore/user.go
  pkg/services/user/userimpl/user.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog, enterprise-failed

#60949 I18N: Fail i18n:extract on warnings + update strings
  packages/grafana-ui/src/utils/i18n.tsx
  public/app/core/internationalization/index.tsx
  public/app/features/dashboard/containers/NewDashboardPage.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/i18next-parser.config.js
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, area/internationalization, no-backport, enterprise-ok, no-changelog

#60912 Chore: Automatically add crowdin PRs to User Essentials board
  .github/commands.json
Labels: no-backport, enterprise-ok, no-changelog

#60931 Annotations: Fix EpochEnd being zero for Alert-generated annotations
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, enterprise-ok, backport v9.3.x

#60986 SupportBundles: Move support bundles to services
  .github/CODEOWNERS
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/supportbundles/interface.go
  pkg/services/supportbundles/supportbundlesimpl/api.go
  pkg/services/supportbundles/supportbundlesimpl/collectors.go
  pkg/services/supportbundles/supportbundlesimpl/db_collector.go
  pkg/services/supportbundles/supportbundlesimpl/models.go
  pkg/services/supportbundles/supportbundlesimpl/service.go
  pkg/services/supportbundles/supportbundlesimpl/service_bundle.go
  pkg/services/supportbundles/supportbundlesimpl/service_test.go
  pkg/services/supportbundles/supportbundlesimpl/store.go
  pkg/services/supportbundles/supportbundlesimpl/user_collector.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#60492 Alerting: Store alertmanager configuration history in a separate table in the database
  pkg/services/ngalert/store/alertmanager.go
  pkg/services/sqlstore/migrations/ualert/tables.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Labels: type/bug, area/alerting, area/backend/db, area/backend, area/backend/db/migration, no-backport, enterprise-ok, no-changelog

#60479 Prometheus: New instant query results view in Explore
  .betterer.results
  packages/grafana-data/src/types/data.ts
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreQueryInspector.test.tsx
  public/app/features/explore/PrometheusListView/ItemLabels.tsx
  public/app/features/explore/PrometheusListView/ItemValues.test.tsx
  public/app/features/explore/PrometheusListView/ItemValues.tsx
  public/app/features/explore/PrometheusListView/RawListContainer.test.tsx
  public/app/features/explore/PrometheusListView/RawListContainer.tsx
  public/app/features/explore/PrometheusListView/RawListItem.test.tsx
  public/app/features/explore/PrometheusListView/RawListItem.tsx
  public/app/features/explore/PrometheusListView/RawListItemAttributes.test.tsx
  public/app/features/explore/PrometheusListView/RawListItemAttributes.tsx
  public/app/features/explore/RawPrometheusContainer.test.tsx
  public/app/features/explore/RawPrometheusContainer.tsx
  public/app/features/explore/ResponseErrorContainer.test.tsx
  public/app/features/explore/TableContainer.test.tsx
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/utils.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/features/explore/utils/getRawPrometheusListItemsFromDataFrame.test.ts
  public/app/features/explore/utils/getRawPrometheusListItemsFromDataFrame.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/types/explore.ts
Labels: type/feature-request, datasource/Prometheus, area/explore, area/frontend, add to changelog, no-backport, enterprise-ok

#60991 RBAC: move RBAC + OnCall feature toggle to beta state
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
Labels: type/docs, area/backend, no-backport, enterprise-ok, no-changelog

#61007 Canvas: Inconsistent save behavior
  public/app/features/canvas/runtime/element.tsx
Labels: type/bug, area/frontend, area/panel/canvas, enterprise-ok, no-changelog, backport v9.2.x, backport v9.3.x

#60147 PanelChrome: Implement Panel header with states error/warning/info and streaming
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/LoadingBar/LoadingBar.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.story.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.test.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelStatus.tsx
  public/api-merged.json
  public/api-spec.json
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
Labels: area/frontend, area/grafana/ui, no-backport, enterprise-ok, no-changelog

#60885 TextPanel: Refactor to functional component
  public/app/plugins/panel/text/TextPanel.tsx
  public/app/plugins/panel/text/TextPanelEditor.tsx
  public/app/plugins/panel/text/module.tsx
Labels: type/chore, area/frontend, area/panel/text, no-backport, enterprise-ok, no-changelog

#60480 Elasticsearch: Use interval provided by data request in backend
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/client/models.go
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/client/search_request_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/models.go
  pkg/tsdb/elasticsearch/parse_query.go
  pkg/tsdb/elasticsearch/parse_query_test.go
  pkg/tsdb/elasticsearch/querydata_test.go
  pkg/tsdb/elasticsearch/testdata_request/logs.queries.json
  pkg/tsdb/elasticsearch/testdata_request/metric_multi.queries.json
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: datasource/Elasticsearch, area/backend, no-backport, enterprise-ok, no-changelog

#60984 RelativeTimeRangePicker: correctly trap focus in overlay
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
Labels: type/bug, area/frontend, no-backport, enterprise-ok, no-changelog

#60995 SupportBundles: Recover from Bundler panics gracefully
  pkg/services/supportbundles/supportbundlesimpl/service.go
  pkg/services/supportbundles/supportbundlesimpl/service_bundle.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#60293 Loki: Add hints for query filters
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/modifyQuery.ts
  public/app/plugins/datasource/loki/queryHints.test.ts
  public/app/plugins/datasource/loki/queryHints.ts
  public/app/plugins/datasource/loki/queryUtils.ts
  public/app/plugins/datasource/loki/querybuilder/operationUtils.ts
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryBuilderHints.tsx
Labels: datasource/Prometheus, area/frontend, datasource/Loki, add to changelog, no-backport, enterprise-failed

#60985 CodeOwners: Update authnz components
  .github/CODEOWNERS
Labels: no-backport, enterprise-ok, no-changelog

#58197 RBAC: Add function to reduce permissions
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/accesscontrol_test.go
  pkg/services/accesscontrol/scope.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#60694 Transformations: Add context parameter to transformDataFrame and operators
  .betterer.results
  packages/grafana-data/src/transformations/transformDataFrame.ts
  packages/grafana-data/src/transformations/transformers/calculateField.test.ts
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/transformations/transformers/convertFieldType.ts
  packages/grafana-data/src/transformations/transformers/ensureColumns.ts
  packages/grafana-data/src/transformations/transformers/filter.ts
  packages/grafana-data/src/transformations/transformers/filterByName.test.ts
  packages/grafana-data/src/transformations/transformers/filterByRefId.ts
  packages/grafana-data/src/transformations/transformers/filterByValue.ts
  packages/grafana-data/src/transformations/transformers/histogram.ts
  packages/grafana-data/src/transformations/transformers/joinByField.ts
  packages/grafana-data/src/transformations/transformers/labelsToFields.ts
  packages/grafana-data/src/transformations/transformers/organize.ts
  packages/grafana-data/src/types/transformations.ts
  public/app/features/annotations/standardAnnotationSupport.ts
  public/app/features/explore/utils/decorators.ts
  public/app/features/query/state/PanelQueryRunner.ts
  public/app/features/scenes/querying/SceneQueryRunner.ts
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/features/transformers/editors/CalculateFieldTransformerEditor.tsx
  public/app/features/transformers/extractFields/extractFields.test.ts
  public/app/features/transformers/extractFields/extractFields.ts
  public/app/features/transformers/joinByLabels/joinByLabels.ts
  public/app/features/transformers/partitionByValues/partitionByValues.test.ts
  public/app/features/transformers/partitionByValues/partitionByValues.ts
  public/app/features/transformers/prepareTimeSeries/prepareTimeSeries.test.ts
  public/app/features/transformers/prepareTimeSeries/prepareTimeSeries.ts
Labels: area/explore, area/frontend, add to changelog, no-backport, levitate breaking change, enterprise-failed

#61014 Chore: Avoid FC in canvas elements and dimension editors
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinkEditorModalContent.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeOfDayPicker.tsx
  packages/grafana-ui/src/components/FormattedValueDisplay/FormattedValueDisplay.tsx
  public/app/core/components/TagFilter/TagFilter.tsx
  public/app/core/components/TagFilter/TagOption.tsx
  public/app/features/canvas/elements/droneFront.tsx
  public/app/features/canvas/elements/droneSide.tsx
  public/app/features/canvas/elements/droneTop.tsx
  public/app/features/canvas/elements/windTurbine.tsx
  public/app/features/dimensions/editors/BackgroundSizeEditor.tsx
  public/app/features/dimensions/editors/ScalarDimensionEditor.tsx
  public/app/features/dimensions/editors/TextDimensionEditor.tsx
  public/app/features/inspector/InspectDataOptions.tsx
  public/app/features/scenes/SceneEmbeddedPage.tsx
  public/app/features/scenes/SceneListPage.tsx
  public/app/features/scenes/ScenePage.tsx
  public/app/features/scenes/dashboard/DashboardScenePage.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/components/SearchCheckbox.tsx
  public/app/plugins/panel/alertlist/AlertInstances.tsx
  public/app/plugins/panel/annolist/AnnotationListItem.tsx
  public/app/plugins/panel/geomap/editor/FrameSelectionEditor.tsx
  public/app/plugins/panel/geomap/editor/GeomapStyleRulesEditor.tsx
  public/app/plugins/panel/geomap/editor/StyleEditor.tsx
  public/app/plugins/panel/geomap/editor/StyleRuleEditor.tsx
  public/app/plugins/panel/gettingstarted/components/Step.tsx
  public/app/plugins/panel/gettingstarted/components/TutorialCard.tsx
  public/app/plugins/panel/piechart/PieChart.tsx
  public/app/plugins/panel/xychart/AutoEditor.tsx
Labels: type/chore, area/frontend, area/panel/canvas, no-backport, enterprise-ok, no-changelog

#61006 Alerting: Allow state history to be disabled through configuration
  conf/defaults.ini
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/noop.go
  pkg/setting/setting_unified_alerting.go
Labels: type/feature-request, area/alerting, area/backend, add to changelog, no-backport, enterprise-ok, kata:state-history

#61017 Dashboards: Support drag+drop to import dashboard
  .betterer.results
  public/app/features/manage-dashboards/DashboardImportPage.tsx
Labels: area/dashboard, area/dashboard/import, area/frontend, no-backport, no-changelog, enterprise-failed

#60990 Prometheus: instant results ux improvements rudderstack events
  public/app/features/explore/PrometheusListView/RawListContainer.tsx
  public/app/features/explore/PrometheusListView/RawListItem.tsx
  public/app/features/explore/RawPrometheusContainer.tsx
Labels: datasource/Prometheus, area/backend, area/explore, area/frontend, no-backport, enterprise-ok, no-changelog

#60992 Kindsys: Remove Raw kind category
  embed.go
  kinds/constraint.cue
  kinds/dashboard/dashboard_kind.cue
  kinds/gen.go
  kinds/playlist/playlist_kind.cue
  kinds/raw/svg/svg_kind.cue
  kinds/structured/constraint.cue
  kinds/team/team_kind.cue
  pkg/codegen/generators.go
  pkg/codegen/jenny_basecorereg.go
  pkg/codegen/jenny_corekind.go
  pkg/codegen/jenny_eachmajor.go
  pkg/codegen/jenny_rawkind.go
  pkg/codegen/jenny_tsveneerindex.go
  pkg/codegen/latest_jenny.go
  pkg/codegen/tmpl.go
  pkg/codegen/tmpl/kind_core.tmpl
  pkg/codegen/tmpl/kind_raw.tmpl
  pkg/codegen/tmpl/kind_registry.tmpl
  pkg/kinds/dashboard/dashboard_kind_gen.go
  pkg/kinds/playlist/playlist_kind_gen.go
  pkg/kinds/svg/svg_kind_gen.go
  pkg/kinds/team/team_kind_gen.go
  pkg/kindsys/EXTENDING.md
  pkg/kindsys/kind.go
  pkg/kindsys/kindcat_custom.cue
  pkg/kindsys/kindcats.cue
  pkg/kindsys/kindmetas.go
  pkg/kindsys/load.go
  pkg/kindsys/report.go
  pkg/kindsys/report.json
  pkg/plugins/manager/testdata/disallowed-cue-import/models.cue
  pkg/registry/corekind/base.go
  pkg/registry/corekind/base_gen.go
Labels: area/backend, area/frontend, no-backport, enterprise-ok, no-changelog

#61048 Add reference to Google OAuth docs
  docs/sources/setup-grafana/configure-security/configure-authentication/google/index.md
Labels: type/docs, backport v8.3.x, backport v8.4.x, backport v8.5.x, no-changelog, backport v9.0.x, backport v9.1.x, backport v9.2.x, backport v9.3.x

#61040 RBAC: rewrite team member api test to not use mock
  pkg/api/team_members_test.go
  pkg/services/team/teamtest/team.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#61050 AuthN: Make client params part of the identity
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/usersync/orgsync.go
  pkg/services/authn/authnimpl/usersync/orgsync_test.go
  pkg/services/authn/authnimpl/usersync/usersync.go
  pkg/services/authn/authnimpl/usersync/usersync_test.go
  pkg/services/authn/authntest/fake.go
  pkg/services/authn/authntest/mock.go
  pkg/services/authn/clients/anonymous.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/basic.go
  pkg/services/authn/clients/render.go
  pkg/services/authn/clients/session.go
  pkg/services/authn/clients/session_test.go
Labels: area/backend, no-backport, no-changelog

#61034 Kindsys: New schema for Kinds report
  pkg/kindsys/report.go
  pkg/kindsys/report.json
Labels: datasource/Prometheus, area/backend, area/explore, area/frontend, datasource/Loki, datasource/Tempo, no-backport, no-changelog, enterprise-failed, area/kindsys

#61071 Canvas: Improve placement when adding an element via context menu
  public/app/plugins/panel/canvas/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, add to changelog, area/panel/canvas, no-backport

#60630 Explore: move items out of topnav & use canvas variant for toolbar buttons
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
  public/app/features/explore/AddToDashboard/index.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreTimeControls.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/LiveTailButton.tsx
  public/app/features/explore/TimeSyncButton.tsx
Labels: area/explore, area/frontend, no-backport, enterprise-ok, no-changelog

#60918 Datasource Onboarding: add tracking
  public/app/features/datasources/components/EmptyStateNoDatasource.test.tsx
  public/app/features/datasources/components/EmptyStateNoDatasource.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#61046 Connections: use the `"adjust-circle"` icon as a logo
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/components/Icon/cached.json
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  pkg/services/navtree/navtreeimpl/navtree.go
Labels: area/plugins, area/backend, area/frontend, area/grafana/ui, no-backport, no-changelog, ConnectionsV1

#61037 Connections: Add redirect notice for datasources and plugins pages
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.tsx
  public/app/features/connections/components/ConnectionsRedirectNotice/index.ts
  public/app/features/datasources/pages/DataSourcesListPage.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#61024 Chore: Move tempuser model to tempuser package
  pkg/api/org_invite.go
  pkg/api/signup.go
  pkg/infra/db/dbtest/dbtest.go
  pkg/services/cleanup/cleanup.go
  pkg/services/notifications/notifications.go
  pkg/services/temp_user/model.go
  pkg/services/temp_user/temp_user.go
  pkg/services/temp_user/tempuserimpl/store.go
  pkg/services/temp_user/tempuserimpl/store_test.go
  pkg/services/temp_user/tempuserimpl/temp_user.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#60725 Connections: Align permissions for Connections page
  pkg/api/api.go
  pkg/services/datasources/accesscontrol.go
  pkg/services/navtree/navtreeimpl/applinks_test.go
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/datasources/components/DataSourcesList.test.tsx
  public/app/features/datasources/components/DataSourcesList.tsx
  public/app/features/datasources/pages/DataSourcesListPage.test.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#61059 Use preferred package header for generated code
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/raw/playlist/x/playlist_types.gen.ts
  packages/grafana-schema/src/raw/team/x/team_types.gen.ts
  pkg/codegen/tmpl/gen_header.tmpl
  pkg/kinds/dashboard/dashboard_kind_gen.go
  pkg/kinds/dashboard/dashboard_types_gen.go
  pkg/kinds/playlist/playlist_kind_gen.go
  pkg/kinds/playlist/playlist_types_gen.go
  pkg/kinds/team/team_kind_gen.go
  pkg/kinds/team/team_types_gen.go
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  pkg/plugins/plugindef/plugindef_bindings_gen.go
  pkg/plugins/plugindef/plugindef_types_gen.go
  pkg/registry/corekind/base_gen.go
  public/app/plugins/panel/annolist/models.gen.ts
  public/app/plugins/panel/barchart/models.gen.ts
  public/app/plugins/panel/bargauge/models.gen.ts
  public/app/plugins/panel/dashlist/models.gen.ts
  public/app/plugins/panel/gauge/models.gen.ts
  public/app/plugins/panel/histogram/models.gen.ts
  public/app/plugins/panel/news/models.gen.ts
  public/app/plugins/panel/piechart/models.gen.ts
  public/app/plugins/panel/stat/models.gen.ts
  public/app/plugins/panel/text/models.gen.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#61044 Elasticsearch: Return error if invalid query
  pkg/tests/api/elasticsearch/elasticsearch_test.go
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog

#61061 Loki: Fix code editor not correctly responding to window resize
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryCodeEditor.tsx
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#61084 Chore: Change TimePicker owner to User Essentials
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#61055 SupportBundles: Fixes sentance casing
  public/app/core/components/NavBar/navBarItem-translations.ts
  public/app/features/support-bundles/SupportBundles.tsx
Labels: no-backport, no-changelog

#61080 Docs: Add source code url field description in publish a plugin documentation
  docs/sources/developers/plugins/publish-a-plugin.md
Labels: type/docs, area/plugins, backport, backport v8.3.x, backport v8.4.x, backport v8.5.x, no-changelog, backport v9.0.x, backport v9.1.x, backport v9.2.x, backport v9.3.x

#60702 Nested folders: Do not expose the sequential ID from the folder store
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/sqlstore.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#60532 DataSourceList: Build a dashboard button to open new dashboard in panel edit with data source already set
  public/app/features/dashboard/components/AddPanelWidget/AddPanelWidget.tsx
  public/app/features/dashboard/containers/NewDashboardWithDS.tsx
  public/app/features/datasources/components/DataSourcesList.test.tsx
  public/app/features/datasources/components/DataSourcesList.tsx
  public/app/features/datasources/pages/DataSourcesListPage.test.tsx
  public/app/routes/routes.tsx
Labels: area/frontend, no-backport, no-changelog, enterprise-failed

#61088 GrafanaUI: Fix vercal slider handle positioning
  packages/grafana-ui/src/components/Slider/styles.ts
Labels: type/bug, area/frontend, add to changelog, area/grafana/ui, backport v9.3.x

#61042 QueryHistory: Add tracking for copy query button
  public/app/features/explore/RichHistory/RichHistoryCard.tsx
Labels: type/chore, area/explore, area/frontend, no-backport, no-changelog, enterprise-failed

#61094 AuthN: Document identity and add missing fields
  pkg/services/authn/authn.go
Labels: area/backend, no-backport, no-changelog

#61069 Kindsys: Remove defs, Slot->SchemaInterface
  kinds/constraint.cue
  pkg/codegen/generators.go
  pkg/codegen/jenny_basecorereg.go
  pkg/codegen/jenny_corekind.go
  pkg/codegen/tmpl.go
  pkg/codegen/tmpl/kind_core.tmpl
  pkg/kinds/dashboard/dashboard_kind_gen.go
  pkg/kinds/playlist/playlist_kind_gen.go
  pkg/kinds/team/team_kind_gen.go
  pkg/kindsys/kind.go
  pkg/kindsys/kindcat_composable.cue
  pkg/kindsys/kindcat_custom.cue
  pkg/kindsys/kindcats.cue
  pkg/kindsys/kindmetas.go
  pkg/kindsys/load.go
  pkg/kindsys/report.go
  pkg/kindsys/report.json
  pkg/kindsys/schema_interface.cue
  pkg/kindsys/schema_interface.go
  pkg/kindsys/slot.go
  pkg/kindsys/slot_test.go
  pkg/kindsys/slots.cue
  pkg/plugins/codegen/jenny_plugingotypes.go
  pkg/plugins/codegen/jenny_plugintstypes.go
  pkg/plugins/manager/testdata/missing-kind-datasource/models.cue
  pkg/plugins/manager/testdata/missing-kind-datasource/plugin.json
  pkg/plugins/pfs/decl.go
  pkg/plugins/pfs/decl_parser.go
  pkg/plugins/pfs/pfs.go
  pkg/plugins/pfs/pfs_test.go
  public/app/plugins/gen.go
Labels: area/backend, area/frontend, no-backport, no-changelog, area/kindsys

#59223 docs: update 9.0 upgrade instructions
  docs/sources/setup-grafana/upgrade-grafana.md
Labels: type/docs, no-changelog, enterprise-failed, backport v9.0.x

#61072 Alerting: Add un-documented toggle for changing state history backend, add shells for remote loki and sql
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/core.go
  pkg/services/ngalert/state/historian/core_test.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/sql.go
  pkg/services/ngalert/state/manager_test.go
  pkg/setting/setting_unified_alerting.go
Labels: area/alerting, area/backend, no-backport, no-changelog, kata:state-history

#61108 Canvas: Update context menu actions for multiple elements selected
  public/app/plugins/panel/canvas/CanvasContextMenu.tsx
Labels: area/frontend, add to changelog, area/panel/canvas, no-backport

#61106 Inspect: Refactor InspectJSONTab to FC
  public/app/features/inspector/InspectDataOptions.tsx
  public/app/features/inspector/InspectErrorTab.tsx
  public/app/features/inspector/InspectJSONTab.tsx
  public/app/features/inspector/InspectMetadataTab.tsx
  public/app/features/inspector/InspectStatsTab.tsx
  public/app/features/inspector/InspectStatsTable.tsx
  public/app/features/inspector/styles.ts
Labels: area/frontend, panel/inspect, no-backport, no-changelog

#61057 Alerting: Add support for tracing to alerting scheduler
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/quota/quotaimpl/quota_test.go
Labels: area/alerting, area/backend, add to changelog, area/tracing, no-backport

#61117 Annotations: AddMany to not open session if nothing to save
  pkg/services/annotations/annotationsimpl/xorm_store.go
Labels: area/annotations, area/alerting, area/backend, no-backport, no-changelog

#60896 Preferences: Add pagination to org configuration page
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/services/org/model.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgimpl/store.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/provisioning/plugins/mocks/Store.go
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/users/UsersActionBar.test.tsx
  public/app/features/users/UsersActionBar.tsx
  public/app/features/users/UsersListPage.test.tsx
  public/app/features/users/UsersListPage.tsx
  public/app/features/users/UsersTable.test.tsx
  public/app/features/users/UsersTable.tsx
  public/app/features/users/__mocks__/userMocks.ts
  public/app/features/users/state/actions.ts
  public/app/features/users/state/reducers.test.ts
  public/app/features/users/state/reducers.ts
  public/app/features/users/state/selectors.ts
  public/app/types/user.ts
Labels: area/backend, area/frontend, add to changelog, no-backport, enterprise-failed

#60091 Loki: Fix tracking of `queries_with_changed_line_limit_count`
  public/app/plugins/datasource/loki/module.test.ts
  public/app/plugins/datasource/loki/tracking.ts
Labels: type/bug, area/frontend, datasource/Loki, stale, no-backport, no-changelog, enterprise-failed

#61036 RBAC: Rewrite rbac annotations test
  pkg/api/annotations_test.go
  pkg/api/common_test.go
Labels: type/chore, area/backend, no-backport, enterprise-ok, no-changelog

#61132 Docs: Add source code url field description in publish a plugin document
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs, pr/external, backport, no-changelog

#61133 Docs: Add source code url field description in publish a plugin documentation (#61080)
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs, pr/external, backport, no-changelog

#61136 Docs: Add source code url field description in publish a plugin documentation (#61080)
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs, pr/external, backport, no-changelog

#61137 Docs: Add source code url field description in publish a plugin documentation (#61080)
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs, pr/external, backport, no-changelog

#61138 Docs: Add source code url field description in publish a plugin documentation (#61080)
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs, pr/external, backport, no-changelog

#61139 Docs: Add source code url field description in publish a plugin documentation (#61080)
  docs/sources/developers/plugins/package-a-plugin.md
Labels: type/docs, pr/external, backport, no-changelog

#60994 Influxdb: Improve filtering
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/types.ts
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tags.test.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Seg.tsx
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog, enterprise-failed

#61141 RBAC: Update org invite rbac tests to not used mocked access control
  pkg/api/common_test.go
  pkg/api/org_invite_test.go
Labels: area/backend, pr/external, no-backport, no-changelog

#56577 Johnmartins/var alphabetical sort
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/adx.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/appInsights.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/appInsightsGeoMap.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/arg.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/cosmosdb.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/keyvault.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/networkInsightsDashboard.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/sqldb.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/storage.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/v1Alerts.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/vMInsightsRG.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/vMInsightsWorkspace.json
Labels: area/frontend, datasource/Azure, pr/external, no-backport, no-changelog

#60582 RBAC: dashboard permission filter
  pkg/services/searchV2/auth.go
  pkg/services/sqlstore/permissions/dashboard.go
Labels: area/backend, no-backport, enterprise-ok, no-changelog

#61025 Chore: Remove org model duplicates
  pkg/api/org.go
  pkg/api/org_invite.go
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/models/org_user.go
  pkg/services/authn/authnimpl/usersync/orgsync.go
  pkg/services/login/loginservice/loginservice.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/services/org/model.go
  pkg/services/org/orgimpl/store.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/sqlstore/migrations/accesscontrol/team_membership.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/user.go
Labels: area/backend, area/backend/db/migration, no-backport, enterprise-ok, no-changelog

#61109 Traces: Fix timestamp for database query traces
  pkg/services/sqlstore/database_wrapper.go
Labels: type/bug, area/backend, area/tracing, no-changelog, backport v9.3.x

#61115 Traces: Create span when a new session is opened
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/transactions.go
Labels: area/backend, area/tracing, no-backport, no-changelog

#61163 AzureMonitor: Fix dashboard json style
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/appInsights.json
Labels: area/frontend, datasource/Azure, pr/external, no-backport, no-changelog

#61116 Test Datasource: do not use global random
  pkg/tsdb/testdatasource/scenarios.go
Labels: type/performance, area/backend, datasource/TestDataDB, no-backport, no-changelog

#61153 AuthN: Refactor basic auth client to support multiple password auth
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authntest/fake.go
  pkg/services/authn/clients/basic.go
  pkg/services/authn/clients/basic_test.go
  pkg/services/authn/clients/constants.go
  pkg/services/authn/clients/grafana.go
  pkg/services/authn/clients/grafana_test.go
  pkg/services/authn/clients/ldap.go
  pkg/services/authn/clients/ldap_test.go
Labels: area/backend, no-backport, no-changelog

#60979 remove splunk plugin from legacyRunner check
  public/app/features/annotations/standardAnnotationSupport.ts
Labels: area/annotations, area/frontend, enterprise-ok, no-changelog, backport v9.1.x, backport v9.2.x, backport v9.3.x, product-approved

#61177 Logs: Add usage tracking to new download-logs button
  public/app/features/explore/LogsMetaRow.tsx
  public/app/features/inspector/InspectDataTab.tsx
Labels: area/explore, area/frontend, pr/external, area/logs, no-backport, no-changelog

#61176 Canvas: Min-width for inline editor
  public/app/plugins/panel/canvas/InlineEdit.tsx
Labels: area/frontend, pr/external, area/panel/canvas, no-backport, no-changelog

#60998 Logs volume: Refactor
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsContainer.tsx
  public/app/features/explore/state/datasource.ts
  public/app/features/explore/state/helpers.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/utils.ts
  public/app/types/explore.ts
Labels: area/explore, area/frontend, no-backport, enterprise-ok, no-changelog

#61005 Alerting: only track events for survey if user is not new
  public/app/features/alerting/unified/Analytics.test.ts
  public/app/features/alerting/unified/Analytics.ts
Labels: area/alerting, area/frontend, pr/external, no-backport, enterprise-ok, no-changelog

#61105 Alerting: Add info to alert rule creation metric
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/state/actions.ts
Labels: area/alerting, area/frontend, pr/external, no-backport, no-changelog

#61189 Alerting: Scheduler to call DeleteAlertRule once when it stops deleted rules
  pkg/services/ngalert/schedule/schedule.go
Labels: area/alerting, area/backend, pr/external, no-backport, no-changelog

#61207 TimeSeries: Fix y-axis Yes/No and On/Off boolean units
  devenv/dev-dashboards/panel-timeseries/timeseries-yaxis-ticks.json
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotAxisBuilder.ts
Labels: type/bug, area/frontend, add to changelog, pr/external, area/panel/timeseries, backport v9.3.x

#60811 Table: Improve data link text style
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
Labels: area/frontend, no-backport, enterprise-ok, no-changelog

#60140 Dashlist: Design tweak to dashlist items
  public/app/plugins/panel/dashlist/styles.ts
  public/sass/_grafana.scss
  public/sass/components/_panel_dashlist.scss
Labels: area/ux, no-backport, no-changelog, enterprise-failed

#61060 RolePicker: Align groupHeader to the list items horizontally
  public/app/core/components/RolePicker/styles.ts
Labels: area/frontend, add to changelog, pr/external, no-backport, team/grafana-authnz

#61145 Elasticsearch: Refactor processQuery to make it more readable
  pkg/tsdb/elasticsearch/time_series_query.go
Labels: datasource/Elasticsearch, area/backend, no-backport, no-changelog

#61187 Navigation: Add Cancel button to Import dashboard page
  public/app/features/manage-dashboards/DashboardImportPage.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#61160 Navigation: Allow overriding icons in nav settings
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/components/Icon/cached.json
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  pkg/services/navtree/navtreeimpl/applinks.go
  pkg/services/navtree/navtreeimpl/navtree.go
  public/img/icons/unicons/k6.svg
Labels: area/backend, area/frontend, area/navigation, pr/external, no-backport, no-changelog

#61188 Navigation: Add Cancel button to New folder page
  public/app/features/folders/components/NewDashboardsFolder.tsx
Labels: area/frontend, area/navigation, pr/external, no-backport, no-changelog

#60898 Docs: Update weights for Customize notifications without changing the order of pages
  docs/sources/alerting/manage-notifications/template-notifications/create-message-templates.md
  docs/sources/alerting/manage-notifications/template-notifications/reference.md
  docs/sources/alerting/manage-notifications/template-notifications/use-message-templates.md
  docs/sources/alerting/manage-notifications/template-notifications/using-go-templating-language.md
Labels: type/docs, no-backport, no-changelog, enterprise-failed

#61150 Loki: Rename "explain" toggle to "explain query"
  docs/sources/datasources/loki/query-editor/index.md
  public/app/plugins/datasource/loki/components/LokiQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
Labels: type/docs, area/frontend, datasource/Loki, add to changelog, no-backport

#61161 Docs: Remove redundant text about raw query toggle
  docs/sources/datasources/loki/query-editor/index.md
Labels: type/docs, no-backport, no-changelog

#61217 AuthN: Set LookupTokenErr and fall through in case of error
  pkg/services/contexthandler/contexthandler.go
Labels: area/backend, pr/external, no-backport, no-changelog

#61184 Loki Autocomplete: Improve handling of trailing spaces in queries
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.ts
Labels: area/frontend, datasource/Loki, add to changelog, pr/external, no-backport

#61225 AuthN: Login
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/service_test.go
  pkg/services/authn/clients/basic.go
  pkg/services/authn/error.go
Labels: area/backend, no-backport, no-changelog

#61157 Authn: JWT client
  devenv/docker/blocks/auth/oauth/readme.md
  pkg/services/auth/auth.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/usersync/orgsync_test.go
  pkg/services/authn/authnimpl/usersync/usersync.go
  pkg/services/authn/authnimpl/usersync/usersync_test.go
  pkg/services/authn/clients/jwt.go
  pkg/services/authn/clients/jwt_test.go
  pkg/services/authn/clients/ldap.go
  pkg/services/authn/clients/ldap_test.go
  pkg/services/authn/clients/session_test.go
  pkg/services/contexthandler/auth_jwt.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/login/authinfo.go
  pkg/services/user/userimpl/store.go
Labels: area/backend, pr/external, no-backport, no-changelog

#60941 Phlare: Update client code to use v0.1.2 API.
  go.mod
  go.sum
  pkg/tsdb/phlare/gen/common/v1/common.pb.go
  pkg/tsdb/phlare/gen/common/v1/common_vtproto.pb.go
  pkg/tsdb/phlare/gen/querier/v1/querier.pb.go
  pkg/tsdb/phlare/gen/querier/v1/querier_vtproto.pb.go
  pkg/tsdb/phlare/gen/querier/v1/querierv1connect/querier.connect.go
  pkg/tsdb/phlare/gen/querier/v1/querierv1connect/querier.connect.mux.go
  pkg/tsdb/phlare/instance.go
  pkg/tsdb/phlare/query.go
  pkg/tsdb/phlare/query_test.go
Labels: area/backend, no-backport, no-changelog, enterprise-failed

#61009 Chore: Fix unreliable test in `SpanGraph/index.test.tsx`
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/TickLabels.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.test.tsx
Labels: type/chore, area/frontend, no-backport, enterprise-ok, no-changelog

#61223 Docs: Update loki query editor documentation
  docs/sources/datasources/loki/query-editor/index.md
Labels: type/docs, no-backport, no-changelog

#60818 Chore: Introduce codeowners validator
  .github/CODEOWNERS
  .github/workflows/codeowners-validator.yml
Labels: pr/external, github_actions, no-backport, enterprise-ok, no-changelog

#61191 Chore: Remove star model duplicates
  pkg/models/star.go
  pkg/services/dashboards/database/database.go
  pkg/services/playlist/playlistimpl/sqlx_store.go
  pkg/services/playlist/playlistimpl/xorm_store.go
Labels: area/backend, no-backport, no-changelog

#61090 CommandPalette: Search for dashboards using API
  public/app/AppWrapper.tsx
  public/app/features/commandPalette/CommandPalette.tsx
  public/app/features/commandPalette/actions/dashboard.nav.actions.ts
  public/app/features/commandPalette/actions/dashboardActions.ts
  public/app/features/commandPalette/actions/staticActions.ts
  public/app/features/commandPalette/actions/useActions.ts
  public/app/features/commandPalette/types.ts
  public/app/features/commandPalette/values.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, add to changelog, no-backport

#60354 Prometheus: Disabled inputs when settings are read-only
  packages/grafana-ui/src/components/DataSourceSettings/AlertingSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.test.tsx
  packages/grafana-ui/src/components/DataSourceSettings/CustomHeadersSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/HttpProxySettings.tsx
  packages/grafana-ui/src/components/FormField/FormField.tsx
  packages/grafana-ui/src/components/Switch/Switch.tsx
  public/app/features/datasources/components/BasicSettings.tsx
  public/app/features/datasources/components/EditDataSource.tsx
  public/app/plugins/datasource/prometheus/configuration/AzureAuthSettings.tsx
  public/app/plugins/datasource/prometheus/configuration/AzureCredentialsForm.tsx
  public/app/plugins/datasource/prometheus/configuration/ExemplarSetting.tsx
  public/app/plugins/datasource/prometheus/configuration/ExemplarsSettings.tsx
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
Labels: type/feature-request, datasource/Prometheus, area/frontend, no-backport, enterprise-ok, no-changelog

#61197 Alerting: change context parameter type
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/state/actions.ts
Labels: area/alerting, no-backport, no-changelog

#61112 Docs: removed unsupported versions; reordered
  docs/sources/setup-grafana/upgrade-grafana.md
Labels: type/docs, pr/external, no-changelog, backport v9.3.x

#61233 Alerting: Update Alerting and Alertmanager to v0.25.1
  go.mod
  go.sum
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/email_test.go
Labels: area/backend, add to changelog, pr/external, no-backport

#60744 PublicDashboards: A unique page for public dashboards
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
  pkg/services/publicdashboards/api/query.go
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/features/dashboard/components/PublicDashboardFooter/PublicDashboardsFooter.tsx
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/PublicDashboardPage.test.tsx
  public/app/features/dashboard/containers/PublicDashboardPage.tsx
  public/app/features/dashboard/routes.ts
  public/sass/components/_view_states.scss
Labels: area/backend, area/frontend, add to changelog, pr/external, no-backport, enterprise-failed

#61241 Alerting: Use consts from alerting package
  pkg/services/ngalert/api/api_prometheus_test.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/schedule/compat.go
  pkg/services/ngalert/schedule/compat_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/backend, pr/external, no-backport, no-changelog

#61156 Chore: Convert `TimelineColumnResizer.test.tsx` to RTL
  .betterer.results
  packages/jaeger-ui-components/src/TraceTimelineViewer/TimelineHeaderRow/TimelineColumnResizer.test.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog
