Repository grafana/grafana, pull requests merged in 2023-03, with the labels that each got.

#63629 Chore: Update thema and cuesty v0.1.6
  go.mod
  go.sum
  pkg/tsdb/azuremonitor/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/cloudwatch/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/elasticsearch/kinds/dataquery/types_dataquery_gen.go
  public/app/plugins/datasource/elasticsearch/dataquery.cue
  public/app/plugins/datasource/elasticsearch/dataquery.gen.ts
Labels: datasource/Elasticsearch, datasource/CloudWatch, area/backend, area/frontend, datasource/Azure, no-backport, no-changelog

#63801 Connections: Fix minor issues around Your connections/Data sources page
  public/app/features/connections/Connections.test.tsx
  public/app/features/connections/Connections.tsx
  public/app/features/connections/pages/DataSourcesListPage.tsx
  public/app/features/datasources/pages/DataSourcesListPage.test.tsx
  public/app/features/datasources/pages/DataSourcesListPage.tsx
  public/app/features/datasources/state/actions.ts
Labels: no-backport, no-changelog

#63863 Add documentation for private data source connect using kubernetes
  docs/sources/setup-grafana/configure-security/configure-private-datasource-connect/index.md
Labels: type/docs, no-changelog, backport v9.4.x

#63807 Command Palette: Display dashboard location
  public/app/features/commandPalette/ResultItem.tsx
  public/app/features/commandPalette/actions/dashboardActions.ts
  public/app/features/commandPalette/actions/staticActions.ts
Labels: area/frontend, add to changelog, area/navigation, no-backport

#63736 DataSourcePicker: Add new style of data source picker.
  .github/CODEOWNERS
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/datasource-drawer/DataSourceDrawer.test.ts
  public/app/features/datasource-drawer/DataSourceDrawer.tsx
  public/app/features/datasource-drawer/DataSourcePicker.tsx
  public/app/features/datasource-drawer/DataSourcePickerWithHistory.test.ts
  public/app/features/datasource-drawer/DataSourcePickerWithHistory.tsx
  public/app/features/datasource-drawer/components/DataSourceCard.tsx
  public/app/features/datasource-drawer/components/DataSourceDisplay.tsx
  public/app/features/datasource-drawer/types.ts
  public/app/features/query/components/QueryGroup.tsx
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#63647 Elasticsearch: Implement processing of logs query results in backend
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/querydata_test.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/snapshot_test.go
  pkg/tsdb/elasticsearch/testdata_response/logs.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/logs.queries.json
  pkg/tsdb/elasticsearch/testdata_response/logs.response.json
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: type/feature-request, datasource/Elasticsearch, area/backend, no-backport, no-changelog

#63488 Profiling: Enable flame graph & Phlare/Parca data sources for all users
  docs/sources/datasources/parca.md
  docs/sources/datasources/phlare.md
  docs/sources/panels-visualizations/visualizations/flame-graph/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/frontendsettings.go
  pkg/api/plugins.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/tests/api/plugins/data/expectedListResp.json
  public/app/features/explore/Explore.tsx
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/plugins/panel/flamegraph/components/FlameGraphContainer.tsx
  public/app/plugins/panel/flamegraph/plugin.json
Labels: type/docs, area/backend, area/explore, area/frontend, add to changelog, area/datasource/frontend, no-backport, levitate breaking change, area/panel/flame-graph, add to what's new, area/profiling, datasource/Phlare, datasource/Parca

#63489 API: Enable serving Swagger UI by default and add docs and guidelines
  contribute/backend/README.md
  docs/sources/developers/http_api/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/README.md
  pkg/api/api.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport, levitate breaking change

#60989 NodeGraph: Support icons for nodes
  docs/sources/panels-visualizations/visualizations/node-graph/index.md
  packages/grafana-data/src/utils/nodeGraph.ts
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
  public/app/plugins/panel/nodeGraph/EdgeLabel.tsx
  public/app/plugins/panel/nodeGraph/Node.test.tsx
  public/app/plugins/panel/nodeGraph/Node.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.tsx
  public/app/plugins/panel/nodeGraph/types.ts
  public/app/plugins/panel/nodeGraph/useContextMenu.tsx
  public/app/plugins/panel/nodeGraph/utils.test.ts
  public/app/plugins/panel/nodeGraph/utils.ts
Labels: type/docs, area/frontend, add to changelog, area/panel/node-graph, no-backport, enterprise-failed

#63793 Navigation: Fix broken layout at 544px
  packages/grafana-data/src/themes/breakpoints.ts
  public/app/core/components/AppChrome/Organization/OrganizationSwitcher.test.tsx
  public/app/core/components/AppChrome/Organization/OrganizationSwitcher.tsx
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.test.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.tsx
  public/app/core/components/AppChrome/TopSearchBarCommandPaletteTrigger.tsx
  public/app/core/hooks/useMediaQueryChange.ts
Labels: type/bug, area/mobile-support, area/frontend, add to changelog, area/navigation, backport v9.4.x

#63827 Select: Show icon in the grafana/ui Select component
  packages/grafana-ui/src/components/Select/SingleValue.tsx
Labels: area/frontend, add to changelog, no-backport

#62173 Heatmap: Migrate to CUE
  .betterer.results
  docs/sources/developers/kinds/composable/heatmappanelcfg/schema-reference.md
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/heatmap.cue
  pkg/kindsys/report.json
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  public/app/features/transformers/calculateHeatmap/editor/AxisEditor.tsx
  public/app/features/transformers/calculateHeatmap/editor/helper.ts
  public/app/features/transformers/calculateHeatmap/heatmap.test.ts
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/features/transformers/calculateHeatmap/models.gen.ts
  public/app/plugins/gen.go
  public/app/plugins/panel/heatmap/HeatmapHoverView.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap/fields.test.ts
  public/app/plugins/panel/heatmap/fields.ts
  public/app/plugins/panel/heatmap/migrations.ts
  public/app/plugins/panel/heatmap/models.gen.ts
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/heatmap/palettes.ts
  public/app/plugins/panel/heatmap/panelcfg.cue
  public/app/plugins/panel/heatmap/panelcfg.gen.ts
  public/app/plugins/panel/heatmap/suggestions.ts
  public/app/plugins/panel/heatmap/types.ts
  public/app/plugins/panel/heatmap/utils.ts
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#61852 Migrate table to cue model
  docs/sources/developers/kinds/composable/tablepanelcfg/schema-reference.md
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/table.cue
  packages/grafana-schema/src/veneer/common.types.ts
  pkg/kindsys/report.json
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerVisualization.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTableView.tsx
  public/app/features/scenes/builders/panelBuilders.ts
  public/app/plugins/gen.go
  public/app/plugins/panel/table/TablePanel.tsx
  public/app/plugins/panel/table/migrations.ts
  public/app/plugins/panel/table/models.gen.ts
  public/app/plugins/panel/table/module.tsx
  public/app/plugins/panel/table/panelcfg.cue
  public/app/plugins/panel/table/panelcfg.gen.ts
  public/app/plugins/panel/table/plugin.json
  public/app/plugins/panel/table/suggestions.ts
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#63884 Service accounts: Creation logic simplification
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/token.go
  pkg/services/serviceaccounts/database/errors.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/database/token_store.go
  pkg/services/serviceaccounts/models.go
  pkg/services/thumbs/crawler_auth.go
  pkg/services/user/userimpl/user.go
Labels: type/bug, area/backend, add to changelog, backport v9.4.x

#63956 Regen cue after conflicting heatmap/table migrations
  pkg/kindsys/report.json
Labels: no-backport, no-changelog

#63952 Alerting: Fix boolean default in migration from false to 0
  pkg/services/sqlstore/migrations/ualert/tables.go
Labels: type/bug, area/alerting, area/backend, area/backend/db/migration, no-changelog, backport v9.4.x

#63960 Command Palette: Sign out link now works correctly (#63742)
  public/app/features/commandPalette/KBarResults.tsx
  public/app/features/commandPalette/actions/staticActions.ts
  public/app/features/commandPalette/types.ts
Labels: area/frontend, area/navigation, backport, no-changelog

#63858 Profile: Fix session table overflowing page layout in mobile
  public/app/features/profile/UserSessions.tsx
Labels: type/bug, area/mobile-support, area/frontend, add to changelog, backport v9.4.x

#63951 Alerting: Fix migration pauses all alert rules on PostgreSQL
  pkg/services/sqlstore/migrations/ualert/tables.go
Labels: area/backend, add to changelog, area/backend/db/migration, missing-labels, backport v9.4.x

#63948 ContextMenu: Fix padding and show border based on items
  packages/grafana-ui/src/components/Menu/Menu.tsx
Labels: area/frontend, add to changelog, area/grafana/ui, no-backport

#63974 Reqcontext: Use err status code instead of always fallback
  pkg/services/contexthandler/model/model.go
Labels: type/bug, area/backend, add to changelog, backport v9.4.x

#63975 TextFormatting/chore: update and add test coverage to the value formatting
  packages/grafana-data/src/valueFormats/arithmeticFormatters.test.ts
  packages/grafana-data/src/valueFormats/arithmeticFormatters.ts
Labels: type/chore, area/frontend, no-backport, no-changelog, area/text-formatting

#63753 Alerting: Fix invalid duration that causes Grafana to crash
  packages/grafana-data/src/datetime/durationutil.test.ts
  packages/grafana-data/src/datetime/durationutil.ts
Labels: area/frontend, add to changelog, pr/external, no-backport

#63906 BarChart: Only apply radius to topmost bar segment when stacking
  public/app/plugins/panel/barchart/bars.ts
Labels: type/bug, area/frontend, add to changelog, area/panel/barchart, backport v9.4.x

#63294 GHActions: add token to publish changelog on forum
  .github/workflows/update-changelog.yml
Labels: no-backport, no-changelog

#60068 TimeSeries: Add support for rendering "enum" string fields
  packages/grafana-data/src/transformations/matchers/fieldTypeMatcher.ts
  packages/grafana-data/src/transformations/matchers/ids.ts
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/plugins/panel/timeseries/plugins/ThresholdControlsPlugin.tsx
  public/app/plugins/panel/timeseries/utils.ts
Labels: area/backend, area/frontend, add to changelog, area/panel/timeseries, no-backport, levitate breaking change, enterprise-failed

#63826 Transformations: Support time format when converting time to strings
  packages/grafana-data/src/transformations/transformers/convertFieldType.test.ts
  packages/grafana-data/src/transformations/transformers/convertFieldType.ts
  packages/grafana-ui/src/types/icon.ts
  public/app/features/transformers/editors/ConvertFieldTypeTransformerEditor.tsx
Labels: area/frontend, add to changelog, area/transformations, no-backport

#63706 Nav: Handle app plugin installation/uninstallation
  public/app/core/reducers/navBarTree.ts
  public/app/features/plugins/admin/components/InstallControls/InstallControlsButton.tsx
  public/app/features/plugins/admin/components/PluginActions.tsx
Labels: area/frontend, no-backport, no-changelog

#63932 Elasticsearch: Implement processing of raw document query results in backend
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/time_series_query.go
Labels: datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog

#63914 Fix redirect from /setup-grafana/upgrade-grafana/ to /upgrade-guide/
  docs/sources/upgrade-guide/_index.md
Labels: type/docs, no-changelog, backport v9.4.x

#63663 Query Splitting: Add support for multiple queries
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/querySplitting.test.ts
  public/app/plugins/datasource/loki/querySplitting.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#62705 Flame graph: Add context menu
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.test.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraphContextMenu.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraphTooltip.tsx
  public/app/plugins/panel/flamegraph/components/types.ts
Labels: area/frontend, add to changelog, no-backport, enterprise-failed, area/panel/flame-graph, datasource/Phlare

#63268 Docs [Search] update _index.md by replacing dashboardPreviews for panelTitleSearch feature toggle
  docs/sources/search/_index.md
Labels: type/docs, pr/external, no-changelog, backport v9.4.x

#63553 Plugin query API: Handle multiple errors
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/panel.ts
  packages/grafana-runtime/src/utils/queryResponse.test.ts
  packages/grafana-runtime/src/utils/queryResponse.ts
  public/app/features/query/components/QueryEditorRow.test.ts
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/features/query/state/runRequest.ts
Labels: area/frontend, no-backport, no-changelog

#64005 Chore: update latest.json to 9.4.2
  latest.json
Labels: no-backport, no-changelog

#63891 [v9.4.x] Chore: Upgrade Go to 1.20.1 and Alpine to 3.17
  .bingo/Variables.mk
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/variables.env
  .drone.yml
  .golangci.toml
  Dockerfile
  Makefile
  packaging/docker/build.sh
  pkg/api/quota_test.go
  pkg/build/cmd/flags.go
  pkg/build/docker/build.go
  pkg/services/ngalert/provisioning/notification_policies.go
  pkg/services/sqlstore/migrations/accesscontrol/dashboard_permissions.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/cloudmonitoring/utils.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/prometheus/querydata/request.go
  pkg/tsdb/prometheus/querydata/request_test.go
  pkg/util/errutil/log.go
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Labels: datasource/Graphite, datasource/OpenTSDB, type/build-packaging, datasource/Prometheus, area/backend, datasource/GoogleCloudMonitoring, datasource/Azure, backport, area/backend/db/migration, type/ci, no-changelog

#63942 StatPanel: Fix issue where sparkline chart was not being shown on resize
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/stat, backport v9.4.x

#63850 SQLStore: Fix wrong usage of xorm's insert functions in tests
  contribute/backend/style-guide.md
  pkg/infra/db/sqlbuilder_test.go
  pkg/infra/serverlock/serverlock_test.go
  pkg/services/preference/prefimpl/store.go
  pkg/services/preference/prefimpl/xorm_store.go
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/user.go
Labels: type/bug, type/docs, area/backend, no-backport, no-changelog

#63775 ErrorHandling: Fixes issues with bad error messages
  packages/grafana-runtime/src/services/backendSrv.ts
  pkg/api/login.go
  public/app/core/services/backend_srv.ts
  public/app/core/specs/backend_srv.test.ts
  public/app/core/utils/errors.ts
Labels: type/bug, area/backend, area/frontend, add to changelog, missing-labels, backport v9.4.x

#61952 Alerting: New notification policies view
  .betterer.results
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/components/Icon/cached.json
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/MuteTimings.tsx
  public/app/features/alerting/unified/NotificationPolicies.test.tsx
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/TODO.md
  public/app/features/alerting/unified/components/HoverCard.tsx
  public/app/features/alerting/unified/components/Label.tsx
  public/app/features/alerting/unified/components/MetaText.tsx
  public/app/features/alerting/unified/components/Strong.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRoute.tsx
  public/app/features/alerting/unified/components/amroutes/AmRootRouteRead.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesExpandedRead.tsx
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.test.ts
  public/app/features/alerting/unified/components/amroutes/AmRoutesTable.tsx
  public/app/features/alerting/unified/components/amroutes/AmSpecificRouting.tsx
  public/app/features/alerting/unified/components/amroutes/gridStyles.ts
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeInterval.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeRange.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingsTable.tsx
  public/app/features/alerting/unified/components/notification-policies/AlertGroupsSummary.tsx
  public/app/features/alerting/unified/components/notification-policies/EditDefaultPolicyForm.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.tsx
  public/app/features/alerting/unified/components/notification-policies/Filters.tsx
  public/app/features/alerting/unified/components/notification-policies/Matchers.tsx
  public/app/features/alerting/unified/components/notification-policies/Modals.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.test.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/components/notification-policies/formStyles.ts
  public/app/features/alerting/unified/features.ts
  public/app/features/alerting/unified/hooks/useAlertManagerSourceName.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/utils/alertmanager.test.ts
  public/app/features/alerting/unified/utils/alertmanager.ts
  public/app/features/alerting/unified/utils/amroutes.test.ts
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/notification-policies.test.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
  public/app/features/alerting/unified/utils/routeTree.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/alerting, pr/needs-manual-testing, area/backend, area/frontend, add to changelog, no-backport, enterprise-ok, add to what's new

#63937 chore(services): replace dependencies on dashboard store with dashboard service
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder_permission_test.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/dashboards/accesscontrol_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
Labels: type/chore, area/backend, no-backport, no-changelog

#62230 InfluxDB: Update InfluxQL querybuilder to qualify identifiers
  pkg/tsdb/influxdb/query.go
  pkg/tsdb/influxdb/query_part.go
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tags.test.tsx
  public/app/plugins/datasource/influxdb/components/VisualInfluxQLEditor/Editor.tsx
  public/app/plugins/datasource/influxdb/influxQLMetadataQuery.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/query_builder.ts
  public/app/plugins/datasource/influxdb/query_part.ts
Labels: datasource/InfluxDB, type/docs, type/performance, area/backend, area/frontend, no-backport, no-changelog, enterprise-failed

#63089 Plugins: Extend panel menu with links from plugins
  .betterer.results
  docs/sources/developers/plugins/plugin.schema.json
  packages/grafana-data/src/types/app.ts
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/services/index.ts
  packages/grafana-runtime/src/services/pluginExtensions/contexts.ts
  packages/grafana-runtime/src/services/pluginExtensions/extensions.test.ts
  packages/grafana-runtime/src/services/pluginExtensions/extensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/registry.ts
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/testdata/test-app-with-link-extensions/plugin.json
  pkg/plugins/models.go
  pkg/plugins/pfs/pfs_test.go
  pkg/plugins/plugindef/plugindef.cue
  pkg/plugins/plugindef/plugindef_types_gen.go
  pkg/plugins/plugins.go
  public/app/app.ts
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenu.tsx
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
  public/app/features/plugins/extensions/errorHandling.test.ts
  public/app/features/plugins/extensions/errorHandling.ts
  public/app/features/plugins/extensions/placements.ts
  public/app/features/plugins/extensions/registry.test.ts
  public/app/features/plugins/extensions/registry.ts
  public/app/features/plugins/extensions/registryFactory.test.ts
  public/app/features/plugins/extensions/registryFactory.ts
  public/app/features/plugins/extensions/validateLink.test.ts
  public/app/features/plugins/extensions/validateLink.ts
  public/app/features/plugins/pluginPreloader.ts
  public/app/features/sandbox/TestStuffPage.tsx
Labels: type/docs, area/plugins, area/backend, area/frontend, add to changelog, area/plugins/app, no-backport, levitate breaking change

#64026 Errors: Remove direct dependencies on github.com/pkg/errors
  .golangci.toml
  go.mod
  go.sum
  pkg/extensions/main.go
  pkg/services/apikey/apikeyimpl/xorm_store.go
  pkg/services/ngalert/api/util.go
  pkg/services/secrets/kvstore/plugin.go
  pkg/services/serviceaccounts/database/token_store.go
  pkg/services/serviceaccounts/secretscan/client.go
  pkg/services/serviceaccounts/secretscan/webhook.go
Labels: area/backend, no-backport, no-changelog

#64023 Alerting: Avoid printing [object][Object] in error message
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/utils/messageFromError.test.ts
  public/app/features/alerting/unified/utils/redux.ts
Labels: area/alerting, area/frontend, no-backport, no-changelog

#63499 Feat: Linking to plugin details page rather than externally for new datasources
  packages/grafana-data/src/types/plugin.ts
  public/app/features/datasources/components/DataSourceTypeCard.tsx
  public/app/features/datasources/state/buildCategories.ts
Labels: area/frontend, add to changelog, area/plugins-catalog, no-backport

#63991 AzureMonitor: Fix query variable migration
  public/app/plugins/datasource/azuremonitor/utils/migrateQuery.ts
Labels: type/bug, effort/small, area/frontend, datasource/Azure, add to changelog, backport v9.4.x

#63990 Chore: Update grafana-plugin-sdk-go
  go.mod
  go.sum
Labels: type/chore, area/backend, dependencies, no-backport, no-changelog

#63982 PublicDashboards: add recipient uid to recipient list
  pkg/services/publicdashboards/models/models.go
Labels: area/backend, no-backport, no-changelog, public-dashboards

#63972 GHActions: add issue type to each query
  .github/metrics-collector.json
Labels: github_actions, no-backport, no-changelog

#64065 Alerting: Use background context for maintenance function
  pkg/services/ngalert/notifier/alertmanager.go
Labels: type/bug, area/backend, add to changelog, backport v9.4.x

#64066 [v9.4.x] Alerting: Use background context for maintenance function
  pkg/services/ngalert/notifier/alertmanager.go
Labels: type/bug, area/alerting, area/backend, backport, no-changelog

#64069 docs: fix formatting public dashboards
  docs/sources/dashboards/dashboard-public/index.md
Labels: type/docs, no-backport, no-changelog

#63508 Add known limitation regarding identical timestamps
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
Labels: type/docs, no-changelog, backport v9.3.x, backport v9.4.x, Q1CX

#64072 add manual prebuilt dashboards CTA banner
  docs/sources/dashboards/_index.md
Labels: type/docs, no-changelog, backport v9.4.x

#64076 PublicDashboards: Add recipient uid to recipient list
  public/app/features/dashboard/api/publicDashboardApi.ts
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ConfigPublicDashboard/EmailSharingConfiguration.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboardUtils.ts
Labels: area/frontend, no-backport, no-changelog

#64070 SQLStore: Enable clientFoundRows for MySQL connections
  pkg/services/sqlstore/sqlstore.go
Labels: type/bug, area/backend, add to changelog, backport v9.4.x

#63297 Login: Allow custom name and icon for social providers
  conf/defaults.ini
  conf/sample.ini
  public/app/core/components/Login/LoginServiceButtons.tsx
Labels: area/auth, area/backend, area/frontend, add to changelog, pr/external, no-backport, team/grafana-authnz

#64020 Service accounts: Remove revertapikeys endpoint
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/database/token_store.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/store.go
Labels: area/backend, no-backport, no-changelog

#64103 loki: query chunking: consider refId when merging frames
  public/app/plugins/datasource/loki/queryUtils.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#63994 Explore: Fix vector(5) syntax error in loki log explore
  package.json
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.test.ts
  public/app/plugins/datasource/loki/syntax.test.ts
  public/app/plugins/datasource/loki/syntax.ts
  yarn.lock
Labels: type/bug, area/frontend, datasource/Loki, pr/external, no-changelog, backport v9.4.x

#63728 Log Components: Optimize style computing and re-renders in Row, Details, and Context
  public/app/features/logs/components/LogDetails.test.tsx
  public/app/features/logs/components/LogDetails.tsx
  public/app/features/logs/components/LogDetailsRow.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRowContext.tsx
  public/app/features/logs/components/LogRowContextProvider.tsx
  public/app/features/logs/components/getLogRowStyles.ts
Labels: area/frontend, no-backport, no-changelog

#64108 Docker Build: Use `tonistiigi/binfmt` image for cross compilation
  pkg/build/docker/init.go
Labels: type/bug, area/backend, add to changelog, type/ci, backport v9.2.x, backport v9.3.x, backport v9.4.x

#64113 docs: Prevent internal docs on setting up plugin spellcheck from appearing on public website
  docs/sources/developers/plugins/plugin-spellcheck.md
Labels: type/docs, no-changelog, backport v9.4.x

#64105 loki: query splitting: better stats
  public/app/plugins/datasource/loki/mocks.ts
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#63352 adds link for credit on ARG dashboard
  public/app/plugins/datasource/azuremonitor/dashboards/arg.json
Labels: area/frontend, datasource/Azure, pr/external, no-backport, no-changelog

#63710 docs revamp: Service accounts
  docs/sources/auth/planning/index.md
Labels: type/docs, no-backport, no-changelog

#64124 Alerting: Fix UI crashing when selecting custom grouping in alert panel
  public/app/plugins/panel/alertlist/GroupByWithLoading.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v9.4.x

#64127 Authn: Add missing jwt auth stat
  pkg/services/authn/authnimpl/usage_stats.go
Labels: area/auth, type/chore, area/backend, no-backport, no-changelog

#64133 AuthN: add utility functions for different type of login responses
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/clients/session.go
  pkg/services/authn/clients/session_test.go
Labels: area/backend, no-backport, no-changelog

#64004 Correlations: Fix flaky integration tests
  .github/CODEOWNERS
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/correlations/correlations_create_test.go
  pkg/tests/api/correlations/correlations_delete_test.go
  pkg/tests/api/correlations/correlations_read_test.go
  pkg/tests/api/correlations/correlations_update_test.go
Labels: type/bug, area/backend, no-changelog, backport v9.4.x

#64136 Alerting: Allow downloading alert rules from subpath
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v9.4.x

#64139 [9.4.x] Correlations: Fix flaky integration tests (#64004)
  .github/CODEOWNERS
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/correlations/correlations_create_test.go
  pkg/tests/api/correlations/correlations_delete_test.go
  pkg/tests/api/correlations/correlations_read_test.go
  pkg/tests/api/correlations/correlations_update_test.go
Labels: area/backend, backport, no-changelog

#64068 Alerting: Show paused status in rules group accordion
  public/app/features/alerting/unified/components/rules/RuleStats.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/utils/rules.ts
Labels: area/alerting, area/frontend, no-backport, no-changelog

#63822 CloudWatch: Add account support to variable queries
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/resources/ResourcesAPI.ts
  public/app/plugins/datasource/cloudwatch/resources/types.ts
  public/app/plugins/datasource/cloudwatch/types.ts
  public/app/plugins/datasource/cloudwatch/variables.test.ts
  public/app/plugins/datasource/cloudwatch/variables.ts
Labels: datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport

#63752 Docs: Meta-monitoring docs for Grafana and Mimir
  docs/sources/alerting/meta-monitoring/_index.md
Labels: type/docs, no-changelog, backport v9.4.x

#64097 Logs: Log samples not being ordered correctly
  public/app/core/logsModel.test.ts
  public/app/core/logsModel.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/sortDataFrame.test.ts
  public/app/plugins/datasource/loki/sortDataFrame.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v9.4.x

#64145 Chore: Pass signed `user_hash` to Intercom via Rudderstack (#63921)
  conf/defaults.ini
  conf/sample.ini
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/types/index.ts
  pkg/api/dtos/models.go
  pkg/api/index.go
  pkg/services/user/model.go
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user.go
  pkg/setting/setting.go
  public/app/core/services/context_srv.ts
  public/app/core/services/echo/backends/analytics/GA4Backend.ts
  public/app/core/services/echo/backends/analytics/RudderstackBackend.ts
  public/app/core/services/echo/utils.test.ts
  public/app/core/services/echo/utils.ts
Labels: type/chore, area/backend, area/frontend, backport, no-changelog

#64132 Access Control: revert to using folder store from the scope resolvers
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder_permission_test.go
  pkg/services/dashboards/accesscontrol.go
  pkg/services/dashboards/accesscontrol_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
Labels: type/bug, area/backend, no-backport, no-changelog

#64125 Chore: Remove CreateUserForTests()
  pkg/api/team_members_test.go
  pkg/api/user_test.go
  pkg/cmd/grafana-cli/commands/conflict_user_command_test.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/querylibrary/tests/common.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/stats/statsimpl/stats_test.go
  pkg/services/store/entity/tests/common.go
  pkg/services/team/teamimpl/store_test.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/store_test.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/azuremonitor/azuremonitor_test.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/elasticsearch/elasticsearch_test.go
  pkg/tests/api/graphite/graphite_test.go
  pkg/tests/api/influxdb/influxdb_test.go
  pkg/tests/api/loki/loki_test.go
  pkg/tests/api/opentdsb/opentdsb_test.go
  pkg/tests/api/plugins/api_plugins_test.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
  pkg/tests/api/prometheus/prometheus_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend, no-changelog, product-approved, backport v9.4.x

#64018 API keys: Remove state hideAPIkeys and refactor interface to IsDisabled
  docs/sources/administration/api-keys/index.md
  pkg/services/apikey/apikey.go
  pkg/services/apikey/apikeyimpl/apikey.go
  pkg/services/apikey/apikeytest/fake.go
  pkg/services/navtree/navtreeimpl/admin.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/store.go
  public/app/features/api-keys/APIKeysMigratedCard.tsx
  public/app/features/api-keys/ApiKeysController.tsx
  public/app/features/api-keys/ApiKeysPage.test.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/api-keys/MigrateToServiceAccountsCard.tsx
  public/app/features/api-keys/state/actions.ts
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#64165 [v9.4.x] Chore: Remove CreateUserForTests() (#64125)
  pkg/api/team_members_test.go
  pkg/api/user_test.go
  pkg/cmd/grafana-cli/commands/conflict_user_command_test.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/querylibrary/tests/common.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/stats/statsimpl/stats_test.go
  pkg/services/store/entity/tests/common.go
  pkg/services/team/teamimpl/store_test.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/store_test.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/azuremonitor/azuremonitor_test.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/elasticsearch/elasticsearch_test.go
  pkg/tests/api/graphite/graphite_test.go
  pkg/tests/api/influxdb/influxdb_test.go
  pkg/tests/api/loki/loki_test.go
  pkg/tests/api/opentdsb/opentdsb_test.go
  pkg/tests/api/plugins/api_plugins_test.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
  pkg/tests/api/prometheus/prometheus_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend, backport, no-changelog

#63590 Codegen: Render disjunctions in docs
  docs/sources/developers/kinds/composable/elasticsearchdataquery/schema-reference.md
  docs/sources/developers/kinds/composable/heatmappanelcfg/schema-reference.md
  docs/sources/developers/kinds/composable/tablepanelcfg/schema-reference.md
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  pkg/codegen/jenny_docs.go
Labels: type/docs, area/backend, type/codegen, no-backport, no-changelog

#64058 Influxdb: Fix missing columns with raw query
  public/app/plugins/datasource/influxdb/response_parser.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, backport v9.4.x

#64114 [v9.4.x] Replace ambiguous relrefs with partial URIs to prevent 404s (#62468)
  docs/sources/developers/plugins/_index.md
  docs/sources/developers/plugins/add-support-for-annotations.md
  docs/sources/developers/plugins/add-support-for-explore-queries.md
  docs/sources/developers/plugins/build-a-logs-data-source-plugin.md
  docs/sources/developers/plugins/build-a-streaming-data-source-plugin.md
  docs/sources/developers/plugins/sign-a-plugin.md
Labels: type/docs, backport, no-changelog

#64059 FieldType: Add enum type and include it in testdata scenarios
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/transformations/transformers/convertFieldType.ts
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/components/MatchersUI/FieldTypeMatcherEditor.tsx
  packages/grafana-ui/src/types/icon.ts
  pkg/tsdb/testdatasource/scenarios.go
  pkg/tsdb/testdatasource/scenarios_test.go
  public/app/features/transformers/editors/ConvertFieldTypeTransformerEditor.tsx
Labels: area/backend, area/frontend, no-backport, levitate breaking change, no-changelog, area/dataplane

#63391 Clarify that LDAP will create Grafana users by default when they log in for the first time
  docs/sources/setup-grafana/configure-security/configure-authentication/ldap/index.md
Labels: type/docs, no-changelog, backport v9.4.x, Q1CX

#63405 update data source permissions instructions to match modern UI
  docs/sources/administration/data-source-management/index.md
Labels: type/docs, no-changelog, backport v9.0.x, backport v9.4.x, Q1CX

#63409 Geomap: Fix route layer zoom behavior
  public/app/plugins/panel/geomap/layers/data/dayNightLayer.tsx
  public/app/plugins/panel/geomap/layers/data/routeLayer.tsx
  public/app/plugins/panel/geomap/utils/utils.ts
Labels: type/bug, area/frontend, add to changelog, area/panel/geomap, no-backport

#64131 Chore: Differentiate the ErrOrgNotFound error messages
  pkg/api/admin_users.go
  pkg/api/admin_users_test.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/org/model.go
  pkg/services/org/orgimpl/store.go
  pkg/services/sqlstore/user.go
Labels: area/backend, no-backport, no-changelog

#64148 Alerting: Fix alert form broken coming from panel
  .betterer.results
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v9.4.x

#64025 Fix scenario where tooltip shows wrong value
  public/app/plugins/panel/barchart/BarChartPanel.tsx
Labels: type/bug, area/frontend, no-changelog, backport v9.4.x

#64006 Docs: Adding angular support deprecation to our plugin submission FAQ
  docs/sources/developers/plugins/publish-a-plugin.md
Labels: type/docs, area/plugins-catalog, no-changelog, backport v9.4.x

#64200 Alerting: Fix alert form broken coming from panel (#64148)
  .betterer.results
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
Labels: type/bug, area/alerting, area/frontend, backport, no-changelog

#63265 [v9.3.x] Chore: Bump alpine version to `3.17.1` (#63252)
  .drone.yml
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#63264 [v9.4.x] Chore: Bump alpine version to `3.17.1` (#63252)
  .drone.yml
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#64203 Login: Fix sanitize input for signin url
  public/app/core/components/AppChrome/TopBar/SignInLink.tsx
Labels: no-backport, no-changelog

#63642 Table: Fixes logic for when adhoc filters are shown
  packages/grafana-ui/src/components/Table/CellActions.tsx
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
Labels: area/frontend, no-backport, no-changelog

#63900 Chore: Remove pointer dependency
  .golangci.toml
  go.mod
  go.sum
  pkg/expr/classic/classic_test.go
  pkg/expr/classic/evaluator_test.go
  pkg/expr/classic/reduce_test.go
  pkg/expr/commands_test.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/eval/extract_md_test.go
  pkg/services/ngalert/image/service_test.go
  pkg/services/ngalert/state/state_test.go
  pkg/services/ngalert/state/template/template_test.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame_test.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/response_parser_test.go
  pkg/tsdb/sqleng/resample_test.go
  pkg/tsdb/sqleng/sql_engine_test.go
  pkg/util/cmputil/reporter_test.go
  pkg/util/pointer.go
Labels: area/backend, datasource/Azure, no-backport, no-changelog

#63804 Explore: Avoid changing queries twice when importing a query in mixed mode
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
Labels: type/bug, area/explore, area/frontend, add to changelog, backport v9.4.x

#63452 GrafanaUI: reset ConfirmModal disabled state on re-open
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
Labels: type/bug, area/frontend, area/grafana/ui, no-changelog, backport v9.4.x

#64208 Transformations: Add support for custom transformation operators in transformDataFrame
  packages/grafana-data/src/transformations/transformDataFrame.test.ts
  packages/grafana-data/src/transformations/transformDataFrame.ts
  packages/grafana-data/src/types/transformations.ts
Labels: area/frontend, area/transformations, backport, no-changelog

#63856 Library elements: Add MySQL migration for increasing the column size
  pkg/services/sqlstore/migrations/libraryelements.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#64202 FileUpload: Fix showFileName option
  packages/grafana-ui/src/components/FileUpload/FileUpload.test.tsx
  packages/grafana-ui/src/components/FileUpload/FileUpload.tsx
Labels: area/frontend, area/grafana/ui, no-backport, no-changelog

#64206 [v9.4.x] Explore: Avoid changing queries twice when importing a query in mixed mode
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
Labels: area/explore, area/frontend, backport, no-changelog

#64156 Elasticsearch: Uncomment FIXME parts of test in TestRefIdMatching
  pkg/tsdb/elasticsearch/response_parser_frontend_test.go
Labels: datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog

#63331 Docs, update for american English spelling
  docs/sources/alerting/manage-notifications/create-notification-policy.md
Labels: type/docs, no-backport, no-changelog

#64155 Elasticsearch: Fix using of correct size for log and document queries on backend
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Labels: type/bug, datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog

#64217 AuthN: User sync info clean up
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfoservice/service.go
  pkg/services/login/userprotection.go
Labels: type/bug, area/backend, no-backport, no-changelog

#64222 SAML: Replace is not necessary anymore
  go.mod
Labels: type/chore, area/backend, no-backport, no-changelog

#64228 Deps: Replace go-jose v2 with go-jose v3
  go.mod
  go.sum
  pkg/extensions/main.go
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/okta_oauth.go
  pkg/services/auth/jwt/auth.go
  pkg/services/auth/jwt/auth_test.go
  pkg/services/auth/jwt/key_sets.go
  pkg/services/auth/jwt/rsa_keys_test.go
  pkg/services/auth/jwt/signing_test.go
  pkg/services/auth/jwt/validation.go
Labels: type/chore, area/backend, no-backport, no-changelog

#64204 Alerting: Disable "Declare Incident" button for open-source editions
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v9.4.x

#64198 Alerting: Fix queries not being previewed in detail view
  public/app/features/alerting/unified/hooks/useAlertQueriesStatus.ts
  public/app/features/alerting/unified/utils/query.ts
  public/app/features/expressions/guards.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, backport v9.4.x

#64240 Revert "Alerting: Fix alert form broken coming from panel (#64148)"
  .betterer.results
  packages/grafana-runtime/src/services/__mocks__/dataSourceSrv.ts
  public/app/features/alerting/unified/RuleEditorCloudOnlyAllowed.test.tsx
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
  public/app/features/alerting/unified/RuleEditorGrafanaRules.test.tsx
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/ExpressionEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryRows.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/__snapshots__/reducer.test.tsx.snap
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/reducer.test.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/reducer.ts
  public/app/features/alerting/unified/utils/rule-form.ts
Labels: type/bug, area/alerting, area/frontend, no-changelog, backport v9.4.x

#64017 Tempo: Config and doc updates
  docs/sources/datasources/tempo/_index.md
  public/app/core/components/NodeGraphSettings.tsx
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/core/components/TraceToMetrics/TraceToMetricsSettings.tsx
  public/app/features/explore/TraceView/components/settings/SpanBarSettings.tsx
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/LokiSearchSettings.tsx
  public/app/plugins/datasource/tempo/configuration/QuerySettings.tsx
  public/app/plugins/datasource/tempo/configuration/SearchSettings.tsx
  public/app/plugins/datasource/tempo/configuration/ServiceGraphSettings.tsx
Labels: type/docs, area/explore, area/frontend, add to changelog, area/datasource/frontend, datasource/Tempo, no-backport, kind/enhancement

#63783 AuthN: add metrics for login and authentication
  pkg/services/authn/authnimpl/metrics.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/service_test.go
Labels: area/backend, no-backport, no-changelog

#64167 LokiContextUi: Add loading indicator
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
  public/app/plugins/datasource/loki/datasource.ts
Labels: area/frontend, datasource/Loki, no-changelog, product-approved, backport v9.4.x

#64050 Alerting: Add metrics for active receiver and integrations
  go.mod
  go.sum
  pkg/services/ngalert/metrics/multi_org_alertmanager.go
Labels: area/backend, add to changelog, no-backport

#63157 Alerting: Expose Prometheus metrics for persisting state history
  pkg/services/ngalert/metrics/historian.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/annotation_test.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/loki_http_test.go
  pkg/services/ngalert/state/historian/loki_test.go
  pkg/services/ngalert/state/historian/testing.go
  pkg/services/ngalert/state/manager_bench_test.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/alerting, area/backend, add to changelog, kata:state-history, product-approved, backport v9.4.x

#64243 Alerting: Fix Classic Conditions $values variable
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/cache_test.go
Labels: area/backend, add to changelog, missing-labels, backport v9.4.x

#64246 Alerting: Expose Prometheus metrics for persisting state history
  pkg/services/ngalert/metrics/historian.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/annotation_test.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/loki_http_test.go
  pkg/services/ngalert/state/historian/loki_test.go
  pkg/services/ngalert/state/historian/testing.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/alerting, area/backend, backport, no-changelog, kata:state-history, product-approved

#64037 TimeSeries: Fix overflowing exemplar modals causing content shifts
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/timeseries, backport v9.3.x, backport v9.4.x

#64051 Plugins: Fix Cache-Control header response for public/plugins/* assets API
  pkg/middleware/middleware.go
  pkg/tests/api/plugins/api_plugins_test.go
Labels: type/bug, area/plugins, area/backend/api, area/backend, add to changelog, backport v9.4.x

#64254 TimeSeries: Fix overflowing exemplar modals causing content shifts (#…
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
Labels: type/bug, area/frontend, backport, no-changelog

#64255 [v9.4.x] Plugins: Fix Cache-Control header response for public/plugins/* assets API
  pkg/middleware/middleware.go
  pkg/tests/api/plugins/api_plugins_test.go
Labels: type/bug, area/plugins, area/backend/api, area/backend, backport, no-changelog

#64178 PublicDashboards: Reshare public dashboard to recipient API call
  public/app/features/dashboard/api/publicDashboardApi.ts
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ConfigPublicDashboard/EmailSharingConfiguration.tsx
Labels: area/frontend, no-backport, no-changelog

#64264 Revert "add manual prebuilt dashboards CTA banner"
  docs/sources/dashboards/_index.md
Labels: type/docs, no-backport, no-changelog

#64080 CloudWatch: Make deeplinks work for us-gov and china regions
  pkg/tsdb/cloudwatch/models/cloudwatch_query.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query_test.go
  public/app/plugins/datasource/cloudwatch/aws_url.test.ts
  public/app/plugins/datasource/cloudwatch/aws_url.ts
Labels: datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport

#64268 Chore: Update CODEOWNERS for app platform squad
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#64260 PublicDashboards: Change disabled label in Audit Table
  public/app/features/manage-dashboards/components/PublicDashboardListTable/PublicDashboardListTable.test.tsx
  public/app/features/manage-dashboards/components/PublicDashboardListTable/PublicDashboardListTable.tsx
Labels: area/frontend, no-backport, no-changelog

#63750 Docs: sync plugin JSON info in the different files (first part)
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
  pkg/plugins/plugindef/plugindef.cue
  pkg/plugins/plugindef/plugindef_types_gen.go
Labels: type/docs, area/backend, no-backport, no-changelog

#64239 AuthN: Login error handling
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/login/social/common.go
  pkg/services/authn/clients/oauth.go
Labels: area/backend, no-backport, no-changelog

#64028 Phlare: Refactor the pprof transform
  pkg/tsdb/phlare/query.go
  pkg/tsdb/phlare/query_test.go
  pkg/tsdb/phlare/testdata/profile_response.json
Labels: type/chore, area/backend, no-backport, no-changelog, datasource/Phlare

#63246 SQL Engine: Handle one session to connect the DB
  pkg/tsdb/sqleng/sql_engine.go
Labels: area/backend, pr/external, no-backport, no-changelog

#64163 Logs sample: Fix scrolling for unwrapped log lines
  public/app/features/explore/LogsSamplePanel.tsx
Labels: type/bug, area/explore, area/frontend, add to changelog, area/logs, backport v9.4.x

#64227 Docs: Update Images in notifications docs to be more readable and instructive
  docs/sources/alerting/manage-notifications/images-in-notifications.md
Labels: type/docs, no-changelog, backport v9.4.x

#64285 Add to Docs squad project when PRs are labelled with type/docs
  .github/pr-commands.json
Labels: no-backport, no-changelog

#64135 Chore: convert `VariableOptions` to use emotion instead of scss
  e2e/dashboards-suite/load-options-from-url.spec.ts
  e2e/dashboards-suite/new-query-variable.spec.ts
  e2e/dashboards-suite/set-options-from-ui.spec.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/themes/_variables.dark.scss.tmpl.ts
  packages/grafana-ui/src/themes/_variables.light.scss.tmpl.ts
  public/app/features/variables/pickers/shared/VariableOptions.tsx
  public/sass/_variables.dark.generated.scss
  public/sass/_variables.light.generated.scss
  public/sass/components/_submenu.scss
Labels: area/dashboard/templating, type/chore, area/frontend, no-backport, no-changelog

#64289 Plugins: make sure we expose all available field color modes
  packages/grafana-data/src/field/fieldColor.ts
  packages/grafana-data/src/types/fieldColor.ts
Labels: area/plugins, area/panel/common, area/frontend, no-backport, no-changelog

#64171 Range splitting: Call subscriber.next only when there are new results to report
  public/app/plugins/datasource/loki/querySplitting.ts
Labels: area/explore, area/frontend, datasource/Loki, no-backport, no-changelog

#64053 Range Splitting: ignore empty queries from splitting and fix result resetting
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#63166 Cloudwatch: Use generated TS types
  pkg/tsdb/cloudwatch/kinds/dataquery/types_dataquery_gen.go
  public/app/plugins/datasource/cloudwatch/dataquery.cue
  public/app/plugins/datasource/cloudwatch/dataquery.gen.ts
  public/app/plugins/datasource/cloudwatch/expressions.ts
  public/app/plugins/datasource/cloudwatch/types.ts
Labels: datasource/CloudWatch, area/backend, area/frontend, no-backport, area/schema, no-changelog

#64049 Range Splitting: Process instant queries as an independent query group
  public/app/plugins/datasource/loki/querySplitting.test.ts
  public/app/plugins/datasource/loki/querySplitting.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#64119 Elasticsearch: Remove _source field when processing raw data on backend
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_frontend_test.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/testdata_response/raw_data.a.golden.jsonc
Labels: datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog

#64225 Elasticsearch: Rename time series query to es data query
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/data_query_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
Labels: datasource/Elasticsearch, type/chore, area/backend, no-backport, no-changelog

#64238 PublicDashboards: Email validation on submit
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ConfigPublicDashboard/EmailSharingConfiguration.tsx
Labels: area/frontend, no-backport, no-changelog

#63036 Explore: Support mixed data sources for supplementary query
  .betterer.results
  packages/grafana-data/src/types/logs.ts
  public/app/core/logsModel.test.ts
  public/app/core/logsModel.ts
  public/app/features/explore/Logs.tsx
  public/app/features/explore/LogsSamplePanel.tsx
  public/app/features/explore/LogsVolumePanel.test.tsx
  public/app/features/explore/LogsVolumePanel.tsx
  public/app/features/explore/LogsVolumePanelList.test.tsx
  public/app/features/explore/LogsVolumePanelList.tsx
  public/app/features/explore/__mocks__/data.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/supplementaryQueries.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/supplementaryQueries.test.ts
  public/app/features/explore/utils/supplementaryQueries.ts
  public/test/mocks/datasource_srv.ts
  public/test/mocks/query.ts
Labels: area/explore, area/frontend, add to changelog, no-backport

#63517 Feat: Changing link destination for get more plugins
  .github/CODEOWNERS
  public/app/features/datasources/components/DataSourceCategories.tsx
Labels: area/frontend, add to changelog, area/plugins-catalog, no-backport

#64276 Chore: Add stat for remote cache config
  pkg/infra/usagestats/statscollector/service.go
  pkg/infra/usagestats/statscollector/service_test.go
Labels: type/chore, area/instrumentation, area/backend, add to changelog, no-backport, missing-labels

#64300 Stat Panel: Fix issue with clipping text values
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  packages/grafana-ui/src/utils/measureText.ts
Labels: type/bug, area/frontend, add to changelog, area/panel/stat, mob session, no-backport
