Repository grafana/grafana, pull requests merged in 2023-10, with the labels that each got.

#75721 Navtree: Rename page title from "Infrastructure" to "Integrations"
  public/app/core/utils/navBarItem-translations.ts
Labels: area/frontend, no-backport, no-changelog

#75651 IDforwarding: forward signed id to plugins
  pkg/api/plugin_proxy.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/services/datasourceproxy/datasourceproxy.go
  pkg/services/pluginsintegration/clientmiddleware/forward_id_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/forward_id_middleware_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
  pkg/util/proxyutil/proxyutil.go
Labels: area/backend, no-backport, no-changelog

#73809 Publish documentation from the HEAD of the matching version branch on tag events
  .github/workflows/publish-technical-documentation-release.yml
Labels: type/docs, no-backport, no-changelog

#75749 InfluxDB SQL: Remove default limitation in the query
  public/app/plugins/datasource/influxdb/components/editor/query/fsql/FSQLEditor.tsx
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#75745 Add canonical for testing new canonical behavior in Grafana Cloud
  docs/sources/whatsnew/whats-new-next/index.md
Labels: type/docs, no-backport, no-changelog

#75433 Replace use of `relref` shortcode with `docs/reference` so links work in Grafana Cloud
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
  docs/sources/panels-visualizations/visualizations/traces/index.md
Labels: type/docs, no-backport, no-changelog

#75452 Alerting: Manage remote Alertmanager silences
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/notifier/external_alertmanager.go
  pkg/services/ngalert/notifier/external_alertmanager_test.go
  pkg/services/ngalert/notifier/fake/external_alertmanager_fake.go
  pkg/services/ngalert/notifier/multiorg_alertmanager.go
  pkg/services/ngalert/notifier/silences.go
Labels: area/backend, add to changelog, no-backport, kata:am_unify

#75801 Postgres: Make securejson password optional
  public/app/plugins/datasource/postgres/types.ts
Labels: datasource/Postgres, area/frontend, no-backport, no-changelog

#75762 Testdata: Add some tracing to testdata query data handling
  pkg/tsdb/grafana-testdata-datasource/scenarios.go
Labels: area/backend, no-backport, no-changelog

#75765 Azure Monitor: change variable definitions in OOB dashboards to avoid dependency on sub level permission
  public/app/plugins/datasource/azuremonitor/dashboards/adx.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsights.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsGeoMap.json
  public/app/plugins/datasource/azuremonitor/dashboards/cosmosdb.json
  public/app/plugins/datasource/azuremonitor/dashboards/keyvault.json
  public/app/plugins/datasource/azuremonitor/dashboards/storage.json
Labels: area/frontend, datasource/Azure, pr/external, no-backport, no-changelog

#75766 Chore: Update react-awesome-query-builder package
  package.json
  public/app/features/plugins/sql/components/visual-query-builder/AwesomeQueryBuilder.tsx
  public/app/features/plugins/sql/components/visual-query-builder/WhereRow.tsx
  public/app/features/plugins/sql/types.ts
  yarn.lock
Labels: type/chore, area/frontend, no-backport, no-changelog

#75811 I18n: Run psuedo when extracting phrases
  package.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog

#75808 DockedMegaMenu: Show correct breadcrumbs on dashboard settings
  public/app/core/components/Breadcrumbs/utils.ts
Labels: type/bug, area/frontend, no-backport, no-changelog

#75813 Fix some links in data sources documentation
  docs/sources/datasources/elasticsearch/_index.md
  docs/sources/datasources/elasticsearch/configure-elasticsearch-data-source.md
  docs/sources/datasources/elasticsearch/query-editor/index.md
  docs/sources/datasources/loki/configure-loki-data-source.md
  docs/sources/datasources/mssql/query-editor/index.md
  docs/sources/datasources/prometheus/_index.md
  docs/sources/shared/datasources/tempo-editor-traceql.md
Labels: type/docs, no-backport, no-changelog

#75805 Chore: Replace gofpdf
  go.mod
  go.sum
  pkg/extensions/main.go
Labels: type/bug, area/backend, no-changelog, backport v10.1.x

#75468 Auto-generate: Error handling
  .betterer.results
  public/app/features/dashboard/components/GenAI/GenAIButton.test.tsx
  public/app/features/dashboard/components/GenAI/GenAIButton.tsx
  public/app/features/dashboard/components/GenAI/hooks.ts
Labels: area/frontend, no-backport, no-changelog, area/dashgpt, area/generativeAI

#75720 Plugins: Fix regexes in metrics tracking and remove plugin guess logic
  public/app/features/plugins/loader/packageMetrics.test.ts
  public/app/features/plugins/loader/packageMetrics.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog

#75812 DataSourceWithBackend: Fix adhoc filters not passed to applyTemplateVariables
  packages/grafana-runtime/src/utils/DataSourceWithBackend.test.ts
  packages/grafana-runtime/src/utils/DataSourceWithBackend.ts
Labels: area/frontend, no-backport, no-changelog

#75830 DatasourceProxy: Set feature field
  pkg/services/datasourceproxy/datasourceproxy.go
Labels: type/bug, area/backend, no-backport, no-changelog

#62911 Alerting: Migrate old alerting templates to Go templates
  pkg/services/ngalert/state/template/funcs.go
  pkg/services/ngalert/state/template/funcs_test.go
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
  pkg/services/sqlstore/migrations/ualert/template.go
  pkg/services/sqlstore/migrations/ualert/template_test.go
Labels: area/backend, add to changelog, area/backend/db/migration, no-backport

#75802 Alerting: Expose metrics for Alertmanager Alerts - `grafana_alerting_alertmanager_alerts`
  pkg/services/ngalert/metrics/multi_org_alertmanager.go
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/manager.go
Labels: area/backend, no-backport, no-changelog

#75322 Alerting: Rule Modify Export APIs
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_export.go
  pkg/services/ngalert/api/api_ruler_export_test.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/errors.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/api/test-data/post-rulegroup-101-export.hcl
  pkg/services/ngalert/api/test-data/post-rulegroup-101-export.json
  pkg/services/ngalert/api/test-data/post-rulegroup-101-export.yaml
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/definitions/provisioning.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/provisioning/alert_rules.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#75676 Alerting: Show Insights only for cloud users
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/home/Home.tsx
  public/app/features/alerting/unified/utils/misc.ts
Labels: area/alerting, area/frontend, no-backport, no-changelog

#75839 Docs: Minor link fixes or enhancements related to plugin docs
  docs/sources/datasources/_index.md
  docs/sources/developers/_index.md
Labels: type/docs, no-backport, no-changelog

#75085 Update Azure docs
  docs/sources/datasources/azure-monitor/_index.md
  docs/sources/explore/trace-integration.md
Labels: type/docs, effort/none, no-backport, no-changelog

#75853 chore: lint files in azuremonitor datasource plugin
  public/app/plugins/datasource/azuremonitor/dashboards/adx.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsights.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsGeoMap.json
  public/app/plugins/datasource/azuremonitor/dashboards/cosmosdb.json
  public/app/plugins/datasource/azuremonitor/dashboards/keyvault.json
  public/app/plugins/datasource/azuremonitor/dashboards/storage.json
Labels: type/chore, area/frontend, datasource/Azure, no-backport, no-changelog

#75794 Tooltip: VizTooltip components
  packages/grafana-ui/src/components/VizTooltip/HeaderLabel.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipContent.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipFooter.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipHeader.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipHeaderLabelValue.tsx
  packages/grafana-ui/src/components/VizTooltip/types.ts
  packages/grafana-ui/src/components/VizTooltip/utils.ts
Labels: area/frontend, area/tooltip, no-backport, no-changelog

#75835 Sandbox: Patch array vector prototype methods inside the sandbox
  packages/grafana-data/src/types/vector.ts
  public/app/features/plugins/sandbox/code_loader.ts
  public/app/features/plugins/sandbox/sandbox_plugin_loader.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#75855 CI: Run publish-kinds workflows only on the main repository
  .github/workflows/publish-kinds-next.yml
  .github/workflows/publish-kinds-release.yml
Labels: type/ci, no-changelog, backport v10.1.x

#75857 [v10.1.x] CI: Run publish-kinds workflows only on the main repository
  .github/workflows/publish-kinds-next.yml
  .github/workflows/publish-kinds-release.yml
Labels: backport, type/ci, no-changelog

#74259 Add front matter that informs Hugo that the Grafana content is versioned
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/docs, type/ci, no-changelog, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x, backport v10.1.x

#75605 Sandbox: Update to latest near membrane version ^0.13.0
  .github/renovate.json5
  package.json
  public/app/features/plugins/sandbox/sandbox_plugin_loader.ts
  yarn.lock
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#75859 DatasourceProxy: Fix spelling
  pkg/services/datasourceproxy/datasourceproxy.go
Labels: type/chore, area/backend, no-backport, no-changelog

#75619 i18n: Mark up OpenLibraryPanelModal for translations
  public/app/features/library-panels/components/OpenLibraryPanelModal/OpenLibraryPanelModal.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, pr/external, no-backport, no-changelog

#75715 DashboardScene: Map timezone and fiscal year to scene model and back
  package.json
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/testfiles/dashboard_to_load1.json
  public/app/features/dashboard-scene/serialization/testfiles/repeating_rows_and_panels.json
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#75636 Chore: Update Graphql to 16.8.1
  yarn.lock
Labels: area/security, area/frontend, dependencies, no-backport, no-changelog

#75873 Plugins: Logger middleware: Fix wrong endpoint name for CheckHealth
  pkg/services/pluginsintegration/clientmiddleware/logger_middleware.go
Labels: type/bug, area/plugins, area/backend/plugins, area/backend, go, no-backport, no-changelog

#75860 instrumentation: rename team to grafana_team to improve alert routing.
  pkg/middleware/request_metadata_test.go
  pkg/middleware/request_metrics.go
  pkg/middleware/requestmeta/request_metadata.go
Labels: area/instrumentation, area/backend, no-backport, no-changelog

#75646 Chore: Remove systemjs from renovate ignore
  .github/renovate.json5
Labels: area/frontend, dependencies, no-backport, no-changelog

#74904 sql: numeric inputs: use it's own simple implementation
  public/app/features/plugins/sql/components/configuration/ConnectionLimits.tsx
  public/app/plugins/datasource/mssql/configuration/ConfigurationEditor.tsx
  public/app/plugins/datasource/mysql/configuration/ConfigurationEditor.tsx
  public/app/plugins/datasource/postgres/configuration/ConfigurationEditor.tsx
Labels: datasource/MySQL, datasource/Postgres, datasource/MSSQL, area/frontend, no-backport, no-changelog

#75872 DockedMegaMenu: Refactor and rename to simplify
  .betterer.results
  public/app/core/components/AppChrome/AppChromeMenu.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/FeatureHighlight.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.test.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenuItem.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenuItemIcon.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenuItemText.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/NavBarMenuItemWrapper.tsx
  public/app/core/components/Indent/Indent.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderList.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/components/Indent.tsx
  public/app/features/browse-dashboards/components/NameCell.tsx
  public/app/features/browse-dashboards/types.ts
Labels: area/frontend, area/navigation, no-backport, no-changelog

#75827 i18n: Mark up GeneralSettings for translations
  public/app/features/dashboard/components/DashboardSettings/AutoRefreshIntervals.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardButton.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, pr/external, no-backport, no-changelog

#75875 Fix developer links and newly discovered spelling errors
  docs/sources/administration/api-keys/index.md
  docs/sources/administration/provisioning/index.md
  docs/sources/alerting/fundamentals/alert-rules/message-templating.md
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
  docs/sources/developers/angular_deprecation/_index.md
  docs/sources/developers/http_api/alerting.md
  docs/sources/developers/http_api/dashboard_public.md
  docs/sources/developers/http_api/user.md
  docs/sources/panels-visualizations/calculation-types/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/release-notes/release-notes-9-1-0-beta1.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/jwt/index.md
  docs/sources/setup-grafana/set-up-https.md
Labels: type/docs, no-backport, no-changelog

#75807 Fix link to developer content that has moved
  docs/sources/fundamentals/dashboards-overview/index.md
  docs/sources/release-notes/release-notes-9-0-0.md
Labels: type/docs, no-backport, no-changelog

#75809 Fix broken link and remove use of `relref` shortcode for local anchors
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, no-backport, no-changelog

#75871 Fix links in shared Tempo page
  docs/sources/shared/datasources/tempo-editor-traceql.md
Labels: type/docs, no-backport, no-changelog

#75528 Tracing: Standardize on otel tracing
  contribute/backend/instrumentation.md
  go.mod
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/bus/bus.go
  pkg/expr/commands.go
  pkg/expr/dataplane.go
  pkg/expr/graph.go
  pkg/expr/nodes.go
  pkg/infra/httpclient/httpclientprovider/tracing_middleware.go
  pkg/infra/serverlock/serverlock.go
  pkg/infra/tracing/test_helper.go
  pkg/infra/tracing/tracing.go
  pkg/infra/tracing/tracing_test.go
  pkg/infra/usagestats/service/usage_stats.go
  pkg/middleware/request_tracing.go
  pkg/plugins/backendplugin/coreplugin/registry.go
  pkg/registry/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/alerting/engine.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/cleanup/cleanup.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/live/pipeline/pipeline.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/manager.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware.go
  pkg/services/searchV2/index.go
  pkg/services/sqlstore/database_wrapper.go
  pkg/services/sqlstore/session.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/cloud-monitoring/utils.go
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/prometheus/querydata/request.go
  pkg/tsdb/prometheus/querydata/response.go
  pkg/tsdb/prometheus/utils/utils.go
  pkg/tsdb/tempo/trace_transform.go
  pkg/util/proxyutil/reverse_proxy_test.go
Labels: datasource/Graphite, type/docs, datasource/Elasticsearch, datasource/Prometheus, area/backend, datasource/GoogleCloudMonitoring, datasource/Loki, datasource/Azure, datasource/Tempo, no-backport, no-changelog

#75734 Transformations: Extended support for variables in filter by name
  .betterer.results
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  packages/grafana-data/src/transformations/matchers/nameMatcher.ts
  packages/grafana-data/src/transformations/transformers/filterByName.test.ts
  packages/grafana-data/src/transformations/transformers/filterByName.ts
  public/app/features/transformers/editors/FilterByNameTransformerEditor.tsx
  public/app/features/transformers/partitionByValues/partitionByValues.ts
Labels: type/docs, area/frontend, add to changelog, area/transformations, no-backport

#75710 Fix sticky header issue
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreToolbar.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#74339 Datasources: Filter plugin errors to only show datasource plugins
  packages/grafana-data/src/types/plugin.ts
  public/app/features/datasources/components/NewDataSource.tsx
  public/app/features/plugins/admin/state/hooks.ts
  public/app/features/plugins/admin/state/selectors.ts
  public/app/features/plugins/components/PluginsErrorsInfo.tsx
Labels: area/plugins, area/frontend, area/datasource, no-backport, no-changelog

#75800 [v10.1.x] Docs: Remove duplicate "Legend values" heading
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
Labels: type/docs, no-changelog, backport v9.0.x, backport v9.1.x, backport v9.2.x, backport v9.3.x, backport v9.4.x, backport v9.5.x, backport v10.0.x

#75854 i18n: dashboard settings
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, pr/external, no-backport, no-changelog

#73315 Correlations: Add an editor in Explore
  .betterer.results
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-data/src/types/explore.ts
  packages/grafana-data/src/utils/dataLinks.ts
  public/app/core/components/SplitPaneWrapper/SplitPaneWrapper.tsx
  public/app/core/utils/explore.ts
  public/app/features/correlations/utils.ts
  public/app/features/explore/CorrelationEditorModeBar.tsx
  public/app/features/explore/CorrelationHelper.tsx
  public/app/features/explore/CorrelationUnsavedChangesModal.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreActions.tsx
  public/app/features/explore/ExplorePage.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/QueryRows.test.tsx
  public/app/features/explore/extensions/ToolbarExtensionPoint.test.tsx
  public/app/features/explore/extensions/ToolbarExtensionPoint.tsx
  public/app/features/explore/extensions/getExploreExtensionConfigs.test.tsx
  public/app/features/explore/extensions/getExploreExtensionConfigs.tsx
  public/app/features/explore/state/correlations.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/selectors.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.tsx
  public/app/types/explore.ts
Labels: datasource/Prometheus, area/explore, area/frontend, add to changelog, no-backport

#75652 Chore: Bump storybook 7.4.5
  .yarn/patches/@storybook-blocks-npm-7.0.10-b101e8dcba.patch
  .yarn/patches/@storybook-blocks-npm-7.4.5-5a2374564a.patch
  .yarnrc.yml
  package.json
  packages/grafana-ui/package.json
  yarn.lock
Labels: area/frontend, area/grafana/ui, dependencies, area/storybook, no-backport, no-changelog

#75895 Fix: visualization vs visualisation in feature description
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/bug, area/backend, no-backport, no-changelog

#75816 Docs: Fix link to developing plugins
  CONTRIBUTING.md
  docs/sources/administration/data-source-management/index.md
  docs/sources/datasources/_index.md
  docs/sources/developers/_index.md
Labels: type/docs, pr/external, no-changelog, backport v10.0.x, backport v10.1.x

#75898 DataSourcePicker: Disable autocomplete for the search input
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
Labels: type/bug, area/frontend, add to changelog, backport v10.1.x, area/dashboards/panel

#75901 Fix link to "Configure a legend" page
  docs/sources/visualizations/pie-chart-panel.md
Labels: type/docs, no-backport, no-changelog

#75902 [v9.1.x] [v10.1.x] Docs: Remove duplicate "Legend values" heading
  docs/sources/visualizations/pie-chart-panel.md
Labels: type/docs, backport, no-changelog

#75847 Panel: omit query API call when the panel is a row
  public/app/features/dashboard/dashgrid/PanelStateWrapper.test.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/PanelModel.ts
Labels: type/bug, area/frontend, no-backport, no-changelog

#75842 Loki: Cache extracted labels
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.ts
  public/app/plugins/datasource/loki/types.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v10.1.x

#75685 Legend: Fix desc sort so NaNs are not display first
  packages/grafana-ui/src/components/VizLegend/VizLegendTable.tsx
Labels: area/frontend, add to changelog, pr/external, no-backport, area/legend

#75886 Chore: Bump grafana-plugin-sdk-go to v0.179.0
  go.mod
  go.sum
Labels: area/backend, add to changelog, no-backport

#75852 Prometheus: Promqail tests and bug fixes
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/PromQail.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/PromQail.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/QuerySuggestionContainer.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/QuerySuggestionItem.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/promQail/state/helpers.ts
Labels: datasource/Prometheus, area/frontend, area/datasource/frontend, no-backport, no-changelog, area/generativeAI

#75717 Docs: Update grafana configuration documentation
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, pr/external, no-changelog, backport v10.0.x, backport v10.1.x

#75914 Docs: Manual backport - Update grafana configuration documentation (#75717)
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, backport, no-changelog

#75913 Docs: Manual backport - Update grafana configuration documentation (#75717)
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, backport, no-changelog

#75556 Stat: Disable wide layout
  packages/grafana-ui/src/components/BigValue/BigValue.tsx
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  public/app/plugins/panel/stat/StatPanel.tsx
Labels: area/frontend, add to changelog, area/panel/stat, no-backport

#75731 Instrumentation: Enable native histograms for HTTP requests
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/middleware/request_metrics.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/instrumentation, area/backend, area/frontend, no-backport, no-changelog

#75919 Docs: update Grafana Play InfluxDB templated dashboard link
  docs/sources/dashboards/variables/add-template-variables/index.md
Labels: type/docs, no-changelog, backport v9.5.x, backport v10.0.x, backport v10.1.x

#75178 Cloudwatch: Add Documentation on Temporary Credentials
  docs/sources/datasources/aws-cloudwatch/aws-authentication/index.md
  docs/sources/whatsnew/whats-new-next/index.md
Labels: type/docs, add to changelog, no-backport, add to what's new

#75511 Geomap: Fix tooltip field name regression
  packages/grafana-data/src/field/fieldState.test.ts
  packages/grafana-data/src/field/fieldState.ts
  public/app/features/visualization/data-hover/DataHoverView.tsx
Labels: type/bug, area/frontend, type/regression, area/panel/geomap, area/tooltip, no-changelog, backport v10.1.x

#75878 Auto-generate: Hide the button when LLM plugin is not enabled
  public/app/features/dashboard/components/GenAI/GenAIButton.test.tsx
  public/app/features/dashboard/components/GenAI/GenAIButton.tsx
  public/app/features/dashboard/components/GenAI/hooks.ts
  public/app/features/dashboard/components/GenAI/llms/openai.ts
  public/app/features/dashboard/components/GenAI/llms/types.ts
Labels: area/dashboard, type/refactor, area/frontend, no-backport, no-changelog, area/dashgpt, area/generativeAI

#75387 Canvas: Fix button element size not being applied correctly
  public/app/features/canvas/elements/button.tsx
Labels: area/frontend, pr/external, area/panel/canvas, no-backport, no-changelog

#74908 Chore: Resolved circular dependency warnings in grafana/ui
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinkSuggestions.tsx
  packages/grafana-ui/src/components/DataSourceSettings/BasicAuthSettings.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeOfDayPicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerContent.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerFooter.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeContent.tsx
  packages/grafana-ui/src/components/FileUpload/FileUpload.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  packages/grafana-ui/src/components/Menu/MenuItem.tsx
  packages/grafana-ui/src/components/Monaco/ReactMonacoEditorLazy.tsx
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/components/Segment/Segment.tsx
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
  packages/grafana-ui/src/components/Segment/SegmentInput.tsx
  packages/grafana-ui/src/components/TabbedContainer/TabbedContainer.tsx
  packages/grafana-ui/src/components/Tabs/index.ts
  packages/grafana-ui/src/components/VizLegend/utils.ts
  packages/grafana-ui/src/options/builder/axis.tsx
  packages/grafana-ui/src/options/builder/hideSeries.tsx
  packages/grafana-ui/src/options/builder/stacking.tsx
  packages/grafana-ui/src/themes/GlobalStyles/GlobalStyles.tsx
Labels: type/chore, area/frontend, area/grafana/ui, no-backport, no-changelog

#75806 Explore: decouple ExploreGraph and GraphContainer series limit implementation
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/Graph/GraphContainer.tsx
  public/app/features/explore/Logs/LogsVolumePanel.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#74725 Nested Folders: Fix fetching a folder by title
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/folder/folderimpl/sqlstore_test.go
  pkg/services/folder/model.go
  pkg/services/folder/service.go
Labels: area/backend, no-backport, no-changelog

#75487 Auth: Signing Key persistence
  pkg/services/auth/idimpl/signer.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/oauthserver/oasimpl/service.go
  pkg/services/oauthserver/oasimpl/service_test.go
  pkg/services/oauthserver/oasimpl/token_test.go
  pkg/services/secrets/migrator/migrator.go
  pkg/services/signingkeys/signingkeys.go
  pkg/services/signingkeys/signingkeysimpl/service.go
  pkg/services/signingkeys/signingkeysimpl/service_test.go
  pkg/services/signingkeys/signingkeystest/fake.go
  pkg/services/signingkeys/signingkeystore/fake.go
  pkg/services/signingkeys/signingkeystore/store.go
  pkg/services/signingkeys/signingkeystore/store_test.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/signingkeys/migrations.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#75917 BrowseDashboards: Add (skipped) basic e2e tests to prepare for GA
  e2e/dashboards-suite/dashboard-browse.spec.ts
  e2e/utils/flows/confirmModal.ts
  e2e/utils/flows/index.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/browse-dashboards/components/BrowseView.test.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/components/NewFolderForm.tsx
Labels: area/frontend, no-backport, no-changelog

#75944 chore: run `yarn dedupe`
  yarn.lock
Labels: type/chore, pr/external, no-backport, no-changelog

#75940 chore: replace Sinon usage with Jest
  jest.config.js
  package.json
  packages/grafana-data/package.json
  packages/grafana-data/src/datetime/datemath.test.ts
  public/test/.jshintrc
  public/test/lib/common.ts
  public/test/specs/helpers.ts
  yarn.lock
Labels: type/chore, area/frontend, pr/external, no-backport, no-changelog

#75880 Loki: Fixes chained template variable queries for scene apps
  .betterer.results
  packages/grafana-data/src/types/datasource.ts
  public/app/features/variables/query/queryRunners.ts
  public/app/features/variables/utils.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/variables.test.ts
  public/app/plugins/datasource/loki/variables.ts
Labels: area/dashboard/templating, area/frontend, datasource/Loki, no-backport, no-changelog

#75937 Scenes: Backward compatability with new template variable system for functions that don't pass scopedVars
  .betterer.results
  package.json
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/types/window.d.ts
  yarn.lock
Labels: area/dashboard/templating, area/frontend, no-backport, no-changelog

#75936 Explore: Improve series disclaimer UI
  public/app/features/explore/Graph/GraphContainer.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#75947 Alerting: Fix incorrect field description
  public/app/features/alerting/unified/components/rule-editor/AlertRuleNameInput.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#75362 Alerting: Make shareable alert rule link work if rule name contains forward slashes
  public/app/features/alerting/unified/RedirectToRuleViewer.tsx
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/rule-id.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, internal, backport v10.1.x

#75945 Renovate: Add yarn dedupe strategy
  .github/renovate.json5
Labels: type/chore, dependencies, no-backport, no-changelog

#75949 Service accounts: Apply None role by default for creating SA
  public/app/features/serviceaccounts/ServiceAccountCreatePage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountCreatePage.tsx
Labels: type/tech, area/frontend, no-backport, no-changelog, product-approved

#75897 Expose enterprise-commit in server version output
  pkg/cmd/grafana-cli/commands/cli.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/cmd/grafana/main.go
Labels: area/grafana-cli, area/backend, no-backport, no-changelog

#75756 Loki: Support X-ray as internal link in derived fields
  public/app/plugins/datasource/loki/getDerivedFields.test.ts
  public/app/plugins/datasource/loki/getDerivedFields.ts
Labels: type/feature-request, area/frontend, datasource/Loki, add to changelog, pr/external, no-backport, team/grafana-aws-datasources

#75957 SigningKeys: Use xorm for signing_key store
  pkg/services/signingkeys/signingkeystore/store.go
  pkg/services/signingkeys/signingkeystore/store_test.go
Labels: area/backend, no-backport, no-changelog

#75837 AzureMonitor: Use `Field` instead of `InlineField`
  public/app/plugins/datasource/azuremonitor/components/VariableEditor/VariableEditor.tsx
Labels: effort/none, area/frontend, datasource/Azure, no-backport, no-changelog

#75829 CloudMonitoring: Use `Field` instead of `InlineField`
  public/app/plugins/datasource/cloud-monitoring/components/Fields.tsx
  public/app/plugins/datasource/cloud-monitoring/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/__snapshots__/VariableQueryEditor.test.tsx.snap
Labels: effort/none, area/frontend, datasource/GoogleCloudMonitoring, no-backport, no-changelog

#75443 InfluxDB SQL: Use double quotes instead of backticks
  public/app/plugins/datasource/influxdb/components/editor/query/fsql/FSQLEditor.tsx
  public/app/plugins/datasource/influxdb/fsql/datasource.flightsql.ts
  public/app/plugins/datasource/influxdb/fsql/fields.ts
  public/app/plugins/datasource/influxdb/fsql/flightsqlMetaQuery.ts
  public/app/plugins/datasource/influxdb/fsql/sqlCompletionProvider.ts
  public/app/plugins/datasource/influxdb/fsql/sqlUtil.ts
  public/app/plugins/datasource/influxdb/fsql/types.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#75961 IDForwarding: Use feature toggle not generate a key if feature is not enabled
  pkg/services/auth/idimpl/signer.go
Labels: area/backend, no-backport, no-changelog

#75595 AzureMonitor: Remove dependencies on Grafana frontend
  public/app/plugins/datasource/azuremonitor/__mocks__/datasource.ts
  public/app/plugins/datasource/azuremonitor/__mocks__/utils.ts
  public/app/plugins/datasource/azuremonitor/__mocks__/variables.ts
  public/app/plugins/datasource/azuremonitor/azure_log_analytics/azure_log_analytics_datasource.test.ts
  public/app/plugins/datasource/azuremonitor/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/azuremonitor/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/azuremonitor/azure_monitor/azure_monitor_datasource.ts
  public/app/plugins/datasource/azuremonitor/azure_resource_graph/azure_resource_graph_datasource.test.ts
  public/app/plugins/datasource/azuremonitor/azure_resource_graph/azure_resource_graph_datasource.ts
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/Filter.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/Filters.test.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/Filters.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/datasource.test.ts
  public/app/plugins/datasource/azuremonitor/datasource.ts
  public/app/plugins/datasource/azuremonitor/types/types.ts
  public/app/plugins/datasource/azuremonitor/utils/common.ts
  public/app/plugins/datasource/azuremonitor/variables.ts
Labels: area/frontend, datasource/Azure, no-backport, no-changelog

#75960 Sandbox: Make jquery available to plugins in the global scope
  public/app/features/plugins/sandbox/sandbox_plugin_loader.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#75372 Transformations: Add support for dashboard variable in limit, sort by, filter by value, heatmap and histogram
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/transformations/matchers/valueMatchers/numericMatchers.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/rangeMatchers.ts
  packages/grafana-data/src/transformations/transformers/filterByValue.test.ts
  packages/grafana-data/src/transformations/transformers/filterByValue.ts
  packages/grafana-data/src/transformations/transformers/histogram.ts
  packages/grafana-data/src/transformations/transformers/limit.ts
  packages/grafana-data/src/transformations/transformers/sortBy.ts
  packages/grafana-data/src/transformations/transformers/utils.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-ui/src/components/DataLinks/DataLinkSuggestions.tsx
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/transformers/FilterByValueTransformer/FilterByValueFilterEditor.tsx
  public/app/features/transformers/FilterByValueTransformer/ValueMatchers/BasicMatcherEditor.tsx
  public/app/features/transformers/FilterByValueTransformer/ValueMatchers/RangeMatcherEditor.tsx
  public/app/features/transformers/FilterByValueTransformer/ValueMatchers/RegexMatcherEditor.tsx
  public/app/features/transformers/FilterByValueTransformer/ValueMatchers/valueMatchersUI.ts
  public/app/features/transformers/calculateHeatmap/HeatmapTransformerEditor.tsx
  public/app/features/transformers/calculateHeatmap/editor/AxisEditor.tsx
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/features/transformers/editors/CalculateFieldTransformerEditor.tsx
  public/app/features/transformers/editors/HistogramTransformerEditor.tsx
  public/app/features/transformers/editors/LimitTransformerEditor.tsx
  public/app/features/transformers/editors/SortByTransformerEditor.tsx
  public/app/features/transformers/suggestionsInput/SuggestionsInput.tsx
  public/app/features/transformers/utils.test.ts
  public/app/features/transformers/utils.ts
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap/fields.ts
  public/app/plugins/panel/heatmap/module.tsx
Labels: type/docs, area/panel/heatmap, area/backend, area/frontend, add to changelog, no-backport

#75972 AuthN: Move oauthserver to extsvcauth
  .github/CODEOWNERS
  pkg/server/wire.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/extsvcauth/extsvcauth.go
  pkg/services/extsvcauth/oauthserver/api/api.go
  pkg/services/extsvcauth/oauthserver/errors.go
  pkg/services/extsvcauth/oauthserver/external_service.go
  pkg/services/extsvcauth/oauthserver/external_service_test.go
  pkg/services/extsvcauth/oauthserver/models.go
  pkg/services/extsvcauth/oauthserver/oasimpl/aggregate_store.go
  pkg/services/extsvcauth/oauthserver/oasimpl/aggregate_store_test.go
  pkg/services/extsvcauth/oauthserver/oasimpl/introspection.go
  pkg/services/extsvcauth/oauthserver/oasimpl/service.go
  pkg/services/extsvcauth/oauthserver/oasimpl/service_test.go
  pkg/services/extsvcauth/oauthserver/oasimpl/session.go
  pkg/services/extsvcauth/oauthserver/oasimpl/token.go
  pkg/services/extsvcauth/oauthserver/oasimpl/token_test.go
  pkg/services/extsvcauth/oauthserver/oastest/fakes.go
  pkg/services/extsvcauth/oauthserver/oastest/store_mock.go
  pkg/services/extsvcauth/oauthserver/store/database.go
  pkg/services/extsvcauth/oauthserver/store/database_test.go
  pkg/services/extsvcauth/oauthserver/utils/utils.go
  pkg/services/extsvcauth/oauthserver/utils/utils_test.go
  pkg/services/pluginsintegration/serviceregistration/serviceregistration.go
Labels: area/backend, no-backport, no-changelog

#75653 InfluxDB: Interpolate variables based on their type
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/datasource_backend_mode.test.ts
Labels: datasource/InfluxDB, area/frontend, no-backport, no-changelog

#75964 Anon: Use xorm for anon service
  pkg/services/anonymous/anonimpl/anonstore/database.go
Labels: area/backend, no-backport, no-changelog

#75869 Docs: Update RBAC documentation
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  docs/sources/developers/http_api/access_control.md
Labels: type/docs, add to changelog, no-backport, area/auth/rbac, team/grafana-authnz

#75864 Chore: Clean up the context handler
  pkg/services/contexthandler/contexthandler.go
Labels: area/backend, no-backport, no-changelog, 🍐-programming

#75401 docs: what's new, add traces and k6 integration
  .codespellignore
  docs/sources/whatsnew/whats-new-next/index.md
Labels: type/docs, no-backport, no-changelog

#74119 CI: Add nightly prerelease builds
  .drone.yml
  scripts/drone/rgm.star
  scripts/drone/vault.star
Labels: area/frontend, type/ci, no-backport, no-changelog

#75976 Alerting: Fix store's GetNamespaceByUID
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
Labels: type/bug, area/alerting, area/backend, no-backport, no-changelog

#75959 K8s: Remove /k8s/ prefix
  pkg/services/grafana-apiserver/README.md
  pkg/services/grafana-apiserver/service.go
Labels: area/backend, no-backport, no-changelog

#75757 Transformations: Rename "Transform" tab to "Transform data"
  e2e/panels-suite/geomap-spatial-operations-transform.spec.ts
  e2e/panels-suite/panelEdit_base.spec.ts
  e2e/panels-suite/panelEdit_transforms.spec.ts
  public/app/features/dashboard/components/PanelEditor/state/selectors.test.ts
  public/app/features/dashboard/components/PanelEditor/state/selectors.ts
Labels: area/frontend, add to changelog, no-backport

#75850 Adding .github/workflows/create-security-patch-from-security-mirror.yml
  .github/CODEOWNERS
  .github/workflows/create-security-patch-from-security-mirror.yml
Labels: type/ci, backport v8.4.x, backport v8.5.x, no-changelog, product-approved, backport v9.4.x, backport v9.5.x, backport v10.0.x, backport v10.1.x

#75596 chore: Add slack notification to dataviz channel when OSS issues are created
  .github/teams.yml
Labels: type/chore, no-backport, no-changelog, area/dataviz

#75926 [v10.1.x] Geomap: Fix tooltip field name regression
  packages/grafana-data/src/field/fieldState.test.ts
  packages/grafana-data/src/field/fieldState.ts
  public/app/features/visualization/data-hover/DataHoverView.tsx
Labels: type/bug, area/frontend, backport, type/regression, area/panel/geomap, area/tooltip, no-changelog

#75927 Azure monitor/remove graf tracing
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/azuremonitor_test.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
Labels: area/backend, datasource/Azure, no-backport, no-changelog

#76000 CI: Use nightly-release cron for nightly releases
  .drone.yml
  scripts/drone/rgm.star
Labels: type/ci, no-backport, no-changelog

#75883 mysql: config: fixed import and removed unused code
  public/app/plugins/datasource/mysql/configuration/ConfigurationEditor.tsx
Labels: datasource/MySQL, area/frontend, no-backport, no-changelog

#75826 postgres/mysql: removed from-grafana-core import
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/postgres/datasource.test.ts
Labels: datasource/MySQL, datasource/Postgres, area/frontend, no-backport, no-changelog

#75881 sql: added lint-rule againts wrong imports
  public/app/features/plugins/sql/.eslintrc
Labels: no-backport, no-changelog

#75846 Toggletip: Add support to programmatically close it
  packages/grafana-ui/src/components/Toggletip/Toggletip.test.tsx
  packages/grafana-ui/src/components/Toggletip/Toggletip.tsx
Labels: area/frontend, add to changelog, area/grafana/ui, no-backport

#75798 IDForwarding: Add basic metrics
  pkg/services/auth/idimpl/metrics.go
  pkg/services/auth/idimpl/service.go
  pkg/services/auth/idimpl/service_test.go
Labels: area/backend, no-backport, no-changelog

#75970 BrowseDashboards: Improve screen reader announcements
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/CheckboxHeaderCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/components/NameCell.tsx
  public/app/features/browse-dashboards/components/utils.ts
  public/app/features/browse-dashboards/types.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#75943 Auth: OAuth token sync improvements
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/oauthtoken/oauth_token_test.go
Labels: area/auth, area/backend, area/auth/oauth, no-backport, no-changelog

#75822 BrowseDashboards: Enable new browse dashboards UI by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  e2e/dashboards-suite/dashboard-browse.spec.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#75977 TemplateSrv: Fix ad hoc filters not applying correctly when using datasource variables
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Labels: type/bug, area/dashboard/templating, area/frontend, no-changelog, backport v10.0.x, backport v10.1.x

#76017 SQL: Remove query execution tracking for dashboards
  public/app/features/plugins/sql/datasource/SqlDatasource.ts
Labels: area/frontend, no-backport, no-changelog

#76027 Navtree: Fix nav.infrastructure.title translation
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog

#75990 Alerting: Allow users to give feedback on each insights panel
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/insights/RatingModal.tsx
  public/app/features/alerting/unified/insights/grafana/AlertsByStateScene.tsx
  public/app/features/alerting/unified/insights/grafana/EvalSuccessVsFailuresScene.tsx
  public/app/features/alerting/unified/insights/grafana/Firing.tsx
  public/app/features/alerting/unified/insights/grafana/InstanceStatusScene.tsx
  public/app/features/alerting/unified/insights/grafana/MissedIterationsScene.tsx
  public/app/features/alerting/unified/insights/grafana/MostFiredInstancesTable.tsx
  public/app/features/alerting/unified/insights/grafana/Paused.tsx
  public/app/features/alerting/unified/insights/grafana/RulesByEvaluation.tsx
  public/app/features/alerting/unified/insights/grafana/RulesByEvaluationPercentage.tsx
  public/app/features/alerting/unified/insights/grafana/alertmanager/NotificationsScene.tsx
  public/app/features/alerting/unified/insights/grafana/alertmanager/SilencesByStateScene.tsx
  public/app/features/alerting/unified/insights/mimir/AlertsByState.tsx
  public/app/features/alerting/unified/insights/mimir/InvalidConfig.tsx
  public/app/features/alerting/unified/insights/mimir/Notifications.tsx
  public/app/features/alerting/unified/insights/mimir/Silences.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupEvaluationDurationIntervalRatioScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupEvaluationDurationScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupEvaluationsScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupIntervalScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RulesPerGroupScene.tsx
  public/app/features/alerting/unified/insights/mimir/rules/EvalSuccessVsFailuresScene.tsx
  public/app/features/alerting/unified/insights/mimir/rules/Firing.tsx
  public/app/features/alerting/unified/insights/mimir/rules/InstancesByState.tsx
  public/app/features/alerting/unified/insights/mimir/rules/InstancesPercentageByState.tsx
  public/app/features/alerting/unified/insights/mimir/rules/MissedIterationsScene.tsx
  public/app/features/alerting/unified/insights/mimir/rules/MostFiredRules.tsx
  public/app/features/alerting/unified/insights/mimir/rules/Pending.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog, kata:grafana-alerting-insights

#76037 Plugin: Accept backend plugin process command args
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
Labels: area/plugins, area/backend, no-backport, no-changelog

#76040 SigningKeys: Add jwks endpoint
  pkg/infra/remotecache/test_utils.go
  pkg/services/signingkeys/signingkeysimpl/service.go
  pkg/services/signingkeys/signingkeysimpl/service_test.go
Labels: area/backend, no-backport, no-changelog

#75978 Explore: A tooltip for reorder icon in query operation
  public/app/core/components/QueryOperationRow/QueryOperationRowHeader.tsx
Labels: area/frontend, type/accessibility, pr/external, no-backport, no-changelog

#75954 Chore: Update zod dependency to latest
  yarn.lock
Labels: area/security, area/frontend, dependencies, no-backport, no-changelog

#76034 Explore: Update info about query history and deleting
  public/app/features/explore/RichHistory/RichHistorySettingsTab.tsx
Labels: area/explore, area/frontend, area/ux, no-backport, no-changelog

#75991 [v10.0.x] Adding .github/workflows/create-security-patch-from-security-mirror.yml
  .github/CODEOWNERS
  .github/workflows/create-security-patch-from-security-mirror.yml
Labels: backport, type/ci, no-changelog, product-approved

#75993 [v9.5.x] Adding .github/workflows/create-security-patch-from-security-mirror.yml
  .github/CODEOWNERS
  .github/workflows/create-security-patch-from-security-mirror.yml
Labels: backport, type/ci, no-changelog, product-approved

#75996 [v9.4.x] Adding .github/workflows/create-security-patch-from-security-mirror.yml
  .github/CODEOWNERS
  .github/workflows/create-security-patch-from-security-mirror.yml
Labels: backport, type/ci, no-changelog, product-approved

#75997 [v8.5.x] Adding .github/workflows/create-security-patch-from-security-mirror.yml
  .github/CODEOWNERS
  .github/workflows/create-security-patch-from-security-mirror.yml
Labels: backport, type/ci, no-changelog, product-approved

#75998 [v8.4.x] Adding .github/workflows/create-security-patch-from-security-mirror.yml
  .github/CODEOWNERS
  .github/workflows/create-security-patch-from-security-mirror.yml
Labels: backport, type/ci, no-changelog, product-approved

#74293 Geomap: Add Symbol Alignment Options
  public/app/plugins/panel/geomap/editor/StyleEditor.tsx
  public/app/plugins/panel/geomap/migrations.test.ts
  public/app/plugins/panel/geomap/style/markers.ts
  public/app/plugins/panel/geomap/style/types.ts
  public/app/plugins/panel/geomap/style/utils.test.ts
  public/app/plugins/panel/geomap/style/utils.ts
Labels: area/frontend, add to changelog, area/panel/geomap, no-backport

#75979 AuthN: New service to support multiple authentication providers for plugins
  pkg/server/wire.go
  pkg/services/extsvcauth/errors.go
  pkg/services/extsvcauth/extsvcauth.go
  pkg/services/extsvcauth/models.go
  pkg/services/extsvcauth/oauthserver/external_service.go
  pkg/services/extsvcauth/oauthserver/external_service_test.go
  pkg/services/extsvcauth/oauthserver/models.go
  pkg/services/extsvcauth/oauthserver/oasimpl/aggregate_store_test.go
  pkg/services/extsvcauth/oauthserver/oasimpl/service.go
  pkg/services/extsvcauth/oauthserver/oasimpl/service_test.go
  pkg/services/extsvcauth/oauthserver/oasimpl/token.go
  pkg/services/extsvcauth/oauthserver/oasimpl/token_test.go
  pkg/services/extsvcauth/oauthserver/oastest/fakes.go
  pkg/services/extsvcauth/oauthserver/oastest/store_mock.go
  pkg/services/extsvcauth/oauthserver/store/database.go
  pkg/services/extsvcauth/oauthserver/store/database_test.go
  pkg/services/extsvcauth/registry/service.go
  pkg/services/pluginsintegration/serviceregistration/serviceregistration.go
Labels: area/backend, no-backport, no-changelog

#75932 Bar Gauge: Add field name placement option
  docs/sources/developers/kinds/composable/bargauge/panelcfg/schema-reference.md
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/mudball.cue
  packages/grafana-schema/src/raw/composable/bargauge/panelcfg/x/BarGaugePanelCfg_types.gen.ts
  packages/grafana-ui/src/components/BarGauge/BarGauge.test.tsx
  packages/grafana-ui/src/components/BarGauge/BarGauge.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.test.tsx
  public/app/plugins/panel/bargauge/BarGaugePanel.tsx
  public/app/plugins/panel/bargauge/module.tsx
  public/app/plugins/panel/bargauge/panelcfg.cue
  public/app/plugins/panel/bargauge/panelcfg.gen.ts
Labels: type/docs, area/frontend, area/panel/gauge, add to changelog, area/panel/bargauge, no-backport

#75994 Panel: Remove unnecessary test
  public/app/features/dashboard/dashgrid/PanelStateWrapper.test.tsx
Labels: area/frontend, no-backport, no-changelog

#76051 CI: Add test Mimir backend image for integration tests
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/pipelines/integration_tests.star
  scripts/drone/services/services.star
  scripts/drone/steps/lib.star
  scripts/drone/utils/images.star
Labels: area/alerting, type/ci, no-backport, no-changelog

#75918 Alerting: Update alert rule export models to omit default values
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/api/test-data/post-rulegroup-101-export.hcl
  pkg/services/ngalert/api/test-data/post-rulegroup-101-export.json
  pkg/services/ngalert/api/test-data/post-rulegroup-101-export.yaml
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#75896 Alerting: Add integration tests for Rule Export API
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/test-data/rulegroup-1-export.json
  pkg/tests/api/alerting/test-data/rulegroup-1-get.json
  pkg/tests/api/alerting/test-data/rulegroup-1-post.json
  pkg/tests/api/alerting/test-data/rulegroup-2-export.json
  pkg/tests/api/alerting/test-data/rulegroup-2-get.json
  pkg/tests/api/alerting/test-data/rulegroup-2-post.json
  pkg/tests/api/alerting/testing.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#75935 Canvas: Add ability to customize what standard element editors show up for all element types
  public/app/features/canvas/element.ts
  public/app/features/canvas/elements/button.tsx
  public/app/features/canvas/types.ts
  public/app/plugins/panel/canvas/editor/element/elementEditor.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog

#75995 Add compat function for notify.GrafanaIntegrationConfig to EmbeddedContactPoint
  pkg/services/ngalert/provisioning/compat.go
  pkg/services/ngalert/provisioning/contactpoints.go
Labels: area/alerting, type/refactor, area/backend, no-backport, no-changelog

#76056 Transformations: Add variable support to join by field
  packages/grafana-data/src/transformations/transformers/joinByField.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
  public/app/features/transformers/editors/JoinByFieldTransformerEditor.tsx
Labels: area/frontend, add to changelog, area/transformations, no-backport

#76085 K8s/Playlist: Toggle backend APIs
  public/app/features/playlist/PlaylistEditPage.test.tsx
  public/app/features/playlist/PlaylistEditPage.tsx
  public/app/features/playlist/PlaylistForm.test.tsx
  public/app/features/playlist/PlaylistForm.tsx
  public/app/features/playlist/PlaylistNewPage.test.tsx
  public/app/features/playlist/PlaylistNewPage.tsx
  public/app/features/playlist/PlaylistPage.tsx
  public/app/features/playlist/PlaylistSrv.test.ts
  public/app/features/playlist/PlaylistSrv.ts
  public/app/features/playlist/api.ts
  public/app/features/playlist/types.ts
Labels: area/frontend, no-backport, no-changelog

#75597 Dashboard: Overflow and z-index adjustments
  packages/grafana-data/src/themes/zIndex.ts
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/themes/_variables.scss.tmpl.ts
  public/app/core/components/SplitPaneWrapper/SplitPaneWrapper.tsx
  public/sass/_variables.generated.scss
  public/sass/components/_dashboard_grid.scss
Labels: area/explore, area/frontend, area/panel/edit, no-backport, no-changelog

#76098 UI Extensions: Allow `React.memo()` objects as component extensions
  public/app/features/plugins/extensions/validators.test.tsx
  public/app/features/plugins/extensions/validators.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugin-extensions, area/plugins/sandbox

#76048 SigningKeys: Clean old keys by expiry
  pkg/services/signingkeys/signingkeystore/store.go
  pkg/services/signingkeys/signingkeystore/store_test.go
Labels: area/backend, no-backport, no-changelog

#76079 CloudWatch: Add missing AWS/Transfer metrics
  pkg/tsdb/cloudwatch/constants/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external, no-backport
