Repository grafana/grafana, pull requests merged in 2023-07, with the labels that each got.

#69943 InfluxDB: Fix backend mode table result with aliases
  pkg/tsdb/influxdb/response_parser.go
  public/app/plugins/datasource/influxdb/response_parser.test.ts
  public/app/plugins/datasource/influxdb/response_parser.ts
Labels: datasource/InfluxDB, area/backend, area/frontend, no-backport, no-changelog

#69405 ColorPicker: Allow to use in form
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorSwatch.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#70960 Plugins: Angular detection: Fix detection not being run for CDN plugins
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/plugins.go
Labels: type/bug, area/plugins, area/backend/plugins, area/backend, go, no-changelog, backport v10.0.x

#70879 Tracing: Add inline validation to time shift configuration fields
  public/app/core/components/IntervalInput/IntervalInput.test.tsx
  public/app/core/components/IntervalInput/IntervalInput.tsx
  public/app/core/components/IntervalInput/validation.test.ts
  public/app/core/components/IntervalInput/validation.ts
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/core/components/TraceToMetrics/TraceToMetricsSettings.tsx
  public/app/plugins/datasource/tempo/configuration/QuerySettings.tsx
Labels: area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog

#70720 Alerting: Refactor Alertmanager picker
  public/app/features/alerting/unified/Admin.tsx
  public/app/features/alerting/unified/AlertGroups.tsx
  public/app/features/alerting/unified/MuteTimings.tsx
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/components/AlertManagerPicker.tsx
  public/app/features/alerting/unified/components/AlertingPageWrapper.tsx
  public/app/features/alerting/unified/components/NoAlertManagerWarning.tsx
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.test.tsx
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.tsx
  public/app/features/alerting/unified/components/alert-groups/AlertGroupFilter.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.v1.test.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.v1.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.test.tsx
  public/app/features/alerting/unified/hooks/useAlertManagerSourceName.test.tsx
  public/app/features/alerting/unified/hooks/useAlertManagerSourceName.ts
  public/app/features/alerting/unified/hooks/useMuteTimingOptions.ts
  public/app/features/alerting/unified/state/AlertmanagerContext.test.tsx
  public/app/features/alerting/unified/state/AlertmanagerContext.tsx
  public/app/plugins/panel/alertGroups/AlertmanagerPicker.tsx
  public/app/plugins/panel/alertGroups/module.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#71026 Update Alerting GitHub teams
  .github/CODEOWNERS
  pkg/kindsysreport/codegen/report.json
Labels: area/alerting, no-backport, no-changelog

#70848 NestedFolders: Add search to NestedFolderPicker
  public/app/core/components/NestedFolderPicker/NestedFolderList.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.tsx
  public/app/features/search/service/utils.ts
Labels: area/frontend, no-backport, no-changelog

#70643 Alerting: Contact points v2 – part 1
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/components/Icon/cached.json
  packages/grafana-ui/src/components/Icon/iconBundle.ts
  public/app/features/alerting/components/ConditionalWrap.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.v2.tsx
  public/app/features/alerting/unified/components/contact-points/useContactPoints.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/types/contact-points.ts
Labels: area/alerting, area/frontend, area/ux, no-backport, no-changelog

#70989 logs: refactor: move logsModel to the logs folder
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsSamplePanel.tsx
  public/app/features/explore/utils/decorators.ts
  public/app/features/explore/utils/supplementaryQueries.ts
  public/app/features/inspector/InspectDataTab.tsx
  public/app/features/logs/components/log-context/LogRowContextModal.test.tsx
  public/app/features/logs/components/log-context/LogRowContextModal.tsx
  public/app/features/logs/logsModel.test.ts
  public/app/features/logs/logsModel.ts
  public/app/features/logs/logsModel_parse.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: datasource/Elasticsearch, area/explore, area/frontend, datasource/Loki, no-backport, no-changelog

#70066 InfluxDB: Return better error messages from backend
  pkg/tests/api/influxdb/influxdb_test.go
  pkg/tsdb/influxdb/healthcheck.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/response_parser.go
  pkg/tsdb/influxdb/response_parser_bench_test.go
  pkg/tsdb/influxdb/response_parser_test.go
Labels: datasource/InfluxDB, area/backend, no-backport, no-changelog

#70949 NestedFolderPicker: Expand/collapse keyboard handling
  public/app/core/components/NestedFolderPicker/NestedFolderList.tsx
Labels: area/frontend, type/accessibility, no-backport, no-changelog, area/manage-dashboards

#70838 A11y: Add support for toggle buttons in high contrast mode
  packages/grafana-ui/src/components/Switch/Switch.tsx
Labels: area/frontend, add to changelog, no-backport

#70862 A11y: Do not force colors in the color swatch and icon series
  packages/grafana-ui/src/components/ColorPicker/ColorSwatch.tsx
  packages/grafana-ui/src/components/VizLegend/SeriesIcon.tsx
Labels: area/frontend, add to changelog, no-backport

#71011 Fix width for Resample label
  public/app/features/expressions/ExpressionQueryEditor.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#70867 Alerting: Improve time range and max data points info in QueryEditor
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryOptions.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#71041 Kinds: Fix kind publishing to the registry
  .github/workflows/scripts/kinds/verify-kinds.go
Labels: no-backport, no-changelog

#70993 PublicDashboards: Add validation on update
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
Labels: area/backend, no-backport, no-changelog

#70654 I18n: Translate phrases for new Browse Dashboards
  public/app/features/browse-dashboards/components/BrowseActions/DeleteModal.tsx
  public/app/features/browse-dashboards/components/BrowseActions/MoveModal.tsx
  public/app/features/browse-dashboards/components/FolderActionsButton.test.tsx
  public/app/features/browse-dashboards/components/FolderActionsButton.tsx
  public/app/features/browse-dashboards/components/NewFolderForm.tsx
  public/app/features/folders/state/navModel.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, add to changelog, pr/external, no-backport

#70992 Add dashboards label to issues in dashboards project
  .github/CODEOWNERS
  .github/workflows/dashboards-issue-add-label.yml
Labels: github_actions, no-backport, no-changelog, team/grafana-dashboards

#71050 Elasticsearch: Replace duplicate IconButton component
  public/app/plugins/datasource/elasticsearch/components/AddRemove.test.tsx
  public/app/plugins/datasource/elasticsearch/components/AddRemove.tsx
  public/app/plugins/datasource/elasticsearch/components/IconButton.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/BucketAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/index.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/QueryEditorRow.tsx
Labels: datasource/Elasticsearch, area/frontend, area/datasource/frontend, no-backport, no-changelog

#71043 Segment Story Component: Removed any type from Segment story component
  .betterer.results
  packages/grafana-data/src/types/select.ts
  packages/grafana-ui/src/components/Segment/Segment.story.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog

#71037 Elasticsearch: add additional settings section
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/DataLinks.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.tsx
Labels: datasource/Elasticsearch, area/frontend, no-backport, no-changelog

#70899 Plugins: Add config option to exclude specific plugins from frontend sandbox
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  pkg/setting/setting.go
  public/app/features/plugins/plugin_loader.ts
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#71038 Tracing: Remove unused selectors
  public/app/features/explore/TraceView/components/selectors/process.test.ts
  public/app/features/explore/TraceView/components/selectors/process.ts
  public/app/features/explore/TraceView/components/selectors/span.test.ts
  public/app/features/explore/TraceView/components/selectors/span.ts
Labels: type/chore, area/explore, area/frontend, no-backport, no-changelog

#70953 add setupListeners to the redux store
  public/app/store/configureStore.ts
Labels: area/frontend, no-backport, no-changelog

#71056 Alerting: Keep rule form buttons always on top
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
  public/app/features/alerting/unified/RuleEditorGrafanaRules.test.tsx
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#70688 Plugins: Add monitoring only mode to frontend sandbox
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/plugins/sandbox/distortion_map.ts
  public/app/features/plugins/sandbox/document_sandbox.ts
  public/app/features/plugins/sandbox/sandbox_plugin_loader.ts
  public/app/features/plugins/sandbox/utils.ts
Labels: type/docs, area/plugins, area/backend, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#66027 Update derived fields provisioning example
  docs/sources/datasources/loki/_index.md
Labels: type/docs, datasource/Loki, no-backport, no-changelog

#71040 PanelChrome: Fixes issues with hover header and resizing panel above
  packages/grafana-ui/src/components/PanelChrome/HoverWidget.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelMenu.tsx
  packages/grafana-ui/src/components/VizLayout/VizLayout.tsx
  packages/grafana-ui/src/components/uPlot/plugins/KeyboardPlugin.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
Labels: type/bug, area/frontend, add to changelog, no-backport

#70856 Prometheus: Code editor autocomplete returns bad results when text is highlighted
  public/app/plugins/datasource/prometheus/components/monaco-query-field/monaco-completion-provider/index.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#70763 Dashboard: Add suggestion box for Flame Graph
  public/app/features/panel/state/getAllSuggestions.ts
  public/app/plugins/panel/flamegraph/module.tsx
  public/app/plugins/panel/flamegraph/suggestions.ts
  public/app/types/suggestions.ts
Labels: type/bug, area/frontend, add to changelog, no-backport

#70841 Docs: adds uninstall instructions to debian/ubuntu
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/start-restart-grafana.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x

#70893 Bump scenes to 0.17.2
  jest.config.js
  package.json
  public/app/features/scenes/apps/scenes.tsx
  public/app/features/scenes/apps/traffic.tsx
  public/app/features/scenes/builders/panelBuilders.ts
  public/app/features/scenes/scenes/gridMultiTimeRange.tsx
  public/app/features/scenes/scenes/gridMultiple.tsx
  public/app/features/scenes/scenes/gridWithMultipleData.tsx
  public/app/features/scenes/scenes/sceneWithRows.tsx
  public/app/features/scenes/scenes/transformations.tsx
  public/app/features/scenes/scenes/variablesDemo.tsx
  scripts/webpack/webpack.common.js
  tsconfig.json
  yarn.lock
Labels: area/frontend, dependencies, no-backport, no-changelog

#65241 Correlations: Create paginated API
  docs/sources/developers/http_api/correlations.md
  packages/grafana-ui/src/components/Pagination/Pagination.tsx
  pkg/services/correlations/api.go
  pkg/services/correlations/correlations.go
  pkg/services/correlations/database.go
  pkg/services/correlations/models.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/correlations/correlations_read_test.go
  public/api-merged.json
  public/app/features/correlations/CorrelationsPage.test.tsx
  public/app/features/correlations/CorrelationsPage.tsx
  public/app/features/correlations/types.ts
  public/app/features/correlations/useCorrelations.ts
  public/app/features/correlations/utils.ts
  public/app/features/explore/ExplorePage.test.tsx
  public/app/features/explore/ExplorePage.tsx
  public/app/features/explore/QueryRows.test.tsx
  public/app/features/explore/hooks/useExploreCorrelations.ts
  public/app/features/explore/hooks/useStateSync/index.test.tsx
  public/app/features/explore/spec/datasourceState.test.tsx
  public/app/features/explore/spec/interpolation.test.tsx
  public/app/features/explore/spec/query.test.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
  public/app/features/explore/state/datasource.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/utils.ts
  public/app/types/explore.ts
  public/openapi3.json
Labels: type/docs, area/backend, area/explore, area/frontend, no-backport, no-changelog

#71083 TimePicker: Fix issue with previous fiscal quarter not parsing correctly
  packages/grafana-data/src/datetime/datemath.test.ts
  packages/grafana-data/src/datetime/datemath.ts
Labels: type/bug, area/frontend, add to changelog, timepicker, backport v10.0.x

#71058 Docs: update heatmap panel options
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x

#71048 Kinds: Fix report generation
  Makefile
  pkg/kindsysreport/codegen/report.json
Labels: type/build-packaging, no-backport, no-changelog

#70701 Prometheus: Incremental querying profile data updates
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/plugins/datasource/prometheus/querycache/QueryCache.ts
Labels: type/docs, datasource/Prometheus, area/backend, area/frontend, no-backport, no-changelog

#71098 BarChart: Fix legend for fields with labels
  public/app/plugins/panel/barchart/utils.ts
Labels: type/bug, area/frontend, area/panel/barchart, no-changelog, backport v10.0.x

#71087 Eslint: Remove scenes rule for member accessability
  .eslintrc
  public/app/features/scenes/apps/SceneRadioToggle.tsx
  public/app/features/scenes/apps/SceneSearchBox.tsx
  public/app/features/scenes/apps/traffic.tsx
  public/app/features/scenes/dashboard/DashboardScene.tsx
  public/app/features/scenes/dashboard/DashboardsLoader.ts
  public/app/features/scenes/dashboard/ShareQueryDataProvider.ts
Labels: area/frontend, no-backport, no-changelog

#71035 Loki: add additional settings section
  public/app/plugins/datasource/loki/configuration/AlertingSettings.test.tsx
  public/app/plugins/datasource/loki/configuration/AlertingSettings.tsx
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
  public/app/plugins/datasource/loki/configuration/QuerySettings.tsx
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#70613 DS Picker: Apply filters consistently to every list in the picker
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/FileDropzone/FileDropzone.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.test.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.tsx
  public/app/features/datasources/components/picker/BuiltInDataSourceList.tsx
  public/app/features/datasources/components/picker/DataSourceDropdown.test.tsx
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
  public/app/features/datasources/components/picker/DataSourceModal.test.tsx
  public/app/features/datasources/components/picker/DataSourceModal.tsx
  public/app/features/datasources/components/picker/utils.ts
  public/app/features/query/components/QueryGroup.tsx
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#69326 Alerting: Details page v2 feature flag
  public/app/features/alerting/unified/RuleViewer.tsx
  public/app/features/alerting/unified/components/AlertStateDot.tsx
  public/app/features/alerting/unified/components/AlertingPageWrapper.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.test.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.tsx
  public/app/features/alerting/unified/components/rule-viewer/tabs/History.tsx
  public/app/features/alerting/unified/components/rule-viewer/tabs/Instances.tsx
  public/app/features/alerting/unified/components/rule-viewer/tabs/Query.tsx
  public/app/features/alerting/unified/components/rule-viewer/tabs/Routing.tsx
  public/app/features/alerting/unified/components/rule-viewer/v2/RuleViewer.v2.tsx
  public/app/features/alerting/unified/features.ts
  public/app/features/alerting/unified/hooks/alert-details/useRuleViewerPageTitle.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#71064 GLDS: Get metrics of '@emotion/css' imports
  scripts/ci-frontend-metrics.sh
Labels: type/build-packaging, area/frontend, no-backport, no-changelog, design-system, design-system: dev work

#64062 Chore: Convert background service registry to dskit module
  .github/CODEOWNERS
  pkg/cmd/grafana-server/commands/cli.go
  pkg/modules/dependencies.go
  pkg/modules/modules.go
  pkg/modules/registry/registry.go
  pkg/modules/registry/registry_test.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/backgroundsvcs/background_services_test.go
  pkg/server/backgroundsvcs/runner.go
  pkg/server/backgroundsvcs/runner_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/systemd/systemd.go
  pkg/tests/testinfra/testinfra.go
Labels: type/chore, area/backend, no-backport, no-changelog

#70995 AsyncSegment: Display no-options placeholder for no items status
  packages/grafana-ui/src/components/Segment/SegmentAsync.tsx
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#70855 Explore: Add checking for target datasources and add test
  public/app/features/correlations/CorrelationsPage.test.tsx
  public/app/features/correlations/useCorrelations.ts
Labels: type/bug, area/frontend, backport, no-changelog

#64694 Auth: Add empty role definition
  packages/grafana-data/src/types/orgs.ts
  pkg/login/social/azuread_oauth.go
  pkg/middleware/auth.go
  pkg/models/roletype/role_type.go
  pkg/services/accesscontrol/errors.go
  pkg/services/accesscontrol/roles.go
  pkg/services/org/model.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/sqlstore/migrations/ualert/permissions.go
  public/app/core/components/AccessControl/AddPermission.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/types/acl.ts
Labels: area/auth, area/backend, area/frontend, no stalebot, area/backend/db/migration, no-backport, no-changelog

#70100 Query: Fix concurrency handling for mixed datasource queries
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/services/contexthandler/contexthandler.go
  pkg/services/query/query.go
  pkg/services/query/query_test.go
Labels: type/docs, area/backend, add to changelog, no-backport

#71128 Docs: Fix scenes what's new in Grafana 10 entry
  docs/sources/whatsnew/whats-new-in-v10-0.md
Labels: type/docs, no-changelog, missing-labels, backport v10.0.x

#70693 Plugins: Angular detector: Add database cache store for remote patterns
  pkg/plugins/manager/loader/angular/angularinspector/angularinspector.go
  pkg/plugins/manager/loader/loader.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/services/pluginsintegration/angulardetector/gcom.go
  pkg/services/pluginsintegration/angulardetector/gcom_test.go
  pkg/services/pluginsintegration/angulardetectorsprovider/dynamic.go
  pkg/services/pluginsintegration/angulardetectorsprovider/dynamic_test.go
  pkg/services/pluginsintegration/angulardetectorsprovider/gcom.go
  pkg/services/pluginsintegration/angulardetectorsprovider/gcom_test.go
  pkg/services/pluginsintegration/angularinspector/angularinspector.go
  pkg/services/pluginsintegration/angularinspector/angularinspector_test.go
  pkg/services/pluginsintegration/angularpatternsstore/store.go
  pkg/services/pluginsintegration/angularpatternsstore/store_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
Labels: area/backend/plugins, area/backend, go, no-backport, no-changelog

#71123 Docs: Set up alert state history
  docs/sources/alerting/manage-notifications/view-state-health.md
  docs/sources/alerting/set-up/configure-alert-state-history/index.md
Labels: type/docs, area/alerting, no-backport, no-changelog, kata:state-history

#71033 Plugins: Add feature toggle for Temporary Credentials
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/codeowners.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#71101 Added security patch delivery workflows
  .github/CODEOWNERS
  .github/workflows/pr-security-patch-check.yml
  .github/workflows/pr-security-patch-mirror-and-apply.yml
Labels: backport v8.5.x, no-changelog, missing-labels, backport v9.5.x, backport v10.0.x

#68727 Alerting: Fix panic in backtesting API when the testing interval is not times of evaluation interval
  pkg/services/ngalert/backtesting/engine.go
  pkg/services/ngalert/backtesting/engine_test.go
  pkg/services/ngalert/backtesting/eval_data.go
  pkg/services/ngalert/backtesting/eval_data_test.go
  pkg/services/ngalert/backtesting/eval_query.go
  pkg/services/ngalert/backtesting/eval_query_test.go
Labels: type/bug, area/alerting, area/backend, no-backport, no-changelog

#71142 [v8.5.x] Added security patch delivery workflows
  .github/workflows/pr-security-patch-check.yml
  .github/workflows/pr-security-patch-mirror-and-apply.yml
Labels: backport, no-changelog, missing-labels

#71150 [v9.3.x] Added security patch delivery workflows
  .github/workflows/pr-security-patch-check.yml
  .github/workflows/pr-security-patch-mirror-and-apply.yml
Labels: backport, type/ci, no-changelog, product-approved, missing-labels

#71153 Prometheus: [devenv] provision gdev-prometheus development environment with basic auth
  devenv/datasources.yaml
  devenv/docker/blocks/prometheus/Dockerfile
  devenv/docker/blocks/prometheus/docker-compose.yaml
  devenv/docker/blocks/prometheus/web.yml
Labels: no-backport, no-changelog

#71154 Chore: Update github action dashboard project
  .github/workflows/dashboards-issue-add-label.yml
Labels: no-backport, no-changelog

#71161 BarChart: Check by displayName
  packages/grafana-data/src/field/fieldState.ts
  packages/grafana-data/src/field/index.ts
  public/app/plugins/panel/barchart/utils.ts
Labels: type/bug, area/frontend, area/panel/barchart, no-changelog, backport v10.0.x, area/legend

#71131 Alerting: Add legend for mixed in Loki alert history and use highlight instead of scroll
  public/app/features/alerting/unified/components/rules/state-history/LogRecordViewer.tsx
  public/app/features/alerting/unified/components/rules/state-history/LogTimelineViewer.tsx
  public/app/features/alerting/unified/components/rules/state-history/LokiStateHistory.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#71141 Docs: Adding the right syntax highlighting in a few places
  docs/sources/alerting/set-up/configure-high-availability/_index.md
  docs/sources/alerting/set-up/meta-monitoring/_index.md
  docs/sources/alerting/set-up/migrating-alerts/_index.md
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
Labels: type/docs, area/alerting, no-changelog, backport v10.0.x

#70359 Drone: Enable running go benchmarks on demand
  .drone.yml
  pkg/api/folder_bench_test.go
  scripts/drone/events/pr.star
  scripts/drone/pipelines/benchmarks.star
  scripts/drone/steps/lib.star
Labels: area/backend, type/ci, no-backport, no-changelog

#61517 Platform: Add support for Postgresql pgpass file
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/sqlstore_test.go
Labels: datasource/Postgres, area/backend, add to changelog, pr/external, no-backport, triage/pending

#66982 Explore: Allow the use of plugin panels
  packages/grafana-data/src/types/data.ts
  public/app/features/explore/CustomContainer.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/ExploreQueryInspector.test.tsx
  public/app/features/explore/__mocks__/data.ts
  public/app/features/explore/extensions/AddToDashboard/addToDashboard.test.ts
  public/app/features/explore/extensions/AddToDashboard/addToDashboard.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/utils.ts
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/features/plugins/importPanelPlugin.ts
  public/app/types/explore.ts
Labels: area/explore, area/frontend, add to changelog, pr/external, no-backport

#71039 [v10.0.x] AzureMonitor: Correctly build multi-resource queries for Application Insights components
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
Labels: type/bug, effort/small, area/backend, datasource/Azure, add to changelog, backport

#71160 improve provisioning indicator for notification policies
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.v2.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
Labels: area/alerting, area/frontend, area/ux, no-backport, no-changelog

#71191 docs: remove kentik from angular plugins
  docs/sources/developers/angular_deprecation/angular-plugins.md
Labels: type/docs, area/plugins, no-changelog, backport v10.0.x

#71072 GLDS: Get metrics of `className` usage in props
  scripts/ci-frontend-metrics.sh
Labels: type/build-packaging, area/frontend, no-backport, no-changelog, design-system, design-system: dev work

#71146 Docs: Updates Grafana alerting link text on Panel Editor Overview page
  docs/sources/panels-visualizations/panel-editor-overview/index.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x

#71199 Annotations: Fix database lock while updating annotations
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
Labels: type/bug, area/backend, add to changelog, backport v10.0.x

#71206 Loki/Elasticsearch config: Add DataSourceDescription component
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
Labels: datasource/Elasticsearch, area/frontend, datasource/Loki, no-backport, no-changelog

#71143 CI: Add GPG keys to rgm, don't clone RGM just use the docker image
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
  scripts/list-release-artifacts.sh
Labels: type/build-packaging, type/ci, backport v8.5.x, no-changelog, backport v9.2.x, backport v9.3.x, product-approved, backport v9.4.x, backport v9.5.x, backport v10.0.x

#71181 Docs: update the word "integration" in Okta config
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x

#70434 Dashboards: Keep save drawer open for unhandled errors
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDrawer.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardErrorProxy.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardAsForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.test.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveDashboardForm.tsx
  public/app/features/dashboard/components/SaveDashboard/forms/SaveProvisionedDashboardForm.tsx
  public/app/features/dashboard/components/SaveDashboard/types.ts
Labels: area/frontend, mob session, no-backport, no-changelog, team/grafana-dashboards

#71198 Prometheus: Version detect bug
  pkg/tsdb/prometheus/resource/resource.go
  public/app/plugins/datasource/prometheus/configuration/PromFlavorVersions.ts
  public/app/plugins/datasource/prometheus/configuration/PromSettings.tsx
Labels: type/bug, datasource/Prometheus, area/backend, area/frontend, no-changelog, backport v10.0.x

#71210 Docs: update the word "integration" in Okta config (#71181)
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, backport, no-changelog

#71212 Docs: update the word "integration" in Okta config (#71181)
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, backport, no-changelog

#71179 Clarify external AM limitation
  docs/sources/alerting/set-up/configure-alertmanager/index.md
Labels: type/docs, area/alerting, no-changelog, backport v10.0.x

#71116 Chore: Make grafana-delivery-bot non-external
  .github/pr-commands.json
Labels: github_actions, no-backport, no-changelog

#71122 Chore: Update crewjam/saml
  go.mod
  go.sum
Labels: area/backend, pr/external, no-backport, no-changelog

#70685 Dashboard: Add test dashboard for Flame Graph
  devenv/dev-dashboards/panel-flamegraph/panel_tests_flame_graph.json
  devenv/jsonnet/dev-dashboards.libsonnet
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#71126 XYChart: Point size editor should reflect correct default (5)
  public/app/plugins/panel/xychart/config.ts
  public/app/plugins/panel/xychart/models.gen.ts
  public/app/plugins/panel/xychart/scatter.ts
Labels: type/bug, area/frontend, add to changelog, area/panel/xychart, backport v10.0.x

#71227 [v9.2.x] CI: Add GPG keys to rgm, don't clone RGM just use the docker image
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
  scripts/drone/vault.star
  scripts/list-release-artifacts.sh
Labels: type/build-packaging, backport, type/ci, no-changelog, product-approved

#71230 [v9.3.x] CI: Add GPG keys to rgm, don't clone RGM just use the docker image
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
  scripts/drone/vault.star
  scripts/list-release-artifacts.sh
Labels: type/build-packaging, backport, type/ci, no-changelog, product-approved

#71231 [v9.4.x] CI: Add GPG keys to rgm, don't clone RGM just use the docker image
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
  scripts/drone/vault.star
  scripts/list-release-artifacts.sh
Labels: type/build-packaging, backport, type/ci, no-changelog, product-approved

#71233 [v9.5.x] CI: Add GPG keys to rgm, don't clone RGM just use the docker image
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
  scripts/drone/vault.star
  scripts/list-release-artifacts.sh
Labels: type/build-packaging, backport, type/ci, no-changelog, product-approved

#71234 [v10.0.x] CI: Add GPG keys to rgm, don't clone RGM just use the docker image
  .drone.star
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
  scripts/drone/vault.star
  scripts/list-release-artifacts.sh
Labels: type/build-packaging, backport, type/ci, no-changelog, product-approved

#69769 NestedFolders: Do not perform guardian checks for subfolders
  pkg/services/folder/folderimpl/folder.go
Labels: area/backend, no-backport, no-changelog

#70610 StateTimeline: Add disconnect value option
  public/app/plugins/panel/state-timeline/module.tsx
Labels: area/frontend, add to changelog, area/panel/state-timeline, no-backport

#71257 fix: carry over changes of refactor back from grafanakind to grd
  pkg/codegen/tmpl/core_grd_registry.tmpl
  pkg/registry/coregrd/registry_gen.go
  pkg/services/k8s/apiserver/entitystorage.go
Labels: area/backend

#71166 use the certgenerator dskit service from apiserver
  go.mod
  go.sum
  pkg/modules/registry/registry.go
  pkg/services/certgenerator/cert.go
  pkg/services/certgenerator/certutil.go
  pkg/services/certgenerator/io.go
  pkg/services/certgenerator/service.go
  pkg/services/certgenerator/wire.go
  pkg/services/k8s/apiserver/service.go
Labels: area/backend

#71079 Auth: Use SHA-1 for generating an ID for External Service Role
  pkg/services/accesscontrol/database/externalservices.go
  pkg/services/accesscontrol/database/externalservices_test.go
Labels: area/auth, area/backend, no-backport, no-changelog

#71070 Transformations: Fix `extractFields` throwing Error if one value is undefined or null
  public/app/features/transformers/extractFields/extractFields.test.ts
  public/app/features/transformers/extractFields/extractFields.ts
Labels: type/bug, area/frontend, add to changelog, backport v10.0.x

#71255 Docs: fix incorrect alias for sign-a-plugin.md
  docs/sources/developers/plugins/publish-a-plugin/sign-a-plugin.md
Labels: type/docs, no-backport, no-changelog

#71222 AccessControl: Add resource permission deletion helper
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/actest/fake.go
  pkg/services/accesscontrol/mock/service_mock.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/store.go
  pkg/services/accesscontrol/resourcepermissions/store_test.go
Labels: type/chore, area/backend, no-backport, no-changelog, area/auth/rbac

#70396 GrafanaUI: Update FilterPill active state and ToolbarButton active state
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-ui/src/components/FilterPill/FilterPill.tsx
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButton.story.tsx
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButton.tsx
  public/app/features/explore/SecondaryActions.tsx
  public/sass/pages/_explore.scss
Labels: area/explore, area/frontend, no-backport, no-changelog

#71124 Use docs/reference style links for all Alerting links
  docs/sources/alerting/_index.md
  docs/sources/alerting/alerting-rules/_index.md
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
  docs/sources/alerting/alerting-rules/create-mimir-loki-managed-recording-rule.md
  docs/sources/alerting/alerting-rules/create-mimir-loki-managed-rule.md
  docs/sources/alerting/alerting-rules/create-notification-policy.md
  docs/sources/alerting/fundamentals/_index.md
  docs/sources/alerting/fundamentals/alert-rules/_index.md
  docs/sources/alerting/fundamentals/alert-rules/queries-conditions/_index.md
  docs/sources/alerting/fundamentals/alertmanager.md
  docs/sources/alerting/fundamentals/annotation-label/_index.md
  docs/sources/alerting/fundamentals/annotation-label/how-to-use-labels.md
  docs/sources/alerting/fundamentals/annotation-label/variables-label-annotation.md
  docs/sources/alerting/fundamentals/data-source-alerting.md
  docs/sources/alerting/fundamentals/evaluate-grafana-alerts.md
  docs/sources/alerting/fundamentals/high-availability/_index.md
  docs/sources/alerting/fundamentals/notification-policies/notifications.md
  docs/sources/alerting/manage-notifications/_index.md
  docs/sources/alerting/manage-notifications/images-in-notifications.md
  docs/sources/alerting/manage-notifications/mute-timings.md
  docs/sources/alerting/manage-notifications/template-notifications/_index.md
  docs/sources/alerting/manage-notifications/template-notifications/use-notification-templates.md
  docs/sources/alerting/manage-notifications/template-notifications/using-go-templating-language.md
  docs/sources/alerting/set-up/_index.md
  docs/sources/alerting/set-up/migrating-alerts/legacy-alerting-deprecation.md
  docs/sources/alerting/set-up/migrating-alerts/legacy-alerting/grafana-cloud-alerting/view-filter-rules.md
  docs/sources/alerting/set-up/provision-alerting-resources/_index.md
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
  docs/sources/alerting/set-up/set-up-cloud/_index.md
  docs/sources/fundamentals/timeseries-dimensions/index.md
Labels: type/docs, no-changelog, backport v10.0.x

#70997 Alerting: Use new "Label" components for alert instance labels
  public/app/features/alerting/unified/AlertGroups.test.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/components/AlertLabels.tsx
  public/app/features/alerting/unified/components/Label.tsx
  public/app/features/alerting/unified/components/alert-groups/AlertGroup.tsx
  public/app/features/alerting/unified/components/alert-groups/AlertGroupAlertsTable.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.tsx
  public/app/features/alerting/unified/components/rules/AlertInstancesTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencedInstancesPreview.tsx
  public/app/plugins/panel/alertGroups/AlertGroup.tsx
  public/app/plugins/panel/alertGroups/AlertGroupsPanel.test.tsx
  public/app/plugins/panel/alertlist/UnifiedalertList.test.tsx
Labels: area/alerting, area/frontend, add to changelog, area/ux, no-backport

#71031 logs: scanning: add tracking
  public/app/features/explore/Logs/Logs.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#71137 RBAC: remove simple RBAC disabled checks
  pkg/api/dashboard.go
  pkg/api/folder.go
  pkg/api/org_users.go
  pkg/infra/db/sqlbuilder.go
  pkg/infra/db/sqlbuilder_test.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/apikey/apikeyimpl/sqlx_store.go
  pkg/services/apikey/apikeyimpl/xorm_store.go
  pkg/services/authn/authnimpl/sync/permission_sync.go
  pkg/services/authn/authnimpl/sync/permission_sync_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/publicdashboards/api/api_test.go
  pkg/services/publicdashboards/api/common_test.go
  pkg/services/publicdashboards/api/query_test.go
Labels: area/backend, no-backport, no-changelog

#71190 Explore: Fix Query History flakey test
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.tsx
  public/app/features/explore/spec/helper/assert.ts
  public/app/features/explore/spec/queryHistory.test.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#70330 Auth: update generic OAuth documentation
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
  docs/sources/shared/auth/intro.md
Labels: type/docs, no-backport, no-changelog

#70934 Explore: Test deleting comments in query history
  public/app/features/explore/spec/helper/assert.ts
  public/app/features/explore/spec/queryHistory.test.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#71226 PanelInspect: Clean table display settings from field config
  public/app/features/dashboard/components/PanelEditor/usePanelLatestData.ts
  public/app/features/inspector/InspectDataTab.tsx
Labels: area/frontend, add to changelog, no-backport

#71248 PanelInspect: Download CSV without extra blank rows
  packages/grafana-data/src/utils/csv.test.ts
  packages/grafana-data/src/utils/csv.ts
  public/app/features/inspector/utils/download.test.ts
Labels: type/bug, area/frontend, no-changelog, backport v10.0.x

#70691 Slug: Use urlencoding to support non-ASCII characters
  pkg/infra/slugify/slugify.go
  pkg/infra/slugify/slugify_test.go
  pkg/services/accesscontrol/models_test.go
  pkg/services/dashboards/models_test.go
Labels: type/bug, area/backend, add to changelog, no-backport

#71282 Dashboard: Slider overlapping with right input field
  public/app/core/components/OptionsUI/slider.tsx
Labels: type/bug, area/dashboard, area/frontend, add to changelog, internal, backport v10.0.x

#71312 [v10.0.x] Fix merge error in index.md
  docs/sources/administration/data-source-management/index.md
Labels: type/docs, backport, no-changelog

#67878 XYChart: Improve base options setup
  .betterer.results
  docs/sources/developers/kinds/composable/xychart/panelcfg/schema-reference.md
  docs/sources/developers/kinds/composable/xychartpanelcfg/schema-reference.md
  packages/grafana-data/src/utils/OptionsUIBuilders.ts
  packages/grafana-schema/src/raw/composable/xychart/panelcfg/x/XYChartPanelCfg_types.gen.ts
  public/app/features/dimensions/editors/ResourcePicker.tsx
  public/app/plugins/panel/xychart/AutoEditor.tsx
  public/app/plugins/panel/xychart/ManualEditor.tsx
  public/app/plugins/panel/xychart/SymbolEditor.tsx
  public/app/plugins/panel/xychart/TooltipView.tsx
  public/app/plugins/panel/xychart/XYChartPanel.old
  public/app/plugins/panel/xychart/XYChartPanel2.tsx
  public/app/plugins/panel/xychart/config.ts
  public/app/plugins/panel/xychart/dims.ts
  public/app/plugins/panel/xychart/models.gen.ts
  public/app/plugins/panel/xychart/module.tsx
  public/app/plugins/panel/xychart/panelcfg.cue
  public/app/plugins/panel/xychart/panelcfg.gen.ts
  public/app/plugins/panel/xychart/scatter.ts
  public/app/plugins/panel/xychart/types.ts
  public/img/icons/marker/square.svg
Labels: area/frontend, area/panel/xychart, no-backport, no-changelog

#71307 Alerting: Fix Alertmanager change detection for receivers with secure settings
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager_config.go
  pkg/services/ngalert/notifier/crypto.go
  public/app/features/alerting/unified/utils/receiver-form.test.ts
  public/app/features/alerting/unified/utils/receiver-form.ts
Labels: type/bug, area/alerting, area/backend, area/frontend, add to changelog, backport v10.0.x

#71297 Plugins: Remove unused config field from SignatureCalculator
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/signature/manifest_test.go
Labels: area/plugins, type/chore, area/backend, no-backport, no-changelog

#70890 Tracing: Make show filters only keyboard accessible
  public/app/features/explore/TraceView/components/TracePageHeader/NewTracePageSearchBar.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/NewTracePageSearchBar.tsx
Labels: area/explore, area/frontend, area/tracing, datasource/Tempo, no-backport, no-changelog

#71284 Elasticsearch: Fix using multiple indexes with comma separated string
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/snapshot_test.go
Labels: type/bug, datasource/Elasticsearch, area/backend, add to changelog, backport v10.0.x

#71275 Traces: Filtering by span id
  public/app/features/explore/TraceView/components/TracePageHeader/SpanFilters/SpanFilters.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SpanFilters/SpanFilters.tsx
  public/app/features/explore/TraceView/components/constants/span.ts
  public/app/features/explore/TraceView/components/utils/filter-spans.test.ts
  public/app/features/explore/TraceView/components/utils/filter-spans.tsx
Labels: area/explore, area/frontend, area/tracing, datasource/Tempo, no-backport, no-changelog

#71319 LogContext: Fix a bug where multiple logs with similar nanosecond timestamps were loaded too often
  devenv/docker/blocks/loki/data/data.js
  public/app/features/logs/components/log-context/LogRowContextModal.test.tsx
  public/app/features/logs/components/log-context/LogRowContextModal.tsx
Labels: type/bug, area/frontend, add to changelog, area/logs, backport v10.0.x

#70789 Connections console: Add Angular badge for Angular plugins
  public/app/features/connections/tabs/ConnectData/CardGrid/CardGrid.tsx
  public/app/features/connections/tabs/ConnectData/ConnectData.test.tsx
  public/app/features/connections/tabs/ConnectData/ConnectData.tsx
Labels: area/plugins, area/frontend, add to changelog, javascript, no-backport

#71298 Plugins: Fix info log statement when installing plugin dependencies
  pkg/plugins/manager/installer.go
Labels: area/plugins, type/chore, area/backend, no-backport, no-changelog

#71328 Loki: Reset `data.js` after PR
  devenv/docker/blocks/loki/data/data.js
Labels: no-backport, no-changelog

#71289 Alerting: (Chore/Instrumentation) Add traceID to logs with contextual logger
  pkg/services/ngalert/schedule/schedule.go
Labels: area/alerting, area/instrumentation, area/backend, no-changelog, product-approved, backport v10.0.x

#71299 Alerting: Add support for additional colors in MetaText
  public/app/features/alerting/unified/components/MetaText.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#71133 CI: Provide a Drone promotion to build the build-container
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/vault.star
Labels: type/ci, no-changelog, backport v9.2.x, backport v9.3.x, product-approved, backport v9.4.x, backport v9.5.x, backport v10.0.x

#71352 [v10.0.x] CI: Provide a Drone promotion to build the build-container
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/vault.star
Labels: backport, type/ci, no-changelog, product-approved

#71351 [v9.5.x] CI: Provide a Drone promotion to build the build-container
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/vault.star
Labels: backport, type/ci, no-changelog, product-approved

#71350 [v9.4.x] CI: Provide a Drone promotion to build the build-container
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/vault.star
Labels: backport, type/ci, no-changelog, product-approved

#71348 [v9.3.x] CI: Provide a Drone promotion to build the build-container
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/vault.star
Labels: backport, type/ci, no-changelog, product-approved

#71353 fix shortcode usage
  docs/sources/developers/plugins/migration-guide/v6.x-v7.x/_index.md
Labels: type/docs, no-changelog, backport v10.0.x

#71347 [v9.2.x] CI: Provide a Drone promotion to build the build-container
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/vault.star
Labels: backport, type/ci, no-changelog, product-approved

#71300 Logs: Display log row menu cell on displayed fields
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRowMenuCell.tsx
  public/app/features/logs/components/LogRowMessage.tsx
  public/app/features/logs/components/LogRowMessageDisplayedFields.test.tsx
  public/app/features/logs/components/LogRowMessageDisplayedFields.tsx
Labels: area/frontend, add to changelog, no-backport

#71332 Chore: Remove simplejson usage from the test data source
  pkg/tsdb/grafanads/grafana.go
  pkg/tsdb/testdatasource/scenarios.go
  pkg/tsdb/testdatasource/scenarios_test.go
Labels: area/backend, no-backport, no-changelog

#71281 I18n: Outstanding navigation strings marked up for translation
  public/app/core/components/AppChrome/MegaMenu/navBarItem-translations.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Labels: area/frontend, area/internationalization, no-backport, no-changelog

#71144 Dashboards: Fix frontend exception when backend fails to save dashboard
  public/app/features/dashboard/components/SaveDashboard/useDashboardSave.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#71345 [v9.5.x] Changelog: Updated changelog for 9.5.6
  CHANGELOG.md
Labels: type/docs, backport, no-changelog

#71368 SQLStore: Fix regression in PostgreSQL connection string
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/sqlstore_test.go
Labels: type/bug, area/backend, no-backport, no-changelog

#71223 Forms: Remove usage of sass styles in Group By and Reduce Transformations
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.tsx
  public/app/features/explore/RichHistory/RichHistoryStarredTab.tsx
  public/app/features/transformers/editors/GroupByTransformerEditor.tsx
  public/app/features/transformers/editors/ReduceTransformerEditor.tsx
Labels: type/chore, area/explore, area/frontend, area/transformations, no-backport, no-changelog

#71287 Docs: Add note for setting root_url in case of NGINX TLS termination
  docs/sources/tutorials/run-grafana-behind-a-proxy/index.md
Labels: type/docs, no-backport, no-changelog

#71341 Internationalization: Correctly generate plural forms
  contribute/internationalization.md
  package.json
  public/app/core/internationalization/constants.ts
  public/app/core/internationalization/index.tsx
  public/app/features/browse-dashboards/components/BrowseActions/utils.test.ts
  public/app/features/browse-dashboards/components/BrowseActions/utils.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/pseudo.js
  public/locales/zh-Hans/grafana.json
Labels: type/docs, area/frontend, mob session, no-backport, no-changelog

#71315 Panel Plugins: Change array methods from read-only to writable
  packages/grafana-data/src/types/vector.ts
Labels: area/frontend, pr/external, no-backport, no-changelog

#71383 [DOC] Fix tracing links in explore/tracing
  docs/sources/explore/trace-integration.md
Labels: type/docs, no-changelog, backport v9.4.x, backport v9.5.x, backport v10.0.x

#71391 [DOC] Fix tracing links in explore/tracing (#71383)
  docs/sources/explore/trace-integration.md
Labels: type/docs, backport, no-changelog

#71392 [DOC] Fix tracing links in explore/tracing (#71383)
  docs/sources/explore/trace-integration.md
Labels: type/docs, backport, no-changelog

#71388 Remove duplicated entry in properties table
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Labels: type/docs, no-backport, no-changelog

#71399 Cloudwatch: Add comment and regexp to TokenTypes interface
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-sql/completion/types.ts
  public/app/plugins/datasource/cloudwatch/language/dynamic-labels/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/logs/completion/types.ts
  public/app/plugins/datasource/cloudwatch/language/metric-math/completion/types.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/types.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#71025 Tracing: Show next/prev buttons when span filters are collapsed
  packages/grafana-ui/src/components/Collapse/Collapse.tsx
  public/app/features/explore/RawPrometheus/RawPrometheusContainer.tsx
  public/app/features/explore/TraceView/TraceViewContainer.test.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/NewTracePageSearchBar.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SearchBar/NewTracePageSearchBar.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SearchBar/NewTracePageSearchBar.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SearchBar/NextPrevResult.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SearchBar/NextPrevResult.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SearchBar/TracePageSearchBar.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SearchBar/TracePageSearchBar.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SpanFilters/SpanFilters.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SpanFilters/SpanFilters.tsx
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
  public/app/plugins/panel/traces/TracesPanel.tsx
Labels: area/explore, area/frontend, datasource/Loki, add to changelog, area/datasource/frontend, area/tracing, datasource/Tempo, no-backport

#71410 AppChromeService: Fixes update to breadcrumb parent URL
  public/app/core/components/AppChrome/AppChromeService.tsx
Labels: area/frontend, add to changelog, missing-labels, backport v10.0.x

#71365 Auth: Add support for custom signing keys in auth.azure_ad
  pkg/login/social/azuread_jwks.go
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/social.go
Labels: area/backend, add to changelog, no-backport

#71042 Nested folder picker: Move options into overlay
  public/app/core/components/NestedFolderPicker/NestedFolderList.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.test.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.tsx
  public/app/core/components/NestedFolderPicker/types.ts
  public/app/features/browse-dashboards/components/BrowseActions/MoveModal.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
Labels: area/frontend, no-backport, no-changelog, area/manage-dashboards

#71426 Nested folders: Only show edit title button if user has permissions
  public/app/features/browse-dashboards/BrowseDashboardsPage.test.tsx
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
Labels: area/frontend, no-backport, no-changelog, area/manage-dashboards

#71377 MESA: Allow using synced permissions
  pkg/api/org_test.go
  pkg/api/quota_test.go
  pkg/services/accesscontrol/authorize_in_org_test.go
  pkg/services/accesscontrol/middleware.go
Labels: area/backend, no-backport, no-changelog

#70749 AuthZ: Extend /api/search to work with self-contained permissions
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/authnimpl/sync/user_sync_test.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/api_key_test.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/authn/clients/grafana.go
  pkg/services/authn/clients/grafana_test.go
  pkg/services/authn/clients/jwt.go
  pkg/services/authn/clients/jwt_test.go
  pkg/services/authn/clients/ldap.go
  pkg/services/authn/clients/ldap_test.go
  pkg/services/authn/clients/oauth.go
  pkg/services/authn/clients/oauth_test.go
  pkg/services/authn/clients/proxy.go
  pkg/services/authn/clients/render.go
  pkg/services/authn/clients/render_test.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/login/authinfo.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/user/model.go
Labels: area/backend, add to changelog, no-backport, area/auth/rbac
