Repository grafana/grafana, pull requests merged in 2024-06, with the labels that each got.

#88528 Docs: add pinning of terraform for migration
  docs/sources/administration/api-keys/index.md
Labels: type/docs, no-changelog, backport v11.0.x

#88589 Cli: Fix bug where password is hashed twice
  pkg/cmd/grafana-cli/commands/reset_password_command.go
Labels: type/bug, area/backend, add to changelog, backport v10.4.x, backport v11.0.x

#88504 Create lib panel and replace it in scene
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/sharing/ShareLibraryPanelTab.tsx
  public/app/features/dashboard/components/ShareModal/ShareLibraryPanel.tsx
  public/app/features/dashboard/components/ShareModal/types.ts
  public/app/features/library-panels/components/AddLibraryPanelModal/AddLibraryPanelModal.tsx
Labels: area/frontend, no-changelog, area/scenes, team/grafana-dashboards

#87278 Docs: Fix two broken links to plugin-tools/reference
  docs/sources/alerting/fundamentals/alert-rules/_index.md
  docs/sources/shared/alerts/grafana-managed-alerts.md
Labels: type/docs, stale, no-changelog

#88582 Alerting docs: `Contact points` updates
  docs/sources/alerting/configure-notifications/manage-contact-points/_index.md
  docs/sources/alerting/fundamentals/notifications/contact-points.md
Labels: type/docs, area/alerting, no-backport, no-changelog

#87935 InfluxDB: Introduce maxDataPoints setting for flux variable query editor
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
  public/app/plugins/datasource/influxdb/components/editor/variable/VariableQueryEditor.tsx
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influxql_metadata_query.test.ts
  public/app/plugins/datasource/influxdb/influxql_metadata_query.ts
  public/app/plugins/datasource/influxdb/types.ts
  public/app/plugins/datasource/influxdb/variables.ts
Labels: datasource/InfluxDB, area/backend, area/frontend, add to changelog, no-backport

#88548 [docs/sources/datasources/prometheus/configure-prometheus-data-source] Replace outdated text content in the Grafana UI with updated content
  docs/sources/datasources/prometheus/configure-prometheus-data-source.md
Labels: type/docs, pr/external, no-changelog, backport v11.0.x

#88556 Chore: move `PageHeader` component to angular folder
  .betterer.results
  public/app/angular/angular_wrappers.ts
  public/app/angular/components/PageHeader/PageHeader.test.tsx
  public/app/angular/components/PageHeader/PageHeader.tsx
  public/app/angular/components/PageHeader/PanelHeaderMenuItem.tsx
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/components/_page_header.scss
Labels: type/chore, area/frontend, no-backport, no-changelog

#88476 KeyboardShortcuts: Support panel attention for scenes
  public/app/features/dashboard-scene/scene/keyboardShortcuts.ts
Labels: area/frontend, no-changelog

#88608 Alerting docs: delete screensbots
  docs/sources/alerting/fundamentals/alert-rules/queries-conditions.md
  docs/sources/alerting/fundamentals/notifications/contact-points.md
Labels: type/docs, no-changelog

#88537 Auth: Add org to role mappings support to GitHub integration
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/developers/http_api/auth.md
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/github/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/jwt/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
  pkg/login/social/connectors/github_oauth.go
  pkg/login/social/connectors/github_oauth_test.go
  pkg/services/authn/clients/oauth.go
Labels: type/docs, area/backend, area/auth/oauth, add to changelog, area/auth/rbac

#88301 Alerting: update `Set evaluation behavior` text
  public/app/features/alerting/unified/components/rule-editor/CloudEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
Labels: area/alerting, area/frontend, no-changelog

#86958 Graphite: Fix splitting expressions in tag_value with template variables
  public/app/plugins/datasource/graphite/datasource.ts
Labels: datasource/Graphite, area/frontend, add to changelog, pr/external, no-backport

#88500 Drawer: Fix overflow to stop drag handle being cut off
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
Labels: area/frontend, area/grafana/ui, no-backport, no-changelog

#88637 Betterer: force update results file
  .betterer.results
Labels: type/chore, no-backport, no-changelog

#88639 Chore: fix typo in `contribute/developer-guide.md` to make codespell happy
  contribute/developer-guide.md
Labels: type/docs, no-backport, no-changelog

#88628 Alerting: update CODEOWNERS
  .github/CODEOWNERS
Labels: area/alerting, no-changelog

#88467 XYChart2: Implement color-by-field
  .betterer.results
  devenv/dev-dashboards/panel-xychart/xychart-demo.json
  devenv/dev-dashboards/panel-xychart/xychart-migrations.json
  devenv/jsonnet/dev-dashboards.libsonnet
  public/app/plugins/panel/xychart/config.ts
  public/app/plugins/panel/xychart/scatter.ts
  public/app/plugins/panel/xychart/v2/XYChartPanel.tsx
  public/app/plugins/panel/xychart/v2/XYChartTooltip.tsx
  public/app/plugins/panel/xychart/v2/config.ts
  public/app/plugins/panel/xychart/v2/migrations.ts
  public/app/plugins/panel/xychart/v2/panelcfg.cue
  public/app/plugins/panel/xychart/v2/panelcfg.gen.ts
  public/app/plugins/panel/xychart/v2/scatter.ts
  public/app/plugins/panel/xychart/v2/types2.ts
  public/app/plugins/panel/xychart/v2/utils.ts
Labels: area/frontend, area/panel/xychart, no-backport, no-changelog

#88465 Docs: Add Installation YouTube Videos to documentation pages.
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Labels: type/docs, no-changelog, backport v10.2.x, backport v10.3.x, backport v10.4.x, backport v11.0.x

#88647 Docs: Add Installation YouTube Videos to documentation pages. (#88465)
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Labels: type/docs, backport, no-changelog

#88648 Docs: Add Installation YouTube Videos to documentation pages. (#88465)
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Labels: type/docs, backport, no-changelog

#88646 Docs: Add Installation YouTube Videos to documentation pages. (#88465)
  docs/sources/alerting/set-up/provision-alerting-resources/view-provisioned-resources/index.md
  docs/sources/release-notes/release-notes-8-2-0.md
  docs/sources/release-notes/release-notes-9-0-4.md
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Labels: type/docs, backport, no-changelog

#88649 Docs: Add Installation YouTube Videos to documentation pages. (#88465)
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Labels: type/docs, backport, no-changelog

#88521 SSE: Fix threshold unmarshal to avoid panic
  pkg/expr/threshold.go
Labels: type/bug, area/backend, add to changelog, backport v10.4.x, backport v11.0.x

#88642 InfluxDB: Fix custom variable support
  public/app/plugins/datasource/influxdb/components/editor/variable/VariableQueryEditor.tsx
  public/app/plugins/datasource/influxdb/variables.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-backport, no-changelog

#88519 Alerting: Prevent updating rule uid matcher for silences
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/notifier/silence_svc.go
  pkg/services/ngalert/notifier/silence_svc_test.go
  pkg/services/ngalert/tests/fakes/silences.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#87017 Prometheus: Add hints for native histograms
  packages/grafana-prometheus/src/datasource.ts
  packages/grafana-prometheus/src/query_hints.test.ts
  packages/grafana-prometheus/src/query_hints.ts
Labels: datasource/Prometheus, area/frontend, add to changelog, area/datasource/frontend, no-backport

#88617 Laura/refactor/rename trash section
  .betterer.results
  .github/CODEOWNERS
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/core/utils/navBarItem-translations.ts
  public/app/features/manage-dashboards/RecentlyDeletedPage.tsx
  public/app/features/trash-section/TrashPage.tsx
  public/app/routes/routes.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/backend, area/frontend, no-backport, no-changelog, area/manage-dashboards

#88625 Alerting docs: fix `Alertmanagers` title
  docs/sources/alerting/set-up/configure-alertmanager/index.md
Labels: type/docs, area/alerting, no-backport, no-changelog

#88609 Scopes: Add DashboardTitle to scopedashboardbinding
  pkg/apis/scope/v0alpha1/types.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/scope/storage.go
  pkg/tests/apis/scopes/scopes_test.go
  pkg/tests/apis/scopes/testdata/example-scope.yaml
  pkg/tests/apis/scopes/testdata/example-scope2.yaml
  pkg/tests/apis/scopes/testdata/scopeNodesExample/scopes.json
Labels: area/backend, no-backport, no-changelog

#88250 Alerting docs: Specify Grafana alert rule evaluation
  docs/sources/alerting/fundamentals/alert-rule-evaluation/_index.md
  docs/sources/alerting/fundamentals/alert-rules/_index.md
Labels: type/docs, area/alerting, no-backport, no-changelog

#88657 Docs: Remove custom branding screenshot
  docs/sources/setup-grafana/configure-grafana/configure-custom-branding/index.md
Labels: type/docs, no-changelog

#88553 Chore: Move `Switch` SCSS to emotion/angular
  .betterer.results
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/components/_switch.scss
Labels: type/chore, area/frontend, no-backport, no-changelog

#88603 Keybinds: Vendor Mousetrap
  package.json
  public/app/core/services/KeybindingSet.ts
  public/app/core/services/keybindingSrv.ts
  public/app/core/services/mousetrap/Mousetrap.ts
  public/app/core/services/mousetrap/index.ts
  yarn.lock
Labels: area/frontend, no-changelog

#88654 FeatureFlags: Update creation timestamps
  pkg/services/featuremgmt/toggles_gen.json
Labels: no-backport, no-changelog

#88623 Devenv: Longer provisioning update intervals
  devenv/bulk-dashboards/bulk-dashboards.yaml
  devenv/bulk-folders/bulk-folders.sh
  devenv/bulk-folders/bulk-folders.yaml
  devenv/dashboards.yaml
Labels: area/devenv, no-changelog

#88662 Chore: Fix typo in lint rule file name
  packages/grafana-eslint-rules/index.cjs
  packages/grafana-eslint-rules/rules/no-untranslated-strings.cjs
Labels: type/chore, area/frontend, no-backport, no-changelog

#88660 Chore: Remove `nestedFolderPicker` toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/core/components/Select/FolderPicker.tsx
Labels: type/docs, type/chore, area/backend, area/frontend, no-backport, no-changelog

#88666 Loki: Fix editor history in wrong order
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, backport v11.0.x

#88555 RestoreDashboards: Populate page
  .betterer.results
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/manage-dashboards/RecentlyDeletedPage.tsx
  public/app/features/manage-dashboards/utils/useRecentlyDeletedStateManager.ts
  public/app/features/search/page/reporting.ts
  public/app/features/search/service/sql.ts
  public/app/features/search/service/types.ts
  public/app/features/search/state/SearchStateManager.ts
  public/app/features/search/types.ts
  public/app/routes/routes.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog, area/manage-dashboards

#88682 Gops: Fix data field in incidents query
  public/app/features/alerting/unified/api/incidentsApi.ts
Labels: area/frontend, no-backport, no-changelog, good cross gops-fe

#88529 Docs: Update the SAML role mapping docs with the new fields added
  docs/sources/setup-grafana/configure-grafana/enterprise-configuration/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, no-changelog

#88561 SSO: Add the new role value fields for SSO SAML strategy
  pkg/services/ssosettings/strategies/saml_strategy.go
  pkg/services/ssosettings/strategies/saml_strategy_test.go
Labels: area/backend, no-changelog

#88462 Alerting: Mute Timing service to prevent changing provenance status to none
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/provisioning/errors.go
  pkg/services/ngalert/provisioning/mute_timings.go
  pkg/services/ngalert/provisioning/mute_timings_test.go
  pkg/services/ngalert/provisioning/provenance.go
  pkg/services/ngalert/provisioning/provenance_test.go
  pkg/services/provisioning/alerting/mute_times_provisioner.go
Labels: area/alerting, area/backend, add to changelog, no-backport

#88498 Explore: Align time filters properly to day boundaries in query history
  public/app/core/history/RichHistoryLocalStorage.ts
  public/app/core/history/RichHistoryRemoteStorage.test.ts
  public/app/core/history/RichHistoryRemoteStorage.ts
  public/app/core/history/RichHistoryStorage.ts
  public/app/core/history/richHistoryLocalStorageUtils.ts
  public/app/core/utils/richHistory.ts
  public/app/core/utils/richHistoryTypes.ts
Labels: type/bug, area/explore, area/frontend, add to changelog

#88687 fix bug in Makefile enabling Go Race Detector in make run
  Makefile
Labels: type/build-packaging, no-changelog

#88261 Update proxy/index.md
  docs/sources/setup-grafana/configure-grafana/proxy/index.md
Labels: type/docs, pr/external, no-changelog, backport v10.3.x, backport v10.4.x, backport v11.0.x

#88663 Plugins: Don't forward cookies for app plugins
  pkg/services/pluginsintegration/clientmiddleware/cookies_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/cookies_middleware_test.go
Labels: type/bug, area/backend, no-changelog, backport v11.0.x

#88572 AzureMonitor: Fix bug detecting app insights queries
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
Labels: type/bug, effort/small, area/backend, datasource/Azure, add to changelog, backport v10.4.x, backport v11.0.x

#88713 Docs: Put back section on how to work with frontend plugins
  contribute/developer-guide.md
Labels: type/docs, area/plugins, area/frontend, no-backport, no-changelog

#88716 Logs: improve deduplication supporting code and fix duplicated frames
  packages/grafana-o11y-ds-frontend/src/combineResponses.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/utils/decorators.ts
  public/app/features/logs/logsModel.test.ts
  public/app/features/logs/logsModel.ts
Labels: area/explore, area/frontend, no-backport, no-changelog

#87493 Logs: Infinite scrolling in Explore enabled by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, add to changelog, no-backport

#88584 XYChart: Use same auto-ranging logic for X and Y axes
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
Labels: type/docs, area/frontend, pr/external, no-backport, no-changelog

#88640 Stat: Cut the top of the chart issue
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
Labels: area/frontend, area/panel/stat, no-backport, no-changelog, area/dataviz

#88363 Alerting: Update grafana/alerting
  go.mod
  go.sum
  go.work.sum
  pkg/services/ngalert/api/compat_contact_points_test.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_test.go
  pkg/services/ngalert/remote/alertmanager_test.go
  pkg/tests/api/alerting/api_alertmanager_configuration_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_notification_channel_test.go
  pkg/tests/api/alerting/testing.go
Labels: area/backend, no-backport, no-changelog

#88418 Cloudwatch: Update AWS DynamoDB Metrics
  pkg/tsdb/cloudwatch/constants/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external, no-backport

#88591 K8s: Remove action metadata key
  pkg/services/apiserver/storage/entity/utils.go
  pkg/services/apiserver/storage/entity/utils_test.go
  pkg/services/apiserver/utils/meta.go
Labels: area/backend, no-backport, no-changelog

#88718 DashboardScene: Fixes issue with some query editors to not adapt to width changes
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataPane.tsx
Labels: type/bug, area/frontend, no-changelog, missing-labels, backport v11.0.x

#88742 Docs: Document the UIDs of basic roles
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
Labels: type/docs, no-backport, no-changelog

#88700 [v11.0.x] Access Control: Clean up permissions for deprovisioned data sources
  pkg/services/accesscontrol/mock/service_mock.go
  pkg/services/datasources/service/datasource_test.go
  pkg/services/datasources/service/store.go
  pkg/services/datasources/service/store_test.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/provisioning.go
Labels: type/bug, area/backend, add to changelog, backport

#88740 Docs: Update feature toggle information for generic oauth
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Labels: type/docs, no-backport, no-changelog

#88629 K8s: Improve k8s dashboard query
  pkg/registry/apis/dashboard/access/sql_dashboards.go
  pkg/registry/apis/dashboard/access/token.go
  pkg/registry/apis/dashboard/access/types.go
  pkg/registry/apis/dashboard/legacy_storage.go
  pkg/registry/apis/dashboard/summary_storage.go
Labels: area/backend, no-backport, no-changelog

#88636 Loki: remove query formatting
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryCodeEditor.tsx
Labels: type/docs, area/backend, area/frontend, datasource/Loki, no-backport, no-changelog

#88732 Fix: Regenerate token on failed encryption/decryption
  pkg/services/serviceaccounts/extsvcaccounts/service.go
  pkg/services/serviceaccounts/extsvcaccounts/service_test.go
Labels: area/backend, no-backport, no-changelog

#88497 Alerting: Use folder_uid instead of file for Grafana managed alert rules
  public/app/features/alerting/unified/api/alertRuleApi.ts
Labels: area/alerting, area/frontend, no-changelog

#88690 Azure: Update resource group
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
Labels: type/bug, area/frontend, no-changelog, backport v9.5.x, backport v10.0.x, backport v10.1.x, backport v10.2.x, backport v10.3.x, backport v10.4.x, backport v11.0.x

#86859 Plugins: Preserve trailing slash in plugin proxy
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/plugin_proxy_test.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/services/datasourceproxy/datasourceproxy_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/bug, type/docs, area/backend, area/frontend, add to changelog, no-backport

#88767 Scopes: Add field to disable selecting multiple scope under a ScopeNode
  pkg/apis/scope/v0alpha1/types.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi.go
Labels: area/backend, no-backport, no-changelog

#87366 Logs: Added support for numeric log levels
  docs/sources/explore/logs-integration.md
  packages/grafana-data/src/types/logs.ts
  public/app/features/logs/logsModel.ts
  public/app/features/logs/utils.test.ts
  public/app/features/logs/utils.ts
Labels: type/docs, area/frontend, add to changelog, pr/external, no-backport

#88736 Alerting: Improve performance of tupleLablesToLabels function
  pkg/services/ngalert/models/instance_labels.go
  pkg/services/ngalert/models/instance_labels_test.go
Labels: area/backend, no-backport, no-changelog

#88772 Chore: Remove unused code in legacydata package
  pkg/server/wire.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/graphite/types.go
  pkg/tsdb/legacydata/contracts.go
  pkg/tsdb/legacydata/dataframes.go
  pkg/tsdb/legacydata/interval/interval.go
  pkg/tsdb/legacydata/interval/interval_test.go
  pkg/tsdb/legacydata/service/service.go
  pkg/tsdb/legacydata/service/service_test.go
Labels: datasource/Graphite, area/backend, no-backport, no-changelog

#88751 Auth: Add org to role mappings support to Gitlab integration
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  pkg/login/social/connectors/gitlab_oauth.go
  pkg/login/social/connectors/gitlab_oauth_test.go
  pkg/services/authn/clients/oauth.go
Labels: type/docs, area/backend, add to changelog

#88632 K8s/Dashboards: Add frontend api to switch between implementations
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/registry/apis/dashboard/access/sql_dashboards.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/core/components/Select/DashboardPicker.tsx
  public/app/core/components/SharedPreferences/SharedPreferences.test.tsx
  public/app/core/services/__mocks__/backend_srv.ts
  public/app/core/services/backend_srv.ts
  public/app/core/utils/explore.test.ts
  public/app/features/apiserver/client.ts
  public/app/features/apiserver/types.ts
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/dashboard/api/dashboard_api.ts
  public/app/features/dashboard/containers/DashboardPageProxy.test.tsx
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/dashboard/state/actions.ts
  public/app/features/explore/Logs/LiveLogs.test.tsx
  public/app/features/explore/extensions/AddToDashboard/addToDashboard.test.ts
  public/app/features/explore/extensions/AddToDashboard/addToDashboard.ts
  public/app/features/explore/hooks/useStateSync/migrators/v0.test.ts
  public/app/features/explore/hooks/useStateSync/migrators/v1.test.ts
  public/app/features/manage-dashboards/state/actions.ts
  public/app/features/org/OrgDetailsPage.test.tsx
  public/app/features/profile/UserProfileEditPage.test.tsx
Labels: type/docs, area/backend, area/explore, area/frontend, no-backport, no-changelog

#88778 Azure: Update e2e image
  .drone.yml
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
  scripts/drone/steps/lib.star
Labels: area/frontend, type/ci, no-backport, no-changelog

#88668 Elasticsearch: Remove `enableElasticsearchBackendQuerying` feature toggle
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tsdb/elasticsearch/client/index_pattern_test.go
  public/app/plugins/datasource/elasticsearch/LegacyQueryRunner.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/mocks.ts
  public/app/plugins/datasource/elasticsearch/types.ts
Labels: type/docs, datasource/Elasticsearch, area/backend, area/frontend, no-backport, no-changelog

#87758 Scopes: Add Handler for returning dashboards related to a list of scopes.
  pkg/apis/scope/v0alpha1/register.go
  pkg/apis/scope/v0alpha1/types.go
  pkg/apis/scope/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/apiserver/builder/helper.go
  pkg/registry/apis/scope/find.go
  pkg/registry/apis/scope/find_scope_dashboards.go
  pkg/registry/apis/scope/find_test.go
  pkg/registry/apis/scope/register.go
  pkg/registry/apis/scope/storage.go
  pkg/tests/apis/scopes/scopes_test.go
Labels: area/backend, no-backport, no-changelog

#88793 Alerting: Make all in api generator tooling now actually makes all
  pkg/services/ngalert/api/tooling/Makefile
Labels: area/alerting, type/chore, area/backend, no-backport, no-changelog

#88803 Alerting: Upgrade grafana/alerting
  go.mod
  go.sum
Labels: area/alerting, type/chore, area/backend, no-backport, no-changelog

#88183 Unified Storage: Fix Create, Update and Delete wrt Resource Versions
  pkg/services/apiserver/service.go
  pkg/services/apiserver/storage/entity/test/watch_test.go
  pkg/services/apiserver/utils/meta.go
  pkg/services/store/auth.go
  pkg/services/store/entity/db/dbimpl/dbEngine.go
  pkg/services/store/entity/db/dbimpl/dbEngine_test.go
  pkg/services/store/entity/db/dbimpl/dbimpl.go
  pkg/services/store/entity/db/dbimpl/util.go
  pkg/services/store/entity/db/migrations/migrator.go
  pkg/services/store/entity/db/service.go
  pkg/services/store/entity/health_test.go
  pkg/services/store/entity/sqlstash/broadcaster.go
  pkg/services/store/entity/sqlstash/create.go
  pkg/services/store/entity/sqlstash/data/common.sql
  pkg/services/store/entity/sqlstash/data/entity_folder_insert.sql
  pkg/services/store/entity/sqlstash/data/entity_history.sql
  pkg/services/store/entity/sqlstash/data/entity_labels_delete.sql
  pkg/services/store/entity/sqlstash/data/entity_labels_insert.sql
  pkg/services/store/entity/sqlstash/data/entity_read.sql
  pkg/services/store/entity/sqlstash/data/entity_ref_find.sql
  pkg/services/store/entity/sqlstash/data/kind_version_get.sql
  pkg/services/store/entity/sqlstash/data/kind_version_inc.sql
  pkg/services/store/entity/sqlstash/data/kind_version_insert.sql
  pkg/services/store/entity/sqlstash/data/kind_version_lock.sql
  pkg/services/store/entity/sqlstash/delete.go
  pkg/services/store/entity/sqlstash/folder_support.go
  pkg/services/store/entity/sqlstash/folder_support_test.go
  pkg/services/store/entity/sqlstash/queries.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/sqlstash/sql_storage_server_test.go
  pkg/services/store/entity/sqlstash/sqltemplate/args.go
  pkg/services/store/entity/sqlstash/sqltemplate/args_test.go
  pkg/services/store/entity/sqlstash/sqltemplate/dialect.go
  pkg/services/store/entity/sqlstash/sqltemplate/dialect_mysql.go
  pkg/services/store/entity/sqlstash/sqltemplate/dialect_postgresql.go
  pkg/services/store/entity/sqlstash/sqltemplate/dialect_sqlite.go
  pkg/services/store/entity/sqlstash/sqltemplate/example_test.go
  pkg/services/store/entity/sqlstash/sqltemplate/into.go
  pkg/services/store/entity/sqlstash/sqltemplate/into_test.go
  pkg/services/store/entity/sqlstash/sqltemplate/sqltemplate.go
  pkg/services/store/entity/sqlstash/testdata/simple.jsonc
  pkg/services/store/entity/sqlstash/update.go
  pkg/services/store/entity/sqlstash/utils.go
Labels: area/backend, go, area/backend/db/migration, no-changelog

#88804 GRPC Service: Use native histogram when enabled
  pkg/services/grpcserver/service.go
Labels: area/backend, no-backport, no-changelog

#88794 Chore: bump Go to 1.22.4
  .drone.yml
  .github/workflows/ephemeral-instances-pr-comment.yml
  .github/workflows/ephemeral-instances-pr-opened-closed.yml
  Dockerfile
  Makefile
  go.mod
  go.work
  scripts/drone/variables.star
Labels: type/build-packaging, area/backend, type/ci, no-backport, no-changelog

#87322 Alerting: Add RBAC logic for silences creation
  .betterer.results
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/api/alertSilencesApi.ts
  public/app/features/alerting/unified/api/alertmanagerApi.ts
  public/app/features/alerting/unified/components/AlertManagerPicker.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.test.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.test.tsx
  public/app/features/alerting/unified/components/silences/SilenceDetails.tsx
  public/app/features/alerting/unified/components/silences/SilenceGrafanaRuleDrawer.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
  public/app/features/alerting/unified/components/silences/SilencedInstancesPreview.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/hooks/useAbilities.test.tsx
  public/app/features/alerting/unified/hooks/useAbilities.ts
  public/app/features/alerting/unified/mockApi.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/mocks/server/handlers/silences.ts
  public/app/plugins/datasource/alertmanager/types.ts
  public/app/types/accessControl.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/alerting, area/frontend, add to changelog, add to what's new

#88549 Chore: Return influxdb query error early before parsing the result
  pkg/tsdb/influxdb/influxql/buffered/response_parser.go
  pkg/tsdb/influxdb/influxql/influxql.go
  pkg/tsdb/influxdb/influxql/querydata/stream_parser.go
Labels: area/backend, no-backport, no-changelog

#88809 InfluxDB: Revert calculation of maxPointsEnforced value
  go.work.sum
  pkg/tsdb/influxdb/flux/executor.go
  pkg/tsdb/influxdb/flux/executor_test.go
Labels: datasource/InfluxDB, area/backend, no-backport, no-changelog

#88790 Chore: Remove legacydata package
  .github/CODEOWNERS
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/expr/reader.go
  pkg/extensions/main.go
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/registry/apis/datasource/sub_query.go
  pkg/registry/apis/query/client/plugin.go
  pkg/registry/apis/query/client/testdata.go
  pkg/services/publicdashboards/service/query.go
  pkg/services/publicdashboards/service/query_test.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/validation/validation.go
  pkg/services/query/query.go
  pkg/services/queryhistory/api.go
  pkg/tsdb/legacydata/conversions.go
  pkg/tsdb/legacydata/doc.go
  pkg/tsdb/legacydata/time_range.go
  pkg/tsdb/legacydata/time_range_test.go
Labels: area/backend, no-backport, no-changelog

#88107 AnnotationsPlugin2: Implement support for rectangular annotations in Heatmap
  packages/grafana-schema/src/raw/composable/heatmap/panelcfg/x/HeatmapPanelCfg_types.gen.ts
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  packages/grafana-ui/src/components/PanelChrome/types.ts
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap/panelcfg.cue
  public/app/plugins/panel/heatmap/panelcfg.gen.ts
  public/app/plugins/panel/heatmap/utils.ts
  public/app/plugins/panel/timeseries/plugins/AnnotationsPlugin2.tsx
Labels: area/panel/heatmap, area/frontend, add to changelog, area/panel/timeseries, no-backport

#87057 Remove invisible character in SAML certificate command
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, stale, no-changelog

#87109 Dashboard Scenes: Add replace lib panel functionality
  public/app/features/dashboard-scene/scene/AddLibraryPanelDrawer.test.tsx
  public/app/features/dashboard-scene/scene/AddLibraryPanelDrawer.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.tsx
  public/app/features/dashboard-scene/utils/interactions.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/bug, area/dashboard, area/frontend, no-changelog, area/scenes

#88770 Auth: Add org to role mappings support to Okta integration
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/configure-authentication/github/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
  pkg/login/social/connectors/okta_oauth.go
  pkg/login/social/connectors/okta_oauth_test.go
  pkg/services/authn/clients/oauth.go
Labels: type/docs, area/auth, area/backend, area/auth/oauth, add to changelog

#88681 Simplify lib panel creation in dashboard
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/sharing/ShareLibraryPanelTab.tsx
Labels: area/frontend, no-changelog

#88784 Users: remove unused store function
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user_test.go
Labels: type/chore, area/backend, no-changelog

#87658 Loki: Kick start your query now applies templates to the current query
  public/app/plugins/datasource/loki/querybuilder/components/QueryPattern.tsx
  public/app/plugins/datasource/loki/querybuilder/components/QueryPatternsModal.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/QueryPatternsModal.tsx
Labels: area/frontend, datasource/Loki, add to changelog, no-backport

#88795 TimePicker: Fix bug where recent timeranges is cut off
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerContent.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeList.tsx
Labels: type/bug, area/frontend, timepicker, no-backport, no-changelog

#88752 Keybinds: E2E tests
  e2e/various-suite/keybinds.spec.ts
  public/app/core/services/mousetrap/Mousetrap.ts
  public/app/core/services/mousetrap/index.ts
Labels: area/frontend, no-changelog

#88515 Alerting docs: adds notification policy update
  docs/sources/alerting/configure-notifications/create-notification-policy.md
Labels: type/docs, no-changelog

#88813 chore: A few updates for the pkg/build/wire fork
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Labels: area/backend, no-backport, no-changelog

#88845 Chore: Removing editor.html from angular patterns
  pkg/plugins/manager/loader/angular/angularinspector/angularinspector.go
Labels: type/bug, area/plugins, area/backend, type/angular-2-react, no-changelog, missing-labels, backport v11.0.x

#88756 docs: alerting: clarify which panels support alerts
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
  docs/sources/alerting/alerting-rules/create-mimir-loki-managed-rule.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
Labels: type/docs, area/alerting, no-changelog, backport v11.0.x

#88830 Alerting: Update search examples for notification policies
  public/app/features/alerting/unified/components/notification-policies/Filters.tsx
Labels: type/docs, area/alerting, area/frontend, no-changelog

#88829 Alerting: Clarify that we are adding subling policies
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
Labels: type/docs, area/alerting, area/frontend, no-changelog

#88026 Scopes: UI Improvements
  packages/grafana-data/src/types/scopes.ts
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesDashboardsScene.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesFiltersAdvancedSelector.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesFiltersBasicSelector.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesFiltersScene.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesScene.test.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesScene.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesTreeLevel.tsx
  public/app/features/dashboard-scene/scene/Scopes/api.ts
  public/app/features/dashboard-scene/scene/Scopes/testUtils.tsx
  public/app/features/dashboard-scene/scene/Scopes/types.ts
  public/app/features/dashboard-scene/scene/ScopesDashboardsScene.tsx
  public/app/features/dashboard-scene/scene/ScopesFiltersScene.tsx
  public/app/features/dashboard-scene/scene/ScopesScene.test.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/dashboard, area/frontend, no-backport, levitate breaking change, no-changelog, area/scopes

#88840 Docs: Updating documentation for `angular_support_enabled`
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, area/plugins, no-changelog, backport v11.0.x

#86950 Update QuerySuggestionItem.tsx
  packages/grafana-prometheus/src/querybuilder/components/promQail/QuerySuggestionItem.tsx
Labels: area/frontend, no-backport, no-changelog

#88827 API server: Add shutdown func to interface
  go.work.sum
  pkg/cmd/grafana/apiserver/cmd.go
  pkg/services/apiserver/standalone/factory.go
Labels: type/chore, area/backend, no-backport, no-changelog

#88512 AppChrome: Add display flex to prevent multiple scrollbars
  public/app/AppWrapper.tsx
  public/app/core/components/AppChrome/AppChrome.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#88080 [docs/sources/fundamentals] Replace docs/reference shortcode with ref URIs
  docs/sources/fundamentals/dashboards-overview/index.md
  docs/sources/fundamentals/intro-histograms/index.md
  docs/sources/fundamentals/intro-to-prometheus/index.md
  docs/sources/fundamentals/timeseries-dimensions/index.md
Labels: type/docs, no-changelog

#88857 Unified Storage: Fix Entity Server unconditionally starting
  pkg/services/store/entity/sqlstash/create.go
  pkg/services/store/entity/sqlstash/delete.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/sqlstash/sql_storage_server_test.go
  pkg/services/store/entity/sqlstash/update.go
Labels: area/backend, no-changelog

#88843 DashboardScene: Fixes inspect with transforms issue
  public/app/features/dashboard-scene/inspect/InspectDataTab.tsx
Labels: type/bug, area/frontend, add to changelog, backport v11.0.x

#88859 chore: update mssql readme
  public/app/plugins/datasource/mssql/README.md
Labels: datasource/MSSQL, area/frontend, no-backport, no-changelog

#88652 VizTooltip: Allow setting the `maxWidth` option
  packages/grafana-ui/src/components/VizTooltip/VizTooltipContent.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipRow.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
  packages/grafana-ui/src/options/builder/tooltip.tsx
  public/app/plugins/panel/heatmap/module.tsx
Labels: area/panel/heatmap, area/frontend, add to changelog, area/tooltip, no-backport

#88856 Select: Revert "preserving custom value" changes
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
  package.json
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilder.test.tsx
  packages/grafana-ui/src/components/Select/SelectBase.test.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  public/app/plugins/datasource/elasticsearch/components/hooks/useCreatableSelectPersistedBehaviour.test.tsx
  public/app/plugins/datasource/jaeger/components/SearchForm.test.tsx
  yarn.lock
Labels: datasource/Elasticsearch, type/chore, area/frontend, datasource/Jaeger, no-backport, no-changelog

#87742 AzureMonitor: Prometheus exemplars support
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-prometheus/src/configuration/ExemplarSetting.tsx
  packages/grafana-schema/src/raw/composable/azuremonitor/dataquery/x/AzureMonitorDataQuery_types.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tsdb/azuremonitor/azuremonitor.go
  pkg/tsdb/azuremonitor/azuremonitor_test.go
  pkg/tsdb/azuremonitor/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame_test.go
  pkg/tsdb/azuremonitor/loganalytics/traces.go
  pkg/tsdb/azuremonitor/loganalytics/traces_test.go
  pkg/tsdb/azuremonitor/routes.go
  pkg/tsdb/azuremonitor/testdata/traces/2-traces-single-table.json.single-trace-as-trace-format-from-exemplars-query.golden.jsonc
  pkg/tsdb/azuremonitor/utils/utils.go
  public/app/plugins/datasource/azuremonitor/components/LogsQueryEditor/LogsQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryHeader.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/usePreparedQuery.ts
  public/app/plugins/datasource/azuremonitor/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/setQueryValue.ts
  public/app/plugins/datasource/azuremonitor/dataquery.cue
  public/app/plugins/datasource/azuremonitor/dataquery.gen.ts
  public/app/plugins/datasource/azuremonitor/datasource.ts
  public/app/plugins/datasource/azuremonitor/plugin.json
Labels: type/docs, effort/large, area/backend, area/frontend, datasource/Azure, add to changelog, no-backport, add to what's new

#88863 chore: Updating linter, fixing some new warnings
  .bingo/Variables.mk
  .bingo/drone.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/variables.env
  .golangci.toml
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/infra/filestorage/fs_integration_test.go
  pkg/infra/log/log.go
  pkg/plugins/localfiles_test.go
  pkg/plugins/storage/fs_test.go
  pkg/services/sqlstore/database_config.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Labels: area/backend, no-backport, no-changelog

#88562 InfluxDB: Use json-iterator package for json operations
  go.sum
  go.work.sum
  pkg/tsdb/influxdb/influxql/buffered/response_parser.go
  pkg/tsdb/influxdb/influxql/buffered/response_parser_test.go
  pkg/tsdb/influxdb/influxql/util/util.go
Labels: area/backend, no-changelog, product-approved, backport v10.4.x

#87849 Alerting: Support recording rule struct in provisioning API
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/provisioning/alerting/rules_types.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-changelog

#88866 [v10.4.x] InfluxDB: Use json-iterator package for json operations
  pkg/tsdb/influxdb/influxql/buffered/response_parser.go
  pkg/tsdb/influxdb/influxql/buffered/response_parser_test.go
  pkg/tsdb/influxdb/influxql/util/util.go
Labels: area/backend, backport, no-changelog, product-approved

#88726 VizTooltip: Format header value
  public/app/plugins/panel/timeseries/TimeSeriesTooltip.tsx
Labels: area/frontend, area/panel/timeseries, area/tooltip, no-backport, no-changelog, area/panel/trend

#88733 Cloudwatch: Use the metric map from grafana-aws-sdk
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/tsdb/cloudwatch/constants/metrics.go
  pkg/tsdb/cloudwatch/models/resources/utils.go
  pkg/tsdb/cloudwatch/services/hardcoded_metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#88870 Prometheus: Remove unused promlink and failing tests
  .betterer.results
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, no-backport, no-changelog

#88787 [v11.0.x] AzureMonitor: Fix bug detecting app insights queries
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
Labels: type/bug, effort/small, area/backend, datasource/Azure, add to changelog, backport

#88786 [v10.4.x] AzureMonitor: Fix bug detecting app insights queries
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
Labels: type/bug, effort/small, area/backend, datasource/Azure, add to changelog, backport

#88872 Alerting: Update CODEOWNERS.
  .github/CODEOWNERS
  .github/workflows/alerting-swagger-gen.yml
Labels: no-changelog

#88876 Chore: Bump promlib to v0.0.6
  go.mod
  go.sum
  go.work.sum
Labels: type/chore, area/backend, no-backport, no-changelog

#88312 Alerting: Remove dead `evalRunning` guard in rule routine
  pkg/services/ngalert/schedule/alert_rule.go
Labels: area/alerting, type/chore, area/backend, no-backport, no-changelog

#88731 Alerting: Update mute timings provisioning API to support optimistic locking
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/provisioning_mute_timings.go
  pkg/services/ngalert/api/tooling/definitions/time_intervals.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/provisioning/errors.go
  pkg/services/ngalert/provisioning/mute_timings.go
  pkg/services/ngalert/provisioning/mute_timings_test.go
  pkg/services/provisioning/alerting/mute_times_provisioner.go
  pkg/tests/api/alerting/api_provisioning_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#88880 storage: Avoid panic when no previous versions in history
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Labels: type/bug, area/backend, no-backport, no-changelog

#87488 Plugins: Improve frontend loader cache
  pkg/plugins/manager/pipeline/bootstrap/steps.go
  pkg/plugins/manager/pipeline/bootstrap/steps_test.go
  pkg/services/pluginsintegration/loader/loader_test.go
  public/app/features/plugins/loader/cache.test.ts
  public/app/features/plugins/loader/cache.ts
  public/app/features/plugins/loader/constants.ts
  public/app/features/plugins/loader/systemjsHooks.test.ts
  public/app/features/plugins/loader/systemjsHooks.ts
  public/app/features/plugins/plugin_loader.ts
Labels: area/plugins, area/backend, area/frontend, add to changelog, no-backport

#88888 Alerting: Update grafana/alerting
  go.mod
  go.sum
Labels: area/backend, no-changelog

#88744 SQL: change buttons aria-label to title
  packages/grafana-sql/src/components/visual-query-builder/GroupByRow.tsx
  packages/grafana-sql/src/components/visual-query-builder/SelectRow.tsx
Labels: area/frontend, no-changelog

#88860 Alerting: Fix possible undefined value in the form not being protected
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
Labels: type/bug, area/backend/api, area/frontend, no-backport, no-changelog

#88768 Chore: Migrate `DashboardRow` SCSS styles
  public/app/features/dashboard/components/DashboardRow/DashboardRow.test.tsx
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  public/sass/_grafana.scss
  public/sass/components/_row.scss
Labels: type/chore, area/frontend, no-backport, no-changelog

#88901 added youtube video link
  docs/sources/setup-grafana/installation/helm/index.md
Labels: type/docs, kind/enhancement, no-changelog, missing-labels, backport v11.0.x

#88894 [v11.0.x] User: Fix GetByID
  pkg/services/authn/authnimpl/sync/org_sync_test.go
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/authnimpl/sync/user_sync_test.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/authn/clients/grafana_test.go
  pkg/services/authn/clients/jwt_test.go
  pkg/services/authn/clients/oauth_test.go
  pkg/services/ldap/api/service.go
  pkg/services/login/model.go
  pkg/services/user/userimpl/user.go
Labels: type/bug, area/backend, backport, no-changelog

#88891 Auth: Add org to role mappings support to Google integration
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/configure-authentication/google/index.md
  pkg/login/social/connectors/google_oauth.go
  pkg/login/social/connectors/google_oauth_test.go
  pkg/login/social/connectors/social_base.go
  pkg/services/authn/clients/oauth.go
Labels: type/docs, area/backend, add to changelog

#88899 Storybook: Bump to 8.1.6
  .yarn/patches/@storybook-blocks-npm-8.0.10-6f477cd35f.patch
  .yarn/patches/@storybook-blocks-npm-8.1.6-892f57a6d7.patch
  package.json
  packages/grafana-data/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-icons/package.json
  packages/grafana-o11y-ds-frontend/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-sql/package.json
  packages/grafana-ui/package.json
  public/app/plugins/datasource/azuremonitor/package.json
  public/app/plugins/datasource/cloud-monitoring/package.json
  public/app/plugins/datasource/grafana-postgresql-datasource/package.json
  public/app/plugins/datasource/grafana-pyroscope-datasource/package.json
  public/app/plugins/datasource/grafana-testdata-datasource/package.json
  public/app/plugins/datasource/jaeger/package.json
  public/app/plugins/datasource/mysql/package.json
  public/app/plugins/datasource/parca/package.json
  public/app/plugins/datasource/tempo/package.json
  public/app/plugins/datasource/zipkin/package.json
  yarn.lock
Labels: area/security, datasource/MySQL, datasource/Postgres, area/frontend, datasource/GoogleCloudMonitoring, datasource/Azure, dependencies, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, no-backport, no-changelog, datasource/Parca, datasource/grafana-pyroscope

#88915 User: add second migration for lowercasing login/email of users
  pkg/services/sqlstore/migrations/user_mig.go
Labels: type/bug, area/backend, area/backend/db/migration, no-changelog, backport v11.0.x

#88832 Alerting: Update SNS description mistakes
  public/app/features/alerting/unified/utils/cloud-alertmanager-notifier-types.ts
Labels: area/alerting, area/frontend, no-changelog

#88277 Feature Toggles: Validate if a GA toggle is enabled or not explicitly
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen_test.go
Labels: area/backend, no-backport, no-changelog

#88896 Tracing: Enable traces to profiles
  devenv/datasources.yaml
  devenv/docker/blocks/self-instrumentation/docker-compose.yaml
  go.mod
  go.sum
  pkg/infra/tracing/tracing.go
  pkg/infra/tracing/tracing_profiling.go
Labels: area/backend, add to changelog, no-backport

#88879 Alerting: Fix go-swagger extraction and several embedded types from Alertmanager in Swagger docs
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, add to changelog, no-backport

#88867 Alerting: Support AWS SNS integration in Grafana
  pkg/services/ngalert/api/compat_contact_points.go
  pkg/services/ngalert/api/compat_contact_points_test.go
  pkg/services/ngalert/api/tooling/definitions/contact_points.go
  pkg/services/ngalert/notifier/channels_config/available_channels.go
Labels: area/alerting, area/backend, add to changelog, no-backport, add to what's new

#87236 Plugins: Allow apps to expose components. Update the extensions API.
  .betterer.results
  packages/grafana-data/src/types/app.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/index.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/usePluginComponent.ts
  packages/grafana-runtime/src/services/pluginExtensions/usePluginExtensions.ts
  public/app/app.ts
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/reactivePluginExtensionRegistry.ts
  public/app/features/plugins/extensions/usePluginComponent.test.tsx
  public/app/features/plugins/extensions/usePluginComponent.tsx
  public/app/features/plugins/extensions/usePluginExtensions.test.tsx
  public/app/features/plugins/extensions/usePluginExtensions.tsx
  public/app/features/plugins/extensions/utils.tsx
  public/app/features/plugins/extensions/validators.test.tsx
  public/app/features/plugins/extensions/validators.ts
Labels: area/plugins, area/frontend, add to changelog, no-backport, area/plugin-extensions

#88818 StateTimeline: Fix bug with state labels using stale y position cache during panel resize
  public/app/core/components/TimelineChart/timeline.ts
Labels: type/bug, area/frontend, area/panel/state-timeline, no-backport, no-changelog

#86895 Table Panel: Enable Text Wrapping
  go.work.sum
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/table.cue
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/RowsList.tsx
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/TableCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/Table/utils.ts
  public/app/plugins/panel/table/TableCellOptionEditor.tsx
  public/app/plugins/panel/table/cells/AutoCellOptionsEditor.tsx
  public/app/plugins/panel/table/cells/ColorBackgroundCellOptionsEditor.tsx
  yarn.lock
Labels: area/panel/table, area/frontend, add to changelog, no-backport, area/dataviz

#88908 Alerting: Fix permissions for silences list view
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/components/GrafanaAlertmanagerDeliveryWarning.test.tsx
  public/app/features/alerting/unified/components/GrafanaAlertmanagerDeliveryWarning.tsx
  public/app/features/alerting/unified/components/silences/SilenceDetails.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/alerting/unified/components/silences/SilencesTable.tsx
  public/app/features/alerting/unified/hooks/__snapshots__/useAbilities.test.tsx.snap
  public/app/features/alerting/unified/hooks/useAbilities.ts
  public/app/features/alerting/unified/utils/access-control.ts
  public/app/features/alerting/unified/utils/datasource.ts
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#88805 Alerting: Recording rules appear as type=recording in Prometheus API + better abstraction for type
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/prom.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/schedule/alert_rule.go
  pkg/services/ngalert/schedule/recording_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#88916 chore(ci): Run golangci-lint in GitHub Actions
  .drone.yml
  .github/CODEOWNERS
  .github/workflows/go_lint.yml
  scripts/drone/pipelines/lint_backend.star
  scripts/drone/steps/lib.star
Labels: type/ci, no-backport, no-changelog

#88868 Chore: Add unit test for cloudmigration package
  pkg/services/cloudmigration/api/api_test.go
  pkg/services/cloudmigration/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/fake/cloudmigration_fake.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Labels: area/backend, add to changelog, no-backport

#88550 Alerting: Recording rule mapping logic for data frames to Prometheus metrics
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/writer/prom.go
  pkg/services/ngalert/writer/prom_test.go
Labels: area/alerting, area/backend, no-changelog

#88939 API Server: Enhanced profiling with godeltaprof
  devenv/docker/blocks/self-instrumentation/agent.flow
  pkg/cmd/grafana/apiserver/server.go
Labels: area/backend, no-backport, no-changelog
