Repository grafana/grafana, pull requests merged in 2024-04, with the labels that each got.

#85440 Makefile: refactoring .PHONY
  Makefile
Labels: type/build-packaging, pr/external, no-backport, no-changelog

#85438 Update plugin SDK to v0.219.0
  .github/workflows/pr-go-workspace-check.yml
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Labels: area/backend, no-backport, no-changelog

#85449 Keybindings: Replace mod+h as help shortcut with ?
  docs/sources/dashboards/use-dashboards/index.md
  public/app/core/components/help/HelpModal.tsx
  public/app/core/services/keybindingSrv.ts
Labels: type/bug, type/docs, area/frontend, add to changelog

#85436 Add optional `queries` parameter to DataSourceGetTagValuesOptions
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-prometheus/src/datasource.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/tempo/datasource.ts
Labels: datasource/InfluxDB, datasource/Elasticsearch, datasource/Prometheus, area/frontend, datasource/Loki, datasource/Tempo, no-backport, levitate breaking change, no-changelog, area/scenes, team/grafana-dashboards

#85423 InfluxDB: Fix measurement interpolation on visual query builder
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/datasource_backend_mode.test.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, backport v11.0.x

#85255 Cloudmigration: swagger for the cloudmigration api
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/model.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-changelog

#85452 Remove AuthConfigUIAdminAccess
  pkg/services/accesscontrol/roles.go
  pkg/setting/setting.go
Labels: area/backend, no-backport, no-changelog

#85046 Docs: Fix wrong word for tempo example config
  docs/sources/datasources/tempo/configure-tempo-data-source.md
Labels: type/docs, pr/external, no-changelog

#85470 Bump scenes to 4.1.2
  package.json
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  yarn.lock
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x

#85473 Datasources: Remove unused functions
  pkg/api/datasources_test.go
  pkg/services/datasources/datasources.go
  pkg/services/datasources/fakes/fake_datasource_service.go
  pkg/services/datasources/models.go
  pkg/services/datasources/service/datasource.go
  pkg/services/datasources/service/datasource_test.go
  pkg/services/datasources/service/store.go
  pkg/services/datasources/service/store_test.go
Labels: type/chore, area/backend, area/datasource, no-backport, no-changelog

#85463 E2C: Generate RTK Query API slice from swagger spec
  .github/CODEOWNERS
  package.json
  public/app/core/reducers/root.ts
  public/app/features/migrate-to-cloud/api/baseAPI.ts
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/api/index.ts
  public/app/features/migrate-to-cloud/cloud/MigrationTokenPane/MigrationTokenPane.tsx
  public/app/features/migrate-to-cloud/mockAPI.ts
  public/app/features/migrate-to-cloud/onprem/DisconnectModal.tsx
  public/app/features/migrate-to-cloud/onprem/EmptyState/CallToAction/CallToAction.tsx
  public/app/features/migrate-to-cloud/onprem/EmptyState/CallToAction/ConnectModal.tsx
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.tsx
  public/app/store/configureStore.ts
  scripts/generate-rtk-apis.ts
  yarn.lock
Labels: area/frontend, no-changelog

#83814 Auth: Extended JWT client for OBO and Service Authentication
  .golangci.toml
  go.mod
  go.sum
  go.work.sum
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy_test.go
  pkg/api/user.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/mock/mock.go
  pkg/services/auth/identity/requester.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/sync/rbac_sync.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/authn/identity.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/user/identity.go
  pkg/setting/setting.go
  pkg/setting/setting_jwt.go
  pkg/util/proxyutil/proxyutil_test.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#85479 [v11.0.x] Bump scenes to 4.1.2
  package.json
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  yarn.lock
Labels: type/bug, area/frontend, backport, no-changelog

#85419 Canvas: Hide background image size editor options for SVG based elements
  public/app/features/canvas/runtime/element.tsx
  public/app/plugins/panel/canvas/editor/options.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog

#85407 CloudMigrations: Implement core API handlers for cloud migrations and migration runs
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_noop.go
  pkg/services/cloudmigration/cloudmigrationimpl/store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/cloudmigration/model.go
Labels: area/backend, no-backport, no-changelog

#85494 DS apiserver: Fix resource path
  pkg/registry/apis/datasource/sub_resource.go
  pkg/registry/apis/datasource/sub_resource_test.go
Labels: area/backend, no-backport, no-changelog

#85500 VizTooltips: Remove remaining old bits
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/visualization/data-hover/DataHoverView.tsx
  public/app/features/visualization/data-hover/ExemplarHoverView.tsx
  public/app/plugins/panel/candlestick/module.tsx
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/state-timeline/module.tsx
  public/app/plugins/panel/status-history/module.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
  public/app/plugins/panel/timeseries/plugins/types.ts
Labels: type/docs, area/panel/heatmap, area/backend, area/frontend, area/panel/data, area/panel/timeseries, area/panel/state-timeline, area/panel/status-history, area/panel/candlestick, no-backport, no-changelog

#85187 Plugins: Expose ExternalService in request config
  pkg/services/pluginsintegration/pluginconfig/fakes.go
  pkg/services/pluginsintegration/pluginconfig/request.go
  pkg/services/pluginsintegration/pluginconfig/request_test.go
  pkg/services/pluginsintegration/plugincontext/plugincontext.go
Labels: area/backend, no-backport, no-changelog

#85434 alerging-get-started: update
  docs/sources/tutorials/alerting-get-started/index.md
Labels: type/docs, no-changelog, backport v10.4.x

#85437 Explore: Make Explore breadcrumb clickable
  public/app/features/explore/ExplorePage.tsx
  public/app/features/explore/hooks/useExplorePageTitle.test.tsx
  public/app/features/explore/hooks/useExplorePageTitle.ts
Labels: area/explore, area/frontend, add to changelog, no-backport

#85490 E2C: Hook Cloud Receiver-side up to real CreateCloudMigrationToken API
  public/app/features/migrate-to-cloud/cloud/MigrationTokenPane/MigrationTokenModal.tsx
  public/app/features/migrate-to-cloud/cloud/MigrationTokenPane/MigrationTokenPane.tsx
  public/app/features/migrate-to-cloud/cloud/TokenErrorAlert.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#85509 Revert "Postgres: Switch the datasource plugin from lib/pq to pgx (#8…
  go.mod
  go.sum
  pkg/tsdb/grafana-postgresql-datasource/locker.go
  pkg/tsdb/grafana-postgresql-datasource/locker_test.go
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_snapshot_test.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
  pkg/tsdb/grafana-postgresql-datasource/proxy.go
  pkg/tsdb/grafana-postgresql-datasource/proxy_test.go
  pkg/tsdb/grafana-postgresql-datasource/testdata/table/timestamp_convert_real.golden.jsonc
  pkg/tsdb/grafana-postgresql-datasource/testdata/table/types_datetime.golden.jsonc
  pkg/tsdb/grafana-postgresql-datasource/tls/tls.go
  pkg/tsdb/grafana-postgresql-datasource/tls/tls_loader.go
  pkg/tsdb/grafana-postgresql-datasource/tls/tls_test.go
  pkg/tsdb/grafana-postgresql-datasource/tls/tls_test_helpers.go
  pkg/tsdb/grafana-postgresql-datasource/tlsmanager.go
  pkg/tsdb/grafana-postgresql-datasource/tlsmanager_test.go
Labels: datasource/Postgres, area/backend, no-changelog

#85140 DashboardScene: Fix explore to dashboard flow
  public/app/features/dashboard-scene/pages/DashboardScenePage.test.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.tsx
  public/app/features/dashboard/state/initDashboard.ts
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x

#85221 Implement autofit panels in Dashboards
  package.json
  public/app/features/dashboard-scene/embedding/EmbeddedDashboardTestPage.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.test.ts
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  yarn.lock
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x

#85485 RBAC: Fix access checks for interactions with RBAC roles in hosted Grafana
  pkg/services/accesscontrol/middleware.go
Labels: type/bug, area/backend, add to changelog, no-backport, backport v11.0.x

#85203 ServiceAccount : use `InteractiveTable`
  public/app/features/serviceaccounts/ServiceAccountTable.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
Labels: area/frontend, no-backport, no-changelog, internal

#85409 DashboardScene: Detect changes when live is enabled from settings
  package.json
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  yarn.lock
Labels: type/bug, area/frontend, no-changelog, area/manage-dashboards, area/scenes, backport v11.0.x

#85348 CloudMigrations: Implement migrations API
  conf/defaults.ini
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_noop.go
  pkg/services/cloudmigration/cloudmigrationimpl/store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
  pkg/services/cloudmigration/model.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/store_mock.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-changelog

#85525 E2C: Fix Swagger spec for createMigration post body
  pkg/services/cloudmigration/model.go
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/openapi3.json
Labels: area/backend, area/frontend, no-changelog

#85231 convert telegram blog post to doc
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-slack.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-telegram.md
Labels: type/docs, area/alerting, no-changelog, backport v10.4.x

#85529 Alerting docs: note on images in notifications for cloud
  docs/sources/alerting/configure-notifications/template-notifications/images-in-notifications.md
Labels: type/docs, no-changelog

#85441 Docker: Fix missing go dependencies
  Dockerfile
Labels: type/build-packaging, pr/external, no-backport, no-changelog

#85524 [v11.0.x] Implement autofit panels in Dashboards
  package.json
  packages/grafana-ui/src/components/Portal/Portal.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
  public/app/features/dashboard-scene/embedding/EmbeddedDashboardTestPage.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.test.ts
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  yarn.lock
Labels: type/bug, area/frontend, backport, no-changelog

#85532 CI: Skip analysis steps if not needed
  .github/workflows/pr-codeql-analysis-go.yml
  .github/workflows/pr-codeql-analysis-javascript.yml
  .github/workflows/pr-codeql-analysis-python.yml
Labels: no-changelog

#85526 Alerting docs: fix `docs/shared` API to render the current version
  docs/sources/alerting/set-up/provision-alerting-resources/http-api-provisioning/_index.md
  docs/sources/developers/http_api/alerting_provisioning.md
Labels: type/docs, area/alerting, no-backport, no-changelog

#85528 [v11.0.x] DashboardScene: Detect changes when live is enabled from settings
  package.json
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  yarn.lock
Labels: type/bug, area/frontend, backport, no-changelog, area/manage-dashboards, area/scenes

#85484 Docs: add YouTube video link and description
  docs/sources/panels-visualizations/visualizations/logs/index.md
Labels: type/docs, no-changelog, backport v10.2.x, backport v10.3.x, backport v10.4.x, backport v11.0.x

#85518 Scenes: Fix issue where unsaved changes prompt is shown when quickly adding panel to new dashboard
  .betterer.results
  public/app/features/dashboard-scene/saving/DashboardPrompt.tsx
Labels: type/bug, area/dashboard, area/frontend, no-changelog, area/scenes, backport v11.0.x

#85512 fix(alerting): only expose metrics if executing alerts
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/manager.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#84699 Transformations - make substring and not substring transformer case insensitive.
  packages/grafana-data/src/transformations/matchers/valueMatchers/substringMatchers.test.ts
  packages/grafana-data/src/transformations/matchers/valueMatchers/substringMatchers.ts
Labels: area/frontend, area/transformations, no-backport, no-changelog

#85482 Canvas: Fix ellipse migration
  public/app/plugins/panel/canvas/migrations.ts
Labels: type/bug, area/frontend, area/panel/canvas, no-backport, no-changelog, area/dataviz

#85488 Alerting/Annotations: Return nothing from historian store if filtering by tags and matchAny is false
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
Labels: type/bug, area/annotations, area/alerting, area/backend, no-changelog

#85555 CMS: Update permissions required to use endpoints
  pkg/services/cloudmigration/api/api.go
Labels: area/backend, no-changelog

#85501 Transformations: Add applicability function to group to nested table
  packages/grafana-data/src/transformations/transformers/groupBy.ts
  packages/grafana-data/src/transformations/transformers/groupToNestedTable.ts
  packages/grafana-data/src/transformations/transformers/utils.ts
Labels: area/frontend, no-backport, no-changelog

#85557 CloudWatch: Fix SageMaker MBP namespace typo
  pkg/tsdb/cloudwatch/constants/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#85560 K8s: Use tracing handler from component-base
  pkg/apiserver/builder/helper.go
  pkg/services/apiserver/standalone/options/tracing.go
Labels: area/backend, no-changelog

#85562 Chore: Upgrade grafana-plugin-sdk-go
  go.mod
  go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Labels: area/backend, no-backport, no-changelog

#85084 Auth: Decouple client and hook registration
  pkg/infra/usagestats/service/accesscontrol.go
  pkg/infra/usagestats/service/api.go
  pkg/infra/usagestats/service/api_test.go
  pkg/infra/usagestats/service/service.go
  pkg/infra/usagestats/service/usage_stats_test.go
  pkg/registry/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
  pkg/services/authn/authnimpl/registration.go
  pkg/services/authn/authnimpl/service.go
Labels: area/backend, no-changelog

#85460 Explore: Set X-Cache-Skip to true for query requests
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
Labels: area/frontend, add to changelog, no-backport

#85561 Fix sending `maxDataPoints` as string
  public/app/features/panel/state/actions.ts
Labels: type/bug, type/chore, area/backend, area/frontend, area/backend/db/migration, no-changelog, backport v11.0.x

#85546 Chore: Restore some removed UI components to reduce BC surface area
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/graveyard/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/graveyard/GraphNG/utils.test.ts
  packages/grafana-ui/src/graveyard/TimeSeries/TimeSeries.tsx
  packages/grafana-ui/src/graveyard/TimeSeries/utils.ts
  packages/grafana-ui/src/graveyard/uPlot/plugins/TooltipPlugin.tsx
  packages/grafana-ui/src/graveyard/uPlot/plugins/ZoomPlugin.tsx
Labels: area/frontend, no-changelog

#85573 [v11.0.x] Update plugin SDK to v0.219.0
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Labels: type/bug, area/backend, backport, no-changelog

#85489 Scenes: Fix issue where annotations with same name wouldn't render properly
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
Labels: type/bug, area/dashboard, area/annotations, area/frontend, no-changelog, area/scenes, backport v11.0.x

#85575 [v11.0.x] Chore: Upgrade grafana-plugin-sdk-go to v0.220.0
  go.mod
  go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Labels: type/bug, area/backend, backport, no-changelog

#84362 Accessibility: Default Icon to aria-hidden
  packages/grafana-ui/src/components/Icon/Icon.mdx
  packages/grafana-ui/src/components/Icon/Icon.tsx
  public/app/features/alerting/unified/components/rules/RulesFilter.tsx
  public/app/plugins/datasource/cloud-monitoring/components/__snapshots__/VariableQueryEditor.test.tsx.snap
Labels: area/frontend, datasource/GoogleCloudMonitoring, no-changelog

#85507 Chore: Fix trailing spaces in prometheus min step
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilderOptions.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilderOptions.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, add to changelog, pr/external, backport v11.0.x

#85531 Feature toggle to add filter and group by variables to all new dashboards by default
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/serialization/buildNewDashboardSaveModel.test.ts
  public/app/features/dashboard-scene/serialization/buildNewDashboardSaveModel.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/explore/extensions/AddToDashboard/addToDashboard.ts
Labels: datasource/CloudWatch, area/backend, area/explore, area/frontend, no-backport, no-changelog, area/scenes

#85551 Storage: Add mode-specific dual writers
  pkg/apiserver/rest/dualwriter.go
  pkg/apiserver/rest/dualwriter_mode1.go
  pkg/apiserver/rest/dualwriter_mode2.go
  pkg/apiserver/rest/dualwriter_mode3.go
  pkg/apiserver/rest/dualwriter_mode4.go
Labels: area/backend, no-backport, no-changelog

#84837 Alerting: Add state history polling interval
  public/app/features/alerting/unified/components/rules/state-history/LokiStateHistory.tsx
Labels: area/alerting, area/frontend, add to changelog

#85583 telegram url fix
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-telegram.md
  docs/sources/tutorials/alerting-get-started/index.md
Labels: type/docs, no-backport, no-changelog

#85574 Betterer: Track deprecated layout components usage
  .betterer.results
  .betterer.ts
Labels: area/frontend, no-backport, no-changelog

#85592 PanelEditor: Fix runtime error caused by panels not installed in Grafana instance
  public/app/features/dashboard-scene/panel-edit/PanelEditControls.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
Labels: type/bug, area/frontend, no-changelog, area/scenes, backport v11.0.x

#85095 CloudWatch: Clarify match exact tooltip and docs
  docs/sources/datasources/aws-cloudwatch/query-editor/index.md
  public/app/plugins/datasource/cloudwatch/components/shared/MetricStatEditor/MetricStatEditor.tsx
Labels: type/docs, datasource/CloudWatch, area/frontend, add to changelog, no-backport

#85563 Dashboards: Removes descending z-index assignment for grid items
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
Labels: type/bug, area/dashboard, type/chore, area/frontend, no-changelog, backport v11.0.x

#85010 Alerting: Evaluation quick buttons
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
  public/app/features/alerting/unified/RuleEditorGrafanaRules.test.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/components/rule-editor/EvaluationGroupQuickPick.test.tsx
  public/app/features/alerting/unified/components/rule-editor/EvaluationGroupQuickPick.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/PendingPeriodQuickPick.test.tsx
  public/app/features/alerting/unified/components/rule-editor/PendingPeriodQuickPick.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/ModifyExportRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/getPayloadToExport.test.ts
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/SimplifiedRuleEditor.test.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/utils/__snapshots__/rule-form.test.ts.snap
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/config.ts
  public/app/features/alerting/unified/utils/query.ts
  public/app/features/alerting/unified/utils/rule-form.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/app/features/alerting/unified/utils/time.test.ts
  public/app/features/alerting/unified/utils/time.ts
Labels: area/alerting, area/frontend, add to changelog, 🍐-programming

#85580 Revert "docs: grafana11-upgrade: postgres"
  docs/sources/upgrade-guide/upgrade-v11.0/index.md
Labels: type/docs, no-changelog

#84798 Alerting: Improve template preview
  .betterer.results
  packages/grafana-data/src/types/icon.ts
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/Templates.tsx
  public/app/features/alerting/unified/components/AlertingPageWrapper.tsx
  public/app/features/alerting/unified/components/contact-points/templates/EditorColumnHeader.tsx
  public/app/features/alerting/unified/components/receivers/AlertInstanceModalSelector.tsx
  public/app/features/alerting/unified/components/receivers/PayloadEditor.test.tsx
  public/app/features/alerting/unified/components/receivers/PayloadEditor.tsx
  public/app/features/alerting/unified/components/receivers/TemplateData.ts
  public/app/features/alerting/unified/components/receivers/TemplateDataDocs.tsx
  public/app/features/alerting/unified/components/receivers/TemplateEditor.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplatePreview.test.tsx
  public/app/features/alerting/unified/components/receivers/TemplatePreview.tsx
  public/app/features/alerting/unified/components/receivers/form/GenerateAlertDataModal.tsx
  public/app/features/alerting/unified/mocks/templatesApi.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/alerting, area/frontend, add to changelog, no-backport

#85565 Table Panel: Update background colors to respect transparency
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/styles.ts
  packages/grafana-ui/src/components/Table/types.ts
  packages/grafana-ui/src/components/Table/utils.ts
Labels: area/frontend, add to changelog, no-backport

#85131 Feature Flags: use FeatureToggles interface where possible
  pkg/api/plugin_resource_test.go
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/expr/converter_test.go
  pkg/expr/service_test.go
  pkg/registry/apis/folders/register.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/api_testing_test.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_remote_test.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/sender/router_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
  pkg/services/query/query_test.go
  pkg/services/rendering/rendering.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/extsvcaccounts/service.go
  pkg/services/serviceaccounts/proxy/service.go
  pkg/services/ssosettings/api/api.go
  pkg/services/supportbundles/supportbundlesimpl/service.go
Labels: type/refactor, area/backend, no-backport, no-changelog

#85543 Alerting: Only append `/alertmanager` when sending alerts to mimir targets if not already present
  pkg/services/ngalert/sender/router.go
  pkg/services/ngalert/sender/router_test.go
Labels: type/bug, area/alerting, area/backend, add to changelog, no-backport

#85492 Canvas: Render selected connection last
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
Labels: type/bug, area/frontend, area/panel/canvas, no-backport, no-changelog

#85024 Docs: Fix canvas G11 updates
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Labels: type/docs, area/panel/canvas, no-changelog, backport v11.0.x

#85608 [v10.4.x] Canvas: Infinite Pan Backport
  docs/sources/developers/kinds/composable/canvas/panelcfg/schema-reference.md
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/runtime/SceneTransformWrapper.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
  public/app/plugins/panel/canvas/module.tsx
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Labels: type/docs, area/frontend, backport, area/panel/canvas, no-changelog

#85590 Canvas: Fix SVG element border clipped
  public/app/features/canvas/elements/cloud.tsx
  public/app/features/canvas/elements/ellipse.tsx
  public/app/features/canvas/elements/parallelogram.tsx
  public/app/features/canvas/elements/triangle.tsx
Labels: type/bug, area/frontend, area/panel/canvas, no-backport, no-changelog, area/dataviz

#85610 [v10.4.x] Docs: added infinite pan to canvas docs
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Labels: type/docs, no-backport, no-changelog

#81980 Docs: Add xy chart docs
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
  docs/sources/shared/visualizations/legend-options-2.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, area/panel/xychart, no-changelog, backport v11.0.x

#85615 Docs: add xychart to panel config docs
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
Labels: type/docs, no-changelog, backport v11.0.x

#85566 Transformations: Update transformation disabled UI presentation
  public/app/features/dashboard/components/TransformationsEditor/TransformationPickerNg.tsx
Labels: area/frontend, no-changelog

#85602 Scenes: Add modal ref to custom tabs
  public/app/features/dashboard-scene/sharing/ShareModal.tsx
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x

#85571 Angular deprecation: Prefer local "angularDetected" value to the remote one
  public/app/features/plugins/admin/__mocks__/localPlugin.mock.ts
  public/app/features/plugins/admin/__mocks__/remotePlugin.mock.ts
  public/app/features/plugins/admin/helpers.test.ts
  public/app/features/plugins/admin/helpers.ts
Labels: type/bug, area/plugins, area/frontend, add to changelog, area/plugins-catalog, backport v10.4.x

#85585 E2C: Resources table refactor
  pkg/services/cloudmigration/model.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/api/index.ts
  public/app/features/migrate-to-cloud/fixtures/migrationItems.ts
  public/app/features/migrate-to-cloud/fixtures/mswAPI.ts
  public/app/features/migrate-to-cloud/fixtures/others.ts
  public/app/features/migrate-to-cloud/onprem/NameCell.tsx
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.test.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.tsx
  public/app/features/migrate-to-cloud/onprem/StatusCell.tsx
  public/app/features/migrate-to-cloud/onprem/TypeCell.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-changelog

#83980 LibraryPanelRBAC: Fix issue with importing dashboards containing library panels
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/database.go
Labels: type/bug, area/backend, add to changelog, area/frontend/library-panels

#85621 DashboardScene: Fixes panel edit issue with clearing title not resulting in hover header mode
  public/app/features/dashboard-scene/panel-edit/PanelOptions.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptions.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/panel-edit/getPanelFrameOptions.tsx
  public/app/features/dashboard/components/PanelEditor/getPanelFrameOptions.tsx
Labels: type/bug, area/frontend, add to changelog, no-changelog, missing-labels, backport v11.0.x

#85624 Users and ServiceAccount table: UX consistency updates
  public/app/features/admin/Users/UsersTable.tsx
  public/app/features/serviceaccounts/ServiceAccountTable.tsx
  public/app/features/teams/TeamList.tsx
Labels: area/frontend, no-backport, no-changelog

#84320 Scenes: Persist changes made in edit mode to save model
  .betterer.results
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
Labels: type/bug, area/dashboard, area/frontend, no-changelog, area/scenes

#85631 [v10.4.x] Angular deprecation: Prefer local "angularDetected" value to the remote one
  public/app/features/plugins/admin/__mocks__/localPlugin.mock.ts
  public/app/features/plugins/admin/__mocks__/remotePlugin.mock.ts
  public/app/features/plugins/admin/helpers.test.ts
  public/app/features/plugins/admin/helpers.ts
Labels: type/bug, area/plugins, area/frontend, add to changelog, backport, area/plugins-catalog

#85632 [v11.0.x] Angular deprecation: Prefer local "angularDetected" value to the remote one
  public/app/features/plugins/admin/__mocks__/localPlugin.mock.ts
  public/app/features/plugins/admin/__mocks__/remotePlugin.mock.ts
  public/app/features/plugins/admin/helpers.test.ts
  public/app/features/plugins/admin/helpers.ts
Labels: type/bug, area/plugins, area/frontend, add to changelog, backport, area/plugins-catalog

#85639 GrafanaUI: `IconButton` - replace HorizontalGroup and VerticalGroup with Stack component
  packages/grafana-ui/src/components/IconButton/IconButton.story.tsx
Labels: area/frontend, no-backport, no-changelog, saga design system

#85587 Email: trigger email verification flow
  pkg/api/api.go
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/services/auth/id.go
  pkg/services/auth/identity/requester.go
  pkg/services/auth/idimpl/service.go
  pkg/services/auth/idtest/mock.go
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
  pkg/services/user/model.go
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/verifier.go
  pkg/services/user/userimpl/verifier_test.go
Labels: area/backend, no-changelog

#85642 Revert "Chore: Update glob-stream"
  yarn.lock
Labels: no-changelog

#85605 Alerting: Make retention period configurable for the notification log
  conf/defaults.ini
  conf/sample.ini
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/setting/setting_unified_alerting.go
Labels: area/alerting, area/backend, no-changelog, missing-labels, backport v10.2.x

#84609 NodeGraph: Fix configuring arc colors with mixed case field names
  public/app/plugins/panel/nodeGraph/utils.test.ts
  public/app/plugins/panel/nodeGraph/utils.ts
Labels: type/bug, area/frontend, add to changelog, pr/external, area/panel/node-graph

#85648 Betterer: improve the deprecated layout components usage tracking
  .betterer.results
  .betterer.ts
Labels: area/frontend, no-backport, no-changelog

#85643 AuthN: reset email verified on email change
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/authnimpl/sync/user_sync_test.go
Labels: area/backend, no-changelog

#85645 Chore: Remove flaky test
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/explorePage.spec.ts
Labels: type/chore, area/frontend, no-changelog

#85656 Update CODEOWNERS file for Explore docs
  .github/CODEOWNERS
Labels: no-changelog, missing-labels, backport v10.4.x, backport v11.0.x

#85644 Grafana UI: `Button.story.tsx` - Replace HorizontalGroup and VerticalGroup with Stack and Box
  .betterer.results
  packages/grafana-ui/src/components/Button/Button.story.tsx
Labels: area/frontend, no-backport, no-changelog, saga design system

#85393 Alerting: Export pure function to convert query results to alert results
  pkg/services/ngalert/eval/eval.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#85649 Auth: Convert SetDefaultOrgHook to PostLoginHook
  pkg/services/anonymous/anonimpl/impl.go
  pkg/services/authn/authnimpl/registration.go
  pkg/services/authn/authnimpl/sync/org_sync.go
  pkg/services/authn/authnimpl/sync/org_sync_test.go
Labels: type/bug, area/auth, area/backend, no-changelog, backport v11.0.x

#85660 GrafanaUI: `ConfirmModal` - replace `HorizontalGroup` with `Stack` and `Box` component
  .betterer.results
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
Labels: area/frontend, no-backport, no-changelog, saga design system

#85611 Alerting: Return better error for invalid time range on alert queries
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/models/alert_query.go
  pkg/services/ngalert/models/alert_query_test.go
  pkg/services/ngalert/models/errors.go
Labels: type/bug, area/alerting, area/backend, add to changelog, no-backport

#85541 Scenes: Add PDF tab in share modal
  public/app/features/variables/utils.test.ts
  public/app/features/variables/utils.ts
Labels: type/bug, area/dashboard/templating, area/frontend, no-changelog, backport v11.0.x

#85556 Canvas: Add support for line animation
  public/app/features/canvas/element.ts
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
  public/app/plugins/panel/canvas/editor/LineStyleEditor.tsx
  public/app/plugins/panel/canvas/types.ts
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, add to changelog, area/panel/canvas, no-backport

#85584 Add `auto` to refresh picker
  .betterer.results
  package.json
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/saving/DetectChangesWorker.ts
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.test.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardForm.tsx
  public/app/features/dashboard-scene/saving/getDashboardChanges.ts
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.test.ts
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.ts
  public/app/features/dashboard-scene/saving/getSaveDashboardChange.ts
  public/app/features/dashboard-scene/saving/shared.tsx
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  yarn.lock
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x

#84835 CloudWatch: Improve metric label parsing
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tsdb/cloudwatch/features/features.go
  pkg/tsdb/cloudwatch/metric_data_input_builder.go
  pkg/tsdb/cloudwatch/metric_data_input_builder_test.go
  pkg/tsdb/cloudwatch/metric_data_query_builder.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
Labels: type/docs, datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport

#85661 Cloudmigration: Sets the runID correctly when saving
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_noop.go
Labels: area/backend, no-changelog

#85400 docs: add missing viz types to index
  docs/sources/panels-visualizations/visualizations/_index.md
Labels: type/docs, no-changelog, area/dataviz, backport v10.2.x, backport v10.3.x, backport v10.4.x, backport v11.0.x

#85613 Fixes #81465: Exclude-null now it's getting initialized properly by default
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.test.tsx
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.tsx
Labels: area/frontend, pr/external, area/transformations, no-backport, no-changelog

#85685 [v10.4.x] docs: add missing viz types to index
  docs/sources/panels-visualizations/visualizations/_index.md
Labels: type/docs, backport, no-changelog, area/dataviz

#85686 [v10.3.x] docs: add missing viz types to index
  docs/sources/panels-visualizations/visualizations/_index.md
Labels: type/docs, backport, no-changelog, area/dataviz

#85688 [v10.2.x] docs: add missing viz types to index
  docs/sources/panels-visualizations/visualizations/_index.md
Labels: type/docs, backport, no-changelog, area/dataviz

#85420 Canvas: Limit connection vertex radius to numeric fields
  public/app/features/dimensions/editors/ScaleDimensionEditor.tsx
  public/app/features/dimensions/types.ts
  public/app/plugins/panel/canvas/editor/options.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog

#85614 Annotations: Fix annotation title
  .betterer.results
  public/app/features/alerting/state/alertDef.ts
  public/app/plugins/panel/timeseries/plugins/annotations2/AnnotationTooltip2.tsx
Labels: type/bug, area/annotations, area/frontend, area/panel/timeseries, no-changelog, backport v11.0.x

#85554 Reducers: Add in basic Percentile Support
  .betterer.results
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
Labels: area/frontend, add to changelog, no-backport

#84603 Docs: What’s new & Upgrade guide & Breaking changes v11.0-preview
  docs/sources/_index.md
  docs/sources/breaking-changes/breaking-changes-v11-0.md
  docs/sources/upgrade-guide/upgrade-v11.0/index.md
  docs/sources/whatsnew/_index.md
  docs/sources/whatsnew/whats-new-in-v11-0.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x

#85669 Chore: Use latest version of plugin-e2e
  e2e/plugin-e2e/mysql/mysql.spec.ts
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/panelEditPage.spec.ts
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/variableEditPage.spec.ts
  package.json
  yarn.lock
Labels: area/frontend, no-changelog

#85681 Bump scenes to v4.5.4
  package.json
  yarn.lock
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x

#85706 [v11.0.x] Bump scenes to v4.5.4
  package.json
  yarn.lock
Labels: type/bug, area/frontend, backport, no-changelog

#85408 Chore: Fix test to retry fetching provisioned dashboard until is in place
  pkg/tests/api/dashboards/api_dashboards_test.go
Labels: area/backend, no-backport, no-changelog

#85692 Alerting docs: update `disable_provenance` TF mute_timing
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
Labels: type/docs, area/alerting, no-changelog, backport v10.4.x

#85707 Authn: Ignore context.Canceled errors when logging auth errors
  pkg/services/authn/authnimpl/service.go
Labels: area/backend, no-changelog

#85664 [v11.0.x] Auth: Convert SetDefaultOrgHook to PostLoginHook
  pkg/services/anonymous/anonimpl/impl.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/sync/org_sync.go
  pkg/services/authn/authnimpl/sync/org_sync_test.go
Labels: type/bug, area/auth, area/backend, backport, no-changelog

#85659 Chore: Improve types
  .betterer.results
  packages/grafana-prometheus/src/datasource.ts
  packages/grafana-prometheus/src/language_provider.ts
  packages/grafana-prometheus/src/language_utils.ts
  packages/grafana-prometheus/src/metric_find_query.ts
  packages/grafana-prometheus/src/query_hints.ts
  packages/grafana-prometheus/src/querybuilder/binaryScalarOperations.ts
  packages/grafana-prometheus/src/querybuilder/components/MetricSelect.tsx
  packages/grafana-ui/src/components/DataSourceSettings/types.ts
  public/app/features/correlations/__mocks__/useCorrelations.mocks.ts
  public/app/plugins/datasource/cloudwatch/memoizedDebounce.ts
  public/app/plugins/datasource/elasticsearch/ElasticResponse.ts
  public/app/plugins/datasource/elasticsearch/LegacyQueryRunner.ts
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/grafana-postgresql-datasource/datasource.test.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/graphite/datasource.ts
  public/app/plugins/datasource/graphite/state/helpers.ts
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/query_part.ts
  public/app/plugins/datasource/jaeger/helpers/createFetchResponse.ts
  public/app/plugins/datasource/jaeger/testResponse.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/LiveStreams.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/queryUtils.ts
  public/app/plugins/datasource/loki/querybuilder/binaryScalarOperations.ts
  public/app/plugins/datasource/loki/streaming.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/opentsdb/datasource.ts
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/ConfigEditorPackage.tsx
  public/app/plugins/datasource/prometheus/datasource.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/query_hints.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricSelect.tsx
  public/app/plugins/datasource/tempo/_importedDependencies/test/helpers/createFetchResponse.ts
  public/app/plugins/datasource/zipkin/utils/testResponse.ts
  public/app/plugins/panel/canvas/editor/element/PlacementEditor.tsx
  public/app/plugins/panel/canvas/editor/inline/InlineEditBody.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
  public/app/plugins/panel/geomap/editor/GeomapStyleRulesEditor.tsx
  public/app/plugins/panel/geomap/editor/StyleRuleEditor.tsx
  public/test/helpers/createFetchResponse.ts
Labels: datasource/InfluxDB, datasource/Graphite, datasource/OpenTSDB, datasource/Elasticsearch, type/chore, datasource/Prometheus, datasource/CloudWatch, datasource/MySQL, datasource/Postgres, area/frontend, datasource/Loki, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, area/panel/geomap, area/panel/canvas, no-backport, levitate breaking change, no-changelog

#85627 docs: email contact point
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-email.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-telegram.md
Labels: type/docs, area/alerting, no-backport, no-changelog

#83034 Provisioning: datasources auto deletion
  docs/sources/administration/provisioning/index.md
  pkg/services/datasources/datasources.go
  pkg/services/datasources/fakes/fake_datasource_service.go
  pkg/services/datasources/models.go
  pkg/services/datasources/service/datasource.go
  pkg/services/datasources/service/store.go
  pkg/services/datasources/service/store_test.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/datasources/testdata/after-auto-deletion/provision1.yaml
  pkg/services/provisioning/datasources/testdata/after-auto-deletion/provision3.yaml
  pkg/services/provisioning/datasources/testdata/before-auto-deletion/provision1.yaml
  pkg/services/provisioning/datasources/testdata/before-auto-deletion/provision2.yaml
  pkg/services/provisioning/datasources/testdata/before-auto-deletion/provision3.yaml
  pkg/services/provisioning/datasources/types.go
  pkg/services/sqlstore/migrations/datasource_mig.go
Labels: type/docs, type/build-packaging, area/backend, pr/external, area/backend/db/migration, no-backport, no-changelog

#85676 Alerting: Update grafana/alerting and use Upsert for creating silences
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/services/ngalert/notifier/silences.go
  pkg/tests/api/alerting/api_alertmanager_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog, kata:am_unify

#85378 Detect folder changes when saving a dashboard
  .betterer.results
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/saving/SaveDashboardAsForm.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardForm.tsx
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.test.ts
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.ts
  public/app/features/dashboard-scene/saving/getSaveDashboardChange.ts
  public/app/features/dashboard-scene/saving/shared.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/settings/GeneralSettingsEditView.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDiff.tsx
Labels: type/bug, area/frontend, no-changelog, area/scenes, backport v11.0.x

#85663 GrafanaUI: `DateTimePicker` - replace `HorizontalGroup` with `Stack` component
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
Labels: area/frontend, no-backport, no-changelog, saga design system

#85720 Docs: Remove excess text in changelog
  CHANGELOG.md
Labels: type/docs, no-backport, no-changelog

#85717 Dashboards: Fix issue with changing panel JSON from edit view
  public/app/features/inspector/InspectJSONTab.tsx
Labels: type/bug, area/dashboard, area/frontend, no-changelog, backport v11.0.x

#85727 [v11.0.x] Detect folder changes when saving a dashboard
  .betterer.results
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/saving/SaveDashboardAsForm.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardForm.tsx
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.test.ts
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.ts
  public/app/features/dashboard-scene/saving/getSaveDashboardChange.ts
  public/app/features/dashboard-scene/saving/shared.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/settings/GeneralSettingsEditView.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDiff.tsx
Labels: type/bug, area/frontend, backport, no-changelog, area/scenes

#85684 PublicDashboards: Footer fix for scenes
  public/app/features/dashboard-scene/pages/PublicDashboardScenePage.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#84868 Storage: Support continue at specified resource version
  pkg/services/store/entity/dummy/fake_store.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/sqlstash/querybuilder.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Labels: area/backend, no-backport, no-changelog

#85702 Docs: Re-order features and update intro in Grafana 11.0-preview What's new
  docs/sources/whatsnew/whats-new-in-v11-0.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x

#85316 Storage Api: Add metrics
  pkg/modules/dependencies.go
  pkg/server/instrumentation_service.go
  pkg/server/instrumentation_service_test.go
  pkg/server/module_server.go
  pkg/server/module_server_test.go
  pkg/services/store/entity/server/service.go
  pkg/services/store/entity/sqlstash/metrics.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Labels: area/backend, add to changelog, no-backport

#85739 [v11.0.x] Docs: Re-order features and update intro in Grafana 11.0-preview What's new
  docs/sources/whatsnew/whats-new-in-v11-0.md
Labels: type/docs, backport, no-changelog

#85731 DashboardScene: Fixes issue with mobile responsive layout due to repeated grid item class
  public/app/features/dashboard-scene/scene/DashboardGridItem.test.tsx
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
Labels: type/bug, area/frontend, add to changelog, missing-labels, backport v11.0.x

#85738 Docs: add youtube links to g11 preview what's new
  docs/sources/whatsnew/whats-new-in-v11-0.md
Labels: type/docs, no-changelog, backport v11.0.x

#85523 postgres: add tests to handle multiple statements in the same query
  pkg/tsdb/grafana-postgresql-datasource/postgres_snapshot_test.go
  pkg/tsdb/grafana-postgresql-datasource/testdata/table/multi_stat1.golden.jsonc
  pkg/tsdb/grafana-postgresql-datasource/testdata/table/multi_stat1.sql
  pkg/tsdb/grafana-postgresql-datasource/testdata/table/multi_stat2.golden.jsonc
  pkg/tsdb/grafana-postgresql-datasource/testdata/table/multi_stat2.sql
Labels: datasource/Postgres, area/backend, no-changelog

#85736 Grafana UI: `FilterPill.story.tsx` - Replace `HorizontalGroup` with `Stack`
  .betterer.results
  packages/grafana-ui/src/components/FilterPill/FilterPill.story.tsx
Labels: area/frontend, no-backport, no-changelog, saga design system

#84106 Alerting docs: add `Template variable interpolation` section in file provisioning
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
Labels: type/docs, area/alerting, no-changelog, backport v10.4.x

#85749 [v10.4.x] Docs: Re-order features and update intro in Grafana 11.0-preview What's new
  docs/sources/whatsnew/whats-new-in-v11-0.md
Labels: type/docs, backport, no-changelog

#85212 PR to document Explore Metrics (previously datatrails)
  docs/sources/explore/explore-metrics.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x

#85218 Alerting: Add description of a new role
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
Labels: type/docs, no-changelog

#85759 Docs: g11 preview whats new fixes
  docs/sources/upgrade-guide/upgrade-v11.0/index.md
  docs/sources/whatsnew/whats-new-in-v11-0.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x

#85418 Alerting: Introduce authorization logic for operations on silences
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol/accesscontrol.go
  pkg/services/ngalert/accesscontrol/rules.go
  pkg/services/ngalert/accesscontrol/rules_test.go
  pkg/services/ngalert/accesscontrol/silences.go
  pkg/services/ngalert/accesscontrol/silences_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog, area/auth/rbac

#85693 DataTrails: Do not create a new VizPanel every activation
  public/app/features/trails/AutomaticMetricQueries/AutoVizPanel.tsx
  public/app/features/trails/MetricGraphScene.tsx
Labels: type/bug, area/frontend, no-changelog, missing-labels, backport v11.0.x

#85530 PostgreSQL: Fix the verify-ca mode
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
Labels: type/bug, datasource/Postgres, area/backend, add to changelog, backport v11.0.x

#85622 Alerting: Get oncall metada only when we have alert manager configuration data
  public/app/features/alerting/unified/components/contact-points/ContactPoints.test.tsx
  public/app/features/alerting/unified/components/contact-points/__mocks__/alertmanager.config.mock.json
  public/app/features/alerting/unified/components/contact-points/__snapshots__/NewContactPoint.test.tsx.snap
  public/app/features/alerting/unified/components/contact-points/__snapshots__/useContactPoints.test.tsx.snap
  public/app/features/alerting/unified/components/contact-points/useContactPoints.test.tsx
  public/app/features/alerting/unified/components/contact-points/utils.ts
  public/app/features/alerting/unified/components/receivers/grafanaAppReceivers/useReceiversMetadata.ts
  public/app/features/alerting/unified/mockApi.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog, no-backport

#85776 Move all "add" actions into a dropdown
  public/app/features/dashboard-scene/scene/NavToolbarActions.test.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
Labels: type/bug, area/frontend, no-changelog, backport v11.0.x
