Repository grafana/grafana, pull requests merged in 2024-10, with the labels that each got.

#94035 Chore: Fix flaky cloud migration test
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
  pkg/services/secrets/kvstore/migrations/to_plugin_mig_test.go
  pkg/services/secrets/kvstore/test_helpers.go
Labels: area/backend, no-changelog

#93639 CloudMigrations: Limit frontend query to get latest snapshots
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/api/api_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/fake/cloudmigration_fake.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
  pkg/services/cloudmigration/model.go
  public/api-enterprise-spec.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/onprem/Page.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog

#93693 DataTrail: Remove newFiltersUI feature toggle usage from explore metrics
  public/app/features/trails/DataTrail.tsx
Labels: area/explore, area/frontend, no-changelog, area/exploremetrics

#93529 Chore: Fix legend changing when using incremental querying
  packages/grafana-prometheus/src/querycache/QueryCache.test.ts
  packages/grafana-prometheus/src/querycache/QueryCache.ts
  packages/grafana-prometheus/src/querycache/QueryCacheTestData.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#93363 Chore: bump module github.com/rs/cors from v1.10.1 to v1.11.1
  go.mod
  go.sum
  go.work.sum
Labels: area/backend, pr/external, no-backport, no-changelog

#94024 Navigation: Fix empty admin menu
  pkg/services/navtree/navtreeimpl/navtree.go
Labels: type/bug, area/backend, no-backport, no-changelog

#94043 Fix panel search
  public/app/features/dashboard-scene/scene/PanelSearchLayout.tsx
Labels: area/dashboard, area/frontend, no-changelog, area/scenes, team/grafana-dashboards

#94053 SingleTopNav: Move org switcher into Megamenu header
  public/app/core/components/AppChrome/MegaMenu/MegaMenuHeader.tsx
  public/app/core/components/AppChrome/OrganizationSwitcher/OrganizationSwitcher.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#94057 Alerting docs: relocate `Intro>Notifications>Templates`
  docs/sources/alerting/fundamentals/templates.md
Labels: type/docs, area/alerting, no-changelog, backport v11.2.x

#94041 Announcement banner: Enable feature toggle by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, no-changelog

#93454 Change from Apps to "More Apps"
  pkg/services/navtree/navtreeimpl/applinks.go
  pkg/services/navtree/navtreeimpl/applinks_test.go
  public/app/core/utils/navBarItem-translations.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#94061 Routing: Replace useHistory hook
  public/app/features/gops/configuration-tracker/components/ConfigureIRM.tsx
  public/app/features/plugins/admin/pages/Browse.test.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: area/frontend, no-changelog

#94001 Prometheus: Add resource for suggestions that include scopes/adhoc filters
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/variableEditPage.spec.ts
  packages/grafana-prometheus/src/datasource.ts
  packages/grafana-prometheus/src/language_provider.ts
  pkg/promlib/library.go
  pkg/promlib/library_test.go
  pkg/promlib/models/scope.go
  pkg/promlib/resource/resource.go
Labels: datasource/Prometheus, area/backend, area/frontend, no-changelog, area/scopes

#94063 CloudMigrations: document and re-generate api for syncing
  pkg/services/cloudmigration/api/dtos.go
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/README.md
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#94020 ShareButton: Split copy link button and dropdown
  public/app/features/dashboard-scene/sharing/ShareButton/ShareButton.tsx
  public/app/features/dashboard-scene/utils/interactions.ts
Labels: area/frontend, no-backport, no-changelog

#92847 Dashboard Scene: Improve Angular experience
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.test.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/scene/angular/AngularDeprecation.tsx
  public/app/features/dashboard-scene/scene/angular/DashboardAngularDeprecationBanner.tsx
  public/app/features/dashboard-scene/serialization/angularMigration.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/utils/dashboardSceneGraph.ts
  public/app/features/plugins/angularDeprecation/AngularDeprecationPluginNotice.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, kind/enhancement, no-changelog, area/scenes

#94046 RestoreDashboards: Fix 'Dashboards' typo in folder picker
  pkg/services/folder/model.go
Labels: area/backend, no-backport, no-changelog

#93934 RestoreDashboards: Improve tracking
  public/app/features/browse-dashboards/components/BrowseActions/DeleteModal.tsx
Labels: area/frontend, no-backport, no-changelog

#93918 Routing: Update more components using props.match to use hooks
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/admin/UserAdminPage.tsx
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/components/export/GrafanaModifyExport.test.tsx
  public/app/features/alerting/unified/components/export/GrafanaModifyExport.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/app/features/browse-dashboards/BrowseDashboardsPage.test.tsx
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/dashboard-scene/pages/PublicDashboardScenePage.test.tsx
  public/app/features/dashboard-scene/pages/PublicDashboardScenePage.tsx
  public/app/features/dashboard/containers/PublicDashboardPage.test.tsx
  public/app/features/dashboard/containers/PublicDashboardPage.tsx
  public/app/features/dashboard/containers/PublicDashboardPageProxy.test.tsx
  public/app/features/dashboard/containers/PublicDashboardPageProxy.tsx
  public/app/features/invites/SignupInvited.test.tsx
  public/app/features/invites/SignupInvited.tsx
  public/app/features/playlist/PlaylistEditPage.test.tsx
  public/app/features/playlist/PlaylistEditPage.tsx
  public/app/features/playlist/PlaylistStartPage.tsx
  public/app/features/plugins/components/AppRootPage.tsx
  public/app/features/plugins/routes.tsx
  public/app/routes/routes.tsx
Labels: area/frontend, no-changelog

#93862 Alerting: Improve Amazon SNS documentation
  docs/sources/alerting/configure-notifications/manage-contact-points/_index.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-amazon-sns.md
Labels: type/docs, area/alerting, no-changelog

#94078 UI/AutoSizeInput: Fixes issue where controlledValue being null caused crash
  packages/grafana-ui/src/components/Input/AutoSizeInput.tsx
Labels: type/bug, area/frontend, no-changelog, backport v11.2.x

#94064 Alerting docs: update that test functionality only for G Alertmanager
  docs/sources/alerting/configure-notifications/manage-contact-points/_index.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-amazon-sns.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-discord.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-email.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-google-chat.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-mqtt.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-opsgenie.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-slack.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-teams.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-telegram.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/pager-duty.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/webhook-notifier.md
Labels: type/docs, backport, no-changelog, backport v11.0.x, backport v11.1.x, backport v11.2.x

#94087 Prometheus: Interpolate vars in adhoc filters request
  packages/grafana-prometheus/src/datasource.ts
  packages/grafana-prometheus/src/language_provider.ts
  pkg/promlib/models/query.go
  pkg/promlib/resource/resource.go
Labels: area/dashboard, datasource/Prometheus, area/backend, area/frontend, no-backport, no-changelog, area/scopes

#94030 Alerting: Update GettableRuleGroupConfig with missing fields supported by Prometheus
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Labels: type/bug, area/alerting, area/backend, area/frontend, no-backport, no-changelog

#94097 Revert "Unistore : Ensure Watch works in HA mode."
  pkg/apiserver/storage/testing/watcher_tests.go
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/apistore/store_test.go
  pkg/storage/unified/apistore/stream.go
  pkg/storage/unified/apistore/watcher_test.go
  pkg/storage/unified/apistore/watchset.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/backend_test.go
  pkg/storage/unified/sql/data/resource_history_insert.sql
  pkg/storage/unified/sql/data/resource_history_poll.sql
  pkg/storage/unified/sql/data/resource_insert.sql
  pkg/storage/unified/sql/data/resource_version_insert.sql
  pkg/storage/unified/sql/db/migrations/resource_mig.go
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/mysql--resource_history_poll-single path.sql
  pkg/storage/unified/sql/testdata/mysql--resource_insert-simple.sql
  pkg/storage/unified/sql/testdata/mysql--resource_version_insert-single path.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_poll-single path.sql
  pkg/storage/unified/sql/testdata/postgres--resource_insert-simple.sql
  pkg/storage/unified/sql/testdata/postgres--resource_version_insert-single path.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_poll-single path.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_insert-simple.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_version_insert-single path.sql
Labels: area/backend, area/backend/db/migration, no-changelog

#94103 Update CHANGELOG.md
  CHANGELOG.md
Labels: no-backport, no-changelog

#94112 CI: upgrade grabpl v3.0.53
  .drone.yml
  scripts/drone/variables.star
Labels: type/ci, no-changelog, backport v10.3.x, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x

#94106 Explore metrics: Fix bug that turns off otel experience when selecting otel variables
  public/app/features/trails/DataTrail.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog, area/exploremetrics

#94115 [v11.2.x] Chore: Fix flaky cloud migration test
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
  pkg/services/secrets/kvstore/migrations/to_plugin_mig_test.go
  pkg/services/secrets/kvstore/test_helpers.go
Labels: type/bug, area/backend, backport, no-changelog

#94121 [v10.3.x] CI: upgrade grabpl v3.0.53
  .drone.yml
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#94122 [v10.4.x] CI: upgrade grabpl v3.0.53
  .drone.yml
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#94124 [v11.1.x] CI: upgrade grabpl v3.0.53
  .drone.yml
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#94123 [v11.0.x] CI: upgrade grabpl v3.0.53
  .drone.yml
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#94125 [v11.2.x] CI: upgrade grabpl v3.0.53
  .drone.yml
  scripts/drone/variables.star
Labels: backport, type/ci, no-changelog

#94072 Routing: Replace Redirect component with Navigate
  public/app/AppWrapper.tsx
  public/app/core/components/FormPrompt/FormPrompt.tsx
  public/app/features/alerting/unified/MuteTimings.tsx
  public/app/features/alerting/unified/RedirectToRuleViewer.test.tsx
  public/app/features/alerting/unified/RedirectToRuleViewer.tsx
  public/app/features/alerting/unified/components/rules/CloneRule.tsx
  public/app/features/connections/Connections.tsx
  public/app/features/trails/DataTrailsHome.tsx
  public/app/routes/routes.tsx
Labels: area/frontend, no-changelog

#94117 FIX: typo in generic oauth org mapping json
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Labels: type/docs, pr/external, no-changelog

#94058 Navigation: Don't show "add new connection" if user has no permissions
  pkg/services/datasources/accesscontrol.go
Labels: type/bug, area/backend, area/navigation, no-backport, no-changelog

#94107 Update CHANGELOG.md to include CVE
  CHANGELOG.md
Labels: no-backport, no-changelog

#94108 Update CHANGELOG.md in 10.4.x
  CHANGELOG.md
Labels: no-backport, no-changelog

#94093 SSO LDAP: Bug-bashing follow-up changes
  public/app/features/admin/ldap/LdapDrawer.tsx
  public/app/features/admin/ldap/LdapSettingsPage.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog

#94067 Alerting: Make templates selector use k8s API
  public/app/features/alerting/unified/Templates.test.tsx
  public/app/features/alerting/unified/components/contact-points/__mocks__/alertmanager.config.mock.json
  public/app/features/alerting/unified/components/receivers/__snapshots__/NewReceiverView.test.tsx.snap
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.test.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#94073 Plugin E2E: Add more api tests
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/dashboard.ts
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/panelEditPage.spec.ts
  package.json
  yarn.lock
Labels: area/frontend, no-changelog

#94137 Auth: Fix redirection in case of ERR_TOKEN_REVOKED
  public/app/core/services/backend_srv.ts
  public/app/core/services/context_srv.ts
Labels: area/auth, area/frontend, no-changelog

#94081 SingleTopNav: Flip collapse arrows for better alignment
  public/app/core/components/AppChrome/MegaMenu/MegaMenuHeader.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenuItem.tsx
  public/app/core/components/AppChrome/OrganizationSwitcher/OrganizationSwitcher.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#94070 Chore: fix initialization data race in infra usagestats
  pkg/infra/usagestats/service/service.go
Labels: area/backend, no-changelog

#94140 PanelSearchLayout: Support repeat panels
  public/app/features/dashboard-scene/scene/PanelSearchLayout.tsx
Labels: area/dashboard, area/frontend, area/templating/repeating, no-backport, no-changelog

#93779 Alerting: Hide query name when using simplified mode in the alert rule
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/features/query/components/QueryEditorRowHeader.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#94143 Prometheus: Suggestions - log parse errors and continue
  pkg/promlib/resource/resource.go
Labels: datasource/Prometheus, area/backend, no-changelog

#93407 Alerting: Update OnCall integration url
  public/app/features/alerting/unified/api/onCallApi.ts
  public/app/features/alerting/unified/mocks/server/handlers/plugins/grafana-oncall.ts
Labels: area/alerting, area/frontend, no-changelog

#94118 Docs: Fix Sharing page aliases
  docs/sources/dashboards/create-reports/index.md
  docs/sources/dashboards/share-dashboards-panels/_index.md
Labels: type/docs, no-changelog

#88456 Alerting: Use useProduceNewAlertmanagerConfiguration for contact points
  public/app/features/alerting/unified/components/contact-points/ContactPoint.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPointHeader.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.test.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.tsx
  public/app/features/alerting/unified/components/contact-points/useContactPoints.ts
  public/app/features/alerting/unified/components/receivers/form/CloudReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.test.tsx
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.tsx
  public/app/features/alerting/unified/hooks/mergeRequestStates.tsx
  public/app/features/alerting/unified/hooks/useProduceNewAlertmanagerConfig.ts
  public/app/features/alerting/unified/mockApi.ts
  public/app/features/alerting/unified/reducers/alertmanager/__snapshots__/receivers.test.ts.snap
  public/app/features/alerting/unified/reducers/alertmanager/muteTimings.test.ts
  public/app/features/alerting/unified/reducers/alertmanager/muteTimings.ts
  public/app/features/alerting/unified/reducers/alertmanager/receivers.test.ts
  public/app/features/alerting/unified/reducers/alertmanager/receivers.ts
  public/app/features/alerting/unified/state/actions.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
  public/app/features/alerting/unified/utils/receiver-form.ts
Labels: area/alerting, area/frontend, add to changelog

#94153 User: Pass name to list users to filter out the correct one
  pkg/registry/apis/iam/user/store.go
Labels: area/backend, no-changelog

#93998 API Server: Fix extracting jaeger remote trace from incoming request
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apiserver/endpoints/filters/jaeger_tracing.go
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/services/apiserver/builder/helper.go
Labels: area/backend, no-backport, no-changelog

#94157 Alerting: Pluralize error tag
  public/app/features/alerting/unified/components/rules/RuleStats.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#92112 Alerting: Support k8s templates API
  .betterer.results
  public/app/features/alerting/unified/Templates.test.tsx
  public/app/features/alerting/unified/api/templateApi.ts
  public/app/features/alerting/unified/api/util.ts
  public/app/features/alerting/unified/components/contact-points/DuplicateMessageTemplate.tsx
  public/app/features/alerting/unified/components/contact-points/EditMessageTemplate.tsx
  public/app/features/alerting/unified/components/contact-points/NewMessageTemplate.tsx
  public/app/features/alerting/unified/components/contact-points/NotificationTemplates.test.tsx
  public/app/features/alerting/unified/components/contact-points/__mocks__/alertmanager.config.mock.json
  public/app/features/alerting/unified/components/contact-points/useNotificationTemplates.ts
  public/app/features/alerting/unified/components/receivers/DuplicateTemplateView.tsx
  public/app/features/alerting/unified/components/receivers/EditTemplateView.tsx
  public/app/features/alerting/unified/components/receivers/NewTemplateView.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/components/receivers/__snapshots__/NewReceiverView.test.tsx.snap
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.test.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
  public/app/features/alerting/unified/mocks/server/all-handlers.ts
  public/app/features/alerting/unified/mocks/server/handlers/k8s/templates.k8s.ts
  public/app/features/alerting/unified/openapi/templatesApi.gen.ts
  scripts/generate-alerting-rtk-apis.ts
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#94086 RestoreDashboards: Fix restoring to 'Dashboards'
  public/app/features/browse-dashboards/components/RecentlyDeletedActions.tsx
  public/app/features/browse-dashboards/components/RestoreModal.tsx
  public/app/features/search/service/sql.ts
Labels: area/frontend, no-backport, no-changelog

#94101 Docs: Geomap visualization refactor
  docs/sources/panels-visualizations/visualizations/geomap/index.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x

#94163 Auth; Fix shourt url redirect when useSessionStorageForRedirection is enabled
  public/app/app.ts
Labels: area/auth, area/frontend, no-changelog

#94136 Chore: Updating codeowners for plugins cli commands
  .github/CODEOWNERS
Labels: type/chore, no-backport, no-changelog

#94038 Query Library: Search and filter
  public/app/features/explore/QueryLibrary/QueryLibrary.tsx
  public/app/features/explore/QueryLibrary/QueryLibraryAnalyticsEvents.ts
  public/app/features/explore/QueryLibrary/QueryTemplatesList.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/QueryDescriptionCell.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/index.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/types.ts
  public/app/features/explore/QueryLibrary/utils/search.ts
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.test.tsx
  public/app/features/explore/RichHistory/RichHistoryQueriesTab.tsx
  public/app/features/explore/spec/queryLibrary.test.tsx
  public/app/features/query-library/api/factory.ts
  public/app/features/query-library/api/query.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/explore, area/frontend, no-backport, no-changelog, area/query-library

#94155 Cloudwatch: Update grafana-aws-sdk
  go.mod
  go.sum
  go.work.sum
Labels: datasource/CloudWatch, area/backend, add to changelog, area/datasource, no-backport

#94167 Move CVE-2024-8118 to correct versions
  CHANGELOG.md
Labels: no-backport, no-changelog

#94166 Move CVE-2024-8118 to changelog of 11.1.6
  CHANGELOG.md
Labels: no-backport, no-changelog

#94165 Move CVE-2024-8118 to changelog of 11.0.5
  CHANGELOG.md
Labels: no-backport, no-changelog

#94139 Chore: Restore permissions used to create plugins dir
  pkg/cmd/grafana-cli/commands/install_command.go
Labels: area/backend, no-backport, no-changelog

#94158 Annotations: Fix composite store read
  pkg/services/annotations/accesscontrol/accesscontrol.go
  pkg/services/annotations/accesscontrol/accesscontrol_test.go
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/composite_store.go
  pkg/services/annotations/annotationsimpl/composite_store_test.go
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
  pkg/services/annotations/annotationsimpl/store.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
Labels: type/bug, area/annotations, area/backend, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x

#93800 New Select: width auto sets width based on content
  packages/grafana-ui/src/components/Combobox/Combobox.story.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.tsx
Labels: area/frontend, no-changelog

#94022 SingleTopNav: Add `toolbar` to `Page` and replace usage of `AppChromeUpdate`
  public/app/core/components/AppChrome/AppChromeUpdate.tsx
  public/app/core/components/Page/Page.tsx
  public/app/core/components/Page/PageToolbarActions.tsx
  public/app/core/components/Page/types.ts
  public/app/features/alerting/unified/CloneRuleEditor.test.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/ModifyExportRuleForm.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/settings/AnnotationsEditView.tsx
  public/app/features/dashboard-scene/settings/DashboardLinksEditView.tsx
  public/app/features/dashboard-scene/settings/GeneralSettingsEditView.tsx
  public/app/features/dashboard-scene/settings/JsonModelEditView.tsx
  public/app/features/dashboard-scene/settings/PermissionsEditView.tsx
  public/app/features/dashboard-scene/settings/VariablesEditView.tsx
  public/app/features/dashboard-scene/settings/VersionsEditView.tsx
  public/app/features/explore/ExploreToolbar.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#93898 CloudMigrations: Add support for migration of Library Elements (Panels) resources
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/api/index.ts
  public/app/features/migrate-to-cloud/fixtures/migrationItems.ts
  public/app/features/migrate-to-cloud/fixtures/mswAPI.ts
  public/app/features/migrate-to-cloud/onprem/NameCell.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.test.tsx
  public/app/features/migrate-to-cloud/onprem/TypeCell.tsx
  public/app/features/migrate-to-cloud/onprem/useNotifyOnSuccess.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  scripts/generate-rtk-apis.ts
Labels: area/backend, area/frontend, add to changelog, no-backport

#94192 K8s/Folders: Fix tests for creating folders
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/registry/apis/folders/register.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tests/apis/folder/folders_test.go
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#94197 Tempo: Update lezer-traceql version
  public/app/plugins/datasource/tempo/package.json
  yarn.lock
Labels: type/chore, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog

#94194 Bookmarks: Turn feature toggle on by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, type/chore, area/backend, no-backport, no-changelog

#94050 Tempo: Add deprecation notice for Aggregate By
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/GroupByField.tsx
Labels: area/frontend, add to changelog, area/datasource/frontend, datasource/Tempo, no-backport

#94199 SingleTopNav: Add chevron and tooltip to menu trigger
  public/app/core/components/AppChrome/MegaMenu/MegaMenuHeader.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, area/navigation, no-backport, no-changelog

#94000 RestoreDashboards: Add link to dashboards browse view
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/backend, area/frontend, no-backport, no-changelog, area/manage-dashboards

#94203 Auth: Replace jmespath/go-jmespath with jmespath-community/go-jmespath
  go.mod
  go.sum
  pkg/util/json.go
  pkg/util/json_test.go
Labels: area/auth, area/backend, add to changelog

#94175 SQLStore: Fix parseTime check
  pkg/services/sqlstore/sqlstore.go
  pkg/services/sqlstore/sqlstore_test.go
Labels: area/backend, no-backport, no-changelog

#94182 [v11.2.x] Annotations: Fix composite store read
  pkg/services/annotations/accesscontrol/accesscontrol.go
  pkg/services/annotations/accesscontrol/accesscontrol_test.go
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/composite_store.go
  pkg/services/annotations/annotationsimpl/composite_store_test.go
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
  pkg/services/annotations/annotationsimpl/store.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
Labels: type/bug, area/annotations, area/backend, backport, no-changelog

#94181 [v11.1.x] Annotations: Fix composite store read
  pkg/services/annotations/accesscontrol/accesscontrol.go
  pkg/services/annotations/accesscontrol/accesscontrol_test.go
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/composite_store.go
  pkg/services/annotations/annotationsimpl/composite_store_test.go
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
  pkg/services/annotations/annotationsimpl/store.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
Labels: type/bug, area/annotations, area/backend, backport, no-changelog

#94180 [v11.0.x] Annotations: Fix composite store read
  pkg/services/annotations/accesscontrol/accesscontrol.go
  pkg/services/annotations/accesscontrol/accesscontrol_test.go
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/composite_store.go
  pkg/services/annotations/annotationsimpl/composite_store_test.go
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
  pkg/services/annotations/annotationsimpl/store.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/annotations/annotationsimpl/xorm_store_test.go
Labels: type/bug, area/annotations, area/backend, area/frontend, backport, no-changelog

#93594 Get help: Make quality of life updates
  .betterer.results
  public/app/features/dashboard/components/HelpWizard/HelpWizard.test.tsx
  public/app/features/dashboard/components/HelpWizard/HelpWizard.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#93696 Chore: Update k8s.io dependencies to v0.31.1
  apps/playlist/go.mod
  apps/playlist/go.sum
  go.mod
  go.sum
  go.work.sum
  hack/go.mod
  hack/go.sum
  hack/update-codegen.sh
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
Labels: area/backend, no-backport, no-changelog

#94236 QueryLibrary: Don't use description when generating name
  public/app/features/query-library/api/mappers.ts
Labels: area/frontend, no-backport, no-changelog, area/query-library

#94174 ElasticSearch: Add keywords to plugin.json
  pkg/tests/api/plugins/data/expectedListResp.json
  public/app/plugins/datasource/elasticsearch/plugin.json
Labels: datasource/Elasticsearch, type/chore, area/frontend, area/datasource, no-changelog

#93384 AuthN: Managed plugin Service Accounts general availability
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, add to changelog, no-backport

#93877 ServiceAccounts: Remove permissions to service account when it is deleted
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/stats_test.go
  pkg/services/sqlstore/migrations/accesscontrol/orphaned.go
  pkg/services/sqlstore/migrations/migrations.go
Labels: type/bug, area/backend, area/backend/db/migration, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x

#94188 SingleTopNav: Tweaks for mobile responsiveness
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarCommandPaletteTrigger.tsx
Labels: area/frontend, area/navigation, no-backport, no-changelog

#94221 Explore Logs: Preinstall for onprem Grafana instances
  conf/defaults.ini
Labels: add to changelog, no-backport

#94214 K8s/Folders: Clear permissions cache on create
  pkg/api/folder.go
Labels: area/backend, no-backport, no-changelog

#93093 Zanzana: Initial dashboard search
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/actest/fake.go
  pkg/services/accesscontrol/migrator/zanzana.go
  pkg/services/accesscontrol/mock/mock.go
  pkg/services/accesscontrol/models.go
  pkg/services/authz/zanzana/client/client.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/errors.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/metrics.go
  pkg/services/dashboards/service/zanzana.go
  pkg/services/dashboards/service/zanzana_integration_test.go
  pkg/services/ngalert/accesscontrol/testing.go
  pkg/services/ngalert/api/testing.go
  pkg/setting/settings_zanzana.go
Labels: area/backend, no-backport, no-changelog, area/auth/rbac, area/authz

#94215 SSO LDAP: Implement documentation
  docs/sources/setup-grafana/configure-security/configure-authentication/ldap-ui/_index.md
  public/app/features/admin/ldap/LdapDrawer.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/docs, area/frontend, no-backport, no-changelog

#93913 Table: Fix table cell text jumping on hover
  packages/grafana-ui/src/components/Table/TableCell.tsx
Labels: area/panel/table, area/frontend, no-changelog, area/dataviz

#94113 IAM: Add test for AddDataSource managed permissions
  pkg/services/datasources/service/datasource.go
  pkg/services/datasources/service/datasource_test.go
Labels: area/backend, no-changelog

#94200 TableNG: Sorting columns
  .betterer.results
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
Labels: area/panel/table, area/frontend, no-changelog, area/dataviz

#94242 Auth: Promote `ssoSettingsLDAP` flag to public preview
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, no-changelog

#94226 Docs: Add docs for configuring kc_idp_hint
  docs/sources/setup-grafana/configure-security/configure-authentication/keycloak/index.md
Labels: type/docs, area/auth, area/auth/oauth, no-changelog

#93024 Plugins: Add Subresource Integrity checks
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/plugin.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/plugins.go
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  pkg/plugins/config/config.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/signature/manifest_test.go
  pkg/plugins/models.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/pluginsintegration/pluginassets/pluginassets.go
  pkg/services/pluginsintegration/pluginassets/pluginassets_test.go
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-no-manifest-txt/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-no-manifest-txt/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-no-module-js/MANIFEST.txt
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-no-module-js/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-no-module-js/something.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/MANIFEST.txt
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/datasource/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/datasource/panels/one/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/datasource/panels/one/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/datasource/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-deeply-nested/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/MANIFEST.txt
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/datasource/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/datasource/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/panels/one/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/panels/one/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid-nested/plugin.json
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid/MANIFEST.txt
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid/module.js
  pkg/services/pluginsintegration/pluginassets/testdata/module-hash-valid/plugin.json
  pkg/services/pluginsintegration/pluginconfig/config.go
  pkg/services/pluginsintegration/pluginstore/plugins.go
  public/app/features/plugins/importPanelPlugin.ts
  public/app/features/plugins/pluginPreloader.ts
  public/app/features/plugins/plugin_loader.ts
Labels: type/docs, area/plugins, area/backend/plugins, area/backend, area/frontend, no-backport, no-changelog

#94248 Alerting: Fix default value for input in simple condition
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/SimpleCondition.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#94243 PanelSearch: Add support for rows & repeats
  public/app/features/dashboard-scene/scene/PanelSearchLayout.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/dashboard/templating, area/frontend, area/templating/repeating, no-backport, no-changelog, area/scenes

#94220 PanelEditor: add data provider when switching from non data panel
  public/app/features/dashboard-scene/panel-edit/PanelEditor.test.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
Labels: area/frontend, area/panel/edit, no-changelog, area/scenes

#94198 SingleTopNav: Handle for non-scenes dashboards
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/DashboardPermissions/AccessControlDashboardPermissions.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/JsonEditorSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/VersionsSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/types.ts
  public/app/features/dashboard/components/PanelEditor/PanelEditor.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/variables/editor/VariableEditorContainer.tsx
Labels: area/dashboard/templating, area/frontend, area/navigation, no-backport, no-changelog

#94186 SingleTopNav: Move scopes selector to second bar
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/scopes/internal/ScopesSelectorScene.tsx
Labels: area/frontend, no-backport, no-changelog

#94244 BrowseDashboards: Limit the type for folder parents to just a few fields
  public/app/features/folders/state/navModel.ts
  public/app/types/folders.ts
Labels: area/frontend, no-changelog

#92832 RBAC: Add dash and folder action sets where they are missing
  pkg/services/sqlstore/migrations/accesscontrol/action_set_migration.go
  pkg/services/sqlstore/migrations/accesscontrol/test/action_set_migration_test.go
  pkg/services/sqlstore/migrations/migrations.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#94252 SSO: Fix secrets migration for LDAP in SSO settings
  pkg/services/secrets/migrator/reencrypt.go
  pkg/services/secrets/migrator/rollback.go
Labels: area/backend, no-changelog

#94177 Query Library: Vertical space between rows; change "Run query" button color
  public/app/features/explore/ExploreRunQueryButton.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/ActionsCell.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/index.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#94279 Auth: Only apply redirection if the user is signed in (session storage redirection)
  public/app/app.ts
Labels: area/auth, area/frontend, no-changelog

#93327 Dashboard Scene: Sync variable state with TemplateSrv result
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.test.ts
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/utils/getVariablesCompatibility.ts
Labels: area/frontend, no-changelog

#94237 Limit: Prevent negative limit
  packages/grafana-data/src/transformations/transformers/limit.ts
Labels: type/bug, area/frontend, area/transformations, no-backport, no-changelog

#94282 Alerting: Update permissions to reciever and template test API
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/authorization.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#94286 Alerting: Verify receiver permission read on rule create/update
  pkg/services/ngalert/accesscontrol/rules.go
  pkg/services/ngalert/accesscontrol/rules_test.go
  pkg/services/ngalert/models/notifications.go
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/notifier/legacy_storage/compat.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#94238 Transformations: Show filter for single query
  public/app/features/dashboard/components/TransformationsEditor/TransformationOperationRow.tsx
Labels: area/frontend, area/transformations, no-backport, no-changelog

#89754 Alerting: Limit and clean up old alert rules versions
  conf/defaults.ini
  conf/sample.ini
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/setting/setting_unified_alerting.go
Labels: area/alerting, area/backend, add to changelog, pr/external, no-backport

#94152 Routing: Remove useRouteMatch hook
  public/app/features/alerting/unified/hooks/useSilenceNavData.test.tsx
  public/app/features/alerting/unified/hooks/useSilenceNavData.ts
  public/app/features/playlist/PlaylistStartPage.tsx
  public/app/features/plugins/components/AppRootPage.tsx
Labels: area/frontend, area/routing, no-changelog

#94148 Routing: Use location from hooks
  public/app/AppWrapper.tsx
  public/app/core/navigation/GrafanaRoute.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/dashboard/containers/PublicDashboardPage.tsx
Labels: area/frontend, area/routing, no-changelog

#94120 Unistore : Ensure Watch works in HA mode
  pkg/apiserver/storage/testing/watcher_tests.go
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/apistore/store_test.go
  pkg/storage/unified/apistore/stream.go
  pkg/storage/unified/apistore/watcher_test.go
  pkg/storage/unified/apistore/watchset.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/backend_test.go
  pkg/storage/unified/sql/data/resource_history_insert.sql
  pkg/storage/unified/sql/data/resource_history_poll.sql
  pkg/storage/unified/sql/data/resource_insert.sql
  pkg/storage/unified/sql/data/resource_version_insert.sql
  pkg/storage/unified/sql/db/migrations/resource_mig.go
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/mysql--resource_history_poll-single path.sql
  pkg/storage/unified/sql/testdata/mysql--resource_insert-simple.sql
  pkg/storage/unified/sql/testdata/mysql--resource_version_insert-single path.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_poll-single path.sql
  pkg/storage/unified/sql/testdata/postgres--resource_insert-simple.sql
  pkg/storage/unified/sql/testdata/postgres--resource_version_insert-single path.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_poll-single path.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_insert-simple.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_version_insert-single path.sql
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#91751 add zendesk to enterprise ds list
  docs/sources/introduction/grafana-enterprise.md
  public/app/features/datasources/state/buildCategories.test.ts
  public/app/features/datasources/state/buildCategories.ts
  public/img/plugins/zendesk.svg
Labels: type/docs, area/frontend, no-changelog

#94011 Teams: Support team UIDs in APIs
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/team/model.go
  pkg/services/team/team.go
  pkg/services/team/teamapi/api.go
  pkg/services/team/teamapi/team_members_test.go
  pkg/services/team/teamapi/team_test.go
  pkg/services/team/teamimpl/store.go
  pkg/services/team/teamimpl/team.go
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/__mocks__/teamMocks.ts
  public/app/features/teams/state/navModel.ts
  public/app/types/teams.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#94271 Chore: Add tests for HelpWizard
  public/app/features/dashboard-scene/inspect/HelpWizard/HelpWizard.test.tsx
  public/app/features/dashboard-scene/inspect/HelpWizard/HelpWizard.tsx
Labels: area/dashboard, type/chore, area/frontend, no-backport, no-changelog, area/scenes

#94301 UnifiedStorage: fix watcher test
  pkg/storage/unified/apistore/watcher_test.go
Labels: area/backend, no-backport, no-changelog

#94060 Dashboards: Switch to useParams hook
  public/app/features/dashboard-scene/pages/DashboardScenePage.test.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/solo/SoloPanelPage.tsx
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.test.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.tsx
  public/app/features/dashboard/containers/SoloPanelPage.test.tsx
Labels: area/frontend, no-changelog

#94141 CloudMigrations: Fix traceability & HTTP Client initialisation
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  pkg/services/cloudmigration/gmsclient/gms_client.go
  pkg/services/cloudmigration/gmsclient/gms_client_test.go
  pkg/services/cloudmigration/objectstorage/s3.go
  pkg/services/gcom/gcom.go
Labels: area/backend, no-changelog

#93968 UniStore: Evaluate Folder DTO attributes
  pkg/api/accesscontrol.go
  pkg/api/apikey.go
  pkg/api/datasources.go
  pkg/api/folder.go
  pkg/api/folder_test.go
  pkg/api/plugins.go
  pkg/api/user.go
  pkg/registry/apis/folders/conversions.go
Labels: area/backend, no-changelog

#94306 SingleTopNav: Fix tab order for docked menu
  public/app/core/components/AppChrome/AppChrome.tsx
Labels: area/frontend, no-backport, no-changelog

#94273 K8s/Folders: Fix folder create payload
  pkg/api/folder.go
  pkg/registry/apis/folders/conversions.go
Labels: area/backend, no-backport, no-changelog

#94009 CloudMigrations: Store parent folder name in cloud_migration_resource table
  .betterer.results
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/api/api_test.go
  pkg/services/cloudmigration/api/dtos.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/fake/cloudmigration_fake.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  pkg/services/cloudmigration/model.go
  pkg/services/sqlstore/migrations/cloud_migrations.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/onprem/NameCell.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/openapi3.json
Labels: area/backend, area/frontend, area/backend/db/migration, no-backport, no-changelog

#94251 CloudMigrations: Add data types for alerts resources
  pkg/services/cloudmigration/api/dtos.go
  pkg/services/cloudmigration/model.go
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/onprem/NameCell.tsx
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#94254 CloudMigrations: wire ngalert to cloud migration service and add slicesext.Map helper
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/slicesext/slicesext.go
  pkg/services/cloudmigration/slicesext/slicesext_test.go
Labels: area/backend, no-backport, no-changelog

#94257 CloudMigrations: create `onPremToCloudMigrationsAlerts` feature toggle in experimental stage
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#94322 CloudMigrations: remove duplicated import on test
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
Labels: area/backend, no-backport, no-changelog

#94311 Auth: Fix redirection when auto_login is enabled
  pkg/api/login.go
  pkg/api/login_oauth.go
  pkg/middleware/auth.go
  pkg/middleware/auth_test.go
  pkg/services/authn/authn.go
Labels: area/auth, area/backend, area/auth/oauth, area/auth/saml, no-changelog

#94213 PageHeader: Fill title container width
  public/app/core/components/Page/PageHeader.tsx
Labels: area/frontend, pr/external, no-backport, no-changelog

#94036 Explore metrics: Add limit for adhoc filters options in providers functions
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/utils.test.ts
  public/app/features/trails/utils.ts
Labels: area/frontend, no-backport, no-changelog, area/exploremetrics

#93208 SubMenu: Fix expanding sub menu items on touch devices
  e2e/old-arch/utils/flows/importDashboard.ts
  e2e/old-arch/various-suite/inspect-drawer.spec.ts
  e2e/utils/flows/importDashboard.ts
  e2e/various-suite/inspect-drawer.spec.ts
  packages/grafana-ui/src/components/Menu/MenuItem.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePage.test.tsx
  public/app/features/dashboard/utils/getPanelMenu.test.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
Labels: area/frontend, add to changelog, pr/external, no-backport

#94327 Unified Storage /Folders: Allow Unified Storage subfolders creation
  pkg/api/folder.go
  pkg/registry/apis/folders/conversions.go
  pkg/storage/unified/sql/server.go
Labels: area/backend, no-backport, no-changelog

#94291 Explore metrics: Add bookmarks empty state
  public/app/features/trails/DataTrailsHome.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog, area/exploremetrics

#94230 VizRepeater: Prevent opposite scrollbar
  packages/grafana-ui/src/components/VizRepeater/VizRepeater.tsx
Labels: area/frontend, area/panel/gauge, area/panel/bargauge, no-backport, no-changelog

#92616 Chore: Update api docs
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/frontend, no-backport, no-changelog

#94287 Alerting: Add access control to receiver status API
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/authorization.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#94173 CI: Remove redundant FE and BE tests from release pipeline
  .drone.yml
  scripts/drone/rgm.star
Labels: type/ci, no-changelog, backport v10.3.x, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x

#93932 Alerting: Support optimistic concurrency in notification policies service
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/provisioning/notification_policies.go
  pkg/services/ngalert/provisioning/notification_policies_test.go
  pkg/services/ngalert/tests/fakes/provisioning.go
  pkg/services/provisioning/alerting/notification_policy_provisioner.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#94353 [v10.4.x] CI: Remove redundant FE and BE tests from release pipeline
  .drone.yml
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#94354 [v11.0.x] CI: Remove redundant FE and BE tests from release pipeline
  .drone.yml
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#94357 [v11.2.x] CI: Remove redundant FE and BE tests from release pipeline
  .drone.yml
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#94356 [v11.1.x] CI: Remove redundant FE and BE tests from release pipeline
  .drone.yml
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#94333 DashboardScene: Fix row actions removing behavior on second update
  public/app/features/dashboard-scene/scene/row-actions/RowActions.tsx
Labels: area/frontend, no-backport, no-changelog

#94335 DashboardScene: Fix dependencies on field overrides
  public/app/features/dashboard-scene/panel-edit/PanelOptions.tsx
Labels: area/frontend, no-changelog, missing-labels, backport v11.2.x

#94347 Fix: Ensure SA migrations doesn't hit migrated SAs if rerun
  pkg/services/sqlstore/migrations/usermig/service_account_multiple_org_login_migrator.go
  pkg/services/sqlstore/migrations/usermig/test/service_account_test.go
Labels: type/bug, area/backend, area/backend/db/migration, no-backport, no-changelog

#94345 Chore: Use UIDs as identifiers for teams frontend
  .betterer.results
  pkg/services/team/teamapi/team.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/features/profile/UserProfileEditPage.test.tsx
  public/app/features/profile/state/reducers.test.ts
  public/app/features/teams/CreateTeam.tsx
  public/app/features/teams/TeamGroupSync.tsx
  public/app/features/teams/TeamList.test.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/teams/TeamPages.test.tsx
  public/app/features/teams/TeamPages.tsx
  public/app/features/teams/__mocks__/teamMocks.ts
  public/app/features/teams/state/actions.ts
  public/app/features/teams/state/navModel.ts
  public/app/features/teams/state/selectors.test.ts
  public/app/features/teams/state/selectors.ts
  public/app/routes/routes.tsx
  public/openapi3.json
Labels: type/chore, area/backend, area/frontend, no-backport, no-changelog

#93849 Auth: Attach external session info to Grafana session
  pkg/api/login.go
  pkg/models/usertoken/user_token.go
  pkg/services/auth/auth.go
  pkg/services/auth/authimpl/auth_token.go
  pkg/services/auth/authimpl/auth_token_test.go
  pkg/services/auth/authimpl/external_session_store.go
  pkg/services/auth/authimpl/external_session_store_test.go
  pkg/services/auth/authimpl/model.go
  pkg/services/auth/authimpl/token_cleanup.go
  pkg/services/auth/authimpl/token_cleanup_test.go
  pkg/services/auth/authtest/external_session_store_mock.go
  pkg/services/auth/authtest/testing.go
  pkg/services/auth/external_session.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/service_test.go
  pkg/services/authn/identity.go
  pkg/services/ldap/api/service_test.go
  pkg/services/quota/quotaimpl/quota.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/services/secrets/migrator/migrator.go
  pkg/services/sqlstore/migrations/externalsession/migrations.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/user_auth_token_mig.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/auth, area/backend, area/frontend, add to changelog, area/backend/db/migration, no-backport
