Repository grafana/grafana, pull requests merged in 2024-09, with the labels that each got.

#92728 Alerting: Fix pending period for vanilla prom rules
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.test.tsx
  public/app/features/alerting/unified/components/rule-viewer/tabs/Details.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/hooks/rules/usePendingPeriod.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/app/types/unified-alerting.ts
Labels: area/alerting, area/frontend, no-backport, no-changelog

#92666 Playlist: Add default border radius to PlaylistTableRows
  .betterer.results
  public/app/features/playlist/PlaylistTableRows.tsx
Labels: type/chore, area/playlist, area/frontend, no-backport, no-changelog

#91123 DashboardScenes: Default to first variable value when editing a repeated panel
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/panel-edit/testfiles/testDashboard.ts
Labels: type/bug, area/frontend, no-changelog, backport v11.2.x

#92408 SAML: Add description for Graph API permissions step
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Labels: type/docs, no-backport, no-changelog

#92734 Chore: Update commands.json to expand labels and their related projects
  .github/commands.json
Labels: github_actions, type/ci, no-changelog

#92800 tutorial : alerts with logs : add missisng interactive
  docs/sources/tutorials/create-alerts-with-logs/index.md
Labels: type/docs, no-backport, no-changelog

#92656 ValueFormats: Fix formatting of 'clock' unit when duration is more than 100 hours
  packages/grafana-data/src/valueFormats/dateTimeFormatters.test.ts
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
Labels: area/frontend, add to changelog, pr/external, no-backport

#92803 Grafana SQL: Fix broken import in NumberInput component
  packages/grafana-sql/src/components/configuration/NumberInput.tsx
Labels: type/bug, area/frontend, add to changelog, pr/external, backport v11.2.x

#92652 New Select: Create custom value
  packages/grafana-ui/src/components/Combobox/Combobox.internal.story.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.test.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#91845 TraceView: Update feedback link style
  public/app/features/explore/TraceView/components/TracePageHeader/Actions/TracePageActions.tsx
Labels: area/explore, area/frontend, area/datasource/frontend, area/ux, area/tracing, datasource/Tempo, no-backport, no-changelog

#92807 Chore: Add auto-triager github action
  .github/CODEOWNERS
  .github/workflows/auto-triager.yml
Labels: no-changelog

#92462 Provisioning: Fix admin reloading of dashboard configuration
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_test.go
Labels: type/bug, area/backend, add to changelog, backport, backport v11.0.x, backport v11.1.x

#92816 Alerting: Fix target rule group for moving alert rule group
  public/app/features/alerting/unified/hooks/ruleGroup/__snapshots__/useMoveRuleFromRuleGroup.test.tsx.snap
  public/app/features/alerting/unified/hooks/ruleGroup/useMoveRuleFromRuleGroup.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useUpsertRuleFromRuleGroup.ts
Labels: area/frontend, no-changelog

#92819 Chore: Update auto triager github action to use private repository
  .github/workflows/auto-triager.yml
Labels: no-changelog

#92805 alerting: docs / highlight tutorial in landing page
  docs/sources/alerting/fundamentals/_index.md
Labels: type/docs, no-changelog, backport v11.0.x, backport v11.1.x, backport v11.2.x

#92504 Dashboard: Fix Annotation runtime error when a data source does not support annotations
  public/app/features/dashboard-scene/settings/AnnotationsEditView.test.tsx
  public/app/features/dashboard-scene/settings/AnnotationsEditView.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsEdit.tsx
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/bug, area/annotations, area/frontend, add to changelog, area/scenes, backport v11.2.x

#92820 Announcement banner: Update docs
  docs/sources/administration/announcement-banner/_index.md
Labels: type/docs, no-changelog

#92809 AzureMonitor: Update logs workspaces
  public/app/plugins/datasource/azuremonitor/azureMetadata/logsResourceTypes.ts
Labels: area/frontend, datasource/Azure, no-backport, no-changelog

#92828 Chore: fixing triage link
  .github/issue-opened.json
Labels: github_actions, no-backport, no-changelog

#92829 Revert "Update dependency msw to v2.4.1"
  package.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#92601 Scenes/RestoreDashboards: Adjust DeleteDashboardModal and Toast message
  .betterer.results
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/settings/DeleteDashboardButton.tsx
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/manage-dashboards/state/actions.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog, area/scenes

#92830 [v11.2.x] Dashboard: Fix Annotation runtime error when a data source does not support annotations
  public/app/features/dashboard-scene/settings/AnnotationsEditView.test.tsx
  public/app/features/dashboard-scene/settings/AnnotationsEditView.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsEdit.tsx
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/bug, area/annotations, area/frontend, add to changelog, backport, area/scenes

#92611 Alerting docs: HA - configure alertmanager to prevent duplicated notifications
  docs/sources/alerting/set-up/configure-high-availability/_index.md
Labels: type/docs, area/alerting, no-changelog, backport v11.1.x, backport v11.2.x

#92802 Alerting: Fix preview of silences when label name contains spaces
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/api/alertmanagerApi.ts
  public/app/features/alerting/unified/components/silences/SilencedInstancesPreview.tsx
  public/app/features/alerting/unified/mocks/server/handlers/alertmanagers.ts
Labels: area/frontend, add to changelog

#92843 [v11.2.x] IAM docs: Transform `API keys` to `Migrate API keys` docs
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/administration/service-accounts/_index.md
  docs/sources/administration/service-accounts/migrate-api-keys.md
  docs/sources/breaking-changes/breaking-changes-v10-0.md
  docs/sources/setup-grafana/configure-security/planning-iam-strategy/index.md
  docs/sources/setup-grafana/configure-security/secret-scan.md
  docs/sources/upgrade-guide/upgrade-v9.5/index.md
  pkg/api/apikey.go
  public/api-merged.json
  public/app/features/api-keys/MigrateToServiceAccountsCard.tsx
  public/openapi3.json
Labels: type/docs, area/backend, area/frontend, backport, no-changelog, team/identity-access

#91382 TraceView: Display event names of a span
  .betterer.results
  packages/grafana-data/src/types/trace.ts
  pkg/tsdb/tempo/trace_transform.go
  pkg/tsdb/tempo/trace_transform_test.go
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianKeyValues.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianLogs.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianLogs.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
  public/app/features/explore/TraceView/components/types/trace.ts
  public/app/features/explore/TraceView/components/utils/filter-spans.test.ts
  public/app/features/explore/TraceView/components/utils/filter-spans.tsx
  public/app/plugins/datasource/jaeger/_importedDependencies/types/trace.ts
  public/app/plugins/datasource/jaeger/types.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
  public/app/plugins/datasource/tempo/test/testResponse.ts
Labels: area/backend, area/explore, area/frontend, add to changelog, datasource/Tempo

#92848 Dashboard Scene: Add close visualization button in panel edit
  public/app/features/dashboard-scene/panel-edit/PanelVizTypePicker.tsx
Labels: type/bug, area/frontend, no-changelog, area/dashboards/panel, backport v11.2.x

#92833 RBAC: Always store action sets
  pkg/services/accesscontrol/resourcepermissions/store.go
Labels: area/backend, no-changelog, missing-labels, backport v11.1.x, backport v11.2.x

#92650 Chore: Remove side-effect import from app
  .github/CODEOWNERS
  public/app/app.ts
  public/app/features/all.ts
  public/app/features/dashboard/index.ts
  public/app/features/plugins/all.ts
Labels: type/performance, area/frontend, no-backport, no-changelog

#92853 Alerting: Fix cloud rules edit url
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
Labels: type/bug, area/alerting, area/frontend, no-backport, no-changelog

#92857 Chore: Bump moby version
  go.work.sum
  pkg/build/cmd/publishaws.go
  pkg/build/go.mod
  pkg/build/go.sum
Labels: area/backend, no-backport, no-changelog

#92862 TimeRange: Support initialize time range with `time` and `time.window`
  package.json
  yarn.lock
Labels: type/bug, area/frontend, add to changelog, area/scenes, missing-labels, backport v11.2.x

#92080 Prometheus: Enable the promQLScope (Scopes, Adhoc filters and groupby) by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/promlib/models/query.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, datasource/Prometheus, area/backend, no-changelog, area/scopes

#92856 [v11.1.x] RBAC: Always store action sets
  pkg/services/accesscontrol/resourcepermissions/store.go
Labels: area/backend, backport, no-changelog, missing-labels

#92754 DashboardScene: Re-perform repeat when returning to dashboard from panel edit
  public/app/features/dashboard-scene/scene/DashboardGridItem.test.tsx
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
Labels: type/bug, area/dashboard, area/frontend, no-changelog, team/grafana-dashboards

#92873 feat(querier): propagate all known alerting headers
  pkg/registry/apis/datasource/sub_query.go
  pkg/registry/apis/datasource/sub_query_test.go
  pkg/registry/apis/query/header_utils.go
  pkg/registry/apis/query/query.go
  pkg/registry/apis/query/query_test.go
Labels: area/backend, no-backport, no-changelog

#92716 Table: Fix nested table overlap when table is sorted
  .betterer.results
  packages/grafana-ui/src/components/Table/RowsList.tsx
  packages/grafana-ui/src/components/Table/TableCellInspector.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/panel/table, area/frontend, add to changelog, no-backport

#92789 Templating: Fix searching non-latin template variables
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
Labels: type/bug, area/dashboard/templating, area/frontend, add to changelog, backport v11.1.x, backport v11.2.x

#92859 Alerting docs: responds to feedback on alerting state or error alerts
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
Labels: type/docs, backport, no-changelog, backport v11.0.x, backport v11.1.x, backport v11.2.x

#89223 Alerting/Chore: Mock API (MSW) in browser
  .github/CODEOWNERS
  .nxignore
  .prettierignore
  conf/defaults.ini
  package.json
  pkg/api/http_server.go
  public/app/index.ts
  public/mockServiceWorker.js
  public/test/mock-api/worker.ts
Labels: area/backend, area/frontend, no-changelog

#92902 Alerting docs: adds caps not supported in email contact points
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-email.md
Labels: type/docs, backport, no-changelog, backport v11.0.x, backport v11.1.x, backport v11.2.x

#92643 Alerting: Recording rules detail view nits
  public/app/features/alerting/unified/components/rule-viewer/tabs/Details.tsx
  public/app/features/alerting/unified/utils/rules.ts
Labels: area/alerting, area/backend, area/frontend, add to changelog, no-backport

#92580 CI: Ensure changelogs are prettified prior to commit
  .github/workflows/changelog.yml
  .github/workflows/release-pr.yml
Labels: type/ci, no-changelog, backport v11.0.x, backport v11.1.x, backport v11.2.x

#92866 SSO LDAP: Add configuration for root ca, client key and client certificate
  public/app/features/admin/ldap/LdapDrawer.tsx
  public/app/features/admin/ldap/LdapSettingsPage.tsx
  public/app/types/ldap.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/auth/ldap, area/frontend, no-backport, no-changelog

#92872 LBAC for datasources: doc improvements
  docs/sources/administration/data-source-management/teamlbac/_index.md
  docs/sources/administration/data-source-management/teamlbac/configure-teamlbac-for-loki/index.md
  docs/sources/administration/data-source-management/teamlbac/create-teamlbac-rules/index.md
Labels: type/bug, type/docs, no-changelog, backport v11.2.x

#92906 Plugins: Add message on levitate workflow failure
  .github/workflows/detect-breaking-changes-levitate.yml
Labels: area/plugins, no-changelog

#92924 K8s: Move ResourceInfo from common to utils
  pkg/aggregator/apis/aggregation/v0alpha1/register.go
  pkg/apimachinery/utils/resource.go
  pkg/apis/alerting_notifications/v0alpha1/register.go
  pkg/apis/dashboard/v0alpha1/register.go
  pkg/apis/dashboardsnapshot/v0alpha1/register.go
  pkg/apis/datasource/v0alpha1/register.go
  pkg/apis/featuretoggle/v0alpha1/register.go
  pkg/apis/folder/v0alpha1/register.go
  pkg/apis/identity/v0alpha1/register.go
  pkg/apis/peakq/v0alpha1/register.go
  pkg/apis/playlist/v0alpha1/register.go
  pkg/apis/query/v0alpha1/register.go
  pkg/apis/scope/v0alpha1/register.go
  pkg/apis/service/v0alpha1/register.go
  pkg/registry/apis/dashboard/legacy_storage.go
  pkg/registry/apis/datasource/connections.go
  pkg/registry/apis/datasource/querier.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/apis/featuretoggle/features.go
  pkg/registry/apis/featuretoggle/toggles.go
  pkg/registry/apis/query/plugins.go
  pkg/registry/apis/query/queryschema/query_type_storage.go
Labels: area/backend, no-backport, no-changelog

#92928 Signer: Fix typo
  pkg/services/signingkeys/signingkeysimpl/service.go
  pkg/services/signingkeys/signingkeystest/fake.go
Labels: area/backend, no-backport, no-changelog

#92513 Prometheus: Variable query editor, display selected label when using query type of label values
  packages/grafana-prometheus/src/components/VariableQueryEditor.test.tsx
  packages/grafana-prometheus/src/components/VariableQueryEditor.tsx
Labels: type/bug, datasource/Prometheus, area/frontend, area/datasource/frontend, no-changelog, backport v11.2.x

#92930 update commmands.json
  .github/commands.json
Labels: github_actions, type/ci, no-changelog

#92514 Restore Dashboards: Add e2e tests
  e2e/dashboards-suite/dashboard-browse.spec.ts
  e2e/dashboards-suite/dashboard-restore.spec.ts
  e2e/dashboards/TestRestoreDashboard.json
  e2e/utils/flows/deleteDashboard.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  scripts/grafana-server/custom.ini
Labels: area/frontend, no-backport, no-changelog

#92934 Chore: Migrate `_reboot` SCSS styles to emotion globals
  packages/grafana-ui/src/themes/GlobalStyles/code.ts
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
  public/sass/_grafana.scss
  public/sass/base/_reboot.scss
Labels: type/chore, area/frontend, no-backport, no-changelog

#90337 DashGPT: Fixes issue with generation on Safari
  .betterer.results
  public/app/features/dashboard/components/GenAI/GenAIButton.test.tsx
  public/app/features/dashboard/components/GenAI/GenAIButton.tsx
  public/app/features/dashboard/components/GenAI/GenAIHistory.tsx
  public/app/features/dashboard/components/GenAI/GenerationHistoryCarousel.tsx
  public/app/features/dashboard/components/GenAI/QuickFeedback.tsx
  public/app/features/dashboard/components/GenAI/hooks.ts
  public/app/features/dashboard/components/GenAI/utils.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/bug, area/dashboard, area/frontend, add to changelog, area/dashgpt, backport v11.1.x

#92950 DashboardScene: Add browser history step when changing time range
  package.json
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/solo/useSoloPanel.ts
  public/app/features/dashboard-scene/utils/dashboardSessionState.test.ts
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/DataTrailsHistory.tsx
  public/app/features/trails/TrailStore/TrailStore.test.ts
  public/app/features/trails/TrailStore/TrailStore.ts
  public/app/features/trails/utils.ts
  yarn.lock
Labels: area/frontend, add to changelog, no-backport

#92850 LibPanelBehavior: Fixes view panel and edit panel full page reload issues (alt fix)
  public/app/features/dashboard-scene/inspect/InspectJsonTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditor.test.ts
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.test.tsx
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/utils/utils.ts
Labels: type/docs, area/dashboard/templating, area/backend, area/explore, area/frontend, datasource/Jaeger, datasource/Tempo, no-changelog

#92967 Storage: create a client with access to all interfaces, not just ResourceStore
  pkg/registry/apis/dashboard/legacy_storage.go
  pkg/services/apiserver/service.go
  pkg/storage/unified/apistore/restoptions.go
  pkg/storage/unified/apistore/watcher_test.go
  pkg/storage/unified/resource/client.go
  pkg/storage/unified/resource/client_wrapper.go
  pkg/storage/unified/resource/resource.pb.go
  pkg/storage/unified/resource/resource.proto
  pkg/storage/unified/resource/resource_grpc.pb.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/test/integration_test.go
Labels: area/backend, no-backport, no-changelog

#92961 SearchV2: Fix reading library panels
  pkg/services/store/kind/dashboard/dashboard.go
  pkg/services/store/kind/dashboard/dashboard_test.go
  pkg/services/store/kind/dashboard/testdata/panel-with-library-panel-field-info.json
  pkg/services/store/kind/dashboard/testdata/panel-with-library-panel-field.json
Labels: type/bug, area/backend, add to changelog, no-backport

#92951 Remote Alertmanager: update github.com/go-openapi/runtime (v0.27.1 -> v0.28.0)
  go.mod
  go.sum
  go.work.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
Labels: area/alerting, area/backend, no-backport, no-changelog

#92837 Fix `playlist` tests
  pkg/apis/playlist/v0alpha1/register.go
  pkg/tests/apis/playlist/playlist_test.go
Labels: area/backend, no-backport, no-changelog

#92979 Chore: remove `adhocFilterOneOf` toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, type/chore, area/backend, area/frontend, no-backport, no-changelog

#92742 Plugins: Add sync update all plugins in cloud
  public/app/features/plugins/admin/components/UpdateAllModal.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Labels: area/frontend, add to changelog

#92941 CloudMigrations: Fix snapshot creation on Windows systems
  go.mod
  go.sum
  pkg/services/cloudmigration/gmsclient/gms_client.go
  pkg/services/cloudmigration/objectstorage/s3.go
Labels: type/bug, area/backend, add to changelog

#92978 IAM: Add and use identity ref
  pkg/apis/iam/v0alpha1/register.go
  pkg/apis/iam/v0alpha1/types_identity.go
  pkg/apis/iam/v0alpha1/types_team.go
  pkg/apis/iam/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/iam/v0alpha1/zz_generated.openapi.go
  pkg/apis/iam/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/iam/team/rest_members.go
  pkg/registry/apis/iam/team/store_binding.go
  pkg/registry/apis/iam/user/rest_display.go
Labels: area/backend, no-changelog

#92943 CI/CD: Update retry logic for package validation
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/bug, type/ci, no-changelog

#90886 DashboardScenes: Use behavior for library panels
  public/app/features/dashboard-scene/inspect/HelpWizard/utils.ts
  public/app/features/dashboard-scene/inspect/InspectJsonTab.test.tsx
  public/app/features/dashboard-scene/inspect/InspectJsonTab.tsx
  public/app/features/dashboard-scene/panel-edit/LibraryVizPanelInfo.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditor.test.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditorRenderer.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptions.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptions.tsx
  public/app/features/dashboard-scene/panel-edit/SaveLibraryVizPanelModal.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/saving/DashboardPrompt.tsx
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/scene/AddLibraryPanelDrawer.test.tsx
  public/app/features/dashboard-scene/scene/AddLibraryPanelDrawer.tsx
  public/app/features/dashboard-scene/scene/DashboardDatasourceBehaviour.test.tsx
  public/app/features/dashboard-scene/scene/DashboardDatasourceBehaviour.tsx
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.test.tsx
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.tsx
  public/app/features/dashboard-scene/scene/LibraryVizPanel.test.ts
  public/app/features/dashboard-scene/scene/LibraryVizPanel.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.tsx
  public/app/features/dashboard-scene/scene/UnlinkLibraryPanelModal.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  public/app/features/dashboard-scene/sharing/ShareModal.tsx
  public/app/features/dashboard-scene/sharing/public-dashboards/utils.ts
  public/app/features/dashboard-scene/utils/PanelModelCompatibilityWrapper.test.ts
  public/app/features/dashboard-scene/utils/dashboardSceneGraph.test.ts
  public/app/features/dashboard-scene/utils/dashboardSceneGraph.ts
  public/app/features/dashboard-scene/utils/test-utils.ts
  public/app/features/dashboard-scene/utils/utils.ts
  public/app/features/dashboard/components/PanelEditor/getVisualizationOptions.tsx
  public/app/features/library-panels/state/api.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog, area/scenes

#92986 Chore: migrate `_grid` SCSS styles to emotion globals
  packages/grafana-ui/src/themes/GlobalStyles/utilityClasses.ts
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/base/_grid.scss
Labels: type/chore, area/frontend, no-backport, no-changelog

#92992 [v11.0.x] CI/CD: Update retry logic for package validation
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/bug, backport, type/ci, no-changelog

#92990 Auth: Add LDAP scope to Grafana Admin
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
Labels: area/auth/ldap, area/backend, no-backport, no-changelog

#92987 [authn] update `authlib` and `claims` versions
  go.mod
  go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: area/backend, no-backport, no-changelog

#92991 [authn] adding appPlatformAccessTokens featureflag
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#92997 AutoSizeInput: Allow to be controlled by value
  packages/grafana-ui/src/components/Input/AutoSizeInput.story.tsx
  packages/grafana-ui/src/components/Input/AutoSizeInput.test.tsx
  packages/grafana-ui/src/components/Input/AutoSizeInput.tsx
Labels: type/bug, area/frontend, add to changelog, area/grafana/ui, backport v11.2.x

#92998 [v10.4.x] CI/CD: Update retry logic for package validation
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/bug, backport, type/ci, no-changelog

#92831 DetectChanges: Serialize message payload to avoid non-clonable props
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.test.ts
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
Labels: type/bug, area/frontend, no-changelog, area/scenes, missing-labels, backport v11.2.x

#92948 Explore Metrics: Fix existing parent error while opening a panel in explore metrics
  public/app/features/trails/Integrations/DataTrailEmbedded.tsx
  public/app/features/trails/Integrations/dashboardIntegration.ts
  public/app/features/trails/Integrations/utils.ts
Labels: type/bug, area/frontend, no-changelog, area/exploremetrics, backport v11.2.x

#92946 Explore Metrics: Fix infinite loop while opening a panel in explore metrics
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/DataTrailsApp.tsx
Labels: type/bug, area/frontend, no-changelog, area/exploremetrics, backport v11.2.x

#93006 [v11.2.x] Explore Metrics: Fix infinite loop while opening a panel in explore metrics
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/DataTrailsApp.tsx
Labels: type/bug, area/frontend, backport, no-changelog, area/exploremetrics

#93003 TextVariable: Datalinks do not update variable value
  package.json
  yarn.lock
Labels: type/bug, area/frontend, add to changelog, backport v11.2.x

#93010 [v11.1.x] CI/CD: Update retry logic for package validation
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/bug, backport, type/ci, no-changelog

#93011 [v11.2.x] CI/CD: Update retry logic for package validation
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/bug, backport, type/ci, no-changelog

#93012 [v10.3.x] CI/CD: Update retry logic for package validation
  .drone.yml
  pkg/services/ngalert/store/alert_rule_test.go
  scripts/drone/steps/lib.star
Labels: type/bug, area/backend, backport, type/ci, no-changelog

#92900 API Docs: create `Authentication` page and order sidebar menu
  docs/sources/developers/http_api/_index.md
  docs/sources/developers/http_api/authentication.md
  docs/sources/developers/http_api/examples/_index.md
  docs/sources/developers/http_api/examples/create-api-tokens-for-org.md
  docs/sources/developers/http_api/examples/curl-examples.md
  docs/sources/shared/developers/authentication.md
Labels: type/docs, no-changelog, backport v11.2.x

#93020 Chore: update centrifuge library
  go.mod
  go.sum
  go.work.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: area/backend, no-backport, no-changelog

#93026 Restore Dashboards: Revert e2e tests
  e2e/dashboards-suite/dashboard-browse.spec.ts
  e2e/dashboards-suite/dashboard-restore.spec.ts
  e2e/dashboards/TestRestoreDashboard.json
  e2e/utils/flows/deleteDashboard.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  scripts/grafana-server/custom.ini
Labels: area/frontend, no-backport, no-changelog

#93031 chore(tests): fix flaky SMTP test
  pkg/services/notifications/smtp_test.go
Labels: area/backend, no-changelog

#92936 RestoreDashboards: Show root location as 'Dashboards' in folder picker
  pkg/services/folder/model.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#93021 Docs: fix a typo on the Configure Grafana page (oentelemetry -> opentelemetry)
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, pr/external, no-changelog, backport v11.1.x, backport v11.2.x

#92956 ShareDrawer: Improvements
  public/app/features/dashboard-scene/sharing/ExportButton/ExportAsJson.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/EmailShare/CreateEmailSharing.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareAlerts.test.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareAlerts.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareConfiguration.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareTypeSelect.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-internally/ShareInternally.tsx
  public/app/features/dashboard-scene/sharing/ShareDrawer/ShareDrawer.tsx
  public/app/features/dashboard-scene/sharing/ShareDrawer/ShareDrawerContext.tsx
  public/app/features/dashboard/api/publicDashboardApi.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog

#93037 SSO LDAP: Add login form alert
  public/app/features/admin/ldap/LdapSettingsPage.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/auth/ldap, area/frontend, no-backport, no-changelog

#93023 Ops: Add query param essentials to open Essentials drawer
  public/app/features/gops/configuration-tracker/components/ConfigureIRM.tsx
Labels: area/frontend, add to changelog, no-backport

#93000 ViewPanel: Refactoring to simplify logic by rendering the source panel instead of a clone
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.test.ts
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  public/app/features/dashboard-scene/scene/ViewPanelScene.test.tsx
  public/app/features/dashboard-scene/scene/ViewPanelScene.tsx
  public/app/features/dashboard-scene/utils/utils.ts
Labels: area/frontend, no-changelog

#92590 RolePicker: Improve overlay positioning
  public/app/core/components/RolePicker/RolePicker.tsx
Labels: area/frontend, no-changelog

#93042 Make Combobox Storybook story public, with indev disclaimer
  .betterer.results
  packages/grafana-ui/src/components/Combobox/Combobox.story.tsx
Labels: area/frontend, no-backport, no-changelog

#93049 fix broken link in backend style guide
  docs/sources/developers/contribute.md
Labels: type/docs, no-changelog

#93028 Create histogram and observe grafana config size
  pkg/services/ngalert/metrics/alertmanager.go
  pkg/services/ngalert/metrics/multi_org_alertmanager.go
  pkg/services/ngalert/notifier/alertmanager.go
Labels: area/backend, no-backport, no-changelog

#93052 Tracing: Add Start helper
  pkg/infra/tracing/tracing.go
  pkg/infra/tracing/tracing_test.go
Labels: area/backend, no-backport, no-changelog

#92622 SharePanel: Add icons to panel options Share and More
  packages/grafana-data/src/types/icon.ts
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.tsx
  public/img/icons/unicons/legend-hide.svg
  public/img/icons/unicons/legend-show.svg
Labels: area/frontend, no-backport, no-changelog

#93007 Chore: Bump Go to 1.23.1
  .drone.yml
  Dockerfile
  Makefile
  go.mod
  go.work
  go.work.sum
  hack/go.mod
  pkg/aggregator/go.mod
  pkg/apimachinery/go.mod
  pkg/apiserver/go.mod
  pkg/build/go.mod
  pkg/build/wire/go.mod
  pkg/promlib/go.mod
  pkg/semconv/go.mod
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/resource/go.mod
  scripts/drone/variables.star
  scripts/go-workspace/go.mod
Labels: type/build-packaging, area/backend, add to changelog, type/ci

#92888 Icons: update Asserts menu icon
  packages/grafana-icons/svg/asserts.svg
Labels: area/frontend, no-changelog

#93053 Docs: Minor updates to Explore metrics
  docs/sources/explore/simplified-exploration/metrics/index.md
Labels: type/docs, no-changelog, backport v11.1.x, backport v11.2.x

#93058 fix whatsNewUrl in package.json for v11.2.x
  package.json
Labels: area/frontend, no-backport, no-changelog

#93001 feat(apiserver): refactor the hooking mechanism to simply providing a full build handler chain
  go.work.sum
  pkg/cmd/grafana/apiserver/server.go
  pkg/services/apiserver/builder/helper.go
  pkg/services/apiserver/builder/request_handler.go
  pkg/services/apiserver/service.go
  pkg/services/apiserver/standalone/factory.go
  pkg/web/macaron.go
Labels: area/backend, no-backport, no-changelog, area/backend/app-platform

#92890 IAM Docs: replace `relref` with `refs` links to enable IAM docs in Grafana Cloud docs
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/administration/roles-and-permissions/access-control/assign-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/configure-rbac/index.md
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/plan-rbac-rollout-strategy/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-grafana-provisioning/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-terraform-provisioning/index.md
  docs/sources/administration/roles-and-permissions/access-control/troubleshooting/index.md
  docs/sources/administration/service-accounts/_index.md
  docs/sources/administration/service-accounts/migrate-api-keys.md
Labels: type/docs, no-changelog, backport v11.2.x

#93065 Prometheus: Retain time field's interval with Table formatted queries
  packages/grafana-prometheus/src/result_transformer.test.ts
  packages/grafana-prometheus/src/result_transformer.ts
Labels: type/bug, datasource/Prometheus, area/frontend, no-changelog

#93038 DashboardScenes: Fix duplicate query modifying original query on panel duplication
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
Labels: type/bug, area/frontend, no-changelog

#92094 AzureMonitor: Add errorsource
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/loganalytics/utils.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
  pkg/tsdb/azuremonitor/metrics/url-builder.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource_test.go
  pkg/tsdb/azuremonitor/time/time-grain.go
Labels: effort/small, type/chore, area/backend, datasource/Azure, no-backport, no-changelog

#92392 Plugins: Introduce `LoadingStrategy` for frontend loading logic
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/types/plugin.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/plugins.go
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/http_server.go
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  pkg/plugins/manager/loader/assetpath/assetpath.go
  pkg/plugins/manager/loader/assetpath/assetpath_test.go
  pkg/plugins/models.go
  pkg/services/pluginsintegration/loader/loader_test.go
  pkg/services/pluginsintegration/pluginassets/pluginassets.go
  pkg/services/pluginsintegration/pluginassets/pluginassets_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
  pkg/services/pluginsintegration/pluginstore/plugins.go
  public/app/features/alerting/unified/mocks/server/handlers/plugins.ts
  public/app/features/alerting/unified/utils/rules.test.ts
  public/app/features/plugins/importPanelPlugin.ts
  public/app/features/plugins/loader/cache.test.ts
  public/app/features/plugins/loader/cache.ts
  public/app/features/plugins/pluginPreloader.ts
  public/app/features/plugins/plugin_loader.ts
Labels: area/plugins, area/backend, area/frontend, no-backport, no-changelog

#92976 Grafana/ui: Update Link component to react router 6
  package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/Link/Link.tsx
  packages/grafana-ui/src/components/Link/TextLink.test.tsx
  public/app/features/plugins/components/AppRootPage.test.tsx
  yarn.lock
Labels: area/frontend, no-changelog

#93096 Explore Metrics: Skip DataTrailsHistory tests
  public/app/features/trails/DataTrailsHistory.test.tsx
Labels: type/bug, area/frontend, no-changelog, area/exploremetrics, backport v11.2.x

#93087 CODEOWNERS: improve ownership of query apis
  .github/CODEOWNERS
Labels: no-changelog

#93095 Chore: Bump grafana-plugin-sdk-go version to v0.247.0
  go.mod
  go.sum
  go.work.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: type/chore, area/backend, no-backport, no-changelog

#92886 Data sources: Hide the datasource redirection banner for users who can't interact with data sources
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.test.tsx
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.tsx
Labels: area/backend, area/frontend, add to changelog, missing-labels, backport v11.1.x, backport v11.2.x

#91648 Sidecar: Add split view and basic APIs for extensions
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.ts
  packages/grafana-ui/src/components/Splitter/useSplitter.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/AppWrapper.tsx
  public/app/core/context/SidecarContext.ts
  public/app/core/services/SidecarService.ts
  public/app/features/explore/extensions/getExploreExtensionConfigs.test.tsx
  public/app/features/plugins/components/AppRootPage.tsx
  public/app/features/plugins/extensions/getPluginExtensions.test.tsx
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/usePluginExtensions.tsx
  public/app/features/plugins/extensions/usePluginLinks.tsx
  public/app/features/plugins/extensions/utils.test.tsx
  public/app/features/plugins/extensions/utils.tsx
  public/app/features/plugins/extensions/validators.test.tsx
  public/app/features/plugins/utils.test.ts
  public/app/features/plugins/utils.ts
  public/app/routes/RoutesWrapper.tsx
Labels: type/docs, area/plugins, area/backend, area/explore, area/frontend, no-backport, levitate breaking change, no-changelog, area/plugin-extensions

#93098 [authn] update `authlib` and `claims` versions
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: area/backend, no-backport, no-changelog

#93057 Alerting: Make query wrapper match up datasource UIDs if necessary
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
Labels: area/frontend, add to changelog

#93080 Dashboards: Update tests to be compatible with react router 6
  public/app/features/dashboard-scene/settings/DashboardLinksEditView.test.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/VersionsSettings.test.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.test.tsx
  public/app/features/manage-dashboards/components/PublicDashboardListTable/PublicDashboardListTable.test.tsx
  public/app/features/playlist/PlaylistEditPage.test.tsx
Labels: area/frontend, no-changelog

#92592 OptionsUI: Change owners to dashboard squad
  .github/CODEOWNERS
Labels: no-changelog

#92988 InfluxDB: Fix variable interpolation in influx db
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, area/scenes, backport v11.2.x

#93009 Azure: Upgrade grafana-azure-sdk-go
  go.mod
  go.sum
Labels: type/bug, area/backend, datasource/Azure, no-changelog, backport v11.2.x

#90677 Canvas: Add actions support
  .betterer.results
  .github/CODEOWNERS
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/types/action.ts
  packages/grafana-data/src/types/dataLink.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-ui/src/components/Actions/ActionButton.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipFooter.tsx
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/actions/ActionEditor.tsx
  public/app/features/actions/ActionEditorModalContent.tsx
  public/app/features/actions/ActionsInlineEditor.tsx
  public/app/features/actions/ActionsListItem.tsx
  public/app/features/actions/ParamsEditor.tsx
  public/app/features/actions/utils.ts
  public/app/features/canvas/element.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/features/transformers/suggestionsInput/SuggestionsInput.tsx
  public/app/plugins/panel/canvas/components/CanvasTooltip.tsx
  public/app/plugins/panel/canvas/editor/element/ActionsEditor.tsx
  public/app/plugins/panel/canvas/editor/element/elementEditor.tsx
  public/app/plugins/panel/canvas/editor/options.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, area/panel/canvas, no-backport, levitate breaking change, add to what's new

#93041 SSO LDAP: Fix documentation render
  public/app/features/admin/ldap/LdapSettingsPage.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/auth/ldap, area/frontend, no-backport, no-changelog

#93100 GrafanaUI: Improve Switch cursor focus on screen readers
  packages/grafana-ui/src/components/Switch/Switch.tsx
Labels: area/frontend, type/accessibility, no-backport, no-changelog

#92870 AzureMonitor: Remove Basic Logs retention warning
  public/app/plugins/datasource/azuremonitor/components/LogsQueryEditor/LogsQueryEditor.tsx
Labels: type/bug, area/frontend, datasource/Azure, add to changelog, backport v11.1.x, backport v11.2.x

#93116 feat: Add feature toggle for groupAttributeSync
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, area/frontend, no-changelog

#93062 FieldColor: Prefer displayName for hashing
  packages/grafana-data/src/field/fieldColor.test.ts
  packages/grafana-data/src/field/fieldColor.ts
Labels: type/bug, area/panel/common, area/frontend, no-changelog, backport v11.2.x

#92324 Add basic logs enabled check
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/loganalytics/utils.go
Labels: type/bug, effort/small, area/backend, datasource/Azure, go, no-changelog, backport v11.1.x, backport v11.2.x

#92451 docs: Update Gauges adding why, how with data reqs and images
  docs/sources/panels-visualizations/visualizations/gauge/index.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x

#93144 Transformations: Fix inner join by field for zero-length frames
  packages/grafana-data/src/transformations/transformers/joinDataFrames.test.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
Labels: type/bug, area/frontend, area/transformations, no-changelog

#93081 Slugs: use shorter slug fallback
  pkg/infra/slugify/slugify.go
  pkg/infra/slugify/slugify_test.go
Labels: area/backend, no-backport, no-changelog

#93063 [v11.2.x] IAM Docs: replace `relref` with `refs` links to enable IAM docs in Grafana Cloud docs
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/administration/roles-and-permissions/access-control/assign-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/configure-rbac/index.md
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/plan-rbac-rollout-strategy/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-grafana-provisioning/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-terraform-provisioning/index.md
  docs/sources/administration/roles-and-permissions/access-control/troubleshooting/index.md
  docs/sources/administration/service-accounts/_index.md
  docs/sources/administration/service-accounts/migrate-api-keys.md
Labels: type/docs, backport, no-changelog

#93082 Use Docker Compose V2 if available but fall back to V1 with warning
  Makefile
Labels: type/build-packaging, no-changelog

#93147 Docs: update IAM links for Cloud docs
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
Labels: type/docs, no-changelog, backport v11.2.x

#92014 UI Extensions: Share the registries using a React context
  public/app/AppWrapper.tsx
  public/app/app.ts
  public/app/features/plugins/components/AppRootPage.test.tsx
  public/app/features/plugins/components/AppRootPage.tsx
  public/app/features/plugins/extensions/ExtensionRegistriesContext.tsx
  public/app/features/plugins/extensions/registry/AddedComponentsRegistry.test.ts
  public/app/features/plugins/extensions/registry/AddedComponentsRegistry.ts
  public/app/features/plugins/extensions/registry/AddedLinksRegistry.test.ts
  public/app/features/plugins/extensions/registry/AddedLinksRegistry.ts
  public/app/features/plugins/extensions/registry/ExportedComponentsRegistry.test.ts
  public/app/features/plugins/extensions/registry/ExposedComponentsRegistry.ts
  public/app/features/plugins/extensions/registry/Registry.ts
  public/app/features/plugins/extensions/usePluginComponent.test.tsx
  public/app/features/plugins/extensions/usePluginComponent.tsx
  public/app/features/plugins/extensions/usePluginComponents.test.tsx
  public/app/features/plugins/extensions/usePluginComponents.tsx
  public/app/features/plugins/extensions/usePluginLinks.test.tsx
  public/app/features/plugins/extensions/usePluginLinks.tsx
Labels: area/plugins, area/frontend, no-backport, levitate breaking change, no-changelog, area/plugin-extensions

#93131 RBAC: Add available scopes to RBAC docs
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/developers/http_api/annotations.md
  docs/sources/developers/http_api/dashboard.md
  docs/sources/developers/http_api/dashboard_permissions.md
Labels: type/docs, no-backport, no-changelog

#92790 Update _index.md
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, no-changelog

#93091 Datasources: allow for query but with warning
  pkg/api/datasources.go
  pkg/api/frontendsettings.go
  pkg/services/datasources/guardian/allow_guardian.go
  pkg/services/datasources/guardian/provider.go
Labels: type/bug, area/backend, no-changelog

#93154 Internationalization: make `i18nKey` required in grafana-ui as well
  packages/grafana-ui/src/components/Table/TableCellInspector.tsx
  packages/grafana-ui/src/utils/i18n.tsx
  public/app/features/gops/configuration-tracker/components/ConfigCard.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/chore, area/frontend, area/grafana/ui, area/internationalization, no-backport, no-changelog

#93089 K8s: Implement partial folders api with k8s client
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/api.go
  pkg/api/folder.go
  pkg/registry/apis/folders/conversions.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/storage/unified/README.md
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#93032 Remove UID on update in dual writer mode 2
  pkg/apiserver/rest/dualwriter.go
  pkg/apiserver/rest/dualwriter_mode2.go
  pkg/apiserver/rest/dualwriter_mode3_test.go
  pkg/apiserver/rest/dualwriter_mode4_test.go
  pkg/tests/apis/dashboard/dashboards_test.go
Labels: area/backend, no-changelog

#92925 logging: log plugin request start
  pkg/services/pluginsintegration/clientmiddleware/logger_middleware.go
Labels: area/backend, no-changelog

#93030 A11y: Focus outline is not fully visible in several areas of the application
  .betterer.results
  packages/grafana-ui/src/components/VizLegend/VizLegendList.tsx
  public/app/core/components/Breadcrumbs/BreadcrumbItem.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/plugins/panel/dashlist/styles.ts
Labels: area/frontend, type/accessibility, no-backport, no-changelog

#93172 DualWriter: remove mode4 wrapper
  pkg/apiserver/rest/dualwriter.go
  pkg/apiserver/rest/dualwriter_mode1.go
  pkg/apiserver/rest/dualwriter_mode2.go
  pkg/apiserver/rest/dualwriter_mode4.go
  pkg/apiserver/rest/dualwriter_mode4_test.go
Labels: area/backend, no-backport, no-changelog

#93174 Chore: Only auto-triage issues for authors non associated to the repository
  .github/workflows/issue-opened.yml
Labels: no-changelog

#93015 Alerting: Add field selectors for k8s receivers API
  pkg/apis/alerting_notifications/v0alpha1/register.go
  pkg/registry/apis/alerting/notifications/receiver/conversions.go
  pkg/registry/apis/alerting/notifications/receiver/legacy_storage.go
  pkg/registry/apis/alerting/notifications/receiver/storage.go
  pkg/tests/apis/alerting/notifications/receivers/receiver_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#93173 SSO LDAP: Adjust button behavior
  public/app/features/admin/ldap/LdapSettingsPage.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/auth/ldap, area/frontend, no-backport, no-changelog

#93181 GrafanaUI: Show focus on selected date of the date picker
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/CalendarBody.tsx
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
Labels: area/frontend, type/accessibility, no-backport, no-changelog

#92968 move Search page to Dashboards category
  docs/sources/dashboards/search/_index.md
Labels: type/docs, no-changelog

#93176 RBAC: FIX Allow specifying several valid scopes for a kind
  pkg/services/accesscontrol/permreg/permreg.go
  pkg/services/accesscontrol/permreg/permreg_test.go
Labels: area/backend, add to changelog, no-backport

#93182 Alerting: Rename list view section titles
  .betterer.results
  public/app/features/alerting/unified/components/rules/CloudRules.tsx
  public/app/features/alerting/unified/components/rules/GrafanaRules.tsx
  public/app/features/alerting/unified/components/rules/RuleListGroupView.test.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/alerting, area/frontend, no-changelog

#93169 DualWriter: Add mode 5 that always uses storage
  pkg/apiserver/rest/dualwriter.go
  pkg/services/apiserver/builder/helper.go
Labels: area/backend, no-backport, no-changelog

#92483 GrafanaUI: Add select all toggle to selectbox
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SelectBase.test.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  packages/grafana-ui/src/components/Select/getSelectStyles.ts
  packages/grafana-ui/src/components/Select/types.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, area/grafana/ui, no-backport, no-changelog
