Repository grafana/grafana, pull requests merged in 2024-02, with the labels that each got.

#81618 Chore: Remove Form usage from admin components
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/admin/UserCreatePage.tsx
  public/app/features/admin/ldap/LdapPage.tsx
Labels: area/frontend, no-changelog

#81500 Tempo: Fix issue with button click area being too large
  public/app/plugins/datasource/tempo/traceql/QueryEditor.tsx
Labels: type/bug, area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog

#81684 Chore: Remove unused header params in prometheus request
  pkg/tsdb/prometheus/querydata/request.go
Labels: type/chore, datasource/Prometheus, area/backend, no-backport, no-changelog

#81685 SSO Auth: fix typos on field description
  public/app/features/auth-config/fields.tsx
Labels: area/frontend, no-changelog

#81209 InfluxDB: Run queries in parallel behind influxdbRunQueriesInParallel feature toggle
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/pluginsintegration/config/config.go
  pkg/tsdb/influxdb/influxql/influxql.go
Labels: datasource/InfluxDB, area/backend, area/frontend, no-backport, no-changelog

#81551 Chore: Change codeowners of annotations folder
  .github/CODEOWNERS
Labels: type/chore, no-backport, no-changelog

#81552 RBAC: Fix authorize in org
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/accesscontrol/authorize_in_org_test.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/accesscontrol/models.go
  pkg/services/auth/identity/requester.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
  pkg/tests/api/alerting/api_backtesting_test.go
Labels: area/backend, no-backport, no-changelog

#81700 Alerting docs: corrects save text
  docs/sources/alerting/manage-notifications/template-notifications/use-notification-templates.md
Labels: type/docs, backport, no-changelog, backport v10.1.x, backport v10.2.x, backport v10.3.x

#81571 I18n: Refactor crowdin workflow
  .github/CODEOWNERS
  .github/workflows/i18n-crowdin-download.yml
  .github/workflows/i18n-crowdin-fix-files.yml
  .github/workflows/i18n-crowdin-upload.yml
  contribute/internationalization.md
  crowdin.yml
  public/locales/i18next-parser.config.js
Labels: type/docs, area/frontend, area/internationalization, github_actions, no-backport, no-changelog

#81704 I18n: Trigger crowdin upload
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#81636 Loki: Use fixed components from `@grafana/experimental` 1.7.9
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.tsx
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog

#81695 Chore: Improve how we install Python
  .drone.yml
  scripts/drone/steps/lib.star
Labels: type/ci, no-changelog

#81710 Loki: Add to `.eslintrc` list to restrict imports from core
  .eslintrc
Labels: type/chore, area/frontend, datasource/Loki, no-backport, no-changelog

#81595 Scenes/PanelEditor: Add support for overrides tab and searching
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneOptions.tsx
Labels: area/dashboard, area/frontend, no-changelog, area/scenes

#81696 QueryEditor: remove `slateAutocomplete` toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-ui/src/slate-plugins/suggestions.test.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, type/chore, area/backend, area/frontend, no-backport, no-changelog

#81706 ShareModal: Fixes url sync issue that caused issue with save drawer
  public/app/features/dashboard/components/DashNav/ShareButton.tsx
  public/app/features/dashboard/components/ShareModal/ShareModal.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dashboard/containers/types.ts
Labels: type/bug, area/frontend, add to changelog, missing-labels, backport v10.3.x

#80075 Unify frontend monitoring
  conf/defaults.ini
  packages/grafana-runtime/src/index.ts
  packages/grafana-runtime/src/utils/logging.ts
  packages/grafana-sql/src/components/configuration/useMigrateDatabaseFields.test.ts
  packages/grafana-sql/src/components/configuration/useMigrateDatabaseFields.ts
  packages/grafana-sql/src/utils/logging.ts
  pkg/setting/setting_grafana_javascript_agent.go
  public/app/core/services/echo/backends/grafana-javascript-agent/GrafanaJavascriptAgentBackend.ts
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/useRouteGroupsMatcher.ts
  public/app/features/correlations/useCorrelations.ts
  public/app/features/correlations/utils.ts
  public/app/features/dashboard/components/GenAI/hooks.ts
  public/app/features/plugins/components/AppRootPage.tsx
  public/app/features/plugins/sandbox/utils.ts
  public/app/features/plugins/utils.ts
  public/app/features/query/state/runRequest.ts
  public/app/features/query/utils.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#81698 Explore: Disable cursor sync
  public/app/features/explore/Graph/ExploreGraph.tsx
Labels: area/explore, area/frontend, add to changelog

#80923 Set DatasourceName and DatasourceType in proxy.Options
  go.mod
  go.sum
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_snapshot_test.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
  pkg/tsdb/grafana-postgresql-datasource/proxy_test.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/proxy_test.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/proxy_test.go
  pkg/tsdb/sqleng/proxyutil/proxy_util.go
Labels: datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, no-changelog

#80910 Add secureSocksDSProxyEnabled label to grafana_datasource_request_duration_seconds
  pkg/infra/httpclient/httpclientprovider/datasource_metrics_middleware.go
  pkg/infra/httpclient/httpclientprovider/datasource_metrics_middleware_test.go
Labels: area/backend, no-changelog

#81637 Dashboards: Add duration to dashboard init tracking
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/dashboard/utils/tracking.test.ts
  public/app/features/dashboard/utils/tracking.ts
Labels: area/dashboard, area/frontend, no-backport, no-changelog

#81712 Alerting: Prevent inhibition rules in Grafana Alertmanager
  pkg/services/ngalert/notifier/alertmanager_config.go
  pkg/tests/api/alerting/api_admin_configuration_test.go
  pkg/tests/api/alerting/testing.go
Labels: area/alerting, area/backend, no-changelog

#81482 Alerting: Fix selecting empty contact point value for notification policy inheritance
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/notification-policies.test.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
  public/app/plugins/datasource/alertmanager/types.ts
Labels: area/alerting, area/frontend, add to changelog

#81711 Decouple: Make eslint rules stricter and don't allow import of anything from public
  .eslintrc
  public/app/plugins/datasource/cloud-monitoring/components/Aggregation.test.tsx
Labels: type/chore, area/frontend, datasource/GoogleCloudMonitoring, no-backport, no-changelog

#81654 Cloud Monitoring: Fix naming
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/tests/api/plugins/data/expectedListResp.json
  public/app/plugins/datasource/cloud-monitoring/plugin.json
Labels: area/backend, area/frontend, datasource/GoogleCloudMonitoring, no-backport, no-changelog

#81720 k8S: (Chore) Add arg to hack codegen to filter openapi generation
  hack/update-codegen.sh
Labels: no-changelog

#81722 Alerting docs: rename provisioning files
  docs/sources/alerting/set-up/provision-alerting-resources/_index.md
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
  docs/sources/alerting/set-up/provision-alerting-resources/view-provisioned-resources/index.md
Labels: type/docs, backport, no-changelog, backport v10.1.x, backport v10.2.x, backport v10.3.x

#81586 Prometheus: Remove featuremgmt imports
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/tsdb/prometheus/healthcheck_test.go
  pkg/tsdb/prometheus/heuristics_test.go
  pkg/tsdb/prometheus/prometheus.go
  pkg/tsdb/prometheus/prometheus_test.go
  pkg/tsdb/prometheus/querydata/request.go
  pkg/tsdb/prometheus/querydata/request_test.go
  pkg/tsdb/prometheus/querydata/response.go
  pkg/tsdb/prometheus/querydata/response_test.go
Labels: datasource/Prometheus, area/backend, no-backport, no-changelog

#81731 Add aliases for Grafana Cloud locations so that these pages can be moved
  docs/sources/fundamentals/intro-to-prometheus/index.md
  docs/sources/fundamentals/timeseries-dimensions/index.md
  docs/sources/fundamentals/timeseries/index.md
Labels: type/docs, no-changelog

#81726 Licensing: Redact license when overriden by env variable
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend, add to changelog, no-backport

#81735 Swagger: Update specifications
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/frontend, no-backport, no-changelog

#81734 Chore: Use maputil functions from grafana-azure-sdk-go
  pkg/tsdb/prometheus/client/transport.go
  pkg/tsdb/prometheus/querydata/request.go
  pkg/tsdb/prometheus/resource/resource.go
Labels: type/chore, datasource/Prometheus, area/backend, no-backport, no-changelog

#81211 Alerting: Introduce initial common receiver service
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/compat.go
  pkg/services/ngalert/notifier/receiver_svc.go
  pkg/services/ngalert/notifier/receiver_svc_test.go
  pkg/services/ngalert/notifier/testreceivers.go
  pkg/services/ngalert/notifier/testreceivers_test.go
  pkg/services/ngalert/provisioning/compat.go
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
  pkg/services/ngalert/tests/fakes/config.go
  pkg/services/provisioning/provisioning.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#81672 Alerting: Time intervals API (read only endpoints)
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/generated_base_api_notifications.go
  pkg/services/ngalert/api/notifications.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/time_intervals.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/tests/api/alerting/api_notifications_time_interval_test.go
  pkg/tests/api/alerting/testing.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-changelog

#81723 Scenes: Update to 2.4
  package.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#81743 Transformations: Expose "keep fields" option in partition by values
  public/app/features/transformers/partitionByValues/PartitionByValuesEditor.tsx
  public/app/features/transformers/partitionByValues/partitionByValues.ts
Labels: area/frontend, no-backport, no-changelog

#81668 Docs: add missing supported visualizations
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
Labels: type/docs, no-changelog, backport v10.3.x

#81747 Transformers: Do not add transformation info to output frames
  packages/grafana-data/src/transformations/transformDataFrame.ts
  packages/grafana-data/src/transformations/transformers/ensureColumns.test.ts
  packages/grafana-data/src/types/data.ts
  public/app/features/transformers/extractFields/extractFields.test.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/state-timeline/StateTimelineTooltip2.tsx
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
Labels: area/frontend, area/panel/state-timeline, area/panel/status-history, no-backport, no-changelog

#81615 User: Add uid colum to user table
  packages/grafana-data/src/types/config.ts
  pkg/api/dtos/models.go
  pkg/api/index.go
  pkg/api/user_test.go
  pkg/services/ngalert/migration/permissions_test.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/migrations/user_mig.go
  pkg/services/user/identity.go
  pkg/services/user/model.go
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/store_test.go
  pkg/services/user/userimpl/user.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/core/services/context_srv.ts
  public/openapi3.json
Labels: area/backend, area/frontend, add to changelog, area/backend/db/migration, no-backport

#80854 Feature Toggles: Switch feature toggle admin page over to k8s API
  pkg/api/api.go
  pkg/api/featuremgmt.go
  pkg/api/featuremgmt_test.go
  pkg/api/http_server.go
  pkg/apis/featuretoggle/v0alpha1/types.go
  pkg/apis/featuretoggle/v0alpha1/zz_generated.openapi.go
  pkg/cmd/grafana/apiserver/server.go
  pkg/registry/apis/featuretoggle/current.go
  pkg/registry/apis/featuretoggle/register.go
  pkg/services/featuremgmt/manager.go
  pkg/services/featuremgmt/models.go
  public/app/core/reducers/root.ts
  public/app/features/admin/AdminFeatureTogglesAPI.test.ts
  public/app/features/admin/AdminFeatureTogglesAPI.ts
  public/app/features/admin/AdminFeatureTogglesPage.tsx
  public/app/features/admin/AdminFeatureTogglesTable.tsx
  public/app/store/configureStore.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#81614 K8s: use --runtime-config={group}/{version}=true to enabled APIs
  pkg/cmd/grafana/apiserver/cmd.go
  pkg/cmd/grafana/apiserver/cmd_test.go
  pkg/cmd/grafana/apiserver/server.go
  pkg/registry/apis/datasource/register.go
Labels: area/backend, no-backport, no-changelog

#77667 K8s/Snapshots: Add dashboardsnapshot api group
  pkg/api/api.go
  pkg/api/dashboard_snapshot.go
  pkg/api/dashboard_snapshot_test.go
  pkg/apis/dashboardsnapshot/v0alpha1/doc.go
  pkg/apis/dashboardsnapshot/v0alpha1/register.go
  pkg/apis/dashboardsnapshot/v0alpha1/types.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.defaults.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.openapi.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/apis.go
  pkg/registry/apis/dashboardsnapshot/conversions.go
  pkg/registry/apis/dashboardsnapshot/exporter.go
  pkg/registry/apis/dashboardsnapshot/options_storage.go
  pkg/registry/apis/dashboardsnapshot/register.go
  pkg/registry/apis/dashboardsnapshot/sql_storage.go
  pkg/registry/apis/dashboardsnapshot/sub_body.go
  pkg/registry/apis/wireset.go
  pkg/services/dashboardsnapshots/database/database.go
  pkg/services/dashboardsnapshots/database/database_test.go
  pkg/services/dashboardsnapshots/models.go
  pkg/services/dashboardsnapshots/service.go
  pkg/services/dashboardsnapshots/service/service.go
  pkg/services/dashboardsnapshots/service/service_test.go
  pkg/setting/setting.go
  pkg/tests/apis/dashboardsnapshot/snapshots_test.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/features/dashboard-scene/sharing/ShareSnapshotTab.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/features/dashboard/services/SnapshotSrv.ts
  public/openapi3.json
Labels: type/docs, type/build-packaging, area/dashboard/snapshot, area/backend, area/frontend, no-backport, no-changelog

#81759 Histogram: Start y-axis at 0, set default color mode to classic palette
  public/app/plugins/panel/histogram/Histogram.tsx
  public/app/plugins/panel/histogram/module.tsx
Labels: type/bug, area/frontend, area/panel/histogram, no-backport, no-changelog

#81477 Levitate: fix markdown diff format
  .github/workflows/detect-breaking-changes-levitate.yml
  scripts/check-breaking-changes.sh
  scripts/levitate-parse-json-report.js
Labels: type/build-packaging, area/frontend, no-backport, no-changelog

#80858 allow using {{ .URL }} inside "routes" section in plugin.json
  pkg/api/pluginproxy/ds_auth_provider.go
  pkg/api/pluginproxy/ds_proxy.go
  pkg/api/pluginproxy/ds_proxy_test.go
  pkg/api/pluginproxy/pluginproxy.go
Labels: area/backend, pr/external, no-backport, no-changelog

#81715 DashboardScene: Detect updated saved dashboard version and load new scene
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
Labels: area/frontend, no-backport, no-changelog

#81694 Provisioning: Fix failure to save dashboard
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/models.go
  pkg/services/provisioning/dashboards/file_reader.go
Labels: type/bug, area/backend, no-backport, no-changelog

#81671 Elasticsearch: Implement CheckHealth method in the backend
  pkg/tsdb/elasticsearch/healthcheck.go
  pkg/tsdb/elasticsearch/healthcheck_test.go
Labels: datasource/Elasticsearch, area/backend, area/frontend, add to changelog, pr/external, no-backport

#81719 RBAC: Reject plugin registrations without a name
  pkg/services/accesscontrol/errors.go
  pkg/services/accesscontrol/pluginutils/utils.go
  pkg/services/accesscontrol/pluginutils/utils_test.go
Labels: type/bug, area/backend, no-backport, no-changelog

#81762 Auth: Fix routing of SSO setting pages
  pkg/api/api.go
Labels: area/auth, area/backend, no-changelog

#81779 Chore: Address flaky test in PanelDataTransformationsTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.test.tsx
Labels: area/frontend, no-backport, no-changelog

#81708 Elasticsearch: Fix creating of legend so it is backward compatible with frontend produced frames
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/testdata/trimedges_string.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_avg.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_complex.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_extended_stats.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_multi.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_multi.b.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_percentiles.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_simple.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_top_metrics.a.golden.jsonc
Labels: type/bug, datasource/Elasticsearch, area/backend, add to changelog, backport v10.3.x

#81718 Alerting: Fixes for pending period
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/utils/rule-form.ts
  public/app/features/alerting/unified/utils/rules.ts
Labels: area/alerting, area/frontend, add to changelog

#81691 ReturnToPrevious: make `href` optional
  packages/grafana-runtime/src/utils/returnToPrevious.ts
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/AppChromeService.tsx
  public/app/core/components/AppChrome/ReturnToPrevious/ReturnToPrevious.tsx
  public/app/core/context/GrafanaContext.ts
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
Labels: area/frontend, no-backport, no-changelog

#81764 sql: use interval-formatting from the sdk
  pkg/tsdb/sqleng/sql_engine.go
Labels: area/backend, no-changelog

#81725 Infinite scroll: implementation clean up
  public/app/features/logs/components/InfiniteScroll.test.tsx
  public/app/features/logs/components/InfiniteScroll.tsx
Labels: area/frontend, no-backport, no-changelog

#81780 Swagger: Remove redundant annotation
  pkg/api/dashboard.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#81787 Chore: Migrate frontend platform code to use `data-testid` for selectors
  .betterer.results
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/DateTimePickers/TimeRangeInput.tsx
  public/app/core/components/PageHeader/PanelHeaderMenuItem.tsx
  public/app/core/components/QueryOperationRow/QueryOperationAction.test.tsx
  public/app/core/components/QueryOperationRow/QueryOperationAction.tsx
  public/app/core/components/Select/OldFolderPicker.test.tsx
  public/app/core/components/Select/OldFolderPicker.tsx
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/browse-dashboards/components/BrowseActions/MoveModal.test.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.test.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog

#81520 Docs: Edit configure thresholds page
  docs/sources/panels-visualizations/configure-thresholds/index.md
Labels: type/docs, no-backport, no-changelog

#81798 Chore: Levitate to ignore private packages for compatibility comparison
  scripts/check-breaking-changes.sh
Labels: area/plugins, type/build-packaging, no-backport, no-changelog

#81777 Scenes: Refactor panel editor tab counts
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataPane.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/types.ts
Labels: area/frontend, no-backport, no-changelog, area/scenes

#81803 Chore: Refresh yarn lock file
  yarn.lock
Labels: area/frontend, dependencies, no-backport, no-changelog

#81757 Peakq: Split variable definition from replacement strategy
  pkg/apis/peakq/v0alpha1/types.go
  pkg/apis/peakq/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/peakq/v0alpha1/zz_generated.openapi.go
  pkg/apis/peakq/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/peakq/register.go
  pkg/registry/apis/peakq/render.go
  pkg/registry/apis/peakq/render_examples.go
  pkg/registry/apis/peakq/render_examples_test.go
  pkg/registry/apis/peakq/render_test.go
Labels: area/backend

#81802 Tempo: Support backtick strings
  public/app/plugins/datasource/tempo/package.json
  public/app/plugins/datasource/tempo/traceql/highlighting.test.ts
  public/app/plugins/datasource/tempo/traceql/traceql.ts
  yarn.lock
Labels: area/frontend, add to changelog, datasource/Tempo

#81693 Tempo: Add custom headers middleware for grpc client
  pkg/tsdb/tempo/grpc.go
  pkg/tsdb/tempo/search_stream.go
Labels: area/backend, add to changelog, area/datasource/backend, datasource/Tempo

#81519 Docs: Restructure configure thresholds docs
  docs/sources/panels-visualizations/configure-thresholds/index.md
Labels: type/docs, no-changelog, area/dataviz, backport v10.3.x

#81194 Chore: deprecate/remove folderId from more typescript
  public/app/features/alerting/unified/PanelAlertTabContent.test.tsx
  public/app/features/alerting/unified/__snapshots__/PanelAlertTabContent.test.tsx.snap
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.test.tsx
  public/app/features/dashboard/services/DashboardSrv.ts
  public/app/features/search/service/sql.ts
  public/app/features/search/types.ts
  public/app/types/dashboard.ts
Labels: area/frontend, no-backport, no-changelog

#81351 Add translations for new navigation items pdc and collector
  public/app/core/utils/navBarItem-translations.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#81817 CI: Add dagger cloud token to PR steps for caching
  .drone.yml
  scripts/drone/steps/rgm.star
Labels: type/ci, no-backport, no-changelog

#81824 Chore: go mod tidy after apiserver refactor
  go.mod
  go.sum
  pkg/services/apiserver/service.go
Labels: area/backend, no-backport, no-changelog

#81829 K8s: Allow more control over the final openapi results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/api/api.go
  pkg/api/dashboard_snapshot.go
  pkg/registry/apis/dashboardsnapshot/register.go
  pkg/services/apiserver/builder/common.go
  pkg/services/apiserver/builder/openapi.go
  pkg/services/apiserver/builder/request_handler.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, no-backport, no-changelog

#81839 fix: datatrails verify different time range before creating new history node
  public/app/features/trails/DataTrailsHistory.tsx
  public/app/features/trails/utils.ts
Labels: area/frontend, no-backport, no-changelog

#81264 Folders: Forbid performing operations on folders via dashboards HTTP API
  docs/sources/developers/http_api/dashboard.md
  pkg/api/dashboard.go
  public/api-merged.json
  public/openapi3.json
Labels: type/docs, area/dashboard/folders, area/backend, area/frontend, add to changelog, no-backport

#81857 K8s: Update common openapi generation scripts
  hack/README.md
  hack/openapi-codegen.sh
  hack/update-codegen.sh
  pkg/apis/common/v0alpha1/zz_generated.openapi.go
  pkg/apis/common/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/services/apiserver/builder/openapi.go
Labels: area/backend, no-backport, no-changelog

#81576 sql: make sure queries do not have fill-params
  pkg/tsdb/sqleng/sql_engine.go
Labels: area/backend, no-changelog

#81795 Folders: Fix failure to update folder in SQLite
  pkg/services/folder/folderimpl/folder.go
  pkg/tests/api/folders/api_folder_test.go
Labels: type/bug, area/backend, add to changelog, backport v10.2.x, backport v10.3.x

#81583 AuthN: Switch externalServiceAccounts toggle to public preview
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, no-backport, no-changelog

#81774 Plugins: Never disable add new data source for core plugins
  public/app/features/plugins/admin/components/GetStartedWithPlugin/GetStartedWithDataSource.test.tsx
  public/app/features/plugins/admin/components/GetStartedWithPlugin/GetStartedWithDataSource.tsx
  public/app/features/plugins/admin/helpers.test.ts
  public/app/features/plugins/admin/helpers.ts
Labels: type/bug, area/plugins, area/frontend, add to changelog, area/plugins-catalog, no-backport

#81859 Dashboards: Restore deleted index
  pkg/services/dashboards/database/migrations/folder_uid_migrator.go
Labels: type/bug, area/backend, no-backport, no-changelog

#81812 Chore: Some test type fixes
  .betterer.results
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
  public/app/features/dashboard/state/PanelModel.test.ts
  public/app/features/dashboard/state/initDashboard.test.ts
  public/app/features/datasources/state/actions.test.ts
  public/app/features/explore/QueryRows.test.tsx
  public/app/features/explore/TraceView/components/model/link-patterns.test.ts
  public/app/features/explore/spec/interpolation.test.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
  public/app/features/geo/gazetteer/worldmap.test.ts
  public/app/features/manage-dashboards/state/actions.test.ts
  public/app/features/query/state/DashboardQueryRunner/AlertStatesWorker.test.ts
  public/app/features/query/state/DashboardQueryRunner/AnnotationsQueryRunner.test.ts
  public/app/features/templating/macroRegistry.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/query/actions.test.tsx
  public/app/features/variables/query/queryRunners.test.ts
  public/app/features/variables/state/reducers.test.ts
  public/app/features/variables/state/transactionReducer.test.ts
  public/app/plugins/datasource/elasticsearch/QueryBuilder.test.ts
  public/app/plugins/datasource/grafana/datasource.test.ts
  public/app/plugins/datasource/graphite/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/result_transformer.test.ts
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/panel/annolist/AnnoListPanel.test.tsx
Labels: datasource/Graphite, area/dashboard/templating, datasource/Elasticsearch, type/chore, datasource/Prometheus, area/explore, area/frontend, datasource/Tempo, no-backport, no-changelog

#81690 intervalv2: use duration-formatting logic from plugin-sdk-go
  pkg/tsdb/intervalv2/intervalv2.go
Labels: area/backend, no-changelog

#81852 DashboardScene: move overlay out from each edit view
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/settings/DashboardLinksEditView.tsx
  public/app/features/dashboard-scene/settings/GeneralSettingsEditView.tsx
Labels: area/frontend, no-backport, no-changelog

#81799 TextLink: Do not strip base from external urls
  packages/grafana-ui/src/components/Link/TextLink.test.tsx
  packages/grafana-ui/src/components/Link/TextLink.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.test.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#81867 Dashboard: Dashboard schema fixes and scene to save model fixes
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  public/app/features/dashboard/state/PanelModel.ts
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#81847 Dashbboard: Fixes time picker schema default issues
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
  public/app/features/dashboard/components/DashboardSettings/TimePickerSettings.tsx
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/TimeModel.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#81816 Chore: Update grafana-prometheus test types
  .betterer.results
  packages/grafana-prometheus/src/datasource.test.ts
  packages/grafana-prometheus/src/metric_find_query.test.ts
  packages/grafana-prometheus/src/result_transformer.test.ts
Labels: datasource/Prometheus, area/frontend, no-backport, no-changelog

#81733 I18n: Fix path for Crowdin upload
  .github/workflows/i18n-crowdin-download.yml
  .github/workflows/i18n-crowdin-upload.yml
  crowdin.yml
Labels: area/internationalization, github_actions, no-backport, no-changelog

#81807 Chore: Bump grafana-azure-sdk-go to v1.12.0 and expose AzureAuthEnabled value in config
  go.mod
  go.sum
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/services/pluginsintegration/config/config.go
Labels: area/backend, no-backport, no-changelog

#81806 Chore: Bump follow-redirects to latest
  yarn.lock
Labels: area/frontend, dependencies, no-backport, no-changelog

#81862 [v10.3.x] Folders: Fix failure to update folder in SQLite
  pkg/services/folder/folderimpl/folder.go
Labels: type/bug, area/backend, add to changelog, backport

#81861 [v10.2.x] Folders: Fix failure to update folder in SQLite
  pkg/services/folder/folderimpl/folder.go
Labels: type/bug, area/backend, add to changelog, backport

#81863 Docs: adds update to x-provenance
  docs/sources/developers/http_api/alerting_provisioning.md
Labels: type/docs, backport, no-changelog, backport v10.1.x, backport v10.2.x, backport v10.3.x

#81855 DashboardScene: Reload when someone else saves changes
  .betterer.results
  public/app/features/dashboard-scene/pages/DashboardScenePage.test.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/utils/DashboardModelCompatibilityWrapper.ts
Labels: area/frontend, no-backport, no-changelog

#81664 DashboardScene: Action toolbar progress
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButtonRow.tsx
  public/app/core/components/AppChrome/NavToolbar/NavToolbar.tsx
  public/app/features/alerting/unified/initAlerting.tsx
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.test.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard-scene/utils/interactions.ts
Labels: area/frontend, no-backport, no-changelog

#81566 Log rows: add re-renders test cases
  public/app/plugins/panel/logs/LogsPanel.test.tsx
Labels: area/frontend, no-backport, no-changelog

#81667 Settings: Fix data race when dynamically overriding settings with environment variables
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  pkg/util/osutil/osutil.go
  pkg/util/osutil/osutil_test.go
Labels: type/bug, area/backend, go, no-backport, no-changelog

#81893 FieldOptions: Revert scalable unit option as we already support this via custom prefix/suffixes
  .betterer.results
  docs/sources/panels-visualizations/configure-standard-options/index.md
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/types/dataFrame.ts
  packages/grafana-data/src/valueFormats/categories.ts
  packages/grafana-data/src/valueFormats/symbolFormatters.test.ts
  packages/grafana-data/src/valueFormats/symbolFormatters.ts
  packages/grafana-data/src/valueFormats/valueFormats.test.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
  public/app/core/components/OptionsUI/registry.tsx
Labels: type/docs, area/frontend, add to changelog, no-backport, levitate breaking change, backport v10.3.x

#79569 Fix: Refresh token when id_token is expired
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/oauthtoken/oauth_token_test.go
  pkg/services/oauthtoken/oauthtokentest/mock.go
  pkg/services/oauthtoken/oauthtokentest/oauthtokentest.go
  pkg/services/oauthtoken/oauthtokentest/service_mock.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#81874 Access: Remove split scopes feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/resourcepermissions/store.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#81789 Chore: webpack alias react and grafana-runtime to share singletons
  scripts/webpack/webpack.dev.js
Labels: area/frontend, no-changelog

#81746 Baldm0mma/xy tooltip tests
  public/app/plugins/panel/xychart/XYChartTooltip.test.tsx
Labels: area/frontend, area/panel/xychart, no-changelog, internal

#81751 Alerting: Receivers API (read only endpoints)
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_notifications.go
  pkg/services/ngalert/api/api_notifications_test.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/generated_base_api_notifications.go
  pkg/services/ngalert/api/notifications.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/receivers.go
  pkg/services/ngalert/api/tooling/definitions/time_intervals.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/notifier/compat.go
  pkg/services/ngalert/notifier/receiver_svc.go
  pkg/services/ngalert/notifier/receiver_svc_test.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
  pkg/services/ngalert/tests/fakes/receivers.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-changelog

#81208 CloudWatch: Remove dependencies on grafana/pkg/setting
  conf/defaults.ini
  conf/sample.ini
  go.mod
  go.sum
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/services/pluginsintegration/loader/loader_test.go
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/clients/metrics.go
  pkg/tsdb/cloudwatch/clients/metrics_test.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/cloudwatch_integration_test.go
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards_test.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_sync_query_test.go
  pkg/tsdb/cloudwatch/metric_data_input_builder_test.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/models/settings.go
  pkg/tsdb/cloudwatch/models/settings_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#81912 Prometheus: Update prometheus frontend library codewowners
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#81814 Elasticsearch: Set middlewares from Grafana's `httpClientProvider`
  pkg/tsdb/elasticsearch/elasticsearch.go
Labels: type/bug, datasource/Elasticsearch, area/backend, add to changelog, backport v10.3.x

#81617 Instrumentation: Enables SLOGroups and StatusSource labels by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/middleware/loggermw/logger.go
  pkg/middleware/request_metrics.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#81894 mysql: remove dev-mode log
  pkg/tsdb/mysql/mysql.go
Labels: datasource/MySQL, area/backend, no-changelog

#81781 Scenes: Migrate permissions settings page
  public/app/features/dashboard-scene/settings/PermissionsEditView.test.tsx
  public/app/features/dashboard-scene/settings/PermissionsEditView.tsx
  public/app/features/dashboard-scene/settings/utils.ts
Labels: area/frontend, no-backport, no-changelog, area/scenes

#81512 Alerting: Support UTF-8
  go.mod
  go.sum
  pkg/services/ngalert/metrics/alertmanager.go
  pkg/services/ngalert/ngalert.go
  pkg/tests/api/alerting/api_alertmanager_configuration_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/testing.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#81548 Tempo: Trace to metrics docs
  docs/sources/datasources/tempo/configure-tempo-data-source.md
  docs/sources/shared/datasources/tempo-traces-to-profiles.md
Labels: type/docs, datasource/Tempo, no-backport, no-changelog

#81790 Dashboards: Remove `advancedDataSourcePicker` feature toggle
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/alerting/unified/RuleEditorCloudOnlyAllowed.test.tsx
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/CloudDataSourceSelector.tsx
  public/app/features/alerting/unified/mocks.ts
  public/app/features/correlations/CorrelationsPage.test.tsx
  public/app/features/dashboard-scene/settings/variables/components/QueryVariableForm.test.tsx
  public/app/features/dashboard-scene/settings/variables/editors/QueryVariableEditor.test.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.test.tsx
  public/app/features/datasources/components/picker/BuiltInDataSourceList.tsx
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
  public/app/features/datasources/components/picker/DataSourceList.tsx
  public/app/features/datasources/components/picker/DataSourcePicker.test.tsx
  public/app/features/datasources/components/picker/DataSourcePicker.tsx
  public/app/features/explore/spec/helper/interactions.ts
  public/app/features/query/components/QueryEditorRowHeader.test.tsx
  public/app/features/query/components/QueryGroup.tsx
  public/app/features/variables/adhoc/AdHocVariableEditor.test.tsx
  public/test/helpers/alertingRuleEditor.tsx
Labels: type/docs, area/dashboard/templating, area/backend, area/explore, area/frontend, add to changelog

#81887 I18n: Adjust GH actions workflow
  .github/pr-commands.json
  .github/workflows/i18n-crowdin-download.yml
Labels: area/internationalization, github_actions, no-backport, no-changelog

#81908 Chore: Force transitive resolution of debug
  package.json
  yarn.lock
Labels: area/frontend, no-changelog

#81943 I18n: Export only approved translations
  .github/workflows/i18n-crowdin-download.yml
Labels: area/internationalization, github_actions, no-backport, no-changelog

#81899 Chore: Update InfluxDB response parser test files
  pkg/tsdb/influxdb/influxql/buffered/response_parser_test.go
  pkg/tsdb/influxdb/influxql/testdata/all_values_are_null.json
  pkg/tsdb/influxdb/influxql/testdata/empty_response.json
  pkg/tsdb/influxdb/influxql/testdata/error_on_top_level_response.json
  pkg/tsdb/influxdb/influxql/testdata/error_response.json
  pkg/tsdb/influxdb/influxql/testdata/influx_select_all_from_cpu.json
  pkg/tsdb/influxdb/influxql/testdata/invalid_timestamp_format.json
  pkg/tsdb/influxdb/influxql/testdata/invalid_value_format.json
  pkg/tsdb/influxdb/influxql/testdata/metric_find_queries.json
  pkg/tsdb/influxdb/influxql/testdata/multiple_measurements.json
  pkg/tsdb/influxdb/influxql/testdata/multiple_series_with_tags.json
  pkg/tsdb/influxdb/influxql/testdata/multiple_series_with_tags_and_multiple_columns.json
  pkg/tsdb/influxdb/influxql/testdata/one_measurement_with_two_columns.json
  pkg/tsdb/influxdb/influxql/testdata/response.json
  pkg/tsdb/influxdb/influxql/testdata/response_with_nil_bools_and_nil_strings.json
  pkg/tsdb/influxdb/influxql/testdata/response_with_weird_tag.json
  pkg/tsdb/influxdb/influxql/testdata/retention_policy.json
  pkg/tsdb/influxdb/influxql/testdata/show_diagnostics.json
  pkg/tsdb/influxdb/influxql/testdata/show_diagnostics.time_series.golden.jsonc
  pkg/tsdb/influxdb/influxql/testdata/show_tag_values_response.json
  pkg/tsdb/influxdb/influxql/testdata/simple_response.json
  pkg/tsdb/influxdb/influxql/testdata/simple_response_with_diverse_data_types.json
  pkg/tsdb/influxdb/influxql/testdata/some_values_are_null.json
  pkg/tsdb/influxdb/influxql/testdata/string_column_with_null_value.json
  pkg/tsdb/influxdb/influxql/testdata/string_column_with_null_value2.json
Labels: datasource/InfluxDB, area/backend, no-backport, no-changelog

#81903 Command Palette: Add empty state
  public/app/features/commandPalette/CommandPalette.tsx
  public/app/features/commandPalette/EmptyState.tsx
  public/img/grot-not-found.svg
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/chore, area/frontend, no-backport, no-changelog

#81819 Browse Dashboards: Imported dashboards now display immediately in the dashboard list
  .betterer.results
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/manage-dashboards/state/actions.test.ts
  public/app/features/manage-dashboards/state/actions.ts
  public/app/types/dashboard.ts
Labels: type/bug, area/frontend, add to changelog, no-backport

#81917 Docs: remove disable scaling units entry
  docs/sources/whatsnew/whats-new-in-v10-3.md
Labels: type/docs, no-changelog, backport v10.3.x

#81947 I18n: Add Crowdin PRs to project board
  .github/pr-commands.json
Labels: area/internationalization, github_actions, no-backport, no-changelog

#81957 Remove X-Grafana-Device-Id from outbound requests
  pkg/services/contexthandler/contexthandler.go
Labels: type/bug, area/backend, no-changelog, backport v10.3.x

#81838 datatrails: improve width responsiveness for breakdown label selector
  public/app/features/trails/ActionTabs/BreakdownScene.tsx
  public/app/features/trails/BreakdownLabelSelector.tsx
Labels: area/frontend, no-backport, no-changelog

#81914 Chore: Fix plugins manager process data race in pkg/plugins/manager/process
  pkg/plugins/log/fake.go
  pkg/plugins/manager/process/process.go
  pkg/plugins/manager/process/process_test.go
Labels: type/chore, area/backend, go, no-changelog

#81937 Patch 3
  docs/sources/alerting/set-up/provision-alerting-resources/_index.md
Labels: type/docs, pr/external, no-changelog

#81686 Tempo: Move query ref to TraceQLEditor
  public/app/plugins/datasource/tempo/traceql/QueryEditor.tsx
  public/app/plugins/datasource/tempo/traceql/TraceQLEditor.tsx
Labels: area/frontend, area/datasource/frontend, datasource/Tempo, no-backport, no-changelog

#81878 DockedMegaMenu: Clean up toggle and old code
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  e2e/various-suite/frontend-sandbox-app.spec.ts
  e2e/various-suite/graph-auto-migrate.spec.ts
  e2e/various-suite/navigation.spec.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/navtree/navtreeimpl/applinks.go
  pkg/services/navtree/navtreeimpl/applinks_test.go
  public/app/core/components/AppChrome/AppChrome.test.tsx
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/AppChromeMenu.tsx
  public/app/core/components/AppChrome/AppChromeService.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.test.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/DockedMegaMenu/utils.test.ts
  public/app/core/components/AppChrome/DockedMegaMenu/utils.ts
  public/app/core/components/AppChrome/MegaMenu/FeatureHighlight.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenu.test.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenuItem.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenuItemText.tsx
  public/app/core/components/AppChrome/MegaMenu/NavBarItemIcon.tsx
  public/app/core/components/AppChrome/MegaMenu/NavBarMenu.tsx
  public/app/core/components/AppChrome/MegaMenu/NavBarMenuItem.tsx
  public/app/core/components/AppChrome/MegaMenu/NavBarMenuItemWrapper.tsx
  public/app/core/components/AppChrome/MegaMenu/NavBarMenuSection.tsx
  public/app/core/components/AppChrome/MegaMenu/NavFeatureHighlight.tsx
  public/app/core/components/AppChrome/MegaMenu/utils.ts
  public/app/core/components/AppChrome/SectionNav/SectionNav.tsx
  public/app/core/components/AppChrome/SectionNav/SectionNavItem.test.tsx
  public/app/core/components/AppChrome/SectionNav/SectionNavItem.tsx
  public/app/core/components/AppChrome/SectionNav/SectionNavToggle.tsx
  public/app/core/components/Breadcrumbs/utils.ts
  public/app/core/components/Page/Page.tsx
  public/app/core/navigation/GrafanaRouteLoading.tsx
  public/app/core/utils/navBarItem-translations.ts
  public/app/features/dashboard/components/DashboardPermissions/AccessControlDashboardPermissions.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/DashboardSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/GeneralSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/JsonEditorSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.test.tsx
  public/app/features/dashboard/components/DashboardSettings/LinksSettings.tsx
  public/app/features/dashboard/components/DashboardSettings/VersionsSettings.tsx
  public/app/features/serviceaccounts/ServiceAccountCreatePage.test.tsx
  public/app/features/teams/TeamPages.test.tsx
  public/app/features/variables/editor/VariableEditorContainer.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: type/docs, area/dashboard/templating, type/chore, area/backend, area/frontend, area/navigation, no-backport, no-changelog

#81896 Folders: Set FullPath and FullPathUIDs when feature flag is off and query requests
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
Labels: area/backend, no-backport, no-changelog

#81970 I18n: Refactor action
  .github/pr-commands.json
Labels: area/internationalization, github_actions, no-backport, no-changelog

#81909 Prometheus: Frontend library exports
  packages/grafana-prometheus/src/components/PromExploreExtraField.test.tsx
  packages/grafana-prometheus/src/components/PromExploreExtraField.tsx
  packages/grafana-prometheus/src/components/PromQueryEditorByApp.test.tsx
  packages/grafana-prometheus/src/components/PromQueryEditorForAlerting.tsx
  packages/grafana-prometheus/src/components/index.ts
  packages/grafana-prometheus/src/index.ts
  packages/grafana-prometheus/src/querybuilder/components/LabelFilterItem.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelFilters.test.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelFilters.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricSelect.test.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricSelect.tsx
  packages/grafana-prometheus/src/querybuilder/components/NestedQuery.tsx
  packages/grafana-prometheus/src/querybuilder/components/NestedQueryList.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilder.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilderContainer.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilderExplained.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilderOptions.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryCodeEditor.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryLegendEditor.tsx
  packages/grafana-prometheus/src/querybuilder/components/QueryPreview.tsx
  packages/grafana-prometheus/src/querybuilder/components/index.ts
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/AdditionalSettings.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/MetricsModal.test.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/MetricsModal.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/index.ts
  packages/grafana-prometheus/src/querybuilder/components/promQail/PromQail.test.tsx
  packages/grafana-prometheus/src/querybuilder/components/promQail/PromQail.tsx
  packages/grafana-prometheus/src/querybuilder/components/promQail/QuerySuggestionContainer.tsx
  packages/grafana-prometheus/src/querybuilder/components/promQail/index.ts
  packages/grafana-prometheus/src/querybuilder/index.ts
Labels: datasource/Prometheus, area/frontend, area/datasource/frontend, no-backport, no-changelog

#81921 Prometheus: Frontend library use AGPL license
  packages/grafana-prometheus/LICENSE
  packages/grafana-prometheus/LICENSE_APACHE2
  packages/grafana-prometheus/package.json
Labels: area/frontend, no-backport, no-changelog

#81922 Prometheus: Frontend library update version and readme
  packages/grafana-prometheus/README.md
  packages/grafana-prometheus/package.json
Labels: area/frontend, no-backport, no-changelog

#81978 Alerting: Pass in receiver service to API struct
  pkg/services/ngalert/ngalert.go
Labels: area/alerting, area/backend, no-changelog, kata:simplify-alert-rule-routing

#81858 K8s/Folders: Add all features to k8s endpoints
  pkg/apis/folder/v0alpha1/types.go
  pkg/apis/folder/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/folder/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/folders/conversions.go
  pkg/registry/apis/folders/register.go
  pkg/registry/apis/folders/sub_access.go
  pkg/registry/apis/folders/sub_children.go
  pkg/registry/apis/folders/sub_count.go
Labels: area/backend, no-backport, no-changelog

#79546 Alerting: Enable sending notifications to a specific topic on Telegram
  go.mod
  go.sum
  pkg/services/ngalert/api/tooling/definitions/contact_points.go
  pkg/services/ngalert/notifier/channels_config/available_channels.go
Labels: area/backend, area/frontend, add to changelog, pr/external, no-backport

#81967 id forwarding: transfer Grafana id token to app plugins
  pkg/services/pluginsintegration/clientmiddleware/forward_id_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/forward_id_middleware_test.go
Labels: area/backend, no-backport, no-changelog

#81950 Sandbox: Fix cloneDeep not working inside plugins
  package.json
  public/app/features/plugins/sandbox/distortion_map.ts
  public/app/features/plugins/sandbox/document_sandbox.ts
  yarn.lock
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugins/sandbox

#81960 chore: Fix typo in GraphTresholdsStyleMode enum
  devenv/dev-dashboards/panel-timeseries/timeseries-by-value-color-schemes.json
  packages/grafana-data/src/field/fieldColor.ts
  packages/grafana-data/src/field/thresholds.ts
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/mudball.cue
  packages/grafana-ui/src/components/uPlot/config.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotThresholds.ts
  packages/grafana-ui/src/graveyard/TimeSeries/utils.ts
  packages/grafana-ui/src/schema.ts
  public/app/core/components/TimeSeries/utils.ts
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
  public/app/features/alerting/unified/components/rule-editor/util.ts
  public/app/plugins/panel/barchart/module.tsx
  public/app/plugins/panel/barchart/utils.ts
  public/app/plugins/panel/timeseries/ThresholdsStyleEditor.tsx
  public/app/plugins/panel/timeseries/config.ts
  public/app/plugins/panel/timeseries/migrations.ts
Labels: area/frontend, add to changelog, pr/external, area/panel/timeseries, area/panel/barchart

#79532 Cloudwatch: Add AWS/EMRServerless and AWS/KafkaConnect Metrics
  pkg/tsdb/cloudwatch/constants/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, pr/external

#80839 K8s: Add PeakQ API
  go.mod
  go.sum
  pkg/apis/peakq/v0alpha1/doc.go
  pkg/apis/peakq/v0alpha1/register.go
  pkg/apis/peakq/v0alpha1/types.go
  pkg/apis/peakq/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/peakq/v0alpha1/zz_generated.defaults.go
  pkg/apis/peakq/v0alpha1/zz_generated.openapi.go
  pkg/apis/peakq/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/apis.go
  pkg/registry/apis/peakq/register.go
  pkg/registry/apis/peakq/render.go
  pkg/registry/apis/peakq/render_examples.go
  pkg/registry/apis/peakq/render_examples_test.go
  pkg/registry/apis/peakq/render_test.go
  pkg/registry/apis/peakq/storage.go
  pkg/registry/apis/wireset.go
Labels: area/backend, area/frontend, no-changelog, area/query-library

#81932 K8s: Refactor standalone apiserver initialization
  .vscode/launch.json
  pkg/cmd/grafana/apiserver/cmd.go
  pkg/cmd/grafana/apiserver/cmd_test.go
  pkg/cmd/grafana/apiserver/server.go
  pkg/registry/apis/datasource/standalone.go
  pkg/registry/apis/datasource/standalone_services.go
  pkg/server/wire.go
  pkg/server/wireexts_oss.go
  pkg/services/apiserver/standalone/factory.go
  pkg/services/apiserver/standalone/runtime.go
  pkg/services/apiserver/standalone/runtime_test.go
Labels: area/backend, no-backport, no-changelog

#77924 Team LBAC: docs
  docs/sources/administration/data-source-management/team_lbac.md
Labels: type/docs, type/chore, no-backport, no-changelog

#81973 Chore: Ignore fingerprintjs in renovate
  .github/renovate.json5
Labels: no-backport, no-changelog

#80837 CloudWatch: Remove core imports from ConfigEditor
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor/ConfigEditor.tsx
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#80843 CloudWatch: Remove core imports from LegacyLogGroupSelector
  public/app/plugins/datasource/cloudwatch/components/shared/LogGroups/LegacyLogGroupSelector.tsx
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#81744 CloudWatch: Remove references to pkg/infra/metrics
  pkg/infra/metrics/metrics.go
  pkg/tsdb/cloudwatch/clients/metrics.go
  pkg/tsdb/cloudwatch/get_metric_data_executor.go
  pkg/tsdb/cloudwatch/utils/metrics.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#80926 CloudWatch: remove core imports from CloudWatchMetricsQueryRunner
  public/app/plugins/datasource/cloudwatch/components/Errors/ThrottlingErrorMessage.tsx
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchMetricsQueryRunner.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchMetricsQueryRunner.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#81832 VizTooltips: Remove default width/height values
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
  packages/grafana-ui/src/options/builder/tooltip.tsx
  public/app/plugins/panel/candlestick/CandlestickPanel.tsx
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesTooltip.tsx
  public/app/plugins/panel/timeseries/utils.ts
  public/app/plugins/panel/trend/TrendPanel.tsx
Labels: area/panel/heatmap, area/frontend, area/panel/timeseries, area/tooltip, area/panel/candlestick, no-backport, no-changelog, area/panel/trend

#82015 K8s/Playlists: Only dual write when an external storage is configured
  pkg/registry/apis/playlist/register.go
Labels: area/backend, no-backport, no-changelog

#81422 CloudWatch: Remove core imports from CloudWatchRequest
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/MetricsQueryEditor/SQLBuilderEditor/SQLBuilderEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/MetricsQueryEditor/SQLBuilderEditor/SQLFilter.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/MultiFilter.test.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/MultiFilter.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/MultiFilterItem.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/VariableQueryEditor/VariableQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/shared/Dimensions/FilterItem.test.tsx
  public/app/plugins/datasource/cloudwatch/components/shared/Dimensions/FilterItem.tsx
  public/app/plugins/datasource/cloudwatch/hooks.test.ts
  public/app/plugins/datasource/cloudwatch/hooks.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-sql/completion/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchMetricsQueryRunner.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchRequest.ts
  public/app/plugins/datasource/cloudwatch/resources/ResourcesAPI.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#81214 Alerting: Update API to use folders' full paths
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/api_ruler_validation_test.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/api/api_testing_test.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/services/ngalert/tests/util.go
  pkg/services/ngalert/testutil/testutil.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/api_testing_test.go
Labels: area/alerting, area/backend, add to changelog, breaking change, no-backport

#81522 Scenes: Add snapshots view support
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.tsx
Labels: area/frontend, no-backport, no-changelog
