Repository grafana/grafana, pull requests merged in 2024-12, with the labels that each got.

#97202 Yarn: Dedupe lock file and fix swc errors
  .github/renovate.json5
  package.json
  packages/grafana-plugin-configs/package.json
  packages/grafana-prometheus/package.json
  yarn.lock
Labels: area/frontend, dependencies, no-backport, no-changelog

#97184 K8s: Register group and kinds to internal version to fix apply
  pkg/services/apiserver/builder/runner/builder.go
Labels: area/backend, no-changelog

#97225 POC/Provisioning: Add lint results and classic type to ResourceWrapper response
  pkg/apis/provisioning/v0alpha1/classic.go
  pkg/apis/provisioning/v0alpha1/types.go
  pkg/apis/provisioning/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/provisioning/lint/dashboard.go
  pkg/registry/apis/provisioning/lint/lint.go
  pkg/registry/apis/provisioning/resources/client.go
  pkg/registry/apis/provisioning/resources/fileformat.go
  pkg/registry/apis/provisioning/resources/fileformat_test.go
  pkg/registry/apis/provisioning/resources/parser.go
Labels: area/backend, no-backport, no-changelog

#97236 [Prototyping] Fix webhook URLs for auto-generated resource names
  pkg/registry/apis/provisioning/register.go
Labels: area/backend, no-backport, no-changelog

#97220 doc: Fix spacing in sample values for enabling persistence
  docs/sources/setup-grafana/installation/helm/index.md
  public/api-merged.json
  public/openapi3.json
Labels: type/docs, area/frontend, pr/external, no-changelog, backport v11.2.x, backport v11.3.x

#96963 POC/Provisioning: wire rendering example
  pkg/api/http_server.go
  pkg/registry/apis/provisioning/hello.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/render.go
  pkg/storage/unified/blob/local.go
  pkg/storage/unified/blob/types.go
Labels: area/backend, no-backport, no-changelog

#97246 Package to convert rules
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
  pkg/services/ngalert/prom/models.go
Labels: area/backend

#97248 Chore: Setup live reloading
  package.json
  scripts/webpack/webpack.dev.js
  scripts/webpack/webpack.hot.js
  yarn.lock
Labels: area/frontend, no-changelog

#97250 Fix out of sync openapi specs
  public/api-merged.json
  public/openapi3.json
Labels: area/frontend, no-backport, no-changelog

#97095 Logs Panel: Add infinite scrolling support for Dashboards and Apps
  packages/grafana-schema/src/raw/composable/logs/panelcfg/x/LogsPanelCfg_types.gen.ts
  public/app/core/utils/shortLinks.test.ts
  public/app/core/utils/shortLinks.ts
  public/app/features/explore/Logs/Logs.tsx
  public/app/plugins/panel/logs/LogsPanel.test.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
  public/app/plugins/panel/logs/module.tsx
  public/app/plugins/panel/logs/panelcfg.cue
  public/app/plugins/panel/logs/panelcfg.gen.ts
  public/app/plugins/panel/logs/types.ts
Labels: area/explore, area/frontend, add to changelog, no-backport

#97096 Plugins: Use grafana-com sso_api_token
  conf/defaults.ini
  pkg/api/grafana_com_proxy.go
  pkg/services/pluginsintegration/pluginconfig/config.go
  pkg/setting/setting.go
  pkg/setting/setting_plugins.go
Labels: area/backend, add to changelog

#96860 Style: Update homepage styles
  public/app/features/trails/DataTrailBookmarks.test.tsx
  public/app/features/trails/DataTrailCard.test.tsx
  public/app/features/trails/DataTrailCard.tsx
  public/app/features/trails/DataTrailsHome.tsx
  public/app/features/trails/utils.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog, area/exploremetrics

#97251 API to create rules
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/provisioning.go
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
  pkg/services/ngalert/prom/models.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend

#97260 [Prototyping] Render changed dashboards screenshots in pull requests
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/repository/github.go
  pkg/registry/apis/provisioning/repository/repository.go
Labels: area/backend, no-backport, no-changelog

#97234 RBAC: remove dead code
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/database/policies.go
Labels: area/backend, no-backport, no-changelog

#97214 Docs: Add more information on wrap text override
  docs/sources/panels-visualizations/visualizations/table/index.md
Labels: type/docs, no-changelog, backport v11.1.x, backport v11.2.x, backport v11.3.x

#96945 Fix: Bookmarks - make expanding not move everything up; remember expanded / collapsed state
  public/app/features/trails/DataTrailBookmarks.tsx
  public/app/features/trails/DataTrailsHome.tsx
Labels: area/frontend, no-changelog, area/exploremetrics

#97210 Chore: Add some selector for version below 8.5
  packages/README.md
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
Labels: area/frontend, type/e2e, area/grafana/e2e, no-backport, no-changelog

#97278 hackathon: prometheus-like evaluation of series
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/eval_test.go
  pkg/services/ngalert/models/alert_rule.go
Labels: area/backend

#97282 Feedback Button: Add feature toggle for feedback button [Hackathon]
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, area/frontend, no-changelog, hackathon

#97289 [v10.4.x] Docs: Canvas visualization refactor
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Labels: type/docs, backport, no-changelog

#97291 [v11.0.x] Docs: Canvas visualization refactor
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Labels: type/docs, backport, no-changelog

#97292 [v11.1.x] Docs: Canvas visualization refactor
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Labels: type/docs, backport, no-changelog

#97288 Make the API compatible with mimirtool
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/api/tooling/swagger-codegen/templates/controller-api.mustache
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Labels: area/backend

#97295 Extensions: Fix recursions when determining plugin deps
  public/app/features/plugins/extensions/utils.test.tsx
  public/app/features/plugins/extensions/utils.tsx
Labels: type/bug, area/plugins, area/frontend, no-backport, no-changelog, area/plugin-extensions

#96991 Chore: Remove verification steps for deb/rpm in drone
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
Labels: type/ci, no-changelog

#97276 Scopes: Merge scopes filters with OR condition in case they overlap.
  pkg/promlib/models/scope.go
  pkg/promlib/models/scope_test.go
Labels: area/backend, no-backport, no-changelog

#97296 [v11.1.x] Chore: Remove verification steps for deb/rpm in drone
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#97298 [v11.2.x] Chore: Remove verification steps for deb/rpm in drone
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#97299 [v10.4.x] Chore: Remove verification steps for deb/rpm in drone
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#97300 [v11.0.x] Chore: Remove verification steps for deb/rpm in drone
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/steps/lib.star
Labels: backport, type/ci, no-changelog

#97216 Transformations: Relax regexp format in refIdMatcher
  packages/grafana-data/src/transformations/matchers/refIdMatcher.ts
  packages/grafana-data/src/transformations/transformers/filterByRefId.test.ts
Labels: type/bug, area/frontend, area/transformations, type/regression, no-changelog

#97068 Packaging: Remove sysvinit references / support from rhel packaging
  packaging/rpm/control/postinst
  packaging/rpm/init.d/grafana-server
Labels: type/build-packaging, type/ci, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x

#96000 Dashboard Scene: Shows usages in variables list
  public/app/features/dashboard-scene/settings/VariablesEditView.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditorList.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditorListRow.tsx
  public/app/features/dashboard-scene/settings/variables/VariablesUnknownTable.test.tsx
  public/app/features/dashboard-scene/settings/variables/VariablesUnknownTable.tsx
  public/app/features/dashboard-scene/variables/VariableUsagesButton.tsx
  public/app/features/dashboard-scene/variables/utils.test.ts
  public/app/features/dashboard-scene/variables/utils.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, add to changelog, no-backport

#97313 hackathon: remove the second condition node from conversion
  pkg/services/ngalert/prom/convert.go
Labels: area/backend

#97312 hackathon: Resolve prom-style queries in a way that matches prometheus
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/state/manager.go
Labels: area/backend

#96450 Frontend: Set moduleResolution to bundler in TSconfig
  package.json
  packages/grafana-ui/package.json
  public/app/features/auth-config/components/ServerDiscoveryField.tsx
  public/app/features/auth-config/types.ts
  public/app/features/datasources/components/picker/DataSourcePicker.test.tsx
  public/app/features/migrate-to-cloud/api/index.ts
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/Filters.test.tsx
  public/app/plugins/datasource/azuremonitor/package.json
  public/app/plugins/datasource/azuremonitor/tsconfig.json
  public/app/plugins/datasource/cloud-monitoring/package.json
  public/app/plugins/datasource/cloud-monitoring/tsconfig.json
  scripts/cli/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: area/frontend, datasource/GoogleCloudMonitoring, datasource/Azure, no-backport, no-changelog

#97326 Add Gio to hall of fame
  HALL_OF_FAME.md
Labels: no-backport, no-changelog

#97277 Fix: Plugin details version UI - adding some line breaks
  public/app/features/plugins/admin/components/PluginDetailsRightPanel.tsx
  public/app/features/plugins/admin/components/VersionList.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#95611 Remove issue-labeled.yml GitHub workflow
  .github/CODEOWNERS
  .github/teams.yml
  .github/workflows/issue-labeled.yml
Labels: stale, no-changelog

#96598 Enterprise-traces docs: Fixed broken links
  docs/sources/datasources/tempo/query-editor/_index.md
Labels: type/docs, pr/external, no-changelog

#97323 Loki: Hide internal labels
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
Labels: area/frontend, datasource/Loki, add to changelog, no-backport

#97348 hackathon: create folder if it does not exist
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/tests/fakes/rules.go
Labels: area/backend

#97189 Plugins: Disable version install when angular version is not supported
  public/app/features/plugins/admin/api.ts
  public/app/features/plugins/admin/components/VersionInstallButton.tsx
  public/app/features/plugins/admin/components/VersionList.tsx
  public/app/features/plugins/admin/types.ts
Labels: area/frontend, add to changelog

#97228 IAM: align AuthInfo interface
  go.mod
  go.sum
  go.work.sum
  pkg/api/user.go
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apimachinery/identity/requester.go
  pkg/apimachinery/identity/static.go
  pkg/apimachinery/identity/wrapper.go
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/services/auth/idimpl/service.go
  pkg/services/auth/idtest/internal_token.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
  pkg/storage/unified/resource/client.go
Labels: area/backend, no-backport, no-changelog

#97350 Alerting docs: clarify `$labels` and query labels
  docs/sources/alerting/alerting-rules/templates/_index.md
  docs/sources/alerting/alerting-rules/templates/examples.md
  docs/sources/alerting/alerting-rules/templates/reference.md
  docs/sources/alerting/configure-notifications/template-notifications/reference.md
  docs/sources/alerting/fundamentals/alert-rules/annotation-label.md
Labels: type/docs, area/alerting, no-changelog, backport v11.3.x

#97347 fix(short-url): redirect to main page if not found
  pkg/api/short_url.go
  pkg/tests/api/shorturl/short_url_test.go
Labels: type/bug, area/backend, no-backport, no-changelog

#97357 Make DELETE alert rule group endpoint work with mimirtool
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend

#96803 Elasticsearch: Health endpoint should handle http errors
  pkg/tsdb/elasticsearch/healthcheck.go
  pkg/tsdb/elasticsearch/healthcheck_test.go
Labels: datasource/Elasticsearch, area/backend, add to changelog, no-backport

#97345 [Prototyping] Add repository history endpoint
  pkg/apis/provisioning/v0alpha1/register.go
  pkg/apis/provisioning/v0alpha1/types.go
  pkg/apis/provisioning/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/provisioning/history.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/repository/github.go
  pkg/registry/apis/provisioning/repository/github/client.go
  pkg/registry/apis/provisioning/repository/github/client_mock.go
  pkg/registry/apis/provisioning/repository/github/real.go
  pkg/registry/apis/provisioning/repository/local.go
  pkg/registry/apis/provisioning/repository/repository.go
  pkg/registry/apis/provisioning/repository/s3.go
  pkg/registry/apis/provisioning/repository/unknown.go
  pkg/tests/apis/provisioning/provisioning_test.go
Labels: area/backend, no-backport, no-changelog

#97359 Chore: Remove unused GetDesiredDualWriterMode
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/dashboard/v0alpha1/register.go
  pkg/registry/apis/dashboard/v1alpha1/register.go
  pkg/registry/apis/dashboard/v2alpha1/register.go
Labels: area/backend, no-backport, no-changelog

#97349 Chore: Remove standalone apiserver options
  pkg/services/apiserver/standalone/options/logging.go
  pkg/services/apiserver/standalone/options/metrics.go
  pkg/services/apiserver/standalone/options/options.go
  pkg/services/apiserver/standalone/options/profiling.go
  pkg/services/apiserver/standalone/options/tracing.go
Labels: area/backend, no-changelog

#97316 Chore: Url sync in wingman
  .betterer.results
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/wingman/MetricSelectSceneForWingman.tsx
  public/app/features/trails/wingman/WingmanScene.tsx
  public/app/features/trails/wingman/hideEmptyPreviews.ts
  public/app/features/trails/wingman/previewPanel.ts
  public/app/features/trails/wingman/wingman.ts
Labels: area/frontend, no-backport, no-changelog

#97274 SCIM: DELETE /scim/Users/:id endpoint swagger documentation
  public/api-merged.json
  public/openapi3.json
Labels: area/frontend, no-backport, no-changelog, area/auth/scim

#97320 Search: Build index from resource stats
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/storage/unified/resource/cdk_backend.go
  pkg/storage/unified/resource/search.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/data/resource_stats.sql
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/server.go
  pkg/storage/unified/sql/test/integration_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_stats-query.sql
  pkg/storage/unified/sql/testdata/postgres--resource_stats-query.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_stats-query.sql
Labels: area/backend, no-backport, no-changelog

#97366 hackathon: allow to specify the datasource
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend

#97376 ExploreMetrics: Scaffold anomalies view for wingman
  public/app/features/trails/MetricSelect/hideEmptyPreviews.ts
  public/app/features/trails/wingman/MetricSelectSceneForWingman.tsx
  public/app/features/trails/wingman/display/AnomaliesScene.tsx
  public/app/features/trails/wingman/display/anomalies.ts
Labels: area/frontend, no-backport, no-changelog, hackathon

#96947 Cloudwatch: Accept empty string for logstimeout and mark errors downstream
  pkg/tsdb/cloudwatch/annotation_query.go
  pkg/tsdb/cloudwatch/log_sync_query.go
  pkg/tsdb/cloudwatch/models/settings.go
  pkg/tsdb/cloudwatch/models/settings_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#97377 hackathon: reverse translate rules
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Labels: area/backend

#97378 Unified Storage: Use tls preferred when grafana db using ssl
  pkg/storage/unified/sql/db/dbimpl/dbEngine.go
Labels: type/bug, area/backend, add to changelog, backport v11.3.x

#97242 SCIM: GET /scim/Users/:id endpoint swagger documentation
  public/api-merged.json
  public/openapi3.json
Labels: area/frontend, no-backport, no-changelog, area/auth/scim

#97382 hackathon: support mimirtool list against grafana
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/prom/convert.go
Labels: area/backend

#97373 Chore: K8s registration cleanup
  pkg/registry/apis/peakq/register.go
  pkg/registry/apis/query/register.go
  pkg/registry/apis/service/register.go
Labels: area/backend, no-backport, no-changelog

#97325 [Prototyping] load linter config from repository
  pkg/registry/apis/provisioning/lint/dashboard.go
  pkg/registry/apis/provisioning/lint/lint.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/repository/github.go
  pkg/registry/apis/provisioning/resources/parser.go
Labels: area/backend, area/frontend, no-backport, no-changelog

#97353 [getTagKeys] Ensure we're not using suggestions when no scopes are present
  packages/grafana-prometheus/src/datasource.ts
Labels: area/frontend, no-changelog

#97381 hackathon: make rule titles unique in the group
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Labels: area/backend

#97387 Browse dashboards: Use dashboard DashboardAPI
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/manage-dashboards/utils/validation.ts
Labels: area/frontend, no-changelog

#97392 hackathon: return 404 when the folder does not exist
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/authorization_test.go
Labels: area/backend

#97365 support user-defined actions on the backend
  kinds/preferences/preferences_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/preferences/x/preferences_types.gen.ts
  pkg/api/dtos/prefs.go
  pkg/api/preferences.go
  pkg/kinds/preferences/preferences_spec_gen.go
  pkg/services/preference/model.go
  pkg/services/preference/prefapi/api.go
  pkg/services/preference/prefimpl/pref.go
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
  public/app/features/profile/UserCommands.tsx
Labels: area/backend, area/frontend

#97380 hackathon
  apps/feedback/kinds/feedback.cue
  apps/feedback/pkg/apis/feedback/v0alpha1/feedback_spec_gen.go
  apps/feedback/pkg/apis/manifest.go
  apps/feedback/pkg/watchers/watcher_feedback.go
  apps/feedback/plugin/src/feedback/v0alpha1/types.spec.gen.ts
  package.json
  public/app/core/components/AppChrome/ReportIssueButton/ReportIssueButton.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/app/features/feedback/api.ts
  public/app/features/feedback/screenshot-encode.ts
  yarn.lock
Labels: area/backend, area/frontend

#97399 POC/Provisioning: Show file status (and history)
  .betterer.results
  public/app/features/provisioning/FileHistoryPage.tsx
  public/app/features/provisioning/FileStatusPage.tsx
  public/app/features/provisioning/RepositoryStatusPage.tsx
  public/app/features/provisioning/api/endpoints.ts
  public/app/features/provisioning/api/types.ts
  public/app/features/provisioning/utils/routes.ts
Labels: area/frontend, no-backport, no-changelog

#97374 Update SBOM GitHub Action
  .github/workflows/sbom-report.yml
Labels: area/security, no-backport, no-changelog

#96464 Docs: Document the plugins preinstall feature
  docs/sources/administration/plugin-management/index.md
  docs/sources/setup-grafana/configure-docker.md
  docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/installation/docker/index.md
Labels: type/docs, no-backport, no-changelog

#97355 fix deploy preview shared content
  .github/workflows/deploy-pr-preview.yml
  docs/sources/_index.md
Labels: type/docs, no-changelog

#97406 CI: add missing github app volume to release pipeline
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
Labels: type/ci, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x

#97401 [FeedbackHackathon] Adding Git client, including issue creation
  apps/feedback/pkg/githubclient/github_client.go
  apps/feedback/pkg/watchers/watcher_feedback.go
Labels: area/backend

#97407 [v10.4.x] CI: add missing github app volume to release pipeline
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#97409 [v11.0.x] CI: add missing github app volume to release pipeline
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#96977 Loki query option: fix step validation
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.tsx
Labels: type/bug, area/frontend, datasource/Loki, no-changelog, backport v11.2.x, backport v11.3.x

#97410 [v11.1.x] CI: add missing github app volume to release pipeline
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#97411 [v11.2.x] CI: add missing github app volume to release pipeline
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#97414 [v11.3.x] CI: add missing github app volume to release pipeline
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/rgm.star
Labels: backport, type/ci, no-changelog

#97395 Settings: Redact token keyword
  pkg/setting/setting.go
  pkg/setting/setting_test.go
Labels: area/backend, no-backport, no-changelog

#97396 hackathon: add label and metadata flag for Prometheus-style rules
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Labels: area/backend

#97417 Preserve semantics when copying Condition
  pkg/services/ngalert/models/alert_rule.go
Labels: area/backend

#97422 hackathon: Fix no data
  pkg/services/ngalert/eval/eval.go
Labels: area/backend

#97310 Unified Storage Indexer: Add back metrics
  pkg/setting/setting.go
  pkg/setting/setting_unified_storage.go
  pkg/storage/unified/resource/bleve_index_metrics.go
  pkg/storage/unified/resource/search.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_test.go
  pkg/storage/unified/sql/server.go
Labels: area/backend, no-backport, no-changelog

#96854 removing outdated versioning info from GCM data source docs
  docs/sources/datasources/google-cloud-monitoring/_index.md
Labels: type/docs, no-changelog, backport v11.3.x

#97390 hackathon: mimirtool endpoints use folder full paths instead of uids
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/tests/fakes/rules.go
Labels: area/backend

#97447 hackathon: Change p2g marker label key
  pkg/services/ngalert/models/alert_rule.go
Labels: area/backend

#97449 Hackathon: some frontend fixes
  public/app/core/components/AppChrome/ReportIssueButton/ReportIssueButton.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
Labels: area/frontend

#97432 [hackathon] report button: use llm for labeling and titling issues based on message contents
  apps/feedback/kinds/feedback.cue
  apps/feedback/pkg/apis/feedback/v0alpha1/feedback_spec_gen.go
  apps/feedback/pkg/apis/manifest.go
  apps/feedback/pkg/githubclient/github_client.go
  apps/feedback/pkg/llmclient/llm_client.go
  apps/feedback/pkg/llmclient/model.go
  apps/feedback/pkg/llmclient/team_responsibilities.csv
  apps/feedback/pkg/llmclient/template_issue_name_prompt.txt
  apps/feedback/pkg/llmclient/template_team_prompt.txt
  apps/feedback/pkg/watchers/watcher_feedback.go
  apps/feedback/plugin/src/feedback/v0alpha1/types.spec.gen.ts
  apps/feedback/testdata/feedback-bar-llm-test.yaml
  apps/feedback/testdata/feedback-baz-llm-test-with-screenshot.yaml
  conf/defaults.ini
Labels: area/backend

#97403 Storage: Query stats within a namespace
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/storage/unified/resource/cdk_backend.go
  pkg/storage/unified/resource/search.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/data/resource_stats.sql
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/test/integration_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_stats-query-namespace.sql
  pkg/storage/unified/sql/testdata/postgres--resource_stats-query-namespace.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_stats-query-namespace.sql
Labels: area/backend, no-backport, no-changelog

#97446 hackathon: delete all rules in namespace
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Labels: area/backend

#97456 hackathon: make IsPaused and datasource type configurable
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Labels: area/backend

#97336 Chore: Extend OrgRoleMapper
  pkg/login/social/connectors/grafana_com_oauth.go
  pkg/login/social/connectors/org_role_mapper.go
  pkg/login/social/connectors/org_role_mapper_test.go
  pkg/login/social/connectors/social_base.go
Labels: area/auth, type/chore, area/backend, no-changelog

#97394 Move createGraphFrames to `grafana/o11y-ds-frontend` package
  .betterer.results
  packages/grafana-o11y-ds-frontend/src/createNodeGraphFrames.test.ts
  packages/grafana-o11y-ds-frontend/src/createNodeGraphFrames.ts
  packages/grafana-o11y-ds-frontend/src/index.ts
  packages/grafana-o11y-ds-frontend/src/mocks/traceResponse.ts
  public/app/plugins/datasource/tempo/graphTransform.test.ts
  public/app/plugins/datasource/tempo/graphTransform.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
  public/app/plugins/datasource/tempo/test/testResponse.ts
Labels: area/frontend, datasource/Tempo, no-backport, no-changelog

#97328 Dashboard: Fixes issue with compatability of old DashboardModel.annotations
  public/app/features/dashboard-scene/utils/DashboardModelCompatibilityWrapper.test.ts
  public/app/features/dashboard-scene/utils/DashboardModelCompatibilityWrapper.ts
Labels: type/bug, area/frontend, add to changelog, backport v11.3.x

#97405 Alerting: Use the stepNo to make sure the ID of the switch is unique
  public/app/features/alerting/unified/components/rule-editor/RuleEditorSection.tsx
Labels: type/bug, area/alerting, area/frontend, no-changelog

#97469 feedback: find even more data
  apps/feedback/go.sum
  public/app/features/feedback/diagnostic-data.ts
Labels: area/frontend

#97473 Alerting: Fix data-testid in RuleEditorSection
  public/app/features/alerting/unified/components/rule-editor/RuleEditorSection.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#97482 feedback/app: add basic validation for spec
  apps/feedback/pkg/app/app.go
Labels: area/backend

#97487 filter with items but use return from useMatches
  public/app/features/commandPalette/CommandPalette.tsx
Labels: area/frontend

#97477 feedback/llm: refactor LLM client simplify init and return errors
  apps/feedback/pkg/llmclient/llm_client.go
  apps/feedback/pkg/llmclient/model.go
  apps/feedback/pkg/watchers/watcher_feedback.go
Labels: area/backend

#97425 [FeedbackHackathon] Adding issue templating
  apps/feedback/pkg/githubclient/issue_template.md
  apps/feedback/pkg/githubclient/models.go
  apps/feedback/pkg/watchers/watcher_feedback.go
  public/app/features/feedback/diagnostic-data.ts
Labels: area/backend, area/frontend

#97413 Kat/hackathon UI
  public/app/features/trails/wingman/WingmanScene.tsx
Labels: area/frontend, no-changelog

#97196 GCM: Correctly mark errors as downstream
  pkg/tsdb/cloud-monitoring/cloudmonitoring.go
  pkg/tsdb/cloud-monitoring/converter/converter.go
Labels: area/backend, datasource/GoogleCloudMonitoring, no-backport, no-changelog

#97489 feedback: add fields to contact reporter and access instance
  apps/feedback/definitions/feedback-manifest.json
  apps/feedback/definitions/feedback.feedback.grafana.app.json
  apps/feedback/kinds/feedback.cue
  apps/feedback/pkg/apis/feedback/v0alpha1/feedback_spec_gen.go
  apps/feedback/pkg/apis/manifest.go
  apps/feedback/pkg/githubclient/issue_template.md
  apps/feedback/pkg/githubclient/models.go
  apps/feedback/pkg/watchers/watcher_feedback.go
  apps/feedback/plugin/src/feedback/v0alpha1/types.spec.gen.ts
  public/app/core/components/AppChrome/ReportIssueButton/ReportIssueButton.tsx
Labels: area/backend, area/frontend

#97491 Unified Storage: When prom registry is nil, use the default registry
  pkg/storage/unified/sql/service.go
Labels: type/bug, area/backend, no-backport, no-changelog

#97492 Alerting: Fix using stacks- prefix instead of stack- for checking the namespace in boot data
  public/app/features/alerting/unified/home/Insights.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, no-backport

#97497 Alerting: Fix recording rules rendering simplified condition
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog, no-backport

#97314 Dashboard Schema v2: Add tests for variables, annotations, and dataTransformer
  .betterer.results
  packages/grafana-schema/src/schema/dashboard/v2alpha0/examples.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/v2schema/test-helpers.ts
Labels: area/frontend, no-backport, no-changelog

#97504 Unified Storage Search: Check error first after building index
  pkg/storage/unified/resource/search.go
Labels: type/bug, area/backend, no-backport, no-changelog

#97507 Chore: Update dep version
  e2e/test-plugins/grafana-extensionstest-app/package.json
  e2e/test-plugins/grafana-test-datasource/package.json
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-eslint-rules/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-icons/package.json
  packages/grafana-o11y-ds-frontend/package.json
  packages/grafana-plugin-configs/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-schema/src/raw/composable/annotationslist/panelcfg/x/AnnotationsListPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/barchart/panelcfg/x/BarChartPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/bargauge/panelcfg/x/BarGaugePanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/candlestick/panelcfg/x/CandlestickPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/cloudwatch/dataquery/x/CloudWatchDataQuery_types.gen.ts
  packages/grafana-schema/src/raw/composable/dashboardlist/panelcfg/x/DashboardListPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/datagrid/panelcfg/x/DatagridPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/debug/panelcfg/x/DebugPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/elasticsearch/dataquery/x/ElasticsearchDataQuery_types.gen.ts
  packages/grafana-schema/src/raw/composable/gauge/panelcfg/x/GaugePanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/geomap/panelcfg/x/GeomapPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/heatmap/panelcfg/x/HeatmapPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/histogram/panelcfg/x/HistogramPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/logs/panelcfg/x/LogsPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/loki/dataquery/x/LokiDataQuery_types.gen.ts
  packages/grafana-schema/src/raw/composable/news/panelcfg/x/NewsPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/nodegraph/panelcfg/x/NodeGraphPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/piechart/panelcfg/x/PieChartPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/stat/panelcfg/x/StatPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/statetimeline/panelcfg/x/StateTimelinePanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/statushistory/panelcfg/x/StatusHistoryPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/table/panelcfg/x/TablePanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/text/panelcfg/x/TextPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/timeseries/panelcfg/x/TimeSeriesPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/trend/panelcfg/x/TrendPanelCfg_types.gen.ts
  packages/grafana-schema/src/raw/composable/xychart/panelcfg/x/XYChartPanelCfg_types.gen.ts
  packages/grafana-sql/package.json
  packages/grafana-ui/package.json
  public/app/plugins/datasource/azuremonitor/package.json
  public/app/plugins/datasource/cloud-monitoring/package.json
  public/app/plugins/datasource/grafana-postgresql-datasource/package.json
  public/app/plugins/datasource/grafana-pyroscope-datasource/package.json
  public/app/plugins/datasource/grafana-testdata-datasource/package.json
  public/app/plugins/datasource/jaeger/package.json
  public/app/plugins/datasource/mssql/package.json
  public/app/plugins/datasource/mysql/package.json
  public/app/plugins/datasource/parca/package.json
  public/app/plugins/datasource/tempo/package.json
  public/app/plugins/datasource/zipkin/package.json
  yarn.lock
Labels: datasource/MySQL, datasource/Postgres, datasource/MSSQL, area/frontend, datasource/GoogleCloudMonitoring, datasource/Azure, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, no-changelog, datasource/Parca, datasource/grafana-pyroscope

#97509 Docs: What’s new & Upgrade guide v11.4
  docs/sources/upgrade-guide/upgrade-v11.4/index.md
  docs/sources/whatsnew/_index.md
  docs/sources/whatsnew/whats-new-in-v11-4.md
Labels: type/docs, no-changelog, backport v11.4.x

#97493 Remote Alertmanager: Make failing integration tests block merges
  .drone.yml
  scripts/drone/steps/lib.star
Labels: area/alerting, area/frontend, type/ci, no-backport, no-changelog

#97511 Docs: Comment video link back in
  docs/sources/whatsnew/whats-new-in-v11-4.md
Labels: type/docs, no-changelog, backport v11.4.x

#97461 Alerting: Change default for max_attempts to 3.
  conf/defaults.ini
  conf/sample.ini
  pkg/setting/setting_unified_alerting.go
  pkg/setting/setting_unified_alerting_test.go
Labels: area/backend, add to changelog

#97443 Docs: Updating ldd example command for image renderer troubleshooting
  docs/sources/setup-grafana/image-rendering/troubleshooting/index.md
Labels: type/docs, no-changelog

#97181 chore(metrics): Add metrics & traces to DB migration
  pkg/infra/metrics/metricutil/utils.go
  pkg/infra/tracing/tracing_config.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/sqlstore.go
Labels: area/backend, no-changelog

#97448 Chore: Archive v8,9, and 10 CHANGELOG content
  .changelog-archive/CHANGELOG.01.md
  .changelog-archive/CHANGELOG.02.md
  .changelog-archive/CHANGELOG.03.md
  .changelog-archive/CHANGELOG.04.md
  .changelog-archive/CHANGELOG.05.md
  .changelog-archive/CHANGELOG.06.md
  .changelog-archive/CHANGELOG.07.md
  .changelog-archive/CHANGELOG.08.md
  .changelog-archive/CHANGELOG.09.md
  .changelog-archive/CHANGELOG.10.md
  CHANGELOG.md
Labels: no-changelog

#97440 Explore Metrics: Usage data stats for wingman
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/api/stats.go
  pkg/promlib/models/query.go
  pkg/services/stats/models.go
  pkg/services/stats/stats.go
  pkg/services/stats/statsimpl/stats.go
  pkg/services/stats/statstest/stats.go
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/MetricSelect/previewPanel.ts
  public/app/features/trails/shared.ts
  public/app/features/trails/wingman/MetricSelectSceneForWingman.tsx
  public/app/features/trails/wingman/WithUsageDataPreviewPanel.tsx
Labels: area/backend, area/frontend

#97530 style: update usage data styles; feat: add additional options to sidebar
  public/app/features/trails/wingman/WithUsageDataPreviewPanel.tsx
  public/app/features/trails/wingman/wingman.ts
Labels: area/frontend

#97514 hackathon: horrible UI to import alert rules
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/RuleImporter.tsx
  public/app/features/alerting/unified/rule-list/RuleList.v1.tsx
Labels: area/frontend

#97341 Chore: Fix small type check issues
  public/app/features/trails/Breakdown/LayoutSwitcher.tsx
  public/app/features/trails/utils.ts
Labels: area/frontend, no-backport, no-changelog, area/exploremetrics

#97512 LBAC for datasources: Update the docs to point to UID instead of ID
  docs/sources/developers/http_api/datasource_lbac_rules.md
Labels: type/docs, no-changelog

#97498 API to fetch rules from datasource and convert to GMA
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/forking_ruler.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend

#97538 hackathon: chose datasource prefix dynamically
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/lotex_ruler.go
Labels: area/backend

#97551 GrafanaUI: Revert: Fix inconsistent controlled/uncontrolled state in AutoSizeInput
  packages/grafana-ui/src/components/Input/AutoSizeInput.test.tsx
  packages/grafana-ui/src/components/Input/AutoSizeInput.tsx
Labels: area/frontend, add to changelog, no-backport

#97476 [WIP] split by tabs
  public/app/features/commandPalette/CommandPalette.tsx
  public/app/features/commandPalette/KBarResults.tsx
  public/app/features/commandPalette/ResultItem.tsx
  public/app/features/commandPalette/actions/dashboardActions.ts
  public/app/features/commandPalette/actions/staticActions.ts
  public/app/features/commandPalette/actions/useActions.ts
  public/app/features/commandPalette/actions/useExtensionActions.ts
  public/app/features/commandPalette/types.ts
  public/app/features/commandPalette/utils.ts
  public/app/features/profile/UserCommands.tsx
Labels: area/frontend

#97543 Logs: update panel state when clearing displayed fields
  public/app/features/explore/Logs/Logs.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#97478 fix: mark bucketAgg parse errors as downstream
  pkg/tsdb/elasticsearch/parse_query.go
Labels: datasource/Elasticsearch, area/backend, no-changelog

#97508 CloudWatch: Add OpenSearch PPL and SQL support in Logs Insights
  .betterer.results
  docs/sources/datasources/aws-cloudwatch/query-editor/index.md
  packages/grafana-schema/src/raw/composable/cloudwatch/dataquery/x/CloudWatchDataQuery_types.gen.ts
  pkg/tsdb/cloudwatch/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/log_query_test.go
  public/app/plugins/datasource/cloudwatch/__mocks__/CloudWatchDataSource.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/commentOnlyQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/multiLineFullQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/multiLineFullQueryWithCaseClause.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/partialQueryWithFunction.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/partialQueryWithSubquery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/singleLineFullQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-logs-sql-test-data/whitespaceQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-ppl-test-data/multilineQueries.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-ppl-test-data/newCommandQuery.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/cloudwatch-ppl-test-data/singleLineQueries.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/monarch/Monaco.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/queries.ts
  public/app/plugins/datasource/cloudwatch/components/CheatSheet/LogsCheatSheet.tsx
  public/app/plugins/datasource/cloudwatch/components/CheatSheet/sampleQueries.ts
  public/app/plugins/datasource/cloudwatch/components/CheatSheet/tokenizer.ts
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/CloudWatchLink.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/LogsQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/code-editors/LogsQLCodeEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/code-editors/PPLQueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/code-editors/SQLCodeEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/QueryHeader.test.tsx
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/QueryHeader.tsx
  public/app/plugins/datasource/cloudwatch/dataquery.cue
  public/app/plugins/datasource/cloudwatch/dataquery.gen.ts
  public/app/plugins/datasource/cloudwatch/datasource.test.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/defaultQueries.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/completion/CompletionItemProvider.test.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/completion/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/completion/statementPosition.test.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/completion/suggestionKind.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/completion/types.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/definition.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs-sql/language.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/completion/PPLCompletionItemProvider.test.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/completion/PPLCompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/completion/statementPosition.test.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/completion/suggestionKinds.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/definition.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/language.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-ppl/tokenTypes.ts
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-sql/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/language/logs/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/types.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
Labels: type/docs, datasource/CloudWatch, area/backend, area/frontend, add to changelog, no-backport

#97554 [FeedbackHackathon] Adding checkboxes and email
  public/app/core/components/AppChrome/ReportIssueButton/ReportIssueButton.tsx
  public/app/features/feedback/diagnostic-data.ts
Labels: area/frontend, no-backport, no-changelog

#97574 hackathon: add queryType for loki datasource
  pkg/services/ngalert/prom/convert.go
Labels: area/backend

#97360 AzureMonitor and GCM: Replace deprecated experimental/errorsource
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/utils.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/utils/utils.go
  pkg/tsdb/azuremonitor/utils/utils_test.go
  pkg/tsdb/cloud-monitoring/annotation_query.go
  pkg/tsdb/cloud-monitoring/cloudmonitoring.go
  pkg/tsdb/cloud-monitoring/promql_query.go
  pkg/tsdb/cloud-monitoring/utils.go
Labels: area/backend, datasource/GoogleCloudMonitoring, datasource/Azure, no-backport, no-changelog

#97450 Hackathon: Playing around with feedback plus
  apps/feedback/go.mod
  apps/feedback/go.sum
  apps/feedback/pkg/watchers/watcher_feedback.go
  package.json
  pkg/services/gcom/gcom.go
  public/app/core/components/AppChrome/ReportIssueButton/FeedbackDrawerContents.tsx
  public/app/core/components/AppChrome/ReportIssueButton/ReportIssueButton.tsx
  public/app/core/components/AppChrome/ReportIssueButton/ScreenShotEditModal.tsx
  public/app/core/components/AppChrome/ReportIssueButton/types.ts
  public/app/core/components/AppChrome/ReportIssueButton/utils.ts
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/app/features/feedback/diagnostic-data.ts
  public/app/types/feedback.d.ts
  yarn.lock
Labels: area/backend, area/frontend, no-backport, no-changelog

#97560 ExploreMetrics: Dashboard metrics sorted by changepoint count
  public/app/features/trails/MetricSelect/hideEmptyPreviews.ts
  public/app/features/trails/MetricSelect/previewPanel.test.ts
  public/app/features/trails/MetricSelect/previewPanel.ts
  public/app/features/trails/wingman/MetricSelectSceneForWingman.tsx
  public/app/features/trails/wingman/display/AnomaliesScene.tsx
  public/app/features/trails/wingman/display/anomalies/AnomaliesScene.tsx
  public/app/features/trails/wingman/display/anomalies/SceneChangepointDetector.tsx
  public/app/features/trails/wingman/display/anomalies/SortByChangepointsScene.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog, hackathon

#97568 Setting: Fix redact of entity db pass
  pkg/setting/setting.go
Labels: area/backend, no-backport, no-changelog

#97527 Explore metrics: Wingman RED metrics
  public/app/features/trails/DataTrail.tsx
  public/app/features/trails/wingman/MetricSelectSceneForWingman.tsx
  public/app/features/trails/wingman/WingmanScene.tsx
  public/app/features/trails/wingman/display/redMetrics.ts
Labels: area/frontend, no-backport, no-changelog, hackathon

#97580 Alerting: Fix alert rules unpausing after moving rule to different folder
  pkg/services/ngalert/models/testing.go
Labels: type/bug, area/backend, add to changelog

#96921 Azure/GCM: Improve error display
  pkg/tsdb/azuremonitor/azuremonitor-resource-handler.go
  pkg/tsdb/cloud-monitoring/resource_handler.go
Labels: effort/small, area/backend, datasource/GoogleCloudMonitoring, datasource/Azure, add to changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x, backport v11.4.x

#97585 fixes a series of problems with the Dockerfile
  Dockerfile
Labels: type/build-packaging, no-changelog

#97586 [Hackathon] Improve feedback form
  public/app/core/components/AppChrome/ReportIssueButton/FeedbackDrawerContents.tsx
  public/app/core/components/AppChrome/ReportIssueButton/ReportIssueButton.tsx
Labels: area/frontend, no-backport, no-changelog

#97588 ExploreMetrics: Exclude panels with no data in wingman anomalies view
  public/app/features/trails/wingman/display/anomalies/AnomaliesScene.tsx
  public/app/features/trails/wingman/display/anomalies/hideEmptyPanels.ts
Labels: area/frontend, no-backport, no-changelog, hackathon

#97532 [DOC] Update docs for anchored regex TraceQL queries
  docs/sources/shared/datasources/tempo-editor-traceql.md
Labels: type/docs, no-backport, no-changelog

#97596 style: make headers and usage data light mode compatible; style: udpa…
  public/app/features/trails/wingman/WingmanScene.tsx
  public/app/features/trails/wingman/WithUsageDataPreviewPanel.tsx
  public/app/features/trails/wingman/assets/wingmanLogo.tsx
Labels: area/frontend

#97606 hackathon: Apply default eval delay of 1m
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Labels: area/backend

#97531 K8s: Make GetAPIRoutes an optional interface
  pkg/registry/apis/alerting/notifications/register.go
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/dashboard/v1alpha1/register.go
  pkg/registry/apis/dashboard/v2alpha1/register.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/apis/folders/register.go
  pkg/registry/apis/iam/register.go
  pkg/registry/apis/query/register.go
  pkg/registry/apis/scope/register.go
  pkg/registry/apis/service/register.go
  pkg/registry/apis/userstorage/register.go
  pkg/services/apiserver/builder/common.go
  pkg/services/apiserver/builder/openapi.go
  pkg/services/apiserver/builder/request_handler.go
  pkg/services/apiserver/builder/runner/builder.go
Labels: area/backend, no-backport, no-changelog

#97472 Zipkin: Run queries with node graph enabled through backend
  public/app/plugins/datasource/zipkin/datasource.test.ts
  public/app/plugins/datasource/zipkin/datasource.ts
  public/app/plugins/datasource/zipkin/mocks/mockJsonResponse.json
  public/app/plugins/datasource/zipkin/mocks/mockTraceDataFrame.ts
Labels: area/frontend, datasource/Zipkin, no-backport, no-changelog
