Repository grafana/grafana, pull requests merged in 2024-08, with the labels that each got.

#90808 TemplateSrv: Add test case for SafeSerializableSceneObject
  public/app/features/templating/template_srv.test.ts
Labels: area/dashboard/templating, area/frontend, no-backport, no-changelog

#90916 Update traces to metrics doc
  docs/sources/datasources/tempo/configure-tempo-data-source.md
Labels: type/docs, no-changelog, backport v11.1.x

#91314 unifiedStorage: sort by namespace/name ASC
  pkg/storage/unified/resource/cdk_backend.go
  pkg/storage/unified/sql/data/resource_history_list.sql
  pkg/storage/unified/sql/data/resource_list.sql
  pkg/storage/unified/sql/test/integration_test.go
  pkg/storage/unified/sql/testdata/resource_history_list_mysql_sqlite.sql
  pkg/storage/unified/sql/testdata/resource_list_mysql_sqlite.sql
Labels: area/backend, no-backport, no-changelog

#91230 Plugins: Ensure grafana cli can install multiple plugin dependencies
  pkg/cmd/grafana-cli/commands/install_command.go
Labels: area/plugins, area/grafana-cli, area/backend, add to changelog, pr/external, no-backport

#91384 Docs: Update defaults.ini for new faro option
  conf/defaults.ini
  conf/sample.ini
Labels: no-changelog

#91380 tidy up styles + fix docked menu overlaying popovers
  public/app/core/components/AppChrome/AppChrome.tsx
Labels: type/bug, area/frontend, area/navigation, no-backport, no-changelog

#91385 Tooltip: Handle case where `document.body` is the scrolling element
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#91119 Alerting: Support median in reduce expressions
  packages/grafana-data/src/transformations/fieldReducer.ts
  pkg/expr/mathexp/reduce.go
  pkg/expr/mathexp/reduce_test.go
  pkg/expr/query.panel.schema.json
  pkg/expr/query.request.schema.json
  pkg/expr/query.types.json
  public/api-enterprise-spec.json
  public/app/features/expressions/types.ts
Labels: area/backend, area/frontend, add to changelog, no-backport

#91375 Allow to watch from the dual writer
  pkg/apiserver/rest/dualwriter_mode3.go
  pkg/apiserver/rest/dualwriter_mode4.go
Labels: area/backend, no-changelog

#91394 Chore: Fix Crowdin Download action failing consistently
  .github/workflows/i18n-crowdin-download.yml
Labels: no-changelog

#91341 Authz: Fix on-prem grpc authentication
  pkg/services/authz/client.go
Labels: area/backend, no-backport, no-changelog

#91363 Prometheus: Add group function to aggregations
  packages/grafana-prometheus/src/querybuilder/aggregations.ts
  packages/grafana-prometheus/src/querybuilder/operations.ts
  packages/grafana-prometheus/src/querybuilder/parsing.test.ts
Labels: type/bug, datasource/Prometheus, area/frontend, no-backport, no-changelog

#90759 Runtime: Add provider for location service
  .betterer.results
  packages/grafana-runtime/src/services/LocationService.test.tsx
  packages/grafana-runtime/src/services/LocationService.tsx
  public/app/AppWrapper.tsx
Labels: area/frontend, add to changelog, area/grafana/runtime

#91215 Folders: Allow folder editors and admins to create subfolders without any additional permissions
  pkg/api/accesscontrol.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/store.go
  pkg/services/accesscontrol/resourcepermissions/store_test.go
  pkg/services/annotations/annotationsimpl/annotations_test.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/errors.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/sqlstore/permissions/dashboards_bench_test.go
  public/app/features/browse-dashboards/permissions.ts
Labels: area/backend, area/frontend, add to changelog, breaking change, no-backport

#91353 Alerting: Remove duplicate tracing middleware from prom writer
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/recording_rule_test.go
  pkg/services/ngalert/writer/prom.go
Labels: area/alerting, area/backend, no-changelog

#91332 Icons: Cache Bookmark icons
  public/app/core/icons/cached.json
  public/app/core/icons/iconBundle.ts
  scripts/webpack/webpack.common.js
Labels: type/chore, area/frontend, no-backport, no-changelog

#90860 Add CockroachDB as an enterprise data source
  docs/sources/introduction/grafana-enterprise.md
  public/app/features/datasources/state/buildCategories.test.ts
  public/app/features/datasources/state/buildCategories.ts
  public/img/plugins/cockroachdb.jpg
Labels: type/docs, area/frontend, no-backport, no-changelog

#91409 Alerting: Fix permissions for prometheus rule endpoints
  public/app/plugins/datasource/prometheus/plugin.json
Labels: type/bug, datasource/Prometheus, area/frontend, add to changelog, backport v11.1.x

#90968 Alerting: Parse secret fields case-insensitively when creating or updating a contact point
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
Labels: type/bug, area/alerting, area/backend, no-backport, no-changelog

#90774 Docs: Updates to Traces in Explore doc
  docs/sources/explore/trace-integration.md
Labels: type/docs, no-changelog, backport v11.0.x, backport v11.1.x

#91412 [v9.5.x] AzureMonitor: Fix mishandled resources vs workspaces
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
Labels: type/bug, area/backend, datasource/Azure, backport, no-changelog

#91424 Heatmap: Skip null values instead of treating as 0
  public/app/plugins/panel/heatmap/utils.ts
Labels: type/bug, area/panel/heatmap, area/frontend, no-changelog

#91220 Docs: time series overall edit
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/config-options-intro.md
  docs/sources/shared/visualizations/connect-null-values.md
  docs/sources/shared/visualizations/disconnect-values.md
  docs/sources/shared/visualizations/legend-options-1.md
  docs/sources/shared/visualizations/multiple-y-axes.md
  docs/sources/shared/visualizations/overrides-options.md
  docs/sources/shared/visualizations/panel-options.md
  docs/sources/shared/visualizations/standard-options.md
  docs/sources/shared/visualizations/thresholds-options-1.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x

#91428 [v10.4.x] Docs: time series overall edit
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/config-options-intro.md
  docs/sources/shared/visualizations/connect-null-values.md
  docs/sources/shared/visualizations/disconnect-values.md
  docs/sources/shared/visualizations/legend-options-1.md
  docs/sources/shared/visualizations/multiple-y-axes.md
  docs/sources/shared/visualizations/overrides-options.md
  docs/sources/shared/visualizations/panel-options.md
  docs/sources/shared/visualizations/standard-options.md
  docs/sources/shared/visualizations/thresholds-options-1.md
Labels: type/docs, backport, no-changelog

#91417 XYChart: Promote to generally available
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, add to changelog, area/panel/xychart, type/feature-toggle-enable

#91373 Storage: Improve (some) error handling
  pkg/storage/unified/resource/errors.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/validation.go
  pkg/storage/unified/resource/validation_test.go
Labels: area/backend, no-backport, no-changelog

#91247 RBAC: Add permission registry
  pkg/api/folder_bench_test.go
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/server/wire.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/permreg/permreg.go
  pkg/services/accesscontrol/permreg/permreg_test.go
  pkg/services/accesscontrol/permreg/test/testreg.go
  pkg/services/serviceaccounts/extsvcaccounts/service_test.go
Labels: area/backend, no-backport, no-changelog

#91454 Docs: Update subtitle in Loki datasource documentation to fix link issue
  docs/sources/datasources/loki/_index.md
Labels: type/docs, pr/external, no-changelog, backport v10.0.x, backport v10.1.x, backport v10.2.x, backport v10.3.x, backport v10.4.x, backport v11.0.x, backport v11.1.x

#91335 Navigation: Fix `<Portal>` when `bodyScrolling` is enabled
  packages/grafana-ui/src/components/Portal/Portal.tsx
Labels: type/bug, area/frontend, area/navigation, no-backport, no-changelog

#91054 Alerting: Use cloud notifier types for metadata on Cloud AMs
  public/app/features/alerting/unified/components/contact-points/ContactPoint.tsx
  public/app/features/alerting/unified/components/contact-points/useContactPoints.tsx
  public/app/features/alerting/unified/components/contact-points/utils.ts
  public/app/features/alerting/unified/utils/receivers.ts
Labels: area/alerting, area/frontend, add to changelog

#91387 [authn]: add GetIDClaims() to Requester
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apimachinery/identity/requester.go
  pkg/apimachinery/identity/static.go
  pkg/services/auth/id.go
  pkg/services/auth/idimpl/service.go
  pkg/services/auth/idimpl/service_test.go
  pkg/services/auth/idtest/mock.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
Labels: area/auth, area/backend, no-backport, no-changelog

#91399 I18n: Require Trans i18nKey prop
  public/app/core/internationalization/index.tsx
  public/app/features/alerting/unified/components/Provisioning.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/EmptyTransformationsMessage.tsx
  public/app/features/trails/ActionTabs/MetricOverviewScene.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#91386 E2C: Reduce UI poll interval and make configurable
  conf/defaults.ini
  conf/sample.ini
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  pkg/setting/setting_cloud_migration.go
  public/app/features/migrate-to-cloud/onprem/Page.tsx
Labels: area/backend, area/frontend, no-changelog

#91478 Chore: Update i18next parser to 9.0.1
  package.json
  yarn.lock
Labels: area/frontend, no-changelog

#91388 [v11.1.x] Dashboard Scene: Make Variables non-sticky on mobile
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
Labels: type/bug, area/frontend, backport, no-changelog

#91376 Dashboard: Chore - Remove rudderstack events from panel menu and toolbar
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/utils/interactions.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/dashgrid/PanelChromeAngular.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
  public/app/features/dashboard/utils/getPanelChromeProps.tsx
  public/app/features/dashboard/utils/getPanelMenu.ts
Labels: type/chore, area/instrumentation, area/frontend, no-changelog

#91408 Chore: Add semconv package
  .github/CODEOWNERS
  .github/workflows/go_lint.yml
  Makefile
  go.work
  go.work.sum
  pkg/semconv/Makefile
  pkg/semconv/README.md
  pkg/semconv/attributes.go
  pkg/semconv/doc.go
  pkg/semconv/go.mod
  pkg/semconv/go.sum
  pkg/semconv/model/registry/datasource.yml
  pkg/semconv/model/registry/plugin.yml
  pkg/semconv/model/trace/datasource.yaml
  pkg/semconv/model/trace/plugin.yaml
  pkg/semconv/templates/template.j2
Labels: type/build-packaging, area/backend, no-changelog

#91475 E2C: Add a 'supported types' disclosure to the bottom of the resources table
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.tsx
  public/app/features/migrate-to-cloud/onprem/SupportedTypesDisclosure.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#91481 Remove unified_storage_mode reference in the grafana repo
  pkg/services/apiserver/config.go
Labels: area/backend, no-changelog

#91422 Alerting: Make orgID a direct arg of writer interface
  pkg/services/ngalert/schedule/recording_rule.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/writer/fake.go
  pkg/services/ngalert/writer/noop.go
  pkg/services/ngalert/writer/prom.go
  pkg/services/ngalert/writer/prom_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#91036 [Auth] Enable cloudRBACRoles feature toggle for self-serve
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, no-backport, no-changelog

#91430 Alerting: Use Unstructured type for settings of K8s model Integration + code owners
  .github/CODEOWNERS
  pkg/apis/alerting_notifications/v0alpha1/receiver_spec.go
  pkg/apis/alerting_notifications/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/alerting_notifications/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/alerting/notifications/receiver/conversions.go
  pkg/registry/apis/alerting/notifications/register.go
  pkg/registry/apis/alerting/notifications/timeinterval/conversions.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#91506 Alerting: Fix panic with nil annotations & Nodata=alerting/ok/keep
  pkg/services/ngalert/state/manager.go
Labels: type/bug, area/alerting, area/backend, no-backport, no-changelog

#91508 Semconv: Change keys to private constants
  pkg/semconv/attributes.go
  pkg/semconv/templates/template.j2
Labels: area/backend, no-changelog

#91336 Alerting docs: fixes alt text errors
  docs/sources/alerting/fundamentals/alert-rules/annotation-label.md
  docs/sources/alerting/manage-notifications/view-state-health.md
Labels: type/docs, backport, no-changelog, backport v11.0.x, backport v11.1.x

#91501 [DOC] Add canonical URL to Explore Metrtics
  docs/sources/explore/explore-metrics.md
Labels: type/docs, no-backport, no-changelog

#91492 Alerting: Enable "no-unused-props" rule
  public/app/features/alerting/.eslintrc
  public/app/features/alerting/unified/GrafanaRuleQueryViewer.tsx
  public/app/features/alerting/unified/components/AlertStateDot.tsx
  public/app/features/alerting/unified/components/expressions/Expression.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
  public/app/features/alerting/unified/components/rule-list/AlertRuleListItem.tsx
  public/app/features/alerting/unified/components/rule-list/EvaluationGroupWithRules.tsx
  public/app/features/alerting/unified/components/rule-viewer/AlertRuleMenu.tsx
  public/app/features/alerting/unified/components/rule-viewer/tabs/Query.tsx
  public/app/features/alerting/unified/components/rules/RuleListStateView.tsx
  public/app/features/alerting/unified/components/rules/state-history/LogRecordViewer.tsx
Labels: area/alerting, area/frontend, no-changelog

#91495 Alerting: Enable "prefer-const" rule
  public/app/features/alerting/.eslintrc
  public/app/features/alerting/unified/AlertsFolderView.tsx
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/api/annotations.test.ts
  public/app/features/alerting/unified/components/contact-points/ContactPoints.tsx
  public/app/features/alerting/unified/components/rule-editor/dag.ts
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationRoute.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/reducer.test.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/components/rules/RuleStats.tsx
  public/app/features/alerting/unified/components/settings/SettingsContext.tsx
  public/app/features/alerting/unified/mocks/server/events.ts
  public/app/features/alerting/unified/search/searchParser.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
  public/app/features/alerting/unified/utils/time.ts
  public/app/features/alerting/unified/utils/timeRange.ts
Labels: area/alerting, area/frontend, no-changelog

#91497 Alerting: Enable "dot-notation" rule
  public/app/features/alerting/.eslintrc
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/components/expressions/Expression.test.tsx
  public/app/features/alerting/unified/components/receivers/AlertInstanceModalSelector.tsx
  public/app/features/alerting/unified/components/receivers/form/ChannelSubForm.tsx
  public/app/features/alerting/unified/components/receivers/grafanaAppReceivers/onCall/useOnCallIntegration.test.ts
  public/app/features/alerting/unified/components/receivers/grafanaAppReceivers/onCall/useOnCallIntegration.ts
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/ModifyExportRuleForm.tsx
  public/app/features/alerting/unified/components/rule-list/EvaluationGroupWithRules.tsx
  public/app/features/alerting/unified/components/rule-list/RuleList.v1.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/GrafanaRules.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/EventListSceneObject.tsx
  public/app/features/alerting/unified/hooks/useCombinedRuleNamespaces.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/rules.ts
Labels: area/alerting, area/frontend, no-changelog

#91219 Chore: Update swagger ui (4.3.0 to 5.17.14)
  public/views/swagger.html
Labels: area/frontend, no-backport, no-changelog

#91520 APIServer: Make TableConverter part of ResourceInfo
  pkg/apimachinery/apis/common/v0alpha1/resource.go
  pkg/apimachinery/apis/identity/v0alpha1/register.go
  pkg/apimachinery/utils/tableConverter.go
  pkg/apimachinery/utils/tableConverter_test.go
  pkg/apis/alerting_notifications/v0alpha1/register.go
  pkg/apis/dashboard/v0alpha1/register.go
  pkg/apis/dashboardsnapshot/v0alpha1/register.go
  pkg/apis/datasource/v0alpha1/register.go
  pkg/apis/featuretoggle/v0alpha1/register.go
  pkg/apis/folder/v0alpha1/register.go
  pkg/apis/peakq/v0alpha1/register.go
  pkg/apis/playlist/v0alpha1/register.go
  pkg/apis/query/v0alpha1/register.go
  pkg/apis/scope/v0alpha1/register.go
  pkg/apis/service/v0alpha1/register.go
  pkg/registry/apis/alerting/notifications/receiver/storage.go
  pkg/registry/apis/alerting/notifications/timeinterval/storage.go
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/dashboard/storage.go
  pkg/registry/apis/dashboardsnapshot/register.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/apis/featuretoggle/features.go
  pkg/registry/apis/folders/register.go
  pkg/registry/apis/identity/register.go
  pkg/registry/apis/peakq/storage.go
  pkg/registry/apis/playlist/register.go
  pkg/registry/apis/scope/storage.go
  pkg/registry/apis/service/storage.go
Labels: area/backend, no-backport, no-changelog

#90917 Alerting: Use stable identifier of a group,contact point,mute timing when export to HCL
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/test-data/alertmanager_default_mutetimings-export.hcl
  pkg/services/ngalert/api/util.go
Labels: area/alerting, area/backend, add to changelog, pr/external, no-backport

#91529 Chore: Add storage submodule to lint & test config
  .github/workflows/go_lint.yml
  Makefile
  pkg/storage/unified/resource/cdk_backend.go
  pkg/storage/unified/resource/grpc/authenticator.go
  pkg/storage/unified/resource/server.go
Labels: type/build-packaging, area/backend, no-changelog

#91493 Alerting docs: Update `Alerting provisioning HTTP API`
  docs/sources/shared/alerts/alerting_provisioning.md
Labels: type/docs, area/alerting, no-changelog, backport v11.1.x

#91348 Typo fix in Templates documentation
  docs/sources/alerting/fundamentals/notifications/templates.md
Labels: type/docs, pr/external, no-changelog

#90912 Canvas: Add visualization element
  .betterer.results
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/registry.ts
  public/app/features/canvas/types.ts
Labels: area/frontend, area/panel/canvas, hackathon-2024-08-vizards

#91536 search v2: pre-allocate dashboardQueryResult slice capacity for performance
  pkg/services/searchV2/index.go
Labels: area/backend, no-changelog

#91547 [v11.1.x] Tooltip: Fix scrollbars
  packages/grafana-ui/src/components/VizTooltip/VizTooltipRow.tsx
Labels: area/frontend, backport, area/tooltip, no-changelog

#91556 Vizards: Fix data filtering
  public/app/features/canvas/element.ts
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/runtime/sceneElementManagement.ts
  public/app/features/canvas/types.ts
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91557 K8s e2e tests: adds e2e package and 10 year certs
  go.mod
  go.sum
  go.work.sum
  hack/make-aggregator-pki.sh
  pkg/cmd/grafana/apiserver/testdata/certificates/README.md
  pkg/cmd/grafana/apiserver/testdata/certificates/ca.crt
  pkg/cmd/grafana/apiserver/testdata/certificates/ca.key
  pkg/cmd/grafana/apiserver/testdata/certificates/client.crt
  pkg/cmd/grafana/apiserver/testdata/certificates/client.csr
  pkg/cmd/grafana/apiserver/testdata/certificates/client.key
  pkg/cmd/grafana/apiserver/testdata/certificates/server.crt
  pkg/cmd/grafana/apiserver/testdata/certificates/server.csr
  pkg/cmd/grafana/apiserver/testdata/certificates/server.key
  pkg/extensions/main.go
Labels: area/backend, no-backport, no-changelog

#91552 Vizards: Viz Element Styling
  public/app/features/canvas/elements/visualization.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91509 chore(tracing): add tracing for frontend and db session
  pkg/api/dashboard.go
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/api/index.go
  pkg/api/search.go
  pkg/api/utils.go
  pkg/services/search/service.go
  pkg/services/sqlstore/database_wrapper.go
  pkg/services/sqlstore/session.go
Labels: area/backend, no-backport, no-changelog

#91563 Revert: Calcs: Update diff percent to be a percent
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
Labels: area/frontend, add to changelog, area/dataviz

#91213 Plugins: Update CLI check if plugin is already installed
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/cmd/grafana-cli/services/services.go
  pkg/plugins/storage/fs.go
Labels: area/plugins, type/chore, area/grafana-cli, area/backend, add to changelog, no-backport

#91479 Navigation: Fix browse dashboards/scenes dashboards when `bodyScrolling` is enabled
  packages/grafana-ui/src/themes/GlobalStyles/page.ts
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
Labels: type/bug, area/frontend, area/navigation, no-backport, no-changelog

#91526 Plugins: Add filters by update available
  public/app/features/plugins/admin/pages/Browse.test.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/plugins/admin/state/selectors.test.ts
  public/app/features/plugins/admin/state/selectors.ts
Labels: area/frontend, add to changelog

#91566 Alerting: Add types to react hook form usage register method
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
Labels: area/frontend, no-changelog

#91571 Alerting: Tidy up k8s utilities/constants
  public/app/features/alerting/unified/components/contact-points/useContactPoints.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingsTable.tsx
  public/app/features/alerting/unified/components/mute-timings/useMuteTimings.tsx
  public/app/features/alerting/unified/components/mute-timings/util.tsx
  public/app/features/alerting/unified/mocks/server/handlers/k8s/timeIntervals.k8s.ts
  public/app/features/alerting/unified/utils/k8s/utils.ts
Labels: area/frontend, no-changelog

#91576 Alerting: Add jest-dom eslint recommended rules
  package.json
  public/app/features/alerting/.eslintrc
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
  public/app/features/alerting/unified/Settings.test.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.test.tsx
  public/app/features/alerting/unified/components/notification-policies/EditDefaultPolicyForm.test.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.test.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.test.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.test.tsx
  public/app/features/alerting/unified/components/rule-editor/labels/LabelsField.test.tsx
  yarn.lock
Labels: area/frontend, no-changelog

#91226 Unified Storage: Propagate traces from the apiserver grpc client
  pkg/services/apiserver/service.go
  pkg/services/grpcserver/interceptors/tracing.go
  pkg/services/grpcserver/service.go
Labels: area/backend, no-backport, no-changelog, missing-labels

#91352 Datalinks: UX improvements
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItem.tsx
Labels: area/frontend, add to changelog, no-backport

#91561 CloudMigrations: Update preview banner text
  public/app/features/migrate-to-cloud/MigrateToCloud.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-changelog

#91585 Alerting: Log rule evaluation error in scheduler
  pkg/services/ngalert/schedule/alert_rule.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#91545 CloudMigration: Show warning message for successfully migrated non-core data sources
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/api/api_test.go
  pkg/services/cloudmigration/api/dtos.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/cloudmigration/gmsclient/inmemory_client.go
  pkg/services/cloudmigration/model.go
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/onprem/MigrationSummary.tsx
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/ResourceDetailsModal.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.test.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.tsx
  public/app/features/migrate-to-cloud/onprem/StatusCell.tsx
  public/app/features/migrate-to-cloud/onprem/types.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-changelog

#91432 [DOC] Add Streaming doc for Tempo data source
  docs/sources/datasources/tempo/configure-tempo-data-source.md
  docs/sources/shared/datasources/tempo-search-traceql.md
Labels: type/docs, no-backport, no-changelog

#91581 RemoteCache: remove count method
  pkg/infra/remotecache/database_storage.go
  pkg/infra/remotecache/database_storage_test.go
  pkg/infra/remotecache/memcached_storage.go
  pkg/infra/remotecache/memcached_storage_integration_test.go
  pkg/infra/remotecache/redis_storage.go
  pkg/infra/remotecache/redis_storage_integration_test.go
  pkg/infra/remotecache/remotecache.go
  pkg/infra/remotecache/remotecache_test.go
  pkg/infra/remotecache/test_utils.go
Labels: area/backend, no-changelog

#91598 TimeSeries: Use original frames for creating data links
  public/app/core/components/GraphNG/GraphNG.tsx
Labels: type/bug, area/frontend, area/panel/timeseries, no-changelog, backport v11.1.x

#91603 Haris/hackaton 2024 07/canvas form element
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/Select.tsx
  public/app/features/canvas/elements/form/elements/SelectionEditor.tsx
  public/app/features/canvas/elements/form/elements/Submit.tsx
  public/app/features/canvas/elements/form/form.tsx
  public/app/features/canvas/registry.ts
Labels: area/frontend

#91418 Grafana: Enables use of encrypted certificates with password for https
  conf/defaults.ini
  conf/sample.ini
  pkg/api/http_server.go
  pkg/api/http_server_test.go
  pkg/setting/setting.go
Labels: area/backend, add to changelog, no-backport

#91560 build: semconv recently got its own go.mod
  Dockerfile
Labels: type/build-packaging, no-backport, no-changelog

#91609 Vizards: Select multiple elements from the tree view
  .betterer.results
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/runtime/sceneAbleManagement.ts
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91468 Alerting: Add useNotificationTemplates hook to abstract away templates loading
  public/app/features/alerting/unified/Templates.test.tsx
  public/app/features/alerting/unified/components/contact-points/NotificationTemplates.test.tsx
  public/app/features/alerting/unified/components/contact-points/NotificationTemplates.tsx
  public/app/features/alerting/unified/components/contact-points/__mocks__/alertmanager.config.mock.json
  public/app/features/alerting/unified/components/contact-points/__snapshots__/NewContactPoint.test.tsx.snap
  public/app/features/alerting/unified/components/contact-points/useNotificationTemplates.ts
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.test.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/state/actions.ts
Labels: area/alerting, area/frontend, no-backport, no-changelog

#91542 Alerting: Remove all but one usage of `TestProvider` within test code
  public/app/features/alerting/.eslintrc
  public/app/features/alerting/unified/AlertGroups.test.tsx
  public/app/features/alerting/unified/AlertsFolderView.test.tsx
  public/app/features/alerting/unified/CloneRuleEditor.test.tsx
  public/app/features/alerting/unified/GrafanaRuleQueryViewer.test.tsx
  public/app/features/alerting/unified/NotificationPolicies.test.tsx
  public/app/features/alerting/unified/PanelAlertTabContent.test.tsx
  public/app/features/alerting/unified/RedirectToRuleViewer.test.tsx
  public/app/features/alerting/unified/RuleEditorCloudOnlyAllowed.test.tsx
  public/app/features/alerting/unified/RuleEditorCloudRules.test.tsx
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
  public/app/features/alerting/unified/components/notification-policies/EditDefaultPolicyForm.test.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.test.tsx
  public/app/features/alerting/unified/components/receivers/PayloadEditor.test.tsx
  public/app/features/alerting/unified/components/receivers/grafanaAppReceivers/onCall/useOnCallIntegration.test.ts
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.test.tsx
  public/app/features/alerting/unified/components/rule-editor/labels/LabelsField.test.tsx
  public/app/features/alerting/unified/components/rules/RulesFilter.test.tsx
  public/app/features/alerting/unified/hooks/useAbilities.test.tsx
  public/app/features/alerting/unified/hooks/useExternalAMSelector.test.tsx
  public/test/helpers/alertingRuleEditor.tsx
  public/test/test-utils.tsx
Labels: area/frontend, no-changelog

#91564 Storybook: Fix `Input` story
  packages/grafana-ui/src/components/Input/Input.story.tsx
Labels: type/chore, area/frontend, area/storybook, no-backport, no-changelog

#91523 K8s/Dashboards: Fix dashboard list and add tests
  pkg/registry/apis/dashboard/legacy/queries.go
  pkg/registry/apis/dashboard/legacy/queries_test.go
  pkg/registry/apis/dashboard/legacy/query_dashboards.sql
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/dashboard/legacy/storage.go
  pkg/registry/apis/dashboard/legacy/testdata/mysql__dashboard.sql
  pkg/registry/apis/dashboard/legacy/testdata/mysql__dashboard_next_page.sql
  pkg/registry/apis/dashboard/legacy/testdata/mysql__history_uid.sql
  pkg/registry/apis/dashboard/legacy/testdata/mysql__history_uid_at_version.sql
  pkg/registry/apis/dashboard/legacy/testdata/mysql__history_uid_second_page.sql
  pkg/registry/apis/dashboard/legacy/testdata/postgres__dashboard.sql
  pkg/registry/apis/dashboard/legacy/testdata/postgres__dashboard_next_page.sql
  pkg/registry/apis/dashboard/legacy/testdata/postgres__history_uid.sql
  pkg/registry/apis/dashboard/legacy/testdata/postgres__history_uid_at_version.sql
  pkg/registry/apis/dashboard/legacy/testdata/postgres__history_uid_second_page.sql
  pkg/registry/apis/dashboard/legacy/testdata/sqlite__dashboard.sql
  pkg/registry/apis/dashboard/legacy/testdata/sqlite__dashboard_next_page.sql
  pkg/registry/apis/dashboard/legacy/testdata/sqlite__history_uid.sql
  pkg/registry/apis/dashboard/legacy/testdata/sqlite__history_uid_at_version.sql
  pkg/registry/apis/dashboard/legacy/testdata/sqlite__history_uid_second_page.sql
  pkg/registry/apis/dashboard/legacy/types.go
  pkg/storage/unified/sql/sqltemplate/dialect_mysql.go
  pkg/storage/unified/sql/sqltemplate/sqltemplate.go
  pkg/tests/apis/dashboard/dashboards_test.go
  pkg/tests/apis/helper.go
Labels: area/backend, no-backport, no-changelog

#91596 chore: preallocate slices where we have a good idea of requirements
  pkg/services/ngalert/sender/notifier.go
  pkg/util/xorm/dialect_postgres.go
  pkg/util/xorm/helpers.go
  pkg/util/xorm/statement.go
Labels: area/backend, no-changelog

#91511 docs: added missing panel options to node graph docs
  docs/sources/panels-visualizations/visualizations/node-graph/index.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x

#91423 Plugins: add IRM plugin to "Alerts & IRM" left-hand navigation group
  pkg/services/navtree/navtreeimpl/applinks.go
Labels: area/backend, no-changelog

#91357 Cloudwatch: Clear cached PDC transport when PDC is disabled
  pkg/tsdb/cloudwatch/cloudwatch.go
Labels: datasource/CloudWatch, area/backend, add to changelog

#91634 Alerting: Swap useAsync return signature params
  public/app/features/alerting/unified/components/MenuItemPauseRule.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-viewer/DeleteModal.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useDeleteRuleFromGroup.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/usePauseAlertRule.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useUpdateRuleGroup.test.tsx
  public/app/features/alerting/unified/hooks/useAsync.tsx
Labels: area/alerting, type/refactor, area/frontend, no-changelog

#91651 Vizards: Add list of panel type excludes
  public/app/features/canvas/elements/visualization.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91652 Canvas: Viz time range sync and bug fix
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/dashboard/services/TimeSrv.ts
Labels: area/frontend, no-changelog

#90442 GOps: Setup FullStory in the IRM configuration tracker
  .betterer.results
  public/app/features/gops/configuration-tracker/components/ConfigCard.tsx
  public/app/features/gops/configuration-tracker/components/Essentials.tsx
  public/app/features/gops/configuration-tracker/components/ProgressBar.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog, good cross gops-fe

#91655 Vizards: Add custom options to viz element
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/types.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91658 Vizards: Add background color opacity slider
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/elements/cloud.tsx
  public/app/features/canvas/elements/ellipse.tsx
  public/app/features/canvas/elements/parallelogram.tsx
  public/app/features/canvas/elements/triangle.tsx
  public/app/features/canvas/runtime/element.tsx
  public/app/plugins/panel/canvas/editor/options.ts
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91659 Canvas: Form element improvements + text and number input
  .betterer.results
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/NumberInput.tsx
  public/app/features/canvas/elements/form/elements/NumberInputEditor.tsx
  public/app/features/canvas/elements/form/elements/Select.tsx
  public/app/features/canvas/elements/form/elements/SelectionEditor.tsx
  public/app/features/canvas/elements/form/elements/TextInput.tsx
  public/app/features/canvas/elements/form/elements/TextInputEditor.tsx
  public/app/features/canvas/elements/form/elements/utils.ts
  public/app/features/canvas/elements/form/form.tsx
Labels: no-changelog

#88551 Transformations: Add variable support to select groupingToMatrix
  packages/grafana-data/src/transformations/transformers/groupingToMatrix.ts
  public/app/features/transformers/editors/GroupingToMatrixTransformerEditor.tsx
Labels: area/frontend, add to changelog, pr/external, area/transformations, add to what's new

#91372 Docs: Add warning on UUIDs not being available before 10.2.0
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
Labels: type/docs, no-changelog, area/auth/rbac

#91642 E2C: use `TextLink` component for consistency
  public/app/features/migrate-to-cloud/MigrateToCloud.tsx
Labels: area/frontend, no-backport, no-changelog

#91640 E2C: Post success toast when migration finishes
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/useNotifyOnSuccess.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Labels: area/frontend, no-backport, no-changelog

#91638 Chore: Correct Debug viz title casing to sentence casing
  public/app/plugins/panel/debug/module.tsx
  public/app/plugins/panel/live/module.tsx
  public/app/plugins/panel/trend/module.tsx
Labels: type/chore, area/frontend, no-backport, no-changelog, area/panel/trend

#91686 LDAP: Add guide on how to configure LDAP with TLS
  .gitignore
  devenv/docker/blocks/auth/openldap/README.md
  devenv/docker/blocks/auth/openldap/docker-compose.yaml
Labels: no-changelog

#91684 add netlify to plugin list
  docs/sources/introduction/grafana-enterprise.md
  public/app/features/datasources/state/buildCategories.test.ts
  public/app/features/datasources/state/buildCategories.ts
  public/img/plugins/netlify.svg
Labels: type/docs, area/frontend, no-changelog

#91671 feat: add drone datasource to the plugins list
  docs/sources/introduction/grafana-enterprise.md
  public/app/features/datasources/state/buildCategories.test.ts
  public/app/features/datasources/state/buildCategories.ts
  public/img/plugins/drone.svg
Labels: type/docs, area/frontend, no-changelog

#91636 LDAP: Update ldap config comments with TLS info
  conf/ldap.toml
Labels: no-changelog

#91657 Datalinks: UX update
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.tsx
Labels: area/frontend, no-backport, no-changelog, internal

#91660 Vizards: Don't generate viz for viz element
  public/app/features/canvas/runtime/sceneElementManagement.ts
  public/app/plugins/panel/canvas/components/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91696 Move Explore Metrics to a directory for mounting
  docs/sources/explore/explore-metrics/index.md
Labels: type/docs, no-changelog

#91692 Chore: Update k8s.io dependencies
  go.mod
  go.sum
  go.work
  go.work.sum
  hack/externalTools.go
  hack/update-codegen.sh
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/apiserver/storage/testing/watcher_tests.go
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/cmd/grafana/apiserver/cmd.go
  pkg/cmd/grafana/apiserver/server.go
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/registry/apis/dashboard/legacy_storage.go
  pkg/services/apiserver/aggregator/aggregator.go
  pkg/services/apiserver/aggregator/availableController.go
  pkg/services/apiserver/builder/helper.go
  pkg/services/apiserver/service.go
  pkg/services/apiserver/standalone/options/tracing.go
  pkg/storage/unified/apistore/restoptions.go
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/resource/go.mod
Labels: area/backend, no-changelog

#91698 Add default form elements to Form element
  public/app/features/canvas/elements/form/form.tsx
Labels: area/frontend, no-backport, no-changelog

#91654 Canvas: Fix selection box glitch when adding certain elements
  public/app/features/canvas/runtime/sceneAbleManagement.ts
Labels: type/bug, area/frontend, add to changelog, area/panel/canvas

#91703 Vizards: Fix selecto for viz element
  public/app/features/canvas/elements/visualization.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91333 QuotaService: refactor to use ReplDB for Get queries
  pkg/api/org_users_test.go
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/infra/db/dbrepl.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/quota/quotaimpl/quota.go
  pkg/services/quota/quotaimpl/store.go
  pkg/services/quota/quotaimpl/store_test.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/sqlstore/replstore.go
  pkg/services/team/teamimpl/store_test.go
  pkg/services/user/userimpl/store_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/folders/api_folder_test.go
  pkg/tests/api/plugins/api_plugins_test.go
  pkg/tests/api/stats/admin_test.go
  pkg/tests/apis/helper.go
  pkg/tests/testinfra/testinfra.go
  pkg/tests/utils.go
Labels: area/backend, no-changelog

#91705 Chore: Remove depguard rule skip in apiserver
  pkg/apiserver/rest/dualwriter.go
  pkg/apiserver/rest/dualwriter_test.go
Labels: area/backend, no-changelog

#91706 experiment: use read replica for Get and Find Dashboards
  pkg/services/dashboards/database/database.go
Labels: area/backend, no-changelog

#91711 Fix api bug; checkbox functionality
  public/app/features/canvas/elements/form/elements/Checkbox.tsx
  public/app/features/canvas/elements/form/elements/CheckboxEditor.tsx
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/NumberInput.tsx
  public/app/features/canvas/elements/form/elements/NumberInputEditor.tsx
  public/app/features/canvas/elements/form/elements/Select.tsx
  public/app/features/canvas/elements/form/elements/TextInput.tsx
  public/app/features/canvas/elements/form/elements/TextInputEditor.tsx
  public/app/features/canvas/elements/form/elements/utils.ts
  public/app/features/canvas/elements/form/form.tsx
Labels: area/frontend

#91709 Vizards: Generate viz only for elements with fields
  public/app/plugins/panel/canvas/components/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, hackathon-2024-08-vizards

#91707 Chore: Add go workspace scripts
  .github/CODEOWNERS
  .github/workflows/go_lint.yml
  Makefile
  go.mod
  go.work
  pkg/apimachinery/go.sum
  pkg/apiserver/go.sum
  pkg/build/go.sum
  pkg/promlib/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/util/xorm/go.sum
  scripts/go-workspace/go.mod
  scripts/go-workspace/go.sum
  scripts/go-workspace/golangci-lint.sh
  scripts/go-workspace/main.go
  scripts/go-workspace/update-workspace.sh
Labels: type/build-packaging, area/backend, no-changelog

#91713 Vizards: Overflow form element
  public/app/features/canvas/elements/form/form.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, hackathon-2024-08-vizards

#91672 Fix links to the What's new page in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog

#91716 Vizards: Exclude form from viz generation
  public/app/plugins/panel/canvas/components/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
  public/app/plugins/panel/canvas/utils.ts
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, internal, hackathon-2024-08-vizards

#91717 Canvas: Fix form API editor payload bug
  packages/grafana-ui/src/components/TextArea/TextArea.tsx
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/utils.ts
  public/app/features/canvas/elements/form/form.tsx
Labels: area/frontend, no-changelog

#91719 Vizards: Wrap viz with display flex
  public/app/features/canvas/elements/visualization.tsx
Labels: area/frontend, area/panel/canvas, no-backport, no-changelog, hackathon-2024-08-vizards

#91718 Canvas Form: Remove form items
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/dashboard/components/PanelEditor/OptionsPaneCategory.tsx
Labels: area/frontend, no-changelog, hackathon-2024-08-vizards

#91721 Vizards: Block DateRangePicker for now
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
Labels: area/frontend, no-backport, no-changelog, hackathon-2024-08-vizards

#91720 Chore: Fix go workspace update script
  Makefile
  scripts/go-workspace/update-workspace.sh
Labels: type/build-packaging, no-changelog

#89586 State timeline: Add pagination support
  packages/grafana-schema/src/raw/composable/statetimeline/panelcfg/x/StateTimelinePanelCfg_types.gen.ts
  public/app/core/components/TimelineChart/TimelineChart.tsx
  public/app/core/components/TimelineChart/utils.test.ts
  public/app/core/components/TimelineChart/utils.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/state-timeline/module.tsx
  public/app/plugins/panel/state-timeline/panelcfg.cue
  public/app/plugins/panel/state-timeline/panelcfg.gen.ts
Labels: area/frontend, add to changelog, pr/external, area/panel/state-timeline, add to what's new

#91724 Canvas Form: Add Radio Buttons and cleanup
  packages/grafana-ui/src/components/Forms/RadioButtonList/RadioButtonList.tsx
  public/app/features/canvas/elements/form/elements/Checkbox.tsx
  public/app/features/canvas/elements/form/elements/CheckboxList.tsx
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/RadioList.tsx
  public/app/features/canvas/elements/form/elements/RadioListEditor.tsx
  public/app/features/canvas/elements/form/form.tsx
Labels: area/frontend, no-changelog

#91714 Semconv: Add k8s.dataplaneservice.name
  pkg/semconv/README.md
  pkg/semconv/attributes.go
  pkg/semconv/model/registry/k8s.yml
  pkg/semconv/model/trace/k8s.yaml
Labels: area/backend, no-changelog

#91741 Scenes: Upgrade to v5.7.4
  package.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#91539 Zanzana: Evaluate dashboard and folder permissions
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/accesscontrol/migrator/zanzana.go
  pkg/services/authz/zanzana/schema/schema.fga
  pkg/services/authz/zanzana/translations.go
  pkg/services/authz/zanzana/zanzana.go
Labels: area/backend, no-backport, no-changelog, area/authz

#91548 CloudMigration: Removes snapshot and resources when deleting a session
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Labels: area/backend, no-backport, no-changelog

#91742 Chore: Use golanglint-ci-includes script in Makefile
  .github/workflows/go_lint.yml
  Makefile
  scripts/go-workspace/golangci-lint-includes.sh
  scripts/go-workspace/golangci-lint.sh
Labels: type/build-packaging, no-changelog

#91726 Form: Fix key / value handling for radio / select form elements
  public/app/features/canvas/elements/form/elements/RadioList.tsx
  public/app/features/canvas/elements/form/elements/Select.tsx
Labels: area/frontend, no-changelog, hackathon-2024-08-vizards

#91746 Chore: Update tests to use go-workspace script
  .drone.yml
  Makefile
  scripts/drone/steps/lib.star
  scripts/go-workspace/test-includes.sh
Labels: type/build-packaging, type/ci, no-changelog

#91725 CloudMigrations: Misc cleanup before codefreeze
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
Labels: area/backend, no-changelog

#91747 Chore: Fix requires_buildifier typo
  .drone.yml
  scripts/drone/steps/lib.star
  scripts/drone/steps/lib_windows.star
Labels: type/ci, no-changelog

#91745 Identity: remove GetTypedID
  pkg/api/dashboard.go
  pkg/api/datasources.go
  pkg/api/folder.go
  pkg/api/index.go
  pkg/api/login.go
  pkg/api/org.go
  pkg/api/org_invite.go
  pkg/api/preferences.go
  pkg/api/render.go
  pkg/api/signup.go
  pkg/api/user.go
  pkg/api/user_token.go
  pkg/apimachinery/identity/error.go
  pkg/apimachinery/identity/requester.go
  pkg/apimachinery/identity/static.go
  pkg/apimachinery/identity/typed_id.go
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/auth/idimpl/service.go
  pkg/services/authn/clients/oauth.go
  pkg/services/authn/clients/oauth_test.go
  pkg/services/authn/identity.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/dashboardimport/service/service.go
  pkg/services/dashboardimport/service/service_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboardsnapshots/database/database.go
  pkg/services/dashboardsnapshots/service.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/guardian/accesscontrol_guardian.go
  pkg/services/libraryelements/database.go
  pkg/services/live/live.go
  pkg/services/live/runstream/manager_test.go
  pkg/services/navtree/navtreeimpl/navtree.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/pluginsintegration/clientmiddleware/user_header_middleware.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/permissions/dashboard_filter_no_subquery.go
  pkg/services/star/api/api.go
  pkg/services/team/teamapi/team.go
  pkg/services/user/identity.go
  pkg/util/proxyutil/proxyutil.go
Labels: area/backend, no-changelog

#91749 Docs: added pagination information for state timeline
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
Labels: type/docs, area/panel/timeseries, no-changelog

#91755 Canvas Form: Number input bug fix
  public/app/features/canvas/elements/form/elements/NumberInput.tsx
  public/app/features/canvas/elements/form/elements/NumberInputEditor.tsx
Labels: area/frontend, no-backport, no-changelog, hackathon-2024-08-vizards

#91195 Alerting: Support for optimistic concurrency in priovisioning Tempate API
  docs/sources/shared/alerts/alerting_provisioning.md
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/provisioning_templates.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/provisioning/errors.go
  pkg/services/ngalert/provisioning/templates.go
  pkg/services/ngalert/provisioning/templates_test.go
  pkg/services/provisioning/alerting/text_templates.go
  public/api-merged.json
  public/openapi3.json
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#90991 OpenTSDB: Fix data frame construction
  pkg/tsdb/opentsdb/opentsdb.go
  pkg/tsdb/opentsdb/opentsdb_test.go
  pkg/tsdb/opentsdb/types.go
Labels: type/bug, effort/small, datasource/OpenTSDB, area/backend, no-changelog, backport v11.0.x, backport v11.1.x

#91754 AzureMonitor: Add authproxy as supported user auth method
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.tsx
Labels: type/bug, area/frontend, datasource/Azure, no-changelog, backport v11.0.x, backport v11.1.x

#91729 Vizards: Add option to toggle legend
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/types.ts
Labels: area/frontend, no-backport, no-changelog, hackathon-2024-08-vizards

#91759 [v11.0.x] AzureMonitor: Add authproxy as supported user auth method
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.tsx
Labels: type/bug, area/frontend, datasource/Azure, backport, no-changelog

#91739 Auth: Use claims.AuthInfo in requester
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apimachinery/identity/context.go
  pkg/apimachinery/identity/requester.go
  pkg/apimachinery/identity/static.go
  pkg/apimachinery/identity/wrapper.go
  pkg/registry/apis/dashboard/authorizer.go
  pkg/registry/apis/dashboard/legacy/storage.go
  pkg/registry/apis/dashboardsnapshot/register.go
  pkg/services/apiserver/auth/authorizer/org_id.go
  pkg/services/apiserver/auth/authorizer/stack_id.go
  pkg/services/apiserver/endpoints/request/namespace.go
  pkg/services/apiserver/endpoints/request/namespace_test.go
  pkg/services/authn/identity.go
  pkg/services/authz/client.go
  pkg/services/user/identity.go
Labels: area/backend, no-backport, no-changelog

#91761 OpenTSDB: Fix test
  pkg/tsdb/opentsdb/opentsdb_test.go
Labels: datasource/OpenTSDB, area/backend, no-backport, no-changelog

#91124 Bump grafana-azure-sdk-go and related dependencies
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Labels: type/bug, area/backend, no-changelog, backport v11.0.x, backport v11.1.x

#90219 Docs: add Zoom to Reporting docs
  docs/sources/dashboards/create-reports/index.md
Labels: type/docs, no-changelog

#91767 Chore: Update names of DisabledPostStartHooks
  pkg/services/apiserver/options/aggregator.go
Labels: area/backend, no-changelog
