Repository grafana/grafana, pull requests merged in 2025-01, with the labels that each got.

#97953 Schema v2: Read API integration
  .betterer.results
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.gen.ts
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  public/app/features/apiserver/types.ts
  public/app/features/dashboard-scene/pages/DashboardScenePage.test.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePage.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModelSchemaV2.test.ts.snap
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
  public/app/features/dashboard-scene/serialization/transformToV2TypesUtils.ts
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
  public/app/features/dashboard/api/dashboard_api.test.ts
  public/app/features/dashboard/api/dashboard_api.ts
  public/app/features/dashboard/api/utils.test.ts
  public/app/features/dashboard/api/utils.ts
  public/app/features/dashboard/api/v2.test.ts
  public/app/features/dashboard/api/v2.ts
  public/app/features/dashboard/containers/DashboardPageProxy.tsx
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
Labels: area/frontend, no-changelog

#98439 Securevalues: add stricter audiences validation
  pkg/registry/apis/secret/reststorage/secure_value_rest.go
  pkg/registry/apis/secret/reststorage/secure_value_rest_test.go
Labels: area/backend, no-backport, no-changelog

#98395 K8s: Dashboards: Add search to dashboard service
  pkg/api/dashboard_test.go
  pkg/api/folder_bench_test.go
  pkg/apimachinery/utils/meta.go
  pkg/registry/apis/dashboard/legacy/storage.go
  pkg/registry/apis/dashboard/search.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/service/zanzana_integration_test.go
  pkg/services/dashboardsnapshots/service/service_test.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/testutil/testutil.go
  pkg/services/publicdashboards/api/query_test.go
  pkg/services/search/model/model.go
  pkg/services/sqlstore/searchstore/builder.go
  pkg/services/sqlstore/searchstore/search_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#98350 Chore: Use slices from standard library in promlib
  pkg/promlib/converter/prom.go
  pkg/promlib/go.mod
Labels: type/chore, area/backend, no-backport, no-changelog

#98271 Compute tracking info for V2
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.test.ts
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.ts
  public/app/features/dashboard/utils/tracking.ts
Labels: area/frontend, no-backport, no-changelog

#97973 grafana-ui: prevent TimeRangePicker from submitting wrapping forms
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.tsx
Labels: type/bug, area/frontend, no-changelog

#98417 K8s Dashboards: Fix Tags
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
Labels: area/backend, no-backport, no-changelog

#98340 Chore: Bump dependency golang.org/x/net to v0.33.0 - fix: CVE-2024-45338
  apps/alerting/notifications/go.mod
  apps/alerting/notifications/go.sum
  apps/investigation/go.mod
  apps/investigation/go.sum
  apps/playlist/go.mod
  apps/playlist/go.sum
  go.mod
  go.sum
  go.work.sum
  kindsv2/go.mod
  kindsv2/go.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: area/backend, pr/external, no-changelog

#98335 [search] set folder; case insensitive sort
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/search/testdata/doc/dashboard-aaa-out.json
  pkg/storage/unified/search/testdata/doc/playlist-aaa-out.json
  pkg/storage/unified/search/testdata/doc/report-aaa-out.json
  public/app/features/search/service/unified.ts
Labels: area/backend, area/frontend, no-changelog

#98445 AuthZ service: Add traces for authZ service and store
  pkg/services/authz/rbac/service.go
  pkg/services/authz/rbac/service_test.go
  pkg/services/authz/rbac/store/store.go
Labels: area/backend, no-backport, no-changelog

#98444 Schema v2 queries transformation: Respect panel defined data source
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Labels: area/frontend, no-backport, no-changelog

#98392 Folder/parent subresource
  pkg/api/folder.go
  pkg/registry/apis/folders/sub_parent_test.go
  pkg/registry/apis/folders/sub_parents.go
Labels: area/backend, no-changelog

#98446 Partner data sources smoke tests
  e2e/plugin-e2e/azuremonitor/azuremonitor.spec.ts
  e2e/plugin-e2e/cloudmonitoring/cloudmonitoring.spec.ts
  e2e/plugin-e2e/graphite/graphite.spec.ts
  e2e/plugin-e2e/influxdb/influxdb.spec.ts
  e2e/plugin-e2e/opentsdb/opentsdb.spec.ts
  playwright.config.ts
Labels: datasource/InfluxDB, datasource/Graphite, datasource/OpenTSDB, area/frontend, datasource/GoogleCloudMonitoring, datasource/Azure, no-backport, no-changelog

#98477 DashboardV2: Add support for revision and gnetId in schema and response transformers
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.gen.ts
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  public/app/features/apiserver/types.ts
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Labels: type/chore, area/frontend, area/dashboard/schemas, no-backport, area/schema, no-changelog

#97914 Crash detection: Track last user interaction to identify crashes happening after user interactions
  public/app/core/crash/index.ts
Labels: area/frontend, no-changelog

#98476 SecureValues: validate existence of `keeper` on creation/update
  pkg/storage/secret/secure_value_store.go
  pkg/tests/apis/secret/secure_value_test.go
  pkg/tests/apis/secret/testdata/keeper-gcp-my-keeper-1.yaml
Labels: area/backend, no-backport, no-changelog

#98472 K8s: Restores: Put behind a feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/registry/apis/dashboard/v0alpha1/register.go
  pkg/registry/apis/dashboard/v1alpha1/register.go
  pkg/registry/apis/dashboard/v2alpha1/register.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#98230 CloudWatch: Batch different time ranges separately
  pkg/tsdb/cloudwatch/models/cloudwatch_query.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query_test.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/time_series_query.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
  pkg/tsdb/cloudwatch/utils/metrics.go
  pkg/tsdb/cloudwatch/utils/metrics_test.go
Labels: datasource/CloudWatch, area/backend, add to changelog, no-backport

#98336 K8s: Dashboard spec should not have id
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/dashboard/v0alpha1/register.go
  pkg/registry/apis/dashboard/v0alpha1/register_test.go
  pkg/registry/apis/dashboard/v1alpha1/register.go
  pkg/registry/apis/dashboard/v1alpha1/register_test.go
  pkg/registry/apis/dashboard/v2alpha1/register.go
  pkg/registry/apis/dashboard/v2alpha1/register_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/storage/unified/apistore/prepare.go
Labels: area/backend, no-backport, no-changelog

#98456 Chore: Update prometheus ownership
  .github/CODEOWNERS
  .github/commands.json
  go.mod
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/chore, area/backend, no-backport, no-changelog

#98464 Chore: Use github app for dependabot go workspace workflow
  .github/workflows/pr-dependabot-update-go-workspace.yml
Labels: no-changelog

#97978 Prometheus datasource: Show info annotations in the UI
  pkg/promlib/converter/prom.go
  pkg/promlib/converter/prom_test.go
  pkg/promlib/converter/testdata/prom-infos-frame.jsonc
  pkg/promlib/converter/testdata/prom-infos-no-data-frame.jsonc
  pkg/promlib/converter/testdata/prom-infos-no-data.json
  pkg/promlib/converter/testdata/prom-infos.json
  public/app/features/query/components/QueryEditorRow.test.tsx
  public/app/features/query/components/QueryEditorRow.tsx
Labels: area/backend, area/frontend, add to changelog, add to what's new

#98488 Chore: Prevent forks from running go workspace update action
  .github/workflows/pr-dependabot-update-go-workspace.yml
Labels: no-changelog

#98489 Chore: Add id-token:write permission to go workspace action
  .github/workflows/pr-dependabot-update-go-workspace.yml
Labels: no-changelog

#98490 Chore: Switch to github actions bot in go workspace update action
  .github/workflows/pr-dependabot-update-go-workspace.yml
Labels: no-changelog

#98491 Chore: Tweak order of update-workspace script
  scripts/go-workspace/update-workspace.sh
Labels: no-changelog

#95612 CloudMigrations: Add support for migration of plugin resources
  go.mod
  go.sum
  pkg/services/cloudmigration/api/dtos.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  pkg/services/cloudmigration/model.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/app/features/migrate-to-cloud/MigrateToCloud.tsx
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/app/features/migrate-to-cloud/api/index.ts
  public/app/features/migrate-to-cloud/onprem/NameCell.tsx
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/ResourceDetailsModal.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.test.tsx
  public/app/features/migrate-to-cloud/onprem/ResourcesTable.tsx
  public/app/features/migrate-to-cloud/onprem/TypeCell.tsx
  public/app/features/migrate-to-cloud/onprem/types.ts
  public/app/features/migrate-to-cloud/onprem/useNotifyOnSuccess.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/openapi3.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#98471 Public Dashboards: Remove join from dashboards table
  pkg/services/publicdashboards/database/database.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/publicdashboards/public_dashboard_store_mock.go
  pkg/services/publicdashboards/publicdashboard.go
  pkg/services/publicdashboards/service/common_test.go
  pkg/services/publicdashboards/service/query_test.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
Labels: area/backend, no-backport, no-changelog

#98450 Docs: newPDFRendering and reportingUseRawTimeRange in GA
  docs/sources/dashboards/create-reports/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, no-changelog

#98521 Font: Disable contextual font ligatures
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
Labels: type/bug, area/frontend, add to changelog, no-backport

#98433 Alerting: Fix alert rule list view summaries
  public/app/features/alerting/unified/hooks/useCombinedRuleNamespaces.ts
Labels: area/alerting, area/frontend, add to changelog, pr/external

#98500 Dashboard tags: add dashboard_uid and org_id
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/sqlstore/migrations/dashboard_mig.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#98530 RBAC: Update team reader role name and UID in docs
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
Labels: type/docs, no-backport, no-changelog

#98507 K8s: Update from v0.31.3 to v0.32.0
  apps/alerting/notifications/go.mod
  apps/alerting/notifications/go.sum
  apps/investigation/go.mod
  apps/investigation/go.sum
  apps/playlist/go.mod
  apps/playlist/go.sum
  build.go
  go.mod
  go.sum
  go.work.sum
  hack/go.mod
  hack/go.sum
  hack/update-codegen.sh
  pkg/aggregator/generated/applyconfiguration/aggregation/v0alpha1/dataplaneservice.go
  pkg/aggregator/generated/applyconfiguration/aggregation/v0alpha1/dataplaneservicecondition.go
  pkg/aggregator/generated/applyconfiguration/aggregation/v0alpha1/dataplaneservicespec.go
  pkg/aggregator/generated/applyconfiguration/aggregation/v0alpha1/service.go
  pkg/aggregator/generated/applyconfiguration/internal/internal.go
  pkg/aggregator/generated/clientset/versioned/clientset.go
  pkg/aggregator/generated/clientset/versioned/typed/aggregation/v0alpha1/aggregation_client.go
  pkg/aggregator/generated/clientset/versioned/typed/aggregation/v0alpha1/dataplaneservice.go
  pkg/aggregator/generated/clientset/versioned/typed/aggregation/v0alpha1/fake/fake_aggregation_client.go
  pkg/aggregator/generated/clientset/versioned/typed/aggregation/v0alpha1/fake/fake_dataplaneservice.go
  pkg/aggregator/generated/informers/externalversions/aggregation/v0alpha1/dataplaneservice.go
  pkg/aggregator/generated/informers/externalversions/generic.go
  pkg/aggregator/generated/listers/aggregation/v0alpha1/dataplaneservice.go
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/api/folder_test.go
  pkg/apimachinery/apis/common/v0alpha1/zz_generated.openapi.go
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/apiserver/storage/testing/store_tests.go
  pkg/apiserver/storage/testing/utils.go
  pkg/apiserver/storage/testing/watcher_tests.go
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/generated/applyconfiguration/internal/internal.go
  pkg/generated/applyconfiguration/service/v0alpha1/externalname.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/typed/service/v0alpha1/externalname.go
  pkg/generated/clientset/versioned/typed/service/v0alpha1/fake/fake_externalname.go
  pkg/generated/clientset/versioned/typed/service/v0alpha1/fake/fake_service_client.go
  pkg/generated/clientset/versioned/typed/service/v0alpha1/service_client.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/service/v0alpha1/externalname.go
  pkg/generated/listers/service/v0alpha1/externalname.go
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/services/apiserver/aggregator/aggregator_test.go
  pkg/services/apiserver/aggregator/availableController.go
  pkg/services/apiserver/builder/helper.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/resource/go.mod
Labels: area/backend, no-backport, no-changelog

#98334 Alerting: Prom writer to handle err-mimir-max-series-per-user as user error
  pkg/services/ngalert/writer/prom.go
  pkg/services/ngalert/writer/prom_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#98316 Search: Explain scores
  pkg/apis/dashboard/v0alpha1/search.go
  pkg/apis/dashboard/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/dashboard/search.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/table.go
  pkg/storage/unified/search/bleve.go
Labels: area/search, area/backend, no-backport, no-changelog

#98348 Search: Add label query test
  pkg/storage/unified/search/bleve_test.go
Labels: area/backend, no-backport, no-changelog

#95707 Update index.md
  docs/sources/dashboards/dashboard-public/index.md
Labels: type/docs, stale, no-changelog, backport v11.2.x, backport v11.3.x

#98501 Orgs: Remove dependency on dashboard table for deletion
  pkg/api/http_server.go
  pkg/api/org.go
  pkg/api/org_test.go
  pkg/server/wire.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
  pkg/services/folder/folderimpl/sqlstore_test.go
  pkg/services/org/org.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgimpl/org_delete_svc.go
  pkg/services/org/orgimpl/store.go
  pkg/services/org/orgtest/fake.go
Labels: area/backend, no-backport, no-changelog

#98533 chore: Add dockerfile config to dependabot
  .github/dependabot.yml
Labels: no-changelog

#98549 Alerting: Add traceID to rule evalutor logger
  pkg/services/ngalert/schedule/alert_rule.go
Labels: type/bug, area/alerting, area/backend, no-backport, no-changelog

#98412 Unified Storage: Adds settings for ca cert path and skipping cert verification
  pkg/setting/setting.go
  pkg/setting/setting_unified_storage.go
Labels: area/backend, no-backport, no-changelog

#98547 Loki: don't send empty vector selector to /labels API
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
Labels: area/frontend, datasource/Loki, no-backport, no-changelog

#93502 Usage Insights: Fix usage insight errors being logged as [object Object]
  public/app/features/query/state/queryAnalytics.test.ts
  public/app/features/query/state/queryAnalytics.ts
Labels: type/bug, area/frontend, add to changelog

#98560 K8s: Dashboards: Fix search parsing
  pkg/registry/apis/dashboard/search.go
  pkg/services/dashboards/service/dashboard_service.go
Labels: area/backend, no-backport, no-changelog

#98565 K8s: Dashbaords: Ensure backwards compatibility
  pkg/api/dashboard.go
Labels: area/backend, no-backport, no-changelog

#98509 K8s/Typescript: Support generic status for ScopedResourceClient
  public/app/features/apiserver/client.ts
  public/app/features/apiserver/types.ts
  public/app/features/scopes/internal/api.ts
Labels: area/frontend, no-backport, no-changelog

#98443 Folders: Replace sql query with folder service call when collecting folder tree
  pkg/api/folder_bench_test.go
  pkg/server/wire.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/dualwrite/collectors.go
  pkg/services/accesscontrol/dualwrite/reconciler.go
  pkg/services/accesscontrol/ossaccesscontrol/testutil/testutil.go
  pkg/services/dashboards/service/zanzana_integration_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/serviceaccounts/extsvcaccounts/service_test.go
Labels: area/backend, no-backport, no-changelog

#98515 K8s/OpenAPI: Update the openapi operation ids
  pkg/services/apiserver/builder/helper.go
Labels: area/backend, no-backport, no-changelog

#95455 OAuth: Support client_secret_jwt for oauth providers when doing token exchange
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/configure-authentication/azuread/index.md
  go.mod
  pkg/login/social/connectors/azuread_oauth.go
  pkg/login/social/connectors/azuread_oauth_test.go
  pkg/login/social/connectors/common.go
  pkg/login/social/connectors/social_base.go
  pkg/login/social/social.go
  pkg/login/social/socialimpl/service_test.go
  pkg/services/ssosettings/strategies/oauth_strategy.go
  pkg/services/ssosettings/strategies/oauth_strategy_test.go
  public/app/features/auth-config/fields.tsx
  public/app/features/auth-config/types.ts
Labels: type/docs, area/backend, area/auth/oauth, area/frontend, add to changelog, pr/external

#98571 K8s: Fix the gitVersion response (required for kubectl)
  pkg/services/apiserver/builder/helper.go
  pkg/tests/apis/helper.go
  pkg/tests/apis/playlist/playlist_test.go
Labels: area/backend, no-backport, no-changelog

#98318 MultiCombobox: Use virtualized list
  packages/grafana-ui/src/components/Combobox/Combobox.story.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.tsx
  packages/grafana-ui/src/components/Combobox/MultiCombobox.internal.story.tsx
  packages/grafana-ui/src/components/Combobox/MultiCombobox.test.tsx
  packages/grafana-ui/src/components/Combobox/MultiCombobox.tsx
Labels: area/frontend, no-changelog

#98578 K8s/OpenAPI: remove unnecessary x-kubernetes-group-version-kind
  pkg/services/apiserver/builder/openapi.go
Labels: effort/none, area/backend, no-backport, no-changelog

#98587 Alerting: Attempt to improve flakiness of labels field tests
  public/app/features/alerting/unified/components/rule-editor/labels/LabelsField.test.tsx
Labels: area/frontend, no-changelog

#97884 Zanzana: Refactor fixed roles (use global store)
  pkg/services/accesscontrol/dualwrite/collectors.go
  pkg/services/accesscontrol/dualwrite/global_reconciler.go
  pkg/services/accesscontrol/dualwrite/reconciler.go
  pkg/services/authz/zanzana/common/tuple.go
  pkg/services/authz/zanzana/server/server.go
  pkg/services/authz/zanzana/server/server_check.go
  pkg/services/authz/zanzana/server/server_list.go
  pkg/services/authz/zanzana/server/server_read.go
  pkg/services/authz/zanzana/zanzana.go
Labels: area/backend, no-backport, no-changelog, area/authz

#98481 [v10.4.x] MSSQL: Bump `go-mssqldb` to v1.8.0
  go.mod
  go.sum
  go.work.sum
Labels: type/bug, area/backend, datasource/MSSQL, backport, no-changelog

#98579 Logs Panel: fix automatic scrolling for ascending order
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: area/frontend, no-backport, no-changelog

#98595 [v11.1.x] MSSQL: Bump `go-mssqldb` to v1.8.0
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Labels: type/bug, area/backend, datasource/MSSQL, backport, no-changelog

#98596 [v11.2.x] MSSQL: Bump `go-mssqldb` to v1.8.0
  go.mod
  go.sum
  go.work.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
Labels: type/bug, area/backend, datasource/MSSQL, backport, no-changelog

#98576 Time Picker: Fix "Fiscal year start month" selection behaviour
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.tsx
Labels: type/bug, area/frontend, add to changelog, no-backport

#98593 Combobox: Add description support
  packages/grafana-ui/src/components/Combobox/Combobox.story.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.tsx
  packages/grafana-ui/src/components/Combobox/MultiCombobox.tsx
  packages/grafana-ui/src/components/Combobox/getComboboxStyles.ts
Labels: area/frontend, area/grafana/ui, no-changelog

#98598 Auth: Update improvedExternalSessionHandling feature toggle status and info
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/auth, area/backend, no-changelog

#98201 Zanzana: Support sub resources
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/services/accesscontrol/dualwrite/collectors.go
  pkg/services/authz/zanzana/common/info.go
  pkg/services/authz/zanzana/common/tuple.go
  pkg/services/authz/zanzana/server/server_batch_check.go
  pkg/services/authz/zanzana/server/server_batch_check_test.go
  pkg/services/authz/zanzana/server/server_check.go
  pkg/services/authz/zanzana/server/server_check_test.go
  pkg/services/authz/zanzana/server/server_list.go
  pkg/services/authz/zanzana/server/server_list_test.go
  pkg/services/authz/zanzana/server/server_test.go
  pkg/services/authz/zanzana/translations.go
  pkg/services/authz/zanzana/zanzana.go
Labels: area/backend, no-changelog

#98618 Chore: remove betterer:json script
  .betterer.results.json
  .github/CODEOWNERS
  package.json
  scripts/cli/bettererResultsToJson.ts
Labels: area/frontend, no-changelog

#98525 Alerting: Allow notification policy filters to match quoted matchers
  public/app/features/alerting/unified/components/notification-policies/Filters.test.ts
  public/app/features/alerting/unified/components/notification-policies/Filters.tsx
  public/app/features/alerting/unified/utils/matchers.test.ts
  public/app/features/alerting/unified/utils/matchers.ts
Labels: type/bug, area/alerting, area/frontend, add to changelog

#98624 Secrets: rename keeper db struct
  pkg/storage/secret/keeper_model.go
  pkg/storage/secret/keeper_store.go
  pkg/storage/secret/secure_value_store.go
Labels: area/backend, no-backport, no-changelog

#98301 [DOC] Updates for profile doc restructure
  docs/sources/datasources/pyroscope/_index.md
  docs/sources/datasources/pyroscope/configure-traces-to-profiles.md
  docs/sources/datasources/pyroscope/query-profile-data.md
Labels: type/docs, no-changelog, backport v11.4.x

#98626 Actions: No need to echo triage labels
  .github/workflows/issue-opened.yml
Labels: no-backport, no-changelog

#98622 Chore: Update explore metrics project
  .github/commands.json
Labels: no-backport, no-changelog, area/exploremetrics

#98629 [v11.4.x] [DOC] Updates for profile doc restructure
  docs/sources/datasources/pyroscope/_index.md
  docs/sources/datasources/pyroscope/configure-traces-to-profiles.md
  docs/sources/datasources/pyroscope/query-profile-data.md
Labels: type/docs, backport, no-changelog

#98493 Dash-SchemaV2: Don't persist undefined fields
  packages/grafana-schema/src/schema/dashboard/v2alpha0/examples.ts
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModelSchemaV2.test.ts.snap
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
Labels: area/frontend, no-backport, no-changelog

#98631 Reporting: Change docs due to `newPDFRendering` default enablement
  docs/sources/dashboards/create-reports/index.md
  docs/sources/setup-grafana/configure-grafana/enterprise-configuration/index.md
Labels: type/docs, no-backport, no-changelog

#98634 Update index.md [2025 release dates added]
  docs/sources/upgrade-guide/when-to-upgrade/index.md
Labels: type/docs, no-changelog, backport v11.4.x

#98632 Chore: Update dependabot path for docker ecosystem
  .github/dependabot.yml
Labels: dependencies, type/ci, no-changelog

#98637 Stars: fix stars api so it returns uids
  pkg/services/star/api/api.go
Labels: area/backend, no-backport, no-changelog

#98646 Cloud migration: Refactor get by org ID to dashboard svc
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  pkg/services/cloudmigration/cloudmigrationimpl/store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
Labels: area/backend, no-backport, no-changelog

#98635 k8s dashboard - fix user parsing/fetching
  pkg/services/dashboards/service/dashboard_service.go
Labels: area/backend, no-changelog

#98647 Tests: Fix dashboard mock
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
Labels: area/backend, no-backport, no-changelog

#98645 POC/Provisioning: Use watch api in the frontend
  packages/grafana-runtime/src/services/backendSrv.ts
  public/app/core/utils/fetch.ts
  public/app/features/apiserver/client.ts
  public/app/features/apiserver/types.ts
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/api/endpoints.ts
Labels: area/frontend, no-backport, no-changelog

#98601 update for get-started-part-3
  docs/sources/tutorials/alerting-get-started-pt3/index.md
Labels: type/docs, no-backport, no-changelog

#98592 Folders: Include folder UID when loading dashboards for search v2
  pkg/services/searchV2/index.go
  pkg/services/searchV2/index_test.go
  pkg/services/searchV2/service.go
Labels: area/backend, no-backport, no-changelog

#98510 Dashboards: Panel react for `timeFrom` and `timeShift` changes using variables
  public/app/features/dashboard-scene/scene/PanelTimeRange.test.tsx
  public/app/features/dashboard-scene/scene/PanelTimeRange.tsx
Labels: type/bug, area/dashboard/timerange, area/frontend, add to changelog, backport v11.4.x

#98658 Chore: Fix auto-triager label files path in github action
  .github/workflows/issue-opened.yml
Labels: no-changelog

#97135 Dashboard Changed Modal: Fix spelling
  public/app/features/live/dashboard/DashboardChangedModal.tsx
Labels: area/frontend, no-backport, no-changelog

#98625 Icon: Expose wrench icon properly
  packages/grafana-data/src/types/icon.ts
Labels: type/chore, area/frontend, no-backport, no-changelog

#98617 Share: Add analytics to invite user flow
  public/app/features/dashboard-scene/sharing/ShareButton/ShareMenu.tsx
Labels: area/frontend, no-backport, no-changelog

#98653 Stats: remove dependency on dashboards and folders
  pkg/infra/usagestats/statscollector/concurrent_users_test.go
  pkg/services/stats/statsimpl/stats.go
  pkg/services/stats/statsimpl/stats_test.go
Labels: area/backend, no-backport, no-changelog

#98504 K8s: Dashboards: Add deletion validation for provisioned dashboards
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/dashboard/register_test.go
  pkg/registry/apis/dashboard/v0alpha1/register.go
  pkg/registry/apis/dashboard/v1alpha1/register.go
  pkg/registry/apis/dashboard/v2alpha1/register.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/tests/apis/dashboard/dashboards_test.go
Labels: area/backend, no-backport, no-changelog

#98248 POC/Provisioning: Pass contextual logger
  pkg/registry/apis/provisioning/auth/identity.go
  pkg/registry/apis/provisioning/export.go
  pkg/registry/apis/provisioning/files.go
  pkg/registry/apis/provisioning/history.go
  pkg/registry/apis/provisioning/jobs/pullrequest.go
  pkg/registry/apis/provisioning/jobs/queue.go
  pkg/registry/apis/provisioning/jobs/worker.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/repository/github.go
  pkg/registry/apis/provisioning/repository/github_test.go
  pkg/registry/apis/provisioning/repository/local.go
  pkg/registry/apis/provisioning/repository/local_test.go
  pkg/registry/apis/provisioning/repository/repository.go
  pkg/registry/apis/provisioning/repository/s3.go
  pkg/registry/apis/provisioning/repository/unknown.go
  pkg/registry/apis/provisioning/repository_controller.go
  pkg/registry/apis/provisioning/resources/fileformat.go
  pkg/registry/apis/provisioning/resources/fileformat_test.go
  pkg/registry/apis/provisioning/resources/parser.go
  pkg/registry/apis/provisioning/resources/replicator.go
  pkg/registry/apis/provisioning/sync.go
  pkg/registry/apis/provisioning/test.go
  pkg/registry/apis/provisioning/webhook.go
  pkg/slogctx/slogctx.go
Labels: area/backend, no-backport, no-changelog

#97802 E2E: Adding selectors to improve interactions with panel edit options
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/Portal/Portal.tsx
Labels: area/plugins, area/frontend, type/e2e, no-backport, no-changelog

#98676 test: align test with reality: we always want to push sync jobs on push
  pkg/registry/apis/provisioning/repository/github/testdata/webhook-push-nothing_relevant.json
  pkg/registry/apis/provisioning/repository/github_test.go
Labels: area/backend, no-backport, no-changelog

#98052 Alerting: Add tests for combination of switch modes in the alert rule form
  public/app/features/alerting/unified/RuleEditorGrafanaRecordingRules.test.tsx
  public/app/features/alerting/unified/RuleEditorGrafanaRules.test.tsx
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
  public/app/features/alerting/unified/__snapshots__/RuleEditorGrafanaRecordingRules.test.tsx.snap
  public/app/features/alerting/unified/__snapshots__/RuleEditorGrafanaRules.test.tsx.snap
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/SimplifiedRuleEditor.test.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/__snapshots__/SimplifiedRuleEditor.test.tsx.snap
  public/test/helpers/alertingRuleEditor.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#98669 POC/Provisioning: Update webhook test and constant
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/registry/apis/provisioning/jobs/queue.go
  pkg/registry/apis/provisioning/jobs/worker.go
  pkg/registry/apis/provisioning/repository/github/testdata/webhook-push-different_branch.json
  pkg/registry/apis/provisioning/repository/github_test.go
  pkg/registry/apis/provisioning/repository/local.go
  pkg/tests/apis/provisioning/provisioning_test.go
Labels: area/backend, no-backport, no-changelog

#98674 POC/Provisioning: Use PUT endpoints for updates
  pkg/services/apiserver/builder/helper.go
  pkg/tests/apis/provisioning/testdata/openapi.json
  public/app/features/provisioning/ConfigForm.tsx
  public/app/features/provisioning/api/endpoints.ts
  public/app/features/provisioning/hooks.ts
  scripts/generate-rtk-apis.ts
  scripts/parse-generated-api.ts
Labels: area/backend, area/frontend

#98627 Azure: Correct version statement for Managed Identity
  docs/sources/datasources/azure-monitor/_index.md
Labels: effort/small, type/docs, datasource/Azure, no-backport, no-changelog

#98692 Add the correct pattern for Cloud linking
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
Labels: type/docs, no-changelog, missing-labels, release/latest

#97471 Plugins: Capture error source from grpc status errors
  apps/alerting/notifications/go.mod
  apps/alerting/notifications/go.sum
  apps/investigation/go.mod
  apps/investigation/go.sum
  apps/playlist/go.mod
  apps/playlist/go.sum
  go.mod
  go.sum
  go.work.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/promlib/converter/testdata/prom-infos-frame.jsonc
  pkg/promlib/converter/testdata/prom-infos-no-data-frame.jsonc
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/semconv/go.mod
  pkg/semconv/go.sum
Labels: area/plugins, area/instrumentation, area/backend/plugins, area/backend, no-backport, no-changelog

#98655 Library Panel: Fix issue where library panels did not display panel links.
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.test.tsx
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.tsx
Labels: area/frontend, add to changelog, pr/external

#98687 Logs Panel: fix preview and scroll position interaction
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: area/frontend, no-backport, no-changelog

#98282 Alerting: Enable flag alertingApiServer by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tests/api/alerting/api_alertmanager_configuration_test.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/apis/alerting/notifications/receivers/receiver_test.go
  pkg/tests/apis/alerting/notifications/routingtree/routing_tree_test.go
  pkg/tests/apis/alerting/notifications/templategroup/templates_group_test.go
  pkg/tests/apis/alerting/notifications/timeinterval/timeinterval_test.go
  pkg/tests/testinfra/testinfra.go
Labels: type/docs, area/alerting, area/backend, add to changelog, no-backport, add to what's new

#98192 SQL/Blob: Add support for blob storage to SQL backend
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/blob.go
  pkg/storage/unified/sql/data/resource_blob_insert.sql
  pkg/storage/unified/sql/data/resource_blob_query.sql
  pkg/storage/unified/sql/db/migrations/resource_mig.go
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/test/integration_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_blob_insert-basic.sql
  pkg/storage/unified/sql/testdata/mysql--resource_blob_query-basic.sql
  pkg/storage/unified/sql/testdata/mysql--resource_blob_query-resource.sql
  pkg/storage/unified/sql/testdata/postgres--resource_blob_insert-basic.sql
  pkg/storage/unified/sql/testdata/postgres--resource_blob_query-basic.sql
  pkg/storage/unified/sql/testdata/postgres--resource_blob_query-resource.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_blob_insert-basic.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_blob_query-basic.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_blob_query-resource.sql
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#98706 K8s: Stats: Update requester
  pkg/services/stats/statsimpl/stats.go
Labels: area/backend, no-backport, no-changelog

#98707 Explore metrics: Utf8 support in Explore metrics with OTel experience enabled
  devenv/docker/blocks/prometheus_utf8/main.go
  public/app/features/trails/ActionTabs/MetricOverviewScene.tsx
  public/app/features/trails/Breakdown/LabelBreakdownScene.tsx
  public/app/features/trails/otel/api.ts
  public/app/features/trails/otel/util.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#98695 Dashboards API: v0 k8s dashboards saving
  public/app/core/utils/shortLinks.ts
  public/app/features/dashboard-scene/inspect/PanelInspectDrawer.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/sharing/ShareLinkTab.tsx
  public/app/features/dashboard-scene/sharing/SharePanelEmbedTab.tsx
  public/app/features/dashboard-scene/utils/getDashboardUrl.test.ts
  public/app/features/dashboard-scene/utils/getDashboardUrl.ts
  public/app/features/dashboard-scene/utils/urlBuilders.ts
  public/app/features/dashboard/api/v0.test.ts
  public/app/features/dashboard/api/v0.ts
Labels: area/frontend, no-backport, no-changelog

#98588 CloudMigrations: Introduce RBAC role for migration assistant
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  pkg/api/api.go
  pkg/services/cloudmigration/accesscontrol.go
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/api/api_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/slicesext/slicesext.go
  pkg/services/cloudmigration/slicesext/slicesext_test.go
  pkg/services/navtree/navtreeimpl/admin.go
  public/app/routes/routes.tsx
  public/app/types/accessControl.ts
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#98668 TableNG: fix multi sorting
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
Labels: area/panel/table, area/frontend, no-backport, no-changelog, area/dataviz

#98716 POC/Provisioning: Generate sensible repository name
  public/app/features/provisioning/hooks.ts
Labels: area/frontend, no-backport, no-changelog

#98665 Remove access to folders directly from library elements service
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements_permissions_test.go
  pkg/services/librarypanels/librarypanels_test.go
Labels: area/backend, no-changelog

#98696 Zanzana: Fix reconciliation of fixed roles
  pkg/services/accesscontrol/dualwrite/collectors.go
  pkg/services/accesscontrol/dualwrite/global_reconciler.go
  pkg/services/accesscontrol/dualwrite/reconciler.go
  pkg/services/authz/zanzana/zanzana.go
Labels: type/bug, area/backend, no-changelog

#98573 Dashboards: SchemaV2 - Fix default datasource logic
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
  public/app/features/dashboard/api/v0.test.ts
  public/app/features/dashboard/api/v2.test.ts
Labels: type/bug, area/frontend, area/schema, no-changelog

#98600 Alerting: Use common i18n phrases for cancel and save
  .betterer.results
  public/app/features/alerting/unified/components/contact-points/components/Modals.tsx
  public/app/features/alerting/unified/components/export/FileExportPreview.tsx
  public/app/features/alerting/unified/components/receivers/AlertInstanceModalSelector.tsx
  public/app/features/alerting/unified/components/receivers/GlobalConfigForm.tsx
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/ModifyExportRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/labels/LabelsField.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/settings/AlertmanagerConfig.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
Labels: area/frontend, no-changelog

#98603 Alerting: Add self closing comp rule to alerting eslint config
  eslint.config.js
  public/app/features/alerting/unified/components/permissions/ManagePermissions.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/components/receivers/form/GenerateAlertDataModal.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/KeyValueMapInput.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/AlertManagerRouting.tsx
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationPreviewByAlertManager.tsx
  public/app/features/alerting/unified/components/rules/Filter/RulesFilter.v2.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTable.tsx
  public/app/features/alerting/unified/components/silences/SilencedAlertsTableRow.tsx
  public/app/features/alerting/unified/rule-list/GroupedView.tsx
Labels: area/frontend, no-changelog

#97198 Azure: Improve Azure Prometheus exemplars UI/UX
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/traces_test.go
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/usePreparedQuery.ts
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.tsx
Labels: effort/small, area/backend, area/frontend, datasource/Azure, add to changelog, no-backport

#98661 Scenes: Upgrade to 5.36.3
  package.json
  yarn.lock
Labels: type/bug, area/frontend, add to changelog, area/scenes, missing-labels, backport v11.4.x

#97672 Docs: Add documentation for auto-triage github action
  .github/bot.md
Labels: type/docs, stale, no-changelog

#98718 Dashboards: Fix issue where filtered panels would not react to variable changes
  public/app/features/dashboard-scene/scene/PanelSearchLayout.tsx
  public/app/features/dashboard-scene/utils/utils.ts
Labels: type/bug, area/frontend, add to changelog

#98727 Provisioning: Add resource types
  pkg/apis/provisioning/v0alpha1/classic.go
  pkg/apis/provisioning/v0alpha1/doc.go
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/apis/provisioning/v0alpha1/register.go
  pkg/apis/provisioning/v0alpha1/types.go
  pkg/apis/provisioning/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/provisioning/v0alpha1/zz_generated.defaults.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/generated/applyconfiguration/provisioning/v0alpha1/editingoptions.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/githubrepositoryconfig.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/healthstatus.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/localrepositoryconfig.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/repository.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/repositoryspec.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/repositorystatus.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/s3repositoryconfig.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/syncstatus.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/webhookstatus.go
  pkg/generated/applyconfiguration/utils.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/doc.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/fake/fake_provisioning_client.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/fake/fake_repository.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/provisioning_client.go
  pkg/generated/clientset/versioned/typed/provisioning/v0alpha1/repository.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/provisioning/interface.go
  pkg/generated/informers/externalversions/provisioning/v0alpha1/interface.go
  pkg/generated/informers/externalversions/provisioning/v0alpha1/repository.go
  pkg/generated/listers/provisioning/v0alpha1/expansion_generated.go
  pkg/generated/listers/provisioning/v0alpha1/repository.go
Labels: area/backend, no-backport, no-changelog

#98678 LBAC for datasources: Extend docs to direct to our terraform provider for provisioning of lbac rules
  docs/sources/administration/data-source-management/teamlbac/_index.md
Labels: type/docs, no-changelog

#98730 Loki: Only hide a set of labels instead of every label starting with `__`
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
Labels: type/bug, area/frontend, datasource/Loki, add to changelog, no-backport

#98734 [v11.4.x] Dashboards: Fix issue where filtered panels would not react to variable changes
  public/app/features/dashboard-scene/scene/PanelSearchLayout.tsx
  public/app/features/dashboard-scene/utils/utils.ts
Labels: type/bug, area/frontend, add to changelog, backport

#98745 Plugins: Enable userStorageAPI feature flag by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, no-changelog

#98728 Docs: Add G12 release date to upgrade guide
  docs/sources/upgrade-guide/when-to-upgrade/index.md
Labels: type/docs, no-changelog, backport v11.4.x

#98227 Auth: disable passwordless auth if any SAML/OAuth is enabled
  pkg/api/frontendsettings.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/registration.go
Labels: area/auth, area/backend, no-changelog

#98747 [v11.4.x] Dashboards: Fixes issue with panel header showing even when hide time override was enabled
  pkg/build/wire/go.sum
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.tsx
  public/app/features/dashboard-scene/panel-edit/getPanelFrameOptions.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
Labels: type/bug, area/frontend, add to changelog, backport

#98729 Remove permissions call which would get folders again
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements_permissions_test.go
Labels: area/backend, no-changelog

#96925 chore(deps): remove obsolete prometheus replace directive
  apps/alerting/notifications/go.mod
  apps/alerting/notifications/go.sum
  go.mod
  go.sum
  go.work.sum
  pkg/build/go.mod
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/services/ngalert/metrics/multi_org_alertmanager.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: area/backend, no-changelog

#98289 Alerting: Update state manager to take image only once per rule evaluation
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/testing.go
Labels: area/alerting, area/backend, add to changelog, no-backport, area/alerting/screenshots

#98590 ContactPoints: Remove blank lines prefixes in contact point types
  pkg/services/ngalert/api/tooling/definitions/provisioning_contactpoints.go
Labels: area/backend, no-changelog, missing-labels, backport v10.1.x, backport v10.2.x, backport v10.3.x, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x, backport v11.4.x

#98721 docs(TraceView): Add documentation for span filters as panel options
  docs/sources/panels-visualizations/visualizations/traces/index.md
Labels: type/docs, no-changelog, area/panel/traceview

#98651 [search] - filter by starred
  pkg/registry/apis/dashboard/search.go
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/document_test.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_mappings.go
  pkg/storage/unified/search/bleve_mappings_test.go
  pkg/storage/unified/search/bleve_test.go
  pkg/storage/unified/search/testdata/doc/dashboard-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-bbb-out.json
  pkg/storage/unified/search/testdata/doc/playlist-aaa-out.json
  pkg/storage/unified/search/testdata/doc/report-aaa-out.json
  pkg/storage/unified/search/testdata/manual-dashboard.json
  pkg/storage/unified/search/testdata/manual-folder.json
  public/app/features/search/service/types.ts
  public/app/features/search/service/unified.ts
Labels: area/backend, area/frontend, no-changelog

#98772 Docs: Add 11.4 to supported versions table
  docs/sources/upgrade-guide/when-to-upgrade/index.md
Labels: type/docs, no-changelog, internal, backport v11.4.x

#98769 Dashboards: move validation to service
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
Labels: area/backend, no-backport, no-changelog

#98756 Dashboards: use service for quotas
  pkg/api/dashboard_test.go
  pkg/api/folder_bench_test.go
  pkg/services/accesscontrol/ossaccesscontrol/testutil/testutil.go
  pkg/services/annotations/annotationsimpl/annotations_test.go
  pkg/services/annotations/testutil/testutil.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_provisioning_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/service/zanzana_integration_test.go
  pkg/services/dashboardsnapshots/service/service_test.go
  pkg/services/folder/folderimpl/dashboard_folder_store_test.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/testutil/testutil.go
  pkg/services/publicdashboards/api/query_test.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/publicdashboards/service/query_test.go
  pkg/services/publicdashboards/service/service_test.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/services/searchV2/index_test.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/sqlstore/permissions/dashboards_bench_test.go
  pkg/storage/unified/federated/stats_test.go
Labels: area/backend, no-backport, no-changelog

#98733 [v11.3.x] Dashboards: Fix issue where filtered panels would not react to variable changes
  public/app/features/dashboard-scene/scene/PanelSearchLayout.tsx
  public/app/features/dashboard-scene/utils/utils.ts
Labels: type/bug, area/frontend, add to changelog, backport

#98567 InfluxDB: Adhoc filters can use template vars as values
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, add to changelog, backport v11.3.x, backport v11.4.x

#98784 E2E: Updated selectors from 11.4 to target 11.5
  packages/grafana-e2e-selectors/src/selectors/components.ts
Labels: area/frontend, type/e2e, no-backport, no-changelog

#98569 Alerting: Improve k8s error type
  public/app/features/alerting/unified/utils/k8s/errors.ts
  public/app/features/alerting/unified/utils/misc.ts
Labels: area/alerting, area/frontend, no-changelog

#98731 Keepers: Validate referenced SecureValues exist
  pkg/registry/apis/secret/contracts/keeper.go
  pkg/registry/apis/secret/reststorage/keeper_rest.go
  pkg/storage/secret/keeper_model.go
  pkg/storage/secret/keeper_store.go
  pkg/tests/apis/secret/keeper_test.go
Labels: area/backend, no-backport, no-changelog

#98719 UserDisplay: Handle both service accounts and user names when resolving "createdBy"
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/folder.go
  pkg/api/folder_test.go
Labels: type/bug, area/backend, no-changelog

#98782 Announcement banner: Remove feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, area/frontend, add to changelog

#98616 Zanana: Add custom verb for get_permissions and set_permissions.
  pkg/apimachinery/utils/verbs.go
  pkg/services/accesscontrol/authorizer.go
  pkg/services/authz/mappers/rbac_mapper.go
  pkg/services/authz/zanzana/common/tuple.go
  pkg/services/authz/zanzana/schema/schema_core.fga
  pkg/services/authz/zanzana/schema/schema_folder.fga
  pkg/services/authz/zanzana/schema/schema_resource.fga
Labels: area/backend, no-changelog

#98789 Chore: Lift pluginsFrontendSandbox feature toggle to the next stage
  docs/sources/administration/plugin-management/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, no-backport, no-changelog

#98686 CloudMigrations: Enable feature toggle by default in 11.5
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/apis/featuretoggle/v0alpha1/types.go
  pkg/apis/featuretoggle/v0alpha1/zz_generated.openapi.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/featuremgmt/toggles_gen_test.go
Labels: type/docs, area/backend, add to changelog

#98792 Chore: refactor integration tests with helpers and use only generated specs
  pkg/registry/apis/secret/reststorage/secure_value_rest_test.go
  pkg/tests/apis/secret/keeper_test.go
  pkg/tests/apis/secret/main_test.go
  pkg/tests/apis/secret/secure_value_test.go
  pkg/tests/apis/secret/testdata/keeper-aws-generate.yaml
  pkg/tests/apis/secret/testdata/keeper-azure-xyz.yaml
  pkg/tests/apis/secret/testdata/keeper-gcp-my-keeper-1.yaml
Labels: area/backend, no-backport, no-changelog

#98798 Auth: Fallback to default client authentication setting in AzureAD OAuth
  pkg/login/social/connectors/azuread_oauth.go
  public/app/features/auth-config/FieldRenderer.tsx
  public/app/features/auth-config/utils/data.ts
Labels: type/bug, area/auth, area/backend, area/auth/oauth, area/frontend, no-changelog

#93956 RuntimeDataSource: Support in core for runtime registered data sources
  packages/grafana-runtime/src/services/RuntimeDataSource.ts
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  packages/grafana-runtime/src/services/index.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/dashboard/containers/DashboardPage.test.tsx
  public/app/features/explore/hooks/useExplorePageTitle.test.tsx
  public/app/features/explore/hooks/useStateSync/index.test.tsx
  public/app/features/explore/spec/helper/setup.tsx
  public/app/features/plugins/datasource_srv.ts
  public/app/features/plugins/tests/datasource_srv.test.ts
  public/app/features/variables/state/initVariableTransaction.test.ts
  public/app/plugins/datasource/cloudwatch/__mocks__/logsTestContext.ts
  public/app/plugins/datasource/loki/configuration/DerivedField.test.tsx
  public/app/plugins/datasource/mixed/MixedDataSource.test.ts
Labels: area/dashboard/templating, datasource/CloudWatch, area/explore, area/frontend, datasource/Loki, add to changelog, no-backport, area/scenes

#98441 Datasources: Add toggle to control default behaviour of 'Manage alerts via Alerts UI' toggle
  conf/defaults.ini
  conf/sample.ini
  docs/sources/datasources/prometheus/configure-prometheus-data-source.md
  docs/sources/setup-grafana/configure-grafana/_index.md
  packages/grafana-prometheus/src/configuration/AlertingSettingsOverhaul.test.tsx
  packages/grafana-prometheus/src/configuration/AlertingSettingsOverhaul.tsx
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  pkg/setting/setting.go
Labels: type/docs, area/alerting, area/backend, area/frontend, add to changelog, no-backport

#98715 Alerting docs: fix template example link
  docs/sources/alerting/alerting-rules/_index.md
  docs/sources/alerting/alerting-rules/templates/_index.md
  docs/sources/alerting/alerting-rules/templates/reference.md
  docs/sources/alerting/configure-notifications/create-silence.md
  docs/sources/alerting/configure-notifications/template-notifications/manage-notification-templates.md
  docs/sources/alerting/monitor-status/view-alert-state.md
Labels: type/docs, area/alerting, backport, no-changelog, backport v11.3.x, backport v11.4.x

#98808 Alerting: Use AlertRuleKey for comparison before rule evaluation
  pkg/services/ngalert/schedule/alert_rule.go
Labels: type/bug, area/backend, no-changelog, backport v11.4.x

#98774 Annotations: Fix usage of dashboard table for permissions
  pkg/services/annotations/accesscontrol/accesscontrol.go
  pkg/services/annotations/accesscontrol/accesscontrol_test.go
  pkg/services/annotations/accesscontrol/models.go
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/annotations_test.go
  pkg/services/publicdashboards/service/common_test.go
Labels: area/backend, no-backport, no-changelog
