Repository grafana/grafana, pull requests merged in 2025-04, with the labels that each got.

#103111 Provisioning: Add translations
  .betterer.results
  public/app/core/components/NestedFolderPicker/FolderRepo.tsx
  public/app/features/browse-dashboards/components/NewProvisionedFolderForm.tsx
  public/app/features/dashboard-scene/saving/provisioned/SaveProvisionedDashboardForm.tsx
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Config/ConfigFormGithubCollapse.tsx
  public/app/features/provisioning/File/FileHistoryPage.tsx
  public/app/features/provisioning/File/FileStatusPage.tsx
  public/app/features/provisioning/File/FilesView.tsx
  public/app/features/provisioning/GettingStarted/EnhancedFeatures.tsx
  public/app/features/provisioning/GettingStarted/FeaturesList.tsx
  public/app/features/provisioning/GettingStarted/GettingStarted.tsx
  public/app/features/provisioning/GettingStarted/GettingStartedPage.tsx
  public/app/features/provisioning/GettingStarted/SetupModal.tsx
  public/app/features/provisioning/GettingStarted/SidebarItem.tsx
  public/app/features/provisioning/HomePage.tsx
  public/app/features/provisioning/Job/JobStatus.tsx
  public/app/features/provisioning/Job/RecentJobs.tsx
  public/app/features/provisioning/Repository/CheckRepository.tsx
  public/app/features/provisioning/Repository/DeleteRepositoryButton.tsx
  public/app/features/provisioning/Repository/EditRepositoryPage.tsx
  public/app/features/provisioning/Repository/RepositoryActions.tsx
  public/app/features/provisioning/Repository/RepositoryCard.tsx
  public/app/features/provisioning/Repository/RepositoryHealth.tsx
  public/app/features/provisioning/Repository/RepositoryOverview.tsx
  public/app/features/provisioning/Repository/RepositoryResources.tsx
  public/app/features/provisioning/Repository/RepositoryStatusPage.tsx
  public/app/features/provisioning/Repository/SyncRepository.tsx
  public/app/features/provisioning/Shared/BranchValidationError.tsx
  public/app/features/provisioning/Shared/ConnectRepositoryButton.tsx
  public/app/features/provisioning/Shared/FolderRepositoryList.tsx
  public/app/features/provisioning/Shared/TokenPermissionsInfo.tsx
  public/app/features/provisioning/Wizard/BootstrapStep.tsx
  public/app/features/provisioning/Wizard/ConnectStep.tsx
  public/app/features/provisioning/Wizard/FinishStep.tsx
  public/app/features/provisioning/Wizard/JobStep.tsx
  public/app/features/provisioning/Wizard/MigrateStep.tsx
  public/app/features/provisioning/Wizard/ProvisioningWizard.tsx
  public/app/features/provisioning/Wizard/PullStep.tsx
  public/app/features/provisioning/Wizard/RequestErrorAlert.tsx
  public/app/features/provisioning/Wizard/Stepper.tsx
  public/app/features/provisioning/Wizard/WizardContent.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103063 Extensions: Expose new observable APIs for accessing components and links
  packages/grafana-runtime/src/internal/index.ts
  packages/grafana-runtime/src/services/pluginExtensions/getObservablePluginComponents.ts
  packages/grafana-runtime/src/services/pluginExtensions/getObservablePluginLinks.ts
  packages/grafana-runtime/src/unstable.ts
  public/app/app.ts
  public/app/features/plugins/extensions/getPluginExtensions.test.tsx
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/types.ts
Labels: area/plugins, area/frontend, add to changelog, no-backport, area/plugin-extensions

#103041 DashboardSchemaV2: Fix crash in response transformer
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Labels: area/frontend, no-changelog

#103040 DashboardScene: Tweak row design
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
Labels: area/frontend, no-changelog

#99012 Alerting: Enhance Ruler and Prometheus group synchronization
  .betterer.results
  packages/grafana-data/src/types/icon.ts
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/api/alertRuleModel.ts
  public/app/features/alerting/unified/api/prometheusApi.ts
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-viewer/AlertRuleMenu.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.test.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/ReorderRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/RuleActionsButtons.tsx
  public/app/features/alerting/unified/components/rules/RuleListGroupView.test.tsx
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/alerting/unified/group-details/GroupEditPage.tsx
  public/app/features/alerting/unified/group-details/validation.ts
  public/app/features/alerting/unified/hooks/useCombinedRule.ts
  public/app/features/alerting/unified/hooks/useHasRuler.ts
  public/app/features/alerting/unified/hooks/usePrometheusConsistencyCheck.ts
  public/app/features/alerting/unified/mockApi.ts
  public/app/features/alerting/unified/mocks.ts
  public/app/features/alerting/unified/mocks/grafanaRulerApi.ts
  public/app/features/alerting/unified/mocks/server/configure.ts
  public/app/features/alerting/unified/mocks/server/db.ts
  public/app/features/alerting/unified/mocks/server/handlers/grafanaRuler.ts
  public/app/features/alerting/unified/plugins/useRulePluginLinkExtensions.ts
  public/app/features/alerting/unified/rule-list/DataSourceGroupLoader.test.tsx
  public/app/features/alerting/unified/rule-list/DataSourceGroupLoader.tsx
  public/app/features/alerting/unified/rule-list/DataSourceRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/DataSourceRuleLoader.tsx
  public/app/features/alerting/unified/rule-list/FilterView.test.tsx
  public/app/features/alerting/unified/rule-list/FilterView.tsx
  public/app/features/alerting/unified/rule-list/GrafanaGroupLoader.test.tsx
  public/app/features/alerting/unified/rule-list/GrafanaGroupLoader.tsx
  public/app/features/alerting/unified/rule-list/GrafanaRuleLoader.tsx
  public/app/features/alerting/unified/rule-list/PaginatedDataSourceLoader.tsx
  public/app/features/alerting/unified/rule-list/PaginatedGrafanaLoader.tsx
  public/app/features/alerting/unified/rule-list/RuleList.v2.test.tsx
  public/app/features/alerting/unified/rule-list/RuleList.v2.tsx
  public/app/features/alerting/unified/rule-list/components/AlertRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/components/AlertRuleListItemLoader.tsx
  public/app/features/alerting/unified/rule-list/components/GroupStatus.tsx
  public/app/features/alerting/unified/rule-list/components/ListGroup.tsx
  public/app/features/alerting/unified/rule-list/components/ListItem.tsx
  public/app/features/alerting/unified/rule-list/components/RuleActionsButtons.V2.tsx
  public/app/features/alerting/unified/rule-list/components/RuleGroupActionsMenu.tsx
  public/app/features/alerting/unified/rule-list/components/RuleListIcon.tsx
  public/app/features/alerting/unified/rule-list/hooks/prometheusGroupsGenerator.ts
  public/app/features/alerting/unified/rule-list/hooks/useFilteredRulesIterator.ts
  public/app/features/alerting/unified/rule-list/ruleMatching.test.ts
  public/app/features/alerting/unified/rule-list/ruleMatching.ts
  public/app/features/alerting/unified/utils/datasource.ts
  public/app/features/alerting/unified/utils/groupIdentifier.ts
  public/app/features/alerting/unified/utils/misc.ts
  public/app/features/alerting/unified/utils/navigation.ts
  public/app/features/alerting/unified/utils/rule-id.ts
  public/app/features/alerting/unified/utils/rules.ts
  public/locales/en-US/grafana.json
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#103106 CloudWatch: Migrate to aws-sdk-go-v2
  go.mod
  go.sum
  go.work.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/tsdb/cloudwatch/annotation_query.go
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/client_factory.go
  pkg/tsdb/cloudwatch/clients/metrics.go
  pkg/tsdb/cloudwatch/clients/metrics_test.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/cloudwatch_integration_test.go
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards_test.go
  pkg/tsdb/cloudwatch/get_metric_data_executor.go
  pkg/tsdb/cloudwatch/get_metric_data_executor_test.go
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/log_query_test.go
  pkg/tsdb/cloudwatch/log_sync_query.go
  pkg/tsdb/cloudwatch/log_sync_query_test.go
  pkg/tsdb/cloudwatch/metric_data_input_builder.go
  pkg/tsdb/cloudwatch/metric_data_input_builder_test.go
  pkg/tsdb/cloudwatch/metric_data_query_builder.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/metric_find_query.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/mocks/cloudwatch_metric_api.go
  pkg/tsdb/cloudwatch/mocks/logs.go
  pkg/tsdb/cloudwatch/mocks/metrics_client.go
  pkg/tsdb/cloudwatch/mocks/oam_client.go
  pkg/tsdb/cloudwatch/mocks/regions.go
  pkg/tsdb/cloudwatch/models/api.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query.go
  pkg/tsdb/cloudwatch/models/cloudwatch_query_test.go
  pkg/tsdb/cloudwatch/models/logs_query.go
  pkg/tsdb/cloudwatch/models/query_row_response.go
  pkg/tsdb/cloudwatch/models/resources/log_groups_resource_request.go
  pkg/tsdb/cloudwatch/models/resources/types.go
  pkg/tsdb/cloudwatch/response_parser.go
  pkg/tsdb/cloudwatch/response_parser_test.go
  pkg/tsdb/cloudwatch/routes/log_group_fields.go
  pkg/tsdb/cloudwatch/routes/log_group_fields_test.go
  pkg/tsdb/cloudwatch/routes/log_groups.go
  pkg/tsdb/cloudwatch/routes/log_groups_test.go
  pkg/tsdb/cloudwatch/services/accounts.go
  pkg/tsdb/cloudwatch/services/accounts_test.go
  pkg/tsdb/cloudwatch/services/list_metrics.go
  pkg/tsdb/cloudwatch/services/list_metrics_test.go
  pkg/tsdb/cloudwatch/services/log_groups.go
  pkg/tsdb/cloudwatch/services/log_groups_test.go
  pkg/tsdb/cloudwatch/services/regions.go
  pkg/tsdb/cloudwatch/services/regions_test.go
  pkg/tsdb/cloudwatch/sort_frame_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Labels: datasource/CloudWatch, area/backend, add to changelog, effort/medium

#103066 Dashboard: Fixes layout selector
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/DashboardLayoutSelector.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
Labels: area/frontend, no-changelog

#103090 Provisioning: Manage repo jobs as single sub-resource
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/provisioning/controller/repository.go
  pkg/registry/apis/provisioning/export.go
  pkg/registry/apis/provisioning/jobs.go
  pkg/registry/apis/provisioning/jobs/history.go
  pkg/registry/apis/provisioning/jobs/persistentstore.go
  pkg/registry/apis/provisioning/migrate.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/sync.go
  pkg/registry/apis/provisioning/webhook.go
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  pkg/tests/apis/provisioning/helper_test.go
  pkg/tests/apis/provisioning/provisioning_test.go
  public/app/api/clients/provisioning/endpoints.gen.ts
  public/app/api/clients/provisioning/index.ts
  public/app/features/preferences/api/user/endpoints.gen.ts
  public/app/features/provisioning/Job/JobStatus.tsx
  public/app/features/provisioning/Job/RecentJobs.tsx
  public/app/features/provisioning/Repository/SyncRepository.tsx
  public/app/features/provisioning/Wizard/JobStep.tsx
  public/app/features/provisioning/Wizard/MigrateStep.tsx
  public/app/features/provisioning/Wizard/PullStep.tsx
  public/app/features/provisioning/hooks/useRepositoryAllJobs.ts
  public/app/features/provisioning/hooks/useRepositoryHistoricalJobs.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#103172 Remove unused HACK for testing new configuration
  pkg/registry/apis/provisioning/test.go
Labels: area/backend, no-backport, no-changelog

#103165 Provisioning: Remove unnecessary flags from tests and instructinos
  pkg/tests/apis/provisioning/helper_test.go
  public/app/features/provisioning/GettingStarted/GettingStarted.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog

#103085 Docs: SCIM configuration options
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/_index.md
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/manage-users-teams/_index.md
Labels: type/docs, no-backport, no-changelog

#103157 SQL Expressions: Add JSON support
  pkg/expr/sql/db_test.go
  pkg/expr/sql/frame_db_conv.go
  pkg/expr/sql/frame_table.go
  pkg/expr/sql/parser_allow.go
  pkg/expr/sql/parser_allow_test.go
Labels: area/backend, no-changelog, area/expressions/sql

#102944 NestedFolderList: Folder Expand & Inf Loader Causing Duplicates
  public/app/core/components/NestedFolderPicker/useFoldersQuery.ts
Labels: area/frontend, no-changelog

#103173 TraceView: Add scope attributes to span details
  pkg/tsdb/tempo/trace_transform.go
  pkg/tsdb/tempo/trace_transform_test.go
Labels: area/backend, add to changelog, datasource/Tempo, no-backport, area/panel/traceview

#103146 Dashboards: Support view panel mode in search layout
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
Labels: area/frontend, no-changelog

#103176 Chore: Enable Grafana version check when installing plugins
  pkg/cmd/grafana-cli/commands/install_command.go
Labels: area/backend, add to changelog, breaking change

#103166 GrafanaRoute: Recover from errors
  public/app/core/navigation/GrafanaRoute.tsx
Labels: area/frontend, no-changelog

#102209 Chore: Enable external core plugins feature toggle by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, area/frontend, no-changelog, type/feature-toggle-enable

#103153 Docs: Update comments in data link options shared files
  docs/sources/shared/visualizations/datalink-options-1.md
  docs/sources/shared/visualizations/datalink-options-2.md
  docs/sources/shared/visualizations/datalink-options-3.md
  docs/sources/shared/visualizations/datalink-options.md
Labels: type/docs, no-changelog, backport v11.6.x

#103190 Provisioning: Clear dashboard editor state
  public/app/features/dashboard-scene/saving/provisioned/SaveProvisionedDashboardForm.tsx
Labels: area/frontend, no-changelog

#103168 PanelChrome: Click inside also selects panel
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Labels: area/frontend, no-changelog

#102938 alerting docs: alert rule recovery documentation
  docs/sources/alerting/alerting-rules/create-grafana-managed-rule.md
Labels: type/docs, no-changelog

#102937 Grafana UI: Hide CollapsableSection children instead of unmounting based on `unmountContentWhenClosed` prop
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
Labels: area/frontend, no-backport, no-changelog

#103169 Dashboard: Fixes open panel edit button
  public/app/features/dashboard-scene/edit-pane/VizPanelEditableElement.tsx
Labels: area/frontend, no-changelog

#103174 Tracing: Add `Insecure` to `NewOTLPTracingConfig`
  pkg/infra/tracing/tracing_config.go
Labels: area/backend, no-backport, no-changelog

#103087 SQL Expressions: Mount front-end component right first time
  public/app/features/expressions/components/SqlExpr.test.tsx
  public/app/features/expressions/components/SqlExpr.tsx
Labels: area/frontend, no-changelog, area/expressions/sql

#102222 Unistore: Add generation column
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/data/resource_history_insert.sql
  pkg/storage/unified/sql/data/resource_history_prune.sql
  pkg/storage/unified/sql/db/migrations/resource_mig.go
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/mysql--resource_history_prune-collapse-generations.sql
  pkg/storage/unified/sql/testdata/mysql--resource_history_prune-max-versions.sql
  pkg/storage/unified/sql/testdata/mysql--resource_history_prune-simple.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_prune-collapse-generations.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_prune-max-versions.sql
  pkg/storage/unified/sql/testdata/postgres--resource_history_prune-simple.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_insert-insert into resource_history.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_prune-collapse-generations.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_prune-max-versions.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_history_prune-simple.sql
  pkg/tests/api/dashboards/api_dashboards_test.go
Labels: area/backend, area/backend/db/migration, no-backport, no-changelog

#103219 [release-11.2.9] Docs: Update comments in tooltip-options shared files
  docs/sources/shared/visualizations/tooltip-options-1.md
  docs/sources/shared/visualizations/tooltip-options-2.md
  docs/sources/shared/visualizations/tooltip-options-3.md
Labels: type/docs, backport, no-changelog

#103221 [release-11.4.4] Docs: Update comments in tooltip-options shared files
  docs/sources/shared/visualizations/tooltip-options-1.md
  docs/sources/shared/visualizations/tooltip-options-2.md
  docs/sources/shared/visualizations/tooltip-options-3.md
Labels: type/docs, backport, no-changelog

#103222 [release-11.5.4] Docs: Update comments in tooltip-options shared files
  docs/sources/shared/visualizations/tooltip-options-1.md
  docs/sources/shared/visualizations/tooltip-options-2.md
  docs/sources/shared/visualizations/tooltip-options-3.md
Labels: type/docs, backport, no-changelog

#103217 [release-11.6.1] Docs: Update comments in data link options shared files
  docs/sources/shared/visualizations/datalink-options-1.md
  docs/sources/shared/visualizations/datalink-options-2.md
  docs/sources/shared/visualizations/datalink-options-3.md
  docs/sources/shared/visualizations/datalink-options.md
Labels: type/docs, backport, no-changelog

#103223 [release-11.6.1] Docs: Update comments in tooltip-options shared files
  docs/sources/shared/visualizations/tooltip-options-1.md
  docs/sources/shared/visualizations/tooltip-options-2.md
  docs/sources/shared/visualizations/tooltip-options-3.md
Labels: type/docs, backport, no-changelog

#103211 Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x, backport v11.4.x, backport v11.5.x, backport v11.6.x

#103215 TableNG: Fix sorting
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
Labels: area/panel/table, area/frontend, no-backport, no-changelog

#103227 [release-11.0.12] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103228 [release-11.1.14] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103229 [release-11.2.9] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103230 [release-11.3.6] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103024 Docs: experimental themes
  docs/sources/administration/organization-preferences/index.md
  docs/sources/administration/user-management/user-preferences/index.md
Labels: type/docs, no-backport, no-changelog

#103231 [release-11.4.4] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103232 [release-11.5.4] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103234 [release-11.6.1] Docs: dashboard list visualization refactor
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Labels: type/docs, backport, no-changelog

#103072 K8s: Folders: Modify GetChildren to return only Folder References
  go.mod
  go.sum
  pkg/api/folder.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_unifiedstorage.go
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/folder/folderimpl/sqlstore_test.go
  pkg/services/folder/folderimpl/unifiedstore.go
  pkg/services/folder/folderimpl/unifiedstore_test.go
  pkg/services/folder/foldertest/foldertest.go
  pkg/services/folder/model.go
  pkg/services/folder/service.go
  pkg/services/folder/store.go
  pkg/services/folder/store_fake.go
  pkg/services/ngalert/accesscontrol/rules_test.go
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_ruler_test.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/ngalert_test.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/store/namespace.go
  pkg/services/ngalert/tests/fakes/rules.go
Labels: area/backend, no-backport, no-changelog

#103180 Provisioning: webhook last event timestamp
  pkg/apis/provisioning/v0alpha1/types.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/generated/applyconfiguration/provisioning/v0alpha1/webhookstatus.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/types.go
  pkg/registry/apis/provisioning/webhook.go
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  public/app/api/clients/provisioning/endpoints.gen.ts
  public/app/features/provisioning/Repository/RepositoryOverview.tsx
  public/locales/en-US/grafana.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#103170 Provisioning: Snapshot original dashboard
  pkg/registry/apis/provisioning/jobs/pullrequest/preview.go
Labels: area/backend, no-backport, no-changelog

#103177 [release-10.4.18] Auth: Fix SAML user IsExternallySynced not being set correctly (#98487)
  pkg/api/admin_users.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/api/org_users.go
  pkg/api/password.go
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/api/utils.go
  pkg/services/authn/authntest/fake.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfo_test.go
Labels: area/auth, area/backend, add to changelog, backport, area/auth/saml

#103181 Dashboard: Canvas add buttons to custom grid
  public/app/features/dashboard-scene/edit-pane/EditPaneHeader.tsx
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-default/findSpaceForNewPanel.ts
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutRenderer.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/CanvasGridAddActions.tsx
Labels: area/frontend, no-changelog

#103208 Provisioning: Enable search when provisioning is enabled
  pkg/storage/unified/search/options.go
  pkg/tests/apis/provisioning/helper_test.go
  public/app/features/provisioning/GettingStarted/features.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog

#103247 Provisioning: Support migrate to local
  go.mod
  go.sum
  pkg/registry/apis/provisioning/files.go
  pkg/registry/apis/provisioning/jobs/driver.go
  pkg/registry/apis/provisioning/jobs/migrate/resources.go
  pkg/registry/apis/provisioning/jobs/migrate/worker.go
  pkg/registry/apis/provisioning/repository/local.go
  pkg/registry/apis/provisioning/repository/local_test.go
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/parser.go
Labels: area/backend, no-backport, no-changelog

#103203 Internationalisation: More automatic markup
  .betterer.results
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  e2e/dashboards-suite/new-query-variable.spec.ts
  e2e/old-arch/dashboards-suite/new-query-variable.spec.ts
  public/app/features/dashboard-scene/addToDashboard/AddToDashboardForm.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardAddPane.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/inspect/HelpWizard/HelpWizard.tsx
  public/app/features/dashboard-scene/inspect/InspectDataTab.tsx
  public/app/features/dashboard-scene/inspect/InspectJsonTab.tsx
  public/app/features/dashboard-scene/inspect/PanelInspectDrawer.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/EmptyTransformationsMessage.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/NewAlertRuleButton.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/TransformationsDrawer.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditControls.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  public/app/features/dashboard-scene/panel-edit/PanelVizTypePicker.tsx
  public/app/features/dashboard-scene/panel-edit/SaveLibraryVizPanelModal.tsx
  public/app/features/dashboard-scene/saving/DashboardPrompt.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardAsForm.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardForm.tsx
  public/app/features/dashboard-scene/saving/SaveProvisionedDashboardForm.tsx
  public/app/features/dashboard-scene/saving/shared.tsx
  public/app/features/dashboard-scene/scene/PanelLinks.tsx
  public/app/features/dashboard-scene/scene/UnlinkModal.tsx
  public/app/features/dashboard-scene/settings/DeleteDashboardButton.tsx
  public/app/features/dashboard-scene/settings/JsonModelEditView.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsEdit.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsList.tsx
  public/app/features/dashboard-scene/settings/links/DashboardLinkForm.tsx
  public/app/features/dashboard-scene/settings/links/DashboardLinkList.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditorForm.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditorList.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditorListRow.tsx
  public/app/features/dashboard-scene/settings/variables/components/AdHocVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/ConstantVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/CustomVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/DataSourceVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/GroupByVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/IntervalVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/QueryEditor.tsx
  public/app/features/dashboard-scene/settings/variables/components/QueryVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/SelectionOptionsForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/TextBoxVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/VariableHideSelect.tsx
  public/app/features/dashboard-scene/settings/variables/components/VariableValuesPreview.tsx
  public/app/features/dashboard-scene/settings/version-history/RevertDashboardModal.tsx
  public/app/features/dashboard-scene/settings/version-history/VersionHistoryButtons.tsx
  public/app/features/dashboard-scene/settings/version-history/VersionHistoryComparison.tsx
  public/app/features/dashboard-scene/settings/version-history/VersionHistoryHeader.tsx
  public/app/features/dashboard-scene/settings/version-history/VersionHistoryTable.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/ShareButton.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/EmailShare/ConfigEmailSharing/EmailListConfiguration.tsx
  public/app/features/dashboard-scene/variables/VariableUsagesButton.tsx
  public/locales/en-US/grafana.json
Labels: type/docs, type/chore, area/frontend, area/internationalization, no-backport, no-changelog

#103249 CloudWatch: Import new grafana-aws-sdk with PDC fix
  go.mod
  go.sum
Labels: area/backend, add to changelog

#103200 Advisor: Define error if a datasource doesn't have its plugin installed
  apps/advisor/pkg/app/checks/datasourcecheck/check.go
  apps/advisor/pkg/app/checks/datasourcecheck/check_test.go
Labels: area/backend, no-changelog

#103256 Dependencies: Fix invalid version for pkg/apis/folder
  apps/alerting/notifications/go.mod
  apps/alerting/notifications/go.sum
  go.mod
  go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: area/backend, no-backport, no-changelog

#103261 Chore: Fix Go Workspace Check workflow and run make update-workspace
  .github/workflows/pr-go-workspace-check.yml
  go.work.sum
  pkg/apis/folder/go.mod
  pkg/apis/folder/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Labels: no-backport, no-changelog

#102793 Chore: Adding CVE-2024-8986 to .trivyignore
  .trivyignore
Labels: no-changelog, backport v10.4.x, backport v11.1.x

#103258 CloudMigrations: Refactor and unify resource naming/icon resolution
  public/app/features/migrate-to-cloud/onprem/NameCell.tsx
  public/app/features/migrate-to-cloud/onprem/resourceInfo.ts
  public/app/features/migrate-to-cloud/onprem/useNotifyOnSuccess.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-backport, no-changelog

#103262 Provisioning: Fix push to PR branch
  pkg/registry/apis/provisioning/jobs/pullrequest/preview.go
  pkg/registry/apis/provisioning/jobs/pullrequest/worker.go
Labels: area/backend, no-backport, no-changelog

#103263 Provisioning: Show badge for all manager kinds
  public/app/core/components/NestedFolderPicker/FolderRepo.tsx
  public/app/features/dashboard-scene/scene/ManagedDashboardNavBarBadge.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
Labels: area/frontend, no-changelog

#103182 Return correct disabled status when looking up a user
  pkg/api/user.go
  pkg/api/user_test.go
Labels: type/bug, area/backend, no-backport, no-changelog

#103271 Plugin Extensions: Move observable extension apis from the unstable entrypoint
  packages/grafana-runtime/src/services/index.ts
  packages/grafana-runtime/src/unstable.ts
Labels: area/plugins, area/frontend, no-backport, no-changelog, area/plugin-extensions

#103191 Panel JSON inspect for schema v2
  .betterer.results
  public/app/features/dashboard-scene/inspect/InspectJsonTab.test.tsx
  public/app/features/dashboard-scene/inspect/InspectJsonTab.tsx
Labels: area/frontend, no-backport, no-changelog

#103238 SQL Expressions: Permit range conditions (between) in queries
  pkg/expr/sql/parser_allow.go
  pkg/expr/sql/parser_allow_test.go
Labels: area/backend, no-changelog, area/expressions/sql

#103269 Chore: Promote pluginsDetailsRightPanel to general availability
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/backend, area/frontend, no-changelog, type/feature-toggle-enable

#103237 Dynamic dashboards: Copy paste rows tabs and auto grid items
  public/app/core/constants.ts
  public/app/features/dashboard-scene/edit-pane/DashboardAddPane.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/CanvasGridAddActions.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/paste.ts
  public/app/features/dashboard-scene/scene/layouts-shared/useClipboardState.ts
  public/app/features/dashboard-scene/scene/types/DashboardLayoutManager.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/DefaultGridLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/ResponsiveGridLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/TabsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/layoutSerializerRegistry.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103257 Search: Avoid panic with missing title
  pkg/services/dashboards/service/search/search.go
  pkg/storage/unified/search/bleve.go
Labels: area/backend, no-backport, no-changelog

#103259 Secrets: Use AES-GCM in OSS
  conf/defaults.ini
  conf/sample.ini
  pkg/registry/apis/secret/encryption/cipher/cipher.go
  pkg/registry/apis/secret/encryption/cipher/cipher_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/aes256.go
  pkg/registry/apis/secret/encryption/cipher/provider/aes256_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/cipher_aescfb.go
  pkg/registry/apis/secret/encryption/cipher/provider/cipher_aescfb_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/cipher_aesgcm.go
  pkg/registry/apis/secret/encryption/cipher/provider/cipher_aesgcm_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/decipher_aes.go
  pkg/registry/apis/secret/encryption/cipher/provider/decipher_aes_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/decipher_aescfb.go
  pkg/registry/apis/secret/encryption/cipher/provider/decipher_aescfb_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/errors.go
  pkg/registry/apis/secret/encryption/cipher/provider/provider.go
  pkg/registry/apis/secret/encryption/cipher/provider/provider_test.go
  pkg/registry/apis/secret/encryption/cipher/provider/test_fixtures/aescfb_encrypt_correct_output.rb
  pkg/registry/apis/secret/encryption/cipher/provider/test_fixtures/aesgcm_encrypt_correct_output.rb
  pkg/registry/apis/secret/encryption/cipher/service/service_test.go
  pkg/registry/apis/secret/encryption/manager/manager_test.go
  pkg/registry/apis/secret/encryption/manager/test_helpers.go
  pkg/registry/apis/secret/secretkeeper/secretkeeper_test.go
  pkg/registry/apis/secret/secretkeeper/sqlkeeper/keeper_test.go
  pkg/setting/setting_secrets_manager.go
  pkg/storage/secret/metadata/decrypt_store_test.go
  pkg/storage/secret/metadata/secret_mgmt_test.go
Labels: area/backend, no-backport, no-changelog

#103000 Zanzana/enable TLS for client side gRPC
  pkg/services/authz/zanzana.go
  pkg/setting/settings_zanzana.go
Labels: no-backport, no-changelog

#103254 DashboardScene: Add library panel via canvas add panel action
  public/app/features/dashboard-scene/edit-pane/VizPanelEditableElement.tsx
  public/app/features/dashboard-scene/scene/AddLibraryPanelDrawer.tsx
  public/app/features/dashboard-scene/scene/UnconfiguredPanel.tsx
  public/app/features/dashboard-scene/scene/layout-default/DashboardGridItem.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItem.tsx
  public/app/features/dashboard-scene/scene/types/DashboardLayoutItem.ts
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103216 Dynamic Dashboards: Add drag and drop for tabs and rows
  packages/grafana-ui/src/components/ElementSelectionContext/ElementSelectionContext.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/index.ts
  packages/grafana-ui/src/utils/index.ts
  packages/grafana-ui/src/utils/usePointerDistance.ts
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/scene/DashboardLayoutOrchestrator.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/utils/utils.ts
Labels: area/dashboard, area/frontend, no-backport, no-changelog, team/grafana-dashboards

#103268 Update codeowners for locale files
  .github/CODEOWNERS
Labels: type/chore, no-changelog

#99055 Azure Monitor: Add logs query builder
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-schema/src/raw/composable/azuremonitor/dataquery/x/AzureMonitorDataQuery_types.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tsdb/azuremonitor/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/utils.go
  pkg/tsdb/azuremonitor/types/types.go
  public/app/plugins/datasource/azuremonitor/azure_log_analytics/azure_log_analytics_datasource.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/AggregateItem.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/AggregationSection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/AzureMonitorKustoQueryBuilder.test.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/AzureMonitorKustoQueryBuilder.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/FilterItem.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/FilterSection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/FuzzySearch.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/GroupByItem.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/GroupBySection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/KQLPreview.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/LimitSection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/LogsQueryBuilder.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/OrderBySection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/TableSection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/expressions.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/utils.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryEditor/LogsQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryEditor/LogsQueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryEditor/TimeManagement.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryHeader.tsx
  public/app/plugins/datasource/azuremonitor/components/VariableEditor/VariableEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/VariableEditor/VariableEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/shared/FormatAsField.tsx
  public/app/plugins/datasource/azuremonitor/dataquery.cue
  public/app/plugins/datasource/azuremonitor/dataquery.gen.ts
  public/app/plugins/datasource/azuremonitor/e2e/selectors.ts
  public/app/plugins/datasource/azuremonitor/types/types.ts
Labels: type/docs, area/backend, area/frontend, datasource/Azure, add to changelog, no-backport

#103100 Schema V2: Use App SDK generated types
  packages/grafana-schema/src/schema/dashboard/v2_examples.ts
  public/app/core/components/Select/DashboardPicker.test.tsx
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRendering.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingData.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingGroup.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingInterval.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingVariable.tsx
  public/app/features/dashboard-scene/conditional-rendering/serializers.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/saving/DetectChangesWorker.ts
  public/app/features/dashboard-scene/saving/getDashboardChanges.ts
  public/app/features/dashboard-scene/saving/shared.tsx
  public/app/features/dashboard-scene/saving/useSaveDashboard.ts
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/paste.ts
  public/app/features/dashboard-scene/scene/types/DashboardLayoutManager.ts
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.test.ts
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.ts
  public/app/features/dashboard-scene/serialization/buildNewDashboardSaveModel.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/DefaultGridLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/ResponsiveGridLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.test.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/TabsLayoutSerializer.test.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/TabsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/layoutSerializerRegistry.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.ts
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
  public/app/features/dashboard-scene/serialization/transformToV1TypesUtils.ts
  public/app/features/dashboard-scene/serialization/transformToV2TypesUtils.test.ts
  public/app/features/dashboard-scene/serialization/transformToV2TypesUtils.ts
  public/app/features/dashboard-scene/v2schema/test-helpers.ts
  public/app/features/dashboard-scene/v2schema/transformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
  public/app/features/dashboard/api/UnifiedDashboardAPI.test.ts
  public/app/features/dashboard/api/UnifiedDashboardAPI.ts
  public/app/features/dashboard/api/dashboard_api.ts
  public/app/features/dashboard/api/utils.ts
  public/app/features/dashboard/api/v2.test.ts
  public/app/features/dashboard/api/v2.ts
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
  public/app/features/dashboard/utils/tracking.ts
  public/app/features/manage-dashboards/utils/validation.test.ts
Labels: area/frontend, no-backport, no-changelog

#103273 docs: Add missing RBAC Action Definition Contact Point Receiver Test
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
Labels: type/docs, pr/external, no-changelog

#103277 Chore: Update yarn.lock deps
  package.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#102183 Docs: Grafana SCIM provisioning overview
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/_index.md
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/configure-scim-with-azuread/_index.md
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/configure-scim-with-okta/_index.md
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/manage-users-teams/_index.md
Labels: type/docs, no-backport, no-changelog

#102760 NodeGraph: Add node graph algorithm layout option
  packages/grafana-schema/src/raw/composable/nodegraph/panelcfg/x/NodeGraphPanelCfg_types.gen.ts
  public/app/features/explore/NodeGraph/NodeGraphContainer.test.tsx
  public/app/features/explore/NodeGraph/NodeGraphContainer.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.tsx
  public/app/plugins/panel/nodeGraph/NodeGraphPanel.tsx
  public/app/plugins/panel/nodeGraph/ViewControls.tsx
  public/app/plugins/panel/nodeGraph/layout.ts
  public/app/plugins/panel/nodeGraph/module.tsx
  public/app/plugins/panel/nodeGraph/panelcfg.cue
  public/app/plugins/panel/nodeGraph/panelcfg.gen.ts
Labels: area/explore, area/frontend, add to changelog, area/panel/node-graph, no-backport

#103032 Influx: Support PDC for Influx SQL
  pkg/tsdb/influxdb/fsql/client.go
  pkg/tsdb/influxdb/fsql/fsql.go
  pkg/tsdb/influxdb/fsql/fsql_test.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/models/datasource_info.go
Labels: effort/small, datasource/InfluxDB, area/backend, add to changelog, no-backport

#103288 Alerting: Permanent delete rules code review
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/components/rules/deleted-rules/ConfirmDeletePermanantlyModal.tsx
  public/app/features/alerting/unified/components/rules/deleted-rules/DeletedRules.test.tsx
  public/app/features/alerting/unified/components/rules/deleted-rules/DeletedRules.tsx
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/browse-dashboards/components/RecentlyDeletedActions.tsx
  public/locales/en-US/grafana.json
Labels: area/backend, area/frontend

#103296 LogsPanel: Speed up labels processing by 50x
  .betterer.results
  public/app/features/logs/logsFrame.ts
Labels: type/performance, area/frontend, area/panel/logs, no-backport, kind/enhancement, no-changelog

#103301 Dynamic Dashboards: Replace add pane with add dropdown
  public/app/features/dashboard-scene/edit-pane/DashboardAddPane.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/scene/new-toolbar/actions/DashboardAddButton.tsx
  public/locales/en-US/grafana.json
Labels: area/dashboard, area/frontend, no-backport, no-changelog, team/grafana-dashboards

#103112 Dynamic Dashboard: Redesign conditional rendering [2]
  apps/dashboard/kinds/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec_gen.go
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi.go
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi_violation_exceptions.list
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  packages/grafana-schema/src/schema/dashboard/v2alpha0/types.gen.ts
  packages/grafana-schema/src/schema/dashboard/v2alpha1/types.spec.gen.ts
  packages/grafana-ui/src/themes/GlobalStyles/dashboardGrid.ts
  public/app/features/dashboard-scene/conditional-rendering/ConditionHeader.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRendering.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingBase.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingData.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingEditor.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingGroup.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingGroupAdd.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingGroupCondition.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingGroupVisibility.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingInterval.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingOverlay.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingTimeRangeSize.tsx
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingVariable.tsx
  public/app/features/dashboard-scene/conditional-rendering/serializers.ts
  public/app/features/dashboard-scene/conditional-rendering/shared.ts
  public/app/features/dashboard-scene/conditional-rendering/types.ts
  public/app/features/dashboard-scene/conditional-rendering/useIsConditionallyHidden.tsx
  public/app/features/dashboard-scene/conditional-rendering/utils.ts
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/edit-pane/shared.ts
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.tsx
  public/app/features/dashboard-scene/serialization/layoutSerializers/TabsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.ts
  public/app/features/dashboard-scene/utils/utils.ts
  public/locales/en-US/grafana.json
Labels: area/dashboard, area/backend, area/frontend, no-backport, no-changelog, team/grafana-dashboards

#103246 Provisioning: Always show list page
  public/app/features/provisioning/HomePage.tsx
  public/app/features/provisioning/Shared/FolderRepositoryList.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103069 K8s: Remove new context from client
  pkg/services/apiserver/client/client.go
Labels: area/backend, no-changelog

#98829 Alerting: Sequential evaluation of rules in group
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/schedule/alert_rule.go
  pkg/services/ngalert/schedule/alert_rule_test.go
  pkg/services/ngalert/schedule/recording_rule.go
  pkg/services/ngalert/schedule/recording_rule_test.go
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/sequence.go
  pkg/services/ngalert/schedule/sequence_test.go
Labels: area/alerting, area/backend, area/frontend, add to changelog

#103307 AWS: Add flag for multitenant temp credentials
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#103303 Table: Footer field selection fix
  public/app/plugins/panel/table/module.tsx
  public/app/plugins/panel/table/table-new/module.tsx
Labels: type/bug, area/panel/table, area/frontend, no-backport, no-changelog

#103321 Add prom flavor support for data source variables and export/import dashboards
  packages/grafana-data/src/utils/matchPluginId.ts
  public/app/features/dashboard/components/DashExportModal/DashboardExporter.ts
  public/app/features/plugins/datasource_srv.ts
Labels: area/frontend

#103328 Provisioning: Write finished job to history before delete
  pkg/registry/apis/provisioning/jobs/driver.go
  pkg/registry/apis/provisioning/jobs/persistentstore.go
  pkg/registry/apis/provisioning/register.go
Labels: area/backend, no-backport, no-changelog

#103305 search: add manager kind to bleve
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/testdata/manual-dashboard.json
  pkg/storage/unified/search/testdata/manual-folder.json
Labels: area/backend, no-backport, no-changelog

#103204 Dashboard Restore: Remove experimental functionality under feature flag `dashboardRestore` for now - this will be reworked
  docs/sources/developers/http_api/dashboard.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/api.go
  pkg/api/dashboard.go
  pkg/cmd/grafana-cli/commands/datamigrations/to_unified_storage.go
  pkg/registry/apis/dashboard/legacy/migrate.go
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/dashboard/register.go
  pkg/services/cleanup/cleanup.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles-gitlog.csv
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/folderimpl/folder_unifiedstorage_test.go
  pkg/services/navtree/navtreeimpl/navtree.go
  pkg/services/searchV2/index_test.go
  public/api-merged.json
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/BrowseActions/BrowseActions.tsx
  public/app/features/browse-dashboards/components/BrowseActions/DeleteModal.tsx
  public/app/features/dashboard-scene/saving/shared.tsx
  public/app/features/dashboard-scene/settings/DeleteDashboardButton.tsx
  public/app/features/dashboard/components/DeleteDashboard/DeleteDashboardModal.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardErrorProxy.tsx
  public/app/routes/routes.tsx
  public/openapi3.json
Labels: type/docs, area/backend, area/frontend, add to changelog, no-backport

#103283 DashboardOutline: Sync row collapse state with outline node collapse state
  public/app/features/dashboard-scene/edit-pane/DashboardOutline.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/types/EditableDashboardElement.ts
Labels: area/frontend, no-changelog

#103250 CloudMigrations: Add Cypress happy path test case scenarios
  e2e/various-suite/migrate-to-cloud.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  pkg/services/cloudmigration/gmsclient/inmemory_client.go
  public/app/features/migrate-to-cloud/onprem/EmptyState/CallToAction/CallToAction.tsx
  public/app/features/migrate-to-cloud/onprem/EmptyState/CallToAction/ConnectModal.tsx
  public/app/features/migrate-to-cloud/onprem/MigrationSummary.tsx
  public/app/features/migrate-to-cloud/onprem/SnapshotCTAs.tsx
  scripts/grafana-server/custom.ini
Labels: area/backend, area/frontend, type/ci, no-backport, no-changelog

#103270 Dashboard: Scroll to panel for custom grid
  packages/grafana-ui/src/components/Button/ButtonGroup.tsx
  public/app/features/dashboard-scene/edit-pane/VizPanelEditableElement.tsx
  public/app/features/dashboard-scene/scene/layout-default/DashboardGridItem.tsx
  public/app/features/dashboard-scene/scene/layout-default/DashboardGridItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/scrollCanvasElementIntoView.ts
Labels: area/frontend, no-changelog

#103286 Alerting: Fix state transition from Recovering back to Alerting
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#103330 Dynamic dashboards: Deduplicate titles of new rows and tabs
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/utils.test.ts
  public/app/features/dashboard-scene/scene/layouts-shared/utils.ts
Labels: area/frontend, no-changelog

#101392 Codeql: enable PR check
  .github/CODEOWNERS
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-codeql-analysis-go.yml
Labels: no-changelog

#103337 OpionsPane: Minor padding fix
  public/app/features/dashboard/components/PanelEditor/OptionsPaneCategoryDescriptor.tsx
Labels: area/frontend, no-changelog

#103334 K8s: Revert change around full path
  pkg/registry/apis/folders/legacy_storage.go
Labels: area/backend, no-backport, no-changelog

#102626 Sidebar: Create a sidebar that can render an extension
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/icon.ts
  packages/grafana-ui/src/themes/GlobalStyles/GlobalStyles.tsx
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/AppWrapper.tsx
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/ExtensionSidebar/ExtensionSidebar.tsx
  public/app/core/components/AppChrome/ExtensionSidebar/ExtensionSidebarProvider.test.tsx
  public/app/core/components/AppChrome/ExtensionSidebar/ExtensionSidebarProvider.tsx
  public/app/core/components/AppChrome/ExtensionSidebar/ExtensionToolbarItem.test.tsx
  public/app/core/components/AppChrome/ExtensionSidebar/ExtensionToolbarItem.tsx
  public/app/core/components/AppChrome/ExtensionSidebar/GlobalStylesWrapper.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/app/core/context/GrafanaContext.ts
  public/app/features/auth-config/ProviderConfigForm.test.tsx
  public/app/features/plugins/extensions/utils.test.tsx
  public/app/features/plugins/extensions/utils.tsx
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog

#103338 Dashboard: Hide canvas actions in old grid if dashboardNewLayouts is disabled
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
Labels: area/frontend, no-changelog

#103341 Alerting: Fix days of month description and validation
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeInterval.test.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeInterval.tsx
Labels: type/bug, area/alerting, area/frontend, no-backport, no-changelog

#103160 TableNG [Bug Bash]: Add onCellFilterAdded buttons back
  packages/grafana-ui/src/components/Table/TableNG/Cells/TableCellNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/types.ts
Labels: area/frontend, no-changelog

#102960 Alerting: Delete permanently deleted alert rules.
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/components/rules/deleted-rules/ConfirmDeletePermanantlyModal.tsx
  public/app/features/alerting/unified/components/rules/deleted-rules/DeletedRules.test.tsx
  public/app/features/alerting/unified/components/rules/deleted-rules/DeletedRules.tsx
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/alerting/unified/hooks/__snapshots__/useAbilities.test.tsx.snap
  public/app/features/alerting/unified/hooks/useAbilities.ts
  public/app/features/alerting/unified/mocks/server/handlers/grafanaRuler.ts
  public/app/features/browse-dashboards/components/RecentlyDeletedActions.tsx
  public/app/features/plugins/built_in_plugins.ts
  public/locales/en-US/grafana.json
Labels: area/alerting, area/backend, area/frontend, add to changelog, no-backport, add to what's new

#103346 Dynamic dashboards: Warn if row or tab title not unique
  packages/grafana-ui/src/components/Tabs/Tab.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103184 SecretsService: Add examples to the swagger
  pkg/registry/apis/secret/register.go
Labels: area/backend, no-backport, no-changelog

#103343 Provisioning: Ensure path to file exists in Files endpoints
  pkg/registry/apis/provisioning/resources/dualwriter.go
  pkg/registry/apis/provisioning/resources/id.go
  pkg/registry/apis/provisioning/resources/id_test.go
  pkg/registry/apis/provisioning/resources/parser.go
  pkg/registry/apis/provisioning/resources/resources.go
Labels: area/backend, no-backport, no-changelog

#103350 Row: Fixes issue with row content going outside it's bounds
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
Labels: area/frontend, no-changelog

#103352 Dynamic Dashboards: UI fixes
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingOverlay.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
Labels: area/dashboard, area/frontend, no-backport, no-changelog, team/grafana-dashboards

#103255 ButtonGroup: Fixes button group for solid buttons
  packages/grafana-ui/src/components/Button/Button.story.tsx
  packages/grafana-ui/src/components/Button/ButtonGroup.tsx
  public/app/features/dashboard-scene/scene/new-toolbar/actions/ShareExportDashboardButton.tsx
Labels: area/frontend, no-changelog

#103344 Chore: Update lerna, NX, and @babel/runtime-corejs3
  .github/renovate.json5
  package.json
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#103332 Schema V2: Handle v2 custom home dashboard
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Labels: area/frontend, no-backport, no-changelog

#103362 Dynamic dashboards: Use addNewRow and addNewTab when duplicating rows and tabs
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
Labels: area/frontend, no-changelog

#101955 SQL Expressions: Query Service Support
  pkg/expr/converter.go
  pkg/expr/converter_test.go
  pkg/expr/ml.go
  pkg/expr/nodes.go
  pkg/expr/reader.go
  pkg/registry/apis/query/parser.go
  pkg/registry/apis/query/parser_test.go
  pkg/registry/apis/query/query.go
Labels: area/backend, no-changelog, area/expressions/sql

#103367 Extensions: Fix a bug with the observable APIs
  public/app/features/plugins/extensions/getPluginExtensions.test.tsx
  public/app/features/plugins/extensions/getPluginExtensions.ts
Labels: type/bug, area/plugins, area/frontend, no-backport, no-changelog, area/plugin-extensions

#103331 PanelEdit: Options pane design tweaks
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditorRenderer.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103289 Retry aborted transactions on Spanner.
  pkg/services/sqlstore/session.go
  pkg/services/sqlstore/session_test.go
  pkg/services/sqlstore/transactions.go
  pkg/util/xorm/dialect_spanner.go
  pkg/util/xorm/dialect_sqlite3.go
  pkg/util/xorm/xorm.go
Labels: area/backend, no-backport, no-changelog, spanner

#103351 Provisioning: Split active and finished jobs
  pkg/registry/apis/provisioning/jobs/driver.go
  public/app/features/provisioning/Job/ActiveJobStatus.tsx
  public/app/features/provisioning/Job/FinishedJobStatus.tsx
  public/app/features/provisioning/Job/JobContent.tsx
  public/app/features/provisioning/Job/JobStatus.tsx
  public/app/features/provisioning/Job/hooks.ts
  public/app/features/provisioning/Repository/RepositoryLink.tsx
  public/locales/en-US/grafana.json
Labels: area/backend, area/frontend, no-changelog

#103372 Correlations: Handle undefined field in logfmt
  public/app/features/correlations/transformations.ts
Labels: type/bug, area/frontend, no-backport, no-changelog, area/glue

#103316 Dashboards: SchemaV2 fix stateless queries incorrectly applied
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
  public/app/features/dashboard-scene/v2schema/SchemaV2EditorDrawer.tsx
Labels: type/bug, area/frontend, area/dashboard/schemas, no-backport, no-changelog

#103368 CI: Fix bug in post-release workflow
  .github/workflows/release-comms.yml
Labels: no-backport, no-changelog

#103361 CI: Add betterer check to lint step
  .github/workflows/frontend-lint.yml
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  public/app/features/dashboard-scene/scene/UnconfiguredPanel.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/AzureMonitorKustoQueryBuilder.test.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/FilterSection.tsx
  public/locales/en-US/grafana.json
Labels: type/chore, area/frontend, datasource/Azure, type/ci, no-backport, no-changelog

#103377 Fix subpixel rendering of NavToolbarSeparator
  public/app/core/components/AppChrome/NavToolbar/NavToolbarSeparator.tsx
Labels: area/frontend, no-changelog

#103374 Scripts/Build: Remove unused CI folders
  .github/dependabot.yml
  go.mod
  scripts/build/ci-deploy/Dockerfile
  scripts/build/ci-deploy/build-deploy.sh
  scripts/build/ci-e2e/Dockerfile
  scripts/build/ci-msi-build/Dockerfile
  scripts/build/ci-msi-build/README.md
  scripts/build/ci-msi-build/ci-msi-build-ee.sh
  scripts/build/ci-msi-build/ci-msi-build-oss.sh
  scripts/build/ci-msi-build/msigenerator/Makefile
  scripts/build/ci-msi-build/msigenerator/cache/nssm-2.24.zip
  scripts/build/ci-msi-build/msigenerator/ci-wrapper.sh
  scripts/build/ci-msi-build/msigenerator/docker-compose.yml
  scripts/build/ci-msi-build/msigenerator/generator/build.py
  scripts/build/ci-msi-build/msigenerator/generator/utils.py
  scripts/build/ci-msi-build/msigenerator/light.exe.config
  scripts/build/ci-msi-build/msigenerator/requirements.txt
  scripts/build/ci-msi-build/msigenerator/resources/images/grafana_dialog_background.bmp
  scripts/build/ci-msi-build/msigenerator/resources/images/grafana_dialog_background.png
  scripts/build/ci-msi-build/msigenerator/resources/images/grafana_icon.ico
  scripts/build/ci-msi-build/msigenerator/resources/images/grafana_top_banner.bmp
  scripts/build/ci-msi-build/msigenerator/resources/images/grafana_top_banner.png
  scripts/build/ci-msi-build/msigenerator/resources/images/grafana_top_banner_white.bmp
  scripts/build/ci-msi-build/msigenerator/resources/license/EE_LICENSE.rtf
  scripts/build/ci-msi-build/msigenerator/resources/license/LICENSE.md
  scripts/build/ci-msi-build/msigenerator/resources/license/LICENSE.rtf
  scripts/build/ci-msi-build/msigenerator/templates/common/grafana-firewall.wxs.j2
  scripts/build/ci-msi-build/msigenerator/templates/common/grafana-service.wxs.j2
  scripts/build/ci-msi-build/msigenerator/templates/common/product.wxs.j2
  scripts/build/ci-msi-build/msigenerator/templates/oracle/oracle-environment.wxs.j2
  scripts/build/ci-msi-build/msigenerator/wrapper.sh
  scripts/build/ci-msi-build/testbuild.sh
  scripts/build/ci-windows-test/Dockerfile
  scripts/build/ci-wix/Dockerfile
  scripts/build/ci-wix/Magefile.go
  scripts/build/ci-wix/README.md
Labels: type/build-packaging, area/backend, no-backport, no-changelog

#103309 Provisioning: Require a name in the saved resource
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/provisioning/files.go
  pkg/registry/apis/provisioning/jobs/export/worker.go
  pkg/registry/apis/provisioning/jobs/migrate/resources.go
  pkg/registry/apis/provisioning/jobs/migrate/storage.go
  pkg/registry/apis/provisioning/jobs/migrate/users.go
  pkg/registry/apis/provisioning/jobs/migrate/worker.go
  pkg/registry/apis/provisioning/jobs/sync/worker.go
  pkg/registry/apis/provisioning/resources/client.go
  pkg/registry/apis/provisioning/resources/clients_mock.go
  pkg/registry/apis/provisioning/resources/fileformat.go
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/parser.go
  pkg/registry/apis/provisioning/resources/parser_test.go
  pkg/registry/apis/provisioning/resources/resources.go
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  pkg/tests/apis/provisioning/helper_test.go
  pkg/tests/apis/provisioning/provisioning_test.go
  public/app/api/clients/provisioning/endpoints.gen.ts
  public/app/features/provisioning/Wizard/BootstrapStep.tsx
  public/app/features/provisioning/Wizard/MigrateStep.tsx
  public/locales/en-US/grafana.json
Labels: area/backend, area/frontend, no-backport, no-changelog

#103310 Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/axis-options-3.md
  docs/sources/shared/visualizations/axis-options-all.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x, backport v11.4.x, backport v11.5.x, backport v11.6.x

#103400 Plugins: Revert accidental change to plugins code from Alerting PR
  public/app/features/plugins/built_in_plugins.ts
Labels: area/frontend, no-changelog

#103327 TableNG: Fix column hiding override
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
Labels: type/bug, area/panel/table, area/frontend, no-changelog

#103414 [release-10.4.18] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103416 [release-11.0.12] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103421 [release-11.4.4] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103419 [release-11.2.9] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103422 [release-11.5.4] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103418 [release-11.1.14] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103420 [release-11.3.6] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103423 [release-11.6.1] Docs: candlestick visualization refactor
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/shared/visualizations/axis-options-1.md
  docs/sources/shared/visualizations/axis-options-2.md
  docs/sources/shared/visualizations/axis-options-3.md
  docs/sources/shared/visualizations/axis-options-all.md
  docs/sources/shared/visualizations/graph-styles-options.md
  docs/sources/shared/visualizations/tooltip-options-2.md
Labels: type/docs, backport, no-changelog

#103402 NoData: Fix panel error when Color scheme is set to "Classic palette (by series name)"
  packages/grafana-data/src/field/fieldDisplay.ts
Labels: type/bug, area/frontend, area/panel/piechart, no-changelog, backport v11.6.x

#103285 Team: Add columns external_uid and is_provisioned to the team table
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/store_bench_test.go
  pkg/services/sqlstore/migrations/team_mig.go
  pkg/services/team/model.go
  pkg/services/team/team.go
  pkg/services/team/teamapi/team.go
  pkg/services/team/teamimpl/store.go
  pkg/services/team/teamimpl/store_test.go
  pkg/services/team/teamimpl/team.go
  pkg/services/team/teamtest/team.go
  pkg/tests/apis/helper.go
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, area/backend/db/migration, no-changelog

#103373 Rename existing tests in pkg/services/serviceaccounts/database package to make them an integration tests.
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/database/token_store_test.go
Labels: area/backend, no-backport, no-changelog, spanner

#103434 Themes: Gloom update
  packages/grafana-data/src/themes/themeDefinitions/gloom.ts
Labels: area/frontend, no-changelog

#103441 Team: Fix createTeam API handler
  pkg/services/team/teamapi/team.go
Labels: area/backend, no-changelog

#103383 authinfoimpl: Fix TestIntegrationAuthInfoStore when running on Spanner.
  pkg/services/login/authinfoimpl/store_test.go
Labels: area/backend, no-backport, no-changelog, spanner

#102437 Alerting: Fix plugin not found error during condition validation
  pkg/services/ngalert/eval/validate.go
Labels: type/bug, area/plugins, area/alerting, area/backend/plugins, area/backend, no-backport, no-changelog

#103345 [release-11.5.4] Dashboard: Fix snapshots for the old arch
  public/app/features/dashboard/services/DashboardLoaderSrv.ts
Labels: area/frontend, backport, no-changelog

#103370 Dashboard: Ungroup action to remove row or tab
  packages/grafana-data/src/types/icon.ts
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/CanvasGridAddActions.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/utils.ts
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#103436 Provisioning: Update onboarding page
  pkg/services/navtree/navtreeimpl/admin.go
  public/app/features/provisioning/GettingStarted/EnhancedFeatures.tsx
  public/app/features/provisioning/GettingStarted/FeatureCard.tsx
  public/app/features/provisioning/GettingStarted/FeaturesList.tsx
  public/app/features/provisioning/GettingStarted/GettingStarted.tsx
  public/app/features/provisioning/GettingStarted/GettingStartedPage.tsx
  public/app/features/provisioning/GettingStarted/IconCircle.tsx
  public/app/features/provisioning/Shared/ConnectRepositoryButton.tsx
  public/locales/en-US/grafana.json
Labels: area/backend, area/frontend, no-changelog

#103398 Lefthook: ensure we're adding the results file in betterer precommit
  lefthook.yml
Labels: type/chore, no-backport, no-changelog

#103424 Provisioning: Fix the referenced path and generate name
  public/app/features/dashboard-scene/saving/provisioned/SaveProvisionedDashboardForm.test.tsx
  public/app/features/dashboard-scene/saving/provisioned/SaveProvisionedDashboardForm.tsx
  public/app/features/dashboard-scene/saving/provisioned/utils/path.test.ts
  public/app/features/dashboard-scene/saving/provisioned/utils/path.ts
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/provisioning/Shared/FolderRepositoryList.tsx
Labels: area/frontend, no-backport, no-changelog

#103357 Provisioning: refactor dry-run and run logic to be stricter and more concise
  pkg/registry/apis/provisioning/files.go
  pkg/registry/apis/provisioning/jobs/migrate/resources.go
  pkg/registry/apis/provisioning/jobs/pullrequest/worker.go
  pkg/registry/apis/provisioning/jobs/sync/worker.go
  pkg/registry/apis/provisioning/resources/dualwriter.go
  pkg/registry/apis/provisioning/resources/fileformat.go
  pkg/registry/apis/provisioning/resources/fileformat_test.go
  pkg/registry/apis/provisioning/resources/id.go
  pkg/registry/apis/provisioning/resources/id_test.go
  pkg/registry/apis/provisioning/resources/parser.go
  pkg/registry/apis/provisioning/resources/parser_test.go
  pkg/registry/apis/provisioning/resources/resources.go
Labels: area/backend, no-backport, no-changelog

#103445 Chore: Update undici to latest 6.x.x
  yarn.lock
Labels: area/security, area/frontend, dependencies, no-backport, no-changelog

#103443 Nx: fixes caching issues
  .prettierignore
  nx.json
Labels: area/frontend, no-backport, no-changelog, area/build-packaging
