Repository grafana/grafana, pull requests merged in 2025-10, with the labels that each got.

#111831 fix: improve api error handling for dashboards and folders
  pkg/api/apierrors/dashboard.go
  pkg/api/apierrors/dashboard_test.go
  pkg/api/apierrors/folder.go
  pkg/api/apierrors/folder_test.go
  pkg/registry/apis/folders/validate.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/folder/folderimpl/sqlstore_test.go
  pkg/services/folder/folderimpl/unifiedstore.go
Labels: area/backend, no-backport, no-changelog

#111627 testdata: add query-metadata scenario
  pkg/tsdb/grafana-testdata-datasource/kinds/query.go
  pkg/tsdb/grafana-testdata-datasource/kinds/query.panel.schema.json
  pkg/tsdb/grafana-testdata-datasource/kinds/query.request.schema.json
  pkg/tsdb/grafana-testdata-datasource/kinds/query.types.json
  pkg/tsdb/grafana-testdata-datasource/scenarios.go
  public/app/plugins/datasource/grafana-testdata-datasource/dataquery.ts
  public/app/plugins/datasource/grafana-testdata-datasource/mocks/scenarios.ts
Labels: area/backend, area/frontend, no-changelog

#111246 Add instructions to improve AI effectiveness when writing documentation
  .github/CODEOWNERS
  AGENTS.md
Labels: no-changelog

#111549 Graphite: Backend querying improvements
  pkg/tests/api/graphite/graphite_test.go
  pkg/tsdb/graphite/graphite.go
  pkg/tsdb/graphite/healthcheck_test.go
  pkg/tsdb/graphite/query.go
  pkg/tsdb/graphite/query_test.go
  pkg/tsdb/graphite/testdata/interval_format_transformation-RefID-A.golden.jsonc
  pkg/tsdb/graphite/testdata/mixed_queries_-_some_empty,_some_valid-RefID-B.golden.jsonc
  pkg/tsdb/graphite/testdata/successful_multiple_queries-RefID-A.golden.jsonc
  pkg/tsdb/graphite/testdata/successful_multiple_queries-RefID-B.golden.jsonc
  pkg/tsdb/graphite/testdata/successful_single_query_with_data-RefID-A.golden.jsonc
  pkg/tsdb/graphite/testdata/successful_single_query_with_null_values-RefID-A.golden.jsonc
  pkg/tsdb/graphite/testdata/successful_single_query_with_tags-RefID-A.golden.jsonc
Labels: datasource/Graphite, area/backend, no-backport, no-changelog

#111789 SynchronizeStep: fix when user can click next when repo is not ready
  public/app/features/provisioning/Wizard/SynchronizeStep.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#111881 Doc: Filter by value update
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  public/app/features/transformers/docs/content.ts
Labels: type/docs, area/frontend, area/transformations, no-backport, no-changelog, backport v12.2.x

#111885 Unistore: Relax resource validation regex
  pkg/apimachinery/validation/validation.go
  pkg/apimachinery/validation/validation_test.go
Labels: area/backend, no-changelog

#111888 SCIM - Allow groups to be deleted if SCIM group sync is disabled
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/manage-users-teams/_index.md
  pkg/services/team/teamapi/team.go
  pkg/services/team/teamapi/team_members.go
  pkg/services/team/teamapi/team_members_test.go
  public/app/features/teams/TeamList.tsx
Labels: type/docs, area/backend, area/frontend, no-backport, no-changelog, area/auth/scim

#111883 Sqlite: Increase busy_timeout to 7.5s for non-cgo driver
  pkg/util/sqlite/sqlite_nocgo.go
Labels: area/backend, no-changelog

#111877 Exemplars: add actions to exemplar tooltip
  public/app/features/visualization/data-hover/ExemplarTooltip.tsx
  public/app/plugins/panel/heatmap/HeatmapTooltip.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
Labels: area/panel/heatmap, area/frontend, area/panel/timeseries

#111905 Annotations: Color palette & frame name override mapping
  packages/grafana-data/src/transformations/transformers/convertFrameType.ts
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.tsx
  public/app/features/transformers/editors/ConvertFrameTypeTransformerEditor.tsx
Labels: area/frontend

#111902 Graphite: Improve functions endpoint
  pkg/tsdb/graphite/resource_handler.go
  pkg/tsdb/graphite/resource_handler_test.go
  public/app/plugins/datasource/graphite/datasource.ts
Labels: datasource/Graphite, area/backend, area/frontend, no-backport, no-changelog

#111900 Alerting: Add feature toggle to use the old simplified routing hash generation
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/models/notifications.go
  pkg/services/ngalert/models/notifications_test.go
  pkg/services/ngalert/notifier/autogen_alertmanager.go
  pkg/services/ngalert/notifier/autogen_alertmanager_test.go
  pkg/services/ngalert/schedule/alert_rule.go
  pkg/services/ngalert/schedule/alert_rule_test.go
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/state/state_test.go
Labels: area/alerting, area/backend, area/frontend, no-changelog

#111768 unified-storage: setup rollout-operator endpoint
  pkg/server/module_server.go
  pkg/storage/unified/sql/service.go
  pkg/storage/unified/sql/test/integration_test.go
  pkg/tests/testinfra/testinfra.go
Labels: area/backend, no-backport, no-changelog

#111898 Unistore: Add comment on how RV checks are working
  pkg/storage/unified/apistore/store.go
Labels: area/backend, no-backport, no-changelog

#111911 Annotations: fix field mutation
  packages/grafana-data/src/transformations/transformers/convertFrameType.ts
Labels: area/frontend

#111918 Provisioning: Fix repos stuck in deletion
  apps/provisioning/pkg/repository/github/client.go
  apps/provisioning/pkg/repository/github/impl.go
  apps/provisioning/pkg/repository/github/impl_test.go
  apps/provisioning/pkg/repository/github/webhook.go
  apps/provisioning/pkg/repository/github/webhook_test.go
Labels: area/backend, no-backport, no-changelog

#111896 E2E: Fix trace-view-scrolling test flakiness
  e2e-playwright/fixtures/long-trace-response.json
  e2e-playwright/various-suite/trace-view-scrolling.spec.ts
Labels: no-changelog

#111913 FolderActionsButton: Move folder action set up for provisioned folders
  public/app/features/browse-dashboards/components/FolderActionsButton.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#111937 TextPanel: Fix `CodeEditor` not appearing properly
  public/app/plugins/panel/text/TextPanelEditor.tsx
Labels: type/bug, area/frontend, add to changelog, no-backport

#111853 Influx: Improve variable regex handling
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
Labels: type/bug, datasource/InfluxDB, area/frontend, no-changelog, backport v12.1.x, backport v12.2.x

#111914 scopes: log when scopes/filters/groupby are used
  pkg/promlib/models/query.go
  pkg/promlib/models/query_test.go
  pkg/promlib/querydata/request.go
Labels: area/backend, no-backport, no-changelog, area/scopes

#111936 Stars: Fix starred state not being updated
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/stars/StarToolbarButton.tsx
Labels: area/frontend, add to changelog, backport v12.2.x

#111955 chore: adaptive telemetry navmenu - remove hard-coded metadata
  pkg/services/navtree/navtreeimpl/applinks.go
Labels: area/backend, no-changelog

#111963 Chore: Remove unused status element
  apps/correlations/Makefile
  apps/correlations/pkg/apis/correlation/v0alpha1/correlation_client_gen.go
  apps/correlations/pkg/apis/correlation/v0alpha1/correlation_object_gen.go
  apps/correlations/pkg/apis/correlation/v0alpha1/correlation_status_gen.go
  apps/correlations/pkg/apis/correlation_manifest.go
  apps/correlations/plugin/src/generated/correlation/v0alpha1/correlation_object_gen.ts
  apps/correlations/plugin/src/generated/correlation/v0alpha1/types.status.gen.ts
  apps/iam/Makefile
  apps/iam/pkg/apis/iam/v0alpha1/corerole_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/corerole_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/globalrole_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/globalrole_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/globalrolebinding_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/globalrolebinding_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/resourcepermission_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/resourcepermission_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/role_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/role_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/rolebinding_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/rolebinding_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/serviceaccount_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/serviceaccount_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/team_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/team_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/teambinding_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/teambinding_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/user_client_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/user_object_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/zz_openapi_gen.go
  apps/preferences/Makefile
  apps/preferences/pkg/apis/preferences/v1alpha1/preferences_client_gen.go
  apps/preferences/pkg/apis/preferences/v1alpha1/preferences_object_gen.go
  apps/preferences/pkg/apis/preferences/v1alpha1/preferences_status_gen.go
  apps/preferences/pkg/apis/preferences/v1alpha1/stars_client_gen.go
  apps/preferences/pkg/apis/preferences/v1alpha1/stars_object_gen.go
  apps/preferences/pkg/apis/preferences/v1alpha1/stars_status_gen.go
  apps/preferences/pkg/apis/preferences/v1alpha1/zz_generated.openapi.go
  apps/preferences/pkg/apis/preferences_manifest.go
  apps/provisioning/Makefile
  pkg/tests/apis/iam/iam_test.go
  pkg/tests/apis/openapi_snapshots/iam.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/preferences.grafana.app-v1alpha1.json
  public/app/api/clients/preferences/v1alpha1/endpoints.gen.ts
Labels: area/backend, area/frontend, no-backport, no-changelog

#111961 Exemplars: dirty mapping
  packages/grafana-data/src/transformations/transformers/convertFrameType.ts
Labels: area/frontend

#111925 Provisioning: Show field errors for sync interval
  public/app/features/provisioning/Wizard/FinishStep.tsx
  public/app/features/provisioning/utils/getFormErrors.ts
Labels: area/frontend, no-changelog

#111823 Plugins: Move store init to dskit service
  pkg/api/plugins_test.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/backgroundsvcs/adapter/dependencies.go
  pkg/registry/backgroundsvcs/adapter/manager.go
  pkg/registry/backgroundsvcs/adapter/service.go
  pkg/registry/backgroundsvcs/adapter/service_test.go
  pkg/server/wire_gen.go
  pkg/services/apiserver/service.go
  pkg/services/pluginsintegration/plugincontext/plugincontext_test.go
  pkg/services/pluginsintegration/plugininstaller/service.go
  pkg/services/pluginsintegration/plugininstaller/service_test.go
  pkg/services/pluginsintegration/pluginstore/store.go
  pkg/services/pluginsintegration/pluginstore/store_test.go
  pkg/services/pluginsintegration/test_helper.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_test.go
Labels: area/backend, no-changelog

#111971 BrowseView: Git Provisioned Read Only Folder Disable Empty State Create Dashboard Button
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
Labels: area/frontend, no-changelog

#111897 docs(alerting): `alertingSaveStateCompressed` is enabled by default
  docs/sources/alerting/set-up/performance-limitations/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
Labels: type/docs, area/alerting, no-changelog, backport v12.2.x

#111952 Logs: Fix spacing between the logs volume and logs panel
  public/app/features/explore/Explore.tsx
  public/app/features/explore/Logs/Logs.tsx
Labels: area/explore, area/frontend, no-changelog

#111965 Provisioning: Refactor to combine validation and test endpoint logic
  apps/provisioning/pkg/repository/tester.go
  apps/provisioning/pkg/repository/tester_test.go
  apps/provisioning/pkg/repository/validator.go
  apps/provisioning/pkg/repository/validator_test.go
  pkg/operators/provisioning/repo_operator.go
  pkg/registry/apis/provisioning/controller/health.go
  pkg/registry/apis/provisioning/controller/health_test.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/register_validate_test.go
  pkg/registry/apis/provisioning/test.go
Labels: area/backend, no-backport, no-changelog

#111972 [release-12.2.1] docs(alerting): `alertingSaveStateCompressed` is enabled by default
  docs/sources/alerting/set-up/performance-limitations/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
Labels: type/docs, area/alerting, backport, no-changelog

#111891 docs(alerting): add settings for alert evaluation backoff retries
  docs/sources/alerting/fundamentals/alert-rule-evaluation/nodata-and-error-states.md
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, area/alerting, no-changelog, backport v12.2.x

#111879 API clients: Automatically set PATCH headers
  public/app/api/clients/folder/v1beta1/index.ts
  public/app/api/createBaseQuery.ts
  public/app/core/utils/fetch.ts
Labels: area/frontend, add to changelog

#111660 IAM: Implement update method in team API
  pkg/registry/apis/iam/legacy/sql.go
  pkg/registry/apis/iam/legacy/sql_test.go
  pkg/registry/apis/iam/legacy/team.go
  pkg/registry/apis/iam/legacy/testdata/mysql--update_team-update_team_basic.sql
  pkg/registry/apis/iam/legacy/testdata/postgres--update_team-update_team_basic.sql
  pkg/registry/apis/iam/legacy/testdata/sqlite--update_team-update_team_basic.sql
  pkg/registry/apis/iam/legacy/update_team.sql
  pkg/registry/apis/iam/register.go
  pkg/registry/apis/iam/team/store.go
  pkg/registry/apis/iam/team/validate.go
  pkg/registry/apis/iam/team/validate_test.go
  pkg/tests/apis/iam/team_integration_test.go
  pkg/tests/apis/iam/testdata/team-test-update-v0.yaml
Labels: area/backend, no-changelog

#111969 Provisioning: Specify managed by git sync
  public/app/features/provisioning/Shared/RepositoryList.tsx
  public/app/features/provisioning/Wizard/hooks/useResourceStats.ts
  public/locales/en-US/grafana.json
Labels: area/frontend, no-backport, no-changelog

#111975 Fix mismatch in feature toggles documentation
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, area/frontend, no-changelog

#111981 Give meaningful name to feature toggles documentation CI job
  .github/workflows/feature-toggles-ci.yml
Labels: no-changelog

#111804 Actions: use create-github-app-token in pr-e2e-tests.yml workflow
  .github/workflows/pr-e2e-tests.yml
Labels: no-backport, no-changelog

#111887 Chore: Rename Azure AD to Entra ID in the authentication-related docs and on the auth UIs
  docs/sources/setup-grafana/configure-security/configure-authentication/azuread/index.md
  public/app/features/auth-config/constants.ts
  public/app/features/auth-config/fields.tsx
  public/locales/en-US/grafana.json
Labels: type/docs, area/auth, type/chore, area/frontend, no-changelog

#111982 [release-11.5.10] NPM: Backport NPM publishing from main
  .github/workflows/release-npm.yml
  package.json
  scripts/validate-npm-packages.sh
  yarn.lock
Labels: type/build-packaging, area/frontend, backport, no-changelog

#111968 AUTHZ: add option to bypass team membership cache
  pkg/services/team/team.go
  pkg/services/team/teamimpl/team.go
  pkg/services/team/teamtest/team.go
Labels: area/backend, no-changelog

#111999 Internationalisation: Allow parameterising `basePaths` for key generation in lint rule
  eslint.config.js
  packages/grafana-i18n/src/eslint/README.md
  packages/grafana-i18n/src/eslint/no-untranslated-strings/no-untranslated-strings.cjs
  packages/grafana-i18n/src/eslint/no-untranslated-strings/no-untranslated-strings.test.js
  packages/grafana-i18n/src/eslint/no-untranslated-strings/translation-utils.cjs
Labels: type/chore, area/frontend, area/internationalization, no-backport, no-changelog

#111391 remove added prop
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
Labels: datasource/InfluxDB, datasource/Graphite, type/docs, area/alerting, datasource/Elasticsearch, type/build-packaging, datasource/CloudWatch, area/panel/table, datasource/MySQL, datasource/Postgres, area/backend, datasource/MSSQL, area/explore, area/frontend, datasource/GoogleCloudMonitoring, datasource/Loki, datasource/Azure, datasource/Jaeger, datasource/Zipkin, datasource/Tempo, area/panel/timeseries, area/backend/db/migration, area/panel/geomap, no-backport, no-changelog, datasource/Parca, datasource/grafana-pyroscope

#112006 Slider: Make `inputId` a required param and fix minor a11y violations
  eslint-suppressions.json
  packages/grafana-ui/src/components/Slider/RangeSlider.story.tsx
  packages/grafana-ui/src/components/Slider/RangeSlider.tsx
  packages/grafana-ui/src/components/Slider/Slider.story.tsx
  packages/grafana-ui/src/components/Slider/Slider.test.tsx
  packages/grafana-ui/src/components/Slider/Slider.tsx
  packages/grafana-ui/src/components/Slider/types.ts
  public/locales/en-US/grafana.json
Labels: area/frontend, add to changelog, area/grafana/ui, no-backport, area/accessibility

#112014 Provisioning: update unhealthy status only when not recent
  pkg/registry/apis/provisioning/controller/health.go
  pkg/registry/apis/provisioning/controller/health_test.go
Labels: area/backend, no-backport, no-changelog

#112008 anno clustering
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/mudball.cue
  packages/grafana-ui/src/options/builder/annotations.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/AnnotationsPlugin2.tsx
  public/app/plugins/panel/timeseries/plugins/annotations2/AnnotationMarker2.tsx
  public/app/plugins/panel/timeseries/plugins/annotations2/AnnotationTooltip2Cluster.tsx
Labels: area/frontend, area/panel/timeseries

#111852 Secrets: Refactor data_key_id out of the encoded secure value payload
  .gitignore
  pkg/registry/apis/secret/contracts/encryption.go
  pkg/registry/apis/secret/contracts/keeper.go
  pkg/registry/apis/secret/encryption/manager/manager.go
  pkg/registry/apis/secret/encryption/manager/manager_test.go
  pkg/registry/apis/secret/garbagecollectionworker/worker.go
  pkg/registry/apis/secret/garbagecollectionworker/worker_test.go
  pkg/registry/apis/secret/secretkeeper/secretkeeper.go
  pkg/registry/apis/secret/secretkeeper/secretkeeper_test.go
  pkg/registry/apis/secret/secretkeeper/sqlkeeper/keeper.go
  pkg/registry/apis/secret/secretkeeper/sqlkeeper/keeper_test.go
  pkg/registry/apis/secret/service/consolidation.go
  pkg/registry/apis/secret/service/consolidation_test.go
  pkg/registry/apis/secret/service/secure_value.go
  pkg/registry/apis/secret/testutils/testutils.go
  pkg/server/wire.go
  pkg/server/wire_gen.go
  pkg/storage/secret/encryption/data/encrypted_value_create.sql
  pkg/storage/secret/encryption/data/encrypted_value_list_all.sql
  pkg/storage/secret/encryption/data/encrypted_value_read.sql
  pkg/storage/secret/encryption/data/encrypted_value_update.sql
  pkg/storage/secret/encryption/encrypted_value_model.go
  pkg/storage/secret/encryption/encrypted_value_store.go
  pkg/storage/secret/encryption/encrypted_value_store_test.go
  pkg/storage/secret/encryption/query.go
  pkg/storage/secret/encryption/query_test.go
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_create-create.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_list_all-list_all.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_list_all-list_all_until_time.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_list_all-list_limit_10_offset_0.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_list_all-list_limit_10_offset_2.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_read-read.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_update-update.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_create-create.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_list_all-list_all.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_list_all-list_all_until_time.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_list_all-list_limit_10_offset_0.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_list_all-list_limit_10_offset_2.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_read-read.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_update-update.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_create-create.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_list_all-list_all.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_list_all-list_all_until_time.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_list_all-list_limit_10_offset_0.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_list_all-list_limit_10_offset_2.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_read-read.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_update-update.sql
  pkg/storage/secret/metadata/decrypt_store.go
  pkg/storage/secret/migrator/migrator.go
Labels: area/backend, no-changelog

#112022 fix: version migration
  apps/dashboard/pkg/migration/schemaversion/v16.go
Labels: area/backend, no-backport, no-changelog

#111977 Provisioning: use kind consistently for provisioning stats
  apps/provisioning/pkg/apis/provisioning/v0alpha1/jobs.go
  apps/provisioning/pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  apps/provisioning/pkg/generated/applyconfiguration/provisioning/v0alpha1/jobresourcesummary.go
  pkg/registry/apis/provisioning/jobs/export/folders.go
  pkg/registry/apis/provisioning/jobs/export/resources.go
  pkg/registry/apis/provisioning/jobs/loki_history_test.go
  pkg/registry/apis/provisioning/jobs/migrate/clean.go
  pkg/registry/apis/provisioning/jobs/migrate/legacy_resources.go
  pkg/registry/apis/provisioning/jobs/migrate/legacy_resources_test.go
  pkg/registry/apis/provisioning/jobs/progress.go
  pkg/registry/apis/provisioning/jobs/sync/full.go
  pkg/registry/apis/provisioning/jobs/sync/full_test.go
  pkg/registry/apis/provisioning/jobs/sync/incremental.go
  pkg/registry/apis/provisioning/jobs/sync/incremental_test.go
  pkg/registry/apis/provisioning/resources/client.go
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  public/app/api/clients/provisioning/v0alpha1/endpoints.gen.ts
  public/app/features/provisioning/Job/JobSummary.tsx
Labels: area/backend, area/frontend, no-backport, no-changelog

#112031 Provisioning: Cleanup folders properly with webhooks
  apps/provisioning/pkg/repository/github/testdata/webhook-push-keep_file_only.json
  apps/provisioning/pkg/repository/github/testdata/webhook-push-keep_file_with_others.json
  apps/provisioning/pkg/repository/github/testdata/webhook-push-multiple_keep_files.json
  apps/provisioning/pkg/repository/github/webhook.go
  apps/provisioning/pkg/repository/github/webhook_test.go
  pkg/registry/apis/provisioning/jobs/sync/incremental.go
  pkg/registry/apis/provisioning/jobs/sync/incremental_test.go
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/repository.go
  pkg/registry/apis/provisioning/resources/repository_resources_mock.go
  pkg/registry/apis/provisioning/resources/resources.go
Labels: area/backend, no-backport, no-changelog

#112033 DeleteHooks: Fix logging
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/folders/hooks.go
Labels: area/backend, no-backport, no-changelog

#111895 OpenFeature: Add tracing to feature flags service
  pkg/registry/apis/ofrep/proxy.go
  pkg/registry/apis/ofrep/register.go
  pkg/registry/apis/ofrep/static.go
Labels: area/backend, no-changelog

#106958 Alerting: Keep extra configurations on main config update
  pkg/services/ngalert/notifier/alertmanager_config.go
  pkg/services/ngalert/notifier/alertmanager_config_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#111978 Unified storage search: Introduce min index update interval
  pkg/setting/setting.go
  pkg/setting/setting_unified_storage.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/server_test.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_test.go
  pkg/storage/unified/search/options.go
Labels: area/backend, no-backport, no-changelog

#112042 CloudMigrations: Increase timeout of eventual checks and add debug message in flaky test
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt_alerts_test.go
Labels: area/backend, no-changelog

#109754 Transformations: Hide "Match all/any" conditions for less than two filters
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.test.tsx
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.tsx
Labels: area/frontend, add to changelog

#112045 [release-11.6.7] URLParams: Stringify true values as key=true always (fixes issues with variables with true value)
  .betterer.results
  packages/grafana-data/src/utils/url.test.ts
  packages/grafana-data/src/utils/url.ts
  packages/grafana-runtime/src/services/LocationService.test.tsx
  public/app/angular/AngularLocationWrapper.test.ts
  public/app/features/dashboard-scene/sharing/ShareLinkTab.test.tsx
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/panel/panellinks/link_srv.ts
Labels: area/frontend, add to changelog, backport

#112051 Dashboard migrations: Fix `span: 0` bug and panel ordering in v16 dashboard migration
  apps/dashboard/pkg/migration/frontend_defaults.go
  apps/dashboard/pkg/migration/schemaversion/v16.go
  apps/dashboard/pkg/migration/schemaversion/v16_test.go
  apps/dashboard/pkg/migration/testdata/input/v16.span_zero_demo.json
  apps/dashboard/pkg/migration/testdata/output/latest_version/v16.span_zero_demo.v42.json
  apps/dashboard/pkg/migration/testdata/output/single_version/v16.span_zero_demo.v16.json
Labels: area/dashboard, area/backend, no-backport, no-changelog, area/schemaVersion/migration

#112000 [release-12.2.1] NPM: Backport NPM publishing from main
  .github/workflows/release-npm.yml
  scripts/validate-npm-packages.sh
Labels: type/build-packaging, backport, no-changelog

#111997 [release-12.1.3] NPM: Backport NPM publishing from main
  .github/actions/setup-node/action.yml
  .github/workflows/release-npm.yml
  scripts/validate-npm-packages.sh
Labels: type/build-packaging, backport, no-changelog

#112061 PostgreSQL: Refactor feature toggle handling for standalone mode
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_service.go
  pkg/tsdb/grafana-postgresql-datasource/standalone/main.go
Labels: datasource/Postgres, area/backend, no-changelog

#111792 Docs: OaC/Git Sync updates for Obs Con
  docs/sources/observability-as-code/provision-resources/_index.md
  docs/sources/observability-as-code/provision-resources/file-path-setup.md
  docs/sources/observability-as-code/provision-resources/git-sync-setup.md
  docs/sources/observability-as-code/provision-resources/intro-git-sync.md
  docs/sources/observability-as-code/provision-resources/provisioned-dashboards.md
  docs/sources/observability-as-code/provision-resources/use-git-sync.md
Labels: type/docs, no-changelog, backport v12.2.x

#112025 Docs: Fixed a broken link on the Intro to Exemplars page
  docs/sources/fundamentals/exemplars/index.md
Labels: type/docs, no-changelog, backport v12.1.x, backport v12.2.x

#111142 Prometheus: Prom Azure and AWS auth with mig info
  docs/sources/datasources/prometheus/configure/aws-authentication.md
  docs/sources/datasources/prometheus/configure/azure-authentication.md
Labels: type/docs, backport, no-changelog, backport v12.2.x

#111125 Update CollapsableSection component
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
Labels: area/frontend, no-backport, no-changelog

#111967 Saved Queries: Remove datasource autoselection when opening
  public/app/features/annotations/components/AnnotationQueryEditorActionsWrapper.tsx
  public/app/features/annotations/components/StandardAnnotationQueryEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.tsx
  public/app/features/explore/SecondaryActions.tsx
  public/app/features/query/components/QueryEditorRow.tsx
Labels: area/explore, area/frontend, no-backport, no-changelog

#112086 Unistore: ignore name when validating collection keys
  pkg/storage/unified/resource/bulk.go
  pkg/storage/unified/resource/keys.go
  pkg/storage/unified/resource/keys_test.go
Labels: area/backend, no-changelog

#112088 AuthZ: Fix cacheHit computation
  pkg/services/authz/rbac/service.go
Labels: area/backend, no-backport, no-changelog

#111976 PluginExtensions: Adding extension point id to params passed to the content provider.
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/plugins/extensions/getPluginExtensions.test.tsx
  public/app/features/plugins/extensions/utils.tsx
Labels: area/frontend, no-backport, no-changelog, area/plugin-extensions

#111636 Auth: Fix render user OAuth passthrough
  pkg/services/auth/authimpl/external_session_store.go
  pkg/services/auth/external_session.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
  pkg/services/authn/clients/oauth.go
  pkg/services/authn/clients/oauth_test.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfotest/auth_info_service_mock.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/oauthtoken/oauth_token_test.go
  pkg/services/oauthtoken/oauthtokentest/mock.go
  pkg/services/oauthtoken/oauthtokentest/oauthtokentest.go
Labels: type/bug, area/backend, add to changelog, backport v11.5.x, backport v11.6.x, backport v12.0.x, backport v12.1.x, backport v12.2.x

#111556 Scopes: Move types to its own module
  .github/CODEOWNERS
  Dockerfile
  apps/scope/go.mod
  apps/scope/go.sum
  apps/scope/pkg/apis/scope/v0alpha1/doc.go
  apps/scope/pkg/apis/scope/v0alpha1/register.go
  apps/scope/pkg/apis/scope/v0alpha1/types.go
  apps/scope/pkg/apis/scope/v0alpha1/zz_generated.deepcopy.go
  apps/scope/pkg/apis/scope/v0alpha1/zz_generated.defaults.go
  apps/scope/pkg/apis/scope/v0alpha1/zz_generated.openapi.go
  apps/scope/pkg/apis/scope/v0alpha1/zz_generated.openapi_violation_exceptions.list
  go.mod
  go.work
  hack/update-codegen.sh
  pkg/extensions/enterprise_imports.go
Labels: type/docs, area/alerting, type/build-packaging, datasource/Postgres, area/backend, area/frontend, datasource/GoogleCloudMonitoring, datasource/Loki, area/backend/db/migration, no-changelog

#112053 Themes: Fix internal border radius of MenuItem to match new outer border radius
  packages/grafana-data/src/themes/createComponents.ts
  packages/grafana-ui/src/components/Menu/Menu.tsx
  packages/grafana-ui/src/components/Menu/MenuItem.tsx
Labels: area/frontend, no-changelog

#112103 Scopes: Remove a rule of hooks warning from scopes
  eslint-suppressions.json
  public/app/features/commandPalette/actions/recentScopesActions.ts
  public/app/features/commandPalette/actions/scopeActions.tsx
Labels: area/frontend, no-changelog

#111399 Chore: Use `PermissionLevel` instead of `PermissionLevelString` enum
  packages/grafana-test-utils/src/handlers/api/folders/handlers.ts
  public/app/core/components/FolderFilter/FolderFilter.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.tsx
  public/app/core/components/NestedFolderPicker/useFoldersQuery.ts
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/search/service/sql.ts
  public/app/features/search/service/types.ts
  public/app/types/acl.ts
Labels: area/frontend, no-changelog

#110339 Alerting: Triage
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/components/EditorColumnHeader.tsx
  public/app/features/alerting/unified/components/contact-points/templates/EditorColumnHeader.tsx
  public/app/features/alerting/unified/components/receivers/PayloadEditor.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/TemplatePreview.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateContentAndPreview.tsx
  public/app/features/alerting/unified/triage/Timeline.tsx
  public/app/features/alerting/unified/triage/Triage.md
  public/app/features/alerting/unified/triage/Triage.tsx
  public/app/features/alerting/unified/triage/Workbench.tsx
  public/app/features/alerting/unified/triage/WorkbenchContext.tsx
  public/app/features/alerting/unified/triage/constants.ts
  public/app/features/alerting/unified/triage/rows/AlertRuleRow.tsx
  public/app/features/alerting/unified/triage/rows/FolderGroupRow.tsx
  public/app/features/alerting/unified/triage/rows/GenericRow.tsx
  public/app/features/alerting/unified/triage/rows/GroupRow.tsx
  public/app/features/alerting/unified/triage/rows/InstanceRow.tsx
  public/app/features/alerting/unified/triage/rows/utils.ts
  public/app/features/alerting/unified/triage/scene/AlertRuleInstances.tsx
  public/app/features/alerting/unified/triage/scene/AlertRuleSummary.tsx
  public/app/features/alerting/unified/triage/scene/SummaryChart.tsx
  public/app/features/alerting/unified/triage/scene/SummaryStats.tsx
  public/app/features/alerting/unified/triage/scene/TriageScene.tsx
  public/app/features/alerting/unified/triage/scene/Workbench.tsx
  public/app/features/alerting/unified/triage/scene/utils.ts
  public/app/features/alerting/unified/triage/types.ts
  public/locales/en-US/grafana.json
Labels: area/alerting, area/frontend, add to changelog, add to what's new

#112098 Docs: Git Sync - Tim's feedback
  docs/sources/observability-as-code/provision-resources/intro-git-sync.md
Labels: type/docs, no-changelog, backport v12.2.x

#111906 [release-12.2.1] Table: Backport the Safari 26 fixes to 12.2.1
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/hooks.ts
  packages/grafana-ui/src/components/Table/TableNG/styles.ts
  packages/grafana-ui/src/components/Table/TableNG/utils.ts
Labels: area/frontend, add to changelog, backport

#112065 Docs: Add a note about email being required and the usage of sub claim
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Labels: type/docs, no-backport, no-changelog

#111854 ShortURL: Add generate name prefix to create payload
  public/app/api/clients/shorturl/v1alpha1/index.ts
Labels: area/frontend, no-backport, no-changelog

#109945 DOCS: Amazon CloudWatch data source docs revmp
  docs/sources/datasources/aws-cloudwatch/_index.md
  docs/sources/datasources/aws-cloudwatch/aws-authentication/index.md
  docs/sources/datasources/aws-cloudwatch/configure/index.md
  docs/sources/datasources/aws-cloudwatch/query-editor/index.md
  docs/sources/datasources/aws-cloudwatch/template-variables/index.md
Labels: type/docs, datasource/CloudWatch, no-changelog, backport v12.1.x, backport v12.2.x

#111210 Tests: Custom script to run unit tests filtered by code ownership
  .github/CODEOWNERS
  .gitignore
  .prettierignore
  jest.config.codeowner.js
  package.json
  scripts/codeowners-manifest/README.md
  scripts/codeowners-manifest/constants.js
  scripts/codeowners-manifest/generate.js
  scripts/codeowners-manifest/index.js
  scripts/codeowners-manifest/metadata.js
  scripts/codeowners-manifest/raw.js
  scripts/test-coverage-by-codeowner.js
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#111020 Alerting: Add rules API client to the package
  packages/grafana-alerting/scripts/README.md
  packages/grafana-alerting/scripts/codegen.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/api.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/const.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/fakes/Receivers.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/fakes/Routes.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/fakes/common.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/createReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/deleteReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/deletecollectionReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/getReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/index.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/listReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/replaceReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/ReceiverHandlers/updateReceiverHandler.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/mocks/handlers/index.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/notifications.api.gen.ts
  packages/grafana-alerting/src/grafana/api/notifications/v0alpha1/types.ts
  packages/grafana-alerting/src/grafana/api/rules/v0alpha1/api.ts
  packages/grafana-alerting/src/grafana/api/rules/v0alpha1/const.ts
  packages/grafana-alerting/src/grafana/api/rules/v0alpha1/rules.api.gen.ts
  packages/grafana-alerting/src/grafana/contactPoints/components/ContactPointSelector/ContactPointSelector.test.scenario.ts
  packages/grafana-alerting/src/grafana/contactPoints/components/ContactPointSelector/ContactPointSelector.tsx
  packages/grafana-alerting/src/grafana/contactPoints/hooks/v0alpha1/useContactPoints.tsx
  packages/grafana-alerting/src/grafana/contactPoints/utils.test.ts
  packages/grafana-alerting/src/grafana/contactPoints/utils.ts
  packages/grafana-alerting/src/grafana/matchers/types.ts
  packages/grafana-alerting/src/grafana/notificationPolicies/hooks/useMatchPolicies.test.ts
  packages/grafana-alerting/src/grafana/notificationPolicies/hooks/useMatchPolicies.ts
  packages/grafana-alerting/src/grafana/notificationPolicies/types.ts
  packages/grafana-alerting/src/grafana/notificationPolicies/utils.old.test.ts
  packages/grafana-alerting/src/grafana/notificationPolicies/utils.test.ts
  packages/grafana-alerting/src/grafana/notificationPolicies/utils.ts
  packages/grafana-alerting/src/testing.ts
  packages/grafana-alerting/src/unstable.ts
  packages/grafana-alerting/tests/provider.tsx
  public/app/api/clients/rules/v0alpha1/baseAPI.ts
  public/app/api/clients/rules/v0alpha1/index.ts
  public/app/core/reducers/root.ts
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/contactPoint/ContactPointSelector.tsx
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/ContactPointGroup.tsx
  public/app/features/alerting/unified/components/rule-viewer/ContactPointLink.tsx
  public/app/store/configureStore.ts
  scripts/generate-rtk-apis.ts
Labels: area/alerting, area/frontend, no-changelog

#111204 CloudWatch: Refactor logs language tests
  public/app/plugins/datasource/cloudwatch/language/logs/completion/CompletionItemProvider.test.ts
  public/app/plugins/datasource/cloudwatch/language/logs/completion/statementPosition.test.ts
  public/app/plugins/datasource/cloudwatch/language/logs/completion/statementPosition.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/commentOnlyQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/empty.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/filterQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/multiLineFullQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/newCommandQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/singleLineFullQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/sortQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/cloudwatch-logs-test-data/whitespaceQuery.ts
  public/app/plugins/datasource/cloudwatch/mocks/monarch/Monaco.ts
Labels: datasource/CloudWatch, area/frontend, no-backport, no-changelog

#112121 [release-12.2.1] docs(alerting): Email contact point enhancements
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-email.md
Labels: type/docs, area/alerting, backport, no-changelog

#112107 Chore: Minor border radius nit fixes
  public/app/core/components/OptionsUI/color.tsx
  public/app/features/alerting/unified/components/alert-groups/AlertGroup.tsx
  public/app/features/dashboard/dashgrid/DashboardEmpty.tsx
Labels: area/alerting, area/frontend, no-backport, no-changelog

#111991 Modal: Sticky position buttons
  packages/grafana-ui/src/components/Modal/getModalStyles.ts
  public/app/features/dimensions/editors/ValueMappingsEditor/ValueMappingsEditorModal.tsx
Labels: area/frontend, area/grafana/ui, no-backport, no-changelog, area/accessibility

#112158 feat(grpc): add client keepalive config
  pkg/services/apiserver/options/storage.go
  pkg/storage/unified/client.go
Labels: area/backend, no-backport, no-changelog, area/backend/unified-storage

#112144 Provisioning: Do full sync on resync period when needed
  apps/provisioning/pkg/repository/github/webhook.go
  apps/provisioning/pkg/repository/workflows.go
  apps/provisioning/pkg/repository/workflows_test.go
  pkg/registry/apis/provisioning/controller/repository.go
  pkg/registry/apis/provisioning/controller/repository_test.go
Labels: area/backend, no-backport, no-changelog

#112150 DataSource: Fix openapi spec
  pkg/apis/datasource/v0alpha1/unstructured.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/apis/datasource/sub_query_test.go
  pkg/services/apiserver/builder/openapi.go
  pkg/tests/apis/openapi_snapshots/testdata.datasource.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_test.go
Labels: area/backend, no-backport, no-changelog

#112163 [release-11.5.10] Go: Update to 1.25.2 + golangci-lint v2.5.0 + golang.org/x/net v0.45.0
  .citools/bra/go.mod
  .citools/bra/go.sum
  .citools/cog/go.mod
  .citools/cog/go.sum
  .citools/cue/go.mod
  .citools/cue/go.sum
  .citools/golangci-lint/go.mod
  .citools/golangci-lint/go.sum
  .citools/jb/go.mod
  .citools/jb/go.sum
  .citools/lefthook/go.mod
  .citools/lefthook/go.sum
  .citools/swagger/go.mod
  .citools/swagger/go.sum
  .github/workflows/go-lint.yml
  Dockerfile
  Makefile
  apps/alerting/notifications/go.mod
  apps/alerting/notifications/go.sum
  apps/investigation/go.mod
  apps/investigation/go.sum
  apps/playlist/go.mod
  apps/playlist/go.sum
  devenv/docker/blocks/prometheus_high_card/go.mod
  devenv/docker/blocks/prometheus_high_card/go.sum
  devenv/docker/blocks/prometheus_utf8/go.mod
  devenv/docker/blocks/prometheus_utf8/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  hack/go.mod
  hack/go.sum
  kindsv2/go.mod
  kindsv2/go.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/codegen/go.mod
  pkg/codegen/go.sum
  pkg/plugins/codegen/go.mod
  pkg/plugins/codegen/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/semconv/go.mod
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/util/xorm/go.mod
  scripts/go-workspace/go.mod
  scripts/modowners/go.mod
Labels: type/build-packaging, area/backend, add to changelog

#112164 [11.6.x] Fix interpolation in panel repeats
  public/app/features/dashboard-scene/scene/layout-default/DashboardGridItem.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItem.tsx
Labels: area/dashboard, area/frontend, no-backport, no-changelog

#112152 IAM: Add a local cache for the SSO settings service
  pkg/services/ssosettings/ssosettings.go
  pkg/services/ssosettings/ssosettingsimpl/service.go
  pkg/services/ssosettings/ssosettingsimpl/service_test.go
  pkg/services/ssosettings/ssosettingstests/service_fake.go
  pkg/services/ssosettings/ssosettingstests/service_mock.go
Labels: area/backend, no-changelog

#112171 Remove unused index_max_batch_size option to bleve backend.
  pkg/setting/setting.go
  pkg/setting/setting_unified_storage.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_performance_test.go
  pkg/storage/unified/search/bleve_search_test.go
  pkg/storage/unified/search/options.go
Labels: area/backend, no-backport, no-changelog
