Repository grafana/grafana, pull requests merged in 2025-06, with the labels that each got.

#104680 TraceView: Resource attributes links extension point
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianKeyValues.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianLogs.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianReferences.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/KeyValuesTable.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/KeyValuesTable.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetailRow.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/VirtualizedTraceView.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/index.tsx
Labels: area/explore, area/frontend, add to changelog

#106262 Alerting: Fix history tab visibility condition
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
Labels: type/bug, area/alerting, area/frontend, no-backport, no-changelog

#104160 DashboardScene: Edit actions , undo/redo and repeat change detection
  .betterer.results
  packages/grafana-data/src/types/icon.ts
  public/app/core/icons/cached.json
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.test.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditPaneRenderer.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditPaneSplitter.tsx
  public/app/features/dashboard-scene/edit-pane/VizPanelEditableElement.tsx
  public/app/features/dashboard-scene/edit-pane/shared.ts
  public/app/features/dashboard-scene/pages/DashboardScenePage.test.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/getPanelFrameOptions.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/layout-auto-grid/AutoGridItem.tsx
  public/app/features/dashboard-scene/scene/layout-auto-grid/AutoGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/new-toolbar/RightActions.tsx
  public/app/features/dashboard-scene/scene/new-toolbar/actions/DashboardAddButton.tsx
  public/locales/en-US/grafana.json
Labels: area/backend, area/frontend, no-changelog

#106274 Adhoc variable export
  public/app/features/dashboard-scene/scene/export/exporters.test.ts
  public/app/features/dashboard-scene/scene/export/exporters.ts
Labels: area/frontend, no-changelog

#106275 legacy annotation query - handle undefined scenarios without crashing
  public/app/features/query/state/DashboardQueryRunner/LegacyAnnotationQueryRunner.test.ts
  public/app/features/query/state/DashboardQueryRunner/LegacyAnnotationQueryRunner.ts
Labels: area/frontend, no-changelog

#106219 Alerting docs: document Prometheus YAML import tool update
  docs/sources/alerting/alerting-rules/alerting-migration/_index.md
Labels: type/docs, no-changelog

#106216 grafana/ui: expose story for ClipboardButton
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.story.tsx
Labels: area/frontend, no-changelog

#106254 docs(alerting): new notification template example: link to a dashboard with time range
  docs/sources/alerting/configure-notifications/template-notifications/examples.md
  docs/sources/alerting/configure-notifications/template-notifications/reference.md
Labels: type/docs, area/alerting, no-changelog, backport v12.0.x

#106179 Authorization: Fix/provisioned permission display
  pkg/services/accesscontrol/resourcepermissions/store.go
  public/api-enterprise-spec.json
  public/app/core/components/AccessControl/PermissionList.tsx
Labels: area/alerting, area/backend, area/frontend, no-changelog

#106298 [docs] Update broken links in SCIM provisioning documentation
  docs/sources/setup-grafana/configure-security/configure-scim-provisioning/manage-users-teams/_index.md
Labels: type/docs, no-changelog, backport v12.0.x

#106310 Auth: Enable ssoSettingsLDAP by default
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: type/docs, area/auth, area/backend, area/frontend, add to changelog

#106313 CI: Temporarily disable --verify in nightly release
  pkg/build/daggerbuild/scripts/drone_build_nightly_enterprise.sh
Labels: no-changelog

#105246 Alerting: Ensure errors cleared when Alerting after error
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Labels: area/alerting, area/backend, add to changelog, no-backport

#106291 license check: add exceptions for grafanas own workspaces
  .github/license_finder.yaml
Labels: no-backport, no-changelog

#106282 Alerting: List V2 - Improve error handling
  public/app/features/alerting/unified/api/featureDiscoveryApi.ts
  public/app/features/alerting/unified/rule-list/GroupedView.tsx
  public/app/features/alerting/unified/rule-list/PaginatedDataSourceLoader.tsx
  public/app/features/alerting/unified/rule-list/PaginatedGrafanaLoader.tsx
  public/app/features/alerting/unified/rule-list/components/DataSourceSection.tsx
  public/app/features/alerting/unified/rule-list/hooks/useLazyLoadPrometheusGroups.tsx
  public/locales/en-US/grafana.json
Labels: area/alerting, area/frontend, no-backport, no-changelog

#106019 Auth: Remove api key endpoints
  pkg/api/api.go
  pkg/api/apikey.go
  pkg/api/dtos/apikey.go
  pkg/services/apikey/apikey.go
  pkg/services/apikey/apikeyimpl/apikey.go
  pkg/services/apikey/apikeyimpl/store.go
  pkg/services/apikey/apikeyimpl/store_test.go
  pkg/services/apikey/apikeyimpl/xorm_store.go
  pkg/services/apikey/apikeytest/fake.go
  pkg/services/apikey/model.go
  pkg/services/navtree/navtreeimpl/admin.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/store.go
  pkg/services/serviceaccounts/proxy/service.go
  pkg/services/serviceaccounts/serviceaccounts.go
  pkg/services/serviceaccounts/tests/fakes.go
  pkg/services/serviceaccounts/tests/mocks.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/auth, area/backend, area/frontend, add to changelog

#106320 Alerting: Remove unused file
  public/app/features/alerting/unified/rule-list/hooks/usePaginatedPrometheusGroups.tsx
Labels: area/alerting, area/frontend, no-changelog

#106272 Update Alerting module
  go.mod
  go.sum
  go.work.sum
  pkg/services/ngalert/api/tooling/definitions/alertmanager_validation.go
  pkg/services/ngalert/notifier/compat.go
  pkg/services/ngalert/notifier/email_test.go
Labels: area/alerting, type/refactor, area/backend, no-backport, no-changelog

#106319 docs(alerting): updates Missing series evaluations to resolve option
  docs/sources/alerting/best-practices/missing-data.md
  docs/sources/alerting/fundamentals/alert-rule-evaluation/stale-alert-instances.md
Labels: type/docs, area/alerting, no-changelog, backport v12.0.x

#106317 docs(alerting): Migration API format enhancements
  docs/sources/alerting/alerting-rules/alerting-migration/_index.md
  docs/sources/alerting/alerting-rules/alerting-migration/migration-api.md
Labels: type/docs, area/alerting, no-changelog, backport v12.0.x

#106209 TimePickerFooter: Fix background
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimePickerFooter.tsx
Labels: area/dashboard, area/frontend, type/debt, no-backport, no-changelog

#106281 Azure: Improved identification of Application Insights resouces
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
Labels: type/bug, effort/small, area/backend, datasource/Azure, no-changelog, backport v12.0.x

#106295 Alerting: Evaluate all imported from Prometheus rules sequentially
  docs/sources/alerting/alerting-rules/alerting-migration/_index.md
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule_test.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/schedule/metrics.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
  pkg/services/ngalert/schedule/sequence.go
  pkg/services/ngalert/schedule/sequence_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/tests/fakes/rules.go
Labels: type/docs, area/alerting, area/backend, add to changelog, no-backport

#106356 Dashboard: Fixes issue with dashboard links that include all variables
  packages/grafana-data/src/utils/url.test.ts
  packages/grafana-data/src/utils/url.ts
  public/app/features/dashboard-scene/sharing/ShareLinkTab.test.tsx
  public/app/features/dashboard/services/TimeSrv.test.ts
  public/app/features/templating/template_srv.ts
  public/app/features/variables/utils.ts
Labels: area/dashboard/templating, area/dashboard, area/frontend, add to changelog

#106365 Alerting: Add state label to prometheus_imported_rules metric
  pkg/services/ngalert/metrics/scheduler.go
  pkg/services/ngalert/schedule/metrics.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#106359 Chore: Remove `id-token: write` from workflow level
  .github/workflows/release-pr.yml
Labels: no-backport, no-changelog

#106377 Alerting: Update test timeout
  public/app/features/alerting/unified/rule-list/GroupedView.test.tsx
Labels: area/alerting, area/frontend, no-changelog

#106312 Datasource/grafana-pyroscope: Do healthcheck on a window without data
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
Labels: area/backend, no-backport, no-changelog, datasource/grafana-pyroscope

#106364 Alerting: Add need more info for import ui datasource field
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMARules.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMARules.tsx
  public/locales/en-US/grafana.json
Labels: area/alerting, area/frontend, add to changelog, no-backport

#106392 [release-12.0.2] Alerting: Fix group-level labels and query_offset in the import API
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_convert_prometheus_test.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/convert_prometheus_api.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, add to changelog, backport

#106358 Alerting: Filter out synthetic datasource-managed rules when importing to GMA
  public/app/features/alerting/unified/components/import-to-gma/ConfirmConvertModal.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/ConfirmConvertModal.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#106355 Alerting: Fix incorrect "not" wording for active timings
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/route-settings/ActiveTimingFields.tsx
  public/locales/en-US/grafana.json
Labels: area/alerting, area/frontend, no-changelog, frontline

#106210 Alerting: Fix resolved notifications for same-label Error to Normal transitions
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/state/state_test.go
Labels: area/alerting, area/backend, add to changelog, no-backport

#106143 CloudMigrations: Add test case for invalid permissions to fetch contact points
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt_alerts_test.go
Labels: area/backend, no-backport, no-changelog

#106121 Secrets: Rename SecretService to SecureValueService
  pkg/registry/apis/secret/register.go
  pkg/registry/apis/secret/reststorage/secure_value_rest.go
  pkg/registry/apis/secret/service/secure_value.go
  pkg/registry/apis/secret/worker/worker_test.go
  pkg/server/wire.go
Labels: area/backend, no-backport, no-changelog

#106293 Profiles: Fix for passing the response headers
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
  pkg/tsdb/grafana-pyroscope-datasource/pyroscopeClient.go
  pkg/tsdb/grafana-pyroscope-datasource/pyroscopeClient_test.go
  pkg/tsdb/grafana-pyroscope-datasource/query.go
  pkg/tsdb/grafana-pyroscope-datasource/query_test.go
  pkg/tsdb/parca/resources.go
Labels: type/bug, area/backend, add to changelog, datasource/grafana-pyroscope, backport v11.3.x, backport v11.4.x, backport v11.5.x, backport v11.6.x, backport v12.0.x

#106427 Part 3 update
  docs/sources/tutorials/alerting-get-started-pt3/index.md
Labels: type/docs, no-backport, no-changelog

#106323 UI/Combobox: Remove unnecessary div wrapper
  packages/grafana-ui/src/components/Combobox/Combobox.tsx
  packages/grafana-ui/src/components/Combobox/getComboboxStyles.ts
Labels: area/frontend, area/grafana/ui, type/debt, no-backport, no-changelog

#106409 Alerting: Provisioning API returns 403 on quota exceeded for rule group PUT
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
Labels: area/alerting, area/backend, no-changelog

#106408 UI: Add id to splitter primaryProps
  packages/grafana-ui/src/components/Splitter/useSplitter.ts
Labels: area/dashboard, area/frontend, type/accessibility, no-backport, no-changelog, area/accessibility

#106119 [release-11.4.6] Dependencies: Bump github.com/openfga/openfga to v1.8.13 to address CVE-2025-48371
  apps/playlist/go.mod
  apps/playlist/go.sum
  devenv/docker/blocks/prometheus_high_card/go.mod
  devenv/docker/blocks/prometheus_high_card/go.sum
  go.mod
  go.sum
  go.work.sum
  hack/go.mod
  hack/go.sum
  pkg/aggregator/go.mod
  pkg/aggregator/go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/util/xorm/go.mod
  pkg/util/xorm/go.sum
  scripts/go-workspace/go.mod
  scripts/go-workspace/go.sum
  scripts/modowners/go.mod
  scripts/modowners/go.sum
Labels: add to changelog, no-backport

#106428 KeybindingSet: fix missing item type
  public/app/core/services/KeybindingSet.test.ts
  public/app/core/services/KeybindingSet.ts
Labels: area/frontend, no-backport, no-changelog

#106439 Dashboards - E2E - remove unnecessary steps
  .github/workflows/e2e-dashboard-new-layouts.yml
Labels: no-changelog

#106450 Docs: adds LJ shortcode
  docs/sources/explore/get-started-with-explore.md
Labels: type/docs, no-backport, no-changelog

#106115 Stats: Fix grafana_stat_totals_folder
  pkg/services/stats/statsimpl/stats.go
Labels: add to changelog, no-backport

#106445 DashboardLayout: Only use edit actions with `dashboardNewLayouts` feature toggle
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
Labels: type/bug, area/frontend, no-backport, no-changelog

#106444 Update CODEOWNERS of Loki data source to `@grafana/oss-big-tent`
  .github/CODEOWNERS
Labels: no-backport, no-changelog

#106394 New Logs Panel: Add Popover Menu support
  public/app/features/logs/components/LogRows.tsx
  public/app/features/logs/components/panel/InfiniteScroll.tsx
  public/app/features/logs/components/panel/LogLine.tsx
  public/app/features/logs/components/panel/LogList.test.tsx
  public/app/features/logs/components/panel/LogList.tsx
  public/app/features/logs/components/panel/usePopoverMenu.ts
  public/app/plugins/panel/logs/LogsPanel.tsx
Labels: area/frontend, no-backport, no-changelog

#106415 Alerting: Use default_datasource_uid as the default target for recording rules in UI
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  public/app/features/alerting/unified/rule-editor/formDefaults.test.ts
  public/app/features/alerting/unified/rule-editor/formDefaults.ts
  public/app/features/alerting/unified/utils/rule-form.test.ts
  public/app/features/alerting/unified/utils/rule-form.ts
Labels: area/alerting, area/backend, area/frontend, add to changelog, no-backport

#106376 New Logs Panel: font size selector and Log Details size improvments
  packages/grafana-schema/src/raw/composable/logs/panelcfg/x/LogsPanelCfg_types.gen.ts
  public/app/features/logs/components/ControlledLogRows.tsx
  public/app/features/logs/components/LogRows.tsx
  public/app/features/logs/components/panel/InfiniteScroll.tsx
  public/app/features/logs/components/panel/LogLine.test.tsx
  public/app/features/logs/components/panel/LogLine.tsx
  public/app/features/logs/components/panel/LogLineDetails.tsx
  public/app/features/logs/components/panel/LogList.test.tsx
  public/app/features/logs/components/panel/LogList.tsx
  public/app/features/logs/components/panel/LogListContext.tsx
  public/app/features/logs/components/panel/LogListControls.test.tsx
  public/app/features/logs/components/panel/LogListControls.tsx
  public/app/features/logs/components/panel/__mocks__/LogListContext.tsx
  public/app/features/logs/components/panel/processing.test.ts
  public/app/features/logs/components/panel/usePopoverMenu.ts
  public/app/features/logs/components/panel/virtualization.test.ts
  public/app/features/logs/components/panel/virtualization.ts
  public/app/plugins/panel/logs/LogsPanel.tsx
  public/app/plugins/panel/logs/module.tsx
  public/app/plugins/panel/logs/panelcfg.cue
  public/app/plugins/panel/logs/panelcfg.gen.ts
  public/locales/en-US/grafana.json
Labels: area/frontend, no-backport, no-changelog

#106468 Carousel: Always center image
  packages/grafana-ui/src/components/Carousel/Carousel.tsx
Labels: type/bug, area/frontend, add to changelog, area/grafana/ui, no-backport

#106443 Dashboards: Add hover effect to outline splitter drag handle
  public/app/features/dashboard-scene/edit-pane/DashboardEditPaneRenderer.tsx
Labels: area/dashboard, type/chore, area/frontend, no-backport, no-changelog

#106239 K8s: Only register internal kind once
  pkg/services/apiserver/builder/runner/builder.go
Labels: area/backend, no-backport, no-changelog

#106404 Alerting: Add details to the payload when tracking import to GMA
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/components/import-to-gma/ConfirmConvertModal.tsx
Labels: area/alerting, area/frontend, add to changelog, no-backport

#106472 Docs: Remove public preview card from cloud migration audit logging section
  docs/sources/setup-grafana/configure-security/audit-grafana.md
Labels: type/docs, no-backport, no-changelog

#106436 Internationalisation: Properly expose i18n lint rule
  packages/grafana-i18n/package.json
  packages/grafana-i18n/rollup.config.ts
  scripts/prepare-npm-package.js
  yarn.lock
Labels: type/chore, area/frontend, area/internationalization, no-backport, no-changelog

#106480 [release-11.0.12] Alerting: Provisioning API returns 403 on quota exceeded for rule group PUT
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
Labels: type/bug, area/alerting, area/backend, backport, no-changelog

#106486 [release-11.5.6] Alerting: Provisioning API returns 403 on quota exceeded for rule group PUT
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
Labels: type/bug, area/alerting, area/backend, backport, no-changelog

#106421 Alerting: Send notifications immediately on Error|NoData -> Normal transitions
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/manager_test.go
Labels: area/alerting, area/backend, add to changelog, no-backport

#106475 feat(unified-storage): log continue token on error
  pkg/storage/unified/sql/backend.go
Labels: area/backend, no-backport, no-changelog, team/grafana-search-and-storage, area/backend/unified-storage

#106488 Alerting: Fix eval time unit in list view
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
Labels: type/bug, area/alerting, area/frontend, add to changelog

#106470 Advisor: Better handling of context cancel
  apps/advisor/pkg/app/checkscheduler/checkscheduler.go
  apps/advisor/pkg/app/checkscheduler/checkscheduler_test.go
  apps/advisor/pkg/app/checktyperegisterer/checktyperegisterer.go
Labels: area/backend, no-changelog

#106170 RepeatRowSelect2: Use Combobox instead of deprecated Select component
  public/app/features/dashboard/components/RepeatRowSelect/RepeatRowSelect.test.tsx
  public/app/features/dashboard/components/RepeatRowSelect/RepeatRowSelect.tsx
  public/locales/en-US/grafana.json
Labels: area/dashboard, type/chore, area/backend, area/frontend, no-backport, no-changelog

#106492 Dashboard: Schema V2 - Improve warning when saving v1 dashboard to v2 dashboard
  public/app/features/dashboard-scene/saving/SaveDashboardForm.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, area/dashboard/schemas, no-changelog

#106431 i18n: removes unused include in tsconfig.json
  packages/grafana-i18n/tsconfig.json
Labels: type/chore, area/frontend, area/internationalization, no-backport, no-changelog

#105712 E2E: Rework the runner
  .github/CODEOWNERS
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/run-e2e-suite.yml
  .github/zizmor.yml
  e2e/main.go
  e2e/run-suite
  go.mod
  go.sum
  pkg/build/daggerbuild/arguments/grafana.go
  pkg/build/e2e/main.go
  pkg/build/e2e/run.go
  pkg/build/e2e/service.go
  pkg/build/go.mod
  pkg/build/go.sum
Labels: area/backend, area/frontend, no-backport, no-changelog

#106406 Teams: Add support for updating externalId field
  pkg/services/team/model.go
  pkg/services/team/teamimpl/store.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/backend, area/frontend, add to changelog

#106528 Actions: Propagate exit code in unit tests
  .github/workflows/backend-unit-tests.yml
Labels: no-backport, no-changelog

#106521 CI: Use publint to validate npm packages
  package.json
  scripts/validate-npm-packages.sh
  yarn.lock
Labels: type/build-packaging, area/frontend, no-backport, no-changelog, area/build-packaging

#106531 Chore: Fix feature flags template for docs gen
  pkg/services/featuremgmt/toggles_gen_test.go
Labels: area/backend, no-changelog

#105997 Dashboard: Schema V2 - Auto-transform V2 dashboards in V1Resource export mode
  public/app/features/dashboard-scene/sharing/ExportButton/ResourceExport.tsx
  public/app/features/dashboard-scene/sharing/ShareExportTab.test.tsx
  public/app/features/dashboard-scene/sharing/ShareExportTab.tsx
Labels: area/frontend, add to changelog, area/dashboard/schemas

#106407 alerting: stop using rule group idx to calculate alert fingerprint
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/registry_test.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#106430 Dashboards: Add `id`s to auto grid inputs for improved a11y
  public/app/features/dashboard-scene/scene/layout-auto-grid/AutoGridLayoutManagerEditor.tsx
Labels: area/dashboard, type/chore, area/frontend, no-backport, no-changelog, area/accessibility

#106546 Alerting: Empty endpoints to manage alertmanager configurations
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/generated_base_api_convert_prometheus.go
  pkg/services/ngalert/api/prometheus_conversion.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/convert_prometheus_api.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#106438 Dashboards: Pass id prop to Switch component for bool inputs
  public/app/core/components/OptionsUI/registry.tsx
  public/app/plugins/panel/geomap/editor/layerEditor.tsx
Labels: area/dashboard, type/chore, area/frontend, area/panel/geomap, no-backport, no-changelog

#106537 Tempo: Add a warning message about TraceQL metrics being an experimental feature
  public/app/plugins/datasource/tempo/traceql/QueryEditor.tsx
Labels: area/frontend, datasource/Tempo, no-changelog

#106451 DatePicker: Add cursor not-allowed style and hover background color
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/CalendarBody.tsx
Labels: effort/small, area/frontend, add to changelog

#106391 VQB: Add selected columns to GROUP BY dropdown (#106349)
  packages/grafana-sql/src/components/visual-query-builder/SQLGroupByRow.tsx
  packages/grafana-sql/src/components/visual-query-builder/SQLOrderByRow.tsx
  packages/grafana-sql/src/utils/getColumnsWithIndices.ts
Labels: datasource/MySQL, datasource/Postgres, datasource/MSSQL, area/frontend, add to changelog, area/query-editor

#106108 Docs: Adding clarification for resetting admin password
  docs/sources/cli.md
Labels: type/docs, no-changelog, backport v12.0.x

#106397 RBAC: Extend the docs
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
Labels: type/docs, no-changelog

#106558 EchoSrv: Use inline Rudderstack types
  package.json
  public/app/core/services/echo/backends/analytics/RudderstackBackend.ts
  yarn.lock
Labels: area/frontend, no-backport, no-changelog

#106541 Loki: Fix issue where step parameter using a template variable was marked as invalid
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.tsx
Labels: type/bug, area/frontend, datasource/Loki, add to changelog

#106479 SQL Expressions: Exclude CTEs from required Tables
  pkg/expr/graph.go
  pkg/expr/sql/parser.go
  pkg/expr/sql/parser_test.go
  pkg/registry/apis/query/parser.go
  pkg/registry/apis/query/parser_test.go
Labels: area/backend, no-changelog, area/expressions/sql

#106571 [release-11.3.8] Dependencies: Bump Go to v1.24.4
  .bingo/golangci-lint.mod
  .drone.yml
  Dockerfile
  Makefile
  apps/playlist/go.mod
  devenv/docker/blocks/prometheus_high_card/go.mod
  go.mod
  go.work
  hack/go.mod
  pkg/aggregator/go.mod
  pkg/apimachinery/go.mod
  pkg/apiserver/go.mod
  pkg/build/go.mod
  pkg/build/wire/go.mod
  pkg/promlib/go.mod
  pkg/semconv/go.mod
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/resource/go.mod
  pkg/util/xorm/go.mod
  scripts/build/ci-windows-test/Dockerfile
  scripts/drone/variables.star
  scripts/go-workspace/go.mod
  scripts/modowners/go.mod
Labels: add to changelog

#106568 [release-11.5.6] Dependencies: Bump Go to v1.24.4
  .drone.yml
  Dockerfile
  Makefile
  apps/alerting/notifications/go.mod
  apps/investigation/go.mod
  apps/playlist/go.mod
  devenv/docker/blocks/prometheus_high_card/go.mod
  devenv/docker/blocks/prometheus_utf8/go.mod
  go.mod
  go.work
  hack/go.mod
  kindsv2/go.mod
  pkg/aggregator/go.mod
  pkg/apimachinery/go.mod
  pkg/apiserver/go.mod
  pkg/build/go.mod
  pkg/build/wire/go.mod
  pkg/codegen/go.mod
  pkg/plugins/codegen/go.mod
  pkg/promlib/go.mod
  pkg/semconv/go.mod
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/resource/go.mod
  pkg/util/xorm/go.mod
  scripts/build/ci-windows-test/Dockerfile
  scripts/drone/variables.star
  scripts/go-workspace/go.mod
  scripts/modowners/go.mod
Labels: add to changelog

#106565 [release-12.0.2] Dependencies: Bump Go to v1.24.4
  .citools/bra/go.mod
  .citools/cog/go.mod
  .citools/cue/go.mod
  .citools/golangci-lint/go.mod
  .citools/jb/go.mod
  .citools/lefthook/go.mod
  .citools/swagger/go.mod
  .drone.yml
  Dockerfile
  Makefile
  apps/advisor/go.mod
  apps/alerting/notifications/go.mod
  apps/dashboard/go.mod
  apps/folder/go.mod
  apps/investigations/go.mod
  apps/playlist/go.mod
  devenv/docker/blocks/prometheus_high_card/go.mod
  devenv/docker/blocks/prometheus_utf8/go.mod
  devenv/docker/blocks/stateful_webhook/Dockerfile
  docs/sources/observability-as-code/foundation-sdk/dashboard-automation.md
  go.mod
  go.work
  hack/go.mod
  pkg/aggregator/go.mod
  pkg/apimachinery/go.mod
  pkg/apis/secret/go.mod
  pkg/apiserver/go.mod
  pkg/build/go.mod
  pkg/build/wire/go.mod
  pkg/codegen/go.mod
  pkg/plugins/codegen/go.mod
  pkg/promlib/go.mod
  pkg/semconv/go.mod
  pkg/services/featuremgmt/toggles_gen_test.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/resource/go.mod
  pkg/util/xorm/go.mod
  scripts/drone/variables.star
  scripts/go-workspace/go.mod
  scripts/modowners/go.mod
Labels: add to changelog

#106411 K8s: Get trash fixes
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/data/resource_history_get.sql
  pkg/storage/unified/sql/data/resource_trash.sql
  pkg/storage/unified/sql/queries.go
  pkg/storage/unified/sql/queries_test.go
  pkg/storage/unified/sql/testdata/mysql--resource_trash-read trash second page.sql
  pkg/storage/unified/sql/testdata/mysql--resource_trash-read trash.sql
  pkg/storage/unified/sql/testdata/postgres--resource_trash-read trash second page.sql
  pkg/storage/unified/sql/testdata/postgres--resource_trash-read trash.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_trash-read trash second page.sql
  pkg/storage/unified/sql/testdata/sqlite--resource_trash-read trash.sql
  pkg/storage/unified/testing/storage_backend.go
Labels: area/backend, no-backport, no-changelog

#106507 TimeSeries: Fix rendering of sparse points with null gaps at outer edges
  public/app/core/components/TimeSeries/utils.ts
Labels: type/bug, area/frontend, area/panel/timeseries, no-changelog

#106527 Scopes: Add support for annotation queries
  package.json
  yarn.lock
Labels: area/frontend, no-changelog

#105842 Internationalisation: Mark up `@grafana/sql` package
  Makefile
  crowdin.yml
  eslint.config.js
  package.json
  packages/grafana-sql/package.json
  packages/grafana-sql/src/components/ConfirmModal.tsx
  packages/grafana-sql/src/components/DatasetSelector.tsx
  packages/grafana-sql/src/components/ErrorBoundary.tsx
  packages/grafana-sql/src/components/QueryEditorLazy.tsx
  packages/grafana-sql/src/components/QueryHeader.tsx
  packages/grafana-sql/src/components/TableSelector.tsx
  packages/grafana-sql/src/components/configuration/ConnectionLimits.tsx
  packages/grafana-sql/src/components/configuration/TLSSecretsConfig.tsx
  packages/grafana-sql/src/components/query-editor-raw/QueryToolbox.tsx
  packages/grafana-sql/src/components/query-editor-raw/QueryValidator.tsx
  packages/grafana-sql/src/components/query-editor-raw/RawEditor.tsx
  packages/grafana-sql/src/components/visual-query-builder/AwesomeQueryBuilder.tsx
  packages/grafana-sql/src/components/visual-query-builder/GroupByRow.tsx
  packages/grafana-sql/src/components/visual-query-builder/OrderByRow.tsx
  packages/grafana-sql/src/components/visual-query-builder/Preview.tsx
  packages/grafana-sql/src/components/visual-query-builder/SelectColumn.tsx
  packages/grafana-sql/src/components/visual-query-builder/SelectCustomFunctionParameters.tsx
  packages/grafana-sql/src/components/visual-query-builder/SelectRow.tsx
  packages/grafana-sql/src/components/visual-query-builder/VisualEditor.tsx
  packages/grafana-sql/src/index.ts
  packages/grafana-sql/src/loadResources.ts
  packages/grafana-sql/src/locales/en-US/grafana-sql.json
  packages/grafana-sql/src/locales/i18next-parser.config.cjs
  packages/grafana-sql/src/utils/getColumnsWithIndices.ts
  public/app/plugins/datasource/mssql/module.ts
  yarn.lock
Labels: type/chore, type/build-packaging, datasource/MSSQL, area/frontend, area/internationalization, no-backport, no-changelog

#105861 Internationalisation: Mark up `@grafana/prometheus` package
  .github/workflows/i18n-crowdin-upload.yml
  crowdin.yml
  eslint.config.js
  packages/grafana-prometheus/package.json
  packages/grafana-prometheus/src/components/AnnotationQueryEditor.test.tsx
  packages/grafana-prometheus/src/components/AnnotationQueryEditor.tsx
  packages/grafana-prometheus/src/components/PromCheatSheet.tsx
  packages/grafana-prometheus/src/components/PromExemplarField.tsx
  packages/grafana-prometheus/src/components/PromExploreExtraField.tsx
  packages/grafana-prometheus/src/components/PromQueryField.tsx
  packages/grafana-prometheus/src/components/VariableQueryEditor.test.tsx
  packages/grafana-prometheus/src/components/VariableQueryEditor.tsx
  packages/grafana-prometheus/src/components/metrics-browser/LabelSelector.tsx
  packages/grafana-prometheus/src/components/metrics-browser/MetricSelector.tsx
  packages/grafana-prometheus/src/components/metrics-browser/SelectorActions.tsx
  packages/grafana-prometheus/src/components/metrics-browser/ValueSelector.tsx
  packages/grafana-prometheus/src/configuration/AlertingSettingsOverhaul.tsx
  packages/grafana-prometheus/src/configuration/ConfigEditor.tsx
  packages/grafana-prometheus/src/configuration/DataSourceHttpSettingsOverhaul.tsx
  packages/grafana-prometheus/src/configuration/ExemplarSetting.tsx
  packages/grafana-prometheus/src/configuration/ExemplarsSettings.tsx
  packages/grafana-prometheus/src/configuration/PromSettings.tsx
  packages/grafana-prometheus/src/index.ts
  packages/grafana-prometheus/src/loadResources.ts
  packages/grafana-prometheus/src/locales/en-US/grafana-prometheus.json
  packages/grafana-prometheus/src/locales/i18next-parser.config.cjs
  packages/grafana-prometheus/src/querybuilder/QueryPattern.tsx
  packages/grafana-prometheus/src/querybuilder/QueryPatternsModal.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelFilterItem.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelFilters.test.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelFilters.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelParamEditor.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricCombobox.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricsLabelsSection.tsx
  packages/grafana-prometheus/src/querybuilder/components/NestedQuery.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilderOptions.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryCodeEditorAutocompleteInfo.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryEditorSelector.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryLegendEditor.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/AdditionalSettings.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/FeedbackLink.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/MetricsModal.tsx
  packages/grafana-prometheus/src/querybuilder/components/metrics-modal/ResultsTable.tsx
  packages/grafana-prometheus/src/querybuilder/operationUtils.ts
  packages/grafana-prometheus/src/querybuilder/parsing.ts
  packages/grafana-prometheus/src/querybuilder/shared/OperationEditor.tsx
  packages/grafana-prometheus/src/querybuilder/shared/OperationHeader.tsx
  packages/grafana-prometheus/src/querybuilder/shared/OperationInfoButton.tsx
  packages/grafana-prometheus/src/querybuilder/shared/OperationList.tsx
  packages/grafana-prometheus/src/querybuilder/shared/OperationParamEditor.tsx
  packages/grafana-prometheus/src/querybuilder/shared/QueryBuilderHints.tsx
  packages/grafana-prometheus/src/querybuilder/shared/QueryEditorHints.tsx
  packages/grafana-prometheus/src/querybuilder/shared/RawQuery.tsx
  packages/grafana-prometheus/tsconfig.json
  yarn.lock
Labels: type/chore, type/build-packaging, area/frontend, area/internationalization, no-backport, no-changelog

#106535 [release-12.0.2] Dashboard: Support TemplateSrv.containsTemplate in scenes context
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Labels: area/dashboard/templating, area/frontend, backport, no-changelog

#106607 SecretsManager: Add encrypted value store
  pkg/server/wire.go
  pkg/storage/secret/encryption/data/encrypted_value_create.sql
  pkg/storage/secret/encryption/data/encrypted_value_delete.sql
  pkg/storage/secret/encryption/data/encrypted_value_read.sql
  pkg/storage/secret/encryption/data/encrypted_value_update.sql
  pkg/storage/secret/encryption/encrypted_value_model.go
  pkg/storage/secret/encryption/encrypted_value_store.go
  pkg/storage/secret/encryption/encrypted_value_store_test.go
  pkg/storage/secret/encryption/query.go
  pkg/storage/secret/encryption/query_test.go
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_create-create.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_delete-delete.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_read-read.sql
  pkg/storage/secret/encryption/testdata/mysql--encrypted_value_update-update.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_create-create.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_delete-delete.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_read-read.sql
  pkg/storage/secret/encryption/testdata/postgres--encrypted_value_update-update.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_create-create.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_delete-delete.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_read-read.sql
  pkg/storage/secret/encryption/testdata/sqlite--encrypted_value_update-update.sql
  pkg/storage/secret/migrator/migrator.go
Labels: area/backend, no-backport, no-changelog

#106597 i18n: removes useTranslate from ESLint rules
  eslint.config.js
  packages/grafana-i18n/src/eslint/no-untranslated-strings/no-untranslated-strings.test.js
  packages/grafana-i18n/src/eslint/no-untranslated-strings/translation-utils.cjs
  public/app/core/components/AppChrome/ExtensionSidebar/ExtensionToolbarItemButton.test.tsx
Labels: area/frontend, area/internationalization, no-backport, no-changelog

#104231 Kinds: check for entries length
  kinds/gen.go
Labels: area/backend, no-backport, no-changelog

#106613 SecretsManager: Add outbox store
  pkg/registry/apis/secret/contracts/outbox_queue.go
  pkg/server/wire.go
  pkg/storage/secret/metadata/data/secure_value_outbox_append.sql
  pkg/storage/secret/metadata/data/secure_value_outbox_delete.sql
  pkg/storage/secret/metadata/data/secure_value_outbox_receiveN.sql
  pkg/storage/secret/metadata/data/secure_value_outbox_update_receive_count.sql
  pkg/storage/secret/metadata/outbox_store.go
  pkg/storage/secret/metadata/outbox_store_test.go
  pkg/storage/secret/metadata/query.go
  pkg/storage/secret/metadata/query_test.go
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_append-all-fields-present.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_append-no-encrypted-secret.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_append-no-external-id.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_append-no-keeper-name.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_delete-basic.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_receiveN-basic.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_outbox_update_receive_count-update-receive-count.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_append-all-fields-present.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_append-no-encrypted-secret.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_append-no-external-id.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_append-no-keeper-name.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_delete-basic.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_receiveN-basic.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_outbox_update_receive_count-update-receive-count.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_append-all-fields-present.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_append-no-encrypted-secret.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_append-no-external-id.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_append-no-keeper-name.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_delete-basic.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_receiveN-basic.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_outbox_update_receive_count-update-receive-count.sql
  pkg/storage/secret/migrator/migrator.go
Labels: area/backend, no-backport, no-changelog

#106338 FlameGraph: Fix bug for function names that conflict with JavaScript object prototype properties
  packages/grafana-flamegraph/src/FlameGraph/dataTransform.test.ts
  packages/grafana-flamegraph/src/FlameGraph/dataTransform.ts
  packages/grafana-flamegraph/src/TopTable/FlameGraphTopTableContainer.tsx
Labels: type/bug, area/frontend, add to changelog, area/panel/flame-graph, backport v11.6.x, backport v12.0.x

#105681 Plugins: Add integration test for provisioned plugin dashboard import
  pkg/services/pluginsintegration/plugintest/plugins_test.go
  pkg/services/pluginsintegration/plugintest/testdata/provisioning/apps.yaml
  pkg/services/pluginsintegration/plugintest/testdata/test-app/dashboards/dashboard.json
  pkg/services/pluginsintegration/plugintest/testdata/test-app/plugin.json
  pkg/services/provisioning/provisioning.go
Labels: area/plugins, type/chore, area/backend, no-backport, no-changelog

#106442 Chore: Remove rollup-plugin-dts
  packages/grafana-data/package.json
  packages/grafana-data/rollup.config.ts
  packages/grafana-data/tsconfig.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e-selectors/rollup.config.ts
  packages/grafana-e2e-selectors/tsconfig.json
  packages/grafana-flamegraph/package.json
  packages/grafana-flamegraph/rollup.config.ts
  packages/grafana-flamegraph/tsconfig.json
  packages/grafana-i18n/package.json
  packages/grafana-i18n/rollup.config.ts
  packages/grafana-i18n/tsconfig.json
  packages/grafana-prometheus/package.json
  packages/grafana-prometheus/rollup.config.ts
  packages/grafana-prometheus/tsconfig.json
  packages/grafana-runtime/package.json
  packages/grafana-runtime/rollup.config.ts
  packages/grafana-runtime/tsconfig.json
  packages/grafana-schema/package.json
  packages/grafana-schema/rollup.config.ts
  packages/grafana-schema/tsconfig.json
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  packages/grafana-ui/tsconfig.json
  packages/rollup.config.parts.ts
  scripts/prepare-npm-package.js
  yarn.lock
Labels: type/build-packaging, area/frontend, no-backport, levitate breaking change, no-changelog, area/build-packaging

#106604 Dashboard: Formatting Currency - add new custom 'financial' currency format without abbreviations
  docs/sources/panels-visualizations/configure-standard-options/index.md
  packages/grafana-data/src/valueFormats/symbolFormatters.ts
  packages/grafana-data/src/valueFormats/valueFormats.test.ts
  packages/grafana-data/src/valueFormats/valueFormats.ts
Labels: type/docs, area/frontend, add to changelog

#106606 Secrets: Always clear the status.externalId when receiving requests
  pkg/registry/apis/secret/register.go
  pkg/registry/apis/secret/reststorage/secure_value_rest_test.go
Labels: area/backend, no-changelog

#106610 [release-12.0.2] Chore: Address linting issues to unblock CI
  pkg/api/static/static_test.go
  pkg/services/ngalert/api/api_ruler_validation_test.go
  pkg/services/ngalert/provisioning/accesscontrol_test.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/store/deltas_test.go
  pkg/storage/unified/apistore/prepare_test.go
  pkg/storage/unified/apistore/store.go
Labels: no-changelog

#106641 Partner: Add PRs to project
  .github/pr-commands.json
Labels: no-changelog, backport v10.4.x, backport v11.0.x, backport v11.1.x, backport v11.2.x, backport v11.3.x, backport v11.4.x, backport v11.5.x, backport v11.6.x, backport v12.0.x

#106228 [release-11.6.3] Geomap: Require layer to have data for legend
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/utils/utils.test.ts
  public/app/plugins/panel/geomap/utils/utils.ts
Labels: type/bug, area/frontend, backport, area/panel/geomap, no-changelog

#106226 [release-12.0.2] Geomap: Require layer to have data for legend (#105580)
  public/app/plugins/panel/geomap/GeomapPanel.tsx
  public/app/plugins/panel/geomap/utils/utils.test.ts
  public/app/plugins/panel/geomap/utils/utils.ts
Labels: type/bug, backport, area/panel/geomap, no-changelog

#106646 [release-12.0.2] Run Init Provisioners at Server Initialization
  pkg/server/server.go
  pkg/services/provisioning/provisioning.go
Labels: backport, no-changelog

#106644 [release-11.6.3] Run Init Provisioners at Server Initialization
  pkg/server/server.go
  pkg/services/provisioning/provisioning.go
Labels: backport, no-changelog

#106302 Alerting: Add OAuth2 Support for Webhook Receiver
  go.mod
  go.sum
  pkg/services/ngalert/api/tooling/definitions/contact_points.go
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/models/receivers_test.go
  pkg/services/ngalert/notifier/channels_config/available_channels.go
  pkg/services/ngalert/notifier/channels_config/available_channels_test.go
  public/app/features/alerting/unified/api/alertmanagerApi.ts
  public/app/features/alerting/unified/components/receivers/form/ChannelOptions.tsx
  public/app/features/alerting/unified/components/receivers/form/ChannelSubForm.tsx
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.test.tsx
  public/app/features/alerting/unified/components/receivers/form/__snapshots__/GrafanaReceiverForm.test.tsx.snap
  public/app/features/alerting/unified/components/receivers/form/fields/OptionField.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/SubformField.tsx
  public/app/features/alerting/unified/mockGrafanaNotifiers.ts
  public/app/types/alerting.ts
Labels: area/alerting, area/backend, area/frontend, add to changelog, no-backport

#106681 CI: Add placeholder target input to release-pr
  .github/workflows/release-pr.yml
Labels: no-backport, no-changelog

#106673 [release-11.6.3] Provisioning: Move OSS provisioning to Run step
  pkg/services/provisioning/provisioning.go
Labels: backport, no-changelog

#106674 [release-12.0.2] Provisioning: Move OSS provisioning to Run step
  pkg/services/provisioning/provisioning.go
Labels: backport, no-changelog

#106662 FE: Specify public_cdn_path in new index.html
  pkg/services/frontend/index.html
Labels: no-changelog

#106667 fix(folders): only return continue token if more results
  pkg/registry/apis/folders/legacy_storage.go
  pkg/registry/apis/folders/legacy_storage_test.go
Labels: type/bug, area/backend, no-backport, no-changelog, team/grafana-search-and-storage, area/backend/unified-storage

#106601 alerting(ui): update the descriptions of the MQTT Message settings
  pkg/services/ngalert/notifier/channels_config/available_channels.go
  public/app/features/alerting/unified/mockGrafanaNotifiers.ts
Labels: area/alerting, area/backend, area/frontend, no-backport, no-changelog

#106566 docs(alerting): enhancements for MQTT docs
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-mqtt.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/webhook-notifier.md
  docs/sources/shared/alerts/table-for-json-alert-object.md
Labels: type/docs, area/alerting, no-changelog, backport v12.0.x

#106575 Fix sql expressions label
  .github/commands.json
Labels: no-backport, no-changelog

#106657 Loki: Ensure that streaming is behind feature toggle in backend
  pkg/tsdb/loki/streaming.go
  pkg/tsdb/loki/streaming_test.go
  public/app/plugins/datasource/loki/streaming.ts
Labels: area/backend, area/frontend, datasource/Loki, no-backport, no-changelog

#106600 CloudMigrations: Skip default contact point from snapshot
  docs/sources/administration/migration-guide/cloud-migration-assistant.md
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt_alerts.go
  pkg/services/cloudmigration/cloudmigrationimpl/snapshot_mgmt_alerts_test.go
Labels: type/docs, area/backend, no-changelog

#106574 Dashboards: Add undo/redo actions for changing dashboard title
  public/app/features/dashboard-scene/edit-pane/DashboardEditableElement.tsx
  public/app/features/dashboard-scene/edit-pane/shared.ts
  public/app/features/dashboard-scene/scene/new-toolbar/RightActions.tsx
  public/locales/en-US/grafana.json
Labels: area/dashboard, area/frontend, no-backport, no-changelog, area/scenes

#106402 Alerting: Support for Mimir configuration in Grafana Alertmanager
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/alertmanager_test.go
  pkg/services/ngalert/notifier/compat.go
  pkg/services/ngalert/provisioning/notification_policies.go
Labels: area/alerting, area/backend, no-backport, no-changelog

#106671 Docs: Adding a note that we are no longer publishing a dedicated breaking changes page
  docs/sources/breaking-changes/_index.md
Labels: type/docs, no-changelog, backport v12.0.x

#106337 Remote Alertmanager: Send SMTP config
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/alertmanager_test.go
  pkg/services/ngalert/remote/client/alertmanager_configuration.go
  pkg/services/ngalert/remote/client/mimir.go
Labels: area/alerting, area/backend, add to changelog

#105592 Transformations: Speed up INNER JOIN by ~200x, OUTER by ~20x
  packages/grafana-data/src/transformations/transformers/joinDataFrames.test.ts
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
Labels: type/performance, area/frontend, area/transformations, kind/enhancement, no-changelog

#106734 K8s: Dashboards /apis: Fix library element connections
  pkg/cmd/grafana-cli/commands/datamigrations/to_unified_storage.go
  pkg/registry/apis/dashboard/legacy/migrate.go
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/dashboard/register.go
  pkg/tests/apis/dashboard/integration/api_validation_test.go
Labels: type/bug, area/backend, add to changelog, no-backport

#106616 TimeRangePicker: Highlight range on hover
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/CalendarBody.tsx
  public/app/core/services/keybindingSrv.ts
Labels: area/frontend, add to changelog

#106724 Unistore/datamigration: Take namespace from command line flag
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/datamigrations/to_unified_storage.go
Labels: area/backend, no-changelog

#105713 Plugins: adds read-only props to DataSourcePluginSettings
  public/app/features/datasources/components/DataSourcePluginSettings.tsx
Labels: area/plugins, area/frontend, area/datasource, no-backport, no-changelog

#106626 Tempo: Map error message about the time range limit to more human-readable format
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/utils.ts
Labels: area/frontend, datasource/Tempo, no-changelog

#106347 FlameGraph: Add support for regex search patterns and multiple search terms
  packages/grafana-flamegraph/src/FlameGraphContainer.test.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
Labels: area/frontend, no-changelog, area/panel/flame-graph

#106708 SecretsManager: add secure value store
  pkg/registry/apis/secret/contracts/secure_value.go
  pkg/registry/apis/secret/reststorage/secure_value_rest.go
  pkg/storage/secret/metadata/data/secure_value_create.sql
  pkg/storage/secret/metadata/data/secure_value_delete.sql
  pkg/storage/secret/metadata/data/secure_value_list.sql
  pkg/storage/secret/metadata/data/secure_value_listByName.sql
  pkg/storage/secret/metadata/data/secure_value_read.sql
  pkg/storage/secret/metadata/data/secure_value_read_for_decrypt.sql
  pkg/storage/secret/metadata/data/secure_value_update.sql
  pkg/storage/secret/metadata/data/secure_value_updateExternalId.sql
  pkg/storage/secret/metadata/data/secure_value_updateStatus.sql
  pkg/storage/secret/metadata/query.go
  pkg/storage/secret/metadata/query_test.go
  pkg/storage/secret/metadata/secure_value_model.go
  pkg/storage/secret/metadata/secure_value_store.go
  pkg/storage/secret/metadata/secure_value_store_test.go
  pkg/storage/secret/metadata/testdata/mysql--secure_value_create-create-not-null.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_create-create-null.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_delete-delete.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_list-list.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_read-read-for-update.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_read-read.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_read_for_decrypt-read-for-decrypt.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_update-update-not-null.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_update-update-null.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_updateExternalId-updateExternalId.sql
  pkg/storage/secret/metadata/testdata/mysql--secure_value_updateStatus-updateStatus.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_create-create-not-null.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_create-create-null.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_delete-delete.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_list-list.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_read-read-for-update.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_read-read.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_read_for_decrypt-read-for-decrypt.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_update-update-not-null.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_update-update-null.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_updateExternalId-updateExternalId.sql
  pkg/storage/secret/metadata/testdata/postgres--secure_value_updateStatus-updateStatus.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_create-create-not-null.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_create-create-null.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_delete-delete.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_list-list.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_read-read-for-update.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_read-read.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_read_for_decrypt-read-for-decrypt.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_update-update-not-null.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_update-update-null.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_updateExternalId-updateExternalId.sql
  pkg/storage/secret/metadata/testdata/sqlite--secure_value_updateStatus-updateStatus.sql
  pkg/storage/secret/migrator/migrator.go
  pkg/tests/apis/secret/testdata/secure-value-default-generate.yaml
  pkg/tests/apis/secret/testdata/secure-value-generate.yaml
Labels: area/backend, no-backport, no-changelog

#106305 Docs: Typo: mediam->median
  docs/sources/alerting/fundamentals/alert-rules/queries-conditions.md
Labels: type/docs, no-changelog

#106753 App Platform Provisioning: Fix flaky test to assert dashboards deletion on repository deletion
  pkg/tests/apis/provisioning/provisioning_test.go
Labels: area/backend, no-backport, no-changelog

#106701 Canvas: Clicking on metricValue dropdown does not work; right-click triggers context menu instead
  public/app/features/canvas/runtime/sceneAbleManagement.ts
Labels: area/panel/canvas, no-backport, no-changelog, area/dataviz

#106709 Canvas: Double-click on canvas should reset scale and position
  public/app/features/canvas/runtime/sceneAbleManagement.ts
Labels: area/panel/canvas, no-backport, no-changelog, area/dataviz

#106718 Dashboards: Add undo/redo support for dashboard description
  public/app/features/dashboard-scene/edit-pane/DashboardEditableElement.test.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditableElement.tsx
  public/app/features/dashboard-scene/edit-pane/shared.ts
  public/locales/en-US/grafana.json
Labels: area/dashboard, area/frontend, no-backport, no-changelog, area/scenes

#106288 datasources: querier: more robust error handling, and report no errors for single-tenant
  pkg/registry/apis/query/client.go
  pkg/registry/apis/query/query.go
  pkg/registry/apis/query/query_test.go
Labels: area/backend, no-changelog

#106729 [release-11.6.3] Profiles: Stop passing response headers for Grafana-Pyroscope and parca datasources
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
  pkg/tsdb/parca/resources.go
Labels: area/backend, add to changelog, backport, datasource/grafana-pyroscope

#106660 Command palette: Add tests for scope actions
  public/app/features/commandPalette/CommandPalette.tsx
  public/app/features/commandPalette/actions/scopeActions.test.tsx
  public/app/features/commandPalette/actions/scopeActions.tsx
  public/app/features/commandPalette/actions/scopesUtils.test.ts
  public/app/features/commandPalette/actions/scopesUtils.ts
  public/app/features/commandPalette/actions/useActions.tsx
Labels: area/frontend, no-changelog

#106736 Dashboard: Add missing translations save drawer
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDrawer.tsx
  public/locales/en-US/grafana.json
Labels: area/frontend, no-changelog

#106766 Loki: Implement error source
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/api_test.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/parse_query.go
  pkg/tsdb/loki/step.go
Labels: area/backend, datasource/Loki, no-backport, no-changelog

#106737 Annotations: Remove prometheus from legacy runner
  public/app/features/annotations/standardAnnotationSupport.ts
Labels: type/bug, area/frontend, add to changelog

#106782 Update index.md
  docs/sources/administration/recorded-queries/index.md
Labels: type/docs, no-changelog, backport v12.0.x

#106748 Reporting: Change FF to public preview
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Labels: area/backend, no-backport, no-changelog

#102144 Transformations: Add tests for getFieldTypeForReducer
  packages/grafana-data/src/transformations/fieldReducer.test.ts
Labels: area/frontend, no-backport, no-changelog, team/grafana-datapro

#106773 SAML catalog: Set default values for SAML assertion - docs
  docs/sources/setup-grafana/configure-grafana/enterprise-configuration/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/saml-configuration-options/_index.md
Labels: type/docs, no-backport, area/auth/saml, no-changelog

#106751 CloudMigrations: Add Mute Timings as dependency for Notification Policies
  docs/sources/administration/migration-guide/cloud-migration-assistant.md
  pkg/services/cloudmigration/resource_dependency.go
  pkg/services/cloudmigration/resource_dependency_test.go
Labels: type/docs, area/backend, add to changelog

#104779 Docs: Document `remote_cache` is only used if a remote database is used
  docs/sources/setup-grafana/configure-grafana/_index.md
Labels: type/docs, pr/external, no-changelog, backport v12.0.x

#106742 Home: restrict Getting Started Guide link to admins
  pkg/services/navtree/navtreeimpl/navtree.go
Labels: area/backend, no-changelog

#101591 Transformations: Add time filtering to filter by value
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  packages/grafana-data/src/transformations/matchers/valueMatchers/rangeMatchers.ts
  public/app/core/config.ts
  public/app/features/expressions/types.ts
  public/app/features/transformers/docs/content.ts
  public/app/features/transformers/utils.test.ts
  public/app/features/transformers/utils.ts
Labels: type/docs, area/frontend, no stalebot, no-backport, no-changelog

#106694 Chore: Bump brace-expansion
  yarn.lock
Labels: no-changelog
